/*通用顶部 -Start-Gaotian-20131225*/
/*.header-rearch-submit{background:#db000f}
.header-nav-back,.header-nav-box li a:hover{background-color:#c5000d}
.header-nav-box{background:#db000f}
.header-nav-box li{border-color:#e2404b}
.header-nav-box li.cur,.header-nav-box li.cur a:hover{background-color:#000}
*/
.header-tools-search .header-search-content{}
.header-search-content #scbar_txt{border:1px solid #c8c8c8}
.header-rearch-submit,.header-nav-box{background:#db000f}
.header-rearch-submit:hover{background:#b00000;}

.header-nav-back s{border-left-color:#db000f}
.header-nav-box li{border-color:#E2404B}
.header-nav-box li a:hover{background-color:#C5000D}

.header-nav-box .cur a, .header-nav-box .cur a:hover{background:#000;color:#fff}
/*通用顶部 -End-Gaotian-20131225*/
/* public */
.mat20{ margin-top: 20px;}
.mab20{ margin-bottom: 20px;}
.col-main { width:764px; float:left;}
.col-sub { width:196px;float:right; margin-top: 30px; }


/* page */
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma; padding:15px 0;}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:32px;line-height:32px; width:auto; font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:\5b8b\4f53}
.page a.first,.page a.last{width:43px}
.page a:hover{color:#fff;background-color:#333;background-image:none;border-color:#333;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#333;font-family:arial;border-radius:3px;cursor:default; border:1px solid #333;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:50px;margin-right:0;text-align:right;font-family:\5b8b\4f53}
.page .page-input{font-family:\5b8b\4f53;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #333;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#333;border:1px solid #333;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}
.page span.go { margin-top: 2px;}



/* 头部 */
.header .top  { width:980px; margin:auto; height:85px; padding-top: 15px; background:url("../../../images/haiwai/korea/default/top-bg.png") no-repeat 180px center; }

.korea .header-nav{background: #db000f;}
.korea .header-nav ul li{ border-left: 1px #e2404b solid;}
.korea .header-nav ul li.nob { border-left:none;}
.korea .header-nav ul li a:hover{ background: #C5000D;}
.korea .header-nav ul li a.this{background: #000;}
.korea .header-nav ul li a.this:hover{background: #000;}
.korea .header-nav ul li.b5m-home a{ background: #c5000d url(../../../images/common/header-nav.png) no-repeat  -110px 13px;}
.korea .header-search{ background: #000; height: 33px; padding: 7px 0;}
.korea .header-rearch-submit{position:relative;z-index:0;display:block; float:left;  color:#673700; font-family:\5FAE\8F6F\96C5\9ED1;margin-left:-3px;border:2px solid #8a0009;height:36px; line-height: 36px;*height:38px;*line-height:32px;*margin-top:-2px;text-align: center; zoom:1;
    background: -webkit-gradient(linear, left top, right top, from(#ffa3ae), to(#ff8793));
    background: -webkit-linear-gradient(top, #ffa3ae, #ff8793);
    background: -moz-linear-gradient(top, #ffa3ae, #ff8793);
    background: -o-linear-gradient(top, #ffa3ae, #ff8793);
    background: -ms-linear-gradient(top, #ffa3ae, #ff8793);
    background: linear-gradient(top, #ffa3ae, #ff8793);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa3ae', endColorstr='#ff8793',GradientType=0 );
}

.korea .header-nav ul li a { color:#fff;}
.korea .header-nav ul li a:hover { text-decoration: none;}
.korea .header-nav ul li.b5m-home { border-left:none; }
.korea .header-nav ul li.b5m-home a:hover {  background: #b4000c url(../../../images/common/header-nav.png) no-repeat  -110px 13px;}

.header-search-key.focus { color:#C5000D; }
.header-search-content label { cursor:default; display: block; float:left;}

.filter-text-focusin { color:#000;}

/*搜索 tab*/
.header-search .search-class { display: block; float:left;}
.search-class em,.search-class a:hover,.search-class a.cur { background: url("../../../images/haiwai/korea/default/icon.png") no-repeat; background-image: url("../../../images/haiwai/korea/default/icon8.png");}
.search-class { position: relative; display:block; height: 32px; width:52px; background: #fff;  border:2px solid #8a0009; border-right:none; font-size:14px; font-family:\5fae\8f6f\96c5\9ed1;}
.search-class em { display: block;  height: 32px; line-height: 32px; width:46px; padding-left: 5px; border-right:1px solid #f6f6f6; cursor:pointer; background-position: 36px -687px; }
.search-class ul { position: absolute; display:none; top:32px; background: #fff; border:1px solid #ddd; border-bottom: none;}
.search-class ul li { border-bottom:1px solid #ddd;}
.search-class ul li a { display: block; width:45px; padding-left: 5px; height:30px; line-height: 30px;  }
.search-class ul li a.cur {  background-position: 36px -725px;}
.search-class ul li a:hover {background-color:#fef6ed; text-decoration: none; color:#333; background-position: 36px -725px;}
.search-class.on ul { display: block; }




/* 面包屑 */
.crumb { padding-top:20px;   font-family:\5FAE\8F6F\96C5\9ED1; line-height: 30px; height: 30px;  font-size:14px; border-bottom: 2px solid #000; _height:31px; _overflow: hidden; color:#666; }
.crumb span { font-family: \5b8b\4f53; padding:0 5px; }
.crumb h2 { color: #ff0042; position: relative; height:29px; border-bottom:3px solid #ff0647; float:left; }
.crumb.noline,.crumb.noline strong { border-bottom: none;}
.crumb em {color: #ff0042; }
.crumb-x{background: url("../../../images/korea/line-3.png") repeat-x scroll 0 2px; height: 4px; overflow: hidden;}
.crumb p{ float: right;}




.mod-list { border:1px solid #ddd; margin-bottom: 20px;}
.mod-list h3.mod-hd { border-bottom: 1px solid #ddd; color: #000;  font: 700 16px/40px "\5FAE\8F6F\96C5\9ED1"; height: 40px;padding-left: 16px; }
.mod-buy-list ul { padding:0 16px;}
.mod-buy-list li {  border-bottom: 1px dashed #ECECEC; overflow: hidden;padding: 15px 0; *zoom:1;}
.mod-buy-list li.last { border-bottom:none;}
.mod-buy-list .pic {  float: left; width: 50px;}
.mod-buy-list .txt { float:right; width:100px;}
.mod-buy-list .txt p { color: #999;line-height: 16px;}
.mod-buy-list .txt em { display: block; padding-top: 6px; color:#db000f; font-size:14px; font-family: \5FAE\8F6F\96C5\9ED1;  }



/*首页*/

.bg-index { background: url(../../../images/haiwai/korea/index/bg-index.png) no-repeat;}

.index-banner { height: 348px; padding-top: 20px; margin-bottom: 20px; }
.index-banner .banner { width:575px; margin-left: 10px; float:left; }
.index-banner .banner-info { width:185px; float:right; }
.index-banner .banner-info .bg-index { height:200px; background-position: 0px -60px; text-indent: -9999px;}
.index-banner .banner-info span { display: block; padding-top: 10px;}
.index-banner .banner div img { margin-right: 10px; float:left;}
.index-banner .banner div img.last { margin-right:0px;}


.header .top { position: relative;}
.header .country { top:36px; position: absolute; width:40px; height: 30px; display: block;  text-indent: -9999px;}
.header .link-chn { right:204px;}
.header .link-usa { right:132px;}
.header .link-kor { right:62px;}

.index-panel { margin-bottom: 20px; }
.index-panel h2 { height: 32px; margin-bottom: 20px; padding-top: 8px; background: url("../../../images/haiwai/korea/index/bg-panel-h2.png") repeat-x bottom; }
.index-panel h2 span { display: block; background: url("../../../images/haiwai/korea/index/bg-index.png") no-repeat; height:22px; text-indent: -9999px; margin: 4px 0 0 15px; }
.index-panel h2 span.p1 { width:112px; background-position: 0px -280px; }
.index-panel h2 span.p2 { width:112px; background-position: 0px -310px; }
.index-panel h2 span.p3 { width:112px; background-position: 0px -340px; }

.index-panel .list-pic li { padding-bottom: 20px; text-align: center; width:186px; border:1px solid #fff; margin-right: 10px; float:left; }
.index-panel .list-pic li.last { margin-right: 0; float:right;}
.index-panel .list-pic li:hover { border-color:#db000f;}
.index-panel .list-pic p { height:38px; padding: 0 10px;}
.index-panel .list-pic strong { display: block; color:#db000f; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1; font-weight:bold; padding: 5px 0; }
.index-panel .list-pic .btn { display:inline-block; width:84px; height: 20px; background:#ffa89c; color:#fff; }
.index-panel .list-pic .btn:hover { background: #ff8574; text-decoration: none;}
.index-panel .list-pic .btn em { font-family:\5B8B\4F53;}
.index-panel .list-pic img { border:1px solid #ccc;}

.index-panel .list-show li  { width:176px; float:left; margin-right: 25px; position: relative;}
.index-panel .list-show li.last { margin-right: 0;}
.index-panel .list-show li a {  display: block; height: 420px; }
.index-panel .list-show li a span { display: none; cursor:pointer; height:90px; line-height: 90px; font-family:\5FAE\8F6F\96C5\9ED1; font-size:16px; font-weight: bold; text-align: center; color:#fff; background: url("../../../images/haiwai/korea/index/bg-alapha.png"); _background: #000;  position: absolute; top:160px; left:0; width:100%;}
.index-panel .list-show li a:hover span { display: block; }


.index-lnk-box { border-left:5px solid #db000f; background: url("../../../images/haiwai/korea/index/bg-lnk-box.png") no-repeat; height: 92px; margin-bottom: 20px;  }
.index-lnk-box strong { float:left; width:66px; margin-right: 10px; text-align: center; display: block; padding-top: 40px; font-size:16px;  font-family:\5FAE\8F6F\96C5\9ED1;  font-weight: bold;}
.index-lnk-box span { float:left; width: 162px; padding:30px 0 0 5px; line-height: 20px;  }
.index-lnk-box span a { white-space: nowrap;}
.index-lnk-box span b { color:#ff7b7e; font-weight: normal; }
.index-lnk-box span b:hover { color:#eb7e00;}

.index-lnk-box.b2 { border-left-color:#ff7b7e; }
.index-lnk-box.b2 b { color:#ff7b7e; }
.index-lnk-box.b3 { border-left-color:#e75c60; }
.index-lnk-box.b3 b { color:#e75c60; }
.index-lnk-box.b4 { border-left-color:#fa803d; }
.index-lnk-box.b4 b { color:#fa803d; }
.index-lnk-box.b5 { border-left-color:#f16187; }
.index-lnk-box.b5 b { color:#f16187; }
.index-lnk-box.b6 { border-left-color:#e84d5c; }
.index-lnk-box.b6 b { color:#e84d5c; }

.index-lnk-box th { width:46px; padding-left: 15px; padding-right: 15px; text-align: center; vertical-align:bottom; height:72px; padding-bottom: 20px; font-family:\5FAE\8F6F\96C5\9ED1;font-size: 16px;font-weight: bold;}
.index-lnk-box td { width:157px; padding-left: 5px; padding-right: 5px; vertical-align: middle;}



/* main slider */
.main-slider { width:980px; margin:0 auto 20px; position: relative; height: 227px; padding-top: 23px; background: url("../../../images/haiwai/korea/index/bg-slider.png") no-repeat;}
.main-slider .container { width:880px; height:205px; margin:auto; overflow: hidden; position: relative;}
.main-slider .btn-prev,.main-slider .btn-next { position: absolute; top:0; width:36px; background: #f7f7f7; height: 250px; }
.main-slider .btn-prev { left:0;}
.main-slider .btn-next { right:0; }
.main-slider .prev,.main-slider .next { position: absolute; top:105px;  background: url("../../../images/haiwai/korea/default/slider-arrow.png") no-repeat; display: block; width:16px; height: 32px; overflow: hidden; text-indent: -9999px;}
.main-slider .prev { background-position: 0px -32px; left:10px; }
.main-slider .prev:hover { background-position: -16px -32px;}
.main-slider .prev.first,.main-slider .prev.first:hover { background-position: 0px 0px; cursor: default;}
.main-slider .next { background-position:-32px -32px;  right:10px;}
.main-slider .next:hover { background-position: -48px -32px;}
.main-slider .next.last,.main-slider .next.last:hover {  background-position: -32px 0px; cursor:default;}
.main-slider .item { float:left; margin-right:20px; width:205px; }
.main-slider .item.last { margin-right: 0;}
.main-slider .item a { display: block; width:205px; height: 205px; position:relative;}
.main-slider .item a span { cursor:pointer; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1;  bottom:0; left:0; _bottom:-1px; display: block; height:30px; line-height: 30px; position: absolute; width:100%; text-align: center;  background: #fff; opacity:0.9; color:#333; }
.main-slider .item a:hover span { background: #db000f; color:#fff;}
.main-slider .item a span em { margin-left: 4px; color:#db000f; }
.main-slider .item a:hover span em { color:#fff;}
.main-slider ul li { float:left; width:880px; height:205px; overflow: hidden;}
.main-slider .slider-bottom { height: 1px; overflow: hidden; font-size:0; position: absolute; width:100%; bottom:0; line-height: 0; background: url("../../../images/haiwai/korea/index/bg-slider.png") no-repeat; }

.main-slider.row2 { height: 452px;}
.main-slider.row2 .container { height: 430px;}
.main-slider.row2 ul li { height: 430px;}
.main-slider.row2 .btn-prev,.main-slider.row2 .btn-next { height: 475px;}
.main-slider.row2 .prev, .main-slider.row2 .next { top:225px;}


/* 搜索页*/
.flex .all-cate { height:57px; line-height: 57px; margin-bottom: 0;}
.flex .all-cate h2 { z-index: 1; padding:0; background:url("../../../images/haiwai/korea/search/bg-all-cate.png") no-repeat !important; height: 57px; }
.flex .crumb { border-bottom: none; margin-bottom:10px; padding-top: 10px;}
.flex .crumb strong { float:none; border-bottom: none;}
.flex .side { float:left; margin-right: 20px;}
.flex .all-cate .main-item { margin-top: -6px;}
.flex .all-cate .sub_item { top:-51px;}


/* 搜索结果页 */
.list-search-result {margin-bottom: 20px; background: url("../../../images/korea/line-3.png") repeat-x scroll 0 2px; padding-top: 20px;}
.list-search-result .list { padding:18px; border:1px solid #e0e0e0; box-shadow:1px 1px 2px #ddd; margin-bottom: 15px; }
.list-search-result .list h3 { font-size:16px; margin-bottom: 20px; }
.list-search-result .list h3 a { font-weight: bold;}
.list-search-result .list .pic { float:left; width:190px; }
.list-search-result .list .pic img { border:1px solid #e0e0e0;}
.list-search-result .list .text { float:left; width:530px;}
.list-search-result .list p { margin-bottom: 15px; font-size:14px; line-height: 24px; height:120px; background: url("../../../images/korea/line-3.png") repeat-x bottom; padding-bottom: 10px; overflow: hidden; font-family: \5FAE\8F6F\96C5\9ED1;}
.list-search-result .list em {   font:italic 18px/20px \5FAE\8F6F\96C5\9ED1;}
.list-search-result .list .text a { color:#eb8927; }


/*搜索无结果页*/
.result-nothing{height:450px;background:url(../../../images/haiwai/search/err.jpg) no-repeat 120px 50%;margin:0;position:relative}/*bg-result-nothing.png*/
.result-nothing .tip,#result-nothing .tit,#result-nothing .back{position:absolute;}
.result-nothing .tip{left:0;top:0}
.result-nothing .tit{left:0;bottom:0}
.result-nothing .back{left:445px;top:220px;font-size:14px;font-family:\5b8b\4f53;line-height:18px;font-weight:400;position: absolute; color:#666;}
.result-nothing .back a{font-weight:700;color:#333;font-family:\5fae\8f6f\96c5\9ed1;font-size:16px;}
.result-nothing .back em {color: #fe7c28;font-style: normal;max-width: 135px;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;_width: expression(this.offsetWidth > 135 ? '135px': true); }
.result-nothing .back strong {color: #fe7c28;}
.result-nothing h2,.nosearch h2 { font-size:20px; font-family:\5fae\8f6f\96c5\9ed1; color:#000; font-weight: bold; margin:20px 0;}

.nosearch-pro { background: none; overflow: hidden; }
.nosearch-pro .cols { margin-right: -12px;}
.nosearch-pro .list { width:224px; height:310px; overflow: hidden; padding: 10px; margin-right: 12px; margin-bottom: 12px; float:left; border:1px solid #d6d6d6; }
.nosearch-pro .list:hover,.nosearch .list.hover { border-color:#ff9c0f;}
.nosearch-pro .list p { font-size:14px; height:48px; line-height: 24px; font-weight: bold; overflow: hidden;}
.nosearch-pro .list .pic { height:214px; overflow: hidden;}
.nosearch-pro .list .btn { height: 46px; background: #ff9c0f; color:#fff; padding:0 6px; overflow: hidden;}
.nosearch-pro .list .btn i {font:30px/46px tahoma; text-shadow:2px 1px 1px #e98900; display: block; float:left; }
.nosearch-pro .list .btn i b { font-size:18px; font-family: Arial;}
.nosearch-pro .list .btn span { display: block; float:right; padding-top:8px; }
.nosearch-pro .list .btn span a { display: block; width:74px; height: 28px; text-align: center; background: #fff44c; font:14px/28px \5FAE\8F6F\96C5\9ED1; color:#993300; font-weight: bold;}


.nosearch { background: none; overflow: hidden; }
.nosearch .cols { margin-right: -12px;}
.nosearch .list { width:160px; height:250px; overflow: hidden;   margin-right: 30px; margin-bottom: 12px; float:left;  }
.nosearch .list:hover,.nosearch .list.hover { border-color:#ff9c0f;}
.nosearch .list p { line-height: 24px; overflow: hidden;}
.nosearch .list p a.more { color:#DB000F;}
.nosearch .list .pic { height:160px; overflow: hidden; margin-bottom:10px;}
.nosearch .list span a { font-size:14px; font-family:\5fae\8f6f\96c5\9ed1;}
.nosearch .list .btn { height: 46px; background: #ff9c0f; color:#fff; padding:0 6px; overflow: hidden;}
.nosearch .list .btn i {font:30px/46px tahoma; text-shadow:2px 1px 1px #e98900; display: block; float:left; }
.nosearch .list .btn i b { font-size:18px; font-family: Arial;}
.nosearch .list .btn span { display: block; float:right; padding-top:8px; }
.nosearch .list .btn span a { display: block; width:74px; height: 28px; text-align: center; background: #fff44c; font:14px/28px \5FAE\8F6F\96C5\9ED1; color:#993300; font-weight: bold;}


/* 评论start */
.star { background: url("../../../images/korea/star.png") no-repeat; _background-image: url("../../../images/korea/fix/star.png");  height:20px; width:150px; overflow: hidden;}
.star span { display: block; cursor: pointer; width:18px; text-indent: -9999px; float:left; }
.star.disabled span { cursor:default;}
.star em { text-align: center; width:40px; float:left; display: block; font-size:14px; font-weight: bold; color: #eb7e00;}
.list-korea .list .star em.gray { color:#666; font-size:14px;}
.star.s1 { background-position: 0px -20px;}
.star.s2 { background-position: 0px -40px;}
.star.s3 { background-position: 0px -60px;}
.star.s4 { background-position: 0px -80px;}
.star.s5 { background-position: 0px -100px;}
.star.view em { margin-left: 100px}

/*商品搜索结果 */
.list-search-result-v1{ margin-bottom: 20px; padding-top: 30px;}
.list-search-result-v1 .gs-list{ padding-left: 122px; margin-bottom: 20px;}
.list-search-result-v1 .gs-list dt{ width: 102px; margin-left: -122px; height: 102px; float: left; _display: inline;}
.list-search-result-v1 .gs-list dt img{ width: 100px; height: 100px; border:1px #e7e7e7 solid;}
.list-search-result-v1 dd.tit{ height: 33px; border-bottom: 1px #ddd dotted; overflow: hidden; *zoom:1;}
.list-search-result-v1 dd.tit p{ color:#999; float: right; margin-top: 6px;}
.list-search-result-v1 dd.tit h3{ font-size: 16px;font-family:\5fae\8f6f\96c5\9ed1; }
.list-search-result-v1 dd.tit h3 a{ color: #333;}
.list-search-result-v1 dd.tit h3 a:hover{ text-decoration: none;}
.list-search-result-v1 dl.gs-list dd.cont p{ line-height: 20px; margin-top: 6px; color:#666666;}
.list-search-result-v1 dl.gs-list dd.cont p a{ color:#eb7e00;}

/*韩国馆资讯搜索结果页 */
.col-main-v2{ width: 685px; float: left;}
.col-sub-v2{ width: 264px; float: right;margin-top: 30px;}
.list-search-result-v2{ margin-bottom: 20px; padding-top: 30px;}
.list-search-result-v2 dl.gs-list{ margin-bottom: 20px;}
.list-search-result-v2 dl.gs-list dd.tit{ height: 33px; border-bottom: 1px #ddd dotted; overflow: hidden; *zoom:1;}
.list-search-result-v2 dl.gs-list dd.tit p{ color:#999; float: right; margin-top: 6px;}
.list-search-result-v2 dl.gs-list dd.tit h3{ font-size: 18px;font-family:\5fae\8f6f\96c5\9ed1; font-weight: bold; color: #333;}
.list-search-result-v2 dl.gs-list dd.cont p{ line-height: 20px; margin-top: 6px; color:#666666;}
.list-search-result-v2 dl.gs-list dd.cont p a{ color:#eb7e00;}
.hw-data-news{ border:1px #d6d6d6 solid; margin-top: 30px; position: relative; padding: 10px 12px;}
.hw-data-news strong{ width: 75px; height: 24px; position: absolute; top: -12px; background: #fff; text-align: center; font-size: 16px;font-family:\5fae\8f6f\96c5\9ed1; font-weight: bold;}

.hw-data-news dl dt{ line-height: 22px; padding: 8px 0; border-bottom: 1px #c4c4c4 dotted;overflow: hidden; zoom:1;}
.hw-data-news dl dt em{ color: #db000f; float: left; font-size: 14px; margin-top: 4px; margin-right: 6px; font-weight: bold;}
.hw-data-news dl dd{ overflow: hidden; zoom:1; padding: 20px 0; height: 102px;border-bottom: 1px #c4c4c4 dotted; display: none;}
.hw-data-news dl dd img{ width: 100px; height: 100px; border:1px #ddd solid; float: left; margin-right: 10px; display: inline;}
.hw-data-news dl dd p{ line-height: 20px; color: #666666;}


/*slider box*/
div.slideBox{ position:relative; width:575px; height:250px; overflow:hidden;}
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox div.tips{ position:absolute; bottom:0px; width:100%; height:50px; overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
div.slideBox div.tips div.title a{ color:#FFF; font-family: \5FAE\8F6F\96C5\9ED1; font-size:14px; line-height:50px; margin-left:10px; text-decoration:none;}
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
div.slideBox div.tips div.nums a{ display:inline-block; >float:left/*For IE.ADD.JENA.201206300844*/; width:12px; height:12px; background-color:#FFF; text-indent:-99999px; margin:20px 10px 0px 0px; overflow: hidden;}
div.slideBox div.tips div.nums a.active{ background-color:#ff2e29;}