<div class="center-record-list center-order mt20">
    <table border="0" cellpadding="0" cellspacing="0">
        <colgroup>
            <col width="25%">
            <col width="20%">
            <col width="20%">
            <col width="25%">
            <col width="10%">
        </colgroup>
        <thead>
            <tr>
                <th>订单号</th>
                <th>价格</th>
                <th>订单状态</th>
                <th>下单时间</th>
                <th>下单详情</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="ui-loading" style="display: none;">正在加载...</div>
    <div class="ui-empty-data" style="display: none;"><span>暂无订单信息</span></div>
</div>
<div class="page cfx page-view"></div>