html,
body {
  overflow-x: hidden;
}
.inc-topimg {
  width: 980px;
  margin: 0 auto;
  position: relative;
}
.inc-topimg .inc-items {
  position: relative;
  height: 168px;
}
.inc-topimg .inc-items img {
  position: absolute;
  height: 168px;
  left: 50%;
  margin-left: -958px;
  width: 1920px;
}
.inc-main {
  width: 100%;
  height: 542px;
  background: #ec303e;
  position: relative;
  border-bottom: 7px #b61723 solid;
}
.inc-main .mian-w {
  width: 980px;
  position: relative;
  height: 542px;
  margin: 0 auto;
}
.mian-w .arr1,
.mian-w .arr2 {
  position: absolute;
}
.mian-w .arr1 {width: 20px;
  height: 70px;
  
  top: 150px;
  left: 555px;background-repeat: no-repeat;}
.mian-w .arr2 {width: 48px;
  height: 62px;
  
  bottom: -7px;
  left: 515px;background-repeat: no-repeat;}
.huojiang {
  height: 30px;
  padding: 78px 64px 17px;
  background: url("/static/images/huodong/zuiqiangdanao/inc-03.png") no-repeat;
  overflow: hidden;
}
.huojiang .text-roll {
  line-height: 30px;
  color: #ffa800;
  font-size: 16px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  height: 30px;
  overflow: hidden;
}
.huojiang .text-roll li {
  height: 30px;
}
.main-cen {
  padding-top: 25px;
}
.main-l {
  width: 550px;
  float: left;
  margin-left: -7px;
}
.game-gz {
  width: 550px;
  height: 215px;
  background: url("/static/images/huodong/zuiqiangdanao/inc-08.png") no-repeat;
}
.game-gz ul {
  padding: 78px 25px 0 85px;
  overflow: hidden;
}
.game-gz ul li {line-height: 16px;
  height: 18px;
  overflow: hidden;
  margin-bottom: 8px;
  
  color: #ffd904;
  font-size: 14px;background-repeat: no-repeat;}
.game-gz ul li em {
  width: 28px;
  height: 18px;
  float: left;
  display: inline;
  margin-right: 25px;
  text-align: center;
  color: #c11421;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  font-style: italic;
}
.main-l .btn {
  padding-top: 20px;
}
.main-l .btn dt {
  float: left;
  width: 345px;
}
.main-l .btn .wydt-btn {width: 325px;
  height: 95px;
  display: block;
  
  margin-top: 15px;background-repeat: no-repeat;}
.main-l .btn .wydt-btn:hover {width: 325px;
  height: 95px;
  display: block;background-repeat: no-repeat;}
.main-l .btn dd {
  float: left;
}
.main-l .btn dd a {
  width: 170px;
  height: 65px;
  display: block;
  font-size: 16px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  text-align: center;
  line-height: 50px;
}
.main-l .btn .zqbd-btn {margin-bottom: 10px;
  color: #fff;background-repeat: no-repeat;}
.main-l .btn .zqbd-btn:hover {background-repeat: no-repeat;}
.main-l .btn .bdzs-btn {color: #ec303e;background-repeat: no-repeat;}
.main-l .btn .bdzs-btn:hover {background-repeat: no-repeat;}
.main-r {
  width: 388px;
  float: right;
  height: 340px;
  margin-top: 25px;
  margin-right: -5px;
  _display: inline;
  background: url("/static/images/huodong/zuiqiangdanao/inc-04.png") no-repeat;
}
.main-r .tips {
  padding: 54px 12px 0 12px;
}
.main-r .tips li {
  padding-left: 26px;
  line-height: 26px;
  font-size: 14px;
  color: #be1622;
}
.main-r .tips li.even {
  color: #ffd904;
}
.inc-zhuanpan {
  width: 100%;
  height: 785px;
  position: relative;
  background: #4fa7ff;
}
.inc-zhuanpan .btn {
  width: 480px;
  height: 95px;
  margin: 50px auto 0;
}
.inc-zhuanpan .btn a {display: block;
  height: 95px;background-repeat: no-repeat;}
.inc-zhuanpan .btn a:hover {background-repeat: no-repeat;}
.lottery-circle {
  position: relative;
}
.lottery-circle .lottery-times {
  position: absolute;
  left: 50%;
  margin-left: -160px;
  color: #ec303e;
  font-size: 42px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  font-weight: 700;
}
.lottery-circle .lottery-times span {
  color: #4fa7ff;
}
/*----@dialog s----*/
.c-ff6 {
  color: #ff6600;
}
.mt30 {
  margin-top: 30px;
}
.mb24 {
  margin-bottom: 24px;
}
.mt24 {
  margin-top: 24px;
}
.mb12 {
  margin-bottom: 12px;
}
.dialog-mask {
  display: none;
  position: absolute;
  z-index: 400;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  overflow: hidden;
  height: 100%;
}
.dialog {
  position: absolute;
  left: 50%;
  top: 360px;
  margin-left: -227px;
  z-index: 600;
  border: 3px solid #dd2a38;
}
.dialog-close {position: absolute;
  right: 10px;
  top: 8px;
  width: 20px;
  height: 20px;background-repeat: no-repeat;}
.dialog-close:hover {position: absolute;
  width: 20px;
  height: 20px;background-repeat: no-repeat;}
.dialog .dialog-content {
  position: relative;
  width: 448px;
  height: 190px;
  border-top: 1px solid #B61E29;
  background: #fff;
  text-align: center;
}
.dialog .dialog-content .count-down {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  color: #999999;
  margin-right: 4px;
  margin-bottom: 8px;
}
.dialog .dialog-content .count-down em {
  color: #dd2a38;
}
.dialog h2 {
  padding: 4px 30px 6px 20px;
  width: 399px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  font-size: 18px;
  background-color: #dd2a38;
  color: #fff;
}
.question-list {
  text-align: left;
}
.question-list li {
  font-family: '\5FAE\8F6F\96C5\9ED1';
  font-size: 16px;
  margin-bottom: 6px;
}
.question-list .radio-off,
.question-list .radio-on {
  height: 20px;
  line-heihgt: 20px;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-indent: 3em;
}
.question-list .radio-off {padding-left: 26px;background-repeat: no-repeat;}
.question-list .radio-on {padding-left: 26px;background-repeat: no-repeat;}
.inc-btn5,
.inc-btn6,
.inc-btn7,
.inc-btn8 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 168px;
  height: 42px;
  font-size: 0;
  overflow: hidden;
  line-height: 0;
}
.inc-btn5 {background-repeat: no-repeat;}
.inc-btn5:hover {background-repeat: no-repeat;}
.inc-btn6 {background-repeat: no-repeat;}
.inc-btn6:hover {background-repeat: no-repeat;}
.inc-btn7 {background-repeat: no-repeat;}
.inc-btn7:hover {background-repeat: no-repeat;}
.inc-btn8 {background-repeat: no-repeat;}
.inc-btn8:hover {background-repeat: no-repeat;}
.dialog-content .tips {
  padding-left: 32px;
  padding-bottom: 4px;
  color: #333;
  font-size: 16px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
}
.niubility {
  font-size: 24px;
}
.tips-right {background-repeat: no-repeat;}
.tips-error {background-repeat: no-repeat;}
.tips-clock {background-repeat: no-repeat;}
.tips-great {background-repeat: no-repeat;}
.tips-smile {background-repeat: no-repeat;}
.tips-cry {background-repeat: no-repeat;}
.a-links {
  color: #0086cc;
  float: right;
  text-decoration: underline;
  margin-right: 80px;
}
.dialog .result-panel {
  display: none;
}
.dialog .result-panel.show {
  display: block;
}
/*----@dialog e----*/
.mian-w .arr1{background-position:-460px 0px}.mian-w .arr2{background-position:-432px -73px}.game-gz ul li{background-position:-452px -138px}.main-l .btn .wydt-btn{background-position:-160px -159px}.main-l .btn .wydt-btn:hover{background-position:-160px -257px}.main-l .btn .zqbd-btn{background-position:-310px -355px}.main-l .btn .zqbd-btn:hover{background-position:-310px -423px}.main-l .btn .bdzs-btn{background-position:-310px -491px}.main-l .btn .bdzs-btn:hover{background-position:-310px -559px}.inc-zhuanpan .btn a{background-position:0px -627px}.inc-zhuanpan .btn a:hover{background-position:0px -725px}.dialog-close{background-position:-460px -823px}.dialog-close:hover{background-position:-460px -846px}.question-list .radio-off{background-position:-410px -867px}.question-list .radio-on{background-position:-410px -887px}.inc-btn5{background-position:-312px -909px}.inc-btn5:hover{background-position:-312px -954px}.inc-btn6{background-position:-332px -999px}.inc-btn6:hover{background-position:-332px -1044px}.inc-btn7{background-position:-332px -1089px}.inc-btn7:hover{background-position:-332px -1134px}.inc-btn8{background-position:-312px -1179px}.inc-btn8:hover{background-position:-312px -1224px}.tips-right{background-position:-455px -1269px}.tips-error{background-position:-455px -1295px}.tips-clock{background-position:-455px -1321px}.tips-great{background-position:-455px -1347px}.tips-smile{background-position:-455px -1373px}.tips-cry{background-position:-455px -1399px}.mian-w .arr1,.mian-w .arr2,.game-gz ul li,.main-l .btn .wydt-btn,.main-l .btn .wydt-btn:hover,.main-l .btn .zqbd-btn,.main-l .btn .zqbd-btn:hover,.main-l .btn .bdzs-btn,.main-l .btn .bdzs-btn:hover,.inc-zhuanpan .btn a,.inc-zhuanpan .btn a:hover,.dialog-close,.dialog-close:hover,.question-list .radio-off,.question-list .radio-on,.inc-btn5,.inc-btn5:hover,.inc-btn6,.inc-btn6:hover,.inc-btn7,.inc-btn7:hover,.inc-btn8,.inc-btn8:hover,.tips-right,.tips-error,.tips-clock,.tips-great,.tips-smile,.tips-cry{background-image: url(/static/images/huodong/zuiqiangdanao/zqdn_z.png)}