<div class="step-title cf">
	<div class="step-brand l"></div>
	<div class="step-name l "><i class="icon-safe-pwd"></i><strong>修改密码</strong></div>
</div>
<form method="post" id="editPwdForm" class="form-h form-set-pwd">
    <div class="control-group">
        <label for="u-name" class="control-label">原密码：</label>
        <div class="controls">
        	<input type="password" id="password" name="password" maxlength="18" onpaste="return false" oncopy="return false;" oncut="return false;" class="input-big txt">
        	 <span  class="cl-999"></span>
        </div>
    </div>
    <div class="control-group">
        <label for="u-name" class="control-label">新密码：</label>
        <div class="controls">
        	<input type="password" id="newPassword" name="newPassword" maxlength="18" onpaste="return false" oncopy="return false;" oncut="return false;" class="input-big txt">
        	<span class="cl-999"></span>
        	<div id="test-pwd"><p class="pwd-power pwd-weak"></p></div>
        </div>
    </div>
    <div class="control-group">
        <label for="u-name" class="control-label">确认密码：</label>
        <div class="controls">
        	<input type="password" id="confirmPassword" name="confirmPassword" maxlength="18" onpaste="return false" oncopy="return false;" oncut="return false;" class="input-big txt">
        	 <span  class="cl-999"></span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls"><a href="javascript:void(0);" id="editPwdSubmit" class="btn btn-yellow">确认修改</a></div>
    </div>
</form>