@red:#db000f;
@fff:#fff;
@hover:#eb7e00;
@c333:#333;
@c666:#666;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';
.marb20{ margin-bottom: 20px;}
u, s, small {  font-style: normal;  font-size: 12px;  text-decoration: none;}
a{ color: @c333;}
.icon,
.tab-tit a{ background-image: url("../../images/gzx/g-icon.png"); _background-image: url("../../images/gzx/g-icon8.png"); background-repeat:no-repeat;}
/*header s*/
.nav-list li,.nav-list li a{ width: 112px;}
.header-rearch-submit,.header-nav-box{background:#0fb996}
.header-nav-back s{border-left-color:#0fb996}
.header-nav-box li{border-color:#00ac8a}
.header-nav-box li a:hover{background-color:#00ac8a}
/*header e*/
/***Crumb -Start- zibu - 20140121***/
.crumb{color:@c999;  padding: 20px 0px; line-height: 22px; height: 22px;}
.crumb strong{ color: #333;}
.crumb h2 em{ color: #e43b5a;}
.crumb span{ color: @c999;}
.crumb a,
.crumb h2{ color: @c999;}
.crumb .cr-zs{ float: right; position: relative; height: 22px; width: 140px;}
.crumb .cr-zs a{ color: #333333; margin-left: 30px; padding-right: 15px;  background: url("../../../images/jiagebaogao/v4/gth-icon.png")  no-repeat right center; height: 22px;}
.crumb .cr-zs a:hover{ color: #f18100;}
.crumb .cr-zs .a-cont{ display: none; width: 245px; height: 120px; padding: 10px; border: 1px #b4b2b2 solid; background: #fff; right: 0; top: 30px; position: absolute;z-index: 1;}
.crumb .cr-zs.open .a-cont{ display: block;}
.crumb .cr-zs .a-cont .arr{ width: 15px; height: 13px;  background: url("../../../images/jiagebaogao/v4/arr-icon.png")  no-repeat left top; position: absolute; right: 65px; top: -13px;z-index: 2;}
/***Crumb -End- zibu - 20140121***/

/********************************* 首页 s ******************************/
.idx-floor{  margin-top: 20px;}
.idx-tit{ height: 30px; overflow: hidden; margin-bottom: 15px;}
.idx-tit h2{ float: left; font:normal 18px/30px 'microsoft yahei';}
.idx-tit .more{ float: right; line-height: 30px; color: #0fb996;}
.idx-tit .tab-tit{ padding-top: 8px; float: right; padding-right: 10px;}
.idx-tit .tab-tit a{ width: 14px; height: 14px; _display: inline; float: left; background-position: -88px -467px; margin: 0 8px;}
.idx-tit .tab-tit a.cur{ background-position: -58px -467px;}
.idx-tit .line{ width: 688px; height: 7px; background: url("../../images/gzx/xx-line.png") no-repeat; float: left; margin: 12px 0 0 10px;}

/*人气商品s*/
.d-none{ display: none;}
.renqi-goods{ height: 282px; background: url("../../images/gzx/inc-rqbg.png") no-repeat; overflow: hidden;}
.renqi-r{ width: 212px; float: right; padding: 20px 15px 0;}
.renqi-r h2{ font-size: 18px; color: #0fb996; font-weight: bold; padding-left: 24px; font-family: @yahei; line-height: 30px;}
.renqi-r p{ line-height: 22px; padding: 5px 0; text-indent: 24px; }
.renqi-r p span{ color: #0fb996;}
.renqi-l{ width: 736px; height: 252px; position: relative; margin-top: 8px; float: left;}
.tab-content,
.tab-content dl{ width: 100%; height: 100%; position: relative;}
.tab-content dt,
.tab-content dt img{ width: 192px; height: 192; border-radius: 50%;}
.tab-content dt{ overflow: hidden; position: absolute; left: 43px; top: 44px;}
.tab-content dd{ position: absolute; text-align: center;}
.tab-content dd.a{ width: 132px; height:236px; left: 279px; top: 14px;}
.tab-content dd.a0{ width: 82px; height:152px; left: 425px; top: 102px;}
.tab-content dd.a1{ width: 110px; height:205px; left: 514px; top: 46px;}
.tab-content dd.a2{ width: 74px; height:130px; left: 628px; top: 124px;}
.tab-content dd .numb{display: block;  font-family: @yahei; }
.tab-content dd.a .numb{ height: 132px; line-height: 132px;font-size: 48px;}
.tab-content dd.a0 .numb{ height: 82px; line-height: 82px;font-size: 28px;}
.tab-content dd.a1 .numb{ height: 106px; line-height: 106px;font-size: 38px;}
.tab-content dd.a2 .numb{ height: 74px; line-height: 74px;font-size: 28px;}
.tab-content dd .c1{ color: #0fb996;}
.tab-content dd .c2{ color: #bbc700;}
.tab-content dd .c3{ color: #e18400;}
.tab-content dd .tit{ line-height: 44px; font-size: 14px; font-family: @yahei; position: absolute; bottom: 0; width: 100%; height: 44px; overflow: hidden;}
.tab-content dd .tit a{ color: #0fb996;}
.renqi-l .tab-tit{top: 8px; float: right; right: 10px; position: absolute; z-index: 2;}
.renqi-l .tab-tit a{ width: 14px; height: 14px; _display: inline; float: left; background-position: -88px -467px; margin: 0 8px;}
.renqi-l .tab-tit a.cur{ background-position: -58px -467px;}
/*人气商品e*/

/*pop good e*/
.scores-goods{ height:300px; position:relative; width: 100%; overflow: hidden; }
.scores-goods .recom-items{ position:absolute;}
.scores-goods .recom-items li{ width: 190px; float: left; margin:0 3px; height: 300px; overflow: hidden; }
.scores-goods .recom-items .pic{ width: 188px; height: 188px; text-align: center; position: relative; border: 1px #eeeeee solid;}
.scores-goods .recom-items .data-numb{bottom: 10px; position: absolute; left: 10px;}
.scores-goods .recom-items .pic img{ width: 188px; height: 188px;}
.scores-goods .recom-items .tit{ padding-top: 6px; height: 40px; line-height: 20px; overflow: hidden;}
.scores-goods .recom-items .price{ color: #ff7800; font:normal 14px "microsoft yahei";}
.scores-goods .recom-items .price b{ font-weight: normal; font-size: 12px;}
.scores-goods .recom-items .price .sj{ float: right; color:@c999;}
.scores-goods .recom-items .sj s{ color: @c333;}
.scores-goods .recom-items .j-price{ overflow: hidden; height: 25px; padding-top: 10px;}
.scores-goods .recom-items .j-price span{ color: @c999; float: left; line-height: 25px; margin-right: 5px;}
.scores-goods .recom-items .j-price strong{ padding: 0 8px; background: #ea6060; color: @fff; line-height: 25px; float: left; height: 25px; font-size: 16px; font-family: @yahei; border-radius: 3px;}
.scores-goods .recom-items .mall{ width: 58px; height: 58px; background: #fff; border: 1px #f2f2f2 solid; float: left; margin-right: 3px; text-align: center; _display: inline; margin-top: 15px;}
.scores-goods .recom-items .mall dt{ line-height: 24px; line-height: 24px; background: #f6f6f6; color: @c666; height: 24px; overflow: hidden;}
.scores-goods .recom-items .mall dd{ color: #0fb996; line-height: 32px; font-family: @yahei; font-size: 20px;}
#gfsp-goods-w .scores-goods{ height: 335px;}
#gfsp-goods-w .scores-goods li{ height: 335px;}
/*价格报告s*/
#jgbg-cont-w{ width: 100%; position: relative; height:238px; }
.jgbg-tiems{ position:absolute; width: 100%; height: 236px; top: 0; z-index: 0; background: #fff; border-right: 1px #ececec solid;}
.jgbg-tiem{ width: 157px; position:relative; height: 236px; border: 1px #ececec solid; z-index: 2; float: left; border-right:none; overflow: hidden;}
.jgbg-tiem dt{ position: relative; width: 157px;  height: 236px;float:left; _display: inline;}
.jgbg-tiem .tit{ background-position: left -516px; width: 145px;overflow: hidden; height: 42px; position: absolute; left: -6px; top: 8px; line-height: 36px; color: #fff; padding-left: 8px; font-family: 'microsoft yahei'; z-index: 1;}
.jgbg-tiem p{ padding: 0 10px;}
.jgbg-tiem .text{ margin-top: 55px; line-height: 18px; text-indent: 2em;}
.jgbg-tiem .more{ margin-top: 10px;}
.jgbg-tiem .more a{ color: #0fb996;}
.jgbg-tiem .tit b{ font-size: 14px;}
.jgbg-tiem .l-shadow{ width: 24px; height: 236px;opacity: 0.5; filter:Alpha(opacity=50); position: absolute; left: -24px; top: 0;  z-index: 0;}
.jgbg-tiem .ban{ margin-top: 10px;}
.jgbg-tiem .ban img{ width: 136px; height: 62px;}
.jgbg-pic{ width: 505px; height: 236px; position: absolute; left: 156px; top:0px; }
.jgbg-pic img{width: 505px; height: 236px;}
/*20140225 zubu e */
/*价格报告e*/
/********************************* 首页 e ******************************/

/************************ 详情页s ************************/
/*图片切换s*/
.pic-items{ height: 328px; position: relative; border:1px #ececec solid; width: 980px;}
.pic-items .cf{ width: 100%;}
.pic-slide{ width: 278px; border-right: 1px #ececec solid; float: left; height: 328px; position: relative; overflow: hidden;}
.shadow{ width: 100%; height: 35px; background: url("../../images/gzx/bg-01.png") no-repeat;}
.pic-items .pic-list{ border-bottom: 1px #ececec solid; position: absolute; height: 278px; overflow: hidden;}
.pic-items .pic-list li{ float: left;}
.pic-items .pic-list li img{ width: 278px; height: 278px;}
.pic-items .pic-text{ height: 50px; position: absolute; width: 100%; bottom: 0; text-align: center; line-height: 48px;}
.pic-items .pic-text a{ width: 50px; height: 50px;}
.pic-items .pic-text .l-btn{ float: left; background-position: left -120px;}
.pic-items .pic-text .r-btn{ float: right; background-position: -60px -120px;}
.pic-items .pic-text .l-btn:hover{ background-position: left -180px;}
.pic-items .pic-text .r-btn:hover{ background-position: -60px -180px;}
.pic-items .pic-text .l-btn.noClick{ background-position: left -60px; cursor: default;}
.pic-items .pic-text .r-btn.noClick{ background-position: -60px -60px; cursor: default;}
.pic-items .pic-text p{ color: @c999;}
.pic-items .pic-text .iNow{ color: #666;}
.pic-items .zs-btn{ width: 78px; height: 20px; background-position:60px -296px; position: absolute; z-index: 2; left: 150px; top: 200px; }
.pic-items{}
/*图片切换右侧s*/
.goods-logo{ margin-top: 10px; padding-left: 80px;}
.goods-logo .logo{ width: 60px; float: left;margin-top: 2px;}
.jygm-btn{ width: 185px; height: 51px; position: absolute; right: 24px; bottom: -8px; }
.jygm-btn a{ height: 51px; display: block; background: url("../../images/gzx/jygm-btn.png") no-repeat; text-indent: -1000px; overflow: hidden;}
.jygm-btn a:hover{background: url("../../images/gzx/jygm-btn-hover.png") no-repeat;}
.goods-logo .price{  width: 130px; height: 28px; padding-top: 6px; position: relative; border: 1px #e6e6e6 solid; float: left;margin-left: 50px; _display: inline; border-left: none; box-shadow: 3px 1px 2px #e6e6e6;}
.goods-logo .price s{width: 0; height:0; overflow: hidden; border: 17px transparent solid; position: absolute; }
.goods-logo .price s.a{ border-right-color: #e6e6e6; left: -34px; top: 0;}
.goods-logo .price s.b{ border-right-color: #fff;  left: -32px; top: 1px; border-width: 16px;}
.goods-logo .price span,
.goods-logo .price b,
.goods-logo .price strong{ float: left; _display: inline;}
.goods-logo .price strong{ color: #ff7800;}
.goods-logo .price b{ color: #999999; font-family: "Microsoft YaHei"; line-height: 14px; margin-top: 8px;}
.goods-logo .price span{ width: 18px; height: 14px;  border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; margin: 4px 0 0 10px;}
.goods-logo .price .p-up{ background-position: -143px -60px;}
.goods-logo .price .p-flat{ background-position: -143px -160px;}
.goods-logo .price .p-down{ background-position: -143px -110px;}
.goods-logo .price strong{ font: normal 20px/24px "microsoft yahei";}
/*图片切换右侧e*/
/*文字信息 s*/
.text-items{ margin-top: 25px;}
.text-items .d-item{ float: left; width: 324px; float: left; _display: inline; margin-top: -10px; padding-left: 22px;}
.text-items .d-item li{  margin-top: 10px; line-height: 24px;}
.text-items .d-item li label{ width: 50px; color: #999999;  display: block; margin-bottom: 10px;}
.text-items .d-item li span,
.text-items .d-item li b,
.text-items .d-item li strong,
.text-items .d-item li p{ float: left; _display: inline;}
.text-items .d-item li strong{ color: #ff7800;}
.text-items .d-item .price b{ color: #999999; font-family: "Microsoft YaHei"; line-height: 14px; margin-top: 8px;}
.text-items .d-item .price span{ width: 18px; height: 14px;  border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; margin: 4px 0 0 10px;}
.text-items .d-item .price .p-up{ background-position: -143px -60px;}
.text-items .d-item .price .p-flat{ background-position: -143px -160px;}
.text-items .d-item .price .p-down{ background-position: -143px -110px;}
.text-items .d-item .price strong{ font: normal 20px/24px "microsoft yahei";}
.text-items .d-item .com{ color: #666;}
.text-items .d-item .com strong{ margin-right: 5px;}
.text-items .d-item .com p{ margin-left: 10px;}
.text-items .d-item .com .com-btn{ background-position: left -329px; padding-left: 20px; margin-left: 25px;}
.text-items .d-item .com span{ height: 18px; width: 90px; background-position: left -242px; margin-top: 4px; position: relative;}
.text-items .d-item .com span div{ height: 18px; position: absolute; left: 0; top: 0;  background-position: left -263px;}
.text-items .d-item .sever span{ background: #f2f2f2; color: #666; margin: 0 10px 10px  0; padding: 0 15px; white-space: nowrap;}
.other-sh{ height: 69px; background: url("../../images/gzx/other-sh.png") no-repeat; overflow: hidden; position: relative; width: 100%;}
.other-sh .other-items{ height: 69px; overflow: hidden; width: 830px; float: left; margin-left: 80px;  _display: inline; position: relative;}
.other-sh .other-items ul{ width: 200%; position: absolute; left: 0; top:0;}
.other-sh li{ width: 165px; padding-left: 30px; margin-left: 15px; float: left; padding-top: 10px; font-family: @yahei;}
.other-sh li .data-numb{ float: left;margin-right: 10px; }
.other-sh li .sh{ font-size: 16px; }
.other-sh li .sh:hover{ color: #00d5a8; text-decoration: underline;}
.other-sh li p{ font-size: 14px; color: #9b9b9b;}
.other-sh li p b{ font-size: 12px;}
.other-sh .other-btn{  width: 60px; height: 54px; float: left;overflow: hidden; margin-top: 7px;}
.other-sh .other-btn a{ width: 27px; height: 54px; float: left; background-image: url("../../images/gzx/btn-icon.png"); background-repeat: no-repeat;}
.other-sh .other-btn .left-btn{ background-position: left top; margin-right: 5px;}
.other-sh .other-btn .left-btn:Hover{ background-position: left -60px;}
.other-sh .other-btn .right-btn{ background-position: -32px top;}
.other-sh .other-btn .right-btn:Hover{ background-position: -32px -60px;}
/*顶部浮动层s*/
.topfix-layer{ width: 100%; height: 58px; border-top: 1px #ececec solid; border-bottom: 1px #ececec solid; background: #fcfcfc; position: fixed; top: 0; z-index: 1000; display: none;}
.fix-table{ width: 100%;}
.fix-table tr td{ line-height: 56px; padding-left: 5px;}
.fix-table .tit{ font-size: 14px; font-family: @yahei; width: 510px;}
.fix-table .tit a{ color: @c666;}
.fix-table .zhsh{ width: 70px;}
.fix-table .logo{ width: 100px;}
.fix-table .logo img{ width: 60px; height: 30px; margin-top: 14px;}
.fix-table .price{ font-size: 24px; font-family: @yahei; color: #ff7800; width: 155px;}
.fix-table .price b{ color: #999; font-size: 14px; font-weight: normal;}
.fix-table .gm-btn{ width: 120px; font-family: @yahei; height: 50px; display: block; line-height: 50px; background: #0fb996; color: #fff; font-size: 18px; text-align: center; border-radius: 3px;}
.fix-table .gm-btn:hover{ background: #00ac8a;}
/*顶部浮动层e*/

/*文字信息属性 s*/
.text-items .d-data{ float: left; width: 600px; _display: inline; padding-left: 25px; border-left:1px #ddd dashed; height: 122px; overflow: hidden;}
.text-items .d-data dt{ display: block; color: #999; margin-bottom: 8px;}
.text-items .d-data dd{ float:left; width: 193px; padding-left: 7px; overflow: hidden; height: 24px; color: #666666; background-position: left -406px; line-height: 24px;}
.text-items .more-wp{ width: 74px; height: 20px; float: right; }
.text-items .more-wp a{ height: 20px; display: block; background-image: url("../../images/gzx/arr-icon.png"); background-repeat: no-repeat; text-indent: 5px;}
.text-items .more-wp .more-btn{ background-color: #f6f6f6; background-position: 60px top; color: #666666;}
.text-items .more-wp .more-btn:hover{ background-color: #000; background-position: 60px -40px; color: #ccc;}
.text-items-more .d-data{ height: auto;}
.text-items-more .more-wp .more-btn{ background-color: #f6f6f6; background-position: 60px -20px; color: #666666;}
.text-items-more .more-wp .more-btn:hover{ background-color: #000; background-position: 60px -60px; color: #ccc;}
/*文字信息 e*/
/*详情参数 s*/
.details-parameters{border:1px solid #ddd;margin:20px 0 0; width: 100%;}
.details-parameters th,.details-parameters td{height:32px;line-height:32px;padding:0 20px;border:1px solid #ddd}
.details-parameters thead td{background:#f1f1f1;font-size:14px;font-weight:700;text-align: center; }
.all-xq{ cursor: pointer; width:200px; height: 30px; border:1px #ddd solid; margin: 0 auto; position: relative; text-align: center; z-index: 10; top: -1px;}
.all-xq span{ width: 70px; height: 30px; line-height: 30px; left: 66px; color: #666; display: inline-block; text-align: left; background: url(../../images/gzx/arr-down-001.gif) no-repeat right center;}
  /*详情参数 e*/
/*评价 s*/
.user-comment{border-bottom:1px solid #ddd;padding-bottom:20px}
.user-comment-hd{height:50px;line-height:50px}
.user-comment-hd h4{font-size:13px;font-family:microsoft yahei;color:#666}
.user-comment-hd em{font-weight:400;color:#999}
.user-comment-bd{height:118px;overflow:hidden}
.user-comment .comment-num{float:left;width:256px;height:118px;margin-left:40px;text-align:center}
.user-comment .comment-num .all,.user-comment .comment-num .num{line-height:38px}
.user-comment .comment-num .cur strong{color:#ff9e2d; font:400 48px/42px @yahei;}
.user-comment .comment-star{float:left;margin-left:80px;width:180px}
.user-comment .comment-star label,.user-comment .comment-star img{float:left}
.user-comment .comment-star img{margin-top:3px}
.user-comment .comment-result li,.user-comment .comment-star li{height:24px}
.tag{border-bottom:1px solid #ddd;padding-bottom:20px;margin-top:30px}
.tag h2,.has-tag h2{color:#666;font:400 14px @yahei}
.shop-show .show-tag a{
  float:left;margin:8px 8px 0 0;display:inline;background:#f1f1f1;border:1px solid #ddd;color:#666;padding:0 5px;height:18px;line-height:18px;line-height:20px\0;*line-height:20px;_line-height:18px;overflow:hidden;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  background:-moz-linear-gradient( top,#fff,#ededed);
  background:-webkit-linear-gradient(top,#fff,#ededed);
  background:-o-linear-gradient(left,#fff,#ededed)}
.show-tag a:hover,.show-tag a.active{text-decoration:none;border-color:#f06723;color:#f4772c}
.no-comment{ text-align: center; line-height: 30px; padding: 30px 0; font-size: 16px;}
.shop-comments{*width:938px}
.shop-comments ul{margin-bottom:-1px}
.shop-comments li{padding:20px 0;border-bottom:1px dotted #ddd}
.shop-comments li:hover{background:#fbfbfb}
.shop-comments .hd{position:relative;height:30px;color:#bcbcbc;width:100%}
.shop-comments .hd a{float:left;color:#2489cd;text-decoration: none;cursor: pointer;}
.shop-comments .hd span{position: absolute;right:100px;height:60px;width:120px;text-align:center;display:block;}
.shop-comments .hd ins{text-decoration:none;position:absolute;right:0;top:0}
.shop-comments .hd .mall{float:none;}
.shop-comments .hd .mall img{width:120px;height:60px;}
.shop-comments .bd{margin-right:235px;color:#666}

/*评价 e*/
.data-main{ float: left; width: 670px; _display: inline; padding-left: 28px;}
.data-main h1{ font: normal 18px/40px @yahei; margin-top: 5px;}
.xiaoliang{ width: 650px; height: 225px;}
.tab-hd{height:30px;border-bottom:2px solid #ff7d26;color:#666;position:relative; margin-top: 20px;}
.tab-hd li{float:left;width:98px;height:29px;line-height:29px;border:1px solid #d3d3d3;border-bottom:none;text-align:center;margin-right:5px;background:#fff;cursor:pointer;position:relative}
.tab-hd li a{color:#666;}
.tab-hd li.cur{background:#ff7d26;border-color:#ff7d26;color:#fff}
.tab-hd li.cur a{color:#fff}

.tab-bd{overflow:hidden; padding-bottom: 20px;}
.tab-bd .tab-box{display:none;}
.tab-filter{height:39px;border:1px solid #ddd;background:#f9f9f9;margin-top:-1px;padding:0 15px}
.tab-filter .shop-seq-item{float:left;margin-top:5px;display:inline}
.tab-filter .shop-seq-item li{float:left;width:44px;height:24px;border:1px solid #d4d4d4;background:#fcfcfc;margin:0 0 0 -1px;display:inline;position:relative}
.tab-filter .shop-seq-item li a{color:#666;display:block;height:24px;line-height:24px;line-height:28px\0;*line-height:28px;_line-height:24px;text-align:center;overflow:hidden}
.tab-filter .shop-seq-item li a:hover,.tab-filter .shop-seq-item li.cur a{color:#f47920;text-decoration:none;text-align: center;}
.tab-filter .shop-seq-item li.cur{background:#f2f2f2}
.tab-filter .shop-seq-item li.first{border-top-left-radius:3px;border-bottom-left-radius:3px}
.tab-filter .shop-seq-item li.last{padding-right:15px;border-top-right-radius:3px;border-bottom-right-radius:3px;}
.tab-filter .shop-seq-item li.last i{position:absolute;right:8px;top:8px;display:block; width: 7px; height: 8px; background-position: -153px -261px;}
.mall-compare{margin-right:200px;margin-top: 8px;float:right;}
.mall-compare span{cursor: pointer;margin-left:46px;}
.mall-compare span i{display: inline-block;*display: inline;*zoom: 1;width:14px;height:14px;vertical-align:middle;margin-right:8px; background-position: -146px -190px;}
.mall-compare span .checkbox-checked{background-position: -146px -218px;}
.ajax_loading{ display:none;background:url(../../images/gzx/ajax-loader.gif) no-repeat 50% 15px transparent;height: 24px;text-align: center;padding-top: 60px;}
.all-mail{ width: 100%;}
#priceTrendDiv{ width: 980px; margin-top: 30px;}
/*商品推荐 s*/
.recommend-view{ margin-top: 20px; padding-bottom: 20px;}
.recommend-view h2{ font:18px/32px "microsoft yahei";}
.recommend-view .recom-items{ position: relative; margin-left: -10px; padding-top: 10px;}
.recommend-view .recom-items li{ width: 236px; float: left; margin-left: 10px; margin-bottom: 10px; }
.recommend-view .recom-items .pic{ width: 234px; height: 234px; text-align: center; position: relative; border: 1px #eeeeee solid;}
.data-numb{ width: 50px; height: 50px; background-image: url("../../images/gzx/circle-icon.png"); _background-image: url("../../images/gzx/circle-icon8.png"); background-repeat: no-repeat; }
.recommend-view .recom-items .data-numb{bottom: 10px; position: absolute; left: 10px;}
.recommend-view .recom-items .pic img{ width: 234px; height: 234px;}
.recommend-view .recom-items .tit{ padding-top: 6px; height: 40px; line-height: 20px;}
.recommend-view .recom-items .price{ color: #ff7800; font:normal 14px "microsoft yahei";}
.recommend-view .recom-items .price b{ font-weight: normal; font-size: 12px;}
.recommend-view .recom-items .price .logo{ float: right;}
/*商品推荐 e*/
/*全部商品s*/
.shop-all-itme{ width: 105px; height: 24px; border: 1px #ddd solid; border-radius: 3px; float: left; background: #fcfcfc; margin: 5px 0 0 10px; display: none;}
.shop-all-itme li{ float: left; line-height: 24px; text-align: center;}
.shop-all-itme li a{float: left; }
.shop-all-itme .cur{ background: #f2f2f2;}
.shop-all-itme .fenzhi{ width: 46px; border-right:1px #d4d4d4 solid; }
.shop-all-itme .quanbu{ width: 58px; background: url("../../images/gzx/arr-icon.png") no-repeat 44px -85px;}
.tab-shop-header li{height:33px;line-height:33px;border-bottom:1px solid #ccc;float:left;color:@c999;}
.tab-shop-header .mall{width:110px; padding-left: 20px;}
.tab-shop-header .index{width:95px;}
.tab-shop-header .name-goods{width:415px;}
.tab-shop-header .price-goods{width:72px;}
.tab-shop-header .trend-goods{width:74px;}
.tab-shop-header .support-goods{width:122px;}
.tab-shop-header .operate-goods{width:72px;}

.tab-shop-items{ position: relative; width: 100%; border-bottom: 1px #ddd dotted;}
.shop-tiem{ width: 100%;}
.shop-tiem tr td{ padding: 15px 0; line-height: 22px;}
.shop-tiem tr td img{ width: 125px; height: 40px;}
.shop-tiem .zs span{ width: 18px; height: 14px;  border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; margin: 4px 0 0 10px; display: inline-block;}
.shop-tiem .zs .p-up{ background-position: -143px -60px;}
.shop-tiem .zs .p-flat{ background-position: -143px -160px;}
.shop-tiem .zs .p-down{ background-position: -143px -110px;}
.shop-tiem a.jy-c1{ color: #0fb996;}
.shop-tiem a.jy-c2{ color: #bbc700;}
.shop-tiem a.jy-c3{ color: #e18400;}
.tab-shop-items .shop-list{ height: 0; overflow: hidden;}
.tab-shop-items .all-shop{ border: 1px #ddd solid; bottom:2px; position: absolute; right: 0px;  padding: 0 6px; line-height: 22px; height: 22px; background-position: left -434px; background-repeat: repeat-x;}
.tab-shop-items .all-shop a{ display: block; padding-left:10px; }
.tab-shop-items .all-shop .add{background-position:left -356px;}
.tab-shop-items .all-shop .remove{ background-position:left -380px;}
/*全部商品e*/
/************************ 详情页e ************************/
/*search datalist s*/
.cl-ff78{color:#FF7800;}
.mt20{margin-top: 20px;}
.ml20{margin-left: 20px;}
.mr20{margin-right: 20px;}
.mb20{margin-bottom: 20px;}
/*----@breakcrumb s----*/
.breadcrumb{font-family:\5b8b\4f53;}
.breadcrumb .search-key,
.breadcrumb .product-nums{padding:0 5px;}
/*----@breakcrumb e----*/
/*----@layout s----*/
.main{width:100%;}
.side-l{width: 140px;margin-left:-100%;position: relative;left:-160px;}
.fixed{left:50%;}
/*----@layout e----*/
/*----@filter-area s----*/
.filter-area{border-top:none;}
.filter-panel{overflow:hidden;zoom:1;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}
.filter-item{position: relative;height:35px;padding-left:140px;border-top: 1px dashed #ddd;margin-top:-1px;overflow: hidden;}
.filter-item dd a{float:left;width:90px;margin-right:10px;line-height: 24px;color:#666;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.filter-item dd a:hover{color:#eb7e00;}
.filter-item .show-more,
.horizontal-category .show-more{display:none;position: absolute;line-height:24px;margin-right:6px;right:0;top:6px;width:40px;cursor: pointer;background:url(../../images/gzx/s_icon.png) no-repeat right -13px;color:#666;}

.filter-item .filter-act{position:absolute;top:6px;right:60px;}
.filter-item .filter-act a{display: inline-block;*display: inline;*zoom: 1;margin-right:20px;line-height:20px;width:auto;padding:0 4px;border:1px solid #bdbdbd;color:#666;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f3f3f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fdfdfd 0%,#f3f3f3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.filter-item .filter-act a:hover{
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #e0e0e0 0%, #f0f0f0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #e0e0e0 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #e0e0e0 0%,#f0f0f0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #e0e0e0 0%,#f0f0f0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #e0e0e0 0%,#f0f0f0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */
}
.filter-item .filter-act .btn-sure,
.filter-item .filter-act .btn-cancle{display:none;padding:0 20px;}
.filter-item .open{background-position:right -117px;}
.filter-item dt{color:#333;position: absolute;width:100px;top:9px;left:40px;}
.filter-item dd{padding:6px 0;margin-right:115px;}
.filter-item .price-range{margin-right:250px;}
.filter-item .price-input{position:absolute;right:60px;top:7px;}
.filter-item .price-input .txt{height:18px;line-height:18px;width:38px;border:1px solid #ddd;}
.filter-item .price-input .btn{height:20px;width:45px;border:1px solid #ddd;background-color: #fff;margin-left:8px;cursor:pointer;}
.filter-more{text-align: center;}
.filter-more a{display:block;background-color:#F9F9F9;outline:none;padding:0 18px;height:30px;line-height:30px;color:#666;}
.filter-more a:hover{background-color:#f3f3f3}
.filter-more span{padding-right:17px;background: url(../../images/gzx/s_icon.png) no-repeat right -121px}
.filter-more .open span{background-position: right -18px}
.filter-more .open em{color:#999;}
.filter-more .other-attr{display: none;}
.filter-more .open .pack-up{display: none;}
.filter-more .open .other-attr{display:inline;}
.filter-on{padding-top:2px;background-color:#e86e00;}
.filter-on .cancel-all{height:20px;line-height:18px;line-height:20px\0;*line-height:22px;position:absolute;right:10px;top:6px;padding:0 8px;background-color:#999;color:#fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.filter-on .cancel-all:hover{background-color:#eb7e00;}
.filter-on dl{position:relative;padding:0 80px 4px 80px;background-color: #f2f2f2;}
.filter-on .filter-on-tit{position:absolute;top:6px;margin-left:-72px;color:#333;font-size:12px;}
.filter-on .filter-on-mod{display:inline-block;position:relative;white-space:nowrap;border:1px solid #e86e00;height:22px;line-height:20px;line-height:23px\0;padding-right:20px;padding-left:4px;margin:4px 0 0 6px;color:#999;background-color:#fff;}
.filter-on .filter-on-mod em{color:#e86e00;}
.filter-on .filter-on-mod b{position:absolute;top:5px;margin-left:4px;height:12px;width:12px;line-height:8px;*top:3px;*height:auto;*line-height:12px;*padding-bottom:4px;text-align:center;font-size:12px;font-weight:400;color:#fff;background-color:#e86e00;vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.filter-open{height: auto;}
.filter-multiply .filter-act{margin:15px 0 15px;position:static;top:auto;right:auto;text-align: center;}
.filter-multiply .filter-act .btn-multiple{display: none;}
.filter-multiply .filter-act .btn-sure,
.filter-multiply .filter-act .btn-cancle{display: inline-block;*display: inline;*zoom: 1;}
.filter-multiply dd{margin-right:60px;}
.filter-multiply dd a{width:76px;padding-left:24px;background: url(../../images/gzx/s-icon-v1.png) left -130px no-repeat;}
.filter-multiply dd a.cur{background-position:left -156px;}
/*----@filter-area e----*/
/*----@left-size s----*/
.m-bord{background: #fff; border:2px #e3e3e3 solid;}
.m-bord .s-icon{ background-image: url(../../images/gzx/s-icon-v1.png); background-repeat: no-repeat;}
.s-menu-list .s-all,
.goods-filter .goods-f{height: 30px; border-top: 1px #fff solid; border-bottom: 1px #e3e3e3 solid; background-color:#f3f3f3;  color: #666; font: 16px/30px "\5FAE\8F6F\96C5\9ED1"; padding-left: 10px;}
.s-menu-list .s-all{ background-position:84px 9px;}
.goods-filter .goods-f{ background-position:84px -96px; }
.s-menu-list .m-dl{padding: 5px 10px; line-height: 22px;border-bottom: 1px solid #E3E3E3;}
.s-menu-list .m-dl dt{padding-left: 20px;background: url(../../images/gzx/s_icon.png) no-repeat scroll 0 -944px transparent;cursor:default;font-weight:700;}
.s-menu-list .m-dl dt a{color:#000;}
.s-menu-list .m-dl dt a.cur,
.s-menu-list .m-dl dt a:hover{color:#EB7E00;}
.side-l.nav-fix{ position: fixed; top: 10px; left:50%; margin-left: -650px;}
.s-menu-list .m-dl dd{display: none;}
.s-menu-list .cur dt{background: url(../../images/gzx/s_icon.png) no-repeat scroll 0 -894px transparent;}
.s-menu-list .cur dd{display:block;}
.s-menu-list .m-dl .no-bg{background-image:none;}
.s-menu-list .m-dl dd a{ color: #787878; padding-left: 20px; background-position:left -20px;}
.s-menu-list .m-dl dd a:hover{color: #ff7800;}
.s-menu-list .m-dl dd a.cur{ color:#ff7800; background-position:left -39px;}
/*.s-menu-list .m-dl .m-ul{ display: none;}*/
.s-menu-list .m-dl .m-ul a{ background: none;}
.m-bord .more-c{ width: 100%; height:25px; position: relative; margin-bottom: 20px; }
.m-bord .more-c span{width: 80px; height: 25px; display: block;border:1px solid #fff;border-left:1px solid #f3f3f3;}
.m-bord .more-c .more-btn{width: 80px; height: 25px; display: block; line-height: 25px; color: #ff7800; text-align: center; background-color: #f3f3f3;background-position:right -65px; font-family: \5b8b\4f53;}
.m-bord .current span,
.m-bord .more-c:hover span{ width: 181px; border:1px #f5772b solid; position: absolute;background: #fff; z-index: 101; border-right: none;}
.m-bord .m-items{ display: none; width: 480px; background: #fff; border:1px #f5772b solid;position: absolute; left: 180px; background: #fff; z-index: 100; padding:10px 0 10px 30px; }
.m-bord .m-items li{ width: 120px; line-height: 24px; float: left; height: 24px; overflow: hidden; _display: inline;}
.m-bord .current .m-items,
.m-bord .more-c:hover .m-items{ display: block;}
.m-bord .m-items li a{ color: #666666;}
.m-bord .m-items li a:hover{ color: #f88f3a;}
.m-bord .more-category{height: 29px;line-height: 29px;text-align: center;cursor: pointer;}
.m-bord .more-category strong{padding-right:20px;background:url(../../images/gzx/s-icon-v1.png) no-repeat scroll right -995px transparent;}
.m-bord .more-category .close-cate{display:none;}
.m-bord .more-category-open .close-cate{display:inline;background-position:right -1045px;}
.m-bord .more-category-open .open-cate{display:none;}
.goods-filter{ border-top: 1px #ddd solid;}
.goods-filter .g-fil{ padding: 10px;}
.goods-filter .g-fil li{  margin-bottom: 8px;}
.goods-filter .g-fil li a,
.goods-filter .m-items li a{ padding-left: 24px; background: url(../../images/gzx/s-icon-v1.png) left -135px no-repeat; color: #999999;}
.goods-filter .g-fil li a:hover{ color: #ff7800;}
.goods-filter .g-fil li a.cur,
.goods-filter .m-items li a.cur{ background: url(../../images/gzx/s-icon-v1.png) left -160px no-repeat;}
.goods-filter .m-items li a{ line-height: 14px; width: 90px;height:14px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;
    display: block; }
.horizontal-category{display: none;}
.horizontal-category .s-menu-list,
.horizontal-category .goods-filter{position: relative;}
.horizontal-category .show-more{top:38px;}
.horizontal-category .s-menu-list .m-dl dt,
.horizontal-category .s-menu-list .m-dl .m-ul{display:none;}
.horizontal-category .s-menu-list .m-dl,
.horizontal-category .goods-filter .g-fil{border-bottom:none;overflow: hidden;height:20px;line-height:20px;padding:0;margin:10px 60px 10px 10px;}
.horizontal-category .s-menu-list .m-dl dd{display:block;float:left;width: 100px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.horizontal-category .s-menu-list .m-dl dd a{padding-left:0;background:none;}
.horizontal-category .goods-filter .g-fil li{float:left;width: 100px;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.horizontal-category .s-menu-list .filter-open,
.horizontal-category .goods-filter .filter-open{height: auto;}
/*----@search s----*/
.sort-bar,
.filter-area{border:1px solid #e3e3e3;background: #fff;}
/*----@search e----*/
/*----@sort-bar s----*/
.sort-bar{padding:15px 10px;background-color: #fff;position: relative;}
.sort-item li,
.sort-conditions li,
.sort-view li,
.feature-box li{float:left;}
.sort-item a,
.sort-conditions a,
.sort-view a,
.feature-box a{display:block;color:#666;}
.sort-item{border:1px solid #ddd;}
.sort-item li{height:24px;padding:0 10px;margin-left:-1px;text-align:center;line-height: 24px;border-left:1px solid #ddd;}
.sort-item a:hover{color:#f47920;}
.sort-item .price{padding-right:12px;background:url(../../images/gzx/s_icon.png) no-repeat 29px -92px scroll;}
.sort-item .down,
.sort-item .up{background-color:#666;}
.sort-item .down a,
.sort-item .up a{color:#fff;}
.sort-item .down .price{background-position:-64px -92px;}
.sort-item .up .price{background-position:-64px -64px;}
.sort-conditions{padding-right:10px;border:1px solid #ddd;}
.sort-conditions li,
.feature-box li{height:24px;line-height: 24px;margin-left: 10px;}
.sort-conditions a,
.feature-box a{padding-left:18px;background:url(../../images/gzx/s_icon.png) no-repeat 0 -144px scroll;cursor: pointer;}
.sort-conditions .cur a{background-position: 0 -194px;}
.sort-view a{width:27px;height:26px;background:url(../../images/gzx/s_icon.png) no-repeat 0 -276px;}
.sort-view .m-grid a{background-position:0 -276px;}
.sort-view .m-list a{background-position:-27px -276px;}
.sort-view .m-grid a:hover{background-position:0 -250px;}
.sort-view .m-list a:hover{background-position:-27px -250px;}
.sort-view .m-grid a.cur{background-position:0 -302px;}
.sort-view .m-list a.cur{background-position:-27px -302px;}
.price-input{margin-top: 3px;}
.price-input .txt{height:18px;line-height:18px;width:38px;border:1px solid #ddd;}
.price-input .btn{height:20px;width:45px;border:1px solid #ddd;background-color: #fff;margin-left:8px;cursor:pointer;}
.s_no_data{ text-align: center; line-height: 30px;}
/*----@sort-bar e----*/

/*----@intelligent-recommend s----*/
.intelligent-recommend{height:20px;margin-bottom: 20px;overflow: hidden;}
.intelligent-recommend dt{float:left;}
.intelligent-recommend dd{margin-left:90px;}
.intelligent-recommend dd a{margin-right:20px;color:#4385E0;}
.intelligent-recommend dd a:hover{color:#eb7e00;}
/*----@intelligent-recommend e----*/

/*search datalist e*/

/* page */
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma; padding:15px 0;}
.page div{margin:0 auto;display:inline-block; *display:inline; *zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:32px;line-height:32px; width:auto; font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:@yahei}
.page a.first,.page a.last{width:43px}
.page a:hover{color:#fff;background-color:#0fb996;background-image:none;border-color:#0fb996;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#0fb996;font-family:arial;border-radius:3px;cursor:default; border:1px solid #0fb996;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:50px;margin-right:0;text-align:right;font-family:@yahei}
.page .page-input{font-family:@yahei;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #00ac8a;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#0fb996;border:1px solid #00ac8a;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}
.page span.go { margin-top: 2px;}

/***Side -Start- gaotian - 20131119***/
.side-left{float:left;width:200px; padding-bottom: 20px;}
.mart20{ margin-top: 20px;}
.center{text-align: center;}
.side-menu{padding-bottom:6px;border:1px solid #e4e4e4;position:relative;}
.side-menu li{z-index:0;line-height:34px; height: 34px; padding-left: 46px;}
.side-menu li:nth-child(2n){background:#f5f5f5}
.side-menu li.odd{background:#f5f5f5}
/*.side-menu li .side-menu-ico{display:none;position:absolute;top:0;right:100%;z-index:1;width:8px;height:40px;background:url(../../../images/jiagebaogao/bg.png) no-repeat;}
.side-menu li.active .side-menu-ico{display:block;}*/
.side-menu li.active{background:#0fb996;color:#fff}
.side-menu li.active .tit{color:#fff;}
.side-menu li.open{ border: 1px #f18100 solid; margin-left: -1px; background: #fff;line-height:32px; height: 32px;}
.side-menu li.open .tit{ color: #333333; height: 32px; line-height: 32px; display: block; background: #fff; width:155px; position:relative; z-index: 100; top: 0;}
.side-menu li.no-data,.side-menu li.no-data a{color:#999}

.side-menu .sub_item{display:none;width:548px;border:1px solid #f18100;min-height:505px;position: absolute;overflow:hidden;z-index:80;left:199px;top:-1px;margin-left:-1px;background-color: #fff;box-shadow:0px 2px 3px #ddd;}
.side-menu dt a{font-size:18px;font-weight:700;color:#eb7e00;}
.side-menu dt a:hover{text-decoration: none;}
.side-menu dl{padding:8px 0 8px 0;margin-top:-1px;zoom:1;}
.side-menu dt{margin-bottom: -5px; font-family: "microsoft yahei"}
.side-menu dd{overflow: hidden;}
.side-menu dd a{float: left;margin-right:15px;white-space: nowrap;font-family:@yahei}
.side-menu .sub-in{min-height:489px; padding:15px 15px 15px 30px;line-height: 24px;background-color:#fff;}
.side-menu li.open .sub_item{ display: block;}
.cattle-cont{ border: 1px #ddd solid; margin-top: 20px;}
.cattle-items{ padding: 10px;}
.cattle-items li{ padding: 10px 0; height: 50px; overflow:hidden; zoom:1;}
.cattle-items li .tit,
.cattle-items li .tit1,
.cattle-items li h3{ line-height: 14px; margin-bottom: 2px; color: #333;}
.cattle-items li .tit{ height: 14px; overflow: hidden;}
.cattle-items li p{ line-height: 18px; color: #999999;}
.cattle-items .numb em{ color: #e3830b;}
.cattle-items .numb a,
.cattle-items .numb span{ color:#e85570; }
.cattle-items .text{ overflow: hidden; height: 18px;}
.cattle-items .text1{ overflow: hidden; height: 36px;}
.cattle-items .pic,
.cattle-items .pic1{ width: 48px; height: 48px; margin-top: 2px; float: left; overflow:hidden; margin-right: 10px; _display: inline;}


/***Side -End- gaotian - 20131119***/
/***历史最低价 -End- gaotian - 20131119***/
.l{float:left}
.column-zdj{float:left;width:780px;padding-bottom:20px;}
.column-zdj li{display:inline;float:left;width:240px;height:386px;margin-left:20px;color:#666;font-family:Microsoft YaHei, "微软雅黑";line-height:14px;}
.column-zdj .pic,.column-zdj .pic img{width:238px;height:238px;}
.column-zdj .pic{display:block;position:relative;z-index:0;overflow:hidden;margin-bottom:2px;border:1px solid #e4e4e4;transition:border 0.4s ease-in-out}
.column-zdj .pic:hover,.bp-player .pic:hover{border-color:#EB7E00}
.column-zdj .pic small{display: none;position:absolute;bottom:-100%;left:0;z-index:1;width:208px;padding:10px 15px;background-color:#000;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);background:rgba(0,0,0,.5);color:#fff;transition:bottom .4s ease-in-out}
.column-zdj .pic:hover small{/*bottom:0;*/ display: none;}
.column-zdj .pic .data-numb{ position: absolute; right: 10px; bottom: 10px;}
.column-zdj small strong{display:block;height:36px;overflow:hidden;word-break:break-all;line-height:18px;}
.column-zdj small span{display:block;margin:2px 0 8px;padding-bottom:16px;border-bottom:1px dashed #fff;}
.column-zdj small b{float:right;font-weight:normal;}
.column-zdj small u{float:right}
.column-zdj li a{color:#666;}
.column-zdj li a:hover,.column-zdj p b,.side-menu li.no-data a:hover,.bp-player .tit:hover{color:#EB7E00}
.column-zdj li p{padding-bottom:6px;}
.column-zdj li p u{float:right;color:#999}
.column-zdj .tit{display:block;width:238px;height:14px;overflow:hidden;margin-top:4px;margin-bottom:11px;white-space:nowrap;text-overflow:ellipsis;}
.column-zdj li .bt_yellow{margin-top:9px;}
.column-zdj li .bt_yellow,.column-zdj li .bt_yellow:hover{color:#fff;}
.column-zdj .page{margin-left:20px;width:auto}
/***历史最低价 -End- gaotian - 20131119***/

/***商家大比拼 -Start- gaotian - 20131119***/
.column-bp .medal{display:inline-block;width:18px;height:16px;margin-right:2px;background-image:url(../../../images/jiagebaogao/bg.png);font-size:0;line-height:0;vertical-align:-3px;_vertical-align:-2px}
.medal-gold{background-position:-118px 0}
.medal-silver{background-position:-140px 0}
.medal-bronze{background-position:-160px 0}
.column-bp{display:inline;float:left;width:760px;margin-left:20px;border-top:1px solid #e4e4e4}
.bp-table{width:760px;border:1px solid #e4e4e4;_border-top-color:#fff;line-height:14px;font-family:Arial;text-align:center;}
.bp-table thead th{padding:18px 0;border:1px solid #e4e4e4;border-top-color:#fff;background:#f5f5f5;color:#666;font-weight:bold;font-size:14px;text-align:center;}
.bp-table td{padding:26px 14px;border:1px solid #e4e4e4;}
.bp-player .pic,.bp-player .pic img{width:98px;height:98px;}
.bp-player .pic{float:left;border:1px solid #e4e4e4}
.bp-player .tit{display:inline;float:left;width:110px;margin:4px -20px 0 10px;color:#666;line-height:18px;text-align:left}
.bp-tdCont{height:148px;overflow:hidden;margin:-27px -14px;}
.bp-tdCont table{width:101%;margin:-1px -1px -2px -2px;color:#666;text-align:center;}
.bp-tdCont td{height:60px;border-style:dashed;text-align:center;}
.bp-tdCont .img{height:87px;_height:92px;}
.bp-tdCont .img .data-numb{ margin: 0 auto;}
*html .bp-tdCont .img a{display:block;width:110px;height:56px;overflow:hidden;}
.bp-tdCont .img img{_width:110px;max-width:110px;max-height:56px;}
.bp-tdCont b{display:block;padding-bottom:8px;font-weight:normal;font-size:12px;}
.bp-table .price{color:#666;font-size:14px;line-height:18px;font-family:"Microsoft YaHei",Simhei,Arial;}
.bp-table .price s{margin-right:2px;}
.bp-tdCont td{padding:0}
.column-bp .page{padding:20px 0;}
/***商家大比拼 -End- gaotian - 20131119***/
