@red:#db000f;
@hover:#eb7e00;
@c333:#333;
@c666:#666;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';

.starset .crumb-star { height: 50px; line-height: 50px; background: none; margin-bottom: 0; border-bottom: none;}
.starset .crumb-star span { font-family:\5FAE\8F6F\96C5\9ED1; display:block; float:left; height:50px;}
.starset .crumb-star span a:hover { color:@c333;text-decoration:none; }
.starset .crumb-star span a em  { border-bottom:2px solid @red; color:@c333; display: block; height: 48px; padding: 0 4px;}

.starset table { margin-bottom: 30px; border:1px solid #ddd; width:100%;}
.starset th { padding-left: 20px; border:1px solid #ddd; width:100%; background: #f4f4f4; height: 40px;}
.starset th a { padding: 0 5px; color:@c666;}
.starset th a:hover { color:@hover;}
.starset th a strong { font-weight: bold;}
.starset td { padding: 20px;}
.starset table .upper {  font-size:16px; font-weight: bold; height: 30px; display: block; float:left; line-height: 30px; width:50%; border-bottom:1px solid #ddd; }
.starset table .all { height: 30px; line-height:30px; display: block; float:left; width:50%; text-align:right; border-bottom: 1px solid #ddd;}
.starset table .all a { color:@c666; font-family: @songti;}
.starset table .all a:hover { color:@hover;}
.starset td  { line-height: 30px;}
.starset td .row { margin-bottom:10px;}
.starset .names span  {  float:left; width:120px;  }
.starset .names { line-height:20px; padding-top: 10px;}
.starset .names a { color:@c666; }
.starset .names a:hover { color:@hover;}

.starset .col-main { width:780px; }
.starset .col-sub { margin-bottom: 20px; width:180px; }
.starset .col-sub.nob { padding-top:0;}
.starset .col-sub .panel { margin-bottom: 20px;}
.starset .col-sub .panel h3 { border-bottom: 1px solid @border1; height:40px; line-height: 40px; padding-left: 10px; font-size:16px; font-family: @yahei;}
.starset .col-sub .box-ad { margin-bottom: 20px;}
.starset .col-sub .panel .box { padding:10px; margin: 0; }
.starset .col-sub .panel .box div { margin-bottom:10px;}
.starset .col-sub .panel .box div.t-c { text-align: center;}
.starset .col-sub .panel .box div span { font-weight: bold;}
.starset .col-sub .panel .box div p { color:@c999;}

.star-detail { border:1px solid @border1; border-top:none; margin-bottom: 30px;}
.star-detail .star-head { float:left; width:278px; border-right: 1px solid @border1; background: #fafafa; padding-bottom: 500px; margin-bottom: -500px; }
.star-detail .star-head .text { height: 163px; padding: 20px 20px 0; color:@c333; text-indent: 20px; border-top:1px solid @border1; }
.star-detail .border { border-bottom: 1px solid @border1; overflow: hidden;}
.star-detail .star-intro { float:left; width:499px;}
.star-detail .star-intro h2 { background: #fafafa; height: 60px; line-height: 60px; padding-left: 30px; font-size:24px; border-bottom:1px solid @border1; color:@c333; width:469px;}
.star-detail .star-intro ul { padding:25px 30px 0; }
.star-detail .star-intro li { margin-bottom:10px;}
.star-detail .star-intro .tit,.star-detail .star-intro .text { float:left; line-height: 20px;}
.star-detail .star-intro .tit { color:@c999; width:84px;}
.star-detail .star-intro .text { width:350px;}
.star-detail .detail-context { padding: 30px;  }
.star-detail .detail-context strong{ font-weight: bold;}
.star-detail .detail-context h3 { font-size:18px; font-weight: bold; font-family: @yahei; height: 40px; line-height: 40px; border-bottom:1px solid @border1; margin-bottom: 20px;}
.star-detail .detail-context ol { margin-bottom: 20px; margin-right: -64px;}
.star-detail .detail-context ol li{ float:left; margin-right: 64px;}
.star-detail .detail-context ol li.last{   margin-right: 0px;}
.star-detail .detail-context ol li .pic { display: block; position:relative; height:130px; height:200px;}
.star-detail .detail-context ol li .pic span { background:url("/static/images/korea/bg-alpha.png"); color: #FFFFFF;cursor: pointer;display: block; height: 26px; left: 0;line-height: 26px; position: absolute;text-indent: 10px; width: 100%; bottom:0;}
.star-detail .detail-context ol li p { padding:5px 0;}
.star-detail .detail-context ol li .btn { background: @red; color:#fff; display: block; width:68px; height: 30px; line-height: 30px; text-align: center;}
.star-detail .detail-context ol li .btn:hover { text-decoration: none;}
.star-detail .detail-context ul { margin-bottom: 20px;}
.star-detail .detail-context ul li { margin-bottom: 20px;}
.star-detail .detail-context ul li .l { width:140px;}
.star-detail .detail-context ul li .r { width:550px;}
.star-detail .detail-context ul li .r h4 { color:@c333; margin-bottom: 20px;}
.star-detail .detail-context ul li .r h4 span { float:right; color:@c999; }
.star-detail .detail-context ul li .r p { text-indent: 20px; line-height: 20px; }
.star-detail .detail-context h4.more { text-align: right; font-size:14px; font-family: @songti; margin-bottom: 20px;}
.star-detail .commentad { width:696px; margin: auto;}
.star-detail .commentad h3 { font-size: 14px;}
