/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a {
  text-decoration: none;
}
input,
textarea,
select {
  font-family: "Open Sans", Verdana, 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
  outline: none;
}
.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
}
/*===================超级帮豆板块===============================================*/
.super_bdbox .superbd_wid {
  width: 980px;
  margin: 0 auto;
  font-family: "微软雅黑";
}
.super_bdbox .superbd_banner {
  height: 265px;
  margin-bottom: 11px;
  background: url(/static/images/huodong/superbd/index/img-top-main.gif) no-repeat center center;
}
.super_bdbox .superbd_freenews {
  width: 250px;
  height: 36px;
  line-height: 36px;
  margin: 0 0 9px 222px;
  background-color: #FFDC7E;
  color: #82640A;
  font-size: 24px;
  font-weight: bold;
  font-family: "微软雅黑";
  text-align: center;
}
.super_bdbox .superbd_freenews a {
  color: #82640A;
}
.super_bdbox .superbd_main {
  margin-bottom: 30px;
  position: relative;
}
/*===============超级帮豆内容部分左侧板块===============*/
.super_bdbox .superbd_main .superbd_mainl {
  float: left;
  width: 648px;
  border: 1px solid #F0F0F0;
  margin-right: 10px;
}
.super_bdbox .superbd_main .superbd_mainl .superbd_steps ul {
  height: 50px;
}
.super_bdbox .superbd_main .superbd_mainl .superbd_steps ul li {
  display: block;
  float: left;
  width: 321px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #323232;
  background-color: #FFFFFF;
  cursor: pointer;
}
.super_bdbox .superbd_main .superbd_mainl .superbd_steps ul li.marr {
  margin-right: 6px;
}
.super_bdbox .superbd_main .superbd_mainl .superbd_steps ul li.on {
  color: #F28100;
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content {
  padding: 0 11px 0 10px;
}
.super_bdbox .superbd_main .superbd_mainl .disno {
  display: none;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login {
  margin-bottom: 20px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login h3 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  color: #666666;
  border-bottom: 3px solid #F18101;
  margin-top: 11px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog {
  background-color: #F7F7F7;
  padding: 0 0 45px 143px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog .formlog_title {
  height: 35px;
  line-height: 35px;
  margin-left: 83px;
  padding: 11px 0 14px 43px;
  font-size: 16px;
  color: #333333;
  background: url(/static/images/huodong/superbd/index/icon-logo.png) no-repeat left 11px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog .form_box {
  margin-bottom: 10px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog .form_box b {
  display: block;
  float: left;
  width: 71px;
  line-height: 34px;
  height: 34px;
  font-size: 14px;
  color: #666666;
  font-weight: normal;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog .form_box p {
  display: block;
  float: left;
  width: 413px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog .form_box p .inptext {
  width: 215px;
  padding: 7px 0 7px 5px;
  border: 1px solid #E3E3E3;
  margin: 0;
  color: #666666;
}
.checkbox {
  vertical-align: middle;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog .form_box .agreenews {
  height: 53px;
  line-height: 53px;
  padding-bottom: 8px;
  font-size: 12px;
  color: #343434;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog .form_box .agreenews a {
  color: #3267CD;
  cursor: pointer;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog .form_box .agreenews a:hover {
  text-decoration: underline;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog .form_box p .button {
  width: 152px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #F5772B;
  cursor: pointer;
  background-color: #F79100;
  color: #FFFFFF;
  font-size: 18px;
  padding: 0;
  margin: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog .form_box p .button:hover {
  background-color: #FF9600;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .superbd_login .formlog .form_box p .directlog {
  color: #F18200;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .b5tload {
  width: 628px;
  height: 306px;
  background: url(/static/images/huodong/superbd/index/img-bg-download.png) no-repeat left center;
  margin-bottom: 20px;
  position: relative;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .b5tload .downloadb5t {
  display: block;
  width: 163px;
  height: 99px;
  line-height: 70px;
  background: url(/static/images/huodong/superbd/index/icon-button-download.png) no-repeat left center;
  position: absolute;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  padding-left: 83px;
  left: 191px;
  bottom: 36px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .for_entry {
  margin-bottom: 6px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .for_entry dl {
  padding-bottom: 23px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .for_entry dl dt {
  display: block;
  float: left;
  width: 74px;
  height: 24px;
  line-height: 24px;
  background-color: #99CA5D;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .for_entry dl dd {
  display: block;
  float: left;
  width: 544px;
  line-height: 24px;
  padding-left: 9px;
  color: #333333;
  font-size: 12px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .for_entry dl dd p a {
  color: #F38000;
}
/*===========================*/
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab {
  border: 1px solid #EFEBE0;
  margin-top: 20px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab h4 {
  height: 33px;
  line-height: 33px;
  font-size: 18px;
  font-weight: bold;
  color: #656565;
  background-color: #F5F0EA;
  padding-left: 19px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab h5 {
  height: 33px;
  line-height: 33px;
  font-size: 12px;
  color: #666666;
  background-color: #FFFFFF;
  padding-left: 7px;
  border-left: 3px solid #FFAD00;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab h5 b {
  font-weight: bold;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab h5 span {
  color: #F38001;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bd_tabsteps {
  padding: 14px 0 5px 22px;
  background-color: #FCFBF9;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bd_tabsteps p {
  height: 23px;
  line-height: 23px;
  color: #333331;
  font-size: 14px;
  margin-bottom: 11px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bd_tabsteps p span {
  display: block;
  float: left;
  width: 19px;
  height: 23px;
  color: #FFFFFF;
  background: url(/static/images/huodong/superbd/index/img-bg-number.png) no-repeat left top;
  margin-right: 6px;
  text-align: center;
  font-size: 20px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bd_tabsteps table {
  font-size: 12px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bd_tabsteps table tr {
  height: 30px;
  line-height: 30px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bd_tabsteps table tr td span {
  color: #EF8203;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bdtable {
  font-size: 12px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bdtable thead tr {
  height: 38px;
  line-height: 38px;
  color: #656565;
  background-color: #F5F0EA;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bdtable tbody tr {
  line-height: 22px;
  border-bottom: 1px dashed #F5F2ED;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bdtable tr td {
  padding: 0;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bdtable tbody tr td {
  color: #666668;
  background-color: #FCFBF9;
  padding: 10px 0;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bdtable tbody tr td.mid {
  text-align: center;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bdtable tbody tr td.firsttd {
  padding-left: 5px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .bdtable tbody tr td span {
  color: #F08002;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .offlinetab thead tr {
  background-color: #FCFBF9;
  font-size: 14px;
  color: #666666;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .offlinetab tr {
  height: 32px;
  line-height: 32px;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .offlinetab tr td {
  padding: 0;
  text-align: center;
  background-color: #FCFBF9;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .bd_tab .offlinetab tr:nth-child(odd) td {
  background-color: #F7F6F1;
}
.super_bdbox .superbd_main .superbd_mainl .superbdl_content .marbot {
  margin-bottom: 20px;
}
/*============end===============*/
/*===============超级帮豆内容部分左侧板块end===============*/
/*===============超级帮豆内容部分右侧板块===============*/
.super_bdbox .superbd_main .superbd_mainr {
  float: left;
  width: 320px;
}
.super_bdbox .superbd_main .superbd_mainrpos {
  position: fixed;
  top: 0;
}
.super_bdbox .superbd_main .superbd_mainrposa {
  position: absolute;
  bottom: 0;
  right: 0;
}
.super_bdbox .superbd_main .superbd_mainr .latest_user,
.super_bdbox .superbd_main .superbd_mainr .hotgoods,
.super_bdbox .superbd_main .superbd_mainr .list_user {
  border: 1px solid #F0F0F0;
  margin-bottom: 20px;
}
.super_bdbox .superbd_main .superbd_mainr .latest_user h4,
.super_bdbox .superbd_main .superbd_mainr .hotgoods h4,
.super_bdbox .superbd_main .superbd_mainr .list_user h4 {
  height: 30px;
  margin: 5px 0;
  position: relative;
}
.super_bdbox .superbd_main .superbd_mainr .latest_user h4 span,
.super_bdbox .superbd_main .superbd_mainr .hotgoods h4 span,
.super_bdbox .superbd_main .superbd_mainr .list_user h4 span {
  display: block;
  padding: 0 14px 0 23px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: -1px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #F8C34F;
  font-weight: bold;
}
.super_bdbox .superbd_main .superbd_mainr .list_user h4 span.greenbg {
  background-color: #98C157;
}
.super_bdbox .superbd_main .superbd_mainr .hotgoods h4 span.bluebg {
  background-color: #31B7D0;
}
.super_bdbox .superbd_main .superbd_mainr .tabbox {
  height: 260px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}
.super_bdbox .superbd_main .superbd_mainr .tabbox table {
  font-size: 12px;
}
.super_bdbox .superbd_main .superbd_mainr .tabbox table tr {
  height: 26px;
  line-height: 26px;
}
.super_bdbox .superbd_main .superbd_mainr .tabbox table tr td {
  padding: 0;
  background-color: #F9F8F4;
}
.super_bdbox .superbd_main .superbd_mainr .tabbox table tr:nth-child(odd) td {
  background-color: #ffffff;
}
.super_bdbox .superbd_main .superbd_mainr .tabbox table tr td.firsttd {
  padding-left: 22px;
}
.super_bdbox .superbd_main .superbd_mainr .tabbox table tr td.midletd {
  color: #9A9A9A;
}
.super_bdbox .superbd_main .superbd_mainr .tabbox table tr td.lasttd {
  color: #EF8200;
}
.super_bdbox .superbd_main .superbd_mainr .dlbox {
  height: 380px;
  overflow: hidden;
  margin-bottom: 5px;
  cursor: pointer;
}
.super_bdbox .superbd_main .superbd_mainr .dlbox dl {
  padding: 5px 20px 5px 22px;
  background-color: #FFFFFF;
}
.super_bdbox .superbd_main .superbd_mainr .dlbox dl.gragbg {
  background-color: #F9F8F4;
}
.super_bdbox .superbd_main .superbd_mainr .dlbox dl dt {
  display: block;
  float: left;
  height: 64px;
  width: 64px;
  border: 1px solid #E8EEEE;
}
.super_bdbox .superbd_main .superbd_mainr .dlbox dl dd {
  display: block;
  float: left;
  height: 61px;
  line-height: 22px;
  font-size: 12px;
  color: #666666;
  width: 204px;
  padding: 5px 0 0 6px;
}
/*===============超级帮豆内容部分右侧板块end===============*/
/*===============底部板块===============*/
.foottop {
  border: 1px solid #f5f5f5;
}
.foottop .imgbox {
  background-image: url(/static/images/huodong/superbd/index/img-title.png);
  background-repeat: no-repeat;
  height: 30px;
  margin: 5px 0px 10px 0px;
}
.foottop table tr td {
  padding: 0;
  font-size: 12px;
}
.foottop table tr td.firsttd {
  padding-left: 10px;
}
.foottop table tr td a img {
  width: 126px;
  height: 126px;
  border: 1px solid #ededed;
}
.foottop tr td p {
  margin: 5px 0px;
  padding: 0px;
  color: #666666;
  line-height: 20px;
}
.foottop table tr td span {
  line-height: 26px;
  color: #999999;
}
.foottop table tr td span b {
  color: #f18100;
}
.foottop_mid {
  background-color: #f3f3f3;
  margin: 30px 0px;
  font-size: 12px;
}
.foottop_mid table {
  background-color: #FFFFFF;
  border: 1px solid #e3e3e3;
  float: left;
  margin: 10px;
  width: 625px;
  font-size: 12px;
}
.foottop_mid table td.titletd {
  color: #666666;
  height: 31px;
  vertical-align: middle;
  border-left: 3px solid #ffae00;
}
.foottop_mid table td.tabtd {
  color: #666666;
  height: 31px;
  line-height: 31px;
  background-image: url(../../../images/huodong/superbd/index/bg-box-title.png);
  background-repeat: repeat-x;
  width: 30%;
  text-align: center;
  padding: 0;
}
.foottop_mid table td.tdtd {
  height: 31px;
  line-height: 31px;
  text-align: center;
}
.foot_bottom {
  margin: 24px 0 22px;
}
.foot_bottom p {
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
  color: #333333;
}
.foot_bottom p b {
  color: #666666;
}
.foot_bottom p a {
  color: #F17F02;
}
/*===============底部板块 end===============*/