@red:#fb0303;
@hover:#eb7e00;
@orange:#eb7601;
@c000:#000;
@c666:#666;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';
.opacity{filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#b2000000', EndColorStr='#b2000000');}
a{ color: #333;}
a:hover{ text-decoration: none;color: #333;}
.red{ color: @red;}
/*通用顶部 -Start-Gaotian-20131225*/
.header-tools-search .header-search-content{}
.header-search-content #scbar_txt{border:1px solid #c8c8c8;}
.header-rearch-submit,.header-nav-box{background:#db000f}
.header-rearch-submit:hover{background:#b00000;}
.header-nav-back s{border-left-color:#db000f}
.header-nav-box li{border-color:#E2404B}
.header-nav-box li a:hover{background-color:#C5000D}
.header-nav-box .cur a, .header-nav-box .cur a:hover{background:#000;color:#fff}
/*通用顶部 -End-Gaotian-20131225*/

.crumb-star { height:50px; line-height:50px; border-bottom: none; background:url("http://staticcdn.b5m.com/images/korea/line-2.png") repeat-x bottom; margin-bottom: 20px;}
.crumb-star span { font-family:\5FAE\8F6F\96C5\9ED1; display:block; float:left; height:40px; padding: 0 5px;}
.crumb-star span a:hover { color:#333; text-decoration:none;}
.crumb-star span a em  { border-bottom:2px solid #db000f; color:#333; display: block; height: 48px; padding: 0 4px;}

.ban-video{ width: 100%; height: 550px; position: relative;}
.ban-video .play-ban{width: 100%; height: 550px; position: absolute; z-index: 0; left: 0; top: 0; cursor: pointer; }
.ban-video .movie{ z-index: 1; position: absolute;width: 100%; height: 550px;}

.video-share{ height: 50px; overflow: hidden; line-height: 50px; background: #f0f0f0; border-bottom: 1px #ddd solid; margin-bottom: 10px;}
.video-share h2{ float: left; line-height: 50px; font-size: 18px; font-family: "microsoft yahei"; margin-left: 10px; color: #333333;}
.video-share .share-cont {  width: 210px;  float: right;  height: 28px;  margin: 14px 10px 0 0;}
.video-l{ width: 634px; float: left;}
.video-r{ width: 310px; float: right;}
.video-cont{ margin-bottom: 20px;}
.video-cont .title{ height: 40px; line-height: 40px; overflow: hidden;}
.video-cont .title span{ float: right;}
.video-cont .title span a{font-family: @yahei; font-size: 14px; color: #ff0000;}
.video-cont .title h2{ float: left; font-size: 18px; font-family: @yahei; background: #fff; padding-right: 30px;}
.video-cont .title .line{ height: 20px; border-bottom: 1px #ddd dashed; float: left; width: 100%; margin-bottom: -21px;}
/*明星热烈祝贺 s*/
.star-zhuhe{ margin-bottom: 10px;}
.star-play{ width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 10; background: url("../../../images/korea/video/paly-layer.png") no-repeat center center; cursor: pointer;}
.star-cont,
.img-cont{ width: 100%; height: 384px;}
.star-cont{ position: relative;}
.star-cont .tip{ background: url("../../../images/korea/video/dujia-icon.png") no-repeat; width: 130px; height: 74px; position: absolute; right: -20px; top: -21px; z-index: 12; border: none;}
.img-cont{ position: absolute; z-index: 0;}
.star-cont .star-play a{ width: 100%; height: 100%; display: block;}
.img-cont .tit,
.img-cont .bg{ width: 100%; height: 40px; position: absolute; bottom: 0; text-align: center;}
.img-cont .bg{background: #000; opacity: 0.6;  filter:alpha(opacity= 60); z-index: 1;}
.img-cont .tit{ line-height: 40px;font-size: 18px; font-family: @yahei; color: #fff;  z-index: 2;}
.img-cont .tit a{ color: #fff;}
/*明星热烈祝贺 e*/
/*相关视频 s*/
.xg-video-cont,
.bgyl-cont{ background: #f1f1f1; border-top:1px #cccccc solid; padding: 10px 0; position: relative; width: 100%; }
.xg-video-cont{ height: 414px;}
.xg-video-cont .xg-items{}
.xg-video-cont .arr,
.bgyl-cont .arr{ width: 14px; height: 6px; background: url("../../../images/korea/video/arr-icon.png") no-repeat; position: absolute; left: 25px; top: -6px;}
.xg-video-cont .xg-items li{ width: 172px; float: left; height: 124px; overflow: hidden; margin: 10px 5px 0 25px; }
.xg-video-cont .xg-items .pic{ width: 172px; height: 98px; position: relative;}
.xg-video-cont .xg-items .play-btn{ width: 100%; height: 100%; position: absolute; background: url("../../../images/korea/video/paly-layer-m.png") no-repeat; top: 0; display: none;}
.xg-video-cont .xg-items .pic a:hover .play-btn{ display: block}
.xg-video-cont .xg-items .tit{ line-height: 32px;}
/*相关视频 e*/
/*相关娱乐资讯 s*/
.ylzx-items{ margin-bottom: -20px;}
.ylzx-items li{ margin-bottom: 20px;}
.ylzx-items .pic{ width: 280px; height: 160px; padding: 12px 15px; border: 1px #dfdfdf solid;}
.ylzx-items .tit{ padding-top: 10px; line-height: 20px; height: 80px; overflow: hidden;}
.ylzx-items .tit a{ color: @c666;}

/*相关娱乐资讯 e*/
/*八卦娱乐 e*/
.bgyl-cont .pic-items{ float: left; _display: inline; margin-left: 50px; width: 140px;}
.bgyl-cont .pic-items li{ width: 100%; height: 80px; overflow: hidden; margin-top: 10px;}
.bgyl-cont .pic-items li img{ width: 140px; height: 80px;}
.bgyl-cont .pic-items .tit{ height: 20px; line-height: 20px; text-align: center; margin-top: -20px; background: #000; opacity: 0.7;  filter:alpha(opacity= 70);}
.bgyl-cont .pic-items .tit a{ color: #fff;}
.bgyl-cont .news-items{ float: left; width: 260px; margin-left: 15px; padding: 5px 0;}
.bgyl-cont .news-items li{ background: url("../../../images/korea/video/li-2.png") no-repeat left center; height: 26px; line-height: 26px; padding-left: 10px; overflow: hidden;}
/*八卦娱乐 e*/

/*详情页开始*/
.video-il{ width: 700px; float: left;}
.video-ir{ width: 262px; float: right;}
.xgsp-items{ margin-bottom: -20px;}
.xgsp-items li{ height: 88px; overflow: hidden; margin-bottom: 20px;}
.xgsp-items .pic{ width: 130px ;float: left; margin-right: 10px; _display: inline; padding: 5px; border: 1px #ddd solid;}
.xgsp-items .xgsp-r{ width: 110px; float: left;}
.xgsp-items .tit{ height: 36px; line-height: 18px; overflow: hidden; display: block;}
.xgsp-items .read-numb{ height: 20px; line-height: 20px; background: url("../../../images/korea/video/v-icon.png") no-repeat left 5px; padding-left: 18px; color: @c999;}
.xgsp-items .click-numb{ height: 20px; overflow: hidden; line-height: 20px;}
.xgsp-items .click-numb span{ padding-left: 22px; float: left; width: 30px; background: url("../../../images/korea/video/v-icon.png") no-repeat;}
.xgsp-items .click-numb .z{ background-position:  left -28px;}
.xgsp-items .click-numb .p{ background-position:  left -59px;}


/* 所有所有评论 */
.allcomment { margin:10px 0;}
.allcomment .b-top,.allcomment .b-bottom,.allcomment .content { background: url("../../../images/korea/video/bg-allcomment.png") no-repeat;}
.allcomment .b-top { height: 10px; }
.allcomment .b-bottom { height: 10px; background-position: 0px -10px; }
.allcomment .content { background-position: -980px 0px; background-repeat:repeat-y; padding: 0 20px; }
.allcomment .count { line-height: 32px; font-size:14px; background: url("../../../images/korea/video/line-2.png") repeat-x bottom;  }
.allcomment .count span { color: #000; }
.allcomment .count p { border-bottom: 2px solid #f82244; float: left; }
.allcomment .list {  overflow:hidden; width:100%; }
.allcomment .list li { background: url("../../../images/korea/video/line-1.png") repeat-x top; padding: 10px 0; margin-top: -1px;}
.allcomment .list li.last { background: none;}
.allcomment .list .head { width:70px; float: left; overflow:hidden; }
.allcomment .list .head img { border:1px solid #ececec; padding: 4px; background: #fff; }
.allcomment .list .context { width:628px; float:left; }
.allcomment .user { margin-bottom: 4px; position: relative;}
.allcomment .user a { color:#336699; }
.allcomment .text { line-height: 20px; color:#666; font-size:14px; margin-bottom: 2px; }
.allcomment .info { color:#666; }
.allcomment .more { text-align:right; padding-top: 10px;}
.allcomment a { color:#369;}
.allcomment a em { font-family: '宋体';}
.col-main .allcomment .list .context { width:626px; }

.allcomment.more .content { background: none; padding: 0; }
.allcomment.more .count { margin-bottom: 10px;}
.allcomment.more .stars { margin-bottom: 15px;}
.allcomment.more .stars span { float:left; display: block; margin-top: 2px;}
.allcomment.more .star { float:left; width:100px; margin:0 15px 0 4px;}
.allcomment.more .text { color:#333; font-size:12px; margin-bottom: 15px;}
.allcomment.more .info strong { color:#db000f; }
.allcomment.more .list li { padding:15px 0;}
.allcomment.more .pics { margin-bottom: 10px;}
.allcomment.more .pics img { border: 1px solid #cfcfcf; padding: 1px; margin-right:15px;}

/* 评论start */
.star { background: url("../../../images/korea/video/star.png") no-repeat; height:20px; width:150px; overflow: hidden;}
.star span { display: block; cursor: pointer; width:18px; text-indent: -9999px; float:left; }
.star.disabled span { cursor:default;}
.star em { text-align: center; width:40px; float:left; display: block; font-size:14px; font-weight: bold; color: #eb7e00;}
.list-korea .list .star em.gray { color:#666; font-size:14px;}
.star.s1 { background-position: 0px -20px;}
.star.s2 { background-position: 0px -40px;}
.star.s3 { background-position: 0px -60px;}
.star.s4 { background-position: 0px -80px;}
.star.s5 { background-position: 0px -100px;}
.star.view em { margin-left: 100px;}

/* dialog */
.dialog { display: none; position: fixed; _position: absolute; background: #fff;  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); border:1px solid #bbb; padding:25px 15px 15px; z-index: 1000; left:0; top:0; overflow: hidden; }
.dialog-content { display: none; }
.dialog .dialog-content { display: block;}
.dialog-mask { width:100%; z-index:999; position: fixed; _position: absolute; top:0; left:0; opacity: 0.2; background-color: #000; display:none; filter:alpha(opacity=20);}
.dialog .dialog-close { position: absolute; right:8px; top:8px; width:14px; height:14px; overflow: hidden; background:url("../../../images/korea/video/ico-dialog-close.png"); text-indent: -9999px;}
/* 详情页 slider */
.dialog-image-slider .prev,.dialog-image-slider .next { position: absolute; top:120px;  background: url("../../../images/korea/video/slider-arrow.png") no-repeat; display: block; width:16px; height: 32px; overflow: hidden; text-indent: -9999px;}
#dialog-map #map-canvas-large { width:870px; height:600px;}
.dialog-image-slider .prev { background-position: 0px -32px; left:0; }
.dialog-image-slider .prev:hover { background-position: -16px -32px;}
.dialog-image-slider .prev.first,.dialog-image-slider .prev.first:hover { background-position: 0px 0px; cursor: default;}

.dialog-image-slider .next { background-position:-32px -32px;  right:0;}
.dialog-image-slider .next:hover { background-position: -48px -32px;}
.dialog-image-slider .next.last,.dialog-image-slider .next.last:hover {  background-position: -32px 0px; cursor:default;}

.dialog-image-slider { width:360px; margin:0 auto; position: relative;}
.dialog-image-slider .container { width:300px; height:300px; margin:auto; overflow: hidden; position: relative;}

.dialog-image-slider ul li { float:left; width:300px; height:300px; overflow: hidden;}
/* 底部评论 */

.commentad .panel { width:100%;}
.commentad .row-l { width:90px; }
.commentad .row-c { width:610px;  }
.allcomment.more .content .list{ width: 100%;}
.allcomment.more .list .context{ width: 630px;}


/*详情页结束*/