<ul class="step-bar setting-step mobile-step cf">
	<li class="step-bar__first step-bar--cur">输入手机号码</li>
	<li class="step-bar--cur--prev">完成验证</li>
</ul>
<div class="step-content">
	<div class="form-h form-step">
		<form id="sendMsgToMobileForm">
			<div class="item">
				<label for="phone-num">输入手机号码：</label>
				<%if(mobile!='' && mobile != null){%>
					<input type="text" class="input-mid txt" name="mobile" id="mobile" maxlength=11 disabled="disabled"  value="<%=mobile%>">
				<%}else{%>
					<input type="text" class="input-mid txt" name="mobile" id="mobile" maxlength=11 value="<%=mobile%>">
				<%}%>
				<input type="button" id="getValidatCode"  class="btn btn-yellow btn--getcode get_code" value="获取验证码">
				<span class="cl-999"></span>
			</div>
		</form>
		<form id="validateCodeForm">
			<div class="item">
				<label for="phone-num">验证码：</label>
				<input type="text" class="input-mini txt" maxlength=6 name="code" id="code" disabled="disabled">
				<span class="cl-999"></span>
			</div>
			<div class="item">
				<input type="button" id="validateMobileCode" class="btn btn-grey btn--getcode get_code" disabled="disabled" value="下一步">
			</div>
		</form>
	</div>
</div>
