/**
*Document:帮5淘插件-index
*Creat:13-8-26 上午11:28
*Author:junli.shen@b5m.com
**/
hr,u,s,del,small,address{margin:0;padding:0}
.wp{width:980px;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.clear-fix:after,.clear-fix:before{content:" ";display:table;}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.list-h{overflow:hidden;}
.list-h li{float:left;}
img{vertical-align:top;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
/*header-logo s*/
.header-logo{width:980px;margin:0 auto;padding-bottom:14px;}
.header-logo .fl{float:left;}
.header-logo .fr{float:right;}
.header-logo .logo,
.header-logo .logo-intro{float:left;_display:inline;}
.header-logo .logo{width:197px;margin-top:12px;}
.header-logo .logo-intro{margin-left:18px;margin-top:42px;}
.header-logo .logo-side{margin-top:18px;}
.tao .header-rearch-hotkey{color:#999}
/*header-logo e*/

.tao .header-nav{background:#f68400;}
.tao .header-nav li{ border-left:1px solid #f49960;}
.tao .header-nav .b5m-home a{background-color:#7FA300;}
.tao .header-nav a{color:#fff;font-size:16px}
.tao .header-nav li a.this{ background:#F5F5F5;color:#4c4c4c;}
.tao .header-nav .b5m-home a{ background:#d96d25 url(../../images/common/header-nav.png) no-repeat  -110px 13px;}
.tao .header-nav a:hover,.tao .header-nav .b5m-home a:hover{background-color:#f5f5f5;color:#4c4c4c}
.tao .header-search{ background:#F5F5F5; height:33px; padding:7px 0;}
.tao .header-rearch-submit{background:#F68400;}
.tao .header-search-content label{background-position:-2px -70px;}
.tao .header-rearch-hotkey a{color:#999;}
.tao .header-rearch-hotkey a:hover{color:#F68400;}

.goods-list{width:750px;height:131px;padding:7px 0 0 10px;border:1px solid #A7CB26;}
.goods-list li{width:250px;font-size:0;}
.goods-list .media{display:inline-block;*display:inline;*zoom:1;position:relative;width:150px;height:100px;vertical-align:bottom;}
.goods-list .media i{position:absolute;width:24px;height:20px;padding-left:3px;font-weight:700;font-family:\5B8B\4F53;color:#fff;top:-1px;left:-1px;font-style:normal;font-size:12px;background:url(../../images/tao/tao_icon.png) no-repeat 0 0 scroll;
    _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/tao/tao_icon.png", sizingMethod="crop");}
.goods-list .txt{display:inline-block;*display:inline;*zoom:1;width:90px;padding-left:10px;line-height:24px;overflow:hidden;vertical-align:bottom;font-size:12px;}
.goods-list .des{display:inline-block;*display:inline;*zoom:1;margin-top:8px;color:#666;font-weight:700;font-size:12px;}
.goods-list .new-price{color:#FF3833;font-family:Tahoma;font-weight:700;font-size:24px;}
.goods-list .new-price b{font-family:Arial;font-size:18px;}
.goods-list .old-price{display:block;font-weight:700;}
.tao-intro{width:190px;height:130px;padding:8px 0 0 16px;border:1px solid #E4E4E4;}
.tao-intro dt{margin-bottom:4px;font-size:14px;font-weight:700;color:#333;font-family:\5FAE\8F6F\96C5\9ED1;}
.tao-intro dd{padding-left:20px;line-height:22px;background:url(../../images/tao/arrow.png) no-repeat 0 4px scroll;}

.tao-1{border-bottom-color:#92B125}
.tao-1 .floor-tit-more,
.tao-1 .floor-tit-num{background-color:#92B125}
.tao-1 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#92B125}
.slider-1{border-color:#92B125;color:#92B125}
.slider-1 .slider-nav-li a,.slider-1 .more a{color:#92B125}
.slider-1 li.cur a,
.slider-1 .slider-nav-li a:hover{background:#92B125;color:white}
.slider-1 .slider-nav-li em{border-color:#92B125 transparent transparent;}
.slider-1 .slider-page a.cur, .slider-1 .slider-page a:hover{background-color:#92B125}

.tao-2{border-bottom-color:#64B125}
.tao-2 .floor-tit-more,
.tao-2 .floor-tit-num{background-color:#64B125}
.tao-2 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#64B125}
.slider-2{border-color:#64B125;color:#64B125}
.slider-2 .slider-nav-li a,.slider-2 .more a{color:#64B125}
.slider-2 li.cur a,
.slider-2 .slider-nav-li a:hover{background:#64B125;color:white}
.slider-2 .slider-nav-li em{border-color:#64B125 transparent transparent;}
.slider-2 .slider-page a.cur, .slider-2 .slider-page a:hover{background-color:#64B125}

.tao-3{border-bottom-color:#77B231}
.tao-3 .floor-tit-more,
.tao-3 .floor-tit-num{background-color:#77B231}
.tao-3 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#77B231}
.slider-3{border-color:#77B231;color:#77B231}
.slider-3 .slider-nav-li a,.slider-3 .more a{color:#77B231}
.slider-3 li.cur a,
.slider-3 .slider-nav-li a:hover{background:#77B231;color:white}
.slider-3 .slider-nav-li em{border-color:#77B231 transparent transparent;}
.slider-3 .slider-page a.cur, .slider-3 .slider-page a:hover{background-color:#77B231}

.tao-4{border-bottom-color:#99B500}
.tao-4 .floor-tit-more,
.tao-4 .floor-tit-num{background-color:#99B500}
.tao-4 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#99B500}
.slider-4{border-color:#99B500;color:#99B500}
.slider-4 .slider-nav-li a,.slider-4 .more a{color:#99B500}
.slider-4 li.cur a,
.slider-4 .slider-nav-li a:hover{background:#99B500;color:white}
.slider-4 .slider-nav-li em{border-color:#99B500 transparent transparent;}
.slider-4 .slider-page a.cur, .slider-4 .slider-page a:hover{background-color:#99B500}
.floor-tit{margin-top:24px;}
.tao-line{height:3px;margin:30px 0 20px;background-color:#5D5D5D;line-height:0;overflow:0;font-size:0;overflow:hidden;}
/*tao search start*/
.row-result{margin-top:16px;background-color:#fff}
.row-result .col-1{width:748px;}
.row-result .col-2{width:232px;}
.breadcrumb{margin-bottom:10px;font-size:14px;color:#666;}
.breadcrumb .search-key{color:#f89500;}
.row-result .mod{float:left;margin:0 17px 17px 0;}
.mod{width:212px;height:300px;border:1px solid #D6D6D6;padding:4px 9px 10px;font-size:12px;}
.mod .tit{margin-bottom:6px;line-height:1;}
.mod .tit a{color:#666;line-height:22px;}
.mod .tit a:hover{color:#f89500;}
.mod .mod-pic{position:relative;display:block;width:212px;height:212px;}
.mod .mod-pic .mod-price{position:absolute;width:100%;height:30px;line-height:30px;left:0;bottom:0;color:#ccc;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
    background:rgba(0,0,0,0.5);
}
:root .rgba{filter:none;}/*for IE9*/
.mod .mod-pic .mod-price del{float:left;margin-left:10px;_display:inline;}
.mod .mod-pic .mod-price span{float:right;margin-right:10px;_display:inline;}
.mod .mod-pic .mod-price em{color:#fff;padding:0 4px;}
.mod .mod-buy{height:40px;line-height:38px;padding:0 10px;background-color:#F68400;}
.mod .mod-buy span{float:left;font-size:27px;font-family:Tahoma;color:#fff;}
.mod .mod-buy b{font-size:18px;font-family:arial;font-weight:400;}
.mod .mod-buy .mod-btn{width:74px;height:28px;line-height:28px;margin-top:6px;font-weight:700;font-family:\5FAE\8F6F\96C5\9ED1;text-align:center;float:right;color:#495e00;background-color:#E4FF00;
    -webkit-box-shadow:1px 2px 3px rgba(0,0,0,.1);
    -moz-box-shadow:1px 2px 3px rgba(0,0,0,.1);
    box-shadow:1px 2px 3px rgba(0,0,0,.1);
}
.mod-buy-list{border:1px solid #ccc;background-color:#FAFAFA;
    -webkit-box-shadow:0 1px 0 #B4B4B4;
    -moz-box-shadow:0 1px 0 #B4B4B4;
    box-shadow:0 1px 0 #B4B4B4;
}
.mod-buy-list .tit{position:relative;padding:10px 0 0 15px;font-weight:700;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;background-color:#fafafa;}
.mod-buy-list ul{margin-top:-3px;}
.mod-buy-list li{padding:15px 0 15px 15px;border-top:1px solid #fff;border-bottom:1px solid #ECECEC;overflow:hidden;zoom:1;}
.mod-buy-list .pic{float:left;width:50px;margin-right:10px;_display:inline;}
.mod-buy-list .txt{display:table-cell;width:2000px;*width:auto;*display:inline;}
.mod-buy-list .txt a{color:#333;font-weight:700;}
.mod-buy-list .txt p{color:#999;line-height:16px;}
.header-search-content s{position:absolute;top:50%;right:72px;z-index:1;width:11px;height:15px;margin-top:-7px;background:url(../../images/plugin-tao/bg.png) no-repeat}
/*tao search end*/

/* page */
.page { margin:20px 0 30px;}
.page .cur { background-color:#F68400;}
.page a:hover,.page .page-input a {background-color:#F68400;border-color:#F68400;}
.page .page-input input { border-color:#F68400;}

/*Layout-Start-sjl-20130826*/
.floor-search,.pz{position:relative;z-index:0}
.floor-news{margin-top:0}
.floor-news-style li span a:hover{color:#f7a617}
.floor-search{height:auto;overflow:hidden}
.floor-search-hot-key{display:block}
.slider-cont{padding-top:0px;background:none/*url("../../images/plugin-tao/bg_slider.png") repeat-y scroll center top*/}
.floor-news-img{margin-bottom:16px}
/*Layout-End-sjl-20130826*/

/*1F-Start-sjl-20130826*/
.tao{border-bottom-color:#F27929}
.tao .floor-tit-more,.tao .floor-tit-num{background-color:#F27929}
.floor-tao .floor-search-input{background-color:#F27929}
.slider-b5t{border-color:#F27929;color:#F27929}
.slider-b5t .slider-nav-li a,.slider-b5t .more a{color:#F27929}
.slider-b5t li.cur a,.slider-b5t .slider-nav-li a:hover{background:#F27929;color:white}
.slider-b5t .slider-nav-li em{border-color:#F27929 transparent transparent;}
.slider-b5t .slider-page a.cur, .slider-b5t .slider-page a:hover{background-color:#F27929}
.slider-b5t .slider-cont{margin:0;}
.slider-b5t .slider-item{height:316px}
.slider-b5t .slider-item li{height:155px;}
.b5t-plugin{width: 546px;height: 309px;overflow: hidden;background: url(../../images/plugin-tao/b5t_website.jpg) no-repeat 0 0 scroll;color:#999;zoom:1;}
.b5t-plugin a{display: block;height: 254px;font-size:0;overflow: hidden;line-height: 0;}
.b5t-plugin .list-h li{margin:0 15px;text-align: center;}
.b5t-plugin .list-h h3{font-weight:700;color:#f26522;}
.b5t-info{position:relative;height:120px;margin-top:10px;}
.b5t-info dl{padding-left:15px;width:260px;}
.b5t-info dl dt{margin:0 0 12px;font:700 16px \5FAE\8F6F\96C5\9ED1;color:#000;}
.b5t-info dl a{color:#999;line-height: 24px;}
.b5m-plugin{position:absolute;right:45px;bottom:0;z-index:1;width:160px;height:110px;overflow:hidden;background:url(../../images/plugin-tao/pic_1F1.jpg) no-repeat right bottom;text-indent:-100%;}
/*1F-End-sjl-20130826*/

/*colFloor-End-sjl-20130826*/
.colStyle{border-bottom-color:#e9954f}
.colStyle .floor-tit-more,.colStyle .floor-tit-num{background-color:#e9954f}
.floor-news-content{padding-top:6px;}
.floor-search-tip{position:absolute;top:0;right:0;z-index:1}
.floor-colStyle .floor-search-input{background-color:#ea984f}
.slider-colStyle{border-color:#E9954F}
.slider-colStyle li.cur a, .slider-colStyle .slider-nav-li a:hover{background-color:#E9954F;color:#fff;font-weight:bold}
.slider-colStyle .slider-nav-li em,.slider-colStyle .slider-nav-li a:hover em{border-top-color:#E9954F;background:transparent;font-size:0}
.slider-colStyle .slider-nav-li a, .slider-colStyle .more a{color:#333}
.slider-colStyle .slider-cont{margin:0;}
.slider-colStyle .slider-page a.cur,.slider-colStyle .slider-page a:hover{background-color:#E9954F}
.slider-colStyle .titPic{position:absolute;bottom:0;left:0;z-index:1;width:100%;padding:3px 0;color:#fff;text-align:center;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);
}
.floor-news-img hr{position:absolute;bottom:0;left:200px;z-index:1;width:305px;border:none;border-bottom:1px dotted #e4e4e4;}
.floor-news-list li p a{color:#dc873c}
.floor-news-list li p a:hover{color:#fcc700}
.floor-news-img a{display:none}
.floor-news-img .cur{display:block;}
.floor-news-img span{position:absolute;right:0;bottom:6px;z-index:1;float:left;padding-right:4px;font-size:0}
.floor-news-img img{width:186px;height:196px;}
.floor-news-img s{display:inline-block;width:8px;height:8px;margin-right:4px;border:1px solid #999;border-radius:8px;background-color:#c2c2c2;cursor:pointer}
.floor-news-img .tabCur{background:#fff;}
.slider-colStyle .slider-item{height:300px;}
.slider-colStyle .slider-item li .tit,.slider-colStyle2 .slider-item li .tit{height:auto;}
.slider-colStyle .slider-item .tit span,.slider-colStyle2 .slider-item .tit span{display:block;padding-top:3px;color:#999;font-size:12px;}
.slider-item .tit:hover{color:#F7A617;text-decoration:none;}
.slider-colStyle{}
.slider-colStyle .slider-item img,.slider-colStyle .slider-item .pic,.slider-colStyle .slider-item li{width:116px;}
.slider-colStyle .slider-item img,.slider-colStyle .slider-item .pic{height:93px;}
.slider-colStyle .slider-item li{height:145px;margin:0 12px 0 0;padding-top:5px;}
/*colFloor-End-sjl-20130826*/
/*colFloor2-Start-sjl-20130826*/
.colStyle2{border-bottom-color:#f7a617}
.colStyle2 .floor-tit-more,.colStyle2 .floor-tit-num{background-color:#f7a617}
.floor-colStyle2 .floor-search-input{background-color:#f7a617}
.slider-colStyle2{border-color:#f7a617}
.slider-colStyle2 li.cur a, .slider-colStyle2 .slider-nav-li a:hover{background-color:#f7a617;color:#fff;font-weight:bold}
.slider-colStyle2 .slider-nav-li em,.slider-colStyle2 .slider-nav-li a:hover em{border-top-color:#f7a617;background:transparent;font-size:0}
.slider-colStyle2 .slider-nav-li a, .slider-colStyle2 .more a{color:#333}
.slider-colStyle2 .slider-cont{margin:0;}
.slider-colStyle2 .slider-page a.cur,.slider-colStyle2 .slider-page a:hover{background-color:#f7a617}
.slider-colStyle2 .titPic{position:absolute;bottom:0;left:0;z-index:1;width:100%;padding:3px 0;color:#fff;text-align:center;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);
}
.slider-colStyle2 .slider-item{height:318px}
/*colFloor2-End-sjl-20130826*/
/*Floor3-Start-sjl-20130826*/
.taoFloor3{}
.taoFloor3 .slider-item li{width:85px;height:147px;}
/*Floor3-End-sjl-20130826*/
