@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20000px;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

.ngdialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

body.ngdialog-open {
  overflow: hidden;
}
@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.ngdialog.ngdialog-theme-default {
  padding-bottom: 160px;
  padding-top: 160px;
}

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  border-radius: 5px;
  color: #444;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 450px;
}

.ngdialog.ngdialog-theme-default .ngdialog-close {
  cursor:pointer;
  background-repeat: no-repeat;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  background-image: url("/static/images/huodong/xueleifeng/xueleifeng_z.png");
  background-position: -157px -130px;
}

.ngdialog.ngdialog-theme-default .ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-default .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"]:focus {
  -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.ngdialog.ngdialog-theme-default .ngdialog-buttons {
  *zoom: 1;
}

.ngdialog.ngdialog-theme-default .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.ngdialog.ngdialog-theme-default .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-default .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}
body {
  font-size: 12px;
  font-family: "Microsoft Yahei";
  color: #333333;
}
.leif_head {
  width: 100%;
  height: 463px;
  background: url("/static/images/huodong/xueleifeng/hd-leif-head.png") no-repeat center 0;
}
.huodon_guizhe {
  width: 980px;
  height: 463px;
  margin: 0 auto;
  position: relative;
}
.huodon_guizhe p {
  width: 675px;
  height: 180px;
  position: absolute;
  bottom: 38px;
  right: -116px;
  color: #7f0a00;
  font-size: 14px;
  line-height: 24px;
}
.huodon_guizhe p strong {
  font-style: italic;
}
.leif_content {
  width: 100%;
  height: 100%;
  background-color: #e2402b;
  text-align: center;
}
.leif_cont_wenzitishi {
  font-size: 14px;
  color: #ffe361;
}
/*leif_cont_fenren*/
.leif_cont_fenren {
  width: 980px;
  height: 635px;
  margin: 0 auto;
  position: relative;
  background: url("/static/images/huodong/xueleifeng/hd-lf-fengren.png") no-repeat 0 0;
}
.leif_cont_fenren .button {width: 179px;
  height: 38px;background-repeat: no-repeat;}
.button_my1 {
  position: absolute;
  top: 255px;
  left: 345px;
}
.button_my2 {
  position: absolute;
  top: 555px;
  left: 73px;
}
.button_my3 {
  position: absolute;
  top: 555px;
  left: 406px;
}
.button_my4 {
  position: absolute;
  top: 555px;
  left: 746px;
}
.button_regist {width: 128px;
  height: 42px;
  position: absolute;
  top: 163px;
  right: 156px;background-repeat: no-repeat;}
.button_invit {width: 128px;
  height: 42px;
  position: absolute;
  top: 275px;
  right: 156px;background-repeat: no-repeat;}
/*leif_cont_listyouhui*/
.leif_cont_listyouhui {
  width: 980px;
  height: 422px;
  margin: 0 auto;
  background: url("/static/images/huodong/xueleifeng/hd-lf-youhui.png") no-repeat 0 0;
}
.leif_cont_listyouhui ul {
  padding: 107px 0 0 0;
  width: 1010px;
}
.leif_cont_listyouhui ul li {
  width: 210px;
  height: 262px;
  float: left;
  padding: 6px;
  margin: 0 30px 0 0;
}
.lia_img {
  width: 210px;
  height: 210px;
  display: block;
}
.lia_img::before {
  content: "";
  width: 0;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.lia_img img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.leif_cont_listyouhui p,
.lashou_jieshao {
  width: 195px;
  height: 35px;
  overflow: hidden;
  text-align: left;
  margin: 8px 0 15px 10px;
}
.leif_cont_listyouhui p a,
.lashou_jieshao a {
  color: #000;
}
/*leif_cont_listyouquan*/
.leif_cont_listyouquan {
  width: 980px;
  height: 503px;
  margin: 0 auto;
  background: url("/static/images/huodong/xueleifeng/hd-lf-youquan.png") no-repeat 0 0;
}
.leif_cont_listyouquan ul {
  padding: 95px 0 0 0;
  width: 1010px;
}
.leif_cont_listyouquan ul li {
  width: 210px;
  height: 367px;
  float: left;
  padding: 0 6px;
  margin: 0 30px 0 0;
}
.lashou_wang {
  color: #000;
  border-bottom: 1px dashed #dfdada;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding: 0 0 0 5px;
  height: 35px;
  line-height: 40px;
}
.lashou_jiage_neirong {
  height: 40px;
  display: inline-block;
  width: 195px;
  text-align: left;
}
.lashou_jiage_neirong p {
  height: 18px;
  margin: 0 0 10px 0;
}
.ls_pricel {
  font-size: 16px;
  color: #999;
  padding: 0 0 0 5px;
  float: left;
}
.ls_pricel dfn {
  font-size: 20px;
  color: #e43b2c;
  font-family: Tahoma;
  margin: 0 0 0 4px;
  line-height: 20px;
}
.lashou_price .ls_pricer {
  margin: 4px 0 0 0;
  float: right;
}
.ls_pricer dfn {
  color: #999;
  text-decoration: line-through;
  margin: 0 8px 0 0;
}
.ls_pricer b {
  color: #e43b2c;
  font-weight: normal;
}
.ls_detailsl {
  float: left;
  color: #666666;
  padding: 0 0 0 5px;
}
.ls_detailsr {
  float: right;
  color: #666;
}
/*leif_cont_listdajian*/
.leif_cont_listdajian {
  width: 980px;
  height: 417px;
  margin: 0 auto;
  background: url("/static/images/huodong/xueleifeng/hd-lf-dajian.png") no-repeat 0 0;
}
.leif_cont_listdajian ul {
  padding: 142px 0 0 30px;
  width: 1010px;
}
.leif_cont_listdajian ul li {
  width: 161px;
  height: 194px;
  float: left;
  margin: 0 29px 0 0;
}
.leif_cont_listdajian a {
  width: 161px;
  height: 194px;
  display: block;
}
.leif_footerjpg {
  width: 100%;
  height: 68px;
  background: url("/static/images/huodong/xueleifeng/hd_leif-foot.png") no-repeat 0 0;
}
.foot_nobord {
  border: none;
}
.left-toolbar {
  display: none !important;
}
/*t 弹出层 c*/
.hd_lf_tanchuceng {
  font-family: \5FAE\8F6F\96C5\9ED1;
  width: 434px;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}
.tanchu_delet {width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;background-repeat: no-repeat;}
.tanchuc_wenzi {
  padding: 52px 0 0 40px;
  *padding: 52px 0 0 20px;
  overflow: hidden;
}
.tanchuc_pic1 {width: 68px;
  height: 60px;
  float: left;background-repeat: no-repeat;}
.tanchuc_zitir {
  font-size: 18px;
  margin: 0 0 0 10px;
  float: left;
}
.tanchu_bottun {
  border-radius: 6px;
  display: inline-block;
  background-color: #fb5640;
  padding: 4px 35px;
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px 118px;
}
.tanchuc_pic2 {width: 68px;
  height: 60px;
  float: left;background-repeat: no-repeat;}
.tanchu_tixing {
  margin: 37px 20px 10px 20px;
  border-top: 1px solid #e3e3e3;
  padding: 5px 0 0 0;
  color: #666;
}
.tanchu_tixing a {
  color: #fc8a04;
  text-decoration: underline;
}
.tanchuc_pic3 {width: 68px;
  height: 60px;
  float: left;background-repeat: no-repeat;}
.tanchuc_pic4 {width: 68px;
  height: 60px;
  float: left;background-repeat: no-repeat;}
.tanchuc_pic5 {width: 68px;
  height: 60px;
  float: left;background-repeat: no-repeat;}
.tanchuc_pic6 {width: 68px;
  height: 60px;
  float: left;background-repeat: no-repeat;}
.tanchu_bott {
  margin: 15px 0 20px 155px;
}
.tanchu_ziti {
  margin: 20px 0 0 10px;
}
.tanchu_log,
.tanchu_regis {
  margin: 15px 0 20px 112px;
  padding: 6px 25px;
}
.tanchu_regis {
  margin: 15px 0 0 30px;
}
.pocketSlider {
  width: 600px;
  margin: 0 auto;
  height: 26px;
  overflow: hidden;
  padding-top: 5px;
  position: relative;
  text-align: left;
  white-space: nowrap;
}
.pocketSlider li {
  height: 26px;
  line-height: 26px;
}
.leif_cont_fenren .button{background-position:0px 0px}.button_regist{background-position:-49px -40px}.button_invit{background-position:-49px -85px}.tanchu_delet{background-position:-157px -130px}.tanchuc_pic1{background-position:-109px -153px}.tanchuc_pic2{background-position:-109px -236px}.tanchuc_pic3{background-position:-109px -319px}.tanchuc_pic4{background-position:-109px -402px}.tanchuc_pic5{background-position:-109px -485px}.tanchuc_pic6{background-position:-109px -568px}.leif_cont_fenren .button,.button_regist,.button_invit,.tanchu_delet,.tanchuc_pic1,.tanchuc_pic2,.tanchuc_pic3,.tanchuc_pic4,.tanchuc_pic5,.tanchuc_pic6{background-image: url(/static/images/huodong/xueleifeng/xueleifeng_z.png)}