* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  font-family: "Microsoft Yahei";
  color: #333333;
}
.meitalk_headbg {
  background: url("/static/images/app/meitalk/meitalk_headbg.png") repeat-x 0 0;
  height: 100px;
}
.meitalk_head {
  width: 980px;
  height: 100px;
  margin: 0 auto;
  background: url("/static/images/app/meitalk/meitalk_head.png") no-repeat 0 0;
}
.meitalk_head_top {
  height: 600px;
  background: url("/static/images/app/meitalk/meitalk_head_topbg.png") repeat-x 0 0;
}
.head_top_bg {
  height: 600px;
  margin: 0 auto;
  background: url("/static/images/app/meitalk/meitalk_head_top.png") no-repeat center 0;
}
.mk_hd_l {
  width: 250px;
  height: 80px;
  float: left;
  margin: 10px 0 0 0;
}
.mk_hd_r {
  width: 125px;
  height: 50px;
  float: right;
  margin: 25px 0 0 0;
}
.head_top_content {
  width: 980px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}
.bottom_andr,
.bottom_andr_hover,
.bottom_iphon,
.buttom_iphon:hover {
  width: 251px;
  height: 80px;
  position: absolute;
  top: 256px;
  left: 472px;
  background: url("/static/images/app/meitalk/meitalk_buttom_hovef.png") no-repeat left top;
}
.bottom_iphon,
.bottom_iphon:hover {
  background-position: left -474px;
  top: 370px;
}
.bottom_andr:hover {
  background-position: left -94px;
}
.bottom_iphon:hover {
  background-position: left -568px;
}
.meitalk_content {
  background-color: #fff3e3;
}
.content_fixd {
  display: none;
  width: 15px;
  height: 145px;
  position: fixed;
  right: 10px;
  top: 200px;
}
.content_fixd a,
.content_fixd .on {
  width: 10px;
  height: 10px;
  margin: 0 0 20px 2px;
  display: block;
  background: url("/static/images/app/meitalk/meitalk_buttom.png") no-repeat left -415px;
}
.content_fixd .on {
  background-position: left -397px;
  width: 15px;
  height: 15px;
  margin: 0 0 15px 0;
}
.meitalk_content_dating {
  width: 980px;
  height: 720px;
  margin: 0 auto;
}
.dating980_left {
  float: left;
  width: 499px;
  height: 455px;
  margin: 73px 0 0 0;
  background: url("/static/images/app/meitalk/meitalk_contenr_left1.png") no-repeat 0 0;
}
.dating980_right {
  float: left;
  width: 467px;
  height: 430px;
  margin: 290px 0 0 0;
  background: url("/static/images/app/meitalk/meitalk_contenr_right1.png") no-repeat 0 0;
}
.meitalk_content_microshow {
  height: 498px;
  border-top: 1px solid #f2e3cd;
  border-bottom: 1px solid #f2e3cd;
  background-color: #faebd6;
}
.content_microshow980 {
  width: 980px;
  height: 498px;
  margin: 0 auto;
}
.microshow980_left {
  float: left;
  width: 551px;
  height: 449px;
  margin: 49px 0 0 0;
  background: url("/static/images/app/meitalk/meitalk_contenr_left2.png") no-repeat 0 0;
}
.microshow980_right {
  float: right;
  width: 358px;
  height: 157px;
  margin: 155px 0 0 0;
  background: url("/static/images/app/meitalk/meitalk_contenr_right2.png") no-repeat 0 0;
}
.meitalk_content_timelychat {
  width: 980px;
  overflow: hidden;
  margin: 0 auto;
}
.content_timelychat_left {
  float: left;
  width: 241px;
  height: 163px;
  margin: 156px 0 0 0;
  background: url("/static/images/app/meitalk/meitalk_contenr_left3.png") no-repeat 0 0;
}
.content_timelychat_right {
  float: right;
  width: 603px;
  height: 451px;
  margin: 70px 0 0 0;
  background: url("/static/images/app/meitalk/meitalk_contenr_right3.png") no-repeat 0 0;
}
.information980_left {
  float: left;
  width: 544px;
  height: 450px;
  margin: 49px 0 0 0;
  background: url("/static/images/app/meitalk/meitalk_contenr_left4.png") no-repeat 0 0;
}
.information980_right {
  float: right;
  width: 210px;
  height: 199px;
  margin: 157px 0 0 0;
  background: url("/static/images/app/meitalk/meitalk_contenr_right4.png") no-repeat 0 0;
}
.metalk_footer {
  width: 980px;
  height: 258px;
  margin: 0 auto;
  text-align: center;
}
.footer_div {
  padding: 106px 0 22px 0;
}
.footer_div a {
  font-size: 14px;
  color: #bda37f;
  margin: 0 20px 0 0;
  text-decoration: none;
}
.metalk_footer span {
  font-size: 14px;
  color: #bda37f;
}
.mk_he_lhover {
  display: none;
  width: 251px;
  height: 120px;
  position: absolute;
  top: 81px;
  left: 0;
}
.lhover_official,
.lhover_beta {
  height: 59px;
  width: 251px;
  display: block;
  background: url("/static/images/app/meitalk/meitalk_buttom_hovef.png") no-repeat left -189px;
}
.lhover_official:hover {
  background-position: left -330px;
}
.lhover_beta {
  background-position: left -260px;
  height: 61px;
  top: 400px;
}
.lhover_beta:hover {
  background-position: left -400px;
}
.bottom_andr {
  z-index: 10;
  cursor: pointer;
}
