/***Layout -Start- gaotian - 20131119***/
.wp{width:980px;margin:0 auto;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,.clear-fix:before{content:" ";display:table;}.clear-fix:after{clear:both;}.clear-fix{*zoom:1;}
.list-h li{float:left;}
img{vertical-align: top;}
.pz{position:relative;z-index:0}
.txt-center{text-align:center}
.bord,.zdm-brd{ border:1px #dedede solid;}
a{color:#333}
a:hover{color:#EB7E00}
u,s,small{font-style:normal;font-size:12px;text-decoration:none}
.marb20{ margin-bottom: 20px;}

.icon,
.idx-tit .tab-tit a{ background-image: url("../../../images/jiagebaogao/v4/g-icon.png"); _background-image: url("../../../images/jiagebaogao/v4/g-icon8.png"); background-repeat:no-repeat;}
/*header s*/
.nav-list li,.nav-list li a{ width: 112px;}
.header-rearch-submit,.header-nav-box{background:#0fb996}
.header-nav-back s{border-left-color:#0fb996}
.header-nav-box li{border-color:#00ac8a}
.header-nav-box li a:hover{background-color:#00ac8a}
/*header e*/

/*index s*/
.idx-floor{  margin-top: 20px;}
.idx-tit{ height: 30px; overflow: hidden; margin-bottom: 15px;}
.idx-tit h2{ float: left; font:normal 18px/30px 'microsoft yahei';}
.idx-tit .more{ float: right; line-height: 30px; color: #0fb996;}
.idx-tit .tab-tit{ padding-top: 8px; float: right; padding-right: 10px;}
.idx-tit .tab-tit a{ width: 14px; height: 14px; _display: inline; float: left; background-position: -88px -467px; margin: 0 8px;}
.idx-tit .tab-tit a.cur{ background-position: -58px -467px;}

/*pop goods s*/
#pop-goods-w{ height: 190px; overflow: hidden; position: relative;}
#pop-goods-w .pop-goods{ position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 0;}
.pop-goods{ width: 980px; overflow: hidden;  background: #fff;}
.pop-goods-item{ width: 188px; height: 188px; position: relative; border: 1px #eeeeee solid;}
.pop-goods-item .pic img{width: 188px; height: 188px;}
.pop-goods-item .bg{  background: #fff; opacity: 0.7; filter:Alpha(opacity=70);}
.pop-goods-item .bg,
.pop-goods-item .tit{height: 48px; line-height: 22px; padding:2px 10px; position: absolute; bottom: 0; width: 168px;}
.pop-goods-item .tit span{ color: #ff7800; font-size: 14px; font-family: 'microsoft yahei'; }
.pop-goods-item .tit b{ color: #999; font-weight: normal;}
.idx-zs{ width: 550px; margin-left: 25px;}
.idx-zs .big{ width: 151px; height: 190px; position: relative; overflow: hidden; float:left; _display: inline;}
.idx-zs .w-swf{ width: 100%; height: 151px; margin-bottom: 4px; overflow: hidden; position: relative; margin:0 6px 9px 0;}
.inc-zhishu{ width:230px; height: 230px; position: absolute; left: -39px; top: -39px;  z-index: 0;}
.inc-zsfloat{ width: 100%; height: 151px; background: url("../../../images/jiagebaogao/v4/zs-float.png") no-repeat; left: 0; top: 0; z-index: 2; position: absolute;}
.idx-zs dd{ float: left;  width: 90px;}
.idx-zs .idx-numb{ height: 105px; padding-top: 55px; width: 50px; margin: 0 auto;}
.idx-zs .logo{ width: 100%; text-align: center;}
.idx-zs .logo img{ width: 60px; height: 30px;}
.who-b5m{ width: 186px; height: 188px; border: 1px #25bf9f solid; border-radius:10px; position: relative;}
.who-b5m h3{ background: #f8f8f8; height: 32px; border-bottom: 1px #e9e9e9 solid;  border-radius:10px 10px 0 0; padding-left: 25px; line-height: 32px; color: #999999;}
.who-b5m p{ padding: 0 25px;}
.who-b5m p.q{margin-top: 6px; line-height: 20px;}
.who-b5m p.a{ color: #999;}
.who-b5m span.a{ color: #0fb996; padding-left: 16px;}
.who-b5m .arr{ border: 18px solid; border-color: transparent #15bb98 transparent transparent; width: 0; height: 0; overflow: hidden; position: absolute; left: -37px; top:50%; margin-top: -18px; z-index: 1;}
.who-b5m .arrw{border: 18px solid; border-color: transparent #Fff transparent transparent; width: 0; height: 0; overflow: hidden; position: absolute; left: -35px; top:50%; margin-top: -18px; z-index: 2;}
/*pop good e*/
.scores-goods{ height:256px; position:relative; width: 100%; overflow: hidden; }
.scores-goods .recom-items{ position:absolute;}
.scores-goods .recom-items li{ width: 190px; float: left; margin:0 3px; height: 256px; overflow: hidden; }
.scores-goods .recom-items .pic{ width: 188px; height: 188px; text-align: center; position: relative; border: 1px #eeeeee solid;}
.scores-goods .recom-items .data-numb{bottom: 10px; position: absolute; left: 10px;}
.scores-goods .recom-items .pic img{ width: 188px; height: 188px;}
.scores-goods .recom-items .tit{ padding-top: 6px; height: 40px; line-height: 20px; overflow: hidden;}
.scores-goods .recom-items .price{ color: #ff7800; font:normal 14px "microsoft yahei";}
.scores-goods .recom-items .price b{ font-weight: normal; font-size: 12px;}
.scores-goods .recom-items .price .sj{ float: right; color: #999;}
.scores-goods .recom-items .sj s{ color: #333;}

/*价格报告s*/
/*.jgbg-tiems{ position:absolute; width: 100%; height: 236px; top: 0; z-index: 0; background: #fff;}
.jgbg-tiem{ width: 100%; position: absolute; height: 236px; border: 1px #ececec solid; z-index: 2;}
.jgbg-tiem dt,
.jgbg-tiem dd{ position: relative; width: 156px;  height: 236px;float:left; _display: inline;}
.jgbg-tiem .tit{ background-position: left -516px; width: 145px;overflow: hidden; height: 42px; position: absolute; left: -6px; top: 8px; line-height: 36px; color: #fff; padding-left: 8px; font-family: 'microsoft yahei'; z-index: 1;}
.jgbg-tiem p{ padding: 0 10px;}
.jgbg-tiem .text{ margin-top: 55px; line-height: 18px; text-indent: 2em;}
.jgbg-tiem .more{ margin-top: 10px;}
.jgbg-tiem .more a{ color: #0fb996;}
.jgbg-tiem .tit b{ font-size: 14px;}
.jgbg-tiem dt{ margin-right: 508px;}
.jgbg-tiem dd{ border-left:  1px #ececec solid;}
.jgbg-tiem .l-shadow{ width: 24px; height: 236px;opacity: 0.5; filter:Alpha(opacity=50); position: absolute; left: -24px; top: 0; background: url("../../../images/jiagebaogao/v4/shadow-bg.png"); z-index: 0;}
.jgbg-tiem .ban{ margin-top: 10px;}
.jgbg-tiem .ban img{ width: 136px; height: 62px;}
.jgbg-pic{ width: 505px; height: 236px; position:absolute; left: 160px; top: 1px; z-index: 1;}
.jgbg-pic img{width: 505px; height: 236px;}*/
/*20140225 zubu s */
#jgbg-cont-w{ width: 100%; position: relative; height:238px; }
.jgbg-tiems{ position:absolute; width: 100%; height: 236px; top: 0; z-index: 0; background: #fff; border-right: 1px #ececec solid;}
.jgbg-tiem{ width: 157px; position:relative; height: 236px; border: 1px #ececec solid; z-index: 2; float: left; border-right:none; overflow: hidden;}
.jgbg-tiem dt{ position: relative; width: 157px;  height: 236px;float:left; _display: inline;}
.jgbg-tiem .tit{ background-position: left -516px; width: 145px;overflow: hidden; height: 42px; position: absolute; left: -6px; top: 8px; line-height: 36px; color: #fff; padding-left: 8px; font-family: 'microsoft yahei'; z-index: 1;}
.jgbg-tiem p{ padding: 0 10px;}
.jgbg-tiem .text{ margin-top: 55px; line-height: 18px; text-indent: 2em;}
.jgbg-tiem .more{ margin-top: 10px;}
.jgbg-tiem .more a{ color: #0fb996;}
.jgbg-tiem .tit b{ font-size: 14px;}
.jgbg-tiem .l-shadow{ width: 24px; height: 236px;opacity: 0.5; filter:Alpha(opacity=50); position: absolute; left: -24px; top: 0; background: url("../../../images/jiagebaogao/v4/shadow-bg.png"); z-index: 0;}
.jgbg-tiem .ban{ margin-top: 10px;}
.jgbg-tiem .ban img{ width: 136px; height: 62px;}
.jgbg-pic{ width: 505px; height: 236px; position: absolute; left: 156px; top:0px; }
.jgbg-pic img{width: 505px; height: 236px;}
/*20140225 zubu e */
/*价格报告e*/
/*index e*/


/***Crumb -Start- zibu - 20140121***/
.crumb{color:#999;  padding: 10px 0px; line-height: 22px; height: 22px;}
.crumb{ padding: 10px 0px; line-height: 22px;}
.crumb strong{ color: #333;}
.crumb h2 em{ color: #e43b5a;}
.crumb span{ color: #999999;}
.crumb a,
.crumb h2{ color: #999999;}
.crumb .cr-zs{ float: right; position: relative; height: 22px; width: 140px;}
.crumb .cr-zs a{ color: #333333; margin-left: 30px; padding-right: 15px;  background: url("../../../images/jiagebaogao/v4/gth-icon.png")  no-repeat right center; height: 22px;}
.crumb .cr-zs a:hover{ color: #f18100;}
.crumb .cr-zs .a-cont{ display: none; width: 245px; height: 120px; padding: 10px; border: 1px #b4b2b2 solid; background: #fff; right: 0; top: 30px; position: absolute;z-index: 1;}
.crumb .cr-zs.open .a-cont{ display: block;}
.crumb .cr-zs .a-cont .arr{ width: 15px; height: 13px;  background: url("../../../images/jiagebaogao/v4/arr-icon.png")  no-repeat left top; position: absolute; right: 65px; top: -13px;z-index: 2;}
/***Crumb -End- zibu - 20140121***/
/*图片切换s*/
.pic-items{ height: 328px; position: relative; border:1px #ececec solid; width: 980px; overflow: hidden;}
.pic-items .cf{ width: 100%;}
.pic-slide{ width: 278px; border-right: 1px #ececec solid; float: left; height: 328px; position: relative; overflow: hidden;}
.shadow{ width: 100%; height: 35px; background: url("../../../images/jiagebaogao/v4/bg-01.png") no-repeat;}
.pic-items .pic-list{ border-bottom: 1px #ececec solid; position: absolute; height: 278px; overflow: hidden;}
.pic-items .pic-list li{ float: left;}
.pic-items .pic-list li img{ width: 278px; height: 278px;}
.pic-items .pic-text{ height: 50px; position: absolute; width: 100%; bottom: 0; text-align: center; line-height: 48px;}
.pic-items .pic-text a{ width: 50px; height: 50px;}
.pic-items .pic-text .l-btn{ float: left; background-position: left -120px;}
.pic-items .pic-text .r-btn{ float: right; background-position: -60px -120px;}
.pic-items .pic-text .l-btn:hover{ background-position: left -180px;}
.pic-items .pic-text .r-btn:hover{ background-position: -60px -180px;}
.pic-items .pic-text .l-btn.noClick{ background-position: left -60px; cursor: default;}
.pic-items .pic-text .r-btn.noClick{ background-position: -60px -60px; cursor: default;}
.pic-items .pic-text p{ color: #999999;}
.pic-items .pic-text .iNow{ color: #666;}
.pic-items .zs-btn{ width: 78px; height: 20px; background-position:60px -296px; position: absolute; z-index: 2; left: 150px; top: 200px; }
.gmzs-main{ width: 370px; height: 250px; margin: 10px 0 0 28px;  position: relative; overflow: hidden;}
.gmzs-main .gm-logo,
.gmzs-main .gm-zs{ height: 250px; position:absolute; width: 100%; top: 0; }
.gmzs-main .gm-logo{ z-index: 2;}
.gmzs-main .gm-zs{ z-index: 1;}
.gmzs-main .gm-logo li{ width: 60px; height: 30px; overflow: hidden; position: absolute;}
.gmzs-main .gm-logo li img{ width: 60px; height: 30px; background: #dedede;}
.gmzs-main .gm-logo .lg1{ bottom: 6px; left: 56px;}
.gmzs-main .gm-logo .lg2{ bottom: 56px; left: 72px;}
.gmzs-main .gm-logo .lg3{ bottom: 93px; left: 96px;}
.gmzs-main .gm-logo .lg4{ bottom: 130px; left: 117px;}
.gmzs-main .gm-logo .lg5{ bottom: 155px; left: 181px;}
.gmzs-main .gm-logo .lg6{ bottom: 162px; left: 244px;}
.gmzs-main .gm-logo .lg7{ bottom: 160px; right: 0px;}
.gmzs-main .gm-zs li{ width: 50px; height: 50px; overflow: hidden; position: absolute;}
.gmzs-main .gm-zs .zs1{ left: 0; bottom: 0;}
.gmzs-main .gm-zs .zs2{ left: 21px; bottom: 64px;}
.gmzs-main .gm-zs .zs3{ left: 60px; bottom: 122px;}
.gmzs-main .gm-zs .zs4{ left: 117px; bottom: 165px;}
.gmzs-main .gm-zs .zs5{ left: 180px; top: 12px;}
.gmzs-main .gm-zs .zs6{ left: 248px; top: 3px;}
.gmzs-main .gm-zs .zs7{ left: 313px; top: 5px;}
.gmzs-main .gm-btn{ width: 153px; height: 53px; position: absolute; right: 0; bottom: 15px; z-index: 3;}
/*图片切换e*/
/*图片切换右侧s*/
.data-main{ float: left; width: 670px; _display: inline; padding-left: 28px;}
.data-main h1{ font: normal 18px/40px "microsoft yahei"; margin-top: 5px;}
.zhishu{ width: 230px; position: relative; height: 280px;}
.zs-numb{ width: 230px; height: 230px; position: absolute; left: 0; top: 0; z-index: 0; overflow: hidden;}
.zhishu .zs-logo{ width: 100%; height: 30px; bottom: 10px; text-align: center; position: absolute;}
.zhishu .zs-logo img{ width: 60px; height: 30px; border: 1px #ddd solid;}
/*图片切换右侧e*/

/*指数弹出框 s*/
.pop-zhishu{ width: 728px; height: 276px; background: #fff; border: 1px #ececec solid; position: absolute; left: 0; top: 228px; z-index: 100;  left: -730px;}
.close-btn{ width: 48px; height: 48px; border-bottom: 1px #ececec solid; border-left: 1px #ececec solid; position: absolute; right: 0; top: 0; z-index: 10;}
.close-btn a{ background-position: left -465px; display: block; height: 48px;}
.zhishu-items{ width: 158px; padding: 25px 0 0 30px; float: left;}
.zhishu-items li{ display: none;}
.zhishu-items .item{ line-height: 30px;}
.zhishu-items .item dt{ color: #999;}
#zhishu-pic{ width:536px;height:268px;  margin-top: 2px; float: left; position: relative; z-index: 0; overflow:hidden;}
.zhishu-pic .map-hover{ position: absolute;}
.zhishu-pic .redu{ width: 276px; height: 196px; bottom: 0; left: -16px; background: url("../../../images/jiagebaogao/v4/redu-hover.png") no-repeat;}
.zhishu-pic .jiage{ width: 195px; height: 274px; top: -12px; left: 68px; background: url("../../../images/jiagebaogao/v4/jiage-hover.png") no-repeat;}
.zhishu-pic .fuwu{ width: 196px; height: 275px; top: -12px; left: 259px; background: url("../../../images/jiagebaogao/v4/fuwu-hover.png") no-repeat;}
.zhishu-pic .xiaoliang{ width: 275px; height: 194px; bottom: 0px; left: 259px; background: url("../../../images/jiagebaogao/v4/xiaoliang-hover.png") no-repeat;}
/*指数弹出框 e*/
/*文字信息 s*/
.text-items{ margin-top: 35px;}
.text-items .d-item{ float: left; width: 346px; float: left; _display: inline; margin-top: -10px;}
.text-items .d-item li{ padding-left: 60px; margin-top: 10px; line-height: 24px;}
.text-items .d-item li label{ width: 50px; margin-left: -60px; float: left; _display: inline; color: #999999; text-align: right;}
.text-items .d-item li span,
.text-items .d-item li b,
.text-items .d-item li strong,
.text-items .d-item li p{ float: left; _display: inline;}
.text-items .d-item li strong{ color: #ff7800;}
.text-items .d-item .price b{ color: #999999; font-family: "Microsoft YaHei"; line-height: 14px; margin-top: 8px;}
.text-items .d-item .price span{ width: 18px; height: 14px;  border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; margin: 4px 0 0 10px;}
.text-items .d-item .price .p-up{ background-position: -143px -60px;}
.text-items .d-item .price .p-flat{ background-position: -143px -160px;}
.text-items .d-item .price .p-down{ background-position: -143px -110px;}
.text-items .d-item .price strong{ font: normal 20px/24px "microsoft yahei";}
.text-items .d-item .com{ color: #666;}
.text-items .d-item .com strong{ margin-right: 5px;}
.text-items .d-item .com p{ margin-left: 10px;}
.text-items .d-item .com .com-btn{ background-position: left -329px; padding-left: 20px; margin-left: 25px;}
.text-items .d-item .com span{ height: 18px; width: 90px; background-position: left -242px; margin-top: 4px; position: relative;}
.text-items .d-item .com span div{ height: 18px; position: absolute; left: 0; top: 0;  background-position: left -263px;}
.text-items .d-item .sever span{ background: #f2f2f2; color: #666; margin: 0 10px 10px  0; padding: 0 15px; white-space: nowrap;}
/*文字信息属性 s*/
.text-items .d-data{ float: left; width: 600px; _display: inline; padding-left: 25px; border-left:1px #ddd dashed;  }
.text-items .d-data dt{ display: block; color: #999; margin-bottom: 8px;}
.text-items .d-data dd{ float:left; width: 193px; padding-left: 7px; overflow: hidden; height: 24px; color: #666666; background-position: left -406px; line-height: 24px;}
/*文字信息 e*/

.tab-hd{height:30px;border-bottom:2px solid #ff7d26;color:#666;position:relative; margin-top: 20px;}
.tab-hd li{float:left;width:98px;height:29px;line-height:29px;border:1px solid #d3d3d3;border-bottom:none;text-align:center;margin-right:5px;background:#fff;cursor:pointer;position:relative}
.tab-hd li a{color:#666;}
.tab-hd li.cur{background:#ff7d26;border-color:#ff7d26;color:#fff}
.tab-hd li.cur a{color:#fff}

.tab-bd{overflow:hidden}
.tab-bd .tab-box{/*display:none*/}

.tab-filter{height:39px;border:1px solid #ddd;background:#f9f9f9;margin-top:-1px;padding:0 15px}
.tab-filter .shop-seq-item{float:left;margin-top:5px;display:inline}
.tab-filter .shop-seq-item li{float:left;width:44px;height:24px;border:1px solid #d4d4d4;background:#fcfcfc;margin:0 0 0 -1px;display:inline;position:relative}
.tab-filter .shop-seq-item li a{color:#666;display:block;height:24px;line-height:24px;line-height:28px\0;*line-height:28px;_line-height:24px;text-align:center;overflow:hidden}
.tab-filter .shop-seq-item li a:hover,.tab-filter .shop-seq-item li.cur a{color:#f47920;text-decoration:none;text-align: center;}
.tab-filter .shop-seq-item li.cur{background:#f2f2f2}
.tab-filter .shop-seq-item li.first{border-top-left-radius:3px;border-bottom-left-radius:3px}
.tab-filter .shop-seq-item li.last{padding-right:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;}
.tab-filter .shop-seq-item li.last i{position:absolute;right:8px;top:8px;display:block; width: 7px; height: 8px; background-position: -153px -261px;}
.mall-compare{margin-right:200px;margin-top: 8px;float:right;}
.mall-compare span{cursor: pointer;margin-left:46px;}
.mall-compare span i{display: inline-block;*display: inline;*zoom: 1;width:14px;height:14px;vertical-align:middle;margin-right:8px; background-position: -146px -190px;}
.mall-compare span .checkbox-checked{background-position: -146px -218px;}
.ajax_loading{ display:none;background:url(../../../images/jiagebaogao/ajax-loader.gif) no-repeat 50% 15px transparent;height: 24px;text-align: center;padding-top: 60px;}
.all-mail{ width: 100%;}

/*商品推荐 s*/
.recommend-view{ margin-top: 20px; padding-bottom: 20px;}
.recommend-view h2{ font:18px/32px "microsoft yahei";}
.recommend-view .recom-items{ position: relative; margin-left: -10px; padding-top: 10px;}
.recommend-view .recom-items li{ width: 236px; float: left; margin-left: 10px; margin-bottom: 10px; }
.recommend-view .recom-items .pic{ width: 234px; height: 234px; text-align: center; position: relative; border: 1px #eeeeee solid;}
.data-numb{ width: 50px; height: 50px; background-image: url("../../../images/jiagebaogao/v4/circle-icon.png"); _background-image: url("../../../images/jiagebaogao/v4/circle-icon8.png"); background-repeat: no-repeat; }
.recommend-view .recom-items .data-numb{bottom: 10px; position: absolute; left: 10px;}
.recommend-view .recom-items .pic img{ width: 234px; height: 234px;}
.recommend-view .recom-items .tit{ padding-top: 6px; height: 40px; line-height: 20px;}
.recommend-view .recom-items .price{ color: #ff7800; font:normal 14px "microsoft yahei";}
.recommend-view .recom-items .price b{ font-weight: normal; font-size: 12px;}
.recommend-view .recom-items .price .logo{ float: right;}


/*商品推荐 e*/

.tab-shop-header li{height:33px;line-height:33px;border-bottom:1px solid #ccc;float:left;color:#999;}
.tab-shop-header .mall{width:110px; padding-left: 20px;}
.tab-shop-header .index{width:95px;}
.tab-shop-header .name-goods{width:415px;}
.tab-shop-header .price-goods{width:72px;}
.tab-shop-header .trend-goods{width:74px;}
.tab-shop-header .support-goods{width:122px;}
.tab-shop-header .operate-goods{width:72px;}

.tab-shop-items{ position: relative; width: 100%; border-bottom: 1px #ddd dotted;}
.shop-tiem{ width: 100%;}
.shop-tiem tr td{ padding: 15px 0; line-height: 22px;}
.shop-tiem tr td img{ width: 125px; height: 40px;}
.shop-tiem .zs span{ width: 18px; height: 14px;  border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; margin: 4px 0 0 10px; display: inline-block;}
.shop-tiem .zs .p-up{ background-position: -143px -60px;}
.shop-tiem .zs .p-flat{ background-position: -143px -160px;}
.shop-tiem .zs .p-down{ background-position: -143px -110px;}
.shop-tiem a.jy-c1{ color: #0fb996;}
.shop-tiem a.jy-c2{ color: #bbc700;}
.shop-tiem a.jy-c3{ color: #e18400;}
.tab-shop-items .shop-list{ height: 0; overflow: hidden;}
.tab-shop-items .all-shop{ border: 1px #ddd solid; bottom:2px; position: absolute; right: 0px;  padding: 0 6px; line-height: 22px; height: 22px; background-position: left -434px; background-repeat: repeat-x;}
.tab-shop-items .all-shop a{ display: block; padding-left:10px; }
.tab-shop-items .all-shop .add{background-position:left -356px;}
.tab-shop-items .all-shop .remove{ background-position:left -380px;}


/*search datalist s*/
.cl-ff78{color:#FF7800;}
.mt20{margin-top: 20px;}
.ml20{margin-left: 20px;}
.mr20{margin-right: 20px;}
.mb20{margin-bottom: 20px;}
/*----@breakcrumb s----*/
.breadcrumb{font-family:\5b8b\4f53;}
.breadcrumb .search-key,
.breadcrumb .product-nums{padding:0 5px;}
/*----@breakcrumb e----*/
/*----@layout s----*/
.main{width:100%;}
.side-l{width: 140px;margin-left:-100%;position: relative;left:-160px;}
.fixed{left:50%;}
/*----@layout e----*/
/*----@filter-area s----*/
.filter-area{border-top:none;}
.filter-panel{overflow:hidden;zoom:1;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}
.filter-item{position: relative;height:35px;padding-left:140px;border-top: 1px dashed #ddd;margin-top:-1px;overflow: hidden;}
.filter-item dd a{float:left;width:90px;margin-right:10px;line-height: 24px;color:#666;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.filter-item dd a:hover{color:#eb7e00;}
.filter-item .show-more,
.horizontal-category .show-more{display:none;position: absolute;line-height:24px;margin-right:6px;right:0;top:6px;width:40px;cursor: pointer;background:url(../../../images/jiagebaogao/v4/s_icon.png) no-repeat right -13px;color:#666;}

.filter-item .filter-act{position:absolute;top:6px;right:60px;}
.filter-item .filter-act a{display: inline-block;*display: inline;*zoom: 1;margin-right:20px;line-height:20px;width:auto;padding:0 4px;border:1px solid #bdbdbd;color:#666;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdfdfd 0%, #f3f3f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdfdfd 0%,#f3f3f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.filter-item .filter-act a:hover{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #e0e0e0 0%, #f0f0f0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e0e0e0 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e0e0e0 0%,#f0f0f0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e0e0e0 0%,#f0f0f0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e0e0e0 0%,#f0f0f0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */
}
.filter-item .filter-act .btn-sure,
.filter-item .filter-act .btn-cancle{display:none;padding:0 20px;}
.filter-item .open{background-position:right -117px;}
.filter-item dt{color:#333;position: absolute;width:100px;top:9px;left:40px;}
.filter-item dd{padding:6px 0;margin-right:115px;}
.filter-item .price-range{margin-right:250px;}
.filter-item .price-input{position:absolute;right:60px;top:7px;}
.filter-item .price-input .txt{height:18px;line-height:18px;width:38px;border:1px solid #ddd;}
.filter-item .price-input .btn{height:20px;width:45px;border:1px solid #ddd;background-color: #fff;margin-left:8px;cursor:pointer;}
.filter-more{text-align: center;}
.filter-more a{noFocus:expression(this.onFocus=this.blur());display:block;background-color:#F9F9F9;outline:none;padding:0 18px;height:30px;line-height:30px;color:#666;}
.filter-more a:hover{background-color:#f3f3f3}
.filter-more span{padding-right:17px;background: url(../../../images/jiagebaogao/v4/s_icon.png) no-repeat right -121px}
.filter-more .open span{background-position: right -18px}
.filter-more .open em{color:#999;}
.filter-more .other-attr{display: none;}
.filter-more .open .pack-up{display: none;}
.filter-more .open .other-attr{display:inline;}
.filter-on{padding-top:2px;background-color:#e86e00;}
.filter-on .cancel-all{height:20px;line-height:18px;line-height:20px\0;*line-height:22px;position:absolute;right:10px;top:6px;padding:0 8px;background-color:#999;color:#fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.filter-on .cancel-all:hover{background-color:#eb7e00;}
.filter-on dl{position:relative;padding:0 80px 4px 80px;background-color: #f2f2f2;}
.filter-on .filter-on-tit{position:absolute;top:6px;margin-left:-72px;color:#333;font-size:12px;}
.filter-on .filter-on-mod{display:inline-block;position:relative;white-space:nowrap;border:1px solid #e86e00;height:22px;line-height:20px;line-height:23px\0;padding-right:20px;padding-left:4px;margin:4px 0 0 6px;color:#999;background-color:#fff;}
.filter-on .filter-on-mod em{color:#e86e00;}
.filter-on .filter-on-mod b{position:absolute;top:5px;margin-left:4px;height:12px;width:12px;line-height:8px;*top:3px;*height:auto;*line-height:12px;*padding-bottom:4px;text-align:center;font-size:12px;font-weight:400;color:#fff;background-color:#e86e00;vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.filter-open{height: auto;}
.filter-multiply .filter-act{margin:15px 0 15px;position:static;top:auto;right:auto;text-align: center;}
.filter-multiply .filter-act .btn-multiple{display: none;}
.filter-multiply .filter-act .btn-sure,
.filter-multiply .filter-act .btn-cancle{display: inline-block;*display: inline;*zoom: 1;}
.filter-multiply dd{margin-right:60px;}
.filter-multiply dd a{width:76px;padding-left:24px;background: url(../../../images/jiagebaogao/v4/s-icon-v1.png) left -130px no-repeat;}
.filter-multiply dd a.cur{background-position:left -156px;}
/*----@filter-area e----*/
/*----@left-size s----*/
.m-bord{background: #fff; border:2px #e3e3e3 solid;}
.m-bord .s-icon{ background-image: url(../../../images/jiagebaogao/v4/s-icon-v1.png); background-repeat: no-repeat;}
.s-menu-list .s-all,
.goods-filter .goods-f{height: 30px; border-top: 1px #fff solid; border-bottom: 1px #e3e3e3 solid; background-color:#f3f3f3;  color: #666; font: 16px/30px "\5FAE\8F6F\96C5\9ED1"; padding-left: 10px;}
.s-menu-list .s-all{ background-position:84px 9px;}
.goods-filter .goods-f{ background-position:84px -96px; }
.s-menu-list .m-dl{padding: 5px 10px; line-height: 22px;border-bottom: 1px solid #E3E3E3;}
.s-menu-list .m-dl dt{padding-left: 20px;background: url(../../../images/jiagebaogao/v4/s_icon.png) no-repeat scroll 0 -944px transparent;cursor:default;font-weight:700;}
.s-menu-list .m-dl dt a{color:#000;}
.s-menu-list .m-dl dt a.cur,
.s-menu-list .m-dl dt a:hover{color:#EB7E00;}
.side-l.nav-fix{ position: fixed; top: 10px; left:50%; margin-left: -650px;}
.s-menu-list .m-dl dd{display: none;}
.s-menu-list .cur dt{background: url(../../../images/jiagebaogao/v4/s_icon.png) no-repeat scroll 0 -894px transparent;}
.s-menu-list .cur dd{display:block;}
.s-menu-list .m-dl .no-bg{background-image:none;}
.s-menu-list .m-dl dd a{ color: #787878; padding-left: 20px; background-position:left -20px;}
.s-menu-list .m-dl dd a:hover{color: #ff7800;}
.s-menu-list .m-dl dd a.cur{ color:#ff7800; background-position:left -39px;}
/*.s-menu-list .m-dl .m-ul{ display: none;}*/
.s-menu-list .m-dl .m-ul a{ background: none;}
.m-bord .more-c{ width: 100%; height:25px; position: relative; margin-bottom: 20px; }
.m-bord .more-c span{width: 80px; height: 25px; display: block;border:1px solid #fff;border-left:1px solid #f3f3f3;}
.m-bord .more-c .more-btn{width: 80px; height: 25px; display: block; line-height: 25px; color: #ff7800; text-align: center; background-color: #f3f3f3;background-position:right -65px; font-family: \5b8b\4f53;}
.m-bord .current span,
.m-bord .more-c:hover span{ width: 181px; border:1px #f5772b solid; position: absolute;background: #fff; z-index: 101; border-right: none;}
.m-bord .m-items{ display: none; width: 480px; background: #fff; border:1px #f5772b solid;position: absolute; left: 180px; background: #fff; z-index: 100; padding:10px 0 10px 30px; }
.m-bord .m-items li{ width: 120px; line-height: 24px; float: left; height: 24px; overflow: hidden; _display: inline;}
.m-bord .current .m-items,
.m-bord .more-c:hover .m-items{ display: block;}
.m-bord .m-items li a{ color: #666666;}
.m-bord .m-items li a:hover{ color: #f88f3a;}
.m-bord .more-category{height: 29px;line-height: 29px;text-align: center;cursor: pointer;}
.m-bord .more-category strong{padding-right:20px;background:url(../../../images/jiagebaogao/v4/s_icon.png) no-repeat scroll right -995px transparent;}
.m-bord .more-category .close-cate{display:none;}
.m-bord .more-category-open .close-cate{display:inline;background-position:right -1045px;}
.m-bord .more-category-open .open-cate{display:none;}
.goods-filter{ border-top: 1px #ddd solid;}
.goods-filter .g-fil{ padding: 10px;}
.goods-filter .g-fil li{  margin-bottom: 8px;}
.goods-filter .g-fil li a,
.goods-filter .m-items li a{ padding-left: 24px; background: url(../../../images/jiagebaogao/v4/s-icon-v1.png) left -135px no-repeat; color: #999999;}
.goods-filter .g-fil li a:hover{ color: #ff7800;}
.goods-filter .g-fil li a.cur,
.goods-filter .m-items li a.cur{ background: url(../../../images/jiagebaogao/v4/s-icon-v1.png) left -160px no-repeat;}
.goods-filter .m-items li a{ line-height: 14px; width: 90px;height:14px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;
    display: block; }
.horizontal-category{display: none;}
.horizontal-category .s-menu-list,
.horizontal-category .goods-filter{position: relative;}
.horizontal-category .show-more{top:38px;}
.horizontal-category .s-menu-list .m-dl dt,
.horizontal-category .s-menu-list .m-dl .m-ul{display:none;}
.horizontal-category .s-menu-list .m-dl,
.horizontal-category .goods-filter .g-fil{border-bottom:none;overflow: hidden;height:20px;line-height:20px;padding:0;margin:10px 60px 10px 10px;}
.horizontal-category .s-menu-list .m-dl dd{display:block;float:left;width: 100px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.horizontal-category .s-menu-list .m-dl dd a{padding-left:0;background:none;}
.horizontal-category .goods-filter .g-fil li{float:left;width: 100px;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.horizontal-category .s-menu-list .filter-open,
.horizontal-category .goods-filter .filter-open{height: auto;}
/*----@search s----*/
.sort-bar,
.filter-area{border:1px solid #e3e3e3;background: #fff;}
/*----@search e----*/
/*----@sort-bar s----*/
.sort-bar{padding:15px 10px;background-color: #fff;position: relative;}
.sort-item li,
.sort-conditions li,
.sort-view li,
.feature-box li{float:left;}
.sort-item a,
.sort-conditions a,
.sort-view a,
.feature-box a{display:block;color:#666;}
.sort-item{border:1px solid #ddd;}
.sort-item li{height:24px;padding:0 10px;margin-left:-1px;text-align:center;line-height: 24px;border-left:1px solid #ddd;}
.sort-item a:hover{color:#f47920;}
.sort-item .price{padding-right:12px;background:url(../../../images/jiagebaogao/v4/s_icon.png) no-repeat 29px -92px scroll;}
.sort-item .down,
.sort-item .up{background-color:#666;}
.sort-item .down a,
.sort-item .up a{color:#fff;}
.sort-item .down .price{background-position:-64px -92px;}
.sort-item .up .price{background-position:-64px -64px;}
.sort-conditions{padding-right:10px;border:1px solid #ddd;}
.sort-conditions li,
.feature-box li{height:24px;line-height: 24px;margin-left: 10px;}
.sort-conditions a,
.feature-box a{padding-left:18px;background:url(../../../images/jiagebaogao/v4/s_icon.png) no-repeat 0 -144px scroll;cursor: pointer;}
.sort-conditions .cur a{background-position: 0 -194px;}
.sort-view a{width:27px;height:26px;background:url(../../../images/jiagebaogao/v4/s_icon.png) no-repeat 0 -276px;}
.sort-view .m-grid a{background-position:0 -276px;}
.sort-view .m-list a{background-position:-27px -276px;}
.sort-view .m-grid a:hover{background-position:0 -250px;}
.sort-view .m-list a:hover{background-position:-27px -250px;}
.sort-view .m-grid a.cur{background-position:0 -302px;}
.sort-view .m-list a.cur{background-position:-27px -302px;}
.price-input{margin-top: 3px;}
.price-input .txt{height:18px;line-height:18px;width:38px;border:1px solid #ddd;}
.price-input .btn{height:20px;width:45px;border:1px solid #ddd;background-color: #fff;margin-left:8px;cursor:pointer;}
.s_no_data{ text-align: center; line-height: 30px;}
/*----@sort-bar e----*/

/*----@intelligent-recommend s----*/
.intelligent-recommend{height:20px;margin-bottom: 20px;overflow: hidden;}
.intelligent-recommend dt{float:left;}
.intelligent-recommend dd{margin-left:90px;}
.intelligent-recommend dd a{margin-right:20px;color:#4385E0;}
.intelligent-recommend dd a:hover{color:#eb7e00;}
/*----@intelligent-recommend e----*/

/*search datalist e*/

/* page */
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma; padding:15px 0;}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:32px;line-height:32px; width:auto; font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:\5b8b\4f53}
.page a.first,.page a.last{width:43px}
.page a:hover{color:#fff;background-color:#0fb996;background-image:none;border-color:#0fb996;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#0fb996;font-family:arial;border-radius:3px;cursor:default; border:1px solid #0fb996;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:50px;margin-right:0;text-align:right;font-family:\5b8b\4f53}
.page .page-input{font-family:\5b8b\4f53;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #00ac8a;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#0fb996;border:1px solid #00ac8a;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}
.page span.go { margin-top: 2px;}

/***Side -Start- gaotian - 20131119***/
.side-left{float:left;width:200px; padding-bottom: 20px;}
.mart20{ margin-top: 20px;}
.center{text-align: center;}
.side-menu{padding-bottom:6px;border:1px solid #e4e4e4;position:relative;}
.side-menu li{z-index:0;line-height:34px; height: 34px; padding-left: 46px;}
.side-menu li:nth-child(2n){background:#f5f5f5}
.side-menu li.odd{background:#f5f5f5}
/*.side-menu li .side-menu-ico{display:none;position:absolute;top:0;right:100%;z-index:1;width:8px;height:40px;background:url(../../../images/jiagebaogao/bg.png) no-repeat;}
.side-menu li.active .side-menu-ico{display:block;}*/
.side-menu li.active{background:#0fb996;color:#fff}
.side-menu li.active .tit{color:#fff;}
.side-menu li.open{ border: 1px #f18100 solid; margin-left: -1px; background: #fff;line-height:32px; height: 32px;}
.side-menu li.open .tit{ color: #333333; height: 32px; line-height: 32px; display: block; background: #fff; width:155px; position:relative; z-index: 100; top: 0;}
.side-menu li.no-data,.side-menu li.no-data a{color:#999}

.side-menu .sub_item{display:none;width:548px;border:1px solid #f18100;min-height:505px;position: absolute;overflow:hidden;z-index:80;left:199px;top:-1px;margin-left:-1px;background-color: #fff;box-shadow:0px 2px 3px #ddd;}
.side-menu dt a{font-size:18px;font-weight:700;color:#eb7e00;}
.side-menu dt a:hover{text-decoration: none;}
.side-menu dl{padding:8px 0 8px 0;margin-top:-1px;zoom:1;}
.side-menu dt{margin-bottom: -5px; font-family: "microsoft yahei"}
.side-menu dd{overflow: hidden;}
.side-menu dd a{float: left;margin-right:15px;white-space: nowrap;font-family:\5B8B\4F53}
.side-menu .sub-in{min-height:489px; padding:15px 15px 15px 30px;line-height: 24px;background-color:#fff;}
.side-menu li.open .sub_item{ display: block;}
.cattle-cont{ border: 1px #ddd solid; margin-top: 20px;}
.cattle-items{ padding: 10px;}
.cattle-items li{ padding: 10px 0; height: 50px; overflow:hidden; zoom:1;}
.cattle-items li .tit,
.cattle-items li .tit1,
.cattle-items li h3{ line-height: 14px; margin-bottom: 2px; color: #333;}
.cattle-items li .tit{ height: 14px; overflow: hidden;}
.cattle-items li p{ line-height: 18px; color: #999999;}
.cattle-items .numb em{ color: #e3830b;}
.cattle-items .numb a,
.cattle-items .numb span{ color:#e85570; }
.cattle-items .text{ overflow: hidden; height: 18px;}
.cattle-items .text1{ overflow: hidden; height: 36px;}
.cattle-items .pic,
.cattle-items .pic1{ width: 48px; height: 48px; margin-top: 2px; float: left; overflow:hidden; margin-right: 10px; _display: inline;}


/***Side -End- gaotian - 20131119***/
/***历史最低价 -End- gaotian - 20131119***/
.l{float:left}
.column-zdj{float:left;width:780px;padding-bottom:20px;}
.column-zdj li{display:inline;float:left;width:240px;height:386px;margin-left:20px;color:#666;font-family:Microsoft YaHei, "微软雅黑";line-height:14px;}
.column-zdj .pic,.column-zdj .pic img{width:238px;height:238px;}
.column-zdj .pic{display:block;position:relative;z-index:0;overflow:hidden;margin-bottom:2px;border:1px solid #e4e4e4;transition:border 0.4s ease-in-out}
.column-zdj .pic:hover,.bp-player .pic:hover{border-color:#EB7E00}
.column-zdj .pic small{display: none;position:absolute;bottom:-100%;left:0;z-index:1;width:208px;padding:10px 15px;background-color:#000;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);background:rgba(0,0,0,.5);color:#fff;transition:bottom .4s ease-in-out}
.column-zdj .pic:hover small{/*bottom:0;*/ display: none;}
.column-zdj .pic .data-numb{ position: absolute; right: 10px; bottom: 10px;}
.column-zdj small strong{display:block;height:36px;overflow:hidden;word-break:break-all;line-height:18px;}
.column-zdj small span{display:block;margin:2px 0 8px;padding-bottom:16px;border-bottom:1px dashed #fff;}
.column-zdj small b{float:right;font-weight:normal;}
.column-zdj small u{float:right}
.column-zdj li a{color:#666;}
.column-zdj li a:hover,.column-zdj p b,.side-menu li.no-data a:hover,.bp-player .tit:hover{color:#EB7E00}
.column-zdj li p{padding-bottom:6px;}
.column-zdj li p u{float:right;color:#999}
.column-zdj .tit{display:block;width:238px;height:14px;overflow:hidden;margin-top:4px;margin-bottom:11px;white-space:nowrap;text-overflow:ellipsis;}
.column-zdj li .bt_yellow{margin-top:9px;}
.column-zdj li .bt_yellow,.column-zdj li .bt_yellow:hover{color:#fff;}
.column-zdj .page{margin-left:20px;width:auto}
/***历史最低价 -End- gaotian - 20131119***/

/***商家大比拼 -Start- gaotian - 20131119***/
.column-bp .medal{display:inline-block;width:18px;height:16px;margin-right:2px;background-image:url(../../../images/jiagebaogao/bg.png);font-size:0;line-height:0;vertical-align:-3px;_vertical-align:-2px}
.medal-gold{background-position:-118px 0}
.medal-silver{background-position:-140px 0}
.medal-bronze{background-position:-160px 0}
.column-bp{display:inline;float:left;width:760px;margin-left:20px;border-top:1px solid #e4e4e4}
.bp-table{width:760px;border:1px solid #e4e4e4;_border-top-color:#fff;line-height:14px;font-family:Arial;text-align:center;}
.bp-table thead th{padding:18px 0;border:1px solid #e4e4e4;border-top-color:#fff;background:#f5f5f5;color:#666;font-weight:bold;font-size:14px;text-align:center;}
.bp-table td{padding:26px 14px;border:1px solid #e4e4e4;}
.bp-player .pic,.bp-player .pic img{width:98px;height:98px;}
.bp-player .pic{float:left;border:1px solid #e4e4e4}
.bp-player .tit{display:inline;float:left;width:110px;margin:4px -20px 0 10px;color:#666;line-height:18px;text-align:left}
.bp-tdCont{height:148px;overflow:hidden;margin:-27px -14px;}
.bp-tdCont table{width:101%;margin:-1px -1px -2px -2px;color:#666;text-align:center;}
.bp-tdCont td{height:60px;border-style:dashed;text-align:center;}
.bp-tdCont .img{height:87px;_height:92px;}
.bp-tdCont .img .data-numb{ margin: 0 auto;}
*html .bp-tdCont .img a{display:block;width:110px;height:56px;overflow:hidden;}
.bp-tdCont .img img{_width:110px;max-width:110px;max-height:56px;}
.bp-tdCont b{display:block;padding-bottom:8px;font-weight:normal;font-size:12px;}
.bp-table .price{color:#666;font-size:14px;line-height:18px;font-family:"Microsoft YaHei",Simhei,Arial;}
.bp-table .price s{margin-right:2px;}
.bp-tdCont td{padding:0}
.column-bp .page{padding:20px 0;}
/***商家大比拼 -End- gaotian - 20131119***/