@red:#db000f;
@hover:#eb7e00;
@c333:#333;
@c666:#666;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';


html,body{ overflow-x: hidden; }
.inc-topimg{ width: 980px; margin: 0 auto; position: relative;}
.inc-topimg .inc-items{ position: relative; height: 168px;}
.inc-topimg .inc-items img{ position: absolute; height: 168px; left: 50%; margin-left: -958px; width: 1920px;}

.inc-main{ width: 100%; height: 542px; background: #ec303e; position: relative; border-bottom: 7px #b61723 solid;}
.inc-main .mian-w{ width: 980px; position: relative; height: 542px; margin: 0 auto;}
.mian-w .arr1,
.mian-w .arr2{ position: absolute;}
.mian-w .arr1{ width: 20px; height: 70px; background: url("../../../images/huodong/zuiqiangdanao/_sprite/inc-05.png?__sprite") no-repeat; top: 150px; left: 555px;}
.mian-w .arr2{ width: 48px; height: 62px; background: url("../../../images/huodong/zuiqiangdanao/_sprite/inc-06.png?__sprite") no-repeat; bottom: -7px; left: 515px;}
.huojiang{ height: 30px; padding: 78px 64px 17px;  background: url("../../../images/huodong/zuiqiangdanao/inc-03.png") no-repeat; overflow: hidden;}
.huojiang .text-roll{ line-height: 30px; color: #ffa800; font-size: 16px; font-family:@yahei; height: 30px; overflow: hidden;}
.huojiang .text-roll li{ height: 30px;}
.main-cen{ padding-top: 25px;}
.main-l{ width: 550px; float: left; margin-left: -7px;}
.game-gz{ width: 550px; height: 215px; background: url("../../../images/huodong/zuiqiangdanao/inc-08.png") no-repeat;}
.game-gz ul{ padding: 78px 25px 0 85px; overflow: hidden;}
.game-gz ul li{ line-height: 16px; height: 18px; overflow: hidden; margin-bottom: 8px;background: url("../../../images/huodong/zuiqiangdanao/_sprite/inc-07.png?__sprite") no-repeat; color:#ffd904; font-size: 14px;}
.game-gz ul li em{ width:28px; height: 18px; float: left; display: inline; margin-right: 25px; text-align: center; color: #c11421; font-family:@yahei; font-style: italic;}
.main-l .btn{ padding-top: 20px;}
.main-l .btn dt{ float: left; width: 345px;}
.main-l .btn .wydt-btn{ width: 325px; height: 95px; display: block;background: url("../../../images/huodong/zuiqiangdanao/_sprite/inc-btn1.png?__sprite") no-repeat; margin-top: 15px;}
.main-l .btn .wydt-btn:hover{ width: 325px; height: 95px; display: block;background: url("../../../images/huodong/zuiqiangdanao/_sprite/inc-btn1-hover.png?__sprite") no-repeat;}
.main-l .btn dd{ float: left;}
.main-l .btn dd a{ width: 170px; height: 65px; display: block; font-size: 16px; font-family: @yahei; text-align: center; line-height: 50px;}
.main-l .btn .zqbd-btn{background: url("../../../images/huodong/zuiqiangdanao/_sprite/inc-btn2.png?__sprite") no-repeat; margin-bottom: 10px; color: #fff;}
.main-l .btn .zqbd-btn:hover{background: url("../../../images/huodong/zuiqiangdanao/_sprite/inc-btn2-hover.png?__sprite") no-repeat;}
.main-l .btn .bdzs-btn{background: url("../../../images/huodong/zuiqiangdanao/_sprite/inc-btn3.png?__sprite") no-repeat; color: #ec303e;}
.main-l .btn .bdzs-btn:hover{background: url("../../../images/huodong/zuiqiangdanao/_sprite/inc-btn3-hover.png?__sprite") no-repeat;}

.main-r{ width: 388px; float: right; height: 340px; margin-top: 25px; margin-right: -5px; _display: inline;background: url("../../../images/huodong/zuiqiangdanao/inc-04.png") no-repeat; }
.main-r .tips{ padding: 54px 12px 0 12px;}
.main-r .tips li{ padding-left:26px; line-height: 26px; font-size: 14px; color: #be1622;}
.main-r .tips li.even{ color: #ffd904;}

.inc-zhuanpan{width: 100%; height: 785px; position:relative; background: #4fa7ff;}
.inc-zhuanpan .btn{ width: 480px; height: 95px; margin: 50px auto 0;}
.inc-zhuanpan .btn a{ display: block; height: 95px; background: url("../../../images/huodong/zuiqiangdanao/_sprite/inc-btn4.png?__sprite") no-repeat;}
.inc-zhuanpan .btn a:hover{ background: url("../../../images/huodong/zuiqiangdanao/_sprite/inc-btn4-hover.png?__sprite") no-repeat;}
<<<<<<< HEAD
.lottery-circle{position: relative;}
.lottery-circle .lottery-times{position:absolute;left:50%;margin-left:-160px;color:#ec303e;font-size: 42px;font-family: @yahei;font-weight: 700;}
.lottery-circle .lottery-times span{color:#4FA7FF}
=======

>>>>>>> 203c99c46f28b0763a4daa5db47eebc9b696d906
/*----@dialog s----*/
@DF2D3A:#DF2D3A;
@DD2A38:#DD2A38;
@mt30:30px;
@mb24:24px;
@mt24:24px;
@c-ff6:#ff6600;

.c-ff6{color:@c-ff6;}
.mt30{margin-top: @mt30;}
.mb24{margin-bottom: @mb24;}
.mt24{margin-top: @mb24;}
.mb12{margin-bottom: @mb24/2;}
<<<<<<< HEAD
.dialog-mask{display:none;position: absolute;z-index:400;top:0;left:0;width:100%;background:#000;opacity: .5;filter:alpha(opacity=50);overflow:hidden;height:100%;}
.dialog{position:absolute;left:50%;top:360px;margin-left:-227px;z-index:600;border:3px solid @DD2A38;}
.dialog-close{position: absolute;right:10px;top:8px;width: 20px;height: 20px;background:url(../../../images/huodong/zuiqiangdanao/_sprite/inc-close.png?__sprite) no-repeat 0 0; }
.dialog-close:hover{position: absolute;width: 20px;height: 20px;background:url(../../../images/huodong/zuiqiangdanao/_sprite/inc-close-hover.png?__sprite) no-repeat 0 0; }
.dialog .dialog-content{position:relative;width: 448px;height:190px;border-top:1px solid #B61E29;background:#fff;text-align: center;}
.dialog .dialog-content .count-down{position: absolute;right:0;bottom:0;font-size:14px;color:@c999;margin-right:4px;margin-bottom:8px;}
.dialog .dialog-content .count-down em{color:@DD2A38;}
.dialog h2{ padding:4px 30px 6px 20px; width:399px; font-family: @yahei;font-size:18px;background-color:@DD2A38;color:#fff;}
.question-list{text-align: left;}
.question-list li{ font-family: @yahei;font-size:16px; margin-bottom:6px;}
.question-list .radio-off,
.question-list .radio-on{height: 20px;line-heihgt:20px;cursor:pointer;display: inline-block;*display: inline;*zoom: 1;text-indent: 3em;}
.question-list .radio-off{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-radio-off.png?__sprite) no-repeat 53px 2px;padding-left: 26px;}
.question-list .radio-on{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-radio-on.png?__sprite) no-repeat 53px 2px;padding-left: 26px;}
=======
.dialog{position:absolute;top:0;border:3px solid @DD2A38;}
.dialog-close{position: absolute;right:10px;top:8px;width: 20px;height: 20px;background:url(../../../images/huodong/zuiqiangdanao/_sprite/inc-close.png?__sprite) no-repeat 0 0; }
.dialog-close:hover{position: absolute;width: 20px;height: 20px;background:url(../../../images/huodong/zuiqiangdanao/_sprite/inc-close-hover.png?__sprite) no-repeat 0 0; }
.dialog .dialog-content{position:relative;width: 448px;height: 142px;border-top:1px solid #B61E29;background:#fff;text-align: center;}
.dialog .dialog-content .count-down{position: absolute;right:0;bottom:0;font-size:14px;color:@c999;margin-right:4px;margin-bottom:8px;}
.dialog .dialog-content .count-down em{color:@DD2A38;}
.dialog h2{padding-left:20px;height:38px;line-height: 34px;font-family: @yahei;font-size:18px;background-color:@DD2A38;color:#fff;}
.question-list{text-align: left;}
.question-list li{float:left;width:50%;font-family: @yahei;font-size:16px;}
.question-list .radio-off,
.question-list .radio-on{cursor:pointer;display: inline-block;*display: inline;*zoom: 1;text-indent: 3em;}
.question-list .radio-off{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-radio-off.png?__sprite) no-repeat 3em 2px;padding-left: 26px;}
.question-list .radio-on{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-radio-on.png?__sprite) no-repeat 3em 2px;padding-left: 26px;}
>>>>>>> 203c99c46f28b0763a4daa5db47eebc9b696d906
.inc-btn5,
.inc-btn6,
.inc-btn7,
.inc-btn8{display: inline-block;*display: inline;*zoom: 1;width:168px;height: 42px;font-size:0;overflow: hidden;line-height: 0;}
.inc-btn5{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-btn5.png?__sprite) no-repeat 0 0;}
.inc-btn5:hover{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-btn5-hover.png?__sprite) no-repeat 0 0;}
.inc-btn6{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-btn6.png?__sprite) no-repeat 0 0;}
.inc-btn6:hover{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-btn6-hover.png?__sprite) no-repeat 0 0;}
.inc-btn7{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-btn7.png?__sprite) no-repeat 0 0;}
.inc-btn7:hover{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-btn7-hover.png?__sprite) no-repeat 0 0;}
.inc-btn8{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-btn8.png?__sprite) no-repeat 0 0;}
.inc-btn8:hover{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-btn8-hover.png?__sprite) no-repeat 0 0;}

<<<<<<< HEAD
.dialog-content .tips{padding-left:32px; padding-bottom:4px;color:#333;font-size:16px;font-family: @yahei;}
=======
.dialog-content .tips{padding-left:32px;color:#333;font-size:18px;font-family: @yahei;}
>>>>>>> 203c99c46f28b0763a4daa5db47eebc9b696d906
.niubility{font-size:24px;}
.tips-right{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-right.png?__sprite) no-repeat 2px 0;}
.tips-error{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-error.png?__sprite) no-repeat 2px 0;}
.tips-clock{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-clock.png?__sprite) no-repeat 2px 0;}
.tips-great{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-great.png?__sprite) no-repeat 2px 0;}
<<<<<<< HEAD
.tips-smile{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-smile.png?__sprite) no-repeat 2px 0;}
.tips-cry{background: url(../../../images/huodong/zuiqiangdanao/_sprite/inc-cry.png?__sprite) no-repeat 2px 0;}
.a-links{color:#0086cc;float:right;text-decoration: underline;margin-right:80px;}

.dialog .result-panel { display: none;}
.dialog .result-panel.show { display: block;}
=======
.a-links{color:#0086cc;float:right;text-decoration: underline;margin-right:80px;}
>>>>>>> 203c99c46f28b0763a4daa5db47eebc9b696d906
/*----@dialog e----*/
