<div ng-show="show">
	<div class="popmask" ng-click="hideModal()"></div> 
    <div class="hf-pop login-pop">
        <a href="javascript:;" class="close" ng-click="hideModal()"></a>
<!--         <div class="login-cent clear-fix">
            <div class="fl">
                <h2>使用第三方登录</h2>
                <a class="login-sina" href="#">微博账户登录</a>
                <a class="login-qq" href="#">QQ账户登录</a>
            </div>
            <div class="fr">
                <h2><i></i>使用帮5买帐号登录</h2>
                <form>
                    <div class="login-field cfx">
                        <label for="username">用户名:</label>
                        <input type="text" value="" id="username" name="username" />
                    </div>
                    <div class="login-field cfx">
                        <label for="password">密码:</label>
                        <input type="password" value="" id="password" name="password" />
                        <div class="login-error"><i></i>邮箱地址格式不正确</div>
                    </div>
                    <div class="login-btn"><a href="javascript:void(0);">登录</a></div>
                </form>
            </div>
        </div> -->
        <div class="lq-process">
            <h3 class="mail">您还没有登录</h3>
            <p class="tip">登录抢话费！</p>
            <p class="btn">
                <a href="">立即去绑定</a>
            </p>
        </div>
    </div>	
</div>