<div modal-dialog show='Bill.modalShown' type={{Bill.DialogType}} showtype="Bill.showType">

</div>
<!--status s-->
<div class="wp">
    <ul class="s-crumb clear-fix">
        <li class="post">一键登录</li>
        <li class="post">绑定手机</li>
        <li class="post">绑定邮箱</li>
        <li class="cur">领取话费</li>
    </ul>
</div>
<!--status e-->
<!--main s-->
<div class="s-cont step4-bg">
    <div class="wp step-mian">
        <div class="time-wp">
            <h3>下一档时间： </h3>
            <!-- <p>剩余<b>3</b>小时<b>58</b>分<b>12</b>秒</p> -->
            <p id="J_countDown"></p>
        </div>
        <div class="name-list">
            <h3>获奖名单</h3>
            <ul>
                <li ng-repeat="user in Bill.userDatas">用户<span>{{user.uname}}</span>抢到了<b>{{user.charge}}</b>元话费</li>
            </ul>
        </div>
        <div class="huafei">
            <ul>
                <li ng-class="{'no-buy':(Bill.level2.istart == 0),'buy':(Bill.level2.istart != 0)}">
                    <p class="pic"><img src="http://staticcdn.b5m.com/static/images/huodong/songhuafei/s-pic12.png" /> </p>
                    <p class="sy-numb">剩余 {{Bill.level2.got}} 个名额</p>
                    <p class="time">每日{{Bill.level2.start}}点至{{Bill.level2.end}}点<span>准时开启</span></p>
                    <p class="yq-numb">已有<b>{{Bill.level2.num}}</b>人抢到</p>
                    <p class="btn" ng-class="{'qg-btn':(Bill.level2.got != 0),'dis-btn':(Bill.level2.got == 0)}">
                        <a href="#" ng-click="toggleModal(2,50,$event)">
                            {{Bill.level2.txt}} >
                        </a> 
                    </p>
                    <p class="dis-layer"></p>
                </li>
                <li class="mart10" ng-class="{'no-buy':(Bill.level1.istart == 0),'buy':(Bill.level1.istart != 0)}">
                    <p class="pic"><img src="http://staticcdn.b5m.com/static/images/huodong/songhuafei/s-pic13.png" /> </p>
                    <p class="sy-numb">剩余 {{Bill.level1.got}} 个名额</p>
                    <p class="time">每日{{Bill.level1.start}}点至{{Bill.level1.end}}点<span>准时开启</span></p>
                    <p class="yq-numb">已有<b>{{Bill.level1.num}}</b>人抢到</p>
                    <p class="btn" ng-class="{'qg-btn':(Bill.level1.got != 0),'dis-btn':(Bill.level1.got == 0)}">
                        <a href="#" ng-click="toggleModal(1,30,$event)">
                            {{Bill.level1.txt}} >
                        </a> 
                    </p>
                    <p class="dis-layer"></p>
                </li>
                <li class="mart20"  ng-class="{'no-buy':(Bill.level0.istart == 0),'buy':(Bill.level0.istart != 0)}">
                    <p class="pic"><img src="http://staticcdn.b5m.com/static/images/huodong/songhuafei/s-pic14.png" /> </p>
                    <p class="sy-numb">剩余 {{Bill.level0.got}} 个名额</p>
                    <p class="time">每日{{Bill.level0.start}}点至{{Bill.level0.end}}点<span>准时开启</span></p>
                    <p class="yq-numb">已有<b>{{Bill.level0.num}}</b>人抢到</p>
                    <p class="btn" ng-class="{'qg-btn':(Bill.level0.got != 0),'dis-btn':(Bill.level0.got == 0)}">
                        <a href="#" ng-click="toggleModal(0,10,$event)">
                            {{Bill.level0.txt}} >
                        </a> 
                    </p>
                    <p class="dis-layer"></p>
                </li>
            </ul>
        </div>
        <span class="cloud1"></span>
        <span class="cloud2"></span>
        <span class="cloud3"></span>
        <span class="mobile"></span>
        <span class="bot-bg"></span>
    </div>
</div>

<!--main e-->