<!--status s-->
<div class="wp">
    <ul class="s-crumb clear-fix">
        <li class="post">一键登录</li>
        <li class="post">绑定手机</li>
        <li class="cur">绑定邮箱</li>
        <li>领取话费</li>
    </ul>
</div>
<!--status e-->
<!--main s-->
<div class="s-cont step3-bg">
    <div class="wp step-mian">
        <div class="login-m">
            <div class="from-wp">
                <ul class="from-tiem">
                    <li class="cf">
                        <label>绑定邮箱：</label>
                        <input type="text" class="in-mail" ng-model="email" value="{{email}}" ng-readonly="Mail.isReadOnly"/>
                        <a href="" class="mail-btn" ng-click="Mail.sendMail()" ng-model="email" ng-show="Mail.sendEmailShow">发送验证邮件</a>
                        <p class="tip" ng-show="Mail.errorFlag">{{mailTips.mailError}}</p>
                    </li>
                    <li class="cf">
                        <a href="{{Mail.emailAddress}}" target="_blank" class="next-btn to-mail" ng-click="Mail.goToMailBox()" ng-show="Mail.NextFlag">去邮箱接收</a>
                    </li>
                </ul>
            </div>
        </div>
        <span class="cloud1"></span>
        <span class="cloud2"></span>
        <span class="cloud3"></span>
        <p class="cloud4"><strong>话费！</strong><span> 就&nbsp在&nbsp眼&nbsp前&nbsp了&nbsp！</span></p>
        <span class="floor1"></span>
        <span class="logo1"></span>
    </div>
</div>
<!--main e-->