<div ng-show="show">
	<div class="popmask" ng-click="hideModal()"></div> 
    <div class="hf-pop min-pop">
        <a href="javascript:;" class="close" ng-click="hideModal()"></a>
        <div class="lq-process">
            <h3 class="success">您已成功抢到过话费</h3>
            <p class="tip">给其他小伙伴一些机会哟~看看别的活动吧</p>
            <p class="btn">
                <a href="">去参加最强大脑</a>
            </p>
        </div>
    </div>	
</div>