<div ng-show="show">
	<div class="popmask" ng-click="hideModal()"></div> 
    <div class="hf-pop min-pop">
        <a href="javascript:;" class="close" ng-click="hideModal()"></a>
        <div class="lq-process">
            <h3 class="mail">您还没有绑定邮箱哦~</h3>
            <p class="tip">绑定手机后参加抢话费</p>
            <p class="btn">
                <a href="">立即去绑定</a>
            </p>
        </div>
    </div>	
</div>