<div class="l user-avater">
	<span class="user-pic">
		<img src="<%=avatar+'?='+Math.random()%>" alt="" height="148" width="148" onerror="this.src=B5M_UC.rootPath+'/images/ucenter/avatar130.png';">
		<a href="<%=rootPath%>/forward.htm?method=/user/account/info/index#2" style="bottom: -1px;"> 修改头像</a>
	</span>
	<p class="user-time">上次登录时间：<%=lastLoginTime%></p>
</div>
<div class="l user-account">
	<p class="user-name">
		<span>欢迎，</span>
		<strong><%=decodeURIComponent(showName)%></strong>
		<a href="javascript:void(0);" class="edit-name" onclick="this.href = rootPath + '/forward.htm?method=/user/account/info/index'">修改昵称</a>
	</p>
	<div class="user-money cf">
		<div class="user-money__bangbi icon l">
			<p><a href="<%=rootPath%>/forward.htm?method=/user/trade/common/record/index">我的帮币</a></p>
			<span class="icon bangbi"><%=bangbiBalance%></span>
			<i class="icon user-money__arrow"></i>
		</div>
		<div class="user-money__bangdou icon l">
			<p><a href="<%=rootPath%>/forward.htm?method=/user/task/index&type=1">我的帮豆</a></p>
			<span class="icon bangdou"><%=bangdouBalance%></span>
		</div>
	</div>
	<div class="progress-box mt20">
		<div class="progress-bar-out progress-1">
			<div class="progress-bar-out-right">
				<div class="progress-bar-in" style="width:<%=(bangdouTotalAmount-levelLower)/(levelHigher-levelLower) * 100%>%;"><i class="progress-point"></i></div>
			</div>
		</div>
		<span class="level level-left"><img src="http://staticcdn.b5m.com/static/images/center/level/mini-LV<%=levelNum%>.png" alt=""></span>
		<span class="level level-right"><img src="http://staticcdn.b5m.com/static/images/center/level/mini-LV<%=levelNum+1%>.png" alt=""></span>
		<p class="level-tips"><em><%=bangdouTotalAmount-levelLower%>/<%=levelHigher-levelLower%></em>还需<%=levelHigher-bangdouTotalAmount%>帮豆升级到下一级</p>					
	</div>
	<div class="make-money">
		<a href="javascript:void(0);" class="get-quan" id="everySign" isSign="<%=isSign%>"><%=isSign?'已签到':'去签到'%></a>
		<!-- <a href="javascript:void(0);" class="recharge" onclick="this.href = rootPath + '/forward.do?method=/user/trade/bangbi/pay/index'">充值</a> -->
		<a href="javascript:void(0);" id="<%=isPluginSign? 'hasInstallSignDone':'hasInstallPlugin'%>" class="get-red" isSign="<%=isPluginSign%>" ><%=isPluginSign?'已领取每日红包':'每日红包任务'%></a>
		
		<!-- <a href="javascript:void(0);" class="bangdou" onclick="this.href = rootPath + '/forward.do?method=/user/task/index';">赚帮豆</a> -->
	</div>
</div>