<div class="layout-title-line">我的基础信息</div>
<div class="trade-user-box cf">
    <div class="trade-usr-name l">
        欢迎:<br/>
        <span><b><%=decodeURIComponent(showName)%></b></span>
    </div>
    <div class="trade-usr-connection l">
        邮箱：<span class="a-black"><%=email%></span>
        <% if(!(activation=='REG')){%>
       		 <span>[<a href="<%=rootPath%>/forward.do?method=/user/account/security/email/validateEmail" class="cl-347">验证邮箱</a>]</span>
       	<%}else{ %>
       		 <span>[已验证]</span>
       	<%}%>
        <br/>
        <% if(!(isMobileBind == 1)){%>
        	<s class="ico-trade-mobile "></s>未验证&nbsp;&nbsp;<span class="a-black">[<a href="<%=rootPath%>/forward.do?method=/user/account/security/mobile/bindMobile" class="cl-347">验证手机</a>]</span><span>，保护账号安全</span><s class="ico-trade-safe"></s>
        <%}else{ %>
       		<s class="ico-trade-mobile"></s>手机号码：<span class="a-black"><%=mobile.substr(0,3)%>******<%=mobile.substr(8,11)%></span>
       		<span class="cl-999">[已绑定]</span>
       	<%}%>
    </div>
    <div class="trade-usr-msg l">
        <small><b>公告：</b><a class="cl-eb7" href="http://www.b5m.com/huodong.php">帮5买帮豆抽奖活动火热进行中，100%中奖，更有神秘大礼等着你哦，还等什么，快来点我吧~~</a></small>
    </div>
</div>
<div class="trade-count-box">
    <div class="trade-mybb l pz">
        <a href="javascript:void(0);" class="trademanage-topLink cl-eb7" onclick="this.href = B5M_UC.rootPath + '/forward.do?method=/user/trade/bangbi/record/list'">订单记录明细</a>
        <ins><%=bangbiBalance%></ins>
        <div class="trademanage-changeLink"><!-- <a href="javascript:void(0);" onclick="this.href = B5M_UC.rootPath + '/forward.do?method=/user/trade/bangbi/pay/index'">充值</a> --></div>
        <div class="trademange-link-info disable-link">
            <!-- <a href="javascript:void(0);" class="trademange-golink" onclick="this.href = B5M_UC.rootPath + '/forward.do?method=/user/trade/bangbi/exchange/index'">兑换帮豆<s></s></a> -->
            <a href="javascript:void(0);" class="trademange-golink">兑换帮豆<s></s></a>
            <!-- <a href="" class="trademange-getlink a-orange">已领取优惠券（10）<s></s></a> -->
        </div>
        <!-- <p class="trademange-info-p">帮币可兑换为帮豆<a href="javascript:void(0);" class="cl-347" onclick="this.href = B5M_UC.rootPath + '/forward.do?method=/user/trade/bangbi/exchange/list'">兑换详情</a></p> -->
        <p class="trademange-info-p">帮币可兑换为帮豆<a id="bangbichargebeanhandle" href="javascript:void(0);" class="cl-347" style="cursor:default" >敬请期待</a></p>
    </div>
    <div class="trade-mybd r pz">
        <a href="javascript:void(0);" class="trademanage-topLink cl-eb7" onclick="this.href = B5M_UC.rootPath + '/forward.do?method=/user/trade/bangdou/record/list'">订单记录明细</a>
        <div class="trademanage-changeLink"><a href="javascript:void(0);" onclick="this.href = B5M_UC.rootPath + '/forward.do?method=/user/task/index'">赚帮豆</a></div>
        <ins><%=bangdouBalance%></ins>
        <div class="trademange-link-info">
            <a href="http://www.b5m.com/huodong.php" class="trademange-golink" >花帮豆<s></s></a>
        </div>
        <p class="trademange-info-p">帮豆活动天天有，重重好礼等你拿，有超值大礼哦<br/><a href="http://www.b5m.com/huodong.php" class="cl-347" >活动详情</a></p>
    </div>
</div>