@red:#fb0303;
@hover:#eb7e00;
@orange:#eb7601;
@c000:#000;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';
.cl-ffd{color:#ffd81d;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.vh{font-size:0;overflow: hidden;line-height: 0;}
/*通用顶部 -Start-zibu-20140319*/
.header-box .header-logo{ margin: 0;}
.header-tools-search .header-search-content{}
.header-search-content #scbar_txt{border:1px solid #c8c8c8;}
.header-rearch-submit,.header-nav-box{background:#db000f;}
.header-nav-box{ margin-top: 10px;}
.header-rearch-submit:hover{background:#b00000;}
.header-nav-back s{border-left-color:#db000f}
.header-nav-box li{border-color:#E2404B}
.header-nav-box li a:hover{background-color:#C5000D}
.header-nav-box .cur a, .header-nav-box .cur a:hover{background:#000;color:#fff}
/*通用顶部 -End-zibu-20140319*/

/*培训活动css s*/
#wp{ width: 100%;}
#wp .wp{ width: 980px;}
.star-wp{ width: 100%; padding-bottom: 20px; background: #fff066;}
.pz{ position: relative;  z-index: 0; overflow-x: hidden;}
.star-bgwp{ width: 100%; height: 865px; overflow-y:hidden; }
.star-bg{ position: absolute;  left: 50%; margin-left: -960px; top: 0;}
.star-mag{ z-index: 2; width: 916px; height: 850px; position: relative; margin: 0 auto;
    .lt-list{ width: 161px; padding: 55px 18px 0; height: 338px; background: url("../../../../images/korea/huodong/star/zjmd-bg.png") no-repeat; position: absolute; right: 0; top: 30px;
      li{ overflow: hidden; zoom:1;padding:7px 0; }
      .img-con{height:40px; width:40px; overflow: hidden; float: left;
          img{ width: 40px; height: 40px;}
      }
      .rt{margin:0 0 0 50px; line-height:1.5;}
      .tp{color:#333;white-space:nowrap; word-wrap: normal; height:18px; overflow: hidden; text-overflow:ellipsis;}
      .bt{color:#666;white-space:nowrap; word-wrap: normal; height:18px; overflow: hidden; text-overflow:ellipsis;
          .orange{ color: #ff0000;}
      }
    }
    .user-scroll-box { position: relative; height: 324px; width:160px; overflow: hidden;
      .box { top:0; position: absolute;  width:160px;}
    };
    .hdgz-wp{ width: 316px; height: 231px; background: url("../../../../images/korea/huodong/star/hdgz-bg.png") no-repeat; right: 0; top: 434px; position: absolute;}
    .lott-text{ width: 301px; height: 166px; background: url("../../../../images/korea/huodong/star/cjl-pic.png") no-repeat; position: absolute; left: 410px; top: 22px;}
    .zuce-text{width: 226px; height: 44px; background: url("../../../../images/korea/huodong/star/zc-text.png") no-repeat; position: absolute; left: 376px; top: 490px;}
    .zuce-btn{width: 169px; height: 58px; background: url("../../../../images/korea/huodong/star/zc-btn.png") no-repeat; position: absolute; left: 402px; top: 550px;}
}
.star-cont{ position: relative; z-index: 2; margin-top: -120px;
     .title{ overflow:hidden; height: 30px; line-height: 30px; padding: 0 20px;
         p{ float: right; color: #666;}
         h3{ color: #fe508a; font-size: 18px; font-family: "microsoft yahei"; font-weight: bold; background: url("../../../../images/korea/huodong/star/x-icon.png") no-repeat; padding-left: 45px;}
     }
    .star-tp{background: #fff8b3; padding-bottom: 10px;
       .items{ padding:20px 15px; margin-top: 15px;
         li{ width: 150px; float: left; margin:20px 20px 0 20px;
           img{ width: 150px; height: 190px;}
           .sele{ overflow:hidden; line-height: 20px; height: 20px; margin-top: 5px;
              input{ width: 14px; height: 14px; float: left; margin: 4px 2px 0 0px;}
             .numb{ float: right;}
             .vato{ float: right; width: 40px; height: 10px; border: 1px #e3004c solid; border-radius: 5px; background: #fff;margin: 4px 3px 0 0;
                  b{ float: left; height: 10px; background: #fe508a;}
             }
           }
         }
       }
       .sub-btn{text-align: center;font-family: "microsoft yahei";
          a{ display:inline-block; width: 108px; height: 38px; line-height: 38px; text-align: center; color: #fff; background: #fe508a; font-size: 20px; border-radius: 8px;}
       }
    }
}
.lottery{position: absolute;left:286px; top:80px;}
.ly-plate{position:relative; width:392px; height:392px; }
.rotate-bg{width:392px; height:392px;background-repeat:no-repeat;background-position: 0 0; }
.rotate-day{background-image: url(../../../../images/korea/huodong/star/zhuanpan_day.png);}
.ly-plate div.lottery-star{width:272px; height:272px; position:absolute; top:60px; left:62px; outline:none }
.ly-plate div.lottery-star #lotteryBtn{cursor: pointer; position: absolute; top:0; left:0; }

/*----@popup s----*/
.popup{position:absolute;left:50%;margin-left:-185px;top:320px;overflow:hidden;width:370px;height:268px;padding:0 30px;background: url(../../../../images/korea/huodong/star/popup_bg.png) no-repeat scroll;}
.popup .close{position:absolute;top:10px;right:20px;width:17px;height:17px;background: url(../../../../images/korea/huodong/star/popup_bg.png) no-repeat -200px -268px scroll;cursor: pointer;}
.popup .title{margin-top: 50px;color:#fff;font-weight: 700;font-size:24px;font-family: 'microsoft yahei';}
.popup-thanks{width:130px;height:142px;background-position: 0 -268px;}
.popup-thanks .title{margin-top: 35px;text-align: center;}
.popup-thanks .close{right:10px;}
.popup-in{width:334px;height:100px;padding:10px;background-color: #E27806;color:#fff;font-size:16px;font-family: 'microsoft yahei';}
/*----@popup e----*/

/*----@btn s----*/
.btn-box{text-align: center}
.btn{display: inline-block;*display: inline;*zoom: 1;vertical-align:middle;height:40px;line-height:40px;padding:0 16px;border-width:1px;border-style:solid;color:#fff;font-family: \5FAE\8F6F\96C5\9ED1;text-decoration: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
  -moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
  box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
}
.btn-1{font-size: 22px;background-color: #FA1E1E;border-color:#C21212;}
.btn-1:hover{color:#fff;}
.btn-2{font-size: 16px;background-color: #FDDC4C;border-color:#CF740B;color:#c16b08;}
.btn-2:hover{color:#c16b08;}
/*----@btn e----*/

/*----@form s----*/
.form{margin-top: 15px;}
.form-title{margin:15px 0;color:#fff;font-size:16px;text-align: center;font-family: 'microsoft yahei';}
.form .input-txt{width:256px;height:18px;border:none;border-bottom:1px solid #EA9C48;background-color:#E27806}
.form .label{float:left;width:70px;font-size: 14px;}
.warning-tips{font-size:12px;padding:3px 6px;border:1px solid #CF740B;background-color: #FFCF7B;color:#ae5d00;}
.click-here{font-size:24px;color:#fff;font-family:'microsoft yahei';;vertical-align: middle;margin-right: 6px;}
/*----@form e----*/


/*培训活动css e*/

#huodong-quanwangXb,.huodong-quanwangXb-bg{
 display:none !important;
}