<div class="progress-box">
    <div class="progress-bar-out progress-1">
        <div class="progress-bar-out-right">
            <div class="progress-bar-in" style="width:<%=userInfoRate%>%;" alt="资料完成度<%=userInfoRate%>%">
             <i class="progress-point">
                 <div class="progress-tooltips">
                 	<span id="cl-eb7_progress-complete" class="cl-eb7 progress-complete"><%=userInfoRate%>%</span>
                 	<span id="basic_unCompleteRule"><%=unCompleteRule%></span>
                 	<span class="cl-eb7_progress-add"><%=unCompleteRuleRate%></span>
                 	<i class="arrow"></i>
                 </div>
             </i>
         </div>
        </div>
        <span class="left">资料完整度：</span>
        <span class="right">100%</span>
    </div>
</div>
<hr class="blank-line mt20">
<form method="post" id="userBasicInfoForm" class="form-h form-information">
    <div class="control-group">
        <label for="u-emai" class="control-label">当前邮箱：</label>
        <% if(email !='' && email != null ) {%>
			<div class="controls selecter">
	        	<p class="cl-eb7"><%=email%>
	        		<% if(activation=='REG'){%>
	        		    <span class="cl-999">已验证</span>
	        		<%}else{%>
	        			<a href="<%=rootPath%>/forward.htm?method=/user/account/security/email/validateEmail" id="validateEmail"  class="ml6 cl-347">[验证邮箱]</a>
	        		 <%	}%>
	        	</p>
	    	</div>
	    	<input type="hidden" value="<%=email%>" id="email" name="email" />
        <%}else{%>        
	       	<div class="controls selecter">
	        	<input type="text" class="input-big txt" id="email" name="email" value=""  >
	        	<span class="errorBox info"></span>
	        	<p class="step-tips">邮箱只可以填写一次</p>
	        </div>
        <%}%>
        
    </div>
    <div class="control-group">
        <label for="u-name" class="control-label">昵称：</label>
        <div class="controls selecter">
        	<input type="text" class="input-big txt" id="nickName" name="nickName" value="<%=nickName%>"  >
        	<span class="errorBox info"></span>
        </div>
    </div>
    <div class="control-group">
        <label for="u-name" class="control-label">真实姓名：</label>
        <div class="controls selecter"><input type="text" class="input-big txt" id="realName" name="realName" value="<%=realName%>" maxlength="20"></div>
    </div>
    <div class="control-group">
        <label for="u-name" class="control-label">性别：</label>
        <div class="controls radio selecter"><input type="radio" name="gender" value="male">男<input type="radio" name="gender" value="female" class="ml6">女</div>
    </div>
    <div class="control-group">
        <label for="u-name" class="control-label">生日：</label>
        <div class="controls ">            
            <select name="year" id="year" defValue="<%=year%>"></select>
			<select name="month" id="month" defValue="<%=month%>"></select>
			<select name="day" id="day" defValue="<%=day%>"></select>
            <span class="form-tips">（出生年份为保密）</span><span class="constell" id="constellationshow" ><%=constellation%></span>
            <input type="hidden" id="constellation" name="constellation"  value="<%=constellation%>"/>
            <input type="hidden" id="brithdayStr" name="brithdayStr" value="<%=birthdayStr%>" />
        </div>
    </div>
    <div class="control-group">
        <label for="u-name" class="control-label">居住地：</label>
        <div class="controls selecter">
            <select name="province" id="cProvince" defValue="<%=cProvince%>"></select>
			<select name="city" id="cCity" defValue="<%=cCity%>"></select>
			<input type="hidden" id="currentResidence" name="currentResidence" value="<%=currentResidence%>"/>     
        </div>
    </div>
    <div class="control-group">
        <label for="u-name" class="control-label">家乡：</label>
        <div class="controls selecter">
            <select name="province" id="hProvince" defValue="<%=hProvince%>"></select>
			<select name="city" id="hCity" defValue="<%=hCity%>"></select>
			<input type="hidden" id="hometown" name="hometown" value="<%=hometown%>"/>     
        </div>
    </div>
    <div class="control-group">
        <label for="u-name" class="control-label">手机：</label>
        <div class="controls selecter">
        	
        	<% if(isMobileBind == 1){%>
        						<p><%=mobile.substr(0,3)%>******<%=mobile.substr(8,11)%><span class="ml6 cl-999">已绑定</span></p>
								<%}else{%>
								<input type="text" class="input-big txt" id="mobile" name="mobile" maxlength="11" value="<%=mobile%>">
								<a href="<%=rootPath%>/forward.htm?method=/user/account/security/mobile/bindMobile" class="ml6 cl-347">[绑定手机]</a>
								<%}%>
        	
        	<span class="errorBox info"></span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls"><a href="javascript:void(0);" id="editBasicInfoSub" class="btn btn-1">保存</a></div>
    </div>
</form>