<!-- status s -->
<div class="wp">
    <ul class="s-crumb clear-fix">
        <li class="post">一键登录</li>
        <li class="cur">绑定手机</li>
        <li>绑定邮箱</li>
        <li>领取话费</li>
    </ul>
</div>
<!--status e-->
<!--main s-->
<div class="s-cont step2-bg">
    <div class="wp step-mian">
        <div class="login-m">
            <div class="from-wp">
                <ul class="from-tiem">
                    <li class="cf">
                        <label>绑定手机号：</label>
                        <input type="text" class="in-text" ng-model="phoneNum"/>
                        <a href="" class="set-btn" ng-click="Mobile.sendCode()" ng-show="Mobile.codeShow">发送验证码</a>
                        <p class="tip">{{mobileTips.numTip}}</p>
                    </li>
                    <li class="cf">
                        <label>验证码：</label>
                        <input type="text" class="code" ng-model="codeNum" ng-change="Mobile.checkCode()"/>
                        <p class="tip" style="clear:both;" ng-show="Mobile.codeError">{{mobileTips.codeTip}}</p>
                    </li>
                    <li class="cf"><a href="" class="next-btn" ng-click="Mobile.goToBindEmail()" ng-show="Mobile.NextFlag">下一步，走你！</a> </li>
                </ul>
            </div>
        </div>
        <span class="cloud1"></span>
        <span class="cloud2"></span>
        <span class="cloud3"></span>
        <p class="cloud4"><strong>加油！</strong><span> 快&nbsp看&nbsp到&nbsp话&nbsp费&nbsp了！</span></p>
        <span class="floor1"></span>
        <span class="floor2"></span>
        <span class="logo1"></span>
    </div>
</div>
<!--main e