<div ng-show="show">
	<div class="popmask" ng-click="hideModal()"></div> 
	<div class="hf-pop min-pop"> 
		<a href="javascript:;" class="close" ng-click="hideModal()"></a> 
		<div class="lq-success"> 
			<div class="clear-fix"> <h3>领取成功</h3><span>手机号码为 13917533436</span> </div> 
			<p class="tip">稍后请检查手机短信，话费将会在12小时内到达您的手机号内</p> 
		</div>
	</div>
</div>