<!--status s-->
<div class="wp">
    <ul class="s-crumb clear-fix">
        <li class="cur">一键登录</li>
        <li>绑定手机</li>
        <li>绑定邮箱</li>
        <li>领取话费</li>
    </ul>
</div>
<!--status e-->
<!--main s-->
<div class="s-cont step1-bg">
    <div class="wp step-mian">
        <div class="login-m">
            <div class="login clear-fix">
                <a href="{{Login.qq}}" class="qq" ng-click="Login.QQ()"></a>
                <a href="{{Login.weibo}}" class="wb" ng-click="Login.WeiBo()"></a>
            </div>
            <p class="login-tip"><a href="{{Login.b5m}}" class="cur" ng-click="Login.B5M()">登录B5M帐号</a> <a href="{{Login.register}}">注册新帐号</a></p>
        </div>
        <span class="cloud1"></span>
        <span class="cloud2"></span>
        <span class="cloud3"></span>
        <p class="cloud4"><strong>只需一键</strong><span> 立&nbsp&nbsp即&nbsp&nbsp登&nbsp&nbsp录!</span></p>
        <span class="floor1"></span>
        <span class="floor2"></span>
        <span class="logo1"></span>
    </div>
</div>
<!--main e-->