<div ng-show="show">
    <div class="popmask" ng-click="hideModal()"></div> 
    <!--领取成功-->
    <div class="hf-pop min-pop" id="J_success">
        <a href="javascript:;" class="close" ng-click="hideModal()"></a>
        <div class="lq-success">
            <div class="clear-fix">
                <h3>领取成功</h3><span>手机号码为<i class="phoneNum"></i></span>
            </div>
            <p class="tip">稍后请检查手机短信，话费将会在12小时内到达您的手机号内</p>
        </div>
    </div>
    <!--绑定手机-->
    <div class="hf-pop min-pop" id="J_mobile">
        <a href="javascript:;" class="close" ng-click="hideModal()"></a>
        <div class="lq-process">
            <h3 class="mobile">您还没有绑定手机哦~</h3>
            <p class="tip">绑定手机后参加抢话费</p>
            <p class="btn">
                <a href="" ng-click="gotoBindMobile()">立即去绑定</a>
            </p>
        </div>
    </div>
    <!--绑定邮箱-->
    <div class="hf-pop min-pop" id="J_email">
        <a href="javascript:;" class="close" ng-click="hideModal()"></a>
        <div class="lq-process">
            <h3 class="mail">您还没有绑定邮箱哦~</h3>
            <p class="tip">绑定手机后参加抢话费</p>
            <p class="btn">
                <a href="" ng-click="gotoBindEmail()">立即去绑定</a>
            </p>
        </div>
    </div>
    <!--成功抢到过话费-->
    <div class="hf-pop min-pop" id="J_charge">
        <a href="javascript:;" class="close" ng-click="hideModal()"></a>
        <div class="lq-process">
            <h3 class="success">您已成功抢到过话费</h3>
            <p class="tip">给其他小伙伴一些机会哟~看看别的活动吧</p>
            <p class="btn">
                <a href="http://www.b5m.com/zuiqiangdanao.htm">去参加最强大脑</a>
            </p>
        </div>
    </div>
    <!--分享弹出框-->
    <div class="hf-pop share-pop" id="J_share">
        <a href="javascript:;" class="close" ng-click="hideModal()"></a>
        <div class="sh-cent">
            <h3>恭喜你抽中<span><span class="charge"></span>元</span>话费！</h3>
            <p class="tip">您的注册手机为 <i class="phoneNum"></i></p>
            <p class="tit">分享到微博后领取</p>
            <div class="share-text">#帮5买注册送话费#亲～我在帮5买注册账号得到了<span class="charge"></span>元话费哦～下载最牛比价插件帮5淘 http://t.b5m.com，参加注册送话费活动，便有机会得到<span class="charge"></span>元充值话费，你也快来抢吧http://t.b5m.com/huafei.htm</div>
            <p class="btn">
                <a href="" ng-click="shareWeiBo($event)">分享到微博</a>
                <span class="weibo-tips">登录微博并分享成功便可获得话费</span>
            </p>
        </div>
    </div>
    <!--分享弹出框-->
<!--     <div class="hf-pop login-pop" id="J_login">
        <a href="javascript:;" class="close" ng-click="hideModal()"></a>
        <div class="login-cent clear-fix">
            <div class="fl">
                <h2>使用第三方登录</h2>
                <a class="login-sina" href="#">微博账户登录</a>
                <a class="login-qq" href="#">QQ账户登录</a>
            </div>
            <div class="fr">
                <h2><i></i>使用帮5买帐号登录</h2>
                <form>
                    <div class="login-field cfx">
                        <label for="username">用户名:</label>
                        <input type="text" value="" id="username" name="username" />
                    </div>
                    <div class="login-field cfx">
                        <label for="password">密码:</label>
                        <input type="password" value="" id="password" name="password" />
                        <div class="login-error"><i></i>邮箱地址格式不正确</div>
                    </div>
                    <div class="login-btn"><a href="javascript:void(0);">登录</a></div>
                </form>
            </div>
        </div>
    </div> -->
    <div class="hf-pop min-pop" id="J_login">
        <a href="javascript:;" class="close" ng-click="hideModal()"></a>
        <div class="lq-process">
            <div class="clear-fix">
                <h3>您还没有登录！</h3>
            </div>
            <p class="tip">登录可以抢话费</p>
            <p class="btn">
                <a href="" ng-click="gotoLogin()">去登录</a>
            </p>
        </div>
    </div>    
</div>