<div ng-show="show">
	<div class="popmask" ng-click="hideModal()"></div> 
	<div class="hf-pop share-pop">
        <a href="javascript:;" class="close" ng-click="hideModal()"></a>
        <div class="sh-cent">
            <h3>恭喜你抽中<span>50元</span>话费！</h3>
            <p class="tip">您的注册手机为 <span>13917533436</span></p>
            <p class="tit">分享到微博后领取</p>
            <textarea  class="share-text">亲们～我在B5M注册送了50元话费哦～安装最牛逼的比价插件帮我淘http://www.b5t.com，并注 册成功便可领取50元话费！</textarea>
            <p class="btn">
                <a href="">分享到微博</a>
            </p>
        </div>
    </div>	
</div>