<table class="table table-account" id="userSecurityItem">
<colgroup><col width="10%"><col width="20%"><col width="50%"><col width="20%"></colgroup>
<tbody>
<% if(!isThirdParty){%>
		<tr>
			<td><i class="icon icon-miling"></i></td>
			<td>登录密码</td>
			<td class="intro">安全性高的密码可以使用账号更安全。建议您经常更换密码，且设置一个包含数字和字母，并长度超过6位以上的密码</td>
			<td><a
				href="<%=rootPath%>/forward.htm?method=/user/account/security/password/index"
				class="btn btn-1">修改密码</a></td>
		</tr>
		<tr class="trEvenBg">
			<td><i class="icon icon-email"></i></a></td>
			<td>邮箱验证：<% if(activation=='REG'){%> <span class="cl-999">已验证</span>
				<%}else{%> <span class="cl-eb7">未验证</span> <%}%>
			</td>
			<td class="intro">登录邮箱验证。可通过验证邮箱找回密码。</td>
			<td><% if(activation=='REG'){%> <a href="javascript:void(0);"
				class="btn btn-2">验证邮箱</a> <%}else{%> <a
				href="<%=rootPath%>/forward.htm?method=/user/account/security/email/validateEmail"
				class="btn btn-1">验证邮箱</a> <%}%>

			</td>
		</tr>
		<tr>
			<td><i class="icon icon-mobile"></i></td>
			<td>手机绑定：<% if(isMobileBind==1){%> <span class="cl-999">已绑定</span>
				<%}else{%> <span class="cl-eb7">未绑定</span> <%}%>
			</td>
			<td class="intro">绑定手机后，您即可享受更安全的帐号保护，各种手机服务如手机登录，手机找回密码等功能将陆续上线，尽情期待。</td>
			<td><% if(isMobileBind == 1){%> <a href="javascript:void(0);"
				class="btn btn-2">绑定手机</a> <%}else{%> <a
				href="<%=rootPath%>/forward.htm?method=/user/account/security/mobile/bindMobile"
				class="btn btn-1">绑定手机</a> <%}%>
			</td>
		</tr>
<%}else{%>
		<tr>
			<td><i class="icon icon-email"></i></a></td>
			<td>邮箱验证：<% if(activation=='REG'){%> <span class="cl-999">已验证</span>
				<%}else{%> <span class="cl-eb7">未验证</span> <%}%>
			</td>
			<td class="intro">登录邮箱验证。可通过验证邮箱找回密码。</td>
			<td><% if(activation=='REG'){%> <a href="javascript:void(0);"
				class="btn btn-2">验证邮箱</a> <%}else{%> <a
				href="<%=rootPath%>/forward.htm?method=/user/account/security/email/validateEmail"
				class="btn btn-1">验证邮箱</a> <%}%>

			</td>
		</tr>
		<tr class="trEvenBg">
			<td><i class="icon icon-mobile"></i></td>
			<td>手机绑定：<% if(isMobileBind==1){%> <span class="cl-999">已绑定</span>
				<%}else{%> <span class="cl-eb7">未绑定</span> <%}%>
			</td>
			<td class="intro">绑定手机后，您即可享受更安全的帐号保护，各种手机服务如手机登录，手机找回密码等功能将陆续上线，尽情期待。</td>
			<td><% if(isMobileBind == 1){%> <a href="javascript:void(0);"
				class="btn btn-2">绑定手机</a> <%}else{%> <a
				href="<%=rootPath%>/forward.htm?method=/user/account/security/mobile/bindMobile"
				class="btn btn-1">绑定手机</a> <%}%>
			</td>
		</tr>
<%}%>
	</tbody>
</table>