/*header*/

.seotop-cont-news h2 a:hover,
.contnew-pric-l a:hover,
.seot-contnew-more p a:hover,
.huopic-litit:hover,
.huopic-lilink:hover,
.ties-list-alin a:hover,
.seotop2-cont-news h2 a:hover,.seot5-huopic li .huopic-litit:hover{ color: #f11e1e}
/*seotopic-head*/
.seotopic-head{ height: 106px; background-color: #f1f1f1;}
.seotop-head-logo{ width: 980px; margin: 0 auto 30px; height: 106px; padding: 0 0 30px 0; background: url("../../images/seotopic/seotopic-logo.png") no-repeat left 0;}
/*seotopic1*/
.seotopic-content,.seotopic2-content{ width: 980px; margin: 0 auto; padding: 26px 0 15px 0}
.seotopic-content h3{ font-size: 18px; color: #35c4ef}
.seotopic-content h3 dfn{ color: #336699; font-family: "Microsoft YaHei"; font-weight: bold; vertical-align: 1px;}
.seotop-cont-news,.seotop2-cont-news{ width: 978px; border: 1px solid #e3e2e4; margin: 8px 0 20px 0}
.seotop-cont-news h2,.seotop2-cont-news h2{ height: 38px; background-color: #f7f7f7; line-height: 38px; padding: 0 0 0 10px}
.seotop-cont-news h2 a,.seotop2-cont-news h2 a{ font-family: "Microsoft YaHei"; font-size: 14px; font-weight: bold; color: #333}
.seot-contnew-pric{ margin: 20px 12px;}
.contnew-pric-img{ float: left; width: 150px; height: 100px;}
.contnew-pric-l{ float: right;}
.contnew-pric-l a{ color: #336699; font-size: 14px;}
.contnew-pric-l span{ width: 776px; height: 65px; line-height: 22px; overflow: hidden; display: block; margin: 10px 0 0 0}
.contnew-pric-m{ float: none;}
.contnew-pric-m span{ width: auto;}
.seot-contnew-more{ margin: 0 12px 25px 12px}
.seot-contnew-more span{ border-left: 3px solid #336699; height: 13px; line-height: 13px; padding: 0 0 0 10px; display: block; font-family: "Microsoft YaHei"; font-size: 14px; font-weight: bold;}
.seot-contnew-more p{ margin: 14px 0 0 12px}
.seot-contnew-more p a{ color: #336699; font-size: 14px; margin: 0 8px 0 0; line-height: 22px;}
.seot-tont-huopic{ margin: 10px 0 5px 0; *margin: 10px 0 30px 0}
.seot-tont-huopic ul{ width: 990px}
.seot-tont-huopic li{ width: 188px; height: 193px; float: left; margin: 0 10px 20px 0; background-color: #f6f7f9; border-top: 1px solid #336699}
.huopic-litit{ height: 38px; text-align: center; font-size: 14px; color: #336699; font-weight: bold; line-height: 35px; display: block;}
.huopic-liimg{ display: block; width: 188px; height: 120px; position: relative;}
.huopic-boradcast{ width: 70px; height: 70px; position: absolute; top: 50%; left: 50%; margin: -35px 0 0 -35px; background: url("../../images/seotopic/seotopic-broadcast.png") no-repeat 0 0;}
.huopic-lilink{ display: block; height: 35px; line-height: 35px; text-align: center; color: #333333}
/*seotopic1z*/
.newspict-cont-left{ float: left; width: 730px;}
.newspict-cont-left .seotop-cont-news,.seotop2-cont-news{ width: 728px; margin: 4px 0 25px 0}
/*.newspict-cont-left .seo2-content-left{ margin: 4px 0 25px 0}*/
.pric2-l span{ width: 522px;}
.pric2-l .pric2-l-tag{ color: #6d6d6d; height: auto; font-size: 12px; margin: 0; line-height: 14px;}
.newspict-cont-left h3 span,.newspict-cont-right h3 span{ font-size: 14px; color: #5c5c5c; font-weight: bold; vertical-align: 2px; font-family: "Microsoft YaHei"; margin: 0 10px 0 0}
.newspict-cont-left h3 span dfn{ color: #336699}
.seop2-h2a h2 a{ font-family: "宋体"; color: #336699; font-size: 14px; font-weight: normal; border-left: 3px solid #336699; padding: 0 0 0 10px;}
.seotopic2-news{ margin: 0px 12px 25px 12px}
.seotopic2-news-left{ float: left; width: 360px;}
.contnew-pric-m .contnew2-pricleft{ height: auto;}
.seotopic2-contnews{ margin: 0 17px 26px 0}
.seotopic2-news-advert{ float: right; width: 320px; height: 180px;}
.newspict-cont-right{ float: right; width: 230px;}
.gldy-pic{ width: 228px; border: 1px solid #e9e8eb; text-align: center; padding: 25px 0 0 0; margin: 4px 0 0 0}
.gldy-pic-back{ width: 188px; height: 165px; background-color: #f6f7f9; margin: 0 auto 20px}
.gldy-picmag{ margin: 4px 0 14px 0; padding: 25px 0 0 0}
.seotop-cont-shopties{ margin: 0 0 20px 0}
.shopties-goods{ float: left; width: 730px;}
.shopties-goods h3 span,.shopties-ties h3 span{ font-family:"Microsoft YaHei"; font-weight: bold; font-size: 14px; margin: 0 10px 0 0; vertical-align: 2px;}
.shopties-bodre,.shopties2-bodre{ width: 704px; border: 1px solid #e9e8eb; padding: 12px; margin: 10px 0 0 0; background-color: #f7f7f7}
.shopties-bodre ul{ width: 735px}
.shopties-bodre li{ width: 208px; border: 1px solid #e9e8eb; margin: 0 35px 16px 0; float: left; background-color: #fff}
.shopties-bodre li:hover{ border:1px solid #cacaca;-webkit-box-shadow:0 0 6px rgba(0,0,0,.3);-moz-box-shadow:0 0 6px rgba(0,0,0,.3);box-shadow:0 0 6px rgba(0,0,0,.3);border:solid 1px #c6c6c6;position:relative;z-index:10}
.shopt-bodli{ width: 195px; height: 160px; display: block; margin: 6px 6px 15px 6px; text-align: center;}
.shopt-bodli:before{ content: ""; display: inline-block; height: 100%; vertical-align: middle; width: 0}
.shopt-bodli img{ max-height: 100%; max-width: 100%; vertical-align: middle;}
.shopt-alink{ padding: 0 6px; display:block; height:34px; margin: 0 0 10px 0; overflow:hidden; color:#666; line-height:18px}
.shopt-alink:hover{text-decoration:underline; color:#e97d01}
.shopt-price,.shopt-start{ height: 25px; overflow: hidden; padding: 0 6px;}
.shopt-price strong{font-family:\5fae\8f6f\96c5\9ed1;color:#999;font-size:16px;vertical-align:middle}
.shopt-price:hover strong{color:#e97d01}
.shopt-start .sell-count{color:#0b72ca; *float: left;}
.shopt-start .nums-goods{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:right;color:#999}
.shopties-ties{ float: right; width: 230px}
.shopties-ties h3 span{ color: #5c5c5c; font-family:"Microsoft YaHei";}
.ties-list{ width: 228px; border: 1px solid #e9e8eb; margin: 10px 0 0 0}
.ties-list-alin{ margin: 19px 0 0 15px;}
.ties-list-alin span,.gengd-zx span{ color: #cccccc; float: left; height: 15px; line-height: 15px; *height: auto; *line-height: 20px; font-size: 20px; width: 105px; text-align: left; margin: 0 0 10px 0}
.ties-list-alin a,.gengd-zx a{ color: #4089c1; text-decoration: underline; font-size: 12px; line-height: 8px; vertical-align: top; margin: 0 0 0 2px}
.ties-ggw{ width: 180px; height: 246px; margin: 0 0 20px 24px; *margin: 0 0 15px 24px; background: url("../../images/seotopic/seotopic-img8.jpg") no-repeat 0 0;}
/*seotopic2*/
.seotopic2{ background-color: #f5f8fe;}
.seotopic2-head{height: 105px; background-color: #f5f8fe;}
.seotop2-head-logo,.seotop3z-head-logo{ height: 101px; width: 980px; margin: 0 auto; border-bottom: 4px solid #378ed1;
background: url("../../images/seotopic/seotopic2-logo.png") no-repeat left 28px;}
.seotopic2-content h3{ color: #0b91f6; font-size: 14px; font-family:"Microsoft YaHei";}
.seotopic2-content h3 dfn{ height: 7px; border-left: 7px solid #e50001; display: inline-block; margin: 0 10px 0 0; vertical-align: 1px; *vertical-align: 5px;}
.seotopic2-content h3 em{ width: 9px; height: 9px; *vertical-align: 3px; margin: 0 0 0 5px; display: inline-block; background: url("../../images/seotopic/seotopic2-xiazb.png") no-repeat 0 0;}
.seotop2-cont-news{ border: 1px solid #cce5fa; margin: 4px 0 15px 0}
.seotop2-cont-news h2{ background-color: #f5f8fe}
.seotop2-cont-news h2 a{ font-size: 14px; color: #4b4b4b; font-weight: bold; font-family:"Microsoft YaHei";}
.seot-contnew2-pric{ background-color: #fff; padding: 20px 12px;}
.shopties2-bodre{border: 1px solid #cce5fa; background-color: #fff; margin: 4px 0 15px 0;}
.seop2-h2a{ background-color: #FFF;}
.seop2-h2a .ties-list-alin{ margin: 30px 0 10px 20px; width: 720px;}
.ties2-alin span,.ties2z-alin span{ width: 120px; margin: 0 0 15px 0}
.ties2-alin a,.ties2z-alin a{ font-size: 14px; color: #2d78b5;}
.seop2-h2al{ float: left; width: 290px; padding: 15px 0 0 20px; margin: 0 0 10px 0}
.h2al-mod{ margin: 0 0 20px 0}
.h2al-hd{height: 24px;line-height: 24px; overflow: hidden; text-align: right; padding: 0 0 10px;}
.h2al-line:after{content:'.';display:block;height:1px;line-height:0;overflow:hidden;margin-top:11px}
.h2al-hd h3{ float: left; padding-left:5px;padding-right:5px;border-left:2px solid #369;font:bold 16px/18px \5FAE\8F6F\96C5\9ED1,tahoma;color:#369;background:#fff}
.h2al-hd h3 a{ text-decoration: none; color: #369;}
.h2al-more{ overflow: hidden; line-height: 15px; float:right;padding-right:18px;padding-left:5px;background:url("../../images/seotopic/seotopic2-yuanjt.png") no-repeat 32px 1px;height:24px;color:#999;font-size:12px}
.h2al-topic{position:relative;height:90px;margin:0 0 5px 0;*margin-bottom:2px;background:#f6f7f8;overflow:hidden}
.h2al-topic-text{color:#999;padding-left:8px}
.h2al-topic-text h4{padding:6px 0;margin-bottom:0;height:auto;font-size:14px;font-weight:normal;line-height:18px;overflow:hidden}
.h2al-topic-text h4 a{padding-left:0;font:normal 14px/18px \5FAE\8F6F\96C5\9ED1;color:#333;white-space:normal;text-decoration:none}
.seop2-h2ar{ float: left; width: 290px; margin: 0 0 10px 55px; padding: 6px 0 0 0}
.h2ar-mod{border: 0 none;padding-top: 10px;}
.slide-list-item{float:left;width:290px}
.author-list-item{position:relative;width:228px;height:52px;padding:10px 0 15px 62px;border-bottom:1px dotted #ccc;overflow:hidden}
.author-list-item h4{margin-top:-3px;*margin-top:0;margin-top:0\0;margin-top:-3px\9\0;overflow:hidden; margin-bottom: 20px;}
.author-list-item h4 a{font: 14px/18px "微软雅黑"; color: #333}
.author-list-item .avatar{position:absolute;left:0;top:10px;width:52px;height:52px;overflow:hidden}
.author-list-item .infos{height:18px;line-height:18px;margin-top:-3px;overflow:hidden;*position:relative;*top:-6px}
.author-list-item .infos strong a{ font-size: 12px; color: #333; font-weight: normal; font: 14px/18px "微软雅黑"; }
.author-list-item .infos span{padding-left:20px;font-size:12px;color:#999}
.h2ar-line{ padding: 0}
.item-bord{ border-bottom: 0}
.gldy-picmag2,.gldy2z-pic{ border: 1px solid #cce5fa; background-color: #fff; padding: 30px 0 0 0; *padding: 20px 0 0 0; margin: 4px 0 10px 0}
.gldy-picmag2 .gldy-pic-back{ height: 160px;}
/*seotopic2z*/
.newspict2z-left{ width: 680px;}
.newspict2z-left h3,.newspict2z-right h3,.shopties2z h3{ color: #e1e1e1}
.shopties2z h3 span{ color: #5c5c5c}
.newspict2z-left h3 span dfn,.shopties2z h3 span dfn{ color: #0891f9}
.seop2-z{ background-color: #fff; width: 678px;}
.seot-tont-huopic ul{ margin: 26px 0 0 20px; *margin: 26px 0 26px 20px; overflow: hidden;}
.seop2-z li{ border-top: 0; height: 166px; margin: 0 0 26px 0}
.seot-tont-huopic .ulz-li{ margin: 0 38px 26px 38px;}
.contnew2-z span{ width: 465px}
.seotopic2z-left{ width: 448px;}
.seotopic2z-left .seotopic2-news{ margin: 28px 0 0 12px;}
.seotopic2z-left span{ width: 262px;}
.seotopic2z-advert{ width: 180px; height: 179px;} 
.newspict2z-right{ width: 280px;}
.gldy2z-pic,.gldy3z-pic{ width: 278px;}
.ties2z-alin,.gldy3z-pic .ties2z-alin{ margin: 0 0 10px 22px; *margin: 0 0 20px 22px;}
.ties2z-alin span,.gldy3z-pic .ties2z-alin span{ width: 128px;}
.gldy3z-pic .ties2z-alin span{ *line-height: 18px;}
.shopties2z .shopties-goods,.shopties2z .shopties-bodre{ width: 980px; padding: 0}
.shopties2z .shopties-bodre{ background-color: #fff; border: 1px solid #cce5fa}
.shopties2z .shopties-bodre ul{ width: 1100px; margin: 12px 0 0 16px;}
/*seotopic3*/
.ewspict3-cont,.shopties3-bodre,.ewspict3-cont .seotop3-news{ width: 680px;}
.ewspict3-cont h3,.newsp3z-right h3{ height: 38px; background-color: #f0efef; line-height: 38px; padding: 0 0 0 12px; border-left: 16px solid #bfd45f; color: #959595}
.ewspict3-cont h3 span{ color: #35c4ef; font-size: 18px; font-weight: normal; font-family: "tahoma"; margin: 0 0 0 15px; vertical-align: top;}
.shopties3-bodre{ border: 0; padding: 0; background-color: #fff; margin: 18px 0 15px 0}
.shopties3-bodre li{ margin: 0 25px 16px 0}
.ewspict3-cont .seotop3-news{ border: 0; margin: 20px 0 15px 0;}
.seotop3-news h2{ height: 15px; line-height: 15px; padding: 0; color: #f8b437; background: none; font-size: 14px; font-weight: bold; font-family: "Microsoft YaHei";}
.seot3-newspric{ margin: 0 0 20px 0; padding: 10px 0 18px 0; border-bottom: 1px dashed #ccc}
.seot3-newspric .contnew-pric-m span{ margin: 3px 0 0 0}
.seotop3-news .ties-list-alin{ margin: 8px 0 0 0; width: 708px}
.seotop3-news .ties-list-alin span{ width: 118px; margin: 0 0 15px 0}
.seotop3-news .ties-list-alin span a{ font-size: 14px;}
.newsp3z-right,.gldy-picmag3{ width: 280px;}
.gldypic{ border: 0; padding: 0; margin: 0 0 -10px 0}
.newsp3-right-list{ margin: 18px 0; border-bottom: 1px dotted #ccc; padding: 0 0 10px 0}
.list-img{ float: left; width: 76px; height: 76px; position: relative;}
.list-img dfn{ width: 76px; height: 20px; line-height: 20px; color: #f8b333; font-size: 14px; text-align: center;  background: #000; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6; position: absolute; bottom: 0px; left: 0}
.newsp3-right-list p{ float: left; width: 114px; height: 70px; overflow: hidden; margin: -3px 0 0 12px;} 
.newsp3-right-list p span{ display: block; text-align: left;}
.list-tj{ color: #c0c0c0}
.list-tj b{ color: #616161}
.right-list-bord{ border-bottom: 0;}
.gldy3-picm{ margin: 12px 0 0 0}
/*seotopic3z*/
.seotopic3z-head{ height: 105px; background-color: #fff;}
.seotop3z-head-logo{border-bottom: 4px solid #f9c265; background: url("../../images/seotopic/seotopic3-logo.png") no-repeat left 18px;}
.newspict-cont-left .seop3z{ width: 678px; margin: 4px 0 15px 0;}
.seotop3z-news{ width: 273px; height: 154px;}
.newspict3z-left h3 span dfn,.newsp3z-right h3 span dfn{ color: #f8b130}
.contnew3z-pric .contnew-pric-l span{ width: auto;}
.gldy3-pic{ width: 280px; height: 153px; display: block; margin: 10px 0 0 0; background: url("../../images/seotopic/seotopic3-img.png") no-repeat 0 0;}
.gldy3z-pic{ margin: 4px 0 10px 0}
.gldy3z-bot{ margin: 4px 0 15px 0}
.shopties3z .shopties-goods,.shopties3z .shopties-bodre{ padding: 0; width: 980px; background-color: #fff}
.shopties3z .shopties-bodre ul{ width: 1100px; margin: 12px 0 0 16px;}
.shopties3z h3{color: #e1e1e1}
.shopties3z h3 span{color: #5c5c5c;}
.shopties3z h3 span dfn{ color: #f8b130}
.newsp3-right h3{color: #e1e1e1}
.newsp3-right h3 dfn{ color: #f8b130}
/*seotopic4*/
.seotopic4{ background-color: #f6f6f6}
.seotopic4-head{ height: 117px; border-bottom: 4px solid #e6382d}
.seotop4-head-logo{ width: 980px; margin: 0 auto; height: 116px; background: url("../../images/seotopic/seotopic4-logo.png") no-repeat 0 0;}
.seot4-tt{ height: 38px; line-height: 38px; background-color: #ebebeb; border-left: 17px solid #cccccc; font-size: 16px;
color: #304679; font-family: "微软雅黑"; padding: 0 0 0 11px; margin: 0 0 10px 0}
.seot-nwespt4{ border: 1px solid #e0e0e0; background-color: #fff; box-shadow: 0 0 2px 2px #d7d7d7; margin: 0 0 26px 0}
.sn4-link{ margin: 20px 0 0 27px; color: #d95200; font-size: 14px; font-weight: bold; display: block;}
.snt4-picwz{ margin: 15px 0 12px 27px; *padding: 10px 0 30px 0px; display: block;}
.snt4-left{ float: left; width: 541px; height: 349px; position: relative;}
.snt4-back{ width: 541px; height: 60px; background: #000; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6; position: absolute; bottom: 0px; left: 0}
.snt4-gldy{ font-size: 18px; color: #fff; font-family: "微软雅黑"; position: absolute; bottom: 17px; left: 20px;}
.snt4-right{ float: right; width: 245px; margin: 0 70px 0 0}
.gengd-pic{ border-left: 5px solid #f7bd34; color: #262524; font-size: 14px; font-family: "微软雅黑"; padding: 0 0 0 6px;}
.gengd-pic em{ width: 9px; height: 9px; display: inline-block; margin: 0 0 0 4px; *vertical-align: 3px; background: url("../../images/seotopic/seotopic2-xiazbyel.png") no-repeat 0 0;}
.ties4-alin{ width: 256px; margin: 20px 0 0 0}
.seot-contnew4-pric{ padding: 0 12px 0 5px; margin: 0 0 30px 0}
.pric4,.pric4 span{ width: 753px;}
.gengdf-pic{ margin: 0 0 0 5px;}
.gengd-zx{ margin: 18px 4px 0 5px;}
.gengd-zx span{ width: 116px; margin: 0 0 15px 0}
.gengd-zx a{ font-size: 14px;}
.snt4-picwz .shopties-bodre{ background:none; border: none; height: auto; width: 730px; padding: 0;  *padding: 0 0 0 20px }
.snt4-rightf{ width: 218px; margin: 10px 0 0 0;}
.snt4-rightf .ties4-alin{ margin: 16px 0 0 0; *margin: 12px 0 0 0}
.snt4-rightf .ties4-alin span{ width: 110px; margin: 0 0 13px 0; *margin: 0 0 8px 0}
.huopicd-boradcast{ width: 120px; height: 121px; position: absolute; top: 50%; left: 50%; margin: -60px; background: url("../../images/seotopic/seotopicd-broadcast.png") no-repeat 0 0;}
.ties4-alin span{ margin: 0 0 9px 0}
/*seotopic4z*/
.newspict4z-left{ width: 680px;}
.newspict4z-left h3,.newspict4z-right h3{ color: #e1e1e1}
.newspict4z-left h3 span dfn,.newspict4z-right h3 span dfn{ color: #e7362a}
.newspict4z-left .seotop-cont-news{ background-color: #fff; width: 680px;}
.contnews4z h2{ background-color: #eff6ff}
.pric4z span{ width: 480px;}
.seop4z{ background-color: #fff; border: 1px solid #e3e2e4; width: 680px;}
.seop4z li{ background-color: #f3f8fe; height: 165px}
.seotopic4z-news{ width: 180px; height: 179px;}
.newspict4z-right{ width: 280px;}
.newspt4z-right-list{ background-color: #fff; display: inline-block; margin: 5px 0 0 0}
.newspt4z-right-list ul{ width: 260px; border: 1px solid #ededed; margin: 10px}
.newspt4z-right-list li{ border-bottom: 1px solid #f5f5f3}
.newspt4z-right-list li:hover{-webkit-box-shadow:0 0 6px rgba(0,0,0,.3);-moz-box-shadow:0 0 6px rgba(0,0,0,.3);box-shadow:0 0 6px rgba(0,0,0,.3);position:relative;z-index:10}
.np4z-img{ width: 255px; height: 258px; display: block; margin: 0 0 0 1px}
.np4z-cjb{display:block;height:34px;overflow:hidden;color:#666;line-height:18px; padding: 10px 6px}
.np4z-cjb:hover{text-decoration:underline;color:#e97d01}
.newspt4z-right-list li span{ height: 25px; overflow: hidden; display: block; padding: 0 6px;font-family:\5fae\8f6f\96c5\9ed1;color:#999;font-size:16px;vertical-align:middle; font-weight: bold; color: #a9abad}
.newspt4z-right-list li:hover span{ color: #e97d01}
.newspt4z-right-list .bordno{ border-bottom: none;}
.newspt4z-right-pic{ width: 280px; height: 158px; display: block; margin: 20px 0; background: url("../../images/seotopic/seotopic4z-img.png") no-repeat 0 0;}
.ties4z-alin{ margin: 0 0 0 22px; *margin: 0 0 10px 22px;}
.ties4z-alin span{ margin: 0 0 14px 0; *margin: 0 0 10px 0}
/*seotopic5*/
.seotopic5{ background-color: #f6f6f6}
.seotopic5-head{ height: 117px; border-bottom: 4px solid #e15500}
.seotop5-head-logo{width: 980px; margin: 0 auto; height: 116px; background: url("../../images/seotopic/seotopic5-logo.png") no-repeat 0 0;}
.seotopic5-content h3,.seo5z-left h3{ color: #a4a4a4;}
.seotopic5-content h3 dfn{height: 7px; border-left: 7px solid #e50001; display: inline-block; margin: 0 10px 0 0; vertical-align: 3px; *vertical-align: 10px;}
.seotopic5-content h3 span,.seo5z-left h3 span{ color: #d95200; font-family: "微软雅黑"; margin: 0 28px 0 0}
.seot5-huopic ul{ margin: 0}
.seot5-huopic li{ background-color: #ffffff; border-top: 1px solid #eb5b04}
.seot5-huopic li:hover{ background-color: #fff8f1}
.seot5-huopic li .huopic-litit{ color: #979797}
.seotop5-contnew{ border-color: #eb5b04; background-color: #fff}
.seotop5-contnew h2{ background-color: #fff5e9}
.shopties5-bodre{ width: 956px; border-color: #eb5b04; background-color: #fff; padding: 12px 12px 0 12px; margin: 10px 0 20px 0}
.shopties5-bodre ul{ width: 1110px; margin: 0 0 0 5px;}
.seotop5-news{ border: 0; margin: 10px 0 20px 0}
.seotop5-news h2{ height: 15px; line-height: 15px; padding: 0; color: #f8b437; background: none; font-size: 14px; font-weight: bold; font-family: "Microsoft YaHei";}
.seotop5-news .seot-contnew-pric{margin: 0 0 20px 0; padding: 10px 0 0px 0; border-bottom: 1px dashed #ccc} 
.seop5-h2a{ width: 980px; border-color: #eb5b04; margin: 10px 0 15px 0}
.seop5-h2a .ties-list-alin{ width: auto;}
/*shopties5z-goods*/
.seotop-cont5z-shopties h3 dfn,{ border: 0}
.seo5z-left{ float: left; width: 678px;}
.seo5z-content-left{border: 1px solid #e2d3c0; margin: 4px 0 15px; background-color: #fff; width: 678px;}
.seo5z-content-left .seot-contnew2-pric{ padding: 24px 12px}
.seo5z-content-left h2{ background-color: #fff5e9}
.newspict5z-right{ width: 280px; float: right;}
.gldy5z-pic{ width: 278px; background-color: #fff; padding: 24px 0 0 0}
.seop5z-h5a{ background-color: #fff; width: 678px;}
.seop5z-h5a h2 a{font-family: "宋体"; color: #294360; font-size: 14px; font-weight: normal; border-left: 3px solid #eb7a00; padding: 0 0 0 10px;}
.seotopic5z-content h3{ color: #c5c5c5}
.seotopic5z-content h3 span{ color: #5c5c5c; font-weight: bold; font-family: "微软雅黑"; font-size: 14px;}
.seotopic5z-content h3 span dfn{ color: #eb7a00}
.gldy5zpic{ margin: 8px 0 27px 0}
.gldy5zpic .ties-list-alin span{ *margin: 0 0 10px 0}


/*seotopic-footer*/
.seotopic-footer{height: 106px; background-color: #f1f1f1;}
.seotop-footer980{ height: 66px; width: 980px; margin: 0 auto; padding: 40px 0 0 0}
.seotop-footer980 span{ font-family: "Microsoft YaHei"; margin: 0 30px 0 0; font-size: 14px; color: #666666; font-weight: bold;}
.seotop-footer980 a{ font-family: "Microsoft YaHei"; margin: 0 5px 0 0; font-size: 14px; color: #8a8a8a;}
.seotopic2-footer{ background-color: #7bbaed;}
.seotop2-footer980 span,.seotop2-footer980 a{ color: #ffffff}
.seotopic3-footer{ background-color: #fac265}
.seotop3-footer980 span,.seotop3-footer980 a{ color: #8a8a8a}
.seotopic5-footer{ background-color: #ffae53}


































































































































































































