.zjd { height:620px; background: #ffd800;}
.zjd .wraper { width:1340px; height: 620px; position: relative; background: url("../../../images/huodong/zajindan/bg.jpg");}
.zjd .wraper .info { position: absolute; bottom:22px; left:550px;}
.zjd .wraper .info dt { color:#f18100;}
.zjd .wraper .info dd { padding-left: 10px; color:#f1b000;}
.zjd .wraper .info .agg { position:absolute; }

.zjd { position: relative; z-index: 10; overflow: hidden; cursor:none; cursor:url("http://staticcdn.b5m.com/static/images/huodong/zajindan/mouse.ico"),auto \0\9; *cursor:default;}

.zjd .wraper .agg1,.zjd .wraper .agg1-hover,.zjd .wraper .agg1-break { background: url("../../../images/huodong/zajindan/agg1.png"); width:409px; height: 509px; top:-70px; left:120px; position: absolute;}
.zjd .wraper .agg1-hover { background: url("../../../images/huodong/zajindan/agg1-hover.png"); display: none; }
.zjd .wraper .agg1-break { background: url("../../../images/huodong/zajindan/agg1-break.png"); display: none; }

.zjd .wraper .agg2,.zjd .wraper .agg2-hover,.zjd .wraper .agg2-break { background: url("../../../images/huodong/zajindan/agg2.png"); width:391px; height: 315px; top:124px; left:362px; position: absolute;}
.zjd .wraper .agg2-hover { background: url("../../../images/huodong/zajindan/agg2-hover.png"); display: none; }
.zjd .wraper .agg2-break { background: url("../../../images/huodong/zajindan/agg2-break.png"); display: none; }

.zjd .wraper .agg3,.zjd .wraper .agg3-hover,.zjd .wraper .agg3-break { background: url("../../../images/huodong/zajindan/agg3.png"); width:406px; height: 504px; top:-66px; left:596px; position: absolute;}
.zjd .wraper .agg3-hover { background: url("../../../images/huodong/zajindan/agg3-hover.png"); display: none; }
.zjd .wraper .agg3-break { background: url("../../../images/huodong/zajindan/agg3-break.png"); display: none; }

.zjd .wraper .agg-hot1,.zjd .wraper .agg-hot2,.zjd .wraper .agg-hot3 { position: absolute; display: block; width:230px; height: 235px;  top:174px; z-index: 1; cursor:none; cursor:url("http://staticcdn.b5m.com/static/images/huodong/zajindan/mouse.ico"),auto \0\9; *cursor:pointer; }
.zjd .wraper .agg-hot1 { left:220px;  }
.zjd .wraper .agg-hot2 { left:457px;  }
.zjd .wraper .agg-hot3 { left:694px;  }

.zjd .mouse { left:40%; z-index: 1; position: absolute; width:180px; height: 180px; display: block; text-indent: -9999px; background: url("../../../images/huodong/zajindan/mouse.png") no-repeat; cursor:none; cursor:url("http://staticcdn.b5m.com/static/images/huodong/zajindan/mouse.ico"),auto \0\9; *display:none; }
.zjd .mouse.on { background-position: 0px -180px;}


.lt-list{background-color: #FFF9CF; padding:0 16px 7px;position: absolute; overflow: hidden;right:190px; top:130px;border:1px solid #A41700;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.img-con img{ min-height: 100%;min-width: 100%;}

.zjd .lt-list .title{font-size:20px;font-family:\5FAE\8F6F\96C5\9ED1;font-weight: 700;color:#db0102;}
.zjd .lt-list .img-con{height:40px; width:40px; overflow: hidden; float: left;}
.zjd .lt-list  .rt{margin:0 0 0 50px; line-height:1.5;}
.zjd .lt-list  li{ overflow: hidden; zoom:1;padding:7px 0;  }
.zjd .lt-list .tp{color:#333;white-space:nowrap; word-wrap: normal; height:18px; overflow: hidden; text-overflow:ellipsis;}
.zjd .lt-list .bt{color:#666;white-space:nowrap; word-wrap: normal; height:18px; overflow: hidden; text-overflow:ellipsis;}

.zjd .times { position:absolute; width:189px; height: 90px; background: url("../../../images/huodong/zajindan/bg.png"); right:186px; top:28px;}
.zjd .times span { display: block; color:#fff; font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1; position: absolute; top:58px; width:189px; text-align: center;}

.price-bangdou,.price-iphone,.price-calls50,.price-mini,.price-calls100,.price-q30,.price-q50,.price-dou1000,.price-dou500,.price-dou200,.price-dou100 {opacity: 0;  top:260px; text-indent: -9999px; position: absolute; display: none; width:230px; height:130px; background: url("../../../images/huodong/zajindan/prize.png") no-repeat;}
.price-calls50 { background-position: 0px -130px;}
.price-bangdou { background-position:0px -260px;   }
.price-bangdou.b10 { background-position: 0px -1690px;}
.price-bangdou.b15 { background-position:0px -390px;}
.price-bangdou.b20 { background-position:0px -1820px;}
.price-bangdou.b25 { background-position:0px -520px; }
.price-bangdou.b30 { background-position:0px -1950px;}
.price-mini { background-position: 0px -650px; }
.price-calls100 { background-position: 0px -780px; }
.price-q30 { background-position: 0px -910px;}
.price-q50 { background-position: 0px -1040px;}
.price-dou1000 { background-position: 0px -1170px;}
.price-dou500 { background-position: 0px -1300px;}
.price-dou200 { background-position:0px  -1430px;}
.price-dou100 { background-position: 0px -1560px;}



/* timecd */

.gotop { display: none!important;}


/*popup*/
.popup {  position: absolute; width:392px; height:208px; left:85px; bottom:86px; background: url("../../../images/huodong/zajindan/popup.png");  color: #FFFFFF; font-family: \5FAE\8F6F\96C5\9ED1; font-size: 24px;font-weight: bold; z-index: 10; display: none; }
.popup div { width:345px; line-height: 40px; height:156px; cursor:default; padding:30px 20px 0;}
.popup .close {  width:20px; height: 20px; right:19px; top:8px; position: absolute;}


.search-icon { background: url("../../../images/search/gotosearch.png") no-repeat 0 14px; float: left;height: 47px;width: 200px; }


.user-scroll-box { position: relative; height: 324px; width:160px; overflow: hidden;}
.user-scroll-box .box { top:0; position: absolute;  width:160px;}


