html{overflow-y:scroll; overflow-x: hidden;}
.trip-top, .trip-guide{color:#333;}
.mt20{margin-top:20px;}
.mt10{margin-top:10px;}
.mt5{margin-top:5px;}
strong{font-weight:normal;}
.trip-top a, .trip-guide a{color:#333;}
.trip-top a:hover, .trip-guide a:hover{color:#EB8927;}
.opacity{position:absolute;left:0;bottom:0;zoom:1;padding:0 18px;height:50px;overflow:hidden;text-align:center;font: 16px/50px '\5FAE\8F6F\96C5\9ED1';color:#fff;background-color:rgba(0,0,0,0.5);filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F000000', EndColorStr='#7F000000');}
:root .opacity{filter: none;}
.trip-top  .relative, .trip-guide .relative{position:relative;zoom:1;display:block;z-index:0;}
/*通用顶部 -Start*/
.header-tools-search .header-search-content{}
.header-search-content #scbar_txt{border:1px solid #c8c8c8;}
.header-rearch-submit,.header-nav-box{background:#db000f}
.header-rearch-submit:hover{background:#b00000;}
.header-nav-back s{border-left-color:#db000f}
.header-nav-box li{border-color:#E2404B}
.header-nav-box li a:hover{background-color:#C5000D}
.header-nav-box .cur a, .header-nav-box .cur a:hover{background:#000;color:#fff}
/*通用顶部 -End*/
/* gallerypic */
.gallerypic { width:650px; }
.gallerypic .con { width:480px; }
.gallerypic .bar { width:160px; height:365px; padding: 15px 0 0 10px; background: #000;}
.gallerypic .con ul { width:480px; height: 380px; }
.gallerypic .bar li { height: 110px;margin-bottom: 10px; }
.gallerypic .bar li img { width:136px; height: 106px; margin:2px 0 0 9px;}
.gallerypic .con li p { width:420px; padding:10px; color:#fff;font-family:\5FAE\8F6F\96C5\9ED1;}
.gallerypic .con li p strong { color:#fff40d; font-size:14px;}

.gallerypic .con {  float:left; overflow: hidden;}
.gallerypic .con ul { position: relative; }
.gallerypic .con li{ position: absolute; top:0; left:0; display: none;}
.gallerypic .con li p { display:none; position: absolute; background:url(../../../images/korea/bg-alpha.png); _background:#000; _filter:alpha(opacity=80); bottom:20px; left:20px;}
.gallerypic .con li.cur{ display: block;}
.gallerypic .con li p strong {display: block;}
.gallerypic .bar { float:left; }
.gallerypic .bar li.cur { background: url(../../../images/korea/bg-bar.png) no-repeat; }
.gallerypic .bar li.cur a { cursor:default; }
/* bg-trip */
.icon-trip-arr,.icon-trip-sl,.icon-trip-sr,.trip-menu-item li i,.convert-fun,.trip-title-bi strong i{background:url(../../../images/korea/bg-trip.png) no-repeat;}
/* trip-top */
.trip-top{padding-bottom:5px; width: 100%; position: relative; min-height: 380px;_height: 380px; }
.trip-top img{ width: 1920px; height: 380px; position: absolute; margin-left: -960px; left: 50%;}
/* page */
.page a:hover{background-color:#333;border-color:#333;}
.page .cur{background:#333;border-color:#333;}
.page .page-input input{border-color:#333;}
.page .page-input a{background:#333;border-color:#333;}
/* trip-title */
.trip-title{margin-top:25px;height:30px;line-height:30px;border-bottom:3px solid #db000f;}
.trip-title strong{display:inline-block;padding:0 18px;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;color:#fff;background-color:#db000f;
  -webkit-border-top-left-radius:2px;
  -moz-border-top-left-radius:2px;
  -ms-border-top-left-radius:2px;
  -o-border-top-left-radius:2px;
  border-top-left-radius:2px;
  -webkit-border-top-right-radius:2px;
  -moz-border-top-right-radius:2px;
  -ms-border-top-right-radius:2px;
  -o-border-top-right-radius:2px;
  border-top-right-radius:2px;
}
.trip-title-black,.trip-title-bi{border-bottom-color:#000;}
.trip-title-black strong,.trip-title-bi strong{background-color:#000;}
.trip-title-bi strong{position:relative;z-index:0;zoom:1;}
.trip-title-bi strong i{position:absolute;}
.trip-title-bi .title-cate-1{padding-left:55px;}
.trip-title-bi .title-cate-2{padding-left:51px;}
.trip-title-bi .title-cate-3{padding-left:50px;}
.trip-title-bi .title-cate-1 i{width:50px;height:49px;left:3px;bottom:-3px;background-position:-67px -19px;}
.trip-title-bi .title-cate-2 i{width:47px;height:47px;left:2px;bottom:-2px;background-position:-124px -21px;}
.trip-title-bi .title-cate-3 i{width:42px;height:44px;left:4px;bottom:-1px;background-position:-177px -22px;}
/* trip-guide-list */
.trip-guide{padding-bottom:30px;overflow:hidden;zoom:1; width: 100%;}
.trip-guide-list{margin-top:-1px;}
.trip-guide-list dl{padding:25px 0;border-top:1px dashed #dedddd;}
.trip-guide-list dt{float:left;width:376px; height: 210px; overflow: hidden;}
.trip-guide-list dt img{width:376px; height: 210px;}
.trip-guide-list dd{float:right;width:555px;height:172px;padding:19px 20px 19px 19px;background-color:#efefef;}
.trip-guide-list .pic-b{width:316px;}
.trip-guide-list .pic-s{width:148px;border:3px solid #d6d5d5;}
.trip-guide-info{position:relative;z-index:0;zoom:1;height:160px;padding:10px 15px 0;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb;border-left:1px solid #e3e3e3;background-color:#fdfdfd;}
.trip-guide-info h6{width:424px;height:28px;margin-bottom:10px;color:#ff5d4c;font:18px/28px '\5FAE\8F6F\96C5\9ED1';white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.trip-guide-info h6 a{color:#ff5d4c;}
.trip-guide-info h6 a:hover{color:#db000f;}
.trip-guide-info p{line-height:22px;word-wrap:break-word;word-break:break-all;}
.trip-guide-info p a{color:#0fadd2;}
.trip-guide-info p a:hover{color:#0e659d;}
.icon-trip-arr,.icon-trip-sl,.icon-trip-sr{position:absolute;font-size:0;line-height:0;overflow:hidden;}
.trip-guide-info i.icon-trip-arr{left:-17px;top:60px;width:17px;height:52px;background-position:0 -20px;}
.icon-trip-sl,.icon-trip-sr{width:264px;height:8px;}
.trip-guide-info i.icon-trip-sl{left:-1px;bottom:-8px;background-position:0 -10px;}
.trip-guide-info i.icon-trip-sr{left:290px;bottom:-8px;background-position:0 0;}
/* trip-food */
.trip-food-pic{width:304px;}
.trip-food-pic .relative .opacity{width:268px;}
.trip-food-list{width:321px;padding:0 20px;overflow:hidden;zoom:1;}
.trip-food-list-wp{margin-top:-2px;}
.trip-food-list-wp dl{padding:22px 0;border-top:2px solid #ffd8d8;}
.trip-food-list-wp dt{width:312px;border-left:5px solid #ff3477;padding-left:4px;height:18px;color:#dd114f;font:16px/18px '\5FAE\8F6F\96C5\9ED1';white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.trip-food-list-wp dt a{color:#dd114f;}
.trip-food-list-wp dt a:hover{color:#dd114f;text-decoration:underline;}
.trip-food-list-wp dd{margin-top:8px;color:#666;line-height:22px;height:66px;overflow:hidden;}
.trip-food-mix{width:315px;}
.mix-list .relative .opacity{width:279px;}
.mix-list p{height:35px;line-height:35px;overflow:hidden;}
.trip-food-eat{position:relative;height:361px;border:2px solid #cacaca;padding:8px 8px 9px;zoom:1;z-index:0;}
.trip-food-eat i.icon-trip-sl{left:-2px;bottom:-10px;background-position:0 -10px;}
.trip-food-eat .relative .opacity{width:259px;}
.trip-food-eat dl{padding:16px 10px 22px;background-color:#e7e7e7;}
.trip-food-eat dt{float:left;width:118px;}
.trip-food-eat dd{float:right;width:144px;}
.trip-food-eat dd h6{height:22px;line-height:22px;border-bottom:2px solid #ff3477;overflow:hidden;}
.trip-food-eat dd h6 a{color:#666;font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1;}
.trip-food-eat dd h6 a:hover{color:#DD114F;}
.trip-food-eat dd p{margin-top:3px;line-height:22px;word-wrap:break-word;word-break:break-all;}
.trip-food-eat dd p a,.trip-food-list-spe dd p a{display:inline-block;color:#eb8927;}
.trip-food-eat dd p a:hover,.trip-food-list-spe dd p a:hover{color:#eb8927;text-decoration:underline;}
.trip-food-list-spe{margin-top:-15px;}
.trip-food-list-spe dl{margin-top:15px;}
.trip-food-list-spe dt{float:left;width:118px;}
.trip-food-list-spe dd{float:right;width:193px;}
.trip-food-list-spe dd h6{margin:5px 0;border-left:5px solid #ff3477;padding-left:4px;height:16px;line-height:16px;color:#dd114f;font-size:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.trip-food-list-spe dd h6 a{color:#dd114f;}
.trip-food-list-spe dd h6 a:hover{color:#dd114f;text-decoration:underline;}
.trip-food-list-spe dd p{line-height:22px;color:#666;word-wrap:break-word;word-break:break-all;}
/* trip-travel */
.trip-travel{padding-bottom:20px;background-color:#F4F4F4;}
.trip-travel li{float:left;display:inline;width:274px;height:278px;border:1px solid #ccc;background-color:#fff;margin:20px 10px 0;padding:15px;overflow:hidden;box-shadow:0px 3px 3px 1px #CCCCCC;}
.trip-travel li:hover{border-color:#f892ad;box-shadow:0px 0px 3px 1px #f892ad;}
.trip-travel li p{color:#666;}
.trip-travel .tit{width:274px;height:18px;margin:10px 0 8px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#ff0042;}
.trip-travel .tit a{font: 14px/18px '\5FAE\8F6F\96C5\9ED1';color:#ff0042;}
.trip-travel .tit a:hover{color:#ff0042;}
.trip-travel .brief{word-wrap:break-word;word-break:break-all;}
.trip-travel .brief a{display:inline-block;color:#eb8927;}
.trip-travel .brief a:hover{color:#eb8927;text-decoration:underline;}
/* trip-menu */
.trip-menu{width:260px;}
.trip-menu-item li{border-bottom:1px solid #efefef;margin-bottom:1px;}
.trip-menu-item li a{display:block;height:31px;overflow:hidden;zoom:1;cursor: pointer;background-color:#f7f7f7;font: bold 14px/31px '\5FAE\8F6F\96C5\9ED1';color:#666;}
.trip-menu-item li a:hover{color:#666;background-color:#eaeaea;}
.trip-menu-item li i{float:left;display:inline;width:29px;height:24px;margin:4px 14px 0 9px;}
.trip-menu-item li.kt-1 i{background-position:0 -74px;}
.trip-menu-item li.kt-2 i{background-position:-29px -74px;}
.trip-menu-item li.kt-3 i{background-position:-58px -74px;}
.trip-menu-item li.kt-4 i{background-position:-87px -74px;}
.trip-menu-item li.kt-5 i{background-position:-116px -74px;}
.trip-menu-item li.kt-6 i{background-position:-145px -74px;}
.trip-menu h6{position:relative;z-index:0;width:122px;height:30px;margin:16px 0 17px;font: 16px/30px '\5FAE\8F6F\96C5\9ED1';color:#fff;text-align:center;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  -ms-border-radius:3px;
  -o-border-radius:3px;
  border-radius:3px;
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#fed142), to(#fca906));
  background:-webkit-linear-gradient(top, #fed142, #fca906);
  background:-moz-linear-gradient(top, #fed142, #fca906);
  background:-ms-linear-gradient(top, #fed142, #fca906);
  background:-o-linear-gradient(top, #fed142, #fca906);
  background:linear-gradient(top, #fed142, #fca906);
  background-color:#fca906;
}
.trip-menu h6 i{position:absolute;top:30px;left:17px;width:0;height:0;font-size:0;line-height:0;overflow:hidden;border:8px dashed transparent;border-top-style:solid;border-top-color:#fca906;}
.trip-convert{position:relative;z-index:0;zoom:1;height:148px;border:1px solid #fdba0d;padding:20px 0 0 17px;background-color:#f3f3f3;}
.trip-convert p{margin-bottom:15px;height:20px;font-family:\5FAE\8F6F\96C5\9ED1;}
.trip-convert p label{width:84px;line-height:20px;height:20px;font-size:14px;color:#666;}
.trip-convert p span{display:block;width:150px;}
.trip-convert input,.trip-convert em{width:108px;height:18px;line-height:18px;padding:0 10px;border-width:1px;border-style:solid;}
.convert-txt1{border-color:#d5dadb;background-color:#edfbfe;color:#333;}
.convert-txt2{border-color:#d5dadb;background-color:#fff;color:#666;}
.convert-txt3{display:block;border-color:#d5dadb;background-color:#edfbfe;color:#db000f;}
.convert-fun{position:absolute;top:76px;right:9px;width:14px;height:15px;cursor: pointer;background-position:-36px -37px;}
/* trip-flash */
.trip-flash{width:700px;height:430px;}
/* trip-korea-hot */
.trip-korea-hot ul{width:1000px;margin-right:-20px;}
.trip-korea-hot li{position:relative;z-index:0;float:left;width:258px;margin:20px 20px 0 0;}
.trip-korea-hot li.first{width:258px;width:424px;}
.trip-korea-hot-pos{position:absolute;top:-5px;right:10px;height:34px;padding:0 12px;font: 16px/34px '\5FAE\8F6F\96C5\9ED1';color:#fff;background-color:rgba(254,195,18, 0.7);filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#6CFEC312', EndColorStr='#6CFEC312');}
:root .trip-korea-hot-pos{filter: none;}
.trip-korea-hot li p{line-height:22px;margin-top:10px;word-wrap:break-word;word-break:break-all;color:#666;}
/* trip-people-hot */
.trip-people-hot ul{width:999px;margin-right:-19px;}
.trip-people-hot li{float:left;width:314px;margin:20px 19px 0 0;}
.trip-people-hot li a{display:block;cursor: pointer;}
.trip-people-hot li a span{width:278px;}
.trip-people-hot li p{height:66px;line-height:22px;margin-top:12px;overflow:hidden;word-wrap:break-word;word-break:break-all;color:#666;}
/* trip-teach */
.trip-teach{overflow:hidden;zoom:1;}
.trip-teach-list{margin-top:-1px;}
.trip-teach-list dl{padding:10px 0;border-top:1px solid #d4d4d4;}
.trip-teach-list dt{float:left;width:290px;}
.trip-teach-list dt a{display:inline-block;border:3px solid #d5dadb;cursor: pointer;}
.trip-teach-list dd{float:right;width:665px;}
.trip-teach-list dd p{line-height:22px;word-wrap:break-word;word-break:break-all;}
.trip-teach-list dd p a{display:inline-block;color:#0fadd2;}
.trip-teach-list dd p a:hover{color:#0e659d;}
.trip-teach-title{color:#ff5d4c;}
.trip-teach-title h6{width:560px;height:28px;font: 18px/28px '\5FAE\8F6F\96C5\9ED1';white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.trip-teach-title h6 a{color:#ff5d4c;}
.trip-teach-title h6 a:hover{color:#db000f;}
.trip-teach-title span{font-size:14px;line-height:28px;}
.trip-star{margin:15px 0;line-height:20px;font: 14px/20px '\5FAE\8F6F\96C5\9ED1';color:#999;}
.trip-star label{margin-right:12px;}
.trip-star .star-outer{margin-top:2px;}
.star-outer,.star-inner{display:inline-block;height:16px;line-height:0;font-size:0;overflow:hidden;background:url(../../../images/korea/trip-star.png) no-repeat;}
.star-outer{width:100px;background-position:0 0;}
.star-inner{background-position:0 -16px;}
.star-outer .star1{ width: 20%;}
.star-outer .star2{ width: 40%;}
.star-outer .star3{ width: 60%;}
.star-outer .star4{ width: 80%;}
.star-outer .star5{ width: 100%;}

/*详情页开始*/
.crumb{ font-family: "microsoft yahei"; line-height: 18px;}
.crumb strong{ color: #ff0042; float: none;}
.detail-top{ height: 110px; background: #f6f6f6; border: 1px #e7e7e7 solid; border-radius: 55px 0 55px 0; padding: 18px 20px; margin-top: 10px;}
.detail-top .pic{ width: 98px; height: 98px; padding: 3px; border: 1px #ddd solid; border-radius: 50%; float: left; background: #fff; margin-right: 20px; _display: inline;}
.detail-top .pic img{width: 98px; height: 98px; border-radius: 50%; }
.detail-top .info{ float: left; width: 800px; border-bottom: 1px #fff solid;}
.detail-top .info h1{ font-size: 24px; font-family: "microsoft yahei"; line-height: 26px; height: 26px;}
.detail-top .info p{ margin-top: 20px; color: #999999; border-bottom: 1px #eaeaea solid; padding-bottom: 15px; }
.detail-top .info p i{ font-style: normal; margin: 0 18px;}
.detail-top .info p span{ color: #ff0042;}
.detail-top .info p b{ font-weight: normal; color: #333333;}
.detail-top .share-cont{ width: 210px; float: right; height: 28px; margin: 10px 10px 0 0;}
.detail-cont{ margin-left: 16px; border-left:3px #e1e1e1 solid; padding-left: 30px; padding-top: 30px;}
.detail-cont .da-tit{ height: 29px; background: url("../../../images/korea/trip/xx-icon.png") repeat-x; margin-left: -49px; margin-top: 32px; line-height: 29px; overflow: hidden;}
.detail-cont .da-tit .arr{ width: 58px; height: 29px;float: left; background: #fff url("../../../images/korea/trip/arr-icon.png") no-repeat;}
.detail-cont .da-tit p{ width: 74px; height: 29px; line-height: 29px; background: #fff; float: left; margin-left: 416px; text-align: center;}
.detail-cont .da-type{ padding: 20px 30px 10px; overflow: hidden; zoom: 1;}
.detail-cont .da-type li{ float: left; background: url("../../../images/korea/trip/d-icon01.png") no-repeat; line-height: 24px; padding-left: 35px; margin-left: 20px; color: #999; margin-bottom: 10px;}
.detail-cont .da-type li span{ margin-right: 15px; color: #0099cc; white-space: nowrap;}
.detail-cont .cont{ padding:20px 0; font-size: 14px; line-height: 24px;}
.detail-cont .cont img{ margin-top: 10px;}
.detail-add{ margin: 10px 0; display: block; background: url("../../../images/korea/trip/address-icon.png") no-repeat; height: 56px; overflow: hidden; line-height: 56px; font-size: 24px; font-family: "microsoft yahei"; padding-left: 70px; font-weight: bold;}
/*详情页结束*/