<ul class="step-bar setting-step cf">
	<li class="step-bar__first step-bar--cur">输入需要验证的邮箱地址</li>
	<li class="step-bar--cur--prev">发送验证邮件至验证邮箱地址</li>
	<li class="step-bar__last ">完成验证</li>
</ul>
<div class="step-content">
<form id="validateEmailForm">
	<div id="" class="form-h form-step">
		<label for="phone-num">邮箱地址：</label>
		<%if(email!='' && email != null){%>
			<input type="text" class="input-mid txt" name="email" id="email" value="<%=email%>" disabled="disabled"/>
		<%}else{%>
			<input type="text" class="input-mid txt" name="email" id="email" value=""/>
		<%}%>
		<a href="javascript:void(0);" id="sendValidateEmail" class="btn btn-yellow">发送验证</a>
		<span class="errorBox info"></span>
	</div>
</form>
<p class="step-tips">此邮箱可作为登陆账户，请选择常用邮箱，避免遗忘</p>
</div>



