/**
 * name:head_b.css;
 * date:2013-11-19;
 */
/*header s*/
.header{height: 133px;padding-top:15px; *position: relative; *z-index: 1;}
.header .logo{float:left;}
.nav-list{float:left;margin-left:2px;position: relative;}
.nav-list li{float:left;position:relative;width:64px;padding:0 4px 0 2px;text-align:center;background:url(../../images/www/nav_line.png) no-repeat scroll right -53px;_background-image:url(../../images/www/nav_line8.png);}
.nav-list .cur,
.nav-list li:hover{background-position:0 0;margin-left:-2px;padding-left:4px;}
.nav-list a{display:block;height:47px;line-height:47px;font-size:16px;color:#fff;font-family:\5FAE\8F6F\96C5\9ED1;}
.nav-list a:hover{ color: #fff;}
.nav-list .new,
.nav-list .hot{position: absolute;font-size:0;line-height:0;overflow:hidden;top:-4px;right:4px;width:22px;height:14px;background:url(../../images/www/icon.png) no-repeat -100px 0 scroll;}
.nav-list .hot { background-position: -250px 0;}
.search-bar{height: 47px;margin-top:10px;background-color:#ff8808;}
.search-tools{position:relative;z-index:10;float:left;_display:inline;margin-left:50px;margin-top:17px;}
.search-tools .header-search-content{border:2px solid #E2731A;display: inline-block;*display: inline;*zoom: 1;float:none;vertical-align: top;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.search-tools .header-rearch-hotkey{float:none;display: block;padding:0 0 0 0;margin-top: 10px;}
.search-tools .header-search-key{border:none;height:15px;line-height: 15px;padding-left:30px;width:386px;background:url(../../images/www/nav_line.png) no-repeat scroll 8px -110px;_background-image:url(../../images/www/nav_line8.png);
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;	
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
}
.search-tools .hot-keys{height: 34px;line-height:34px;float:left;margin-left: 10px;font-size: 12px;color:#fff6eb;font-family:"\\5B8B\\4F53",SimSun;} 
.search-tools dt,
.search-tools dd{float:left;}
.search-tools .hot-keys a{color:#fff6eb;margin-right:12px;}
.search-tools .hot-keys a:hover{text-decoration: underline;}
.country-box{top:20px!important;}
/*header s*/

/* search bar s*/
.header-search-content label{ display: none;}
.header-rearch-submit{display:inline-block;height:31px;width:71px;overflow:hidden;font-size:0;line-height: 0;background:url(../../images/www/nav_bg.png) 0 -120px;*margin-left:-1px;}
.header-rearch-submit:hover{color:#673700;}
.header-rearch-hotkey,
.header-rearch-hotkey a{ color: #999;}
.header-rearch-hotkey a:hover{color:#eb7e00;}
.focusin{ color: #000;}
/* search bar e*/