/*修复浮动层被遮罩*/
.head{z-index: 100}
/* 首页楼层顶 */
.floor-tit{ font-family:Microsoft YaHei,"微软雅黑"; height:36px; padding: 10px 0 0 0; border-bottom: 3px solid;}
.floor-tit-num{ float: left; width: 49px; height: 49px; display: block; text-align: center; line-height: 49px; color: #fff; font-weight: bolder;font-size: 21px;margin-top: -10px; background: url(../../images/common/floor-tit.png) no-repeat 0 0;_background-image: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/floor-tit.png", sizingMethod="crop"); _position: relative; _bottom: -3px;}
.floor-tit h3{ font-size: 20px; color: #1a1a1a; float: left; padding-left: 10px;}
.floor-tit h3 a{ color: #1a1a1a;}
.floor-tit h3 span{ font-size: 12px; color: #666;}
.floor-tit-desc{ padding-left: 10px;}
.floor-tit-links{ float: right; color: #ccc; padding: 7px 0 0 0;}
.floor-tit-links a{	font-size: 14px; color: #1a1a1a; padding: 0 14px;}
.floor-tit-more{ color: #fff; font-weight: bold; font-size: 12px; float: right; display: block; height: 26px; width: 41px;margin-top: -10px;padding: 23px 0 0 19px; background: url(../../images/common/floor-tit.png) no-repeat -49px 0;_background-image: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/floor-tit-ie6.png", sizingMethod="crop");_position: relative; _bottom: -3px;}
.floor-tit-more a{ color: #fff;}

/* 首页楼层频道 主结构样式 */
.floor-search{ width: 512px; height: 62px;}
.floor-search-tip{ float: right; width: 146px; height: 44px; padding: 9px 10px; background: #eee url(../../images/www/floor-search-8.png) no-repeat -289px -234px; color: #999; font-size: 12px; line-height: 21px; text-indent: 29px;}
.floor-search-input{font-size: 0; width: 319px; height: 39px; padding: 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.floor-search-input label{ display: none;}
.floor-search-key{ float: left; width: 219px; height: 15px; border:0; color: #999; font-size: 12px;padding: 12px 10px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;border-bottom-left-radius: 3px; *margin-top: 0px; _margin-top: 0px; _float:none;}
.floor-search-submit{float: right; height: 39px; border: 0; vertical-align: top; width: 75px; font-size: 14px; font-weight: bold; background: none; color: #fff; cursor: pointer; _float:none;}
.floor-search-hot-key{ color: #999; padding: 5px 0; line-height: 22px; padding-left: 5px;}
.floor-search-hot-key a{ color: #333; margin: 0 5px;}

.floor-news{ width: 512px; margin-top: 5px;}
.floor-news-bar{ font-size: 16px; color: #000; font-weight: bold; font-family:Microsoft YaHei,"微软雅黑"; line-height: 50px;}
.floor-news-more{ float: right; color: #999; line-height: 50px;}
.floor-news-img{ float: left; margin: 0 17px 17px 0;}
.floor-news-img img{ vertical-align: bottom;}
.floor-news-desc{ display: block; color: #fff; font-size: 16px; font-family:Microsoft YaHei,"微软雅黑"; text-align: center; height: 32px; line-height: 32px; width: 186px;}
.floor-news-list li{margin-bottom: 15px;}
.floor-news-style li span a{font-size: 14px; color: #333; font-weight: bold;}
.floor-news-style li p{ color: #999; margin: 0; padding: 5px; line-height: 23px;}
.floor-news-style li p a{ color: #999;}
.floor-news-small{width: 512px; height: 94px; overflow: hidden;}
.floor-news-small li{ float: left; width: 243px;}
.floor-news-small li img{ float: left; margin:0 12px 0 0;}
.floor-news-with{ margin-right: 25px;}


/* slider in floor */
.slider{border:1px solid #6bb5a7;width:430px;position:relative;overflow:hidden}
.slider h3{height:42px;font:bold 16px/42px 'Microsoft YaHei';color:black;margin:0 30px}
.slider-nav{height:27px;margin:0 0 0 30px;position:relative;z-index:2}
.slider-nav-li,
.slider-nav .more{float:left;margin-right:1px;_display:inline;height:20px;font-size:0;position:relative}
.slider-nav-li a,
.slider-nav .more a{padding:0 10px;font:normal 12px/20px 'SimSun';text-align:center;float:left;color:#6bb5a7;clear:both;height:20px;overflow:hidden;_line-height:22px}
.slider-nav li.cur a,
.slider-nav-li a:hover{color:white;text-decoration:none;border-radius:3px}
.slider-nav .more a:hover{text-decoration:underline}

.slider-nav li.cur a:hover,
.slider-nav li.cur a{font-weight:bold;}
.slider-nav-li a:hover em,
.slider-nav li.cur a em{display:block;;width:0;height:0;font-size:0;line-height:0; border-style:solid dashed dashed;border-width:4px;position:absolute;margin-left:-2px;left:50%;top:20px}
.slider-nav-li a em{display:none}
.slider-nav-fix a{padding:0;width:100%;}
.slider-cont{position:relative;margin-top:-10px;padding-top:10px;clear:both;background:url(../../images/common/slider.png) repeat-y top center;overflow:hidden}
.slider-item{display:none;height:334px;overflow:hidden;width:370px;padding:0px 30px 0;margin:0 auto;font-size:12px;position:relative;}
.slider-item-cur{display:block;}
.slider-item ul{width:388px;overflow:hidden}
.slider-item li{width:176px;float:left;margin:3px 18px 0 0;_display:inline;min-height:145px;_height:145px}
.slider-item .pic{display:block;width:176px;height:115px;position:relative;overflow:hidden;text-align:center;/*line-height:115px;_font-size: 96px;_font-family:Arial;*/}
.slider-item .pic img{/*max-width:176px;max-height:115px;margin:0 auto;vertical-align:middle;_width:176px*/}
.slider-item .pic img.midd{width:auto;height:115px;margin:0 auto}
.slider-item .pic:hover .bg{opacity:1}
.slider-item .price{width:100%;position:absolute;height:20px;left:0;bottom:0;cursor:pointer;font-size:12px}
.slider-item .bg{width:100%;height:100%;background-color:black;opacity:0.7;display:block}
.slider-item .num{padding:0 10px;float:left;position:absolute;left:0;top:0;line-height:20px;color:#ff7a17;font-weight:bold;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-family:"microsoft yahei";font-size:14px;}
.slider-item .num em{font-size:11px}
.slider-item .place{cursor:pointer;float:right;color:white;position:absolute;right:10px;top:0;font-family:'Microsoft YaHei'}
.slider-item .tit{text-align:left;max-width:100%;_width:100%;float:left;margin-top:6px;height:16px;line-height:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#444}
.slider-item .tit:hover{color:black;text-decoration:underline}
.slider-item .cutprice{display:block;color:#e91a1a;font:bold 16px/100% 'Microsoft YaHei';clear:both;padding-top:7px;height:20px}
.slider-item .cutprice em{color:#999;font-size:12px}
.slider-item .platform{height:22px;display:inline-block;*zoom:1;clear:both;line-height:20px;padding-top:5px;color:#666}
.slider-item .platform:hover{color:black;text-decoration:underline}
.slider-page{text-align:right;font-size:0px;padding-right:30px;height:20px;padding-bottom:5px;padding-top:7px}
.slider-page a{margin:0 10px 0 0;font-size:12px;;width:15px;height:15px;text-align:center;line-height:15px;color:#a8a8a8;display:inline-block;*zoom:1;font-family:arial;margin-top:2px;vertical-align:text-bottom;border-radius:2px}
.slider-page a.cur,.slider-page a:hover{background-color:#6bb5a7;color:white;text-decoration:none}
.slider-page a.more{width:auto;color:#222;font-family:'SimSun';margin:0 0 0 10px;border-radius:0;}
.slider .slider-page a.more:hover{background:none;color:#000;text-decoration:underline;}
.slider-arr{width:30px;font-size:50px;position:absolute;top:50%;margin-top:-20px;text-align:center;font-family:'SimSun';line-height:40px;color:#d4d4d4;text-shadow:2px 2px 2px white;outline:none;
    -webkit-transition:color .3s ease;
    -moz-transition:color .3s ease;
    -o-transition:color .3s ease;
    -ms-transition:color .3s ease;
    transition:color .3s ease;}
.slider-arr:hover{color:#333;text-decoration:none}
.slider-arr:active{margin-top:-19px}
.slider-prev{left:0;text-align:left}
.slider-next{right:0;text-align:right}
.slider-ad{height:43px;background:url(../../images/common/slider-line.png) repeat-x 0 5px;margin:0 30px;padding-top:12px;}
.slider-ad a{margin-right:10px}
/*自定义
.slider-you{border-color:#6bb5a7;color:#6bb5a7}
.slider-you .slider-nav-li a,.slider-you .more a{color:#6bb5a7}
.slider-you li.cur a,
.slider-you .slider-nav-li a:hover{background:#6bb5a7;color:white}
.slider-you .slider-nav li em{border-color:#6bb5a7 transparent transparent;}
.slider-you .slider-page a.cur, .slider-you .slider-page a:hover{background-color:#6bb5a7}
.slider-you .slider-item{height:334px}如果是普通样式    是不需要这行的
*/
/*等级 s*/
.level-bar{position:relative;width:98px;margin:10px auto 0;padding:0 45px;}
.level-line,
.level-in{position:relative;width:92px;height:6px;background-image: url(../../images/www/level-line.png);background-repeat: no-repeat;}
.level-in{background-position:0 -16px;}
.level-num{position:absolute;top:-5px;display:block;width:25px;height:29px;}
.leve-left{left:0;}
.leve-right{right:0;}
.level0{background-position:0 -32px;}
.level1{background-position:0 -17px}
.level2{background-position:-34px -17px}
.level3{background-position:-68px -17px}
.level4{background-position:-102px -17px}
.level5{background-position:-136px -17px}
.level6{background-position:-170px -17px}
.level-point{position:absolute;right:-12px;top:-3px;width:12px;height:12px;background:url(../../images/www/level-line.png) no-repeat 0 -32px scroll;}
/*等级 e*/
.siteintro{width:182px;height:121px;border:1px solid #e4e4e4;padding:14px 0 0 16px;margin-top:15px;background:url(../../images/www/why_b5m.jpg) no-repeat scroll right bottom #fff;}
.siteintro strong{display:block;height:17px;font:bold 14px/17px \5FAE\8F6F\96C5\9ED1;color:#333;margin-bottom:9px}
.siteintro span{height:22px;line-height:22px;font-size:12px;color:#666;padding-left:18px;display:block;background:url(../../images/www/icon.png) no-repeat scroll 0 -692px transparent;}
.b5tad{display:block;margin:15px 0 0}
.b5tad img{display:block}
/*图片滚动 s*/
/*.pic-slider{width: 540px;height: 230px;overflow: hidden;*position:relative;}
.pic-slider ul{position: relative;}
.pic-slider .nums{float:right;margin:-20px 10px 0 0;position:relative;}
.pic-slider .nums a{float:left;margin-left:6px;font-size:0;line-height:0;overflow:hidden;height:10px;width:10px;cursor: pointer;background:url(../../images/www/icon.png) no-repeat scroll -150px -450px;_background-image:url(../../images/www/icon8.png);}
.pic-slider .nums a:hover,
.pic-slider .nums .cur{background-position:-100px -450px;}*/
/*图片滚动 e*/

/*----banner s----*/
.row-index .col{float:left; _display:inline;}
.row-index .col-space{width: 200px;height:430px;}
.row-index .col-center{width: 540px;margin:23px 20px 0 20px;}
.row-index .col-side{width: 200px;margin-top: 20px;position: relative;}
.checkin{height:120px;width:188px; overflow: hidden; background-color:#fff;border:1px solid #dedede;position:relative;}
.avater{display:block;width:52px;height:52px;display:block;position:absolute;left:9px;top:8px;background-position:0 -66px}
.noavater{background-position:0 -132px}
.avater-img{background:none}
.avater-img img{display:block;width:52px;height:52px;}
.avater-border{position:absolute;left:0;top:0}
.checkin .username{font:bold 12px/14px \5FAE\8F6F\96C5\9ED1;color:#333;display:inline-block;*zoom:1;margin:10px 0 0 84px;max-width:110px;_width:110px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:14px;}
.checkin .username:hover{color:#eb7e00;text-decoration: underline;}
.checkin .begin{line-height:18px;color:#999;font-size:12px;margin:0 0 0 84px}
.checkin-btn{margin:9px auto;display:block;font:normal 14px/27px \5FAE\8F6F\96C5\9ED1;_line-height:29px;color:#fff;text-indent:30px;text-align:left;background-position:-43px -200px;background:url(../../images/www/icon.png) no-repeat scroll 5px -753px #f48300;_background-image:url(../../images/www/icon8.png);width:126px;height:27px;border-radius:2px;overflow:hidden;
	-webkit-transition: background-position .1s ease-in;
	-moz-transition: background-position .1s ease-in;
	-ms-transition: background-position .1s ease-in;
	-o-transition: background-position .1s ease-in;
	transition: background-position .1s ease-in;
}
.checkin-btn:hover{background-position:5px -750px; color: #fff;}


.checkin-btn-dis{width:124px;height:25px;text-align:center;text-indent:0;line-height:25px;;_line-height:27px;color:#666;background:white;border:1px solid #e8e8e8;cursor:default}
.checkin-btn-dis:hover{ color: #666;}
/*----banner s----*/


/*----mobile-app s----*/
.mobile-app{overflow: hidden;zoom:1;}
.mobile-app .hd{height: 14px;line-height: 16px;padding:15px 74px 10px 0;font-size: 14px;background:url(../../images/www/mobile-app.png) no-repeat scroll 0 bottom;}
.mobile-app .hd h2{float:left;color:#333;font-family:\5FAE\8F6F\96C5\9ED1;}
.mobile-app .hd .more{float:right;color:#666;font-size:12px;}
.mobile-app .list-h{border-top:1px solid #E4E4E4;margin-right:-14px;overflow:visible;}
.mobile-app .list-h li{width:127px;height:142px;padding-right:11px;background:url(../../images/www/icon.png) no-repeat right 0;margin-top:-1px;_background-image:url(../../images/www/icon8.png);}
.mobile-app .list-h a{display:block;padding-top: 100px;font-size:12px;color:#666;text-align:center;background-image:url(../../images/www/icon.png);_background-image:url(../../images/www/icon8.png);background-repeat:no-repeat;line-height:14px;height:30px;
	-webkit-transition: all ease-in .2s;
	-moz-transition: all ease-in .2s;
	-ms-transition: all ease-in .2s;
	-o-transition: all ease-in .2s;
	transition: all ease-in .2s;
}
.mobile-app .list-h a:hover{color:#eb7e00;}
.mobile-app .list-h .app-b5m{background-position: -69px -31px;}
.mobile-app .list-h .app-b5m:hover{background-position: -69px -40px;}
.mobile-app .list-h .app-you{background-position: -219px -31px;}
.mobile-app .list-h .app-you:hover{background-position: -219px -40px;}
.mobile-app .list-h .app-tao{background-position: -69px -231px;}
.mobile-app .list-h .app-tao:hover{background-position: -69px -240px;}
.mobile-app .list-h .app-gou{background-position: -219px -231px;}
.mobile-app .list-h .app-gou:hover{background-position: -219px -240px;}
/*----mobile-app s----*/

/*----floor s----*/
.floor-tit-links a:hover,
.floor-news-more:hover,
.floor-news-style li span a:hover,
.slider-item .tit:hover,
.slider .slider-page a.more:hover,
.b5t-info dl a:hover,
.slider-item .platform:hover,
.b2c-links li p a:hover,
.mobile-app .hd .more:hover,
.floor-search-hot-key a:hover,
.korea-news a:hover{color:#eb7e00;text-decoration: none;}

/*帮5游 s*/
.floor-content{margin-bottom:20px;}
.you{border-bottom-color:#4385e0}
.you .floor-tit-more,
.you .floor-tit-num{background-color:#4385e0}
.floor-you .floor-search-input{background: #4385e0;}
.slider-you .slider-nav-li a,.slider-you .more a{color:#333}
.slider-you li.cur a,
.slider-you .slider-nav-li a:hover{background:#4385e0;color:white}
.slider-you .slider-nav li em{border-color:#4385e0 transparent transparent;}
.slider-you .slider-page a.cur, .slider-you .slider-page a:hover{background-color:#4385e0}
.slider-you{border-color: #4385e0;}
/*帮5游 e*/

/*帮5团 s*/
.tuan{border-bottom-color:#5656FF}
.tuan .floor-tit-more,
.tuan .floor-tit-num{background-color:#5656FF}
.tuan-index-side{width:320px;}
.tuan-index .floor-search-key{width:219px}
.tuan-index .floor-search-input{background-color:#5656FF}
.tuan-index .floor-search{width:320px;}
.tuan-index .floor-search-input{width:auto}
.tuan-brand{border:1px solid #c2c2ff;zoom:1}
.tuan-brand ul{overflow:hidden;margin:6px 10px;zoom:1}
.tuan-brand li,.tuan-brand li a{width:99px;height:70px;}
.tuan-brand li{display:inline;float:left;margin:-1px 0 0 -1px;border-top:1px solid #eee;border-left:1px solid #eee;text-align:center;}
.tuan-brand a{display:table-cell;*display: block;*font-size: 61.11px;*font-family:Arial;vertical-align:middle;}
.tuan-brand img{vertical-align:middle;}
.tuan-hot{overflow:hidden}
.tuan-hot dt{padding:28px 0 16px 8px;background:#f5f5f5 url(../../images/www/bg_tuan_1.gif) repeat-x;color:#333;font-weight:bold;font-size:14px;font-family:"Microsoft YaHei";line-height:1.05;}
.tuan-hot dd{position:relative;z-index:0;margin:5px 0 7px 6px;}
.tuan-hot a{float:left;_display:inline;margin:2px 2px 0 0;text-align:center;font-size:20px;font-family:\5FAE\8F6F\96C5\9ED1;color:#fff;opacity:0.9;filter:alpha(opacity=90);}
.tuan-hot a:hover{opacity:1;filter:aplpha(opacity=100);}
.tuan-hot .tag-1{width:108px;height:68px;line-height:68px;background-color:#f98f48;}
.tuan-hot .tag-2{width:100px;height:68px;line-height:68px;background-color:#eb628c}
.tuan-hot .tag-3{width:93px;height:68px;line-height:68px;background-color:#9ad164}
.tuan-hot .tag-4{width:108px;height:68px;line-height:68px;background-color:#5aa2d1}
.tuan-hot .tag-5{width:100px;height:68px;line-height:68px;background-color:#61ca9f}
.tuan-hot .tag-6{width:93px;height:68px;line-height:68px;background-color:#63cec8}
.tuan-hot .tag-7{width:108px;height:68px;line-height:68px;background-color:#e16767}
.tuan-hot .tag-8{width:100px;height:68px;line-height:68px;background-color:#74c969}
.tuan-hot .tag-9{width:93px;height:68px;line-height:68px;background-color:#6e6ed2}
.tuan-index-main{float:left;width:660px;margin-top:-7px;padding:0;}

.tuan-index-main .mod-proItem{display:inline;float:left;width:210px;margin-top:7px;margin-left:8px;padding-bottom:8px;border:1px solid #d8d8d8;color:#999;line-height:14px;}
.mod-proItem a{color:#999}
.mod-proItem a:hover,.mod-proItem-sell s{color:#5656d1;text-decoration:none}
.mod-proItem dt,.mod-proItem dd{padding-right:10px;padding-left:10px;transition:background 0.6s;}
.mod-proItem dt{padding-top:6px;padding-bottom:6px;}
.mod-proItem dt a{color:#333}
.mod-proItem-picbox{padding-bottom:6px;}
.mod-proItem-pic,.mod-proItem-pic img{width:190px;height:130px;}
.mod-proItem-pic{display:block;position:relative;z-index:0;overflow:hidden;}
.mod-proItem-pic span{position:absolute;bottom:0;left:0;z-index:1;width:174px;padding:8px;background:#000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);background:rgba(0,0,0,0.5);color:#fff;line-height:18px;opacity:0;filter:alpha(opacity=0);transition:opacity .8s;}
.mod-proItem-cur .mod-proItem-pic span{opacity:1;filter:alpha(opacity=100);}
.mod-proItem-cur dt,.mod-proItem-cur .mod-proItem-picbox{background:#5656d1;}
.mod-proItem-cur dt a,.mod-proItem-cur .mod-proItem-picbox a,.mod-proItem-cur dt a:hover,.mod-proItem-cur .mod-proItem-picbox a:hover{color:#fff;}
.mod-proItem-tit{display:block;height:36px;overflow:hidden;margin-top:4px;color:#666;font-size:12px;line-height:18px;}
.mod-proItem-price{padding:3px 0 2px;_padding-bottom:3px;font-family:Arial;}
.mod-proItem-price em,.mod-proItem-price span{color:#e22b26;font-weight:bold;}
.mod-proItem-price p{float:right;}
.mod-proItem-price span em{font-size:16px;line-height:18px;}
.mod-proItem-price del{margin-right:16px;}
.mod-proItem-sell a{float:right;}
/*帮5团 e*/

/*帮5挑 s*/
.tiao{border-bottom-color:#F74D94}
.tiao .floor-tit-more,
.tiao .floor-tit-num{background-color:#F74D94}
.floor-tiao .floor-search-input{background-color:#F74D94}
.slider-tiao{border-color:#F74D94;color:#F74D94}
.slider-tiao .slider-nav-li a,.slider-tiao .more a{color:#F74D94}
.slider-tiao li.cur a,
.slider-tiao .slider-nav-li a:hover{background:#F74D94;;color:white}
.slider-tiao .slider-nav-li em{border-color:#F74D94 transparent transparent;}
.slider-tiao .slider-page a.cur, .slider-tiao .slider-page a:hover{background-color:#F74D94}
/*帮5挑 e*/

/*帮5淘 s*/
.tao{border-bottom-color:#F27929}
.tao .floor-tit-more,
.tao .floor-tit-num{background-color:#F27929}
.floor-tao .floor-search-input{background-color:#F27929}
.slider-b5t{border-color:#F27929;color:#F27929}
.slider-b5t .slider-nav-li a,.slider-b5t .more a{color:#F27929}
.slider-b5t li.cur a,
.slider-b5t .slider-nav-li a:hover{background:#F27929;color:white}
.slider-b5t .slider-nav-li em{border-color:#F27929 transparent transparent;}
.slider-b5t .slider-page a.cur, .slider-b5t .slider-page a:hover{background-color:#F27929}
.slider-b5t .slider-item{height:296px}
/*帮5淘 e*/

/*帮5社 s*/
.she{border-bottom-color:#C245E6}
.she .floor-tit-more,
.she .floor-tit-num{background-color:#C245E6}
.floor-she .floor-search-input{background-color:#C245E6}
.slider-b5s{border-color:#C245E6;color:#C245E6}
.slider-b5s .slider-nav-li a,.slider-b5s .more a{color:#C245E6}
.slider-b5s li.cur a,
.slider-b5s .slider-nav-li a:hover{background:#C245E6;color:white}
.slider-b5s .slider-nav-li em{border-color:#C245E6 transparent transparent;}
.slider-b5s .slider-page a.cur, .slider-b5s .slider-page a:hover{background-color:#C245E6}
.slider-b5s .slider-item{height:334px}
/*帮5社 e*/

/*韩国馆 s*/
.korea{border-bottom-color:#DB000F}
.korea .floor-tit-more,
.korea .floor-tit-num{background-color:#DB000F}
.floor-korea .floor-search-input{background-color:#DB000F}
.slider-korea{border-color:#DB000F;color:#DB000F}
.slider-korea .slider-nav-li a,.slider-korea .more a{color:#DB000F}
.slider-korea li.cur a,
.slider-korea .slider-nav-li a:hover{background:#DB000F;color:white}
.slider-korea .slider-nav-li em{border-color:#DB000F transparent transparent;}
.slider-korea .slider-page a.cur, .slider-korea .slider-page a:hover{background-color:#DB000F}
.b5t-plugin{width: 520px;height: 300px;background: url(../../images/www/b5t-gouwuzs.jpg) no-repeat 0 0 scroll;zoom:1;overflow: hidden;}
.b5t-plugin a{display: block;height: 254px;font-size:0;overflow: hidden;line-height: 0;}
.b5t-plugin .list-h li{margin:0 15px;text-align: center; width: 56px;}
.b5t-plugin .list-h h3{font-weight:700;color:#f26522;}
.b5t-info{position: relative;margin-top:10px;}
.b5t-info dl{padding-left:8px;width:265px;}
.b5t-info dl dt{margin:0 0 15px;font:700 16px \5FAE\8F6F\96C5\9ED1;color:#000;}
.b5t-info dl a{color:#999;line-height: 24px;}
.b5t-info .b5t-down{position:absolute;right:38px;top:18px;width:211px;height:80px;background: url(../../images/www/b5t-datu-anniu.png) no-repeat left top;}
/*韩国馆 e*/


/*保健常识 s*/
.health{border-bottom-color:#00a500;}
.health .floor-tit-more,
.health .floor-tit-num{background-color:#00a500;}
.health-content { padding-top: 20px;}
.health-content div { width:470px;}
.health-content div .img { float:left; border:1px solid #83c783; padding: 8px 0; text-align: center; width:190px;}
.health-content div .img img { margin-bottom: 4px; }
.health-content div a { color:#999;}

.health-content div ul { float:left; padding-left: 10px; width:268px;}
.health-content div ul li { height: 25px; line-height: 25px; padding-left: 10px; background: url("../../images/www/bg-health.png") no-repeat 0px 13px;}
.health-content div ul li.high { background-position: 0px -12px;}
.health-content div ul li a { color:#666;}
.health-content div a:hover,.health-content div ul li a:hover { color:#eb7e00;}

/*保健常识 e*/



/*值得买 s*/
.b2c-links-border {border-top: 3px solid #5d5d5d; height: 20px; overflow: hidden; }
.zhidemai-index{border-bottom-color:#FFB400;}
.zhidemai-index .floor-tit-more,
.zhidemai-index .floor-tit-num{background-color:#FFB400;}
.zhidemai-recommend{width:320px;}
.zhidemai-recommend .list-item{height:50px;overflow: hidden;padding:15px 0 15px 6px;border-bottom:1px dashed #EAE9EE;}
.zhidemai-recommend .pic{position:relative;float:left;_display:inline;width:80px;margin-right:15px;}
.zhidemai-recommend .pic .nums{position: absolute;left:-6px;top:-6px;width:16px;height:16px;background-image: url(../../images/www/icon.png);_background-image: url(../../images/www/icon8.png);background-repeat: no-repeat;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.zhidemai-recommend .pic:hover .nums{
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
}
.zhidemai-recommend .pic .nums-1{background-position:-100px -550px;}
.zhidemai-recommend .pic .nums-2{background-position:-100px -600px;}
.zhidemai-recommend .pic .nums-3{background-position:-100px -650px;}
.zhidemai-recommend .pic .nums-4{background-position:-150px -550px;}
.zhidemai-recommend .pic .nums-5{background-position:-150px -600px;}
.zhidemai-recommend .txt{display: table-cell;width:2000px;height:50px;*display:block;*width:auto;}
.zhidemai-recommend .txt em{color:#ff7a17;font-weight:700;}
.zhidemai-recommend .txt .des{display:block;height:34px;color:#666;zoom:1;}
.zhidemai-recommend .txt .des:hover{color: #eb7e00;}
.zhidemai-recommend .txt .time{color:#bbb;}
.zhidemai-recommend .txt .more{height:22px;line-height:20px;padding:0 8px;color:#fff;background-color: #FFB400;float:right;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.zhidemai-more{height:38px;line-height:38px;margin-top:5px;text-align:center;background-color:#F6F6F6;}
.zhidemai-more .zhidemai-more-btn{display: inline-block;*display: inline;*zoom: 1;*margin-top:7px;height:24px;line-height:24px;padding-right:34px;font-weight: 700;color:#fff;background: url(../../images/www/icon.png) no-repeat -35px -500px;font-family: \5FAE\8F6F\96C5\9ED1;color:#575757;font-size:14px;
	-webkit-transition:background-position .1s ease-in-out;
	-moz-transition:background-position .1s ease-in-out;
	-ms-transition:background-position .1s ease-in-out;
	-o-transition:background-position .1s ease-in-out;
	transition:background-position .1s ease-in-out;
}
.zhidemai-more .zhidemai-more-btn:hover{
	background-position:-40px -500px;
}
.zhidemai-mall{width:630px;height:446px;border:1px solid #E4E4E4;overflow:hidden;}
.zhidemai-mall .tab-hd{margin-right:-6px;}
.zhidemai-mall .tab-hd li{height:34px;float:left;_display:inline;width:106px;text-align:center;background-color: #F6F6F6;border-bottom: 3px solid #FFB400;}
.zhidemai-mall .tab-hd li a{display:block;height: 31px;line-height:31px;padding-top:3px;border-right:1px solid #e4e4e4;color:#333;font-size: 16px;font-family: \5FAE\8F6F\96C5\9ED1;noline:expression(this.onFocus=this.blur());}
.zhidemai-mall .tab-hd .cur{height:37px;border-bottom:none;background-color: #fff}
.zhidemai-mall .tab-hd .cur a{height:34px;color:#f08d00;}
.zhidemai-mall .tab-box{overflow: hidden;}
.zhidemai-mall .tab-item{display: none;}
.zhidemai-mall .tab-item li{float: left;_display:inline;width:138px;margin:15px 0 0 15px;}
.zhidemai-mall .tab-item .pic{display: block;width:138px;height: 138px;position: relative;}
.zhidemai-mall .tab-item .pic .price{position: absolute;height:22px;padding:0 4px 0 8px;line-height:22px;bottom: 0;right:0;z-index:10;color:#e91414;font-family: \5FAE\8F6F\96C5\9ED1;font-size: 16px;background: url(../../images/www/stripe_bg.png) no-repeat scroll 0 0;_background-image: url(../../images/www/stripe_bg8.png)}
.zhidemai-mall .tab-item .pic .price b{font-size: 12px;}
.zhidemai-mall .tab-item .des{display:block;height:3em;color:#666;overflow:hidden;}
.zhidemai-mall .tab-item .des:hover{color:#eb7e00;text-decoration: none;}
/*值得买 s*/

/*淘特价 s*/
.tejia{border-bottom-color:#95bf00}
.tejia .floor-tit-more,
.tejia .floor-tit-num{background-color:#95bf00}
.floor-tejia .floor-search-input{background-color:#95bf00}
.slider-tejia{border-color:#95bf00;color:#95bf00}
.slider-tejia .slider-nav-li a,.slider-tejia .more a{color:#95bf00}
.slider-tejia li.cur a,
.slider-tejia .slider-nav-li a:hover{background:#95bf00;;color:white}
.slider-tejia .slider-nav-li em{border-color:#95bf00 transparent transparent;}
.slider-tejia .slider-page a.cur, .slider-tejia .slider-page a:hover{background-color:#95bf00}
.tao-index .floor-search-input {background-color: #95bf00;}
.today-recommend{width: 512px;}
.today-recommend h3{font-family:\5FAE\8F6F\96C5\9ED1;font-size: 16px;line-height: 1.2;font-weight:700;color: #000;}
.today-recommend ul{ width:522px;height: 323px;margin-left: -10px; overflow: hidden;}
.today-recommend ul li{ width: 250px; height: 94px; padding: 8px 11px 8px 0; float: left; border-bottom: 1px #999 dotted;border-right: 1px #999 dotted; margin:0 -1px -1px 0;}
.today-recommend li img{ float: left; margin:0 10px;}
.today-recommend li span{ line-height: 1; display: block; padding-bottom: 10px;}
.today-recommend li a{ color: #999;}
.today-recommend .tit{ color: #666;}
.today-recommend li p{ margin: 0; padding: 0; color: #999;}
.today-recommend li p a:hover{ color: #999;}
.other-view{width:433px;height: 44px;border-top: 6px #f3f3f3 solid; border-bottom: 6px #f3f3f3 solid; background: #fff; padding: 2px 0; margin-bottom: 22px;}
.other-view span{ display: inline-block; vertical-align: top; height: 44px; position: relative;}
.other-view span span{ position: absolute;white-space: nowrap;}
.other-view .txt { width:50px; margin-top: 4px; color:#666;}
.prev a,.next a{display: block; margin: 12px 10px 0; width: 12px; height: 19px; background:url(../../images/www/arr_opt.png) no-repeat 0 0;}
.prev a{background-position:0 0;}
.prev a:hover{background-position:0 -24px;}
.next a{background-position:-16px 0;}
.next a:hover{background-position:-16px -24px;}
.view-pics{ width: 290px; overflow: hidden;}
.view-pics img{ margin: 0 7px;}
.tao-slider{width:430px;border: 1px solid #95bf00;background: url(../../images/common/slider.png) repeat-y top center; position: relative;}
.tao-slider-nav{padding-left: 20px;}
.tao-slider-nav-li{margin: 0 20px; _margin: 0 14px; display: inline-block;*display: inline;*zoom:1; _width: 60px;}
.tao-slider-nav-li a{ background: #fff; position: relative; display: block; color: #666;font-family:\5FAE\8F6F\96C5\9ED1;font-size: 16px;font-weight: bold; border-bottom: 1px #666 solid; padding: 10px 10px 3px; text-align: center;}
.tao-index li.cur a{ color: #95bf00;border-bottom-color: #95bf00;}
.tao-index li.cur a em{ border-top-color: #95bf00;}
.tao-slider-nav-li a em{display: block;width: 0;height: 0;font-size: 0;line-height: 0;border-style: solid dashed dashed;border-width: 4px;position: absolute;margin-left: -2px;left: 50%;bottom: -8px;color: transparent; border-top: 4px #666 solid;}
.tao-index li a:hover{ color: #eb7e00;border-bottom-color: #95bf00;}
.tao-slider-nav-li a:hover em{border-top-color: #95bf00;}
.tao-slider-item ul{ padding:18px 0 23px 36px;}
.tao-slider-item li{ display: inline-block; *display: inline;*zoom:1; width: 160px; margin: 0 10px;}
.sell-num{font-family:\5FAE\8F6F\96C5\9ED1; display: block;font-size: 14px; padding: 2px 0;}
.sell-num em{ color: #95bf00;}
.goods-name{ color: #999;font-family:\5FAE\8F6F\96C5\9ED1; font-size: 14px; height: 41px; display: block;}
.goods-price{ color: #e91414; vertical-align: text-bottom;line-height: 20px; padding-top: 10px; }
.goods-price span{ display: inline-block; *display: inline;*zoom:1;font-family:\5FAE\8F6F\96C5\9ED1}
.price-num strong{ font-size: 18px; padding: 0 2px;}
.goods-price .zhe{ float: right; background: #95bf00; color: #fff; padding: 2px 5px 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
/*淘特价 s*/
/*楼层 e*/

/* 韩国馆资讯内容 */
.korea-news{ width: 432px;}
.korea-tit{ background: url(../../images/www/bg-korea.png) repeat-x center 8px; clear: both;}
.korea-tit strong{font-family: "Microsoft YaHei"; font-size: 16px; font-weight: bolder; background: #fff; padding-right: 5px}
.korea-pic{ display: block; float: left; margin: 10px 30px 0 0;}
.korea-pic img{ display: block; margin-bottom: 10px; width: 160px; height: 120px;}
.korea-pic span{ display: block; color: #666;}

.korea-news li{ line-height: 24px; background: url(../../images/www/bg-korea.png) no-repeat 180px -19px; padding-left: 13px;}
.korea-news li a{ color: #333;}

/* 淘app内容 */
.index-tao{ width: 540px; height: 181px;}
.index-tao a{ display: block; float: left; height: 181px; background: url(../../images/www/bg-tao.png) no-repeat;}
.index-tao .sou{width: 130px; background-position: 0px 0px;}
.index-tao .jian{ width: 127px; background-position: -130px 0px;}
.index-tao .bi{width: 126px; background-position: -257px 0px;}
.index-tao .app-download{ width: 157px; background-position: -383px 0px;}

.index-tao .app-download:hover{ background-position:-383px -181px;}

/*----@jiabangdou s----*/
.jiabangdou{display: inline-block;*display: inline;*zoom: 1;width:258px;height:17px;background: url(../../images/common/jiabangdou.png) no-repeat 0 -72px scroll transparent;}
.bangdou-tips{position:absolute;width:133px;height:65px;overflow:hidden;background: url(../../images/common/jiabangdou.png) no-repeat 0 0 scroll transparent;line-height: normal;}
.bangdou-tips__in{padding:18px 0 0 60px;text-align:left;font-size:18px;font-weight: 700;color:#eb7e00;}
.bangdou-target .bangdou-tips{top:6px;left:30px;}
/*----@jiabangdou e----*/
.top-hdbanner { text-align: center; background: #eb7d00; }






/*全部商品分类 s*/
.main-item{position: absolute;width: 198px;*font-size:0;}
.all-cate { height: 530px; width:198px; background: #fafafa; padding-top: 10px;}
.all-cate a{font-size: 12px;color:#333;font-family: "\5FAE\8F6F\96C5\9ED1"}
.all-cate a:hover{color:#F18100;text-decoration: underline;}
.all-cate li{height: 37px;line-height:34px;padding-left:48px;background: #FAFAFA;border:1px solid #FAFAFA;border-right:none;}
.all-cate .icon{display: inline-block;*display: inline;*zoom: 1;margin:6px 0 0 -36px;float:left;width: 22px;height: 22px;background-image:url(../../images/www/icon.png);_background-image:url(../../images/www/icon8.png);background-repeat:no-repeat;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s;
}
.all-cate li:hover .icon{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
.all-cate .icon-book{background-position:0 0;}
.all-cate .icon-mobile{background-position:0 -50px;}
.all-cate .icon-game{background-position:0 -100px;}
.all-cate .icon-telephone{background-position:0 -150px;}
.all-cate .icon-laptop{background-position:0 -200px;}
.all-cate .icon-furniture{background-position:0 -250px;}
.all-cate .icon-clothes{background-position:0 -300px;}
.all-cate .icon-bag{background-position:0 -350px;}
.all-cate .icon-makeup{background-position:0 -400px;}
.all-cate .icon-ice-cream{background-position:0 -450px;}
.all-cate .icon-baby{background-position:0 -500px;}
.all-cate .icon-sport{background-position:0 -550px;}
.all-cate .icon-medical{background-position:0 -600px;}
.all-cate .item-odd{background-color:#F1F1F1;border-top:1px solid #F1F1F1;border-bottom: 1px solid #F1F1F1;}
.all-cate .sub_item{display:none;border:1px solid #ddd;min-height:505px;position: absolute;z-index:80;left:195px;top:0;margin-left:-1px;background-color: #fff;box-shadow:0px 2px 3px #ddd;}
.all-cate dt a{font-size:18px;font-weight:700;color:#eb7e00;}
.all-cate dt a:hover{text-decoration: none;}
.all-cate dl{padding:8px 0 8px 0;margin-top:-1px;zoom:1;border-top:1px solid #F0F0F0;}
.all-cate dt{margin-bottom: -5px;}
.all-cate dd{overflow: hidden;}
.all-cate dd a{float: left;margin-right:15px;white-space: nowrap;font-family:\5B8B\4F53}
.all-cate .sub-wp{width:649px;overflow: hidden;}
.all-cate .sub-in{float:left;min-height:489px; width:378px;padding:0 0 15px 30px;line-height: 24px;background-color:#fff;}
.all-cate .main-cate{position:relative;z-index:100;height:37px;line-height:37px;margin-right:-2px;}
.all-cate .main-cate .arrow{position:absolute;display:none;top:10px;right:14px;width: 8px;height: 12px;font-size:0;line-height:0;overflow:hidden;background: url(../../images/www/icon.png) no-repeat scroll 0 -650px;_background-image:url(../../images/www/icon8.png)}
.all-cate .active,
.all-cate .open{height: 37px;line-height:34px;border:1px solid #E4E4E4;border-right:none;background:#fff;}
.all-cate .active .main-cate,
.all-cate .open .main-cate{background: #fff;}
.all-cate .active .arrow,
.all-cate .open .arrow{display: inline-block;*display: inline;*zoom: 1;}
.hot-brand{float:left;width:240px;padding-bottom:2000px;margin-bottom:-2000px;border-left:1px solid #EBEBEB;}
.hot-brand h4{padding:6px 0;font:700 14px/32px '\5FAE\8F6F\96C5\9ED1';}
.list-brand{overflow: hidden;}
.list-brand,
.hot-brand h4{margin:0 20px;zoom:1;}
.list-brand li{float:left;height:50px;width:100px;padding:0;border-top:1px solid #F0F0F0;border-left:1px solid #F0F0F0;margin-top:-1px;margin-left:-1px;background-color: #fff}
.list-brand li a{display:table-cell;vertical-align:middle;height:50px;width:100px;text-align:center;*display: block;*font-size:44px;}
.list-brand li img{vertical-align: middle;}
.hot-brand .brand-recommend{display:block;padding:20px 0 0 20px;}
/*全部商品分类 s*/
img{vertical-align: top;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.vh{font-size:0;line-height: 0;overflow: hidden;}
.business{background-color: #eb7e00;}
.floor-content .list-h li{float:left;}
.cont { padding-top: 20px; margin-bottom: 20px;}
.cont .cont-l { float:left; width:200px; *position: relative; *z-index: 1;}
.cont .cont-r { float:right; width:765px;}
.cont .cont-tab .tab-title a { display: block; float:left; width:100px; height: 38px; line-height: 38px; border-bottom: 3px solid #ff9000; text-align: center; font-weight: bold;font-family:\5FAE\8F6F\96C5\9ED1;color:#fff; font-size:14px; background:#ff9000;  }
.cont .cont-tab .tab-title a.cur { background: #f58a00; border-bottom-color:#bb5800;}
.cont .cont-tab .tab-content { display: none; overflow: hidden; height: 530px; border:1px solid #ff8e09; border-top:none; }
.cont .cont-tab .tab-content.cur { display: block;}

/*图片滚动 s*/
.pic-slider{ width: 760px;height:370px;overflow: hidden; *position:relative;}
.pic-slider ul{position: relative;}
.pic-slider ul li { float:left;}
.pic-slider .nums{float:right;margin:-25px 215px 0 0;position:relative;}
.pic-slider .nums a{float:left;margin-left:6px;font-size:0;line-height:0;overflow:hidden;height:10px;width:10px;cursor: pointer;background:url(../../images/www/icon.png) no-repeat scroll -150px -450px;_background-image:url(../../images/www/icon8.png);}
.pic-slider .nums a:hover,
.pic-slider .nums .cur{background-position:-100px -450px;}
/*图片滚动 e*/

/* banner */
.cont .banner-top { margin-bottom: 20px;}
.cont .banner-t { float:left; width: 560px;height:355px;  }
.cont .panel-user { margin-bottom: 11px;}
.cont .panel-b5t {  width:190px; height: 222px; background: url("../../images/www/index/bg-b5t-download.png");}
.cont .panel-b5t a { display: block; width:190px; height:222px; text-indent: -9999px;}
.cont .banner-m { height: 124px; margin-bottom: 2px; overflow: hidden; position: relative;}
.cont .banner-m .a-l,.cont .banner-m .a-r { display: none; z-index: 1; width:30px; height: 37px; background: #ccc; left:0; position: absolute; top:42px; background: url("../../images/www/index/bg-b5t-download.png");}
.cont .banner-m:hover .a-l,.cont .banner-m:hover .a-r { display: block;}
.cont .banner-m .a-l { background-position: 0px -263px;}
.cont .banner-m .a-l:hover { background-position: -60px -263px;}
.cont .banner-m .a-r { right:0; left:auto; background-position: -30px -263px;}
.cont .banner-m .a-r:hover {background-position: -90px -263px;}
.cont .banner-m ul { width:500%; position: absolute; left:0; top:0;}
.cont .banner-m li { float:left;margin-right: 2px; width:254px; height: 124px;}
.cont .banner-b { height: 70px; background: #fafafa; border-bottom:1px solid #f0f0f0;  }
.cont .banner-b ul { padding: 10px 0 0 20px;}
.cont .banner-b li { line-height: 24px; float:left; width:235px; padding-left: 10px; background: url("../../images/www/icon.png") no-repeat -155px -499px; _background-image:url("../../images/www/icon8.png") }
.cont .banner-b li a { color:#666;}
.cont .banner-b li a:hover { color:#f18100;}
/* banner */

/* 电商排行*/
.logo-rank { padding-top: 10px; *padding-top:0; float: left; width: 198px;}
.logo-rank li { height: 30px; line-height:30px;   border-bottom: 1px solid #e8e8e8; padding:7px 10px 7px 30px; overflow: hidden;}
.logo-rank li em{ width: 18px;height: 18px; font-size: 10px; margin-top: 6px; overflow: hidden; font-family: airal,'microsoft yahei'; color: #fff; float: left; margin-left: -20px; background: #bbbbbb; line-height: 18px; text-align: center; border-radius: 50%;}
.logo-rank a { display: block; text-align: right; color:#6c6c6c; }
.logo-rank li.num1 em{ background: #ff7800;}
.logo-rank li.num2 em{ background: #ff9600;}
.logo-rank li.num3 em{ background: #ffbc07;}
/*zibu 2010310 s*/
.logo-warp{ width: 100%; height: 325px; position: relative; overflow: hidden;}
.logo-items{ width: 600%; height: 100%; position: absolute;}
.logo-tab{ height: 30px; overflow: hidden; line-height: 30px; color: #464646; padding: 0 8px;}
.logo-tab li{ float: left;}
.logo-tab .tab-tit{ padding: 0 5px;}
.logo-tab li span{ margin: 0 5px; color: #727272; cursor: pointer; }
.logo-tab li .cur{ color: #ff8e09; font-weight: bold;}
.logo-tab .prev,
.logo-tab .next{ background-image: url("../../images/www/icon.png"); _background-image:url("../../images/www/icon8.png"); cursor: pointer; width: 15px; height: 15px; background-repeat: no-repeat; margin-top: 8px;}
.logo-tab .prev{ background-position:  -221px -976px;}
.logo-tab .next{ background-position:  -221px -932px;}
.logo-tab .more{float: right;}
.logo-rank li.more {padding:5px 10px 5px 30px; border-bottom:none; background-position: -211px -919px;}
.logo-rank li.more a { cursor:pointer; text-align: left ; font-family: \5b8b\4f53;  background:none; }
.logo-rank li.more a:hover{ color:#F18100;}
.logo-rank li a { cursor:default; background: url("../../images/www/index/logo-rank1.png") no-repeat 0 0;}

.logo-rank .normal { background-position: 0px -1080px;}
.logo-rank .taobao { background-position: 3px 0;}
.logo-rank .tmall { background-position:0px -30px;}
.logo-rank .jd { background-position:0 -60px;}
.logo-rank .zcn { background-position:0px -90px;}
.logo-rank .dangdang { background-position:0 -120px;}
.logo-rank .suning { background-position:0 -150px;}
.logo-rank .yhd { background-position:0 -180px;}

.logo-rank .mogujie { background-position:0 -210px;}
.logo-rank .guomei { background-position:0 -240px;}
.logo-rank .zouxiu { background-position:0 -270px;}
.logo-rank .vjia { background-position:0 -300px;}
.logo-rank .ocj { background-position:0 -330px;}
.logo-rank .yixun { background-position:0 -360px;}
.logo-rank .qutianmai { background-position:0 -390px;}

.logo-rank .weiweiwang { background-position:0 -420px;}
.logo-rank .weipinhui { background-position:0 -450px;}
.logo-rank .shangpin { background-position:0 -480px;}
.logo-rank .yangmatou { background-position:0 -510px;}
.logo-rank .paixie { background-position:0 -540px;}
.logo-rank .weilan { background-position:0 -570px;}
.logo-rank .justyle { background-position:0 -600px;}

.logo-rank .zhenpin { background-position:0 -630px;}
.logo-rank .shishanghui { background-position:0 -660px;}
.logo-rank .fangke { background-position:0 -690px;}
.logo-rank .diwudadao { background-position:0 -720px;}
.logo-rank .lefneg { background-position:0 -750px;}
.logo-rank .chongshang { background-position:0 -780px;}
.logo-rank .mengbasha { background-position:0 -810px;}

.logo-rank .muying { background-position:0 -840px;}
.logo-rank .weike { background-position:0 -870px;}
.logo-rank .beidouxing { background-position:0 -900px;}
.logo-rank .jushang { background-position:0 -930px;}
.logo-rank .yiyoupin { background-position:0 -960px;}
.logo-rank .shishang { background-position:0 -990px;}
.logo-rank .banggo { background-position:0 -1020px;}
.logo-rank .banggo { background-position:0 -1020px;}

.logo-tab .more a{ color: #464646;}
/*zibu 2010310 e*/
/* 收录数 */
.cont .data-count { padding: 10px; border-bottom: 1px dashed #ccc;}
.cont .data-count strong { color:#666; display: block; margin-bottom: 5px;}
.cont .data-count span { float:left; display: block; margin: 0 3px 0 0; position: relative; width:16px; height: 22px; overflow: hidden; }
.cont .data-count span em { display: block; zoom:1; width:16px; height:440px; top:0; left:0; position: absolute; background: url("../../images/www/index/bg-count.png");  text-indent: -9999px; -webkit-backface-visibility:hidden; }
.cont .data-count div { margin-bottom: 5px;}
.pagination a,.pagination a.active{background-image: url(../../images/www/icon.png);background-repeat: no-repeat;}
.pic-slider {position: relative;overflow: hidden;width: 560px;height: 355px;}
.pic-slider ul {width: 20000em;position: relative;list-style: none;margin: 0;padding: 0;}
.pic-slider li {float: left;}
.pagination {position: absolute;bottom: 10px;right: 10px;}
.pagination a {text-decoration: none;display: block;float:left;width: 12px;height: 12px;background-position:-149px -450px ;margin-right: 15px; text-indent: -99999em}
.pagination a.active {background-position:-99px -449px;}

/*帮贷款 s*/
.dai{border-bottom-color:#00457B}
.dai .floor-tit-more,
.dai .floor-tit-num{background-color:#00457B}
.floor-dai-main .fl{width:318px;height:228px;border:1px solid #93bfe1;}
.floor-dai-main .fl h6{font-size:14px;line-height:18px;font-weight:bold;font-family:\5FAE\8F6F\96C5\9ED1;padding:5px 0 0 10px;}
.floor-dai-main .fl dt,.floor-dai-main .fl dd{padding-top:6px;}
.floor-dai-main .fl dt{float:left;width:76px;padding-right:20px;line-height:44px;color:#999;font-size:14px;text-align:right;font-family:\5FAE\8F6F\96C5\9ED1;}
.floor-dai-main .fl dd{float:right;width:222px;}
/*.floor-dai-main .fl dd a{display:inline-block;width:202px;height:38px;line-height:38px;text-align:center;font-size:18px;color:#fff;letter-spacing:2px;background:#c00;font-family:\5FAE\8F6F\96C5\9ED1;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
}*/
.floor-dai-main .fr{width:630px;height:228px;border:1px solid #D8D8D8;padding:0 10px;overflow:hidden;}
.floor-dai-main .fr table{margin-top:-1px;color:#656565;}
.floor-dai-main .fr td{padding:8px 5px;border-top:1px dashed #EEE;word-wrap: break-word;word-break: break-all;}
.floor-dai-main .fr a{display:inline-block;width:73px;height:22px;border:1px solid #DEDEDE;line-height:22px;text-align:center;background:#f3f3f3;color:#333;}
.c999{color:#999;}
.floor-dai-list{margin-top:15px;}
.floor-dai-item{width:294px;}
.floor-dai-item h4{padding-bottom:10px;margin-bottom:10px;border-bottom:1px dashed #E0E0E0;line-height:20px;font-size:20px;font-family:\5FAE\8F6F\96C5\9ED1;}
.floor-dai-item p{width:294px;height:26px;line-height:26px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.floor-dai-item em{display:inline-block;width:20px;color:#315bbd;text-align:center;}
.floor-dai-item a{color:#666;}
.floor-dai-line{margin:0 24px;width:1px;height:114px;font-size:0;line-height:0;color:rgba(0,0,0,0);overflow:hidden;background:#EAEAEA;}
/*贷款搜索*/
.se{width:200px;height:44px;position:relative;}
.sinp{width:136px;height:14px;float:left;outline:none;border:none 0;font-size:12px;color:#666;padding:14px 0px 14px 11px;}
.selbtn{width:43px;height:42px; background:url(../../images/dai/selbtn.png) no-repeat;float:right;border:none 0;outline:none;cursor:pointer;}
.sele{width:200px;height:42px;border:1px solid #cccccc;background:#FFF;z-index:2;}
/*xiala*/
.xiala{border:1px solid #c9c9cb;position:absolute;top:43px;left:0px;z-index:999;}
.xiala li{display:block;width:200px;height:27px;background:#ffffff;line-height:27px;}
.xiala li a{font-size:12px;color:#666;display:block;padding-left:11px;width:189px;text-decoration:none;}
.xiala li a:hover{background:#F2F2F2;text-decoration:none;}
.se1{z-index:100;}
.se2{z-index:99;}
.se3{z-index:98;}
.ssinp {background:url(../../images/dai/btn_search.png) no-repeat 0 0;display: block;height: 38px;width: 198px;}
.ssinp:hover{background-position:0 -47px;}
/*帮贷款 e*/

/*----@piao s----*/
.mr14{margin-right: 14px}
.piao{border-bottom-color:#00A627}
.piao .floor-tit-more,
.piao .floor-tit-num{background-color:#00A627}
.piao-index .piao-index-side{width: 546px;}
.piao-index .piao-index-main{width: 434px;}
.piao-index .media-mod .pic-thumbnail{display: inline-block;*display: inline;*zoom: 1;position: relative;}
.piao-index .media-mod .pic-thumbnail .piao-arrow{position: absolute;top:0;left:0;padding-left:4px;font-style:normal;font-weight: 700;background:url(../../images/common/piao-arrow.png) no-repeat scroll 0 0 transparent;color:#fff;}
.piao-index .piao-big .pic-thumbnail .piao-arrow{width: 39px;height: 39px;font-size: 18px;}
.piao-index .piao-small .pic-thumbnail .piao-arrow{background-position:0 -39px;width: 27px;height: 27px;}
.piao-index .title-top5{font-size: 16px;color:#000;font-weight: 700;font-family: \5FAE\8F6F\96C5\9ED1;margin-bottom: 16px;}
.piao-index .piao-price{color:#FF0000; font-weight: bold;}
.piao-index .piao-link{color:#00A627;}

.piao-index .piao-big .piao-price{font-weight: 700;font-size:18px; font-family:\5FAE\8F6F\96C5\9ED1; }
.piao-index .piao-big .pic{margin-right:20px;}
.piao-index .piao-big {margin-right:20px;}
.piao-index .piao-big {margin-right:20px;}
.piao-index .piao-big .txt{width: 290px;}
.piao-index .piao-big .title{  font-size:14px;color:#333;  }
.piao-index .piao-big .title strong { font-weight: bold;}
.piao-index .piao-big .title span{color:#FF6600;font-weight:400;font-size:12px;}
.piao-index .piao-big .piao-info-list dt{color:#999;height:36px;line-height: 36px;}
.piao-index .piao-big .piao-info-list dd{margin-top:-36px;margin-left:36px;line-height: 36px;}
.piao-index .piao-big .piao-info-list .piao-des{margin:0;line-height: 20px;color:#999;}
.piao-index .piao-btn{display: inline-block;*display: inline;*zoom: 1;width: 110px;height: 32px;line-height:32px;text-align:center;background-color: #00A627;color:#fff;font-weight:700;}

.piao-index .piao-small .pic{margin-right:10px;}
.piao-index .piao-small .title{color:#333;}
.piao-index .piao-small .title strong{font-weight: 400;}
.piao-index .piao-small .piao-info-list dt{color:#999;height:24px;line-height:24px;}
.piao-index .piao-small .piao-info-list dd{margin-top:-24px;margin-left:36px;height:24px;line-height:24px;}

.piao-hot-mod{padding:14px 18px;border:1px solid #ABDEB7;}
.piao-hot-mod .piao-hot-more{color:#666;}
.piao-hot-list a{color:#000;}
.piao-hot-list li{margin-top: 18px;}
.piao-hot-list .num{display: inline-block;*display: inline;*zoom: 1;width: 26px;color:#999;font-weight: 700;}
.piao-hot-list .piao-hot-title{width: 290px;display: inline-block;*display: inline;*zoom: 1;}
.piao-hot-list .media-mod{display:none;vertical-align: middle;}
.piao-hot-list .piao-small{margin-right: 32px;}
.piao-hot-list .piao-small .txt{width: 158px;}
.piao-hot-list .piao-hot-hover .piao-hot-title{display: none;}
.piao-hot-list .piao-hot-hover .media-mod{display: inline-block;*display: inline;*zoom: 1;}
.piao-hot-mod h5 strong { font-weight: bold; font-size:16px; font-family:\5FAE\8F6F\96C5\9ED1; }

/*b 购物助手新增样式 s*/
.clear-gouwu .fl{ margin:19px 0 0 0}
.clear-gouwu .list-h{ display:none}
.clear-gouwu .b5t-plugin{ position:relative; }
.clear-gouwu .b5t-plugin a{ height:120px; width:120px; position:absolute; left:50%; top:50%; margin:-60px 0 0 -60px; background: url(../../images/www/b5t-datu-anniu.png) no-repeat -92px -88px;}
.b5t-funct-introduc{ width:517px; height:18px;  background: url(../../images/www/b5t-datu-anniu.png) no-repeat left -222px;}
.b5t-info dl dd{ _margin:0 0 6px 0;font-size:14px; color:#666; line-height:28px; font-weight:bold; font-family: "microsoft yahei";}
.b5t-info dl dt{ display:none}
.b5t-info .info-minpic{ width:22px; height:22px; margin:0 10px 0 0; display:inline-block; vertical-align:middle; background: url(../../images/www/b5t-datu-anniu.png) no-repeat;}
.b5t-info .minpic1{ background-position:left -96px;}
.b5t-info .minpic2{ background-position:left -123px;}
.b5t-info .minpic3{ background-position:left -152px;}
.b5t-info .minpic4{ background-position:left -180px;}




/*----@piao e----*/








