/* 顶部国旗 */
.head .wp,.header-logo.home,.header .top .panel,.header .top,.header-logo.home .wrap { position: relative;}
.head .country-box,.header-logo .country-box { position: absolute; left:50%; margin-left: 300px;  width:182px; height: 32px; overflow: hidden; top:40px; background: url("../../images/common/header-country.png"); _background: url("../../images/common/header-country8.png");}
.head .country-box a,.header-logo .country-box a {display:inline-block;  zoom:1;   *display:inline; width:42px;  height: 32px; position: absolute; text-indent: -9999px; }
.head .country-box a.usa,.header-logo .country-box a.usa { left:70px; cursor:default;}
.head .country-box a.kor,.header-logo .country-box a.kor { left:140px; }

.tip-korea-head { display: none; width: 306px; height: 241px; position: absolute; top:90px; left:50%; margin-left:207px;  z-index: 100; }
.tip-korea-head-content { width: 306px; height: 241px; zoom:1; background: url("../../images/common/tip-korea-head.png") no-repeat;  _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/tip-korea-head.png", sizingMethod="crop"); z-index: 100; }
.tip-korea-head .close { position:absolute;  width:20px; height: 20px; top:25px; right:13px; display: block;  }
.tip-korea-head .lnk-go-korea { position: absolute; width:154px; height: 42px;  right:29px; bottom:61px; }

.header.header-www .country-box{ top:0; }
.tip-korea-head.www  { top:70px;}
.header-logo.home .wrap .country-box { top:25px;}
.header-logo.home .logo-side,.header.home .panel-nav { display: none; }

/*顶部搜索IE下错位*/
.search-tools span,
.header-search-content,
.header-rearch-hotkey{display:inline;float:left;}
.header-rearch-hotkey{margin:0;padding:10px 0 0 20px;line-height:14px;}

/* 频道页顶部搜索 */
.header-content{ height: 94px;}
.header-main{ width: 980px; margin: 0 auto; position: relative; z-index: 40;}
.header-nav{ height: 47px; line-height: 47px;}
.header-nav ul li{ float: left; border-left: 1px solid;}
.header-nav ul li a{ font-size: 14px; font-family:Microsoft YaHei,"微软雅黑"; display: block; text-align: center; width: 92px;}
.header-nav ul li.b5m-home{ border: 0; width: 196px;}
.header-nav ul li.b5m-home a{ padding-left: 26px; width: 170px; background: url(../../images/common/header-nav.png) no-repeat -113px 12px;}

.header-search{ height: 33px; padding: 7px 0;}
.header-search span,
.header-search label{ display: inline-block;}
.header-search-content label{ font-size: 0;line-height: 0;overflow: hidden; vertical-align: top; width: 180px; height: 22px; background: url(../../images/common/header-nav.png) no-repeat -2px -48px; margin: 5px 17px 0 53px;}
.header-search-content{ font-size: 0;}
.header-search-key{ width: 410px; height: 16px; line-height:16px;border: 0; color: #999; font-size: 12px; vertical-align: top; padding:8px 10px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    *margin-top: -1px;
    _margin-top: 0;
    border: 1px #c8c8c8 solid;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);}
.focus{-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1);}
.header-rearch-submit{ height: 34px; border: 0; width: 64px; font-size: 14px; font-weight: bold; color: #fff; cursor: pointer; vertical-align: top\9; _margin-top: 1px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;border-bottom-right-radius: 3px;}
.header-rearch-hotkey a{ margin:0 4px;}
.korea .header-search{ background: #000;}

/* head c*/
.head{height:130px;padding-top: 18px; position: relative;}
.head .nav-list{position: relative;float:left;margin-left:1px;}
.head .nav-list li{float:left;position:relative;width:77px;margin-left:-1px;text-align:center;background:url(../../images/common/head_c.png) no-repeat right -67px scroll;}
.head .nav-list .last-nav{background:none;}
.head .nav-list a:hover{color:#ff7800;}
.head .nav-list .cur{background:#ff7800;}
.head .nav-list .cur a{color:#fff;}
/*.nav-list li:hover{background-color: red}*/
.head .nav-list a{display:block;height:46px;line-height:46px;font-size:16px;color:#666;font-family:\5FAE\8F6F\96C5\9ED1;}
.nav-list .new,
.nav-list .hot{position: absolute;font-size:0;line-height:0;overflow:hidden;top:-4px;right:4px;width:22px;height:14px;background:url(../../images/common/head_c.png?v1) no-repeat 0 0 scroll;}
.nav-list .hot{background-position:-128px -150px;}
.nav-list .new{background-position:-128px -200px;}

.nav-more{position:relative; z-index:10;font-family:\5FAE\8F6F\96C5\9ED1;border-left:1px solid transparent;border-right:1px solid transparent;_border:1px solid red;_filter:Chroma(color:'red');}
.nav-more-hover,.nav-more:hover{border-left:1px solid #FF7800;border-right:1px solid #FF7800;}
.nav-more-hover .nav-more-txt,
.nav-more:hover .nav-more-txt{background-color:#fff;}
.nav-more-hover .nav-more-list,.nav-more:hover .nav-more-list{display: block;}
.nav-more .nav-more-txt{position:relative;z-index:10;display:block;width:86px;height:46px;line-height:46px;text-indent:1em;color:#666;font-size:16px;cursor:default;}
.nav-more-list{display:none;overflow:hidden;position:absolute;top:45px;right:-1px;width:226px;border:1px solid #FF7800;background-color: #fff;}
.nav-more-list li{border-top:1px solid #FFEDDF;margin-top: -1px;float:left;width:50%;text-indent:4em;}
.nav-more-list a{display:block;height:39px;line-height:39px;color:#999;font-size:14px;}
.nav-more-list a:hover{color:#FF7800;}

.head .nav-icon{background-image:url(../../images/common/head_c.png);background-repeat: no-repeat;background-attachment: scroll;}
.head .icon-more{background-position:60px -83px;}
.head .icon-b5g{background-position:19px -140px;}
.head .icon-b5g:hover{background-position:19px -190px;}
.head .icon-hgg{background-position:19px -241px;}
.head .icon-hgg:hover{background-position:19px -291px;}

.head .icon-dis{background-position:19px -341px;}
.head .icon-dis:hover{background-position:19px -391px;}

.head .icon-war{background-position:19px -441px;}
.head .icon-war:hover{background-position:19px -491px;}

.nav-bar{height:46px;border-top:2px solid #FF7800;margin-top:10px;background:url(../../images/common/head_c_rx.png) repeat-x scroll 0 0 transparent;
    -webkit-box-shadow: 0 2px 20px #F2F2F2;
    -moz-box-shadow: 0 2px 20px #F2F2F2;
    box-shadow: 0 2px 20px #F2F2F2;

}
.search-input{position:relative;z-index:10;float:left;_display:inline;margin-left:50px;margin-top:17px;}
.search-input .search-content{display: inline-block;*display: inline;*zoom: 1;float:none;vertical-align: top;font-size: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.search-input .header-rearch-hotkey{float:none;display: block;padding:0 0 0 0;margin-top: 10px;}
.search-input .header-search-key{border:2px solid #D7D7D7;border-right:none;height:21px;line-height:21px;padding-left:30px;width:389px;background:url(../../images/common/head_c.png) no-repeat scroll -92px 12px transparent;
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
}
.search-input .hot-keys{height: 34px;line-height:34px;float:left;margin-left: 10px;font-size: 12px;color:#fff6eb;font-family:"\\5B8B\\4F53",SimSun;}
.search-input dt,
.search-input dd{float:left;}
.search-input .hot-keys a{color:#fff6eb;margin-right:12px;}
.search-input .hot-keys a:hover{text-decoration: underline;}
/*header s*/

/* search bar s*/
.header-search-content label{ display: none;}
.header-rearch-submit{display:inline-block;height:41px;width:67px;overflow:hidden;font-size:0;line-height: 0;background:url(../../images/common/head_c.png) scroll 0 0 transparent;*margin-left:-1px;}
.header-rearch-submit:hover{color:#673700;}
.header-rearch-hotkey,
.header-rearch-hotkey a{ color: #999;}
.header-rearch-hotkey a:hover{color:#eb7e00;}
.focusin{ color: #000;}
/* search bar e*/
/* head c*/





/* B2C商城导航 */
.b2c-links{ width: 980px; overflow: hidden; *margin-bottom: 20px;}
.b2c-links ul{ overflow: hidden; width:115%;}
.b2c-links li{ color: #999; float: left; overflow: hidden;margin: 0 19.3px 20px 0; border: 1px solid #e0e0e0; width: 145px; height: 145px;}
.b2c-links li a{  color: #999;}
.b2c-links li span{ display: block; text-align: center; color: #333;}
.b2c-links li img.b2c-logo{display: block; margin: 38px auto 3px auto; height: 47px;}
.b2c-links li strong{display: block; padding: 5px 10px;}
.b2c-links li strong a{ font-weight: bold; color: #333;}
.b2c-links li p{ margin: 0; padding: 3px 10px;}
.b2c-links li p a{ width: 47%; display: inline-block; line-height: 21px;}
.b2c-links li a:hover{color: #eb7e00;}

/* page */
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center;}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:38px;line-height:38px;margin-top:0;font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:'宋体';}
.page a.first,.page a.last{}
.page a:hover{color:#fff;background-color:#ff9c0f;background-image:none;border-color:#eb8226;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#ff9c0f;font-family:arial;border-radius:3px;cursor:default;width:34px;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;margin-right:0;text-align:right;font-family:'宋体'}
.page .page-input{font-family:'宋体';width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #e98900;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#ff9c0f;border:1px solid #e98900;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}

/* footer */
.footer{background: #f7f7f7; border-top: 1px solid #e6e6e6; text-align: center; padding: 10px 0; line-height: 25px;}
.footer-links a{margin: 0 10px; color: #666; text-decoration: none;}
.footer-links a:hover{ color: #eb7e00; text-decoration: underline;}
.footer-copyright{color: #999;}
.footer img{ vertical-align: bottom;margin: 0 3px;}

.gotop{width:48px;height:47px;left:50%;margin-left:500px;outline:none;display:none;position:fixed;_position:absolute;bottom:130px;right:0;opacity:0;background:url(../../images/common/gotop_8.png) no-repeat top left;z-index:100; -webkit-transition:opacity,bottom .3s ease; -moz-transition:all .3s ease;  -o-transition:all .3s ease; -ms-transition:all .3s ease; transition:all .3s ease;}
.gotop:hover{background-position:bottom left}
.gotop-show{opacity:1;bottom:80px;display:block;}

/* 友情链接 */
.friend-links{ background: #fafafa; border: 1px #e0e0e0 solid; padding: 12px; line-height: 23px; margin-bottom: 20px;}
.friend-links strong{ font-weight: bold; color: #666;}
.friend-links a{ margin: 0 10px; color: #666;}
.friend-links a:hover{color: #eb7e00;}

/*活动，全网寻宝 */
#huodong-quanwangXb,.huodong-quanwangXb-bg{width:600px;height:300px;}
#huodong-quanwangXb{position:absolute;left:50%;z-index:99;margin-left:-125px;height:0;overflow:hidden;}
.huodong-quanwangXb-bg{position:absolute;left:0;bottom:0;z-index:1;background:url(../../images/huodong/www/active_indexxubao.png) no-repeat; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/huodong/www/active_indexxubao.png");}
#huodong-quanwangXb a{position:absolute;top:171px;left:146px;z-index:2;width:142px;height:47px;}
#huodong-quanwangXb s{position:absolute;top:40px;right:50px;z-index:2;width:40px;height:40px;cursor:pointer}
.top-hdbanner {background: none repeat scroll 0 0 #EE540A;text-align: center; height: 60px;}


/* 左侧导航栏&意见反馈栏 */
.left-toolbar {top:320px;_top:360px; display: none; position:fixed; _position: absolute;  margin-left:-550px; left:50%; z-index: 999;}
.left-toolbar ul { margin-bottom: -4px; }
.left-toolbar ul a {  display: block; width:41px; height:40px; line-height: 40px; padding-left:7px;color:#fff; background: #ff8808; border-bottom: 1px solid #f27d00; text-decoration: none; }
.left-toolbar ul a:hover,.left-toolbar ul .cur { border-left:3px solid #d87000; padding-left: 4px; color:#fff001;}
.left-toolbar .feedback-icon { position: relative; background: url("../../images/common/feedback.png") no-repeat; display: block; text-indent: -9999px; width:48px; height:41px; cursor:pointer;}
.left-toolbar .feedback-icon .fd-tip { display: none; top:-10px; left:37px; position: absolute; width: 84px; height: 26px; background:url("../../images/common/feedback.png") no-repeat 0px -240px;}
.left-feedback-box { top:303px; _top:343px; display: none; width:300px; height: 300px; overflow: hidden; position: fixed;_position: absolute; background: #fff; left:50%; margin-left: -502px; z-index:998; }
.left-feedback-box .fb-title { background: url("../../images/common/feedback.png") no-repeat 0px -42px; height:37px;  position: relative;}
.left-feedback-box .fb-title a { position:absolute; width:16px; height: 16px; display: block; text-indent: -9999px; right:7px; top:7px;  }
.left-feedback-box .fb-title span { position: absolute; left:30px; top:7px; font-size:14px; font-weight: bold;  color:#fff;}
.left-feedback-box .fb-content { width:259px; height:252px; padding:10px 20px 0; border:1px solid #ccc; border-top:none; border-left:none; position: relative;}
.left-feedback-box .fb-content span { margin-bottom: 8px; background: url("../../images/common/feedback.png") no-repeat 0px -90px; padding-left:20px; font-weight: bold; color:#eb7e00; display: block; height:20px; line-height:20px;}
.left-feedback-box .fb-content span em { color:#f00; display: none;}
.left-feedback-box .fb-content textarea { width:98%; margin-bottom:8px; height: 100px; line-height: 20px; border:1px solid #ddd; resize: none; overflow: auto;}
.left-feedback-box .fb-content textarea:hover,.left-feedback-box .fb-content input:hover {border-color:#868686; }
.left-feedback-box .fb-content input { width:98%; height: 24px; border:1px solid #ddd; margin-bottom: 10px;}
.left-feedback-box .fb-content a { position: absolute; bottom:10px; left:95px; display: block; margin:auto; width: 100px; height: 36px; line-height: 36px; text-align: center; font-size:14px; font-weight: bold; color:#fff; background: #eb7e00; border:none; cursor:pointer;}
.left-feedback-box .fb-content a:hover { background: #ffaa47;}
.left-feedback-box .fb-content a.dis { background: #ccc; cursor:default; }
.left-feedback-box .fb-content .ico-text.dis { background-position:0px -120px; color:#8b8b8b; }
.left-feedback-box .fb-content .ico-phone { background-position:0px -150px; }
.left-feedback-box .fb-content .ico-phone.dis { background-position: 0px -180px; color:#8b8b8b;}
.left-feedback-box .fb-content .ico-success { background-position: 0px -210px;}
.left-feedback-box .fb-content p { margin-bottom: 10px; color:#999; padding-left: 20px; line-height: 20px; overflow: hidden; max-height: 80px;  }
.left-feedback-box .panel-success { display: none;}

.left-toolbar.tuan li a { background: #5656d2; border-bottom-color:#4a49af;}
.left-toolbar.tuan li a:hover,.left-toolbar.tuan li a.cur { border-left-color:#1e1e8e; color:#9ac4ff;}
.left-toolbar.tuan .feedback-icon { background-position:-48px 0;}

.left-toolbar.tejia li a { background: #8db700; border-bottom-color:#809e18;}
.left-toolbar.tejia li a:hover,.left-toolbar.tejia li a.cur { border-left-color:#5a7600; color:#dbebad;}
.left-toolbar.tejia .feedback-icon { background-position:-96px 0;}

.left-toolbar.korea li a { background: #da0010; border-bottom-color:#be1822;}
.left-toolbar.korea li a:hover,.left-toolbar.korea li a.cur { border-left-color:#830b14; color:#e5a8ad;}
.left-toolbar.korea .feedback-icon { background-position:-144px 0;}

.left-toolbar.she li a { background: #b058c9; border-bottom-color:#9941b2;}
.left-toolbar.she li a:hover,.left-toolbar.she li a.cur { border-left-color:#7a308f; color:#dba1eb;}
.left-toolbar.she .feedback-icon { background-position:-240px 0;}

.left-toolbar.you li a { background: #4485df; border-bottom-color:#3f76c6;}
.left-toolbar.you li a:hover,.left-toolbar.you li a.cur { border-left-color:#2c599a; color:#9dc8ff;}
.left-toolbar.you .feedback-icon { background-position:-288px 0;}

.left-toolbar.piao li a { background: #00a628; border-bottom-color:#178e34;}
.left-toolbar.piao li a:hover,.left-toolbar.piao li a.cur { border-left-color:#0e6924; color:#8cda9e;}
.left-toolbar.piao .feedback-icon { background-position:-384px 0;}

/* 首页楼层顶 */
.floor-tit{ font-family:Microsoft YaHei,"微软雅黑"; height:36px; padding: 10px 0 0 0; border-bottom: 3px solid;}
.floor-tit-num{ float: left; width: 49px; height: 49px; display: block; text-align: center; line-height: 49px; color: #fff; font-weight: bolder;font-size: 21px;margin-top: -10px; background: url(../../images/common/floor-tit.png) no-repeat 0 0;_background-image: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/floor-tit.png", sizingMethod="crop"); _position: relative; _bottom: -3px;}
.floor-tit h3{ font-size: 20px; color: #1a1a1a; float: left; padding-left: 10px;}
.floor-tit h3 a{ color: #1a1a1a;}
.floor-tit h3 span{ font-size: 12px; color: #666;}
.floor-tit-desc{ padding-left: 10px;}
.floor-tit-links{ float: right; color: #ccc; padding: 7px 0 0 0;}
.floor-tit-links a{	font-size: 14px; color: #1a1a1a; padding: 0 14px;}
.floor-tit-more{ color: #fff; font-weight: bold; font-size: 12px; float: right; display: block; height: 26px; width: 41px;margin-top: -10px;padding: 23px 0 0 19px; background: url(../../images/common/floor-tit.png) no-repeat -49px 0;_background-image: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/floor-tit-ie6.png", sizingMethod="crop");_position: relative; _bottom: -3px;}
.floor-tit-more a{ color: #fff;}

/* 首页楼层频道 主结构样式 */
.floor-search{ width: 512px; height: 62px;}
.floor-search-tip{ float: right; width: 146px; height: 44px; padding: 9px 10px; background: #eee url(../../images/www/floor-search-8.png) no-repeat -289px -234px; color: #999; font-size: 12px; line-height: 21px; text-indent: 29px;}
.floor-search-input{font-size: 0; width: 319px; height: 39px; padding: 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.floor-search-input label{ display: none;}
.floor-search-key{ float: left; width: 219px; height: 15px; border:0; color: #999; font-size: 12px;padding: 12px 10px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;border-bottom-left-radius: 3px; *margin-top: 0px; _margin-top: 0px; _float:none;}
.floor-search-submit{float: right; height: 39px; border: 0; vertical-align: top; width: 75px; font-size: 14px; font-weight: bold; background: none; color: #fff; cursor: pointer; _float:none;}
.floor-search-hot-key{ color: #999; padding: 5px 0; line-height: 22px; padding-left: 5px;}
.floor-search-hot-key a{ color: #333; margin: 0 5px;}

.floor-news{ width: 512px; margin-top: 5px;}
.floor-news-bar{ font-size: 16px; color: #000; font-weight: bold; font-family:Microsoft YaHei,"微软雅黑"; line-height: 50px;}
.floor-news-more{ float: right; color: #999; line-height: 50px;}
.floor-news-img{ float: left; margin: 0 17px 17px 0;}
.floor-news-img img{ vertical-align: bottom;}
.floor-news-desc{ display: block; color: #fff; font-size: 16px; font-family:Microsoft YaHei,"微软雅黑"; text-align: center; height: 32px; line-height: 32px; width: 186px;}
.floor-news-list li{margin-bottom: 15px;}
.floor-news-style li span a{font-size: 14px; color: #333; font-weight: bold;}
.floor-news-style li p{ color: #999; margin: 0; padding: 5px; line-height: 23px;}
.floor-news-style li p a{ color: #999;}
.floor-news-small{width: 512px; height: 94px; overflow: hidden;}
.floor-news-small li{ float: left; width: 243px;}
.floor-news-small li img{ float: left; margin:0 12px 0 0;}
.floor-news-with{ margin-right: 25px;}


/* slider in floor */
.slider{border:1px solid #6bb5a7;width:430px;position:relative;overflow:hidden}
.slider h3{height:42px;font:bold 16px/42px 'Microsoft YaHei';color:black;margin:0 30px}
.slider-nav{height:27px;margin:0 0 0 30px;position:relative;z-index:2}
.slider-nav-li,
.slider-nav .more{float:left;margin-right:1px;_display:inline;height:20px;font-size:0;position:relative}
.slider-nav-li a,
.slider-nav .more a{padding:0 10px;font:normal 12px/20px 'SimSun';text-align:center;float:left;color:#6bb5a7;clear:both;height:20px;overflow:hidden;_line-height:22px}
.slider-nav li.cur a,
.slider-nav-li a:hover{color:white;text-decoration:none;border-radius:3px}
.slider-nav .more a:hover{text-decoration:underline}

.slider-nav li.cur a:hover,
.slider-nav li.cur a{font-weight:bold;}
.slider-nav-li a:hover em,
.slider-nav li.cur a em{display:block;;width:0;height:0;font-size:0;line-height:0; border-style:solid dashed dashed;border-width:4px;position:absolute;margin-left:-2px;left:50%;top:20px}
.slider-nav-li a em{display:none}
.slider-nav-fix a{padding:0;width:100%;}
.slider-cont{position:relative;margin-top:-10px;padding-top:10px;clear:both;background:url(../../images/common/slider.png) repeat-y top center;overflow:hidden}
.slider-item{display:none;height:334px;overflow:hidden;width:370px;padding:0px 30px 0;margin:0 auto;font-size:12px;position:relative;}
.slider-item-cur{display:block;}
.slider-item ul{width:388px;overflow:hidden}
.slider-item li{width:176px;float:left;margin:3px 18px 0 0;_display:inline;min-height:145px;_height:145px}
.slider-item .pic{display:block;width:176px;height:115px;position:relative;overflow:hidden;text-align:center;/*line-height:115px;_font-size: 96px;_font-family:Arial;*/}
.slider-item .pic img{/*max-width:176px;max-height:115px;margin:0 auto;vertical-align:middle;_width:176px*/}
.slider-item .pic img.midd{width:auto;height:115px;margin:0 auto}
.slider-item .pic:hover .bg{opacity:1}
.slider-item .price{width:100%;position:absolute;height:20px;left:0;bottom:0;cursor:pointer;font-size:12px}
.slider-item .bg{width:100%;height:100%;background-color:black;opacity:0.7;display:block}
.slider-item .num{padding:0 10px;float:left;position:absolute;left:0;top:0;line-height:20px;color:#ff7a17;font-weight:bold;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-family:Tahoma;font-size:14px;}
.slider-item .num em{font-size:11px}
.slider-item .place{cursor:pointer;float:right;color:white;position:absolute;right:10px;top:0;font-family:'Microsoft YaHei'}
.slider-item .tit{text-align:left;max-width:100%;_width:100%;float:left;margin-top:6px;height:16px;line-height:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#444}
.slider-item .tit:hover{color:black;text-decoration:underline}
.slider-item .cutprice{display:block;color:#e91a1a;font:bold 16px/100% 'Microsoft YaHei';clear:both;padding-top:7px;height:20px}
.slider-item .cutprice em{color:#999;font-size:12px}
.slider-item .platform{height:22px;display:inline-block;*zoom:1;clear:both;line-height:20px;padding-top:5px;color:#666}
.slider-item .platform:hover{color:black;text-decoration:underline}
.slider-page{text-align:right;font-size:0px;padding-right:30px;height:20px;padding-bottom:5px;padding-top:7px}
.slider-page a{margin:0 10px 0 0;font-size:12px;;width:15px;height:15px;text-align:center;line-height:15px;color:#a8a8a8;display:inline-block;*zoom:1;font-family:arial;margin-top:2px;vertical-align:text-bottom;border-radius:2px}
.slider-page a.cur,.slider-page a:hover{background-color:#6bb5a7;color:white;text-decoration:none}
.slider-page a.more{width:auto;color:#222;font-family:'SimSun';margin:0 0 0 10px;border-radius:0;}
.slider .slider-page a.more:hover{background:none;color:#000;text-decoration:underline;}
.slider-arr{width:30px;font-size:50px;position:absolute;top:50%;margin-top:-20px;text-align:center;font-family:'SimSun';line-height:40px;color:#d4d4d4;text-shadow:2px 2px 2px white;outline:none;
    -webkit-transition:color .3s ease;
    -moz-transition:color .3s ease;
    -o-transition:color .3s ease;
    -ms-transition:color .3s ease;
    transition:color .3s ease;}
.slider-arr:hover{color:#333;text-decoration:none}
.slider-arr:active{margin-top:-19px}
.slider-prev{left:0;text-align:left}
.slider-next{right:0;text-align:right}
.slider-ad{height:43px;background:url(../../images/common/slider-line.png) repeat-x 0 5px;margin:0 30px;padding-top:12px;}
.slider-ad a{margin-right:10px}
/*自定义
.slider-you{border-color:#6bb5a7;color:#6bb5a7}
.slider-you .slider-nav-li a,.slider-you .more a{color:#6bb5a7}
.slider-you li.cur a,
.slider-you .slider-nav-li a:hover{background:#6bb5a7;color:white}
.slider-you .slider-nav li em{border-color:#6bb5a7 transparent transparent;}
.slider-you .slider-page a.cur, .slider-you .slider-page a:hover{background-color:#6bb5a7}
.slider-you .slider-item{height:334px}如果是普通样式    是不需要这行的
*/
/*等级 s*/
.level-bar{position:relative;width:98px;margin:10px auto 0;padding:0 45px;}
.level-line,
.level-in{position:relative;width:92px;height:6px;background-image: url(../../images/www/level-line.png);background-repeat: no-repeat;}
.level-in{background-position:0 -16px;}
.level-num{position:absolute;top:-5px;display:block;width:25px;height:29px;}
.leve-left{left:0;}
.leve-right{right:0;}
.level0{background-position:0 -32px;}
.level1{background-position:0 -17px}
.level2{background-position:-34px -17px}
.level3{background-position:-68px -17px}
.level4{background-position:-102px -17px}
.level5{background-position:-136px -17px}
.level6{background-position:-170px -17px}
.level-point{position:absolute;right:-12px;top:-3px;width:12px;height:12px;background:url(../../images/www/level-line.png) no-repeat 0 -32px scroll;}
/*等级 e*/
.siteintro{width:182px;height:121px;border:1px solid #e4e4e4;padding:14px 0 0 16px;margin-top:15px;background:url(../../images/www/why_b5m.jpg) no-repeat scroll right bottom #fff;}
.siteintro strong{display:block;height:17px;font:bold 14px/17px \5FAE\8F6F\96C5\9ED1;color:#333;margin-bottom:9px}
.siteintro span{height:22px;line-height:22px;font-size:12px;color:#666;padding-left:18px;display:block;background:url(../../images/www/icon.png) no-repeat scroll 0 -692px transparent;}
.b5tad{display:block;margin:15px 0 0}
.b5tad img{display:block}
/*图片滚动 s*/
/*.pic-slider{width: 540px;height: 230px;overflow: hidden;*position:relative;}
.pic-slider ul{position: relative;}
.pic-slider .nums{float:right;margin:-20px 10px 0 0;position:relative;}
.pic-slider .nums a{float:left;margin-left:6px;font-size:0;line-height:0;overflow:hidden;height:10px;width:10px;cursor: pointer;background:url(../../images/www/icon.png) no-repeat scroll -150px -450px;_background-image:url(../../images/www/icon8.png);}
.pic-slider .nums a:hover,
.pic-slider .nums .cur{background-position:-100px -450px;}*/
/*滚动图片模块样式*/
.bt-loading { background: url('../../images/common/ajax-loader.gif') center center no-repeat; }
.bt-slider {position: relative;width: 540px;*overflow: hidden;*height:230px; }
.bt-slider .bt-list { overflow: hidden;display: block; margin: 0px; padding: 0px; }
.bt-slider .bt-track { position: relative; left: 0px; top: 0px; }
.bt-slider .bt-list .slide { display: block; list-style-type: none; float: left; }
.bt-slider .bt-list .slide img { display: block; opacity: 0; }
.bt-slider .bt-prev { position: absolute; background: url('../../images/common/icon-marquee.png') -40px -40px no-repeat; display: block; height: 20px; width: 20px; text-indent: -9999px; top: 50%; margin-top: -27px; left: 10px; padding: 10px;left: -10px; opacity: 0; transition: opacity .25s, left .25s; -webkit-transition: opacity .25s, left .25s;}
.bt-slider .bt-next { position: absolute; background: url('../../images/common/icon-marquee.png') -90px -40px no-repeat; display: block; height: 20px; width: 20px; text-indent: -9999px; top: 50%; margin-top: -27px; right: 10px; padding: 10px; right: -10px; opacity: 0; transition: opacity .25s, right .25s; -webkit-transition: opacity .25s, right .25s; }
.bt-slider .bt-next.disabled { background-position: -90px -90px }
.bt-slider .bt-prev.disabled { background-position: -40px -90px }
.bt-dots { position: absolute; bottom: 25px;right:-450px;*zoom:1;list-style: none; display: block; text-align: center; padding: 0px;}
.bt-dots li { position: relative; display: inline-block; background: url('../../images/common/icon-marquee.png') -198px -89px no-repeat; height: 10px; width: 10px; text-indent: -9999px; margin: 0px 5px; padding: 0px; }
.bt-dots li.active { background-position: -148px -89px }
.bt-dots li a { display: block; height: 10px; width: 10px; }
.bt-slider:hover .bt-prev { transition: opacity .25s, left .25s; -webkit-transition: opacity .25s, left .25s; opacity: 1; left: 10px;}
.bt-slider:hover .bt-next { transition: opacity .25s, right .25s; -webkit-transition: opacity .25s, right .25s; opacity: 1; right: 10px; }
.bt-list {}
.pic-slider li img {position: relative;width: 100%;z-index: 8888;}
.content {width: 800px;margin: auto;}
/*图片滚动 e*/

/*----banner s----*/
.row-index .col{float:left; _display:inline;}
.row-index .col-space{width: 200px;height:430px;}
.row-index .col-center{width: 540px;margin:23px 20px 0 20px;}
.row-index .col-side{width: 200px;margin-top: 20px;position: relative;}
.checkin{height:120px;width:188px; overflow: hidden; background-color:#fff;border:1px solid #ededed;position:relative;}
.avater{display:block;width:52px;height:52px;display:block;position:absolute;left:9px;top:8px;background-position:0 -66px}
.noavater{background-position:0 -132px}
.avater-img{background:none}
.avater-img img{display:block;width:52px;height:52px;}
.avater-border{position:absolute;left:0;top:0}
.checkin .username{font:bold 12px/14px \5FAE\8F6F\96C5\9ED1;color:#333;display:inline-block;*zoom:1;margin:10px 0 0 84px;max-width:110px;_width:110px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:14px;}
.checkin .username:hover{color:#eb7e00;text-decoration: underline;}
.checkin .begin{line-height:18px;color:#999;font-size:12px;margin:0 0 0 84px}
.checkin-btn{margin:9px auto;display:block;font:normal 14px/27px \5FAE\8F6F\96C5\9ED1;_line-height:29px;color:#fff;text-indent:30px;text-align:left;background-position:-43px -200px;background:url(../../images/www/icon.png) no-repeat scroll 5px -753px #f48300;_background-image:url(../../images/www/icon8.png);width:126px;height:27px;border-radius:2px;overflow:hidden;
    -webkit-transition: background-position .1s ease-in;
    -moz-transition: background-position .1s ease-in;
    -ms-transition: background-position .1s ease-in;
    -o-transition: background-position .1s ease-in;
    transition: background-position .1s ease-in;
}
.checkin-btn:hover{background-position:5px -750px; color: #fff;}
.checkin-btn-dis{width:124px;height:25px;text-align:center;text-indent:0;line-height:25px;;_line-height:27px;color:#666;background:white;border:1px solid #e8e8e8;cursor:default}
.checkin-btn-dis:hover{ color: #666;}
/*----banner s----*/


/*----mobile-app s----*/
.mobile-app{overflow: hidden;zoom:1;}
.mobile-app .hd{height: 14px;line-height: 16px;padding:15px 74px 10px 0;font-size: 14px;background:url(../../images/www/mobile-app.png) no-repeat scroll 0 bottom;}
.mobile-app .hd h2{float:left;color:#333;font-family:\5FAE\8F6F\96C5\9ED1;}
.mobile-app .hd .more{float:right;color:#666;font-size:12px;}
.mobile-app .list-h{border-top:1px solid #E4E4E4;margin-right:-14px;overflow:visible;}
.mobile-app .list-h li{width:127px;height:142px;padding-right:11px;background:url(../../images/www/icon.png) no-repeat right 0;margin-top:-1px;_background-image:url(../../images/www/icon8.png);}
.mobile-app .list-h a{display:block;padding-top: 100px;font-size:12px;color:#666;text-align:center;background-image:url(../../images/www/icon.png);_background-image:url(../../images/www/icon8.png);background-repeat:no-repeat;line-height:14px;height:30px;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    -ms-transition: all ease-in .2s;
    -o-transition: all ease-in .2s;
    transition: all ease-in .2s;
}
.mobile-app .list-h a:hover{color:#eb7e00;}
.mobile-app .list-h .app-b5m{background-position: -69px -31px;}
.mobile-app .list-h .app-b5m:hover{background-position: -69px -40px;}
.mobile-app .list-h .app-you{background-position: -219px -31px;}
.mobile-app .list-h .app-you:hover{background-position: -219px -40px;}
.mobile-app .list-h .app-tao{background-position: -69px -231px;}
.mobile-app .list-h .app-tao:hover{background-position: -69px -240px;}
.mobile-app .list-h .app-gou{background-position: -219px -231px;}
.mobile-app .list-h .app-gou:hover{background-position: -219px -240px;}
/*----mobile-app s----*/

/*----floor s----*/
.floor-tit-links a:hover,
.floor-news-more:hover,
.floor-news-style li span a:hover,
.slider-item .tit:hover,
.slider .slider-page a.more:hover,
.b5t-info dl a:hover,
.slider-item .platform:hover,
.b2c-links li p a:hover,
.mobile-app .hd .more:hover,
.floor-search-hot-key a:hover,
.korea-news a:hover{color:#eb7e00;text-decoration: none;}

/*帮5游 s*/
.floor-content{margin-bottom:20px;}
.you{border-bottom-color:#4385e0}
.you .floor-tit-more,
.you .floor-tit-num{background-color:#4385e0}
.floor-you .floor-search-input{background: #4385e0;}
.slider-you .slider-nav-li a,.slider-you .more a{color:#333}
.slider-you li.cur a,
.slider-you .slider-nav-li a:hover{background:#4385e0;color:white}
.slider-you .slider-nav li em{border-color:#4385e0 transparent transparent;}
.slider-you .slider-page a.cur, .slider-you .slider-page a:hover{background-color:#4385e0}
.slider-you{border-color: #4385e0;}
/*帮5游 e*/

/*帮5团 s*/
.tuan{border-bottom-color:#5656FF}
.tuan .floor-tit-more,
.tuan .floor-tit-num{background-color:#5656FF}
.tuan-index-side{width:320px;}
.tuan-index .floor-search-key{width:219px}
.tuan-index .floor-search-input{background-color:#5656FF}
.tuan-index .floor-search{width:320px;}
.tuan-index .floor-search-input{width:auto}
.tuan-brand{border:1px solid #c2c2ff;zoom:1}
.tuan-brand ul{overflow:hidden;margin:6px 10px;zoom:1}
.tuan-brand li,.tuan-brand li a{width:99px;height:70px;}
.tuan-brand li{display:inline;float:left;margin:-1px 0 0 -1px;border-top:1px solid #eee;border-left:1px solid #eee;text-align:center;}
.tuan-brand a{display:table-cell;*display: block;*font-size: 61.11px;*font-family:Arial;vertical-align:middle;}
.tuan-brand img{vertical-align:middle;}
.tuan-hot{overflow:hidden}
.tuan-hot dt{padding:10px 0 8px 8px;background:#f5f5f5 url(../../images/www/bg_tuan_1.gif) repeat-x;color:#333;font-weight:bold;font-size:14px;font-family:"Microsoft YaHei";line-height:1.05;}
.tuan-hot dd{position:relative;z-index:0;margin:5px 0 7px 6px;}
.tuan-hot a{float:left;_display:inline;margin:2px 2px 0 0;text-align:center;font-size:20px;font-family:\5FAE\8F6F\96C5\9ED1;color:#fff;opacity:0.9;filter:alpha(opacity=90);}
.tuan-hot a:hover{opacity:1;filter:aplpha(opacity=100);}
.tuan-hot .tag-1{width:108px;height:62px;line-height:62px;background-color:#f98f48;}
.tuan-hot .tag-2{width:100px;height:62px;line-height:62px;background-color:#eb628c}
.tuan-hot .tag-3{width:93px;height:62px;line-height:62px;background-color:#9ad164}
.tuan-hot .tag-4{width:108px;height:56px;line-height:56px;background-color:#5aa2d1}
.tuan-hot .tag-5{width:100px;height:56px;line-height:56px;background-color:#61ca9f}
.tuan-hot .tag-6{width:93px;height:56px;line-height:56px;background-color:#63cec8}
.tuan-hot .tag-7{width:108px;height:51px;line-height:51px;background-color:#e16767}
.tuan-hot .tag-8{width:100px;height:51px;line-height:51px;background-color:#74c969}
.tuan-hot .tag-9{width:93px;height:51px;line-height:51px;background-color:#6e6ed2}
.tuan-index-main{float:left;width:660px;margin-top:-7px;padding:0;}

.tuan-index-main .mod-proItem{display:inline;float:left;width:210px;margin-top:7px;margin-left:8px;padding-bottom:8px;border:1px solid #d8d8d8;color:#999;line-height:14px;}
.mod-proItem a{color:#999}
.mod-proItem a:hover,.mod-proItem-sell s{color:#5656d1;text-decoration:none}
.mod-proItem dt,.mod-proItem dd{padding-right:10px;padding-left:10px;transition:background 0.6s;}
.mod-proItem dt{padding-top:6px;padding-bottom:6px;}
.mod-proItem dt a{color:#333}
.mod-proItem-picbox{padding-bottom:6px;}
.mod-proItem-pic,.mod-proItem-pic img{width:190px;height:130px;}
.mod-proItem-pic{display:block;position:relative;z-index:0;overflow:hidden;}
.mod-proItem-pic span{position:absolute;bottom:0;left:0;z-index:1;width:174px;padding:8px;background:#000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);background:rgba(0,0,0,0.5);color:#fff;line-height:18px;opacity:0;filter:alpha(opacity=0);transition:opacity .8s;}
.mod-proItem-cur .mod-proItem-pic span{opacity:1;filter:alpha(opacity=100);}
.mod-proItem-cur dt,.mod-proItem-cur .mod-proItem-picbox{background:#5656d1;}
.mod-proItem-cur dt a,.mod-proItem-cur .mod-proItem-picbox a,.mod-proItem-cur dt a:hover,.mod-proItem-cur .mod-proItem-picbox a:hover{color:#fff;}
.mod-proItem-tit{display:block;height:36px;overflow:hidden;margin-top:4px;color:#666;font-size:12px;line-height:18px;}
.mod-proItem-price{padding:3px 0 2px;_padding-bottom:3px;font-family:Arial;}
.mod-proItem-price em,.mod-proItem-price span{color:#e22b26;font-weight:bold;}
.mod-proItem-price p{float:right;}
.mod-proItem-price span em{font-size:16px;line-height:18px;}
.mod-proItem-price del{margin-right:16px;}
.mod-proItem-sell a{float:right;}
/*帮5团 e*/

/*帮5淘 s*/
.tao{border-bottom-color:#F27929}
.tao .floor-tit-more,
.tao .floor-tit-num{background-color:#F27929}
.floor-tao .floor-search-input{background-color:#F27929}
.slider-b5t{border-color:#F27929;color:#F27929}
.slider-b5t .slider-nav-li a,.slider-b5t .more a{color:#F27929}
.slider-b5t li.cur a,
.slider-b5t .slider-nav-li a:hover{background:#F27929;color:white}
.slider-b5t .slider-nav-li em{border-color:#F27929 transparent transparent;}
.slider-b5t .slider-page a.cur, .slider-b5t .slider-page a:hover{background-color:#F27929}
.slider-b5t .slider-item{height:296px}
/*帮5淘 e*/

/*帮5社 s*/
.she{border-bottom-color:#C245E6}
.she .floor-tit-more,
.she .floor-tit-num{background-color:#C245E6}
.floor-she .floor-search-input{background-color:#C245E6}
.slider-b5s{border-color:#C245E6;color:#C245E6}
.slider-b5s .slider-nav-li a,.slider-b5s .more a{color:#C245E6}
.slider-b5s li.cur a,
.slider-b5s .slider-nav-li a:hover{background:#C245E6;color:white}
.slider-b5s .slider-nav-li em{border-color:#C245E6 transparent transparent;}
.slider-b5s .slider-page a.cur, .slider-b5s .slider-page a:hover{background-color:#C245E6}
.slider-b5s .slider-item{height:334px}
/*帮5社 e*/

/*韩国馆 s*/
.korea{border-bottom-color:#DB000F}
.korea .floor-tit-more,
.korea .floor-tit-num{background-color:#DB000F}
.floor-korea .floor-search-input{background-color:#DB000F}
.slider-korea{border-color:#DB000F;color:#DB000F}
.slider-korea .slider-nav-li a,.slider-korea .more a{color:#DB000F}
.slider-korea li.cur a,
.slider-korea .slider-nav-li a:hover{background:#DB000F;color:white}
.slider-korea .slider-nav-li em{border-color:#DB000F transparent transparent;}
.slider-korea .slider-page a.cur, .slider-korea .slider-page a:hover{background-color:#DB000F}
.b5t-plugin{width: 546px;height: 309px;background: url(../../images/www/b5t_website.jpg) no-repeat 0 0 scroll;zoom:1;overflow: hidden;}
.b5t-plugin a{display: block;height: 254px;font-size:0;overflow: hidden;line-height: 0;}
.b5t-plugin .list-h li{margin:0 15px;text-align: center; width: 56px;}
.b5t-plugin .list-h h3{font-weight:700;color:#f26522;}
.b5t-info{position: relative;margin-top:20px;}
.b5t-info dl{padding-left:15px;width:260px;}
.b5t-info dl dt{margin:0 0 15px;font:700 16px \5FAE\8F6F\96C5\9ED1;color:#000;}
.b5t-info dl a{color:#999;line-height: 24px;}
.b5t-info .b5t-down{position:absolute;right:38px;top:50px;width:211px;height:80px;background: url(../../images/www/b5t_down.png) no-repeat 0 0 scroll;}
/*韩国馆 e*/


/*保健常识 s*/
.health{border-bottom-color:#00a500;}
.health .floor-tit-more,
.health .floor-tit-num{background-color:#00a500;}
.health-content { padding-top: 20px;}
.health-content div { width:470px;}
.health-content div .img { float:left; border:1px solid #83c783; padding: 8px 0; text-align: center; width:190px;}
.health-content div .img img { margin-bottom: 4px; }
.health-content div a { color:#999;}

.health-content div ul { float:left; padding-left: 10px; width:268px;}
.health-content div ul li { height: 25px; line-height: 25px; padding-left: 10px; background: url("../../images/www/bg-health.png") no-repeat 0px 13px;}
.health-content div ul li.high { background-position: 0px -12px;}
.health-content div ul li a { color:#666;}
.health-content div a:hover,.health-content div ul li a:hover { color:#eb7e00;}

/*保健常识 e*/



/*值得买 s*/
.b2c-links-border {border-top: 3px solid #5d5d5d; height: 20px; overflow: hidden; }
.zhidemai-index{border-bottom-color:#FFB400;}
.zhidemai-index .floor-tit-more,
.zhidemai-index .floor-tit-num{background-color:#FFB400;}
.zhidemai-recommend{width:320px;}
.zhidemai-recommend .list-item{height:50px;overflow: hidden;padding:15px 0 15px 6px;border-bottom:1px dashed #EAE9EE;}
.zhidemai-recommend .pic{position:relative;float:left;_display:inline;width:80px;margin-right:15px;}
.zhidemai-recommend .pic .nums{position: absolute;left:-6px;top:-6px;width:16px;height:16px;background-image: url(../../images/www/icon.png);_background-image: url(../../images/www/icon8.png);background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.zhidemai-recommend .pic:hover .nums{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}
.zhidemai-recommend .pic .nums-1{background-position:-100px -550px;}
.zhidemai-recommend .pic .nums-2{background-position:-100px -600px;}
.zhidemai-recommend .pic .nums-3{background-position:-100px -650px;}
.zhidemai-recommend .pic .nums-4{background-position:-150px -550px;}
.zhidemai-recommend .pic .nums-5{background-position:-150px -600px;}
.zhidemai-recommend .txt{display: table-cell;width:2000px;height:50px;*display:block;*width:auto;}
.zhidemai-recommend .txt em{color:#ff7a17;font-weight:700;}
.zhidemai-recommend .txt .des{display:block;height:34px;color:#666;zoom:1;}
.zhidemai-recommend .txt .des:hover{color: #eb7e00;}
.zhidemai-recommend .txt .time{color:#bbb;}
.zhidemai-recommend .txt .more{height:22px;line-height:20px;padding:0 8px;color:#fff;background-color: #FFB400;float:right;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.zhidemai-more{height:38px;line-height:38px;margin-top:5px;text-align:center;background-color:#F6F6F6;}
.zhidemai-more .zhidemai-more-btn{display: inline-block;*display: inline;*zoom: 1;*margin-top:7px;height:24px;line-height:24px;padding-right:34px;font-weight: 700;color:#fff;background: url(../../images/www/icon.png) no-repeat -35px -500px;font-family: \5FAE\8F6F\96C5\9ED1;color:#575757;font-size:14px;
    -webkit-transition:background-position .1s ease-in-out;
    -moz-transition:background-position .1s ease-in-out;
    -ms-transition:background-position .1s ease-in-out;
    -o-transition:background-position .1s ease-in-out;
    transition:background-position .1s ease-in-out;
}
.zhidemai-more .zhidemai-more-btn:hover{
    background-position:-40px -500px;
}
.zhidemai-mall{width:630px;height:446px;border:1px solid #E4E4E4;overflow:hidden;}
.zhidemai-mall .tab-hd{margin-right:-6px;}
.zhidemai-mall .tab-hd li{height:34px;float:left;_display:inline;width:106px;text-align:center;background-color: #F6F6F6;border-bottom: 3px solid #FFB400;}
.zhidemai-mall .tab-hd li a{display:block;height: 31px;line-height:31px;padding-top:3px;border-right:1px solid #e4e4e4;color:#333;font-size: 16px;font-family: \5FAE\8F6F\96C5\9ED1;noline:expression(this.onFocus=this.blur());}
.zhidemai-mall .tab-hd .cur{height:37px;border-bottom:none;background-color: #fff}
.zhidemai-mall .tab-hd .cur a{height:34px;color:#f08d00;}
.zhidemai-mall .tab-box{overflow: hidden;}
.zhidemai-mall .tab-item{display: none;}
.zhidemai-mall .tab-item li{float: left;_display:inline;width:138px;margin:15px 0 0 15px;}
.zhidemai-mall .tab-item .pic{display: block;width:138px;height: 138px;position: relative;}
.zhidemai-mall .tab-item .pic .price{position: absolute;height:22px;padding:0 4px 0 8px;line-height:22px;bottom: 0;right:0;z-index:10;color:#e91414;font-family: \5FAE\8F6F\96C5\9ED1;font-size: 16px;background: url(../../images/www/stripe_bg.png) no-repeat scroll 0 0;_background-image: url(../../images/www/stripe_bg8.png)}
.zhidemai-mall .tab-item .pic .price b{font-size: 12px;}
.zhidemai-mall .tab-item .des{display:block;height:3em;color:#666;overflow:hidden;}
.zhidemai-mall .tab-item .des:hover{color:#eb7e00;text-decoration: none;}
/*值得买 s*/

/*淘特价 s*/
.tejia{border-bottom-color:#95bf00}
.tejia .floor-tit-more,
.tejia .floor-tit-num{background-color:#95bf00}
.floor-tejia .floor-search-input{background-color:#95bf00}
.slider-tejia{border-color:#95bf00;color:#95bf00}
.slider-tejia .slider-nav-li a,.slider-tejia .more a{color:#95bf00}
.slider-tejia li.cur a,
.slider-tejia .slider-nav-li a:hover{background:#95bf00;;color:white}
.slider-tejia .slider-nav-li em{border-color:#95bf00 transparent transparent;}
.slider-tejia .slider-page a.cur, .slider-tejia .slider-page a:hover{background-color:#95bf00}
.tao-index .floor-search-input {background-color: #95bf00;}
.today-recommend{padding-top: 20px; width: 512px;}
.today-recommend h3{font-family:\5FAE\8F6F\96C5\9ED1;	font-size: 16px;font-weight: bold;color: #000;}
.today-recommend ul{ width:522px;height: 323px;margin-left: -10px; overflow: hidden;}
.today-recommend ul li{ width: 250px; height: 94px; padding: 8px 11px 8px 0; float: left; border-bottom: 1px #999 dotted;border-right: 1px #999 dotted; margin:0 -1px -1px 0;}
.today-recommend li img{ float: left; margin:0 10px;}
.today-recommend li span{ line-height: 1; display: block; padding-bottom: 10px;}
.today-recommend li a{ color: #999;}
.today-recommend .tit{ color: #666;}
.today-recommend li p{ margin: 0; padding: 0; color: #999;}
.today-recommend li p a:hover{ color: #999;}
.other-view{width:433px;height: 44px;border-top: 6px #f3f3f3 solid; border-bottom: 6px #f3f3f3 solid; background: #fff; padding: 2px 0; margin-bottom: 22px;}
.other-view span{ display: inline-block; vertical-align: top; height: 44px; position: relative;}
.other-view span span{ position: absolute;white-space: nowrap;}
.other-view .txt { width:50px; margin-top: 4px; color:#666;}
.prev a,.next a{display: block; margin: 12px 10px 0; width: 12px; height: 19px; background:url(../../images/www/arr_opt.png) no-repeat 0 0;}
.prev a{background-position:0 0;}
.prev a:hover{background-position:0 -24px;}
.next a{background-position:-16px 0;}
.next a:hover{background-position:-16px -24px;}
.view-pics{ width: 290px; overflow: hidden;}
.view-pics img{ margin: 0 7px;}
.tao-slider{width:430px;border: 1px solid #95bf00;background: url(../../images/common/slider.png) repeat-y top center; position: relative;}
.tao-slider-nav{padding-left: 20px;}
.tao-slider-nav-li{margin: 0 20px; _margin: 0 14px; display: inline-block;*display: inline;*zoom:1; _width: 60px;}
.tao-slider-nav-li a{ background: #fff; position: relative; display: block; color: #666;font-family:\5FAE\8F6F\96C5\9ED1;font-size: 16px;font-weight: bold; border-bottom: 1px #666 solid; padding: 10px 10px 3px; text-align: center;}
.tao-index li.cur a{ color: #95bf00;border-bottom-color: #95bf00;}
.tao-index li.cur a em{ border-top-color: #95bf00;}
.tao-slider-nav-li a em{display: block;width: 0;height: 0;font-size: 0;line-height: 0;border-style: solid dashed dashed;border-width: 4px;position: absolute;margin-left: -2px;left: 50%;bottom: -8px;color: transparent; border-top: 4px #666 solid;}
.tao-index li a:hover{ color: #eb7e00;border-bottom-color: #95bf00;}
.tao-slider-nav-li a:hover em{border-top-color: #95bf00;}
.tao-slider-item ul{ padding:18px 0 23px 36px;}
.tao-slider-item li{ display: inline-block; *display: inline;*zoom:1; width: 160px; margin: 0 10px;}
.sell-num{font-family:\5FAE\8F6F\96C5\9ED1; display: block;font-size: 14px; padding: 2px 0;}
.sell-num em{ color: #95bf00;}
.goods-name{ color: #999;font-family:\5FAE\8F6F\96C5\9ED1; font-size: 14px; height: 41px; display: block;}
.goods-price{ color: #e91414; vertical-align: text-bottom;line-height: 20px; padding-top: 10px; }
.goods-price span{ display: inline-block; *display: inline;*zoom:1;font-family:\5FAE\8F6F\96C5\9ED1}
.price-num strong{ font-size: 18px; padding: 0 2px;}
.goods-price .zhe{ float: right; background: #95bf00; color: #fff; padding: 2px 5px 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
/*淘特价 s*/
/*楼层 e*/

/* 韩国馆资讯内容 */
.korea-news{ width: 432px; margin-top: 20px;}
.korea-tit{ background: url(../../images/www/bg-korea.png) repeat-x center 8px; clear: both; margin-bottom: 18px;}
.korea-tit strong{font-family: "Microsoft YaHei"; font-size: 16px; font-weight: bolder; background: #fff; padding-right: 5px}
.korea-pic{ display: block; float: left; margin: 10px 30px 0 0;}
.korea-pic img{ display: block; margin-bottom: 10px; width: 160px; height: 120px;}
.korea-pic span{ display: block; color: #666;}

.korea-news li{ line-height: 24px; background: url(../../images/www/bg-korea.png) no-repeat 180px -19px; padding-left: 13px;}
.korea-news li a{ color: #333;}

/* 淘app内容 */
.index-tao{ width: 540px; height: 181px;}
.index-tao a{ display: block; float: left; height: 181px; background: url(../../images/www/bg-tao.png) no-repeat;}
.index-tao .sou{width: 130px; background-position: 0px 0px;}
.index-tao .jian{ width: 127px; background-position: -130px 0px;}
.index-tao .bi{width: 126px; background-position: -257px 0px;}
.index-tao .app-download{ width: 157px; background-position: -383px 0px;}

.index-tao .app-download:hover{ background-position:-383px -181px;}

/*----@jiabangdou s----*/
.jiabangdou{display: inline-block;*display: inline;*zoom: 1;width:258px;height:17px;background: url(../../images/common/jiabangdou.png) no-repeat 0 -72px scroll transparent;}
.bangdou-tips{position:absolute;width:133px;height:65px;overflow:hidden;background: url(../../images/common/jiabangdou.png) no-repeat 0 0 scroll transparent;line-height: normal;}
.bangdou-tips__in{padding:18px 0 0 60px;text-align:left;font-size:18px;font-weight: 700;color:#eb7e00;}
.bangdou-target .bangdou-tips{top:6px;left:30px;}
/*----@jiabangdou e----*/
.top-hdbanner { text-align: center; background: #eb7d00; }






/*全部商品分类 s*/
.main-item{position: absolute;width: 198px;*font-size:0;}
.all-cate { height: 530px; width:198px; background: #fafafa; padding-top: 10px;}
.all-cate a{font-size: 12px;color:#333;font-family: "\5FAE\8F6F\96C5\9ED1"}
.all-cate a:hover{color:#F18100;text-decoration: underline;}
.all-cate li{height: 37px;line-height:34px;padding-left:48px;background: #FAFAFA;border:1px solid #FAFAFA;border-right:none;}
.all-cate .icon{display: inline-block;*display: inline;*zoom: 1;margin:6px 0 0 -36px;float:left;width: 22px;height: 22px;background-image:url(../../images/www/icon.png);_background-image:url(../../images/www/icon8.png);background-repeat:no-repeat;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s;
}
.all-cate li:hover .icon{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
.all-cate .icon-book{background-position:0 0;}
.all-cate .icon-mobile{background-position:0 -50px;}
.all-cate .icon-game{background-position:0 -100px;}
.all-cate .icon-telephone{background-position:0 -150px;}
.all-cate .icon-laptop{background-position:0 -200px;}
.all-cate .icon-furniture{background-position:0 -250px;}
.all-cate .icon-clothes{background-position:0 -300px;}
.all-cate .icon-bag{background-position:0 -350px;}
.all-cate .icon-makeup{background-position:0 -400px;}
.all-cate .icon-ice-cream{background-position:0 -450px;}
.all-cate .icon-baby{background-position:0 -500px;}
.all-cate .icon-sport{background-position:0 -550px;}
.all-cate .icon-medical{background-position:0 -600px;}
.all-cate .item-odd{background-color:#F1F1F1;border-top:1px solid #F1F1F1;border-bottom: 1px solid #F1F1F1;}
.all-cate .sub_item{display:none;width:0;border:1px solid #ddd;min-height:505px;position: absolute;overflow:hidden;z-index:80;left:195px;top:0;margin-left:-1px;background-color: #fff;box-shadow:0px 2px 3px #ddd;}
.all-cate dt a{font-size:18px;font-weight:700;color:#eb7e00;}
.all-cate dt a:hover{text-decoration: none;}
.all-cate dl{padding:8px 0 8px 0;margin-top:-1px;zoom:1;border-top:1px solid #F0F0F0;}
.all-cate dt{margin-bottom: -5px;}
.all-cate dd{overflow: hidden;}
.all-cate dd a{float: left;margin-right:15px;white-space: nowrap;font-family:\5B8B\4F53}
.all-cate .sub-wp{width:649px;overflow: hidden;}
.all-cate .sub-in{float:left;min-height:489px; width:378px;padding:0 0 15px 30px;line-height: 24px;background-color:#fff;}
.all-cate .main-cate{position:relative;z-index:100;height:37px;line-height:37px;margin-right:-2px;}
.all-cate .main-cate .arrow{position:absolute;display:none;top:10px;right:14px;width: 8px;height: 12px;font-size:0;line-height:0;overflow:hidden;background: url(../../images/www/icon.png) no-repeat scroll 0 -650px;_background-image:url(../../images/www/icon8.png)}
.all-cate .active,
.all-cate .open{height: 37px;line-height:34px;border:1px solid #E4E4E4;border-right:none;background:#fff;}
.all-cate .active .main-cate,
.all-cate .open .main-cate{background: #fff;}
.all-cate .active .arrow,
.all-cate .open .arrow{display: inline-block;*display: inline;*zoom: 1;}
.hot-brand{float:left;width:240px;padding-bottom:2000px;margin-bottom:-2000px;border-left:1px solid #EBEBEB;}
.hot-brand h4{padding:6px 0;font:700 14px/32px '\5FAE\8F6F\96C5\9ED1';}
.list-brand{overflow: hidden;}
.list-brand,
.hot-brand h4{margin:0 20px;zoom:1;}
.list-brand li{float:left;height:50px;width:100px;padding:0;border-top:1px solid #F0F0F0;border-left:1px solid #F0F0F0;margin-top:-1px;margin-left:-1px;background-color: #fff}
.list-brand li a{display:table-cell;vertical-align:middle;height:50px;width:100px;text-align:center;*display: block;*font-size:44px;}
.list-brand li img{vertical-align: middle;}
.hot-brand .brand-recommend{display:block;padding:20px 0 0 20px;}
/*全部商品分类 s*/


img{vertical-align: top;}
.mt20{margin-top:20px;}
.vh{font-size:0;line-height: 0;overflow: hidden;}
.business{background-color: #eb7e00;}
.floor-content .list-h li{float:left;}



.cont { padding-top: 20px; margin-bottom: 20px;}
.cont .cont-l { float:left; width:200px; *position: relative; *z-index: 1;}
.cont .cont-r { float:right; width:760px;}
.cont .cont-tab .tab-title a { display: block; float:left; width:100px; height: 38px; line-height: 38px; border-bottom: 3px solid #ff9000; text-align: center; font-weight: bold;font-family:\5FAE\8F6F\96C5\9ED1;color:#fff; font-size:14px; background:#ff9000;  }
.cont .cont-tab .tab-title a.cur { background: #f58a00; border-bottom-color:#bb5800;}
.cont .cont-tab .tab-content { display: none; overflow: hidden; height: 530px; border:1px solid #ff8e09; border-top:none; }
.cont .cont-tab .tab-content.cur { display: block;}



/*图片滚动 s*/
.pic-slider{ width: 760px;height:370px;overflow: hidden; *position:relative;}
.pic-slider ul{position: relative;}
.pic-slider ul li { float:left;}
.pic-slider .nums{float:right;margin:-25px 215px 0 0;position:relative;}
.pic-slider .nums a{float:left;margin-left:6px;font-size:0;line-height:0;overflow:hidden;height:10px;width:10px;cursor: pointer;background:url(../../images/www/icon.png) no-repeat scroll -150px -450px;_background-image:url(../../images/www/icon8.png);}
.pic-slider .nums a:hover,
.pic-slider .nums .cur{background-position:-100px -450px;}
/*图片滚动 e*/

/* banner */
.cont .banner-t { position: relative; width: 760px;height:370px; margin-bottom: 2px; }
.cont .panel-user { right:10px; top:10px; position: absolute; z-index: 1; }
.cont .panel-b5t { right:10px; bottom: 10px; position: absolute; z-index: 1; width:190px; height: 222px; background: url("../../images/www/index/bg-b5t-download.png");}
.cont .panel-b5t a { display: block; width:190px; height:222px; position: absolute; bottom:0; text-indent: -9999px;}
.cont .banner-m { margin-bottom: 2px;}
.cont .banner-m span { float:left;margin-right: 2px; display: block; width:252px; height: 124px;}
.cont .banner-m span.last { margin-right: 0;}
.cont .banner-b { height: 73px; background: #fafafa; border-bottom:1px solid #f0f0f0;  }
.cont .banner-b ul { padding: 10px 0 0 20px;}
.cont .banner-b li { line-height: 24px; float:left; width:235px; padding-left: 10px; background: url("../../images/www/icon.png") no-repeat -155px -499px; _background-image:url("../../images/www/icon8.png") }
.cont .banner-b li a { color:#666;}
.cont .banner-b li a:hover { color:#f18100;}
/* banner */

/* 电商排行*/
.logo-rank { padding-top: 10px; *padding-top:0;}
.logo-rank li { height: 30px; line-height:30px;margin-top: -1px;border-bottom: 1px solid #e8e8e8;border-top: 1px solid #e8e8e8; padding:7px 10px 7px 30px; background: url("../../images/www/icon.png") no-repeat 10px -783px; _background-image: url("../../images/www/icon8.png"); }
.logo-rank li:hover{position:relative;z-index:100;border-top:1px solid #FF8E09;border-bottom:1px solid #FF8E09;}
.logo-rank a { display: block; text-align: right; color:#6c6c6c; }
.logo-rank li.num2 { background-position:10px -827px;}
.logo-rank li.num3 { background-position:10px -871px;}
.logo-rank li.num4 { background-position:10px -915px;}
.logo-rank li.num5 { background-position:10px -959px;}
.logo-rank li.num6 { background-position:-211px -783px;}
.logo-rank li.num7 { background-position:-211px -827px;}
.logo-rank li.num8 { background-position:-211px -871px;}
.logo-rank li.more {height:25px;line-height:25px;padding:5px 10px 5px 30px; border-bottom:none; background-position: -211px -923px;}
.logo-rank li.more a { cursor:pointer; text-align: left ; font-family: \5b8b\4f53;  background:none; }
.logo-rank li.more a:hover{ color:#F18100;}
.logo-rank li a {background: url("../../images/www/index/logo-rank.png") no-repeat -226px 0;}
.logo-rank .taobao { background-position: 0px 0;}
.logo-rank li:hover .taobao,.logo-rank li.hover .taobao { background-position: -226px 0;}
.logo-rank .tmall { background-position:0px -30px;}
.logo-rank li:hover .tmall,.logo-rank li.hover .tmall { background-position:-226px -30px;}
.logo-rank .jd { background-position:0 -60px;}
.logo-rank li:hover .jd,.logo-rank li.hover .jd { background-position: -226px -60px;}
.logo-rank .zcn { background-position:0px -90px;}
.logo-rank li:hover .zcn,.logo-rank li.hover .zcn { background-position:-226px -90px;}
.logo-rank .dangdang { background-position:0 -120px;}
.logo-rank li:hover .dangdang,.logo-rank li.hover .dangdang { background-position: -226px -120px;}
.logo-rank .suning { background-position:0 -150px;}
.logo-rank li:hover .suning,.logo-rank li.hover .suning { background-position: -226px -150px;}
.logo-rank .yhd { background-position:0 -180px;}
.logo-rank li:hover .yhd,.logo-rank li.hover .yhd { background-position: -226px -180px;}
.logo-rank .yixun { background-position:0 -210px;}
.logo-rank li:hover .yixun,.logo-rank li.hover .yixun { background-position: -226px -210px;}
.logo-rank .guomei { background-position:0 -240px;}
.logo-rank li:hover .guomei,.logo-rank li.hover .guomei { background-position: -226px -240px;}
.logo-rank .ocj { background-position:0 -270px;}
.logo-rank li:hover .ocj,.logo-rank li.hover .ocj { background-position: -226px -270px;}
.logo-rank .vancl { background-position:0 -300px;}
.logo-rank li:hover .vancl,.logo-rank li.hover .vancl { background-position: -226px -300px;}
.logo-rank .lefeng { background-position:0 -330px;}
.logo-rank li:hover .lefeng,.logo-rank li.hover .lefeng { background-position: -226px -330px;}

/* 收录数 */
.cont .data-count { padding: 10px;/* border-bottom: 1px dashed #ccc;*/}
.cont .data-count strong { color:#666; display: block; margin-bottom: 5px;}
.cont .data-count span { float:left; display: block; margin: 0 3px 0 0; position: relative; width:16px; height: 22px; overflow: hidden; }
.cont .data-count span em { display: block; zoom:1; width:16px; height:440px; top:0; left:0; position: absolute; background: url("../../images/www/index/bg-count.png");  text-indent: -9999px; -webkit-backface-visibility:hidden; /*fix chrome 1px*/}
.cont .data-count div { margin-bottom: 5px;}











