/*www base s*/
img{vertical-align: top;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.mart20{margin-top: 20px;}
.marb20{margin-bottom: 20px;}
.top-hdbanner{background: #eb7d00;}
.jh-bord{ border: 1px #dedede solid;}
.jh-title{ font:normal 14px/32px \5FAE\8F6F\96C5\9ED1; padding-left: 18px; background: #f3f3f3;}
.jh-items { padding: 10px 18px;}
.jh-items li{ background: url(../../images/www/jihe-icon.gif) no-repeat left center; width: 168px; padding-left: 20px; line-height: 32px; height: 32px; overflow: hidden; float: left; border-bottom: 1px #cbcbcb dotted;}
.jh-items li a{ color: #005ea7;}
.jh-items li a:hover{ text-decoration: underline;}
.jd-linkw{ padding-bottom: 20px;}
.sq-link{ padding: 25px;}
.sq-link .jh-text{ float: left; width: 425px; padding: 0 30px 0 15px; line-height: 24px;}
.sq-link .jh-text dt{ font-weight: bold; color: #666666;}
.sq-link .jh-text dt,
.sq-link .jh-text dd{margin-bottom: 4px; text-indent: -1.5em; padding-left: 1.5em;}
.form-dl{ float: left; width: 350px; padding-left: 40px; border-left: 1px #cccccc dotted;}
.form-dl dt{ font-weight: bold; color: #666666; margin-bottom: 24px;}
.form-dl dd{ height: 32px; margin-bottom: 12px; overflow: hidden; padding-left: 60px; }
.form-dl dd span{ float: left; margin-left: -60px; _display: inline; color: #666666; line-height: 30px;}
.form-dl dd .text{ width: 248px; border: 1px #cccccc solid; height: 24px; line-height: 24px; padding: 2px;}
.form-dl dd.textar{ height: 126px;}
.form-dl dd.sub{ height: 36px; }
.form-dl dd .textarea{ width: 248px; height: 118px; line-height: 20px; padding: 2px; border: 1px #cccccc solid;}
.form-dl dd input.sub-btm{ text-align: center; line-height: 28px; width: 98px; background: #ff9c0f; border: 1px #e98900 solid; color: #fff; cursor: pointer; font-weight:bold; font-size: 14px;}


/*page s*/
.page{width:100%;height:38px;text-align:right;font-family:arial,tahoma; margin-top: 10px;}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1; padding-right: 20px;}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center;}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:38px;line-height:38px;margin-top:0;width:32px;font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:tahoma;}
.page a.first,.page a.last{}
.page a:hover{color:#fff;background-color:#ff9c0f;background-image:none;border-color:#eb8226;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#ff9c0f;font-family:arial;border-radius:3px;cursor:default;width:34px;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .pagenum,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:80px;margin-right:0;text-align:right;font-family:tahoma}
.page .page-input{font-family:tahoma;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #e98900;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#ff9c0f;border:1px solid #e98900;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}