/*www base s*/
html,body{ height: 100%;}
img{vertical-align: top;}
a{ color: #333;}
a:hover{ color:#f08d00;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.mart20{margin-top: 20px;}
.marb20{margin-bottom: 20px;}
.icon{ background-image: url(../../images/www/jihe/jh-icon-v2.png); _background-image: url(../../images/www/jihe/jh-icon-v28.png); background-repeat: no-repeat;}

.jh-mian{ width:742px;}
.jh-ban{ height: 80px; overflow: hidden;}
/*商家表单 s*/
.jh-table{ width: 741px; border: 1px #ddd solid; border-bottom: none;}
.jh-table tr td{border-bottom: 1px #ddd solid;  text-indent: 28px;  width: 140px;}
.jh-table thead td{ height: 40px; background: #f0f0f0; font: normal 14px/40px \5FAE\8F6F\96C5\9ED1;}
.jh-table tbody td{ height: 74px; font-size: 14px;}
.jh-table .one{ border-right: 1px #ddd solid;   width: 174px; }
.jh-table .one em{ width: 34px; height:20px; text-indent: 0; padding-top: 10px; display: inline-block; color: #fff; text-align: center; margin-right: 8px; float: left; margin-left: 15px;}
.jh-table .one .grade1{ background-position: left -65px;}
.jh-table .one .grade2{ background-position: -38px -65px;}
.jh-table .one .grade3{ background-position: -76px -65px;}
.jh-table .one .grade4{ background-position: -115px -65px;}
.jh-table .one img{ width: 100px; height: 30px; margin-left: 5px;}
.jh-table .one span{ width: 100px; height: 30px; float: left; background: url("../../images/www/jihe/ds-logo.jpg") no-repeat left bottom;}
.jh-table .one .taobao{ background-position: left top;}
.jh-table .one .tmall{ background-position: left -83px;}
.jh-table .one .jd{ background-position: left -163px;}
.jh-table .one .zcn{ background-position: left -123px;}
.jh-table .one .yhd{ background-position: left -41px;}
.jh-table .one .dangdang{ background-position: left -205px;}
.jh-table .one .suning{ background-position: left -249px;}
.jh-table .one .zgtsw{ background-position: left -293px;}
.jh-table .one .guomei{ background-position: left -335px;}
.jh-table .one .vjia{ background-position: left -382px;}
.jh-table .one .tbtsw{ background-position: left -427px;}
.jh-table .one .zouxiu{ background-position: left -471px;}
.jh-table .one .chinapub{ background-position: left -523px;}
.jh-table .one .wenxuan{ background-position: left -569px;}
.jh-table .one .boke{ background-position: left -612px;}
.jh-table .one .zgcts{ background-position: left -656px;}
.jh-table .one .yixun{ background-position: left -698px;}
.jh-table .one .shopin{ background-position: left -751px;}
.jh-table .one .weilan{ background-position: left -796px;}
.jh-table .one .mogujie{ background-position: left -841px;}
.jh-table td span{ display: inline;}
.jh-table td b{ width: 19px; height: 15px; display: inline-block;margin-left: 10px;}
.jh-table td b.leve{ background-position: -24px -107px;}
.jh-table td b.up{ background-position: left -107px;}
.jh-table td b.down{ background-position: -48px -107px;}
.jh-table .numb{}
.jh-table .line{ width: 40px; height: 5px; overflow: hidden; background: #cccccc; margin-left: 28px; border-radius: 3px;}
.jh-table .line span{ width: 90%; height: 5px; display: block; background: #ff5c5c;}
/*商家表单 e*/

.jh-side{ width:218px;}
.apply-sl{ height:218px; height: 60px; }
.apply-sl a{ display: block; height: 60px; background-position: left top;}
.layer-bg{display: none; background: #000; opacity:0.2; filter:alpha(opacity=20); width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 1000; cursor: pointer;}
.layer-main{display: none; width: 580px; height: 560px; padding: 20px; background: #fff; position: absolute; left: 50%; top: 50%; margin-left: -310px; margin-top: -300px; z-index: 1001;}
.layer-main .title{ height: 28px; border-bottom: 1px #d6d6d6 solid; font: bold 14px/28px \5FAE\8F6F\96C5\9ED1; }
.layer-main .title .close{ float: right; width: 10px; height: 10px; background-position: right -107px;}
.layer-main .reg-ul{ padding-top: 30px;}
.layer-main .reg-ul li{ padding-left:125px; overflow: hidden; *zoom:1; margin-bottom: 15px;}
.layer-main .reg-ul label{ width: 125px; text-align: right; float: left; margin-left: -125px; font-family: \5FAE\8F6F\96C5\9ED1; line-height: 32px; _display:inline;}
.layer-main .reg-ul label em{ color: #ff5858; margin-right: 10px;}
.layer-main .reg-ul .srk{ width: 248px; height: 20px; line-height: 20px; padding: 5px; border: 1px #c9c9c9 solid; float: left; _display:inline;}
.layer-main .reg-ul div{ float: left; margin-left: 10px; _display: inline; height: 32px; line-height: 32px; color: #f90c0c;padding-left:25px; width: 155px;}
.layer-main .reg-ul .error-tip{ color: #f90c0c; background-position: left -128px;}
.layer-main .reg-ul .correct-tip{ background-position: left -166px;}
.layer-main .reg-ul .text-area{ width: 410px; height: 150px; padding: 5px 4px; line-height: 20px; border: 1px #c9c9c9 solid;}
.layer-main .reg-ul .btn{ width: 90px; height: 30px; text-align: center; line-height: 30px; color: #fff; border: none; margin-right: 20px;}
.layer-main .reg-ul .sub-btn{ background: #ff8800;}
.layer-main .reg-ul .sub-btn:hover{ background: #e27800;}
.layer-main .reg-ul .qx-btn{ background: #adadad;}
.layer-main .reg-ul .qx-btn:hover{ background: #979797;}



.zdm-brd{ border:1px #dedede solid;}
.zdm-tit1 h2{ height: 42px; border-bottom: 2px #f7f7f7 solid; font:bold 16px/42px 'microsoft yahei'; _overflow: hidden;}
.zdm-tit1 h2 span{ padding: 0 10px; height: 100%; border-bottom: 2px #ff8f0f solid; float: left; position: relative;}
.zdm-ranking{ padding-bottom: 10px;}


.goods-tiems{ padding: 10px 10px 0;}
.goods-tiems dt{ height: 20px; line-height: 20px; overflow: hidden; }
.goods-tiems dt em{ width: 20px; height: 20px; background: #d0d0d0; margin-right: 5px; _display: inline; float: left; text-align: center; color: #fff;
    -webkit-border-radius:50% 50%;
    -moz-border-radius:50% 50%;
    -ms-border-radius:50% 50%;
    -o-border-radius:50% 50%;
    border-radius:50% 50%;}
.goods-tiems dt .bg{ background: #fe8d3a;}
.goods-tiems dt a{ float: left; line-height: 16px; height: 16px; overflow: hidden; text-overflow:ellipsis; width: 170px; color: #666666;}
.goods-tiems dt a:hover{ color: #f18100;}
.goods-tiems dd{ display:none;}
.goods-tiems .rank-pic{margin-top: 10px;}
.goods-tiems .rank-pic .pic img{ float: right; width: 60px; height: 60px; margin-top: 15px;}
.goods-tiems .rank-pic p{ line-height: 18px; text-indent: 2em; color:#999;}
.goods-tiems .rank-pic{ padding: 8px 0; border-top: 1px #ddd dotted; border-bottom: 1px #ddd dotted;}
.goods-tiems .rank-pic ul{ float: left; width: 135px;}
.goods-tiems .rank-pic li{ overflow: hidden; *zoom:1; height: 25px; line-height: 25px; padding: 2px 0;}
.goods-tiems .rank-pic li img{ float: left; width: 56px; height: 25px;}
.goods-tiems .rank-pic li span{ float: left;font-family:\5fae\8f6f\96c5\9ed1,"Tahoma"; color: #666666;}
