.l{ float: left; _display:inline;}
a{color: #333;}
a:hover{color: #333;}
.clear-fix:after, .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear-fix, .cf{ *zoom:1;}
.clear, .c { clear:both; }
	/*SEO inner begin*/
#seo-wrap{ padding-top: 0px;}
#seo-wrap .crumb { padding-top:20px;   font-family:\5FAE\8F6F\96C5\9ED1; line-height: 30px; height: 30px;  font-size:14px; border-bottom: 2px solid #000; _height:31px; _overflow: hidden; color:#666; }
#seo-wrap .crumb span { font-family: \5b8b\4f53; padding:0 5px; }
#seo-wrap .crumb strong,#seo-wrap .crumb h2 { color: #ff0042; position: relative; height:29px; border-bottom:3px solid #ff0647; float:left; }
#seo-wrap .crumb.noline,#seo-wrap .crumb.noline strong { border-bottom: none;}
#seo-wrap .crumb em {color: #ff0042; }
#seo-wrap .crumb-x{background: url("../../../images/korea/line-3.png") repeat-x scroll 0 2px; height: 4px; overflow: hidden;}
#seo-wrap .crumb p{ float: right;}
#seo-wrap .seo-wraper{ margin-top: 20px;}
#seo-wrap .seo-banWp{ margin:20px auto; overflow:hidden; zoom:1; }
#seo-wrap .seo-banWp img{display: block;}
#seo-wrap .seo-wp-l{ width: 764px; float: left; color: #333;}
#seo-wrap .seo-wp-bord{border:1px solid #d6d6d6;}
#seo-wrap .seo-wp-l h2.seo-in-tit{ line-height: 58px; text-align: center; border-bottom: 1px #d6d6d6 dashed; font-size: 22px; font-family: \5FAE\8F6F\96C5\9ED1;}
#seo-wrap .seo-wp-l span.timer{ display: block; line-height: 24px; color: #999999; text-align: center;}
#seo-wrap .seo-in-cont{ padding: 15px 35px;}
#seo-wrap .seo-in-cont p{word-wrap:break-word; word-break:normal; line-height: 26px;font-size: 14px; margin-bottom: 4px;max-width: 100%; __width: expression((documentElement.clientWidth > 690) ? "690px" : "auto" ); overflow: hidden;}
#seo-wrap .seo-in-cont img{ max-width: 100%; __width: expression((documentElement.clientWidth > 690) ? "690px" : "auto" ); overflow: hidden;}
#seo-wrap .seo-wp-r{ width: 196px; float: right;}
#seo-wrap .mod-list { border:1px solid #d6d6d6; margin-top: 20px;}
#seo-wrap .mod-buy-list{ background: #fff;;-webkit-box-shadow:0 1px 0 #d6d6d6;-moz-box-shadow:0 1px 0 #d6d6d6;box-shadow:0 1px 0 #d6d6d6;}
#seo-wrap .mod-list h3.mod-hd { border-bottom: 1px solid #d6d6d6; color: #000;  font: 700 16px/40px "\5FAE\8F6F\96C5\9ED1"; height: 40px;padding-left: 16px; }
#seo-wrap .mod-buy-list ul { padding:0 16px;}
#seo-wrap .mod-buy-list li {  border-bottom: 1px dashed #ECECEC; overflow: hidden;padding: 15px 0;zoom:1;}
#seo-wrap .mod-buy-list li.last { border-bottom:none;}
#seo-wrap .mod-buy-list .pic {  float: left; width: 50px;}
#seo-wrap .mod-buy-list .txt { float:right; width:100px;}
#seo-wrap .mod-buy-list .txt p { color: #999;line-height: 16px; }
#seo-wrap .mod-buy-list .txt em { display: block; padding-top: 6px; color:#db000f; font-size:14px; font-family: \5FAE\8F6F\96C5\9ED1;  }
	/*SEO inner end*/
	/*SEO result begin*/
#seo-wrap .seo-wp-tit{ height: 44px;  background: #f7f7f7; border-bottom:1px #d6d6d6 solid; position: relative;}
#seo-wrap .seo-wp-tit h2{ position: absolute; height: 48px; left: 0; padding-right: 6px; top: -2px;background: url(../../images/www/seo-tit-shadow.png) no-repeat right top;}
#seo-wrap .seo-wp-tit h2 span{ display: inline-block; font-size: 20px;font-family: \5FAE\8F6F\96C5\9ED1; font-weight: bold; padding: 0 18px; height: 44px; line-height: 44px; border-top: 2px #f70040 solid; border-bottom: 2px #ececec solid;}
#seo-wrap .seo-wp-list li{ padding: 25px; border-bottom: 1px #ccc dashed;}
#seo-wrap .seo-wp-list li.noBord{ border:none; }
#seo-wrap .seo-wp-list li h3{ font-size: 18px;font-family: \5FAE\8F6F\96C5\9ED1;  font-weight: bold;}
#seo-wrap .seo-wp-list li p{ line-height: 26px; color: #666666;}
#seo-wrap .seo-wp-list li p a{ color:#eb7e00;}
#seo-wrap .seo-wp-list li p a:hover{color:#eb7e00;}
#seo-wrap .seo-wp-list li span.timer{ display: block; text-align: left;  padding-left: 22px; background: url(../../images/www/seo-data-icon.png) no-repeat left 3px;}
	/*SEO result end*/

#seo-wrap .seo-cont-l{ width:696px; float: left;}
#seo-wrap .seo-cont-r{ width:264px; float: right; padding-top: 42px;}
#seo-wrap .seo-cont-l .crumb{ padding-top:12px;}
#seo-wrap .seo-content{ border:1px #e0e0e0 solid; border-top:none; margin: 2px 0 20px 0;background: url("../../../images/korea/line-3.png") repeat-x scroll 0 0px; padding: 20px 27px;}
#seo-wrap .seo-ban img{ background: #e5e5e5; display: block;}
#seo-wrap .seo-content h3.keyword-tit{color:#808080; font-size: 18px; font-family: \5FAE\8F6F\96C5\9ED1; margin-top:10px; line-height: 50px; border-bottom: 1px #444444 dotted;  font-weight: bold;}
#seo-wrap .seo-content ul.keyword-list{ margin-bottom: 20px;}
#seo-wrap .seo-content ul.keyword-list li{ width:125px; margin-right:3px; display: inline; float: left; font-size: 14px; padding-top: 12px; }
#seo-wrap .seo-content ul.keyword-list li a{ display:block; line-height: 22px; padding-left: 3px; height: 22px; overflow: hidden;}
#seo-wrap .seo-content ul.keyword-list li a:hover{ color:#db000f;}
#seo-wrap .seo-ban img{ margin: 0 auto;}
#seo-wrap .seo-r-cont{ margin-top: 25px;}
#seo-wrap .seo-tit{ height: 23px; line-height: 22px; border-bottom:1px #333333 solid;}
#seo-wrap .seo-tit h2{ float: left; font-size: 14px; border-bottom:1px #333333 solid; width: 95px; font-weight: bold;}
#seo-wrap .seo-tit span{ float: right;}
#seo-wrap .seo-r-cont img{ background: #e5e5e5;}
#seo-wrap .seo-r-cont dl.infor{ padding-top: 15px;}
#seo-wrap .seo-r-cont dl.infor dt{ width: 100px; float: left; display:inline; margin-right: 10px;}
#seo-wrap .seo-r-cont dl.infor dt a{ width: 98px; height: 98px; border:1px #ddd solid; overflow: hidden; text-align: center;display: table-cell;vertical-align:middle;*display: block; *font-size: 87px;*font-family:Arial;}
#seo-wrap .seo-r-cont dl.infor dt img{max-width: 98px; max-height: 98px;vertical-align:middle;}
#seo-wrap .seo-r-cont dl.infor h3{ font-size: 14px; font-weight: bold; color: #333333;}
#seo-wrap .seo-r-cont dl.infor p{ line-height: 20px; padding-top: 2px; color: #999;}
#seo-wrap .seo-r-cont ul.seo-news{ padding-top: 5px;}
#seo-wrap .seo-r-cont ul.seo-news li{ overflow: hidden; zoom: 1; height: 26px;}
#seo-wrap .seo-r-cont ul.seo-news li em{ float: left;; padding-top: 6px; line-height: 20px; width: 12px; color: #ff0033; font-size: 14px; font-weight: bold;}
#seo-wrap .seo-r-cont ul.seo-news li a{line-height: 26px; }
#seo-wrap .seo-tourism{ margin-bottom: 20px;}
#seo-wrap .seo-r-cont ul.seo-pic-news{ padding-top: 5px;}
#seo-wrap .seo-r-cont ul.seo-pic-news li{ width:125px; float: left; display: inline; margin-right: 6px; margin-top: 4px; text-align: center;}
#seo-wrap .seo-r-cont ul.seo-pic-news li a.pic{ width:125px; height: 90px; overflow: hidden; text-align: center;display: table-cell;vertical-align:middle;*display: block; *font-size: 80px;*font-family:Arial;}
#seo-wrap .seo-r-cont ul.seo-pic-news li img{ max-width: 125px; max-height: 90px;vertical-align:middle;}