/*www base s*/
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.list-h li{float:left;}
img{vertical-align: top;}
.mt20{margin-top:20px;}
.vh{font-size:0;line-height: 0;overflow: hidden;}
.business{background-color: #eb7e00;}
/*www base e*/
/*全部商品分类 s*/
.all-cate{position:relative;float:left;height: 47px;line-height:47px;width:200px;background-color: #ff8808}
.all-cate h2{font-size: 14px;color:#fff;text-align:center;font-family: "\5FAE\8F6F\96C5\9ED1"}
.main-item{position: absolute;width: 200px;*font-size:0;}
.all-cate a{font-size: 12px;color:#333;font-family: "\5FAE\8F6F\96C5\9ED1"}
.all-cate a:hover{color:#F18100;text-decoration: underline;}
.all-cate li{height: 31px;line-height:28px;padding-left:48px;background: #FAFAFA;border:1px solid #FAFAFA;border-right:none;}
.all-cate .icon{display: inline-block;*display: inline;*zoom: 1;margin:6px 0 0 -36px;float:left;width: 22px;height: 22px;background-image:url(../../images/www/icon.png);_background-image:url(../../images/www/icon8.png);background-repeat:no-repeat;
	-webkit-transition: all ease-in .3s;
	-moz-transition: all ease-in .3s;
	-ms-transition: all ease-in .3s;
	-o-transition: all ease-in .3s;
	transition: all ease-in .3s;
}
.all-cate li:hover .icon{
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}
.all-cate .icon-book{background-position:0 0;}
.all-cate .icon-mobile{background-position:0 -50px;}
.all-cate .icon-game{background-position:0 -100px;}
.all-cate .icon-telephone{background-position:0 -150px;}
.all-cate .icon-laptop{background-position:0 -200px;}
.all-cate .icon-furniture{background-position:0 -250px;}
.all-cate .icon-clothes{background-position:0 -300px;}
.all-cate .icon-bag{background-position:0 -350px;}
.all-cate .icon-makeup{background-position:0 -400px;}
.all-cate .icon-ice-cream{background-position:0 -450px;}
.all-cate .icon-baby{background-position:0 -500px;}
.all-cate .icon-sport{background-position:0 -550px;}
.all-cate .icon-medical{background-position:0 -600px;}
.all-cate .item-odd{background-color:#F1F1F1;border-top:1px solid #F1F1F1;border-bottom: 1px solid #F1F1F1;}
.all-cate .sub_item{display:none;width:0;border:1px solid #ddd;min-height:427px;position: absolute;overflow:hidden;z-index:80;left:200px;top:0;margin-left:-1px;background-color: #fff;}
.all-cate dt a{font-size:18px;font-weight:700;color:#eb7e00;}
.all-cate dt a:hover{text-decoration: none;}
.all-cate dl{padding:8px 0 8px 0;margin-top:-1px;zoom:1;border-top:1px solid #F0F0F0;}
.all-cate dt{margin-bottom: -5px;}
.all-cate dd{overflow: hidden;}
.all-cate dd a{float: left;margin-right:15px;white-space: nowrap;font-family:\5B8B\4F53}
.all-cate .sub-wp{width:649px;overflow: hidden;}
.all-cate .sub-in{float:left;min-height:411px;_height:411px;width:378px;padding:0 0 15px 30px;line-height: 24px;background-color:#fff;}
.all-cate .main-cate{position:relative;z-index:100;height:31px;line-height:31px;margin-right:-2px;}
.all-cate .main-cate .arrow{position:absolute;display:none;top:10px;right:14px;width: 8px;height: 12px;font-size:0;line-height:0;overflow:hidden;background: url(../../images/www/icon.png) no-repeat scroll 0 -650px;_background-image:url(../../images/www/icon8.png)}
.all-cate .active,
.all-cate .open{height: 31px;line-height:28px;border:1px solid #E4E4E4;border-right:none;background:#fff;}
.all-cate .active .main-cate,
.all-cate .open .main-cate{background: #fff;}
.all-cate .active .arrow,
.all-cate .open .arrow{display: inline-block;*display: inline;*zoom: 1;}
.hot-brand{float:left;width:240px;padding-bottom:2000px;margin-bottom:-2000px;border-left:1px solid #EBEBEB;}
.hot-brand h4{padding:6px 0;font:700 14px/32px '\5FAE\8F6F\96C5\9ED1';}
.list-brand{overflow: hidden;}
.list-brand,
.hot-brand h4{margin:0 20px;zoom:1;}
.list-brand li{float:left;height:50px;width:100px;padding:0;border-top:1px solid #F0F0F0;border-left:1px solid #F0F0F0;margin-top:-1px;margin-left:-1px;background-color: #fff}
.list-brand li a{display:table-cell;vertical-align:middle;height:50px;width:100px;text-align:center;*display: block;*font-size:44px;}
.list-brand li img{vertical-align: middle;}
.hot-brand .brand-recommend{display:block;padding:20px 0 0 20px;}
/*全部商品分类 s*/