@red:#db000f;
@hover:#eb7e00;
@fff:#fff;
@c000:#000;
@c333:#333;
@c666:#666;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';
.mt20{margin-top: 20px;}
.ml20{margin-left: 20px;}
.mr20{margin-right: 20px;}
.mb20{margin-bottom: 20px;}
a{ color: #333;}
a:hover{ color: #333;}
html,body{ height: 100%;}
.key-bord{ border: 1px #d4d4d4 solid;}
.r-bord{ border: 1px #ededed solid;}
/*----@breakcrumb s----*/
.breadcrumb{font-family:\5b8b\4f53;}
.breadcrumb a,
.breadcrumb span{color:#999;}
.breadcrumb .reci-keyword{color:#333;}
/*----@breakcrumb e----*/

.hot-category,
.word-category,
.hot-words{border:1px solid #E4E4E4;margin-bottom: 10px;}

/*----@hot-category s----*/
.hot-category li{height: 34px;line-height:34px;float:left;width: 112px;border-right:1px solid #E4E4E4;}
.hot-category li a{display:block;text-align: center;color:#333;font-size:14px;}
.hot-category .cur a{line-height:35px;border-bottom:2px solid #f18100;margin-top: -2px}
/*----@hot-category e----*/

/*----@word-category s----*/
.word-category{padding-left:10px;height:34px;line-height: 34px;}
.word-category a{color:#f18100;text-decoration: underline;padding:0 8px;border-right:1px solid #000;}
/*----@word-category e----*/

.hot-words{padding:10px;}
.hot-words li{float:left;height:28px;line-height:28px;width:25%;text-indent:2em;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.hot-words li a{color:#323232;}
.hot-words li a:hover{color:#F18100;}

.page-num a{border:1px solid #E4E4E4;padding:2px 7px;color:#323232;}
.page-num a:hover{border-color:#f18100;color:#F18100;}

.seo-l{ width: 660px;}
.seo-r{ width: 300px; }
.keywords{ border: 1px #d4d4d4 solid; background: @fff;}
.keywords .key-item{ border-left: 2px #f1493c solid; margin-left: -1px; height: 215px; padding: 10px 10px 10px 15px;}
.key-item dt,
.key-tit{ font-size: 18px; font-family: @yahei; line-height: 28px; font-weight: bold;}
.key-item .pic-w,
.key-ul .pic-w{ width: 160px; height: 160px; float: left; text-align: center;}
.pic-text-w{ width: 390px; float: left;}
.key-item .pic-w{ margin-right: 10px;}
.key-item .pic img,
.key-ul .pic img{max-width: 160px; max-height: 160px;}
.key-item dd{ margin-top: 10px;}
.key-item .text{   margin-left: 10px; height: 170px; overflow: hidden;}
.key-item .text h3,
.key-ul .text h3{ font-size: 14px; height: 22px; overflow: hidden; font-weight: bold; line-height: 22px; font-family: @yahei;}
.key-item .text h3 a,
.key-ul .text h3 a{ color: #464646;}
.key-item .text p,
.key-ul .text p{ padding-top: 10px; line-height: 20px; color:@c666; text-indent: 2em; overflow: hidden; height: 125px; }
.key-item .news{ width: 230px; float: right; _display: inline; border-left: 1px #d4d4d4 solid;}
.key-item .news li{ line-height: 29px; overflow: hidden; height: 29px; padding-left: 32px;}
.key-item .news li span{ width: 32px; height: 28px; float: left; margin-left: -32px; _display: inline; text-align: center; border-bottom: 1px #efefef solid; font-style: italic; font-size: 14px; font-family: @yahei; color: #bfbfbf;}
.key-item .news li .cl{ color: #f1493c;}

.key-ul{ }
.key-ul li{ padding: 24px 15px;  overflow: hidden; *zoom:1; border-top:1px #d4d4d4 solid; background: #fafafa; }
.key-ul .pic-w{ margin-right: 10px;}

/*key pic s*/
.keywords-pic{ border-left: 2px #ffa906 solid; padding: 10px 15px;}
.keywords-pic .key-picul{ margin-right: -15px; padding-top: 15px;}
.keywords-pic .key-picul li{ width: 144px; float: left; margin-right: 16px;}
.keywords-pic .key-picul .pic{ width: 142px; height: 142px; text-align: center; border: 1px #ddd solid;}
.keywords-pic .key-picul .pic a{ width: 142px; height: 142px; display: table-cell;  vertical-align:middle; *display: block; *font-size: 94px;  *font-family:Arial;}
.keywords-pic .key-picul .pic img{max-width: 142px; max-height: 142px; vertical-align:middle;}
.keywords-pic .key-picul .text{ line-height: 24px; height: 24px; overflow: hidden; text-align: center;}
/*key pic e*/
/*key video s*/
.keywords-video{ border-left: 2px #68be23 solid; padding: 10px 15px;}
.keywords-video .key-picul{ margin-right: -15px; padding-top: 15px;}
.keywords-video .key-picul li{ width: 192px; float: left; margin-right: 22px; _display: inline;}
.keywords-video .key-picul .pic{ width: 192px; height: 142px; text-align: center; border: 1px #ddd solid;}
.keywords-video .key-picul .pic a{ width: 192px; height: 142px; display: table-cell;  vertical-align:middle; *display: block; *font-size: 94px;  *font-family:Arial;}
.keywords-video .key-picul .pic img{max-width: 192px; max-height: 142px; vertical-align:middle;}
.keywords-video .key-picul .text{ line-height: 24px; height: 24px; overflow: hidden; text-align: center;}
/*key video e*/
/*key goods s*/
.keywords-goods{ border-left: 2px #ff9e06 solid; padding: 10px 15px;}
.goods-ul{ margin-right: -16px;padding-bottom: 10px;}
.goods-ul li{ float: left; _display: inline; width: 142px; height: 260px; background: #fafafa; border: 1px #ebebeb solid; margin:20px 16px 0 0;}
.goods-ul .pic{ width: 100%; height: 142px; text-align: center; background: #fff; border-bottom: 1px #ebebeb solid; overflow: hidden;}
.goods-ul .pic a{width: 142px; height: 142px; display: table-cell;  vertical-align:middle; *display: block; *font-size:125px;  *font-family:Arial;}
.goods-ul .pic img{max-width: 142px; max-height: 142px;vertical-align:middle;}
.goods-ul .tit{ padding: 2px 8px; line-height: 22px; max-height: 44px; overflow: hidden; _height:44px; color: @c666;}
.goods-ul .price{ padding: 2px 8px; font-family: 12px; overflow: hidden; height: 20px; line-height: 20px; font-family: @yahei; color: @c666;}
.goods-ul .price b{ float: right;}
.goods-ul .price i{ font-style: normal; color: @c999; font-size: 10px; font-weight: normal;}
.goods-ul .com{ height: 12px; overflow: hidden; font-family: @yahei; line-height: 12px; padding: 2px 8px;}
.goods-ul .com i{ font-style:normal; color: @c999; margin-left: 5px;}
.goods-ul .com .star{ width: 55px; height: 12px; background: url("../../../images/www/seoTopic/_sprite/star-01.png?__sprite") no-repeat; float: left; position: relative;}
.goods-ul .com .star span{ height: 12px; background: url("../../../images/www/seoTopic/_sprite/star-02.png?__sprite") no-repeat; position: absolute; left: 0;}
.goods-ul .goods-bj{ color: @c999; padding: 0 8px;}
/*key goods e*/
/*全球动态s*/
.qq-news h2{ background: #fafafa; height: 38px; line-height: 38px; border-bottom: 1px #ededed solid;}
.qq-news h2 b{ width: 90px; display: block; height: 39px; background: #fff; position: relative; text-align: center; font-size: 14px; border-right:1px #ededed solid;}
.qq-news .news-main{ padding: 20px;}
.qq-news .text-dl dt{ font-size: 14px; height: 18px; overflow: hidden; line-height: 18px; margin-bottom: 10px;}
.qq-news .text-dl dt span{background: url("../../../images/www/seoTopic/_sprite/tuijian.png?__sprite") no-repeat; width: 31px; height: 15px; float: left; margin-right: 10px; margin-top: 2px;}
.qq-news .text-dl dt a{ color: #ff7800; font-weight: bold; float: left;}
.qq-news .text-dl dd{ line-height: 30px; background: url("../../../images/www/seoTopic/_sprite/icon-01.png?__sprite") no-repeat left center; height: 30px; padding-left: 8px;}
.qq-news .text-dl dd a{ color: #0d488c;}
.qq-news .pic-ul{ margin-right: -30px; padding-top: 10px;}
.qq-news .pic-ul li{ width: 120px; margin-right: 15px; float: left; display: inline; position: relative; height: 120px; border: 1px #ddd solid;}
.qq-news .pic-ul .pic{ width: 120px; height: 120px; text-align: center;display: table-cell;  vertical-align:middle; *display: block; *font-size:64px;  *font-family:Arial;}
.qq-news .pic-ul .pic img{max-width: 120px; max-height: 120px;vertical-align:middle;}
.qq-news .pic-ul .text{ height: 24px; line-height: 24px; overflow: hidden;  position: absolute; bottom: 0; width: 100%; background: #000; opacity: 0.6; filter:alpha(opacity=60); text-align: center; }
.qq-news .pic-ul .text a{ color: #fff;}
/*全球动态e*/
/*图文焦点s*/
.pictext-fous h2{ background: #ffefe0; margin: -1px; line-height: 30px; height: 30px; border-bottom: 1px #eddac9 solid; padding-left: 12px; font-weight: bold; font-size: 14px;}
.pictext-fous .pic-items{ padding: 0 0 10px 8px;}
.pictext-fous .pic-items li{ width: 120px; float: left; _display: inline; margin: 15px 10px 0;}
.pictext-fous .pic-items .pic{ width: 120px; height: 120px; border: 1px #ddd solid; overflow:hidden; text-align: center;display: table-cell;  vertical-align:middle; *display: block; *font-size:64px;  *font-family:Arial;}
.pictext-fous .pic img{max-width: 120px; max-height: 120px;vertical-align:middle;}
.pictext-fous .pic-items .text{ text-align: center; line-height: 24px;}
.pictext-fous .pic-items .text a{ color: #0d488c;}
/*图文焦点e*/
/*社会推荐s*/
.recommend{ padding: 0 20px 10px;}
.recommend h2,
.text-recommend h2{ line-height: 40px; border-bottom: 1px #ededed solid; font-weight: bold; font-size: 14px;}
.recommend ul{ padding: 5px 0;}
.recommend ul li{ line-height: 26px; height: 26px; overflow: hidden;background: url("../../../images/www/seoTopic/_sprite/icon-02.png?__sprite") no-repeat left center; padding-left: 10px;}
/*社会推荐e*/
/*关键字推荐s*/
.text-recommend h2{ padding-left: 20px;}
.re-keywords{ margin: -1px 0px 0 -1px; background: #fdfaf8;}
.re-keywords a{ width: 90px; padding: 0 4px; overflow: hidden; float: left; height:38px; line-height: 38px; text-align: center; background: #fdfaf8; border-left:1px #e6e6e6 solid; border-top:1px #e6e6e6 solid;}
/*关键字推荐e*/

