/***Layout -Start- gaotian - 20131119***/
.wp{width:980px;margin:0 auto;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,.clear-fix:before{content:" ";display:table;}.clear-fix:after{clear:both;}.clear-fix{*zoom:1;}
.list-h li{float:left;}
img{vertical-align: top;}
.mt4{margin-top:4px;}
.mt6{margin-top:6px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt20{margin-top:20px;}
.mt50{margin-top:50px}
.mb20{margin-bottom:20px}
.pz{position:relative;z-index:0}
.txt-center{text-align:center}
.bord,.zdm-brd{ border:1px #dedede solid;}
a{color:#333}
a:hover{color:#EB7E00}
u,s,small{font-style:normal;font-size:12px;text-decoration:none}
/*header s*/
.nav-list li,.nav-list li a{ width: 112px;}
.header-rearch-submit,.header-nav-box{background:#0fb996}
.header-nav-back s{border-left-color:#0fb996}
.header-nav-box li{border-color:#00ac8a}
.header-nav-box li a:hover{background-color:#00ac8a}
/*header e*/
/***Layout -End- zibu - 20131119***/
.bg-in{color:#333;}
.bg-in .tip-korea-head{ display: none !important;}
/*header s*/
.zdm-icon{  background-image: url(../../../images/jiagebaogao/v3/search-btn.png); background-repeat: no-repeat;}
.header-rearch-submit{  background: #0bcea6;font-size: 14px; font-weight:bold; text-align: center;}
.header-rearch-submit:hover{ background: #07be8d; color: #fff;}
.header .search-bar{ background: #0fb996;}
.header .search-tools .header-search-content{ border:none; }
.search-bar .wp{overflow:hidden; zoom:1; height: 47px;}
.nav-list{ margin-left: 0px;}
.nav-list li{ width: 112px; background: none; font-size: 14px; padding: 0; }
.nav-list li.cur,
.nav-list li:hover{margin-left:0px;padding-left:0px;}
.nav-list li a{ display: block; border-left: 1px #00ac8a solid; color: #fff; font-size: 14px;}
.nav-list li a:hover{background-color: #00ac8a;}
.nav-list li.cur a{ color: #333; background: #fff; position: relative;}
.back-home{ width: 196px; height: 47px; float: left; line-height: 47px; font-size: 14px; font-family:\5FAE\8F6F\96C5\9ED1;}
.back-home a{ color: #fff; display: block; background-color: #00ac8a; padding-left: 78px;height: 47px; background-position: -110px 13px;}
.back-home a:hover{ background-color: #00ac8a; color: #fff;}
.header-nav-back .icon{ background: none;}
.header-nav-back s{border-left-color:#0fb996}
.zdm-slogin,
.life-slogin,
.find-slogin,
.ts-slogin{ width: 130px; height: 47px; float: right;}
.zdm-slogin{background-position: right -24px;}
.life-slogin{background-position: right -115px;}
.find-slogin{background-position: right -211px;}
.ts-slogin{background-position: right -163px;}
.search-tools .header-search-key{border: 1px solid #c8c8c8; border-right: none;}
/*header e*/
/***Head -End- zibu - 20131119***/
/***Crumb -Start- zibu - 20131119***/
.crumb{color:#999;  padding: 10px 0px; line-height: 22px;}
.crumb{ padding: 10px 0px; line-height: 22px;}
.crumb strong{ color: #333;}
.crumb h2 em{ color: #e43b5a;}
.crumb span{ color: #999999;}
.crumb a,
.crumb h2{ color: #999999;}
/***Crumb -End- zibu - 20131119***/
/***com -s- zibu - 20131211***/
.bj-main{ width: 742px;}
.bj-aside{ width: 218px;}
.icon{ background: url(../../../images/jiagebaogao/v3/bg-icon.png); _background: url(../../../images/jiagebaogao/v3/bg-icon8.png); background-repeat: no-repeat;}
.bg-tit h2{ width: 218px; height: 45px; position: relative; left:-1px; top: -1px;}
.bg-tit .tit-gb1{ background-position: left top;}
.line-de{  width:600px; margin:0 auto;height: 5px; border-bottom: 1px #e4e4e4 dashed; overflow: hidden;}
/***com -e- zibu - 20131211***/
/*jigebaogao main e*/
.jgbg-mian{ width: 600px; margin: 0 auto;}

.hot-goods{ margin-bottom: 20px;}
.goods-tiems{ padding: 10px 10px 0;}
.goods-tiems dt{ height: 20px; line-height: 20px; overflow: hidden; }
.goods-tiems dt em{ width: 20px; height: 20px; background: #d0d0d0; margin-right: 5px; _display: inline; float: left; text-align: center; color: #fff;
				 -webkit-border-radius:50% 50%;
				 -moz-border-radius:50% 50%;
				 -ms-border-radius:50% 50%;
				 -o-border-radius:50% 50%;
				 border-radius:50% 50%;}
.goods-tiems dt .bg{ background: #fe8d3a;}
.goods-tiems dt a{ float: left; line-height: 16px; height: 16px; overflow: hidden; text-overflow:ellipsis; width: 170px; color: #666666;}
.goods-tiems dt a:hover{ color: #f18100;}
.goods-tiems dd{ display:none;}
.goods-tiems .rank-pic{margin-top: 10px;}
.goods-tiems .rank-pic .pic img{ float: right; width: 60px; height: 60px; margin-top: 15px;}
.goods-tiems .rank-pic p{ line-height: 18px; text-indent: 2em; color:#999;}
.goods-tiems .rank-pic{ padding: 8px 0; border-top: 1px #ddd dotted; border-bottom: 1px #ddd dotted;}
.goods-tiems .rank-pic ul{ float: left; width: 135px;}
.goods-tiems .rank-pic li{ overflow: hidden; *zoom:1; height: 25px; line-height: 25px; padding: 2px 0;}
.goods-tiems .rank-pic li img{ float: left; width: 56px; height: 25px;}
.goods-tiems .rank-pic li span{ float: left;font-family:\5fae\8f6f\96c5\9ed1,"Tahoma"; color: #666666;}
.gustiry-low .goods-tiems dt .bg{ background: #11b8b1;}
.bg-tit .tit-gb2{ background-position: left -52px;}

.g-picre06{ margin-top: 30px;}
.g-picre07{ margin-top: 15px; position: relative;}
.g-picre07 ul{ margin-left: -15px;}
.g-picre07 ul li{ width: 190px; height: 128px; float: left; margin-left: 15px;}
.g-picre07 ul li img{ width: 190px; height: 128px;}

.jg-p1{position:relative;z-index:0;height:476px;margin-top:50px;background:url(../../../images/jiagebaogao/201403/jg-p1.png) no-repeat;}
.jg-p2{height:688px;margin-top:30px;background:url(../../../images/jiagebaogao/201403/jg-p2.png) no-repeat;}
.jg-p3{height:616px;background:url(../../../images/jiagebaogao/201403/jg-p3.png) no-repeat;}
.jg-p4{height:483px;background:url(../../../images/jiagebaogao/201403/jg-p4.png) no-repeat;}
.jg-p5{height:467px;background:url(../../../images/jiagebaogao/201403/jg-p5.png) no-repeat;}
.jg-p6{margin-top:30px;padding:94px 42px 44px 32px;border-bottom:4px solid #f0e6dc;background:#faf7f4 url(../../../images/jiagebaogao/201403/jg-p6.png) no-repeat 0 0;}
.pie-wp{width:100%;position:relative;z-index:0;height:614px;}
.jg-p7{margin-top:30px;height:388px;background:url(../../../images/jiagebaogao/201403/jg-p7.png) no-repeat;}
.jg-r{position:absolute;
    -webkittransition:all 1s ease;
    -moz-transition:all 1s ease;
    -ms-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transform-origin:50% 100%;
    -moz-transform-origin:50% 100%;
    -ms-transform-origin:50% 100%;
    -o-transform-origin:50% 100%;
    transform-origin:50% 100%;
}
.jg-r1{left:27px;bottom:47px;width:47px;height:87px;background:url(../../../images/jiagebaogao/201403/jg-r1.png) no-repeat;}
.jg-r2{left:125px;bottom:56px;width:57px;height:91px;background:url(../../../images/jiagebaogao/201403/jg-r2.png) no-repeat;}
.jg-r3{left:223px;bottom:57px;width:79px;height:170px;background:url(../../../images/jiagebaogao/201403/jg-r3.png) no-repeat;}
.jg-r4{left:324px;bottom:62px;width:112px;height:238px;background:url(../../../images/jiagebaogao/201403/jg-r4.png) no-repeat;}
.jg-r5{left:466px;bottom:64px;width:123px;height:289px;background:url(../../../images/jiagebaogao/201403/jg-r5.png) no-repeat;}
.animate .jg-r{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
}
.jg-sj{width:418px;padding:93px 0 0 163px;}
.jg-sj li{width:100%;overflow:hidden;zoom:1;}
.jg-sj li i{float:left;font-style:normal;font:16px/50px '\5FAE\8F6F\96C5\9ED1';}
.jg-li{float:left;height:50px;margin-right:10px;
    -webkittransition:all 1s ease;
    -moz-transition:all 1s ease;
    -ms-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
}
.jg-li1{width:0;height:49px;background-color:#e46c61;}
.jg-li2{width:0;background-color:#ff7300;}
.jg-li3{width:0;background-color:#fcaf01;}
.jg-li4{width:0;background-color:#bdc500;}
.jg-li5{width:0;height:52px;background-color:#5082bf;}
.jg-sj li i.jg-c1{color:#e46c61;line-height:49px;}
.jg-sj li i.jg-c2{color:#ff7300;}
.jg-sj li i.jg-c3{color:#fcaf01;}
.jg-sj li i.jg-c4{color:#bdc500;}
.jg-sj li i.jg-c5{color:#5082bf;line-height:52px;}
.animate .jg-li1{width:68%;}
.animate .jg-li2{width:14%;}
.animate .jg-li3{width:11%;}
.animate .jg-li4{width:4%;}
.animate .jg-li5{width:3%;}
.jg-pie{position:absolute;top:116px;left:85px;width:411px;height:411px;}
.pie{position:absolute;z-index:5;top:0;left:0;width:411px;height:411px;opacity:0;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -ms-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
    -webkit-transition:all 0.04s ease;
    -moz-transition:all 0.04s ease;
    -ms-transition:all 0.04s ease;
    -o-transition:all 0.04s ease;
    transition:all 0.04s ease;
}
.pie-0{background:url(../../../images/jiagebaogao/201403/chart/pie-0.png) no-repeat;}
.pie-1{background:url(../../../images/jiagebaogao/201403/chart/pie-1.png) no-repeat;transition-delay:0.04s;}
.pie-2{background:url(../../../images/jiagebaogao/201403/chart/pie-2.png) no-repeat;transition-delay:0.08s;}
.pie-3{background:url(../../../images/jiagebaogao/201403/chart/pie-3.png) no-repeat;transition-delay:0.12s;}
.pie-4{background:url(../../../images/jiagebaogao/201403/chart/pie-4.png) no-repeat;transition-delay:0.16s;}
.pie-5{background:url(../../../images/jiagebaogao/201403/chart/pie-5.png) no-repeat;transition-delay:0.20s;}
.pie-6{background:url(../../../images/jiagebaogao/201403/chart/pie-6.png) no-repeat;transition-delay:0.24s;}
.pie-7{background:url(../../../images/jiagebaogao/201403/chart/pie-7.png) no-repeat;transition-delay:0.28s;}
.pie-8{background:url(../../../images/jiagebaogao/201403/chart/pie-8.png) no-repeat;transition-delay:0.32s;}
.pie-9{background:url(../../../images/jiagebaogao/201403/chart/pie-9.png) no-repeat;transition-delay:0.36s;}
.pie-10{background:url(../../../images/jiagebaogao/201403/chart/pie-10.png) no-repeat;transition-delay:0.40s;}
.pie-11{background:url(../../../images/jiagebaogao/201403/chart/pie-11.png) no-repeat;transition-delay:0.44s;}
.pie-12{background:url(../../../images/jiagebaogao/201403/chart/pie-12.png) no-repeat;transition-delay:0.48s;}
.pie-13{background:url(../../../images/jiagebaogao/201403/chart/pie-13.png) no-repeat;transition-delay:0.52s;}
.pie-14{background:url(../../../images/jiagebaogao/201403/chart/pie-14.png) no-repeat;transition-delay:0.56s;}
.pie-15{background:url(../../../images/jiagebaogao/201403/chart/pie-15.png) no-repeat;transition-delay:0.60s;}
.pie-16{background:url(../../../images/jiagebaogao/201403/chart/pie-16.png) no-repeat;transition-delay:0.64s;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    -ms-transition-duration:0.2s;
    -o-transition-duration:0.2s;
    transition-duration:0.2s;
}
.animate .pie{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    opacity:1;
}
.pie-txt{position:absolute;z-index:-1px;opacity:0;
    -webkit-transition:all 0.16s ease 0.84s;
    -moz-transition:all 0.16s ease 0.84s;
    -ms-transition:all 0.16s ease 0.84s;
    -o-transition:all 0.16s ease 0.84s;
    transition:all 0.16s ease 0.84s;
}
.pie-txt1{top:519px;left:300px;width:73px;height:95px;background:url(../../../images/jiagebaogao/201403/chart/pie-t1.png) no-repeat;}
.pie-txt2{top:436px;left:43px;width:86px;height:127px;background:url(../../../images/jiagebaogao/201403/chart/pie-t2.png) no-repeat;}
.pie-txt3{top:350px;left:32px;width:61px;height:87px;background:url(../../../images/jiagebaogao/201403/chart/pie-t3.png) no-repeat;}
.pie-txt4{top:269px;left:28px;width:63px;height:64px;background:url(../../../images/jiagebaogao/201403/chart/pie-t4.png) no-repeat;}
.pie-txt5{top:204px;left:28px;width:84px;height:45px;background:url(../../../images/jiagebaogao/201403/chart/pie-t5.png) no-repeat;}
.pie-txt6{top:143px;left:0px;width:123px;height:66px;background:url(../../../images/jiagebaogao/201403/chart/pie-t6.png) no-repeat;}
.pie-txt7{top:125px;left:62px;width:97px;height:75px;background:url(../../../images/jiagebaogao/201403/chart/pie-t7.png) no-repeat;}
.pie-txt8{top:73px;left:64px;width:100px;height:102px;background:url(../../../images/jiagebaogao/201403/chart/pie-t8.png) no-repeat;}
.pie-txt9{top:44px;left:120px;width:76px;height:121px;background:url(../../../images/jiagebaogao/201403/chart/pie-t9.png) no-repeat;}
.pie-txt10{top:0px;left:158px;width:49px;height:136px;background:url(../../../images/jiagebaogao/201403/chart/pie-t10.png) no-repeat;}
.pie-txt11{top:63px;left:192px;width:47px;height:68px;background:url(../../../images/jiagebaogao/201403/chart/pie-t11.png) no-repeat;}
.pie-txt12{top:5px;left:221px;width:47px;height:119px;background:url(../../../images/jiagebaogao/201403/chart/pie-t12.png) no-repeat;}
.pie-txt13{top:4px;left:257px;width:78px;height:115px;background:url(../../../images/jiagebaogao/201403/chart/pie-t13.png) no-repeat;}
.pie-txt14{top:47px;left:274px;width:65px;height:76px;background:url(../../../images/jiagebaogao/201403/chart/pie-t14.png) no-repeat;}
.pie-txt15{top:78px;left:286px;width:114px;height:46px;background:url(../../../images/jiagebaogao/201403/chart/pie-t15.png) no-repeat;}
.pie-txt16{z-index:10;top:142px;left:389px;width:136px;height:81px;background:url(../../../images/jiagebaogao/201403/chart/pie-t16.png) no-repeat;}
.animate .pie-txt{opacity:1;}
/***电商价格战 -End- zibu - 20140106***/
