
body{ color:#666; line-height: 1.7;}
a{color:#666; cursor: pointer;}
a:hover{color:#eb7e00; }
strong{font-weight: bold;}
.text-cent,
.text-center{text-align: center;}
.gray{color:#999;}
.orange{ color:#eb7e00;}
.img-con img{ min-height: 100%;min-width: 100%;}
.zdm-brd{ border:1px #dedede solid;}
.zdm-marb{ margin-bottom: 20px; position: relative;}
.zdm-in .tip-korea-head{ display: none !important;}
/*header s*/
.header-rearch-submit,
.header-nav-box{background:#E43B5A}
.header-rearch-submit:hover{background-color: #D72237}
.header-nav-back s{border-left-color:#E43B5A}
.header-nav-box li{border-color:#ED6990}
.header-nav-box li a:hover{background-color:#BD1A3A}
.header-nav-back .icon{ background: none;}

.zdm-icon{  background-image: url(../../images/zdm/v2/search-btn.png); background-repeat: no-repeat;}
.header .search-bar{ background: #e43b5a;}
.header .search-tools .header-search-content{ border:2px solid #e43b5a; }
.search-bar .wp{overflow:hidden; zoom:1; height: 47px;}
.nav-list{ margin-left: 0px;}
.nav-list li{ width: 92px; background: none; font-size: 14px; padding: 0; }
.nav-list li.cur,
.nav-list li:hover{margin-left:0px;padding-left:0px;}
.nav-list li a{ display: block; border-left: 1px #ed6990 solid; color: #fff; font-size: 14px;}
.nav-list li a:hover{background-color: #bd1a3a;}
.nav-list li.cur a{ color: #333; background: #fff; position: relative;}
.back-home{ width: 196px; height: 47px; float: left; line-height: 47px; font-size: 14px; font-family:\5FAE\8F6F\96C5\9ED1;}
.back-home a{ color: #fff; display: block; padding-left: 78px;height: 47px; background-position: -110px 13px;}
.back-home a:hover{ background-color: #bd1a3a; color: #fff;}
.zdm-slogin,
.life-slogin,
.find-slogin,
.ts-slogin{ width: 130px; height: 46px; float: right;}
.zdm-slogin{background-position: right -24px;}
.life-slogin{background-position: right -115px;}
.find-slogin{background-position: right -211px;}
.ts-slogin{background-position: right -163px;}
/*header e*/
.zdm-w{ position: relative; margin: 20px auto;}
/*Filter class s*/
.icon,.filter-class dd a,.zdm-slider .nums a{background-image: url(../../images/zdm/v2/zdm-icon.png);_background-image: url(../../images/zdm/v2/zdm-icon8.png); background-repeat: no-repeat;}
.filter-bg1 dd a{background-image: url(../../images/zdm/v2/filterbg-icon.png);_background-image: url(../../images/zdm/v2/filterbg-icon8.png);}
.filter-class{ width: 112px; height: 336px; background: #fff; border:1px #d9d9d9 solid; position: absolute; top: 0;left: -132px;}
.filter-fix{position:fixed; left: 50%; top: 10px; margin-left: -622px;}
.filter-class dt{ line-height: 34px; padding-left: 36px; background-position: left top; font-size: 14px; font-family:\5FAE\8F6F\96C5\9ED1;}
.filter-class dd{ padding: 14px 10px 0; height: 20px; overflow: hidden;}
.filter-class dd a{ height: 20px; line-height: 16px; display: block; padding-left: 26px; font-size: 14px; font-family:\5FAE\8F6F\96C5\9ED1;}
.filter-class a.cur,
.filter-class dd a:hover{ color: #e43b5a;}
.filter-class .cl0 a{ background-position: left -50px;}
.filter-class .cl0 a.cur,
.filter-class .cl0 a:hover{ background-position: -180px -50px;}
.filter-class .cl1 a{ background-position: left -84px;}
.filter-class .cl1 a.cur,
.filter-class .cl1 a:hover{ background-position: -180px -84px;}
.filter-class .cl2 a{ background-position: left -123px;}
.filter-class .cl2 a.cur,
.filter-class .cl2 a:hover{ background-position: -180px -123px;}
.filter-class .cl3 a{ background-position: left -156px;}
.filter-class .cl3 a.cur,
.filter-class .cl3 a:hover{ background-position: -180px -156px;}
.filter-class .cl4 a{ background-position: left -193px;}
.filter-class .cl4 a.cur,
.filter-class .cl4 a:hover{ background-position: -180px -193px;}
.filter-class .cl5 a{ background-position: left -229px;}
.filter-class .cl5 a.cur,
.filter-class .cl5 a:hover{ background-position: -180px -229px;}
.filter-class .cl6 a{ background-position: left -264px;}
.filter-class .cl6 a.cur,
.filter-class .cl6 a:hover{ background-position: -180px -264px;}
.filter-class .cl7 a{ background-position: left -302px;}
.filter-class .cl7 a.cur,
.filter-class .cl7 a:hover{ background-position: -180px -302px;}

/*zibu 20140109 14:30*/
.filter-class dd .fsxb{ background-position: left -50px;}
.filter-class dd .fsxb:hover,
.filter-class dd .fsxb.cur{ background-position: -180px -50px;}
.filter-class dd .smjd{ background-position: left -84px;}
.filter-class dd .smjd:hover,
.filter-class dd .smjd.cur{ background-position: -180px -84px;}
.filter-class dd .jjry{ background-position: left -123px;}
.filter-class dd .jjry.cur,
.filter-class dd .jjry:hover{ background-position: -180px -123px;}
.filter-class dd .hfmr{ background-position: left -156px;}
.filter-class dd .hfmr.cur,
.filter-class dd .hfmr:hover{ background-position: -180px -156px;}
.filter-class dd .mywj{ background-position: left -193px;}
.filter-class dd .mywj.cur,
.filter-class dd .mywj:hover{ background-position: -180px -193px;}
.filter-class dd .ysnn{ background-position: left -229px;}
.filter-class dd .ysnn.cur,
.filter-class dd .ysnn:hover{ background-position: -180px -229px;}
.filter-class dd .whty{ background-position: left -264px;}
.filter-class dd .whty.cur,
.filter-class dd .whty:hover{ background-position: -180px -264px;}
.filter-class dd .xxyl{ background-position: left -302px;}
.filter-class dd .xxyl.cur,
.filter-class dd .xxyl:hover{ background-position: -180px -302px;}
/*zibu 20140109 14:30*/
/*Filter class e*/
/*main s*/
.zdm-main{ width: 742px;}
.zdm-slider{ height: 295px; overflow: hidden; width: 742px; position: relative; display: none;}
.zdm-slider img{ display: block;}
.zdm-slider ul{position: relative; height: 100%;}
.zdm-slider ul li{ float: left; width: 742px;}
.zdm-slider .nums{ float: right; position: relative; margin: -30px 20px 0 0;}
.zdm-slider .nums a{float:left;margin-left:6px;font-size:0;line-height:0;overflow:hidden;height:12px;width:12px;cursor: pointer;background-position:0 -509px;}
.zdm-slider .nums a:hover,
.zdm-slider .nums .cur{background-position:0 -482px;}
.zdm-aside{ width: 218px; }
.zdm-items{padding-bottom: 20px;}
.zdm-items li{ border-bottom: 1px #ddd dashed; padding-bottom: 20px;}
.zdm-items li:hover{ background: #f7f7f7;}
.zdm-main .loading {height: 40px;background: url(../../images/zdm/v2/loading.gif) no-repeat center center;}
.zdm-item{ padding: 20px 220px 5px 20px; width: 500px;}
.zdm-item dt{ float: right; margin-right: -200px; *right: -20px; _display: inline; zoom:1; width: 180px; height: 180px; position: relative;}
.zdm-item dt a.pic{ width: 180px; height: 180px; overflow: hidden; text-align: center; display: table-cell;display: block\9; vertical-align:middle; *display: block; *font-size: 157px; *font-family:Arial;}
.zdm-item dt a.pic img{ max-width: 180px; max-height: 180px; vertical-align:middle;}
.zdm-item dt .zdm-expd{ position: absolute; width: 180px; height: 76px; top:20px; background: url(../../images/zdm/v2/expired-icon.png) no-repeat;_background:none;
                      _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/zdm/v2/expired-icon.png");}
.zdm-item dt span{ width: 180px; height: 35px; position: absolute; left: 0; bottom: 0; display: none; line-height: 35px; text-align: center; background: #000; opacity: 0.5;filter: alpha(opacity=50);}
.zdm-item dt span a{ color: #fff;}
.zdm-item dd h2{ font-size: 20px; color:#333;font-family:\5FAE\8F6F\96C5\9ED1; font-weight: bold; overflow: hidden; }
.zdm-item dd h2 .zd{ width: 55px; height: 22px; background: url("../../images/zdm/v2/zd-icon.gif") no-repeat left 0; float: left; margin: 6px 5px 0 0;}
.zdm-item dd h2 a{ }
.zdm-item dd h2 a span{ color: #ff0000;}
.zdm-item dd em,
.zdm-item dd strong{ color: #e43b5a; font-weight: bold;}
.zdm-item dd strong{ display: block; font-size: 16px;font-family:\5FAE\8F6F\96C5\9ED1;}
.zdm-item dd .text{ padding-top: 10px;line-height: 22px; text-indent: 2em;}
.zdm-item dd .tx-me{ background: #f7f7f7 ; border:1px #dedede solid; line-height: 20px; padding:2px 5px;  margin-top: 10px;}
.zdm-item dd .tx-me a{ background-position: 12px -631px; padding-left: 30px; color: #000;}
.zdm-info{ padding: 0 5px; color: #e6e6e6; overflow: hidden; zoom:1;}
.zdm-info span,
.zdm-info strong a{ margin:0 2px 0 12px; height: 14px; line-height: 14px; display: inline-block; padding-left: 20px;color: #666; }
.zdm-info strong{ font-weight: normal;}
.zdm-info span em{ color: #999}
.zdm-info span { margin-top: 6px;}
.zdm-info .i-author{ background-position: left -362px;}
.zdm-info .i-date{ background-position: left -390px;}
.zdm-info .i-praise a{ background-position: left -419px;}
.zdm-info .i-praise a.cur{ background-position: left -537px;}
.zdm-info .i-comment{ background-position: left -448px;}
.zdm-info .i-class{ background-position: left -666px;}
#zdm-share{ float: right; padding-right: 15px; height: 24px; overflow: hidden; font-size: 12px;}
#zdm-share em{ float: left; margin-top: 2px; background-position: 90px -600px; padding-right: 14px; color: #666; display: inline-block;}
#zdm-share a{ width: 24px; height: 24px; margin-right: 0px; float: left; display: inline; margin-left: 2px; padding: 0px;}
#zdm-share a img{ display: block; vertical-align: top;}
#zdm-share .bshare-qzone,
#cloud-share .bshare-qzone{ background: url(../../images/zdm/v2/share_01.jpg) no-repeat;}
#zdm-share .bshare-sinaminiblog,
#cloud-share .bshare-sinaminiblog{ background: url(../../images/zdm/v2/share_02.jpg) no-repeat;}
#zdm-share .bshare-qqmb,
#cloud-share .bshare-qqmb{ background: url(../../images/zdm/v2/share_03.jpg) no-repeat;}
#zdm-share .bshare-renren,
#cloud-share .bshare-renren{ background: url(../../images/zdm/v2/share_04.jpg) no-repeat;}

/*paper label zibu 20140102 s*/
.paper-label{ padding: 0 20px; line-height: 20px;}
.paper-label a{ color: #e43b5a; margin: 0 2px;}
.paper-label a:hover{ color: #e43b5a;}
/*paper label zibu 20140102 e*/
/*up pages zibu 20140102 s*/
.up-pages{ border: 1px #dedede solid; margin: 15px 20px 0; height: 30px; overflow: hidden; line-height: 30px;}
.up-pages p{ width: 49%; overflow: hidden;}
.up-pages p span{ width: 79px; height: 30px; text-align: center; background: #f8f8f8;}
.up-pages p span a{ color: #e43b5a}
.up-pages .prev-page,
.up-pages .prev-page span{ float: left;}
.up-pages .prev-page span{ border-right: 1px #dedede solid; margin-right: 10px; display: inline;}
.up-pages .next-page,
.up-pages .next-page span{float: right;}
.up-pages .next-page{ text-align: right;}
.up-pages .next-page span{ text-align: center;  border-left: 1px #dedede solid;  margin-left: 10px; display: inline;}
.zdm-article .zdm-info span, .zdm-article .zdm-info strong a{ margin: 0 12px; }
/*up pages zibu 20140102 E*/
/*main e*/
/*aside s*/

/*baoliao s*/
.zdm-say{ height: 83px; position: relative;z-index: 2;}
.zdm-say a.bl-btn{ background-image: url(../../images/zdm/v2/zdm-icon02.png); background-repeat: no-repeat;}
.zdm-say a.bl-btn{ display: block; height: 23px; text-align: center; padding-top: 60px;}
.zdm-say a.bl-btn:hover{ background-position: left -84px; color: #666;}
.zdm-say a.bl-btn em{ color: #e43b5a; cursor:pointer;}
.say-popbox{ width: 520px; height: 206px;background: #fff; border:1px #ccc solid; position:absolute; right: 0; display: none;
			-webkit-border-radius:5px;
			 -moz-border-radius:5px;
			 -ms-border-radius:5px;
			 -o-border-radius:5px;
			 border-radius:5px;}
.say-in{ width: 480px; height: 186px; position: relative; background: #fff; padding: 10px 20px;}
.say-in b{ position: absolute;display: block;}
.caret_out, .caret_in{border-style: dashed dashed solid dashed; overflow: visible;font-family: simsun;width: 0;height: 0;_line-height: 0;font-size: 0;}
.say-in .caret_out{right: 102px;top: -8px;border-width: 0 7px 8px 7px;border-color: transparent transparent #CFCFCF transparent;}
.say-in .caret_in{right: 103px;top: -7px;border-width: 0 6px 7px 6px;border-color: transparent transparent #fff transparent;}
.say-in .close-btn{ width: 8px; height: 8px; background-position: left -575px; top: 18px; right: 22px; cursor:pointer;}
.say-in .text{ line-height: 22px; padding: 3px 0;}
.say-in .input{ padding: 3px 0;}
.say-in .in-text{ width: 460px; height: 22px; line-height: 22px; padding: 3px 5px; border: 1px #ddd solid;
				-webkit-border-radius:3px;
				 -moz-border-radius:3px;
				 -ms-border-radius:3px;
				 -o-border-radius:3px;
				 border-radius:3px;}
.say-in .btn a{ width: 58px; height: 28px; color: #fff; float: right; text-align: center; margin:20px 8px 0 6px; _display:inline;font:normal 16px/28px 'microsoft yahei'; 
				-webkit-border-radius:3px;
				 -moz-border-radius:3px;
				 -ms-border-radius:3px;
				 -o-border-radius:3px;
				 border-radius:3px;}
.say-in .btn a:hover{ color: #fff;}
.say-in .sub-btn{ background: #fd5574; border: 1px #e43b5a solid;}
.say-in .qx-btn{ background: #bdbdbd; border: 1px #a2a2a2 solid;}
.blsm-text{ width: 320px; height: 40px; position: absolute; left: 20px; bottom: 18px; color: #999999;}
.blsm-text p{ line-height: 20px;}
.blsm-text p a{ color: #e43b5a;}
.blsm-text p a:hover{ color: #e43b5a;}
/*baoliao e*/
.zdm-tit1 h2{ height: 42px; border-bottom: 2px #f7f7f7 solid; font:bold 16px/42px 'microsoft yahei'; _overflow: hidden;}
.zdm-tit1 h2 span{ padding: 0 10px; height: 100%; border-bottom: 2px #e43b5a solid; float: left; position: relative;}
.zdm-ranking{ padding-bottom: 10px;}
.rank-tiems{ padding: 10px 10px 0;}
.rank-tiems dt{ height: 18px; line-height: 18px; overflow: hidden; }
.rank-tiems dt em{ width: 18px; height: 18px; margin-right: 5px; _display: inline; float: left; text-align: center; color: #fff;
				 -webkit-border-radius:50% 50%;
				 -moz-border-radius:50% 50%;
				 -ms-border-radius:50% 50%;
				 -o-border-radius:50% 50%;
				 border-radius:50% 50%;}
.rank-tiems dt .bg1{ background: #c11148;}
.rank-tiems dt .bg2{ background: #e64878;}
.rank-tiems dt .bg3{ background: #ff76a0;}
.rank-tiems dt .bg4{ background: #ffa0be;}
.rank-tiems dt a{ float: left; line-height: 16px; height: 16px; overflow: hidden; text-overflow:ellipsis; width: 170px;}
.rank-tiems dd{ display: none;}
.rank-tiems .rank-pic{margin-top: 10px;}
.rank-tiems .rank-pic img{ float: right; width: 70px; height: 70px;}
.rank-tiems .rank-pic p{ line-height: 18px; text-indent: 2em; color:#999;}
.rank-tiems .rank-thk{ padding-top: 8px;}
.rank-tiems .rank-thk em{ color: #e43b5a;}
/*cloud tag s*/
#cloud-tag{ height: 270px; position: relative; width: 216px; overflow: hidden; text-align: center;}
#cloud-tag a{ color: #fff; position: absolute; font:normal 16px/42px 'microsoft yahei'; padding: 5px 10px; line-height: 24px; height: 24px; display:inline-block; margin: 10px;white-space:nowrap;
			-webkit-border-radius:5px;
			 -moz-border-radius:5px;
			 -ms-border-radius:5px;
			 -o-border-radius:5px;
			 border-radius:5px;}
#cloud-tag a:hover{color: #fff;}
#cloud-tag a.tagc1{background: #e64878;}
#cloud-tag a.tagc2{background: #c11148;}
#cloud-tag a.tagc3{background: #ff76a0;}
#cloud-tag a.tagc4{background: #e64878;}
/*cloud tag e*/
/*mall logo s*/
.mall {margin: 0 0 20px;border: 1px solid #d7d7d7;}
.mall dt{ height:42px; border-bottom:2px solid #f7f7f7;_overflow:hidden;}
.mall dt .tt{float:left; height: 100%; border-bottom: 2px solid #e43b5a;padding:0 10px;font:bold 16px/42px 'microsoft yahei';position: relative;}
.mall .mall_ls{margin:0 12px;font-size: 0;overflow: hidden;_width:192px;}
.mall .mall_ls li{padding:7px 0;border-top:1px dashed #B5B5B5;margin-top: -1px;margin-right: -10px;}
.mall .mall_ls li a{width: 96px;display: inline-block;*display: inline;*zoom: 1;height: 49px;border-right:1px dashed #b5b5b5;text-align: center;margin-right: 1px; overflow:hidden;}
.mall .mall_ls li img{height: 38px; margin:5px 0 0;}
/*mall logo e*/
/*aside e*/

/* page */
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma; padding:15px 0;}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:32px;line-height:32px; width:auto; font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:\5b8b\4f53}
.page a.first,.page a.last{width:43px}
.page a:hover{color:#fff;background-color:#e43b5a;background-image:none;border-color:#e43b5a;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#e43b5a;font-family:arial;border-radius:3px;cursor:default; border:1px solid #e43b5a;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:50px;margin-right:0;text-align:right;font-family:\5b8b\4f53}
.page .page-input{font-family:\5b8b\4f53;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #e43b5a;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#e43b5a;border:1px solid #e43b5a;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}
.page span.go { margin-top: 2px;}

/*relish lift s*/
.zdm-crumbs{ padding: 10px 0px; line-height: 22px;}
.zdm-crumbs span,
.zdm-crumbs a,
.zdm-crumbs h2{ float: left; margin-right: 6px; _display: inline;}
.zdm-crumbs h2 em{ color: #e43b5a;}
.zdm-crumbs span{ color: #999999;}
.zdm-crumbs a,
.zdm-crumbs h2{ color: #333;}
.cattle-items{ padding: 10px;}
.cattle-items li{ padding: 10px 0; height: 50px; overflow:hidden; zoom:1;}
.cattle-items li .tit,
.cattle-items li .tit1,
.cattle-items li h3{ line-height: 14px; margin-bottom: 2px; color: #333;}
.cattle-items li .tit{ height: 14px; overflow: hidden;}
.cattle-items li .tit1{ height: 32px; overflow: hidden; line-height: 16px;}
.cattle-items li h3 a{ color: #e85570;}
.cattle-items li p{ line-height: 18px; color: #999999;}
.cattle-items .numb em{ color: #e3830b;}
.cattle-items .numb a,
.cattle-items .numb span{ color:#e85570; }
.cattle-items .text{ overflow: hidden; height: 18px;}
.cattle-items .text1{ overflow: hidden; height: 36px;}
.cattle-items .pic,
.cattle-items .pic1{ width: 48px; height: 48px; margin-top: 2px; float: left; overflow:hidden; margin-right: 10px; _display: inline;}
.cattle-items .pic{-webkit-border-radius:5px;
				 -moz-border-radius:5px;
				 -ms-border-radius:5px;
				 -o-border-radius:5px;
				 border-radius:5px;}
.user-avatar .text{ padding: 6px 15px; line-height: 18px; background: #f2f2f2;}	
.user-item{ padding: 10px;}
.user-item dt{ width: 80px; height: 80px; float: left; margin-right: 10px; _display: inline;}
.user-item dt img{ width: 80px; height: 80px;}
.user-item dd{ float: left; width: 100px;}
.user-item dd a.name{ display: inline-block; color: #e85570; cursor: default;}
.user-item dd .grade{ width: 50px; margin-top: 1px; height:20px; display: block; background-image: url(../../images/zdm/v2/mlv-icon.png);_background-image: url(../../images/zdm/v2/mlv-icon8.png);}
.user-item dd .lv1{ background-position: left 0;}
.user-item dd .lv2{ background-position: left -30px;}
.user-item dd .lv3{ background-position: left -60px;}
.user-item dd .lv4{ background-position: left -90px;}
.user-item dd .lv5{ background-position: left -120px;}
.user-item dd .lv6{ background-position: left -150px;}
.user-item dd .lv7{ background-position: left -180px;}
.user-item dd .lv8{ background-position: left -210px;}
.user-item dd .lv9{ background-position: left -240px;}
.user-item dd p{ color: #999999;}
.user-item dd p em{ color: #e43b5a;}
.zdm-article .tit{ background: #f2f2f2; padding: 10px; text-align: center; margin-bottom: 10px;}
.zdm-article .tit h1{  font:bold 24px/42px 'microsoft yahei';}
.zdm-article .tit h2{ font:bold 18px/26px 'microsoft yahei' ; color: #e43b5a;}
.zdm-article .text{ padding: 0 20px;}
.zdm-article .text p{ text-indent: 2em; margin: 10px 0; word-wrap:break-word; word-break:normal; overflow: hidden; font-size: 14px; line-height: 28px;}
.zdm-article .text .pic{ text-indent: 0; text-align: center;}
.zdm-article .text .pic img{ max-width: 640px; _width: expression((documentElement.clientWidth > 640) ? "640px" : "auto" ); overflow: hidden;}
/*dateil pages s*/
.zdm-article{ width: 740px; overflow:hidden; position: relative;}
.be-overdue{ position: absolute;width: 195px;height: 138px;top: 35px; right:35px;background: url(../../images/zdm/v2/expired-icon1.png) no-repeat;
_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/zdm/v2/expired-icon1.png");}
.dateil-pages{ padding: 10px 19px;}
.dateil-pages li{ float: left; _display: inline; background: #f2f2f2; margin: 0 1px 1px 0; width: 350px; line-height: 36px; height: 36px; overflow: hidden;}
.dateil-pages li span{ float: left; width: 65px; text-align: center; background: #e7e7e7;}
.dateil-pages li a{ float: left; margin-left: 8px; _display: inline;}
.dateil-pages li .cur{ color: #e43b5a;}
.main .zdm-info{ padding: 10px 20px;}
.detail-page{ float: right; margin-top: -8px;}
.zdm-article .detail-page span{ float: left; margin-top: 12px;}
.detail-page a{font-size:14px;font-family:"\5b8b\4f53"; border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;float:left;margin:2px 5px 0;display:inline;text-align:center;
	border-radius:3px; font-weight: bold;
	background-color:#fff;
	background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);
	background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);
	background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);
	background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);
	background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.detail-page a:hover{color:#fff;background-color:#e43b5a;background-image:none;border-color:#e43b5a;text-decoration:none;box-shadow:none;}
/*dateil pages e*/
/*book review s*/
.book-review{ margin-top: 35px; padding: 0 20px;}
.book-review h3,.zdm-comment h3{ font:bold 18px/30px 'microsoft yahei'; color: #414141;}
.book-review ul{ height: 130px; position: relative; width: 100%;}
.book-review ul li{ background: rgba(204,204,204,0.2); position: absolute; padding: 4px; text-align: center; font-weight: bold;
				-webkit-border-radius:5px;
				 -moz-border-radius:5px;
				 -ms-border-radius:5px;
				 -o-border-radius:5px;
				 border-radius:5px; background: #f0f0f0\9;*background: #f0f0f0;}
.book-review ul li a{ padding: 2px 0; border: 1px #ddd solid; background: #fff; display: block; font-family:'microsoft yahei';
					-webkit-border-radius:5px;
					 -moz-border-radius:5px;
					 -ms-border-radius:5px;
					 -o-border-radius:5px;
					 border-radius:5px;}
.book-review ul li a:hover{ color: #ffffff;}
.book-review ul .post1{ left: 95px; top: 16px; font-size: 16px; width: 86px;}
.book-review ul .post2{ left: 30px; top: 60px; font-size: 14px; width: 62px;}
.book-review ul .post3{ left: 225px; top: 43px; font-size: 12px; width: 126px;}
.book-review ul .post4{ left: 134px; top: 83px; font-size: 18px; width: 162px;}
.book-review ul .post5{ left: 302px; top: 0px; font-size: 14px; width: 156px;}
.book-review ul .post6{ left: 358px; top: 75px; font-size: 14px; width: 68px;}
.book-review ul .post7{ right: 60px; top: 18px; font-size: 16px; width: 140px; padding: 4px 5px; line-height: 20px;}
.book-review ul .post8{ right: 28px; top: 86px; font-size: 16px; width: 86px;}
.book-review ul a.col1{ color: #7ca109;}
.book-review ul a.col2{ color: #d67a17;}
.book-review ul a.col3{ color: #3499d9;}
.book-review ul a.col4{ color: #e43b5a;}
.book-review ul a.col1:hover{ background: #7ca109;}
.book-review ul a.col2:hover{ background: #d67a17;}
.book-review ul a.col3:hover{ background: #3499d9;}
.book-review ul a.col4:hover{ background: #e43b5a;}
/*book review e*/
/*comment s*/
.zdm-comment{ padding: 0 20px;}
.com-items{ margin-top: 15px; }
.com-items dt{ float:left; margin-right: 10px; width: 80px; _display: inline;}
.com-items dt img{ width: 80px; height: 80px; display: block;}
.com-items dt .te{ color: #999; padding-top: 10px; text-align: center;}
.com-items dt .te a{ color: #e43b5a;}
.com-items dd{ width: 610px; float: left; position: relative; height: 120px;}
.com-items .dl-tip{ float:left; line-height: 28px; color:#ea7e02;}
.com-items .com_content{ color: #333; width: 600px; margin-bottom: 4px; border:1px #cccccc solid; padding: 4px; line-height: 20px; height: 70px; border-left-color:#999999; border-top-color:#999999;}
.com-items a.smb-btn,
.user-comm a.hf-btn{font:bold 14px/28px 'microsoft yahei'; color: #fff; width: 58px; height: 28px; background: #fd5574; border:1px #e43b5a solid; float: right; text-align: center; line-height: 28px;
					-webkit-border-radius:3px;
					 -moz-border-radius:3px;
					 -ms-border-radius:3px;
					 -o-border-radius:3px;
					 border-radius:3px;}
.com-items a.smb-btn:hover,
.user-comm a.hf-btn{ color: #fff;}
.com-items a.wb,
.com-items a.qq{background: url(../../images/zdm/v2/life-login-btn.png); float: left; margin-right: 20px; _display: inline; background-repeat: no-repeat; width: 94px; padding-left: 46px; height: 30px; font:normal 14px/30px 'microsoft yahei'; color: #fff;}
.com-items a.qq{ background-position: right 0;}
.bangdou-tips{ display:none;position:absolute;width:133px;height:65px;overflow:hidden;bottom:30px;right:-20px;background: url(../../images/common/jiabangdou.png) no-repeat 0 0 scroll transparent;line-height: normal;}
.bangdou-tips__in{padding:18px 0 0 60px;text-align:left;font-size:18px;font-weight: 700;color:#eb7e00;}
.zdm-comment .tab-tit{border-bottom:2px solid #e43b5a; overflow: hidden;zoom:1; margin-top: 20px;}
.zdm-comment .tab-tit a{float: left; height:28px; line-height: 28px; padding: 0 30px;margin: 0 5px 0 0; display: inline;border:1px solid #d7d7d7;border-bottom: 0; }
.zdm-comment .tab-tit a.cur{border-color: #e43b5a; background: #e43b5a; color: #fff;}
.zdm-comment .tab-tit a:hover{border-color:#bbb; color:#333; text-decoration: none;}
.zdm-comment .tab-tit a.cur:hover{ color: #fff;}
.zdm-comment .con-list{ }
.zdm-comment .con-list li{ padding: 20px 0; border-bottom: 1px #ddd dashed;padding-left: 68px; overflow: hidden; zoom:1;}
.zdm-comment .con-list .pic{ width: 48px; height: 48px; margin-left: -68px; float: left; background: #ccc;}
.zdm-comment .con-list .pic img{width: 48px; height: 48px; display: block;}
.zdm-comment .con-list .name{ text-align: right; color: #999999; height: 16px; line-height: 16px; overflow: hidden; zoom:1;}
.zdm-comment .con-list .name a,
.zdm-comment .con-list .name em{ color: #e43b5a; margin-right: 20px; _display: inline;}
.zdm-comment .con-list dd{ margin-bottom: 10px;}
.zdm-comment .con-list dd .name a,
.zdm-comment .con-list dd .name em{ margin:0 5px; }
.zdm-comment .con-list .name span{ float: left; }
.zdm-comment .con-list .com-text{word-wrap: break-word;word-break:normal; color: #333333; line-height: 26px;}
.zdm-comment .con-list dd .com-text{ padding: 0 5px;}
.zdm-comment .user-comm{ margin-top: 10px; }
.zdm-comment .user-comm dt{ display: none;}
.zdm-comment .user-comm dd{ padding: 10px 10px; margin-top: 10px; border: 1px #ffc887 solid; background: #fffae9;}
.zdm-comment .user-comm .hf-btn{ float: right;}
.zdm-comment .user-comm .in-txt{ float: left; width: 550px; padding: 0 5px; height: 28px; border: 1px #cccccc solid;}
/*comment e*/
/*cloud nav s*/
.cloud-nav{ width: 134px; height: 260px; position: absolute;top: -20px;left: -114px; overflow: hidden; z-index: 100;}
.cloud-fix{ position: fixed;left: 50%;top: 6px;margin-left: -604px;}
.cloud-nav dt{ width: 134px; height: 67px; position: relative; z-index: 2; }
.cloud-nav dt a{ display: block; height: 67px; background-image: url(../../images/zdm/v2/share-tit.png); background-repeat: no-repeat;_background:none;
                      _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/zdm/v2/share-tit.png");}

.cloud-nav dd{ display:none;font-size: 12px; padding-left: 19px; width: 90px; padding-top: 14px; height: 190px; position: relative; z-index: 1; top:-20px; margin-left: 14px;}
.cloud-nav .cloud-bg{background: url(../../images/zdm/v2/share-cont.png) no-repeat;_background:none;  z-index: 0;
                      _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/zdm/v2/share-cont.png");}
.cloud-nav .cloud-text{ top: -224px;}
.cloud-nav dd a{ color: #666; margin-top: 10px;}
#cloud-share a{ padding-left: 27px; display: block; height: 24px; font-size: 12px;}
/*cloud nav e*/
/*relish lift e*/
/*find Affordable s*/
.t-price-items{ padding: 0 10px 10px;}
.t-price-items li{ height: 50px; overflow: hidden; zoom:1; margin-top: 10px; position: relative;}
.price-logo{display:table-cell; vertical-align:middle; padding-left: 90px; height: 50px; *padding-top: 10px;}
.price-logo a{display:inline-block; vertical-align:middle; font-size: 1em;}
.t-price-items li .pic{ width: 90px; position: absolute; left:0px; height: 50px; top: 0;}
.t-price-items li .pic img{ width: 80px; height: 50px;}
.zdm-aside .tejia {margin:20px 0;border: 1px solid #d7d7d7;}
.zdm-aside .tejia  dt{ height:42px; border-bottom:2px solid #f7f7f7;_overflow:hidden;}
.zdm-aside .tejia  dt .tt{float:left; height: 100%; border-bottom: 2px solid #e43b5a;padding:0 15px;font:bold 16px/42px 'microsoft yahei'; position: relative;}
.zdm-aside .tejia a:hover{ text-decoration: none;}
.zdm-aside .tejia .gou_mod_t h3{height: 42px;line-height: 42px;border-bottom: 2px solid #F7F7F7;}
.zdm-aside .tejia .gou_mod_t strong{display: inline-block;*display: inline;*zoom: 1;padding:0 10px;font:bold 16px 'microsoft yahei';height: 42px;line-height:42px;border-bottom: 2px solid #FF9C0F;}
.zdm-aside .tejia .tao_ls{overflow: hidden;}
.zdm-aside .tejia .tao_ls li{border-top: 1px solid #E8E8E8; padding: 10px 0;width:198px; margin: -1px auto 0;}
.zdm-aside .tejia .tao_ls .tit{line-height: 18px; margin-bottom: 5px; overflow: hidden; font-weight: 400;color:#666;}
.zdm-aside .tejia .tao_ls .tit:hover{text-decoration: underline;}
.zdm-aside .tejia .tao_ls .pic{display: block; overflow:hidden;height: 198px;position: relative;margin-top:6px; text-align: center;}
.zdm-aside .tejia .tao_ls .pic img{ max-width: 198px; max-height: 198px;}
.zdm-aside .tejia .tao_ls .price_wrap{height: 25px;line-height: 25px;background-color: rgba(0,0,0,.5);margin-top:-28px;position: relative;padding-left: 5px;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');}
.zdm-aside .tejia .tao_ls .price_wrap del{color:#ccc;}
.zdm-aside .tejia .tao_ls .price_wrap .zhe{color:#fff;margin-left: 5px;}
.zdm-aside .tejia .tao_ls .go{height: 35px;padding:0 10px;line-height:35px;background-color: #FF9C0F;color:#fff;overflow: hidden;}
.zdm-aside .tejia .tao_ls .go .go_bug{float:right;text-align:center;width:57px;height: 22px;line-height:22px;color:#993300;background-color: #FFF44C;margin-top: 7px;}
.zdm-aside .tejia .tao_ls .go .price{float: left; height: 35px; font: 24px/35px tahoma; color: #fff;}
.zdm-aside .tejia .tao_ls .go .price i{font-size: 14px; padding: 0 5px 0 0; font-weight: 700; font-family: arial; font-style: normal;}
.zdcsm-btn{ padding: 20px 0; text-align: center;}
.zdcsm-btn a{ width: 221px; height: 66px; display: inline-block; margin: 0 30px; overflow: hidden; text-indent: -1000px; background-image: url(../../images/zdm/v2/find-icon1.png); background-repeat: no-repeat;}
.zdcsm-btn .bj{ background-position: left -66px;}

.find-bl{ padding: 20px; background: #f2f2f2; border-top: 1px #dedede solid; border-bottom: 1px #dedede solid;}
.find-bl .zdm-say{ width: 220px; float: right; margin-left: 30px; _display: inline;}
.find-bl .bl-wz{ text-indent: 2em;}
/*find Affordable e*/

/*search detail s*/
.search-filter{ background: #fffae9; border:1px #ffc887 solid;}
.sear-fil-item{ padding: 10px 0 20px 0; position: relative; margin-left: -29px; *float: left; _display: inline;}
.sear-fil-item li{ background: #fff; float: left; _display: inline; margin: 10px 21px 0 50px; width: 121px; height: 30px;}
.sear-fil-item li i,
.sear-fil-item li a{ background-image: url(../../images/zdm/v2/search-icon.png);_background-image: url(../../images/zdm/v2/search-icon8.png); background-repeat: no-repeat;}
.sear-fil-item li i{ width: 17px; height: 17px; position: absolute; right:-1px; _right: -2px; top: -1px;}
.sear-fil-item li a{ border:1px #dedede solid; padding-left: 38px; position: relative; color: #ea7e02; font:bold 14px/28px 'microsoft yahei'; display:block; height: 28px;}
.sear-fil-item li a:hover{ border:1px #bebebe solid; color: #e43b5a;}
.sear-fil-item li a:hover i{ background-position: -27px top;}
.sear-fil-item li a.cur,
.sear-fil-item li a.cur:hover{ border:1px #e43b5a solid; color: #e43b5a;}
.sear-fil-item li a.cur i,
.sear-fil-item li a.cur:hover i{background-position: -54px top;}
.sear-fil-item .ic1 a{ background-position: 8px -45px;}
.sear-fil-item .ic1 a.cur,
.sear-fil-item .ic1 a:hover{ background-position: -172px -45px;}
.sear-fil-item .ic2 a{ background-position: 8px -80px;}
.sear-fil-item .ic2 a.cur,
.sear-fil-item .ic2 a:hover{ background-position: -172px -80px;}
.sear-fil-item .ic3 a{ background-position: 8px -118px;}
.sear-fil-item .ic3 a.cur,
.sear-fil-item .ic3 a:hover{ background-position: -172px -118px;}
.sear-fil-item .ic4 a{ background-position: 8px -151px;}
.sear-fil-item .ic4 a.cur,
.sear-fil-item .ic4 a:hover{ background-position: -172px -151px;}
.sear-fil-item .ic5 a{ background-position: 8px -188px;}
.sear-fil-item .ic5 a.cur,
.sear-fil-item .ic5 a:hover{ background-position: -172px -188px;}
.sear-fil-item .ic6 a{ background-position: 8px -224px;}
.sear-fil-item .ic6 a.cur,
.sear-fil-item .ic6 a:hover{ background-position: -172px -224px;}
.sear-fil-item .ic7 a{ background-position: 8px -259px;}
.sear-fil-item .ic7 a.cur,
.sear-fil-item .ic7 a:hover{ background-position: -172px -259px;}
.sear-fil-item .ic8 a{ background-position: 8px -297px;}
.sear-fil-item .ic8 a.cur,
.sear-fil-item .ic8 a:hover{ background-position: -172px -297px;}
.no-search{ padding: 20px; text-align: center; font:bold 18px/35px 'microsoft yahei';}
/*search detail e*/
/*zdm topic e*/
.top-class{ width: 170px; float: left;}
.topic-fix{ position: fixed; top: 10px;}
.top-class h3{ height: 35px; background: #eb4765; border:1px #d32444 solid; font:bold 18px/35px 'microsoft yahei'; color:#fff; text-align: center;
	background-color:#eb4765;
	background-image: -moz-linear-gradient(top, #ef4f6c, #e43b5a);
	background-image: -ms-linear-gradient(top, #ef4f6c, #e43b5a);
	background-image: -webkit-linear-gradient(top, #ef4f6c, #e43b5a);
	background-image: -o-linear-gradient(top, #ef4f6c, #e43b5a);
	background-image: linear-gradient(top, #ef4f6c, #e43b5a);}
.top-class ul{ border:1px #ddd solid;}
.top-class ul li{ line-height: 44px; font-size: 14px;font-weight: bold; overflow:hidden; zoom:1; height: 44px; border-top: 1px #ebebeb solid;}
.top-class ul li a{color: #666; display:block;padding-left: 36px; height: 44px;}
.top-class ul li a:hover,
.top-class ul li a.cur{color: #e43b5a; background: #f2f1f1;}
.topic-items .time,
.top-class ul li i{ background-image: url(../../images/zdm/v2/topic-icon.png);_background-image: url(../../images/zdm/v2/topic-icon8.png); background-repeat: no-repeat;}
.top-class ul li i{ width: 22px; height: 22px; margin-right: 12px; _display: inline; float: left; margin-top: 11px;}
.top-class ul li .tic1{background-position: left top;}
.top-class ul li a.cur .tic1,
.top-class ul li a:hover .tic1{ background-position: -22px top;}
.top-class ul li .tic2{background-position: left -22px;}
.top-class ul li a.cur .tic2,
.top-class ul li a:hover .tic2{ background-position: -22px -22px;}
.top-class ul li .tic3{background-position: left -44px;}
.top-class ul li a.cur .tic3,
.top-class ul li a:hover .tic3{ background-position: -22px -44px;}
.top-class ul li .tic4{background-position: left -66px;}
.top-class ul li a.cur .tic4,
.top-class ul li a:hover .tic4{ background-position: -22px -66px;}
.top-class ul li .tic5{background-position: left -88px;}
.top-class ul li a.cur .tic5,
.top-class ul li a:hover .tic5{ background-position: -22px -88px;}
.top-class ul li .tic6{background-position: left -110px;}
.top-class ul li a.cur .tic6,
.top-class ul li a:hover .tic6{ background-position: -22px -110px;}
.top-class ul li .tic7{background-position: left -132px;}
.top-class ul li a.cur .tic7,
.top-class ul li a:hover .tic7{ background-position: -22px -132px;}
.top-class ul li .tic8{background-position: left -154px;}
.top-class ul li a.cur .tic8,
.top-class ul li a:hover .tic8{ background-position: -22px -154px;}


.topic-r{ width: 810px; float: right; overflow: hidden;}
.topic-items dl{ width:383px; height: 405px; overflow: hidden; float: left; _display: inline; margin: 0 0 20px 20px; border:1px #edeceb solid; background: #f0f0f0;}
.topic-items .pic{ background: #fff; position: relative;}
.topic-items .topic-overdue{position: absolute;width: 180px;height: 76px;top: 50%; left: 50%;margin:-38px 0 0 -90px;
	background: url(../../images/zdm/v2/expired-icon.png) no-repeat;_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/zdm/v2/expired-icon.png");}
.topic-items .pic img{ width: 383px; height: 300px; display: block;}
.topic-items dd{ padding: 10px 10px 8px;}
.topic-items .tit a{ font-size: 14px; color: #000; font-weight: bold;}
.topic-items .text{ border-bottom: 1px #acacac dotted; padding-bottom: 5px;}
.topic-items .time{ display:block; background-position: left -190px; padding-left: 18px; margin-top: 2px;}
/*zdm topic e*/

/*zibu 20140306 s*/
.his-price{ padding: 10px 20px; background: #f7f7f7; border: 1px #e7e7e7 solid; margin:auto 20px; min-height: 140px;_height: 140px;}
.his-price .pic{ width: 120px; padding-right: 46px; background:url(../../images/zdm/v2/lsjg-icon.png) no-repeat right center; float: left; _display: inline;}
.his-price .pic img{ width: 118px; height: 118px; border: 1px #d6d6d6 solid; background: #fff; float: left; _display: inline;}
.his-price .price-trend{ width: 300px; height: 140px; float: left; _display: inline; margin-left: 18px;}
.his-price .price-trr{ width: 154px;float: left; _display: inline; margin-left: 18px;}
.his-price .price-trr .price{ width: 95px; height: 42px; line-height:40px;background:url(../../images/zdm/v2/lsjg-price.png) no-repeat; padding: 0px 0 0 40px; color: #ff7800; font-size: 22px; font-family: 'microsoft yahei';}
.his-price .price-trr .yhq{ line-height: 24px; padding: 4px; color: #999999;}
.his-price .price-trr .yhq span{ color: #333333;}
.his-price .price-trr i{ font-style: normal; color: #e43b5a;}
.his-price .price-trr .btn{ width: 154px; height: 44px; margin-top: 2px;}
.his-price .price-trr .go-btn{ height: 44px; display: block;background:url(../../images/zdm/v2/yhgm-btn.png) no-repeat;}
/*zibu 20140306 e*/
