
body{ color:#666; line-height: 1.7;}
a{color:#666; cursor: pointer;}
a:hover{color:#eb7e00; }
strong{font-weight: bold;}
.wp{width:980px;margin:0 auto;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.gray{color:#999;}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.orange{ color:#eb7e00;}
.img-con img{ min-height: 100%;min-width: 100%;}
/*ic*/
.ic{ display: inline-block;height:15px; width:15px;  vertical-align: middle; background: url(../../images/zdm/icon.png) no-repeat;}

.ic-new{ background-position: -50px 0;width:24px; vertical-align: top;}

.ic-hot{ background-position: -50px -20px;width:24px; vertical-align: top;}

.ic-person{ background-position:0 -70px;}

.ic-date{ background-position:-20px -70px;}

.ic-digit{ background-position:-40px -70px;}

.ic-comment{ background-position:-60px -70px;}

.ic-ht{ height: 24px; width: 28px; background-position: -50px -100px;}

.ic-eye{height: 24px; width: 24px; background-position: 0 -100px;}

.ic-phone{height:18px; width:12px; background-position:0 -130px; }

.ic-weibo{height:20px; width:25px; background-position:-20px -130px; }

.ic-change{width:74px; height: 22px; background-position: 0 -160px; }

.ic-change:hover{ background-position: 0 -182px; color:#fff;}

.ic-d-b-arrow{width:13px;height:7px; background-position: 0 -210px;}

.ic-q-mark{ background-position: -20px -210px;}

.ic-nav-0{width: 20px; height: 20px;background-position: 0 -230px;}

.ic-nav-1{width: 20px; height: 20px;background-position: -20px -230px;}

.ic-nav-2{width: 20px; height: 20px;background-position: -40px -230px;}

.ic-nav-3{width: 20px; height: 20px;background-position: -90px -270px;}

.ic-nav-4{width: 20px; height: 20px;background-position: -60px -230px;}

.ic-nav-5{width: 20px; height: 20px;background-position: -80px -230px;}

.ic-nav-6{width: 20px; height: 20px;background-position: -20px -270px;}

.ic-nav-7{width: 20px; height: 20px;background-position: -50px -270px;}

.ic-nav-8{width: 20px; height: 20px;background-position: 0 -270px;}

.ic-nav-9{width: 20px; height: 20px;background-position: -70px -270px;}

.ic-nav-10{width: 20px; height: 20px;background-position: 0 -270px;}

/*ic end*/


.btn{height: 36px;  display: inline-block;font:16px/36px 'microsoft yahei'; color: #fff; text-align: center; background:#ff9900;border: 1px solid #ff8400; padding: 0 30px;margin: 0;cursor: pointer;}

.btn:hover{ background:#eb7e00;border-color:#cd6e00;text-decoration: none; }

.arrow-r{border-color:  transparent transparent  transparent #ccc;  border-style:  dashed dashed  dashed solid;  border-width: 5px;  font-size: 0;  height: 0;  line-height: 0;  width:0; display:inline-block;vertical-align: middle;}

.list-h li{float:left;}

img{vertical-align: top;}

.mt20{margin-top:20px;}

.vh{font-size:0;line-height: 0;overflow: hidden;}

.business{background-color: #eb7e00;}

.new{ display:inline-block;width:22px;height:14px;background:url(../../images/zdm/icon.png) no-repeat 0 0 ;}
.search-icon {float: left; width: 200px; height: 47px; background: url(../../images/search/gotosearch.png) no-repeat scroll 0 14px; }
/*.header .search-bar .search-tools{margin-left:0;padding:6px 0 0 215px; background: url(../../images/zdm/search_txt.png) no-repeat 0 center; }*/


/*www base e*/

/*.header{height: 133px;padding-top:15px;}

.header .list-h{margin-left:210px;margin-top: -26px;zoom:1;}

.header .list-h li{position:relative;width: 84px;height: 40px;margin-right:1px;line-height:40px;text-align:center;}

.header .list-h a{display:block;zoom:1;font-size:16px;color:#4c4c4c;font-family:\5FAE\8F6F\96C5\9ED1;background: url(../../images/zdm/nav.png) no-repeat scroll 50% 0 transparent;_background-image:url(../../images/zdm/nav8.png);}

.header .list-h a:hover{background: url(../../images/zdm/nav.png) no-repeat scroll 50% -44px transparent;_background-image:url(../../images/zdm/nav8.png); text-decoration:none;}

.header .list-h li.cur a{color:#fff;background: url(../../images/zdm/nav.png) no-repeat scroll 50% -90px transparent;_background-image:url(../../images/zdm/nav8.png);}

.header .list-h .new,.header .list-h .hot {position: absolute;font-size:0;line-height:0;overflow:hidden;top:-4px;right:4px;width:22px;height:14px;background:url(../../images/zdm/icon.png) no-repeat 0 0 ;}
.header .list-h .hot { background-position: 0px -340px;}
.header .search-bar{height: 47px;background-color:#EB7E00;}

.header .search-tools{position:relative;z-index:10;float:left;_display:inline;padding:7px 0 5px;_padding:6px 0 0; padding-left:215px; background: url(../../images/zdm/search_txt.png) no-repeat 0 center; }

.header .search-tools .header-search-content{border:2px solid #D37100;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.header .search-tools .header-search-key{border:none;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;	
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
}
.header .search-tools .hot-keys{height: 34px;line-height:34px;float:left;margin-left: 10px;font-size: 12px;color:#fff6eb;font-family:"\\5B8B\\4F53",SimSun;} 

.header .search-tools dt,

.header .search-tools dd{float:left;}

.header .search-tools .hot-keys a{color:#fff6eb;margin-right:12px;}

.header .search-tools .hot-keys a:hover{text-decoration: underline;}*/

.all-cate{position:relative;z-index:100;float:left;height: 47px;line-height:47px;width:200px;background-color: #D37100}

.all-cate h2{padding-left:16px;font-size: 14px;color:#fff;font-family: "\5FAE\8F6F\96C5\9ED1"}

.main-item{position: absolute;width: 200px;}

.all-cate a{font-size: 12px;color:#333;font-family: "\5FAE\8F6F\96C5\9ED1"}

.all-cate a:hover{color:#F18100;text-decoration: underline;}

.all-cate li{height: 31px;line-height:28px;padding-left:48px;background: #FAFAFA;border:1px solid #FAFAFA;border-right:none;}

.all-cate .icon{display: inline-block;*display: inline;*zoom: 1;margin:6px 0 0 -36px;float:left;width: 22px;height: 22px;background-image:url(../../images/www/icon.png);_background-image:url(../../images/www/icon8.png);background-repeat:no-repeat;
	-webkit-transition: all ease-in .3s;
	-moz-transition: all ease-in .3s;
	-ms-transition: all ease-in .3s;
	-o-transition: all ease-in .3s;
	transition: all ease-in .3s;
}
.all-cate li:hover .icon{
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}


/* search */
.search-tools span{display: inline-block;*display: inline;*zoom: 1；}
.header-search-content label{ display: none;}
.header-rearch-submit{height:32px;line-height:32px;*line-height:36px;_line-height:32px;text-align:center;display: inline-block;*display: inline;*zoom: 1;color: #673700;
	background: -webkit-gradient(linear, left top, right top, from(#FFD48C), to(#FFC061));
	background: -webkit-linear-gradient(top, #FFD48C, #FFC061);
	background: -moz-linear-gradient(top, #FFD48C, #FFC061);
	background: -o-linear-gradient(top, #FFD48C, #FFC061);
	background: -ms-linear-gradient(top, #FFD48C, #FFC061);
	background: linear-gradient(top, #FFD48C, #FFC061);
	background-color: #FFD48C;		}
.header-rearch-submit:hover{color:#673700; text-decoration: none;}

/*.header-rearch-hotkey{ height:20px; line-height: 20px; width: 200px; overflow: hidden;}*/

.header-rearch-hotkey,.header-rearch-hotkey a{ color: #fff;}

.focusin{ color: #000;}

/* search end */

.main{ margin-top:20px ;margin-bottom:20px; position: relative;}

.left{width:742px; float: left;}

.right{width:218px; float: right;}

.top-slider{height:199px; border: 1px  solid #d7d7d7; position: relative;}

.top-slider .mask{height:180px; overflow: hidden; margin:9px auto 0;   width: 634px; position:relative;   }

.top-slider ul{width:200%;}

.top-slider li{width:130px; height: 180px; overflow: hidden; float: left; display: inline; margin: 0 38px 0 0;}

.top-slider li .img-con{ position: relative;height:138px;width:130px; overflow:hidden; }

.top-slider li .img-con img{ width: 130px; height: 138px;}

.top-slider li .prize{ height:18px; position: absolute;right:0;bottom:0; padding:0 10px 0 12px; background: url(../../images/zdm/prize_bg.png) no-repeat; color:#e91414; line-height: 18px; font-size:14px;_background:#fff;}

.top-slider li .txt{ height: 36px; line-height: 18px; overflow: hidden;padding:3px 0 0; }

.b-l{ background: url(../../images/zdm/icon.png) no-repeat 5px -15px; padding:5px; display:inline-block;height:31px;width:11px; position: absolute;left:10px;top:30%; cursor: pointer;margin:1px;}

.b-r{ background: url(../../images/zdm/icon.png) no-repeat -15px -15px;padding:5px; display:inline-block;height:31px;width:11px; position: absolute;right:10px;top:30%;cursor: pointer;margin:1px;}

.sl_disable{opacity: 0.5; cursor: default;filter:alpha(opacity=50);}

.b-l:hover,.b-r:hover{border:1px solid #d7d7d7; box-shadow: 0 1px 3px rgba(0,0,0,.1);margin:0;}

.sl_disable:Hover{border:none; box-shadow: none; margin:1px;}

.hot-act{ border:1px solid #d7d7d7;margin:20px 0; background: #f7f7f7;}

.hot-act dt{ font:bold 16px/40px 'microsoft yahei'; color:#333; padding:0 0 0 20px;}

.hot-act  ul{  overflow: hidden;zoom:1; padding: 0 0 5px 20px;}

.hot-act li{ float: left; height: 26px; line-height: 26px; width:160px; overflow: hidden; margin: 0 10px 0 0 ; padding:0 0 0 10px; background: url(../../images/zdm/dot.png) no-repeat 0 center;}

.hot-act li .ic{ margin: 0 0 0 3px;}

.rec{border:1px solid #d7d7d7; }

.rec .rec-h{height:44px; border-bottom:1px solid #d7d7d7; background: #f7f7f7;_overflow:hidden; }

.rec .rec-h .tt{ position: relative; top:-1px; left:-1px;}

.rec .rec-con{padding:0 0 15px;}

.rec .rec-list { border-bottom:1px dashed #ccc;padding: 30px 26px 15px; }

.rec .rec-list:hover{ background: #f7f7f7;}

.rec .rec-list .right-pd{float: right;}

.rec .rec-list .m{margin: 0 200px 0 0;}

.rec h2{font:bold 20px/1.5 'microsoft yahei'; height: 30px; overflow: hidden;}
.rec h3{padding:8px 0;color:#eb7e00;font-size:16px;line-height:18px;font-family:"Microsoft YaHei";}
.rec h2 .ct{color:#eb7e00;}

.rec .info,.rec .info a{ color:#999;}

.rec .info{margin: 2px 0 10px ;}

.rec .info .ar{margin:0 15px;}

.rec .info .firstar{ margin-left:0;}

.rec .info .ic{ margin: 0 3px 0 0;}

.rec .text p{ text-indent: 2em;}

.rec .right-prd{ float: right;width:180px;}

.rec .right-prd .img-con{height: 180px; overflow: hidden; margin:0 0 10px; width:100%;}


.rec .btn-buy{display:block; height:38px; background:url(../../images/zdm/btn-buy.jpg) no-repeat;line-height: 38px; font-size: 18px; color:#fff; padding:0 0 0 6px;}

.rec .btn-buy .min{ font-size:12px;font-family: 'microsoft yahei' }

.rec .btn-buy:hover{ background-position: 0 -49px; color:#fff; text-decoration: none;}

.rec .opa .ic{ margin:0 5px 0 0;}

.rec .opa .ar{ margin: 0 15px 0  0;}

.rec .opa { position:  absolute;bottom:0; left: 0; width:100%;}

.rec .m{padding-bottom:30px; position: relative;min-height: 200px; _height:200px;}

.rec .m .more{ white-space: nowrap;}

.rec .loading{ height:40px; background: url(../../images/zdm/loading.gif) no-repeat center center; }

.intro{height:158px;border:1px solid #d7d7d7;}

.intro strong{padding:12px 0 0;height:22px;display:block;text-indent:18px;font-family:'\5FAE\8F6F\96C5\9ED1';color:#333;font-size:14px;font-weight:bold}

.intro span{height:22px;line-height:22px;margin:5px 0 5px 17px;display:block;text-indent:15px;background:url(../../images/zdm/icon.png) no-repeat -100px 6px}

.zdm-app{height:40px;background-color:#f9f9f9;position:relative;padding:0;_overflow-x:hidden;border:1px solid #d7d7d7;border-top:none; margin:0 0 20px;}

.zdm-app .app,.zdm-app .weibo{height:20px;line-height:20px;float:left;width:50%; height:40px;line-height:40px;position:relative;cursor:pointer;border-left:1px solid #d7d7f7;margin-left:-1px; display: inline; text-align: center;}

.zdm-app .app .ic,.zdm-app .weibo .ic{_margin-top:10px;_vertical-align:-2px;}

.zdm-app .app:hover,.zdm-app .weibo:hover{background-color:#fff;text-decoration:none; color:#333}



.zdm-app .icon-you{display:block;width:20px;height:20px;position:absolute;background-position:0 -20px;left:18px;top:9px}

.zdm-app .weibo .icon-you{background-position:0 -41px;}

.zdm-app .arr{border-style:dashed dashed solid;border-color:transparent transparent #f18100;position:absolute;left:50%;bottom:0px;border-width:4px;bottom:0;margin-left:-2px;display:none;line-height:0;font-size:0}

.app-down{width:210px;height:30px;background-color:#f18100;display:none;position:absolute;left:0;top:40px}

.app-down a{float:left;width:50%;height:100%;color:white;text-indent:0;text-align:center;line-height:30px;font-family:'\5FAE\8F6F\96C5\9ED1';}

.zdm-app .ic{margin:0 5px 0 0;}

.app-down a:hover{text-decoration:none;background-color:#de7802}

.zdm-app .app:hover .arr,.zdm-app .app-hover .arr,
.zdm-app .app:hover .app-down,.zdm-app .app-hover .app-down{display:block}

.daren {margin:20px 0;border: 1px solid #d7d7d7;}

.daren .ic-change{ font-style: normal; text-indent: 28px; cursor: pointer; float: right; line-height: 22px; display: inline; margin:11px 7px 0 0;}

.daren  dt{ height:42px; border-bottom:2px solid #f7f7f7;  _overflow: hidden;}

.daren  dt .tt{float:left; height: 100%; border-bottom: 2px solid #ff9c0f;padding:0 0 0 15px;font:bold 16px/42px 'microsoft yahei'; position: relative;}

.daren dd{padding:10px 22px 10px; }

.daren li{padding: 12px 0 ; overflow: hidden;zoom:1;}

.daren li .img-con{width:50px; height: 50px; overflow: hidden;float: left;}

.daren li  .rt{margin:0 0 0 60px;font-size:14px;}

.daren li  .lay2{color:#aaa;}

.daren li .num{ color:#333;font-weight: bold;}

.right .tejia {margin:20px 0;border: 1px solid #d7d7d7;}

.right .tejia  dt{ height:42px; border-bottom:2px solid #f7f7f7;_overflow:hidden;}

.right .tejia  dt .tt{float:left; height: 100%; border-bottom: 2px solid #ff9c0f;padding:0 0 0 15px;font:bold 16px/42px 'microsoft yahei'; position: relative;}

.right .tejia a:hover{ text-decoration: none;}


.right .tejia .gou_mod_t h3{height: 42px;line-height: 42px;border-bottom: 2px solid #F7F7F7;}

.right .tejia .gou_mod_t strong{display: inline-block;*display: inline;*zoom: 1;padding:0 10px;font:bold 16px '微软雅黑';height: 42px;line-height:42px;border-bottom: 2px solid #FF9C0F;}

.right .tejia .tao_ls{overflow: hidden;}

.right .tejia .tao_ls li{border-top: 1px solid #E8E8E8; padding: 10px 0;width:198px; margin: -1px auto 0;}

.right .tejia .tao_ls .tit{line-height: 18px; margin-bottom: 5px; overflow: hidden; font-weight: 400;color:#666;}

.right .tejia .tao_ls .tit:hover{text-decoration: underline;}

.right .tejia .tao_ls .pic{display: block; overflow:hidden;height: 198px;position: relative;margin-top:6px;}

.right .tejia .tao_ls .price_wrap{height: 25px;line-height: 25px;background-color: rgba(0,0,0,.5);margin-top:-25px;position: relative;padding-left: 5px;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
}
.right .tejia .tao_ls .price_wrap del{color:#ccc;}

.right .tejia .tao_ls .price_wrap .zhe{color:#fff;margin-left: 5px;}

.right .tejia .tao_ls .go{height: 35px;padding:0 10px;line-height:35px;background-color: #FF9C0F;color:#fff;overflow: hidden;}

.right .tejia .tao_ls .go .go_bug{float:right;text-align:center;width:57px;height: 22px;line-height:22px;color:#993300;background-color: #FFF44C;margin-top: 7px;}

.right .tejia .tao_ls .go .price{float: left; height: 35px; font: 24px/35px tahoma; color: #fff;}

.right .tejia .tao_ls .go .price i{font-size: 14px; padding: 0 5px 0 0; font-weight: 700; font-family: arial; font-style: normal;}


.mall {margin: 0 0 20px;border: 1px solid #d7d7d7;}

.mall  dt{ height:42px; border-bottom:2px solid #f7f7f7;_overflow:hidden;}

.mall  dt .tt{float:left; height: 100%; border-bottom: 2px solid #ff9c0f;padding:0 0 0 15px;font:bold 16px/42px 'microsoft yahei';position: relative;;}

.mall  .mall_ls{margin:0 12px;font-size: 0;overflow: hidden;_width:192px;}

.mall .mall_ls li{padding:7px 0;border-top:1px dashed #B5B5B5;margin-top: -1px;margin-right: -10px;}

.mall .mall_ls li a{width: 96px;display: inline-block;*display: inline;*zoom: 1;height: 49px;border-right:1px dashed #b5b5b5;text-align: center;margin-right: 1px; overflow:hidden;}

.mall .mall_ls li img{height: 38px; margin:5px 0 0;}

.d-box{border: 1px solid #d7d7d7;}

.d-box .d-box-h{border-bottom: 1px solid #d7d7d7; height: 38px; line-height: 38px; position: relative;_overflow:hidden;}

.d-box .d-box-h .tt{color:#444; font:bold 18px/38px 'microsoft yahei'; margin:0 0 0 15px; position: relative;}

.d-box .d-box-h  .ic-d-b-arrow{ position: absolute;left:20px;bottom:-7px;}

.d-box .d-box-h  .more{ float:right; color:#999; margin: 0 10px 0 0;}

.comment {margin:20px 0 0; font-size: 14px; color:#888;}

.comment .c-tit{font:bold 16px/40px 'microsoft yahei'; height: 40px;}

.comment .c-con textarea{width:98%; border: 1px solid #d7d7d7; border-top-color: #999;border-left-color:#999; font:12px/2 arial;padding: 6px; height: 100px;  overflow-y:auto;}

.comment .sbm{ text-align: right; padding: 10px 0;position: relative;}

.comment .c-list{margin: 10px 0 0;}

.comment .c-list .tab-h{border-bottom:2px solid #eb7e00; overflow: hidden;zoom:1;}

.comment .c-list .tab-h a{float: left; height:28px; line-height: 28px; padding: 0 30px;margin: 0 5px 0 0; display: inline;border:1px solid #d7d7d7;border-bottom: 0; }

.comment .c-list .tab-h a.curr{border-color: #eb7e00; background: #eb7e00; color: #fff;}

.comment .c-list .tab-h a:hover{border-color:#bbb; color:#333; text-decoration: none;}

.comment .c-list .tab-h a.curr:hover{ color: #fff;}

.comment .page{ text-align: right; margin: 10px 0 ;}

.comment .page .all{width:60px;}

.comment .c-list .lt{float: left;width:45px;}

.comment .c-list .rt{margin: 0 0 0 60px;}

.comment .c-list .floor{height: 30px;line-height: 30px; text-align:center;}

.comment .c-list .img-con{height:40px;width:40px; background: #fff;padding: 1px; border:1px solid #d7d7d7;overflow:hidden;}

.comment .c-list .img-con img{height: 40px;}

.comment .c-list  .user-name{height:30px; font-weight: bold; color:#eb7e00;}

.comment .list-con{overflow: hidden;}

.comment .list-con li.list-con-li{border-top:1px solid #d7d7d7; margin-top:-1px;padding: 15px 0;}

.comment .c-op{ text-align: right; font-size: 12px; color:#ccc; margin: 10px 0;}

.comment .c-op a{color:#eb7e00; margin: 0 10px;}

.comment .c-op  a.last{margin-right:0;}

.comment  .time{ font-size: 12px;}

.comment  .c-n{padding: 15px 12px; background: #fffaf5; border-color: 1px solid #ffe5d0; border-radius: 7px; box-shadow: 0 3px 0px #ffe5d0; border:1px solid #ffe5d0;margin:10px 0; }

.comment  .c-n .ic-q-mark{ vertical-align: top; margin: 0 5px 0 0;}

.comment .tab-con{position: relative;}


.zdm-nav{border-bottom:1px solid #d7d7d7; width:112px; border: 1px solid #d7d7d7; position: absolute; left:-125px; top:0px; background: #fff;}

.zdm-nav dt,.zdm-nav dd{position: relative; padding: 0 0 0 40px; height: 36px;  font:14px/36px 'microsoft yahei'}

.zdm-nav dt{background: #f1f1f1;}

.zdm-nav .ic{ position: absolute; left:10px; top:10px; filter:alpha(opacity=40);opacity:0.4}

.zdm-nav  dt .ic{filter:alpha(opacity=100);opacity:1}

.zdm-nav dd:hover .ic{filter:alpha(opacity=100);opacity:1}

.zdm-nav dd a:hover{ text-decoration: none;}


 .right .nav-fix{ position: fixed;left:50%;top:0;margin-left:272px;width:216px; background: #fff;} 

.share-con{overflow: hidden; display: inline-block; vertical-align: middle; position: relative;}

.share-con .share{ position: relative;left:-132px;}

.share-con .share a{ display: inline-block;height:20px; width:20px; background: url(../../images/zdm/share.png) no-repeat; cursor: pointer;  vertical-align: middle;margin:0 3px;}

.share-con .share a.qqzone{ background-position: 0 0}

.share-con .share a.tqq{ background-position: -30px 0}

.share-con .share a.t163{ background-position: -58px 0;width:21px;}

.share-con .share a.rr{ background-position: -87px 0}

.share-con .share a.kx{ background-position: -116px 0}

.share-con .share a.tsina{ background-position: -145px 0}

.av{cursor: pointer!important;}

.reply-con{border:1px solid #D7D7D7;  padding: 15px 0;box-shadow: 0 0 2px rgba(0,0,0,.2); background: #fefefe;}

.reply-con  .tp{padding:0 20px;width:618px; }

.reply-con  .tp textarea{width:98%; border: 1px solid #d7d7d7; font:12px/2 arial;padding: 6px; height: 20px;  overflow-y:auto; resize:none;border-radius: 5px;background: #fcfcfc;}


.reply-con  .tp textarea.act{height:75px;}

.reply-con .sbm{padding:10px 20px 0 0;}

.replylist-con{overflow:hidden;zoom:1;}

.replylist-con li.replylist{margin-top:-1px;zoom:1;border-top:1px dotted #ccc;padding:5px 0; font-size:12px;}

.page *{white-space: nowrap;}

.page span{width:auto;}

/*  搜索结果页 */
.search-key{ padding-bottom: 15px;}
.search-key span{ padding: 0 10px;}
.light-key{color: #eb7e00;}