/*detail*/

.left{width:700px;}

.right{width:260px;}

 .article{border: 1px solid #d7d7d7; line-height: 1.8;}

 .article h1{font:bold 24px/2 'microsoft yahei'; color: #666; height: 48px; overflow: hidden;}

 .article .product{float:right;width:162px; margin: 0 0 15px 15px;}

 .article .product .img-con{border:1px solid #d7d7d7;border-bottom:none; height: 160px;overflow: hidden;}

  .article .product .img-con img{ width: 160px; height: 160px;}

.article .product .btn-compare{height: 36px; display: block;font:16px/36px 'microsoft yahei'; color: #fff; text-align: center; background:#ff9900;border: 1px solid #ff8400;}

.article .product .btn-compare:hover{ background:#eb7e00;border-color:#cd6e00;text-decoration: none; }

.article .product .ins{height:36px; line-height: 36px; color:#999; text-align: center;}

 .article .a-info{margin-top:15px;}

 .article .info { line-height: 2.5; margin:0 175px 0 0; color: #999;}

 .article .info a{color:#999;}

.article .info .tp{border-bottom: 1px solid #d7d7d7;}

 .article .at{background-color:#f7f7f7; line-height: 40px; padding: 0 0 0 30px; color:#999 }

 .article .ac{padding:20px;}

 .article  .ac .text{font-size: 14px;}

  .article  .ac .text img{max-width: 600px;}

 .article  .ac .text p{text-indent: 2em;margin:10px 0;}

.article .buy-con{ text-align: center;padding:20px 0;}

.article .buy-con .btn-compare{height: 36px; width:160px; display: inline-block;font:16px/36px 'microsoft yahei'; color: #fff; text-align: center; background:#ff9900; border: 1px solid #ff8400; margin:0 10px;}

.article .buy-con .btn-compare:hover{ background:#eb7e00;border-color:#cd6e00;text-decoration: none; }

.article .buy-con .btn-buy{height: 36px; width:160px; display: inline-block;font:16px/36px 'microsoft yahei'; color: #fff; text-align: center; background:#ffc464; border: 1px solid #fcb751;margin:0 10px;}

.article .buy-con .btn-buy:hover{ background:#ffb64c;border-color:#fba63a;text-decoration: none; }

.article .label{line-height: 2.5}

.article .opa{border-top: 1px solid #d7d7d7;padding:15px 0 ; }

.article  .opa .ic{  margin:0 5px 0 0;}

 .article .opa .ar{ margin: 0 15px 0  0;}

 .article .other-link{ background: #f9f9f9; height: 30px; line-height: 30px;text-align: center;}

.article .other-link .l{float:left; height: 100%;width:49%; overflow: hidden; }

.article .other-link .r{float:right; height: 100%;width:49%; overflow: hidden;}

.article .other-link  a{width: 80px; text-align: center; color:#888;}

.article .other-link  a:hover{ text-decoration: none; background: #efefef;}

.article .other-link  .orange  a{ background: none; color:#EB7E00;}

.article .other-link  .orange  a:hover{ color:#EB7E00;  text-decoration: underline; background: none;}

.article .liked{margin: 20px 0 ; background: #f7f7f7;padding: 10px 0 10px 10px; overflow: hidden;zoom:1;}

.article .liked dt{font:18px/1.3 'microsoft yahei'; float:left;width:70px; margin: 20px 0 0; text-align: center;;}

.article .liked dd{float:left;width:84px; height: 84px; border: 1px solid #d7d7d7; overflow: hidden; display: inline; margin:0 10px 0 0; }

.article .liked dd img{height: 100%;width:100%;}

.hot-item ul{overflow: hidden;}

.hot-item li{padding: 12px 0 ; overflow: hidden;zoom:1;border-top:1px solid #d7d7d7; margin:-1px 0 0 ; padding:15px 10px;}

.hot-item li .img-con{width:60px; height: 60px; overflow: hidden;float: left;}

.hot-item li .img-con img{height:100%;}

.hot-item li  .rt{margin:0 0 0 72px;border-top:1px solid #}

.hot-item li  .tp{ line-height: 1.8; height: 44px; overflow: hidden;}

.hot-item li .num{ color:#333;font-weight: bold;}

.hot-item  .opa{margin:5px 0 0;}

.hot-item  .opa i{margin:0 3px 0 0;}

.hot-item  .opa .ar{margin:0 10px 0 0;}

.new-item{margin:20px 0 ;}

.new-item .d-box-c{_width:258px;_overflow: hidden;_padding-bottom: 10px;}

.new-item .d-box-c dl{width:105%; padding:10px 0 0 10px; overflow:hidden;zoom:1;}

.new-item .d-box-c dd,.new-item .d-box-c dt{height:75px;width:75px;float:left;margin:0 7px 7px 0;overflow: hidden;}

.new-item .d-box-c dd img{width:100%;height: 100%;}

.new-item .d-box-c dt{ background: #dedede; text-align: center;; line-height: 75px;}

.rec-item{margin: 20px 0;}

.rec-item ul{overflow: hidden;}

.rec-item li{padding: 12px 0 ; overflow: hidden;zoom:1;border-top:1px solid #d7d7d7; margin:-1px 0 0 ; padding:15px 10px;}


.rec-item li .img-con{width:60px; height: 60px; overflow: hidden;float: left;}

.rec-item li .img-con img{height: 100%;}

.rec-item li  .rt{margin:0 0 0 72px;}

.rec-item li  .rt dt{ color:#333;}

.rec-item li  .rt dt a{ color:#333;}

.rec-item li  .rt dt a:hover{color:#eb7e00}

.rec-item li  .tp{ line-height: 1.8; height: 44px; overflow: hidden;}

.rec-item li .num{ color:#333;font-weight: bold;}

.rec-item  .opa{margin:5px 0 0;}

h2.detail-title { color:#EB7E00; font-size:16px; font-family:'\5FAE\8F6F\96C5\9ED1'; font-weight: bold;}
/*----@jiabangdou s----*/
.r{float:right;_display:inline;}
.jiabangdou{display: inline-block;*display: inline;*zoom: 1;width:258px;height:17px;background: url(../../images/common/jiabangdou.png) no-repeat 0 -72px scroll transparent;}
.bangdou-tips{position:absolute;width:133px;height:65px;overflow:hidden;background: url(../../images/common/jiabangdou.png) no-repeat 0 0 scroll transparent;line-height: normal;}
.bangdou-tips__in{padding:18px 0 0 60px;text-align:left;font-size:18px;font-weight: 700;color:#eb7e00;}
.bangdou-target .bangdou-tips{top:-65px;right:-50px;}
/*----@jiabangdou e----*/