.autofill{width:494px;height:313px;border:1px solid #B9B9B9;}
.autofill-content{height:313px;background:none;margin:0;}
.autofill .category,
.autofill-slider{border:none;}
.autofill-slider{height:313px;}
.autofill .category{height:313px;width:174px;}
.autofill .category-hover{background:none;}
.autofill .sub-box{top:0;height:313px;}
.autofill .category dt{margin-bottom:0px;display:none;}
.autofill .category .item{padding:5px 0 5px 15px;margin-bottom: 0px;background: none;}
.autofill .category .cur,
.autofill .category .item:hover{background: url(../../images/autofill/autofill_icon.png) no-repeat scroll 155px -98px #f3f3f3;}
.autofill .category .item-txt{padding-right:15px;max-width:125px;width:auto;background: url(../../images/autofill/autofill_icon.png) no-repeat scroll right -103px rgba(0, 0, 0, 0)}
.autofill .category .cur a{background: none;}