*html{background-image:url(about:blank);background-attachment:fixed}
em{font-style:normal}
#nav{padding: 20px 0;}
#nav .nav-menu{font-family:\5b8b\4f53;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
#nav .nav-title{float:right;color:#666}
#nav .nav-title em{font-style:normal;color:#c6c6c6}
#nav .nav-menu .prod-name{color:#999;}
#nav a{color:#333}
#nav a:hover{color:#eb7e00;}
#nav em{color:#248bcd;font-style:normal}

.col-main,.col-sub{float:left}
.col-main{width:100%;min-height:1px}
.main{word-break:break-all}

.geo-pic{display:table-cell;*display:inline-block;vertical-align:middle;text-align:center}
.geo-pic span{display:block;vertical-align:middle;text-align:center}
.geo-pic img{display:block;margin:auto}
.show-hd{color:#525252;margin-bottom:20px}
.show-hd h1{font:16px/26px \5fae\8f6f\96c5\9ed1}
.show-bd{margin-bottom: 20px;}
.show-bd .main{margin:0 316px 0 330px;position:relative;}
.show-bd .col-sub{width:300px;margin-left:-100%}
.shop-show .show-price{margin:0 0 8px 0;color:#525252;position: relative;line-height: 26px}
.shop-show .reference-price{display: block;}
.shop-show .discount-coupon{position:absolute;right:0;width:107px;height:52px;background: url(../../images/search/coupon-bg.png) no-repeat scroll 0 -52px;font-size:0;overflow:hidden;line-height: 0;}
.shop-show .discount-coupon:hover{background-position: 0 0;}
.show-favorites-tips{margin-bottom:8px;color:#FF7700}
.add-goods-favourite{display: inline-block;*display: inline;*zoom: 1;padding:0 15px;height:23px;line-height:23px;color:#666;border:1px solid #D9D9D9;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background:#fafafa;
	background-image: linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -o-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.38, rgb(243,243,243)),
		color-stop(0.85, rgb(250,250,250))
	);	
}
.add-goods-favourite:hover{
	background-image: linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -o-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.38, rgb(250,250,250)),
	color-stop(0.85, rgb(243,243,243))
	);
}
.count-down{display: inline-block;*display: inline;*zoom: 1;width: 224px;height:58px;background: url(../../images/search/jiangjia.png) no-repeat;}
.remind-tips{background-position:0 0;}
.goods-in{background-position: 0 -58px;cursor: default;}
.already-in{background-position: 0 -116px;cursor: default;}
.fav-empty-tips{position: absolute;top:-97px;z-index:100;width: 267px;height:72px;padding-top:26px;text-align:center;background:url(../../images/search/fav-tips.png) no-repeat scroll 0 0;}
.fav-empty-tips strong,
.fav-empty-tips span{color:#d86503;}
.fav-empty-tips .go-links{color:#1070dc;text-decoration: underline;}
.fav-empty-tips .fav-empty-close{position:absolute;width:33px;height: 33px;right:-10px;top:-4px;cursor:pointer;background:url(../../images/search/fav-tips.png) no-repeat scroll 0 -98px;}
.shop-show .show-price b,.shop-show .show-price em{color:#ff1919}
.shop-show .show-price b{font:700 14px arial;}
.shop-show .show-price em{font:700 26px \5fae\8f6f\96c5\9ed1;padding:0 5px}
.shop-show .show-price strong{margin-right: 10px;color:#f17400;font-weight: 700;font-size:14px;}
.shop-show .show-config{position:relative;height:85px;padding:10px 0 30px;border-top:1px solid #bebebe;border-bottom:1px solid #bebebe;}
.shop-show .config-ls li{float:left;width:50%;height:28px;line-height:28px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.shop-show .config-ls span{padding-left:10px;color:#999;background:url(../../images/search/detail.png) no-repeat 0 -294px;_background-images:url(../../images/search/detail8.png);}
.shop-show .b5m-tips{display: inline-block;*display: inline;*zoom: 1;margin-top: 20px;color:#999;}
.shop-show .b5m-tips-c{color:#666;}
.shop-show .b5m-tips-c .b5m-info-more{color:#248bcd;}
.shop-show .more-config{position:absolute;right:4px;;bottom:8px;color:#f17400;}
.shop-show .start{padding:15px 0 7px;}
.shop-show .price-source{height:43px;padding:0 5px 0 10px;margin-top:20px;line-height:43px;border-bottom:1px solid #F7D3AA;background-color:#FFF3E5;}
.shop-show .history-price{width:275px;margin-left:-275px;float:left;}
.shop-show .history-price .tit{color:#333;font:normal 700 16px/30px \5fae\8f6f\96c5\9ed1;}
.shop-show .history-price .status-price{color:#666;padding:7px 0;}
.shop-show .history-price .status-price em{color:#ff1919;}
.shop-show .history-price .recent-price{color:#999;}
.shop-show .history-price .recent-price span{color:#35a4df;margin-right:18px;}
.shop-show .price-source .btn{margin-top:5px;}
.shop-show .low-price{color:#666;}
.shop-show .low-price em{color:#EE7300;}
.shop-show .low-price strong{margin-left:4px;color:#FF1919;}
.shop-show .score{margin:15px 0 7px}
.shop-show .score-comment,
.shop-show .score-rate,
.shop-show .sell-nums{color:#666;}
.shop-show .score-rate,
.shop-show .sell-nums{margin-left:16px;}
.shop-show .score-rate{background:url(../../images/search/detail.png) no-repeat 0 2px;_background-images:url(../../images/search/detail8.png);padding-left:18px;cursor: pointer;}
.shop-show .show-tag a{
	float:left;margin:8px 8px 0 0;display:inline;background:#f1f1f1;border:1px solid #ddd;color:#666;padding:0 5px;height:18px;line-height:18px;line-height:20px\0;*line-height:20px;_line-height:18px;overflow:hidden;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:-moz-linear-gradient( top,#fff,#ededed);
	background:-webkit-linear-gradient(top,#fff,#ededed);
	background:-o-linear-gradient(left,#fff,#ededed)}
.show-tag a:hover,.show-tag a.active{text-decoration:none;border-color:#f06723;color:#f4772c}
.shop-show .show-tag .cur{border-color:#f06723;color:#f4772c}
.shop-show .disable-prod{color:#666;}
.shop-show .disable-prod b{color:#333;}
.shop-show .more-prod{color:#eb7e00;}
.shop-show .status-price .more-prod{text-decoration: underline;}

.show-pic{position:relative;height:360px}
.show-area{width:298px;height:298px;border:1px solid #ddd;position:relative;overflow:hidden}
.show-pic-list{position:absolute}
.show-pic .item{float:left;width:298px;height:298px}
.show-pic .geo-pic{width:298px;height:298px}
.show-pic .geo-pic span{width:298px}
.show-pic .geo-pic img{max-width:298px;max-height:298px;*width:expression(this.width>298 ? '298px':true);*height:expression(this.height>298 ? '298px':true);*margin-top:expression(149-this.height/2)}
.show-pic #prev,.show-pic #next,.show-pic #pic-num{position:absolute;bottom:10px;width:12px;height:19px;text-indent:-99em}
.show-pic #prev,.show-pic #next{background:url(../../images/search/arr_opt.png) no-repeat;width:12px;height:19px;overflow:hidden}
.show-pic #prev{left:0px; display: none;}
.show-pic #next{background-position:-17px 0;right:0px; display: none;}
.show-pic #prev:hover{background-position:0 -24px;cursor:pointer}
.show-pic #next:hover{background-position:-17px -24px;cursor:pointer}
.show-pic #pic-num{left:118px;width:68px;text-align:center;font:14px/19px arial;text-indent:0;color:#b9b9b9}
.show-pic #pic-num strong{color:#959595;font-weight:700}

.show-pic .small-pic{width: 258px; margin:22px auto 0; overflow: hidden; height: 40px; position: relative;}
.show-pic .pic-ul{ width: 300%; position: absolute; left: 0; top: 0; height: 40px;}
.show-pic .pic-ul li{ width: 36px; height: 36px; border: 1px #ddd solid; text-align: center; float: left; _display: inline; margin-right: 6px; cursor: pointer;}
.show-pic .pic-ul li.active{ border: 1px #cc0000 solid;}
.show-pic .pic-ul img{ width: 36px; height: 36px;}

.tab-hd{height:30px;margin-bottom:10px;border-bottom:2px solid #ff7d26;color:#666;position:relative}
.tab-hd li{float:left;width:98px;height:29px;line-height:29px;border:1px solid #d3d3d3;border-bottom:none;text-align:center;margin-right:5px;background:#fff;cursor:pointer;position:relative}
.tab-hd li a{color:#666;}
.tab-hd li.cur{background:#ff7d26;border-color:#ff7d26;color:#fff}
.tab-hd li.cur a{color:#fff}

.tab-bd{overflow:hidden}
.tab-bd .tab-box{display:none}

.tab-filter{height:39px;border:1px solid #ddd;background:#f9f9f9;margin-top:-1px;padding:0 15px}
.tab-filter .shop-seq-item{float:left;margin-top:5px;display:inline}
.tab-filter .shop-seq-item li{float:left;width:44px;height:24px;border:1px solid #d4d4d4;background:#fcfcfc;margin:0 0 0 -1px;display:inline;position:relative}
.tab-filter .shop-seq-item li a{color:#666;display:block;height:24px;line-height:24px;line-height:28px\0;*line-height:28px;_line-height:24px;text-align:center;overflow:hidden}
.tab-filter .shop-seq-item li a:hover,.tab-filter .shop-seq-item li.cur a{color:#f47920;text-decoration:none;text-align: center;}
.tab-filter .shop-seq-item li.cur{background:#f2f2f2}
.tab-filter .shop-seq-item li.first{border-top-left-radius:3px;border-bottom-left-radius:3px}
.tab-filter .shop-seq-item li.last{padding-right:15px;border-top-right-radius:3px;border-bottom-right-radius:3px;}
.tab-filter .shop-seq-item li.last img{position:absolute;right:8px;top:8px;display:block}

.tab-shop-header li{height:33px;line-height:33px;border-bottom:2px solid #ccc;float:left;color:#666;font-weight: 700;}
.tab-shop-header .mall{width:140px;}
.tab-shop-header .name-goods{width:370px;}
.tab-shop-header .price-goods{width:116px;}
.tab-shop-header .trend-goods{width:78px;}
.tab-shop-header .support-goods{width:166px;}
.tab-shop-header .operate-goods{width:108px;}
.tab-shop-item{position:relative;padding-left:140px;border-bottom:2px solid #EBEBEB;height:135px;overflow: hidden;}
.tab-shop .shop-list li{border-top:1px solid #ddd;padding:20px 0 20px 0;overflow:hidden;}
.tab-shop .shop-list .first{padding-bottom:45px;}
.tab-shop .shop-info,
.tab-shop .shop-ratio,
.tab-shop .shop-support,
.tab-shop .shop-goto{float:left}
.tab-shop .shop-list{margin-top:-1px;position: relative;}
.tab-shop .shop-list li.no-border-bottom{border-bottom: none;}
.tab-shop .shop-logo{position:absolute;left:0;top:0;width:100px;padding:10px 0 10px 20px}
.tab-shop .shop-logo .geo-pic{width:100px;height:50px;color: #666;}
.tab-shop .shop-logo .geo-pic span{width:100px}
.tab-shop .shop-logo .geo-pic img{max-width:100px;max-height:50px;*width:expression(this.width>100 ? '100px':true);*height:expression(this.height>50 ? '50px':true);*margin-top:expression(25-this.height/2)}
.tab-shop .shop-info{width:285px;line-height:20px;color:#666;overflow:hidden}
.tab-shop .shop-info a{color: #666;}
.tab-shop .shop-info a:hover{color: #F47920;}
.tab-shop .shop-ratio{width:165px;margin-left:80px;color:#ff1919;margin-top:5px}
.tab-shop .shop-ratio i{float:right;margin:5px 24px 0 0;}
.tab-shop .shop-ratio b{font-size:12px;font-family:\5fae\8f6f\96c5\9ed1;}
.tab-shop .shop-ratio em{font:700 18px \5fae\8f6f\96c5\9ed1;padding:0 5px}
.tab-shop .shop-support{width:165px;margin-left:35px;color:#666;line-height:23px}
.tab-shop .shop-goto{width:108px;margin:5px 0 0;text-align: center;}
.tab-shop .shop-goto .dianping{padding:0;border:none;color:#666;background:none;}
.tab-shop .shop-goto .dianping:hover{color:#eb7e00;}
.tab-shop .shop-goto .par,.tab-shop .shop-goto .buy{display:inline-block;width:70px;height:29px;line-height:27px;text-align:center;margin:0 auto 8px}
.tab-shop .shop-goto .par{background:url(../images/search/btn_70_29_g.png) no-repeat;color:#666}
.tab-shop .shop-goto .buy{background:url(../images/search/btn_70_29_o.png) no-repeat;color:#fff}
.flat-icon,
.high-icon,
.low-icon,
.flat-icon-chart{display: inline-block;*display: inline;*zoom: 1;width:18px;height:14px;border-left:1px solid #D9D9D9;border-bottom:1px solid #D9D9D9;background:url(../../images/search/detail.png) no-repeat 0 0;_background-image:url(../../images/search/detail.png);cursor: default;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.flat-icon{background-position:0 -50px;}
.high-icon{background-position:0 -150px;}
.low-icon{background-position:0 -100px;}
.flat-icon-chart{width:66px;height:22px;background-position:0 -350px;font-size:0;overflow: hidden;line-height: 0;vertical-align: middle;}
.flat-price-chart{display: none;}
.tab-shop .opt{border:1px solid #ddd;position:absolute;left:140px;height:23px;top:111px;line-height:23px;color:#999;padding:0 5px;cursor:pointer;
	background-color:#ededed;
	background:-moz-linear-gradient( top,#fff,#F5F5F5);
	background:-webkit-linear-gradient(top,#fff,#F5F5F5);
	background:-o-linear-gradient(left,#fff,#F5F5F5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#F5F5F5',GradientType=0 ); /* IE6-8 */
}
.tab-shop .close{
	background-color:#F5F5F5;
	background:-moz-linear-gradient( top,#F5F5F5,#fff);
	background:-webkit-linear-gradient(top,#F5F5F5,#fff);
	background:-o-linear-gradient(left,#F5F5F5,#fff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5',endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.tab-shop .opt b{color:#f0631c;font-weight:400;padding-right:3px;top: 109px;}
.detail-page{padding:30px 0 0}
.tag{border-bottom:1px solid #ddd;padding-bottom:20px;margin-top:30px}
.tag h2,.has-tag h2{color:#666;font:400 14px \5fae\8f6f\96c5\9ed1}
.has-tag{border-bottom:1px solid #ddd;margin-top:10px;height:49px}
.has-tag h2,.has-tag .show-tag{float:left}
.has-tag h2{margin:10px 0 0;_margin:9px 0 0}
.has-tag b{font-family:\5b8b\4f53;font-weight:400;padding:0 0 0 3px}

/*商品推荐*/
.detail-container{margin-top: 50px;padding-left:200px;margin-bottom: 20px;}
.detail-container .main-detal{float:left;width:100%;}
.detail-container .side-detail{position:relative;width:180px;left:-200px;float:left;margin-left:-100%}
.detail-container .grid-view{margin-right:-20px;}
.detail-container .grid-mod{width:180px;}
.detail-container .grid-mod .pic-wrap{height:178px;}
.detail-container .grid-mod .nums-goods{width:80px;}
.side-mod{border:1px solid #E3E3E3;}
.side-mod .side-mod-title{height:28px;line-height:28px;text-indent:2em;border-top:1px solid #F8F8F8;border-bottom:1px solid #F8F8F8;background-color:#F3F3F3;font-family: \5fae\8f6f\96c5\9ed1;font-weight:700;}
.side-mod .relative-list{border-top:1px solid #E3E3E3;padding:12px 0 15px;}
.side-mod .relative-list li{float: left;width:89px;}
.side-mod .relative-list li a{display:block;color:#333;line-height:22px;padding-left:15px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.side-mod .relative-list li a:hover{color:#FF7D26;}
.mb20{margin-bottom: 20px;}
.relative-prod .prod-pic{display: block;text-align:center;height:180px;width:178px;}
.relative-prod .prod-pic img{max-width:100%;max-height:100%;vertical-align: top;}
.relative-prod .prod-des,
.relative-prod .prod-price{display: block;padding:0 13px;}
.relative-prod .prod-des{height:38px;overflow:hidden;color:#666;}
.relative-prod .prod-price{display: block;padding:0 13px;}
.relative-prod .prod-price{font-size:14px;font-family:\5fae\8f6f\96c5\9ed1; color:#F4772C;}
.relative-prod li{margin-bottom:20px;}
.relative-prod .prod-mod{border-top:1px solid #F7F7F7;border-bottom:1px solid #F7F7F7;}


.cl999{color:#999;}
.comment-type{height: 33px;line-height:31px;background-color: #F5F5F5}
.comment-type li{float:left;width:85px;text-align: center;}
.comment-type li span{cursor:pointer;}
.comment-type .cur{color:#FF7D26;font-weight:700;}
.comment-type .cur span{line-height:31px;display: inline-block; *display: inline; *zoom: 1;border-bottom: 2px solid #FF7D26}
.comment-list li{border-bottom:1px solid #E6E6E6;padding:20px 20px 52px;}
.comment-user-info{padding-bottom:15px;border-bottom:1px dashed #e6e6e6;}
.comment-user-info .user-info-name{padding:2px 4px;background-color: #FFF3E5;font-size:14px;color:#999;font-family: \5fae\8f6f\96c5\9ed1}
.comment-content{padding:14px 0 0;position:relative;padding-left:36px;}
.comment-content .comment-title{position: absolute;left:0;top:14px;}
.comment-prod-info{margin-top: 13px;}





.ad-banner{width:980px;margin:20px auto 0}
.details-parameters{border:1px solid #ddd;margin:20px 0 0}
.details-parameters th,.details-parameters td{height:32px;line-height:32px;padding:0 20px;border:1px solid #ddd}
.details-parameters thead td{background:#f1f1f1;font-size:14px;font-weight:700;text-align: center; }
.all-xq{ cursor: pointer; width:200px; height: 30px; border:1px #ddd solid; margin: 0 auto; position: relative; text-align: center; z-index: 10; top: -1px;}
.all-xq span{ width: 70px; height: 30px; line-height: 30px; left: 66px; color: #666; display: inline-block; text-align: left; background: url(../../images/search/arr-down-001.gif) no-repeat right center;}

.user-comment{padding-bottom:20px;background-color:#FCFCF9;}
.user-comment-hd{height:36px;line-height:36px;background-color:#fff;border-bottom:1px dashed #CECECE;}
.user-comment-hd h4{font-size:13px;font-family:microsoft yahei;color:#666}
.user-comment-hd em{font-weight:400;color:#999}
.user-comment-bd{padding-top:30px;height:118px;overflow:hidden}
.user-comment .comment-num{float:left;background:url(../../images/search/bg_256_118.png) no-repeat;width:256px;height:118px;margin-left:40px;text-align:center}
.user-comment .comment-num .all,.user-comment .comment-num .num{line-height:38px}
.user-comment .comment-num .cur strong{color:#ff9e2d;font:400 35px/42px \5fae\8f6f\96c5\9ed1}
.user-comment .comment-star{float:left;margin-left:80px;width:180px}
.user-comment .comment-star label,.user-comment .comment-star img{float:left}
.user-comment .comment-star img{margin-top:3px}
.user-comment .comment-result li,.user-comment .comment-star li{height:24px}
.user-comment .comment-num .all{font:700 16px \5FAE\8F6F\96C5\9ED1;}
.ajax_loading{background:url(../../images/search/ajax-loader.gif) no-repeat 50% 15px transparent;height: 24px;text-align: center;padding-top: 60px;}
.hide{display:none}
.relative_shop .shop-list li{border:none;}

.overflow_text{height:36px;line-height:36px;text-align:center;color:#666;font-size:12px;}
.shang{width:13px;height:13px;overflow:hidden;padding-right:14px;background:url(../../images/search/shang.png) right center no-repeat;}
.xia{width:13px;height:13px;overflow:hidden;padding-right:14px;background:url(../../images/search/xia.png) right center no-repeat;}
.hideNode{display:none;}
#photo_price{width:426px;height:210px;background:#fff;position:absolute;z-index:100;border:2px solid #e5e5e7;}
#photo_price p{line-height:20px;height:20px;text-align:center;}

.shop-info .goods-pic{float:left;_display:inline;margin-right:12px;width:70px;height:70px;}
.shop-info .cell{display:table-cell;width:2000px;*display:inline-block;*width:auto;}
.tab-shop-item .opt a{padding-left:12px;color:#999;background:url(../../images/search/detail.png) no-repeat scroll 0 -196px;text-decoration: none;noline:expression(this.onFocus=this.blur());}
.tab-shop-item .close a{padding-left:12px;color:#999;background:url(../../images/search/detail.png) no-repeat scroll 0 -246px;text-decoration: none;}
.btn,
.btn span{display: inline-block;*display: inline;*zoom: 1;background-image:url(../../images/search/btn8.png);background-repeat:no-repeat;color:#fff;}
.btn span{background-position:right 0;background-color: #fff;}
.shop-show .btn-1,
.shop-show .btn-1 span{height:32px;line-height:32px;}
.shop-show .btn-1{padding-left:34px;font-size: 0;}
.shop-show .btn-1 span{padding-right:34px;font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1;
	text-shadow:-1px -1px #999;
}
/*----@mall-compare s----*/
.mall-compare{margin-right:200px;margin-top: 8px;float:right;}
.mall-compare span{cursor: pointer;margin-left:46px;}
.checkbox-icon{display: inline-block;*display: inline;*zoom: 1;width:14px;height:14px;vertical-align:middle;margin-right:8px;background: url(../../images/search/s_icon.png) no-repeat scroll 0 -850px;}
.checkbox--checked{background-position: -50px -850px;}
/*----@mall-compare e----*/
.recommend-title{color:#333;font-size: 16px;border-bottom: 1px solid #eee;font-family: \5FAE\8F6F\96C5\9ED1}
.share-opt,
.pic-slider{margin-top: 10px;}

.share-opt .like-btn{display: inline-block;*display: inline;*zoom: 1;height:24px;line-height:24px;background: url(../../images/search/btn.png) no-repeat scroll;}
.share-opt .heart-btn{background-position: 0 -112px;width:66px;padding-left:25px;color:#fff;}
.share-opt .liked-btn{background-position: -112px -112px;width:91px;text-align:center;color:#ff667c;}

.hw-goods-recommend{ border:1px #ddd solid; margin-bottom: 20px;}
.hw-goods-recommend h3{ background: #f2f2f2; line-height: 34px; color: #666; font-size: 14px; font-weight: bold; font-family: \5fae\8f6f\96c5\9ed1; padding-left: 20px;}
.hw-goods-recommend .goods-list{ padding:10px 9px;}
.hw-goods-recommend .goods-list li{ margin:10px; overflow: hidden; zoom:1; float: left; _display: inline; width: 220px;}
.hw-goods-recommend .goods-list li p.pic img{ width:218px; height: 218px; border:1px #e6e6e6 solid;}
.hw-goods-recommend .goods-list li p.tit{ line-height: 18px; padding: 8px 0; height: 36px; overflow: hidden;}
.hw-goods-recommend .goods-list li p.tit a{color: #666; word-wrap:break-word; overflow:auto;}
.hw-goods-recommend .goods-list li p.tit a em{ color: #ff0000;}
.hw-goods-recommend .goods-list li strong{ display: block; font-size: 18px; font-weight: bold; line-height: 18px; color:#db000f; font-family: \5fae\8f6f\96c5\9ed1;}
.hw-goods-recommend .goods-list li p.btns{ margin-top: 10px;}
.hw-goods-recommend .goods-list li p.btns a{ width: 104px; height: 28px; display: block; text-align: center; font-size: 14px;font-family: \5FAE\8F6F\96C5\9ED1; background: #db000f; line-height: 28px; font-size: 14px; color: #fff;}
.hw-goods-recommend .goods-list li p.btns a:hover{ color:#fff;}

/*favorites Start Lvzhuweng 20140110*/
.dialog-mask{position:absolute;top:0;left:0;width:100%;opacity:.5;filter:alpha(opacity=0);background:#000;z-index:1000;}
.dialog{position:absolute;z-index: 1001;background:#FBFBFB;border-top:1px solid #9F9F9F;border-bottom:1px solid #EB7E00;zoom:1;}
.dialog-close{position:absolute;top:8px;right:8px;color:#999;font-size:14px;line-height:1;font-family: \5FAE\8F6F\96C5\9ED1;}
.dialog-close:hover{color:#333;}
.dialog-body{padding:20px 30px;}
.fav-recommend{width:500px;overflow:hidden;padding-top:15px;border-top:1px solid #fff;}
.fav-recommend h6{margin-bottom:5px;color:#656565;}
.fav-recommend h6 a{float:right;color:#3379B5;}
.fav-recommend ul{width:520px;}
.fav-recommend li{float:left;width:110px;margin-right:20px;}
.fav-recommend li p{word-wrap: break-word;word-break: break-all;color:#999;margin-top:3px;}
.fav-recommend li p a{color:#656565}
.fav-recommend li p span{color:#EC1B23;font-weight:bold;}
.fav-recommend li .fav-recommend-title{ height: 70px; overflow: hidden;}
.fav-handle{text-align: center;line-height: 37px;padding-bottom: 20px;border-bottom:1px solid #d8d8d8;}
.fav-handle i, .fav-handle span,.fav-handle em, .fav-handle strong, .fav-handle b{display: inline-block;}
.fav-handle a{color:#3379B5;}
.dialog-fav-sel{position: relative;width:91px;padding:0 8px;height:21px;line-height:21px;zoom:1;border:1px solid #bbb;background: #fff;vertical-align: middle;}
.fav-default{width:91px;cursor: pointer;text-align: left;}
.fav-arr{position: absolute;top:0;left:86px;width:20px;height:21px;background:#f7f7f7;border-left:1px solid #e5e5e5;cursor: pointer;}
.dialog-fav-sel .fav-arr i{position: absolute;left:5px;top:9px;width:0;height:0;font-size: 0;line-height: 0;overflow: hidden;border: 5px dashed transparent;border-top-style: solid;border-top-color: #a6a6a6;}
.dialog-fav-sel-on  .fav-arr i{left:5px;top:8px;border-top:none;border-bottom-style: solid;border-bottom-color: #a6a6a6;}
.dialog-fav-sel b{position: absolute;display:none;background: #fff;border:1px solid #bbb;top:21px;left:-1px;width:107px;font-weight:normal;padding:3px 0;}
.dialog-fav-sel b span{width:107px;text-indent: 9px;color:#999;cursor: pointer;text-align: left;}
.dialog-fav-sel b span.on{color:#ff7800;}
.fav-suc, .fav-fail{width:31px;height:37px;background:url(../../images/search/icon_fav.png) no-repeat;vertical-align: middle;}
.fav-suc{background-position: 0 0}
.fav-fail{background-position: -33px 0}
.fav-status{margin:0 20px 0 10px;vertical-align: middle;}
/*favorites End Lvzhuweng 20140110*/

/*----@login tips s----*/
.dialog-login{position:absolute;left:50%;top:360px;margin-left:-275px;z-index:999;padding:3px;background-color:rgba(0,0,0,.5);}
.dialog-login .dialog-login-close{position:absolute;right:3px;top:3px;width: 40px;height: 40px;line-height:28px;color:#999;font-weight:400;text-align:center;background-color: #F7F7F7;font-size:20px;}
.dialog-login-in{padding:0 20px 0;font-size:16px;font-family:\5fae\8f6f\96c5\9ed1;background-color: #fff;}
.dialog-login-in h3{height: 56px;line-height:56px;text-align: center;font-size:18px;color:#666;border-bottom:1px solid #F0F0F0;}
.dialog-login-in p{color:#999;margin-bottom: 20px;}
.dialog-login-in .login-register-mod{padding:20px 0;width: 508px;height: 220px;font-size: 0;}
.dialog-login-in .login-mod,
.dialog-login-in .register-mod{display: inline-block;*display: inline;*zoom: 1;font-size:16px;vertical-align: middle;height: 175px;padding-top: 45px;width: 50%;text-align: center;}
.dialog-login-in .login-mod{border-right:1px dashed #D9D9D9;margin-left:-1px;}
.dialog-login-in .dialog-btn{display: inline-block;*display: inline;*zoom: 1;width: 128px;text-align:center;height: 34px;line-height:34px;border-width:1px;border-style:solid;color:#fff; }
.dialog-login-in .btn-login{border-color:#F2990E;background-color: #FEB114;
	-webkit-box-shadow: inset 0 1px 0 #FFCD60;
	-moz-box-shadow: inset 0 1px 0 #FFCD60;
	box-shadow: inset 0 1px 0 #FFCD60;
}
.dialog-login-in .btn-register{border-color:#EF7000;background-color: #FC8C28;
	-webkit-box-shadow: inset 0 1px 0 #FEB06C;
	-moz-box-shadow: inset 0 1px 0 #FEB06C;
	box-shadow: inset 0 1px 0 #FEB06C;
}
/*----@login tips e----*/

/*
	date:2014-02-08;
	des:login;
 */
/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{font: 12px/1.5 tahoma,arial,\5b8b\4f53;background:#fff;}
html,body{height:100%;}
img{vertical-align:top;}
.wp{width:980px;margin:0 auto;}
.cfx:after,.cfx:before{content:"";display:table;}
.cfx:after{clear:both;}
.cfx{*zoom:1;}
.fl{float:left;}
.fr{float:right;}
/* sprites */
.login-sina,.login-qq,.login-btn a,.login-chk b,.login-error i{background:url(../../images/search/login.png) no-repeat;}
/* login */
.login{position:relative;padding:39px 80px 80px;color:#666;background-color:#FEFEFE;zoom:1;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-bottom-left-radius:5px;
    -ms-border-bottom-left-radius:5px;
    -o-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-bottom-right-radius:5px;
    -ms-border-bottom-right-radius:5px;
    -o-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}
.login h1{margin-bottom:12px;}
.login h2{height:20px;margin-bottom:28px;font-size:18px;line-height:20px;font-family:\5FAE\8F6F\96C5\9ED1;overflow:hidden;zoom:1;}
.login h2 i{float:left;width:5px;height:18px;margin:2px 5px 0 0;font-size:0;line-height:0;overflow:hidden;background-color:#f79100;}
.login .fl{width:324px;border-right:1px solid #fff;}
.login .fl a{margin-bottom:15px;}
.login-sina,.login-qq{float:left;width:228px;height:67px;font-size:0;line-height:0;overflow:hidden;}
.login-sina{background-position:0 0;}
.login-sina:hover{background-position:0 -134px;}
.login-qq{background-position:0 -67px;}
.login-qq:hover{background-position:0 -201px;}
.login .fr{width:275px;border-left:1px solid #d7d7d7;padding-left:87px;}
.login-field{position:relative;height:34px;line-height:34px;margin-bottom:20px;}
.login-field label{float:left;width:48px;height:34px;text-align:right;font-size:14px;}
.login-field input{float:right;width:204px;height:18px;line-height:18px;padding:7px 8px;border:1px solid #c1c1c1;color:#666;font-size:12px;background-color:#fff;}
.login-field .login-verify{float:right;width:222px;}
.login-field .login-verify input,.login-field .login-verify img, .login-field .login-verify a{float:left;}
.login-field .login-verify img{margin:0 10px;}
.login-field .login-verify input{width:70px;}
.login-field .login-verify a{color:#3365CB;}
.login-field .login-verify a:hover{color:#3365CB;text-decoration:underline;}
.login-error{position:absolute;top:33px;left:53px;clear:both;width:220px;height:22px;border:1px solid #fbb17b;line-height:22px;background-color:#fbe7cc;overflow:hidden;zoom:1;}
.login-error i{float:left;width:16px;height:16px;margin:3px 5px 0;background-position:-34px -268px ;}
.login-field-spe{margin:-20px 0;}
.login-field-spe .login-error{top:0;}
.login-chk,.login-btn{margin-left:53px;}
.login-chk{position:relative;margin-top:20px;height:26px;line-height:26px;}
.login-chk span{float:right;}
.login-chk b{float:left;width:15px;height:15px;margin-top:6px;background-position:-18px -268px;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,.15);
    -ms-box-shadow:0 1px 2px rgba(0,0,0,.15);
    -o-box-shadow:0 1px 2px rgba(0,0,0,.15);
    box-shadow:0 1px 2px rgba(0,0,0,.15);
}
.login-chk input{position:absolute;top:6px;left:0;width:15px;height:15px;cursor:pointer;opacity:0;filter:alpha(opacity=0);}
.login-chk label{margin-left:5px;}
.login-chked b{background-position:-1px -268px;}
.login-btn a{display:inline-block;width:222px;height:41px;font-size:0;line-height:0;overflow:hidden;background-position:0 -285px;}
.login-btn a:hover{background-position:0 -326px;}
.login-reg{margin-right:5px;color:#F00D0D;}
.login-reg:hover{color:#F00D0D;text-decoration:underline;}
.login-forgot{color:#3365CB;}
.login-forgot:hover{color:#F00D0D;text-decoration:none;}
.b-radius{position:absolute;bottom:2px;z-index:-1;height:0;line-height:0;font-size:0;overflow:hidden;width:470px;
    -webkit-box-shadow:0 0 10px 5px rgba(0,0,0,.18);
    -moz-box-shadow:0 0 10px 5px rgba(0,0,0,.18);
    -ms-box-shadow:0 0 10px 5px rgba(0,0,0,.18);
    -o-box-shadow:0 0 10px 5px rgba(0,0,0,.18);
    box-shadow:0 0 10px 5px rgba(0,0,0,.18);

}
.bl-radius{
    left:20px;
    -webkit-transform:rotate(-2deg);
    -moz-transform:rotate(-2deg);
    -ms-transform:rotate(-2deg);
    -o-transform:rotate(-2deg);
    transform:rotate(-2deg);
}
.br-radius{
    right:20px;
    -webkit-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    transform:rotate(2deg);
}
.bg{height:100%;background-color:#dbdfe3;}
.login-other{padding-top:155px;color:#999;}
.login-other h2{margin-bottom:15px;text-align:center;font-size:30px;line-height:30px;font-family:\5FAE\8F6F\96C5\9ED1;}
.login-other h2 img{vertical-align:-11px;margin-right:10px;}
.login-link{width:272px;margin:0 auto;}
.login-link .login-sina,.login-link .login-qq{margin-top:15px;}
.login-link p{margin-top:5px;clear:both;}
.login-link p a{color:#999;font-family:\5FAE\8F6F\96C5\9ED1;
    -webkit-text-shadow:1px 1px 2px #fff;
    -moz-text-shadow:1px 1px 2px #fff;
    -ms-text-shadow:1px 1px 2px #fff;
    -o-text-shadow:1px 1px 2px #fff;
    text-shadow:1px 1px 2px #fff;
}

.login-link p a:hover{color:#666;}

.quick-login{display:none;position: absolute;z-index: 100;top:290px;left:50%;margin-left:-427px;border:3px solid #E4E4E4;}
.quick-login .login-close{position:absolute;top:0;right:0;cursor:pointer;width:37px;height:38px;background: url(../../images/search/login.png) no-repeat scroll 0 -367px;}

.shop_select{ float: right; margin: -27px 8px 0 0; color: #666; line-height: 25px\9;}
.shop_select select{ width: 126px; height: 22px; color: #333; vertical-align: middle; vertical-align: top\9; *vertical-align: middle; padding: 0 0 2px 2px\9; }
.shop_shangcheng span{ color: #333}



/*new style*/
.goods-title{padding:20px 0;border-top: 1px solid #ebebeb;font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1}
.layout-c .layout-m{width:100%;}
.layout-c .layout-m .layout-content{margin-left:420px;margin-right:140px;}
.layout-c .layout-l{margin-left:-100%;}
.layout-c .layout-r{margin-left:-122px;}

.btn-mod{display: inline-block;*display: inline;*zoom: 1;}
.btn-mod-1,
.btn-mod-2{padding:0 10px;width:160px;height:50px;border-radius: 4px;line-height: 50px;text-align: center;font-size:20px;font-family: \5FAE\8F6F\96C5\9ED1;
}
.btn-mod-1{background-color: #ff7937;color:#fff;}
.btn-mod-1:active,
.btn-mod-2:active{box-shadow:none}
.btn-mod-1{
	-webkit-box-shadow:inset 0 -2px 0 #DA7041;
	-moz-box-shadow:inset 0 -2px 0 #DA7041;
	box-shadow:inset 0 -2px 0 #DA7041;
	text-shadow:1px 1px #ee7000;
}
.btn-mod-2{background-color: #fee2be;color:#c8885e;}
.btn-mod-2{
	-webkit-box-shadow:inset 0 -2px 0 #EABC82;
	-moz-box-shadow:inset 0 -2px 0 #EABC82;
	box-shadow:inset 0 -2px 0 #EABC82;
	text-shadow:1px 1px #fff5e8;
}
.btn-disabled{color:#b2b2b2;
	background-color: #f1f1f1;
	-webkit-box-shadow:inset 0 -2px 0 #ddd;
	-moz-box-shadow:inset 0 -2px 0 #ddd;
	box-shadow:inset 0 -2px 0 #ddd;
	text-shadow:none;
}
.align-right{text-align: right;}
.align-left{text-align: left;}
.cl5555{color:#555;}
.cl3a94{color:#3a94e2;}
.clff78{color:#ff7800;}
.prod-origin{display: block;margin-top:-5px;color:#555;font-size: 16px;font-family: \5FAE\8F6F\96C5\9ED1;}
.price-info{color:#ff7800;font-family: \5FAE\8F6F\96C5\9ED1}
.price-info i,
.price-info span{color:#ff591f;font-weight: 700;}
.price-info i{font-style: normal;font-size: 18px;}
.price-info span{font-size:26px;margin-right: 12px;}
.prod-youhui{display:block;width:128px;height:52px;background: url(../../images/search/youhui.png) no-repeat scroll 0 0;}

.main-slider-pic{width:399px;height:399px;border:1px solid #ebebeb;text-align: center;}
/*.main-slider-pic img{vertical-align: middle;}*/
/*.main-slider-pic::before{display: inline-block;*display: inline;*zoom: 1;content: "";width:0;height:100%;vertical-align: middle;}*/
/*.main-slider-pic img{position: relative;top:50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}*/
.main-slider-pic{
	display:table-cell;
	vertical-align: middle;
	*font-size:350px;
	*line-height: 1;
}
.main-slider-pic img,
.slider-bar li img{vertical-align: middle;max-width:100%;max-height:100%;}

.slider-bar{position: relative;margin-top: 8px;}
.slider-bar ul{position: relative;margin:0 40px;font-size:0;white-space: nowrap;width:314px;overflow: hidden; padding-top: 7px; padding-bottom: 3px; padding-left: 1px;}
.slider-bar ul li{display: inline-block;*display: inline;*zoom: 1;margin-right: 8px;}
.slider-bar ul li span{float:left;width:54px;height:54px;border:1px solid #ebebeb;position: relative;}
.slider-bar ul li span:hover{margin:-1px;border:2px solid #ff7d26;}
.slider-bar ul li span:hover::before{
	position: absolute;
	left:50%;
	-webkit-transform: translate(-50%,-8px);
	-moz-transform: translate(-50%,-8px);
	-ms-transform: translate(-50%,-8px);
	-o-transform: translate(-50%,-8px);
	transform: translate(-50%,-8px);
	width:0;
	height: 0;
	border:6px solid #FF7800;
	border-top: none;
	border-left-color:rgba(0,0,0,0);
	border-right-color:rgba(0,0,0,0);
	content:''
}
.slider-bar .slider-trigger{position: absolute;top:7px;width:28px;height: 55px;border:1px solid #ececec;background-color: #f3f3f3;border-radius:2px;background-image: url(../../images/search/pic-arrow.png);background-repeat: no-repeat;background-attachment: scroll;background-position: 8px 4px;}
.slider-bar .slider-left{left:0;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	filter:FlipH;
}
:root .slider-bar .slider-left{filter:none;}
.slider-bar .slider-right{right:0;}
.slider-bar .arrow-left-disable,
.slider-bar .arrow-right-disable{background-position: 8px -63px;}


.prod-info .prod-hd{padding:17px 15px 6px 20px;border-top:1px dashed #e4e4e4;border-bottom:1px dashed #e4e4e4;background-color: #FAFAFA;}
.prod-info .price-trend{height: 225px;}
.prod-info .prod-comments{padding:0 14px;height: 30px;line-height:30px;background-color: #FEF9F3;color:#555;}
.star-out,.star-in{display: inline-block;*display: inline;*zoom: 1;width:73px;height:13px;background-image: url(../../images/search/starbg.png);background-repeat: no-repeat;background-attachment: scroll;font-size: 0;line-height: 0;overflow: hidden;}
.star-out{background-position: 0 -14px;}
.star-in{background-position: 0 0;}
.prod-info .prod-ft .btn-mods{position: relative;text-align: center; }
.prod-info .prod-ft .btn-mods .btn-mod-2{margin-left:30px;}
.prod-info .his-price{font-size: 14px;color:#555;font-weight: 700;font-family: \5FAE\8F6F\96C5\9ED1}
.status-icon{padding-right:18px;background-image: url(../../images/search/icon-status.png);background-repeat: no-repeat;background-position: right 0;}
.status-flat{background-position:right -45px;}
.status-up{background-position:right 3px;}
.status-down{background-position:right -22px;}

.shop-show{position: relative;}
.recommend-prod{margin-top: -20px}
.recommend-prod h3{text-align: center;font-size:16px;font-family: \5FAE\8F6F\96C5\9ED1}
.recommend-prod .trigger-button{text-align: center;}
.recommend-prod .arrow-prod{display: inline-block;*display: inline;*zoom: 1;width:23px;height:13px;background-image:url(../../images/search/arrow-prod.png);background-attachment: scroll;background-repeat: no-repeat;font-size:0;line-height: 0;overflow: hidden;cursor:pointer;}
.recommend-prod .arrow-up{background-position:-23px -13px;}
.recommend-prod .arrow-up-disable{background-position:-23px 0; }
.recommend-prod .arrow-down{margin-left: 14px;background-position: 0 0;}
.recommend-prod .arrow-down-disable{background-position:0 -13px;}
.recommend-prod-list{height:510px;padding: 1px;margin-bottom: 15px;overflow: hidden;}
.recommend-prod-list li{margin-bottom: 10px;}
.recommend-prod-list li:hover{}
.recommend-prod-list a{display:block;border:1px solid #eee;width:118px;height:118px;overflow:hidden;}
.recommend-prod-list .pic-center{display:table-cell;text-align:center;vertical-align:middle;width:118px;height:118px;*font-size:104px;*display:block;}
.recommend-prod-list a img{max-height:100%;max-width:100%;vertical-align: middle;}
.recommend-prod-list a:hover{margin:-1px;border:2px solid #ffb556;}
.recommend-prod-list a span{display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;position:relative;height:28px;line-height: 28px;background-color:rgba(0,0,0,.5);color:#fff;font-size:12px;}
.recommend-prod-list a:hover span{margin-top:-28px;}



