/*----@breakcrumb s----*/
.breadcrumb{font-family:\5b8b\4f53;}
.breadcrumb a,
.breadcrumb span{color:#999;}
.breadcrumb .reci-keyword{color:#333;}
/*----@breakcrumb e----*/

.hot-category,
.word-category,
.hot-words{border:1px solid #E4E4E4;margin-bottom: 10px;}

/*----@hot-category s----*/
.hot-category li{height: 34px;line-height:34px;float:left;width: 112px;border-right:1px solid #E4E4E4;}
.hot-category li a{display:block;text-align: center;color:#333;font-size:14px;}
.hot-category .cur a{line-height:35px;border-bottom:2px solid #f18100;margin-top: -2px}
/*----@hot-category e----*/

/*----@word-category s----*/
.word-category{padding-left:10px;height:34px;line-height: 34px;}
.word-category a{color:#f18100;text-decoration: underline;padding:0 8px;border-right:1px solid #000;}
/*----@word-category e----*/

.hot-words{padding:10px;}
.hot-words li{float:left;height:28px;line-height:28px;width:25%;text-indent:2em;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.hot-words li a{color:#323232;}
.hot-words li a:hover{color:#F18100;}

.page-num a{border:1px solid #E4E4E4;padding:2px 7px;color:#323232;}
.page-num a:hover{border-color:#f18100;color:#F18100;}