/*www base s*/
.list-h li{float:left;}
.ml20{margin-left:20px;}
.mr20{margin-right:20px;}
.vh{font-size:0;line-height: 0;overflow: hidden;}
.flex{margin:0 auto;}
.cl-eb7{color:#eb7e00;}
/*www base e*/

/*all cate s*/
.all-cate {position: relative; z-index: 100;float:none;height: 37px; line-height: 37px;margin-bottom:10px;background-color: transparent;}
.all-cate h2{position:relative;height:37px;line-height:37px;color:#fff;font-weight:700;font-size:16px;font-family:"\5FAE\8F6F\96C5\9ED1";cursor:pointer;
	background: -moz-linear-gradient(top,  #EB7E00 0%, #E66100 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EB7E00), color-stop(100%,#E66100)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #EB7E00 0%,#E66100 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #EB7E00 0%,#E66100 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #EB7E00 0%,#E66100 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #EB7E00 0%,#E66100 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EB7E00', endColorstr='#E66100',GradientType=0 ); /* IE6-8 */
}
.all-cate h2 i{position: absolute;top:15px;right:16px;width:13px;height:8px;background: url(../../images/search/s_icon.png) no-repeat scroll right -600px;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-ms-transition: all ease .3s;
	-o-transition: all ease .3s;
	transition: all ease .3s;
}
.all-cate .up i{background-position:right -700px;}
.all-cate .main-item{display: none;}
.all-cate .main-cate a{cursor:default;}
.search-icon{float:left;width:200px;height:47px;background:url(../../images/search/gotosearch.png) no-repeat scroll 0 14px;}
/*search result s*/
.breadcrumbs{margin:20px 282px 16px 0;font-family:\5b8b\4f53;}
.breadcrumbs h2 em,
.breadcrumbs .product-nums{padding:0 5px;color:#EB7E00;}
.breadcrumbs .a_crumbs{color:#000;}
.breadcrumbs .a_crumbs:hover{text-decoration: underline;color:#eb7e00;}
.side{width:200px;}
.cell{display: table-cell;width:2000px;*display:inline-block;*width:auto;}
.breadcrumbs .search-feedback{margin-left:8px;}
.feedback-box{position:relative;display: inline-block;*display: inline;*zoom: 1;*z-index:100;}
.search-feedback{display: inline-block;*display: inline;*zoom: 1;height:24px;line-height:24px;padding:0 14px;border:1px solid #dbdbdb;color:#666;zoom:1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background:#fafafa;
	background-image: linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -o-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.38, rgb(243,243,243)),
		color-stop(0.85, rgb(250,250,250))
	);	
}
.search-feedback:hover{
	background-image: linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -o-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.38, rgb(250,250,250)),
	color-stop(0.85, rgb(243,243,243))
	);
}
.popup{display:none;background:url(../../images/search/s_feed_back.jpg) no-repeat scroll 37px 100px #fff;z-index:800;
			-moz-box-shadow: 0 0 25px rgba(68,68,68,0.6);
			-webkit-box-shadow: 0 0 25px rgba(68,68,68,0.6);
			box-shadow: 0 0 25px rgba(68,68,68,0.6);
			zoom: 1;
			color:#fff;
			border:1px solid #f98f48;
}
.popup .close{position:absolute;top:14px;right:14px;font-weight:700;color:#999;font-size:12px;font-family: Verdana, Geneva, sans-serif;cursor: pointer;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}
.popup .close:hover{top:10px;right:11px;font-size:18px;font-family: Verdana, Geneva, sans-serif;
	-webkit-transform:rotate(180deg);
}
.popup .arrow{
	position:absolute;
	top:-17px;
	right:39px;
	width:0;
	height:0;
	font-size:0;
	border-width:8px;
	border-style:solid solid solid;
	border-color:transparent transparent #f98f48;
	*width:14px;
	*height:7px;
	*border-width:0;
	*top:-7px;
	*background:url(../../images/search/s_icon.png) no-repeat 0 -700px scroll;
}
.popup .arrow:before{
	content: "";
	width:0;
	height:0;
	border-width:7px;
	border-style:none solid solid;
	border-color:transparent transparent #fff;
	position:absolute;
	top:2px;
	left:-7px;
}
.form-horizontal .control-group{margin-bottom:16px;*zoom:1;}
.form-horizontal .control-group:before,.form-horizontal .control-group:after{display:table;content:"";line-height:0;}
.form-horizontal .control-group:after{clear:both;}
.form-horizontal .control-label{float:left;width:120px;padding-top:8px;text-align:right;}
.form-horizontal .control-label em{color:#ff0000;margin-right: 4px;}
.form-horizontal .controls{margin-left:120px;}
.form-horizontal .help-block{margin-bottom:0;}
.form-horizontal .form-actions{padding-left:180px;}
.form-horizontal textarea,.form-horizontal input{
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}
.feed-popup{position:absolute;right:0;top:35px;}
.popup-in{width:520px;margin:43px 60px 36px 40px;}
.feed-form input,
.feed-form textarea{width:386px;padding:5px;line-height:20px;border:1px solid #CDCDCD;
	-webkit-box-shadow: inset 0 2px 5px -2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 2px 5px -2px rgba(0,0,0,.3);
	box-shadow: inset 0 2px 5px -2px rgba(0,0,0,.3);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.feed-form input:focus,
.feed-form textarea:focus{
	border:1px solid #f98f48;
	-webkit-box-shadow: 0 0 3px #f98f48;
	-moz-box-shadow: 0 0 3px #f98f48;
	box-shadow: 0 0 3px #f98f48;
}
.feed-form textarea{overflow-y:auto;resize:none;height:233px;}
.feed-form input{height:20px;}
.feed-form label{color:#666;}

.feed-form .btn-submit{display: inline-block;*display: inline;*zoom: 1;width:110px;height:40px;text-align:center;font:700 12px/40px \5FAE\8F6F\96C5\9ED1;color:#fff;}
.feed-form .btn-enable{background-color:#EB7E00}
.feed-form .btn-disable{background-color:#B3B3B3}
.feed-form .btn-box{text-align: right;margin-top: 15px;}
.feed-form .error-tips{border-color:#F82244;}
.feedback-box .tips{padding-left:56px;font-size:18px;background: url(../../images/search/s_icon.png) no-repeat scroll 0 -750px;}
.feedback-box .tips h5{padding-top:5px;color:#eb7e00;font-weight:700;font-family:\5FAE\8F6F\96C5\9ED1;}
.feedback-box .tips p{color:#696969;font-size:12px;}
.mod-list{border:1px solid #ddd;}
.mod-list .mod-hd{height:40px;padding-left:16px;border-bottom:1px solid #ddd;color:#000;font:700 16px/40px "\5FAE\8F6F\96C5\9ED1";}
.mod-list .mod-hd a{color:#000;}
.mod-list .mod-hd a:hover{text-decoration:underline;}
.mod-list .mod-bd .category-list,
.mod-list .more-category{padding:0 16px;}
.category-list{padding:4px 0 7px;line-height:22px;}
.category-list dt a{color:#333;}
.category-list dd a{padding-left:15px;color:#666;background:url(../../images/search/s_icon.png) no-repeat 3px -47px scroll;}
.category-list dd a:hover{color:#eb7e00}
.category-list dd.cur a{background-position:-91px -18px;}
.category-list .sub-nav{display:none;}
.category-list .sub-nav a{background:none;color:#999;}
.mod-list .more-category{position:relative;height:36px;z-index:10;border:1px solid transparent;margin:-1px;}
.more-category .more-trigger{height:35px;line-height:35px;position:relative;z-index:20;display:block;border-top:1px solid #ddd;color:#333;background:url(../../images/search/s_icon.png) no-repeat -39px 14px scroll #fff;zoom:1;}
.mall-list dt{font-size:0;line-height: 0;overflow: hidden;zoom:1;}
.mall-list dd a,
.merchant_ls li a{padding-left:24px;background:url(../../images/search/s_icon.png) no-repeat 0 -150px scroll;}
.mall-list .cur{padding-left:24px;background:url(../../images/search/s_icon.png) no-repeat 0 -200px scroll;}
.more-item{display:none;position:absolute;left:180px;top:-1px;width:485px;border:1px solid #f5772b;padding:10px 20px 10px 30px;background:#fff;box-shadow:3px 3px 0 rgba(0,0,0,0.1);z-index:10;}
.more-item li{float:left;width:120px;padding-bottom: 10px;line-height:normal;}
.more-item li a{color:#666;display:block;width:90px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.more-item li a:hover{color:#f88f3a}
.mod-bd .open{border-color:#f5772b;}
.mod-bd .open .more-trigger{border-top-color:#fff;height:35px;}
.mod-bd .open .more-item{display: block;}

.sort-bar{margin-top:30px;background-color: #fff;position: relative;}
.sort-bar .sort-item li,
.sort-bar .sort-conditions li,
.sort-bar .sort-view li{float:left;}
.sort-bar .sort-item li a,
.sort-bar .sort-conditions li a,
.sort-bar .sort-view li a,
.sort-bar .feature-box li a{display:block;color:#666;}
.sort-bar .sort-item{border:1px solid #ddd;}
.sort-bar .sort-item li{height:24px;padding:0 10px;margin-left:-1px;text-align:center;line-height: 24px;border-left:1px solid #ddd;}
.sort-bar .sort-item a:hover{color:#f47920;}
.sort-bar .sort-item .price{padding-right:12px;background:url(../../images/search/s_icon.png) no-repeat 29px -92px scroll;}
.sort-bar .sort-item .down,
.sort-bar .sort-item .up{background-color:#666;}
.sort-bar .sort-item .down a,
.sort-bar .sort-item .up a{color:#fff;}
.sort-bar .sort-item .down .price{background-position:-64px -92px;}
.sort-bar .sort-item .up .price{background-position:-64px -64px;}

.sort-bar .sort-conditions{margin-left:20px;padding-right:10px;border:1px solid #ddd;}
.sort-bar .sort-conditions li,
.sort-bar .feature-box li{height:24px;line-height: 24px;margin-left: 10px;}
.sort-bar .sort-conditions li a,
.sort-bar .feature-box li a{padding-left:18px;background:url(../../images/search/s_icon.png) no-repeat 0 -144px scroll;cursor: pointer;}
.sort-bar .sort-conditions .cur a{background-position: 0 -194px;}
.sort-bar .sort-view a{width:27px;height:26px;background:url(../../images/search/s_icon.png) no-repeat 0 -276px;}
.sort-bar .sort-view .m-grid a{background-position:0 -276px;}
.sort-bar .sort-view .m-list a{background-position:-27px -276px;}
.sort-bar .sort-view .m-grid a:hover{background-position:0 -250px;}
.sort-bar .sort-view .m-list a:hover{background-position:-27px -250px;}
.sort-bar .sort-view .m-grid a.cur{background-position:0 -302px;}
.sort-bar .sort-view .m-list a.cur{background-position:-27px -302px;}

/*bran panel s*/
.brand-panel{padding:15px;margin-bottom:20px;border:1px solid #ddd;}
.brand-panel .brand-logo{margin-right:14px;}
.brand-panel .brand-des a{color:#666;}
.brand-panel .brand-des a:hover{color:#eb7e00;}
.brand-panel .brand-des strong{font-weight:700;}
/*bran panel e*/
/*filter s*/
.filter-on{padding-top:2px;background-color:#e86e00;}
.filter-on .cancel-all{height:20px;line-height:18px;line-height:20px\0;*line-height:22px;position:absolute;right:10px;top:6px;padding:0 8px;background-color:#999;color:#fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.filter-on .cancel-all:hover{background-color:#eb7e00;}
.filter-on dl{position:relative;padding:0 80px 4px 80px;background-color: #f2f2f2;}
.filter-on .filter-on-tit{position:absolute;top:6px;margin-left:-72px;color:#333;font-size:12px;}
.filter-on .filter-on-mod{display:inline-block;position:relative;white-space:nowrap;border:1px solid #e86e00;height:22px;line-height:20px;line-height:23px\0;padding-right:20px;padding-left:4px;margin:4px 0 0 6px;color:#999;background-color:#fff;}
.filter-on .filter-on-mod em{color:#e86e00;}
.filter-on .filter-on-mod b{position:absolute;top:5px;margin-left:4px;height:12px;width:12px;line-height:8px;*top:3px;*height:auto;*line-height:12px;*padding-bottom:4px;text-align:center;font-size:12px;font-weight:400;color:#fff;background-color:#e86e00;vertical-align: middle;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.filter-panel{overflow:hidden;zoom:1;border:1px solid #ddd;color:#666;}
.filter-item{position: relative;height:35px;padding-left:140px;border-top: 1px dashed #ddd;margin-top:-1px;overflow: hidden;}
.filter-item a{float:left;width:90px;margin-right:10px;line-height: 24px;color:#666;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.filter-item a:hover{color:#eb7e00;}
.filter-item .show-more{display:none;position: absolute;right:0;top:6px;width:40px;cursor: pointer;background:url(../../images/search/s_icon.png) no-repeat right -13px;}
.filter-item .show-more:hover{color:#EB7E00;}
.filter-item .open{background-position:right -117px;}
.filter-item dt{color:#333;position: absolute;width:100px;top:9px;left:40px;}
.filter-item dd{padding:6px 0;margin-right:76px;}
.filter-item .price-range{margin-right:250px;}
.filter-item .price-input{position:absolute;right:60px;top:7px;}
.filter-item .price-input .txt{height:18px;line-height:18px;width:38px;border:1px solid #ddd;}
.filter-item .price-input .btn{height:20px;width:45px;border:1px solid #ddd;background-color: #fff;margin-left:8px;cursor:pointer;}
.filter-more{text-align: center;margin-top:-1px;}
.filter-more a{noFocus:expression(this.onFocus=this.blur());display: inline-block;*display: inline;*zoom: 1;outline:none;padding:0 18px;height:30px;line-height:30px;color:#666;border:1px solid #ddd;border-top:none;background-color: #fff;}
.filter-more span{padding-right:17px;background: url(../../images/search/s_icon.png) no-repeat right -121px}
.filter-more .open span{background-position: right -18px}
.filter-more .open em{color:#999;}
/*filter e*/
/*grid view and list view s*/
/*.goods-list{overflow:hidden;}*/
.des{display:block;height:34px;overflow:hidden;color:#666;line-height:18px;}
.des:hover{color:#e97d01;}
.price strong{font-family:\5fae\8f6f\96c5\9ed1;color:#f4772c;font-size: 16px;vertical-align:middle;}
.price .price-trend{display: inline-block;*display: inline;*zoom: 1;width:18px;height: 16px;border-left: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;background: url(../../images/search/s_icon.png) no-repeat 0 0 scroll;cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.price .price-up{background-position:0 -350px;}
.price .price-down{background-position:0 -400px;}
.price .price-fair{background-position:0 -450px;}
.btn-wrap a{
	display: inline-block;*display: inline;*zoom: 1;
	font-weight:400;
	width:106px;
	text-align: center;
	height:28px;
	line-height:28px;
	background-image:url(../../images/search/btn.png);
	background-repeat:no-repeat;
}
.start .start-warp,
.start .start-in{width:59px;height:11px;background-image:url(../../images/search/s_icon.png);background-repeat: no-repeat;font-size:0;line-height:0;}
.start .start-warp{float:left;margin:3px 5px 0 0;background-position: 0 -500px;}
.start .start-in{background-position: 0 -550px;}
.nums-goods{float:right;width:140px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:right;}
.nums-goods{color:#999;}
.nums-goods em{color:#FF201D;}
.goods-comments{background: url(../../images/search/detail.png) no-repeat 0 2px;_background-images: url(../../images/search/detail8.png);padding-left: 18px;cursor: pointer;color:#999;}
.old-price{color:#A8A8A8;font-family:\5fae\8f6f\96c5\9ed1 }
.pic img{max-width:100%;max-height:100%;*vertical-align:middle;}
/**html .list-view .pic img{height:expression(this.scrollHeight > 98 ? "98px":"auto");width:expression(this.scrollWidth > 98 ? "98px":"auto";}*/
.shops-ls .more-shop{padding:5px 0 15px 0;margin-top:10px;border-top:1px dashed #fff;}
.shops-ls  li{overflow: hidden;margin:0;}
.shops-ls  li a{color:#fff;}
.shops-ls  li a:hover{text-decoration: underline;}
.go-buy{color:#fff;background-position: 0 -40px;}
.go-buy:hover{background-position:-150px -40px;color:#fff;}
.go-compare{color:#fff; background-position: 0 -72px; }
.go-compare:hover{background-position:-150px -72px;color:#fff;}
.grid-view{margin-right:-20px;}
.grid-view .grid-mod{width:240px;float:left;margin:25px 20px 0 0;}
.grid-view .pic-wrap{width:238px;border:1px solid #E6E6E6;zoom:1;position:relative;height:238px;overflow: hidden;}
.grid-view .pic-wrap .pic{height:238px;width:238px;display:table-cell;*display:block;*font-size:208px;vertical-align:middle;text-align: center;background:url(../../images/search/loading.gif) no-repeat 50% 50%;}
.grid-view .pic-wrap:hover{margin:-1px;border:2px solid #FF9C0F;
	-webkit-box-shadow: 0 0 5px rgba(164,164,164,.34);
	-moz-box-shadow: 0 0 5px rgba(164,164,164,.34);
	box-shadow: 0 0 5px rgba(164,164,164,.34);
}
.grid-view .shops-ls{position:relative;height:95px;overflow:hidden;padding:10px 12px 0 15px;background: rgba(0, 0, 0, .4);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66000000', endColorstr='#66000000');
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-khtml-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.grid-view .pic-wrap:hover .shops-ls{margin-top:-105px;}
.grid-view .price .price-trend{margin-left:5px;vertical-align:middle;}
.shop-show .grid-view .start{margin:0 0 8px; padding: 0;}
.grid-view .price{margin-top:4px;}
.grid-view .start{margin:14px 0 14px;}

.list-view .list-mod{height:100px;margin-top:-1px;padding:20px 0 20px 0;border-top:1px dashed #ddd;}
.list-view .col-left,
.list-view .col-middle{float:left;}
.list-view .col-right{float:right;width:110px;text-align: right;}
.list-view .col-middle .middle-in{width:180px;}
.list-view .col-right .go-compare{margin-top: 10px;}
.list-view .col-left{width:55%;}
.list-view .col-left .cell{word-break:break-all;}
.list-view .col-middle{width:30%;}
.list-view .pic-wrap{display:table;table-layout:fixed;*display:block;width:98px;height:98px;border:1px solid #E6E6E6;margin-right:10px;}
.list-view .pic{width:98px;height:98px;display:table-cell;*display:block;vertical-align:middle;text-align: center;background:url(../../images/search/loading.gif) no-repeat 50% 50%;*font-size:86px;}
.list-view .cell p,
.list-view .shops-ls li a{color:#999;}
.list-view .des{margin-bottom:8px;padding-right:20px;}
.list-view .price .price-trend{float:right;}
/*grid view and list view e*/

.mod-buy-list .tit{position:relative;padding:10px 0 0 15px;font-weight:700;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;}
.mod-buy-list ul{padding:0 16px;}
.mod-buy-list li{padding:15px 0;border-bottom:1px dashed #ECECEC;overflow:hidden;zoom:1;}
.mod-buy-list .pic{float:left;width:50px;margin-right:10px;_display:inline;}
.mod-buy-list .txt{display: table-cell;width:2000px;*width:auto;*display: inline;}
.mod-buy-list .txt a{color:#333;font-weight:700;}
.mod-buy-list .txt a:hover{color:#eb7e00;}
.mod-buy-list .txt p{color:#999;line-height:16px;}
.hot-news{padding:3px 16px 14px;}
.hot-news a{display:block;padding-left:10px;line-height:24px;color:#808080;background:url(../../images/search/s_icon.png) no-repeat scroll 0 -638px;}
/*淘特价*/
.inner{border-style:solid;border-width:0 1px 1px;border-color:transparent #ddd #ddd}
#tao{border-top:2px solid #666;margin-top:15px;background:#fff url(../images/search/ajax-loader.gif) no-repeat 50% 50%;margin-bottom:30px}
.tao-hd{height:33px;line-height:33px;border-bottom:1px solid #ddd;padding:0 20px;background:#f9f9f9}
.tao-hd h2{font:18px/33px \5fae\8f6f\96c5\9ed1;color:#666}
.tao-hd a{float:right;color:#666;font-family:\5b8b\4f53}
.tao-bd{height:336px;overflow: hidden;zoom:1;position: relative;}
.tao-mod{position:relative;float:left;background:#fff;width:198px;border:1px solid #d6d6d6;padding:10px;font-family:arial;display:inline;overflow:hidden}
.tao-mod:hover{border-color:#ff9c0f;cursor:pointer}
.tao-mod .tit{width:100%;height:36px;line-height:18px;margin-bottom:5px;overflow:hidden;font-weight:400}
.tao-mod .tit a{color:#666}
.tao-mod .pic{width:198px;height:198px;position:relative;overflow:hidden}
.tao-mod .pic a{display:block}
.tao-mod .pic img{display:block;width:198px;height:198px}
.tao-mod .original{position:absolute;left:0;bottom:0;width:100%;height:25px;line-height:25px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5)}
:root .tao-mod .original{filter:none}
.tao-mod .del{float:left;color:#ccc}
.tao-mod .zhe{float:left;color:#fff}
.tao-mod .del{text-decoration:line-through}
.tao-mod .spc{float:right}
.tao-mod .del{padding:0 5px}
.tao-mod .spc{padding:0 5px 0 0;color:#fff;}
.tao-mod .spc b{font-weight:700}
.tao-mod .now{height:35px;padding:0 10px;overflow:hidden;background:#ff9c0f}
.tao-mod .now .price{float:left;height:35px;font:24px/35px tahoma;color:#fff}
.tao-mod .now .price b{font-size:14px;padding:0 5px 0 0;font-weight:700;font-family:arial}
.tao-mod .now .btn{float:right;overflow:hidden;width:57px;height:22px;font:700 12px/22px \5fae\8f6f\96c5\9ed1;text-align:center;background:#fff44c;color:#930;overflow:hidden;margin:7px 0 0}

.goods-hd .more{float:right;color:#333;}
.goods-hd .keys-word{font-size:14px;color:#333;font-weight:700;}
.goods-hd .keys-word del{padding:0 6px;color:#999;font-weight:400;}
.split-result .grid-view{height:385px;padding-top:1px;overflow: hidden;zoom:1;position: relative;}
/*search result e*/

/*search no result e*/
.search-tips{position:relative;left:50%;float:left;margin-top:75px;}
.search-tips-in{position:relative;left:-50%;float:left;height:160px;padding-left:330px;padding-top:60px;background:url(../../images/search/err.jpg) no-repeat scroll 0 0 transparent;}
.search-tips-in h4{color: #666; font: 700 14px \5fae\8f6f\96c5\9ed1;}
.search-tips-in h4 em{color: #e97d01; display: inline-block; max-width: 400px; white-space:nowrap; text-overflow: ellipsis; overflow: hidden; vertical-align: text-top;} 
.search-tips-in p{color:#999;font-family: \5b8b\4f53;}
.page{margin:20px 0;}
/*search no result d*/

/*intelligent-recommend s*/
.intelligent-recommend{height:20px;margin-bottom: 20px;overflow: hidden;}
.intelligent-recommend dt{float:left;}
.intelligent-recommend dd{margin-left:90px;}
.intelligent-recommend dd a{margin-right:20px;color:#4385E0;}
.intelligent-recommend dd a:hover{color:#eb7e00;}
/*intelligent-recommend e*/

.grid-view .recommend-common{border:1px solid #E6E6E6;padding:20px 20px 10px;width:198px;}
.grid-view .recommend-common .pic-wrap{border:none;width:198px;height:198px;}
.grid-view .recommend-common .pic-wrap .pic{width:198px;height:198px;}
.grid-view .recommend-common .nums-goods{width: auto;}
.grid-view .recommend-common .go-buy{font-weight: 700;}
.grid-view .recommend-common .pic-wrap{margin:0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/*--right goods list--*/
.r-side{width:260px;margin-top:-42px;}
.r-side h3{ background: #f2f2f2; line-height: 27px; font-size: 14px; font-weight: bold; font-family: \5fae\8f6f\96c5\9ed1; padding-left: 12px;}
.r-side .goods-list{ padding:10px;}
.r-side .goods-list li{ margin-bottom: 10px; overflow: hidden; zoom:1;}
.r-side .goods-list li p.pic img{ width:218px; height: 218px; border:1px #e6e6e6 solid;}
.r-side .goods-list li p.tit{ line-height: 18px; padding: 8px 0; height: 36px; overflow: hidden;}
.r-side .goods-list li p.tit a{color: #666; word-wrap:break-word;}
.r-side .goods-list li p.tit a em{ color: #ff0000;}
.r-side .goods-list li strong{ display: block; font-size: 18px; font-weight: bold; line-height: 18px; color:#db000f; font-family: \5fae\8f6f\96c5\9ed1;}

/*----@recommend s----*/
.recommend-title{color: #333; font-size: 16px; border-bottom: 1px solid #eee; font-family: \5FAE\8F6F\96C5\9ED1; }
.recommend-view{margin:0 -6px 20px 0;overflow:hidden;padding-left:1px;}
.recommend-view .grid-mod{margin-right:6px;}
/*----@recommend e----*/


/*---@huodong regiter s----*/
.pic-slider{width:334px;height: 59px;overflow: hidden;position: relative;}
.pic-slider ul{position: relative;}
.pic-slider .nums{float:right;margin:-20px 10px 0 0;position:relative;}
.pic-slider .nums a{float:left;margin-left:6px;font-size:0;line-height:0;overflow:hidden;height:10px;width:10px;cursor: pointer;background:url(../../images/www/icon.png) no-repeat scroll -150px -450px;_background-image:url(../../images/www/icon8.png);}
.pic-slider .nums a:hover,
.pic-slider .nums .cur{background-position:-100px -450px;}

.huodong-slider .huodong-more,
.huodong-slider .huodong-register{position: absolute;font-size:0;line-height: 0;overflow: hidden;}
.huodong-slider .huodong-register{width:44px;height:22px;left:13px;top:7px;}
.huodong-slider .huodong-more{width:100px;height:24px;left:92px;top:30px;}

.huodong-1,
.huodong-2,
.huodong-3{position:relative;width:334px;height:59px;}
.huodong-1{background: url(../../images/search/huodong_1.png) no-repeat scroll 0 0 transparent;}
.huodong-2{background: url(../../images/search/huodong_2.png) no-repeat scroll 0 0 transparent;}
.huodong-3{background: url(../../images/search/huodong_3.png) no-repeat scroll 0 0 transparent;}


.tao_min .tao-mod{margin:20px 0 0 27px;}
.tao_max .tao-mod{margin:20px 0 0 29px;}
/*---@huodong regiter e----*/
@media screen and (max-width:1660px){
	.flex{width:1262px;}
	.tao-mod{margin:20px 0 0 27px;}
}
@media screen and (min-width:1660px) {
	.flex{width:1522px;}
	.tao-mod{margin:20px 0 0 29px;}
}

.w_min .flex{width:1262px;}
.w_max .flex{width:1522px;}




.search-bar{height:45px;border-top:2px solid #FF7800;border-bottom:1px solid #DEDEDE;margin-top:10px;background:url(../../images/common/head_c_rx.png) repeat-x scroll 0 0 transparent;
    -webkit-box-shadow: 0 2px 20px #F2F2F2;
    -moz-box-shadow: 0 2px 20px #F2F2F2;
    box-shadow: 0 2px 20px #F2F2F2;

}
.search-input{position:relative;z-index:10;float:left;_display:inline;margin-left:50px;margin-top:9px;}
.search-input .header-search-content{display: inline-block;*display: inline;*zoom: 1;float:none;vertical-align: top;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.search-input .header-rearch-hotkey{float:none;display: block;padding:0 0 0 0;margin-top: 10px;}
.search-input .header-search-key{border:2px solid #D7D7D7;border-right:none;height:21px;line-height:21px;padding-left:30px;width:389px;background:url(../../images/common/head_c.png) no-repeat scroll -92px 12px transparent;
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
}
.search-input .hot-keys{height: 34px;line-height:34px;float:left;margin-left: 10px;font-size: 12px;color:#fff6eb;font-family:"\\5B8B\\4F53",SimSun;}
.search-input dt,
.search-input dd{float:left;}
.search-input .hot-keys a{color:#fff6eb;margin-right:12px;}
.search-input .hot-keys a:hover{text-decoration: underline;}
/*header s*/

/* search bar s*/
.header-search-content label{ display: none;}
.header-rearch-submit{display:inline-block;height:41px;width:67px;overflow:hidden;font-size:0;line-height: 0;background:url(../../images/common/head_c.png) scroll 0 0 transparent;*margin-left:-1px;}
.header-rearch-submit:hover{color:#673700;}
.header-rearch-hotkey,
.header-rearch-hotkey a{ color: #999;}
.header-rearch-hotkey a:hover{color:#eb7e00;}
.focusin{ color: #000;}
/* search bar e*/