/*----@layout s----*/
.container{margin-left:160px;}
.main{width:100%;}
.side-l{width: 140px;margin-left:-100%;}
.grid-view{margin-right:-20px;}
.grid-mod{width:190px;}
/*.grid-mod .pic-wrap{height:225px;}*/
.grid-mod .nums-goods{width:80px;}
.fixed{margin-left:0;}
/*----@layout e----*/
.cl-ff78{color:#FF7800;}
.mt20{margin-top: 20px;}
.ml20{margin-left: 20px;}
.mr20{margin-right: 20px;}
.mb20{margin-bottom: 20px;}
.vh {font-size: 0; line-height: 0; overflow: hidden; }
.cl-f00{color:#F00000;}
/*----@search s----*/
.sort-bar,
.filter-area{border:1px solid #e3e3e3;background: #fff;}
/*----@search e----*/

/*----@breakcrumb s----*/
.breadcrumb{font-family:\5b8b\4f53;}
.breadcrumb a,
.breadcrumb span{color:#999;}
.breadcrumb .reci-keyword{color:#333;}
/*----@breakcrumb e----*/

/*----@feedback s----*/
.feedback-box{display: inline-block;vertical-align:middle;*display: inline;*zoom: 1;*z-index:100;}
.search-feedback{display:inline-block;*display:inline;*zoom:1;width:76px;height:26px;background: url(../../images/search/feed-btn.png) no-repeat scroll 0 -78px transparent;font-size:0;overflow:hidden;line-height:0;}
.search-feedback:hover{background-position:0 -104px}
.feed-popup .tips{color:#eb8000;font-size:20px;font-family:\5FAE\8F6F\96C5\9ED1}
.popup{position:absolute;display:none;background:url(../../images/search/s_feed_back.jpg) no-repeat scroll 37px 100px #fff;z-index:800;
			-moz-box-shadow: 0 0 25px rgba(68,68,68,0.6);
			-webkit-box-shadow: 0 0 25px rgba(68,68,68,0.6);
			box-shadow: 0 0 25px rgba(68,68,68,0.6);
			zoom: 1;
			color:#fff;
			border:1px solid #f98f48;
}
.popup .close{position:absolute;top:14px;right:14px;font-weight:700;color:#999;font-size:12px;font-family: Verdana, Geneva, sans-serif;cursor: pointer;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}
.popup .close:hover{top:10px;right:11px;font-size:18px;font-family: Verdana, Geneva, sans-serif;
	-webkit-transform:rotate(180deg);
}
.popup .arrow{
    position: absolute;
    width:15px;
    height:10px;
    background: url(../../images/search/feed-btn.png) no-repeat scroll 0 0 transparent;
}
.popup .arrow-top{top:-10px;right:38px;background-position: 0 -262px;}
.popup .arrow-right{width:10px;height:15px;bottom:10px;right:-10px;background-position: -102px -257px;}
.form-horizontal .control-group{margin-bottom:16px;*zoom:1;}
.form-horizontal .control-group:before,.form-horizontal .control-group:after{display:table;content:"";line-height:0;}
.form-horizontal .control-group:after{clear:both;}
.form-horizontal .control-label{float:left;width:120px;padding-top:8px;text-align:right;}
.form-horizontal .control-label em{color:#ff0000;margin-right: 4px;}
.form-horizontal .controls{margin-left:120px;}
.form-horizontal .help-block{margin-bottom:0;}
.form-horizontal .form-actions{padding-left:180px;}
.form-horizontal textarea,.form-horizontal input{
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}
.popup-in{width:520px;margin:43px 60px 36px 40px;}
.feed-slogan{width:425px;margin:0 auto;height:30px;font-size:26px;line-height:26px;margin-bottom:48px;background-image:url(../../images/search/feed-slogan.png);background-repeat: no-repeat;}
.feed-login{background-position: center -30px;}
.feed-lottery{background-position: center 0;}
.feed-login a{opacity:0;filter:alpha(opacity=0);}
.feed-lottery a{display:none;}
.feed-form input,
.feed-form textarea{width:386px;padding:5px;line-height:20px;border:1px solid #CDCDCD;
	-webkit-box-shadow: inset 0 2px 5px -2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 2px 5px -2px rgba(0,0,0,.3);
	box-shadow: inset 0 2px 5px -2px rgba(0,0,0,.3);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.feed-form input:focus,
.feed-form textarea:focus{
	border:1px solid #f98f48;
	-webkit-box-shadow: 0 0 3px #f98f48;
	-moz-box-shadow: 0 0 3px #f98f48;
	box-shadow: 0 0 3px #f98f48;
}
.feed-form textarea{overflow-y:auto;resize:none;height:233px;}
.feed-form input{height:20px;}
.feed-form label{color:#666;}
.feed-form .btn-submit{display: inline-block;*display: inline;*zoom: 1;width:110px;height:40px;text-align:center;font:700 12px/40px \5FAE\8F6F\96C5\9ED1;color:#fff;}
.feed-form .btn-enable{background-color:#EB7E00}
.feed-form .btn-disable{background-color:#B3B3B3}
.feed-form .btn-box{text-align: right;margin-top: 15px; position: relative;}
.feed-form .error-tips{border-color:#F82244;}
.feedback-box .tips{padding-left:56px;font-size:18px;background: url(../../images/search/s_icon.png) no-repeat scroll 0 -750px;}
.feedback-box .tips h5{padding-top:5px;color:#eb7e00;font-weight:700;font-family:\5FAE\8F6F\96C5\9ED1;}
.feedback-box .tips p{color:#696969;font-size:12px;}
.feed-awards{position:fixed;z-index:200;bottom:140px;margin-left:500px;left:50%;width:47px;height:47px;background: url(../../images/search/feed-btn.png) no-repeat scroll 0 -156px transparent;cursor: pointer;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.feed-awards:hover{background-position: 0 -203px;}
/*----@feedback e----*/

/*----@jiabangdou s----*/
.bangdou-tips{position:absolute;width:133px;height:65px;overflow:hidden;background: url(../../images/common/jiabangdou.png) no-repeat 0 0 scroll transparent; display: none; line-height: normal;}
.bangdou-tips__in{padding:18px 0 0 60px;text-align:left;font-size:18px;font-weight: 700;color:#eb7e00;}
.btn-box .bangdou-tips{top:-65px;right:-10px;}
/*----@jiabangdou e----*/

/*----@filter-area s----*/
.filter-area{border-top:none;}
.filter-panel{overflow:hidden;zoom:1;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}
.filter-item{position: relative;height:35px;padding-left:140px;border-top: 1px dashed #ddd;margin-top:-1px;overflow: hidden;}
.filter-item dd a{float:left;width:90px;margin-right:10px;line-height: 24px;color:#666;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.filter-item dd a:hover{color:#eb7e00;}
.filter-item .show-more,
.horizontal-category .show-more{display:none;position: absolute;line-height:24px;margin-right:6px;right:0;top:6px;width:40px;cursor: pointer;background:url(../../images/search/s_icon.png) no-repeat right -13px;color:#666;}
.filter-item .filter-act{position:absolute;top:6px;right:60px;}
.filter-item .filter-act a{display: inline-block;*display: inline;*zoom: 1;margin-right:20px;line-height:20px;width:auto;padding:0 4px;border:1px solid #bdbdbd;color:#666;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#f3f3f3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fdfdfd 0%,#f3f3f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.filter-item .filter-act a:hover{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0e0e0 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0e0e0 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0e0e0 0%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0e0e0 0%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0e0e0 0%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */	
}
.filter-item .filter-act .btn-sure,
.filter-item .filter-act .btn-cancle{display:none;padding:0 20px;}
.filter-item .open{background-position:right -117px;}
.filter-item dt{color:#333;position: absolute;width:100px;top:9px;left:40px;}
.filter-item dd{padding:6px 0;margin-right:115px;}
.filter-item .price-range{margin-right:250px;}
.filter-item .price-input{position:absolute;right:60px;top:7px;}
.filter-item .price-input .txt{height:18px;line-height:18px;width:38px;border:1px solid #ddd;}
.filter-item .price-input .btn{height:20px;width:45px;border:1px solid #ddd;background-color: #fff;margin-left:8px;cursor:pointer;}
.filter-more{text-align: center;}
.filter-more a{noFocus:expression(this.onFocus=this.blur());display:block;background-color:#F9F9F9;outline:none;padding:0 18px;height:30px;line-height:30px;color:#666;}
.filter-more a:hover{background-color:#f3f3f3}
.filter-more span{padding-right:17px;background: url(../../images/search/s_icon.png) no-repeat right -121px}
.filter-more .open span{background-position: right -18px}
.filter-more .open em{color:#999;}
.filter-more .other-attr{display: none;}
.filter-more .open .pack-up{display: none;}
.filter-more .open .other-attr{display:inline;}
.filter-on{padding-top:2px;background-color:#e86e00;}
.filter-on .cancel-all{height:20px;line-height:18px;line-height:20px\0;*line-height:22px;position:absolute;right:10px;top:6px;padding:0 8px;background-color:#999;color:#fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.filter-on .cancel-all:hover{background-color:#eb7e00;}
.filter-on dl{position:relative;padding:0 80px 4px 80px;background-color: #f2f2f2;}
.filter-on .filter-on-tit{position:absolute;top:6px;margin-left:-72px;color:#333;font-size:12px;}
.filter-on .filter-on-mod{display:inline-block;position:relative;white-space:nowrap;border:1px solid #e86e00;height:22px;line-height:20px;line-height:23px\0;padding-right:20px;padding-left:4px;margin:4px 0 0 6px;color:#999;background-color:#fff;}
.filter-on .filter-on-mod em{color:#e86e00;}
.filter-on .filter-on-mod b{position:absolute;top:5px;margin-left:4px;height:12px;width:12px;line-height:8px;*top:3px;*height:auto;*line-height:12px;*padding-bottom:4px;text-align:center;font-size:12px;font-weight:400;color:#fff;background-color:#e86e00;vertical-align: middle;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.filter-open{height: auto;}
.filter-multiply .filter-act{margin:15px 0 15px;position:static;top:auto;right:auto;text-align: center;}
.filter-multiply .filter-act .btn-multiple{display: none;}
.filter-multiply .filter-act .btn-sure,
.filter-multiply .filter-act .btn-cancle{display: inline-block;*display: inline;*zoom: 1;}
.filter-multiply dd{margin-right:60px;}
.filter-multiply dd a{width:76px;padding-left:24px;background: url(../../images/search/s-icon-v1.png) left -130px no-repeat;}
.filter-multiply dd a.cur{background-position:left -156px;}
/*----@filter-area e----*/

/*----@sort-bar s----*/
.sort-bar{padding-left:10px;background-color: #FAFAFA;}
.sort-item{margin:10px 0;}
.sort-item dt,
.sort-item dd{display:inline;margin-right: 5px;}
.sort-btn{cursor:pointer;border:1px solid #CDCDCD;padding:3px 6px;color:#666;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #EFEFEF; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  #EFEFEF 0%, #E4E4E4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EFEFEF), color-stop(100%,#E4E4E4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #EFEFEF 0%,#E4E4E4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #EFEFEF 0%,#E4E4E4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #EFEFEF 0%,#E4E4E4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #EFEFEF 0%,#E4E4E4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFEFEF', endColorstr='#E4E4E4',GradientType=0 ); /* IE6-8 */
}
.sort-btn:hover{
	background: -moz-linear-gradient(top,  #E4E4E4 0%,  #EFEFEF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E4E4E4), color-stop(100%,#EFEFEF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #E4E4E4 0%, #EFEFEF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #E4E4E4 0%, #EFEFEF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #E4E4E4 0%, #EFEFEF 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #E4E4E4 0%, #EFEFEF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFEFEF', endColorstr='#E4E4E4',GradientType=0 ); /* IE6-8 */

}
.btn-price i{display: inline-block;*display: inline;*zoom: 1;height:10px;width:14px;background: url(../../images/search/fushi-icon.png) no-repeat scroll 3px -200px;}
.price-down i{background-position: 3px -222px;}
/*----@sort-bar e----*/

/*----@grid-view s----*/
.summary a{display:block;height:34px;overflow:hidden;color:#666;line-height:18px;}
.summary a:hover{text-decoration:underline;color:#e97d01;}
.price{font-family:\5fae\8f6f\96c5\9ed1;color:#999;font-size: 16px;vertical-align:middle;}
.price b{font-weight: 400;font-size:14px;}
.price span{font-size: 18px;}
.start .start-warp,
.start .start-in{width:59px;height:11px;background-image:url(../../images/search/s_icon.png);background-repeat: no-repeat;font-size:0;line-height:0;}
.start .start-warp{margin:3px 2px 0 0;background-position: 0 -500px;}
.start .start-in{background-position: 0 -550px;}
.nums-goods{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:right;}
.nums-goods{color:#999;}
.old-price{color:#A8A8A8;font-family:\5fae\8f6f\96c5\9ed1 }
.pic img{max-width:100%;max-height:100%;*vertical-align:middle;}
.pic{display:block;height: 100%;text-align: center;background:url(../../images/search/loading.gif) no-repeat 50% 50%;}
.pic:before{content:"";display:inline-block;width: 0;vertical-align:middle;height:100%;}
.pic img{vertical-align: middle;}

.shops-ls li{height:32px;line-height:32px;overflow:hidden;margin:0;border-top:1px dashed #fff;}
.shops-ls .title{border:none;}
.shops-ls a{color:#fff;}
.shops-ls a:hover{text-decoration: underline;}
.grid-ls{position:relative;float:left;width:25%;margin-top: 20px;}
.grid-in{border:1px solid #e3e3e3;cursor: default;
	-webkit-transition: border-color ease-in .3s;
	-moz-transition: border-color ease-in .3s;
	-ms-transition: border-color ease-in .3s;
	-o-transition: border-color ease-in .3s;
	transition: border-color ease-in .3s;
}
.grid-mod{position:relative;background: #fff;}
.grid-mod:hover .grid-in{border:1px solid #c6c6c6;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .1);
}
.grid-mod:hover .price strong{color:#eb7e00;}
.grid-mod:hover .mall-info{display:block;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
}
.grid-mod:hover .goods-fun{display:block;}
.grid-mod .summary,
.grid-mod .price,
.grid-mod .start{padding:0 6px;}
.grid-mod .price-mod,
.grid-mod .start{height:25px;overflow: hidden;}
.grid-mod .start strong{color:#999;font-weight: 400;}
.grid-mod .start .nums-goods{color:#2591dc;}
.grid-mod .summary{margin:0 0 10px;}
.grid-mod .pic-wrap{zoom:1;position:relative;overflow: hidden;}
.grid-mod .shops-ls{position:relative;height:100%;overflow:hidden;padding:10px 12px 0 15px;background: rgba(0, 0, 0, .4);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66000000', endColorstr='#66000000');
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-khtml-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.grid-mod .pic-wrap:hover .shops-ls{margin-top:-100%;}
.grid-mod .mall-info{display:none;position:absolute;left:-1px;border:1px solid #e3e3e3;border-top:none;z-index:100;text-align: center;width:100%;height:22px;line-height:22px;background-color: #F1F1F1;}
.grid-mod .mall-name{color:#0B72CA;}
.goods-fun{display:none;}
.goods-fun a{position:absolute;top:0;width:63px;height:30px;background: url(../../images/search/fav-share.png) no-repeat scroll 0 0 transparent;}
.goods-fun .goods-add{background-position: 0 0;left:0;}
.goods-fun .goods-add:hover{background-position: 0 -30px;}
.goods-fun .goods-share{background-position:-65px 0;right:0;}
.goods-fun .goods-share:hover{background-position:-65px -30px;}



.mini-slider{position:relative;overflow:hidden;padding:8px 20px 2px;}
.mini-slider ul{position:relative;font-size:0;white-space: nowrap;}
.mini-slider li{display: inline-block;*display: inline;*zoom: 1;margin-right:5px;}
.mini-slider li a{position:relative;display: inline-block;*display: inline;*zoom: 1;/*border:2px solid #fff;*/}
.mini-slider li a:hover,
.mini-slider li a.active{border:2px solid #ff7800;margin:-2px;/*border-color:#FF7800;*/}
.mini-slider li a:hover::before,
.mini-slider li a.active::before{position:absolute;top:-8px;margin-left:-4px;left:50%;content:"";width:0;height:0;border:6px solid #ff7800;border-top:none;border-left-color:transparent;border-right-color:transparent;}
.mini-slider .arrow{position:absolute;top:2px;width:18px;height:37px;font-size:0;line-height: 0;overflow: hidden;background: url(../../images/search/fushi-icon.png) no-repeat;cursor: pointer;}
.mini-slider .arrow-left{background-position:0 -599px;left:0;}
.mini-slider .arrow-right{background-position:-24px -599px;right:0;}
.mini-slider .arrow-left-disable{cursor:not-allowed;background-position:0 6px;}
.mini-slider .arrow-right-disable{cursor:not-allowed;background-position:-24px 6px;}


.goods-comments{background-color:#fff;top:0;right:-210px;position:absolute;z-index:100;width: 206px;border:2px solid #FF7700;line-height: 20px;}
.goods-comments h3,
.goods-comments .show-more-comment{height:37px;line-height: 37px;color:#666;font-size:12px;background-color:#FFF7EA;}
.goods-comments h3{font-weight: 700;text-indent:1em;}
.goods-comments .show-more-comment{cursor:pointer;text-align: center;color:#ff7800;}
/*.goods-comments .show-more-comment span{padding-right:18px;background: url(../../images/search/fushi-icon.png) no-repeat scroll right -90px;}*/
.goods-comments .show-more-comment-open span{background-position:right -120px;}
.goods-comments .goods-info{color:#999;}
.goods-comments .goods-info .goods-item,
.goods-comments .comments-detail{color:#333;}
.goods-comments .comments-detail{border-bottom: 1px solid #ddd;margin-bottom: 5px;padding-bottom: 5px;}
.goods-comments .content-comments{overflow:hidden;padding:0 11px;}
.goods-comments .content-comments li{padding:4px 0 4px;overflow:hidden;margin-top:-1px;border-top:1px dashed #D9D9D9;}
.goods-comments .arrow-comment{position:absolute;left:-13px;top:11px;width:11px;height:15px;background: url(../../images/search/fushi-icon.png) no-repeat scroll 0 -150px;}
.goods-comments-left{right:190px;}
.goods-comments-left .arrow-comment{left:208px;background: url(../../images/search/fushi-icon.png) no-repeat scroll 0 -175px; }
/*@grid-view e----*/


/*----@left-size s----*/
.m-bord{background: #fff; border:2px #e3e3e3 solid;}
.m-bord .s-icon{ background-image: url(../../images/search/s-icon-v1.png); background-repeat: no-repeat;}
.s-menu-list .s-all,
.goods-filter .goods-f{height: 30px; border-top: 1px #fff solid; border-bottom: 1px #e3e3e3 solid; background-color:#f3f3f3;  color: #666; font: 16px/30px "\5FAE\8F6F\96C5\9ED1"; padding-left: 10px;}
.s-menu-list .s-all{ background-position:84px 9px;}
.goods-filter .goods-f{ background-position:84px -96px; }
.s-menu-list .m-dl{padding: 5px 10px; line-height: 22px;border-bottom: 1px solid #E3E3E3;}
.s-menu-list .m-dl dt{padding-left: 20px;background: url(../../images/search/s_icon.png) no-repeat scroll 0 -944px transparent;cursor:default;font-weight:700;}
.s-menu-list .m-dl dt a{color:#000;}
.s-menu-list .m-dl dt a.cur,
.s-menu-list .m-dl dt a:hover{color:#EB7E00;}
.s-menu-list .m-dl dd{display: none;}
.s-menu-list .cur dt{background: url(../../images/search/s_icon.png) no-repeat scroll 0 -894px transparent;}
.s-menu-list .cur dd{display:block;}
.s-menu-list .m-dl .no-bg{background-image:none;}
.s-menu-list .m-dl dd a{ color: #787878; padding-left: 20px; background-position:left -20px;}
.s-menu-list .m-dl dd a:hover{color: #ff7800;}
.s-menu-list .m-dl dd a.cur{ color:#ff7800; background-position:left -39px;}
.s-menu-list .m-dl .m-ul a{ background: none;}
.m-bord .more-c{ width: 100%; height:29px; position: relative; margin-bottom: 20px; border-bottom: 1px solid #ddd;}
.m-bord .more-c span{width: 80px; height: 25px; display: block;border:1px solid #fff;border-left:1px solid #f3f3f3;}
.m-bord .more-c .more-btn{width: 80px; height: 25px; display: block; line-height: 25px; color: #ff7800; text-align: center; background-color: #f3f3f3;background-position:right -65px; font-family: \5b8b\4f53;}
.m-bord .current span,
.m-bord .more-c:hover span{ width: 181px; border:1px #f5772b solid; position: absolute;background: #fff; z-index: 101; border-right: none;}
.m-bord .m-items{ display: none; width: 480px; background: #fff; border:1px #f5772b solid;position: absolute; left: 180px; background: #fff; z-index: 100; padding:10px 0 10px 30px; }
.m-bord .m-items li{ width: 120px; line-height: 24px; float: left; height: 24px; overflow: hidden; _display: inline;}
.m-bord .current .m-items,
.m-bord .more-c:hover .m-items{ display: block;}
.m-bord .m-items li a{ color: #666666;}
.m-bord .m-items li a:hover{ color: #f88f3a;}
.m-bord .more-category{height: 29px;line-height: 29px;text-align: center;cursor: pointer;}
.m-bord .more-category strong{padding-right:20px;background:url(../../images/search/s_icon.png) no-repeat scroll right -995px transparent;}
.m-bord .more-category .close-cate{display:none;}
.m-bord .more-category-open .close-cate{display:inline;background-position:right -1045px;}
.m-bord .more-category-open .open-cate{display:none;}
.m-bord .more-category{height: 29px;line-height: 29px;text-align: center;cursor: pointer;}
.m-bord .more-category strong{padding-right:20px;background:url(../../images/search/s_icon.png) no-repeat scroll right -995px transparent;}
.m-bord .more-category .close-cate{display:none;}
.m-bord .more-category-open .close-cate{display:inline;background-position:right -1045px;}
.m-bord .more-category-open .open-cate{display:none;}
.goods-filter{ border-top: 1px #ddd solid;}
.goods-filter .g-fil{ padding: 10px;}
.goods-filter .g-fil li{  margin-bottom: 8px;}
.goods-filter .g-fil li a,
.goods-filter .m-items li a{ padding-left: 24px; background: url(../../images/search/s-icon-v1.png) left -135px no-repeat; color: #999999;}
.goods-filter .g-fil li a:hover{ color: #ff7800;}
.goods-filter .g-fil li a.cur,
.goods-filter .m-items li a.cur{ background: url(../../images/search/s-icon-v1.png) left -160px no-repeat;}
.goods-filter .m-items li a{ line-height: 14px; width: 90px;height:14px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;
	display: block; }
.goods-history{border:1px solid #F1F1F1}
.goods-history .his-title{text-align:center;font-size:14px;font-family:\5fae\8f6f\96c5\9ed1;border-top:1px solid #fff;height:30px;line-height:30px;background-color: #F3F3F3}
.goods-history .grid-view{margin-right:0!important;}
.goods-history .grid-ls{margin-top:10px;width:auto;float:none;}
.goods-history .grid-ls .grid-mod{width:138px;}
.goods-history .grid-mod .pic-wrap{height:auto;}
.goods-history .grid-ls .grid-mod .pic-mod{height:118px;}
.goods-history .grid-in{border:none;}
.goods-history .grid-mod:hover .grid-in{border:none;box-shadow:none;}
/*----@left-size e----*/

/*----@intelligent-recommend s----*/
.intelligent-recommend{height:20px;margin-bottom: 20px;overflow: hidden;}
.intelligent-recommend dt{float:left;}
.intelligent-recommend dd{margin-left:90px;}
.intelligent-recommend dd a{margin-right:20px;color:#eb7e00;}
/*----@intelligent-recommend e----*/

.goToSearchPage{position: fixed;left:50%;margin-left:550px;width: 42px;height: 182px;top:244px;background:url(../../images/search/fushi-icon.png) no-repeat scroll 0 -410px;}

/*----@login tips s----*/
.dialog-login{position:absolute;left:50%;top:360px;margin-left:-275px;z-index:999;padding:3px;background-color:rgba(0,0,0,.5);}
.dialog-login .dialog-login-close{position:absolute;right:3px;top:3px;width: 40px;height: 40px;line-height:28px;color:#999;font-weight:400;text-align:center;background-color: #F7F7F7;font-size:20px;}
.dialog-login-in{padding:0 20px 0;font-size:16px;font-family:\5fae\8f6f\96c5\9ed1;background-color: #fff;}
.dialog-login-in h3{height: 56px;line-height:56px;text-align: center;font-size:18px;color:#666;border-bottom:1px solid #F0F0F0;}
.dialog-login-in p{color:#999;margin-bottom: 20px;}
.dialog-login-in .login-register-mod{padding:20px 0;width: 508px;height: 220px;font-size: 0;}
.dialog-login-in .login-mod,
.dialog-login-in .register-mod{display: inline-block;*display: inline;*zoom: 1;font-size:16px;vertical-align: middle;height: 175px;padding-top: 45px;width: 50%;text-align: center;}
.dialog-login-in .login-mod{border-right:1px dashed #D9D9D9;margin-left:-1px;}
.dialog-login-in .dialog-btn{display: inline-block;*display: inline;*zoom: 1;width: 128px;text-align:center;height: 34px;line-height:34px;border-width:1px;border-style:solid;color:#fff; }
.dialog-login-in .btn-login{border-color:#F2990E;background-color: #FEB114;
	-webkit-box-shadow: inset 0 1px 0 #FFCD60;
	-moz-box-shadow: inset 0 1px 0 #FFCD60;
	box-shadow: inset 0 1px 0 #FFCD60;
}
.dialog-login-in .btn-register{border-color:#EF7000;background-color: #FC8C28;
	-webkit-box-shadow: inset 0 1px 0 #FEB06C;
	-moz-box-shadow: inset 0 1px 0 #FEB06C;
	box-shadow: inset 0 1px 0 #FEB06C;
}
/*----@login tips e----*/


/*----media query s----*/
.size1 .wp{width:980px;}
.size1 .horizontal-category{display: block;}
.size1 .side-r{width:182px;margin-left:-182px;}
.size1 .grid-view{margin-right:-20px;}
.size1 .grid-mod{width:188px;}
.size1 .grid-mod .pic-mod{height:178px;}
.size1 .grid-mod .nums-goods{width:80px;}
.size1 .price .price-trend{font-size:0;overflow: hidden;line-height: 0;}
.size1 .goToSearchPage{margin-left:545px;}

.size2 .wp{width:1050px;}
.size2 .side-r{width:202px;margin-left: -202px;}
.size2 .grid-view{margin-right:-10px;}
.size2 .grid-mod{width:213px;}
.size2 .grid-mod .pic-mod{height:198px;}
.size2 .grid-mod .nums-goods{width:80px;}
.size2 .goToSearchPage{margin-left:580px;}
.size2 .fixed{*margin-left:-1050px;}

.size3 .wp{width:1150px;}
.size3 .side-r{width:222px;margin-left: -222px;}
.size3 .grid-view{margin-right:-10px;}
.size3 .grid-mod{width:238px;}
.size3 .grid-mod .pic-mod{height:218px;}
.size3 .grid-mod .nums-goods{width:80px;}
.size3 .goToSearchPage{margin-left:630px;}
.size3 .fixed{*margin-left:-1150px;}

.size4 .wp{width:1320px;}
.size4 .side-r{width:242px;margin-left: -242px;}
.size4 .grid-view{margin-right:-34px;}
.size4 .grid-mod{width:263px;}
.size4 .grid-mod .pic-mod{height:238px;}
.size4 .grid-mod .nums-goods{width:80px;}
.size4 .goToSearchPage{margin-left:715px;}
.size4 .fixed{*margin-left:-1320px;}

.size5 .wp{width:1450px;}
.size5 .side-r{width:262px;margin-left: -262px;}
.size5 .grid-view{margin-right:-54px;}
.size5 .grid-mod{width:289px;}
.size5 .grid-mod .pic-mod{height:258px;}
.size5 .grid-mod .nums-goods{width:80px;}
.size5 .goToSearchPage{margin-left:780px;}
.size5 .fixed{*margin-left:-1450px;}

@media screen and (max-width:1369px){
	.wp{width:980px;}
	.side-r{width:182px;margin-left:-182px;}
	.grid-view{margin-right:-20px;}
	.grid-mod{width:188px;}
	.grid-mod .pic-mod{height:178px;}
	.grid-mod .nums-goods{width:80px;}
	.goToSearchPage{margin-left:545px;}
}

@media screen and (min-width:1370px) and (max-width:1469px){
	.wp{width:1050px;}
	.side-r{width:202px;margin-left: -202px;}
	.grid-view{margin-right:-10px;}
	.grid-mod{width:213px;}
	.grid-mod .pic-mod{height:198px;}
	.grid-mod .nums-goods{width:80px;}
	.goToSearchPage{margin-left:580px;}
}

@media screen and (min-width:1470px) and (max-width:1639px){
	.wp{width:1150px;}
	.side-r{width:222px;margin-left: -222px;}
	.grid-view{margin-right:-10px;}
	.grid-mod{width:238px;}
	.grid-mod .pic-mod{height:218px;}
	.grid-mod .nums-goods{width:80px;}
	.goToSearchPage{margin-left:630px;}
}

@media screen and (min-width:1640px) and (max-width:1769px){
	.wp{width:1320px;}
	.side-r{width:242px;margin-left: -242px;}
	.grid-view{margin-right:-34px;}
	.grid-mod{width:263px;}
	.grid-mod .pic-mod{height:238px;}
	.grid-mod .nums-goods{width:80px;}
	.goToSearchPage{margin-left:715px;}
}

@media screen and (min-width:1770px){
	.wp{width:1450px;}
	.side-r{width:262px;margin-left: -262px;}
	.grid-view{margin-right:-44px;}
	.grid-mod{width:289px;}
	.grid-mod .pic-mod{height:258px;}
	.grid-mod .nums-goods{width:80px;}
	.goToSearchPage{margin-left:780px;}
}
/*----media query e----*/
