html{overflow-y:auto;}
.search-index .logo{display:block;width:248px;height:99px;margin:86px auto 50px;}
.search-index .search-tools{display:block;float:none;margin:0 auto 300px;width:507px;}
.footer{position:fixed;z-index:10;bottom:0;width:100%;}
