
/*
 * 搜索结果页面原子类名
 */
/* head c*/
.header{height:130px;padding-top: 18px; *position: relative; *z-index:1;background: #fff;}
.search-bar{height:45px;border-top:2px solid #FF7800;border-bottom:1px solid #DEDEDE;margin-top:10px;background:url(../../images/common/head_c_rx.png) repeat-x scroll 0 0 transparent;
    -webkit-box-shadow: 0 2px 20px #F2F2F2;
    -moz-box-shadow: 0 2px 20px #F2F2F2;
    box-shadow: 0 2px 20px #F2F2F2;

}
.search-input{position:relative;z-index:10;float:left;_display:inline;margin-left:50px;margin-top:9px;}
.search-input .header-search-content{display: inline-block;*display: inline;*zoom: 1;float:none;vertical-align: top;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.search-input .header-rearch-hotkey{float:none;display: block;padding:0 0 0 0;margin-top: 10px;}
.search-input .header-search-key{border:2px solid #D7D7D7;border-right:none;height:21px;line-height:21px;padding-left:30px;width:389px;background:url(../../images/common/head_c.png) no-repeat scroll -92px 12px transparent;
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
}
.search-input .hot-keys{height: 34px;line-height:34px;float:left;margin-left: 10px;font-size: 12px;color:#fff6eb;font-family:"\\5B8B\\4F53",SimSun;}
.search-input dt,
.search-input dd{float:left;}
.search-input .hot-keys a{color:#fff6eb;margin-right:12px;}
.search-input .hot-keys a:hover{text-decoration: underline;}
/*header s*/

/* search bar s*/
.header-search-content label{ display: none;}
.header-rearch-submit{display:inline-block;height:41px;width:67px;overflow:hidden;font-size:0;line-height: 0;background:url(../../images/common/head_c.png) scroll 0 0 transparent;*margin-left:-1px;}
.header-rearch-submit:hover{color:#673700;}
.header-rearch-hotkey,
.header-rearch-hotkey a{ color: #999;}
.header-rearch-hotkey a:hover{color:#eb7e00;}
.focusin{ color: #000;}
/* search bar e*/
/* head c*/
.wp{
	-webkit-transition: width ease-in .4s;
	-moz-transition: width ease-in .4s;
	-ms-transition: width ease-in .4s;
	-o-transition: width ease-in .4s;
	transition: width ease-in .4s;
}
.cl-ff78{color:#FF7800;}
.mt20{margin-top: 20px;}
.ml20{margin-left: 20px;}
.mr20{margin-right: 20px;}
.mb20{margin-bottom: 20px;}
.vh {font-size: 0; line-height: 0; overflow: hidden; }

/*----@breakcrumb s----*/
.breadcrumb{font-family:\5b8b\4f53;}
.breadcrumb .search-key,
.breadcrumb .product-nums{padding:0 5px;}
/*----@breakcrumb e----*/

/*----@layout s----*/
.main{width:100%;}
.side{background-color: #fff;}
.side-l{width: 140px;margin-left:-100%;position: relative;left:-160px;}
.fixed{left:50%;}
/*----@layout e----*/

/*----@grid-view s----*/
.summary a{display:block;height:34px;overflow:hidden;color:#666;line-height:18px;}
.summary a:hover{text-decoration:underline;color:#e97d01;}
.price strong{font-family:\5fae\8f6f\96c5\9ed1;color:#999;font-size: 16px;vertical-align:middle;}
.start .start-warp,
.start .start-in{width:59px;height:11px;background-image:url(../../images/search/s_icon.png);background-repeat: no-repeat;font-size:0;line-height:0;}
.start .start-warp{margin:3px 2px 0 0;background-position: 0 -500px;}
.start .start-in{background-position: 0 -550px;}
.nums-goods{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:right;}
.nums-goods{color:#999;}
.old-price{color:#A8A8A8;font-family:\5fae\8f6f\96c5\9ed1 }
.pic img{max-width:100%;max-height:100%;*vertical-align:middle;}
.pic{display:block;height: 100%;text-align: center;background:url(../../images/search/loading.gif) no-repeat 50% 50%;}
.pic:before{content:"";display:inline-block;width: 0;vertical-align:middle;height:100%;}
.pic img{vertical-align: middle;}

.shops-ls li{height:32px;line-height:32px;overflow:hidden;margin:0;border-top:1px dashed #fff;}
.shops-ls .title{border:none;}
.shops-ls a{color:#fff;}
.shops-ls a:hover{text-decoration: underline;}
.grid-ls{width:20%;margin-top: 20px;float:left;}
.grid-in{border:1px solid #e3e3e3;cursor: default;
	-webkit-transition: border-color ease-in .3s;
	-moz-transition: border-color ease-in .3s;
	-ms-transition: border-color ease-in .3s;
	-o-transition: border-color ease-in .3s;
	transition: border-color ease-in .3s;
}
.grid-mod{background: #fff;}
.grid-mod:hover .grid-in{border:2px solid #c6c6c6;margin:-1px;}
.grid-mod:hover .price strong{color:#eb7e00;}
.grid-mod .summary,
.grid-mod .price,
.grid-mod .start{padding:0 6px;}
.grid-mod .price,
.grid-mod .start{height:25px;overflow: hidden;}
.grid-mod .summary{margin:10px 0;}
.grid-mod .pic-wrap{zoom:1;position:relative;overflow: hidden;}
.grid-mod .shops-ls{position:relative;height:100%;overflow:hidden;padding:10px 12px 0 15px;background: rgba(0, 0, 0, .4);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66000000', endColorstr='#66000000');
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-khtml-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.grid-mod .pic-wrap:hover .shops-ls{margin-top:-100%;}
.price .price-trend{display: inline-block;*display: inline;*zoom: 1;vertical-align:middle;width:18px;height: 16px;border-left: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;background: url(../../images/search/s_icon.png) no-repeat 0 0 scroll;cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.price .price-up{background-position:0 -350px;}
.price .price-down{background-position:0 -400px;}
.price .price-fair{background-position:0 -450px;}
/*@grid-view e----*/

/*----商家 s---*/
.brand-panel{border:1px solid #ddd;background: #fff;}
.brand-panel .brand-panel-in{padding: 15px;}
.brand-panel .brand-logo{margin-right:14px;}
.brand-panel .brand-des a{color:#666;cursor: default;}
.brand-panel .brand-des strong{font-weight:700;}
.brand-panel .hd{padding-left: 12px;background-color: #f1f1f1;}
.brand-panel .hd .title{height: 34px;line-height: 34px;}
.brand-panel .hd .title{font-family:\5fae\8f6f\96c5\9ed1;font-size: 14px;}
.hot-product{font-family: \5fae\8f6f\96c5\9ed1;font-size: 18px;}
/*----商家 s---*/

.wp{width:980px;}
.horizontal-category{display: block;}
.side-l{display: none;}
.side-r{width:182px;margin-left:-182px;}
.grid-view{margin-right:-20px;}
.grid-mod{width:180px;}
.grid-mod .pic-wrap{height:178px;}
.grid-mod .nums-goods{width:80px;}
.pic{*height:178px;*font-size:146px;}
