body {
  font-family: "Microsoft YaHei";
  color: #333333;
}
.zacaid-header {
  height: 641px;
  width: 100%;
  background: url("/static/images/huodong/zacaidan/zacaid-heardg.png") no-repeat center 0;
}
.zacaid-headcont {
  width: 985px;
  height: 641px;
  margin: 0 auto;
  position: relative;
  background: url("/static/images/huodong/zacaidan/zacaid-headcont.png") no-repeat 0 0;
}
.zacaid-headcont2 {
  background: url("/static/images/huodong/zacaidan/zacaid-headcontzb.png") no-repeat 0 0;
}
.zacaid-headcont2 .caiegg {
  left: 90px;
  top: 155px;
  width: 691px;
  height: 271px;
}
.zacaid-headcont2 .caiegg a {
  float: left;
}
.zacaid-headcont2 .caiegg-hao1 {
  width: 186px;
  height: 271px;
  background: url("/static/images/huodong/zacaidan/zacaid-mzhad1.png") no-repeat 0 0;
}
.zacaid-headcont2 .caiegg-hao2 {
  width: 155px;
  height: 271px;
  background: url("/static/images/huodong/zacaidan/zacaid-mzhad2.png") no-repeat 0 0;
}
.zacaid-headcont2 .caiegg-hao3 {
  width: 152px;
  height: 271px;
  background: url("/static/images/huodong/zacaidan/zacaid-mzhad3.png") no-repeat 0 0;
}
.zacaid-headcont2 .caiegg-hao4 {
  width: 198px;
  height: 271px;
  background: url("/static/images/huodong/zacaidan/zacaid-mzhad4.png") no-repeat 0 0;
}
.zacaid-headcont2 .caiegg-zha1 {
  width: 186px;
  height: 271px;
  background: url("/static/images/huodong/zacaidan/zacaid-zhasuid1.png") no-repeat 0 0;
}
.zacaid-headcont2 .caiegg-zha2 {
  width: 155px;
  height: 271px;
  background: url("/static/images/huodong/zacaidan/zacaid-zhasuid2.png") no-repeat 0 0;
}
.zacaid-headcont2 .caiegg-zha3 {
  width: 152px;
  height: 271px;
  background: url("/static/images/huodong/zacaidan/zacaid-zhasuid3.png") no-repeat 0 0;
}
.zacaid-headcont2 .caiegg-zha4 {
  width: 198px;
  height: 271px;
  background: url("/static/images/huodong/zacaidan/zacaid-zhasuid4.png") no-repeat 0 0;
}
.caiegg {
  width: 156px;
  height: 209px;
  position: absolute;
  left: 356px;
  top: 189px;
}
.caiegg-nlfdz {
  width: 592px;
  height: 123px;
  position: absolute;
  left: 141px;
  bottom: 140px;
  background: url("/static/images/huodong/zacaidan/zacaid-headbot.png") no-repeat 0 0;
}
.caiegg-nlfdz span {
  color: #eaf7ff;
  font-size: 14px;
  position: absolute;
  left: 275px;
  top: 19px;
}
.caiegg-nlfdz span dfn {
  font-size: 35px;
  font-weight: bold;
}
.caiegg-qitalj {
  width: 56px;
  height: 170px;
  position: absolute;
  left: 37px;
  bottom: 172px;
  text-indent: -9999px;
}
.caiegg-huojian {
  width: 160px;
  height: 295px;
  position: absolute;
  right: 42px;
  top: 94px;
}
.spatit {
  width: 160px;
  height: 22px;
  line-height: 22px;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #f18100;
  font-weight: bold;
}
.prizes-list {
  margin: 14px 0 0 0;
}
.prizes-list p {
  display: inline-block;
  margin: 0 5px 5px 5px;
  height: 15px;
  line-height: 15px;
}
.prizes-list span {
  float: left;
  width: 75px;
  color: #c37120;
  font-size: 14px;
  text-align: center;
}
/*zacaid-content*/
.zacaid-xiambg {
  width: 100%;
  height: 100%;
  background-color: #845d18;
  padding: 0 0 50px 0;
}
.caiegg-content {
  width: 980px;
  height: 1215px;
  display: block;
  margin: 0 auto;
  position: relative;
  background: url("/static/images/huodong/zacaidan/zacaid-content-bg.png") no-repeat 0 0;
}
.mall-free {
  position: absolute;
  left: 50px;
  top: 17px;
}
.mall-free span {
  display: block;
  font-size: 14px;
  color: #34260f;
}
.mall-free span dfn {
  color: #e93b3b;
}
.caiegg-mallfre {
  position: absolute;
  left: 58px;
  top: 130px;
  font-size: 18px;
  color: #ffe0aa;
  font-weight: bold;
}
.caiegg-freeintrod {
  width: 980px;
  height: 1014px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.caiegg-freintone {
  margin: 40px 0 0 49px;
}
.ceg-fitt {
  font-size: 20px;
  color: #e93b3b;
  font-weight: bold;
  margin: 0 0 12px 0;
}
.freintone-jsmrwz p {
  color: #34260f;
  font-size: 14px;
  margin: 0 0 15px 0;
}
.freintone-jsmrwz p span {
  display: block;
  margin: 0 0 3px 0;
}
.freintone-jsmrwz p .ymfyh-rkzy {
  font-size: 16px;
  margin: 0 0 10px 0;
}
.freintone-jsmrwz p .klgztwz {
  margin: 0 0 3px 35px;
}
.freintone-jsmrwz p .klgred,
.freintone-jsmrwz p span dfn {
  color: #e93b3b;
}
.freintone-jsmrwz p .klgt {
  margin: 10px 0 0 35px;
}
.freintone-jsmrwz p span .spanleft,
.freintone-jsmrwz p span .spanright {
  float: left;
}
.freintone-jsmrwz p span .spanright {
  width: 798px;
}
.freintwo {
  margin: 18px 0 0 49px;
}
.freintwo .ceg-fitt {
  margin: 0 0 6px 0;
}
.freinthre {
  margin: 15px 0 0 49px;
  *margin: 20px 0 0 49px;
}
.freinthre .ceg-fitt {
  margin: 0 0 20px 0;
}
.freinthre p .frethre-widt {
  width: 714px;
}
.freinthre .freintone-jsmrwz {
  margin: 0 0 0 15px;
}
/*floating-laye*/
.floating-laye {
  width: 512px;
  height: 286px;
  display: block;
  position: relative;
  background: url("/static/images/huodong/zacaidan/zacaid-fcbg.png") no-repeat 0 0;
}
.float-delet {
  width: 35px;
  height: 34px;
  position: absolute;
  top: 6px;
  right: 15px;
  background: url("/static/images/huodong/zacaidan/zacaid-fcdel.png") no-repeat 0 0;
}
.float-laye-mid {
  margin: 90px 0 0 16px;
  display: inline-block;
}
.float-laye-pic {
  float: left;
  width: 86px;
  height: 73px;
  background: url("/static/images/huodong/zacaidan/zacaid-fcxiall.png") no-repeat 0 0;
}
.float-laye-pick {
  background: url("/static/images/huodong/zacaidan/zacaid-fckul.png") no-repeat 0 0;
}
.float-laye-introd {
  float: left;
  margin: 0 0 0 9px;
}
.float-laye-introd span {
  display: block;
  color: #000000;
  font-size: 18px;
}
.float-laye-introd span b {
  color: #ec2121;
  font-size: 30px;
  margin: 0 8px;
  line-height: 30px;
}
.qulook {
  margin: 40px 0 0 0;
}
.qulook a {
  color: #ec2121;
  text-decoration: underline;
  margin: 0 0 0 5px;
}
.laye-introd-kul {
  margin: 16px 0 0 0;
}
.laye-introd-kul a {
  display: block;
  color: #ec2121;
  text-decoration: underline;
  font-size: 16px;
}
.float-laye-introd .introd-center {
  margin: 20px 0 0 0;
}
