.detail-main {
  float: left;
}
.detail-intro {
  margin-bottom: 20px;
  padding: 10px;
  background: #f7f7f7;
  border: 1px solid #dfdfdf;
}
.detail-intro .img {
  float: left;
}
.detail-intro img {
  border: 1px solid #dfdfdf;
}
.detail-intro .intro {
  width: 760px;
  margin-left: 20px;
  color: #666;
  float: left;
}
.detail-intro .intro h3 {
  font-family: '\5FAE\8F6F\96C5\9ED1';
  font-size: 16px;
  font-weight: bold;
}
/*Layout -Start-Gaotian-20131225*/
s,
u {
  text-decoration: none;
}
a {
  color: #666666;
}
a:hover {
  color: #f18100 /*#db000f*/;
}
.ml16 {
  margin-left: 16px;
}
.mt20 {
  margin-top: 20px;
}
.md20 {
  margin-bottom: 20px;
}
.txt-c {
  text-align: center;
}
.layout-searchTit {
  padding: 18px 0 18px 18px;
}
.layout-searchTit strong {
  color: #ff7700;
}
.layout-cont {
  float: left;
  width: 780px;
}
.layout-side {
  float: right;
  width: 180px;
  padding-bottom: 20px;
}
.layout-sideAdd {
  width: 180px;
  overflow: hidden;
}
.layout-cont h2 {
  padding: 8px 14px 8px 18px;
  border-bottom: 1px solid #ddd;
  background: #f4f4f4;
  color: #666;
  font-size: 16px;
  line-height: 18px;
}
.layout-cont h2 span {
  float: right;
  padding-top: 2px;
  font-size: 12px;
  line-height: 12px;
}
.layout-cont h2 span em {
  color: #f18100;
}
.layout-cont h2 strong {
  font-family: "Microsoft YaHei";
}
.hide {
  display: none;
}
/*ico*/
.ico-updown,
.ico-sort,
.ico-checkbox {
  display: inline-block;
  background-image: url(/static/images/haiwai/america/pinpai/bg-searchcomposite.png);
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 0;
}
.ico-updown,
.ico-sort {
  width: 12px;
  height: 12px;
}
.ico-updown {
  background-position: 0 0;
}
.ico-updown-u,
.cur .ico-updown {
  background-position: -14px 0;
}
.ico-sort {
  background-position: -26px 0;
}
.ico-sort-d {
  background-position: -48px 0;
}
.ico-sort-d:hover {
  background-position: -37px 0;
}
.ico-checkbox {
  width: 14px;
  height: 14px;
  vertical-align: -3px;
}
.ico-checkbox {
  margin-right: 4px;
  background-position: 0 -15px;
}
.ico-checkbox-cur {
  background-position: -17px -15px;
}
.search-sort {
  padding-right: 1px;
}
.search-sort a {
  display: inline;
  float: left;
  margin-right: -1px;
  padding: 4px 8px;
  *padding: 4px 8px;
  _padding: 3px 8px 5px;
  border: 1px solid #ddd;
  font-size: 12px;
}
.search-sort .ico-sort {
  _margin: 2px 0 1px;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
}
.search-sort .cur {
  background-color: #898989;
  color: #ffffff;
}
.search-sort a:hover .ico-sort {
  background-position: -37px 0;
}
.search-sort-price {
  float: left;
  padding: 4px 0 0 16px;
  color: #666666;
}
.search-sort-price input {
  width: 34px;
  padding: 2px;
  border: 1px solid #ddd;
  line-height: 14px;
}
.search-sort-price span {
  margin: 0 2px;
  vertical-align: 1px;
  *vertical-align: 3px;
}
.search-sort-price strong {
  display: inline-block;
  width: 42px;
  margin-left: 6px;
  padding: 2px 0 3px;
  *padding: 3px 0 1px;
  _padding: 1px 0 3px;
  border: 1px solid #ddd;
  color: #333;
  line-height: 13px;
  text-align: center;
  vertical-align: 1px;
  _vertical-align: -1px;
  cursor: pointer;
}
.search-sort-price strong:hover {
  color: #db000f;
}
.search-sort-quality {
  display: inline;
  float: left;
  border: 1px solid #ddd;
  margin-top: 1px;
  _margin-top: 4px;
  margin-left: 18px;
  padding: 3px 10px 3px 0;
}
.search-sort-quality a {
  margin-left: 10px;
}
.search-sort-quality a:hover .ico-checkbox {
  background-position: -17px -15px;
}
.search-listItem {
  position: relative;
  z-index: 0;
  width: 212px;
  _margin-top: 2px;
  padding: 210px 8px 10px;
  border: 1px solid #ddd;
  line-height: 12px;
}
.search-listItem .pic {
  position: absolute;
  top: 10px;
  left: 25px;
  z-index: 1;
}
.search-listItem .pic img {
  width: 180px;
  height: 200px;
}
.search-listItem dt {
  height: 36px;
  overflow: hidden;
  margin: 4px 0 10px;
  line-height: 18px;
}
.search-listItem .price {
  color: #f18100;
}
.search-listItem .price s {
  font-size: 14px;
  line-height: 14px;
  font-family: Arial;
}
.search-listItem .price span {
  font-size: 18px;
  white-space: pre;
}
.search-listItem .price a {
  float: right;
}
.box-list .search-listItem {
  display: inline;
  float: left;
  margin-top: 18px;
  margin-right: 20px;
}
.box-list {
  margin-right: -22px;
}
.side-l {
  position: relative;
  left: -160px;
  top: 0;
  width: 140px;
  margin-left: -100%;
}
.m-bord {
  background: #fff;
  border: 2px #e3e3e3 solid;
}
.m-bord .s-icon {
  background-image: url(/static/images/haiwai/america/pinpai/s-icon-v1.png);
  background-repeat: no-repeat;
}
.s-menu-list .s-all,
.goods-filter .goods-f {
  height: 30px;
  border-top: 1px #fff solid;
  border-bottom: 1px #e3e3e3 solid;
  background-color: #f3f3f3;
  color: #666;
  font: 16px/30px "\5FAE\8F6F\96C5\9ED1";
  padding-left: 10px;
}
.s-menu-list .s-all {
  background-position: 84px 9px;
}
.goods-filter .goods-f {
  background-position: 84px -96px;
}
.s-menu-list .m-dl {
  padding: 5px 10px;
  line-height: 22px;
  border-bottom: 1px solid #E3E3E3;
}
.s-menu-list .m-dl dt {
  padding-left: 20px;
  background: url(/static/images/haiwai/america/pinpai/s_icon.png) no-repeat scroll 0 -943px transparent;
  cursor: default;
  font-weight: 700;
}
.s-menu-list .m-dl dt a {
  color: #000;
  font-weight: 700;
}
.s-menu-list .m-dl dt a:hover {
  color: #EB7E00;
}
.s-menu-list .m-dl dd {
  display: none;
}
.s-menu-list .cur dt {
  background: url(/static/images/haiwai/america/pinpai/s_icon.png) no-repeat scroll 0 -893px transparent;
}
.s-menu-list .cur dd {
  display: block;
}
.s-menu-list .m-dl dd a {
  color: #787878;
  padding-left: 12px;
  background-position: left -20px;
}
.s-menu-list .m-dl dd a:hover {
  color: #ff7800;
}
.s-menu-list .m-dl dd a.cur {
  color: #ff7800;
  background-position: left -39px;
}
/*.s-menu-list .m-dl .m-ul{ display: none;}*/
.s-menu-list .m-dl .m-ul a {
  background: none;
}
.m-bord .more-c {
  width: 100%;
  height: 25px;
  position: relative;
  margin-bottom: 20px;
}
.m-bord .more-c span {
  width: 80px;
  height: 25px;
  display: block;
  border: 1px solid #fff;
  border-left: 1px solid #f3f3f3;
}
.m-bord .more-c .more-btn {
  width: 80px;
  height: 25px;
  display: block;
  line-height: 25px;
  color: #ff7800;
  text-align: center;
  background-color: #f3f3f3;
  background-position: right -65px;
  font-family: \5b8b\4f53;
}
.m-bord .current span,
.m-bord .more-c:hover span {
  width: 181px;
  border: 1px #f5772b solid;
  position: absolute;
  background: #fff;
  z-index: 101;
  border-right: none;
}
.m-bord .m-items {
  display: none;
  width: 480px;
  border: 1px #f5772b solid;
  position: absolute;
  left: 180px;
  background: #fff;
  z-index: 100;
  padding: 10px 0 10px 30px;
}
.m-bord .m-items li {
  width: 120px;
  line-height: 24px;
  float: left;
  height: 24px;
  overflow: hidden;
  _display: inline;
}
.m-bord .current .m-items,
.m-bord .more-c:hover .m-items {
  display: block;
}
.m-bord .m-items li a {
  color: #666666;
}
.m-bord .m-items li a:hover {
  color: #f88f3a;
}
.m-bord .more-category {
  height: 29px;
  line-height: 29px;
  text-align: center;
  cursor: pointer;
}
.m-bord .more-category strong {
  padding-right: 20px;
  background: url(../../images/search/s_icon.png) no-repeat scroll right -995px transparent;
}
.m-bord .more-category .close-cate {
  display: none;
}
.m-bord .more-category-open .close-cate {
  display: inline;
  background-position: right -1045px;
}
.m-bord .more-category-open .open-cate {
  display: none;
}
.goods-filter {
  border-top: 1px #ddd solid;
}
.goods-filter .g-fil {
  padding: 10px;
}
.goods-filter .g-fil li {
  margin-bottom: 8px;
}
.goods-filter .g-fil li a,
.goods-filter .m-items li a {
  padding-left: 24px;
  background: url(../../images/search/s-icon-v1.png) left -135px no-repeat;
  color: #999999;
}
.goods-filter .g-fil li a:hover {
  color: #ff7800;
}
.goods-filter .g-fil li a.cur,
.goods-filter .m-items li a.cur {
  background: url(../../images/search/s-icon-v1.png) left -160px no-repeat;
}
.goods-filter .m-items li a {
  line-height: 14px;
  width: 90px;
  height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.horizontal-category {
  display: none;
}
.horizontal-category .s-menu-list,
.horizontal-category .goods-filter {
  position: relative;
}
.horizontal-category .show-more {
  top: 38px;
}
.horizontal-category .s-menu-list .m-dl dt,
.horizontal-category .s-menu-list .m-dl .m-ul {
  display: none;
}
.horizontal-category .s-menu-list .m-dl,
.horizontal-category .goods-filter .g-fil {
  border-bottom: none;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  padding: 0;
  margin: 10px 60px 10px 10px;
}
.horizontal-category .s-menu-list .m-dl dd {
  display: block;
  float: left;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.horizontal-category .s-menu-list .m-dl dd a {
  padding-left: 0;
  background: none;
}
.horizontal-category .goods-filter .g-fil li {
  float: left;
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.horizontal-category .s-menu-list .filter-open,
.horizontal-category .goods-filter .filter-open {
  height: auto;
}

.pinpai-banner {
  margin-bottom: 20px;
  padding-top: 10px;
}
.pinpai-title {
  background: #f4f4f4;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
.pinpai-title .tit {width: 91px;
  height: 40px;
  padding: 0;
  
  text-indent: -9999px;background-repeat: no-repeat;}
.pinpai-title li {
  float: left;
  position: relative;
  width: 32px;
  height: 40px;
  z-index: 1;
  background: #f4f4f4;
}
.pinpai-title li a {
  display: block;
  color: #666;
  width: 30px;
  height: 40px;
  line-height: 40px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  text-align: center;
}
.pinpai-title li a:hover {
  color: #666;
  text-decoration: none;
  border-left-color: #dfdfdf;
  border-right-color: #dfdfdf;
  background: #eeeded;
  width: 30px;
}
.pinpai-title li.all {
  width: 45px;
}
.pinpai-title li.all a,
.pinpai-title li.all.cur a {
  width: 43px;
}
.pinpai-title li.cur {
  z-index: 0;
  background: #fff;
}
.pinpai-title li.cur a {
  border: none;
  height: 47px;
  width: 32px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: none;
}
.pinpai-title li.cur span {height: 47px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25px;
  
  z-index: 1;background-repeat: no-repeat;}
.pinpai-content {
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-top: none;
}
.pinpai-content h3 {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 20px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
.pinpai-content .box {
  margin-bottom: 10px;
  margin-right: -20px;
}
.pinpai-content .box div {
  margin-bottom: 10px;
  float: left;
  margin-right: 19px;
  width: 172px;
}
.pinpai-content .box div.last {
  margin-right: 0;
}
.pinpai-content .box img {
  border: 1px solid #dfdfdf;
}
.pinpai-content .box span {
  display: block;
  height: 42px;
  padding-top: 6px;
  text-align: center;
}
.pinpai-title .tit{background-position:0px 0px}.pinpai-title li.cur span{background-position:-41px -43px}.pinpai-title .tit,.pinpai-title li.cur span{background-image: url(/static/images/haiwai/america/pinpai/pinpai_z.png)}