.error{ height: 420px; background: #fff url(../../images/common/bg-404.png) no-repeat center center;}
.error-content{font-family:Microsoft YaHei,"微软雅黑"; font-size: 14px; color: #999; line-height: 30px;padding: 200px 0 0 515px;}
.error-content a{ color: #248bcd; margin:0 10px;}
.back-home{ margin-top:10px;background:url(../../images/common/back-home.png) no-repeat 0 -61px; padding:0px 0 0 40px;}
.back-home strong{ font-size: 24px;color: #eb7e00; padding: 0 5px;}
.back-home a.back-home-link{ margin-left:20px; color: #666; display: inline-block; background:url(../../images/common/back-home.png) no-repeat right -30px; padding-right: 40px; }
.back-home a.back-home-link:hover{ color: #eb7e00;background:url(../../images/common/back-home.png) no-repeat right 0px;}
.all-cate{background: url('../../images/common/gotosearch.png') no-repeat scroll 20px 12px; text-indent: -999px; overflow: hidden;}