.autofill{border: 1px solid #ccc;border-top:0 none;line-height: 24px; color: #666; border-bottom-left-radius:5px; border-bottom-right-radius:5px;box-shadow: 0 5px 5px rgba(0,0,0,.15); overflow: hidden;min-width: 300px;}
.autofill dl{border-top: 1px solid #ccc; padding: 5px 0;}
.autofill dt{ font-size: 14px; font-weight: bolder; color: #999; padding: 0 10px;}
.autofill dd{ cursor: pointer; padding: 0 10px;}
.autofill dd.curr{ background:#f0f0ef;}
.autofill dd:hover{ background:#f0f0ef;}
.autofill dd em{ float: right; color: #999; width: 80px; text-align: right;overflow: hidden;text-overflow: ellipsis; display:none;}
.autofill dd .st{ float: right; font-weight: bolder;}
.autofill dd.autofill-more{ height: 15px; background: none;}
.autofill dd.autofill-more span{ width: 29px; height: 15px; float: right; background: url(../../images/common/autofill-more.png) no-repeat center 0; text-indent: -50px; overflow: hidden; position: relative; bottom: -5px;}
.autofill dl.open dd.autofill-more span{background-position: 0 -16px;}
.autofill .correction{height:29px;line-height: 29px;background-color: #f0f0ef;color:#eb7e00;border-top:1px solid #ccc}
.autofill-firstlead{width:360px; min-height: 200px; border:1px solid #a4a4a4; border-radius:5px; box-shadow: 0 0 5px rgba(0,0,0,.5); padding:15px 0 0;}
.autofill-firstlead .at-con{ background:#fff url(../../images/common/af-lead.jpg) no-repeat center 0; height: 250px;}
.autofill-firstlead  .at-sbm{ text-align:center; padding:10px;}
.autofill-firstlead  .at-sbm .at-btn{width:80px; height: 30px; display: inline-block;background:#fff url(../../images/common/af-btn.png) no-repeat;cursor: pointer; }
.autofill-firstlead  .at-arrow{ width:21px; height:12px; background:url(../../images/common/af-arrow.png) no-repeat; _background:url(../../images/common/af-arrow8.png) no-repeat; position: absolute;left:20px; top:-12px; }
.autofill-firstlead  .at-close{width:11px; height:12px; background:url(../../images/common/af-close.png) no-repeat; position: absolute;right:10px; top:10px;cursor: pointer;margin: 1px; }
.autofill-firstlead  .at-close:hover{border:1px solid #ddd; margin:0;}