/*新版顶部调整 - Start - Gaotian -20131213*/
.fl{float:left;}.fr{float:right}.ifl{display:inline;float:left;}.ifr{display:inline;float:right}
.cfx:after,.cfx:before{content:" ";display:table;}.cfx:after{clear:both;}.cfx{*zoom:1;}
.header-box{width:980px;margin:0 auto;padding-top:15px;position:relative;z-index:1;}
.header-box .country-box{top:35px;}
/*搜索框*/
.header-tools-search{position:relative;z-index:10;float:left;_display:inline;margin-left:50px;margin-top:17px;}
.header-tools-search .header-search-content{display:inline-block;*display:inline;border:2px solid #fff;float:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    vertical-align:top;
    zoom:1;
}
.header-rearch-hotkey{float:none;display:block;padding:0;margin-top:10px;line-height:14px;}
.header-tools-search .header-search-key{
    height:15px;line-height:15px;padding-left:30px;width:386px;background:url(../../images/www/nav_line.png) no-repeat scroll 8px -110px;_background-image:url(../../images/www/nav_line8.png);
    border:1px solid #c8c8c8;
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
}
.header-tools-search dt,.header-tools-search dd{float:left;}
.header-tools-search .hot-keys a{color:#fff6eb;margin-right:12px;}
.header-tools-search .hot-keys a:hover{text-decoration:underline;}
.header-search-content label{ display:none;}
.header-rearch-submit{display:inline-block;width:71px;height:33px;overflow:hidden;*margin-left:-1px;color:#fff;}
.header-rearch-hotkey,.header-rearch-hotkey a{color:#999;}
.header-rearch-hotkey a:hover{color:#eb7e00;}
.focusin{color:#000;}
/*导航*/
.header-nav-box{height:47px;margin-top:10px;background-color:#ff8808;font-family:Microsoft YaHei;}
.header-nav-back{display:inline;float:left;position:relative;z-index:2;height:46px;line-height:46px;background-image:url("../../images/common/header-nav.png");background-position:-164px 13px;background-repeat:no-repeat;font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1;}
.header-nav-back a{display:block;width:33px;height:46px;color:#fff;}
.header-nav-back a:hover{text-decoration: none;color:#fff;}
.header-nav-back u{display:none;}
.header-nav-box .cur a,.header-nav-box .cur a:hover{background:#f5f5f5;color:#5a5a5a}
.header-nav-back s{position:absolute;top:0;left:100%;z-index:3;width:0;height:0;_margin-left:1px;font-size:0;line-height:0;border:23px dashed transparent;border-left:23px solid;}
.header-nav-box .header-nav-back s.header-nav-back-s2{margin-left:1px;_margin-left:2px;border-left-color:#fff;opacity:0.5;filter:alpha(opacity=40);}
.header-nav-box ul{float:left;position:relative;z-index:1;}
.header-nav-box li{display:inline;float:left;position:relative;border-left:1px solid;text-align:center;}
.header-nav-box li.index a{padding-left:10px;}
.header-nav-box li a{display:block;width:85px;height:47px;line-height:47px;_line-height:47px;font-size:14px;color:#fff;}
.header-nav-box li a:hover{color:#fff;text-decoration: none;}
/*新版顶部调整 - End - Gaotian -20131213*/


/*顶部国旗*/
.top-country { width:130px; height: 52px; position: absolute;top:20px; right:30px;}
.header .top-country { top:35px;}
.top-country a {  background: url("../../images/common/header-country.png") no-repeat; width:42px; height: 20px; position: absolute; display: block; padding-top:32px; text-align: center; font-family: \5FAE\8F6F\96C5\9ED1; color:#666;}
.top-country a.usa { background-position: -72px 0;}
.top-country a.kor { right:0; background-position: -142px 0;}

