/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{font: 12px/1.5 tahoma,arial,\5b8b\4f53; background: #fff;}
.wrap{
    width: 980px;
    color: #333;
    margin: 0 auto;
}
.cf:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.cf {
    zoom:1; /* for IE6 IE7 */
}
.l,.r {
    display:inline;
}
.l {
    float:left;
}
.r {
    float:right;
}
.tof {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rmb {
    font-family: arial;
    font-style: normal;
    padding-right: 4px;
}

/* B2C商城导航 */
.b2c-links{ width: 980px; overflow: hidden; *margin-bottom: 20px;}
.b2c-links ul{ overflow: hidden; width:115%;}
.b2c-links li{ color: #999; float: left; overflow: hidden;margin: 0 19.3px 20px 0; border: 1px solid #e0e0e0; width: 145px; height: 145px;} 
.b2c-links li a{  color: #999;}
.b2c-links li span{ display: block; text-align: center; color: #333;}
.b2c-links li img.b2c-logo{display: block; margin: 38px auto 3px auto; height: 47px;}
.b2c-links li strong{display: block; padding: 5px 10px;}
.b2c-links li strong a{ font-weight: bold; color: #333;}
.b2c-links li p{ margin: 0; padding: 3px 10px;}
.b2c-links li p a{ width: 47%; display: inline-block; line-height: 21px;}  
.b2c-links li p a:hover{text-decoration: underline;}

/* footer */
.footer{background: #f7f7f7; border-top: 1px solid #e6e6e6; text-align: center; padding: 10px; line-height: 25px;} 
.footer-links a{margin: 0 10px; color: #666; text-decoration: none;}
.footer-links a:hover{ color: #666; text-decoration: none;}
.footer-copyright{color: #999;}
.footer img{ vertical-align: bottom;}

/* page */
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center;}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:38px;line-height:38px;margin-top:0;width:32px;font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:宋体;}
.page a.first,.page a.last{}
.page a:hover{color:#fff;background-color:#ff9c0f;background-image:none;border-color:#eb8226;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#ff9c0f;font-family:arial;border-radius:3px;cursor:default;width:34px;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:80px;margin-right:0;text-align:right;font-family:宋体}
.page .page-input{font-family:宋体;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #e98900;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#ff9c0f;border:1px solid #e98900;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}

/* topbar */
.topbar{width:100%;height:37px;background:url(../../images/common/topbar.png) repeat-x 0 -160px;border-bottom:1px solid #e3e3e3;font-size:12px;}
.topbar .arr{width:0;height:0;font-size:0;line-height:0; border-style:solid dashed dashed;border-color:#666 transparent transparent;border-width:4px;position:absolute;right:0;top:17px;top:15px\9;*top:15px;;_top:16px;
             -webkit-transition:all .3s ease;
             -moz-transition:all .3s ease;
             -o-transition:all .3s ease;
             -ms-transition:all .3s ease;
             transition:all .3s ease;}
.topbar-more:hover .arr,
.topbar-more-hover .arr,
.topbar-user .user:hover .arr,
.topbar-user .user-hover .arr{-webkit-transform:rotate(180deg);
                              -moz-transform:rotate(180deg);
                              -ms-transform:rotate(180deg);
                              -o-transform:rotate(180deg);
                              transform:rotate(180deg);
                              border-style:dashed dashed solid\9;
                              *border-style:dashed dashed solid;
                              _border-style:dashed dashed solid;
                              border-color:transparent transparent #666\9;
                              *border-color:transparent transparent #666;
                              _border-color:transparent transparent #666;
                              top : 13px;
                              top:11px\9;
                              *top:11px;
                              _top:11px;
}
.topbar-inner{width:980px;margin:0 auto;}
.topbar-inner .line{width:1px;height:12px;border-right:1px solid #fdfdfd;background-color:#d9d9d9;overflow:hidden;margin:15px 12px 0;float:left;_display:inline;}
.topbar-inner a:hover{color:#f68400;text-decoration:underline}
.topbar-nav{float:left}
.topbar-nav a{background:url(../../images/common/topbar.png) no-repeat 0 0;color:#666;text-decoration:none;float:left;margin-top:10px;text-indent:20px;line-height:1.5;}
.topbar-nav .home{}
.topbar-nav .buy{background-position:0 -20px}
.topbar-nav .tao{background-position:0 -40px}
.topbar-nav .app{background-position:0 -60px;text-indent:15px}
.topbar-nav .home:hover{background-position:0 -80px}
.topbar-nav .buy:hover{background-position:0 -100px}
.topbar-nav .tao:hover{background-position:0 -120px}
.topbar-nav .app:hover{background-position:0 -140px;}
.topbar-user{float:right;width:240px;}
.topbar-user-login{width:255px}
.topbar-user a,.topbar-user .hi,.topbar-user .user{float:left;color:#666;margin-top:10px;line-height:1.5}
.topbar-user a{margin-left:10px;_display:inline}
.topbar-user-login a{margin-left:0}
.topbar-user .user{width:55px;padding:0 4px;height:20px;line-height:20px;position:relative;white-space:nowrap;margin-left:1px;float:left;margin-top:8px;padding-top:2px;text-overflow: ellipsis;}
.topbar-user .user a{margin:0;display:inline;float:none;max-width:48px;_width:48px;display:block;overflow:hidden;text-overflow:ellipsis}
.topbar-user .user a:hover{color:#5b86bf;text-decoration:none}

.topbar-user .user:hover,.topbar-user .user-hover{width:54px;height:19px;border:1px solid #e3e3e3;border-bottom:0;background:white;margin-top:7px;margin-left:0px;color:#5b86bf;text-decoration:none}
.topbar-user .user .arr{top:9px;right:0px}
.topbar-user .user:hover .arr,
.topbar-user .user-hover .arr{top:4px;_top:3px;}
.topbar-user .user-link{display:none;width:42px;padding:5px 10px 0;height:42px;position:absolute;left:-1px;top:19px;border:1px solid #e3e3e3;border-top:0;background-color:white}
.topbar-user .user-link a{color:#666666;display:block;line-height:20px;font-size:12px}
.topbar-user .user-link a:hover{color:#000;text-decoration:underline}
.topbar-user .user:hover .user-link,.topbar-user .user-hover .user-link{display:block}
.topbar-user .line{margin:15px 10px 0}
.topbar-more a{float:none;display:block;margin-left:0}
.topbar-more{float:right;width:62px;height:27px;position:relative;z-index:100;}
.topbar-more .more{display:block;height:27px}

.topbar-prod {display:none;position:absolute;right:0;top:30px;z-index:100;width:194px;background-color:#F2F2F2}
.topbar-prod a{margin-top:0}
.topbar-prod .item {padding:15px;overflow:hidden;font-size:0;border-bottom:1px solid #D9D9D9;border-top:1px solid #fff;zoom:1}
.topbar-prod .weixin {padding-bottom:0}
.topbar-prod .weixin img {display:block}
.topbar-prod .weixin span {display:block;text-align:center;font-size:12px;color:#666;line-height:22px;padding:3px 0 5px}
.topbar-prod .first {border-top:none}
.topbar-prod a {float:left;color:#666;margin-right:10px;white-space:nowrap;font-size:12px;line-height:22px}
.topbar-prod .h_icon {padding-left:19px;background:url(../../images/common/topbar.png) no-repeat top left}
.topbar-prod .b5t {background-position:0 -230px}
.topbar-prod .gwdh {background-position:0 -280px}
.topbar-prod .sjb5m {background-position:3px -329px}
.topbar-more:hover .topbar-prod,
.topbar-more-hover .topbar-prod{display:block}

/* back to top */
.gotop{width:48px;height:47px;left:50%;margin-left:500px;outline:none;display:none;position:fixed;_position:absolute;bottom:130px;right:0;opacity:0;background:url(../../images/common/gotop_8.png) no-repeat top left;
       -webkit-transition:opacity,bottom .3s ease;
       -moz-transition:all .3s ease;
       -o-transition:all .3s ease;
       -ms-transition:all .3s ease;
       transition:all .3s ease;}
.gotop:hover{background-position:bottom left}
.gotop-show{opacity:1;bottom:80px;display:block;}

/* 友情链接 */
.friend-links{ background: #fafafa; border: 1px #e0e0e0 solid; padding: 12px; line-height: 23px; margin-bottom: 20px;}
.friend-links strong{ font-weight: bold; color: #666;}
.friend-links a{ margin: 0 10px; color: #666;}