/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}

body{font: 12px/1.5 tahoma,arial,\5b8b\4f53; background: #fff;}
.wp,.wrap,.wraper { width:980px; margin:0 auto;}


.fl,.l {float:left;_display:inline;}
.fr,.r {float:right;_display:inline;}

.clear-fix:after,.clear-fix:before,.cf:after,.cf:before{content:" ";display:table;}
.clear-fix:after,.cf:after{clear:both;}
.clear-fix,.cf{*zoom:1;}

.tof { overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.rmb { font-family: arial;font-style: normal;padding-right: 4px;}



/* topbar */
.topbar{width:100%;height:37px;background:url(../../images/common/topbar.png) repeat-x 0 -160px;border-bottom:1px solid #e3e3e3;font-size:12px;}
.topbar .arr{width:0;height:0;font-size:0;line-height:0; border-style:solid dashed dashed;border-color:#666 transparent transparent;border-width:4px;position:absolute;right:0;top:17px;top:15px\9;*top:15px;;_top:16px;  -webkit-transition:all .3s ease; -moz-transition:all .3s ease;  -o-transition:all .3s ease; -ms-transition:all .3s ease; transition:all .3s ease;right:2px}
.topbar-more:hover .arr,.topbar-more-hover .arr,.topbar-user .user:hover .arr,.topbar-user .user-hover .arr{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); border-style:dashed dashed solid\9; *border-style:dashed dashed solid; _border-style:dashed dashed solid; border-color:transparent transparent #666\9; *border-color:transparent transparent #666; _border-color:transparent transparent #666; top : 13px; top:11px\9; *top:11px; _top:11px; }
.topbar-inner{width:980px;margin:0 auto;}
.topbar-inner .line{width:1px;height:12px;border-right:1px solid #f5f5f5;background-color:#f5f5f5;overflow:hidden;margin:15px 8px 0;float:left;_display:inline;}
.topbar-inner a:hover{color:#f68400;text-decoration:underline}
.topbar-nav{float:left}
.topbar-nav a{background:url(../../images/common/topbar.png) no-repeat 0 0;color:#666;text-decoration:none;float:left;margin-top:10px;text-indent:20px;line-height:1.5;}
.topbar-nav .home{}
.topbar-nav .buy{background-position:0 -20px}
.topbar-nav .korea{background-position:0 -362px}
.topbar-nav .tao{background-position:0 -39px}
.topbar-nav .app{background-position:0 -60px;text-indent:15px}
.topbar-nav .home:hover{background-position:0 -80px}
.topbar-nav .buy:hover{background-position:0 -100px}
/*.topbar-nav .korea:hover{background-position:0 -387px}*/
/*.topbar-nav .tao:hover{background-position:0 -120px}*/
.topbar-nav .app:hover{background-position:0 -140px;}
.topbar-user{float:right;width:240px;}
.topbar-user-unlogin{width:291px}
.topbar-user-login{width:369px; _width:375px;}
.topbar-user a,.topbar-user .hi,.topbar-user .user{float:left;color:#666;margin-top:10px;line-height:1.5}
.topbar-user a{margin-left:10px;_display:inline}
.topbar-user-unlogin a{margin-left:0}
.topbar-user-login a{margin-left:0}
.topbar-user .user{width:55px;padding:0 4px;height:20px;line-height:20px;position:relative;white-space:nowrap;margin-left:1px;float:left;margin-top:8px;padding-top:2px;text-overflow: ellipsis;z-index: 100}
.topbar-user .user a{margin:0;display:inline;float:none;max-width:48px;_width:48px;display:block;overflow:hidden;text-overflow:ellipsis}
.topbar-user .user a:hover{color:#eb7e00;text-decoration:none}

.topbar-user .user:hover,.topbar-user .user-hover{width:54px;height:26px;border:1px solid #e3e3e3;border-bottom:0;background:white;margin-top:0px;margin-left:0px;padding-top:9px;color:#5b86bf;text-decoration:none}
.topbar-user .user .arr{top:9px;}
.topbar-user .user:hover .arr,.topbar-user .user-hover .arr{top:11px;_top:10px;}
.topbar-user .user-link{display:none;width:42px;padding:5px 10px 0;height:64px;position:absolute;left:-1px;top:26px;border:1px solid #e3e3e3;border-top:0;background-color:white}
.topbar-user .user-link a{color:#666666;display:block;line-height:20px;font-size:12px}
.topbar-user .user-link a:hover{color:#eb7e00;text-decoration:underline}
.topbar-user .user:hover .user-link,.topbar-user .user-hover .user-link{display:block}
.topbar-user .line{margin:15px 6px 0}
.topbar-user .user .userreg { color:#eb7e00; font-weight: bold;}
.topbar-user .user .userreg:hover { color:#f68400; }
.topbar-user .user .userreg.off,.topbar-user .user .userreg.off:hover { color:#999; font-weight: normal; cursor:default; text-decoration: none;}
.topbar-more a{float:none;display:block;margin-left:0}
.topbar-more {float:right;width:63px; padding-left:17px; border:1px solid #f5f5f5; border-bottom: none; background: url("../../images/common/topbar.png") no-repeat 5px -501px; *background-position:5px -503px;  height:37px;position:relative;z-index:100;}
.topbar-more:hover,.topbar-more.topbar-more-hover { background-color: #fff; border:1px solid #ddd; border-bottom: none;}
.topbar-more .more{display:block;height:27px}
.topbar-inner a.high { color:#eb7e00;}
.topbar-user .user.msg { width:85px;}
.topbar-user .user.msg:hover,.topbar-user.msg .user-hover { width:84px;}
.topbar-user .user.msg .user-link{ width:72px; _width:76px; height: 30px;}
.topbar-user .user.msg a { max-width:68px; _width:68px;}
.topbar-user .user.msg em { color:#eb7e00; font-weight: bold;}
.topbar-user .user.msg .msg-t { max-width: 48px; padding-left: 20px; background: url("../../images/common/topbar.png") no-repeat 0px -420px;}
.topbar-user a.weibo,.topbar-user a.qq { text-indent: -9999px; background: url("../../images/common/topbar.png") no-repeat 0px -448px;  width:20px;}
.topbar-user a.qq { background: url("../../images/common/topbar.png") no-repeat 0px -480px;}


.topbar-prod {display:none;position:absolute;right:-1px;top:36px; border:1px solid #ddd; border-top:none;  z-index:100;width:170px;background-color:#fff}
.topbar-prod .top-border { padding-top: 1px; background: #ddd; width:90px;*overflow:hidden; height:0px;}
.topbar-prod a{margin-top:0}
.topbar-prod .item {padding:15px 0 15px 20px;overflow:hidden;font-size:0;border-bottom:1px solid #D9D9D9;border-top:1px solid #fff;zoom:1}
.topbar-prod .weixin { padding:10px 0 0 0;}
.topbar-prod .weixin img {display:block;margin:auto;}
.topbar-prod .weixin span {display:block;text-align:center;font-size:12px;color:#666;line-height:22px;padding:3px 0 5px}
.topbar-prod .first {border-top:none}
.topbar-prod a {float:left;color:#666;margin-right:12px;white-space:nowrap;font-size:12px;line-height:22px;width:36px;}
.topbar-prod .h_icon {padding-left:19px;background:url(../../images/common/topbar.png) no-repeat top left; width:auto;}
.topbar-prod a.lar { width:80px; text-align: right; _width:55px;}
.topbar-prod .b5t {background-position:0 -230px}
.topbar-prod .gwdh {background-position:0 -280px}
.topbar-prod .sjb5m {background-position:3px -329px}
.topbar-more:hover .topbar-prod,
.topbar-more-hover .topbar-prod{display:block}

/*ie6顶部提示*/
.topbar-ie6 { background: #ff8808; height: 36px; line-height: 36px; color:#fff; border-bottom: 1px solid #e2731a; text-align: center;}
.topbar-ie6 a { color:#fff; font-weight:bold;}

/*签到dialog*/
.dialog-qiandao { z-index: 99; color:#ff8808; font-family: \5FAE\8F6F\96C5\9ED1; width:507px; height: 322px; background:url("../../images/center/dialog-qiandao.png") no-repeat; position: fixed; top:50%; left:50%; display: none; margin-left:-252px; margin-top: -180px; }
.dialog-qiandao a { position:absolute; right:27px; top:33px; width:20px; height: 20px;}
.dialog-qiandao span { position:absolute; font-size:18px; left:100px; top:74px; left:121px; }
.dialog-qiandao b { font-size:36px; font-weight: bold; top:156px; left:236px; width:60px; text-align: center; position: absolute;}
.dialog-qiandao i { position: absolute; font-size:18px; left:100px; top:74px; left:286px; width:40px; text-align: center; font-style: normal;}
.dialog-qiandao em {font-size: 16px; left: 171px;position: absolute;text-align: center;top: 235px;width: 40px; }

/* 顶部国旗 */
.header .wp,.header-logo.home,.header .top .panel,.header .top,.header-logo.home .wrap { position: relative;}
.header .country-box,.header-logo .country-box { position: absolute; left:50%; margin-left: 300px;  width:182px; height: 32px; overflow: hidden; top:40px; background: url("../../images/common/header-country.png"); _background: url("../../images/common/header-country8.png");}
.header .country-box a,.header-logo .country-box a {display:inline-block;  zoom:1;   *display:inline; width:42px;  height: 32px; position: absolute; text-indent: -9999px; }
.header .country-box a.usa,.header-logo .country-box a.usa { left:70px; cursor:default;}
.header .country-box a.kor,.header-logo .country-box a.kor { left:140px; }

.tip-korea-head { display: none; width: 306px; height: 241px; position: absolute; top:90px; left:50%; margin-left:207px;  z-index: 100; }
.tip-korea-head-content { width: 306px; height: 241px; zoom:1; background: url("../../images/common/tip-korea-head.png") no-repeat;  _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/tip-korea-head.png", sizingMethod="crop"); z-index: 100; }
.tip-korea-head .close { position:absolute;  width:20px; height: 20px; top:25px; right:13px; display: block;  }
.tip-korea-head .lnk-go-korea { position: absolute; width:154px; height: 42px;  right:29px; bottom:61px; }

.header.header-www .country-box{ top:0; }
.tip-korea-head.www  { top:70px;}
.header-logo.home .wrap .country-box { top:25px;}
.header-logo.home .logo-side,.header.home .panel-nav { display: none; }

/*顶部搜索IE下错位*/
.search-tools span
,.header-search-content,
.header-rearch-hotkey{display:inline;float:left;}
.header-rearch-hotkey{margin:0;padding:10px 0 0 20px;line-height:14px;}

/* 频道页顶部搜索 */
.header-content{ height: 94px;}
.header-main{ width: 980px; margin: 0 auto; position: relative; z-index: 40;}
.header-nav{ height: 47px; line-height: 47px;}
.header-nav ul li{ float: left; border-left: 1px solid;}
.header-nav ul li a{ font-size: 14px; font-family:Microsoft YaHei,"微软雅黑"; display: block; text-align: center; width: 92px;}
.header-nav ul li.b5m-home{ border: 0; width: 196px;}
.header-nav ul li.b5m-home a{ padding-left: 26px; width: 170px; background: url(../../images/common/header-nav.png) no-repeat -113px 12px;}

.header-search{ height: 33px; padding: 7px 0;}
.header-search span,
.header-search label{ display: inline-block;}
.header-search-content label{ font-size: 0;line-height: 0;overflow: hidden; vertical-align: top; width: 180px; height: 22px; background: url(../../images/common/header-nav.png) no-repeat -2px -48px; margin: 5px 17px 0 53px;}
.header-search-content{ font-size: 0;}
.header-search-key{ width: 410px; height: 16px; line-height:16px;border: 0; color: #999; font-size: 12px; vertical-align: top; padding:8px 10px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    *margin-top: -1px;
    _margin-top: 0;
    border: 1px #c8c8c8 solid;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);}
.focus{-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1);}
.header-rearch-submit{ height: 34px; border: 0; width: 64px; font-size: 14px; font-weight: bold; color: #fff; cursor: pointer; vertical-align: top\9; _margin-top: 1px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;border-bottom-right-radius: 3px;}
.header-rearch-hotkey a{ margin:0 4px;}
.korea .header-search{ background: #000;}







/* head c*/
.header{height:130px;padding-top: 18px; *position: relative; *z-index:1;}
.nav-list{position: relative;float:left;}
.nav-list li{float:left;position:relative;width:77px;margin-left:-1px;text-align:center;background:url(../../images/common/head_c.png) no-repeat right -67px scroll;}
.nav-list .last-nav{background:none;}
.nav-list a:hover{color:#ff7800;}
.nav-list .cur{background:#ff7800;}
.nav-list .cur a{color:#fff;}
/*.nav-list li:hover{background-color: red}*/
.nav-list a{display:block;height:46px;line-height:46px;font-size:16px;color:#666;font-family:\5FAE\8F6F\96C5\9ED1;}
.nav-list .new,
.nav-list .hot{position: absolute;font-size:0;line-height:0;overflow:hidden;top:-4px;right:4px;width:22px;height:14px;background:url(../../images/common/head_c.png) no-repeat 0 0 scroll;}
.nav-list .hot{background-position:-128px -150px;}

.nav-more{position:relative; z-index:10;font-family:\5FAE\8F6F\96C5\9ED1;border-left:1px solid transparent;border-right:1px solid transparent;_border:1px solid red;_filter:Chroma(color:'red');}
.nav-more-hover,.nav-more:hover{border-left:1px solid #FF7800;border-right:1px solid #FF7800;}
.nav-more-hover .nav-more-txt,
.nav-more:hover .nav-more-txt{background-color:#fff;}
.nav-more-hover .nav-more-list,.nav-more:hover .nav-more-list{display: block;}
.nav-more .nav-more-txt{position:relative;z-index:10;display:block;width:86px;height:46px;line-height:46px;text-indent:1em;color:#666;font-size:16px;cursor:default;}
.nav-more-list{display:none;overflow:hidden;position:absolute;top:45px;right:-1px;width:226px;border:1px solid #FF7800;background-color: #fff;}
.nav-more-list li{border-top:1px solid #FFEDDF;margin-top: -1px;float:left;width:50%;text-indent:4em;}
.nav-more-list a{display:block;height:39px;line-height:39px;color:#999;font-size:14px;}
.nav-more-list a:hover{color:#FF7800;}

.nav-icon{background-image:url(../../images/common/head_c.png);background-repeat: no-repeat;background-attachment: scroll;}
.icon-more{background-position:60px -83px;}
.icon-b5g{background-position:19px -140px;}
.icon-b5g:hover{background-position:19px -190px;}
.icon-hgg{background-position:19px -241px;}
.icon-hgg:hover{background-position:19px -291px;}

.icon-dis{background-position:19px -341px;}
.icon-dis:hover{background-position:19px -391px;}

.icon-war{background-position:19px -441px;}
.icon-war:hover{background-position:19px -491px;}

.search-bar{height:45px;border-top:2px solid #FF7800;border-bottom:1px solid #DEDEDE;margin-top:10px;background:url(../../images/common/head_c_rx.png) repeat-x scroll 0 0 transparent;
    -webkit-box-shadow: 0 2px 20px #F2F2F2;
    -moz-box-shadow: 0 2px 20px #F2F2F2;
    box-shadow: 0 2px 20px #F2F2F2;

}
.search-tools{position:relative;z-index:10;float:left;_display:inline;margin-left:50px;margin-top:17px;}
.search-tools .header-search-content{display: inline-block;*display: inline;*zoom: 1;float:none;vertical-align: top;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.search-tools .header-rearch-hotkey{float:none;display: block;padding:0 0 0 0;margin-top: 10px;}
.search-tools .header-search-key{border:2px solid #D7D7D7;border-right:none;height:21px;line-height:21px;padding-left:30px;width:389px;background:url(../../images/common/head_c.png) no-repeat scroll -92px 12px transparent;
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
}
.search-tools .hot-keys{height: 34px;line-height:34px;float:left;margin-left: 10px;font-size: 12px;color:#fff6eb;font-family:"\\5B8B\\4F53",SimSun;}
.search-tools dt,
.search-tools dd{float:left;}
.search-tools .hot-keys a{color:#fff6eb;margin-right:12px;}
.search-tools .hot-keys a:hover{text-decoration: underline;}
.country-box{top:20px!important;}
/*header s*/

/* search bar s*/
.header-search-content label{ display: none;}
.header-rearch-submit{display:inline-block;height:41px;width:67px;overflow:hidden;font-size:0;line-height: 0;background:url(../../images/common/head_c.png) scroll 0 0 transparent;*margin-left:-1px;}
.header-rearch-submit:hover{color:#673700;}
.header-rearch-hotkey,
.header-rearch-hotkey a{ color: #999;}
.header-rearch-hotkey a:hover{color:#eb7e00;}
.focusin{ color: #000;}
/* search bar e*/
/* head c*/





/* B2C商城导航 */
.b2c-links{ width: 980px; overflow: hidden; *margin-bottom: 20px;}
.b2c-links ul{ overflow: hidden; width:115%;}
.b2c-links li{ color: #999; float: left; overflow: hidden;margin: 0 19.3px 20px 0; border: 1px solid #e0e0e0; width: 145px; height: 145px;}
.b2c-links li a{  color: #999;}
.b2c-links li span{ display: block; text-align: center; color: #333;}
.b2c-links li img.b2c-logo{display: block; margin: 38px auto 3px auto; height: 47px;}
.b2c-links li strong{display: block; padding: 5px 10px;}
.b2c-links li strong a{ font-weight: bold; color: #333;}
.b2c-links li p{ margin: 0; padding: 3px 10px;}
.b2c-links li p a{ width: 47%; display: inline-block; line-height: 21px;}
.b2c-links li a:hover{color: #eb7e00;}

/* page */
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center;}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:38px;line-height:38px;margin-top:0;font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:'宋体';}
.page a.first,.page a.last{}
.page a:hover{color:#fff;background-color:#ff9c0f;background-image:none;border-color:#eb8226;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#ff9c0f;font-family:arial;border-radius:3px;cursor:default;width:34px;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;margin-right:0;text-align:right;font-family:'宋体'}
.page .page-input{font-family:'宋体';width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #e98900;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#ff9c0f;border:1px solid #e98900;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}

/* footer */
.footer{background: #f7f7f7; border-top: 1px solid #e6e6e6; text-align: center; padding: 10px 0; line-height: 25px;}
.footer-links a{margin: 0 10px; color: #666; text-decoration: none;}
.footer-links a:hover{ color: #eb7e00; text-decoration: underline;}
.footer-copyright{color: #999;}
.footer img{ vertical-align: bottom;margin: 0 3px;}

.gotop{width:48px;height:47px;left:50%;margin-left:500px;outline:none;display:none;position:fixed;_position:absolute;bottom:130px;right:0;opacity:0;background:url(../../images/common/gotop_8.png) no-repeat top left;z-index:100; -webkit-transition:opacity,bottom .3s ease; -moz-transition:all .3s ease;  -o-transition:all .3s ease; -ms-transition:all .3s ease; transition:all .3s ease;}
.gotop:hover{background-position:bottom left}
.gotop-show{opacity:1;bottom:80px;display:block;}

/* 友情链接 */
.friend-links{ background: #fafafa; border: 1px #e0e0e0 solid; padding: 12px; line-height: 23px; margin-bottom: 20px;}
.friend-links strong{ font-weight: bold; color: #666;}
.friend-links a{ margin: 0 10px; color: #666;}
.friend-links a:hover{color: #eb7e00;}

/*活动，全网寻宝 */
#huodong-quanwangXb,.huodong-quanwangXb-bg{width:600px;height:300px;}
#huodong-quanwangXb{position:absolute;left:50%;z-index:99;margin-left:-125px;height:0;overflow:hidden;}
.huodong-quanwangXb-bg{position:absolute;left:0;bottom:0;z-index:1;background:url(../../images/huodong/www/active_indexxubao.png) no-repeat; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/huodong/www/active_indexxubao.png");}
#huodong-quanwangXb a{position:absolute;top:171px;left:146px;z-index:2;width:142px;height:47px;}
#huodong-quanwangXb s{position:absolute;top:40px;right:50px;z-index:2;width:40px;height:40px;cursor:pointer}
.top-hdbanner {background: none repeat scroll 0 0 #EE540A;text-align: center; height: 60px;}


/* 左侧导航栏&意见反馈栏 */
.left-toolbar {top:320px;_top:360px; display: none; position:fixed; _position: absolute;  margin-left:-550px; left:50%; z-index: 999;}
.left-toolbar ul { margin-bottom: -4px; }
.left-toolbar ul a {  display: block; width:41px; height:40px; line-height: 40px; padding-left:7px;color:#fff; background: #ff8808; border-bottom: 1px solid #f27d00; text-decoration: none; }
.left-toolbar ul a:hover,.left-toolbar ul .cur { border-left:3px solid #d87000; padding-left: 4px; color:#fff001;}
.left-toolbar .feedback-icon { position: relative; background: url("../../images/common/feedback.png") no-repeat; display: block; text-indent: -9999px; width:48px; height:41px; cursor:pointer;}
.left-toolbar .feedback-icon .fd-tip { display: none; top:-10px; left:37px; position: absolute; width: 84px; height: 26px; background:url("../../images/common/feedback.png") no-repeat 0px -240px;}
.left-feedback-box { top:303px; _top:343px; display: none; width:300px; height: 300px; overflow: hidden; position: fixed;_position: absolute; background: #fff; left:50%; margin-left: -502px; z-index:998; }
.left-feedback-box .fb-title { background: url("../../images/common/feedback.png") no-repeat 0px -42px; height:37px;  position: relative;}
.left-feedback-box .fb-title a { position:absolute; width:16px; height: 16px; display: block; text-indent: -9999px; right:7px; top:7px;  }
.left-feedback-box .fb-title span { position: absolute; left:30px; top:7px; font-size:14px; font-weight: bold;  color:#fff;}
.left-feedback-box .fb-content { width:259px; height:252px; padding:10px 20px 0; border:1px solid #ccc; border-top:none; border-left:none; position: relative;}
.left-feedback-box .fb-content span { margin-bottom: 8px; background: url("../../images/common/feedback.png") no-repeat 0px -90px; padding-left:20px; font-weight: bold; color:#eb7e00; display: block; height:20px; line-height:20px;}
.left-feedback-box .fb-content span em { color:#f00; display: none;}
.left-feedback-box .fb-content textarea { width:98%; margin-bottom:8px; height: 100px; line-height: 20px; border:1px solid #ddd; resize: none; overflow: auto;}
.left-feedback-box .fb-content textarea:hover,.left-feedback-box .fb-content input:hover {border-color:#868686; }
.left-feedback-box .fb-content input { width:98%; height: 24px; border:1px solid #ddd; margin-bottom: 10px;}
.left-feedback-box .fb-content a { position: absolute; bottom:10px; left:95px; display: block; margin:auto; width: 100px; height: 36px; line-height: 36px; text-align: center; font-size:14px; font-weight: bold; color:#fff; background: #eb7e00; border:none; cursor:pointer;}
.left-feedback-box .fb-content a:hover { background: #ffaa47;}
.left-feedback-box .fb-content a.dis { background: #ccc; cursor:default; }
.left-feedback-box .fb-content .ico-text.dis { background-position:0px -120px; color:#8b8b8b; }
.left-feedback-box .fb-content .ico-phone { background-position:0px -150px; }
.left-feedback-box .fb-content .ico-phone.dis { background-position: 0px -180px; color:#8b8b8b;}
.left-feedback-box .fb-content .ico-success { background-position: 0px -210px;}
.left-feedback-box .fb-content p { margin-bottom: 10px; color:#999; padding-left: 20px; line-height: 20px; overflow: hidden; max-height: 80px;  }
.left-feedback-box .panel-success { display: none;}

.left-toolbar.tuan li a { background: #5656d2; border-bottom-color:#4a49af;}
.left-toolbar.tuan li a:hover,.left-toolbar.tuan li a.cur { border-left-color:#1e1e8e; color:#9ac4ff;}
.left-toolbar.tuan .feedback-icon { background-position:-48px 0;}

.left-toolbar.tejia li a { background: #8db700; border-bottom-color:#809e18;}
.left-toolbar.tejia li a:hover,.left-toolbar.tejia li a.cur { border-left-color:#5a7600; color:#dbebad;}
.left-toolbar.tejia .feedback-icon { background-position:-96px 0;}

.left-toolbar.korea li a { background: #da0010; border-bottom-color:#be1822;}
.left-toolbar.korea li a:hover,.left-toolbar.korea li a.cur { border-left-color:#830b14; color:#e5a8ad;}
.left-toolbar.korea .feedback-icon { background-position:-144px 0;}

.left-toolbar.she li a { background: #b058c9; border-bottom-color:#9941b2;}
.left-toolbar.she li a:hover,.left-toolbar.she li a.cur { border-left-color:#7a308f; color:#dba1eb;}
.left-toolbar.she .feedback-icon { background-position:-240px 0;}

.left-toolbar.you li a { background: #4485df; border-bottom-color:#3f76c6;}
.left-toolbar.you li a:hover,.left-toolbar.you li a.cur { border-left-color:#2c599a; color:#9dc8ff;}
.left-toolbar.you .feedback-icon { background-position:-288px 0;}

.left-toolbar.piao li a { background: #00a628; border-bottom-color:#178e34;}
.left-toolbar.piao li a:hover,.left-toolbar.piao li a.cur { border-left-color:#0e6924; color:#8cda9e;}
.left-toolbar.piao .feedback-icon { background-position:-384px 0;}