/* css reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0;
}
:focus {
  outline: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
code,
kbd,
samp,
tt {
  font-size: 100%;
}
input,
button,
textarea,
select {
  *font-size: 100%;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
:link,
:visited,
ins {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
body {
  font: 12px/1.5 tahoma, arial, '\5b8b\4f53';
  background: #fff;
}
.wp,
.wrap,
.wraper {
  width: 980px;
  margin: 0 auto;
}
img {
  vertical-align: top;
}
.fl,
.l {
  float: left;
  _display: inline;
}
.fr,
.r {
  float: right;
  _display: inline;
}
.ifl {
  display: inline;
  float: left;
}
.ifr {
  display: inline;
  float: right;
}
.clear-fix:after,
.clear-fix:before,
.cf:after,
.cf:before,
.cfx:after,
.cfx:before {
  content: "";
  display: table;
}
.clear-fix:after,
.cf:after,
.cfx:after {
  clear: both;
}
.clear-fix,
.cf,
.cfx {
  *zoom: 1;
}
.tof {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rmb {
  font-family: arial;
  font-style: normal;
  padding-right: 4px;
}
.t-r {
  text-align: right;
}
/* font face */
@font-face {
  font-family: 'iconfont';
  src: url('/static/css/commonfonts/iconfont.eot');
  src: url('/static/css/commonfonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('/static/css/commonfonts/iconfont.woff') format('woff'), /* chrome、firefox */
   url('/static/css/commonfonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
   url('/static/css/commonfonts/iconfont.svg#iconfont') format('svg');/* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: 'iconfont';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* topbar */
/*.topbar{width:100%;height:37px;background:url(../../../images/common/topbar.png) repeat-x 0 -160px;border-bottom:1px solid #e3e3e3;font-size:12px;}
.topbar .arr{width:0;height:0;font-size:0;line-height:0; border-style:solid dashed dashed;border-color:#666 transparent transparent;border-width:4px;position:absolute;right:0;top:17px;top:15px\9;*top:15px;;_top:16px;  -webkit-transition:all .3s ease; -moz-transition:all .3s ease;  -o-transition:all .3s ease; -ms-transition:all .3s ease; transition:all .3s ease;right:2px}
.topbar-more:hover .arr,.topbar-more-hover .arr,.topbar-user .user:hover .arr,.topbar-user .user-hover .arr{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); border-style:dashed dashed solid\9; *border-style:dashed dashed solid; _border-style:dashed dashed solid; border-color:transparent transparent #666\9; *border-color:transparent transparent #666; _border-color:transparent transparent #666; top : 13px; top:11px\9; *top:11px; _top:11px; }
.topbar-inner .line{width:1px;height:12px;border-right:1px solid #f5f5f5;background-color:#f5f5f5;overflow:hidden;margin:15px 8px 0;float:left;_display:inline;}
.topbar-inner a:hover{color:#f68400;text-decoration:underline}
.topbar-nav{float:left}
.topbar-nav a{background:url(../../../images/common/topbar.png) no-repeat 0 0;color:#666;text-decoration:none;float:left;margin-top:10px;text-indent:20px;line-height:1.5;}
.topbar-nav .home{}
.topbar-nav .buy{background-position:0 -20px}
.topbar-nav .korea{background-position:0 -362px}
.topbar-nav .tao{background-position:0 -39px}
.topbar-nav .app{background-position:0 -60px;text-indent:15px}
.topbar-nav .home:hover{background-position:0 -80px}
.topbar-nav .buy:hover{background-position:0 -100px}

.topbar-nav .app:hover{background-position:0 -140px;}
.topbar-user{float:right;}
.topbar-user-unlogin{width:291px}
.topbar-user-login{width: 360px;}
.topbar-user a,.topbar-user .hi,.topbar-user .user{float:left;color:#666;margin-top:10px;line-height:1.5}
.topbar-user a{margin-left:10px;_display:inline}
.topbar-user-unlogin a{margin-left:0}
.topbar-user-login a{margin-left:0}
.topbar-user .user{width:55px;padding:0 14px 0 4px;height:20px;line-height:20px;position:relative;white-space:nowrap;margin-left:1px;margin-right:1px;float:left;margin-top:8px;padding-top:2px;text-overflow: ellipsis;z-index: 101}
.topbar-user .user a{margin:0;display:inline;float:none;max-width:48px;_width:48px;display:block;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;}
.topbar-user .user a:hover{color:#eb7e00;text-decoration:underline;}
.topbar-user .user:hover,.topbar-user .user-hover{width:55px;height:28px;border:1px solid #e3e3e3;border-bottom:0;background:white;margin-top:0px;margin-left:0px;margin-right:0;padding-top:9px;color:#5b86bf;text-decoration:none}
.topbar-user .user .arr{top:9px;}
.topbar-user .user:hover .arr,.topbar-user .user-hover .arr{top:11px;_top:10px;}
.topbar-user .user-link{display:none;width:53px;padding:5px 10px 0;height:64px;position:absolute;left:-1px;top:26px;border:1px solid #e3e3e3;border-top:0;background-color:white}
.topbar-user .user-link a{color:#666666;display:block;line-height:20px;font-size:12px}
.topbar-user .user-link a:hover{color:#eb7e00;text-decoration:underline}
.topbar-user .user:hover .user-link,.topbar-user .user-hover .user-link{display:block}
.topbar-user .line{margin:15px 6px 0}
.topbar-user .user .userreg { color:#eb7e00; font-weight: bold;}
.topbar-user .user .userreg:hover { color:#f68400; }
.topbar-user .user .userreg.off,.topbar-user .user .userreg.off:hover { color:#999; font-weight: normal; cursor:default; text-decoration: none;}
.topbar-more a{float:none;display:block;margin-left:0}
.topbar-more {float:right;width:63px; padding-left:17px; border:1px solid #f5f5f5;border-top: none; border-bottom: none; background: url("../../../images/common/topbar.png") no-repeat 5px -501px; background-position:5px -503px\9;  height:37px;position:relative;z-index:101;}
.topbar-more:hover,.topbar-more.topbar-more-hover { background-color: #fff; border:1px solid #ddd; border-bottom: none;border-top: none;}
.topbar-more .more{display:block;height:27px;margin-top:9px \0;}
.topbar-inner a.high { color:#eb7e00;}
.topbar-user .user.msg { width:auto;}
.topbar-user .user.msg .user-link{ width:90px; _width:94px; height: 30px;top:37px;}
.topbar-user .user.msg a { max-width:85px; _width:85px;}
.topbar-user .user.msg em {right:0; color:#eb7e00; font-weight: bold;}
.topbar-user .user.msg .msg-t {  padding-left: 14px; background: url("../../../images/common/topbar.png") no-repeat 0px -420px;}
.topbar-user a.weibo,.topbar-user a.qq { text-indent: -9999px; background: url("../../../images/common/topbar.png") no-repeat 0px -448px;  width:20px;}
.topbar-user a.qq { background: url("../../../images/common/topbar.png") no-repeat 0px -480px;}
.topbar-prod {display:none;position:absolute;right:-1px;top:36px; border:1px solid #ddd; border-top:none;  z-index:100;width:170px;background-color:#fff}
.topbar-prod .top-border { padding-top: 1px; background: #ddd; width:90px;*overflow:hidden; height:0px;}
.topbar-prod a{margin-top:0}
.topbar-prod .item {padding:15px 0 15px 20px;overflow:hidden;font-size:0;border-bottom:1px solid #D9D9D9;border-top:1px solid #fff;zoom:1}
.topbar-prod .weixin { padding:10px 0 0 0;}
.topbar-prod .weixin img {display:block;margin:auto;}
.topbar-prod .weixin span {display:block;text-align:center;font-size:12px;color:#666;line-height:22px;padding:3px 0 5px}
.topbar-prod .first {border-top:none}
.topbar-prod a {float:left;color:#666;margin-right:12px;white-space:nowrap;font-size:12px;line-height:22px;width:36px; word-break: normal; word-wrap: normal;}
.topbar-prod .h_icon {padding-left:19px;background:url(../../../images/common/topbar.png) no-repeat top left; width:auto;}
.topbar-prod a.lar { width:80px; text-align:right; _width:55px;}
.topbar-prod .b5t {background-position:0 -230px}
.topbar-prod .gwdh {background-position:0 -280px}
.topbar-prod .sjb5m {background-position:3px -329px}
.topbar-more:hover .topbar-prod,
.topbar-more-hover .topbar-prod{display:block}
*//*ie6顶部提示*//**/
.topbar-ie6 {
  background: #ff8808;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-bottom: 1px solid #e2731a;
  text-align: center;
}
.topbar-ie6 a {
  color: #fff;
  font-weight: bold;
}
/* new顶部通栏 */
.tpbar {height: 46px;
  color: #666;
  
  position: relative;
  z-index: 9999;background-repeat: repeat-x}
.tpbar-cont {
  width: 980px;
  margin: auto;
  line-height: 40px;
}
.tpbar a {
  color: #666;
}
.tpbar a:hover {
  color: #f68400;
  text-decoration: underline;
}
.tpbar .iconfont {
  color: #b8b8b8;
  font-size: 14px;
}
.tpbar .iconfont a {
  text-decoration: none;
}
.tpbar .ico-sina a,
.tpbar .ico-qq a {
  color: #e9a351;
  margin-right: 16px;
  font-size: 16px;
}
.tpbar .ico-sina a:hover,
.tpbar .ico-qq a:hover {
  color: #f68400;
}
.tpbar .light {
  color: #e9a351;
}
.tpbar .l-nav {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  *float: left;
}
.tpbar .l-nav a {
  margin-right: 6px;
}
.tpbar .l-nav .iconfont {
  position: relative;
  top: 2px;
}
.tpbar .login-bar {
  float: right;
}
.tpbar .login-bar li {
  float: left;
}
.tpbar .login-bar .sp {
  color: #ddd;
  padding: 0 5px;
}
.tpbar .links {
  position: relative;
}
.tpbar .menu-hover {
  position: relative;
}
.tpbar .menu-hd {
  display: block;
  height: 41px;
  _width: 50px;
  cursor: default;
  padding: 1px 13px 0 21px;
  position: relative;
  z-index: 2;
}
.tpbar .menu-hover:hover .menu-hd,
.tpbar .menu-hover.hover .menu-hd {
  border: 1px solid #d1d1d1;
  padding: 0 12px 0 20px;
  background: #fff;
  border-bottom: none;
  text-decoration: none;
  color: #666;
}
.tpbar .menu-hd.noico {
  padding-left: 6px;
}
.tpbar .menu-hd:hover.noico,
.tpbar .menu-hd.hover.noico {
  padding-left: 5px;
}
.tpbar .menu-hd .iconfont {
  position: absolute;
  left: 4px;
  top: 0;
  *top: -2px;
  color: #e9a351;
}
.tpbar .menu-hover:hover .menu-hd .iconfont,
.tpbar .menu-hover.hover .menu-hd .iconfont {
  left: 3px;
  top: -1px;
  *top: -3px;
  color: #f68400;
}
.tpbar .menu-hover:hover .menu-hd.noico {
  padding-left: 5px;
}
.tpbar .menu-hd b {
  border-color: #bbbbbb rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid dashed dashed;
  border-width: 3px;
  font-size: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  right: 4px;
  top: 20px;
  *top: 18px;
  width: 0;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.tpbar .menu-hover:hover .menu-hd b,
.tpbar .menu-hover.hover .menu-hd b {
  right: 3px;
  top: 19px;
  *top: 17px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.tpbar .menu-bd {
  position: absolute;
  top: 41px;
  right: 0;
  line-height: 30px;
  border: 1px solid #d1d1d1;
  border-top: none;
  width: 80px;
  display: none;
  box-shadow: 0 2px 4px #ddd;
  z-index: 1;
}
.tpbar .menu-hover:hover .menu-bd,
.tpbar .menu-hover.hover .menu-bd {
  display: block;
}
.tpbar .menu-bd .bd-panel {
  margin-top: 1px;
  padding: 10px;
  background: #fff;
}
.tpbar .menu-bd-list {
  background: #fff;
  padding-bottom: 2px;
  text-align: center;
}
.tpbar .menu-bd-list ol a {
  display: block;
  height: 30px;
}
.tpbar .menu-bd-list ol a:hover,
.tpbar .menu-bd-list ol a.hover {
  background: #f4f4f4;
  color: #666;
  text-decoration: none;
}
.tpbar .bd-phone-detail span {
  font-family: '\5b8b\4f53';
}
.tpbar .loading {
  text-align: center;
}
.tpbar .loading span {
  padding: 5px;
  text-align: center;
}
/* bd-phone */
.tpbar .bd-phone {
  width: 240px;
}
.tpbar .bd-phone .qrcode-iphone,
.tpbar .bd-phone .qrcode-android {
  width: 103px;
  height: 101px;
  display: block;
  text-indent: -9999px;
  margin-bottom: 10px;
}
.tpbar .bd-phone .qrcode-iphone {background-repeat: no-repeat;}
.tpbar .bd-phone .qrcode-android {background-repeat: no-repeat;}
.tpbar .bd-phone .btn-iphone,
.tpbar .bd-phone .btn-android {
  width: 103px;
  height: 35px;
  display: block;
  text-indent: -9999px;
}
.tpbar .bd-phone .btn-iphone {background-repeat: no-repeat;}
.tpbar .bd-phone .btn-android {background-repeat: no-repeat;}
.tpbar .hd-phone {
  _width: 60px;
}
/* bd-helper */
.tpbar .bd-helper {
  width: 200px;
}
.tpbar .bd-helper h3 {
  color: #eb7e00;
  font-size: 14px;
  font-weight: bold;
}
.tpbar .bd-helper p {
  line-height: 18px;
  margin-bottom: 10px;
}
.tpbar .bd-helper-download {float: left;
  width: 98px;
  height: 31px;
  display: inline-block;
  zoom: 1;
  *display: inline;background-repeat: no-repeat;}
.tpbar .bd-helper-download:hover {background-repeat: no-repeat;}
.tpbar .bd-helper-detail {
  margin-left: 8px;
  font-weight: bold;
  font-size: 14px;
}
.tpbar .bd-helper-detail span {
  font-family: '\5b8b\4f53';
}
/* bd-follow */
.tpbar .bd-follow {
  width: 138px;
}
.tpbar .bd-follow h3 {
  margin-bottom: 10px;
  margin-top: -10px;
  *padding-bottom: 10px;
}
.tpbar .bd-follow .ico-wx {
  font-size: 30px;
  position: relative;
  top: 10px;
  color: #b7b7b7;
}
.tpbar .bd-follow .qrcode-wx {display: block;
  width: 119px;
  height: 119px;
  margin-bottom: 6px;background-repeat: no-repeat;}
.tpbar .bd-follow .share-qzone,
.tpbar .bd-follow .share-weixin {
  display: none;
}
.tpbar .follow-weibo,
.tpbar .follow-qq {
  display: inline-block;
  width: 24px;
  height: 24px;
  float: right;
}
.tpbar .follow-weibo {margin-right: 6px;background-repeat: no-repeat;}
.tpbar .follow-qq {background-repeat: no-repeat;}
/* bd-user */
#b5muser:hover span {
  color: #f68400;
  text-decoration: underline;
  cursor: pointer;
}
#b5muser span {
  display: inline-block;
  width: 70px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tpbar .bd-user {
  width: 87px;
}
/* bd-message */
.tpbar .bd-msg {
  width: 330px;
}
.tpbar .bd-msg h3 {
  color: #f68400;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}
.tpbar .bd-msg .btn-more {display: none;
  margin: auto;
  text-indent: -9999px;
  width: 262px;
  height: 36px;background-repeat: no-repeat;}
.tpbar .bd-msg .btn-more:hover {background-repeat: no-repeat;}
.tpbar .menu-msg-info {
  background: #fff;
  margin-bottom: 6px;
  display: none;
}
.tpbar .menu-msg-info ol {
  padding: 0 4px;
  border-top: 1px solid #eee;
}
.tpbar .menu-msg-info ol:hover {
  background: #f7f7f7;
}
.tpbar .menu-msg-info b {
  color: #f68400;
  font-weight: normal;
}
.tpbar .menu-msg-info p {
  line-height: 20px;
  padding-top: 4px;
}
.tpbar .menu-msg-info div {
  color: #999;
}
.tpbar .menu-msg-info div a {
  color: #4291da;
  float: right;
}
.tpbar .menu-msg-info div a em {
  font-family: '\5b8b\4f53';
}
.tpbar .menu-msg-info strong {
  font-weight: normal;
  display: none;
}
.tpbar .menu-msg-info i {
  font-style: normal;
}
/* bd-add */
.tpbar .bd-add {
  width: 470px;
}
.tpbar .bd-add h3 {
  color: #f68400;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}
.tpbar .bd-add .btn-more {display: block;
  margin: auto;
  text-indent: -9999px;
  width: 262px;
  height: 36px;background-repeat: no-repeat;}
.tpbar .bd-add .btn-more:hover {background-repeat: no-repeat;}
.tpbar .menu-add-info {
  line-height: 20px;
  height: 350px;
  overflow: hidden;
  width: 450px;
  display: none;
}
.tpbar .menu-add-info ol {
  padding: 4px 0;
  border-top: 1px solid #eee;
  height: 61px;
  overflow: hidden;
}
.tpbar .menu-add-info ol:hover {
  background: #f7f7f7;
}
.tpbar .menu-add-info .add-img {
  float: left;
  margin-right: 10px;
}
.tpbar .menu-add-info .add-img img {
  border: 1px solid #ddd;
  width: 50px;
  margin-top: 4px;
  margin-left: 6px;
}
.tpbar .menu-add-info .add-text {
  width: 160px;
  float: left;
  margin-right: 10px;
}
.tpbar .menu-add-info .add-price {
  width: 150px;
  float: left;
  margin-right: 10px;
}
.tpbar .menu-add-info .add-price strong {
  font-weight: normal;
}
.tpbar .menu-add-info .add-price strong em {
  font-weight: bold;
  color: #ff0000;
}
.tpbar .menu-add-info .add-price span {
  color: #999;
  display: block;
}
.tpbar .menu-add-info .add-price span em {
  text-decoration: line-through;
}
.tpbar .menu-add-info .add-opt {
  margin-right: 0;
  width: 40px;
  padding-top: 10px;
  float: left;
}
.tpbar .menu-add-info .add-opt a {
  color: #4291da;
}
/* new顶部通栏 */
/*签到dialog*/
.dialog-qiandao {
  z-index: 101;
  color: #ff880o8;
  font-family: \5FAE\8F6F\96C5\9ED1;
  width: 507px;
  height: 322px;
  background: url("../../../images/center/dialog-qiandao.png") no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  margin-left: -252px;
  margin-tp: -180px;
}
.dialog-qiandao a {
  position: absolute;
  right: 27px;
  top: 33px;
  width: 20px;
  height: 20px;
}
.dialog-qiandao span {
  position: absolute;
  top: 74px;
  left: 121px;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}
.dialog-qiandao b {
  font-size: 36px;
  font-weight: bold;
  top: 156px;
  left: 236px;
  width: 60px;
  text-align: center;
  position: absolute;
}
.dialog-qiandao i {
  position: absolute;
  font-size: 18px;
  left: 100px;
  top: 74px;
  left: 286px;
  width: 40px;
  text-align: center;
  font-style: normal;
}
.dialog-qiandao em {
  font-size: 16px;
  left: 171px;
  position: absolute;
  text-align: center;
  top: 235px;
  width: 40px;
}
/* 顶部国旗 */
.header .wp,
.header-logo.home,
.header .top .panel,
.header .top,
.header-logo.home .wrap {
  position: relative;
}
/*.header .country-box,
.header-logo .country-box { position: absolute; top:40px;right:0;width:182px; height: 32px; overflow: hidden; background: url("../../../images/common/header-country.png"); _background: url("../../../images/common/header-country8.png");}
.header .country-box a,.header-logo .country-box a {display:inline-block;  zoom:1;   *display:inline; width:42px;  height: 32px; position: absolute; text-indent: -9999px; }
.header .country-box a.usa,.header-logo .country-box a.usa { left:70px;}
.header .country-box a.kor,.header-logo .country-box a.kor { left:140px; }*/
.tip-korea-head {
  display: none;
  width: 306px;
  height: 241px;
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: 207px;
  z-index: 100;
}
.tip-korea-head-content {
  width: 306px;
  height: 241px;
  zoom: 1;
  background: url("/static/images/common/tip-korea-head.png") no-repeat;
  _background-image: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/tip-korea-head.png", sizingMethod="crop");
  z-index: 100;
}
.tip-korea-head .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 25px;
  right: 13px;
  display: block;
}
.tip-korea-head .lnk-go-korea {
  position: absolute;
  width: 154px;
  height: 42px;
  right: 29px;
  bottom: 61px;
}
/*.header.header-www .country-box{ top:0; }*/
.tip-korea-head.www {
  top: 70px;
}
/*.header-logo.home .wrap .country-box { top:25px;}*/
.header-logo.home .logo-side,
.header.home .panel-nav {
  display: none;
}
/*顶部搜索IE下错位*/
.search-tools span,
.header-search-content,
.header-rearch-hotkey {
  display: inline;
  float: left;
}
.header-rearch-hotkey {
  margin: 0;
  padding: 10px 0 0 20px;
  line-height: 14px;
}
/* 频道页顶部搜索 */
.header-content {
  height: 94px;
}
.header-main {
  width: 980px;
  margin: 0 auto;
  position: relative;
  z-index: 40;
}
.header-nav {
  height: 47px;
  line-height: 47px;
}
.header-nav ul li {
  float: left;
  border-left: 1px solid;
}
.header-nav ul li a {
  font-size: 14px;
  font-family: Microsoft YaHei, "微软雅黑";
  display: block;
  text-align: center;
  width: 92px;
}
.header-nav ul li.b5m-home {
  border: 0;
  width: 196px;
}
.header-nav ul li.b5m-home a {
  padding-left: 26px;
  width: 170px;
  background: url(/static/images/common/header-nav.png) no-repeat -113px 12px;
}
.header-search {
  height: 33px;
  padding: 7px 0;
}
.header-search span,
.header-search label {
  display: inline-block;
}
.header-search-content label {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  vertical-align: top;
  width: 180px;
  height: 22px;
  background: url(/static/images/common/header-nav.png) no-repeat -2px -48px;
  margin: 5px 17px 0 53px;
}
.header-search-content {
  font-size: 0;
}
.header-search-key {
  width: 410px;
  height: 16px;
  line-height: 16px;
  border: 0;
  color: #999;
  font-size: 12px;
  vertical-align: top;
  padding: 8px 10px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  *margin-top: -1px;
  _margin-top: 0;
  border: 1px #c8c8c8 solid;
}
.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header-rearch-submit {
  height: 34px;
  border: 0;
  width: 64px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  vertical-align: top\9;
  _margin-top: 1px;
  border-radius: 0 3px 3px 0;
}
.header-rearch-hotkey a {
  margin: 0 4px;
}
.korea .header-search {
  background: #000;
}
/*********head main**********/
/*header s*/
.head {
  height: 130px;
  padding-top: 18px;
  position: relative;
  z-index: 100;
}
.head .nav-list {
  position: relative;
  float: left;
  margin-left: 1px;
}
.head .nav-list li {
  float: left;
  position: relative;
  width: 77px;
  margin-left: -1px;
  text-align: center;
  background: url(/static/images/common/head_c.png) no-repeat right -67px scroll;
}
.head .nav-list .last-nav {
  background: none;
}
.head .nav-list a:hover {
  color: #ff7800;
}
.head .nav-list .cur {
  background: #ff7800;
}
.head .nav-list .cur a {
  color: #fff;
}
/*.nav-list li:hover{background-color: red}*/
.head .nav-list a {
  display: block;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  color: #666;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.nav-list .new,
.nav-list .hot {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  top: -4px;
  right: 4px;
  width: 22px;
  height: 14px;
  background: url(/static/images/common/head_c.png?v1) no-repeat 0 0 scroll;
}
.nav-list .hot {
  background-position: -128px -150px;
}
.nav-list .new {
  background-position: -128px -200px;
}
.head .nav-bar .r-nav {
  background: none;
  float: right;
  text-align: right;
  margin-right: 2px;
}
.head .nav-bar .r-nav a {
  display: block;
  height: 46px;
  width: 84px;
  line-height: 46px;
  font-size: 16px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  color: #999;
  background: url("/static/images/common/head_c.png") 0px -540px;
}
.head .nav-bar .r-nav a:hover {
  color: #ff7800;
  background-position: 0 -592px;
}
.head .wrap,
.head .wp {
  position: relative;
}
.head .header-rearch-submit:hover {
  background-position: 0px -660px;
}
.nav-more {
  position: relative;
  z-index: 10;
  font-family: \5FAE\8F6F\96C5\9ED1;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  _border: 1px solid red;
  /*_filter:Chroma(color:'red');*/
}
.nav-more-hover,
.nav-more:hover {
  border-left: 1px solid #FF7800;
  border-right: 1px solid #FF7800;
}
.nav-more-hover .nav-more-txt,
.nav-more:hover .nav-more-txt {
  background-color: #fff;
}
.nav-more-hover .nav-more-list,
.nav-more:hover .nav-more-list {
  display: block;
}
.nav-more .nav-more-txt {
  position: relative;
  z-index: 10;
  display: block;
  width: 86px;
  height: 46px;
  line-height: 46px;
  text-indent: 1em;
  color: #666;
  font-size: 16px;
  cursor: default;
}
.nav-more-list {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 45px;
  right: -1px;
  width: 226px;
  border: 1px solid #FF7800;
  background-color: #fff;
}
.nav-more-list li {
  border-top: 1px solid #FFEDDF;
  margin-top: -1px;
  float: left;
  width: 50%;
  text-indent: 4em;
}
.nav-more-list a {
  display: block;
  height: 39px;
  line-height: 39px;
  color: #999;
  font-size: 14px;
}
.nav-more-list a:hover {
  color: #FF7800;
}
.head .nav-icon {
  background-image: url(/static/images/common/head_c.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.head .icon-more {
  background-position: 60px -83px;
}
.head .icon-b5g {
  background-position: 19px -140px;
}
.head .icon-b5g:hover {
  background-position: 19px -190px;
}
.head .icon-hgg {
  background-position: 19px -241px;
}
.head .icon-hgg:hover {
  background-position: 19px -291px;
}
.head .icon-dis {
  background-position: 19px -341px;
}
.head .icon-dis:hover {
  background-position: 19px -391px;
}
.head .icon-war {
  background-position: 19px -441px;
}
.head .icon-war:hover {
  background-position: 19px -491px;
}
.head .icon-doc {
  background-position: 19px -716px;
}
.head .icon-doc:hover {
  background-position: 19px -766px;
}
.head .icon-search {
  background-position: 19px -810px;
}
.head .icon-search:hover {
  background-position: 19px -860px;
}
.nav-bar {
  height: 46px;
  border-top: 2px solid #FF7800;
  margin-top: 10px;
  background: url(/static/images/common/head_c_rx.png) repeat-x scroll 0 0 transparent;
  -webkit-box-shadow: 0 2px 20px #F2F2F2;
  -moz-box-shadow: 0 2px 20px #F2F2F2;
  box-shadow: 0 2px 20px #F2F2F2;
}
.search-input {
  position: relative;
  z-index: 10;
  float: left;
  _display: inline;
  margin-left: 50px;
  margin-top: 17px;
}
.search-input .search-content {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: none;
  vertical-align: top;
  font-size: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.search-input .header-rearch-hotkey {
  float: none;
  display: block;
  padding: 0 0 0 0;
  margin-top: 10px;
}
.search-input .header-search-key {
  border: 2px solid #D7D7D7;
  border-right: none;
  height: 21px;
  line-height: 21px;
  padding-left: 30px;
  width: 389px;
  background: url(/static/images/common/head_c.png) no-repeat scroll -92px 12px transparent;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.search-input .hot-keys {
  height: 34px;
  line-height: 34px;
  float: left;
  margin-left: 10px;
  font-size: 12px;
  color: #fff6eb;
  font-family: "\\5B8B\\4F53", SimSun;
}
.search-input dt,
.search-input dd {
  float: left;
}
.search-input .hot-keys a {
  color: #fff6eb;
  margin-right: 12px;
}
.search-input .hot-keys a:hover {
  text-decoration: underline;
}
/*header s*/
/* search bar s*/
.search-content label {
  display: none;
}
.header-submit {
  display: inline-block;
  height: 41px;
  width: 67px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  background: url(/static/images/common/head_c.png) scroll 0 0 transparent;
  *margin-left: -1px;
}
.header-submit:hover {
  background-position: 0px -660px;
}
.header-rearch-hotkey,
.header-rearch-hotkey a {
  color: #999;
}
.header-rearch-hotkey a:hover {
  color: #eb7e00;
}
.focusin {
  color: #000;
}
/* search bar e*/
/* country box */
/*.head .country-box { position: absolute; left:50%; margin-left: 300px;  width:182px; height: 32px; overflow: hidden; top:40px; background: url("../../../images/common/header-country.png"); _background: url("../../../images/common/header-country8.png");}
.head .country-box a {display:inline-block;  zoom:1;   *display:inline; width:42px;  height: 32px; position: absolute; text-indent: -9999px; }
.head .country-box a.usa { left:70px;}
.head .country-box a.kor { left:140px; }*/
/*********head main***********/
/*********sub head************/
.head-sub .header-tools-search {
  position: relative;
  z-index: 10;
  float: left;
  _display: inline;
  margin-left: 50px;
  margin-top: 17px;
}
.head-sub .header-tools-search .header-search-content {
  display: inline-block;
  *display: inline;
  border: 2px solid #fff;
  float: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: top;
  zoom: 1;
}
.head-sub .header-rearch-hotkey {
  float: none;
  display: block;
  padding: 0;
  margin-top: 10px;
  line-height: 14px;
}
.head-sub .header-tools-search .header-search-key {
  height: 15px;
  line-height: 15px;
  padding-left: 30px;
  width: 386px;
  background: url(../../../images/www/nav_line.png) no-repeat scroll 8px -110px;
  _background-image: url(../../../images/www/nav_line8.png);
  border: 1px solid #c8c8c8;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.head-sub .header-tools-search dt,
.head-sub .header-tools-search dd {
  float: left;
}
.head-sub .header-tools-search .hot-keys a {
  color: #fff6eb;
  margin-right: 12px;
}
.head-sub .header-tools-search .hot-keys a:hover {
  text-decoration: underline;
}
.head-sub .header-search-content label {
  display: none;
}
.head-sub .header-rearch-submit {
  display: inline-block;
  width: 70px;
  height: 33px;
  overflow: hidden;
  _margin-left: -1px;
  color: #fff;
  border-radius: 0;
}
.head-sub .header-rearch-hotkey,
.head-sub .header-rearch-hotkey a {
  color: #999;
}
.head-sub .header-rearch-hotkey a:hover {
  color: #eb7e00;
}
.head-sub .focusin {
  color: #000;
}
/*导航*/
.head-sub .header-nav-box {
  height: 47px;
  margin-top: 10px;
  background-color: #ff8808;
  font-family: Microsoft YaHei;
}
.head-sub .header-nav-box .wp {
  width: 980px;
}
.head-sub .header-nav-back {
  display: inline;
  float: left;
  position: relative;
  z-index: 2;
  width: 196px;
  height: 47px;
  margin-right: -1px;
  line-height: 47px;
  background-image: url("/static/images/common/header-nav.png");
  background-position: -110px 13px;
  background-repeat: no-repeat;
  font-size: 14px;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.head-sub .header-nav-back a {
  display: block;
  padding-left: 78px;
  height: 47px;
  color: #fff;
}
.head-sub .header-nav-back a:hover {
  color: #fff;
  text-decoration: none;
}
.head-sub .header-nav-box ul {
  float: left;
  position: relative;
  z-index: 1;
}
.head-sub .header-nav-box li {
  display: inline;
  float: left;
  position: relative;
  width: 85px;
  border-left: 1px solid;
  text-align: center;
}
.head-sub .header-nav-box li a {
  display: block;
  height: 47px;
  line-height: 47px;
  font-size: 14px;
  color: #fff;
}
.head-sub .header-nav-box li a:hover {
  color: #fff;
  text-decoration: none;
}
.head-sub .header-box {
  width: 980px;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
  z-index: 1;
}
/*.head-sub .country-box { position: absolute; left:50%; margin-left: 300px;  width:182px; height: 32px; overflow: hidden; top:35px; background: url("../../../images/common/header-country.png"); _background: url("../../../images/common/header-country8.png");}
.head-sub .country-box a {display:inline-block;  zoom:1;   *display:inline; width:42px;  height: 32px; position: absolute; text-indent: -9999px; }
.head-sub .country-box a.usa { left:70px;}
.head-sub .country-box a.kor { left:140px; }*/
/*********sub head************/
/* B2C商城导航 */
.b2c-links {
  width: 980px;
  overflow: hidden;
  *margin-bottom: 20px;
}
.b2c-links ul {
  overflow: hidden;
  width: 115%;
}
.b2c-links li {
  color: #999;
  float: left;
  overflow: hidden;
  margin: 0 19.3px 20px 0;
  border: 1px solid #e0e0e0;
  width: 145px;
  height: 145px;
}
.b2c-links li a {
  color: #999;
}
.b2c-links li span {
  display: block;
  text-align: center;
  color: #333;
}
.b2c-links li img.b2c-logo {
  display: block;
  margin: 38px auto 3px auto;
  height: 47px;
}
.b2c-links li strong {
  display: block;
  padding: 5px 10px;
}
.b2c-links li strong a {
  font-weight: bold;
  color: #333;
}
.b2c-links li p {
  margin: 0;
  padding: 3px 10px;
}
.b2c-links li p a {
  width: 47%;
  display: inline-block;
  line-height: 21px;
}
.b2c-links li a:hover {
  color: #eb7e00;
}
/* page */
.page {
  width: 100%;
  height: 38px;
  text-align: center;
  font-family: arial, tahoma;
}
.page div {
  margin: 0 auto;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.page a,
.page span {
  float: left;
  margin: 2px 5px 0;
  display: inline;
  text-align: center;
}
.page a {
  border: 1px solid #d4d4d4;
  color: #666;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: #fff;
  border-radius: 3px;
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: linear-gradient(top, #fefefe, #f7f7f7);
}
.page span {
  height: 38px;
  line-height: 38px;
  margin-top: 0;
  font-family: tahoma;
}
.page a.prev,
.page a.next {
  font-size: 14px;
  font-family: '宋体';
}
.page a:hover {
  color: #fff;
  background-color: #ff9c0f;
  background-image: none;
  border-color: #eb8226;
  text-decoration: none;
  box-shadow: none;
}
.page .cur {
  color: #fff;
  background: #ff9c0f;
  font-family: arial;
  border-radius: 3px;
  cursor: default;
  width: 34px;
}
.page a.dis {
  color: #cccccc;
}
.page a.dis:hover {
  color: #cccccc;
  cursor: default;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);
  background-image: linear-gradient(top, #fefefe, #f7f7f7);
}
.page span.point {
  color: #aeaeae;
  font-size: 16px;
  line-height: 180%;
}
.page .all,
.page span.go {
  color: #999;
  font-family: arial;
  padding-right: 10px;
  margin-right: 0;
  text-align: right;
  font-family: '宋体';
}
.page .page-input {
  font-family: '宋体';
  width: 74px;
  height: 20px;
  margin: 9px 0 0;
}
.page .page-input input {
  width: 41px;
  text-align: center;
  padding: 2px 0;
  height: 14px;
  line-height: 14px;
  float: left;
  vertical-align: middle;
  color: #999;
  font-size: 12px;
  border: 1px solid #e98900;
}
.page .page-input a {
  width: 29px;
  height: 18px;
  float: left;
  color: #fff;
  background: #ff9c0f;
  border: 1px solid #e98900;
  line-height: 18px;
  margin: 0;
  border-radius: 0 3px 3px 0;
  box-shadow: none;
}
.page span.go {
  padding: 0;
  width: 25px;
  text-align: center;
  margin: 0;
}
/* footer */
.footer {
  background: #f7f7f7;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  padding: 10px 0;
  line-height: 25px;
}
.footer-links a {
  margin: 0 10px;
  color: #666;
  text-decoration: none;
}
.footer-links a:hover {
  color: #eb7e00;
  text-decoration: underline;
}
.footer-copyright {
  color: #999;
}
.footer-copyright a {
  color: #999;
}
.footer-copyright a:hover {
  text-decoration: underline;
  color: #eb7e00;
}
.footer img {
  vertical-align: bottom;
  margin: 0 3px;
}
.gotop {
  width: 48px;
  height: 47px;
  left: 50%;
  margin-left: 500px;
  outline: none;
  display: none;
  position: fixed;
  _position: absolute;
  bottom: 130px;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background: url(/static/images/common/gotop_8.png) no-repeat top left;
  z-index: 100;
  -webkit-transition: opacity,bottom .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}
.gotop:hover {
  background-position: bottom left;
}
.gotop-show {
  opacity: 1;
  filter: alpha(opacity=100);
  bottom: 80px;
  display: block;
}
/*活动，全网寻宝 */
#huodong-quanwangXb,
.huodong-quanwangXb-bg {
  width: 600px;
  height: 300px;
}
#huodong-quanwangXb {
  position: absolute;
  left: 50%;
  z-index: 99;
  margin-left: -125px;
  height: 0;
  overflow: hidden;
}
.huodong-quanwangXb-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: url(../../../images/huodong/www/active_indexxubao.png) no-repeat;
  _background: none;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/huodong/www/active_indexxubao.png");
}
#huodong-quanwangXb a {
  position: absolute;
  top: 171px;
  left: 146px;
  z-index: 2;
  width: 142px;
  height: 47px;
}
#huodong-quanwangXb s {
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 2;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.top-hdbanner {
  display: none;
  overflow: hidden;
  position: relative;
  background: none repeat scroll 0 0 #eb7d00 !important;
  text-align: center;
  height: 60px;
}
.top-banner-close {
  position: absolute;
  left: 50%;
  margin-left: 465px;
  top: 4px;
  display: block;
  background: url("/static/images/common/topbar.png") no-repeat 0 -550px;
  width: 15px;
  height: 15px;
  text-indent: -9999px;
}
/* 左侧导航栏&意见反馈栏 */
.left-toolbar {
  top: 320px;
  _top: 360px;
  display: none;
  position: fixed;
  _position: absolute;
  margin-left: -550px;
  left: 50%;
  z-index: 999;
}
.left-toolbar ul {
  margin-bottom: -4px;
}
.left-toolbar ul a {
  display: block;
  width: 41px;
  height: 40px;
  line-height: 40px;
  padding-left: 7px;
  color: #fff;
  background: #ff8808;
  border-bottom: 1px solid #f27d00;
  text-decoration: none;
}
.left-toolbar ul a:hover,
.left-toolbar ul .cur {
  border-left: 3px solid #d87000;
  padding-left: 4px;
  color: #fff001;
}
.left-toolbar .feedback-icon {
  position: relative;
  background: url("/static/images/common/feedback.png") no-repeat;
  display: block;
  text-indent: -9999px;
  width: 48px;
  height: 41px;
  cursor: pointer;
}
.left-toolbar .feedback-icon .fd-tip {
  display: none;
  top: -10px;
  left: 37px;
  position: absolute;
  width: 84px;
  height: 26px;
  background: url("/static/images/common/feedback.png") no-repeat 0px -240px;
}
.left-feedback-box {
  top: 221px;
  _top: 302px;
  display: none;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: fixed;
  _position: absolute;
  background: #fff;
  left: 50%;
  margin-left: -502px;
  z-index: 998;
}
.left-feedback-box .fb-title {
  background: url("/static/images/common/feedback.png") no-repeat 0px -42px;
  height: 37px;
  position: relative;
}
.left-feedback-box .fb-title a {
  position: absolute;
  width: 16px;
  height: 16px;
  display: block;
  text-indent: -9999px;
  right: 7px;
  top: 7px;
}
.left-feedback-box .fb-title span {
  position: absolute;
  left: 30px;
  top: 7px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.left-feedback-box .fb-content {
  width: 259px;
  height: 252px;
  padding: 10px 20px 0;
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  position: relative;
}
.left-feedback-box .fb-content span {
  margin-bottom: 8px;
  background: url("/static/images/common/feedback.png") no-repeat 0px -90px;
  padding-left: 20px;
  font-weight: bold;
  color: #eb7e00;
  display: block;
  height: 20px;
  line-height: 20px;
}
.left-feedback-box .fb-content span em {
  color: #f00;
  display: none;
}
.left-feedback-box .fb-content textarea {
  width: 98%;
  margin-bottom: 8px;
  height: 100px;
  line-height: 20px;
  border: 1px solid #ddd;
  resize: none;
  overflow: auto;
}
.left-feedback-box .fb-content textarea:hover,
.left-feedback-box .fb-content input:hover {
  border-color: #868686;
}
.left-feedback-box .fb-content input {
  width: 98%;
  height: 24px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.left-feedback-box .fb-content a {
  position: absolute;
  bottom: 10px;
  left: 95px;
  display: block;
  margin: auto;
  width: 100px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #eb7e00;
  border: none;
  cursor: pointer;
}
.left-feedback-box .fb-content a:hover {
  background: #ffaa47;
}
.left-feedback-box .fb-content a.dis {
  background: #ccc;
  cursor: default;
}
.left-feedback-box .fb-content .ico-text.dis {
  background-position: 0px -120px;
  color: #8b8b8b;
}
.left-feedback-box .fb-content .ico-phone {
  background-position: 0px -150px;
}
.left-feedback-box .fb-content .ico-phone.dis {
  background-position: 0px -180px;
  color: #8b8b8b;
}
.left-feedback-box .fb-content .ico-success {
  background-position: 0px -210px;
}
.left-feedback-box .fb-content p {
  margin-bottom: 10px;
  color: #999;
  padding-left: 20px;
  line-height: 20px;
  overflow: hidden;
  max-height: 80px;
}
.left-feedback-box .panel-success {
  display: none;
}
.left-toolbar.tuan li a {
  background: #5656d2;
  border-bottom-color: #4a49af;
}
.left-toolbar.tuan li a:hover,
.left-toolbar.tuan li a.cur {
  border-left-color: #1e1e8e;
  color: #9ac4ff;
}
.left-toolbar.tuan .feedback-icon {
  background-position: -48px 0;
}
.left-toolbar.tejia li a {
  background: #8db700;
  border-bottom-color: #809e18;
}
.left-toolbar.tejia li a:hover,
.left-toolbar.tejia li a.cur {
  border-left-color: #5a7600;
  color: #dbebad;
}
.left-toolbar.tejia .feedback-icon {
  background-position: -96px 0;
}
.left-toolbar.korea li a {
  background: #da0010;
  border-bottom-color: #be1822;
}
.left-toolbar.korea li a:hover,
.left-toolbar.korea li a.cur {
  border-left-color: #830b14;
  color: #e5a8ad;
}
.left-toolbar.korea .feedback-icon {
  background-position: -144px 0;
}
.left-toolbar.she li a {
  background: #b058c9;
  border-bottom-color: #9941b2;
}
.left-toolbar.she li a:hover,
.left-toolbar.she li a.cur {
  border-left-color: #7a308f;
  color: #dba1eb;
}
.left-toolbar.she .feedback-icon {
  background-position: -240px 0;
}
.left-toolbar.you li a {
  background: #4485df;
  border-bottom-color: #3f76c6;
}
.left-toolbar.you li a:hover,
.left-toolbar.you li a.cur {
  border-left-color: #2c599a;
  color: #9dc8ff;
}
.left-toolbar.you .feedback-icon {
  background-position: -288px 0;
}
/* 友情链接 */
.friend-links {
  background: #fafafa;
  border: 1px #e0e0e0 solid;
  padding: 12px;
  line-height: 23px;
  margin-bottom: 20px;
}
.friend-links strong {
  font-weight: bold;
  color: #666;
}
.friend-links a {
  margin-right: 10px;
  color: #666;
  white-space: nowrap;
}
.friend-links a:hover {
  color: #eb7e00;
}
/* 友情链接(滚动) */
.friend-links-roll {
  margin-bottom: 20px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  height: 20px;
  padding: 5px 5px 5px 65px;
  line-height: 20px;
}
.friend-links-roll h4 {
  float: left;
  margin-left: -60px;
  display: inline;
  color: #999;
  font-size: 12px;
  font-weight: normal;
}
.friend-links-roll .line {
  list-style: none;
  overflow: hidden;
  height: 20px;
}
.friend-links-roll .line li a {
  color: #666;
  padding: 0px 5px;
}
.friend-links-roll .line li a:hover {
  color: #eb7e00;
}
.left-toolbar.piao li a {
  background: #00a628;
  border-bottom-color: #178e34;
}
.left-toolbar.piao li a:hover,
.left-toolbar.piao li a.cur {
  border-left-color: #0e6924;
  color: #8cda9e;
}
.left-toolbar.piao .feedback-icon {
  background-position: -384px 0;
}
.autofill {
  display: none;
  position: absolute;
  z-index: 999;
  border: 1px solid #C1C1C1;
  width: 494px;
  background-color: #ffffff;
}
.autofill-content {
  position: relative;
  z-index: 100;
  width: 439px;
  height: 348px;
  margin-left: 28px;
  margin-right: 28px;
  overflow: hidden;
  background: url(../../../images/autofill/autofill_rx.png) repeat-x scroll 0 0 transparent;
}
.autofill-slider {
  position: absolute;
  height: 348px;
  white-space: nowrap;
  border-left: 1px dashed #C1C1C1;
}
.autofill .category {
  width: 145px;
  height: 348px;
  border-right: 1px dashed #C1C1C1;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.autofill .category dt {
  position: relative;
  z-index: 10;
  height: 34px;
  line-height: 34px;
  margin-bottom: 14px;
  text-align: center;
  color: #999;
}
.autofill .category .first {
  border-left: 1px dashed #dedede;
}
.autofill .category .item {
  height: 20px;
  padding-left: 4px;
  padding-right: 28px;
  margin-bottom: 7px;
  line-height: 20px;
  cursor: pointer;
}
.autofill .category .item-sub {
  background: url(../../../images/autofill/autofill_icon.png) no-repeat scroll -104px -89px transparent;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.autofill .category .item-txt {
  float: left;
  width: 110px;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  word-wrap: normal;
}
.autofill .category .item-count {
  float: right;
  display: none;
}
.autofill .category .item b {
  font-weight: 400;
  color: #f18100;
}
.autofill .category .cur,
.autofill .category .item:hover {
  background-color: #FFE8C7;
  background-position: 126px -92px;
}
.autofill .category-hover {
  background-color: #FFF9F0;
}
.autofill .category-hover dt {
  color: #FE8711;
}
/*---tag s---*/
.autofill .sub-box {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  width: 320px;
  height: 314px;
  top: 34px;
  left: 174px;
  background-color: #f3f3f3;
}
.autofill .sub-box .sub-item {
  display: none;
}
.autofill .sub-box .sub-item.on {
  display: block;
}
.autofill .sub-box .tags {
  padding: 14px 0 14px 34px;
  border-top: 1px dashed #dedede;
  margin-top: -1px;
  cursor: default;
}
.autofill .sub-box .tags a {
  float: left;
  margin-right: 14px;
  margin-top: 8px;
  color: #333;
  height: 22px;
  padding: 0 10px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  /* IE6-8 */

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
:root .autofill .sub-item .tags a {
  filter: none;
}
.autofill .sub-item .tags .tag-cur,
.autofill .sub-item .tags a:hover {
  border-color: #F18100;
}
.autofill .sub-item h3 {
  color: #666;
  font-weight: 700;
}
/*---tag e---*/
.autofill-arrow {
  position: absolute;
  top: 0;
  width: 27px;
  height: 41px;
  background-image: url(../../../images/autofill/autofill_icon.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.autofill-left {
  left: 0;
  background-position: 0 -50px;
}
.autofill-right {
  right: 0;
  background-position: -50px -50px;
}
.autofill-left-disable {
  background-position: 0 0;
}
.autofill-right-disable {
  background-position: -50px 0;
}
.autofill-close {
  position: absolute;
  z-index: 120;
  right: 0;
  bottom: 0;
  width: 29px;
  height: 29px;
  background: url(../../../images/autofill/autofill_icon.png?v=4) no-repeat scroll 0 -200px #f2f2f2;
  cursor: pointer;
}
/*---tips s---*/
.autofill .autofill-tips {
  display: none;
  position: absolute;
  right: -45px;
  top: -56px;
  width: 111px;
  height: 63px;
  background: url(../../../images/autofill/autofill_icon.png) no-repeat scroll -89px -187px;
}
/*---tips e---*/
.search-history {
  display: none;
  padding: 10px 20px 0;
}
.search-history-title span {
  color: #9A9A9A;
}
.search-history-title .del-his {
  cursor: pointer;
}
.search-history .key-list a {
  display: block;
  color: #0E72CC;
}
.search-history .key-list a:hover {
  background-color: #ffe8c7;
}
.search-history .key-list li {
  height: 28px;
  line-height: 28px;
}
/* bottom banner */
.bottom-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 86px;
  background: url("/static/images/common/bg-alapha.png");
  _background: #000;
  color: #fff;
  z-index: 101;
}
.bottom-banner .banner-wapper {
  width: 980px;
  margin: auto;
  position: relative;
}
.bottom-banner .banner-right a,
.bottom-banner .banner-left h4,
.bottom-banner .banner-left a i,
.bottom-banner .btn-banner-colse {
  background-image: url(/static/images/common/bottom-banner-bg.png);
  background-repeat: no-repeat;
}
.bottom-banner .banner-right {
  font-size: 14px;
  float: right;
  margin: 30px 90px 0 0;
  line-height: 36px;
}
.bottom-banner .banner-right b {
  float: left;
  margin-right: 10px;
}
.bottom-banner .banner-right a {
  float: left;
  color: #fff;
  text-align: center;
  display: block;
  width: 96px;
  height: 36px;
  background-position: 0 -54px;
  font-weight: 700;
  box-shadow: 0 7px 6px -6px #000000;
  -moz-box-shadow: 0 7px 6px -6px #000000;
  -webkit-box-shadow: 0 7px 6px -6px #000000;
}
.bottom-banner .banner-left {
  float: left;
  font-size: 14px;
  margin: 15px 0 0 40px;
}
.bottom-banner .banner-left h4 {
  width: 475px;
  height: 33px;
  margin-left: 25px;
  background-position: 0 0;
  text-indent: -9999em;
}
.bottom-banner .banner-left a {
  display: block;
  float: left;
  line-height: 32px;
  color: #fff;
  margin-right: 20px;
}
.bottom-banner .banner-left i {
  display: block;
  float: left;
  margin-right: 5px;
  width: 34px;
  height: 34px;
  text-indent: -9999em;
}
.bottom-banner .banner-left .icon-banner-b5m {
  background-position: -11px -106px;
}
.bottom-banner .banner-left .icon-banner-sina {
  background-position: -83px -106px;
}
.bottom-banner .banner-left .icon-banner-qq {
  background-position: -157px -106px;
}
.bottom-banner .banner-left .icon-banner-taobao {
  background-position: -234px -106px;
}
.bottom-banner .btn-banner-colse {
  position: absolute;
  top: 5px;
  right: 0;
  display: block;
  width: 27px;
  height: 26px;
  background-position: -440px -114px;
  text-indent: -99999em;
}
/*新版顶部调整 - Start - Gaotian -20131213*/
.header-box {
  width: 980px;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
  z-index: 1;
}
/*.header-box .country-box{top:35px;}*/
/*搜索框*/
.header-tools-search {
  position: relative;
  z-index: 10;
  float: left;
  _display: inline;
  margin-left: 50px;
  margin-top: 17px;
}
.header-tools-search .header-search-content {
  display: inline-block;
  *display: inline;
  float: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: top;
  zoom: 1;
}
.header-rearch-hotkey {
  float: none;
  display: block;
  padding: 0;
  margin-top: 10px;
  line-height: 14px;
}
.header-tools-search .header-search-key {
  height: 17px;
  line-height: 17px;
  padding-left: 30px;
  width: 386px;
  background: url(../../../images/www/nav_line.png) no-repeat scroll 8px -110px;
  _background-image: url(../../../images/www/nav_line8.png);
  border: 1px solid #c8c8c8;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.header-tools-search dt,
.header-tools-search dd {
  float: left;
}
.header-tools-search .hot-keys a {
  color: #fff6eb;
  margin-right: 12px;
}
.header-tools-search .hot-keys a:hover {
  text-decoration: underline;
}
.header-search-content label {
  display: none;
}
.header-rearch-submit {
  display: inline-block;
  width: 71px;
  height: 35px;
  overflow: hidden;
  *margin-left: -1px;
  color: #fff;
}
.header-rearch-hotkey,
.header-rearch-hotkey a {
  color: #999;
}
.header-rearch-hotkey a:hover {
  color: #eb7e00;
}
.focusin {
  color: #000;
}
/*导航*/
.header-nav-box {
  height: 46px;
  margin-top: 10px;
  background-color: #ff8808;
  font-family: Microsoft YaHei;
}
.header-nav-back {
  display: inline;
  float: left;
  position: relative;
  z-index: 2;
  height: 46px;
  line-height: 46px;
  background-image: url("/static/images/common/header-nav.png");
  background-position: -164px 13px;
  background-repeat: no-repeat;
  font-size: 14px;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.header-nav-back a {
  display: block;
  width: 33px;
  height: 46px;
  color: #fff;
}
.header-nav-back a:hover {
  text-decoration: none;
  color: #fff;
}
.header-nav-back u {
  display: none;
}
.header-nav-box .cur a,
.header-nav-box .cur a:hover {
  background: #f5f5f5;
  color: #5a5a5a;
}
.header-nav-back s {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 3;
  width: 0;
  height: 0;
  _margin-left: 1px;
  font-size: 0;
  line-height: 0;
  border: 23px dashed transparent;
  border-left: 23px solid;
}
.header-nav-box .header-nav-back s.header-nav-back-s2 {
  margin-left: 1px;
  _margin-left: 2px;
  border-left-color: #fff;
  opacity: 0.5;
  filter: alpha(opacity=40);
}
.header-nav-box ul {
  float: left;
  position: relative;
  z-index: 1;
}
.header-nav-box li {
  display: inline;
  float: left;
  position: relative;
  border-left: 1px solid;
  text-align: center;
}
.header-nav-box li.index a {
  padding-left: 10px;
}
.header-nav-box li a {
  display: block;
  width: 85px;
  height: 46px;
  line-height: 46px;
  _line-height: 47px;
  font-size: 14px;
  color: #fff;
}
.header-nav-box li a:hover {
  color: #fff;
  text-decoration: none;
}
/*新版顶部调整 - End - Gaotian -20131213*/
/*顶部国旗*/
/*
.top-country { width:130px; height: 52px; position: absolute;top:16px; right:30px;}
.top-country a { background: url("../../../images/common/header-country.png") no-repeat; width:42px; height: 20px; position: absolute; display: block; padding-top:36px; text-align: center; font-family: \5FAE\8F6F\96C5\9ED1; color:#666;}
.top-country a:hover { text-decoration:none; color:#ff7800;}
.top-country a.usa { background-position: -72px 0;}
.top-country a.kor { right:0; background-position: -142px 0;}
.header .top-country { top:33px;}
.header.header-www .top-country { top:16px;}*/
/* header 热门关键词 */
.top-hot-key {
  width: 200px;
  line-height: 22px;
  position: absolute;
  top: 16px;
  right: 30px;
  right: 0;
}
.top-hot-key a {
  color: #666;
  padding: 0 2px;
}
.top-hot-key a:hover {
  text-decoration: underline;
}
.top-hot-key .highlight {
  color: #f68400;
}
.header .top-hot-key {
  top: 33px;
}
.header.header-www .top-hot-key {
  top: 16px;
}
.tpbar{background-position:0px 0px}.tpbar{background-image: url(/static/images/common/common-src_x.png)}.tpbar .bd-phone .qrcode-iphone{background-position:-159px 0px}.tpbar .bd-phone .qrcode-android{background-position:-159px -104px}.tpbar .bd-phone .btn-iphone{background-position:-159px -208px}.tpbar .bd-phone .btn-android{background-position:-159px -246px}.tpbar .bd-helper-download{background-position:-164px -284px}.tpbar .bd-helper-download:hover{background-position:-164px -318px}.tpbar .bd-follow .qrcode-wx{background-position:-143px -352px}.tpbar .follow-weibo{background-position:-238px -474px}.tpbar .follow-qq{background-position:-238px -501px}.tpbar .bd-msg .btn-more{background-position:0px -528px}.tpbar .bd-add .btn-more{background-position:0px -528px}.tpbar .bd-msg .btn-more:hover{background-position:0px -567px}.tpbar .bd-add .btn-more:hover{background-position:0px -567px}.tpbar .bd-phone .qrcode-iphone,.tpbar .bd-phone .qrcode-android,.tpbar .bd-phone .btn-iphone,.tpbar .bd-phone .btn-android,.tpbar .bd-helper-download,.tpbar .bd-helper-download:hover,.tpbar .bd-follow .qrcode-wx,.tpbar .follow-weibo,.tpbar .follow-qq,.tpbar .bd-msg .btn-more,.tpbar .bd-add .btn-more,.tpbar .bd-msg .btn-more:hover,.tpbar .bd-add .btn-more:hover{background-image: url(/static/images/common/common-src_z.png)}