

/* topbar */
.topbar{width:100%;height:37px;background:url(../../images/common/topbar.png) repeat-x 0 -160px;border-bottom:1px solid #e3e3e3;font-size:12px;}
.topbar a { text-decoration: none;}
.topbar .wp { width:980px; margin:0 auto;}
.topbar .arr{width:0;height:0;font-size:0;line-height:0; border-style:solid dashed dashed;border-color:#666 transparent transparent;border-width:4px;position:absolute;right:0;top:17px;top:15px\9;*top:15px;;_top:16px;  -webkit-transition:all .3s ease; -moz-transition:all .3s ease;  -o-transition:all .3s ease; -ms-transition:all .3s ease; transition:all .3s ease;right:2px}
.topbar-more:hover .arr,.topbar-more-hover .arr,.topbar-user .user:hover .arr,.topbar-user .user-hover .arr{-webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); border-style:dashed dashed solid\9; *border-style:dashed dashed solid; _border-style:dashed dashed solid; border-color:transparent transparent #666\9; *border-color:transparent transparent #666; _border-color:transparent transparent #666; top : 13px; top:11px\9; *top:11px; _top:11px; }
/*.topbar-inner{width:980px;margin:0 auto;}*/
.topbar-inner .line{width:1px;height:12px;border-right:1px solid #f5f5f5;background-color:#f5f5f5;overflow:hidden;margin:15px 8px 0;float:left;_display:inline;}
.topbar-inner a:hover{color:#f68400;text-decoration:underline}
.topbar-nav{float:left}
.topbar-nav a{background:url(../../images/common/topbar.png) no-repeat 0 0;color:#666;text-decoration:none;float:left;margin-top:10px;text-indent:20px;line-height:1.5;}
.topbar-nav .home{}
.topbar-nav .buy{background-position:0 -20px}
.topbar-nav .korea{background-position:0 -362px}
.topbar-nav .tao{background-position:0 -39px}
.topbar-nav .app{background-position:0 -60px;text-indent:15px}
.topbar-nav .home:hover{background-position:0 -80px}
.topbar-nav .buy:hover{background-position:0 -100px}
.topbar-nav .app:hover{background-position:0 -140px;}
.topbar-user{float:right;}
.topbar-user-unlogin{width:291px}
.topbar-user-login{width: 360px;}
.topbar-user a,.topbar-user .hi,.topbar-user .user{float:left;color:#666;margin-top:10px;line-height:1.5}
.topbar-user a{margin-left:10px;_display:inline}
.topbar-user-unlogin a{margin-left:0}
.topbar-user-login a{margin-left:0}
.topbar-user .user{width:55px;padding:0 14px 0 4px;height:20px;line-height:20px;position:relative;white-space:nowrap;margin-left:1px;margin-right:1px;float:left;margin-top:8px;padding-top:2px;text-overflow: ellipsis;z-index: 101}
.topbar-user .user a{margin:0;display:inline;float:none;max-width:48px;_width:48px;display:block;overflow:hidden;text-overflow:ellipsis;word-wrap:normal;}
.topbar-user .user a:hover{color:#eb7e00;text-decoration:underline;}
.topbar-user .user:hover,.topbar-user .user-hover{width:55px;height:28px;border:1px solid #e3e3e3;border-bottom:0;background:white;margin-top:0px;margin-left:0px;margin-right:0;padding-top:9px;color:#5b86bf;text-decoration:none}
.topbar-user .user .arr{top:9px;}
.topbar-user .user:hover .arr,.topbar-user .user-hover .arr{top:11px;_top:10px;}
.topbar-user .user-link{display:none;width:53px;padding:5px 10px 0;height:64px;position:absolute;left:-1px;top:26px;border:1px solid #e3e3e3;border-top:0;background-color:white}
.topbar-user .user-link a{color:#666666;display:block;line-height:20px;font-size:12px}
.topbar-user .user-link a:hover{color:#eb7e00;text-decoration:underline}
.topbar-user .user:hover .user-link,.topbar-user .user-hover .user-link{display:block}
.topbar-user .line{margin:15px 6px 0}
.topbar-user .user .userreg { color:#eb7e00; font-weight: bold;}
.topbar-user .user .userreg:hover { color:#f68400; }
.topbar-user .user .userreg.off,.topbar-user .user .userreg.off:hover { color:#999; font-weight: normal; cursor:default; text-decoration: none;}
.topbar-more a{float:none;display:block;margin-left:0}
.topbar-more {float:right;width:63px; padding-left:17px; border:1px solid #f5f5f5;border-top: none; border-bottom: none; background: url("../../images/common/topbar.png") no-repeat 5px -501px; background-position:5px -503px\9;  height:37px;position:relative;z-index:999999;}
.topbar-more:hover,.topbar-more.topbar-more-hover { background-color: #fff; border:1px solid #ddd; border-bottom: none;border-top: none;}
.topbar-more .more{display:block;height:27px;margin-top:9px \0;}
.topbar-inner a.high { color:#eb7e00;}
.topbar-user .user.msg { width:auto;}
.topbar-user .user.msg .user-link{ width:90px; _width:94px; height: 30px;top:37px;}
.topbar-user .user.msg a { max-width:85px; _width:85px;}
.topbar-user .user.msg em {right:0; color:#eb7e00; font-weight: bold;}
.topbar-user .user.msg .msg-t {  padding-left: 14px; background: url("../../images/common/topbar.png") no-repeat 0px -420px;}
.topbar-user a.weibo,.topbar-user a.qq { text-indent: -9999px; background: url("../../images/common/topbar.png") no-repeat 0px -448px;  width:20px;}
.topbar-user a.qq { background: url("../../images/common/topbar.png") no-repeat 0px -480px;}
.topbar-prod {display:none;position:absolute;right:-1px;top:36px; border:1px solid #ddd; border-top:none;  z-index:100;width:170px;background-color:#fff}
.topbar-prod .top-border { padding-top: 1px; background: #ddd; width:90px;*overflow:hidden; height:0px;}
.topbar-prod a{margin-top:0}
.topbar-prod .item {padding:15px 0 15px 20px;overflow:hidden;font-size:0;border-bottom:1px solid #D9D9D9;border-top:1px solid #fff;zoom:1}
.topbar-prod .weixin { padding:10px 0 0 0;}
.topbar-prod .weixin img {display:block;margin:auto;}
.topbar-prod .weixin span {display:block;text-align:center;font-size:12px;color:#666;line-height:22px;padding:3px 0 5px}
.topbar-prod .first {border-top:none}
.topbar-prod a {float:left;color:#666;margin-right:12px;white-space:nowrap;font-size:12px;line-height:22px;width:36px; word-break: normal; word-wrap: normal;}
.topbar-prod .h_icon {padding-left:19px;background:url(../../images/common/topbar.png) no-repeat top left; width:auto;}
.topbar-prod a.lar { width:80px; text-align:right; _width:55px;}
.topbar-prod .b5t {background-position:0 -230px}
.topbar-prod .gwdh {background-position:0 -280px}
.topbar-prod .sjb5m {background-position:3px -329px}
.topbar-more:hover .topbar-prod,
.topbar-more-hover .topbar-prod{display:block}

