/**
 * name:head_c.css;
 * date:2013-12-17;
 */
/*header s*/
.head{height:130px;padding-top: 18px; position: relative;}
.nav-list{position: relative;float:left;margin-left:1px;}
.nav-list li{float:left;position:relative;width:77px;margin-left:-1px;text-align:center;background:url(../../images/common/head_c.png) no-repeat right -67px scroll;}
.nav-list .last-nav{background:none;}
.nav-list a:hover{color:#ff7800;}
.nav-list .cur{background:#ff7800;}
.nav-list .cur a{color:#fff;}
/*.nav-list li:hover{background-color: red}*/
.nav-list a{display:block;height:46px;line-height:46px;font-size:16px;color:#666;font-family:\5FAE\8F6F\96C5\9ED1;}
.nav-list .new,
.nav-list .hot{position: absolute;font-size:0;line-height:0;overflow:hidden;top:-4px;right:4px;width:22px;height:14px;background:url(../../images/common/head_c.png) no-repeat -128px -150px scroll;}
.nav-list .hot { background-position: -250px 0;}

.nav-more{position:relative; z-index:10;font-family:\5FAE\8F6F\96C5\9ED1;margin-left:1px;margin-right: 1px;}
.nav-more-hover,.nav-more:hover{border-left:1px solid #FF7800;border-right:1px solid #FF7800;margin:0;}
.nav-more-hover .nav-more-txt,
.nav-more:hover .nav-more-txt{background-color:#fff;}
.nav-more-hover .nav-more-list,.nav-more:hover .nav-more-list{display: block;}
.nav-more .nav-more-txt{position:relative;z-index:10;display:block;width:86px;height:46px;line-height:46px;text-indent:1em;color:#666;font-size:16px;cursor:default;}
.nav-more-list{display:none;overflow:hidden;position:absolute;top:45px;right:-1px;width:226px;border:1px solid #FF7800;background-color: #fff;}
.nav-more-list li{border-top:1px solid #FFEDDF;margin-top: -1px;float:left;width:50%;text-indent:4em;}
.nav-more-list a{display:block;height:39px;line-height:39px;color:#999;font-size:14px;}
.nav-more-list a:hover{color:#FF7800;}

.nav-icon{background-image:url(../../images/common/head_c.png);background-repeat: no-repeat;background-attachment: scroll;}
.icon-more{background-position:60px -83px;}
.icon-b5g{background-position:19px -140px;}
.icon-b5g:hover{background-position:19px -190px;}
.icon-hgg{background-position:19px -241px;}
.icon-hgg:hover{background-position:19px -291px;}

.nav-bar{height:46px;border-top:2px solid #FF7800;margin-top:10px;background:url(../../images/common/head_c_rx.png) repeat-x scroll 0 0 transparent;
	-webkit-box-shadow: 0 2px 20px #F2F2F2;
	-moz-box-shadow: 0 2px 20px #F2F2F2;
	box-shadow: 0 2px 20px #F2F2F2;

}
.search-input{position:relative;z-index:10;float:left;_display:inline;margin-left:50px;margin-top:17px;}
.search-input .search-content{display: inline-block;*display: inline;*zoom: 1;float:none;vertical-align: top;font-size:0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.search-input .header-rearch-hotkey{float:none;display: block;padding:0 0 0 0;margin-top: 10px;}
.search-input .header-search-key{border:2px solid #D7D7D7;border-right:none;height:21px;line-height:21px;padding-left:30px;width:389px;background:url(../../images/common/head_c.png) no-repeat scroll -92px 12px transparent;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;	
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
}
.search-input .hot-keys{height: 34px;line-height:34px;float:left;margin-left: 10px;font-size: 12px;color:#fff6eb;font-family:"\\5B8B\\4F53",SimSun;} 
.search-input dt,
.search-input dd{float:left;}
.search-input .hot-keys a{color:#fff6eb;margin-right:12px;}
.search-input .hot-keys a:hover{text-decoration: underline;}
/*header s*/

/* search bar s*/
.search-content label{ display: none;}
.header-submit{display:inline-block;height:41px;width:67px;overflow:hidden;font-size:0;line-height: 0;background:url(../../images/common/head_c.png) scroll 0 0 transparent;*margin-left:-1px;}
.header-submit:hover{color:#673700;}
.header-rearch-hotkey,
.header-rearch-hotkey a{ color: #999;}
.header-rearch-hotkey a:hover{color:#eb7e00;}
.focusin{ color: #000;}
/* search bar e*/

/* country box */
.head .country-box { position: absolute; left:50%; margin-left: 300px;  width:182px; height: 32px; overflow: hidden; top:40px; background: url("../../images/common/header-country.png"); _background: url("../../images/common/header-country8.png");}
.head .country-box a {display:inline-block;  zoom:1;   *display:inline; width:42px;  height: 32px; position: absolute; text-indent: -9999px; }
.head .country-box a.usa { left:70px; cursor:default;}
.head .country-box a.kor { left:140px; }
