/**
 * name:head_a.css;
 * date:2013-11-18;
 */
html{overflow-y:auto;}
/*header s*/
.header{height: 129px;padding-top:15px;*position: relative; *z-index: 1;}
.header .list-h{margin-left:198px;margin-top:-30px;*zoom:1;}
.header .list-h li{position:relative;width:70px;height: 40px;margin-right:1px;line-height:40px;text-align:center;}
.header .list-h a{display:block;zoom:1;font-size:16px;color:#4c4c4c;font-family:\5FAE\8F6F\96C5\9ED1;background: url(../../images/www/nav_bg.png) no-repeat scroll 0 -40px transparent;}
.header .list-h a:hover{background-position:0 -80px;}
.header .list-h li.cur a{background-position:0 0;color:#fff;}
.header .list-h .new,.header .list-h .hot{position: absolute;font-size:0;line-height:0;overflow:hidden;top:-4px;right:4px;width:22px;height:14px;background:url(../../images/www/icon.png) no-repeat -100px 0 scroll;_background-image:url(../../images/www/nav8.png);}
.header .list-h .hot { background-position: -250px 0;}
.header .search-bar{height: 47px;background-color:#FF8726;}
.header .search-tools{position:relative;z-index:10;float:left;_display:inline;margin-left:50px;padding:6px 0 0;}
.header .search-tools .header-search-content{border:2px solid #E2731A;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.header .search-tools .header-search-key{border:none;height:15px;line-height: 15px;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;	
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
}
.header .search-tools .hot-keys{height: 34px;line-height:34px;float:left;margin-left: 10px;font-size: 12px;color:#fff6eb;font-family:"\\5B8B\\4F53",SimSun;} 
.header .search-tools dt,
.header .search-tools dd{float:left;}
.header .search-tools .hot-keys a{color:#fff6eb;margin-right:12px;}
.header .search-tools .hot-keys a:hover{text-decoration: underline;}
/*header s*/

/* search bar s*/
.search-tools span{display: inline-block;}
.search-tools .header-rearch-hotkey{width:194px;overflow:hidden;white-space:nowrap;}
.header-search-content label{ display: none;}
.header-rearch-submit{display: inline-block;height:31px;width:71px;font-size:0;line-height: 0;background:url(../../images/www/nav_bg.png) 0 -120px; }
.header-rearch-submit:hover{color:#673700;}
.header-rearch-hotkey,.header-rearch-hotkey a{ color: #fff6eb;}
.focusin{ color: #000;}
/* search bar e*/