@red:#db000f;
@hover:#eb7e00;
@fff:#fff;
@c000:#000;
@c333:#333;
@c666:#666;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';

.bottom-banner{display: none;}
.s-crumb{ height: 35px;padding: 38px 0;}
.s-crumb li{ width: 202px; padding-left: 53px; float: left; height: 35px; line-height: 35px; font-size: 18px; color: @fff; font-family: @yahei; margin-left: -10px; background: url("../../../images/huodong/songhuafei/_sprite/cur-01.png?__sprite") no-repeat}
.s-crumb li.cur{ background: url("../../../images/huodong/songhuafei/_sprite/cur-02.png?__sprite") no-repeat;}
.s-crumb li.post{ background: url("../../../images/huodong/songhuafei/_sprite/cur-03.png?__sprite") no-repeat;}

.s-cont{border-bottom: 42px solid; width: 100%;}
.step-mian{ position: relative;height: 634px;}
.step1-bg{ background: #ffeede; border-bottom-color: #f8ac8a;}
.step2-bg{ background: #deefff; border-bottom-color: #565656;}
.step3-bg{ background: #ffdee9; border-bottom-color: #565656;}
.step4-bg{ background: #fffede; border-bottom-color: #fffede;}
/*login s*/
.login-m{ padding-top: 312px;}
.login-m .login{ width: 585px; margin: 0 auto; border: 3px #f8ac8a solid; background: #fff; height: 85px; padding-top: 13px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;}

.login-m .login a{ width: 278px; height: 78px; display: inline-block; margin: 0 0 0 8px;}
.login-m .login .qq{ background: url("../../../images/huodong/songhuafei/_sprite/btn-01.png?__sprite") no-repeat;}
.login-m .login .wb{ background: url("../../../images/huodong/songhuafei/_sprite/btn-02.png?__sprite") no-repeat;}
.login-m .login-tip{ margin-top: 32px; padding-top: 25px; border-top: 1px #ffd8c7 solid; text-align: center;}
.login-m .login-tip a{ margin: 0 10px; font-size: 14px; color: #a9a8a7; font-family: @yahei;}
.login-m .login-tip a.cur,
.login-m .login-tip a:hover{ color: #ff805b;}


.s-cont .cloud1{ width: 123px; height: 69px; position: absolute; left: -56px; top: 100px;background: url("../../../images/huodong/songhuafei/s-pic01.png") no-repeat;}
.s-cont .cloud2{ width: 62px; height: 30px; position: absolute; left: 125px; top: 108px;background: url("../../../images/huodong/songhuafei/s-pic02.png") no-repeat;}
.s-cont .cloud3{ width: 165px; height: 78px; position: absolute; right: 32px; top: 50px;background: url("../../../images/huodong/songhuafei/s-pic03.png") no-repeat;}
.s-cont .cloud4{ width: 360px; height: 208px; position: absolute; left: 310px; top: 55px;background: url("../../../images/huodong/songhuafei/s-pic04.png") no-repeat; text-align: center; font-family: @yahei; color: #ff6633;}
.s-cont .cloud4 strong{ display: block; font-size: 48px; margin-top: 55px; line-height: 50px; height: 50px; overflow: hidden;}
.s-cont .cloud4 span{ font-size: 30px;}
.step1-bg .floor1{ width: 190px;height: 83px;position: absolute; left: -1px; bottom: 0;background: url("../../../images/huodong/songhuafei/s-pic08.png") no-repeat;}
.step1-bg .floor2{ width: 144px;height: 151px;position: absolute; right:-1px; bottom: 0;background: url("../../../images/huodong/songhuafei/s-pic07.png") no-repeat;}
.step-mian .logo1{ width: 83px; height: 83px; position: absolute;}
.step1-bg .logo1{ bottom: -12px; right: 158px; background: url("../../../images/huodong/songhuafei/_sprite/logo-02.png?__sprite") no-repeat;}
/*login e*/
/*mobile s*/
.step2-bg .floor1{ width: 132px;height: 170px;position: absolute; left:34px; bottom: -42px;background: url("../../../images/huodong/songhuafei/s-pic06.png") no-repeat;}
.step2-bg .floor2{ width: 278px;height: 199px;position: absolute; left: 285px; bottom: -42px;background: url("../../../images/huodong/songhuafei/s-pic05.png") no-repeat;}
.step2-bg .logo1{ bottom: -12px; right: 42px; background: url("../../../images/huodong/songhuafei/_sprite/logo-01.png?__sprite") no-repeat;}
.from-wp{ width: 445px; margin: 0 auto;}
.from-wp .from-tiem li{ height: 70px; padding-left: 100px;}
.from-wp .from-tiem li label{ float: left; display: inline; margin-left: -100px; width: 100px; text-align: right; line-height: 41px; font-size: 16px; font-family: @yahei;}
.from-wp .from-tiem .in-text,
.from-wp .from-tiem .in-mail,
.from-wp .from-tiem .code{ height: 28px; padding: 5px; border: 1px #f8ac8a solid; float: left; line-height: 28px; font-size: 16px; font-family: @yahei; color: #000;}
.from-wp .from-tiem .in-text{width: 218px; }
.from-wp .from-tiem .set-btn,
.from-wp .from-tiem .mail-btn{  margin-left: 10px;height: 40px; float: left; background: #f8ac8a; text-align: center; line-height: 40px; color: #fff; font-size: 14px; font-family: @yahei;}
.from-wp .from-tiem .set-btn{ width: 96px; }
.from-wp .from-tiem .tip{float: left; line-height: 24px; color: @c999;}
.from-wp .from-tiem .code{width: 110px; }
.from-wp .past .in-text{border: 1px #d0d1d1 solid; background: #eeeeee;}
.from-wp .past .set-btn{ background: #c0c0c0; cursor: default;}
.from-wp .from-tiem .next-btn{ width: 218px; height: 63px; text-align:center; font-size:26px; font-family:@yahei; font-weight: bold; line-height:58px; color: #ff6633; background: url("../../../images/huodong/songhuafei/_sprite/next-btn.png?__sprite") no-repeat; display: block;  margin: -20px 0 0 268px; position: relative;}
/*mobile e*/
/*mail s*/
.step3-bg .floor1{ width: 278px;height: 199px;position: absolute; left: 30px; bottom: -42px;background: url("../../../images/huodong/songhuafei/s-pic05.png") no-repeat;}
.step3-bg .logo1{ bottom: -12px; right: 42px; background: url("../../../images/huodong/songhuafei/_sprite/logo-01.png?__sprite") no-repeat;}
.from-wp .from-tiem .in-mail{ width: 180px;}
.from-wp .from-tiem .mail-btn{ width: 110px;}
.from-wp .from-tiem .to-mail{ margin-top: 60px;}
/*mail e*/
/*bill s*/
.step4-bg .cloud1{ left: 40px; top: 16px;}
.step4-bg .cloud2{ left: 220px; top: 22px;}
.step4-bg .cloud3{ left: 395px; top: 38px;}
.step4-bg .bot-bg{ width: 1805px; height: 99px; background: url("../../../images/huodong/songhuafei/s-pic09.png") no-repeat; position: absolute; left: 50%; margin-left: -958px; bottom: -22px;}
.step4-bg .mobile{ width: 234px; height: 216px; background: url("../../../images/huodong/songhuafei/s-pic10.png") no-repeat; position: absolute; left: 344px; top: 32px; z-index: 1;}
.step4-bg .name-list{ width: 261px; height: 167px; right: 32px; top: 26px; padding: 20px 30px; position: absolute; background: url("../../../images/huodong/songhuafei/s-pic11.png") no-repeat; z-index: 4;}
.step4-bg .name-list h3{ font-size: 18px; font-family: @yahei; color: #fff; margin-top: 10px;}
.step4-bg .name-list ul{ padding-top: 5px;}
.step4-bg .name-list li{ color: #999; line-height: 20px;}
.step4-bg .name-list li span{ color: #ef4f4f;}
.step4-bg .name-list li b{ color: #cc9900;}
.step4-bg .time-wp{ width: 630px; height: 120px; left: 0; top: 88px; z-index: 3; position: absolute;}
.step4-bg .time-wp h3{ margin-left: 50px; font-size: 30px; line-height: 34px; height: 38px; background: url("../../../images/huodong/songhuafei/_sprite/zb-icon.png?__sprite") no-repeat left center; font-family: @yahei; color: #ff6633; font-weight: bold; padding-left: 40px;}
.step4-bg .time-wp p{ height: 40px; background: #fff3c5; padding: 14px 0 0 50px; color: #ff6633; font-size: 18px; font-family: @yahei; margin-top: 18px;}
.step4-bg .time-wp p b{ width: 38px; height: 38px; background: #f16236; color: #fff; display: inline-block; margin : -10px 8px 0; text-align: center; line-height: 38px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;}
.huafei{ top: 255px; position: relative; z-index: 10;}
.huafei li{ width: 251px; height: 332px; position: relative; float: left; _display: inline; margin: 0 25px 0 40px; font-family: @yahei;}
.huafei li.mart10{ margin-top: 10px;}
.huafei li.mart20{ margin-top: 20px;}
.huafei li p{ position: absolute;width: 100%; text-align: center; }
.huafei .pic{ width: 100%; height: 332px;z-index: 0;}
.huafei .sy-numb{ height: 20px; top: 20px; z-index: 1; color: #fff; top: 100px;  line-height: 20px; font-size: 14px;}
.huafei .yq-numb{ height: 40px; line-height: 40px; font-size: 18px; color: @c333; bottom: 105px;}
.huafei .yq-numb b{ font-size: 26px; color: #ff6633;}
.huafei .btn{ bottom: 23px;}
.huafei .btn a{ width: 210px; height: 64px; font-size: 26px; line-height: 58px; display: inline-block;background: url("../../../images/huodong/songhuafei/_sprite/btn-03.png?__sprite") no-repeat; font-weight: bold; }
.huafei .qg-btn a{ color: #f05829;}
.huafei .dis-btn a{ color: #b8b8b8;}
.huafei .time{ z-index: 5; font-size: 18px; color: #f05829; top: 120px; display: none;}
.huafei .time span{ display: block; font-size: 36px; line-height: 36px;}
.huafei .dis-layer{ height: 332px; background: #fffede; opacity: 0.7; filter:alpha(opacity=70); z-index: 3; display: none;}
.huafei .no-buy .time{ display: block;}
.huafei .no-buy .dis-layer{display: block;}

/*bill e*/
.hf-pop{display:none;background: #fff; border:#f8ad8b solid; border-width: 1px 8px 9px 2px; border-radius: 2px 5px 5px 5px; position: absolute;z-index:400;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #FFF;
    box-shadow: 4px 4px 80px #000;
}
.min-pop{ width: 498px; height: 162px;}
.hf-pop .close{ width: 38px; height: 38px; background: url("../../../images/huodong/songhuafei/_sprite/c-01.png?__sprite") no-repeat; display: block; position: absolute; right: 0; top: 0; border-left: 1px #f8ad8b solid; border-bottom: 1px #f8ad8b solid; }
.hf-pop .close:hover{ background: url("../../../images/huodong/songhuafei/_sprite/c-02.png?__sprite") no-repeat; }
.popmask{  position:absolute; z-index:200; top:0; left:0; width:100%; height:100%; background-color:#000000; opacity: 0.8;}
/*领取成功 s*/
.lq-success{ padding: 50px 0 0 50px;}
.lq-success h3{background: url("../../../images/huodong/songhuafei/_sprite/icon-01.png?__sprite") no-repeat; padding-left: 45px; line-height: 35px; height: 35px; float: left; font-size: 30px; font-family: @yahei;}
.lq-success span{ float: left; line-height: 14px; padding: 3px 5px; margin-top: 15px; background: #f8ac8a; color: #fff; margin-left: 10px;}
.lq-success .tip{ padding-left: 45px; line-height: 30px; color: @c666;}

/*绑定手机，邮箱*/
.lq-process{ padding: 34px 0 0 116px;  font-family: @yahei; }
.lq-process h3{ padding-left: 36px; line-height: 26px; color: #ed8d63;font-size: 24px; height: 30px;}
.lq-process .mobile{background: url("../../../images/huodong/songhuafei/_sprite/icon-02.png?__sprite") no-repeat;}
.lq-process .mail{background: url("../../../images/huodong/songhuafei/_sprite/icon-03.png?__sprite") no-repeat;}
.lq-process .success{background: url("../../../images/huodong/songhuafei/_sprite/icon-04.png?__sprite") no-repeat;}
.lq-process .tip{ padding:10px 0 0 40px; color: @c999; font-size: 14px;}
.lq-process .btn{ padding: 5px 0 0 40px;}
.lq-process .btn a{ background: #ff854f; width: 164px; height: 40px; text-align: center; line-height: 40px; font-size: 16px; color: #fff; display: block;}
.lq-process .btn a:hover{ background: #ff9566;}

/*分享弹出框*/
.share-pop{ width: 585px; height: 295px;}
.sh-cent{ padding: 30px 32px;}
.sh-cent h3{ font-size: 30px; font-family: @yahei; }
.sh-cent h3 span{ color: #ff6633;}
.sh-cent .tip{ color: @c999; font-size: 18px; font-family: @yahei; padding-bottom: 18px; border-bottom: 1px #f8af8e dashed;}
.sh-cent .tip span{ color: @c000;}
.sh-cent .tit{ margin-top: 10px; font-size: 14px; font-family: @yahei; color: @c666;}
.sh-cent .share-text{ border: 1px #f8ac8a solid; height: 60px; line-height: 20px; width:500px; padding: 0 6px; color: @c999; margin-top: 10px;}
.sh-cent .btn{ text-align: right; margin-top: 10px;font-family: @yahei;}
.sh-cent .btn a{ background: #ff854f; width: 100px; height: 34px; text-align: center; line-height: 34px; font-size: 14px; color: #fff; display: inline-block;}
.sh-cent .btn a:hover{ background: #ff9566;}
/*登录弹出框*/
.login-pop{ width: 620px; height: 295px;}
.login-cent{ padding: 54px 20px 0 30px;}
.login-cent .fl{ width: 266px; border-right: 1px #ddd solid; height: 200px;}
.login-cent h2{height:18px;margin-bottom:18px;font-size:16px;line-height:18px;font-family:@yahei;overflow:hidden;zoom:1; border-left:5px #f8ac8a solid; padding-left: 10px;}
.login-cent .fl a{ width: 240px; height: 80px; margin-top: 5px; display: block; text-indent: -1000px; overflow: hidden;}
.login-cent .login-sina{background: url("../../../images/huodong/songhuafei/_sprite/icon-05.png?__sprite") no-repeat;}
.login-cent .login-qq{background: url("../../../images/huodong/songhuafei/_sprite/icon-06.png?__sprite") no-repeat;}
.login-cent .fr{ width: 262px; padding-left: 30px;}
.login-field{position:relative;height:34px;line-height:34px;margin-bottom:20px;}
.login-field label{float:left;width:46px;height:34px;text-align:right; padding-right: 4px;}
.login-field input{float:right;width:194px;height:18px;line-height:18px;padding:6px 8px;border:1px solid #c1c1c1;color:#666;font-size:12px;background-color:#fff;}
.login-field .login-verify{float:right;width:222px;}
.login-field .login-verify input,.login-field .login-verify img, .login-field .login-verify a{float:left;}
.login-field .login-verify img{margin:0 10px;}
.login-field .login-verify input{width:70px;}
.login-field .login-verify a{color:#3365CB;}
.login-field .login-verify a:hover{color:#3365CB;text-decoration:underline;}
.login-error{position:absolute;top:33px;left:50px;clear:both;width:210px;height:22px;border:1px solid #fbb17b;line-height:22px;background-color:#fbe7cc;overflow:hidden;zoom:1; color: @c999;}
.login-error i{float:left;width:16px;height:16px;margin:4px 5px 0;background: url("../../../images/huodong/songhuafei/_sprite/icon-07.png?__sprite") no-repeat;}
.login-btn{margin:35px 0 0 50px;}
.login-btn a{display:inline-block;width:212px;height:41px;font-size:0;line-height:0;overflow:hidden;background: url("../../../images/huodong/songhuafei/_sprite/icon-08.png?__sprite") no-repeat;}
.login-btn a:hover{background: url("../../../images/huodong/songhuafei/_sprite/icon-09.png?__sprite") no-repeat;}
.weibo-tips{font-size:14px;color:#FE4A4A;float:left;}