<a href="<%=detailUrl%>" target='_blank' class="goods-img"><img width="183" height="172" src="<%=imgurl%>" alt="" title="" /></a>
<div class="goods-description">
    <p class="goods-price cfx">
        <span class="new-price">¥<em><%=sales_price%></em></span>
        <span class="old-price">原价：<del><%=source_price%></del></span>
    </p>
    <p class="goods-title"><a href="<%=detailUrl%>" target='_blank'><%=name%></a></p>
</div>
