.clear-fix:after,
.clear-fix:before{
    content:" ";
    display:table;
}
.mat20{ margin-top: 10px;}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.jj-header{ background:#b50831 url(../../../images/huodong/jj/jjpic-01.jpg) no-repeat center top; height: 460px;}
.jj-main{ background:#590912 url(../../../images/huodong/jj/jjpic-02.jpg) no-repeat center top; padding-top: 85px;}
.pass-box{}
.search-icon { background: url(../../../images/search/gotosearch.png) no-repeat 0 14px; float: left;height: 47px;width: 200px; }

/*login s*/
.btn-icon{ background-image: url(../../../images/huodong/jj/jj-btn.png); _background-image: url(../../../images/huodong/jj/jj-btn8.png); background-repeat: no-repeat;}
.log-reg{width: 343px; height: 266px; overflow: hidden; margin-top: 4px;}
.login-bg{ background:url(../../../images/huodong/jj/login-bg.png) no-repeat; _background:url(../../../images/huodong/jj/login-bg8.png) no-repeat; height: 266px; }
.log-items{ padding: 74px 24px 0;}
.log-items li,
.reg-items li{ height: 24px; overflow: hidden; margin-bottom:14px; *margin-bottom:13px;}
.log-items label,
.reg-items label{ width: 60px; float: left; height:24px; line-height: 24px; color: #eac399; text-align: right;}
.log-items .value{float: left;  width: 230px;}
.reg-items .value{float: left;  width: 224px;}
.log-items .value input.text,
.reg-items .value input.text{  background:none; color: #a2804d; height: 20px; border:none; outline: none; vertical-align: baseline; line-height: 20px; padding: 2px 5px; *padding: 0px 5px;}
.log-items .value input.text{width: 220px;}
.reg-items .value input.text{width: 216px;}
.log-items .rows-verify input.text,
.reg-items .rows-verify input.text{ width: 64px;}
.log-items .verify,
.reg-items .verify{ width: 74px;}
.log-items .nums,
.reg-items .nums{float: left; width: 65px; height: 24px;}
.log-items .btn,
.reg-items .btn{ float: left; line-height: 24px; color: #eac399; margin-left: 5px; _display: inline;}
.log-items .btn a,
.reg-items .btn a{ color: #f26f00;}
.log-items .login-btn{ padding-left: 60px; height: 30px;}
.log-items .login-btn input.save-btn{ border:none; width: 74px; height: 30px; float: left; background-color: transparent; _display: inline; background-position: -17px -64px; text-indent: -1000px; overflow: hidden;}
.log-items .login-btn input.save-btn:hover{  background-position: -16px -16px; }
.log-items .login-btn .btn{ line-height: 30px; float: right; margin-right: 5px;}
/*login e*/
/*register s*/
.register-bg{ display: none; background:url(../../../images/huodong/jj/reg-bg.png) no-repeat;_background:url(../../../images/huodong/jj/reg-bg8.png) no-repeat;height: 266px; }
.reg-items{ padding: 57px 10px 0 24px;}
.reg-items label{ width: 70px;}
.reg-items .reg-btn .btn{ line-height: 30px; float: right; margin-right: 5px;}
.reg-items .reg-btn{ padding-left: 68px; height: 30px;}
.reg-items .reg-btn input.zc-btn{border:none; width: 74px; height: 30px; float: left; background-color: transparent; _display: inline; background-position: -17px -160px; text-indent: -1000px; overflow: hidden;}
.reg-items .reg-btn input.zc-btn:hover{ background-position: -16px -112px;}
.reg-items .reg-btn .btn{ line-height: 30px; float: right; margin-right: 10px;}
/*register e*/
/*register success s*/
.reg-success{width: 329px; margin: 4px 0 0 10px; _margin: 4px 0 0 5px; display: none; height: 252px; background:url(../../../images/huodong/jj/jjpic-03.jpg) no-repeat; text-align: center; overflow: hidden;}
.reg-success p{ color: #eac399; line-height: 28px; font-family:\5FAE\8F6F\96C5\9ED1; margin-bottom: 5px;}
.reg-success .name{ font-size: 24px; line-height: 28px; margin-top: 55px; word-wrap:break-word;word-break:normal; padding: 0 20px; max-height: 84px; overflow: hidden;}
.reg-success .wcom{ font-size: 16px;}
.reg-success .htp{ font-size: 14px;}
.reg-success .text{ font-size: 20px;}
/*register success e*/
.cscode-w{ width: 580px; height: 230px; padding:20px;background:url(../../../images/huodong/jj/jjpic-04.jpg) no-repeat;}
.captcha{ width: 210px; height: 190px; float: left; padding: 20px 10px; overflow: hidden;}
.captcha .txz{width:214px; height: 134px; background: url(../../../images/huodong/jj/txz-pic.png) no-repeat;}
.txz-code{display: none;  width:214px; height: 134px; background: url(../../../images/huodong/jj/tq-code.png) no-repeat; overflow: hidden;}
.txz-code .code{ margin: 55px 30px 0; line-height: 24px; color: #ff1c52; font-family: "Arial"; border:none; background: none;}
.txz-code .numb{ padding: 6px 0 0 100px;font-family: "Arial"; font-size: 24px; color: #ffd491; }
.lq-btn-wp{width: 210px; height: 49px; position: relative;margin-top: 10px;}
.lq-btn-wp a{ left: 0; top: 0; position: absolute; width: 210px; height: 49px;}
.captcha a.lq-btn{  position: absolute; z-index: 0; background-position: -17px -272px;}
.captcha a.lq-btn:hover{background-position: -17px -208px;}
.captcha a.copy-btn{ position: absolute; z-index: 1; background-position: -17px -402px; display: none;}
.captcha a.copy-btn:hover{background-position: -17px -338px;}
.pull-meth{ width: 313px; float: left; padding: 30px 10px 10px 15px;}
.pull-meth h3{ padding-top: 6px; font:bold 18px/30px "microsoft yahei"; color: #fda614; text-align: center; margin-bottom: 5px;}
.pull-meth p{ text-indent: -1.5em; padding-left: 1.5em; color: #fff; line-height: 18px; margin-top: 2px;}
.pull-meth p span{padding-left: 1.5em; color: #fda614;}
.jj-bg h2{ color: #db0135; font: normal 18px "microsoft yahei";}
.jj-bg{background:url(../../../images/huodong/jj/jjpic-06.jpg) repeat-y;}
.jj-tit1{background:url(../../../images/huodong/jj/jjpic-05.jpg) no-repeat; height: 45px; padding: 110px 0 0 60px;}
.jj-tit2{background:url(../../../images/huodong/jj/jjpic-07.jpg) no-repeat; height: 48px; padding: 27px 0 0 60px; margin-top: 20px;}
.mode-one{ width: 840px; background:#fef3ee; padding: 10px;  margin : 10px auto 0;}
.mode-ul1{ padding: 20px 0;}
.mode-ul1 li{ width: 280px; float: left; text-align: center;}
.reg-gift{ border:#fdab20 1px solid; padding: 20px 42px;
		-webkit-box-shadow:0 0 8px rgba(255,142,8,0.5) inset;
		-moz-box-shadow:0 0 8px rgba(255,142,8,0.5) inset;
		-ms-box-shadow:0 0 8px rgba(255,142,8,0.5) inset;
		-o-box-shadow:0 0 8px rgba(255,142,8,0.5) inset;
		box-shadow:0 0 8px rgba(255,142,8,0.5) inset;}
.reg-gift dt.reg-tit{ position:relative; width:838px; margin-left: -41px; background:url(../../../images/huodong/jj/jjpic-12.png) no-repeat;_background:url(../../../images/huodong/jj/jjpic-128.png) no-repeat; height: 62px; }
.reg-gift dt.reg-tit a{ height: 62px; display: block;}
.reg-gift dd{ float: left;}
.reg-gift .reg-text p{ width: 260px; padding-left: 40px; color: #a2804d; font: 16px/20px "microsoft yahei"; margin-top: 10px;}
.reg-gift .reg-text .mat{ margin-top: 20px;}
.reg-gift .reg-text span{ display: inline-block; background:#f10033; color: #fff; padding: 0 5px;}
.reg-gift .reg-img{ padding-left:30px; margin-top: 20px; border-left:1px #f4ce94 dashed;} 
.dh-gift{ background:#fda613; height: 342px; width: 860px; margin: 10px auto 0;
		-webkit-box-shadow:2px 2px 8px rgba(254,216,30,0.8) inset;
		-moz-box-shadow:2px 2px 8px rgba(254,216,30,0.8) inset;
		-ms-box-shadow:2px 2px 8px rgba(254,216,30,0.8) inset;
		-o-box-shadow:2px 2px 8px rgba(254,216,30,0.8) inset;
		box-shadow:2px 2px 8px rgba(254,216,30,0.8) inset;}
.gift-cont{ width: 790px; margin: 0 auto; height: 316px; overflow:hidden; position: relative; margin-top: 10px; }
.gift-items{ position: absolute; width: 100%; height: 100%;}
.gift-items li{ width: 148px; margin: 10px 5px 0; height: 148px; overflow:hidden; text-align: center; position: relative; float: left; _display: inline;}
.gift-items li p.pic{ width: 148px; height: 148px; text-align: center; display: table-cell;vertical-align:middle; *display: block; *font-size: 130px; *font-family:Arial;}
.gift-items li p.pic img{width: 148px; height: 148px;  vertical-align:middle;}
.gift-items li p.text{ width: 100%; height: 30px;left: 0; line-height: 30px; color: #be012d; position: absolute; bottom: 10px; }
.gift-items li p.text a{ color: #be012d; background:#fff; opacity:0.7; filter:alpha(opacity=50); height: 30px; display: block;}
.gift-items li p.text a:hover{ color: #fff;background:#be012d; }
.dh-gift .l-Btn,
.dh-gift .r-Btn{ width: 35px; height: 342px; display: none;background:url(../../../images/huodong/jj/arr-btn.jpg) no-repeat;}
.dh-gift .l-Btn{ float: left; background-position: left 2px;}
.dh-gift .r-Btn{ float: right; background-position: right 2px;}

.gift-botbg{background:url(../../../images/huodong/jj/jjpic-08.jpg) no-repeat center bottom; padding-bottom: 39px}
.jj-botban{ background:#a80028; padding: 20px 0; }
.jj-botban li{ width: 300px; float: left; margin-left: 20px; _display: inline;}
.jj-botban li img{ width: 300px; height: 200px;}