<form id="loginForm" action="<%=B5M_UC.rootPath%>/user/user/login.htm" method="post">
	<input type="hidden" id="loginReferer" name="loginReferer" value="<%=referer%>">
	<div class="login-field cfx">
		<label for="username">账户名:</label> <input type="text" name="email" maxLength=45 value="<%=email%>" placeholder="邮箱/手机"/>
	</div>
	<div class="login-field cfx">
		<label for="password">密码:</label> <input type="password" name="password" onpaste="return false" oncopy="return false;" oncut="return false;" />
	</div>
	<div class="login-field cfx rows-verify" style="display: none;">
		<label for="verify">验证码:</label> <span class="login-verify"> <input id="verify" type="text" name="code" maxlength="4" /> <img id="code" src="<%=B5M_UC.rootPath%>/validateCode.do"
			style="width: 70px; height: 34px;" /> <a id="refreshCode" href="javascript:void(0)">换一张</a>
		</span>
	</div>
	<% if(msg && msg.length > 0){ %>
	<div id="serror" class="login-field login-field-spe cfx">
		<div class="login-error">
			<i></i><%=msg%>
		</div>
	</div>
	<% } %>
	<div class="login-chk cfx">
		<span> <a class="login-reg" href="<%=B5M_UC.rootPath%>/forward.htm?method=/user/info/register">快速注册</a> <a class="login-forgot"
			href="<%=B5M_UC.rootPath%>/forward.htm?method=/user/info/forgotPwd1">忘记密码?</a>
		</span> <input type="checkbox" id="isRemember" name="isRemember" checked="true" style="display: none;" value="true"/> <label for="autoLogin" style="display: none;">七天免登录</label>
	</div>
	<div class="login-btn">
		<a id="submit_btn" href="javascript:void(0);">登录</a>
	</div>
</form>