<form id="registerForm" action="<%=B5M_UC.rootPath%>/user/info/register.htm" method="post">
<input name="userType" type="hidden" value="<%=userType%>"/>
<input name="state" type="hidden" value="<%=state%>"/>
	<div class="kv-item cfx">
		<label for="J_Nick" class="kv-label">账 户 名：</label>
		<div class="kv-input kv-input-user">
			<input class="kv-text" type="text" placeholder="邮箱/手机" autocomplete="off" value="<%=email%>" name="email"/>
			<i class="kv-icon-user"></i>
		</div>
		<div class="msg-box"></div>
	</div>
	<div class="kv-item cfx">
		<label for="J_Pwd" class="kv-label">密 码：</label>
		<div class="kv-input kv-input-pwd">
			<input id="password" class="kv-text" type="password" name="password" onpaste="return false" oncopy="return false;" oncut="return false;"/>
			<i class="kv-icon-pwd"></i>
		</div>
		<div class="msg-box"></div>
		<div class="kv-bar" id="testPwd"></div>
	</div>
	<div class="kv-item cfx">
		<label for="J_RePwd" class="kv-label">确认密码：</label>
		<div class="kv-input kv-input-pwd">
			<input class="kv-text" type="password" name="confirmPassword" onpaste="return false" oncopy="return false;" oncut="return false;"/>
			<i class="kv-icon-pwd"></i>
		</div>
		<div class="msg-box"></div>
	</div>
	<div class="kv-item kv-item-code cfx">
		<label for="J_Code" class="kv-label">验 证 码：</label>
		<div class="kv-input kv-input-code">
			<input class="kv-text" type="text" autocomplete="off" name="code" id="valiCode" maxlength="4"/>
		</div>
		<div class="kv-verify">
			<img id="code" src="<%=B5M_UC.rootPath%>/validateCode.do" style="width: 70px;height: 35px;"/>
			<p class="kv-verify-refresher">
				看不清？<a id="refreshCode" href="javascript:void(0)">换一张</a>
			</p>
		</div>
		<div class="msg-box"></div>
	</div>
	<div id="serror" class="kv-item kv-item-server show cfx"></div>
	<div class="kv-item kv-item-acess cfx">
		<input id="J_Access" type="checkbox" checked="checked" class="kv-chk" value="true"/> <label for="J_Access" class="kv-protocol">我已阅读并同意<a id="protocol-but" href="javascript:void(0);">《帮5买用户注册协议》</label>
	</div>
	<div class="kv-item kv-item-nomb cfx">
		<a id="submit_btn" class="kv-submit" href="javascript:void(0);">用户注册</a>
	</div>
</form>