extends layout.jade
block content
    div(class="row")
        h1(class="entry-title") #{pagination.title}
        div(class="col-md-3")
            div(class="panel-group",id="menu-tree")
                - each item in config.filters.getArchiveMenu(pagination.items)
                    div(class="panel panel-default")
                         div(class="panel-heading")
                             h4( class="panel-title")
                                 a(data-toggle="collapse",href="##{item.anchor}") #{item.name}
                         div(class="panel-collapse collapse in")
                             div(class="panel-body")
                                 ul(class="nav nav-pills nav-stacked")
                                    each children in item.children
                                        li
                                            a(href="##{children.anchor}") #{children.name}
                        
        div(class="col-md-9")            
            - each item in config.filters.getArchiveMenu(pagination.items)
                div(class="row")
                    div(class="alert alert-info")
                        h2(id="#{item.anchor}") #{item.name}
                - each children in item.children
                    div(class="row")
                        div(class="panel panel-default")
                            div(class="panel-heading")
                                h3(id="#{children.anchor}") #{children.name}
                            div(class="panel-body")
                                - each children2 in children.items
                                    div(class="archive-item col-md-4 thumbnail")
                                        a(href="#{permalink_url(children2).toLowerCase()}",name="#{children2.meta.id}") #{children2.meta.filename}
                                        br
                                        span #{children2.title}
                                        br
                                        span Author:#{children2.meta.author}
            
            div(class="pager")
                ul
                    - if(pagination.has_prev){
                        li(class="previous")
                            a(href="#{ pagination_url(pagination.prev_num) }") 上一页
                    - }
                    - if(pagination.has_next){
                        li(class="next")
                           a(href="#{ pagination_url(pagination.next_num) }")  下一页
                    - }
    script
        |   seajs.use('$',function($){
        |       var $li = $('#menu-tree li');
        |       $li.click(function(){
        |           $li.each(function(){
        |           $(this).removeClass('active');
        |       });
        |           $(this).addClass('active');
        |       });
        |   });