<!DOCTYPE html>
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible',content='IE=edge')
        meta(name="viewport",content="width=device-width, initial-scale=1")
        meta(name="generator",content="#{system.name} #{system.version}")
        - if(theme){     
                meta(name="theme",content="#{theme.name} #{theme.version}")
        - }
        - if(post){
                title #{post.title}
        - }
        - if(config.touchIcon){
                link(rel="apple-touch-icon",href="#{ config.touchIcon }")    
        - }
        - if(config.feedurl){
                link(rel="alternate",type="application/rss+xml",href="#{config.feedurl}",title="#{config.sitename}")
        - }
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]><script src="#{static_url('js/html5shiv.js')}"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
        link(rel='stylesheet',href='http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css')
        link(rel="stylesheet",href="#{static_url('css/common.css')}")
        script(id="uc-libs",type="text/javascript",src="http://ucenter.b5m.com/uc-js/dist/libs.js",rootPath="http://ucenter.b5m.com",ucVersion="0")
    body
        div(class="container")
            div(class="header")
                - if(config.navigation){
                    ul(class="nav nav-pills pull-right")
                        - each item in config.navigation
                           li
                                a(href="#{content_url(item.link)}",target="_blank") #{item.title} 
                - }
                h3(class="text-muted")
                    a(href="#{content_url('index.html')}") #{config.sitename}
                    - if(config.tagline){
                        span(class="text-muted") #{ config.tagline }
                    - }

        div(class="container")
            block content
            
        div(id="footer")
            div(class="container")
                p(class="text-muted")
                - if(config.footer){
                   p(class="copyright") #{config.footer}
                - }else if(!config.hideNico){
                    p(class="copyright") Author:zhengfei.yin
                        a(href="http://user.qzone.qq.com/657812595/") (qq:657812595)
                - }
        
        - if(config.github){
            div(class="github")
                a(class="github-link" href="#{config.github}") Fork me on GitHub
        - }        
        
        - if(config.google){
            script(type="text/javascript")
                | var _gaq = _gaq || [];
                | _gaq.push(['_setAccount','#{config.google}']);
                | _gaq.push(['_trackPageview']);
                | _gaq.push(['_trackPageLoadTime']);
                | (function() {
                |   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                |   ga.src = 'https://ssl.google-analytics.com/ga.js';
                |   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                | })();
        - }