extends layout.jade
block content
    div(id="content")
        div(class="hentry")
            h1(class="entry-title") #{post.title}
            - if(post.meta.description){
                div(class="entry-description") #{post.meta.description}
            - }
            div(class="entry-content")
                | !{post.html}