.ceo_page_introd{ padding: 10px 0 0 20px;}
.ceo_introd_title{ margin: 0 0 15px 0; font-size: 18px; font-family: "Microsoft YaHei";}
.ceo_introd_title dfn{ font-size: 30px; margin: 0 12px 0 0}
.ceo_page_content{ overflow: hidden; margin: 0 0 40px 0; width: 860px;}
.ceo_content_left{ float: left; width: 608px;}
.ceo_content_left p{ font-size: 14px; line-height: 30px; margin: 0 0 25px 0}
.ceo_content_left li{ border-top: 1px dashed #dcdbdb; padding: 8px 0; overflow: hidden;}
.ceo_content_left .border{ border-bottom: 1px dashed #dcdbdb; }
.ceo_content_left .li_left{ float: left; width: 255px; padding: 0 0 0 62px;}
.ceo_content_left b{ font-weight: bold; color: #8b8b8b; display: inline-block; width: 86px;}
.ceo_content_left .li_right{ float: right; width: 285px;}
.ceo_pic{ float: right; width: 203px; height: 219px; background: url(../../images/about/ceo/ceo-page-avatar.png) no-repeat 0 0;}
.ceo_page_title{ border-bottom: 1px solid #ff9557; width: 902px; margin: 0 0 0 -26px}
.ceo_page_title span{ width: 130px; height: 32px; background-color: #ff9557; color: #fff; font-size: 18px; font-family: "Microsoft YaHei"; display: block; border-radius: 0 10px 0 0; text-align: center; line-height: 32px;}
.title_rig span{ text-align: right; padding: 0 15px 0 0; width: 115px;}
.ceo_page_vitae{ margin: 15px 0 25px 0;}
.ceo_page_vitae dl{ display: inline-block; margin: 0 0 0 25px;}
.ceo_page_vitae dd{ overflow: hidden; margin: 0 0 10px 0}
.ceo_page_vitael{ float: left; width: 17px; height: 2px; display: inline-block; margin: 11px 0 0 0; background: url(../../images/about/ceo/ceo-page-yuan.png) no-repeat left top;}
.ceo_page_vitaer{ float: left; margin: 0 0 0 10px; width: 833px; line-height: 24px;}
.ceo_page_table{ margin: 26px 0 45px 20px; border:1px solid #e9e9eb;}
.ceo_page_table td{ border-right: 1px solid #e8e8e9; border-bottom: 1px solid #e8e8e9; padding: 11px 0; text-align: center; vertical-align: middle;}
.ceo_page_table .table_gray{ background-color: #f2f2f2; color: #333; font-family: "宋体";}
.ceo_page_table .table_dividend{ background-color: #fdf8f5}
.table_color{ font-size: 14px; color: #f37429; font-family: "Microsoft YaHei"; }
.ceo_related_view{ width: 858px; margin: 22px 0 0 20px}
.related_view_time{ border-left: 2px solid #fca370; height: 100%; padding: 0 0 0 20px; display: inline-block; margin: 0 0 0 55px;}
.view_time_left{ float: left; margin: 0 0 0 -80px; color: #343434}
.view_time_pic,.time_pic_hollow{ width: 16px; height: 17px; float: left; margin: 0 0 0 -29px; background: url(../../images/about/ceo/ceo-page-yuan.png) no-repeat left -5px #fff;}
.time_pic_hollow{ background-position: left -25px; margin: 52px 0 0 -27px; *margin: -18px 0 0 -27px; height: 20px;}
.view_time_rignt{ float: left; width: 770px; font-size: 12px;}
.view_time_rignt p{ color: #343434;}
.view_time_rignt span{ display: block; color: #343434; font-size: 14px;}
.view_time_rignt span b{ font-weight: bold;}
.view_time_rignt .time_right_content{ margin: 0 0 18px 0; text-indent: 24px; line-height: 24px; font-size: 12px;}
.view_time_rignt .right_conte{ margin: 0}
