@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0;margin:0}
body{line-height:1.5;word-wrap:break-word;word-break:break-all;font:12px/1.5 tahoma,arial,宋体;background:none repeat scroll 0 0 #FFFFFF;}
abbr, article, aside, bb, datagrid, datalist, details, dialog, eventsource, figure, footer, header, mark, menu, meter, nav, output, progress, section, time {margin:0;padding:0;display:block;}
table {border-collapse:collapse;border-spacing:0;}
table caption {display:none;}
ul {list-style:none outside}
h1, h2, h3, h4, h5, h6 {font-size:100%;}
fieldset, img {border:0 none;}
a {color:#000;text-decoration:none;outline:none;}
/* a:hover {color:#ff7800;text-decoration:none;} */
em {font-style:normal}
img {vertical-align:middle;}
input, textarea {padding:2px;}
input, select, textarea {font:12px Tahoma, Arial, simsun;}
button {padding:0;}
button, label {cursor:pointer;vertical-align:middle;}
.clearfix:after {content:".";height:0;visibility:hidden;display:block;clear:both;font-size:0;line-height:0}
.clearfix {display:inline-block}
.clearfix {display:block}
.clear {height:0;overflow:hidden;clear:both;display:block;}
i,em,cite{font-style:normal}
.orgfont{ color:#ef7a07;}
/*翻页S*/
.repage{padding:10px 0;text-align:center;}
.repage a{display:inline-block;height:20px;line-height:20px;margin:0 3px;padding:0 6px;border:1px solid #e3e3e3;background-color:#fff;}
.repage a:hover, .repage a.on{border-color:#f48000;background-color:#f48000;color:#fff;}
/*翻页E*/

.widewrap{width:1200px;margin:0 auto;padding:30px 0;}
.sidemenu{width:228px;float:left; background:#ffffff;}
.menubox{ border:1px solid #e3e3e6; padding:20px;}
.maincon{float:right;width:957px;background:#ffffff;}
.toptltpic{ border:1px solid #dddde1;border-bottom:0; position:relative;zoom:1;}
.topbeautibg{ width:308px; height:22px; position:absolute;right:-1px;top:-22px; background:url(images/pictop.jpg) no-repeat;}
.conbtmbg{background:url(images/picbtm.jpg) no-repeat center bottom;padding-bottom:250px;}
.conbox{ padding:20px 26px 0;border:1px solid #dddde1;border-bottom:0;min-height:620px;_height:620px;}

.helptext{ padding-top:20px; color:#033333;}
.helptext dt{ font-size:14px; font-weight:bold;}
.helptext dt img{ margin-bottom:10px;}
.helptext dd{ text-indent:24px; line-height:25px;}

.teamtext{ padding:20px 0; color:#033333; border-bottom:1px solid #e7e7ea;}
.teamtext dt{ padding-bottom:10px; font-size:16px; font-weight:bold;}
.teamtext dd{ padding:5px 0; text-indent:24px; line-height:25px;}
.teamtext .teamnopad{ text-indent:0;}
.ceointro img{ float:left;}
.ceointro p{ float:left; width:700px; padding-left:10px;}

.relationbox{ background:url(images/addpic.jpg) no-repeat; width:878px; height:579px; border:1px solid #c5c5c5; position:relative;zoom:1;}
.relationp{ position:absolute;left:475px;top:290px; line-height:35px; color:#ffffff; font-size:14px;}
#widewrap_div .relationp a{ color:#ffffff; font-size:14px;}
#widewrap_div .relationp a:hover{ text-decoration:underline; color:#ffffff;}

.greenfont{ color:#033333;}
.newtlt{ font-size:16px; font-weight:bold;}
.newtlt02{ margin-top:30px;}
.newlist li{ height:40px; line-height:40px; border-bottom:1px dotted #d4d4d4; position:relative;}
.newlist .time{ position:absolute;right:0;top:0; color:#999999;}
.newlist .prit{ color:#999999;}
.newlist .busname{ margin-left:10px; color:#fa5e00;}
.fabtime{ border-top:1px solid #dddddd; margin-top:10px; line-height:25px; color:#666666;}
.newcon{ margin-top:20px; line-height:25px;}

.mediacall{ padding:30px 0; font-size:14px;}
.bluelink{ color:#4083a9; text-decoration:underline;}
.buscoop{ text-indent:0;}
.buscoop a{ float:left; margin-right:10px; display:inline; background:url(images/hzbtn.jpg) no-repeat; width:137px; height:40px; text-align:center; line-height:40px; text-indent:0; color:#ffffff; font-size:16px; font-family:microsoft yahei;}
.buscoop a:hover{ background-position:0 -40px;}
.markethz img{ float:left;}
.markethz .hzcont{ float:left; padding-left:20px; color:#033333;}
.markethz .hzcont p{ line-height:45px;}
.weltext{ color:#ff690e;}

.preface{ padding:0 6px; line-height:25px;}
.privacytext{ padding:30px 6px; border-bottom:1px dotted #dddddd;}
.privacytext h3{ font-size:14px; color:#333333; padding-bottom:10px;}
.privacytext p{ color:#666666; text-indent:24px; line-height:35px;}

.linktlt{ padding-top:20px;}
.linklist li{ float:left; margin:0 25px 25px 0; display:inline; width:120px; height:60px; border:1px solid #c8c8c8;}
.linklist li img{ width:120px; height:60px;}
.nobor{ border-bottom:0;}
/*左边*/
.float{background:#fff;width:228px;box-shadow:1px 1px 1px #ccc;z-index:1000000;}
.sidemenu{border:1px solid #ddd;border-radius:4px;box-shadow:1px 1px 1px #ccc;border-top:0 none;}
.sidemenu_title{height:30px;line-height:30px;padding-left:12px;padding-top:6px;border-top:1px solid #ddd;}
.sidemenu_title h2{font-size:14px;color:#666;}
.sidemenu_sub li{height:30px;line-height:30px;}
.sidemenu_sub b{position:absolute;left:14px;top:4px;width:10px;height:11px; overflow: hidden; border-left: 1px #ddd solid;border-bottom: 1px #ddd solid;}
.sidemenu_sub b{ background: #FFF;}
.sidemenu_sub a{padding-left:29px;color:#666; height:30px;display:block;position:relative;background:url(images/icon_a.gif) no-repeat 96% center;overflow:hidden;line-height:30px;overflow:hidden;}
.sidemenu_sub a:hover,.sidemenu_sub a.active{color:#f06723;text-decoration:underline;background:#fff6f2;}
.sidemenu_sub a.active b,.sidemenu_sub a:hover b{border-left: 1px #ffc9ae solid;border-bottom: 1px #ffc9ae solid;  background: #fff6f2;}
.sidemenu_sub a.active b b,.sidemenu_sub a:hover b b{background:#fff6f2;}
.box_menu:hover h2{color:#666;}
/*评论*/
.message2{width:870px;height:485px;background:url(images/message_bg.jpg) no-repeat;position:relative;}
.message2 h2{color:#999;overflow:hidden;font-weight:400;margin-left:13px;font-size:14px;height:28px;line-height:28px;position:relative;}
.message2 h2 div{height:28px;overflow:hidden;}
.message2 h2 .p1{position:absolute;top:0;left:0;}
.message2 h2 .p2{position:absolute;top:22px;left:0;}
.message2 h2 b{font-family:Constantia,Georgia;font-size:22px;font-weight:700;}
.message2 .comment_bwh{width:554px;position:absolute;top:190px;left:120px;}
.message2 .comment_bwh textarea{font-size:16px;font-family:microsoft yahei;color:#666;width:528px;border:1px solid #d9d9d9;border-radius:4px;resize:none;overflow-y:auto;padding:10px 12px 8px;display:none;height:14px;line-height:14px;-moz-transition:border-color 0.5s ease-out,background-color 0.5s ease-out;-webkit-transition:border-color 0.5s ease-out,background-color 0.5s ease-out;-o-transition:border-color 0.5s ease-out,background-color 0.5s ease-out;}
.message2 .comment_bwh .active{border-color:#f06723;background-color:#fffaf8;}
.message2 .comment_bwh .blur{border-color:#d9d9d9;background-color:#f5f5f5;}
.message2 .cont_m{height:26px;color:#999;line-height:26px;}
.message2 .cont_m span{float:left;display:none;}
.message2 .cont_m a{width:72px;height:26px;line-height:26px;text-align:center;color:#fff;background:#f55c00;font-size:14px;font-weight:900;display:inline-block;float:right;margin-top:6px;border-radius:4px;-moz-transition:background-color 0.25s ease-out;}
.message2 .cont_m a:hover{box-shadow:0 0 2px #f55c00;cursor:pointer;}
.message2 .cont_m a.active,.message .cont_m a.active:hover{background-color:#ccc;cursor:default;box-shadow:none;}
.message2 input{height:14px;line-height:14px;padding:10px 12px 8px;width:528px;border:1px solid #d9d9d9;border-radius:4px;color:#999;}
.ok_result,.ok_result2{width:554px;height:150px;position:absolute;left:120px;top:218px;background:#000;filter:alpha(opacity=20);opacity:0.2;display:none;z-index:10000;}
.ok_result{height:128px;left:130px;top:228px;width:534px;border-radius:4px;}
.ok_result2{filter:alpha(opacity=100);opacity:1;background:none;}
.ok_btn{width:68px;margin-left:-34px;margin-top:-13px;height:26px;line-height:26px;font-weight:900;color:#666;font-size:14px;position:absolute;left:50%;top:50%;}
/*加入我们*/
.addtext{overflow:hidden;zoom:1;border-top:1px solid #e7e7ea;padding-bottom:12px;color:#666;}
.addtext .t{display:none;}
.addtext h2{line-height:30px;font-size:14px;color:#333;padding:6px 0;}
.addtext li{float:left;}
.addtext dt{position:relative;padding-left:18px;color:#666;font-weight:900;}
.addtext dt,.addtext dd{height:30px;line-height:30px;white-space:nowrap;}
.addtext ol{overflow:hidden;padding:6px 0 12px 0;}
.addtext ol li{list-style-type:decimal; list-style-position:inside;line-height:26px;float:none;}
.b_sub{width:124px;overflow:hidden;margin-right:4px;}
.b_sub b{width:0;height:0;overflow:hidden;border-width:5px;border-color:#fff #fff #fff #4083a9;border-style:solid;position:absolute;left:4px;top:9px;}
.b_sub a{color:#4083a9;cursor:pointer;display:block;}
.b_sub a:hover,.b_sub a.active{color:#f06723;}
/*map*/
.map{background:url(images/map_aboutus2.png) no-repeat left 0;min-height:380px;_height:380px;padding-left:44px;}
.map .nav_abouts{min-height:50px;_height:50px;padding-top:20px;border-bottom:4px solid #efefef;position:relative;}
.map .nav_abouts ul{zoom:1;padding-left:65px;}
.map .nav_abouts li{float:left;-moz-transition:-moz-transform 0.25s ease-out;-webkit-transition:-webkit-transform 0.25s ease-out;-o-transition:-o-transform 0.25s ease-out;}
.map .nav_abouts li a{width:auto;height:18px;line-height:18px;padding:0 6px;white-space:nowrap;display:block;border:1px solid #d4d4d6;border-radius:4px;color:#666;margin-right:12px;-moz-transition:background-color 0.25s ease-out;-webkit-transition:background-color 0.25s ease-out;-o-transition:background-color 0.25s ease-out;background-color:#fff;margin-bottom:10px;}
.map .nav_abouts a:hover{background-color:#f06723;color:#fff;border-color:#f06723;}
.map .nav_abouts li:hover{-moz-transform:translate(0,-3px);}
.map .nav_cont{width:30px;position:absolute;left:0;top:12px;}
.map .nav_cont a,.map .nav_cont a:hover{font-size:14px;font-weight:900;color:#fa7322;background:none;-moz-transition:-moz-transform 0.25s ease-out;-webkit-transition:-webkit-transform 0.25s ease-out;display:block;-o-transition:-o-transform 0.25s ease-out;}
.map .nav_cont a b{color:#ccc;}
.map .active .nav_cont a,.map .active .nav_cont a b,.map .active .nav_cont a:hover{color:#a200ff;-moz-transform:rotate(-10deg);-webkit-transform:rotate(-10deg);-o-transform:rotate(-10deg);}
.map i{width:112px;height:4px;position:absolute;left:0;bottom:-4px;}
.map .b1{background:#ff7a25;}
.map .b2{background:#ffdb25;}
.map .b3{background:#ff3125;}
.map .b4{background:#25aaff;}
/*add by jimmy for 20130218 */
.conbox .item{height:auto!important;min-height:110px;height:110px;padding:20px 0;border-bottom:1px solid #e5e5e5}
.item-img{float:left;width:200px}
.item-img img{display:block}
.item-txt{float:left;width:683px;padding-left:20px;color:#727272;line-height:24px}
.item-txt a{color:#ea5300}
.item-txt a:hover{text-decoration:underline}
.item-txt .ellipsis{padding:0 5px}

.topbar-user a.login,.topbar-user span.login{ display: none;}
