.content{ line-height: 23px; border-bottom: 1px #999 solid; padding: 30px 0;}
.content h3{ font-weight: bolder; font-size: 14px; padding-bottom: 20px;}
.code{ float: right; width: 445px;}
.code textarea{ width: 443px; border:1px #999 solid; height: 92px; line-height: 22px; padding: 5px;}
.list{ margin-bottom: 50px;}
.list strong{ font-weight: bold;}

.line li{ float: left; padding:5px 10px; white-space: nowrap;}
.line li img{ height: 55px; vertical-align: bottom;}