  <!--breadcrumbs-->
    <div id="content-header">
      <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home" ng-click="nextPage()"></i> Home</a></div>
    </div>
  <!--End-breadcrumbs-->

<!--Action boxes-->
  <div class="container-fluid">
    <div class="widget-box">
      <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
        <h5>旅游数据处理后台</h5>
      </div>
      <div class="widget-content nopadding">
        <div class="dataTables_length">
          <select name="" id="">
            <option value="">请选择过滤字段</option>
            <option value="">行程天数</option>
            <option value="">交通方式</option>
          </select>
          <button class="btn btn-primary">查询映射关系</button>
          <button class="btn btn-success" add-map>新增映射关系</button>
        </div>        
        <table class="table table-bordered data-table">
          <thead>
            <tr>
              <th>标准字段名</th>
              <th>字段含义</th>
              <th>标准词</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr class="gradeU" ng-repeat="data in dataInfo.datas">
              <td>{{data.fieldStandardValue}}</td>
              <td>{{data.fieldDesc}}</td>
              <td class="center">{{data.fieldName}}</td>
              <td class="center">
                <button class="btn btn-primary btn-mini">编辑</button>
                <button class="btn btn-danger btn-mini">删除</button>
                <button class="btn btn-info btn-mini">查看/新增映射</button></td>
            </tr>
            <!-- <tr class="gradeU">
              <td>5天</td>
              <td>TimePlan</td>
              <td class="center">5</td>
              <td class="center">
                <button class="btn btn-primary btn-mini">编辑</button>
                <button class="btn btn-danger btn-mini">删除</button>
                <button class="btn btn-info btn-mini">查看/新增映射</button></td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>    
  </div>
<!--End-Action boxes-->    