@red:#fb0303;
@hover:#eb7e00;
@orange:#eb7601;
@c000:#000;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';
*{ margin: 0; padding: 0;}
html,body{ overflow: hidden; height: 100%;}
body{ font-size: 12px;}
li{ list-style: none;}
img{vertical-align: top; border:none; }
a{ text-decoration:none; color: @c000;}
.blue_1 { color:#004499; }

.wrapper { width:698px; height:368px; margin:0 auto; text-align:left; overflow: hidden;}
.main { float:left; width:509px; height:352px; padding:14px 0 0 14px; zoom:1; background:#FFFFFF; text-align:left; position:relative;}
.main_left { float:left; width:222px; padding-right:20px; background:#FFFFFF; overflow:hidden; }

/*焦点图*/
.focus_box { width:220px; height:130px; border:1px solid #DDDFDE; }
.focus_box .focus_link { width:220px; }
.focus_box .focus_link img { width:220px; height:130px; }
.clear { clear:both; height:0; line-height:0; font-size:0; overflow:hidden; zoom:1; }
.focus_link { display:block; width:220px; height:130px; position:relative; color:#FFFFFF; overflow:hidden; }
.focus_link:hover { text-decoration:none; color:#FFFFFF; }
.focus_tit,
.focus_filter { display:block; width:100%; position:absolute; bottom:0px; left:0; text-align:center; z-index:3; cursor:pointer;color:#FFFFFF; line-height: 18px;}
.focus_filter { height:21px; background:#000000; filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6; z-index:1; }
.focus_tit:hover { text-decoration:none; color:#FFFFFF; }
/*图文列表*/
.pic_txt { width:210px; height:130px; background:#F7FCFF; padding:10px 0 0 10px; border:1px solid #D0DDEE; }
.pic_txt .pic_txt_box { overflow:hidden; zoom:1; }
.pic_txt .pic_txt_box h3 { float:left; font-size:12px; padding-top:3px; margin-bottom:1px; }
.pic_txt .img_wrap { float:left; margin-right:5px; }
.pic_txt .img_wrap img { width:100px; height:70px; }
.pic_txt p { float:left; width:100px; line-height:22px; }
.pic_txt .list_news { padding-bottom:8px; margin-top:8px; }
.mod_left { margin-top:10px; }
/*新闻列表*/
.list_news { *zoom:1;}
.list_news:after { display:block; clear:both; content:""; }
.list_news li { font-family:simsun; }
.list_news li a { display:inline-block; height:22px; line-height:22px; }
.ico_play{ background: url("../../../images/minipop/20140227/_sprite/icon-01.png?__sprite") no-repeat left 5px; padding-left: 19px;}
#news_app{width: 222px;height: 28px;float: left;margin-left: 0px;margin-top: -28px;z-index: 99;position: relative;overflow: hidden;}
#news_app a{display: none}
/*新闻产品*/
.link_box { width:222px; line-height:22px;}
.link_box a{ color:#656565; margin-right:5px; }
.link_box a:hover{ color:#BD0A01;}
/*资讯区域*/
.main_right { float:left; width:244px; background:#FFFFFF; overflow:hidden; }
.tit_index { font:18px/22px "Microsoft Yahei", simsun; margin-bottom:10px; text-align:center; }
.main_right .list_news { border-bottom:1px dotted #8B8C8C; padding-bottom:10px; margin-bottom:10px; }
.wrapper .bor_n { border:0 none; }
.wrapper .none { display:none; }
/*侧栏广告*/
.side { float:right; width:175px; }
.normal_ad { width:160px; margin-top:14px; }
.normal_ad .normal_ad_up { width:160px; height:250px; margin-bottom:6px; overflow:hidden; }
.normal_ad .normal_ad_down { width:160px; height:80px; overflow:hidden; }

/*娱乐产品*/
.product_yl .list_news_yl1 { padding:4px 0; margin-bottom:3px; border-bottom:1px dotted #8B8C8C; }
/*图片列表*/
.list_pic { width:222px; overflow:hidden; zoom:1; }
.list_pic ul { width:232px; }
.list_pic li { float:left; margin-right:10px; }
.list_pic li a { float:left; width:100px; padding:2px; border:1px solid #DDDFDE; }
.list_pic li a img { width:100px; height:65px; }
.list_pic li a span { display:block;  height:19px; padding-top:6px; text-align:center; cursor:pointer; }
.list_pic li a:hover,
.list_pic li a:hover img,
.list_pic li a:hover span { text-decoration:none; }
.list_pic2 li a img { width:100px; height:118px; }




