<div class="center-fav-filter border mt10 cfx">
    <span>商家：</span>
    <ul id="website-list"></ul>
</div>
<div id="ui-tab-1" class="mt10">
	<ul class="ui-tab-nav border cfx">
		<li attr-type="0">全部宝贝<i></i></li>
		<li attr-type="1">降价宝贝<i></i></li>
	</ul>
	<div class="ui-tab-content">
		<ul id="J_notice" class="discount-notice fr">
      		<li attr-type="2"><i></i>短信提醒</li>
      		<li attr-type="1"><i></i>邮件提醒</li>
      	</ul>
		<div class="ui-tab-item">
			<div class="ui-loading">正在加载...</div>
		</div>
		<div class="ui-tab-item">
			<div class="ui-loading">正在加载...</div>
		</div>
	</div>
</div>