<div class="center-goods-list">
	<ul id="favorites-result" class="cfx"></ul>
	<div id="favorites-none" class="center-tab-content" style="display:none;">
	    <div class="center-fav-none border"><span>暂无收藏商品数据</span></div>
	</div>
	<div class="ui-loading" style="display:none;">正在加载...</div>
</div>
<div class="page cfx page-view"  style="display:none;"></div>