<li>
	<img src="<%=image_url%>" width="135" height="100" alt="" title="">
	<p>
		可用数额：<span><%=count%></span>
	</p>
	<p>
		过期时间：<span><%=expire_time%></span>
	</p>
	<p class="last">
		使用说明：<span><%=description%></span>
	</p> <a class="useProp" href="javascript:void(0);">使用(<%=count%>)</a>
</li>