<table border="0" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<td width="90">&nbsp;</td>
			<td width="119">道具名称</td>
			<td width="119">道具数量</td>
			<td width="165">获得时间</td>
			<td width="165">使用时间</td>
			<td width="70">使用状态</td>
		</tr>
	</thead>
	<tbody>
	<% _.each(propList,function(prop){ %>
		<tr>
			<td align="center"><img src="<%=prop.image_url%>" alt="" title="" width="68" height="50"></td>
			<td><%=prop.name%></td>
			<td>1</td>
			<td><%=prop.create_time%></td>
			<td><%=prop.use_time%></td>
			<td>已使用</td>
		</tr>
	<%});%>
	</tbody>
</table>