<div class="dialog__head">
	<h3 class="title">提示</h3>
	<a href="javascript:void(0);" class="close">x</a>
</div>
<div class="dialog__body">
	<div class="dialog__confirm">
		<p class="dialog_prop">
			恭喜你，开启小红包获得 <span><%=beanCount%></span> 帮豆！
		</p>
		<div class="dialog__confirm__btn">
			<a href="javascript:void(0);" class="btn btn-3" id="useMyProp">领取奖励</a>
		</div>
	</div>
</div>