/**
*Document:票
*Creat:13-9-16 上午11:11
*Author:junli.shen@b5m.com
**/
/*通用顶部 -Start-Lvzhuweng-20140103*/
.header-rearch-submit{background:#00A627}
.header-rearch-submit:hover{background:#008215}
.header-nav-box{background:#00A627}
.header-nav-box li{border-color:#1AAE3D}
.header-nav-box li.cur a,.header-nav-box li.cur a:hover{color:#4C4C4C}
.header-nav-box li.cur,.header-nav-box li.cur a:hover{background-color:#F5F5F5;}
.header-search-content #query{border:none}
.header-tools-search{margin-top:0;}
.header-box .country-box{top:40px;}
.header-box{position: relative;z-index: 5;}
.header-nav-back s{border-left-color:#00A627}
.header .top-country a{ color: #666;}
.header .top-country a:hover{ color: #f18100;}
/*通用顶部 -End-Lvzhuweng-20140103*/

/*Layout -Start- gaotian-20130916*/
.piao-box,.piao-crumb{width:980px;margin:10px auto 30px; overflow: hidden;}
.fl{float:left;}
.fr{float:right;}
.clear-fix:after,
.clear-fix:before{content:" ";display:table;}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
img{vertical-align: top;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.pz,.piao-box{position:relative;z-index:0}
a{color:#666}
a:hover,.city-msg-head:hover{color:#00a627}
.ov{overflow:hidden;zoom:1}
/*.header-logo{position:relative;}*/
/*Layout -End- gaotian-20130916*/

/*Head -Start- Gaotian-20130916*/
/*Head CityChange*/
.city-head{position:relative;z-index:110;height:18px;padding-bottom:7px;}
.city-ico-head{display:inline-block;width:14px;height:15px;background:url(../../images/piao/bg_piao.png) no-repeat;vertical-align:middle}
.city-head b{color:#666;cursor:pointer}
.city-close-ico{position:absolute;top:16px;right:16px;z-index:1;width:12px;height:12px;background:url(../../images/piao/bg_piao.png) no-repeat -26px 2px;cursor:pointer}
.city-msg-head{color:#999;font-weight:normal;text-decoration:none}
.city-select-head{display:none;/*display:inline;*/position:absolute;top:100%;left:0;z-index:1;float:left;background:#fff;border:1px solid #00a627;text-align:left;}
.city-select-head dl{width:454px;background:#fff;line-height:1.0;}
.header-tools-search .city-select-head dt{float:none;margin:0 10px;padding:14px 0 8px 6px;border-bottom:1px dotted #d0d0d0;color:#666;font-size:16px;font-family:"Microsoft YaHei";}
.city-select-head dd{margin:0 10px;font-size:0;}
.city-select-head a{display:inline-block;width:56px;_margin-right:-1px;padding:8px 0 8px 6px;color:#666;font-size:12px;}
.floor-list a:hover,.city-select-head a:hover,.piao-class-select .more:hover,.piao-hover{color:#009523}
/*Head -Start- Gaotian-20130916*/
/*Index -Start- Gaotian-20130916*/
/*楼层*/
.index-floor{width:728px;height:489px;border:1px solid #d8d8d8;}
.floor-head{position:relative;z-index:0;height:30px;border-bottom:1px solid #d8d8d8;text-align:right;}
.floor-head strong{position:absolute;top:50%;left:11px;z-index:1;margin-top:-13px;color:#00a627;font-weight:bold;font-size:24px;line-height:26px;}
.floor-head strong s{text-decoration:none;}
.floor-head span{display:inline-block;position:relative;z-index:0;width:118px;margin:-1px 0;padding:7px 0;font-size:16px;font-family:Microsoft Yahei;line-height:18px;text-align:center;cursor:pointer}
.floor-head .tabCur{background:#00a627;color:#fff;}
.floor-head span s{display:inline-block;width:26px;height:27px;margin:-5px 0;background-image:url(../../images/piao/bg_piao.png);background-repeat:no-repeat;vertical-align:-3px;}
.floor-head u{display:none;position:absolute;top:100%;left:50%;z-index:1;width:0;height:0;margin:0;padding:0;border:5px dashed transparent;border-top:5px solid #00a627;font-size:0;}
.ico-floor-music{background-position:-292px 0}
.ico-floor-sing{background-position:-318px 0}
.ico-floor-stage{background-position:-344px 0}
.ico-floor-dance{background-position:-370px 0}
.ico-floor-opera{background-position:-396px 0}
.ico-floor-offspring{background-position:-422px 0}
.ico-floor-happy{background-position:-448px 0}
.ico-floor-sports{background-position:-474px 0}

.tabCur u{display:block;}

.tabCur .ico-floor-music{background-position:-292px -28px}
.tabCur .ico-floor-sing{background-position:-318px -28px}
.tabCur .ico-floor-stage{background-position:-344px -28px}
.tabCur .ico-floor-dance{background-position:-370px -28px}
.tabCur .ico-floor-opera{background-position:-396px -28px}
.tabCur .ico-floor-offspring{background-position:-422px -28px}
.tabCur .ico-floor-happy{background-position:-448px -28px}
/*.tabCur .ico-floor-sports{background-position:-474px -28px}*/
.floor-head span s.ico-floor-sports{background: url(../../images/piao/face.png) no-repeat;}
.floor-list{display:none}
.floor-list a{display:inline;float:left;margin:16px 2px 0 13px;color:#666;text-align:center;}
.floor-list img{width:128px;height:170px;}
.floor-list span{display:block;padding:6px 0;line-height:14px;}
.floor-list .floor-more{position:absolute;top:100%;right:0;z-index:1;margin:4px 14px 0 0;}

/*侧边栏列表*/
.side-col,.list-num-side{border:1px solid #d8d8d8;border-top:3px solid #00a627;}
.list-num-side{width:237px;}
.list-num-side h3{padding:12px 0 12px 18px;border-bottom:1px dashed #d8d8d8;color:#00a627;font-weight:bold;font-size:20px;line-height:22px;font-family:"Microsoft YaHei";}
.list-num-side li{position:relative;z-inde:0;padding:16px 0 14px 45px;line-height:14px;zoom:1}
.list-num-side li s{position:absolute;top:50%;left:4px;z-index:1;width:40px;margin-top:-7px;color:#666;font-weight:normal;font-size:14px;line-height:16px;text-align:center;text-decoration:none;}
.list-num-side li:nth-child(odd){background:#f5f5f5}
.side-index .list-num-side{height:487px;}
.list-num-side .color-red{color:#b92121}
.list-num-side .color-yellow{color:#ff9001}
.list-num-side .color-red,
.list-num-side .color-yellow,
.list-num-side .color-gray{margin-top:-10px;font-style:italic;font-size:18px;line-height:20px;}
/*Index -End- Gaotian-20130916*/

/*分类筛选页 -Start- Gaotian-20130916*/
/*筛选条件*/
.piao-class-select{padding:0 18px;border:1px solid #d8d8d8;zoom:1}
.piao-class-select ul{position:relative;z-index:0;overflow:hidden;line-height:14px;zoom:1}
.piao-class-select li{position:relative;z-index:0;margin-bottom:-1px;*margin-bottom:-3px;padding:8px 0 0 40px;*padding-bottom:1px;border-bottom:1px solid #d8d8d8;zoom:1}
.piao-class-select strong,.piao-class-select .more{position:absolute;top:0;right:0;z-index:2;margin:8px 0 0;padding:3px 0;}
.piao-class-select strong{left:0;width:40px;color:#00a627;font-weight:bold;line-height:14px;}
.piao-class-select li a{display:inline-block;height:14px;margin-bottom:8px;padding:2px 8px 4px;*padding:3px 8px;border-radius:8px;}
.piao-class-select li a ins{margin-left:2px}
.piao-class-select li .slt{background:#00a627;color:#fff;}
.piao-class-select li .slt:hover{color:#fff}
.piao-class-select .more{width:auto;color:#666;cursor:pointer}
.piao-class-select-hide{display:none;overflow:hidden;}
/***侧边栏***/
.piao-side-left{float:left}
.side-col{}
/*热门搜索*/
.side-col h2,.side-col h3{padding:14px 0 8px 14px;color:#333;font-weight:bold;font-size:16px;line-height:18px;font-family:"Microsoft YaHei";}
.side-col h2{border-bottom:1px dashed #d8d8d8;}
.piao-class .side-col{width:238px;}
.piao-hot-search{position:relative;z-index:0;width:236px;height:230px;line-height:1.2;}
.piao-hot-search a{position:absolute;top:0;left:0;z-index:1;font-family:"Microsoft YaHei";white-space:pre}
/*热门演出*/
.piao-show-list{overflow:hidden;padding-top:5px;zoom:1}
.piao-show-list dl{overflow:hidden;margin:0 15px -1px;padding:17px 0 15px;border-bottom:1px dotted #d8d8d8;color:#999;zoom:1}
.piao-show-list dt,.piao-show-list .price{float:right;width:112px;}
.piao-show-list dt{height:48px;padding-top:5px;line-height:18px;}
.piao-show-list .pic{float:left;width:auto}
.piao-show-list img{display:block;width:80px;height:106px;padding:1px;border:1px solid #d8d8d8}
.pic a:hover img{border-color:#00a627;}
.piao-show-list dl b{color:#e41b46;font-family:Arial}
/*广告位*/
.add240{width:240px;overflow:hidden;text-align:center;}
/***分类筛选列表***/
.piao-class-list{display:inline;float:left;width:688px;margin:10px 0 0 10px;padding:0 20px;border:1px solid #d8d8d8;}
.piao-class-list dl{position:relative;z-index:0;overflow:hidden;padding:20px 0;margin-bottom:-1px;border-bottom:1px dashed #d8d8d8;zoom:1}
.piao-class-list dt,.piao-class-list dd{float:right;width:544px;padding:6px 0 7px;color:#666;line-height:14px;}
.piao-class-list dd.price{word-break:break-all}
.piao-class-list .time{color:#999}
.piao-class-list .pic{float:left;width:auto;margin:0;padding:0}
.pic img{padding:1px;border:1px solid #d8d8d8;}
.piao-class-list .pic img{display:block;width:130px;height:172px;}
.piao-class-list dt a{color:#333;font-weight:bold;font-size:14px;line-height:16px;}
.piao-class-list dt a:hover{color:#00a627;}
.piao-class-list .piao-class-buylink{position:absolute;top:50px;right:0;width:auto;height:auto;float:left;margin:0;padding:0;color:#999;text-align:center}
.piao-class-list .piao-class-buylink a{color:#999}
.piao-class-list .piao-class-buylink a:hover{color:#00a627}
.piao-class-list .piao-class-buylink .link-buy,.merchant-decision a{display:block;width:122px;margin:10px 0;padding:5px 0 7px;background:url(../../images/piao/bg_piao.png) no-repeat 0 -24px;color:#fff;font-size:18px;line-height:20px;font-family:"Microsoft YaHei";text-align:center;}
.piao-class-list .piao-class-buylink .link-buy:hover,.merchant-decision a:hover{color:#fff;}
.piao-class-list .piao-class-buylink b{color:#e41b46;font-size:16px;font-family:Arial;}
/*分页*/
.piao-class .page,.piao-city .page{float:right;width:730px;padding-top:20px;}
.page{*padding-bottom:4px;font-size:0;text-align:center}
.page .cur{background:#00a627;}
.page a:hover,.page .page-input a{border-color:#00a627;background:#00a627;}
.page .page-input input{border-color:#00a627;}
.page a,.page span{display:inline-block;float:none;font-size:12px;}
.page .first,.page .last{*line-height:31px;line-height:33px \0;}
.page .page-input{vertical-align:-6px;*vertical-align:-3px;_vertical-align:-6px;}
.page span.pagenum{width:auto;white-space:nowrap}
/*分类筛选页 -End- Gaotian-20130916*/

/*搜索页 -End- Gaotian-20130917*/
/*搜索提示*/
.piao-search-msg{position:relative;z-index:0;padding:13px 0 13px 37px;background:#ececec;font-size:14px;font-family:"Microsoft YaHei";line-height:16px;}
.piao-search-msg b{color:#00a627;font-weight:normal}
.piao-search-msg s{position:absolute;top:50%;left:11px;z-index:1;width:18px;height:15px;margin-top:-7px;background:url(../../images/piao/bg_piao.png) no-repeat -47px 0;}
/*侧边栏*/
.search-side-class{padding-bottom:18px;}
.search-side-class h2{border:none}
.search-side-class a{display:block;position:relative;z-index:0;width:196px;margin:8px auto 2px;padding:9px 0 9px 12px;background:#f2f2f2;line-height:14px;}
.search-side-class a:hover,.search-side-class .cur{background:#00a627;color:#fff}
.search-side-class s{position:absolute;top:50%;right:16px;z-index:1;margin-top:-7px;text-decoration:none;}
/**无结果页**/
/*.piao-class-list h3{padding:12px 0 15px;border-bottom:1px dotted #d8d8d8;color:#00a627;font-weight:bold;font-size:18px;line-height:20px;font-family:"Microsoft YaHei";}
.piao-noresult{display:inline;position:relative;z-index:0;float:right;width:352px;height:124px;margin-bottom:-10px;padding:134px 0 0 376px;border:1px solid #d8d8d8;background:#f7f7f7 url(../../images/piao/bg_noreslute.png) no-repeat 28px 35px;}
.piao-noresult small{position:absolute;top:46px;left:368px;z-index:1;width:307px;height:58px;overflow:hidden;padding:9px 0 0 6px;background:url(../../images/piao/bg_piao.png) no-repeat 0 -64px;font-weight:bold;font-size:14px;line-height:24px;}
.piao-noresult small b{color:#00a627;}
.piao-noresult dl{line-height:24px}
.piao-noresult dt{font-weight:bold;font-size:14px;}
.piao-noresult dd,.piao-noresult dd a{color:#999}
.piao-noresult dd a:hover,.piao-crumb strong,.piao-tab-list dt a:hover{color:#00a627}*/
.piao-class-list h3{padding:12px 0 15px;border-bottom:1px dotted #d8d8d8;color:#00a627;font-weight:bold;font-size:18px;line-height:20px;font-family:"Microsoft YaHei";}

.piao-noresult{display:inline;position:relative;z-index:0;float:right;width:452px;height:174px;padding:84px 0 0 276px;border:1px solid #d8d8d8;background:url(http://staticcdn.b5m.com/static/images/search/err.jpg) no-repeat 0 35px;}
.piao-noresult ul{padding-top:4px;color:#999;line-height:20px;}
.piao-noresult h4{color:#666;font-weight:bold;font-size:14px;font-family:"Microsoft YaHei";}
.piao-noresult h4 em{color:#00a627;font-weight:bold;display: inline-block;max-width:400px;white-space:nowrap; text-overflow: ellipsis; overflow: hidden; vertical-align: text-top;}
.piao-noresult p{color:#999;}
.piao-noresult,.piao-noresult a{color:#999}
.piao-noresult a:hover,.piao-crumb strong,.piao-tab-list dt a:hover{color:#00a627}
/*搜索页 -End- Gaotian-20130917*/

/*详情页 -Start- Gaotian-20130917*/
.piao-detail .piao-side-left{width:240px;}
.add-240-border{overflow:hidden;padding:9px;border:1px solid #d8d8d8;text-align:center;}

.add-240-border img{max-width: 220px;_width:220px;}
.add-left{text-align:left}
.add-left iframe{display:block;margin-right:auto;margin-left:auto}
/*侧边栏导航*/
.piao-detail-sidenav{padding:5px 0;border:1px solid #e5e5e5;border-bottom-color:#b8b8b8;background:#f5f5f5;font-size:0;text-align:center;}
.piao-detail-sidenav a{display:inline-block;width:116px;height:42px;padding-top:8px;color:#666;font-size:12px;}
.piao-detail-sidenav a:hover,.piao-detail-sidenav .cur{color:#333}
.piao-detail-sidenav s{display:block;width:28px;height:18px;margin:0 auto;background-image:url(../../images/piao/bg_piao.png);background-repeat:no-repeat;}
.piao-ico-seat{background-position:-84px 0}
.piao-ico-detail{background-position:-171px 0}
.cur .piao-ico-seat,a:hover .piao-ico-seat{background-position:-126px 0}
.cur .piao-ico-detail,a:hover .piao-ico-detail{background-position:-204px 0}
.piao-detail-sidenav .bdr{border-right:1px solid #d8d8d8;}
.piao-detail-sidenav .bdl{border-left:1px solid #fff;}
/*面包屑*/
.piao-crumb{margin-bottom:0;color:#666;font-size:14px;line-height:16px;font-family:"Microsoft YaHei";}
.piao-detail-tit{position:relative;z-index:0;width:960px;margin:10px auto 0;padding:16px 20px 16px 0;border:1px solid #d8d8d8;color:#999;line-height:14px;text-align:right}
.piao-detail-tit h1{position:absolute;top:50%;left:16px;z-index:1;width:376px;overflow:hidden;margin-top:-9px;color:#333;font-weight:bold;font-size:16px;line-height:18px;font-family:"Microsoft YaHei";text-align:left;text-overflow:ellipsis;white-space:nowrap;}
.piao-detail-tit span{margin-left:86px;}
/*内容*/
.piao-detail-content,.piao-city-content{float:right;width:688px;padding:20px;border:1px solid #d8d8d8;}
/*商家比较*/
.piao-detail-price{display:inline;float:right;width:730px;padding:12px 0 10px;color:#999;font-size:24px;line-height:26px;font-family:Arial;}
.piao-detail-price b{color:#e41b46}
.piao-merchant-compare{width:688px;overflow:hidden;zoom:1}
.piao-merchant-compare h2{padding:20px 0 12px;color:#00a627;font-weight:bold;font-size:16px;line-height:18px;font-family:"Microsoft YaHei";}
.piao-merchant-compare h2 ins{color:#999}
.merchant-nav{position:relative;z-index:0;width:100%;overflow:hidden;zoom:1;margin-bottom:-1px;}
.merchant-nav ul{position:relative;z-index:1;width:9999px;overflow:hidden;margin-left:54px;}
.merchant-nav li{display:inline;float:left;text-align:center;cursor:pointer}
.merchant-nav li span{display:block;width:97px;height:44px;}
.merchant-nav li s{display:block;padding-top:4px;text-decoration:none;}
.merchant-nav u{position:absolute;top:0;left:54px;z-index:0;width:97px;height:47px;background:url(../../images/piao/bg_piao.png) no-repeat -70px -147px;border-bottom:2px solid #f5f5f5}

.merchant-nav .cur{position: relative;}
.merchant-nav .cur span{}
.merchant-prev,.merchant-next{border-bottom:1px solid #d5d5d5;position:absolute;top:0;z-index:2;width:54px;height:43px;background-color:#fff;background-image:url(../../images/piao/bg_piao.png);background-repeat:no-repeat;cursor:pointer}
.piao-merchant-compare .line{position:absolute;top:auto;right:0;bottom:0;left:0;z-index:-1;width:100%;height:0;margin:0;padding:0;_margin-bottom:-1px;border-bottom:1px solid #d5d5d5;font-size:0;line-height:0;}

.merchant-prev,.merchant-next{position:absolute;top:0;z-index:2;width:54px;height:44px;border-bottom:1px solid #d5d5d5;background-color:#fff;background-image:url(../../images/piao/bg_piao.png);background-repeat:no-repeat;cursor:pointer}
.merchant-prev{left:0;background-position:20px -139px}
.merchant-next{right:-2px;background-position:20px -181px}
.merchant-prev:hover,.merchant-prev-cur{background-position:20px -230px}
.merchant-next:hover,.merchant-next-cur{background-position:20px -272px}

.merchant-content{overflow:hidden;padding:0 10px 26px;border-top:1px solid #d5d5d5;background:#f5f5f5}
.merchant-content table{display:none;width:666px;margin:0 auto;color:#666}
.merchant-content .show{display:block}
.merchant-content thead td{padding:10px;border-bottom:1px solid #fff;}
.merchant-content td{padding:20px 10px 0;}
.merchant-name{width:44px;}
.merchant-price{width:442px;font-size:0}
thead .merchant-price{font-size:12px;}
.merchant-decision{width:122px;text-align:center;}
.merchant-price a{display:inline-block;margin:5px 10px 5px 0;padding:6px 16px;border:1px solid #d5d5d5;background:#fff;font-size:12px;line-height:14px; cursor: default;white-space: nowrap;}
.merchant-price a:hover{color:#666;}
.merchant-decision a{margin:0 auto}

/*内容区*/
.piao-detail-content{width:698px;padding:0 15px}
.piao-detail-content-box{width:688px;padding:20px 0;color:#666;line-height:24px}
/*详情页 -End- Gaotian-20130917*/
/*城市页 -Start- Gaotian-20130918*/
.piao-city{}
.piao-city .piao-side-left{width:240px;}
/*关键字*/
.piao-city-tag{overflow:hidden;margin-bottom:-1px;_margin-bottom:-2px;padding-bottom:14px;border-bottom:1px dashed #d5d5d5;font-size:0;text-align:center}
.piao-city-tag li{margin:10px 15px 0;padding:8px 0;background:#f5f5f5;}
.piao-city-tag a{display:inline-block;width:64px;font-size:12px;line-height:14px}
/*内容导航*/
.piao-tab-nav{position:relative;z-index:0;margin-bottom:24px;padding:12px 0 10px;margin-top:-20px;_margin-top:-10px;border-bottom:1px dashed #d5d5d5;font-size:0;font-family:"Microsoft YaHei";text-align:right;zoom:1}
.piao-tab-nav h2{position:absolute;top:50%;left:0;z-index:1;padding-right:10px;color:#00a627;font-weight:bold;font-size:18px;line-height:20px; background: #fff;}
.piao-tab-nav h2 u{position:absolute;bottom:2px;left:100%;z-index:1;width:58px;height:25px;background:url(../../images/piao/bg_piao.png) no-repeat -130px -24px;}
.piao-tab-nav span{display:inline-block;position:relative;z-index:0;width:76px;padding:6px 0;font-size:12px;line-height:14px;text-align:center;cursor:pointer}
.piao-tab-nav s{display:none;position:absolute;top:100%;left:50%;z-index:1;width:0;height:0;margin-left:-3px;border:3px dashed transparent;border-top:3px solid #00a627;}
.piao-tab-nav .cur{background:#00a627;color:#fff}
.piao-tab-nav .cur s{display:block;}
/*内容列表*/
.piao-city-content{overflow:hidden}
.piao-city-content .ov{margin-bottom:20px;}
.piao-tab-list{display:none;overflow:hidden;width:120%;margin:-18px 0}
.piao-tab-list dl{display:inline;float:left;width:340px;height:200px;margin:-2px 16px 0 -16px;padding:20px 0 0 15px;border-top:1px dashed #d5d5d5;border-left:1px dashed #d5d5d5;}
.piao-tab-list dt,.piao-tab-list dd{float:right;width:202px;color:#666;line-height:23px;}

.piao-tab-list dt{width:190px;margin:0 12px 0 0; max-height: 52px;_height: 52px; overflow:hidden; display:inline;}
.piao-tab-list dt a{color:#333;font-weight:bold;font-size:14px;}
.piao-tab-list .pic{float:left;width:auto;margin:0;padding:0}
.piao-tab-list .time{color:#999}
.piao-tab-list dd b{margin-right:2px;color:#e41b46;font-size:16px;vertical-align:-1px}
/*城市页 -End- Gaotian-20130918*/
/*Css Using -Start- Gaotian-20130918*/
.show{display:block;}
/*Css Using -End- Gaotian-20130918*/
	
.topbar{ position: relative;z-index: 101;}
