<tr>
    <td><a href="javascript:void(0);"><img src="http://staticcdn.b5m.com/static/images/center/bd-task-11.png"/></a> <span class="center-task-txt">帮社区发帖</span></td>
    <td>10</td>
    <td>40</td>
    <td class="center-task-intro">
    	每发一帖+10帮豆，前3贴得帮豆，发满3条帖子，再+10个帮豆，每日最多40帮豆
	</td>
    <td><a href="javascript:void(0);" class="btn btn-grey">敬请期待</a></td>
</tr>
<tr>
    <td><a href="javascript:void(0);"><img src="http://staticcdn.b5m.com/static/images/center/bd-task-12.png"/></a> <span class="center-task-txt">帖子加精</span></td>
    <td>20</td>
    <td>20</td>
    <td class="center-task-intro">加精华的帖子，一个+20帮豆</td>
    <td><a href="javascript:void(0);" class="btn btn-grey">敬请期待</a></td>
</tr>
<tr>
    <td><a href="javascript:void(0);"><img src="http://staticcdn.b5m.com/static/images/center/bd-task-13.png"/></a> <span class="center-task-txt">分享</span></td>
    <td>3</td>
    <td>40</td>
    <td class="center-task-intro">
    	在网站中通过分享功能分享商品或资讯；每条分享+3帮豆，前10条分享得帮豆，满10条再+10个帮豆
    </td>
    <td><a href="javascript:void(0);" class="btn btn-grey">敬请期待</a></td>
</tr>
<tr>
    <td><a href="javascript:void(0);"><img src="http://staticcdn.b5m.com/static/images/center/bd-task-4.png"/></a> <span class="center-task-txt">邀请好友<br>注册</span></td>
    <td>10</td>
    <td></td>
    <td class="center-task-intro">每邀请1位好友注册并请好友完成完善资料任务及绑定手机+10帮豆</td>
    <td><a href="http://ucenter.b5m.com/forward.htm?method=/user/account/invitation/index"  class="btn btn-yellow">去邀请</a></td>
</tr>
<tr>
    <td><a href="javascript:void(0);"><img src="http://staticcdn.b5m.com/static/images/center/bd-task-14.png"/></a> <span class="center-task-txt">评论</span></td>
    <td>2</td>
    <td>20</td>
    <td class="center-task-intro">
    	帮社区回帖或者在帮5买网站上评论，每回一帖或者评论一条+2帮豆；评论或者回帖共计前10条得帮豆，满10条再+10个帮豆
    </td>
    <td><a href="http://zdm.b5m.com/?spm=0.0.0.0.0" class="btn btn-yellow">去评论</a></td>
</tr>
<tr>
    <td><a href="javascript:void(0);"><img src="http://staticcdn.b5m.com/static/images/center/bd-task-6.png"/></a> <span class="center-task-txt">在线时间</span></td>
    <td>20</td>
    <td>40</td>
    <td class="center-task-intro">每ID每天登录后在线时间越长越有机会领取数量可观的帮豆，每天领取上限40个帮豆</td> 
    <td><a href="javascript:void(0);" class="btn btn-grey">敬请期待</a></td>
</tr>
<tr>
    <td><a href="javascript:void(0);"><img src="http://staticcdn.b5m.com/static/images/center/bd-task-15.png"/></a> <span class="center-task-txt">设置HAO导航<br>为首页</span></td>
    <td>10</td>
    <td>10</td>
    <td class="center-task-intro">已设置HAO导航为首页的用户，每日可领取红包1个，每天仅限领取一次</td> 
    <td><a href="javascript:void(0);" class="btn btn-grey">敬请期待</a></td>
</tr>
