body{font: 12px '宋体',Arial,Helvetica,sans-serif;color:#666; background: #fff;}
.pink { color:#e26;}
a{color:#666; cursor: pointer;}
a:hover{ color:#e26; text-decoration: none;}
.wp{width:980px; margin:0 auto;}
.location{margin:18px 0;}
.result-info{ height: 36px; line-height: 36px; background:#f2f2f2; padding:0 15px; overflow:hidden;}
.result-info .others a{margin:0 3px;}
.result-info .not-good{ color:#fff; display: inline-block;height:24px; line-height: 24px; padding:0 12px; background: #86b835; border-radius: 3px;margin:0 0 0 5px; vertical-align: middle;}
.result {margin:20px 0;}
.result .result-tt{ color:#333;font:bold 16px/28px 'microsoft yahei',arial;}
.result .result-tt .btns{height:26px; line-height: 26px; border:1px solid #ccc; display: inline-block;*display:inline; zoom:1; vertical-align: middle;font:normal 12px/26px arial;border-right:0 none;margin:0 0 0 20px; }
.result .result-tt .btns a{height: 100%;border-right:1px solid #ccc;float: left;;padding:0 10px;}
.result .result-tt .btns a em.arrow{ background: url(../../images/guang/s_sort_arrow.png) no-repeat; display: inline-block;width:7px; height: 8px; vertical-align: middle;overflow: hidden;margin:0 0 0 3px;}
.result .result-tt .btns a em.arrow-up{ background-position: 0 0}
.result .result-tt .btns a em.arrow-down{ background-position: -7px 0}
.result .result-tt .btns a.curr em.arrow-up{ background-position: 0 -8px}
.result .result-tt .btns a.curr  em.arrow-down{ background-position: -7px -8px}
.result .result-tt .btns a.curr{color:#fff; background:#666;}
.result .result-con{padding:20px 0;_overflow:hidden;_width:100%;}
.result  .result-ul{width:108%;}
.result  .result-con .result-list{ float: left;width:228px;height: 282px;border:1px solid #d3d3d3;margin: 0 20px 20px 0; overflow:hidden; font-family: arial; cursor: default;}
.result  .result-con .result-list:hover{border-color: #fdcde1;box-shadow: 0 0 4px rgba(253,205,225,.7)}
.result  .result-con .result-list:hover *{color:#f74d94;}
.result  .result-con .result-list .img-con{height:208px;width:208px;overflow:hidden;margin: 10px auto;}
.result  .result-con .result-list .img-con a{height:208px;width:208px;overflow:hidden;
		 display: table-cell;vertical-align:middle;text-align:center;*display: block;*font-size: 182px;*font-family:Arial;} 
.result  .result-con .result-list .img-con img{max-height: 208px; max-width: 208px; vertical-align:middle; _width: expression((documentElement.clientWidth > 208) ? "208px" : "auto" );}
.result  .result-con .result-list .ins{white-space: nowrap; word-wrap:normal; line-height:24px; height: 24px; overflow:hidden; text-overflow:ellipsis; padding:0 10px;}
.prize{ line-height:24px; height: 24px; overflow:hidden; text-overflow:ellipsis; padding:0 10px;}
.pagin{text-align: center;}
.page .cur { background: #f74d94;}
.page .page-input input { border-color:#f74d94;}
.page .page-input a { background-color: #f74d94;}
.hd-search-box { display: none;}
/* page */
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center;}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:38px;line-height:38px;margin-top:0;font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:宋体;}
.page a.first,.page a.last{}
.page a:hover{color:#fff;background-color:#ff9c0f;background-image:none;border-color:#eb8226;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#ff9c0f;font-family:arial;border-radius:3px;cursor:default;width:34px;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;margin-right:0;text-align:right;font-family:宋体}
.page .page-input{font-family:宋体;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #e98900;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#ff9c0f;border:1px solid #e98900;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}
.page .cur { background-color: #d62e74;}
.page a:hover,.page .page-input a {background-color: #d62e74;border-color: #d62e74;}
.page .page-input input { border-color:#d62e74;}
/*顶部搜索 -Start-Gaotian-201310230*/
body .header-nav ul li{border-left:1px solid #f679ad;}
.header-search-content label{background:url(../../images/tiao/header-nav.png) no-repeat;}
/*顶部搜索 -End-Gaotian-201310230*/


.result-info-no { background: #fefbea; padding: 10px; border: 1px solid #ebdf9a; }
.result-info-no span { color:#EE2266; padding: 0 4px; }