/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{font: 12px/1.5 \5FAE\8F6F\96C5\9ED1,tahoma,arial,\5b8b\4f53;background:#f3f3f3;}
img {vertical-align:top;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.cfx:after,.cfx:before{content:"";display:table;}
.cfx:after{clear:both;}
.cfx{*zoom:1;}
/* news */
.news{padding-top:50px;color:#333;}
/* news-fixed */
.news-fixed{position:fixed;top:0;left:0;width:100%;height:50px;line-height:50px;text-align:center;font-size:20px;color:#fff;background-color:#ff841e;}
.news-fixed span{width:50px;border-right:1px solid #ff8f33;font-family:\5b8b\4f53;font-size:25px;cursor:pointer;}
.news-fixed h1{width:100%;margin-left:-51px;}
/* news-list */
.news-list h2{height:40px;line-height:40px;margin:0 10px;font-size:16px;overflow:hidden;}
.news-list h2 a{color:#333;}
.news-detail{padding:10px;border:1px solid #e0e0e0;background-color:#fff;}
.news-detail img{float:left;width:120px;}
.news-detail h3,.news-detail p{margin-left:130px;}
.news-detail h3{height:90px;line-height:18px;font-size:14px;overflow:hidden;word-wrap:break-word;word-break:break-all;}
.news-detail p{height:14px;line-height:14px;padding-top:7px;margin-top:8px;border-top:1px dotted #e0e0e0;text-align:right;}
.news-detail label{padding-left:10px;color:#ed0000;font-size:12px;}
.news-page{padding:10px;text-align:center;font-size:14px;}
.news-page a{display:inline-block;padding:2px 5px;border-radius:3px;color:#fff;background-color:#FF841E;}
.news-page a.grey{cursor:default;background-color:#BABABC;}
.news-page span{margin:0 10px;color:#666;}
.star,.star-inner{display:inline-block;width:79px;height:12px;line-height:0;overflow:hidden;background:url(../../images/wap/star.png) no-repeat;}
.star{text-align:left;vertical-align:-2px;background-position:0 0;}
.star-inner{background-position:0 -13px;}
/* news-article */
.news-article h2,.news-article h3{margin:10px 15px;}
.news-article h2{height:20px;line-height:20px;font-size:16px;overflow:hidden;}
.news-article h3{color:#666;}
.news-content,.news-recommend{padding:15px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;background-color:#fff;}
.news-content p{margin:0 15px;font-size:14px;line-height:20px;color:#666;}
.news-content p.tc{margin:10px 0;text-align:center;}
.news-content p img{max-width:100%;}
/* news-recommend */
.news-recommend{margin:10px 0;}
.news-recommend h2{font-size:17px;line-height:24px;}
.news-recommend li{float:left;margin:20px 1.6% 0;width:30%;text-align:center;}
.news-recommend li p{margin-top:5px;}
.news-recommend li p a{color:#333;font-size:14px;}
