<div class="center-record-filter cfx">
    <span class="fl">起止时间：</span>
    <input class="center-record-date fl dateStart" id="startTime" />
    <input class="center-record-date fl dateEnd" id="endTime" />
    <div class="l" style="display:none;">
		<dl class="bangdou-order-querycondition-type select">
			<dt>
				<span class="txt">全部</span><i class="arrow"></i>
			</dt>
			<dd>
				<a href="javascript:void(0);" class="cur" data-val="0">全部</a> <a href="javascript:void(0);" data-val="1">收入</a> <a href="javascript:void(0);" data-val="2">支出</a>
			</dd>
		</dl>
	</div>
    <a href="javascript:void(0);" class="center-record-search fl" id="select-trade-but">查询</a>
</div>
<div class="center-record-list">
	<table border="0" cellpadding="0" cellspacing="0">
		<colgroup>
			<col width="25%">
			<col width="25%">
			<col width="12%">
			<col width="10%">
			<col width="18%">
			<col width="10%">
		</colgroup>
		<thead>
			<tr>
				<th>交易时间</th>
				<th>交易名称</th>
				<th>交易金额</th>
				<th>货币类型</th>
				<th>交易类型</th>
				<th>交易状态</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div class="ui-loading">正在加载...</div>
    <div class="ui-empty-data" style="display: none"><span>暂无符合查询条件的信息</span></div>
</div>
<div class="page cfx page-view"></div>