<td><%=createTime%></td>
<!-- <td><%=orderId%></td> -->
<td><%=paymentName%></td>
<td><%=direction==1?'<span class="c-yellow">+'+amount+'</span>':'<span class="c-yellow">-'+amount+'</span>'%></td>
<td><%=currencyType==1?'帮币':'帮豆'%></td>
<td><%=_orderName%></td>
<td><%=status==1?'交易成功':'交易失败'%></td>