/*通用顶部 -Start*/
.header-rearch-submit,
.header-nav-box {
  background: #2d2d2d;
}
.header-rearch-submit:hover {
  background: #000;
}
.header-nav-back s {
  border-left-color: #2d2d2d;
}
.header-nav-box li {
  border-color: #939393;
}
.header-nav-box li a:hover {
  background-color: #e2e2e2;
  color: #333333;
}
.header-nav-box .cur a,
.header-nav-box .cur a:hover {
  background: #e2e2e2;
  color: #333333;
}
/*通用顶部 -End*/
html {
  overflow-y: scroll;
}
body {
  color: #333333;
}
strong {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.ti2 {
  text-indent: 2em;
}
.tr {
  text-align: right;
}
.w630 {
  width: 630px;
}
.w330 {
  width: 330px;
}
.mini-foot {
  height: 50px;
}
/* font line-height overflow */
.mini-line,
.mini-handle a i {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
/* icon */
.mini-handle a i {
  background: url(/static/images/minihome/icon.png) no-repeat;
}
/* mini-line */
.mini-line {
  height: 4px;
  background-color: #5d5d5d;
}
/* mini-title */
.mini-title h3 {
  margin-bottom: 8px;
  font: 16px/20px '\5FAE\8F6F\96C5\9ED1';
  color: #666;
}
/* mini-dl */
.mini-dl p {
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  color: #999;
}
.mini-dl p a {
  color: #666;
}
.mini-dl p a:hover {
  color: #333;
}
/* mini-handle */
.mini-handle {
  height: 14px;
  line-height: 14px;
  color: #cdcdcd;
}
.mini-handle a {
  color: #cdcdcd;
  cursor: pointer;
}
.mini-handle a:hover {
  color: #D70416;
}
.mini-handle a i {
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-right: 3px;
  vertical-align: -3px;
}
.mini-handle a i.icon-fav {
  background-position: 0 0;
}
.mini-handle a i.icon-comment {
  background-position: -22px 0;
}
.mini-handle a:hover i.icon-fav {
  background-position: 0 -16px;
}
.mini-handle a:hover i.icon-comment {
  background-position: -22px -16px;
}
.mini-handle em {
  padding: 0 10px;
}
/* page */
.page a:hover {
  background-color: #333;
  border-color: #333;
}
.page .cur {
  background: #333;
  border-color: #333;
}
.page .page-input input {
  border-color: #333;
}
.page .page-input a {
  background: #333;
  border-color: #333;
}
/* mini-side */
.mini-side-title {
  position: relative;
  z-index: 0;
  height: 37px;
  font: bold 18px/37px '\5FAE\8F6F\96C5\9ED1';
  border-bottom: 1px solid #eaeaea;
  color: #414141;
}
.mini-side-title em {
  color: #b80000;
  font-weight: bold;
}
.arr-outer,
.arr-inner {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border: 6px dashed transparent;
  border-top-style: solid;
}
.arr-outer {
  border-top-color: #eaeaea;
}
.arr-inner {
  border-top-color: #fff;
}
.mini-side-title .arr-outer {
  left: 14px;
  top: 38px;
}
.mini-side-title .arr-inner {
  left: 14px;
  top: 37px;
}
.mini-top-ten {
  padding-left: 47px;
}
.mini-top-ten li {
  position: relative;
  z-index: 0;
  padding: 10px 0;
  border-bottom: 1px dotted #d8d8d8;
}
.mini-top-ten li i {
  position: absolute;
  left: -38px;
  top: 6px;
  font-size: 18px;
  color: #666;
}
.mini-top-ten li i.one,
.mini-top-ten li i.two,
.mini-top-ten li i.three {
  left: -42px;
  top: 2px;
  font-size: 24px;
  font-style: italic;
}
.mini-top-ten li i.one {
  color: #c12222;
}
.mini-top-ten li i.two {
  color: #ff9001;
}
.mini-top-ten li h3 {
  height: 19px;
  line-height: 19px;
  overflow: hidden;
  color: #666;
  cursor: pointer;
}
.mini-top-ten .mini-dl {
  display: none;
}
.mini-top-ten li.current h3 {
  display: none;
}
.mini-top-ten li.current .mini-dl {
  display: block;
}
.mini-top-ten .mini-dl dt {
  float: left;
  width: 110px;
}
.mini-top-ten .mini-dl dd {
  float: right;
  width: 163px;
  line-height: 22px;
}
.mini-top-ten .mini-dl h6,
.mini-ten .mini-dl p {
  height: 44px;
}
.mini-top-ten .mini-dl h6 {
  margin: 5px 0;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}
.mini-top-ten .mini-dl h6 a,
.mini-look .mini-dl h6 a {
  color: #333;
  font-weight: bold;
}
.mini-top-ten .mini-dl h6 a:hover,
.mini-look .mini-dl h6 a:hover {
  color: #D70416;
}
.mini-top-ten .mini-dl {
  line-height: 24px;
}
.mini-top-ten .mini-dl h6 {
  height: 24px;
  margin: 6px 0 2px;
  overflow: hidden;
  font-size: 14px;
}
.mini-top-ten .mini-dl p {
  height: 72px;
}
.mini-look dd {
  line-height: 24px;
}
.mini-look h6 {
  height: 24px;
  overflow: hidden;
  margin-top: 5px;
}
.mini-look h6 a {
  font-size: 14px;
}
