.w630 {
  width: 630px;
}
.w330 {
  width: 330px;
}
.mini-classify {
  padding-bottom: 70px;
}
/* second-silder */
.second-sprite {
  background: url(/static/images/minihome/second-sprite.png) no-repeat;
}
.second-silder {
  width: 100%;
  height: 304px;
  overflow: hidden;
  position: relative;
}
.second-silder .silder-item {
  width: 400%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.second-silder .silder-item li {
  width: 630px;
  height: 100%;
}
.second-silder .silder-item a,
.second-silder .silder-item a img {
  width: 100%;
  height: 100%;
  display: block;
}
.silder-item li {
  float: left;
}
.second-silder .silder-pointer {
  width: 100%;
  height: 73px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.second-silder .silder-pointer .bg {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.second-silder .silder-pointer .cont {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.second-silder .silder-pointer .cont p {
  float: left;
  padding: 12px 0 0 17px;
  width: 310px;
  overflow: hidden;
}
.second-silder .silder-pointer .cont p a {
  color: white;
  font: normal 24px/100% '\5FAE\8F6F\96C5\9ED1';
}
.second-silder .silder-pointer .cont p a:hover {
  text-decoration: none;
}
.second-silder .silder-pointer .cont p span {
  display: block;
  padding: 8px 0 0;
  color: white;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 18px;
  overflow: hidden;
}
.second-silder .silder-pointer ul {
  position: absolute;
  right: -10px;
  bottom: 11px;
  width: 300px;
  height: auto;
  background: none;
}
.second-silder .silder-pointer li {
  float: left;
  margin: 0;
  height: 50px;
  margin-right: 10px;
  width: 50px;
  border: none;
  box-shadow: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.second-silder .silder-pointer li.cur {
  opacity: 1;
  filter: alpha(opacity=100);
}
.second-silder .silder-pointer li a,
.second-silder .silder-pointer li img {
  display: block;
  width: 100%;
  height: 100%;
}
.second-silder .silder-pointer li.next,
.second-silder .silder-pointer li.prev {
  width: 12px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.second-silder .silder-pointer li.next a,
.second-silder .silder-pointer li.prev a {
  display: block;
  width: 12px;
  height: 100%;
  outline: none;
}
.second-silder .silder-pointer li.prev a {
  background-position: -52px 18px;
}
.second-silder .silder-pointer li.next a {
  background-position: -65px 18px;
}
.second-silder .silder-pointer li.prev a:hover {
  background-position: -77px 18px;
}
.second-silder .silder-pointer li.next a:hover {
  background-position: -89px 18px;
}
.second-silder .silder-pointer a.cur {
  width: 50px;
  height: 54px;
  background-position: 0 0;
  display: none;
  position: absolute;
  bottom: 11px;
  right: 218px;
  cursor: pointer;
  outline: none;
}
/* second-recommend */
.second-recommend {
  width: 100%;
  height: 286px;
  margin-top: 20px;
  overflow: hidden;
}
.second-recommend h3 {
  height: 27px;
}
.second-recommend h3 strong {
  font-family: '\5FAE\8F6F\96C5\9ED1';
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: #d70416;
  width: 109px;
  float: left;
  height: 20px;
  line-height: 100%;
  padding: 3px 0 4px;
  overflow: hidden;
}
.second-recommend h3 span {
  float: left;
  width: 187px;
  height: 13px;
  margin: 8px 0 0 9px;
  background: url(/static/images/minihome/bg-txt.png) no-repeat 0 -54px;
}
.second-recommend .second2-silder,
.second-recommend .module {
  width: 100%;
  height: 230px;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}
.second-recommend a.prev,
.second-recommend a.next {
  width: 25px;
  height: 45px;
  position: absolute;
  top: 52px;
  display: block;
  outline: none;
}
.second-recommend a.prev {
  left: -25px;
  background-position: -152px 0;
}
.second-recommend a.next {
  right: -25px;
  background-position: -177px 0;
}
.second-recommend a.prev:hover {
  background-position: -102px 0;
  filter: alpha(opacity=70);
}
.second-recommend a.next:hover {
  background-position: -127px 0;
  filter: alpha(opacity=70);
}
.second-recommend ul {
  width: 600%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.second-recommend ul li {
  width: 310px;
  height: 100%;
  float: left;
  margin-right: 10px;
  _display: inline;
}
.second-recommend ul li a.pic,
.second-recommend ul li a.pic img {
  width: 100%;
  height: 150px;
  display: block;
}
.second-recommend ul li p {
  padding-top: 10px;
}
.second-recommend ul li p .title {
  word-wrap: normal;
  font: normal 18px/100% '\5FAE\8F6F\96C5\9ED1';
  color: #333;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  height: 20px;
  overflow: hidden;
  width: 310px;
}
.second-recommend ul li p .title:hover {
  text-decoration: none;
  color: #ff0000;
}
.second-recommend ul li p .info {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  line-height: 18px;
  padding: 0;
}
/*second-list*/
.second-list {
  border-top: 5px solid #5d5d5d;
  width: 100%;
  overflow: hidden;
}
.second-list ul {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.second-list ul li {
  padding: 19px 0 0 20px;
  width: 670px;
  height: 149px;
  float: left;
  clear: both;
}
.second-list ul li.line {
  height: 1px;
  padding: 0;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid white;
  background: #e0e0e0;
}
.second-list ul li .pic,
.second-list ul li .pic img {
  display: block;
  width: 130px;
  height: 130px;
}
.second-list ul li .pic {
  float: left;
}
.second-list ul li p {
  float: left;
  padding-left: 20px;
  width: 439px;
  height: 135px;
  overflow: hidden;
}
.second-list ul li p a.title {
  color: #333;
  font: normal 18px/100% '\5FAE\8F6F\96C5\9ED1';
  padding: 0;
  display: block;
  height: 25px;
  white-space: nowrap;
  width: 435px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.second-list ul li p span.info {
  display: block;
  font: normal 12px/24px '\5b8b\4f53';
  color: #999;
  padding-top: 10px;
  height: 78px;
  word-wrap: break-word;
  word-break: break-all;
}
.second-list ul li p span.info a {
  display: inline-block;
  color: #d70416;
}
.second-list ul li p span.info a:hover {
  text-decoration: underline;
  color: #d70416;
}
.second-tag {
  float: left;
  font-size: 12px;
  color: #999;
  margin-top: 3px;
  line-height: 100%;
}
.second-tag a {
  color: #86b6d0;
  margin-right: 12px;
  display: inline-block;
  zoom: 1;
}
.second-tag a:hover {
  text-decoration: underline;
  color: #86b6d0;
}
.second-link {
  float: left;
  padding-right: 5px;
  line-height: 14px;
  margin-top: 3px;
}
.second-link a {
  display: inline-block;
  height: 14px;
  padding-left: 20px;
  color: #999;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.second-link a:hover {
  color: #999;
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.second-link a.view {
  background-position: 0 -98px;
}
.second-link a.comment {
  background-position: 0 -149px;
}
.second-link em {
  color: #cdcdcd;
  padding: 0 10px;
  font-size: 12px;
}
.second-list ul li.hover,
.second-list ul li:hover {
  background: #fafafa;
}
.second-list ul li.hover p a.title,
.second-list ul li:hover p a.title {
  color: #e60000;
  padding: 0;
}
.second-list .more {
  width: 183px;
  height: 40px;
  color: white;
  font: bold 18px/38px '\5FAE\8F6F\96C5\9ED1';
  display: block;
  text-align: center;
  background-position: 0 -32px;
  margin: 10px auto 0;
  _line-height: 40px;
}
.second-list .more:hover {
  text-decoration: none;
  background-position: 0 -73px;
}
.second-list .mini-handle {
  float: left;
  margin-top: 3px;
}
