/*通用顶部 -Start*/
.header-rearch-submit,
.header-nav-box {
  background: #2d2d2d;
}
.header-rearch-submit:hover {
  background: #000;
}
.header-nav-back s {
  border-left-color: #2d2d2d;
}
.header-nav-box li {
  border-color: #939393;
}
.header-nav-box li a:hover {
  background-color: #e2e2e2;
  color: #333333;
}
.header-nav-box .cur a,
.header-nav-box .cur a:hover {
  background: #e2e2e2;
  color: #333333;
}
/*通用顶部 -End*/
html {
  overflow-y: scroll;
}
body {
  color: #333333;
}
strong {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.ti2 {
  text-indent: 2em;
}
.tr {
  text-align: right;
}
.w630 {
  width: 630px;
}
.w330 {
  width: 330px;
}
.mini-foot {
  height: 50px;
}
/* font line-height overflow */
.mini-line,
.mini-handle a i {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
/* icon */
.mini-handle a i {
  background: url(/static/images/minihome/icon.png) no-repeat;
}
/* mini-line */
.mini-line {
  height: 4px;
  background-color: #5d5d5d;
}
/* mini-title */
.mini-title h3 {
  margin-bottom: 8px;
  font: 16px/20px '\5FAE\8F6F\96C5\9ED1';
  color: #666;
}
/* mini-dl */
.mini-dl p {
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  color: #999;
}
.mini-dl p a {
  color: #666;
}
.mini-dl p a:hover {
  color: #333;
}
/* mini-handle */
.mini-handle {
  height: 14px;
  line-height: 14px;
  color: #cdcdcd;
}
.mini-handle a {
  color: #cdcdcd;
  cursor: pointer;
}
.mini-handle a:hover {
  color: #D70416;
}
.mini-handle a i {
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-right: 3px;
  vertical-align: -3px;
}
.mini-handle a i.icon-fav {
  background-position: 0 0;
}
.mini-handle a i.icon-comment {
  background-position: -22px 0;
}
.mini-handle a:hover i.icon-fav {
  background-position: 0 -16px;
}
.mini-handle a:hover i.icon-comment {
  background-position: -22px -16px;
}
.mini-handle em {
  padding: 0 10px;
}
/* page */
.page a:hover {
  background-color: #333;
  border-color: #333;
}
.page .cur {
  background: #333;
  border-color: #333;
}
.page .page-input input {
  border-color: #333;
}
.page .page-input a {
  background: #333;
  border-color: #333;
}
/* mini-side */
.mini-side-title {
  position: relative;
  z-index: 0;
  height: 37px;
  font: bold 18px/37px '\5FAE\8F6F\96C5\9ED1';
  border-bottom: 1px solid #eaeaea;
  color: #414141;
}
.mini-side-title em {
  color: #b80000;
  font-weight: bold;
}
.arr-outer,
.arr-inner {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border: 6px dashed transparent;
  border-top-style: solid;
}
.arr-outer {
  border-top-color: #eaeaea;
}
.arr-inner {
  border-top-color: #fff;
}
.mini-side-title .arr-outer {
  left: 14px;
  top: 38px;
}
.mini-side-title .arr-inner {
  left: 14px;
  top: 37px;
}
.mini-top-ten {
  padding-left: 47px;
}
.mini-top-ten li {
  position: relative;
  z-index: 0;
  padding: 10px 0;
  border-bottom: 1px dotted #d8d8d8;
}
.mini-top-ten li i {
  position: absolute;
  left: -38px;
  top: 6px;
  font-size: 18px;
  color: #666;
}
.mini-top-ten li i.one,
.mini-top-ten li i.two,
.mini-top-ten li i.three {
  left: -42px;
  top: 2px;
  font-size: 24px;
  font-style: italic;
}
.mini-top-ten li i.one {
  color: #c12222;
}
.mini-top-ten li i.two {
  color: #ff9001;
}
.mini-top-ten li h3 {
  height: 19px;
  line-height: 19px;
  overflow: hidden;
  color: #666;
  cursor: pointer;
}
.mini-top-ten .mini-dl {
  display: none;
}
.mini-top-ten li.current h3 {
  display: none;
}
.mini-top-ten li.current .mini-dl {
  display: block;
}
.mini-top-ten .mini-dl dt {
  float: left;
  width: 110px;
}
.mini-top-ten .mini-dl dd {
  float: right;
  width: 163px;
  line-height: 22px;
}
.mini-top-ten .mini-dl h6,
.mini-ten .mini-dl p {
  height: 44px;
}
.mini-top-ten .mini-dl h6 {
  margin: 5px 0;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}
.mini-top-ten .mini-dl h6 a,
.mini-look .mini-dl h6 a {
  color: #333;
  font-weight: bold;
}
.mini-top-ten .mini-dl h6 a:hover,
.mini-look .mini-dl h6 a:hover {
  color: #D70416;
}
.mini-top-ten .mini-dl {
  line-height: 24px;
}
.mini-top-ten .mini-dl h6 {
  height: 24px;
  margin: 6px 0 2px;
  overflow: hidden;
  font-size: 14px;
}
.mini-top-ten .mini-dl p {
  height: 72px;
}
.mini-look dd {
  line-height: 24px;
}
.mini-look h6 {
  height: 24px;
  overflow: hidden;
  margin-top: 5px;
}
.mini-look h6 a {
  font-size: 14px;
}

/*slider s*/
.silder {
  height: 500px;
  min-width: 980px;
  overflow: hidden;
  position: relative;
  font-family: \5FAE\8F6F\96C5\9ED1;
  width: 100%;
}
.silder-item {
  width: 600%;
  height: 420px;
  position: relative;
  overflow: hidden;
}
.silder-item li {
  width: 16.666666666666%;
  height: 420px;
  float: left;
  overflow: hidden;
  position: relative;
}
.silder-item li a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-decoration: none;
}
.silder-item li img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: none;
}
.silder-item li a dl {
  width: 940px;
  position: relative;
  height: 200px;
  margin: -250px auto 0;
  color: white;
  cursor: pointer;
  text-shadow: 1px 1px 0 #444444;
  display: none;
  padding-left: 40px;
}
.silder-item li a dl dt,
.silder-item li a dl dd {
  width: 460px;
}
.silder-item li a dl dt.caption {
  font-size: 50px;
  height: 70px;
  line-height: 70px;
}
.silder-item li a dl dd.time {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
}
.silder-item li a dl dd.info {
  font-size: 14px;
  line-height: 26px;
}
.silder-pointer {
  max-width: 1040px;
  height: 120px;
  position: relative;
  margin: -40px auto 0;
  background: url(/static/images/minihome/silder-bg.png) no-repeat bottom center;
}
.silder-pointer ul {
  width: 980px;
  margin: 0 auto;
  background: #272727;
  padding-left: 0px;
  position: relative;
  height: 120px;
}
.silder-pointer li {
  float: left;
  width: 146px;
  height: 98px;
  margin: 9px 0px;
  position: relative;
  margin-left: 13px;
  box-shadow: 0px 5px 8px 2px black;
  _display: inline;
  opacity: 0.4;
  filter: alpha(opacity=40);
  border: 1px solid #272727;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.silder-pointer li.cur {
  margin-top: -10px;
  opacity: 1;
  border-color: #959595;
  filter: alpha(opacity=100);
}
.silder-pointer li a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}
.silder-pointer li img {
  width: 100%;
  height: 100%;
  border: none;
}
/*slider e*/
.mini-home {
  padding-bottom: 70px;
}
/* bg-txt */
.mini-today-hot,
.mini-guess-love,
.mini-txt span,
.mini-cate-list dt span,
.mini-view strong {
  background: url(/static/images/minihome/bg-txt.png) no-repeat;
}
/* title */
.mini-today-hot,
.mini-guess-love,
.mini-ui-tab li em,
.mini-dash {
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}
.mini-today-hot {
  height: 24px;
  background-position: 0 0;
}
.mini-guess-love {
  height: 20px;
  background-position: 0 -30px;
}
/* mini-hot */
.mini-hot {
  margin-top: 8px;
}
.mini-hot-big,
.mini-hot-list,
.mini-hot-tab {
  border-top: 4px solid #5d5d5d;
}
.mini-hot-big {
  width: 300px;
  padding-top: 21px;
}
.mini-hot-big .mini-dl {
  padding: 5px;
  height: 533px;
  background-color: #eee;
}
.mini-hot-big .mini-dl dd {
  padding: 0 13px;
}
.mini-hot-big .mini-dl h6 {
  margin: 10px 0 8px;
  height: 48px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  font: 16px/24px '\5FAE\8F6F\96C5\9ED1';
  text-align: center;
}
.mini-hot-big .mini-dl h6 a,
.mini-hot-list .mini-dl h6 a,
.mini-guess-list h6 a,
.mini-guess-other h6 a,
.mini-cate-list h6 a,
.mini-view h6 a {
  color: #333;
}
.mini-hot-big .mini-dl h6 a:hover,
.mini-hot-list .mini-dl h6 a:hover,
.mini-guess-list h6 a:hover,
.mini-guess-other h6 a:hover,
.mini-cate-list h6 a:hover,
.mini-view h6 a:hover {
  color: #d70416;
}
.mini-hot-big .mini-dl p {
  line-height: 24px;
}
.mini-hot-big .mini-dl p a {
  display: inline-block;
  text-indent: 0;
  color: #d70416;
}
.mini-hot-big .mini-dl p a:hover {
  color: #d70416;
  text-decoration: underline;
}
.mini-hot-list {
  width: 320px;
  padding: 21px 0 0 10px;
}
.mini-hot-tab {
  width: 330px;
}
.mini-hot-list {
  overflow: hidden;
  zoom: 1;
}
.of-h {
  height: 543px;
  overflow: hidden;
  zoom: 1;
}
.mt-11 {
  margin-top: -11px;
}
.mini-hot-list .mini-dl {
  border-top: 1px solid #e7e7e7;
  padding: 10px 0;
  line-height: 22px;
}
.mini-hot-list .mini-dl dt {
  float: left;
  width: 120px;
}
.mini-hot-list .mini-dl dt a,
.mini-guess-other dt a {
  display: inline-block;
  padding: 2px;
  border: 1px solid #e7e7e7;
}
.mini-hot-list .mini-dl dt a:hover,
.mini-guess-other dt a:hover,
.mini-hot-list .mini-dl:hover dt a {
  border-color: #bf0716;
}
.mini-hot-list .mini-dl dd {
  float: right;
  width: 190px;
}
.mini-hot-list .mini-dl h6 {
  height: 44px;
  margin: 4px 0;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 14px;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.mini-hot-list .mini-dl p {
  height: 66px;
}
.mini-hot-list .mini-dl:hover {
  background-color: #f6f6f6;
}
.mini-hot-list .mini-dl:hover h6 a {
  color: #d70416;
}
.mini-hot-wp {
  width: 100%;
}
.mini-ui-tab li {
  position: relative;
  z-index: 1;
  zoom: 1;
  float: left;
  width: 143px;
  padding-left: 22px;
  height: 48px;
  font: 18px/48px '\5FAE\8F6F\96C5\9ED1';
  cursor: pointer;
  background-color: #f8f8f8;
}
.mini-ui-tab li.current {
  background-color: #fff;
}
.mini-ui-tab li em {
  position: absolute;
  z-index: 2;
  top: 16px;
  left: 10px;
  width: 5px;
  height: 20px;
  background-color: #e7e7e7;
}
.mini-ui-tab li.current em {
  background-color: #d70416;
}
.mini-ui-tab li i {
  display: none;
}
.mini-ui-tab li.current i {
  display: inline-block;
}
.mini-ui-tab .arr-outer {
  left: 14px;
  top: 48px;
}
.mini-ui-tab .arr-inner {
  left: 14px;
  top: 47px;
}
.mini-ui-cont {
  position: relative;
  z-index: 0;
  border: 1px solid #e7e7e7;
  height: 308px;
  overflow: hidden;
}
.mini-ui-item {
  height: 308px;
  overflow: hidden;
}
.mini-ui-item .mini-top-ten {
  padding: 0 20px;
}
.mini-ui-item .mini-top-ten li {
  position: static;
  padding: 7px 0;
}
.mini-ui-item .mini-top-ten .mini-dl {
  padding: 7px 0;
}
.mini-ui-detail {
  position: relative;
}
/* mini-v-list */
.mini-v-list li {
  height: 33px;
  line-height: 33px;
  border-bottom: 1px dotted #d7d7d7;
}
.mini-v-list li a {
  display: block;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #666;
}
.mini-v-list li a:hover {
  color: #d70416;
  background-color: #f8f8f8;
}
/* mini-guess */
.mini-guess-list {
  padding-top: 20px;
  margin-top: 8px;
  border-top: 4px solid #5d5d5d;
}
.mini-guess-list .mini-dl {
  width: 980px;
}
.mini-guess-list dt {
  float: left;
  width: 267px;
  height: 151px;
}
.mini-guess-list dd {
  float: left;
  width: 195px;
  margin: 0 18px 0 10px;
  line-height: 20px;
}
.mini-guess-list h6 {
  margin: 10px 0;
  height: 40px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}
.mini-guess-list h6 a {
  font-weight: bold;
}
.mini-guess-list p {
  height: 80px;
}
.mini-guess-other .mini-dl {
  width: 360px;
}
.mini-guess-other .mini-v-list {
  width: 290px;
  margin-left: 20px;
}
.mini-guess-other dt {
  float: left;
  width: 100px;
}
.mini-guess-other dd {
  float: right;
  width: 250px;
}
.mini-guess-other dd h6 {
  margin: 10px 0;
  height: 18px;
  overflow: hidden;
}
.mini-guess-other dd p {
  height: 44px;
  line-height: 22px;
}
/* mini-txt */
.mini-txt {
  position: relative;
  z-index: 0;
  zoom: 1;
  padding-top: 57px;
  height: 38px;
}
.mini-txt .mini-line {
  height: 5px;
}
.mini-txt span {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 229px;
  height: 46px;
  margin-left: -114px;
}
.mini-txt span.mini-txt-news {
  background-position: 0 -73px;
}
.mini-txt span.mini-txt-fun {
  background-position: 0 -121px;
}
.mini-txt span.mini-txt-society {
  background-position: 0 -169px;
}
.mini-txt span.mini-txt-video {
  background-position: 0 -217px;
}
.mini-txt span.mini-txt-military {
  background-position: 0 -265px;
}
/* mini-cate */
.mini-cate-list,
.mini-cate-other {
  width: 640px;
  margin-right: -10px;
}
.mini-cate-list .mini-dl,
.mini-cate-other .mini-v-list {
  width: 310px;
  margin-right: 10px;
}
.mini-cate-list dt {
  position: relative;
  z-index: 0;
  height: 186px;
}
.mini-cate-list dt span {
  position: absolute;
  left: 10px;
  top: -9px;
  width: 63px;
  height: 59px;
  padding: 4px 5px 0 2px;
  font: 22px/26px '\5FAE\8F6F\96C5\9ED1';
  color: #fff;
  background-position: 0 -313px;
  text-align: center;
}
.mini-cate-list dd {
  line-height: 24px;
}
.mini-cate-list h6 {
  margin-top: 8px;
  height: 24px;
  overflow: hidden;
  font-size: 18px;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.mini-cate-list p {
  height: 72px;
}
.mini-cate-list p a,
.mini-view p a {
  color: #d70416;
}
.mini-cate-list p a:hover,
.mini-view p a:hover {
  color: #d70416;
  text-decoration: underline;
}
.mini-cate-other {
  margin-top: 15px;
  border-top: 1px solid #e0e0e0;
}
/* mini-dash */
.mini-dash {
  height: 5px;
  background: url(/static/images/minihome/mini-dash.png) repeat-x;
}
.mini-view {
  position: relative;
  z-index: 0;
  zoom: 1;
  height: 426px;
  padding: 0 5px;
  border: 1px solid #e5e5e5;
  border-top: 0 none;
}
.mini-view strong {
  position: absolute;
  top: 18px;
  left: -11px;
  width: 99px;
  height: 32px;
  padding-top: 3px;
  font: bold 18px/30px '\5FAE\8F6F\96C5\9ED1';
  background-position: -74px -313px;
  color: #fff;
  text-align: center;
}
.mini-view-more {
  height: 32px;
  line-height: 32px;
  padding: 21px 15px 2px 0;
}
.mini-view-more a {
  color: #999;
}
.mini-view-more a:hover {
  color: #333;
}
.mini-view .of-h {
  height: 363px;
}
.mini-view .mini-dl {
  padding: 10px 15px;
  border-bottom: 1px dotted #e4e4e4;
}
.mini-view .mini-dl:hover {
  background-color: #f6f6f6;
}
.mini-view .mini-dl:hover a {
  color: #d70416;
}
.mini-view dt {
  float: right;
  width: 70px;
}
.mini-view dd {
  float: left;
  width: 203px;
  line-height: 20px;
}
.mini-view dd h6 {
  margin: 5px 0;
  height: 20px;
  overflow: hidden;
}
.mini-view dd p {
  height: 40px;
}

.mini-article {
  padding-bottom: 70px;
}
/* mini-detail */
.mini-article-other {
  width: 645px;
  margin-right: -15px;
}
.mini-article-other .mini-dl {
  width: 200px;
  margin: 10px 15px 0 0;
  padding-bottom: 18px;
}
.mini-article-other .mini-dl p {
  margin-top: 5px;
  height: 36px;
}
/* mini-article */
.mini_bread {
  margin: 12px 0;
  color: #999;
  padding-right: 350px;
}
.weizhi {
  float: left;
}
.mini_bread a {
  color: #333;
}
.pic_liulan {
  float: right;
}
.icon_pic {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  vertical-align: -2px;
  background: url(/static/images/minihome/icon.png) no-repeat -44px 0;
}
.pic_liulan a {
  color: #888;
}
.mini_detail {
  border-top: 4px solid #5D5D5D;
  padding-bottom: 2px;
}
.mini_inner {
  border-left: 1px solid #D6D6D6;
  border-right: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
  padding: 0 0 38px 0;
  margin: 0 0 30px 0;
}
.mini_inner .hd {
  padding: 18px 0 10px 0;
}
.mini_post .tit {
  text-align: center;
  font-size: 20px;
  color: #333;
  line-height: 30px;
  font-family: "微软雅黑";
  width: 552px;
  margin: 0 auto;
}
.mini_post .info {
  margin-top: 10px;
  text-align: center;
  color: #999;
  line-height: 1;
  font-family: "宋体";
}
.mini_post .info a,
.mini_post .info span {
  color: #999;
  margin: 0 5px;
}
.mini_wenz_rebiao {
  text-align: center;
  margin: 16px 0 0 0;
}
.mini_wenz_rebiao a {
  color: #fd9460;
  text-decoration: underline;
  margin: 0 20px 0 0;
}
.mini_wenz_rebiao a em {
  width: 12px;
  height: 14px;
  display: inline-block;
  background: url(/static/images/minihome/mini_re.png) no-repeat scroll;
}
.mini_iconpic {
  margin: 0 0 0 -15px;
}
.mini_summary {
  padding: 15px 20px;
  background-color: #F7F7F7;
  color: #999;
  line-height: 24px;
  font-family: "宋体";
  margin: 0 18px 25px 18px;
}
.mini_summary strong {
  color: #d70416;
}
.mini_contentintorod {
  margin: 0 18px;
  width: 586px;
}
.mini_contentintorod p {
  color: #555;
  line-height: 24px;
  text-indent: 2em;
}
.mini_contentintorod p img {
  display: block;
  min-width: 586px;
}
.mini_contintord_advertise {
  display: inline-block;
  margin: 0 0 30px 0;
}
.mini_contintord_advertise p {
  float: left;
  width: 232px;
  padding: 8px 0 0 0;
}
.mini_advert_r {
  float: right;
  width: 336px;
  height: 280px;
  margin: -10px 0 0 15px;
}
.intorod_title {
  width: 500px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 26px 0;
}
.mini_pic_content p {
  margin: 0 0 30px 0;
}
.mini_label {
  color: #888;
  margin: 0 0 30px 0;
}
.mini_label a {
  color: #86b6d0;
  margin: 0 18px 0 0;
}
.mini_page_relative {
  border: 1px solid #DEDEDE;
  height: 30px;
  line-height: 30px;
  margin-top: 20px;
}
.mini_page_relative .fl,
.mini_page_relative .fr {
  width: 312px;
}
.mini_page_relative .page-prev,
.mini_page_relative .page-next {
  background: none repeat scroll 0 0 #F8F8F8;
  color: #D9000F;
  text-align: center;
  width: 79px;
}
.mini_page_relative .page-prev {
  border-right: 1px solid #DEDEDE;
  float: left;
}
.mini_page_relative p {
  display: inline;
  height: 30px;
  margin: 0 15px;
  overflow: hidden;
  width: 202px;
  word-break: break-all;
  word-wrap: break-word;
}
.mini_page_relative .fl p {
  float: right;
}
.mini_page_relative p a {
  color: #656565;
}
.mini_page_relative .fr p {
  float: left;
  text-align: right;
}
.mini_page_relative .page-next {
  border-left: 1px solid #DEDEDE;
  float: right;
}
.mini_wenzhangb {
  border: none;
  padding: 0;
}
.mini_wenzhangb .tit {
  text-align: left;
  margin: 0;
}
.mini_wenzhangb .info,
.rebiao_b {
  text-align: left;
}
.mini_pic_contentb {
  position: relative;
  background-color: #f9f9f9;
  padding: 20px 0 20px 0;
  margin: 0 0 20px 0;
}
.mini_pic_contentb .mini_pico {
  position: relative;
  z-index: 0;
  width: 586px;
  text-align: center;
  overflow: hidden;
}
.mini_pic_contentb .mini_pico img {
  display: none;
}
.mini_pic_contentb .mini_pico .show {
  display: inline-block;
}
.mini_l_btn,
.mini_r_btn {
  width: 34px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin: -17px 0 0 0;
}
.mini_l_btn {
  background: url(/static/images/minihome/mini_l_btn.png) no-repeat 0 0;
  left: 0px;
}
.mini_r_btn {
  background: url(/static/images/minihome/mini_r_btn.png) no-repeat 0 0;
  right: 0px;
}
.mini_pic_contentb p {
  margin: 30px 20px 0 20px;
  border-top: 1px solid #e2dfdf;
  padding: 15px 0 0 0;
}
.mini_contentint_numb {
  color: #9a9a9a;
  font-weight: bold;
  font-size: 22px;
  font-family: arial;
  position: absolute;
  top: -36px;
  right: 0px;
}
.mini_contentint_numb b {
  color: #d70416;
  font-size: 28px;
}
/* mini-comment */
.mini-comment h3 {
  height: 38px;
  text-indent: 10px;
  background-color: #f7f7f7;
  font: 14px/38px '\5FAE\8F6F\96C5\9ED1';
}
.mini-comment-box dt {
  float: left;
  width: 68px;
}
.mini-comment-box dt .pic {
  display: block;
  height: 67px;
  border: 1px solid #e7e7e7;
  border-right: 0 none;
  cursor: pointer;
}
.mini-comment-box dt p {
  margin-top: 8px;
  height: 18px;
  overflow: hidden;
}
.mini-comment-box dt p a {
  color: #333;
}
.mini-comment-box dt p a:hover {
  color: #d70416;
}
.mini-comment-box dd {
  float: right;
  width: 562px;
}
.mini-comment-box dd textarea {
  display: block;
  padding: 5px 10px;
  width: 540px;
  height: 57px;
  line-height: 20px;
  overflow: auto;
  resize: none;
  border: 1px solid #e7e7e7;
  color: #e7e7e7;
  font-size: 12px;
}
.mini-comment-opt {
  margin-top: 8px;
}
.mini-comment-opt span,
.mini-comment-opt span a {
  color: #666;
}
.mini-comment-opt span a {
  margin: 0 10px;
}
.mini-comment-opt span a:hover {
  color: #d70416;
}
.mini-comment-submit {
  width: 107px;
  height: 38px;
  border: 1px solid #c42f1c;
  font: 18px/38px '\5FAE\8F6F\96C5\9ED1';
  text-align: center;
  background-color: #d84a38;
  color: #fff;
}
.icon-yes,
.icon-no {
  display: inline-block;
  width: 19px;
  height: 17px;
  margin-right: 5px;
  background: url(/static/images/minihome/icon.png) no-repeat;
}
.icon-yes {
  vertical-align: -3px;
  background-position: -65px 0;
}
.icon-no {
  vertical-align: -5px;
  background-position: -91px 0;
}
.current .icon-yes {
  background-position: -117px 0;
}
.current .icon-no {
  background-position: -147px 0;
}
.mini-comment-list .mini-dl {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.mini-comment-list dt {
  float: left;
  width: 75px;
}
.mini-comment-list dd {
  float: right;
  width: 525px;
  line-height: 20px;
}
.mini-comment-list h6 {
  height: 20px;
  overflow: hidden;
}
.mini-comment-list h6 a {
  font-weight: bold;
  color: #333;
}
.mini-comment-list h6 a:hover {
  color: #d70416;
}
.mini-comment-list p {
  height: 40px;
}

.w630 {
  width: 630px;
}
.w330 {
  width: 330px;
}
.mini-classify {
  padding-bottom: 70px;
}
/* second-silder */
.second-sprite {
  background: url(/static/images/minihome/second-sprite.png) no-repeat;
}
.second-silder {
  width: 100%;
  height: 304px;
  overflow: hidden;
  position: relative;
}
.second-silder .silder-item {
  width: 400%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.second-silder .silder-item li {
  width: 630px;
  height: 100%;
}
.second-silder .silder-item a,
.second-silder .silder-item a img {
  width: 100%;
  height: 100%;
  display: block;
}
.silder-item li {
  float: left;
}
.second-silder .silder-pointer {
  width: 100%;
  height: 73px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.second-silder .silder-pointer .bg {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.second-silder .silder-pointer .cont {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.second-silder .silder-pointer .cont p {
  float: left;
  padding: 12px 0 0 17px;
  width: 310px;
  overflow: hidden;
}
.second-silder .silder-pointer .cont p a {
  color: white;
  font: normal 24px/100% '\5FAE\8F6F\96C5\9ED1';
}
.second-silder .silder-pointer .cont p a:hover {
  text-decoration: none;
}
.second-silder .silder-pointer .cont p span {
  display: block;
  padding: 8px 0 0;
  color: white;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 18px;
  overflow: hidden;
}
.second-silder .silder-pointer ul {
  position: absolute;
  right: -10px;
  bottom: 11px;
  width: 300px;
  height: auto;
  background: none;
}
.second-silder .silder-pointer li {
  float: left;
  margin: 0;
  height: 50px;
  margin-right: 10px;
  width: 50px;
  border: none;
  box-shadow: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.second-silder .silder-pointer li.cur {
  opacity: 1;
  filter: alpha(opacity=100);
}
.second-silder .silder-pointer li a,
.second-silder .silder-pointer li img {
  display: block;
  width: 100%;
  height: 100%;
}
.second-silder .silder-pointer li.next,
.second-silder .silder-pointer li.prev {
  width: 12px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.second-silder .silder-pointer li.next a,
.second-silder .silder-pointer li.prev a {
  display: block;
  width: 12px;
  height: 100%;
  outline: none;
}
.second-silder .silder-pointer li.prev a {
  background-position: -52px 18px;
}
.second-silder .silder-pointer li.next a {
  background-position: -65px 18px;
}
.second-silder .silder-pointer li.prev a:hover {
  background-position: -77px 18px;
}
.second-silder .silder-pointer li.next a:hover {
  background-position: -89px 18px;
}
.second-silder .silder-pointer a.cur {
  width: 50px;
  height: 54px;
  background-position: 0 0;
  display: none;
  position: absolute;
  bottom: 11px;
  right: 218px;
  cursor: pointer;
  outline: none;
}
/* second-recommend */
.second-recommend {
  width: 100%;
  height: 286px;
  margin-top: 20px;
  overflow: hidden;
}
.second-recommend h3 {
  height: 27px;
}
.second-recommend h3 strong {
  font-family: '\5FAE\8F6F\96C5\9ED1';
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: #d70416;
  width: 109px;
  float: left;
  height: 20px;
  line-height: 100%;
  padding: 3px 0 4px;
  overflow: hidden;
}
.second-recommend h3 span {
  float: left;
  width: 187px;
  height: 13px;
  margin: 8px 0 0 9px;
  background: url(/static/images/minihome/bg-txt.png) no-repeat 0 -54px;
}
.second-recommend .second2-silder,
.second-recommend .module {
  width: 100%;
  height: 230px;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}
.second-recommend a.prev,
.second-recommend a.next {
  width: 25px;
  height: 45px;
  position: absolute;
  top: 52px;
  display: block;
  outline: none;
}
.second-recommend a.prev {
  left: -25px;
  background-position: -152px 0;
}
.second-recommend a.next {
  right: -25px;
  background-position: -177px 0;
}
.second-recommend a.prev:hover {
  background-position: -102px 0;
  filter: alpha(opacity=70);
}
.second-recommend a.next:hover {
  background-position: -127px 0;
  filter: alpha(opacity=70);
}
.second-recommend ul {
  width: 600%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.second-recommend ul li {
  width: 310px;
  height: 100%;
  float: left;
  margin-right: 10px;
  _display: inline;
}
.second-recommend ul li a.pic,
.second-recommend ul li a.pic img {
  width: 100%;
  height: 150px;
  display: block;
}
.second-recommend ul li p {
  padding-top: 10px;
}
.second-recommend ul li p .title {
  word-wrap: normal;
  font: normal 18px/100% '\5FAE\8F6F\96C5\9ED1';
  color: #333;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  height: 20px;
  overflow: hidden;
  width: 310px;
}
.second-recommend ul li p .title:hover {
  text-decoration: none;
  color: #ff0000;
}
.second-recommend ul li p .info {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #999;
  line-height: 18px;
  padding: 0;
}
/*second-list*/
.second-list {
  border-top: 5px solid #5d5d5d;
  width: 100%;
  overflow: hidden;
}
.second-list ul {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
.second-list ul li {
  padding: 19px 0 0 20px;
  width: 670px;
  height: 149px;
  float: left;
  clear: both;
}
.second-list ul li.line {
  height: 1px;
  padding: 0;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid white;
  background: #e0e0e0;
}
.second-list ul li .pic,
.second-list ul li .pic img {
  display: block;
  width: 130px;
  height: 130px;
}
.second-list ul li .pic {
  float: left;
}
.second-list ul li p {
  float: left;
  padding-left: 20px;
  width: 439px;
  height: 135px;
  overflow: hidden;
}
.second-list ul li p a.title {
  color: #333;
  font: normal 18px/100% '\5FAE\8F6F\96C5\9ED1';
  padding: 0;
  display: block;
  height: 25px;
  white-space: nowrap;
  width: 435px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.second-list ul li p span.info {
  display: block;
  font: normal 12px/24px '\5b8b\4f53';
  color: #999;
  padding-top: 10px;
  height: 78px;
  word-wrap: break-word;
  word-break: break-all;
}
.second-list ul li p span.info a {
  display: inline-block;
  color: #d70416;
}
.second-list ul li p span.info a:hover {
  text-decoration: underline;
  color: #d70416;
}
.second-tag {
  float: left;
  font-size: 12px;
  color: #999;
  margin-top: 3px;
  line-height: 100%;
}
.second-tag a {
  color: #86b6d0;
  margin-right: 12px;
  display: inline-block;
  zoom: 1;
}
.second-tag a:hover {
  text-decoration: underline;
  color: #86b6d0;
}
.second-link {
  float: left;
  padding-right: 5px;
  line-height: 14px;
  margin-top: 3px;
}
.second-link a {
  display: inline-block;
  height: 14px;
  padding-left: 20px;
  color: #999;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.second-link a:hover {
  color: #999;
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.second-link a.view {
  background-position: 0 -98px;
}
.second-link a.comment {
  background-position: 0 -149px;
}
.second-link em {
  color: #cdcdcd;
  padding: 0 10px;
  font-size: 12px;
}
.second-list ul li.hover,
.second-list ul li:hover {
  background: #fafafa;
}
.second-list ul li.hover p a.title,
.second-list ul li:hover p a.title {
  color: #e60000;
  padding: 0;
}
.second-list .more {
  width: 183px;
  height: 40px;
  color: white;
  font: bold 18px/38px '\5FAE\8F6F\96C5\9ED1';
  display: block;
  text-align: center;
  background-position: 0 -32px;
  margin: 10px auto 0;
  _line-height: 40px;
}
.second-list .more:hover {
  text-decoration: none;
  background-position: 0 -73px;
}
.second-list .mini-handle {
  float: left;
  margin-top: 3px;
}
