 /*css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{font: 12px/1.5 tahoma,arial,\5b8b\4f53; background: #fff;}

/*----@layout s----*/
.wrap{width:1010px;margin:0 auto;}
/*----@layout e----*/

/*----@base s----*/
.cf:before,
.cf:after{content:""; display: table-cell; }
.cf{zoom:1;}
.cf:after{clear:both;}
.l,.r{*display:inline;}
.l{float:left;}
.r{float:right;}
.tof {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.icon{background-image:url(../../../images/www/gwm/icon.png);background-repeat: no-repeat; }
img{vertical-align:middle;}
/*----@base e----*/

/*----@header s----*/
.header .logo{padding-top: 10px;}
.header .logo strong{vertical-align: bottom;margin-left:4px;}
.header{height:74px;background-color: #F2F2F2;
		background: -moz-linear-gradient(top,  #F2F2F2 0%, #FAFAFA 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2F2F2), color-stop(100%,#FAFAFA)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #F2F2F2 0%,#FAFAFA 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #F2F2F2 0%,#FAFAFA 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #F2F2F2 0%,#FAFAFA 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #F2F2F2 0%,#FAFAFA 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F2F2', endColorstr='#FAFAFA',GradientType=0 ); /* IE6-8 */
}
:root .header{filter:none;}
/*----@header e----*/

/*----@banner s----*/
.banner{overflow:hidden;height:596px;background:url(../../../images/www/gwm/r_x_bottom.png) repeat-x scroll 0 bottom #eee;}
.banner__in{height: 474px;background:url(../../../images/www/gwm/bg.jpg) no-repeat scroll center 0 #887593; }
.banner .wrap{position: relative;}
.banner__mobile,
.banner__des,
.banner__app{position: absolute;
	/*-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;*/
}
.banner__mobile{left:0;width:388px;height:596px;background: url(../../../images/www/gwm/mobile.png) no-repeat scroll 0 0;
	-webkit-animation:mobile-anim 1s ease-in-out;
	-moz-animation:mobile-anim 1s ease-in-out;
	-o-animation:mobile-anim 1s ease-in-out;
	-ms-animation:mobile-anim 1s ease-in-out;
	animation:mobile-anim 1s ease-in-out;
}
.banner__des{right:45px;top: 63px;height:188px;width:553px;background: url(../../../images/www/gwm/gwm_des.png) no-repeat scroll 0 0;
	-webkit-animation:des-anim 1s ease-in-out;
	-moz-animation:des-anim 1s ease-in-out;
	-o-animation:des-anim 1s ease-in-out;
	-ms-animation:des-anim 1s ease-in-out;
	animation:des-anim 1s ease-in-out;
}
.banner__app{right:110px;top:310px;height:223px;width:484px;}
.gwm_app__iphone,
.gwm_app__android{width:242px;}
.gwm_app__iphone__down,
.gwm_app__android__down{display:block;width:215px;height:65px;}
.gwm_app__iphone__down{background-position: 0 -172px;}
.gwm_app__android__down{background-position: 0 -240px;}
.gwm_app_iphone__code,
.gwm_app_android__code{height:126px;margin-top:34px;padding-left: 133px;color:#fff;font-weight:700;font-family:\5FAE\8F6F\96C5\9ED1;font-size: 16px;}
.gwm_app_iphone__code{background-position: 0 -311px;}
.gwm_app_android__code{background-position: 0 -440px;}
/*----@banner e----*/

/*----@main s----*/
.main{background-color:#fff;height:350px;font-family:\5FAE\8F6F\96C5\9ED1;}
.main .wrap{padding-top:70px;}
.main .col-1,
.main .col-2,
.main .col-3{position: relative;height:102px;padding-top:110px;width:336px;border-right:1px solid #e8e8e8;text-align: center;}
.main .col-3{border-right:none;}
.main .icon{position: absolute;top:2px;left:50%;margin-left:-48px;width:92px;height: 27px;padding-top: 65px;color:#fff;font-size: 16px;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.main dl:hover .icon{top:-20px;}
.main .find{background-position: 0 0;}
.main .wish{background-position: -92px 0;}
.main .favour{background-position: -184px 0;}
.main .des_title{color:#333;font-weight:700;font-size:18px;}
.main .des_content{margin-top:16px;color:#999;font-size:14px;}
/*----@main e----*/

/*----@content s----*/
.content{height:526px;background:url(../../../images/www/gwm/r_x_top.png) repeat-x scroll 0 top #e5e5e5;font-family:\5FAE\8F6F\96C5\9ED1;}
.slider_title{margin-left:110px;margin-bottom:25px;padding-top: 34px;}
.slider_title strong{font-size:22px;color:#333;margin-right:13px;}
.slider_title span{text-transform: uppercase;color:#999;font-size:16px;}
.slider{height:358px;width:832px;padding:0 60px;margin:0 auto;}
/*----@content e----*/

/*----@slider s----*/
.slider{position: relative;}
.slider .prev,
.slider .next{position: absolute;top:50%;margin-top:-23px;width:46px;height:46px;opacity: .5;filter:alpha(opacity=50);}
.slider .prev:hover,
.slider .next:hover{opacity:1;filter:opacity(alpha=100);}
.slider .prev{left:0;background-position:-56px -123px;}
.slider .next{right:0;background-position: 0 -123px;}
.slider_content{white-space: nowrap;font-size:0;overflow: hidden;}
.slider_content img{border:1px solid #dadada;margin-right:8px;}
/*----@slider e----*/



/*----@b2clinks s----*/
.b2c-links{ width: 980px;margin:0 auto; overflow: hidden;padding-bottom:20px;}
.b2c-links ul{ overflow: hidden; width:115%;}
.b2c-links li{ color: #999; float: left; overflow: hidden;margin:20px 19.3px 0 0; border: 1px solid #e0e0e0; width: 145px; height: 145px;} 
.b2c-links li a{  color: #999;}
.b2c-links li span{ display: block; text-align: center; color: #333;}
.b2c-links li img.b2c-logo{display: block; margin: 38px auto 3px auto; height: 47px;}
.b2c-links li strong{display: block; padding: 5px 10px;}
.b2c-links li strong a{ font-weight: bold; color: #333;}
.b2c-links li p{ margin: 0; padding: 3px 10px;}
.b2c-links li p a{ width: 47%; display: inline-block; line-height: 21px;} 
.b2c-links li a:hover{color: #eb7e00;}
.business {background-color: #eb7e00;}
/*----@b2clinks e----*/

/*----@footer s----*/
.footer{background: #f7f7f7; border-top: 1px solid #e6e6e6; text-align: center; padding: 10px; line-height: 25px;} 
.footer-links a{margin: 0 10px; color: #666; text-decoration: none;}
.footer-links a:hover{ color: #eb7e00; text-decoration: underline;}
.footer-copyright{color: #999;}
.footer img{ vertical-align: bottom;margin: 0 3px;}
/*----@footer e----*/

/*----@keframe s----*/
@-webkit-keyframes mobile-anim{
	0%{
		left:-400px;opacity: 0;
	}
	100%{
		left:0px;opacity:1;
	}
}
@-moz-keyframes mobile-anim{
	0%{
		left:-400px;opacity: 0;
	}
	100%{
		left:0px;opacity:1;
	}
}
@-o-keyframes mobile-anim{
	0%{
		left:-400px;opacity: 0;
	}
	100%{
		left:0px;opacity:1;
	}
}
@-ms-keyframes mobile-anim{
	0%{
		left:-400px;opacity: 0;
	}
	100%{
		left:0px;opacity:1;
	}
}
keyframes mobile-anim{
	0%{
		left:-400px;opacity: 0;
	}
	100%{
		left:0px;opacity:1;
	}	
}

/*----@des_animation s-----*/
@-webkit-keyframes des-anim{
	0%{
		right:-400px;opacity: 0;
	}
	100%{
		right:45px;opacity:1;
	}
}
@-moz-keyframes des-anim{
	0%{
		right:-400px;opacity: 0;
	}
	100%{
		right:45px;opacity:1;
	}
}
@-o-keyframes des-anim{
	0%{
		right:-400px;opacity: 0;
	}
	100%{
		right:45px;opacity:1;
	}
}
@-ms-keyframes des-anim{
	0%{
		right:-400px;opacity: 0;
	}
	100%{
		right:45px;opacity:1;
	}
}
keyframes des-anim{
	0%{
		right:-400px;opacity: 0;
	}
	100%{
		right:45px;opacity:1;
	}	
}
/*----@des_animation e-----*/
/*----@keframe e----