/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{font: 12px/1.5 tahoma,arial,\5b8b\4f53; background: #fff;}

.clear-fix:after,
.clear-fix:before{
    content:" ";
    display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.autofill{display:none;position:absolute;z-index:999;border:2px solid #FE8711;width:494px;height:412px;background-color: #fff}
.autofill-content{position:relative;z-index:100;width:439px;height:412px;margin-left:28px;margin-right:28px;overflow:hidden;background:url(../../images/autofill/autofill_rx.png) repeat-x scroll 0 0 transparent;}
.autofill-slider{position:absolute;white-space:nowrap;border-left:1px dashed #FFCC99;padding-bottom:400px;margin-bottom:-400px;}
.autofill .category{width:145px;padding-bottom:400px;margin-bottom:-400px;border-right:1px dashed #FFCC99;display: inline-block;*display: inline;*zoom: 1;}
.autofill .category dt{position:relative;z-index:10;height:34px;line-height:34px;margin-bottom:14px;text-align:center;color:#999;}
.autofill .category .first{border-left:1px dashed #dedede;}
.autofill .category .item{height:20px;padding-left:4px;padding-right:28px;margin-bottom:7px;line-height:20px;cursor:pointer;}
.autofill .category .item-sub{background:url(../../images/autofill/autofill_icon.png) no-repeat scroll -104px -95px transparent;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}
.autofill .category .item-txt{float:left;width:90px;color:#000;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.autofill .category .item-count{float:right;display: none;}
.autofill .category .item b{font-weight:400;color:#f18100;}
.autofill .category .cur,
.autofill .category .item:hover{background-color:#FFE8C7;background-position:126px -95px;}
.autofill .category-hover{background-color:#FFF9F0;}
.autofill .category-hover dt{color:#fe8711;}
/*---tag s----*/
.autofill .sub-box{display:none;overflow:hidden;position: absolute;z-index:100;width:320px;height:378px;top:34px;left:174px;background-color:#f3f3f3;}
.autofill .sub-box .sub-item{display: none;}
.autofill .sub-box .sub-item.on { display: block;}
.autofill .sub-box .tags{padding:14px 0 14px 34px;border-top:1px dashed #dedede;margin-top:-1px;cursor: default;}
.autofill .sub-box .tags a{float:left;margin-right:14px;margin-top:8px;color:#333;height:22px;padding:0 10px;line-height:22px;text-align:center;border:1px solid #cdcdcd;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-8 */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
:root .autofill .sub-item .tags a{filter:none;}
.autofill .sub-item .tags .tag-cur,
.autofill .sub-item .tags a:hover{border-color:#F18100;}
.autofill .sub-item h3{color:#666;font-weight:700;}
/*---tag e----*/
.autofill-arrow{position:absolute;top:0;width:27px;height:41px;background-image:url(../../images/autofill/autofill_icon.png);background-repeat:no-repeat;cursor: pointer;}
.autofill-left{left:0;background-position:0 -50px;}
.autofill-right{right:0;background-position:-50px -50px;}
.autofill-left-disable{background-position:0 0;}
.autofill-right-disable{background-position:-50px 0;}
.autofill-close{position:absolute;z-index:100;right:0;bottom:0;width:48px;height:48px;background:url(../../images/autofill/autofill_icon.png) no-repeat scroll 0 -200px #f2f2f2;cursor: pointer; }