/*通用顶部 -Start-Lvzhuweng-20140103*/
.header-nav-box li a:hover{background-color:#4d4dbc}
.header-nav-box{background:#5656D1}
.header-nav-box li{border-color:#6B6BD6}
.header-nav-box li.cur a,.header-nav-box li.cur a:hover{color:#4C4C4C}
.header-nav-box li.cur,.header-nav-box li.cur a:hover{background-color:#F5F5F5;}
.header-search-content #query{border:none}
.header-tools-search{margin-top:0;}
.header-box .country-box{top:40px;}
.header-rearch-submit,.header-nav-box{background:#5656d1}
.header-rearch-submit:hover{background-color:#3434BC}
.header-nav-back s{border-left-color:#5656d1}
.header .top-country a{ color: #666;}
.header .top-country a:hover{ color: #f18100;}
/*通用顶部 -End-Lvzhuweng-20140103*/
.wp{width:980px;margin:0 auto; }
.fl{float:left;}
.fr{float:right;}
.clear-fix:after,
.clear-fix:before{content:" ";display:table;}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.list-h{overflow:hidden;}
.list-h li{float:left;}
img{vertical-align:top;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.md10{margin-bottom:10px;}
.mt14{margin-top:14px;}
.mt20{margin-top:20px;}
.ov{overflow:hidden;zoom:1}

.goods-list{width:750px;height:131px;padding:7px 0 0 10px;border:1px solid #acacf5;}
.goods-list li{width:250px;font-size:0;}
.goods-list .media{display:inline-block;*display:inline;*zoom:1;position:relative;width:150px;height:100px;vertical-align:bottom;}
.goods-list .media i{position:absolute;width:24px;height:20px;padding-left:3px;font-weight:700;font-family:\5B8B\4F53;color:#fff;top:-1px;left:-1px;font-style:normal;font-size:12px;background:url(../../images/tuan/icon.png) no-repeat 0 0 scroll;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/tuan/icon.png", sizingMethod="crop");}
.goods-list .txt{display:inline-block;*display:inline;*zoom:1;width:90px;padding-left:10px;line-height:24px;overflow:hidden;vertical-align:bottom;font-size:12px;}
.goods-list .des{display:inline-block;*display:inline;*zoom:1;margin-top:8px;color:#666;font-weight:700;font-size:12px;}
.goods-list .des:hover {color:#eb7e00;text-decoration:underline;}
.goods-list .new-price{color:#5656d1;font-family:Tahoma;font-weight:700;font-size:24px;}
.goods-list .new-price b{font-family:Arial;font-size:18px;}
.goods-list .old-price{display:block;font-weight:700;}
.tao-intro{width:190px;height:130px;padding:8px 0 0 16px;border:1px solid #E4E4E4;}
.tao-intro dt{margin-bottom:4px;font-size:14px;font-weight:700;color:#333;font-family:\5FAE\8F6F\96C5\9ED1;}
.tao-intro dd{padding-left:20px;line-height:22px;background:url(../../images/tuan/arrow.png) no-repeat 0 4px scroll;}
.tuan-1{border-bottom-color:#5e5ed6;}
.tuan-1 .floor-tit-more,.tuan-1 .floor-tit-num{background-color:#5e5ed6;}
.tuan-1 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#92B125}
.slider-1{border-color:#acacf5;color:#acacf5}
.slider-1 .slider-nav-li a,.slider-1 .more a{color:#5e5ed6}
.slider-1 li.cur a,.slider-1 .slider-nav-li a:hover{background:#5656d1;color:white}
.slider-1 .slider-nav-li em{border-color:#5656d1 transparent transparent;}
.slider-1 .slider-page a.cur, .slider-1 .slider-page a:hover{background-color:#5656d1}
.tuan-2{border-bottom-color:#7a5ed6}
.tuan-2 .floor-tit-more,
.tuan-2 .floor-tit-num{background-color:#7a5ed6}
.tuan-2 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#64B125}
.slider-2{border-color:#9d8cd7;color:#9d8cd7}
.slider-2 .slider-nav-li a,.slider-2 .more a{color:#7a5ed6;}
.slider-2 li.cur a,
.slider-2 .slider-nav-li a:hover{background:#7a5ed6;color:white}
.slider-2 .slider-nav-li em{border-color:#7a5ed6 transparent transparent;}
.slider-2 .slider-page a.cur, .slider-2 .slider-page a:hover{background-color:#7a5ed6;}
.tuan-3{border-bottom-color:#5e6fd6;}
.tuan-3 .floor-tit-more,
.tuan-3 .floor-tit-num{background-color:#5e6fd6;}
.tuan-3 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#5e6fd6}
.slider-3{border-color:#8d98db;color:#8d98db}
.slider-3 .slider-nav-li a,.slider-3 .more a{color:#8d98db}
.slider-3 li.cur a,
.slider-3 .slider-nav-li a:hover{background:#5e6fd6;color:white}
.slider-3 .slider-nav-li em{border-color:#5e6fd6 transparent transparent;}
.slider-3 .slider-page a.cur, .slider-3 .slider-page a:hover{background-color:#5e6fd6}
.tuan-4{border-bottom-color:#5e83d6}
.tuan-4 .floor-tit-more,
.tuan-4 .floor-tit-num{background-color:#5e83d6}
.tuan-4 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#5e83d6}
.slider-4{border-color:#91a7d7;color:#91a7d7}
.slider-4 .slider-nav-li a,.slider-4 .more a{color:#5e83d6;}
.slider-4 li.cur a,
.slider-4 .slider-nav-li a:hover{background:#5e83d6;color:white}
.slider-4 .slider-nav-li em{border-color:#91a7d7 transparent transparent;}
.slider-4 .slider-page a.cur, .slider-4 .slider-page a:hover{background-color:#5e83d6}
.tuan-5{border-bottom-color:#5e96d6;}
.tuan-5 .floor-tit-more,
.tuan-5 .floor-tit-num{background-color:#5e96d6;}
.tuan-5 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#5e96d6}
.slider-5{border-color:#8d98db;color:#8d98db}
.slider-5 .slider-nav-li a,.slider-5 .more a{color:#8d98db}
.slider-5 li.cur a,
.slider-5 .slider-nav-li a:hover{background:#5e6fd6;color:white}
.slider-5 .slider-nav-li em{border-color:#5e6fd6 transparent transparent;}
.slider-5 .slider-page a.cur, .slider-5 .slider-page a:hover{background-color:#5e6fd6}
.tuan-6{border-bottom-color:#5e7dd6;}
.tuan-6 .floor-tit-more,
.tuan-6 .floor-tit-num{background-color:#5e7dd6;}
.tuan-6 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#5e7dd6}
.slider-6{border-color:#8d98db;color:#8d98db}
.slider-6 .slider-nav-li a,.slider-6 .more a{color:#8d98db}
.slider-6 li.cur a,
.slider-6 .slider-nav-li a:hover{background:#5e6fd6;color:white}
.slider-6 .slider-nav-li em{border-color:#5e6fd6 transparent transparent;}
.slider-6 .slider-page a.cur, .slider-6 .slider-page a:hover{background-color:#5e6fd6}
.floor-tit{margin-top:24px;}
.tao-line{height:3px;margin:30px 0 20px;background-color:#5D5D5D;line-height:0;overflow:0;font-size:0;overflow:hidden;}
/*tao search start*/
.row-result{margin-top:16px;background-color:#fff}
.row-result .col-1{width:748px;}
.row-result .col-2{width:232px;}
.breadcrumb{margin-bottom:10px;font-size:14px;color:#666;}
.breadcrumb .search-key{color:#f89500;}
.row-result .mod{float:left;margin:0 17px 17px 0;}
.mod{width:212px;height:300px;border:1px solid #D6D6D6;padding:4px 9px 10px;font-size:12px;}
.mod .tit{margin-bottom:6px;line-height:1;}
.mod .tit a{color:#666;line-height:22px;}
.mod .tit a:hover{color:#f89500;}
.mod .mod-pic{position:relative;display:block;width:212px;height:212px;}
.mod .mod-pic .mod-price{position:absolute;width:100%;height:30px;line-height:30px;left:0;bottom:0;color:#ccc;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);}
:root .rgba{filter:none;}/*for IE9*/
.mod .mod-pic .mod-price del{float:left;margin-left:10px;_display:inline;}
.mod .mod-pic .mod-price span{float:right;margin-right:10px;_display:inline;}
.mod .mod-pic .mod-price em{color:#fff;padding:0 4px;}
.mod .mod-buy{height:40px;line-height:38px;padding:0 10px;background-color:#8DB500;}
.mod .mod-buy span{float:left;font-size:27px;font-family:Tahoma;color:#fff;}
.mod .mod-buy b{font-size:18px;font-family:arial;font-weight:400;}
.mod .mod-buy .mod-btn{width:74px;height:28px;line-height:28px;margin-top:6px;font-weight:700;font-family:\5FAE\8F6F\96C5\9ED1;text-align:center;float:right;color:#495e00;background-color:#E4FF00;-webkit-box-shadow:1px 2px 3px rgba(0,0,0,.1);-moz-box-shadow:1px 2px 3px rgba(0,0,0,.1);box-shadow:1px 2px 3px rgba(0,0,0,.1);}
.mod-buy-list{border:1px solid #ccc;background-color:#5e6fd6;-webkit-box-shadow:0 1px 0 #5e6fd6;-moz-box-shadow:0 1px 0 #5e6fd6;box-shadow:0 1px 0 #5e6fd6;}
.mod-buy-list .tit{position:relative;padding:10px 0 0 15px;font-weight:700;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;background-color:#fafafa;}
.mod-buy-list ul{margin-top:-3px;}
.mod-buy-list li{padding:15px 0 15px 15px;border-top:1px solid #fff;border-bottom:1px solid #ECECEC;overflow:hidden;zoom:1;}
.mod-buy-list .pic{float:left;width:50px;margin-right:10px;_display:inline;}
.mod-buy-list .txt{display:table-cell;width:2000px;*width:auto;*display:inline;}
.mod-buy-list .txt a{color:#333;font-weight:700;}
.mod-buy-list .txt p{color:#999;line-height:16px;}
/*tao search end*/
/* page */
.page { margin:20px 0 30px;}
.page .cur { background-color:#8db500;}
.page a:hover,.page .page-input a {background-color:#8db500;border-color:#8db500;}
.page .page-input input { border-color:#8db500;}
.business{background-color:#5656d1;}
/*tao hover s*/
.floor-news-style li span a:hover,
.floor-news-more:hover,
.floor-tit-links a:hover,
.floor-news-style li p a:hover,
.slider-item .tit:hover,
.b2c-links li p a:hover{color:#eb7e00;text-decoration:underline;}
/*tao hover e*/
/* 部分CSS */
.ad_bott_in {height:92px;background:url(../images/tao/ad_bott_2.png) no-repeat center top transparent;}
.focusin{ color:#000;}
/*Layout-Start-gaotian-20130830*/
s,u,small,ins{margin:0;padding:0}
small{font-style:normal;font-size:12px;}
.pz{position:relative;z-index:0}
s{text-decoration:none}
/*Layout-End-gaotian-20130830*/
/*城市选择-Start-gaotian-20130830*/
.cityChange{position:relative;z-index:110;height:18px;padding-bottom:7px;}
.ico_city{display:inline-block;width:14px;height:15px;background:url(../../images/tuan/bg_tuan.png) no-repeat;vertical-align:middle}
.cityChange b{color:#666}
.cityChangeMsg{color:#999;font-weight:normal;text-decoration:none}
.cityChangeMsg a{color:#999}
.cityChangeMsg a:hover{color:#5656d1}
/*城市选择-End-gaotian-20130830*/
/*热门城市列表-Start-gaotian-20130830*/
.cityListBx{margin:10px auto;border:1px solid #d7d7d7;}
.hotCityList{overflow:hidden;padding:18px 87px 20px;border-bottom:1px solid #dbdbdb;font-size:14px;zoom:1;background:-moz-linear-gradient(bottom,#f4f4f4,#fff);background:-webkit-linear-gradient(bottom,#f4f4f4,#fff);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4,grandientType=1);}
.hotCityList strong,.hotCityList a{display:inline;float:left;margin-top:8px;font-weight:bold;}
.hotCityList strong{margin-left:-65px}
.hotCityList a{margin-left:21px;color:#5656d1;white-space:pre}
.hotCityList a:hover{text-decoration:underline}
.cityListTit{margin:18px 0 6px 20px;font-weight:bold;color:#fff;font-size:14px;line-height:16px;}
.cityListTit span{display:inline-block;position:relative;z-index:0;margin-right:32px;padding:8px 18px;color:#999;cursor:pointer}
.cityListTit s{display:none;position:absolute;top:100%;left:50%;z-index:1;margin-left:-3px;border:6px dashed transparent;border-top:6px solid #5656d1;}
.cityListTit .cur{background:#5656d1;color:#fff}
.cityListTit .cur s{display:block;}
.cityList{overflow:hidden;font-size:14px;line-height:16px;text-align:center;zoom:1}
.cityList ol{overflow:hidden;ext-align:left;zoom:1}
.cityList b{position:absolute;top:16px;left:30px;z-index:1;float:left;padding:7px 0 6px 12px;background-image:url(../../images/tuan/bg_tuan_new.png);background-repeat:no-repeat;background-position:-132px 0;color:#fff;font-weight:normal;font-size:18px;line-height:19px;font-family:"Microsoft YaHei";}
.cityList b s{position:absolute;top:0;left:100%;width:19px;height:32px;background-image:url(../../images/tuan/bg_tuan_new.png);background-position:-248px 0}
.cityList .cur{background-color:#f9f9f9}
.cityList .cur b{background-position:-132px -34px}
.cityList .cur b s{background-position:-248px -34px}
.cityList li{position:relative;z-index:0;overflow:hidden;margin-bottom:-4px;padding:14px 0 18px 116px;border-bottom:1px dotted #ccc;zoom:1}
.cityList-letter li{padding-left:70px;}
.cityList li li{display:inline;position:static;float:left;width:auto;padding:0 20px;margin:9px 0 6px -1px;_margin-left:-2px;border:none;border-left:1px solid #e4e4e4;background:none transparent;text-align:center}
.cityList a{color:#333;}
.cityList a:hover{color:#5656d1;/*font-weight:bold;*/text-decoration:underline}
.cityList .b{font-weight:bold}
.liCur{background:#f9f9f9;}
.tabCont{display:none;}
.tabCur{display:block;}
/*热门城市列表-End-gaotian-20130830*/
/*搜索结果页-Start-gaotian-20130830*/
.searchBox{margin:10px auto 0;}
.searchMsg{display:block;padding:12px 0 12px 36px;_padding-bottom:10px;border-top:1px solid #d8d8d8;background:#ececec;line-height:14px;font-family:"Microsoft Yahei",SimHei;zoom:1}
.searchMsg b{color:#5656d1;font-weight:normal}
.searchMsg s{position:absolute;top:50%;left:11px;z-index:1;width:19px;height:15px;margin-top:-7px;background:url(../../images/tuan/bg_tuan.png) no-repeat -126px 0;}
.searchTypeSlt{overflow:hidden;padding:0 18px;border:1px solid #d8d8d8;color:#808080}
.searchTypeSlt li{position:relative;z-index:0;height:23px;overflow:hidden;padding:11px 66px 6px 58px;margin-bottom:-2px;border-bottom:1px solid #eee;zoom:1}
.searchTypeSlt b{margin-left:-59px;}
.searchTypeSlt a{display:inline-block;margin:0 0 7px 8px;*margin-bottom:8px;color:#5656d1;}
.searchTypeSlt a:hover{text-decoration:underline}
.searchTypeSlt .sltAll{display:inline-block;/*width:42px;*/padding:2px 8px 3px;_padding:1px 8px 4px;background:#5656d1;border-radius:8px;/*background:url(../../images/tuan/bg_tuan.png) no-repeat 0 -38px;*/color:#fff;font-weight:bold;line-height:13px;text-align:center;*vertical-align:-2px}
.searchTypeSlt a ins{color:#808080}
.searchTypeSlt .sltAll ins{color:#fff}
.searchTypeSlt span{position:absolute;top:9px;right:0;z-index:1;padding-right:18px;cursor:pointer}
.searchTypeSlt span s{position:absolute;top:50%;right:3px;z-index:1;width:9px;height:5px;margin-top:-1px;background-image:url(../../images/tuan/bg_tuan.png);background-position:-126px -20px;font-size:0;}
.searchTypeSlt span s.cur{background-position:-126px -27px;}
.searchListBx{display:inline;float:left;width:1000px;/*width:740px;*/}
.searchListNav{width:100%;overflow:hidden;margin-bottom:10px;padding-left:1px;}
.searchListNav li{display:inline;float:left;height:26px;overflow:hidden;margin-left:-1px;border:1px solid #ccc;line-height:14px;}
.searchListNav s{display:inline-block;width:7px;height:8px;margin-left:5px;background-image:url(../../images/tuan/bg_tuan.png);background-position:-149px 0;font-size:0;}
.searchListNav a{display:inline-block;padding:6px 11px;color:#666;text-align:center;}
.searchListNav .cur a,.searchListNav a:hover{background:#666;color:#fff;}
.searchListNav .cur s,.searchListNav a:hover s{background-position:-159px 0;}
.searchListNav .cur s.down{background-position:-169px 0;}
.searchListBx .mod-proItem{margin-top:10px;margin-right:10px;}
.searchListBx .layout-add{width:980px;}
.tuan-othorLook{margin-top:22px;font-size:20px;line-height:22px;font-family:"Microsoft YaHei";}
/*团产品模块*/
.index-floor-content .mod-proItem{margin-top:10px;margin-left:9px}
.mod-list-proItem .mod-proItem{}
.mod-proItem{display:inline;float:left;width:235px;padding-bottom:10px;border:1px solid #d8d8d8;color:#999;line-height:14px;}
.mod-proItem a{color:#999}
.mod-proItem a:hover,.mod-proItem-sell s{color:#5656d1}
.mod-proItem dt,.mod-proItem dd{padding-right:10px;padding-left:10px;transition:background 0.6s;}
.mod-proItem dt{position:relative;z-index:0;padding-top:11px;padding-bottom:10px;}
.mod-proItem dt a{color:#333}
.mod-proItem-picbox{padding-bottom:8px;}
.mod-proItem-pic,.mod-proItem-pic img{width:215px;height:150px;}
.mod-proItem-pic{display:block;position:relative;z-index:0;overflow:hidden;}
.mod-proItem-pic span{position:absolute;bottom:0;left:0;z-index:1;width:205px;padding:8px 10px;background:#000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);background:rgba(0,0,0,0.5);color:#fff;line-height:18px;opacity:0;filter:alpha(opacity=0);transition:opacity 1s;}
.mod-proItem-cur .mod-proItem-pic span{opacity:1;filter:alpha(opacity=100);}
.mod-proItem-cur dt,.mod-proItem-cur .mod-proItem-picbox{background:#5656d1;}
.mod-proItem-cur dt a,.mod-proItem-cur .mod-proItem-picbox a,.mod-proItem-cur dt a:hover,.mod-proItem-cur .mod-proItem-picbox a:hover{color:#fff;}
.mod-proItem-tit{display:block;height:36px;overflow:hidden;margin-top:8px;color:#666;font-weight:bold;font-size:14px;line-height:18px;}
.mod-proItem-price{padding-top:4px;padding-bottom:12px;font-family:Arial;}
.mod-proItem-price em,.mod-proItem-price span{color:#e22b26;font-weight:bold;}
.mod-proItem-price p{float:right;}
.mod-proItem-price span em{font-size:16px;line-height:18px;}
.mod-proItem-price del{margin-right:16px;}
.mod-proItem-sell a{float:right;}
.mod-proItem-tagbox{position:absolute;top:-5px;right:10px;z-index:0;font-size:0;line-height:0}
.mod-proItem-tagbox sup{display:inline-block;width:42px;height:39px;margin-left:6px;background-image:url(../../images/tuan/tag.png);background-repeat:no-repeat}
.mod-proItem-tagjrt{background-position:-47px 0}
/*分页*/
.page .cur { background-color:#5656d1;}
.page a:hover,.page .page-input a {background-color:#5656d1;border-color:#5656d1;}
.page .page-input input { border-color:#5656d1;}
.page span.pagenum{width:auto;white-space:nowrap}
/*侧边栏*/
.searchSide{display:inline;float:right;width:220px;padding:4px 8px;border:1px solid #a8a8ee;}
.searchSide dl{overflow:hidden;padding:14px 0 16px;border-bottom:1px dotted #dadada;}
.searchSide dt a{color:#333;font-weight:bold;}
.searchSide dd{color:#999;line-height:18px}
.searchSide .tit,.searchSide .descript{display:inline;float:right;width:162px;}
.searchSide dt{margin:-4px 0 0}
.searchSide .img{float:left}
.searchSide .img img{width:50px;height:50px;}
.searchSide ul{list-style:square;overflow:hidden;padding:4px 0 20px 14px;font-size:10px;color:#5656d1}
.searchSide ul li{padding:4px 0;}
.searchSide a{color:#777;font-size:12px;}
a:hover{color:#5656d1}
.floor-tit-more a:hover{ color:#fff;}
/*搜索结果页-End-gaotian-20130830*/
/* 无搜索结果页 */
/*.no-search{ height:260px;margin-right:22px;*//* width:726px;*//*overflow:hidden;background:#f7f7f7 url(../../images/tuan/result_nothing_bg.png) no-repeat 20px center;border:1px #d8d8d8 solid;}
.no-search-txtwrap{display:inline;float:left;width:396px;margin-left:356px;padding:30px 30px 30px 0;}
.no-search-txt{ position:relative;line-height:32px;padding:2px 10px;margin:0;font-size:14px;color:#000;font-weight:bold;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;background:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.43);-moz-box-shadow:0 1px 3px rgba(0,0,0,.43);box-shadow:0 1px 3px rgba(0,0,0,.43);}
.no-search-txt .txt-blue{ color:#5656d1;}
.no-search-arrow{ display:inline-block;width:14px;height:13px;background:url(../../images/tuan/no-search-arrow.png) no-repeat center center;position:absolute;left:-14px;top:16px;}
.no-search-txtwrap ul{ line-height:27px;padding-top:15px;color:#999;}
.no-search-txtwrap li strong{ font-weight:bold;font-size:14px;color:#000;}*/
.no-search{width:840px;height:260px;margin:0 auto;overflow:hidden;background:url(http://staticcdn.b5m.com/static/images/search/err.jpg) no-repeat 40px center;}
.no-search-txtwrap{display:inline;float:left;margin-left:356px;padding-top:80px;white-space:nowrap}
.no-search-txtwrap ul{padding-top:4px;color:#999;line-height:20px;}
.no-search-txtwrap h4{color:#666;font-weight:bold;font-size:14px;font-family:"Microsoft YaHei";}
.no-search-txtwrap h4 em{display:inline-block;font-weight:bold;color:#5656d1;max-width:400px;white-space:nowrap; text-overflow: ellipsis; overflow: hidden; vertical-align: text-top;}
.no-search-txtwrap p{color:#999;}
/*图片垂直居中*/
.img-vmiddle,.logo-list li a{display:table-cell;vertical-align:middle;*display:block;*font-size:349px;*font-family:Arial;}
.img-vmiddle img,.logo-list li img{vertical-align:middle;}
/* 附加信息 */
.floor-tit-more a:hover{ text-decoration:underline;}
/*团购首页-Start-gaotian-20130911*/
.index-floor-content{display:inline;float:right;width:738px;margin-bottom:-10px;}
.index-floor{margin-top:10px}
.clumn-tit-circle{color:#5656d1;font-weight:bold;font-size:16px;line-height:18px;font-family:"Microsoft YaHei";}
.clumn-tit-circle s{display:inline-block;margin-right:4px;width:24px;height:16px;background:url(../../images/tuan/bg_tuan_new.png) no-repeat 0 -70px;vertical-align:middle;*vertical-align:1px;_vertical-align:-4px;}
/*侧边栏*/
.index-floor-side,.tuan-layout-side{float:left;width:240px;border-right:1px solid #d8d8d8;border-left:1px solid #d8d8d8;}
.tuan-layout-side{float:right}
.index-floor-side h2{padding:12px 0 12px 19px;border-top:3px solid #5656d1;border-bottom:1px dotted #d8d8d8;color:#5656d1;font-weight:bold;font-size:20px;line-height:22px;font-family:"Microsoft YaHei";}
.index-floor-side h2 s{display:inline-block;padding-right:6px;font-size:24px;*line-height:26px;vertical-align:-2px;*vertical-align:0;}
.index-floor-side h3,.tuan-layout-side h3{overflow:hidden;padding:10px 10px 10px 20px;background:#f5f5f5;color:#666;font-size:12px;line-height:14px;text-align:right;zoom:1}
.index-floor-side .logo-list h3{margin-top:6px;border-bottom:1px solid #d8d8d8;background:url(../../images/tuan/bg_bd_index.gif) repeat-x 0 top}
.index-floor-side h3 b,.tuan-layout-side h3 b{float:left}
.index-floor-side h3 a,.tuan-layout-side h3 a{color:#999;}
.index-floor-side h3 a:hover,.tuan-layout-side h3 a:hover{color:#5656d1;}
/*推荐品牌*/
.layout-side h3{background:#f5f5f5 url(../../images/tuan/bg_bd.gif) repeat-x 0 top}
.logo-list{overflow:hidden;border-bottom:1px solid #d8d8d8}
.logo-list ul{overflow:hidden;margin:0 12px;zoom:1}
.logo-list li,.logo-list li a{width:108px;height:76px;*font-size:69.84px}
.logo-list li{display:inline;float:left;overflow:hidden;margin:-1px;border-top:1px solid #d8d8d8;border-left:1px solid #d8d8d8;text-align:center}
/*关键字列表*/
.index-tag{overflow:hidden}
.index-tag-box{position:relative;z-index:0;height:226px;overflow:hidden;padding:2px 2px 0;}
.index-tag-box a{float:left;_display:inline;margin:2px 2px 0 0;text-align:center;font-size:20px;font-family:\5FAE\8F6F\96C5\9ED1;color:#fff;opacity:0.9;filter:alpha(opacity=90);overflow:hidden;}
.index-tag-box a:hover{opacity:1;filter:aplpha(opacity=100);}
.index-tag-box .tag-1{width:78px;height:60px;line-height:62px;background-color:#f98f48;}
.index-tag-box .tag-2{width:78px;height:60px;line-height:62px;background-color:#eb628c}
.index-tag-box .tag-3{width:74px;height:60px;line-height:62px;background-color:#9ad164}
.index-tag-box .tag-4{width:120px;height:55px;line-height:56px;background-color:#5aa2d1}
.index-tag-box .tag-5{width:112px;height:55px;line-height:56px;background-color:#61ca9f}
.index-tag-box .tag-6{width:78px;height:51px;line-height:56px;background-color:#63cec8}
.index-tag-box .tag-7{width:78px;height:51px;line-height:51px;background-color:#e16767}
.index-tag-box .tag-8{width:74px;height:51px;line-height:51px;background-color:#74c969}
.index-tag-box .tag-9{width:120px;height:51px;line-height:51px;background-color:#6e6ed2}
.index-tag-box .tag-10{width:112px;height:51px;line-height:51px;background-color:#5050e5}
/*右侧列表*/
.index-tab-nav{position:relative;z-index:0;margin:0 0 5px 9px;border:1px solid #d8d8d8;font-size:16px;line-height:18px;font-family:"Microsoft YaHei";}
.index-tab-nav span{display:inline-block;position:relative;z-index:1;width:120px;margin:-1px 2px -1px 16px;padding:3px 0;*padding:6px 0;text-align:center;letter-spacing:5px;cursor:pointer}
.index-tab-nav u{display:none;position:absolute;top:100%;left:50%;z-index:2;width:0;height:0;margin-left:-5px;font-size:0;border:10px dashed transparent;border-top:10px solid #5656d1;}
.index-tab-nav .cur{background:#5656d1;color:#fff}
.index-tab-nav .cur u{display:block;}
.index-tab-ico{display:inline-block;width:26px;height:30px;margin-right:4px;background-image:url(../../images/tuan/bg_index.png);background-repeat:no-repeat;vertical-align:-9px;*vertical-align:-6px;}
.tab-ico-meishi{background-position:0 -30px}
.tab-ico-yule{background-position:-26px -30px}
.tab-ico-shenghuo{background-position:-52px -30px}
.tab-ico-jiudian{background-position:-78px -30px}
.tab-ico-lvyou{background-position:-104px -30px}
.tab-ico-fuzhuang{background-position:-130px -30px}
.tab-ico-peishi{background-position:-156px -30px}
.tab-ico-shuma{background-position:-182px -30px}
.cur .tab-ico-meishi{background-position:0 0}
.cur .tab-ico-yule{background-position:-26px 0}
.cur .tab-ico-shenghuo{background-position:-52px 0}
.cur .tab-ico-jiudian{background-position:-78px 0}
.cur .tab-ico-lvyou{background-position:-104px 0}
.cur .tab-ico-fuzhuang{background-position:-130px 0}
.cur .tab-ico-peishi{background-position:-156px 0}
.cur .tab-ico-shuma{background-position:-182px 0}
.index-tab-content{display:none;overflow:hidden}
.tabCur{display:block;}
/*热点活动-翻页Scroll*/
.tuan-active-scroll .layout-scroll-cont{width:860px}
.tuan-active-scroll .layout-scroll-cont li,.tuan-active-scroll .layout-scroll-cont li img{width:200px;height:200px;}
.tuan-active-scroll .layout-scroll-cont li{margin-right:20px;}
.layout-scroll{position:relative;z-index:0;zoom:1}
.layout-scroll-prev,.layout-scroll-next{position:absolute;top:0;z-index:1;width:40px;height:200px;background:#f4f4f4;}
.layout-scroll-prev{left:0}
.layout-scroll-next{right:0}
.layout-scroll-prev s,.layout-scroll-next s{position:absolute;top:50%;left:50%;z-index:2;width:19px;height:37px;margin:-19px 0 0 -9px;background-image:url(../../images/tuan/bg_tuan_new.png);background-repeat:no-repeat;}
.layout-scroll-prev s{background-position:0 -95px}
.layout-scroll-next s{background-position:-20px -95px}
.layout-scroll-prev:hover s{background-position:0 -133px}
.layout-scroll-next:hover s{background-position:-20px -133px}
.layout-scroll-cont{overflow:hidden;margin:0 auto;}
.layout-scroll-cont ul{width:4000px;overflow:hidden;}
.layout-scroll-cont li{display:inline;float:left;}
/*团购首页-End-gaotian-20130911*/

/* 固定搜索联想框位置 */
#downList{ top:33px;left:250px;}
.searchListBx .page .all{white-space:nowrap}

/*团购热点分类-Start-gaotian-20131015*/
.classify-hot{border:1px solid #d8d8d8;border-top:none;}
.classify-hot-item{position:relative;z-index:0;overflow:hidden;padding:12px 54px 12px;border-top:1px solid #d8d8d8;line-height:14px;zoom:1}
.classify-hot-item strong{position:absolute;top:14px;_top:12px;left:0;z-index:1;width:54px;text-align:right}
.classify-hot-keywords{font-size:0;}
.classify-hot-keywords a,.classify-hot-keywords strong{font-size:12px;}
.classify-hot-keywords a{margin:0 10px;color:#5656d1;}
.classify-hot-keywords a:hover{text-decoration:underline}
.classify-hot-slt{font-size:0}
.classify-hot-slt strong{top:18px;font-size:12px;}
.classify-hot-slt a{display:inline-block;margin:1px 1px 0;padding:4px 9px 5px;border-radius:5px;color:#333;font-size:12px}
.classify-hot-slt a ins{color:#666}
.classify-hot-slt a:hover,.classify-hot-slt .slt{background:#5656d1}
.classify-hot-slt a:hover,.classify-hot-slt a:hover ins,.classify-hot-slt .slt,.classify-hot-slt .slt ins{color:#fff;}
.classify-hot-item sup{position:absolute;top:17px;right:15px;z-index:1;width:15px;height:15px;background-image:url(../../images/tuan/bg_tuan_new.png);background-repeat:no-repeat;cursor:pointer}
.classify-hot-item sup.cur{background-position:-15px 0}
.classify-hot-item .classify-hot-item-list-child{position:relative;overflow:hidden;margin-top:14px;padding:8px 4px;border:1px solid #d8d8d8;background:#f6f6f6;zoom:1}
.classify-hot-item .classify-hot-item-con{padding-left:44px}
.classify-hot-item-con strong{top:12px;top:14px\0;*top:14px;width:44px;}
/*.classify-hot-item-load p a{margin-bottom:20px;}
.classify-hot-item-load .classify-hot-item-list{height:24px;}*/
.classify-hot-item-list{overflow:hidden;height:24px;}
.classify-hot-item-list p{width:auto;height:auto;overflow:hidden;margin:0;padding:0}
/*团购热点分类-End-gaotian-20131015*/
/*详情页-Start-Gaotian-20131021*/
/*侧边*/
.detailBx{margin-top:20px;padding-bottom:25px;}
.tuan-layout-side-column{border:1px solid #d8d8d8;border-top:3px solid #5656d1;zoom:1}
.tuan-layout-side-column h2{padding:10px 0 10px 20px;background:#f5f5f5;color:#5656d1;font-weight:bold;font-size:14px;line-height:16px;}
.detailBx .tuan-layout-side-column h2{padding-left:10px;}
.detailBx .index-floor-side h3,.detailBx .tuan-layout-side h3{padding-left:10px;}
.tuan-layout-side{border:none;}
.tuan-layout-side a{color:#999}
.tuan-layout-side a:hover{color:#5656d1}
.tuan-layout-side h2 .txt-org{color:#f18100}
.tuan-detail-list-threetit ul{overflow:hidden;margin:22px 0 6px;zoom:1}
.tuan-detail-sidelist{overflow:hidden;padding:4px 0 20px;zoom:1}
.tuan-detail-list-threetit li{display:inline;float:left;width:68px;padding:12px 0 0 10px;line-height:13px}
.tuan-detail-side-hot{padding-bottom:10px}
.tuan-detail-side-hot ul{overflow:hidden;zoom:1}
.tuan-detail-side-hot li{display:inline;float:left;width:50px;padding:10px 0 0 10px;}
.tuan-layout_add{overflow:hidden}
.tuan-side-otherCity{zoom:1}
.tuan-side-otherCity .ov{height:86px;margin:4px 0 0}
.tuan-side-otherCity ul{overflow:hidden;margin:0;zoom:1}
.tuan-side-otherCity .ico-slide-up{display:inline;float:right;margin-right:16px;padding-bottom:10px;color:#5656d1;font-size:14px;line-height:16px;}
.ico-slide-up s{display:inline-block;width:17px;height:13px;background-image:url(../../images/tuan/bg_tuan_new.png);background-repeat:no-repeat;background-position:-17px -11px;}
.ico-slide-up-cur{margin-top:8px}
.ico-slide-up-cur s{background-position:0 -11px}
/***内容区***/
/*面包屑*/
.tuan-layout-cont{display:inline;float:left;width:718px;}
.tuan-layout-cont-crumbs{padding-bottom:8px;color:#999;line-height:14px;}
.tuan-layout-cont-crumbs a{color:#999}
.tuan-detail-infobx h2 a:hover,.tuan-detail-pro dt a:hover,.tuan-layout-cont-crumbs a:hover,.tuan-prod-compare .tuan-tit:hover,.txt-blue{color:#5656d1}
/*详情*/
.detailBx .tuan-layout-side{width:250px;}
.tuan-detail-pro{border:1px solid #d8d8d8}
.tuan-detail-info{padding:10px 10px 0 10px;border-bottom:1px solid #e4e4e4;}
.tuan-detail-infobx{position:relative;z-index:0;float:right;width:448px;padding:0 16px 0 10px;border-left:1px dashed #e4e4e4;}
.tuan-detail-infobx h2{height:130px;overflow:hidden;padding:4px 0;font-size:14px;line-height:22px;}
.tuan-detail-infobx h2 a{color:#333}
.tuan-detail-pro .pic img{width:208px;height:144px;border:1px solid #5656d1;}
.tuan-detail-pro .price{position:relative;z-index:0;padding-right:110px;height:54px;background:url(../../images/tuan/bg_tuan_detailpricebar.png) no-repeat;color:#fff;font-size:12px;}
.tuan-detail-pro .price_combo{margin-left:12px;vertical-align:text-bottom}
.tuan-detail-pro .price_combo s{font-weight:bold;font-size:23px;line-height:25px;font-family:Arial;text-decoration:none}
.tuan-detail-pro .price_combo b{font-weight:normal;font-size:32px;}
.tuan-detail-pro .price_combo em{position:absolute;top:50%;left:18px;z-index:1;margin-top:-8px;line-height:14px;}
.tuan-detail-pro .price_orig{float:right;padding-top:18px;padding-right:10px;line-height:14px;}
.tuan-detail-pro .price_orig del{margin-right:10px;}
.tuan-detail-pro .price a{position:absolute;top:8px;right:32px;z-index:1;width:80px;height:35px;}
.bt-tuan-buy{display:inline-block;position:relative;z-index:0;width:82px;height:33px;background:url(../../images/tuan/bg_tuan_new.png) no-repeat 0 -33px;color:#fff;font-size:16px;line-height:34px;font-family:"Microsoft YaHei";text-align:center}
.tuan-detail-descript{overflow:hidden;padding:18px 24px;color:#646464;line-height:22px;}
.tuan-detail-infobx small{position:absolute;bottom:0;left:0;z-index:1;width:460px;padding:7px 0 7px 24px;*padding:5px 0 5px 24px;background:#f5f5f5;color:#999;line-height:14px;}
.tuan-detail-infobx small s{display:inline-block;width:20px;height:20px;margin-right:8px;background:url(../../images/tuan/bg_tuan_new.png) no-repeat -44px -68px;vertical-align:-5px;_vertical-align:-3px;}
.tuan-detail-infobx small b{margin:0 2px;color:#eb7e00;font-weight:normal;font-size:20px;line-height:22px;font-family:"Microsoft YaHei",Simhei;vertical-align:-2px;}
/*商品比较*/
.tuan-layout-tab-tit{position:relative;z-index:0;height:30px;border:1px solid #d8d8d8;border-bottom:3px solid #5656d1;}
.tuan-layout-tab-tit li{display:inline;position:relative;z-index:1;float:left;margin-left:-1px;font-size:12px;line-height:14px;text-align:center;cursor:pointer}
.tuan-layout-tab-tit li a,.tuan-layout-tab-tit li a:hover{display:block;width:101px;padding:8px 0;color:#333;}
.tuan-layout-tab-tit .cur a,.tuan-layout-tab-tit .cur,.tuan-layout-tab-tit li a:hover{background:#5656d1;color:#fff;}
.tuan-prod-compare-list{overflow:hidden;margin-right:-40px;padding-top:10px;}
.tuan-prod-compare-list .mod-proItem{width:232px;margin:8px 8px 0 0}
/*评论*/
.ic{ display:inline-block;height:15px;width:15px;vertical-align:middle;background:url(../../images/zdm/icon.png) no-repeat;}
.tuan-layout-comments{overflow:hidden;margin:20px 0 0;font-size:12px;color:#888;}
.tuan-layout-comments h2{overflow:hidden;padding:8px 0 8px 24px;background:#f1f1f1;color:#333;font-size:14px;line-height:16px;}
.tuan-layout-comments .c-tit{font:bold 16px/40px 'microsoft yahei';height:40px;}
.tuan-layout-comments .c-tp{padding:6px 0}
.tuan-layout-comments .c-con textarea{width:640px;border:1px solid #e4e4e4;font:12px/2 arial;padding:6px;height:100px;overflow-y:auto;color:#999;resize:none;}
.tuan-layout-comments .c-con .ov{position:relative;z-index:0;padding-left:64px;}
.tuan-layout-comments .c-con .ov em{position:absolute;top:8px;left:0;z-index:1;line-height:14px;}
.tuan-layout-comments .sbm{ text-align:right;padding:10px 0;zoom:1}
.tuan-layout-comments .tab-h{border-bottom:2px solid #eb7e00;overflow:hidden;zoom:1;}
.tuan-layout-comments .tab-h a{float:left;height:28px;line-height:28px;padding:0 30px;margin:0 5px 0 0;display:inline;border:1px solid #d7d7d7;border-bottom:0;}
.tuan-layout-comments .tab-h a.curr{border-color:#eb7e00;background:#eb7e00;color:#fff;}
.tuan-layout-comments .tab-h a:hover{border-color:#bbb;color:#333;text-decoration:none;}
.tuan-layout-comments .tab-h a.curr:hover{ color:#fff;}
.tuan-layout-comments .page{margin:0;padding:20px 0 0;text-align:center;}
.tuan-layout-comments .page .all{width:60px;}
.tuan-layout-comments .lt{float:left;width:45px;}
.tuan-layout-comments .rt{margin:0 0 0 60px;}
.tuan-layout-comments .floor{height:30px;line-height:30px;text-align:center;}
.tuan-layout-comments .img-con{height:40px;width:40px;background:#fff;padding:1px;border:1px solid #d7d7d7;overflow:hidden;}
.tuan-layout-comments .img-con img{height:40px;}
.tuan-layout-comments  .user-name{height:30px;color:#5656d1;}
.tuan-layout-comments .list-con{overflow:hidden;}
.tuan-layout-comments .list-con li.list-con-li{border-bottom:1px dotted #d7d7d7;padding:15px 0;}
.tuan-layout-comments .c-op{text-align:right;font-size:12px;color:#ccc;margin:10px 0;}
.tuan-layout-comments .c-op a{color:#5656d1;margin:0 10px;cursor:pointer}
.tuan-layout-comments .c-op  a.last{margin-right:0;}
.tuan-layout-comments .time{ font-size:12px;}
.tuan-layout-comments .c-n{padding:15px 18px 12px 35px;background:#f5f6ff;border-radius:7px;box-shadow:0 3px 0px #d0d8ff;border:1px solid #d0d8ff;margin:10px 0;zoom:1}
.tuan-layout-comments .c-n .ic-q-mark{position:absolute;top:2px;right:100%;z-index:1;margin:2px 8px 0 0;background:url(../../images/tuan/bg_tuan_new.png) no-repeat -43px 0;vertical-align:-4px;}
.tuan-layout-comments .tab-con{position:relative;}
.tuan-layout-h4{padding:0 0 10px 24px;color:#333;font-size:14px;line-height:16px;}
.tuan-layout-comments .sbm small{position:absolute;top:0;left:0;z-index:1;color:#cacaca}
.tuan-layout-comments .replylist{position:relative;z-index:0;zoom:1}
.sbm_txt_num{color:#5858d2;font-weight:normal;}
.reply-con{position:absolute;top:151px;width:716px;border:1px solid #D7D7D7;padding:15px 0;box-shadow:0 0 2px rgba(0,0,0,.2);background:#fefefe;background-color:rgb(255, 255, 255);}
.reply-con  .tp{padding:0 20px;}
.reply-con  .tp textarea{width:98%;border:1px solid #d7d7d7;font:12px/2 arial;padding:6px;height:20px;overflow-y:auto;resize:none;border-radius:5px;background:#fcfcfc;}
.reply-con  .tp textarea.act{height:75px;}
.reply-con .sbm{padding:10px 20px 0 0;}
.replylist-con{position:relative;overflow:hidden;margin-left:-26px;zoom:1;}
.replylist-con li.replylist{margin-left:26px;margin-bottom:-1px;*margin-bottom:-2px;border-bottom:1px dotted #ccc;padding:5px 0;font-size:12px;zoom:1;}
.btn{height:36px;display:inline-block;font:16px/36px 'microsoft yahei';color:#fff;text-align:center;background:#5656D1;border:none;padding:0 30px;margin:0;cursor:pointer;}
.btn:hover{ background:#5656ff;text-decoration:none;}
.J_tuan_comment h3{padding:20px 0 10px;color:#333;font-size:18px;line-height:20px;font-family:"Microsoft YaHei";}
.J_tuan_comment h3 s{display:inline-block;width:17px;height:16px;margin-left:4px;background:url(../../images/tuan/bg_tuan_new.png) no-repeat -98px -42px;vertical-align:-2px;}
/*商品推荐*/
.detailBx .searchList{margin-right:-20px;zoom:1}
.detailBx .searchList dl{width:230px;background:#f9f9f9;}
.detailBx .searchList dt a{font-weight:normal}
.detailBx .searchList .img img{border-top:none;}
.detailBx .searchList .sellInfo{margin:0;padding:4px 12px 5px;background:#fff;}
.tuan-detail-remprod .tuan-layout-h4{padding-bottom:0}
.tuan-layout-side .tuan-layout-add img,.detailBx .tuan-layout-add{width:250px;}
.detailBx .tuan-layout-add{position:relative;overflow:hidden;}
/*详情页-End-Gaotian-20131021*/
.bt-tuan-buy:hover{color:#fff}
/*广告位*/
.tuan-layout-add{}
.searchBox .tuan-layout-add{width:980px;}
.detailBx .tuan-layout-cont .tuan-layout-add{width:718px;}
.tuan-detail-pro .shops .layout-add{margin-top:2px;*margin-top:0}
.txt-c{text-align:center}
/*今日团购*/
.searchListNav .fr{float:right;height:auto;white-space:nowrap;padding-right:25px;border:none}
.searchListNav .tuan-type{display:inline-block;width:121px;height:30px;padding:0;margin:0 0 0 8px;overflow:hidden;}
.tuan-type u{display:none}
.searchListNav .tuan-type-myy{background:transparent url(../../images/tuan/bg_tuan_new.png) no-repeat 0 -211px;}
.searchListNav .tuan-type-myy:hover{background:transparent url(../../images/tuan/bg_tuan_new.png) no-repeat 0 -243px;}
.searchListNav .tuan-type-myy-cur{background:transparent url(../../images/tuan/bg_tuan_new.png) no-repeat 0 -275px;}
.searchListNav .tuan-type-jrt{background:transparent url(../../images/tuan/bg_tuan_new.png) no-repeat -123px -211px;}
.searchListNav .tuan-type-jrt:hover{background:transparent url(../../images/tuan/bg_tuan_new.png) no-repeat -123px -243px;}
.searchListNav .tuan-type-jrt-cur{background:transparent url(../../images/tuan/bg_tuan_new.png) no-repeat -123px -275px;}
/*团购地图 -Start- Gaotian - 201201127*/
.map-box{position:relative;z-index:0;width:100%;overflow:hidden;border-top:1px solid #e6e6e6;}
/***Layout***/
.bt_s{position:relative;z-index:0;display:inline-block;padding:2px 11px 4px;padding:4px 11px 2px \0;*padding:3px 11px 3px;background:url(../../images/tuan/map.png) no-repeat;color:#fff;}
.bt_s s{position:absolute;top:0;right:0;z-index:0;width:4px;height:20px;background:url(../../images/tuan/map.png) no-repeat -104px 0;font-size:0;line-height:0;}
.ico_trfileter{display:inline-block;width:7px;height:8px;background-image:url(../../images/tuan/map.png);font-size:0;line-height:0}
.ico_up{background-position:-112px 0}
.ico_down{background-position:-112px -10px}
.cur .ico_up{background-position:-121px 0}
.cur .ico_down{background-position:-121px -10px}
.map-side{float:left;width:346px;padding-bottom:800px;margin-bottom:-800px;_margin-right:-3px;border-right:1px solid #e6e6e6;border-left:1px solid #e6e6e6;line-height:14px;}
/***地图侧边分类选择***/
.map-type{padding-top:16px;zoom:1}
.map-type dl{position:relative;z-index:0;margin:0 0 0 56px;padding-left:60px;zoom:1;}
.map-type dt{position:absolute;top:2px;left:0;margin-left:-36px;margin-right:8px;white-space:pre}
.map-type span{cursor:pointer}
.map-type span ins{color:#999}
.map-type span s{display:none;}
.map-type .bt_s s{display:block;}
.map-type .map-type-all{position:absolute;top:0;left:0;z-index:1;}
.map-type-all span{}
.map-type ul{overflow:hidden;}
.map-type li{display:inline;float:left;width:106px;padding:3px 0 14px}
/***团购列表***/
.tuan-list-cont{position:relative;overflow-y:auto}
.tuan-list-tit{padding:6px 0;background:#f2f2f2;font-size:0;text-align:center;}
.tuan-list-tit span{display:inline-block;width:79px;margin-left:-1px;padding:8px 0;border:1px solid #d8d8d8;background-color:#fff;font-size:12px;cursor:pointer}
.tuan-list-tit span.cur{background:#f0f0f0;color:#5656d0}
.tuan-list-tit span:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.tuan-list-tit span:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px;}
.tuan-list-tit .ico_trfileter{margin-left:4px;}
.tuan-list dl{margin-left:20px;zoom:1}
.tuan-list dt{margin:15px 0;color:#999;}
.tuan-list dt u{display:inline-block;width:25px;height:12px;margin-left:3px;background:url(../../images/tuan/map.png) -25px -24px;font-size:0;line-height:0;vertical-align:-2px;}
.tuan-list dd{position:relative;z-index:0;overflow:hidden;padding:0 28px 26px 40px;zoom:1}
.tuan-list dd ins{position:absolute;top:0;left:0;z-index:1;width:20px;height:23px;padding-top:2px;background:url(../../images/tuan/map.png) 0 -23px;color:#fff;text-align:center;cursor:pointer}
.tuan-list .tit,.map-proPopWind .titbox .tit{color:#333;line-height:20px;}
.tuan-list .tit:hover,.map-proPopWind .titbox .tit:hover{color:#5656D1}
.tuan-list dd div,.map-proPopWind .titbox{position:relative;z-index:0;height:44px;margin-top:-4px;}
.tuan-list .link_detail,.map-proPopWind .titbox .link_detail{position:absolute;bottom:6px;right:0;z-index:1;color:#5656D0}
.tuan-list .price,.map-proPopWind .price{height:auto;margin:0;padding:0;color:#999;}
.tuan-list .price b,.map-proPopWind .price b{display:inline-block;width:54px;}
.tuan-list .price s,.map-proPopWind .price s{font-family:Microsoft Yahei;margin-right:2px;}
.txt-red{color:#e40000}
.tuan-list .tuan-list-page{height:auto;margin:0;padding:0 0 18px;font-size:0;text-align:center;}
.tuan-list .tuan-list-page span{display:inline-block;margin:0 2px;padding:4px 6px;border:1px solid #e4e4e4;color:#5656d1;font-size:12px;line-height:13px;cursor:pointer}
.tuan-list .tuan-list-page .page-empty{border:none;padding:3px 6px 4px;color:#999;}
.tuan-list .tuan-list-page .cur{border-color:#5656d1;background:#5656d1;color:#fff;}
.tuan-list .tuan-list-page .page-prev,.tuan-list .tuan-list-page .page-next{vertical-align:2px\0;*vertical-align:2px;_vertical-align:0;}
/*地图详情*/
.map-main{height:100%;}
.map-nav{position:absolute;top:0;left:348px;z-index:10;width:100%;height:34px;box-shadow:1px 1px 2px #ccc;background:url(../../images/tuan/map_bgx.png) repeat-x;line-height:14px;}
.map-nav-box{height:28px;padding-top:10px;font-size:0;}
.map-nav-tab span{display:inline-block;position:relative;z-index:0;margin-left:16px;padding-right:13px;font-size:12px;cursor:pointer}
.map-nav-tab span u{position:absolute;top:50%;right:0;z-index:1;width:0;height:0;margin-top:-3px\0;*margin-top:-3px;font-size:0;background:0;border:5px dashed transparent;border-top:5px solid #b1b1b1;}
.map-nav-tab .tabCur{color:#5656d1}
.map-nav-tab .tabCur u{margin-top:-6px;margin-top:-9px\0;*margin-top:-9px;border:5px dashed transparent;border-bottom:5px solid #5656d1;}
.map-nav-pop{position:absolute;top:100%;left:-1px;z-index:11;width:558px;margin-top:-4px;padding:0 18px 18px;border:1px solid #c8c8c8;background:#fff;font-size:12px;}
.map-nav-pop span,.map-nav-pop li{cursor:pointer}
.map-nav-pop h3{padding-top:20px;font-weight:bold;font-size:14px;line-height:16px;}
.map-nav-pop ul{overflow:hidden;/*padding-top:8px;*/}
.map-nav-pop li{display:inline;float:left;width:43px;padding:12px 0 0 6px;}
.map-nav-allcity{padding:6px 0 6px 4px;background:#ededed;}
.map-nav-allcity span{display:inline;float:left;width:18px;margin-left:3px;padding:2px 0 3px;text-align:center;}
.map-nav-allcity .tabCur{background:#c00;color:#fff;}
.sltCur{color:#5656d1}
.map-city li{width:53px;padding-left:8px;}
/*----@detail s----*/
.map-proPopWind{margin:8px 12px;/*width:282px;*/overflow:hidden;}
.map-proPopWind .pic{float:left;}
.map-proPopWind .pic img{width:60px;height:60px;}
.map-proPopWind .titbox,.map-proPopWind .price{width:234px;margin-left:70px;}
.map-proPopWind .titbox .link_detail{rigth:8px;bottom:4px}
/*----@detail e----*/
/*团购地图 -End- Gaotian - 201201127*/
.tab-cont{display:none;}
.show{display:block;}

/* map submenu */
.J_map-navallcityTab li{width:auto;margin-right:10px;}
#tuan-district-filter li,#tuan-merchant-area-filter li{height:14px;overflow:hidden;}

/* tuan store */
.store-logo{height:46px;line-height:46px;margin-top:-56px;}
.store-logo a{color:#fff;font-family:\5FAE\8F6F\96C5\9ED1;font-size:14px;}
.star-inner,.J_star i,.eg-fun-fav,.eg-fun-notice,.eg-fun-share,.icon-new,.icon-exellent,.store-map h3 i{background:url(../../images/tuan/icon-store.png) no-repeat;}
.store-list ul{width:990px;margin:-5px -10px 0 0;}
.store-list li{float:left;width:215px;padding:0 10px 15px;margin:10px 10px 0 0;border:1px solid #d8d8d8;}
.store-list li:hover{border:2px solid #5656d1;margin:9px 9px -1px -1px;}
.store-list li h6{height:33px;line-height:33px;overflow:hidden;}
.store-list li h6 a{font-size:14px;font-weight:bold;color:#333;}
.store-list li h6 a:hover{color:#333;text-decoration:underline;}
.store-list li p{margin-top:9px;height:18px;line-height:18px;overflow:hidden;zoom:1;color:#999;}
.store-list li p .num{font-size:14px;font-weight:bold;color:#ff9600;}
.store-list .star-outer{margin-top:2px;}
.star-outer,.star-inner{display:inline-block;height:14px;}
.star-outer{width:87px;background-position:0 0;}
.store-comment{padding:30px 0 50px;}
.store-comment-title{height:40px;line-height:40px;padding:0 10px;background-color:#f0f0f0;color:#999;}
.store-comment-title strong{font-size:16px;color:#333;}
.c-f00{color:#f00;}
.field{margin-top:20px;padding-left:82px;width:898px;}
.field label{position:relative;z-index:0;zoom:1;display:inline;width:72px;margin-left:-82px;text-align:right;}
.field label em{position:absolute;right:-5px;top:4px;}
.comment-tips{padding-left:17px;color:#999;}
.J_star{width:135px;}
.J_star i{float:left;width:22px;height:22px;margin-right:5px;background-position:0 -17px;cursor: pointer;}
.J_star i.cur{background-position:-24px -17px;}
.J_num{width:135px;}
.J_num i{float:left;width:25px;height:16px;border:1px solid #e1e1e1;margin-right:-1px;text-align:center;line-height:16px;font-size:12px;font-style:normal;color:#666;cursor: pointer;background-color:#f3f3f3;}
.J_num i.cur{position:relative;z-index:1;border-color:#fc9b3c;background-color:#fc9b3c;color:#fff;}
.field-textarea{width:640px;height:110px;padding:5px 10px;border:1px solid #e1e1e1;overflow:auto;background-color:#fff;color:#666;resize:none;font: 12px/20px '\5b8b\4f53';}
.field-textarea-num{color:#666;}
.comment-upload{position:relative;z-index:0;zoom:1;width:95px;height:32px;line-height:32px;border:1px solid #f3d8ae;overflow:hidden;text-align:center;cursor:pointer;font-size:14px;color:#ac6826;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fffaf0), to(#fff2db));
    background:-webkit-linear-gradient(top, #fffaf0, #fff2db);
    background:-moz-linear-gradient(top, #fffaf0, #fff2db);
    background:-ms-linear-gradient(top, #fffaf0, #fff2db);
    background:-o-linear-gradient(top, #fffaf0, #fff2db);
    background:linear-gradient(top, #fffaf0, #fff2db);
    background-color:#fff2db;
    -webkit-box-shadow:0 1px 2px 0 rgb(230,230,230);
    -moz-box-shadow:0 1px 2px 0 rgb(230,230,230);
    -ms-box-shadow:0 1px 2px 0 rgb(230,230,230);
    -o-box-shadow:0 1px 2px 0 rgb(230,230,230);
    box-shadow:0 1px 2px 0 rgb(230,230,230);
}
.upload-file{position:absolute;top:-7px;left:-3px;width:100px;height:40px;font-size:100px;font-family:arial;opacity:0;filter:alpha(opacity=0);cursor: pointer;}
.comment-input{line-height:25px;}
.comment-input input{padding:2px 10px;height:21px;border:1px solid #cecece;margin-right:5px;color:#666;font: 12px/21px '\5b8b\4f53';}
.mt3{margin-top:3px;}
.w58{width:58px;}
.w309{width:309px;}
.mt40{margin-top:40px;}
.comment-submit{width:123px;height:41px;margin-right:12px;}
.comment-submit a{display:block;height:39px;border:1px solid #f18915;font: 16px/39px '\5FAE\8F6F\96C5\9ED1';cursor: pointer;text-align:center;color:#944611;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f6c550), to(#f3a102));
    background:-webkit-linear-gradient(top, #f6c550, #f3a102);
    background:-moz-linear-gradient(top, #f6c550, #f3a102);
    background:-ms-linear-gradient(top, #f6c550, #f3a102);
    background:-o-linear-gradient(top, #f6c550, #f3a102);
    background:linear-gradient(top, #f6c550, #f3a102);
    background-color:#f3a102;
    -webkit-box-shadow:0 0 1px 0 rgb(247, 178, 41) inset, 0 1px 0 0 rgb(255, 216, 171) inset, 0 3px 3px 0 rgb(213, 212, 212);
    -moz-box-shadow:0 0 1px 0 rgb(247, 178, 41) inset, 0 1px 0 0 rgb(255, 216, 171) inset, 0 3px 3px 0 rgb(213, 212, 212);
    -ms-box-shadow:0 0 1px 0 rgb(247, 178, 41) inset, 0 1px 0 0 rgb(255, 216, 171) inset, 0 3px 3px 0 rgb(213, 212, 212);
    -o-box-shadow:0 0 1px 0 rgb(247, 178, 41) inset, 0 1px 0 0 rgb(255, 216, 171) inset, 0 3px 3px 0 rgb(213, 212, 212);
    box-shadow:0 0 1px 0 rgb(247, 178, 41) inset, 0 1px 0 0 rgb(255, 216, 171) inset, 0 3px 3px 0 rgb(213, 212, 212);
    -webkit-text-shadow:0 1px 1px rgba(255,255,255,0.8);
    -moz-text-shadow:0 1px 1px rgba(255,255,255,0.8);
    -ms-text-shadow:0 1px 1px rgba(255,255,255,0.8);
    -o-text-shadow:0 1px 1px rgba(255,255,255,0.8);
    text-shadow:0 1px 1px rgba(255,255,255,0.8);
}
.comment-submit a:hover{
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffd97d), to(#f8bd4a));
    background:-webkit-linear-gradient(top, #ffd97d, #f8bd4a);
    background:-moz-linear-gradient(top, #ffd97d, #f8bd4a);
    background:-ms-linear-gradient(top, #ffd97d, #f8bd4a);
    background:-o-linear-gradient(top, #ffd97d, #f8bd4a);
    background:linear-gradient(top, #ffd97d, #f8bd4a);
    background-color:#f8bd4a;
}
.store-detail{padding:5px 0 30px;}
.w723{width:723px;}
.w237{width:237px;}
.store-eg{width:723px;border:5px solid #f5f5f5;margin:-5px;}
.store-eg-inner{padding:15px 20px;border:1px solid #c6c6c6;background-color:#fff;word-wrap:break-word;word-break:break-all;}
.store-eg-inner h3{font: 18px/22px '\5FAE\8F6F\96C5\9ED1';}
.eg-count{margin:5px 0 15px;}
.eg-count .star-outer{margin-top:2px;}
.eg-count label{margin-left:8px;color:#999;}
.eg-score{margin-left:30px;}
.eg-score em{font-weight:bold;}
.eg-score em i{font-family:\5FAE\8F6F\96C5\9ED1;font-style:normal;}
.eg-dl dt{float:left;width:217px;}
.eg-dl dt a{display:inline-block;padding:10px;cursor:pointer;border:1px solid #ddd;}
.eg-dl dd{float:right;width:444px;}
.eg-detail{padding-left:65px;line-height:24px;}
.eg-detail label{width:65px;margin-left:-65px;color:#666;}
.eg-classify{display:inline-block;}
.eg-classify em{margin:0 2px;color:#999;}
.eg-classify a,.eg-fun a{color:#5656d1;}
.eg-classify a:hover,.eg-fun a:hover{color:#fff;background-color:#5656d1;}
.eg-fun{line-height:32px;}
.eg-fun .eg-wr{display:inline-block;margin-right:10px;width:87px;height:30px;border:1px solid #dd8a14;line-height:30px;text-align:center;font-size:14px;font-weight:bold;color:#fff;background-color:#ff9600;}
.eg-fun .eg-wr:hover{color:#fff;background-color:#ffab34;}
.eg-fun em{margin:0 1px;color:#e7e7e7;}
.eg-fun-fav,.eg-fun-notice,.eg-fun-share,.icon-exellent{display:inline-block;width:17px;height:17px;margin-right:3px;cursor:pointer;overflow:hidden;vertical-align:-4px;background-color:#fff;}
.eg-fun-fav{background-position:1px 1px;}
.eg-fun-notice{background-position:-47px -15px;}
.eg-fun-share{background-position:-64px -16px;}
.store-cate,.store-comment-detail{border:1px solid #e0e0e0;}
.store-cate{margin-top:25px;}
.store-tab{height:36px;border-bottom:1px solid #e0e0e0;background-color:#fcfcfc;
    -webkit-box-shadow:0 3px 3px 0 #f5f5f5;
    -moz-box-shadow:0 3px 3px 0 #f5f5f5;
    -ms-box-shadow:0 3px 3px 0 #f5f5f5;
    -o-box-shadow:0 3px 3px 0 #f5f5f5;
    box-shadow:0 3px 3px 0 #f5f5f5;
}
.store-tab li{position:relative;z-index:0;zoom:1;float:left;display:inline;height:30px;line-height:30px;margin:0 20px;padding:3px 0;font-size:14px;cursor:pointer;}
.store-tab li.current{padding-bottom:0;color:#5656d1;border-bottom:3px solid #5656d1;}
.store-tab li em,.store-tab li.current em{color:#999;}
.icon-new{position:absolute;top:-2px;right:-20px;width:24px;height:14px;line-height:0;font-size:0;overflow:hidden;background-position:0 -42px;}
.cate-link{padding:10px 20px;word-wrap:break-word;word-break:break-all;}
.cate-list{padding:0 0 20px 20px;}
.cate-list li{float:left;width:118px;border:1px solid #d8d8d8;margin-right:10px;}
.cate-list .pic{display:inline-block;height:89px;}
.cate-list p{height:25px;line-height:25px;border-top:1px solid #d8d8d8;background-color:#f8f8f8;text-align:center;}
.cate-list p a{color:#666;}
.cate-list p a:hover{color:#333;}
.comment-list{overflow:hidden;}
.comment-list dl{padding:15px 15px 5px 20px;border-top:1px solid #f0f0f0;word-wrap:break-word;word-break:break-all;}
.comment-list dl a{color:#5656d1;}
.comment-list dl a:hover{color:#5656d1;text-decoration:underline;}
.comment-list dt{float:left;width:48px;}
.comment-list dd{float:right;width:613px;}
.comment-list .eg-count{margin:0 0 10px;}
.comment-list .eg-count em{font-weight:normal;color:#999;}
.comment-foo{margin-top:30px;color:#666;}
.comment-foo span{color:#d9d9d9;}
.comment-foo span em{margin:0 5px;}
.icon-exellent{background-position:-27px -39px;}
.comment-pic{display:block;height:48px;cursor:pointer;margin-bottom:3px;}
.comment-write{display:inline;width:77px;height:24px;line-height:24px;margin:-32px 10px 0 0;border:1px solid #dd8a14;text-align:center;font-size:14px;font-weight:bold;color:#fff;background-color:#ff9600;}
.comment-write:hover{color:#fff;background-color:#ffab34;}
.store-map h3{height:20px;margin-bottom:5px;line-height:20px;font-size:14px;font-weight:bold;color:#666;}
.store-map h3 i{display:inline-block;width:10px;height:14px;margin-right:5px;vertical-align:-2px;font-size:0;line-height:0;overflow:hidden;background-position:-46px -41px;}
.J_store_map{width:233px;height:176px;border:1px solid #e0e0e0;padding:1px;overflow:hidden;}
.store-nearby{border:1px solid #E0E0E0;overflow:hidden;zoom:1;}
.store-nearby h3{padding:5px 10px;font-size:14px;}
.store-nearby .store-tab{height:24px;}
.store-nearby .store-tab li{height:20px;line-height:20px;margin:0 10px;padding:2px 0;font-size:12px;}
.store-nearby .store-tab li.current{padding-bottom:0;border-bottom-width:2px;}
.store-nearby dl{padding:10px 10px 0;}
.store-nearby dt{float:left;width:48px;}
.store-nearby dd{float:right;width:160px;}
.store-nearby dd h6{width:160px;height:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#5656d1;}
.store-nearby dd h6 a,.store-more{color:#5656d1;}
.store-nearby dd h6 a:hover,.store-more:hover{color:#5656d1;text-decoration:underline;}
.store-nearby p{margin-top:3px;}
.store-nearby .star-outer{margin-top:2px;}
.store-distance{color:#999;}
.store-more{display:inline-block;margin:8px 10px;}