.wp{width:980px;margin:0 auto;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.clear-fix:after,
.clear-fix:before{content:" ";display:table;}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
img{vertical-align:top;}
.mt20{margin-top:20px;}
s,u,small,ins{margin:0;padding:0}
s{text-decoration:none}
/*城市选择-Start-gaotian-20130830*/
.cityChange{display:inline;float:left;width:86px;height:41px;margin:36px 0 0 20px;border-left:1px solid #e9e9e9;text-align:center}
.ico_city{display:inline-block;width:14px;height:15px;background:url(../../images/tuan/bg_tuan.png) no-repeat;vertical-align:middle}
.cityChange b{color:#666}
.cityChangeMsg{display:block;padding-top:6px;color:#999;font-weight:normal;text-decoration:none}
.cityChangeMsg a{color:#999}
.cityChangeMsg a:hover{color:#5656d1}
#downList{ top:33px;left:250px;}
/*城市选择-End-gaotian-20130830*/
/*header-logo s*/
.header-logo{width:980px;margin:0 auto;padding-bottom:13px;}
.header-logo .fl{float:left;width:565px;}
.header-logo .fr{float:right;}
.header-logo .logo,
.header-logo .logo-intro{float:left;_display:inline;}
.header-logo .logo{width:197px;margin-top:15px;}
.header-logo .logo-intro{margin-left:18px;margin-top:38px;}
.header-logo .logo-side{margin-top:20px;}
/*header-logo e*/
.tuan .header-nav{background:#5656d1;}
.tuan .header-nav li{ border-left:1px #6b6bd6 solid;}
.tuan .header-nav a,.tuan .header-nav a:hover{color:#fff;}
.tuan .header-nav li a.this{ background:#F5F5F5;color:#4c4c4c;}
.tuan .header-nav .b5m-home a{ background:#4d4dbc url(../../images/common/header-nav.png) no-repeat  -110px 13px;}
.tuan .header-nav a:hover{background-color:#4d4dbc;}
.tuan .header-nav .b5m-home a:hover{background-color:#4040A2;}
.tuan .header-search{ background:#F5F5F5;height:33px;padding:7px 0;}
.tuan .header-rearch-submit{background:#5656d1;*margin-left:-1px;*margin-top:-1px;_margin-top:1px;}
.tuan .header-search-content label{background-position:-2px -70px;}
.tuan .header-rearch-hotkey a{color:#666;}
.tuan .header-rearch-hotkey a:hover{color:#8db500;}
