.wp{width:980px;margin:0 auto; overflow: hidden;}
.fl{float:left;}
.fr{float:right;}
.clear-fix:after,
.clear-fix:before{content:" ";display:table;}
.clear-fix:after{clear:both;} 
.clear-fix{*zoom:1;}
.list-h{overflow: hidden;}
.list-h li{float:left;}
img{vertical-align: top;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
/*header-logo s*/
.header-logo{width:980px;margin:0 auto;padding-bottom:13px;}
.header-logo .fl{float:left;width:565px;}
.header-logo .fr{float:right;}
.header-logo .logo,
.header-logo .logo-intro{float:left;_display:inline;}
.header-logo .logo{width:197px;margin-top:15px;}
.header-logo .logo-intro{margin-left:18px;margin-top:38px;}
.header-logo .logo-side{margin-top:20px;}
/*header-logo e*/

.tuan .header-nav{background: #5656d1;}
.tuan .header-nav li{ border-left: 1px #6b6bd6 solid;}
.tuan .header-nav a,.tuan .header-nav a:hover{color:#fff;}
.tuan .header-nav li a.this{ background: #F5F5F5;color:#4c4c4c;}
.tuan .header-nav .b5m-home a{ background: #4d4dbc url(../../images/common/header-nav.png) no-repeat  -110px 13px;}
.tuan .header-nav a:hover,
.tuan .header-nav .b5m-home a:hover{background-color: #4d4dbc;}
.tuan .header-search{ background: #F5F5F5; height: 33px; padding: 7px 0;}
.tuan .header-rearch-submit{background:#5656d1; *margin-left:-1px; *margin-top:-1px; _margin-top:1px;}
.tuan .header-search-content label{background-position:-2px -70px;}
.tuan .header-rearch-hotkey a{color:#666;}
.tuan .header-rearch-hotkey a:hover{color:#8db500;}


.goods-list{width:750px;height:131px;padding:7px 0 0 10px;border:1px solid #acacf5;}
.goods-list li{width: 250px;font-size:0;}
.goods-list .media{display: inline-block;*display: inline;*zoom: 1;position:relative;width: 150px;height:100px;vertical-align:bottom;}
.goods-list .media i{position:absolute;width:24px;height:20px;padding-left:3px;font-weight:700;font-family:\5B8B\4F53;color:#fff;top:-1px;left:-1px;font-style: normal;font-size:12px;background: url(../../images/tuan/icon.png) no-repeat 0 0 scroll;
_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/tuan/icon.png", sizingMethod="crop");}
.goods-list .txt{display: inline-block;*display: inline;*zoom: 1;width: 90px;padding-left:10px;line-height:24px;overflow: hidden;vertical-align:bottom;font-size: 12px;}
.goods-list .des{display: inline-block;*display: inline;*zoom: 1;margin-top: 8px;color:#666;font-weight: 700;font-size: 12px;}
.goods-list .des:hover {color:#eb7e00; text-decoration: underline;}
.goods-list .new-price{color:#5656d1;font-family: Tahoma;font-weight: 700;font-size: 24px;}
.goods-list .new-price b{font-family: Arial;font-size: 18px;}
.goods-list .old-price{display: block;font-weight: 700;}
.tao-intro{width: 190px;height: 130px;padding:8px 0 0 16px;border:1px solid #E4E4E4;}
.tao-intro dt{margin-bottom:4px;font-size:14px;font-weight: 700;color:#333;font-family:\5FAE\8F6F\96C5\9ED1;}
.tao-intro dd{padding-left:20px;line-height:22px;background: url(../../images/tuan/arrow.png) no-repeat 0 4px scroll;}

.tuan-1{border-bottom-color:#5e5ed6;}
.tuan-1 .floor-tit-more,
.tuan-1 .floor-tit-num{background-color:#5e5ed6;}
.tuan-1 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#92B125}
.slider-1{border-color:#acacf5;color:#acacf5}
.slider-1 .slider-nav-li a,.slider-1 .more a{color:#5e5ed6}
.slider-1 li.cur a,
.slider-1 .slider-nav-li a:hover{background:#5656d1;color:white}
.slider-1 .slider-nav-li em{border-color:#5656d1 transparent transparent;}
.slider-1 .slider-page a.cur, .slider-1 .slider-page a:hover{background-color:#5656d1}

.tuan-2{border-bottom-color:#7a5ed6}
.tuan-2 .floor-tit-more,
.tuan-2 .floor-tit-num{background-color:#7a5ed6}
.tuan-2 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#64B125}
.slider-2{border-color:#9d8cd7;color:#9d8cd7}
.slider-2 .slider-nav-li a,.slider-2 .more a{color:#7a5ed6;}
.slider-2 li.cur a,
.slider-2 .slider-nav-li a:hover{background:#7a5ed6;color:white}
.slider-2 .slider-nav-li em{border-color:#7a5ed6 transparent transparent;}
.slider-2 .slider-page a.cur, .slider-2 .slider-page a:hover{background-color:#7a5ed6;}

.tuan-3{border-bottom-color:#5e6fd6;}
.tuan-3 .floor-tit-more,
.tuan-3 .floor-tit-num{background-color:#5e6fd6;}
.tuan-3 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#5e6fd6}
.slider-3{border-color:#8d98db;color:#8d98db}
.slider-3 .slider-nav-li a,.slider-3 .more a{color:#8d98db}
.slider-3 li.cur a,
.slider-3 .slider-nav-li a:hover{background:#5e6fd6;color:white}
.slider-3 .slider-nav-li em{border-color:#5e6fd6 transparent transparent;}
.slider-3 .slider-page a.cur, .slider-3 .slider-page a:hover{background-color:#5e6fd6}

.tuan-4{border-bottom-color:#5e83d6}
.tuan-4 .floor-tit-more,
.tuan-4 .floor-tit-num{background-color:#5e83d6}
.tuan-4 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#5e83d6}
.slider-4{border-color:#91a7d7;color:#91a7d7}
.slider-4 .slider-nav-li a,.slider-4 .more a{color:#5e83d6;}
.slider-4 li.cur a,
.slider-4 .slider-nav-li a:hover{background:#5e83d6;color:white}
.slider-4 .slider-nav-li em{border-color:#91a7d7 transparent transparent;}
.slider-4 .slider-page a.cur, .slider-4 .slider-page a:hover{background-color:#5e83d6}

.tuan-5{border-bottom-color:#5e96d6;}
.tuan-5 .floor-tit-more,
.tuan-5 .floor-tit-num{background-color:#5e96d6;}
.tuan-5 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#5e96d6}
.slider-5{border-color:#8d98db;color:#8d98db}
.slider-5 .slider-nav-li a,.slider-5 .more a{color:#8d98db}
.slider-5 li.cur a,
.slider-5 .slider-nav-li a:hover{background:#5e6fd6;color:white}
.slider-5 .slider-nav-li em{border-color:#5e6fd6 transparent transparent;}
.slider-5 .slider-page a.cur, .slider-5 .slider-page a:hover{background-color:#5e6fd6}

.tuan-6{border-bottom-color:#5e7dd6;}
.tuan-6 .floor-tit-more,
.tuan-6 .floor-tit-num{background-color:#5e7dd6;}
.tuan-6 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#5e7dd6}
.slider-6{border-color:#8d98db;color:#8d98db}
.slider-6 .slider-nav-li a,.slider-6 .more a{color:#8d98db}
.slider-6 li.cur a,
.slider-6 .slider-nav-li a:hover{background:#5e6fd6;color:white}
.slider-6 .slider-nav-li em{border-color:#5e6fd6 transparent transparent;}
.slider-6 .slider-page a.cur, .slider-6 .slider-page a:hover{background-color:#5e6fd6}

.floor-tit{margin-top:24px;}
.tao-line{height:3px;margin:30px 0 20px;background-color:#5D5D5D;line-height:0;overflow:0;font-size:0;overflow:hidden;}

/*tao search start*/
.row-result{margin-top:16px;background-color: #fff}
.row-result .col-1{width: 748px;}
.row-result .col-2{width: 232px;}
.breadcrumb{margin-bottom:10px;font-size:14px;color:#666;}
.breadcrumb .search-key{color:#f89500;}
.row-result .mod{float:left;margin:0 17px 17px 0;}
.mod{width: 212px;height: 300px;border:1px solid #D6D6D6;padding:4px 9px 10px;font-size:12px;}
.mod .tit{margin-bottom: 6px;line-height: 1;}
.mod .tit a{color:#666;line-height:22px;}
.mod .tit a:hover{color:#f89500;}
.mod .mod-pic{position:relative;display: block;width: 212px;height: 212px;}
.mod .mod-pic .mod-price{position: absolute;width: 100%;height: 30px;line-height:30px;left:0;bottom:0;color:#ccc;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background:rgba(0,0,0,0.5);
}
:root .rgba{filter:none;}/*for IE9*/
.mod .mod-pic .mod-price del{float:left;margin-left:10px;_display:inline;}
.mod .mod-pic .mod-price span{float:right;margin-right: 10px;_display:inline;}
.mod .mod-pic .mod-price em{color:#fff;padding:0 4px;}
.mod .mod-buy{height: 40px;line-height:38px;padding:0 10px;background-color: #8DB500;}
.mod .mod-buy span{float:left;font-size:27px;font-family: Tahoma;color:#fff;}
.mod .mod-buy b{font-size: 18px;font-family: arial;font-weight:400;}
.mod .mod-buy .mod-btn{width: 74px;height: 28px;line-height:28px;margin-top: 6px;font-weight:700;font-family:\5FAE\8F6F\96C5\9ED1;text-align:center;float:right;color:#495e00;background-color:#E4FF00;
	-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.1);
	box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}
.mod-buy-list{border:1px solid #ccc;background-color:#5e6fd6;
	-webkit-box-shadow: 0 1px 0 #5e6fd6;
	-moz-box-shadow: 0 1px 0 #5e6fd6;
	box-shadow: 0 1px 0 #5e6fd6;
}
.mod-buy-list .tit{position:relative;padding:10px 0 0 15px;font-weight:700;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;background-color:#fafafa;}
.mod-buy-list ul{margin-top:-3px;}
.mod-buy-list li{padding:15px 0 15px 15px;border-top:1px solid #fff;border-bottom:1px solid #ECECEC;overflow:hidden;zoom:1;}
.mod-buy-list .pic{float:left;width:50px;margin-right:10px;_display:inline;}
.mod-buy-list .txt{display: table-cell;width:2000px;*width:auto;*display: inline;}
.mod-buy-list .txt a{color:#333;font-weight:700;}
.mod-buy-list .txt p{color:#999;line-height:16px;}
/*tao search end*/

/* page */
.page { margin:20px 0 30px;}
.page .cur { background-color: #8db500;}
.page a:hover,.page .page-input a {background-color: #8db500;border-color: #8db500;}
.page .page-input input { border-color:#8db500;}
.business{background-color:#5656d1;}
/*tao hover s*/
.floor-news-style li span a:hover,
.floor-news-more:hover,
.floor-tit-links a:hover,
.floor-news-style li p a:hover,
.slider-item .tit:hover,
.b2c-links li p a:hover{color:#eb7e00;text-decoration: underline;}
/*tao hover e*/


/* 部分CSS */
.ad_bott_in {height: 92px;background: url(../images/tao/ad_bott_2.png) no-repeat center top transparent;}
.focusin{ color: #000;}
/*Layout-Start-gaotian-20130830*/
s,u,small,ins{margin:0;padding:0}
small{font-style:normal;font-size:12px;}
.pz{position:relative;z-index:0}
.ov{overflow:hidden}
s{text-decoration:none}
/*Layout-End-gaotian-20130830*/
/*城市选择-Start-gaotian-20130830*/
.cityChange{display:inline;float:left;width:86px;height:41px;margin:36px 0 0 20px;border-left:1px solid #e9e9e9;text-align:center}
.ico_city{display:inline-block;width:14px;height:15px;background:url(../../images/tuan/bg_tuan.png) no-repeat;vertical-align:middle}
.cityChange b{color:#666}
.cityChangeMsg{display:block;padding-top:6px;color:#999;font-weight:normal;text-decoration:none}
/*城市选择-End-gaotian-20130830*/
/*热门城市列表-Start-gaotian-20130830*/
.cityListBx{margin:10px auto;border:1px solid #d7d7d7;}
.hotCityList{overflow:hidden;padding:18px 87px 20px;border-bottom:1px solid #dbdbdb;font-size:14px;zoom:1;
    background:-moz-linear-gradient(bottom,#f4f4f4,#fff);
    background:-webkit-linear-gradient(bottom,#f4f4f4,#fff);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4,grandientType=1);
}
.hotCityList strong,.hotCityList a{display:inline;float:left;margin-top:8px;font-weight:bold;}
.hotCityList strong{margin-left:-65px}
.hotCityList a{margin-left:21px;color:#5656d1;white-space:pre}
.hotCityList a:hover{text-decoration:underline}
.cityListTit{margin:18px 0 6px 20px;font-weight:bold;color:#fff;font-size:14px;line-height:16px;}
.cityListTit span{display:inline-block;position:relative;z-index:0;padding:8px 18px;background:#5656d1;}
.cityListTit s{position:absolute;top:100%;left:50%;z-index:1;margin-left:-3px;border:6px dashed transparent;border-top:6px solid #5656d1;}

.cityList{overflow:hidden;font-size:14px;line-height:16px;text-align:center;zoom:1}
.cityList ol{overflow:hidden;/*padding:2px 0 6px;*/text-align:left;zoom:1}
.cityList b{position:absolute;top:16px;left:30px;z-index:1;width:32px;padding:7px 6px 9px 0;background-image:url(../../images/tuan/bg_tuan.png);background-repeat:no-repeat;background-position:-32px 0;color:#fff}
.cityList .cur{background-color:#f9f9f9}
.cityList .cur b{background-position:-78px 0}
.cityList li{position:relative;z-index:0;overflow:hidden;margin-bottom:-4px;padding:14px 0 18px 68px;border-bottom:1px dotted #ccc;zoom:1}
.cityList li li{display:inline;float:left;padding:0;margin:0;padding:8px 0;border:none;background:none transparent;text-align:center}
.cityList a{display:inline;float:left;width:65px;margin:0 0 0 -1px;border-left:1px solid #ccc;color:#333;}
.cityList a:hover{color:#5656d1;font-weight:bold;text-decoration:underline}
.cityList .b{font-weight:bold}
.liCur{background:#f9f9f9;}
/*热门城市列表-End-gaotian-20130830*/
/*搜索结果页-Start-gaotian-20130830*/
.searchBox{margin:20px auto 0;}
.searchMsg{display:block;padding:12px 0 12px 36px;background:#ececec;font-family:"Microsoft Yahei",SimHei;}
.searchMsg b{color:#5656d1;font-weight:normal}
.searchMsg s{position:absolute;top:50%;left:11px;z-index:1;width:19px;height:15px;margin-top:-7px;background:url(../../images/tuan/bg_tuan.png) no-repeat -126px 0;}
.searchTypeSlt{overflow:hidden;padding:0 18px;border:1px solid #d8d8d8;color:#808080}
.searchTypeSlt li{position:relative;z-index:0;height:23px;overflow:hidden;padding:11px 66px 6px 58px;margin-bottom:-2px;border-bottom:1px solid #eee;zoom:1}
.searchTypeSlt b{margin-left:-59px;}
.searchTypeSlt a{display:inline-block;margin:0 0 7px 8px;*margin-bottom:8px;color:#5656d1;}
.searchTypeSlt a:hover{text-decoration:underline}
.searchTypeSlt .sltAll{display:inline-block;/*width:42px;*/padding:2px 8px 3px;_padding:1px 8px 4px;background:#5656d1;border-radius:8px;/*background:url(../../images/tuan/bg_tuan.png) no-repeat 0 -38px;*/color:#fff;font-weight:bold;line-height:13px;text-align:center;*vertical-align:-2px}
.searchTypeSlt a ins{color:#808080}
.searchTypeSlt .sltAll ins{color:#fff}
.searchTypeSlt span{position:absolute;top:9px;right:0;z-index:1;padding-right:18px;cursor:pointer}
.searchTypeSlt span s{position:absolute;top:50%;right:3px;z-index:1;width:9px;height:5px;margin-top:-1px;background-image:url(../../images/tuan/bg_tuan.png);background-position:-126px -20px;font-size:0;}
.searchTypeSlt span s.cur{background-position:-126px -27px;}

.searchListBx{display:inline;float:left;width:1000px;/*width:740px;*/}
.searchListNav{width:100%;overflow:hidden;margin-bottom:10px;padding-left:1px;}
.searchListNav li{display:inline;float:left;height:26px;overflow:hidden;margin-left:-1px;border:1px solid #ccc;line-height:14px;}
.searchListNav s{display:inline-block;width:7px;height:8px;margin-left:5px;background-image:url(../../images/tuan/bg_tuan.png);background-position:-149px 0;font-size:0;}
.searchListNav a{display:inline-block;padding:6px 11px;color:#666;}
.searchListNav .cur a,.searchListNav a:hover{background:#666;color:#fff;}
.searchListNav .cur s,.searchListNav a:hover s{background-position:-159px 0;}
.searchListNav .cur s.down{background-position:-169px 0;}

.searchList{overflow:hidden}
.searchList dl{display:inline;float:left;/*margin:10px 9px 0 0;*/margin:10px 10px 0 0;width:235px;height:346px;border:1px solid #d9d9d9;border-radius:2px;color:#999;}
.searchList dt{width:212px;height:60px;overflow:hidden;margin:0 auto;padding:10px 0 4px;font-weight:bold;font-size:14px;line-height:20px;}
.searchList dt a{color:#666;}
.searchList dd{background:#f6f6f6}
.searchList .img{padding:0 0 15px;text-align:center}
.searchList .img img{width:208px;height:144px;padding-top:15px;border-top:1px solid #d9d9d9;}
.prodInfo{overflow:hidden;padding:0 12px;}
.prodInfo a{float:right;width:82px;padding:7px 0;background:url(../../images/tuan/bg_tuan.png) no-repeat 0 -62px;color:#fff;font-size:16px;font-family:"Microsoft Yahei",simhei;line-height:18px;text-align:center}
.prodInfo a:hover{color:#fff;text-decoration:underline}
.prodInfo .price{display:inline-block;padding-top:3px;color:#e52a25;font-size:18px;}
.price s{margin-right:4px;font-size:12px;font-family:Arial;}
.prodInfo p{clear:both;padding:10px 0;border-bottom:1px solid #eaeaea;text-align:right}
.prodInfo p span{display:inline;float:left}
.prodInfo em{color:#f00}
.searchList .sellInfo{margin:4px 12px 0;background:transparent;}
.sellInfo span{float:right}
/*分页*/
.searchListBx .page{ margin:20px 0 30px;padding-top:20px;border-top:1px solid #dadada;}
.searchListBx .page .cur { background-color: #5656d1;}
.searchListBx .page a:hover,.searchListBx .page .page-input a {background-color: #5656d1;border-color: #5656d1;}
.searchListBx .page .page-input input { border-color:#5656d1;}

/*侧边栏*/
.searchSide{display:inline;float:right;width:220px;padding:4px 8px;border:1px solid #a8a8ee;}
.searchSide dl{overflow:hidden;padding:14px 0 16px;border-bottom:1px dotted #dadada;}
.searchSide dt a{color:#333;font-weight:bold;}
.searchSide dd{color:#999;line-height:18px}
.searchSide .tit,.searchSide .descript{display:inline;float:right;width:162px;}
.searchSide dt{margin:-4px 0 0}
.searchSide .img{float:left}
.searchSide .img img{width:50px;height:50px;}
.searchSide ul{list-style:square;overflow:hidden;padding:4px 0 20px 14px;font-size:10px;color:#5656d1}
.searchSide ul li{padding:4px 0;}
.searchSide a{color:#777;font-size:12px;}
a:hover{color:#5656d1}
.floor-tit-more a:hover{ color: #fff;}
/*搜索结果页-End-gaotian-20130830*/


/* 无搜索结果页 */
.no-search{ height: 260px;margin-right:22px;/* width: 726px;*/overflow:hidden; background: #f7f7f7 url(../../images/tuan/result_nothing_bg.png) no-repeat 20px center; border: 1px #d8d8d8 solid;}
.no-search-txtwrap{display:inline;float:left;width:396px;margin-left:356px;padding: 30px 30px 30px 0;}
.no-search-txt{ position: relative; line-height: 32px; padding:2px 10px; margin: 0; font-size: 14px; color: #000; font-weight: bold; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; background: #fff;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.43); -moz-box-shadow: 0 1px 3px rgba(0,0,0,.43);	box-shadow: 0 1px 3px rgba(0,0,0,.43);}
.no-search-txt .txt-blue{ color: #5656d1;}
.no-search-arrow{ display: inline-block; width: 14px; height: 13px; background: url(../../images/tuan/no-search-arrow.png) no-repeat center center; position: absolute; left: -14px; top: 16px;}
.no-search-txtwrap ul{ line-height: 27px; padding-top: 15px; color: #999;}
.no-search-txtwrap li strong{ font-weight: bold; font-size: 14px; color: #000;}

/* 附加信息 */
.floor-tit-more a:hover{ text-decoration: underline;}
.tuan-othorLook{margin-top:22px;font-size:20px;line-height:22px;font-family:"Microsoft YaHei";}
.txt-c{text-align:center}