.clear-fix:after,
.clear-fix:before{
    content:" ";
    display:table;
}
a{ color: #333;}
.mat20{ margin-top: 10px;}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}

.crumbs{ border-bottom: 1px #dfdfdf solid; line-height: 36px; margin-top: 10px; font-size: 14px;}
.crumbs a{ color: #333;}
.footer{ margin-top: 20px;}
.wz-left{ width: 630px;}
.wz-right{ width: 336px;;}
/*文章内容s*/
.topbananer{ text-align:center;}
.topbananer,#stepwrap,.updatatimes,.list_rbone,.list_rbtwo,.tabsone,.list_rbthree,.list_hottit .list_itemone,.l_bananer,.w233,.w340 h3,.l_boxtwo{margin-top:10px}
.con_lwrap{border:4px solid #EDEDED;background:#fff;margin-top:29px;padding:0 20px 10px}
.con_lwrap .list_itemone,.w340 .list_itemone{font-size:14px;padding-top:0}
.con_lwrap .list_itemone li,.w340 .list_itemone li{background-position:-28px -100px}
.con_ltit{text-align:center;font-size:0;line-height:0}
.con_ltit em{overflow:hidden;margin-top:-20px;_position:relative;height:35px;display:inline-block;background:#fff;padding:0 5px;font:bold 26px/35px \5FAE\8F6F\96C5\9ED1}
.bt_ad{width:590px;height:20px;text-align:center; margin-top:10px;}
.news_mainbox{color:#252525;font-size:120%;margin-top:20px;line-height:1.8; width: 580px; overflow: hidden;}
.news_mainbox{min-height: 520px; _height: 520px;}
.news_mainbox p{ color: #666666; }
.news_mainbox p img{ max-width:580px; display: block;}
#nrad{clear:right;float:right;width:360px;height:300px;margin:18px 0 15px 15px}
#zhan{clear:right;float:right;height:100px;width:1px}
.con_crumbs{width:582px;position:relative;padding:5px 0 10px;color:#8B8B8B;text-align:right;border-bottom:1px dotted #ccc; font-size: 12px;}

.submit_sub, .morecss,
.list_itemone li,
.pagewrap a.prev,
.pagewrap a.next,
.pagewrap a.prev:hover,
.pagewrap a.next:hover,
.otherkeys,
.l_tabsone,
.fontSize span {
    background: url(../../../images/huodong/wenzhang/list2013.png) no-repeat;}

/*分页s*/
.pagewrap{margin-top:20px;text-align:center}
.pagewrap a,.pagewrap span{padding:0 11px;height:30px;line-height:30px;font-size:16px;font-weight:bold;display:inline-block;background:#EEE;margin:0 5px 10px 5px;font-family:\5b8b\4f53; color: #333333;}
.pagewrap a:hover,.pagewrap span{background:#ff7800}
.pagewrap a:hover,.pagewrap span{color:#fff;text-decoration:none}
.pagewrap a.prev,.pagewrap a.next{background-color:#EEE}
.pagewrap a.prev:hover,.pagewrap a.next:hover{background-color:#ff7800}
.pagewrap a.prev{padding-left:24px;background-position:11px -130px}
.pagewrap a.prev:hover{background-position:11px -200px}

.pagewrap a.next{padding-right:24px;background-position:42px -160px}
.pagewrap a.next:hover{background-position:42px -240px}
/*分页e*/
/*相关新闻 s*/
.zfaw582{margin-top:25px;border-top:1px dotted #9a9a9a}
.news_related_tit{margin-top:25px;height:37px;overflow:hidden;border-top:1px dotted #9A9A9A;font:bold 16px/2.6 \5FAE\8F6F\96C5\9ED1}
.zfaw582 h2{margin-top:0;border-top:none}
.zfaw370{float:left;width:370px}
.zfaw195{float:right;width:175px;border-left:1px solid #d7d7d7;padding-left:20px;margin-top:14px}
.zfaw195 h2{font:bold 16px/30px \5FAE\8F6F\96C5\9ED1;height:30px;overflow:hidden;}
.zfaw195 h2 i{display:inline-block;background-position:0 -71px;width:21px;height:14px;vertical-align:top;margin-left:4px}
.zfalist{margin-top:5px}
.zfalist li{height:27px;line-height:27px;font-size:14px;color:#252525;overflow:hidden;}
.list_hottit .list_itemone{border-top:1px dotted #ccc;padding:6px 10px 0}
.list_itemone{padding-top:6px}
.list_itemone li{height:25px;line-height:25px;overflow:hidden;background-position:-28px -98px}
.list_itemone a{margin-left:14px}
/*相关新闻 e*/

/*文章内容e*/

.hhh160,.hhhh160{border:1px solid #DCDCDC;margin-top:10px; overflow: hidden; *zoom: 1; padding-bottom: 12px;}
.hhh160 a,.hhhh160 a{float:left;margin:13px 0 0 12px;_margin:13px 0 0 8px;position:relative;display:block ;width:190px; border:1px #ddd solid;overflow:hidden; text-align: center;}
.hhh160 img,.hhhh160 img{width:190px; }
.hhh160 span,.hhhh160 span{width:190px;line-height:29px;height:29px;position: absolute;bottom: 0;left: 0;overflow: hidden;color:#fff;text-align:center;}
.hhh160 span,.hhhh160 span,#boxtow span{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4c000000', EndColorStr='#4c000000')}
.hhh160 a,.hhh160 img{ height: 260px;}
.hhhh160 a,.hhhh160 img{ height: 140px;}
/*玩乐 s*/
.new-main{ border: 1px #ededed solid; }
.new-main .title{ border-bottom: 2px #ff7800 solid; height: 38px ;line-height: 38px; font-size: 14px; overflow: hidden; color: #666666; background: #f8f8f8;}
.new-main .title h2{ font-weight: bold; padding: 0 20px; background: url("../../../images/huodong/wenzhang/list2013.png") no-repeat center -225px; float: left;}
.l_conswrap{padding:5px 18px 12px}
.w233{float:left;width:233px}
.w233 a{display:block;height:146px;position:relative; margin-bottom: 10px; text-align: center; overflow: hidden; border: 1px #ddd solid;}
.w233 img{width:230px;height:146px}
.w233 span{position:absolute;left:0;bottom:0;height:29px;line-height:29px;overflow:hidden;padding:0 10px;width:210px; color: #fff}
.w233 span{background:rgba(0, 0, 0, 0.6);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#99000000', EndColorStr='#99000000');}
.w340{float:right;width:340px}
.w340 h3{height:25px;;overflow:hidden;font:bold 16px/23px \5FAE\8F6F\96C5\9ED1;}
.w340 p{height:23px;line-height:23px;overflow:hidden}
.w340 p a{margin:0 5px}
.w340 .list_itemone{padding-top:2px}
.w340 .list_itemone li{height:26px;line-height:26px}
.w340 .l_addcss{padding-top:4px}
/*玩乐 e*/
/*幽默搞笑 s*/
.l_fontimgs{ padding-bottom: 10px;}
.l_fontimgs a{float:left;width:184px;height:260px;text-align:center;margin:15px 0 0 19px;overflow:hidden;line-height:1.8; white-space: normal;}
.l_fontimgs img{display:block;width:184px;height:234px;margin:0 auto 4px;}
/*幽默搞笑 e*/
/*幽默搞笑下面新闻 s*/
.v3_dbnews{ width:618px; overflow:hidden; border:solid 1px #DCDCDC; padding:5px; margin-top:10px;}
.v3_dbnews ul{ margin:0; padding:0;}
.v3_dbnews ul li{ list-style:none; height:25px; line-height:25px; float:left; width:304px; font-family:"宋体";}
.v3_dbnews ul li a{ text-decoration:none; color:#333; font-size:12px;}
/*幽默搞笑下面新闻 e*/
/*全球动态 s*/
.zfatabone,.r_listitemone li,.zfaw195 h2 i{background:url(../../../images/huodong/wenzhang/zfatab.jpg) no-repeat;}
.tabscon{border:1px solid #DBDEE1; border-top: 2px #ff7800 solid; padding-bottom: 10px; margin-top: 10px;}
.tabscon .zfatabone{height:34px;_position:relative;background:#F5F5F5;border-bottom:1px solid #DBDEE1; }
.tabscon .zfatabone li{cursor:pointer;float:left;border-right:1px solid #DBDEE1;padding:0 12px;font-size:14px;height:35px;line-height:35px}
.tabscon .zfatabone li.cur{font-size:16px;font-weight:bold;background:#fff;overflow:hidden;_position:relative; height: 35px;}
.borderwrap{border:1px solid #E0E0E0;border-top:none;padding:0 10px 10px}
.v_fontimgs1{overflow:hidden;padding:1px 10px 10px;}
#boxtow{overflow:hidden;margin-top:10px}
#boxtow a{margin:0px 3px 0px 6px; _margin:0px 3px 0px 3px; position:relative; text-align: center;}
#boxtow a{display:inline;height:220px;width:146px;float:left; border: 1px #ddd solid;}
#boxtow img{width:146px; height: 220px;}
#boxtow span{width:146px;line-height:29px;height:29px;position: absolute;bottom:0;left:0;overflow: hidden;color:#fff;text-align:center;display:inine-block}
.yyy{height:23px;line-height:23px;overflow:hidden}
.yyy span{float:left;margin:3px 8px 0 0;width:31px;height:15px;background:url(../../../images/huodong/wenzhang/tuijian.png) no-repeat;}
.tabscon h3{margin:13px 0 0px 5px;height:20px;line-height:20px;font-size:14px;}
.tabscon h3 a{color:#B9061B}
.r_listitemone{padding-top:10px}
.r_listitemone li{height:26px;line-height:26px;overflow:hidden;font-size:13px}
.r_listitemone a{margin-right:5px; color:#333;}
.r_listitemone span a{color:#112F65}
.r_listitemone li{background-position:-331px -70px;text-indent:15px;color:#4e4c4c;}
/*全球动态 e*/
/*图文焦点 s*/
.pic-text{ border: 1px #ededed solid;}
.pic-text h3{ height: 30px; line-height: 30px; font-size: 14px; padding-left: 10px; color: #333333;  border-bottom:1px solid; font-weight: bold;}
.pic-text .bg1{ background: #ffefe0; border-bottom-color: #eddac9;}
.pic-text .bg2{ background: #fafafa; border-bottom-color: #ededed;}
.pic-text .v_fontimgs{ padding: 10px 5px;}
.pic-text .v_fontimgs a{float:left;width:140px;overflow:hidden; height:200px;line-height:1.6;margin:10px 10px 0 10px;background:#fff; text-align: center;white-space:nowrap; display: block;}
.pic-text .v_fontimgs img{display:block;width:140px;margin:0 auto 4px; height: 165px;}
.pic-text .r_listitemone{ padding:10px;}
/*图文焦点 e*/
/*服务信息s*/
.seave-news{ background: #f9f9f9; border:1px #ddd solid; padding: 10px 20px;}
.seave-news dl{ padding-left: 75px;}
.seave-news dt{ float: left; width: 75px; margin-left: -75px; font-size: 14px;}
.seave-news dd{ line-height: 24px; width: 230px; float: left; display: inline; margin-right: 20px;}
.seave-news dd a{ color: #0b3c8b;}
/*服务信息e*/

/*图片详情页s*/
.center{ text-align: center;}
.data-slide{ min-height: 400px; _height: 400px; width: 600px; position: relative; margin-top: 20px; margin-left: -10px;}
.data-slide .left-btn,
.data-slide .right-btn{ width: 77px; height: 77px; cursor: pointer; position: absolute; top: 50%; margin-top: -38px; z-index: 1;}
.data-slide .left-btn{ left: 10px; background: url(../../../images/huodong/wenzhang/arr-btn-l.png) no-repeat; _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../../images/huodong/wenzhang/arr-btn-l.png");}
.data-slide .right-btn{ right:10px; background: url(../../../images/huodong/wenzhang/arr-btn-r.png) no-repeat; _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../../images/huodong/wenzhang/arr-btn-r.png");}
.data-slide .pic-main{ width: 100%; height: 100%; position: relative; z-index: 0;}
.data-slide .pic-main ul{ width: 100%; height: 100%;}
.data-slide .pic-main li{ width: 600px; overflow: hidden; text-align: center; display: none;}
.data-slide .pic-main li.img-end-ad{ padding-top: 60px;}
.data-slide .pic-main img{ max-width: 600px; cursor: pointer;}
.data-slide .pic-numb{ width: 74px; height: 32px;background: url(../../../images/huodong/wenzhang/dati-pic-numb.png) no-repeat;  _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../../images/huodong/wenzhang/dati-pic-numb.png"); position: absolute; z-index: 2; right: 10px; bottom: 10px;}
.data-slide .pic-numb span{ width: 32px; height: 32px; text-align: center; overflow: hidden; font: normal 18px/32px "\5FAE\8F6F\96C5\9ED1"; color: #fff; float: left;}
.data-slide .pic-numb .now-numb{ margin-right: 10px; _display: inline;}
.detail-info-panel .info-img img { display: block; margin-bottom: 6px;}

.all-looks{ width: 610px; margin-left: -15px;}
.all-looks h2{ line-height: 30px; font-size: 14px; font-family: 'microsoft yahei'; padding-left: 15px;}
.looks-items{ border: 1px #ededed solid; margin-top: 10px; position: relative; height: 222px; width: 100%; overflow: hidden;}
.looks-items ul{ width: 100%; position: absolute; height: 222px; overflow: hidden; padding-left: 2px;}
.looks-items li{ width: 192px; float: left; display: inline; height: 218px; overflow: hidden; padding-top: 4px; margin: 0 5px; font-size: 12px;}
.looks-items .pic{ width: 190px; height: 190px; text-align: center; display: table-cell; vertical-align:middle;  border:1px #e2e2e2 solid;  *display: block;  *font-size: 165px;/ *font-family:Arial;}
.looks-items .pic img{ max-width: 190px; max-height: 190px; vertical-align:middle; display: inline;}
.looks-items li p{ color: #ff7800;}
.looks-items li p a{ color: #999999;}
.looks-items span{ cursor: pointer; width: 33px; height: 33px; position: absolute; top: 85px; background-image:url("../../../images/huodong/wenzhang/arr-btn1.png"); background-repeat: no-repeat;}
.looks-items .left-btn{ background-position: left top; left: 20px;}
.looks-items .right-btn{ background-position: left -34px; right: 20px;}
/*图片详情页e*/