/*Layout -Start-Gaotian- 20131230*/
.ov{overflow:hidden}
.auto{margin-right:auto;margin-left:auto}
.pz{position:relative;z-index:0}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
small{font-style:normal;font-size:12px}
.spac-box{padding-bottom:20px;background-color:#841d29;overflow-x:hidden;}
/*Layout -End-Gaotian- 20131230*/

/*Bnner -Start-Gaotian- 20131230*/
.banner-bg{position:absolute;top:0;left:50%;z-index:0;margin-left:-960px;}
.bnn-box{position:relative;z-index:1;width:730px;padding:124px 0 125px;}
.bnn-box .bnns{height:336px;}
.bnn-scroll{position:relative;z-index:1;width:922px;height:240px;margin:0 auto;padding:47px 60px 0;background:url(../images/bg_c1.png) no-repeat center center;}
.bnn-scroll img{width:158px;height:194px;border:1px solid #400708;-webkit-transition: border .2s ease-in-out;-moz-transition: border .2s ease-in-out;-ms-transition: border .2s ease-in-out;-o-transition: border .2s ease-in-out;transition: border .2s ease-in-out;}
.bnn-scroll a:hover img{border-color:#ee6b01}
.box-scroll{width:500px;}
.bnn-scroll .box-scroll{margin-left:50px}
.bnn-scroll .nav-scroll{position:absolute;top:1px;z-index:1;width:44px;height:195px;background:#8e4748;}
.bnn-scroll .nav-scroll s{position:absolute;top:50%;left:50%;z-index:1;width:26px;height:46px;margin:-23px 0 0 -13px;background-image:url(../images/bg.png);background-repeat:no-repeat;opacity:0.5;-webkit-transition: opacity .3s  ease-in-out;-moz-transition: opacity .3s  ease-in-out;-ms-transition: opacity .3s  ease-in-out;-o-transition: opacity .3s  ease-in-out;transition: opacity .3s  ease-in-out;}
.bnn-scroll .prev{right:100%}
.bnn-scroll .next{left:100%;}
.bnn-scroll .nav-scroll:hover s{opacity:1}
.bnn-scroll .next s{background-position:-37px 0}
.bnn-scroll .scroll-cont{width:100%;height:196px;}
.scroll-cont .scroll-list{width:4000px}
.bnn-scroll .scroll-cont a{display:inline;float:left;margin-left:5px;}

#bnns_prev,#bnns_next{position:absolute;top:190px;z-index:6;width:65px;height:65px;cursor:pointer;opacity:0.5;-webkit-transition: opacity .4s ease-in-out;-moz-transition: opacity .4s ease-in-out;-ms-transition: opacity .4s ease-in-out;-o-transition: opacity .4s ease-in-out;transition: opacity .4s ease-in-out;}
#bnns_prev:hover,#bnns_next:hover{opacity:0.8}
#bnns_prev s,#bnns_next s{display:none}
#bnns_prev{left:0;background:url(http://staticcdn.b5m.com/images/guanggao/bg_prev.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://staticcdn.b5m.com/images/guanggao/bg_prev.png');}
#bnns_next{right:0;background:url(http://staticcdn.b5m.com/images/guanggao/bg_next.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://staticcdn.b5m.com/images/guanggao/bg_next.png');}
/*Bnner -End-Gaotian- 20131230*/

/*User -Start-Gaotian- 20131230*/
/*登录*/
.box-login,.login-box{float:left;width:296px;padding:34px 0 0 105px;color:#eb7d00;}
.box-login h3{font-size:24px;line-height:25px;font-family:"Microsoft YaHei";}
.box-login p,.login-box p{padding:4px 0 16px 6px;line-height:18px;zoom:1}
.box-login p u,.login-box p u{position:absolute;top:9px;right:100%;z-index:1;width:5px;height:14px;background:#eb7d00;font-size:0;line-height:0;}
.box-login p b,.login-box p b{color:#ffc50f;font-weight:normal;font-size:16px;}
.box-login .bt a{display:block;width:159px;height:78px;margin:0 auto;background:url(../images/bg.png) no-repeat 0 -51px;}
.box-login .bt a s{display:none;}
.login-box h3 a{color:#ffc50f}
.nvite-info{overflow:hidden;padding:30px 0 10px;zoom:1}
.nvite-info span{display:inline;float:left;width:73px;/*margin-left:-1px;*/border-left:1px solid #841d29;color:#FFC50F;font-weight:bold;text-align:center;}
.nvite-info span b{display:block;font-weight:normal;font-size:24px;line-height:25px;}
/*邀请*/
.box-user{width:958px;/*height:246px;*/padding:0 20px 8px 0;border:1px solid #561119;background:#660d18}
.box-user h3{position:relative;z-index:1;margin:20px 0 18px;color:#ffc50f;font-size:18px;line-height:18px;font-family:"Microsoft YaHei";}
.box-user h3 s{position:absolute;top:2px;*top:5px;left:-8px;z-index:1;border-left:5px solid #ffc50f;width:0;height:16px;font-size:0;line-height:0;}
.usr-avatar{position:absolute;top:-1px;left:-1px;z-index:1;width:100px;height:100px;overflow:hidden;background:url(../images/bg_usr1.jpg) no-repeat;}
.usr-avatar s{position:absolute;top:0;left:0;z-index:2;width:100px;height:100px;background:url(../images/bg_usr2.png) no-repeat;}

.invite{padding-left:30px;}
.invite p{margin-bottom:10px;color:#eb7d00;line-height:13px;}
.invite .cb{color:#ffc50f;font-weight:bold}
.bt_inviteRule{color:#ffc50f;font-size:18px;line-height:20px;font-family:"Microsoft YaHei";/*display:block;width:323px;height:52px;background:url(../images/bt_inviteRule1.png) no-repeat*/}
/*.bt_inviteRule:hover{background:url(../images/bt_inviteRule2.png) no-repeat}*/
.box-nvite{width:548px;color:#ffc50f}
.box-nvite small{display:block;padding-bottom:10px;}
.box-nvite p{height:70px;padding:6px;border:1px solid #490911;border-radius:3px;color:#eb7d00;line-height:18px;}
.box-nvite p a{color:#fff;}
.nvite-bt{padding-top:8px;}
.nvite-botton{display:inline-block;width:63px;padding:4px 0;background:#eb7d00;color:#fff;font-size:12px;line-height:14px;font-family:"Microsoft YaHei";text-align:center;cursor:pointer}

.nvite-bt p{float:right;border:none;margin:0;padding:0;}
.nvite-bt p span{margin-left:6px}
.nvite-bt p img{cursor:pointer}
.nvite-bt .bshare-custom{float:right;}
#share-icon .bshare-qzone{ background: url(../images/bt_share1.jpg) no-repeat;}
#share-icon .bshare-sinaminiblog{ background: url(../images/bt_share2.jpg) no-repeat;}
#share-icon .bshare-qqmb{ background: url(../images/bt_share3.jpg) no-repeat;}
.nvite-bt .box-popShare{float:right;*margin-top:-24px;}

.nvite-botton2{display:inline-block;width:180px;height:51px;background-image:url(../images/bg_bt_login.png);background-repeat:no-repeat}
.nvite-botton2:hover{background-position:0 bottom}
/*User -End-Gaotian- 20131230*/

/*排行榜 -Start-Gaotian- 20131231*/
.list-sort{width:980px;margin:85px auto 0;padding:18px 0;background:#660d18;font-size:0;line-height:12px;}
.list-sort h3{padding:12px 0;color:#ffc50f;font-weight:bold;font-size:12px;line-height:13px;}
.list-sort-tit{position:absolute;right:0;bottom:100%;z-index:1;width:1013px;height:86px;background:url(../images/bg_sort_tit.png) no-repeat}
.sort-top{float:left;padding:0 0 0 20px;width:318px;}
.list-sort ul,.list-sort dl{background:#721621;height:178px;*height:184px;}
.list-sort ul{height:148px;height:144px \0;*height:150px;_height:150px;}
.list-sort ul{position:relative;z-index:0;width:284px;overflow:hidden;padding:35px 16px 0;color:#eb7d00;zoom:1}
.list-sort li{padding:6px 0;border-bottom:1px solid #66151f;*line-height:17px;zoom:1}
.list-sort .sort-top-tit,.sort-partner dt{height:34px;padding-top:0;padding-bottom:0;line-height:12px;}
.list-sort .sort-top-tit span,.sort-partner dt span{display:inline-block;padding-top:10px;}
.list-sort .sort-top-tit{position:absolute;top:0;left:0;z-index:1;/*margin:0 -16px;*/width:284px;padding-right:17px;padding-left:17px;border:none;background:#9e3b47;font-weight:bold}
.list-sort li span{display:inline-block;font-size:12px;text-align:center;}
.list-sort .s1{width:26px;}
.list-sort .s2{width:204px;}
.list-sort .s3{width:52px;}
.sort-partner{float:left;width:604px;padding-left:20px;}
.sort-partner dl{display:inline;float:right;width:288px;}
.sort-partner ul{float:left;}
.sort-partner dt{background:#9E3B47;color:#EB7D00;font-weight:bold;font-size:12px;text-align:center;}
.sort-partner dd{padding:14px 11px;border-left:6px solid #660d18;}
.sort-partner a,.sort-partner img{display:block;width:254px;height:118px;}
.sort-partner a{border:2px solid #680e19;-webkit-transition: border .3s  ease-in-out;-moz-transition: border .3s  ease-in-out;-ms-transition: border .3s  ease-in-out;-o-transition: border .3s  ease-in-out;transition: border .3s  ease-in-out;}
.sort-partner a:hover{border-color:#EB7D00}

.list-ranking{width:980px;height:176px;padding:53px 0 20px;background:url(../images/bg_bang.png) no-repeat;color:#f9c6c7;line-height:12px;}
.list-ranking .fl{width:460px;padding-left:20px;}
.list-ranking ul,.list-ranking .pic img{height:176px;}
.list-ranking ul{float:left;width:290px;overflow:hidden;padding:0 10px;_line-height:13px;background:#c73336;}
.list-ranking li{overflow:hidden;margin-bottom:-1px;padding:9px 2px 8px;*padding-top:8px;border-bottom:1px solid #b4292c;}
.list-ranking .tit{margin:0 -10px;padding:10px 12px;background:#ffc50f;border:none;color:#ae1b1e;}
.list-ranking li span{float:right}
.list-ranking .pic{float:right;}
.list-ranking .pic img{width:133px;}

.cbnn{width:980px;height:254px;}
.cbnn .pic{display:inline;position:absolute;top:0;right:-20px;z-index:0;float:right;width:510px;height:223px;padding-left:24px;margin-right:-14px;_margin-right:-18px;padding-top:30px;cursor:pointer}
.cbnn .pic s{position:absolute;top:0;left:0;z-index:1;width:534px;height:253px;background:url(http://staticcdn.b5m.com/images/guanggao/bg_bang_mask.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://staticcdn.b5m.com/images/guanggao/bg_bang_mask.png');}
.cbnn-box{display:inline;float:left;margin-top:40px;width:460px;height:190px;}
/*排行榜 -End-Gaotian- 20131231*/
/*商品推荐 -Start-Gaotian- 20140102*/
.recommend{width:980px;height:327px;background:url(../images/bg_reco.gif) no-repeat;}
.sort-reco{width:450px;padding:20px 0 0 20px;}
.sort-reco ul{float:right;width:210px;padding-top:40px;}
.sort-reco li{overflow:hidden;padding-bottom:7px;*padding-bottom:5px;zoom:1}
.sort-reco .pic{float:left;}
.sort-reco .tit{float:right;width:156px;color:#fff5d5}
.sort-reco .tit:hover{color:#ffc50f}
.channel-reco{width:464px;padding:50px 0 0 0;}
.channel-reco a{display:inline;float:left;margin:10px 10px 0 0;}
.channel-reco a,.channel-reco img{width:217px;height:119px;}
/*排行榜 -End-Gaotian- 20140102*/
/*更多精彩 -Start-Gaotian- 20140102*/
.bravo{width:980px;height:245px;padding-top:55px;background:url(../images/bg_bravo.png) no-repeat}
.bravo a{display:inline;float:left;margin-left:18px;border:1px solid #b48485;-webkit-transition: border .2s ease-in-out;-moz-transition: border .2s ease-in-out;-ms-transition: border .2s ease-in-out;-o-transition: border .2s ease-in-out;transition: border .2s ease-in-out;}
.bravo a,.bravo img{width:220px;height:220px;}
.bravo a:hover{border-color:#ffc50f}
/*更多精彩 -End-Gaotian- 20140102*/
/*二维码 -Start-zibu- 20140319*/
.erweima-layer{ width: 160px; height: 160px; position: absolute; top: 675px; left: 50%; margin-left: 520px;}
/*二维码 -End-zibu- 20140319*/
