.beanshelp-head {
  width: 100%;
  height: 530px;
  background-color: #ea3045;
  position: relative;
}
.shelp-head-content {
  height: 530px;
  background: url("/static/images/huodong/bangdouindex/bangdou-topbg.png") no-repeat center 0;
}
.s-h-c980 {
  width: 1408px;
  height: 530px;
  margin: 0 auto;
  position: relative;
}
.zhuc {width: 185px;
  height: 132px;
  position: absolute;
  top: 0px;
  right: 26px;background-repeat: no-repeat;}
.beanshelp-content {
  height: 1886px;
  background: url("/static/images/huodong/bangdouindex/bangdou-cbgred.png") repeat-x 0 0;
}
.b-h-ctop {
  width: 1171px;
  height: 1086px;
  margin: -1px auto 0;
  background: url("/static/images/huodong/bangdouindex/bangdou-cbgf.png") no-repeat 0 0;
}
.ctop-mid {
  width: 980px;
  height: 275px;
  margin: 0 auto;
  position: relative;
  top: 97px;
  overflow: hidden;
}
.ctop-mid a {
  position: absolute;
  top: -15px;
  transition: top ease 0.2s;
}
.ctop-mid a:hover {
  top: -5px;
}
.al-one,
.al-one:hover {width: 94px;
  height: 240px;
  left: 80px;background-repeat: no-repeat;}
.al-two,
.al-two:hover {width: 94px;
  height: 240px;
  left: 214px;background-repeat: no-repeat;}
.al-thre,
.al-thre:hover {width: 94px;
  height: 240px;
  left: 346px;background-repeat: no-repeat;}
.al-for,
.al-for:hover {width: 94px;
  height: 240px;
  left: 480px;background-repeat: no-repeat;}
.al-five,
.al-five:hover {width: 94px;
  height: 240px;
  left: 613px;background-repeat: no-repeat;}
.al-six,
.al-six:hover {width: 94px;
  height: 240px;
  left: 745px;background-repeat: no-repeat;}
.al-one:hover {height: 260px;background-repeat: no-repeat;}
.al-two:hover {height: 260px;background-repeat: no-repeat;}
.al-thre:hover {height: 260px;background-repeat: no-repeat;}
.al-for:hover {height: 260px;background-repeat: no-repeat;}
.al-five:hover {height: 260px;background-repeat: no-repeat;}
.al-six:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid2 {
  top: 125px;
}
.ctop-mid2 .al-one,
.ctop-mid2 .al-one:hover {width: 94px;
  height: 240px;
  left: 80px;background-repeat: no-repeat;}
.ctop-mid2 .al-two,
.ctop-mid2 .al-two:hover {width: 94px;
  height: 240px;
  left: 214px;background-repeat: no-repeat;}
.ctop-mid2 .al-thre,
.ctop-mid2 .al-thre:hover {width: 94px;
  height: 240px;
  left: 346px;background-repeat: no-repeat;}
.ctop-mid2 .al-for,
.ctop-mid2 .al-for:hover {width: 94px;
  height: 240px;
  left: 480px;background-repeat: no-repeat;}
.ctop-mid2 .al-five,
.ctop-mid2 .al-five:hover {width: 94px;
  height: 240px;
  left: 613px;background-repeat: no-repeat;}
.ctop-mid2 .al-six,
.ctop-mid2 .al-six:hover {width: 94px;
  height: 240px;
  left: 745px;background-repeat: no-repeat;}
.ctop-mid2 .al-one:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid2 .al-two:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid2 .al-thre:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid2 .al-for:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid2 .al-five:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid2 .al-six:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid3 {
  top: 162px;
}
.ctop-mid3 .al-one,
.ctop-mid3 .al-one:hover {width: 94px;
  height: 240px;
  left: 80px;background-repeat: no-repeat;}
.ctop-mid3 .al-two,
.ctop-mid3 .al-two:hover {width: 94px;
  height: 240px;
  left: 214px;background-repeat: no-repeat;}
.ctop-mid3 .al-thre,
.ctop-mid3 .al-thre:hover {width: 94px;
  height: 240px;
  left: 346px;background-repeat: no-repeat;}
.ctop-mid3 .al-for,
.ctop-mid3 .al-for:hover {width: 94px;
  height: 240px;
  left: 480px;background-repeat: no-repeat;}
.ctop-mid3 .al-five,
.ctop-mid3 .al-five:hover {width: 94px;
  height: 240px;
  left: 613px;background-repeat: no-repeat;}
.ctop-mid3 .al-six,
.ctop-mid3 .al-six:hover {width: 94px;
  height: 240px;
  left: 745px;background-repeat: no-repeat;}
.ctop-mid3 .al-one:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid3 .al-two:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid3 .al-thre:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid3 .al-for:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid3 .al-five:hover {height: 260px;background-repeat: no-repeat;}
.ctop-mid3 .al-six:hover {height: 260px;background-repeat: no-repeat;}
.hua-beanshelp {
  width: 980px;
  height: 390px;
  margin: 20px auto;
}
.hua-bh-l {
  width: 630px;
  height: 390px;
  background-color: #871f42;
  float: left;
  margin: 0 0 0 -12px;
}
.bh-lgif {
  width: 276px;
  height: 350px;
  float: left;
  margin: 20px 0 20px 20px;
  background: url("/static/images/huodong/bangdouindex/bangdougif.gif") no-repeat 0 0;
}
.hua-bh-list {
  float: right;
  width: 291px;
  height: 350px;
  margin: 20px 20px 20px 0;
}
.bh-lis-tt {
  height: 26px;
  margin: 0 0 15px 0;
}
.bh-lis-tt span {
  float: left;
  margin: 0 6px 0 0;
}
.by dfn {
  width: 29px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 20px;
  margin: 0 5px 0 0;
  background-color: #ffc50e;
  display: inline-block;
  color: #914400;
  font-family: "Microsoft YaHei";
}
.topf {
  font-size: 20px;
  color: #fff8ae;
  font-family: "Microsoft YaHei";
  font-weight: bold;
}
.topf em {width: 19px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;background-repeat: no-repeat;}
.bh-list-nr {
  height: 55px;
  margin: 0 0 8px 0;
}
.pic-link {
  width: 55px;
  height: 55px;
  float: left;
}
.bh-list-nr p {
  float: left;
  margin: 4px 0 0 20px;
}
.bh-list-nr p a {
  display: block;
  color: #fff;
  font-weight: bold;
  margin: 0 0 6px 0;
}
.bh-list-nr p a dfn {
  font-family: "tahoma";
  font-weight: bold;
}
.bh-list-nr p span {
  font-size: 14px;
  color: #fff5d5;
}
.bh-list-nr p span dfn {
  color: #ffc50f;
}
.hua-bh-r {
  float: right;
  width: 330px;
  height: 390px;
  background-color: #871f42;
  margin: 0 12px 0 0;
}
.bh-rtt {
  height: 34px;
  line-height: 30px;
  background-color: #d08422;
  display: block;
  padding: 0 0 0 26px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
}
.hua-bh-r ul {
  margin: 15px 22px 22px 22px;
  overflow: hidden;
}
.hua-bh-r ul li {
  height: 25px;
  border-bottom: 1px solid #ac566c;
  overflow: hidden;
  padding: 0 0 0 4px;
  margin: 0 0 6px 0;
}
.name {
  float: left;
  color: #fff;
}
.dh-ipd {
  float: right;
  color: #fff;
}
.bean-listpic {
  width: 1042px;
  position: relative;
  left: 20px;
  padding: 22px 0 0 36px;
  margin: 0 auto;
  height: 292px;
  background: url("/static/images/huodong/bangdouindex/bangdou-botbg.png") no-repeat center 0;
}
.bean-listpic a {
  width: 230px;
  height: 250px;
  float: left;
  margin: 0 8px 0 0;
}
.fixd-a {
  position: fixed;
  width: 158px;
  height: 132px;
}
.floating-layer {
  width: 638px;
  height: 442px;
  border: 2px solid #c28c4e;
  border-radius: 5px;
  background-color: #d92e41;
}
.floating-layer p {
  margin: 150px 0 0 70px;
  width: 435px;
  color: #ffe58b;
  font-family: "Microsoft YaHei";
  font-size: 23px;
}
.pic-go {
  margin: 0 0 0 70px;
  display: block;
  overflow: hidden;
}
.pic-go span,
.pic-go span img {
  width: 400px;
  height: 200px;
  float: left;
  display: none;
}
.pic-go a {
  color: #ffe58b;
  font-size: 49px;
  font-family: "Leelawadee";
  margin: 0 0 0 400px;
  float: left;
}
.pic-go a em {width: 26px;
  height: 26px;
  display: inline-block;
  margin: 0 0 0 4px;
  *margin: -40px 0 0 4px;background-repeat: no-repeat;}
.ui-dialog-close {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 30px;
  color: #ffe58b;
}
.zhuc{background-position:0px 0px}.al-one,
.al-one:hover{background-position:-91px -135px}.al-two,
.al-two:hover{background-position:-91px -378px}.al-thre,
.al-thre:hover{background-position:-91px -621px}.al-for,
.al-for:hover{background-position:-91px -864px}.al-five,
.al-five:hover{background-position:-91px -1107px}.al-six,
.al-six:hover{background-position:-91px -1350px}.al-one:hover{background-position:-91px -1593px}.al-two:hover{background-position:-91px -1856px}.al-thre:hover{background-position:-91px -2119px}.al-for:hover{background-position:-91px -2382px}.al-five:hover{background-position:-91px -2645px}.al-six:hover{background-position:-91px -2908px}.ctop-mid2 .al-one,
.ctop-mid2 .al-one:hover{background-position:-91px -3171px}.ctop-mid2 .al-two,
.ctop-mid2 .al-two:hover{background-position:-91px -3414px}.ctop-mid2 .al-thre,
.ctop-mid2 .al-thre:hover{background-position:-91px -3657px}.ctop-mid2 .al-for,
.ctop-mid2 .al-for:hover{background-position:-91px -3900px}.ctop-mid2 .al-five,
.ctop-mid2 .al-five:hover{background-position:-91px -4143px}.ctop-mid2 .al-six,
.ctop-mid2 .al-six:hover{background-position:-91px -4386px}.ctop-mid2 .al-one:hover{background-position:-90px -4629px}.ctop-mid2 .al-two:hover{background-position:-90px -4892px}.ctop-mid2 .al-thre:hover{background-position:-90px -5155px}.ctop-mid2 .al-for:hover{background-position:-90px -5418px}.ctop-mid2 .al-five:hover{background-position:-90px -5681px}.ctop-mid2 .al-six:hover{background-position:-90px -5944px}.ctop-mid3 .al-one,
.ctop-mid3 .al-one:hover{background-position:-91px -6207px}.ctop-mid3 .al-two,
.ctop-mid3 .al-two:hover{background-position:-91px -6450px}.ctop-mid3 .al-thre,
.ctop-mid3 .al-thre:hover{background-position:-91px -6693px}.ctop-mid3 .al-for,
.ctop-mid3 .al-for:hover{background-position:-91px -6936px}.ctop-mid3 .al-five,
.ctop-mid3 .al-five:hover{background-position:-91px -7179px}.ctop-mid3 .al-six,
.ctop-mid3 .al-six:hover{background-position:-91px -7422px}.ctop-mid3 .al-one:hover{background-position:-90px -7665px}.ctop-mid3 .al-two:hover{background-position:-90px -7929px}.ctop-mid3 .al-thre:hover{background-position:-90px -8193px}.ctop-mid3 .al-for:hover{background-position:-90px -8457px}.ctop-mid3 .al-five:hover{background-position:-90px -8721px}.ctop-mid3 .al-six:hover{background-position:-90px -8985px}.topf em{background-position:-166px -9249px}.pic-go a em{background-position:-159px -9276px}.zhuc,.al-one,
.al-one:hover,.al-two,
.al-two:hover,.al-thre,
.al-thre:hover,.al-for,
.al-for:hover,.al-five,
.al-five:hover,.al-six,
.al-six:hover,.al-one:hover,.al-two:hover,.al-thre:hover,.al-for:hover,.al-five:hover,.al-six:hover,.ctop-mid2 .al-one,
.ctop-mid2 .al-one:hover,.ctop-mid2 .al-two,
.ctop-mid2 .al-two:hover,.ctop-mid2 .al-thre,
.ctop-mid2 .al-thre:hover,.ctop-mid2 .al-for,
.ctop-mid2 .al-for:hover,.ctop-mid2 .al-five,
.ctop-mid2 .al-five:hover,.ctop-mid2 .al-six,
.ctop-mid2 .al-six:hover,.ctop-mid2 .al-one:hover,.ctop-mid2 .al-two:hover,.ctop-mid2 .al-thre:hover,.ctop-mid2 .al-for:hover,.ctop-mid2 .al-five:hover,.ctop-mid2 .al-six:hover,.ctop-mid3 .al-one,
.ctop-mid3 .al-one:hover,.ctop-mid3 .al-two,
.ctop-mid3 .al-two:hover,.ctop-mid3 .al-thre,
.ctop-mid3 .al-thre:hover,.ctop-mid3 .al-for,
.ctop-mid3 .al-for:hover,.ctop-mid3 .al-five,
.ctop-mid3 .al-five:hover,.ctop-mid3 .al-six,
.ctop-mid3 .al-six:hover,.ctop-mid3 .al-one:hover,.ctop-mid3 .al-two:hover,.ctop-mid3 .al-thre:hover,.ctop-mid3 .al-for:hover,.ctop-mid3 .al-five:hover,.ctop-mid3 .al-six:hover,.topf em,.pic-go a em{background-image: url(/static/images/huodong/bangdouindex/bangdouindex_min_z.png)}