.beanshelp-head {
  width: 100%;
  height: 530px;
  background-color: #ea3045;
  position: relative;
}
.shelp-head-content {
  height: 530px;
  background: url("/static/images/huodong/bangdouindex/bangdou-topbg.png") no-repeat center 0;
}
.s-h-c980 {
  width: 1408px;
  height: 530px;
  margin: 0 auto;
  position: relative;
}
.zhuc {
  width: 185px;
  height: 132px;
  position: absolute;
  top: 0px;
  right: 26px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-zhucf.png?__sprite") no-repeat 0 0;
}
.beanshelp-content {
  height: 1886px;
  background: url("/static/images/huodong/bangdouindex/bangdou-cbgred.png") repeat-x 0 0;
}
.b-h-ctop {
  width: 1171px;
  height: 1086px;
  margin: -1px auto 0;
  background: url("/static/images/huodong/bangdouindex/bangdou-cbgf.png") no-repeat 0 0;
}
.ctop-mid {
  width: 980px;
  height: 275px;
  margin: 0 auto;
  position: relative;
  top: 97px;
  overflow: hidden;
}
.ctop-mid a {
  position: absolute;
  top: -15px;
  transition: top ease 0.2s;
}
.ctop-mid a:hover {
  top: -5px;
}
.al-one,
.al-one:hover {
  width: 94px;
  height: 240px;
  left: 80px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink1.png?__sprite") no-repeat 0 0;
}
.al-two,
.al-two:hover {
  width: 94px;
  height: 240px;
  left: 214px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink2.png?__sprite") no-repeat 0 0;
}
.al-thre,
.al-thre:hover {
  width: 94px;
  height: 240px;
  left: 346px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink3.png?__sprite") no-repeat 0 0;
}
.al-for,
.al-for:hover {
  width: 94px;
  height: 240px;
  left: 480px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink4.png?__sprite") no-repeat 0 0;
}
.al-five,
.al-five:hover {
  width: 94px;
  height: 240px;
  left: 613px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink5.png?__sprite") no-repeat 0 0;
}
.al-six,
.al-six:hover {
  width: 94px;
  height: 240px;
  left: 745px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink6.png?__sprite") no-repeat 0 0;
}
.al-one:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover1.png?__sprite") no-repeat 0 0;
}
.al-two:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover2.png?__sprite") no-repeat 0 0;
}
.al-thre:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover3.png?__sprite") no-repeat 0 0;
}
.al-for:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover4.png?__sprite") no-repeat 0 0;
}
.al-five:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover5.png?__sprite") no-repeat 0 0;
}
.al-six:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover6.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 {
  top: 125px;
}
.ctop-mid2 .al-one,
.ctop-mid2 .al-one:hover {
  width: 94px;
  height: 240px;
  left: 80px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink12.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 .al-two,
.ctop-mid2 .al-two:hover {
  width: 94px;
  height: 240px;
  left: 214px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink10.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 .al-thre,
.ctop-mid2 .al-thre:hover {
  width: 94px;
  height: 240px;
  left: 346px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink11.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 .al-for,
.ctop-mid2 .al-for:hover {
  width: 94px;
  height: 240px;
  left: 480px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink9.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 .al-five,
.ctop-mid2 .al-five:hover {
  width: 94px;
  height: 240px;
  left: 613px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink8.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 .al-six,
.ctop-mid2 .al-six:hover {
  width: 94px;
  height: 240px;
  left: 745px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink7.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 .al-one:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover7.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 .al-two:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover8.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 .al-thre:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover9.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 .al-for:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover10.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 .al-five:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover11.png?__sprite") no-repeat 0 0;
}
.ctop-mid2 .al-six:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover12.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 {
  top: 162px;
}
.ctop-mid3 .al-one,
.ctop-mid3 .al-one:hover {
  width: 94px;
  height: 240px;
  left: 80px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink13.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 .al-two,
.ctop-mid3 .al-two:hover {
  width: 94px;
  height: 240px;
  left: 214px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink14.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 .al-thre,
.ctop-mid3 .al-thre:hover {
  width: 94px;
  height: 240px;
  left: 346px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink15.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 .al-for,
.ctop-mid3 .al-for:hover {
  width: 94px;
  height: 240px;
  left: 480px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink16.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 .al-five,
.ctop-mid3 .al-five:hover {
  width: 94px;
  height: 240px;
  left: 613px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink17.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 .al-six,
.ctop-mid3 .al-six:hover {
  width: 94px;
  height: 240px;
  left: 745px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alink18.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 .al-one:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover13.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 .al-two:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover14.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 .al-thre:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover15.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 .al-for:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover16.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 .al-five:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover17.png?__sprite") no-repeat 0 0;
}
.ctop-mid3 .al-six:hover {
  height: 260px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-alinkhover18.png?__sprite") no-repeat 0 0;
}
.hua-beanshelp {
  width: 980px;
  height: 390px;
  margin: 20px auto;
}
.hua-bh-l {
  width: 630px;
  height: 390px;
  background-color: #871f42;
  float: left;
  margin: 0 0 0 -12px;
}
.bh-lgif {
  width: 276px;
  height: 350px;
  float: left;
  margin: 20px 0 20px 20px;
  background: url("/static/images/huodong/bangdouindex/bangdougif.gif") no-repeat 0 0;
}
.hua-bh-list {
  float: right;
  width: 291px;
  height: 350px;
  margin: 20px 20px 20px 0;
}
.bh-lis-tt {
  height: 26px;
  margin: 0 0 15px 0;
}
.bh-lis-tt span {
  float: left;
  margin: 0 6px 0 0;
}
.by dfn {
  width: 29px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 20px;
  margin: 0 5px 0 0;
  background-color: #ffc50e;
  display: inline-block;
  color: #914400;
  font-family: "Microsoft YaHei";
}
.topf {
  font-size: 20px;
  color: #fff8ae;
  font-family: "Microsoft YaHei";
  font-weight: bold;
}
.topf em {
  width: 19px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 10px;
  background: url("/static/images/huodong/bangdouindex/_sprite/bangdou-ts.png?__sprite") no-repeat 0 0;
}
.bh-list-nr {
  height: 55px;
  margin: 0 0 8px 0;
}
.pic-link {
  width: 55px;
  height: 55px;
  float: left;
}
.bh-list-nr p {
  float: left;
  margin: 4px 0 0 20px;
}
.bh-list-nr p a {
  display: block;
  color: #fff;
  font-weight: bold;
  margin: 0 0 6px 0;
}
.bh-list-nr p a dfn {
  font-family: "tahoma";
  font-weight: bold;
}
.bh-list-nr p span {
  font-size: 14px;
  color: #fff5d5;
}
.bh-list-nr p span dfn {
  color: #ffc50f;
}
.hua-bh-r {
  float: right;
  width: 330px;
  height: 390px;
  background-color: #871f42;
  margin: 0 12px 0 0;
}
.bh-rtt {
  height: 34px;
  line-height: 30px;
  background-color: #d08422;
  display: block;
  padding: 0 0 0 26px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
}
.hua-bh-r ul {
  margin: 15px 22px 22px 22px;
  overflow: hidden;
}
.hua-bh-r ul li {
  height: 25px;
  border-bottom: 1px solid #ac566c;
  overflow: hidden;
  padding: 0 0 0 4px;
  margin: 0 0 6px 0;
}
.name {
  float: left;
  color: #fff;
}
.dh-ipd {
  float: right;
  color: #fff;
}
.bean-listpic {
  width: 1042px;
  position: relative;
  left: 20px;
  padding: 22px 0 0 36px;
  margin: 0 auto;
  height: 292px;
  background: url("/static/images/huodong/bangdouindex/bangdou-botbg.png") no-repeat center 0;
}
.bean-listpic a {
  width: 230px;
  height: 250px;
  float: left;
  margin: 0 8px 0 0;
}
.fixd-a {
  position: fixed;
  width: 158px;
  height: 132px;
}
.floating-layer {
  width: 638px;
  height: 442px;
  border: 2px solid #c28c4e;
  border-radius: 5px;
  background-color: #d92e41;
}
.floating-layer p {
  margin: 150px 0 0 70px;
  width: 435px;
  color: #ffe58b;
  font-family: "Microsoft YaHei";
  font-size: 23px;
}
.pic-go {
  margin: 0 0 0 70px;
  display: block;
  overflow: hidden;
}
.pic-go span,
.pic-go span img {
  width: 400px;
  height: 200px;
  float: left;
  display: none;
}
.pic-go a {
  color: #ffe58b;
  font-size: 49px;
  font-family: "Leelawadee";
  margin: 0 0 0 400px;
  float: left;
}
.pic-go a em {
  width: 26px;
  height: 26px;
  display: inline-block;
  margin: 0 0 0 4px;
  *margin: -40px 0 0 4px;
  background: url("/static/images/huodong/bangdouindex/_sprite/float-laye-zx.png?__sprite") no-repeat 0 0;
}
.ui-dialog-close {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 30px;
  color: #ffe58b;
}
