*{word-wrap:normal;}
.clear-fix:after,
.clear-fix:before{
    content:" ";
    display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.fl{float:left;}
.fr{float:right;}
img{vertical-align:top;}
.opacity{filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#b2000000', EndColorStr='#b2000000');}
:root .opacity{filter:none;}

.busan{padding-top:20px;}
.busan-top-hot{width:310px;height:378px;border:1px solid #D5D5D5;}
.busan-top-hot h3{height:37px;line-height:37px;border-bottom:1px solid #D5D5D5;text-indent:10px;font-size:16px;font-weight:bold;font-family:\5FAE\8F6F\96C5\9ED1;color:#333;}
.busan-top-hot .panel{padding:10px 9px 0;}
.busan-top-hot h4{height:20px;line-height:20px;margin-top:1px;background:#f5f5f5;color:#333;overflow:hidden;}
.busan-top-hot h4 strong{display:inline-block;margin-right:8px;width:20px;text-align:center;color:#fff;background:#a3a3a3;}
.busan-top-hot h4 .no1{background:#db000f;}
.busan-top-hot h4 .no2{background:#ff5400;}
.busan-top-hot h4 .no3{background:#ff8a00;}
.busan-top-hot .box{padding:8px 0;}
.busan-top-hot .box a{float:left;width:120px;}
.busan-top-hot .box p{float:right;width:160px;word-wrap:break-word;word-break:break-all;overflow:hidden;}
.busan-top-hot .tab{float:right;height:37px;line-height:37px;margin:-38px 0 0 80px;}
.busan-top-hot .tab li{width:46px;float:left;height:37px;overflow:hidden;text-align:center;cursor:pointer;}
.busan-top-hot .tab li.current{position:relative;height:36px;border-bottom:2px solid #DB000F;margin-bottom:-1px;color:#DB000F;}
.busan-top-hot .panel{display:none;}
.busan-title strong,.busan-inner-title strong,.busan-mid-item dl,.busan-list-txt li{background:url(../../images/korea/busan/bg_title.png) no-repeat;}
.busan-title{position:relative;border-bottom:2px solid #000;height:30px;margin-top:22px;}
.busan-title strong{position:absolute;top:2px;left:0;width:237px;height:29px;overflow:hidden;font-size:0;line-height:0;color:rgba(0,0,0,0);background-color:#fff;}
.busan-title .t1{background-position:3px -22px;}
.busan-title .t2{background-position:3px -54px;}
.busan-title .t3{background-position:3px -86px;}
.busan-title .t4{background-position:3px -119px;}
.busan-title .t5{background-position:3px -151px;}
.busan-title a{position:absolute;right:0;bottom:3px;color:#DB000F;font-size:14px;font-family:Tahoma;}
.busan-title a:hover{color:#DB000F;}
.busan-inner-title{position:relative;height:20px;margin-top:30px;}
.busan-inner-title strong{display:block;height:20px;overflow:hidden;font-size:0;line-height:0;}
.busan-inner-title .it1{background-position:0 -191px;}
.busan-inner-title .it2{background-position:0 -217px;}
.busan-inner-title .it3{background-position:0 -244px;}
.busan-inner-title a{position:absolute;right:3px;bottom:1px;color:#DB000F;font-size:14px;font-family:Tahoma;}
.busan-inner-title a:hover{color:#DB000F;}
.busan-row{margin-top:25px;}
.busan-col-1{width:309px;}
.busan-col-2{width:303px;}
.busan-col-3{width:348px;}
.busan-food{width:284px;padding:0 5px 5px 0;background:url(../../images/korea/busan/bg_border.png);}
.busan-list{height:477px;padding:10px 10px 0;border:1px solid #cecece;background:#fff;}
.busan-list h3 a{position:relative;display:block;width:262px;height:181px;cursor:pointer;}
.busan-list h3 a:hover{text-decoration:none;}
.busan-list h3 span{position:absolute;top:151px;left:0;width:100%;height:30px;line-height:30px;color:#fff;text-indent:10px;white-space:nowrap;overflow:hidden;background:rgba(0,0,0,.7);}
.busan-list-ul{width:262px;overflow:hidden;}
.busan-list-ul ul{width:286px;padding-top:5px;}
.busan-list-ul li{float:left;width:120px;margin:15px 23px 0 0;}
.busan-list-ul li p{width:120px;height:18px;margin-top:5px;white-space:nowrap;overflow:hidden;}
.busan-brief{position:relative;width:283px;border-width:1px 3px;border-style:solid;border-color:#000;zoom:1;}
.busan-brief-inner{height:464px;padding:20px 20px 0;border-width:1px 0;border-style:dotted;border-color:#000;}
.busan-brief h4{margin:6px 0;font-size:14px;font-weight:bold;height:20px;line-height:20px;overflow:hidden;}
.busan-brief p{word-wrap:break-word;word-break:break-all;}
.busan-brief p a,.busan-tab-item p a{display:inline-block;margin-left:5px;color:#DB000F;}
.busan-brief p a:hover,.busan-tab-item p a:hover{color:#DB000F;}
.busan-brief i{position:absolute;width:183px;height:2px;font-size:0;line-height:0;overflow:hidden;background:#fff;}
.busan-brief .tl{top:-1px;left:50px;}
.busan-brief .bl{bottom:-1px;left:50px;}
.busan-mid-banner p{margin-top:4px;height:36px;overflow:hidden;word-wrap:break-word;word-break:break-all;}
.busan-mid-item dl{margin-top:15px;padding-left:10px;background-position:-307px 8px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.busan-mid-item dl a{display:block;width:293px;height:18px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.busan-mid-banner-pos{position:relative;height:212px;}
.busan-mid-banner-pos a:hover{text-decoration:none;cursor:pointer;}
.busan-mid-banner-pos p{position:absolute;left:0;bottom:0;width:287px;padding:9px 8px;color:#fff;word-wrap:break-word;word-break:break-all;background:rgba(0,0,0,.7);}
.busan-right{padding:4px;background:#e5e5e5;}
.busan-rb{border:1px solid #d5d5d5;height:484px;background:#fff;}
.busan-tab{height:40px;border-bottom:1px solid #d5d5d5;}
.busan-tab li{float:left;width:112px;height:38px;line-height:38px;padding:1px 0;border-left:1px solid #d5d5d5;color:#333;text-align:center;font-size:14px;cursor:pointer;}
.busan-tab .first{border-left:0 none;}
.busan-tab .current{position:relative;margin-bottom:-1px;padding-bottom:0;border-bottom:2px solid #db000f;color:#db000f;}
.busan-tab_cont,.busan-tab-big{padding:0 10px;}
.busan-tab-item dl{padding-top:20px;}
.busan-tab-item dl.first{padding-top:15px;}
.busan-tab-item dt{float:left;width:110px;}
.busan-tab-big .busan-tab-item dt{width:214px;}
.busan-tab-item dd{float:left;width:198px;padding-left:10px;}
.busan-tab-big .busan-tab-item dd{width:84px;}
.busan-tab-item{overflow:hidden;}
.busan-tab-item h4{margin-bottom:10px;font-size:14px;font-weight:bold;}
.busan-tab-item h4 a{display:block;width:100%;height:21px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.busan-tab-item p{word-wrap:break-word;word-break:break-all;}
.busan-recommend dt{width:118px;}
.busan-recommend dd{width:175px;}
.busan-list-wrap{height:468px;padding:6px;}
.busan-list-img{width:328px;overflow:hidden;}
.busan-list-img ul{width:348px;}
.busan-list-img li{width:154px;float:left;margin-right:20px;}
.busan-list-img a{position:relative;display:block;height:154px;cursor:pointer;}
.busan-list-img a:hover{text-decoration:none;}
.busan-list-img a span{position:absolute;left:0;bottom:0;width:134px;height:30px;line-height:30px;padding:0 10px;overflow:hidden;color:#fff;background:rgba(0,0,0,.7);}
.busan-list-txt{padding:15px 0;}
.busan-list-txt li{height:26px;line-height:26px;overflow:hidden;padding-left:10px;background-position:-307px 11px;}
.busan-shopping{width:289px;height:494px;overflow:hidden;}
.busan-shopping ul{width:306px;}
.busan-shopping li{float:left;width:136px;margin:0 17px 18px 0;}
.busan-shopping li a{position:relative;display:block;height:236px;cursor:pointer;border:1px solid #d8d8d8;}
.busan-shopping li a:hover{cursor:pointer;text-decoration:none;}
.busan-shopping li span{position:absolute;width:120px;left:0;bottom:0;padding:9px 7px;color:#fff;word-wrap:break-word;word-break:break-all;background:rgba(0,0,0,.7);}

.busan-row .temp{margin:0;}
.busan-row .busan-tab_cont .area{margin-top:-5px;}

.gallerypic { width:650px; }
.gallerypic .con { width:480px; }
.gallerypic .bar { width:160px; height:365px; padding: 15px 0 0 10px; background: #000;}
.gallerypic .con ul { width:480px; height: 380px; }
.gallerypic .bar li { height: 110px;margin-bottom: 10px; }
.gallerypic .bar li img { width:136px; height: 106px; margin:2px 0 0 9px;}
.gallerypic .con li p { width:420px; padding:10px; color:#fff;font-family:\5FAE\8F6F\96C5\9ED1;}
.gallerypic .con li p strong { color:#fff40d; font-size:14px; }

.gallerypic .con {  float:left; overflow: hidden;}
.gallerypic .con ul { position: relative; }
.gallerypic .con li{ position: absolute; top:0; left:0; display: none;}
.gallerypic .con li p { display:none; position: absolute; background:url(../../images/common/bg-alapha.png); _background:#000; _filter:alpha(opacity=80); bottom:20px; left:20px;}
.gallerypic .con li.cur{ display: block;}
.gallerypic .con li p strong {display: block;}
.gallerypic .bar { float:left; }
.gallerypic .bar li.cur { background: url(../../images/korea/bg-bar.png) no-repeat; }
.gallerypic .bar li.cur a { cursor:default; }