/*通用顶部 -Start-Lvzhuweng-20140114*/
.header-rearch-submit{background:#db000f}
.header-nav-box{background:#db000f}
.header-nav-box li{border-color:#e2404b}
.header-nav-box li.cur,.header-nav-box li.cur a:hover{background-color:#000}
.header-tools-search .header-search-content{border:none;}
/*通用顶部 -End-Lvzhuweng-20140114*/
.tc{text-align:center;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.h480{height:480px;overflow:hidden;}
.h333{height:333px;overflow:hidden;}
.opacity{background:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F000000', EndColorStr='#7F000000');}
:root .opacity{filter:none;}
.cate{margin-top:15px;margin-bottom:30px;}

.gallerypic { width:650px; float: left;}
.gallerypic .con { width:480px; }
.gallerypic .bar { width:160px; height:365px; padding: 15px 0 0 10px; background: #000;}
.gallerypic .con ul { width:480px; height: 380px; }
.gallerypic .bar li { height: 110px;margin-bottom: 10px; }
.gallerypic .bar li img { width:136px; height: 106px; margin:2px 0 0 9px;}
.gallerypic .con li p { width:420px; padding:10px; color:#fff;font-family:\5FAE\8F6F\96C5\9ED1;}
.gallerypic .con li p strong { color:#fff40d; font-size:14px; }

.gallerypic .con {  float:left; overflow: hidden;}
.gallerypic .con ul { position: relative; }
.gallerypic .con li{ position: absolute; top:0; left:0; display: none;}
.gallerypic .con li p { display:none;height:57px; position: absolute; background:url(../../images/common/bg-alapha.png); _background:#000; _filter:alpha(opacity=80); bottom:20px; left:20px;}
.gallerypic .con li.cur{ display: block;}
.gallerypic .con li p strong {display: block;}
.gallerypic .bar { float:left; }
.gallerypic .bar li.cur { background: url(../../images/korea/bg-bar.png) no-repeat; }
.gallerypic .bar li.cur a { cursor:default; }
.cate_newest{float:right;width:310px;height:368px;background:url(../../images/korea/food_newest.png) no-repeat 0 100%;padding-top:12px;}
.cate_newest h3{position:relative;margin:-12px auto 0;display:block;width:210px;height:20px;font-size:0;line-height:0;overflow:hidden;background: url(../../images/korea/bg-hot.png) no-repeat 0 -20px;}
.cate_newest ol{padding:7px 27px 0;}
.cate_newest ol li{height:33px;width:100%;border:0 none;border-bottom:1px dotted #999;overflow:hidden;zoom:1;vertical-align:top;background: none;}
.cate_newest ol li:last-child{border:0}
.cate_newest .frame{background:none}
.icon-mt{width:18px;height:16px;display:block;background:#999999;color:white;font-weight:bold;font-style:normal;line-height:16px;text-align:center;font-family:arial;}
.icon-arr{left:18px;float:left;width:0;height:0;line-height:0;font-size:0;overflow:hidden;border:3px dashed transparent;border-left-style:solid;border-left-color:#999;}
.cate_newest ol li em{margin-top:9px;float:left}
.cate_newest ol li span{float:left;margin-top:14px;}
.cate_newest ol li.red em{background:#ff0042}
.cate_newest ol li.red span{border-left-color:#ff0042;}
.cate_newest ol li a{width:227px;float:right;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-top:8px;color:#333}
.cate_newest ol li a:hover{text-decoration:underline;color:#ff0042}
.cate-img{width:996px;margin:0 -17px 0 1px;padding-bottom:10px;}
.cate-img li{float:left;width:147px;margin:20px 19px 0 0;}
.cate-img .cate-img-a{position:relative;display:inline-block;width:147px;cursor: pointer;}
.cate-img .cate-img-a i{position:absolute;top:0;left:0;width:147px;height:101px;background:url(../../images/korea/cate-opacity.png) no-repeat 0 0;}
.cate-img li.hover i{background-position:0 -102px;}
.cate-img li p{margin-top:5px;text-align:center;font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1;}
.cate-img li p a{color:#333;}
.cate-img li p a:hover{color:#EB8927;}
.cate-line{margin:-2px 0 20px;height:5px;line-height:0;font-size:0;overflow:hidden;border-top:1px solid #333;border-bottom:1px dotted #272727;}
.cate-wrap .fl{width:650px;}
.cate-wrap .fr{width:310px;}
.cate-title{height:49px;padding-right:15px;}
.cate-title a{float:right;margin-top:22px;font-family:\5b8b\4f53;color:#333;}
.cate-title a:hover{color:#EB8927;}
.cate-title h3{display:inline-block;*display:inline;zoom:1;padding:0 12px;font-size:22px;font-weight:bold;font-family:\5FAE\8F6F\96C5\9ED1;color:#333;height:46px;line-height:49px;border-bottom:3px solid #333;overflow:hidden;}
.cate-title h3 span{font-size:18px;font-weight:normal;}
.cate-list{overflow:hidden;}
.cate-list li{float:left;word-wrap:break-word;word-break:break-all;}
.cate-brief h4{height:20px;line-height:20px;overflow:hidden;margin-bottom:5px;font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1;}
.cate-brief h4 a{color:#FF0042;}
.cate-brief h4 a:hover{color:#FF0042;text-decoration:underline;}
.cate-brief p{min-height:36px;_height:36px;color:#666;}
.cate-brief p a{display:inline-block;color:#EB8927;}
.cate-brief p a:hover{color:#EB8927;text-decoration:underline;}
.cate-pic{position:relative;float:left;color:#fff;}
.cate-pic:hover{color:#fff;}
.cate-pic span{position:absolute;left:0;width:100%;height:50px;line-height:50px;text-align:center;overflow:hidden;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;}
.cate-recommend{border:1px solid #DFDFDF;border-top:0 none;padding-bottom:15px;}
.cate-recommend .cate-line{margin:0;border-top-width:2px;}
.cate-recommend .cate-title{margin-left:15px;}
.cate-recommend .cate-title h3{height:49px;border-bottom:0 none;}
.cate-recommend .cate-title a{margin-top:15px;}
.cate-list-recommend{margin-left:15px;padding-top:20px;border-top:1px solid #DFDFDF;}
.cate-list-recommend li{width:274px;display:inline;margin:0 23px;}
.cate-list-barbecue{width:650px;}
.cate-list-barbecue ul{width:666px;margin-top:-50px;}
.cate-list-barbecue li{width:205px;margin:50px 17px 0 0;}
.cate-list-food .cate-pic, .cate-list-sweet .cate-pic{width:283px;height:345px;}
.cate-list-food .cate-pic span, .cate-list-sweet .cate-pic span{top:295px;}
.cate-list-food ul,.cate-list-sweet ul{float:right;width:345px;height:345px;overflow:hidden;}
.cate-list-food li{width:345px;height:105px;overflow:hidden;zoom:1;margin-bottom:15px;}
.cate-list-food .cate-brief{float:right;width:225px;}
.cate-list-sweet ul{width:360px;}
.cate-list-sweet li{display:inline;width:105px;margin:0 0 15px 15px;}
.cate-sidebar{padding:6px;background:url(../../images/korea/cate-line.png) repeat;}
.cate-sidebar .cate-list,.cate-sidebar .h333{padding:0 15px;background:#fff;}
.cate-sidebar .cate-pic{margin:15px 0 5px;}
.cate-sidebar li{float:none;width:268px;height:105px;padding-top:12px;overflow:hidden;zoom:1;}
.cate-sidebar li a,.cate-list-food li a{float:left;width:105px;}
.cate-sidebar h4 a{color:#333;font-weight:bold;}
.cate-sidebar h4 a:hover{color:#EB8927;}
.cate-sidebar .cate-brief{float:right;width:148px;}
.cate-sidebar .cate-brief a,.cate-list-food .cate-brief a{float:none;width:auto;}
.cate-sidebar .cate-pic{float:none;display:block;}
.cate-sidebar .cate-pic span{top:133px;}
.cate-sidebar dl .cate-list,.cate-sidebar dl li{padding:0;}
.cate-sidebar dl{padding:11px 0;border-bottom:1px dotted #C4C4C4;}
.cate-sidebar dt{width:268px;height:18px;white-space:nowrap;word-break:normal;overflow:hidden;text-overflow:ellipsis;}
.cate-sidebar dt em{display:inline-block;vertical-align:middle;width:3px;height:3px;margin-right:8px;line-height:0;font-size:0;overflow:hidden;background:#FF0042;}
.cate-sidebar dd{display:none;}
.cate-sidebar dl.hover dt{display:none;}
.cate-sidebar dl.hover dd{display:block;}
.cate-info{width:1000px;clear:both;overflow:hidden;margin-right:-20px;}
.cate-info dl{float:left;width:184px;overflow:hidden;_display:inline;margin-right:15px;}
.cate-info dt img{width:100%;display:block;height:138px;}
.cate-info dt .line{height:1px;width:100%;overflow:hidden;background-color:#cfcfcf;display:block}
.cate-info dt .line span{height:1px;width:20px;background-color:#ff0042;display:block}
.cate-info dt a{display:block;width:100%;height:138px;margin-top:12px;}
.cate-info dt strong{font:bold 14px/120% '\5B8B\4F53';color:#333;height:22px;display:block}
.cate-info dd{border:1px solid #dfdfdf;border-top:none;height:200px;padding-top:3px;}
.cate-info dd ol{padding-top:3px;width:160px;margin:0 auto;}
.cate-info dd ol li{height:53px;width:100%;border-bottom:1px dotted #999}
.cate-info dd ol li em{width:3px;height:3px;overflow:hidden;float:left;background:#ff0042;margin-top:19px;margin-right:7px}
.cate-info dd ol li p{line-height:18px;padding-top:8px;float:right;width:150px}
.cate-info dd ol li p a{color:#666;white-space:nowrap;display:block;width:150px;text-overflow:ellipsis;overflow:hidden;float:none;height:18px}
.cate-info dd ol li p a:hover{text-decoration:underline;color:black}
.cate-info dd a.more{float:right;display:inline-block;color:#eb8927;font-family:\5B8B\4F53;margin:10px 32px 0 0}
.cate-info dd a.more:hover{text-decoration:underline;color:#eb8927;}
.frame-title{display:none;}

.block .xl1 ul li{padding-left:0;background: none;}
.xl li{height:auto;}
.cate-list-recommend .xl li{margin:0 23px;}
.cate-list-barbecue .xl li{margin:50px 17px 0 0;}
.xl em{float:none;padding-left:0;}