/*通用顶部 -Start-Gaotian-20131225*/
.header-tools-search .header-search-content{}
.header-search-content #scbar_txt{border:1px solid #c8c8c8;}
.header-rearch-submit,.header-nav-box{background:#db000f}
.header-rearch-submit:hover{background:#b00000;}
.header-nav-back s{border-left-color:#db000f}
.header-nav-box li{border-color:#E2404B}
.header-nav-box li a:hover{background-color:#C5000D}
.header-nav-box .cur a, .header-nav-box .cur a:hover{background:#000;color:#fff}
/*通用顶部 -End-Gaotian-20131225*/
.clearfix:after, .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix, .cf{ *zoom:1;}
.clear, .c { clear:both; }

.l { float: left;}
.r { float: right;}
table .l { float:none; }
.frame { background: none;}
.iframe { background: none;}

.t-c { text-align: center;}

.sp { padding: 0 5px; color:#999; }

.f-yh,h2,h3,.crumb { font-family:\5FAE\8F6F\96C5\9ED1; }

a { color:#333; }
a:hover { color:#eb7e00; text-decoration:underline; }

.c-gray { color:#999;}

.mar-2 { margin:2px; }
.mar-4 { margin:4px; }
.mar-6 { margin:6px; }
.mar-8 { margin:8px; }
.mar-10 { margin:10px; }
.mar-15 { margin:15px; }
.mar-20 { margin:20px; }

.mar-t-2 { margin-top:2px;}
.mar-t-4 { margin-top:4px;}
.mar-t-6 { margin-top:6px;}
.mar-t-8 { margin-top:8px;}
.mar-t-10 { margin-top:10px;}
.mar-t-15 { margin-top:15px;}
.mar-t-20 { margin-top:20px;}

.mar-b-2 { margin-bottom:2px;}
.mar-b-4 { margin-bottom:4px;}
.mar-b-6 { margin-bottom:6px;}
.mar-b-8 { margin-bottom:8px;}
.mar-b-10 { margin-bottom:10px;}
.mar-b-15 { margin-bottom:15px;}
.mar-b-20 { margin-bottom:20px;}

.mar-l-2 { margin-left:2px;}
.mar-l-4 { margin-left:4px;}
.mar-l-6 { margin-left:6px;}
.mar-l-8 { margin-left:8px;}
.mar-l-10 { margin-left:10px;}
.mar-l-15 { margin-left:15px;}
.mar-l-20 { margin-left:20px;}

.mar-r-2 { margin-right:2px;}
.mar-r-4 { margin-right:4px;}
.mar-r-6 { margin-right:6px;}
.mar-r-8 { margin-right:8px;}
.mar-r-10 { margin-right:10px;}
.mar-r-15 { margin-right:15px;}
.mar-r-20 { margin-right:20px;}

.mar-tb-2 { margin-top:2px; margin-bottom:2px;}
.mar-tb-4 { margin-top:4px; margin-bottom:4px;}
.mar-tb-6 { margin-top:6px; margin-bottom:6px;}
.mar-tb-8 { margin-top:8px; margin-bottom:8px;}
.mar-tb-10 { margin-top:10px; margin-bottom:10px;}
.mar-tb-15 { margin-top:15px; margin-bottom:15px;}
.mar-tb-20 { margin-top:20px; margin-bottom:20px;}

.mar-lr-2 { margin-left:2px; margin-right:2px;}
.mar-lr-4 { margin-left:4px; margin-right:4px;}
.mar-lr-6 { margin-left:6px; margin-right:6px;}
.mar-lr-8 { margin-left:8px; margin-right:8px;}
.mar-lr-10 { margin-left:10px; margin-right:10px;}
.mar-lr-15 { margin-left:15px; margin-right:15px;}
.mar-lr-20 { margin-left:20px; margin-right:20px;}

.pad-0 { padding:0px ; }
.pad-2 { padding:2px; }
.pad-4 { padding:4px; }
.pad-6 { padding:6px; }
.pad-8 { padding:8px; }
.pad-10 { padding:10px; }
.pad-15 { padding:15px; }
.pad-20 { padding:20px; }

.pad-t-2 { padding-top:2px; }
.pad-t-4 { padding-top:4px; }
.pad-t-6 { padding-top:6px; }
.pad-t-8 { padding-top:8px; }
.pad-t-10 { padding-top:10px; }
.pad-t-15 { padding-top:15px; }
.pad-t-20 { padding-top:20px; }

.pad-b-2 { padding-bottom:2px; }
.pad-b-4 { padding-bottom:4px; }
.pad-b-6 { padding-bottom:6px; }
.pad-b-8 { padding-bottom:8px; }
.pad-b-10 { padding-bottom:10px; }
.pad-b-15 { padding-bottom:15px; }
.pad-b-20 { padding-bottom:20px; }

.pad-l-2 { padding-left:2px; }
.pad-l-4 { padding-left:4px; }
.pad-l-6 { padding-left:6px; }
.pad-l-8 { padding-left:8px; }
.pad-l-10 { padding-left:10px; }
.pad-l-15 { padding-left:15px; }
.pad-l-20 { padding-left:20px; }

.pad-r-2 { padding-right:2px; }
.pad-r-4 { padding-right:4px; }
.pad-r-6 { padding-right:6px; }
.pad-r-8 { padding-right:8px; }
.pad-r-10 { padding-right:10px; }
.pad-r-15 { padding-right:15px; }
.pad-r-20 { padding-right:20px; }

.pad-tb-2 { padding-top:2px; padding-bottom:2px;}
.pad-tb-4 { padding-top:4px; padding-bottom:4px;}
.pad-tb-6 { padding-top:6px; padding-bottom:6px;}
.pad-tb-8 { padding-top:8px; padding-bottom:8px;}
.pad-tb-10 { padding-top:10px; padding-bottom:10px;}
.pad-tb-15 { padding-top:15px; padding-bottom:15px;}
.pad-tb-20 { padding-top:20px; padding-bottom:20px;}

.pad-lr-2 { padding-left:2px; padding-right:2px;}
.pad-lr-4 { padding-left:4px; padding-right:4px;}
.pad-lr-6 { padding-left:6px; padding-right:6px;}
.pad-lr-8 { padding-left:8px; padding-right:8px;}
.pad-lr-10 { padding-left:10px; padding-right:10px;}
.pad-lr-15 { padding-left:15px; padding-right:15px;}
.pad-lr-20 { padding-left:20px; padding-right:20px;}


body {color: #666;}
.topbar {font: 12px/1.5 tahoma,arial,\5b8b\4f53;}

.container,.wraper  { width:980px; margin:0 auto; padding:10px 0 30px; }

.bg-index { background-image:url("../../images/korea/index.png");   background-repeat:no-repeat;}
.icon,.navigation .hot,.navigation .new {background-image:url("../../images/korea/icons.png"); _background-image:url("../../images/korea/fix/icons.png"); background-repeat:no-repeat; }

/*公用部分*/
.btn-tpl { background:url("../../images/korea/bg-btn.png") no-repeat; border:none;cursor:pointer; color:#373737;}

.floor-tit-num{ _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://korea.b5m.com/static/new/images/common/floor-tit.png", sizingMethod="crop"); }
.floor-tit-more{  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://korea.b5m.com/static/new/images/common/floor-tit-ie6.png", sizingMethod="crop"); }

.topbar-more { z-index: 101;}

.col-main { width:696px; float:left;}
.col-sub { width:264px;float:right; }
.col-sub h4.title {  color:#333; font-size:14px; border-bottom:1px solid #333; width:auto;}
.col-sub h4.title strong {line-height:30px; padding-right:15px; font-weight:bold; border-bottom:1px solid #333; }
.col-sub h4.title a { margin-top:6px;line-height:20px;}
.col-sub .box { margin:15px 0; padding:0;}
.col-sub .box.border { margin-top: 0px; overflow: hidden; border:1px solid #e0e0e0; border-top:none; padding:4px 0;}
.col-sub .intro { margin-bottom: 10px;}
.col-sub .intro .l { width:100px;}
.col-sub .intro .r { width:150px;}
.col-sub .intro .r strong { font-weight: bold; font-size:14px;}
.col-sub .intro .r p { padding-top: 10px;}
.col-sub .box.border li { padding:4px 15px;background-image: none; border-bottom:1px dashed #ececec;}
.col-sub .box.border li img { margin-top:4px;}
.col-sub .box.border .l { width:50px;}
.col-sub .box.border .r { width:170px; }
.col-sub .box.border .r strong { font-weight: bold;}
.col-sub .box.border .r p { padding-top: 0; padding-left: 0; color:#666;}
.col-sub .box.border h4 { padding:0 15px; font-weight: bold;}
.col-sub .box.border p { padding:0 15px; color:#666;}

.col-sub li { line-height: 20px; margin-bottom:8px; background: url("../../images/korea/li-1.png") no-repeat 0px 9px; padding-left:10px; }
.col-sub dl { float:left; margin-right: 14px; margin-bottom:12px; }
.col-sub dl.last { margin-right: 0;}
.col-sub .panel { border:1px solid #e0e0e0; margin-bottom: 20px; }
.col-sub .panel h4.title { border-bottom: none; padding:2px 10px; margin-bottom: 0;}
.col-sub .panel h4.title strong { border-bottom:none; width:auto;}
.col-sub .panel ul { padding:0 10px;}
/*20140303 zibu s*/
.detail-new .infos .panel{ min-height: 240px; _height: 240px;}
.mfzx-info{width: 138px; height: 81px; position: fixed; top: 50%; margin-top: -200px; left: 50%; margin-left: 53px; z-index: 100; display: none;}
.mfzx-info .close{ width: 20px; height: 15px; background: url("../../images/korea/zx-close.png") no-repeat; overflow: hidden; position: absolute; right: 1px; top: 11px; display: block;}
.mfzx-info .close:hover{ background-position: left -15px;}
.info-img .btn,
.mfzx-info .btn{  width: 138px; height: 81px; display: block; background: url("../../images/korea/mfzx-btn.png") no-repeat; margin-top: 10px;}
.mfzx-pop{ width: 390px; height: 580px; background: #fff;}
.mfzx-pop h3{ font-size: 20px; font-family: 'microsoft yahei'; font-weight: bold;}
.mfzx-pop .items{ padding-top: 10px;}
.mfzx-pop .items li{ padding-left: 70px; overflow: hidden; zoom:1; margin-bottom: 14px;}
.mfzx-pop .items label{ float: left; margin-left: -70px; width: 60px; text-align: right; line-height: 25px;}
.mfzx-pop .items .zx-text{ height: 23px; line-height: 23px; border: 1px #cccccc solid; width: 160px; padding: 0 5px;}
.mfzx-pop .items .zx-area{ width: 270px; height: 190px; padding: 5px; line-height: 22px; border: 1px #ccc solid;}
.mfzx-pop .items .zx-btn{ width: 75px; height: 35px; border: none; color: #fff; line-height: 35px; text-align: center; border-radius: 3px; background: #db000f; cursor: pointer; float: left;}
.mfzx-pop .items .error-tip{ color: #ff0000; margin-left: 20px; float: left; _display: inline; line-height: 35px;}
.zx-success{ width: 260px; height: 86px;}
.zx-success p{ height: 30px; line-height: 30px; font-family: 'microsoft yahei'; font-size: 18px; background: url("../../images/korea/success-icon.png") no-repeat; margin: 22px 0 0 30px; padding-left: 35px;}
#fssb p{ background: url("../../images/korea/error-icon.png") no-repeat;}
/*.bottom-banner{ display: none!important;}*/
.bot-layer{ height: 60px; position: fixed; bottom: 0; width: 100%; background: url("../../images/korea/bot-layer-bg.png") repeat-x; z-index: 100;}
.bot-layer .jingdan,
.bot-layer .ly-login li i,
.bot-layer .btn{background-image: url("../../images/korea/bot-layer.png"); background-repeat: no-repeat;}
.bot-layer .jingdan{ width: 490px; height: 50px; background-position: left top;  margin-top: 10px; float: left;}
.bot-layer .ly-login{ width: 440px; padding-top: 22px; overflow: hidden; float: left;}
.bot-layer .ly-login li{ margin-right: 20px; margin-left: -1px; border-left: 1px #8c8c8c solid; height: 32px; padding-left: 20px; _display: inline; float: left; font-family: 'microsoft yahei'; font-size: 14px;}
.bot-layer .ly-login i{ width: 32px; height: 32px; float: left; margin-right: 10px; _display: inline;}
.bot-layer .ly-login a{ height: 32px; float: left; line-height: 32px;  color: #fff;;}
.bot-layer .ly-login a:hover{ color: #e04249; text-decoration: none;}
.bot-layer .ly-login .b5m{ background-position: -6px -58px;}
.bot-layer .ly-login .weibo{ background-position: -45px -58px;}
.bot-layer .ly-login .qq{ background-position: -84px -58px;}
.bot-layer .close-w{ width: 23px; height: 23px; float: left; margin:20px 0 0  5px; _display: inline;}
.bot-layer .close-w a{ background-position: -147px -60px; height: 23px; display: block;}
.bot-layer .close-w a:hover{ background-position: -171px -60px;}
.commentad{ position: relative;}
.djq-warp{ width: 168px; height: 74px;position:fixed; _position:absolute; left: 50%; margin-left: -84px; top: 50%; margin-top: -37px; display: none; z-index: 1000;}
.djq-warp a{ width: 100%; height: 100%; background: url("../../images/korea/djq-bg.png") no-repeat; display: block; position: absolute; z-index: 0; text-indent: -1000px; overflow: hidden;}
.djq-warp span.close{ width: 18px; height: 18px;background: url("../../images/korea/djq-close.png") no-repeat left top; position: absolute; right: 6px; top: 5px; z-index: 2; cursor: pointer;}
.djq-warp span.cur{background: url("../../images/korea/djq-close.png") no-repeat left -18px;}

.korea-tags-l{ display: none; width: 114px; margin-top: 30px; min-height: 260px; _height: 260px; background: #fff; border: 1px #e0e0e0 solid; border-top: 2px #000000 solid; position: relative; float: left; z-index: 10; margin-left: -124px;}
.korea-tags-l h2{ background: #f3f3f3; height: 28px; line-height: 28px; border-bottom: 1px #e0e0e0 solid; font-size: 14px; overflow: hidden;}
.korea-tags-l h2 i,
.korea-tags-r h2 i{ width: 11px; height: 11px; float: left; _display: inline; margin: 10px 7px 0 12px; background: url("../../images/korea/tags-icon.png") no-repeat;}
.korea-tags-l .text{ line-height: 24px; padding: 10px 5px;}
.korea-tags-l .text a{ margin: 0 5px; word-wrap: normal; display: inline-block;}
.korea-tags-l .text a:hover,
.korea-tags-l .text a.cur
.korea-tags-r .text a:hover,
.korea-tags-r .text a.cur{ color: #db000f;}
.korea-tags-l.tags-fis{ position: fixed; top: 10px; z-index: 100;}
.korea-tags-r{ display: none; border: 1px #e0e0e0 solid; background: #fff; border: 1px #e0e0e0 solid;  border-left: 2px #000000 solid; width: 978px; height: 30px; overflow: hidden; position:fixed; top: 0px; z-index: 100; left: 50%; margin-left: -490px;}
.korea-tags-r h2{ width: 110px; float: left; line-height: 30px; background: #f3f3f3; position: relative; height: 30px; overflow: hidden;}
.korea-tags-r h2 s{ width: 0;height: 0; overflow: hidden; position: absolute; top: -1px;}
.korea-tags-r .w-b{ border: 16px #fff solid; border-left-color: #dfdfdf; right: -16px;}
.korea-tags-r .i-b{ border: 15px transparent solid; border-left-color: #f3f3f3; right: -14px; top: 0;}
.korea-tags-r p{ line-height: 30px;}
.korea-tags-r p a{ margin: 0 5px;}
/*20140303 zibu e*/
/*20140317 zibu s*/
.detail-login-tip{ width: 300px; height: 120px; background: #fff; text-align: center; font-family: "microsoft yahei";  }
.detail-login-tip .text{ font-size: 20px;color: #333; padding: 20px 0 15px;}
.detail-login-tip .btn{ width: 100px; height: 30px; line-height: 30px; background: #db000f; color: #fff; display: inline-block; font-size: 16px;}
.detail-login-tip .btn:hover{ background: #c5000d;}
/*20140317 zibu e*/

/* 头部 */
.header .top  { width:980px; margin:auto; height:85px; padding-top: 15px; background:url("../../images/korea/top-bg.png") no-repeat 180px center; }

.korea .header-nav{background: #db000f;}
.korea .header-nav ul li{ border-left: 1px #e2404b solid;}
.korea .header-nav ul li.nob { border-left:none;}
.korea .header-nav ul li a:hover{ background: #C5000D;}
.korea .header-nav ul li a.this{background: #000;}
.korea .header-nav ul li a.this:hover{background: #000;}
.korea .header-nav ul li.b5m-home a{ background: #c5000d url(../../images/common/header-nav.png) no-repeat  -110px 13px;}
.korea .header-search{ background: #000; height: 33px; padding: 7px 0;}
.korea .header-rearch-submit{position:relative;z-index:0;display:block; float:left;  color:#673700; font-family:\5FAE\8F6F\96C5\9ED1;margin-left:-3px;border:2px solid #8a0009;height:36px; line-height: 36px;*height:38px;*line-height:32px;*margin-top:-1px;text-align: center; zoom:1;
    background: -webkit-gradient(linear, left top, right top, from(#ffa3ae), to(#ff8793));
    background: -webkit-linear-gradient(top, #ffa3ae, #ff8793);
    background: -moz-linear-gradient(top, #ffa3ae, #ff8793);
    background: -o-linear-gradient(top, #ffa3ae, #ff8793);
    background: -ms-linear-gradient(top, #ffa3ae, #ff8793);
    background: linear-gradient(top, #ffa3ae, #ff8793);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa3ae', endColorstr='#ff8793',GradientType=0 );
}
.korea .header-search-key{ float: left; margin-top: 1px;}


.korea .header-nav ul li a { color:#fff;}
.korea .header-nav ul li a:hover { text-decoration: none;}
.korea .header-nav ul li.b5m-home { border-left:none; }
.korea .header-nav ul li.b5m-home a:hover {  background: #b4000c url(../../images/common/header-nav.png) no-repeat  -110px 13px;}

.header-search-key.focus { color:#C5000D; }
.header-search-content label { cursor:default; display: block; float:left;}

.filter-text-focusin { color:#000;}

/*搜索 tab*/
.header-search .search-class { display: block; float:left;}
.search-class em,.search-class a:hover,.search-class a.cur { background: url("../../images/haiwai/korea/default/icon.png") no-repeat; background-image: url("../../images/haiwai/korea/default/icon8.png");}
.search-class { position: relative; display:block; height: 32px; width:52px; background: #fff;  border:2px solid #8a0009; border-right:none; font-size:14px; font-family:\5fae\8f6f\96c5\9ed1;}
.search-class em { display: block;  height: 32px; line-height: 32px; width:46px; padding-left: 5px; border-right:1px solid #f6f6f6; cursor:pointer; background-position: 36px -687px; }
.search-class ul { display:none; top:32px; position:absolute;left:0; background: #fff; border:1px solid #ddd; border-bottom: none; }
.search-class ul li { border-bottom:1px solid #ddd;}
.search-class ul li a { display: block; width:45px; padding-left: 5px; height:30px; line-height: 30px;  }
.search-class ul li a.cur {  background-position: 36px -725px;}
.search-class ul li a:hover {background-color:#fef6ed; text-decoration: none; color:#333; background-position: 36px -725px;}
.search-class.on ul { display: block; }

.footer { font-family: tahoma;}

.autofill  em,.autofill .st { display: none;}

.detail{ margin-top: 10px;}
/* 面包屑 */
.crumb { line-height: 30px; height: 30px; border-bottom: 2px #000 solid;  font-size:14px; _height:31px; _overflow: hidden; color:#666; }
.crumb span { font-family: '宋体'; padding:0 5px; }
.crumb strong { color: #ff0042; position: relative; height:29px; float:left; width: 300px; overflow: hidden;}
.crumb .r a {  font-family: '宋体'; font-size:12px; padding-left: 17px; background-position: 0px -356px; color:#eb7f00;}
.crumb.noline,.crumb.noline strong { border-bottom: none;}
.crumb em {color: #ff0042; }

.crumb.icon { background-position: 0px -413px; padding-left: 22px;}
.crumb .pic-mod{ background: url(../../images/korea/dati-pic-icon.png) no-repeat left center;}
.crumb .pic-mod a{ color: #666666;}
.crumb .pic-mod a:hover{ color: #eb7e00;}
.crumb .pic-mody{ background: url(../../images/korea/dati-picy-icon.png) no-repeat left center;}
.crumb .pic-mody a{ color: #666666;}
.crumb .pic-mody a:hover{ color: #eb7e00;}

.crumb-star { height:50px; line-height:50px; border-bottom: none; background:url("../../images/korea/line-2.png") repeat-x bottom; margin-bottom: 20px;}
.crumb-star span { font-family:\5FAE\8F6F\96C5\9ED1; display:block; float:left; height:40px;}
.crumb-star span a:hover { color:#333; text-decoration:none;}
.crumb-star span a em  { border-bottom:2px solid #db000f; color:#333; display: block; height: 48px; padding: 0 4px;}

/* 首页全部分类 */
.banner { margin: 20px 0 20px; }
.allcategory { width: 296px; padding:6px; height:318px; float:left; margin-right:42px; }
.allcategory h3 { text-indent: -9999px; height:20px; }
.allcategory dl { padding-left:30px; height: 54px; padding-top: 6px;}
.allcategory dl.even { background: #f6f6f6;}
.allcategory dt { line-height: 24px; font-size:16px; color:#333;  }
.allcategory dl { line-height: 24px;}
.allcategory dl span { margin-right: 36px;}
.allcategory dl span.last { margin-right: 0;}

/* 首页最新资讯 */
.news { width: 630px; float: left;}
.news h3 { text-indent: -9999px; background-position: 0px -340px; height:20px; margin-bottom: 10px;}
.news .panel { background: url(../../images/korea/line-1.png) repeat-x 0px 228px;}
.news .panel-l,.news .panel-r { float: left; width:294px;}
.news .panel-l { margin-right:42px;}
.news .panel-r .box { height: 146px; width:142px; border: 1px solid #d6d6d6;}
.news .panel-r .pic { width:150px;}
.news h4 { text-indent: -9999px;  background: #f6f6f6; height:33px; padding-top: 15px;}
.news h4 span { display: block; width:123px; height: 14px; background-position: 0px -364px; margin-left: 10px;}
.news ol { color: #666; margin: 10px 0 0 20px;}
.news ol li { line-height: 24px; padding-left: 20px; background-position: 0px -160px; }
.news .info { padding-left: 30px; margin-bottom: 16px; height: 60px; background-position: 0px 0px;}
.news .info.num2 { background-position:0px -80px;}
.news strong { font-weight: bold; }
.news p { margin-top: 8px;}
.news p a { color: #84b6cf;}
.news ul li { line-height: 22px; font-size:12px;}
.news ul li .b { color: #d70417;}

/* 首页导航分类*/
.nav-title .r { line-height: 34px; font-weight: bold;}
.navigation h2 { width: 340px; float:left; border-bottom: 1px solid #000; background-position: 0px -386px; height:34px; text-indent: -9999px; }
.navigation h2 a { text-indent: -9999px; display: block; height:24px; width:90px;}
.navigation .panel h3 { height: 40px; text-indent: -9999px; margin-bottom: 20px;}
.navigation .item1 { background-position: 0px -440px;}
.navigation .item2 { background-position: -130px -440px;}
.navigation .item3 { background-position: -260px -440px;}
.navigation .item4 { background-position: -390px -440px;}
.navigation .item5 { background-position: -520px -440px;}
.navigation .panel { border: 1px solid #e5e5e5; border-top-color: #000; background:#f3f3f3;}
.navigation .col-box { float: left; width: 131px; padding:20px 10px 0; border-right: 1px dashed #e5e5e5; background: #fff; }
.navigation .col-box.last { border-right-style:solid;}
.navigation dl { border-bottom: 1px solid #e6e6e6; padding-bottom: 4px; margin-bottom: 10px;}
.navigation dl.last { border:none;}
.navigation dt a { color:#177bd5;}
.navigation dt.new { background-position: 0px -200px; padding-left: 24px;}
.navigation dt.hot { background-position: 0px -230px; padding-left: 24px;}
.navigation dd { line-height: 20px; height:40px;}
.navigation .right-box { float: left; width:218px; }
.navigation h4 { height: 60px; border-bottom:1px solid #e3e3e3; text-indent: -9999px; background-color: #fff; background-position:17px -485px; }
.navigation .list { padding: 16px 16px 0;}
.navigation ul { height:348px; overflow: hidden; }
.navigation ul li { height:61px; padding-top: 10px; background: url(../../images/korea/line-1.png) repeat-x bottom;}
.navigation .pic { float: left; width: 50px;}
.navigation .pic a { position:relative; display: block; width:42px; height:44px;}
.navigation .pic i { width:21px; height: 21px; position:absolute; top:0px; left: 0px; }
.navigation .num1 {  background-position: 0px -260px;}
.navigation .num2 { background-position: -50px -260px; }
.navigation .num3 { background-position: -100px -260px;}
.navigation .num4 { background-position: -150px -260px;}
.navigation .num5 { background-position: -200px -260px;}
.navigation .pic img { border-top:2px solid #f3f3f3; }
.navigation .text { float: left; }
.navigation strong { font-weight: bold; }
.navigation .links { padding: 0 15px 15px; background-color: #ededef; border:1px solid #e5e5e5; border-top:none;}
.navigation .links h3 { font-size:16px; height:32px; line-height:32px;  }
.navigation .links h3 span { margin-right:15px; }
.navigation .links ol { float: left; width:126px; border-right:1px dashed #fff; padding-left: 8px;  }
.navigation .links ol.last { border-right: none;}
.friend-title { border-bottom:1px dashed #acacac;  margin-bottom: 15px; _padding-top:6px; }
.friend-title h3 { _width:80px;}
.friend-title .bdshare_t { margin-top: 3px;}


/* 导航页 */
.navigation.all .panel { border:none; background: #fff; }
.navigation.all .col-box { border:none; width:175px;}
.navigation.all dl { width:131px;}
.navigation.all h3 { width:150px; height:40px;}
.navigation.all .item1 { background-position: 0px -550px;}
.navigation.all .item2 { background-position: -150px -550px;}
.navigation.all .item3 { background-position: -300px -550px;}
.navigation.all .item4 { background-position: 0px -590px;}
.navigation.all .item5 { background-position: -150px -590px;}

/* 热度 */
.newest h3.bqrd { background: url("../../images/korea/bg-hot.png") no-repeat;}
.newest h3.bqrd.t1 { background-position: 0px 0px; }
.newest h3.bqrd.t2 { background-position: 0px -20px; }
.newest h3.bqrd.t3 { background-position: 0px -40px;}
.newest h3.bqrd.t4 { background-position: 0px -60px;}
.newest h3.bqrd.t5 { background-position: 0px -80px;}


/* 楼层 */
.floor-content {  margin-bottom: 20px; }
.slider-arr:hover { text-decoration: none;}
.floor-news { float:left;}
.slider-korea { float:right; margin-top:16px;}
.floor-news { margin-top: 20px;}
.slider-page a.more { display: none;}

.floor-tit.fl1{ border-bottom-color:#db000f;}
.floor-tit.fl1 .floor-tit-num,.floor-tit.fl1 .floor-tit-more{ background-color:#db000f;}
.floor-content.fl1 .slider-korea { border-color:#db000f;}
.floor-content.fl1 .slider-korea li.cur a,.floor-content.fl1 .slider-korea .slider-nav-li a:hover { background-color: #db000f;}
.floor-content.fl1 .slider-korea .slider-nav-li em { border-color:#db000f transparent transparent; }
.floor-content.fl1 .slider-korea .slider-nav-li a,.floor-content.fl1 .slider-korea .more a { color:#db000f;}
.floor-content.fl1 .slider-korea .slider-page a.cur,.floor-content.fl1 .slider-korea .slider-page a:hover { background-color: #db000f;}

.floor-tit.fl2{ border-bottom-color:#d62c4c;}
.floor-tit.fl2 .floor-tit-num,.floor-tit.fl2 .floor-tit-more{ background-color:#d62c4c;}
.floor-content.fl2 .slider-korea { border-color:#d62c4c;}
.floor-content.fl2 .slider-korea li.cur a,.floor-content.fl2 .slider-korea .slider-nav-li a:hover { background-color: #d62c4c;}
.floor-content.fl2 .slider-korea .slider-nav-li em { border-color:#d62c4c transparent transparent; }
.floor-content.fl2 .slider-korea .slider-nav-li a,.floor-content.fl2 .slider-korea .more a { color:#d62c4c;}
.floor-content.fl2 .slider-korea .slider-page a.cur,.floor-content.fl2 .slider-korea .slider-page a:hover { background-color: #d62c4c;}

.floor-tit.fl3{ border-bottom-color:#d62c68;}
.floor-tit.fl3 .floor-tit-num,.floor-tit.fl3 .floor-tit-more{ background-color:#d62c68;}
.floor-content.fl3 .slider-korea { border-color:#d62c68;}
.floor-content.fl3 .slider-korea li.cur a,.floor-content.fl3 .slider-korea .slider-nav-li a:hover { background-color: #d62c68;}
.floor-content.fl3 .slider-korea .slider-nav-li em { border-color:#d62c68 transparent transparent; }
.floor-content.fl3 .slider-korea .slider-nav-li a,.floor-content.fl3 .slider-korea .more a { color:#d62c68;}
.floor-content.fl3 .slider-korea .slider-page a.cur,.floor-content.fl3 .slider-korea .slider-page a:hover { background-color: #d62c68;}

.floor-tit.fl4{ border-bottom-color:#cf3232;}
.floor-tit.fl4 .floor-tit-num,.floor-tit.fl4 .floor-tit-more{ background-color:#cf3232;}
.floor-content.fl4 .slider-korea { border-color:#cf3232;}
.floor-content.fl4 .slider-korea li.cur a,.floor-content.fl4 .slider-korea .slider-nav-li a:hover { background-color: #cf3232;}
.floor-content.fl4 .slider-korea .slider-nav-li em { border-color:#cf3232 transparent transparent; }
.floor-content.fl4 .slider-korea .slider-nav-li a,.floor-content.fl4 .slider-korea .more a { color:#cf3232;}
.floor-content.fl4 .slider-korea .slider-page a.cur,.floor-content.fl4 .slider-korea .slider-page a:hover { background-color: #cf3232;}

.floor-tit.fl5{ border-bottom-color:#d53a8e;}
.floor-tit.fl5 .floor-tit-num,.floor-tit.fl5 .floor-tit-more{ background-color:#d53a8e;}
.floor-content.fl5 .slider-korea { border-color:#d53a8e;}
.floor-content.fl5 .slider-korea li.cur a,.floor-content.fl5 .slider-korea .slider-nav-li a:hover { background-color: #d53a8e;}
.floor-content.fl5 .slider-korea .slider-nav-li em { border-color:#d53a8e transparent transparent; }
.floor-content.fl5 .slider-korea .slider-nav-li a,.floor-content.fl5 .slider-korea .more a { color:#d53a8e;}
.floor-content.fl5 .slider-korea .slider-page a.cur,.floor-content.fl5 .slider-korea .slider-page a:hover { background-color: #d53a8e;}


.floor-news-desc { background-color: #333;}
.floor-content .slider.slider-korea .slider-nav-li.cur a { color:#fff;}
.floor-content .slider.slider-korea .slider-nav-li a:hover { color:#fff;}
.floor-content .slider.slider-korea .slider-page a.more:hover { background: none; }


.home-title { background: url("../../images/korea/index-line1.png") repeat-x bottom; font-family: \5FAE\8F6F\96C5\9ED1; margin-bottom: 20px; }
.home-title h3 { background: url("../../images/korea/index.png") no-repeat; width:106px; height:32px; text-indent: -9999px; float:left;}
.home-title.t1 h3 { background-position: 0px -650px;}
.home-title.t2 h3 { background-position: -110px -650px;}
.home-title.t3 h3 { background-position: -220px -650px;}
.home-title.t4 h3 { background-position: -330px -650px;}
.home-title.t5 h3 { background-position: -440px -650px;}
.home-title.t1 span a { color:#db000f;}
.home-title.t2 span a { color:#f66721;}
.home-title.t3 span a { color:#f56b7e;}
.home-title.t4 span a { color:#ee3c6e;}
.home-title.t5 span a { color:#ec139d;}
.home-title strong { float:left; display: block; margin:4px 0 0 20px;}
.home-title span { float:right;  margin-top: 4px; font-family: Tahoma; }
.home-title span a {color:#db000f;}

.home-content { margin-bottom: 20px;}

.home-content.c1 .panel { float:left; width:314px; margin-right: 19px;}
.home-content.c1 .panel.last { margin-right: 0;}
.home-content.c1 h4 { background: url("../../images/korea/index.png") no-repeat;height:18px; }
.home-content.c1 h4 span { display: block; height:16px; line-height: 16px; overflow: hidden;  float:right; margin:0 10px 0 0; border:1px solid  #d6d6d6; padding:0 4px;  border-radius: 1px; background: #fff;}
.home-content.c1 h4 span a { font-family: Tahoma; }
.home-content.c1 .panel-content { border-left:1px solid #d6d6d6; border-right:1px solid #d6d6d6; padding:15px 21px;}
.home-content.c1 .panel-bottom { border:1px solid #d6d6d6; border-top:none; height: 5px; overflow: hidden;}
.home-content.c1 h4.text1 { background-position: 0px -700px;}
.home-content.c1 h4.text2 { background-position: 0px -720px;}
.home-content.c1 h4.text3 { background-position: 0px -740px;}
.home-content.c1 .pic { float:left; width:130px; }
.home-content.c1 .texts { float:right; width:130px; color:#333; line-height: 22px;}
.home-content.c1 .texts a { color:#84b6cf;}
.home-content.c1 ul { margin-top: 10px;}
.home-content.c1 li { line-height: 24px; background: url("../../images/korea/li-3.png") no-repeat 0px 10px; padding-left:8px;}

.home-content.c2 { margin-bottom: 0;}
.home-content.c2 .box { float:left; margin:0 19px 0 0; padding-bottom:20px; width:314px;}
.home-content.c2 .box.last { margin-right: 0;}
.home-content.c2 .box a.pic { float:left; width:150px; height:150px; display: block;}
.home-content.c2 .box .texts  { float:left; height:138px; border:1px solid #d6d6d6; border-left:none; width:143px; overflow: hidden; padding:10px 10px 0; color:#666;  }
.home-content.c2 .box .texts span { display: block; margin-bottom: 5px; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1; color:#b6b6b6; }
.home-content.c2 .box .texts span strong { font-weight:bold; margin-right: 4px; color:#333;}
.home-content.c2 .box .texts .star { margin-bottom:5px;}
.home-content.c2 .box .texts p { line-height: 20px;}
.home-content.c2 .box .texts a { color:#84b6cf;}
.home-content.c2 .box .texts strong a { color:#333;}
.home-content.c2 .box .texts strong a:hover { color:#eb7e00;}

.home-content.c3 .panel { border-top:2px solid #f0f0f0; margin-bottom: 20px;}
.home-content.c3 .pic  { float:left; }
.home-content.c3 ul { float:right; margin-top: 10px; margin-right: 10px;}
.home-content.c3 li { float:left; width:160px; margin-right:40px;}
.home-content.c3 li strong  { font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1; display: block; margin:4px 0;  }
.home-content.c3 li p a { color:#84b6cf;}
.home-content.c3 li.last { margin-right: 0;}

.home-content.c4 .panel { padding-top: 26px; *padding-top:13px; margin-bottom: 20px;}
.home-content.c4 .panel-title { border:1px solid #d6d6d6; border-bottom: none; height:13px; margin-top: -13px; position: relative; }
.home-content.c4 .panel-title h4 { position: absolute; top:-13px; left:20px; background: #f0f0f0; height:26px; font-weight: bold; line-height: 26px; padding: 0 15px; color: #333; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1; }
.home-content.c4 .panel-title span { position: absolute; right:0px; top:-10px; display: block; height:16px; line-height: 16px; overflow: hidden;  float:right; margin:0 10px 0 0; border:1px solid  #d6d6d6; padding:0 4px;  border-radius: 1px; background: #fff;}
.home-content.c4 .panel-title span a { font-family: Tahoma; }
.home-content.c4 .panel-content { border:1px solid #d6d6d6; border-top: none; padding:10px 4px;}


.home-content.c5 { border-bottom: 1px solid #d6d6d6; }
.home-content.c5 dt { font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1; display: block; margin-bottom: 6px; font-weight: bold; }
.home-content.c5 dd a  { color:#84b6cf;}
.home-content.c5 .box1 { float:left; width:200px; margin-right: 30px; background: #f0f0f0; margin-bottom: -1px;}
.home-content.c5 .box1 dl { padding:10px;}
.home-content.c5 .box1 dd { height: 60px;}
.home-content.c5 .box2 { width:360px; float:left; margin-right: 30px;}
.home-content.c5 .box2.last { margin-right: 0;}
.home-content.c5 .box2 a.pic { float:left; display: block; width:145px; height: 145px; margin-bottom: 10px;}
.home-content.c5 .box2 .texts { float:right; width:210px;}



/* main slider */
.main-slider .prev,.main-slider .next { position: absolute; top:70px;  background: url("../../images/korea/slider-arrow.png") no-repeat; display: block; width:16px; height: 32px; overflow: hidden; text-indent: -9999px;}

.main-slider .prev { background-position: 0px -32px; left:0; }
.main-slider .prev:hover { background-position: -16px -32px;}
.main-slider .prev.first,.main-slider .prev.first:hover { background-position: 0px 0px; cursor: default;}

.main-slider .next { background-position:-32px -32px;  right:0;}
.main-slider .next:hover { background-position: -48px -32px;}
.main-slider .next.last,.main-slider .next.last:hover {  background-position: -32px 0px; cursor:default;}

.main-slider { width:960px; margin:0 auto; position: relative;}
.main-slider .container { width:905px; height:205px; margin:auto; overflow: hidden; position: relative;}

.main-slider .item { float:left; margin-right:15px; width:215px; }
.main-slider .item.last { margin-right: 0;}

.main-slider ul li { float:left; width:905px; height:205px; overflow: hidden;}

.main-slider  dt { font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1; display: block;  font-weight: bold; }
.main-slider  dd a  { color:#84b6cf;}




/* 所有所有评论 */
.allcomment { margin:10px 0;}
.allcomment .b-top,.allcomment .b-bottom,.allcomment .content { background: url("../../images/korea/bg-allcomment.png") no-repeat;}
.allcomment .b-top { height: 10px; }
.allcomment .b-bottom { height: 10px; background-position: 0px -10px; }
.allcomment .content { background-position: -980px 0px; background-repeat:repeat-y; padding: 0 20px; }
.allcomment .count { line-height: 32px; font-size:14px; background: url("../../images/korea/line-2.png") repeat-x bottom;  }
.allcomment .count span { color: #000; }
.allcomment .count p { border-bottom: 2px solid #f82244; float: left; }
.allcomment .list {  overflow:hidden; width:696px; }
.allcomment .content .list { width:940px;}
.allcomment .list li { background: url("../../images/korea/line-1.png") repeat-x top; padding: 10px 0; margin-top: -1px;}
.allcomment .list li.last { background: none;}
.allcomment .list .head { width:70px; float: left; overflow:hidden; }
.allcomment .list .head img { border:1px solid #ececec; padding: 4px; background: #fff; }
.allcomment .list .context { width:870px; float:left; }
.allcomment .user { margin-bottom: 4px; position: relative;}
.allcomment .user a { color:#336699; }
.allcomment .text { line-height: 20px; color:#666; font-size:14px; margin-bottom: 2px; }
.allcomment .info { color:#666; }
.allcomment .more { text-align:right; padding-top: 10px;}
.allcomment a { color:#369;}
.allcomment a em { font-family: '宋体';}
.col-main .allcomment .list .context { width:626px; }

.allcomment.more .content { background: none; padding: 0; }
.allcomment.more .content .list { width:980px;}
.allcomment.more .count { margin-bottom: 10px;}
.allcomment.more .list .context { width:910px;}
.allcomment.more .stars { margin-bottom: 15px;}
.allcomment.more .stars span { float:left; display: block; margin-top: 2px;}
.allcomment.more .star { float:left; width:100px; margin:0 15px 0 4px;}
.allcomment.more .text { color:#333; font-size:12px; margin-bottom: 15px;}
.allcomment.more .info strong { color:#db000f; }
.allcomment.more .list li { padding:15px 0;}
.allcomment.more .pics { margin-bottom: 10px;}
.allcomment.more .pics img { border: 1px solid #cfcfcf; padding: 1px; margin-right:15px;}

/* 评论start */
.star { background: url("../../images/korea/star.png") no-repeat; _background-image: url("../../images/korea/fix/star.png");  height:20px; width:150px; overflow: hidden;}
.star span { display: block; cursor: pointer; width:18px; text-indent: -9999px; float:left; }
.star.disabled span { cursor:default;}
.star em { text-align: center; width:40px; float:left; display: block; font-size:14px; font-weight: bold; color: #eb7e00;}
.list-korea .list .star em.gray { color:#666; font-size:14px;}
.star.s1 { background-position: 0px -20px;}
.star.s2 { background-position: 0px -40px;}
.star.s3 { background-position: 0px -60px;}
.star.s4 { background-position: 0px -80px;}
.star.s5 { background-position: 0px -100px;}
.star.view em { margin-left: 100px;}

/* 底部评论 */
.comment { margin-bottom: 20px;}
.comment h3 { line-height:30px; margin-bottom: 10px; font-size: 14px; }
.comment h3 em { margin-left: 5px; padding-right:20px; background-position: 0px -388px; zoom:1;}
.comment-box {  }
.editor-box { margin-bottom: 10px;}
.editor { width:99%;}
.comment-submit { line-height: 22px;}
.comment-submit .l { padding-right: 6px;}
.comment-submit .star { width:110px;}
.comment em { color: #999;}
.btn-comment { width:64px; height: 26px;}
.btn-comment:hover { background-position:-64px 0px;}

.commentad { margin-top: 20px;  color:#333;}
.commentad  h3 { border-top:1px dotted #333; border-bottom: 1px  dotted #333; line-height: 34px; height: 34px; padding-left: 15px; font-size:14px;   }
.commentad .bg-top,.commentad .bg-bottom { padding-top: 10px; background: url("../../images/korea/bg-comment-shadow.png") no-repeat;}
.commentad .bg-bottom { background-position: 0px -10px;}
.commentad .panel { width:860px; margin:auto; background: #f8f8f8; padding:10px 0;}
.commentad .row { margin-bottom: 15px;}
.commentad .row-l { float:left; width:90px; text-align: right;}
.commentad .row-c { width:760px;  float:right; }
.commentad .row-l em { color:#db000f; margin-right: 4px;}
.commentad .nogood,.commentad .good { display: block; float:left; background-color: #f8f8f8; line-height: 23px; height: 23px; padding-left: 24px; cursor:pointer;}
.commentad .good { background-position: 0px -577px; margin-right: 20px;}
.commentad .nogood { background-position: -120px -577px;}
.commentad .good:hover { background-position: -60px -577px; text-decoration: none;}
#comment-good.cur {background-position: -60px -577px;}
.commentad .nogood:hover { background-position: -180px -577px; text-decoration: none;}
#comment-nogood.cur {background-position: -180px -577px;}
.commentad .starwrap { background-color: #fffae8; border:1px solid #f2bf83; padding-left: 8px; margin-top: 8px;}
.commentad .star { width:100px; }
.commentad textarea { overflow: auto; border: 1px solid #e0e0e0; width:80%; resize:none; line-height: 22px; height: 110px;}
.commentad .btn { text-align: center;}
.commentad .btn input { width:108px; height: 30px; cursor:pointer; border: none; background: #db000f; color:#fff; font-size:14px;}
.commentad .btn .submit:hover { background: #c8000e;}
.commentad .btn .reset { background: #868686; margin-left:20px;}
.commentad .btn .reset:hover { background: #6e6e6e;}
.commentad .upload-img { float:left; position: relative; margin-left: 20px;}
.commentad .upload-img .icon { display: inline-block; background-color: #f8f8f8; height:19px; line-height: 19px; background-position: -270px -581px; padding-left: 28px; color: #db000f;}
.commentad .msg { display: none; color:#db000f; margin-left: 6px;}

.upload-img-box { display: none; position: absolute; left:40px; top:20px; width:230px; height: 95px; padding-top: 25px; background:url("../../images/korea/bg-upload-img.png") no-repeat; }
.upload-img-box .close {  width:12px; height:12px; display: block; text-indent: -9999px; position:absolute; right:4px; top:8px;}
.upload-img-box .btn-upload { display: none;  width:118px; height: 30px; margin-bottom: 10px; cursor:pointer; border: none; background: #db000f; color:#fff; font-size:14px; }
.upload-img-box p,.upload-img-box div { margin:0px 20px 0;   color:#666;  }
.upload-img-box .cf { position: relative;}
.upload-img-box .file  { margin-bottom: 10px; padding: 5px 0; width:160px;  }
.upload-img-box .loading { display:none; float:left; width:16px; height: 16px; margin:6px 0 0 6px; background: url("../../images/korea/loading.gif"); }
.upload-img-box .loading.on { display: inline;}

.upload-img-show div { padding-top: 10px; float:left; margin-right: 15px; width:100px; text-align: center;}

.col-main .commentad .panel { width:610px; }
.col-main .commentad .row-c { width:510px;}
.col-main .commentad .bg-top { background-position:0px -20px; }
.col-main .commentad .bg-bottom { background-position: 0px -30px;}
.col-main .commentad textarea { width:70%;}
.col-main .allcomment.more .list .context { width:626px;}
.col-main .allcomment.more .list li { width:696px;}
.col-main .allcomment.more .content .list { width:696px;}

/* 详情页 */
.container.detail .col-sub { padding-top: 30px; }
.detail-korea { border:1px solid #e0e0e0; border-top:none; padding: 35px 16px 16px; margin-bottom: 20px;}
.detail-korea h2 { font-size:20px; text-align: center; padding-bottom:12px; margin-bottom:12px; border-bottom:1px solid #d6d6d6;}
.detail-korea .info { color:#999; text-align: center; margin-bottom:40px; }
.detail-korea .info span { padding:0 5px;}
.detail-korea .share { padding:20px 0; text-align: right; border-bottom:1px solid #d6d6d6; margin-bottom: 16px;}
.detail-korea .other-post { margin-bottom: 20px;}
.detail-korea .other-post p { font-size:14px; line-height:24px; }
.detail-korea .other-read {font-size:14px;}
.detail-korea .other-read strong {  color:#fd0042; font-weight: bold;}
.detail-korea .other-read li { line-height: 26px;}
.col-sub .panel .sub-star-box { border-top:1px solid #e0e0e0; margin-top:8px; padding-top:10px;}
.sub-star-box li { padding-left:0; background: none;}
.sub-star-box .des { float:left; width:85px;}
.sub-star-box .pic { float:left; width:150px;}
.detail-korea .player { position: relative; display:inline-block; margin:auto; width:auto;}
.detail-korea .play { margin:-43px 0 0 -43px; background-position: 0px -470px; position: absolute; width:86px; height: 86px; top:50%;left:50%; _width:32px; _height:32px; _margin:-16px 0 0 -16px; _background-position: -130px -470px; }



/* 详情页 new */
.detail-new { clear: both;}
.detail-new .infos { box-shadow: 1px 1px 2px #eee; margin-bottom: 20px; width:696px;  overflow: hidden; }
.detail-new .infos-title {   color:#333; height:44px; line-height: 44px; background: #f2f2f2 url("../../images/korea/line-3.png") repeat-x top; border-top:1px solid #000; padding-left: 10px; font-size:14px;}
.detail-new .infos .panel { padding:10px; border:1px solid #e0e0e0;}
.detail-new .infos .row { border-bottom: 1px dashed #bcbcbc; }
.detail-new .infos .row div { line-height: 33px;}
.detail-new .infos .row-l { float:left; width:60px; color:#999;}
.detail-new .infos .row-r { float:left; width:614px; color:#666; }
.detail-new .infos .row-r em { color:#dd232e; margin-right: 10px; font-size:14px; font-family: \5FAE\8F6F\96C5\9ED1;}
.detail-new .infos .row-r i { color:#eb7e00; font-size:16px; font-family: \5FAE\8F6F\96C5\9ED1;}
.detail-new .infos .row.last { border-bottom: none;}
.detail-new .infos .panel { position: relative;}
.detail-new .infos .panel .info-img { position: absolute;   right:10px; top:10px; background: #fff; padding:4px;}
.detail-new .infos .panel .info-img img { border:1px solid #e0e0e0; padding:4px;}

.detail-new .line { border-bottom: 1px solid #e0e0e0;  }
.detail-new .line div { width:70px; margin:0; height:2px; background: #cc0000; margin-bottom: -1px; *margin-bottom:0; overflow: hidden;}
.detail-new .details { padding:15px;}
.detail-new .details h3 { font-weight: bold; margin-bottom: 20px; color:#333;}
.detail-new .details .texts { margin-bottom: 20px; line-height: 22px; font-size:14px; color:#333;}

.detail-new .share { padding:20px 0; text-align: right; border-bottom:1px solid #d6d6d6; margin-bottom: 16px;}
.detail-new .other-post p { font-size:14px; line-height:24px; }

.col-sub .map-content {  padding: 1px; }
.map-content #map-canvas { width:260px; height: 260px;}
#dialog-map #map-canvas-large { width:870px; height:600px;}
.col-sub .view { padding:10px 0;background: #f6f6f6; text-align: center;}
.col-sub .view a { display: block; background-color: #f6f6f6; background-position: 0px -620px; margin:auto; padding-left:15px; height:14px; line-height: 14px; width:55px; overflow: hidden;}

/* 详情页 slider */
.dialog-image-slider .prev,.dialog-image-slider .next { position: absolute; top:120px;  background: url("../../images/korea/slider-arrow.png") no-repeat; display: block; width:16px; height: 32px; overflow: hidden; text-indent: -9999px;}

.dialog-image-slider .prev { background-position: 0px -32px; left:0; }
.dialog-image-slider .prev:hover { background-position: -16px -32px;}
.dialog-image-slider .prev.first,.dialog-image-slider .prev.first:hover { background-position: 0px 0px; cursor: default;}

.dialog-image-slider .next { background-position:-32px -32px;  right:0;}
.dialog-image-slider .next:hover { background-position: -48px -32px;}
.dialog-image-slider .next.last,.dialog-image-slider .next.last:hover {  background-position: -32px 0px; cursor:default;}

.dialog-image-slider { width:360px; margin:0 auto; position: relative;}
.dialog-image-slider .container { width:300px; height:300px; margin:auto; overflow: hidden; position: relative;}

.dialog-image-slider ul li { float:left; width:300px; height:300px; overflow: hidden;}


/*关于我们*/
.aboutus {  background: url("../../images/korea/aboutus/about-bg.png"); padding: 50px 0 20px; }
.aboutus .b5m-intro { width:980px; margin: 0 auto 20px; position: relative; z-index: 10;}
.aboutus .b5m-intro h2 { width:372px; height: 35px; background: url("../../images/korea/aboutus/about-h1.png") no-repeat; _background-image: url("../../images/korea/aboutus/fix/about-h1.png"); text-indent: -9999px;}
.aboutus .b5m-intro .l { width:425px;min-height:200px; _height:200px;   }
.aboutus .b5m-intro .r { width:525px;   padding-left: 30px; line-height: 20px; color:#333; background: url("../../images/korea/aboutus/about-line.png") no-repeat top left;}

.aboutus .trans-box { display: none; background:url("../../images/korea/aboutus/about-bg-trans.png") no-repeat; _background-image: url("../../images/korea/aboutus/fix/about-bg-trans.png"); width:382px; height: 175px; left: 49px; top:28px; position:absolute;}
.aboutus .trans-box .text { width: 380px; height:137px; overflow: auto; position: absolute; right:1px; bottom:1px; _bottom:0;}
.aboutus .trans-box .texts { padding: 10px;}

.aboutus .box-odd { background: url("../../images/korea/aboutus/about-line1.png") repeat-x bottom;}
.aboutus .b5m-ad { width:980px; margin: auto; padding:20px 0;}

.aboutus .b5m-ceo {position: relative; z-index: 10; width:980px; margin: 0 auto; padding: 30px 0; background: url("../../images/korea/aboutus/about-arrow.png") no-repeat 22px bottom; }
.aboutus .b5m-ceo h2 { width:273px; height: 35px; background: url("../../images/korea/aboutus/about-h2.png") no-repeat; _background-image: url("../../images/korea/aboutus/fix/about-h2.png"); text-indent: -9999px;}
.aboutus .b5m-ceo .l { width:390px;    position:relative; }
.aboutus .b5m-ceo .r { width:525px; padding-left: 30px;   line-height: 20px; color:#333; background: url("../../images/korea/aboutus/about-line.png") no-repeat top left;}


.aboutus .video { background:url("../../images/korea/aboutus/about-line1.png") repeat-x bottom; padding: 40px 0; }
.aboutus .video-content { width:480px; margin: auto;}

.aboutus .b5m-ceo.web { background: none;}
.aboutus .b5m-ceo.web h2 { background: url("../../images/korea/aboutus/about-h3.png") no-repeat; _background-image: url("../../images/korea/aboutus/fix/about-h3.png"); width:332px; height: 35px; }
.aboutus .b5m-ceo.web .text-korea { height:250px; overflow:hidden;  }
.aboutus .b5m-ceo.web .trans-box { top:28px;}


/* 列表页 */
.list-korea {background: url("../../images/korea/line-3.png") repeat-x 0px 2px; padding-top:20px; margin-bottom: 20px;}
.list-korea .list { padding:18px; border:1px solid #e0e0e0; box-shadow:1px 1px 2px #ddd; margin-bottom: 15px; }
.list-korea .list h3 { font-size:16px; margin-bottom: 20px; }
.list-korea .list .pic { float:left; width:190px; }
.list-korea .list .pic img { border:1px solid #e0e0e0;}
.list-korea .list .text { float:left; width:466px;}
.list-korea .list p { margin-bottom: 15px; font-size:14px; line-height: 24px; height:120px; background: url("../../images/korea/line-3.png") repeat-x bottom; padding-bottom: 10px; overflow: hidden; font-family: \5FAE\8F6F\96C5\9ED1;}
.list-korea .list em {   font:italic 18px/20px \5FAE\8F6F\96C5\9ED1;}
.list-korea .list .text a { color:#eb8927; }
.list-category { padding-bottom: 5px;}
.list-category a { margin-left: 10px;}
.list-category a.cur { color:#ae000c; font-weight: bold;}

/* 搜索结果页 */
.search-korea { background: url("../../images/korea/line-3.png") repeat-x 0px 2px; padding-top:20px;}
.search-korea .list { border:1px solid #e0e0e0; margin-right:18px; float:left; width:206px; padding:10px 6px; margin-bottom: 20px; box-shadow:0px 1px 1px #ddd; overflow: hidden;}
.search-korea .list.last { margin-right: 0;}
.search-korea .list p { padding-top:4px; height:42px; overflow: hidden; margin-bottom: 2px;}
.search-korea .list p a { color:#666;}
.search-korea .list p a strong { color:#db000f;}
.search-korea .list i { display: block; margin-bottom: 6px; color:#ff7a17; font:14px/14px \5FAE\8F6F\96C5\9ED1;}
.search-korea .list em { color:#666; font-weight: normal; text-align: center; }
.search-korea .list .btn { padding:8px 0 4px; }
.search-korea .star.s1 { background-position: -180px -20px;}
.search-korea .star.s2 { background-position: -180px -40px;}
.search-korea .star.s3 { background-position: -180px -60px;}
.search-korea .star.s4 { background-position: -180px -80px;}
.search-korea .star.s5 { background-position: -180px -100px;}
.search-korea a.btn-tpl { display: block;  width:106px; line-height: 28px; height:28px;  background: url("../../images/korea/btn-search.png") no-repeat 0px -40px; color:#fff;  text-align: center; }
.search-korea a.btn-tpl:hover { text-decoration: none; background-position: -150px -40px;}
.filter-text-focusin { color:#000;}
.filter-text-focusin.search { color:#f00;}

/*.nosearch { background: none; overflow: hidden; }
.nosearch .cols { margin-right: -12px;}
.nosearch .list { width:214px; height:310px; overflow: hidden; padding: 10px; margin-right: 12px; margin-bottom: 12px; float:left; border:1px solid #d6d6d6; }
.nosearch .list:hover,.nosearch .list.hover { border-color:#ff9c0f;}
.nosearch .list p { font-size:14px; height:48px; line-height: 24px; font-weight: bold; overflow: hidden;}
.nosearch .list .pic { height:214px; overflow: hidden;}
.nosearch .list .btn { height: 46px; background: #ff9c0f; color:#fff; padding:0 6px; overflow: hidden;}
.nosearch .list .btn i {font:30px/46px tahoma; text-shadow:2px 1px 1px #e98900; display: block; float:left; }
.nosearch .list .btn i b { font-size:18px; font-family: Arial;}
.nosearch .list .btn span { display: block; float:right; padding-top:8px; }
.nosearch .list .btn span a { display: block; width:74px; height: 28px; text-align: center; background: #fff44c; font:14px/28px \5FAE\8F6F\96C5\9ED1; color:#993300; font-weight: bold;}

.result-nothing{height:450px;background:url(../../images/korea/bg-result-nothing.png) no-repeat 120px 50%;margin:0;position:relative}
.result-nothing .tip,#result-nothing .tit,#result-nothing .back{position:absolute;}
.result-nothing .tip{left:0;top:0}
.result-nothing .tit{left:0;bottom:0}
.result-nothing .back{left:445px;top:220px;font-size:14px;font-family:\5b8b\4f53;line-height:18px;font-weight:400;position: absolute; color:#666;}
.result-nothing .back a{font-weight:700;color:#333;font-family:\5fae\8f6f\96c5\9ed1;font-size:16px;}
.result-nothing .back em {color: #fe7c28;font-style: normal;max-width: 135px;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;_width: expression(this.offsetWidth > 135 ? '135px': true); }
.result-nothing .back strong {color: #fe7c28;}
.result-nothing h2,.nosearch h2 { font-size:20px; font-family:\5fae\8f6f\96c5\9ed1; color:#000; font-weight: bold; margin:20px 0;}*/
/*搜索无结果页*/
.result-nothing{height:450px;background:url(../../images/haiwai/search/err.jpg) no-repeat 120px 50%;margin:0;position:relative}/*bg-result-nothing.png*/
.result-nothing .tip,#result-nothing .tit,#result-nothing .back{position:absolute;}
.result-nothing .tip{left:0;top:0}
.result-nothing .tit{left:0;bottom:0}
.result-nothing .back{left:445px;top:220px;font-size:14px;font-family:\5b8b\4f53;line-height:18px;font-weight:400;position: absolute; color:#666;}
.result-nothing .back a{font-weight:700;color:#333;font-family:\5fae\8f6f\96c5\9ed1;font-size:16px;}
.result-nothing .back em {color: #fe7c28;font-style: normal;max-width: 135px;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;_width: expression(this.offsetWidth > 135 ? '135px': true); }
.result-nothing .back strong {color: #fe7c28;}
.result-nothing h2,.nosearch h2 { font-size:20px; font-family:\5fae\8f6f\96c5\9ed1; color:#000; font-weight: bold; margin:20px 0;}

.nosearch-pro { background: none; overflow: hidden; }
.nosearch-pro .cols { margin-right: -12px;}
.nosearch-pro .list { width:224px; height:310px; overflow: hidden; padding: 10px; margin-right: 12px; margin-bottom: 12px; float:left; border:1px solid #d6d6d6; }
.nosearch-pro .list:hover,.nosearch .list.hover { border-color:#ff9c0f;}
.nosearch-pro .list p { font-size:14px; height:48px; line-height: 24px; font-weight: bold; overflow: hidden;}
.nosearch-pro .list .pic { height:214px; overflow: hidden;}
.nosearch-pro .list .btn { height: 46px; background: #ff9c0f; color:#fff; padding:0 6px; overflow: hidden;}
.nosearch-pro .list .btn i {font:30px/46px tahoma; text-shadow:2px 1px 1px #e98900; display: block; float:left; }
.nosearch-pro .list .btn i b { font-size:18px; font-family: Arial;}
.nosearch-pro .list .btn span { display: block; float:right; padding-top:8px; }
.nosearch-pro .list .btn span a { display: block; width:74px; height: 28px; text-align: center; background: #fff44c; font:14px/28px \5FAE\8F6F\96C5\9ED1; color:#993300; font-weight: bold;}

/* page */
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma; padding:15px 0;}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:32px;line-height:32px; width:32px;font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:\5b8b\4f53}
.page a.first,.page a.last{width:43px}
.page a:hover{color:#fff;background-color:#333;background-image:none;border-color:#333;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#333;font-family:arial;border-radius:3px;cursor:default; border:1px solid #333;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:90px;margin-right:0;text-align:right;font-family:\5b8b\4f53}
.page .page-input{font-family:\5b8b\4f53;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #333;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#333;border:1px solid #333;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}
.page span.go { margin-top: 2px;}



/* 潮流资讯 */
.chaoliu { padding-top:0;}
.chaoliu a.pic { position: relative; overflow: hidden; display: block;}
.chaoliu a.pic span { display: block; bottom:0; left:0; width:100%; cursor:pointer; position: absolute; height:22px; line-height: 22px; text-indent: 10px; color:#fff; background: url("../../images/korea/bg-alpha.png"); _background:#3e3e3e; _filter:alpha(opacity=80); }
.chaoliu a.pic span strong { font-weight: bold;}
.chaoliu a.pic:hover { text-decoration: none;}

.chaoliu .quicknav { border:1px solid #ccc; margin-bottom: 30px;}
.chaoliu .quicknav h3 { font-size:14px; color:#3f3f3f; font-weight: bold; width:205px; height:38px; line-height: 38px; text-align: center; background:#f1f1f1 url("../../images/korea/chaoliu.png") no-repeat 196px 0px; float:left;}
.chaoliu .quicknav .links { float:right; width:760px; line-height: 38px; height:38px; _padding-top:12px; _height:26px;}
.chaoliu .quicknav .links a { margin-right: 30px;}
.chaoliu .quicknav .links a strong,.chaoliu .quicknav .links a b { color:#b5000c;}
.chaoliu .quicknav .links em {zoom:1; background: url("../../images/korea/chaoliu.png") no-repeat -30px 0px; padding: 0 11px;  margin-left: 2px;}
.chaoliu .quicknav .links a:hover sup { text-decoration: none;}

.chaoliu-left { width:706px; float:left;}
.chaoliu-right { width:254px; float:right;}

.chaoliu-head,.chaoliu-sub-head { margin-bottom: -1px; *position: relative;}
.chaoliu-head h3 { float:left; background: url("../../images/korea/chaoliu.png") no-repeat 0px -50px; width:150px; height:27px; text-indent: -9999px;}
.chaoliu-head .more { display: block; float:right; height: 27px; line-height: 27px;}
.chaoliu-head h3.h2 { background-position: 0px -80px;}
.chaoliu-head h3.h3 { background-position: 0px -110px;}
.chaoliu-head h3.h4 { background-position: 0px -140px;}
.chaoliu-head h3.h5 { background-position: 0px -170px;}
.chaoliu-head h3.h6 { background-position: 0px -200px;}
.chaoliu-head h3.h7 { background-position: -200px -50px;}

.chaoliu-head.col2 .l { width:465px;}
.chaoliu-head.col2 .r { width:221px;}

.chaoliu-sub-head { font-family: \5FAE\8F6F\96C5\9ED1;}
.chaoliu-sub-head h4 {  border-bottom: 3px solid #000; height:24px; float:left;  font-size:16px; color:#000; }
.chaoliu-sub-head .sel {  line-height: 27px; float:right; }
.chaoliu-sub-head .sel span { float:left; height:27px;}
.chaoliu-sub-head .sel a { float:left; height:27px; margin: 0 10px; }
.chaoliu-sub-head .sel a.cur { background: url("../../images/korea/chaoliu-ico1.png") no-repeat bottom center;}
.chaoliu-sub-head .more { float:right; display: block; line-height: 27px; height: 27px; font-family: \5b8b\4f53;}

.chaoliu-main { padding: 20px 0 20px 20px; background: #f1f1f1; border-top:1px solid #ccc; }
.chaoliu-main .focus { width:260px; float:left; margin-right: 15px;}
.chaoliu-main .focus .pic { width:260px; height:340px; margin-bottom: 10px;}
.chaoliu-main .focus .info { background: #d2d2d2; height:75px; overflow: hidden; padding: 10px 10px 0; line-height: 17px;  color:#3f3f3f; }
.chaoliu-main .focus .info a { color:#a00023;}
.chaoliu-main .focus .info strong { font-weight: bold;}

.chaoliu-main ul { float:left; width:405px; height:435px; overflow: hidden;}
.chaoliu-main ul li { float:left; width:120px; margin-right: 15px; margin-bottom: 10px; }
.chaoliu-main ul li .pic { width:120px; height:170px; margin-bottom: 3px;  }
.chaoliu-main ul li .des { line-height: 20px; display: block; height:40px;  overflow: hidden; white-space: normal; text-overflow: ellipsis;}
.chaoliu-main ul li .des span { color:#949494;}
.chaoliu-main ul li .des span:hover { color:#eb7e00;}

.chaoliu-sub { border-top:1px solid #ccc; }
.chaoliu-sub .pic { width:254px; height: 254px;}
.chaoliu-sub .pic-desc { display: none; line-height: 20px; height: 60px; margin-bottom: 10px; overflow: hidden;}
.chaoliu-sub .pic-desc.cur { display: block;}

.chaoliu-row { margin-bottom: 20px;}
.chaoliu-row .chaoliu-main { padding:10px 0 10px 20px;}
.chaoliu-row .chaoliu-main ul { float:none; height:auto; width:100%;}
.chaoliu-row .chaoliu-main li { width:140px; margin-bottom: 0; margin-right: 20px;}
.chaoliu-row .chaoliu-main .pic { width:140px; height: 80px;}

.chaoliu-main.hot { padding: 0 0 0 20px;}
.chaoliu-main.hot .box1 { width:465px; border-right:1px solid #cfcfcf; padding:20px 0;}
.chaoliu-main.hot .box1 .l { width:280px;}
.chaoliu-main.hot h4 { margin-bottom:10px; font-size:14px; font-family: \5FAE\8F6F\96C5\9ED1;}
.chaoliu-main.hot .box1 .l li { line-height: 20px; padding:2px 0 2px 8px; background: url("../../images/korea/li-2.png") no-repeat 0px 10px;}
.chaoliu-main.hot .box1 .r { width:160px; }
.chaoliu-main.hot .box1 .r li { padding-bottom: 6px;}
.chaoliu-main.hot .box1 .r span { float:left; width:60px; height:60px; margin-right: 5px; }
.chaoliu-main.hot .box1 .r p { float:left; width:95px;}

.chaoliu-main.hot .box1 .panel { width:450px; height:210px; overflow: hidden;}
.chaoliu-main.hot .box2 li { line-height: 17px; border-bottom:1px dashed #aaa; padding:2px 0 2px 8px; background: url("../../images/korea/li-2.png") no-repeat 0px 10px;}
.chaoliu-main.hot .box2 li.last { border-bottom: none;}
.chaoliu-main.hot .box2 strong { color:#880000;}

.chaoliu-main.hot .box2 { width:200px; height:auto; padding:20px 0 20px 10px; border-left:1px solid #fbfbfb;}
.chaoliu-main.hot .box2 .pic { width:200px; height:115px; margin-bottom: 10px;}
.chaoliu-main.hot .box2 .panel { height:210px;}

.chaoliu-main.hot .line { background: url("../../images/korea/line-4.png") repeat-x bottom; padding-bottom:5px; margin-bottom:15px;}

.chaoliu .cols2 { width:480px; float:left;}
.chaoliu .cols2 .chaoliu-main { padding:10px;}
.chaoliu .cols2 .pics { width:140px; float:left; margin-right: 15px;}
.chaoliu .cols2 .pics .pic { width:140px; height:80px; margin-bottom: 10px;}
.chaoliu .cols2 .pics .pic.last { margin-bottom: 0;}
.chaoliu .cols2 ol { float:left; width:300px;}
.chaoliu .cols2  li { line-height:22px; padding:2px 0 2px 8px; background: url("../../images/korea/li-2.png") no-repeat 0px 12px;}

.chaoliu-sub ol.first-line { background: url("../../images/korea/line-4.png") repeat-x top; overflow: hidden; zoom:1; }
.chaoliu-sub ol li {line-height: 24px; background: url("../../images/korea/line-4.png") repeat-x bottom;}
.chaoliu-sub ol li span { float:left; display: block; width:206px; height:24px;  background: url("../../images/korea/li-2.png") no-repeat left 10px; padding-left:8px;}
.chaoliu-sub ol li em { float:right; width:40px; text-align: center; height: 24px;}
.chaoliu-sub ol li em a { color:#686868;}

.ranks { margin:5px 0;}
.ranks ul { display: none;}
.ranks ul.cur { display: block;}
.ranks li { overflow: hidden; width:100%; padding-bottom: 1px; background: url("../../images/korea/line-4.png") repeat-x bottom;}
.ranks .brief { height:24px; overflow: hidden; line-height: 24px; *height:22px; cursor:pointer; color:#3b3b3b;}
.ranks .details { display: none; width:100%;}
.ranks li.cur .brief { display: none;}
.ranks li.cur .details { display: block;}
.ranks .brief span { float:left; display: block; background: url("../../images/korea/chaoliu.png") no-repeat; padding-left: 24px;}

.ranks .num1 .brief span { background-position: 0px -238px;}
.ranks .num2 .brief span { background-position: 0px -268px;}
.ranks .num3 .brief span { background-position: 0px -298px;}
.ranks .num4 .brief span { background-position: 0px -328px;}
.ranks .num5 .brief span { background-position: 0px -358px;}
.ranks .num6 .brief span { background-position: 0px -388px;}
.ranks .num7 .brief span { background-position: 0px -418px;}
.ranks .num8 .brief span { background-position: 0px -448px;}
.ranks .num9 .brief span { background-position: 0px -478px;}
.ranks .num10 .brief span { background-position: 0px -508px;}

.ranks .brief em { float:right; display: block;}
.ranks .brief em b { color:#686868; margin: 0 4px; font-weight: normal;}

.ranks li .details { padding: 10px 0;}
.ranks li .details .img { border:1px solid #b5b5b5; padding: 3px; background:#fff; display: block; width:78px; height:110px; position: relative; float:left;}
.ranks li .details .img em { position:absolute; top:-1px; left:-1px; display: block; width:20px; height: 32px; text-indent: -9999px;}
.ranks li .details div { float:right; width:155px;}
.ranks li .details p { padding: 3px 0;}
.ranks li .details p b { color:#000;}
.ranks li .details p strong { font-weight: bold; color:#ff8900; font-size: 16px;}
.ranks li .details p strong i { font-size:12px; font-style: normal;}

.ranks .img em {background: url("../../images/korea/chaoliu.png") no-repeat; }
.ranks .num1 .img em { background-position: -100px 0px; }
.ranks .num2 .img em { background-position: -130px 0px; }
.ranks .num3 .img em { background-position: -160px 0px; }
.ranks .num4 .img em { background-position: -190px 0px; }
.ranks .num5 .img em { background-position: -220px 0px; }
.ranks .num6 .img em { background-position: -250px 0px; }
.ranks .num7 .img em { background-position: -280px 0px; }
.ranks .num8 .img em { background-position: -310px 0px; }
.ranks .num9 .img em { background-position: -340px 0px; }
.ranks .num10 .img em { background-position: -370px 0px; }

.chaoliu-sub .man { display: none;}
.chaoliu-sub .man.cur { display: block;}

.chaoliu-sub .scroll-img { padding-top: 20px; *padding-top:10px;  }
.chaoliu-sub .scroll {overflow: hidden; width:254px; position: relative;}
.chaoliu-sub .scroll-img ul { width:762px;}
.chaoliu-sub .scroll-img li { float:left;}
.chaoliu-sub .scroll-img .btn { margin:2px 0 15px;}
.chaoliu-sub .scroll-img .btn a { background: #c5c5c5; float:left; display: block; text-indent: -9999px; height:3px; overflow: hidden; width:82px;}
.chaoliu-sub .scroll-img .btn a.cur { background: #000;}
.chaoliu-sub .scroll-img .btn a.bor { margin:0 4px; _margin:0 2px; }


.sel-movie-box {border:1px solid #989898; background: #fff;  box-shadow:1px 1px 2px #ddd; margin-bottom: 10px;}
.sel-movie-box .movie-selector { background: #efefef; padding: 15px;}
.sel-movie-box .movie-selector li { cursor:default; border:1px solid #868686; float:left;  padding:2px 4px; margin:10px 10px 0px 0;  background: none;  }
.sel-movie-box .movie-selector li strong { color:#ae000c;}
.sel-movie-box .movie-selector li a { padding:0 5px; background: url("../../images/korea/chaoliu.png") no-repeat 0px -548px; zoom:1; margin-left: 5px; cursor:pointer;}
.sel-movie-box h3 {  font-size:14px; color:#393939; font-family: \5b8b\4f53; font-weight: bold;}
.sel-movie-box .movie-content { padding: 20px;}
.sel-movie-box .movie-content li { float:left; width:24%; padding:0; background: none; }
.sel-movie-box h4 { margin-bottom: 10px; color:#949494; font-size: 14px;}
.sel-movie-box .movie-content a.cur { color:#ff0000;}


/*slider box*/
div.slideBox{ position:relative; width:652px; height:379px; overflow:hidden;}
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox div.tips{ position:absolute; bottom:0px; width:100%; height:50px; overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
div.slideBox div.tips div.title a{ color:#FFF; font-family: \5FAE\8F6F\96C5\9ED1; font-size:14px; line-height:50px; margin-left:10px; text-decoration:none;}
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
div.slideBox div.tips div.nums a{ display:inline-block; float:left/*For IE.ADD.JENA.201206300844*/; width:12px; height:12px; background-color:#FFF; text-indent:-99999px; margin:20px 10px 0px 0px; overflow: hidden;}
div.slideBox div.tips div.nums a.active{ background-color:#ff2e29;}
/* add fav */
.box-addfav { width: 286px; height: 212px; position: absolute; top:25px; left:50%; margin-left:140px; background: url("../../images/korea/pic-addfav.png") no-repeat;  _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://korea.b5m.com/static/new/images/korea/pic-addfav.png", sizingMethod="crop"); z-index: 100; }
.box-addfav-content { width: 286px; height: 212px; position: absolute; top:25px; left:50%; margin-left:140px; z-index: 101; }
.box-addfav-content .content {  width: 286px; height: 212px;  position: relative; }
.box-addfav-content .close { position:absolute;  width:20px; height: 20px; top:37px; right:8px; display: block; text-indent: -9999px; }
.box-addfav-content .J_addFav { position: absolute; width:150px; height: 42px; bottom:42px; left:67px; display: block; text-indent: -9999px;}
/* dialog */
.dialog { display: none; position: fixed; _position: absolute; background: #fff;  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); border:1px solid #bbb; padding:25px 15px 15px; z-index: 1000; left:0; top:0; overflow: hidden; }
.dialog-content { display: none; }
.dialog .dialog-content { display: block;}
.dialog-mask { width:100%; z-index:999; position: fixed; _position: absolute; top:0; left:0; opacity: 0.2; background-color: #000; display:none; filter:alpha(opacity=20);}
.dialog .dialog-close { position: absolute; right:8px; top:8px; width:14px; height:14px; overflow: hidden; background:url("../../images/korea/ico-dialog-close.png"); text-indent: -9999px;}
/* css fixed */
.col-sub { padding-top:35px;}
.col-sub.notop { padding-top: 0;}
.col-sub .block .xl1 ul li { padding-left:10px; background: url("../../images/korea/li-1.png") no-repeat 0px 9px;}
.xld .m {margin:0;}
.box p { height:auto;}
.col-sub h4 { padding-top:0;}
.comment { padding:10px;}
.comment textarea { width:98%;}
.comment h4 { height:20px; margin-bottom:10px;padding:0;}
ul.list { background:none; height:auto; margin:0; padding:0;}
ul.list li { border-bottom:none; float:none; height:auto; }
.text { background:none;}
ul.list li em { background:none;display:block;height:auto;margin:0;text-indent:0;width:40px; }
.col-sub dl { float:none; margin:0;}
.col-sub dl a {font-weight: normal;}
ul.list li a { max-width:none; float:none; cursor: default;}
.pn { _margin-bottom: 1px;}
.title { height:auto; line-height: normal; padding:0;}
/*.temp { display: none;}*/
.chaoliu-main .focus { position: static;background: none;}
.move-span.cl { zoom:0;}
.col-sub .box .frame-1-1-l,.col-sub .box .frame-1-1-r { _width:130px; }


/* 详情页资讯 */
.detail-info-panel { margin-top: 20px;}
.detail-info-panel .ln { background: url("../../images/korea/line-1.png") repeat-x bottom;}
.detail-info-panel { border:1px solid #e0e0e0; }
.detail-info-panel dl { float:left; width:310px;}
.detail-info-panel .dlr { float:right;}
.detail-info-panel dt { font-weight: bold; font-size:14px; margin-bottom:10px; color:#333; }
.detail-info-panel dd { width:310px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.detail-info-panel .info-img { width:100%;}
.detail-info-panel .info-img dd { font-size:14px; float:left; text-align: center; width:152px; margin-right: 5px;}
.detail-info-panel .info-img dd.last { margin-right: 0;}
.detail-info-panel .info-img img { display: block; margin-bottom: 6px;}
/*看过这家店的人还看过 20131227 zibu*/
.hw-data-news { border: 1px solid #D6D6D6; margin-top: 20px; padding: 10px 12px;position: relative;}
.hw-data-news strong { background: none repeat scroll 0 0 #FFFFFF;font-family: "微软雅黑"; font-size: 16px; font-weight: bold; height: 24px; position: absolute;text-align: center; top: -12px; width: 175px; }
.hw-data-news dl dt {border-bottom: 1px dotted #C4C4C4;line-height: 22px;overflow: hidden;padding: 8px 0;}
.hw-data-news dl dt em {color: #DB000F;float: left;font-size: 14px;font-weight: bold;margin-right: 6px;margin-top: 4px;}
.hw-data-news dl dd { border-bottom: 1px dotted #C4C4C4;display: none; height: 102px;overflow: hidden;padding: 20px 0;}
.hw-data-news dl dd img {border: 1px solid #DDDDDD;display: inline;float: left; height: 100px;margin-right: 10px;width: 100px;}
.hw-data-news dl dd p { color: #666666;line-height: 20px;}

.deta-info .d-tit{ text-align: center; color: #333333; font: bold 14px/40px "\5FAE\8F6F\96C5\9ED1"; margin-top: 15px;}
.deta-info .d-time{ text-align: center; color: #999;}
/*大家都在看*/
.all-look{ padding: 15px 6px; border: 1px #ddd solid;}
.all-look h3{ line-height: 24px; color: #666; padding-left: 20px; font-size: 14px;}
.picwrap{ width: 100%;margin-top: 10px;}
.picwrap span.left-btn,
.picwrap span.right-btn{ cursor:pointer; width: 24px; height: 40px; display: block; margin-top: 56px; background-image: url(../../images/korea/da-arrbtn.png); background-repeat: no-repeat;}
.picwrap .left-btn{ float: left; background-position: left top;}
.picwrap .right-btn{ float: right; background-position: left -40px;}
.picwrap .pic-main{ float: left; width: 630px; height: 260px; overflow: hidden; position: relative;}
.picwrap .pic-main ul{ position: absolute; left: 0; top: 0; width: 100%; height: 260px; overflow: hidden;}
.picwrap .pic-main li{ width: 192px; float: left; margin: 0 9px; height: 260px;}
.picwrap .pic-main .pic img{ width: 190px; height: 190px; border:1px #e2e2e2 solid;}
.picwrap .pic-main .text{ margin-top: 10px; line-height: 20px; color: #666;}
.picwrap .pic-main .text a{ color: #999999;}
.picwrap .pic-main .text a:hover{ color: #eb7e00;}
.picwrap .pic-main .text span{ color: #d20059;}

.data-slide{ min-height: 120px; _height: 120px; width: 693px; border: 1px #e2e2e2 solid; position: relative; margin-top: 20px;}
.data-slide .left-btn,
.data-slide .right-btn{ width: 36px; height: 116px; cursor: pointer; position: absolute; top: 50%; margin-top: -58px; z-index: 1;}
.data-slide .left-btn{ left: 0; background: url(../../images/korea/picarr-l-btn.png) no-repeat; _background: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/korea/picarr-l-btn.png");}
.data-slide .right-btn{ right: 0; background: url(../../images/korea/picarr-r-btn.png) no-repeat; _background: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/korea/picarr-r-btn.png");}
.data-slide .pic-main{ width: 100%; height: 100%; position: relative; z-index: 0;}
.data-slide .pic-main ul{ width: 100%; height: 100%;}
.data-slide .pic-main li{ width: 693px; overflow: hidden; text-align: center; display: none;}
.data-slide .pic-main img{ max-width: 693px; cursor: pointer;}
.data-slide .pic-numb{ width: 74px; height: 32px;background: url(../../images/korea/dati-pic-numb.png) no-repeat;  _background: none;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/korea/dati-pic-numb.png"); position: absolute; z-index: 2; right: 10px; bottom: 10px;}
.data-slide .pic-numb span{ width: 32px; height: 32px; text-align: center; overflow: hidden; font: normal 18px/32px "\5FAE\8F6F\96C5\9ED1"; color: #fff; float: left;}
.data-slide .pic-numb .now-numb{ margin-right: 10px; _display: inline;}
.detail-info-panel .info-img img { display: block; margin-bottom: 6px;}


.col-sub-new { float: right;
    margin-top: 30px;
    width: 196px; }
.col-sub-new h4.title {  color:#333; font-size:14px; border-bottom:1px solid #333; width:auto;}
.col-sub-new h4.title strong {line-height:30px; padding-right:15px; font-weight:bold; border-bottom:1px solid #333; }
.col-sub-new h4.title a { margin-top:6px;line-height:20px;}
.col-sub-new .box { margin:15px 0; padding:0;}
.col-sub-new .box.border { margin-top: 0px; overflow: hidden; border:1px solid #e0e0e0; border-top:none; padding:4px 0;}
.col-sub-new .intro { margin-bottom: 10px;}
.col-sub-new .intro .l { width:100px;}
.col-sub-new .intro .r { width:150px;}
.col-sub-new .intro .r strong { font-weight: bold; font-size:14px;}
.col-sub-new .intro .r p { padding-top: 10px;}
.col-sub-new .box.border li { padding:4px 15px;background-image: none; border-bottom:1px dashed #ececec;}
.col-sub-new .box.border li img { margin-top:4px;}
.col-sub-new .box.border .l { width:50px;}
.col-sub-new .box.border .r { width:170px; }
.col-sub-new .box.border .r strong { font-weight: bold;}
.col-sub-new .box.border .r p { padding-top: 0; padding-left: 0; color:#666;}
.col-sub-new .box.border h4 { padding:0 15px; font-weight: bold;}
.col-sub-new .box.border p { padding:0 15px; color:#666;}

.col-sub-new li { line-height: 20px; margin-bottom:8px; }
.col-sub-new dl { float:left; margin-right: 14px; margin-bottom:12px; }
.col-sub-new dl.last { margin-right: 0;}
.col-sub-new .panel { border:1px solid #e0e0e0; margin-bottom: 20px;}
.col-sub-new .panel h4.title { border-bottom: none; padding:2px 10px; margin-bottom: 0;}
.col-sub-new .panel h4.title strong { border-bottom:none; width:auto;}
.col-sub-new .panel ul { padding:0 10px;}

.col-sub-new .mod-list { border:1px solid #ddd; margin-bottom: 20px;}
.col-sub-new .mod-list h3.mod-hd { border-bottom: 1px solid #ddd; color: #000;  font: 700 16px/40px "\5FAE\8F6F\96C5\9ED1"; height: 40px;padding-left: 16px; }
.col-sub-new .mod-buy-list ul { padding:0 16px;}
.col-sub-new .mod-buy-list li {  border-bottom: 1px dashed #ECECEC; overflow: hidden;padding: 15px 0; *zoom:1;}
.col-sub-new .mod-buy-list li.last { border-bottom:none;}
.col-sub-new .mod-buy-list .pic {  float: left; width: 50px;}
.col-sub-new .mod-buy-list .txt { float:right; width:100px;}
.col-sub-new .mod-buy-list .txt p { color: #999;line-height: 16px;}
.col-sub-new .mod-buy-list .txt em { display: block; padding-top: 6px; color:#db000f; font-size:14px; font-family: \5FAE\8F6F\96C5\9ED1;  }

.nosearch-pro-new { background: none; overflow: hidden; }
.nosearch-pro-new .cols { margin-right: -12px;}
.nosearch-pro-new .list { width:224px; height:310px; overflow: hidden; padding: 10px; margin-right: 12px; margin-bottom: 12px; float:left; border:1px solid #d6d6d6; }
.nosearch-pro-new .list:hover,.nosearch .list.hover { border-color:#ff9c0f;}
.nosearch-pro-new .list p { font-size:14px; height:48px; line-height: 24px; font-weight: bold; overflow: hidden;}
.nosearch-pro-new .list .pic { height:214px; overflow: hidden;}
.nosearch-pro-new .list .btn { height: 46px; background: #ff9c0f; color:#fff; padding:0 6px; overflow: hidden;}
.nosearch-pro-new .list .btn i {font:30px/46px tahoma; text-shadow:2px 1px 1px #e98900; display: block; float:left; }
.nosearch-pro-new .list .btn i b { font-size:18px; font-family: Arial;}
.nosearch-pro-new .list .btn span { display: block; float:right; padding-top:8px; }
.nosearch-pro-new .list .btn span a { display: block; width:74px; height: 28px; text-align: center; background: #fff44c; font:14px/28px \5FAE\8F6F\96C5\9ED1; color:#993300; font-weight: bold;}

.col-main-new{width:764px;}

.page-total a, .page-total span{float:right;}
.page-total span{line-height:34px;color:#999;}
.page-total span em{color:#333;font-weight:bold;}
.page-total a{width:32px;height:32px;line-height:32px;margin-left:20px;border:1px solid #DEDEDE;text-align:center;color:#999;font-weight:bold;font-size:16px;font-family:\5B8B\4F53;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f7f7f7));
    background:-webkit-linear-gradient(top, #fefefe, #f7f7f7);
    background:-moz-linear-gradient(top, #fefefe, #f7f7f7);
    background:-ms-linear-gradient(top, #fefefe, #f7f7f7);
    background:-o-linear-gradient(top, #fefefe, #f7f7f7);
    background:linear-gradient(top, #fefefe, #f7f7f7);
    background-color:#f7f7f7;
}
.page-total a:hover{color:#333;text-decoration:none;}
.page-relative{height:30px;line-height:30px;margin-top:20px;border:1px solid #dedede;}
.page-relative .fl,.page-relative .fr{width:347px;}
.page-relative p{display:inline;width:237px;height:30px;margin:0 15px;overflow:hidden;word-wrap:break-word;word-break:break-all;}
.page-relative p a{color:#656565;}
.page-relative .fl p{float:right;}
.page-relative .fr p{float:left;text-align:right;}
.page-relative .page-prev,.page-relative .page-next{width:79px;text-align:center;color:#D9000F;background:#F8F8F8;}
.page-relative .page-prev{float:left;border-right:1px solid #dedede;}
.page-relative .page-next{float:right;border-left:1px solid #dedede;}
.cate-hot h3{margin-top:20px;height:34px;border-bottom:1px solid #E0E0E0;color:#333;font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1;}
.cate-hot h3 span{position:relative;display:inline-block;height:33px;line-height:33px;margin-bottom:-1px;border-bottom:2px solid #F82244;}
.cate-hot .J_tab{}
.cate-hot .tab{margin:-20px 0 30px 600px;}
.cate-hot .tab li{float:left;display:inline;margin:0 8px;width:10px;height:10px;border:2px solid #ccc;cursor:pointer;font-size:0;line-height:0;overflow:hidden;color:rgba(0, 0, 0, 0);background:#ccc;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}
.cate-hot .tab li.current{border-color:#DA0010;background:#fff;}
.cate-hot .tab-con{width:696px;overflow:hidden;}
.cate-hot .tab-con ul{width:728px;}
.cate-hot .tab-con li{float:left;width:150px;margin-right:32px;text-align: center;line-height:20px;height:auto;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: break-word;}
.cate-hot .tab-con li img{display:block;margin-bottom:5px;}
.cate-tag{margin-top:20px;color:#666;}
.cate-tag a{margin-right:12px;color:#D9000F;}
.block .xl1 ul li{padding-left:0;background:none;}

#huodong-quanwangXb{ display:none!important;}
/*zibu 20140402 video float layer*/
.box-video-layer{ width: 400px; height: 240px; position: fixed; left: 0; bottom: 85px; z-index: 1000;}
.box-video-layer .close{ width: 40px; height: 18px; background: url("../../images/korea/close-h.jpg") no-repeat; position: absolute; right: 0; top: -18px; text-indent: -1000px; overflow: hidden;}
.box-video-layer .video-cent{ width: 100%; height: 240px; position: absolute; z-index: 1; left: 0; top: 0;}
.box-video-layer .link-layer{ width: 100%; height: 160px;position: absolute; left: 0; top: 0; z-index: 2; background: #fff; opacity: 0; filter:alpha(opacity=0);}
.box-video-layer .link-layer a{ width: 100%; height: 160px; display: block;}
.repeat-play{ width: 40px; height: 110px; background: url("../../images/korea/repeat-play.png") no-repeat; position: fixed; left: -40px; bottom: 125px; z-index: 1001;}
.repeat-play a{ width: 100%; height: 100%; display: block;}
