.starset .crumb-star {
  height: 50px;
  line-height: 50px;
  background: none;
  margin-bottom: 0;
  border-bottom: none;
}
.starset .crumb-star span {
  font-family: \5FAE\8F6F\96C5\9ED1;
  display: block;
  float: left;
  height: 50px;
}
.starset .crumb-star span a:hover {
  color: #333333;
  text-decoration: none;
}
.starset .crumb-star span a em {
  border-bottom: 2px solid #db000f;
  color: #333333;
  display: block;
  height: 48px;
  padding: 0 4px;
}
.starset table {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  width: 100%;
}
.starset th {
  padding-left: 20px;
  border: 1px solid #ddd;
  width: 100%;
  background: #f4f4f4;
  height: 40px;
}
.starset th a {
  padding: 0 5px;
  color: #666666;
}
.starset th a:hover {
  color: #eb7e00;
}
.starset th a strong {
  font-weight: bold;
}
.starset td {
  padding: 20px;
}
.starset table .upper {
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  display: block;
  float: left;
  line-height: 30px;
  width: 50%;
  border-bottom: 1px solid #ddd;
}
.starset table .all {
  height: 30px;
  line-height: 30px;
  display: block;
  float: left;
  width: 50%;
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.starset table .all a {
  color: #666666;
  font-family: '\5b8b\4f53';
}
.starset table .all a:hover {
  color: #eb7e00;
}
.starset td {
  line-height: 30px;
}
.starset td .row {
  margin-bottom: 10px;
}
.starset .names span {
  float: left;
  width: 120px;
}
.starset .names {
  line-height: 20px;
  padding-top: 10px;
}
.starset .names a {
  color: #666666;
}
.starset .names a:hover {
  color: #eb7e00;
}
.starset .col-main {
  width: 780px;
}
.starset .col-sub {
  margin-bottom: 20px;
  width: 180px;
}
.starset .col-sub.nob {
  padding-top: 0;
}
.starset .col-sub .panel {
  margin-bottom: 20px;
}
.starset .col-sub .panel h3 {
  border-bottom: 1px solid #dddddd;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  font-size: 16px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
}
.starset .col-sub .box-ad {
  margin-bottom: 20px;
}
.starset .col-sub .panel .box {
  padding: 10px;
  margin: 0;
}
.starset .col-sub .panel .box div {
  margin-bottom: 10px;
}
.starset .col-sub .panel .box div.t-c {
  text-align: center;
}
.starset .col-sub .panel .box div span {
  font-weight: bold;
}
.starset .col-sub .panel .box div p {
  color: #999999;
}
.star-detail {
  border: 1px solid #dddddd;
  border-top: none;
  margin-bottom: 30px;
}
.star-detail .star-head {
  float: left;
  width: 278px;
  border-right: 1px solid #dddddd;
  background: #fafafa;
  padding-bottom: 500px;
  margin-bottom: -500px;
}
.star-detail .star-head .text {
  height: 163px;
  padding: 20px 20px 0;
  color: #333333;
  text-indent: 20px;
  border-top: 1px solid #dddddd;
}
.star-detail .border {
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
}
.star-detail .star-intro {
  float: left;
  width: 499px;
}
.star-detail .star-intro h2 {
  background: #fafafa;
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
  font-size: 24px;
  border-bottom: 1px solid #dddddd;
  color: #333333;
  width: 469px;
}
.star-detail .star-intro ul {
  padding: 25px 30px 0;
}
.star-detail .star-intro li {
  margin-bottom: 10px;
}
.star-detail .star-intro .tit,
.star-detail .star-intro .text {
  float: left;
  line-height: 20px;
}
.star-detail .star-intro .tit {
  color: #999999;
  width: 84px;
}
.star-detail .star-intro .text {
  width: 350px;
}
.star-detail .detail-context {
  padding: 30px;
}
.star-detail .detail-context strong {
  font-weight: bold;
}
.star-detail .detail-context h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px;
}
.star-detail .detail-context ol {
  margin-bottom: 20px;
  margin-right: -64px;
}
.star-detail .detail-context ol li {
  float: left;
  margin-right: 64px;
}
.star-detail .detail-context ol li.last {
  margin-right: 0px;
}
.star-detail .detail-context ol li .pic {
  display: block;
  position: relative;
  height: 130px;
  height: 200px;
}
.star-detail .detail-context ol li .pic span {
  background: url("/static/images/korea/bg-alpha.png");
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  height: 26px;
  left: 0;
  line-height: 26px;
  position: absolute;
  text-indent: 10px;
  width: 100%;
  bottom: 0;
}
.star-detail .detail-context ol li p {
  padding: 5px 0;
}
.star-detail .detail-context ol li .btn {
  background: #db000f;
  color: #fff;
  display: block;
  width: 68px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.star-detail .detail-context ol li .btn:hover {
  text-decoration: none;
}
.star-detail .detail-context ul {
  margin-bottom: 20px;
}
.star-detail .detail-context ul li {
  margin-bottom: 20px;
}
.star-detail .detail-context ul li .l {
  width: 140px;
}
.star-detail .detail-context ul li .r {
  width: 550px;
}
.star-detail .detail-context ul li .r h4 {
  color: #333333;
  margin-bottom: 20px;
}
.star-detail .detail-context ul li .r h4 span {
  float: right;
  color: #999999;
}
.star-detail .detail-context ul li .r p {
  text-indent: 20px;
  line-height: 20px;
}
.star-detail .detail-context h4.more {
  text-align: right;
  font-size: 14px;
  font-family: '\5b8b\4f53';
  margin-bottom: 20px;
}
.star-detail .commentad {
  width: 696px;
  margin: auto;
}
.star-detail .commentad h3 {
  font-size: 14px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0;
}
:focus {
  outline: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
code,
kbd,
samp,
tt {
  font-size: 100%;
}
input,
button,
textarea,
select {
  *font-size: 100%;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
:link,
:visited,
ins {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
body {
  font: 12px/1.5 'tahoma,arial,\5b8b\4f53';
  background: #fff;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
  border: none;
}
a {
  text-decoration: none;
  color: #000000;
}
.zx-wp {
  width: 712px;
  height: 398px;
  margin: 0 auto;
  border-bottom: 1px #fff solid;
  background: #fff;
}
.zx-top {
  height: 33px;
  overflow: hidden;
  background: #f3f3f3;
}
.zx-top .items {
  width: 460px;
  float: left;
  padding-left: 13px;
  line-height: 33px;
}
.zx-top .items dt {
  float: left;
  color: #fb0303;
  font-weight: bold;
}
.zx-top .items dd a {
  margin: 0 5px;
  color: #999999;
}
.search {width: 223px;
  height: 25px;
  float: right;
  overflow: hidden;
  
  margin: 4px 0 0 0;
  display: inline;background-repeat: no-repeat;}
.search .text {
  width: 150px;
  height: 22px;
  border: none;
  margin: 2px 0 0 20px;
  float: left;
  display: inline;
  line-height: 22px;
  background: #fff;
}
.search .btn {
  width: 50px;
  height: 25px;
  float: left;
  display: inline;
}
.zx-main {
  height: 363px;
  border-bottom: 1px #e5e5e5 solid;
}
.aside {
  width: 212px;
  border-right: 1px #ebebeb solid;
  height: 100%;
  background: #f6f6f6;
  float: left;
}
.aside .tab-tit {
  overflow: hidden;
  height: 29px;
  border-top: 2px #eb7601 solid;
  padding: 0 5px;
}
.aside .tab-tit li {
  float: left;
  display: inline;
  width: 50px;
  text-align: center;
  line-height: 29px;
  cursor: default;
}
.aside .tab-tit li.cur {
  background: #eb7601;
  color: #fff;
}
.tab-mian {
  padding: 0 8px;
  display: none;
}
.tab-mian dt {
  height: 14px;
  line-height: 14px;
  padding: 7px 4px;
  overflow: hidden;
}
.tab-mian dt span {
  width: 14px;
  height: 14px;
  text-align: center;
  color: #fff;
  float: left;
  background: #eb7601;
  margin-right: 12px;
  _display: inline;
}
.tab-mian dd {
  width: 196px;
  height: 115px;
  position: relative;
  overflow: hidden;
  padding: 8px 0;
  display: none;
}
.tab-mian .pic-items {
  position: absolute;
  height: 100%;
  width: 300%;
}
.tab-mian .pic-items li {
  float: left;
  position: relative;
}
.tab-mian .pic-items .text {
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #000;
  position: absolute;
  bottom: 0;
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.tab-mian .pic-items .text a {
  color: #fff;
}
.tab-mian .pic-items .pic {
  width: 196px;
  height: 115px;
}
.tab-mian dd span {
  width: 21px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: pointer;
}
.tab-mian dd .left-btn {left: 0;background-repeat: no-repeat;}
.tab-mian dd .right-btn {right: 0;background-repeat: no-repeat;}
.main {
  width: 480px;
  float: left;
  padding-left: 16px;
}
.main-l {
  width: 222px;
  float: left;
  display: inline;
  margin-right: 16px;
  padding-top: 14px;
}
.main-l .items {
  height: 252px;
  overflow: hidden;
}
.main-l .items dt {
  border: 1px #cfcfcf solid;
  height: 140px;
  position: relative;
}
.main-l .items dt .pic img {
  width: 222px;
  height: 140px;
}
.main-l .items dt .text {
  width: 100%;
  height: 28px;
  line-height: 28px;
  background: #000000;
  position: absolute;
  bottom: 0;
  filter: alpha(opacity=60);
  opacity: 0.6;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.main-l .items dt .text a {
  color: #fff;
}
.main-l .items dd {
  width: 103px;
  height: 87px;
  padding: 1px;
  border: 1px #cdcdcd solid;
  float: left;
  margin: 8px 2px 0;
  _display: inline;
}
.main-l .items dd img {
  width: 103px;
  height: 64px;
}
.main-l .items dd .text {
  text-align: center;
  line-height: 22px;
}
.news-ul {
  padding-top: 6px;
}
.news-ul li {
  line-height: 30px;
  height: 30px;
}
.main-r {
  width: 230px;
  float: left;
}
.bord-b {
  border-bottom: 1px #ddd solid;
}
.news-items {
  margin-top: 8px;
  padding-bottom: 3px;
}
.news-items h2 {
  line-height: 30px;
  font-size: 14px;
}
.news-items h2 a {
  color: #eb7601;
}

.opacity {
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#b2000000', EndColorStr='#b2000000');
}
a {
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #333;
}
.red {
  color: #fb0303;
}
/*通用顶部 -Start-Gaotian-20131225*/
.header-search-content #scbar_txt {
  border: 1px solid #c8c8c8;
}
.header-rearch-submit,
.header-nav-box {
  background: #db000f;
}
.header-rearch-submit:hover {
  background: #b00000;
}
.header-nav-back s {
  border-left-color: #db000f;
}
.header-nav-box li {
  border-color: #e2404b;
}
.header-nav-box li a:hover {
  background-color: #c5000d;
}
.header-nav-box .cur a,
.header-nav-box .cur a:hover {
  background: #000;
  color: #ffffff;
}
/*通用顶部 -End-Gaotian-20131225*/
.crumb-star {
  height: 50px;
  line-height: 50px;
  border-bottom: none;
  background: url("http://staticcdn.b5m.com/images/korea/line-2.png") repeat-x bottom;
  margin-bottom: 20px;
}
.crumb-star span {
  font-family: \5FAE\8F6F\96C5\9ED1;
  display: block;
  float: left;
  height: 40px;
  padding: 0 5px;
}
.crumb-star span a:hover {
  color: #333;
  text-decoration: none;
}
.crumb-star span a em {
  border-bottom: 2px solid #db000f;
  color: #333;
  display: block;
  height: 48px;
  padding: 0 4px;
}
.ban-video {
  width: 100%;
  height: 550px;
  position: relative;
}
.ban-video .play-ban {
  width: 100%;
  height: 550px;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}
.ban-video .movie {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 550px;
}
.video-share {
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  background: #f0f0f0;
  border-bottom: 1px #ddd solid;
  margin-bottom: 10px;
}
.video-share h2 {
  float: left;
  line-height: 50px;
  font-size: 18px;
  font-family: "microsoft yahei";
  margin-left: 10px;
  color: #333333;
}
.video-share .share-cont {
  width: 210px;
  float: right;
  height: 28px;
  margin: 14px 10px 0 0;
}
.video-l {
  width: 634px;
  float: left;
}
.video-r {
  width: 310px;
  float: right;
}
.video-cont {
  margin-bottom: 20px;
}
.video-cont .title {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.video-cont .title span {
  float: right;
}
.video-cont .title span a {
  font-family: '\5FAE\8F6F\96C5\9ED1';
  font-size: 14px;
  color: #ff0000;
}
.video-cont .title h2 {
  float: left;
  font-size: 18px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  background: #fff;
  padding-right: 30px;
}
.video-cont .title .line {
  height: 20px;
  border-bottom: 1px #ddd dashed;
  float: left;
  width: 100%;
  margin-bottom: -21px;
}
/*明星热烈祝贺 s*/
.star-zhuhe {
  margin-bottom: 10px;
}
.star-play {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background: url("/static/images/korea/video/paly-layer.png") no-repeat center center;
  cursor: pointer;
}
.star-cont,
.img-cont {
  width: 100%;
  height: 384px;
}
.star-cont {
  position: relative;
}
.star-cont .tip {
  background: url("/static/images/korea/video/dujia-icon.png") no-repeat;
  width: 130px;
  height: 74px;
  position: absolute;
  right: -20px;
  top: -21px;
  z-index: 12;
  border: none;
}
.img-cont {
  position: absolute;
  z-index: 0;
}
.star-cont .star-play a {
  width: 100%;
  height: 100%;
  display: block;
}
.img-cont .tit,
.img-cont .bg {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.img-cont .bg {
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 1;
}
.img-cont .tit {
  line-height: 40px;
  font-size: 18px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  color: #fff;
  z-index: 2;
}
.img-cont .tit a {
  color: #fff;
}
/*明星热烈祝贺 e*/
/*相关视频 s*/
.xg-video-cont,
.bgyl-cont {
  background: #f1f1f1;
  border-top: 1px #cccccc solid;
  padding: 10px 0;
  position: relative;
  width: 100%;
}
.xg-video-cont {
  height: 414px;
}
.xg-video-cont .arr,
.bgyl-cont .arr {
  width: 14px;
  height: 6px;
  background: url("/static/images/korea/video/arr-icon.png") no-repeat;
  position: absolute;
  left: 25px;
  top: -6px;
}
.xg-video-cont .xg-items li {
  width: 172px;
  float: left;
  height: 124px;
  overflow: hidden;
  margin: 10px 5px 0 25px;
}
.xg-video-cont .xg-items .pic {
  width: 172px;
  height: 98px;
  position: relative;
}
.xg-video-cont .xg-items .play-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("/static/images/korea/video/paly-layer-m.png") no-repeat;
  top: 0;
  display: none;
}
.xg-video-cont .xg-items .pic a:hover .play-btn {
  display: block;
}
.xg-video-cont .xg-items .tit {
  line-height: 32px;
}
/*相关视频 e*/
/*相关娱乐资讯 s*/
.ylzx-items {
  margin-bottom: -20px;
}
.ylzx-items li {
  margin-bottom: 20px;
}
.ylzx-items .pic {
  width: 280px;
  height: 160px;
  padding: 12px 15px;
  border: 1px #dfdfdf solid;
}
.ylzx-items .tit {
  padding-top: 10px;
  line-height: 20px;
  height: 80px;
  overflow: hidden;
}
.ylzx-items .tit a {
  color: #666666;
}
/*相关娱乐资讯 e*/
/*八卦娱乐 e*/
.bgyl-cont .pic-items {
  float: left;
  _display: inline;
  margin-left: 50px;
  width: 140px;
}
.bgyl-cont .pic-items li {
  width: 100%;
  height: 80px;
  overflow: hidden;
  margin-top: 10px;
}
.bgyl-cont .pic-items li img {
  width: 140px;
  height: 80px;
}
.bgyl-cont .pic-items .tit {
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin-top: -20px;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.bgyl-cont .pic-items .tit a {
  color: #fff;
}
.bgyl-cont .news-items {
  float: left;
  width: 260px;
  margin-left: 15px;
  padding: 5px 0;
}
.bgyl-cont .news-items li {
  background: url("/static/images/korea/video/li-2.png") no-repeat left center;
  height: 26px;
  line-height: 26px;
  padding-left: 10px;
  overflow: hidden;
}
/*八卦娱乐 e*/
/*详情页开始*/
.video-il {
  width: 700px;
  float: left;
}
.video-ir {
  width: 262px;
  float: right;
}
.xgsp-items {
  margin-bottom: -20px;
}
.xgsp-items li {
  height: 88px;
  overflow: hidden;
  margin-bottom: 20px;
}
.xgsp-items .pic {
  width: 130px ;
  float: left;
  margin-right: 10px;
  _display: inline;
  padding: 5px;
  border: 1px #ddd solid;
}
.xgsp-items .xgsp-r {
  width: 110px;
  float: left;
}
.xgsp-items .tit {
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  display: block;
}
.xgsp-items .read-numb {
  height: 20px;
  line-height: 20px;
  background: url("/static/images/korea/video/v-icon.png") no-repeat left 5px;
  padding-left: 18px;
  color: #999999;
}
.xgsp-items .click-numb {
  height: 20px;
  overflow: hidden;
  line-height: 20px;
}
.xgsp-items .click-numb span {
  padding-left: 22px;
  float: left;
  width: 30px;
  background: url("/static/images/korea/video/v-icon.png") no-repeat;
}
.xgsp-items .click-numb .z {
  background-position: left -28px;
}
.xgsp-items .click-numb .p {
  background-position: left -59px;
}
/* 所有所有评论 */
.allcomment {
  margin: 10px 0;
}
.allcomment .b-top,
.allcomment .b-bottom,
.allcomment .content {
  background: url("../../../images/korea/video/bg-allcomment.png") no-repeat;
}
.allcomment .b-top {
  height: 10px;
}
.allcomment .b-bottom {
  height: 10px;
  background-position: 0px -10px;
}
.allcomment .content {
  background-position: -980px 0px;
  background-repeat: repeat-y;
  padding: 0 20px;
}
.allcomment .count {
  line-height: 32px;
  font-size: 14px;
  background: url("/static/images/korea/video/line-2.png") repeat-x bottom;
}
.allcomment .count span {
  color: #000;
}
.allcomment .count p {
  border-bottom: 2px solid #f82244;
  float: left;
}
.allcomment .list {
  overflow: hidden;
  width: 100%;
}
.allcomment .list li {
  background: url("/static/images/korea/video/line-1.png") repeat-x top;
  padding: 10px 0;
  margin-top: -1px;
}
.allcomment .list li.last {
  background: none;
}
.allcomment .list .head {
  width: 70px;
  float: left;
  overflow: hidden;
}
.allcomment .list .head img {
  border: 1px solid #ececec;
  padding: 4px;
  background: #fff;
}
.allcomment .list .context {
  width: 628px;
  float: left;
}
.allcomment .user {
  margin-bottom: 4px;
  position: relative;
}
.allcomment .user a {
  color: #336699;
}
.allcomment .text {
  line-height: 20px;
  color: #666;
  font-size: 14px;
  margin-bottom: 2px;
}
.allcomment .info {
  color: #666;
}
.allcomment .more {
  text-align: right;
  padding-top: 10px;
}
.allcomment a {
  color: #369;
}
.allcomment a em {
  font-family: '宋体';
}
.col-main .allcomment .list .context {
  width: 626px;
}
.allcomment.more .content {
  background: none;
  padding: 0;
}
.allcomment.more .count {
  margin-bottom: 10px;
}
.allcomment.more .stars {
  margin-bottom: 15px;
}
.allcomment.more .stars span {
  float: left;
  display: block;
  margin-top: 2px;
}
.allcomment.more .star {
  float: left;
  width: 100px;
  margin: 0 15px 0 4px;
}
.allcomment.more .text {
  color: #333;
  font-size: 12px;
  margin-bottom: 15px;
}
.allcomment.more .info strong {
  color: #db000f;
}
.allcomment.more .list li {
  padding: 15px 0;
}
.allcomment.more .pics {
  margin-bottom: 10px;
}
.allcomment.more .pics img {
  border: 1px solid #cfcfcf;
  padding: 1px;
  margin-right: 15px;
}
/* 评论start */
.star {
  background: url("/static/images/korea/video/star.png") no-repeat;
  height: 20px;
  width: 150px;
  overflow: hidden;
}
.star span {
  display: block;
  cursor: pointer;
  width: 18px;
  text-indent: -9999px;
  float: left;
}
.star.disabled span {
  cursor: default;
}
.star em {
  text-align: center;
  width: 40px;
  float: left;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #eb7e00;
}
.list-korea .list .star em.gray {
  color: #666;
  font-size: 14px;
}
.star.s1 {
  background-position: 0px -20px;
}
.star.s2 {
  background-position: 0px -40px;
}
.star.s3 {
  background-position: 0px -60px;
}
.star.s4 {
  background-position: 0px -80px;
}
.star.s5 {
  background-position: 0px -100px;
}
.star.view em {
  margin-left: 100px;
}
/* dialog */
.dialog {
  display: none;
  position: fixed;
  _position: absolute;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #bbb;
  padding: 25px 15px 15px;
  z-index: 1000;
  left: 0;
  top: 0;
  overflow: hidden;
}
.dialog-content {
  display: none;
}
.dialog .dialog-content {
  display: block;
}
.dialog-mask {
  width: 100%;
  z-index: 999;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  background-color: #000;
  display: none;
  filter: alpha(opacity=20);
}
.dialog .dialog-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 14px;
  height: 14px;
  overflow: hidden;
  background: url("../../../images/korea/video/ico-dialog-close.png");
  text-indent: -9999px;
}
/* 详情页 slider */
.dialog-image-slider .prev,
.dialog-image-slider .next {
  position: absolute;
  top: 120px;
  background: url("../../../images/korea/video/slider-arrow.png") no-repeat;
  display: block;
  width: 16px;
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
}
#dialog-map #map-canvas-large {
  width: 870px;
  height: 600px;
}
.dialog-image-slider .prev {
  background-position: 0px -32px;
  left: 0;
}
.dialog-image-slider .prev:hover {
  background-position: -16px -32px;
}
.dialog-image-slider .prev.first,
.dialog-image-slider .prev.first:hover {
  background-position: 0px 0px;
  cursor: default;
}
.dialog-image-slider .next {
  background-position: -32px -32px;
  right: 0;
}
.dialog-image-slider .next:hover {
  background-position: -48px -32px;
}
.dialog-image-slider .next.last,
.dialog-image-slider .next.last:hover {
  background-position: -32px 0px;
  cursor: default;
}
.dialog-image-slider {
  width: 360px;
  margin: 0 auto;
  position: relative;
}
.dialog-image-slider .container {
  width: 300px;
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.dialog-image-slider ul li {
  float: left;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
/* 底部评论 */
.commentad .panel {
  width: 100%;
}
.commentad .row-l {
  width: 90px;
}
.commentad .row-c {
  width: 610px;
}
.allcomment.more .content .list {
  width: 100%;
}
.allcomment.more .list .context {
  width: 630px;
}
/*详情页结束*/

html {
  overflow-y: scroll;
  overflow-x: hidden;
}
.trip-top,
.trip-guide {
  color: #333;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.mt5 {
  margin-top: 5px;
}
strong {
  font-weight: normal;
}
.trip-top a,
.trip-guide a {
  color: #333;
}
.trip-top a:hover,
.trip-guide a:hover {
  color: #EB8927;
}
.opacity {
  position: absolute;
  left: 0;
  bottom: 0;
  zoom: 1;
  padding: 0 18px;
  height: 50px;
  overflow: hidden;
  text-align: center;
  font: 16px/50px '\5FAE\8F6F\96C5\9ED1';
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F000000', EndColorStr='#7F000000');
}
:root .opacity {
  filter: none;
}
.trip-top .relative,
.trip-guide .relative {
  position: relative;
  zoom: 1;
  display: block;
  z-index: 0;
}
/*通用顶部 -Start*/
.header-search-content #scbar_txt {
  border: 1px solid #c8c8c8;
}
.header-rearch-submit,
.header-nav-box {
  background: #db000f;
}
.header-rearch-submit:hover {
  background: #b00000;
}
.header-nav-back s {
  border-left-color: #db000f;
}
.header-nav-box li {
  border-color: #e2404b;
}
.header-nav-box li a:hover {
  background-color: #c5000d;
}
.header-nav-box .cur a,
.header-nav-box .cur a:hover {
  background: #000;
  color: #ffffff;
}
/*通用顶部 -End*/
/* gallerypic */
.gallerypic {
  width: 650px;
}
.gallerypic .con {
  width: 480px;
}
.gallerypic .bar {
  width: 160px;
  height: 365px;
  padding: 15px 0 0 10px;
  background: #000;
}
.gallerypic .con ul {
  width: 480px;
  height: 380px;
}
.gallerypic .bar li {
  height: 110px;
  margin-bottom: 10px;
}
.gallerypic .bar li img {
  width: 136px;
  height: 106px;
  margin: 2px 0 0 9px;
}
.gallerypic .con li p {
  width: 420px;
  padding: 10px;
  color: #fff;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.gallerypic .con li p strong {
  color: #fff40d;
  font-size: 14px;
}
.gallerypic .con {
  float: left;
  overflow: hidden;
}
.gallerypic .con ul {
  position: relative;
}
.gallerypic .con li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.gallerypic .con li p {
  display: none;
  position: absolute;
  background: url(/static/images/korea/bg-alpha.png);
  _background: #000;
  _filter: alpha(opacity=80);
  bottom: 20px;
  left: 20px;
}
.gallerypic .con li.cur {
  display: block;
}
.gallerypic .con li p strong {
  display: block;
}
.gallerypic .bar {
  float: left;
}
.gallerypic .bar li.cur {
  background: url(/static/images/korea/bg-bar.png) no-repeat;
}
.gallerypic .bar li.cur a {
  cursor: default;
}
/* bg-trip */
.icon-trip-arr,
.icon-trip-sl,
.icon-trip-sr,
.trip-menu-item li i,
.convert-fun,
.trip-title-bi strong i {
  background: url(/static/images/korea/bg-trip.png) no-repeat;
}
/* trip-top */
.trip-top {
  padding-bottom: 5px;
  width: 100%;
  position: relative;
  min-height: 380px;
  _height: 380px;
}
.trip-top img {
  width: 1920px;
  height: 380px;
  position: absolute;
  margin-left: -960px;
  left: 50%;
}
/* page */
.page a:hover {
  background-color: #333;
  border-color: #333;
}
.page .cur {
  background: #333;
  border-color: #333;
}
.page .page-input input {
  border-color: #333;
}
.page .page-input a {
  background: #333;
  border-color: #333;
}
/* trip-title */
.trip-title {
  margin-top: 25px;
  height: 30px;
  line-height: 30px;
  border-bottom: 3px solid #db000f;
}
.trip-title strong {
  display: inline-block;
  padding: 0 18px;
  font-size: 18px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  color: #fff;
  background-color: #db000f;
  -webkit-border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
}
.trip-title-black,
.trip-title-bi {
  border-bottom-color: #000;
}
.trip-title-black strong,
.trip-title-bi strong {
  background-color: #000;
}
.trip-title-bi strong {
  position: relative;
  z-index: 0;
  zoom: 1;
}
.trip-title-bi strong i {
  position: absolute;
}
.trip-title-bi .title-cate-1 {
  padding-left: 55px;
}
.trip-title-bi .title-cate-2 {
  padding-left: 51px;
}
.trip-title-bi .title-cate-3 {
  padding-left: 50px;
}
.trip-title-bi .title-cate-1 i {
  width: 50px;
  height: 49px;
  left: 3px;
  bottom: -3px;
  background-position: -67px -19px;
}
.trip-title-bi .title-cate-2 i {
  width: 47px;
  height: 47px;
  left: 2px;
  bottom: -2px;
  background-position: -124px -21px;
}
.trip-title-bi .title-cate-3 i {
  width: 42px;
  height: 44px;
  left: 4px;
  bottom: -1px;
  background-position: -177px -22px;
}
/* trip-guide-list */
.trip-guide {
  padding-bottom: 30px;
  overflow: hidden;
  zoom: 1;
  width: 100%;
}
.trip-guide-list {
  margin-top: -1px;
}
.trip-guide-list dl {
  padding: 25px 0;
  border-top: 1px dashed #dedddd;
}
.trip-guide-list dt {
  float: left;
  width: 376px;
  height: 210px;
  overflow: hidden;
}
.trip-guide-list dt img {
  width: 376px;
  height: 210px;
}
.trip-guide-list dd {
  float: right;
  width: 555px;
  height: 172px;
  padding: 19px 20px 19px 19px;
  background-color: #efefef;
}
.trip-guide-list .pic-b {
  width: 316px;
}
.trip-guide-list .pic-s {
  width: 148px;
  border: 3px solid #d6d5d5;
}
.trip-guide-info {
  position: relative;
  z-index: 0;
  zoom: 1;
  height: 160px;
  padding: 10px 15px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-left: 1px solid #e3e3e3;
  background-color: #fdfdfd;
}
.trip-guide-info h6 {
  width: 424px;
  height: 28px;
  margin-bottom: 10px;
  color: #ff5d4c;
  font: 18px/28px '\5FAE\8F6F\96C5\9ED1';
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.trip-guide-info h6 a {
  color: #ff5d4c;
}
.trip-guide-info h6 a:hover {
  color: #db000f;
}
.trip-guide-info p {
  line-height: 22px;
  word-wrap: break-word;
  word-break: break-all;
}
.trip-guide-info p a {
  color: #0fadd2;
}
.trip-guide-info p a:hover {
  color: #0e659d;
}
.icon-trip-arr,
.icon-trip-sl,
.icon-trip-sr {
  position: absolute;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.trip-guide-info i.icon-trip-arr {
  left: -17px;
  top: 60px;
  width: 17px;
  height: 52px;
  background-position: 0 -20px;
}
.icon-trip-sl,
.icon-trip-sr {
  width: 264px;
  height: 8px;
}
.trip-guide-info i.icon-trip-sl {
  left: -1px;
  bottom: -8px;
  background-position: 0 -10px;
}
.trip-guide-info i.icon-trip-sr {
  left: 290px;
  bottom: -8px;
  background-position: 0 0;
}
/* trip-food */
.trip-food-pic {
  width: 304px;
}
.trip-food-pic .relative .opacity {
  width: 268px;
}
.trip-food-list {
  width: 321px;
  padding: 0 20px;
  overflow: hidden;
  zoom: 1;
}
.trip-food-list-wp {
  margin-top: -2px;
}
.trip-food-list-wp dl {
  padding: 22px 0;
  border-top: 2px solid #ffd8d8;
}
.trip-food-list-wp dt {
  width: 312px;
  border-left: 5px solid #ff3477;
  padding-left: 4px;
  height: 18px;
  color: #dd114f;
  font: 16px/18px '\5FAE\8F6F\96C5\9ED1';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trip-food-list-wp dt a {
  color: #dd114f;
}
.trip-food-list-wp dt a:hover {
  color: #dd114f;
  text-decoration: underline;
}
.trip-food-list-wp dd {
  margin-top: 8px;
  color: #666;
  line-height: 22px;
  height: 66px;
  overflow: hidden;
}
.trip-food-mix {
  width: 315px;
}
.mix-list .relative .opacity {
  width: 279px;
}
.mix-list p {
  height: 35px;
  line-height: 35px;
  overflow: hidden;
}
.trip-food-eat {
  position: relative;
  height: 361px;
  border: 2px solid #cacaca;
  padding: 8px 8px 9px;
  zoom: 1;
  z-index: 0;
}
.trip-food-eat i.icon-trip-sl {
  left: -2px;
  bottom: -10px;
  background-position: 0 -10px;
}
.trip-food-eat .relative .opacity {
  width: 259px;
}
.trip-food-eat dl {
  padding: 16px 10px 22px;
  background-color: #e7e7e7;
}
.trip-food-eat dt {
  float: left;
  width: 118px;
}
.trip-food-eat dd {
  float: right;
  width: 144px;
}
.trip-food-eat dd h6 {
  height: 22px;
  line-height: 22px;
  border-bottom: 2px solid #ff3477;
  overflow: hidden;
}
.trip-food-eat dd h6 a {
  color: #666;
  font-size: 16px;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.trip-food-eat dd h6 a:hover {
  color: #DD114F;
}
.trip-food-eat dd p {
  margin-top: 3px;
  line-height: 22px;
  word-wrap: break-word;
  word-break: break-all;
}
.trip-food-eat dd p a,
.trip-food-list-spe dd p a {
  display: inline-block;
  color: #eb8927;
}
.trip-food-eat dd p a:hover,
.trip-food-list-spe dd p a:hover {
  color: #eb8927;
  text-decoration: underline;
}
.trip-food-list-spe {
  margin-top: -15px;
}
.trip-food-list-spe dl {
  margin-top: 15px;
}
.trip-food-list-spe dt {
  float: left;
  width: 118px;
}
.trip-food-list-spe dd {
  float: right;
  width: 193px;
}
.trip-food-list-spe dd h6 {
  margin: 5px 0;
  border-left: 5px solid #ff3477;
  padding-left: 4px;
  height: 16px;
  line-height: 16px;
  color: #dd114f;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.trip-food-list-spe dd h6 a {
  color: #dd114f;
}
.trip-food-list-spe dd h6 a:hover {
  color: #dd114f;
  text-decoration: underline;
}
.trip-food-list-spe dd p {
  line-height: 22px;
  color: #666;
  word-wrap: break-word;
  word-break: break-all;
}
/* trip-travel */
.trip-travel {
  padding-bottom: 20px;
  background-color: #F4F4F4;
}
.trip-travel li {
  float: left;
  display: inline;
  width: 274px;
  height: 278px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 20px 10px 0;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 3px 1px #CCCCCC;
}
.trip-travel li:hover {
  border-color: #f892ad;
  box-shadow: 0px 0px 3px 1px #f892ad;
}
.trip-travel li p {
  color: #666;
}
.trip-travel .tit {
  width: 274px;
  height: 18px;
  margin: 10px 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ff0042;
}
.trip-travel .tit a {
  font: 14px/18px '\5FAE\8F6F\96C5\9ED1';
  color: #ff0042;
}
.trip-travel .tit a:hover {
  color: #ff0042;
}
.trip-travel .brief {
  word-wrap: break-word;
  word-break: break-all;
}
.trip-travel .brief a {
  display: inline-block;
  color: #eb8927;
}
.trip-travel .brief a:hover {
  color: #eb8927;
  text-decoration: underline;
}
/* trip-menu */
.trip-menu {
  width: 260px;
}
.trip-menu-item li {
  border-bottom: 1px solid #efefef;
  margin-bottom: 1px;
}
.trip-menu-item li a {
  display: block;
  height: 31px;
  overflow: hidden;
  zoom: 1;
  cursor: pointer;
  background-color: #f7f7f7;
  font: bold 14px/31px '\5FAE\8F6F\96C5\9ED1';
  color: #666;
}
.trip-menu-item li a:hover {
  color: #666;
  background-color: #eaeaea;
}
.trip-menu-item li i {
  float: left;
  display: inline;
  width: 29px;
  height: 24px;
  margin: 4px 14px 0 9px;
}
.trip-menu-item li.kt-1 i {
  background-position: 0 -74px;
}
.trip-menu-item li.kt-2 i {
  background-position: -29px -74px;
}
.trip-menu-item li.kt-3 i {
  background-position: -58px -74px;
}
.trip-menu-item li.kt-4 i {
  background-position: -87px -74px;
}
.trip-menu-item li.kt-5 i {
  background-position: -116px -74px;
}
.trip-menu-item li.kt-6 i {
  background-position: -145px -74px;
}
.trip-menu h6 {
  position: relative;
  z-index: 0;
  width: 122px;
  height: 30px;
  margin: 16px 0 17px;
  font: 16px/30px '\5FAE\8F6F\96C5\9ED1';
  color: #fff;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fed142), to(#fca906));
  background: -webkit-linear-gradient(top, #fed142, #fca906);
  background: -moz-linear-gradient(top, #fed142, #fca906);
  background: -ms-linear-gradient(top, #fed142, #fca906);
  background: -o-linear-gradient(top, #fed142, #fca906);
  background: linear-gradient(top, #fed142, #fca906);
  background-color: #fca906;
}
.trip-menu h6 i {
  position: absolute;
  top: 30px;
  left: 17px;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 8px dashed transparent;
  border-top-style: solid;
  border-top-color: #fca906;
}
.trip-convert {
  position: relative;
  z-index: 0;
  zoom: 1;
  height: 148px;
  border: 1px solid #fdba0d;
  padding: 20px 0 0 17px;
  background-color: #f3f3f3;
}
.trip-convert p {
  margin-bottom: 15px;
  height: 20px;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.trip-convert p label {
  width: 84px;
  line-height: 20px;
  height: 20px;
  font-size: 14px;
  color: #666;
}
.trip-convert p span {
  display: block;
  width: 150px;
}
.trip-convert input,
.trip-convert em {
  width: 108px;
  height: 18px;
  line-height: 18px;
  padding: 0 10px;
  border-width: 1px;
  border-style: solid;
}
.convert-txt1 {
  border-color: #d5dadb;
  background-color: #edfbfe;
  color: #333;
}
.convert-txt2 {
  border-color: #d5dadb;
  background-color: #fff;
  color: #666;
}
.convert-txt3 {
  display: block;
  border-color: #d5dadb;
  background-color: #edfbfe;
  color: #db000f;
}
.convert-fun {
  position: absolute;
  top: 76px;
  right: 9px;
  width: 14px;
  height: 15px;
  cursor: pointer;
  background-position: -36px -37px;
}
/* trip-flash */
.trip-flash {
  width: 700px;
  height: 430px;
}
/* trip-korea-hot */
.trip-korea-hot ul {
  width: 1000px;
  margin-right: -20px;
}
.trip-korea-hot li {
  position: relative;
  z-index: 0;
  float: left;
  width: 258px;
  margin: 20px 20px 0 0;
}
.trip-korea-hot li.first {
  width: 258px;
  width: 424px;
}
.trip-korea-hot-pos {
  position: absolute;
  top: -5px;
  right: 10px;
  height: 34px;
  padding: 0 12px;
  font: 16px/34px '\5FAE\8F6F\96C5\9ED1';
  color: #fff;
  background-color: rgba(254, 195, 18, 0.7);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#6CFEC312', EndColorStr='#6CFEC312');
}
:root .trip-korea-hot-pos {
  filter: none;
}
.trip-korea-hot li p {
  line-height: 22px;
  margin-top: 10px;
  word-wrap: break-word;
  word-break: break-all;
  color: #666;
}
/* trip-people-hot */
.trip-people-hot ul {
  width: 999px;
  margin-right: -19px;
}
.trip-people-hot li {
  float: left;
  width: 314px;
  margin: 20px 19px 0 0;
}
.trip-people-hot li a {
  display: block;
  cursor: pointer;
}
.trip-people-hot li a span {
  width: 278px;
}
.trip-people-hot li p {
  height: 66px;
  line-height: 22px;
  margin-top: 12px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  color: #666;
}
/* trip-teach */
.trip-teach {
  overflow: hidden;
  zoom: 1;
}
.trip-teach-list {
  margin-top: -1px;
}
.trip-teach-list dl {
  padding: 10px 0;
  border-top: 1px solid #d4d4d4;
}
.trip-teach-list dt {
  float: left;
  width: 290px;
}
.trip-teach-list dt a {
  display: inline-block;
  border: 3px solid #d5dadb;
  cursor: pointer;
}
.trip-teach-list dd {
  float: right;
  width: 665px;
}
.trip-teach-list dd p {
  line-height: 22px;
  word-wrap: break-word;
  word-break: break-all;
}
.trip-teach-list dd p a {
  display: inline-block;
  color: #0fadd2;
}
.trip-teach-list dd p a:hover {
  color: #0e659d;
}
.trip-teach-title {
  color: #ff5d4c;
}
.trip-teach-title h6 {
  width: 560px;
  height: 28px;
  font: 18px/28px '\5FAE\8F6F\96C5\9ED1';
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.trip-teach-title h6 a {
  color: #ff5d4c;
}
.trip-teach-title h6 a:hover {
  color: #db000f;
}
.trip-teach-title span {
  font-size: 14px;
  line-height: 28px;
}
.trip-star {
  margin: 15px 0;
  line-height: 20px;
  font: 14px/20px '\5FAE\8F6F\96C5\9ED1';
  color: #999;
}
.trip-star label {
  margin-right: 12px;
}
.trip-star .star-outer {
  margin-top: 2px;
}
.star-outer,
.star-inner {
  display: inline-block;
  height: 16px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  background: url(/static/images/korea/trip-star.png) no-repeat;
}
.star-outer {
  width: 100px;
  background-position: 0 0;
}
.star-inner {
  background-position: 0 -16px;
}
.star-outer .star1 {
  width: 20%;
}
.star-outer .star2 {
  width: 40%;
}
.star-outer .star3 {
  width: 60%;
}
.star-outer .star4 {
  width: 80%;
}
.star-outer .star5 {
  width: 100%;
}
/*详情页开始*/
.crumb {
  font-family: "microsoft yahei";
  line-height: 18px;
}
.crumb strong {
  color: #ff0042;
  float: none;
}
.detail-top {
  height: 110px;
  background: #f6f6f6;
  border: 1px #e7e7e7 solid;
  border-radius: 55px 0 55px 0;
  padding: 18px 20px;
  margin-top: 10px;
}
.detail-top .pic {
  width: 98px;
  height: 98px;
  padding: 3px;
  border: 1px #ddd solid;
  border-radius: 50%;
  float: left;
  background: #fff;
  margin-right: 20px;
  _display: inline;
}
.detail-top .pic img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
}
.detail-top .info {
  float: left;
  width: 800px;
  border-bottom: 1px #fff solid;
}
.detail-top .info h1 {
  font-size: 24px;
  font-family: "microsoft yahei";
  line-height: 26px;
  height: 26px;
}
.detail-top .info p {
  margin-top: 20px;
  color: #999999;
  border-bottom: 1px #eaeaea solid;
  padding-bottom: 15px;
}
.detail-top .info p i {
  font-style: normal;
  margin: 0 18px;
}
.detail-top .info p span {
  color: #ff0042;
}
.detail-top .info p b {
  font-weight: normal;
  color: #333333;
}
.detail-top .share-cont {
  width: 210px;
  float: right;
  height: 28px;
  margin: 10px 10px 0 0;
}
.detail-cont {
  margin-left: 16px;
  border-left: 3px #e1e1e1 solid;
  padding-left: 30px;
  padding-top: 30px;
}
.detail-cont .da-tit {
  height: 29px;
  background: url("/static/images/korea/trip/xx-icon.png") repeat-x;
  margin-left: -49px;
  margin-top: 32px;
  line-height: 29px;
  overflow: hidden;
}
.detail-cont .da-tit .arr {
  width: 58px;
  height: 29px;
  float: left;
  background: #ffffff url("/static/images/korea/trip/arr-icon.png") no-repeat;
}
.detail-cont .da-tit p {
  width: 74px;
  height: 29px;
  line-height: 29px;
  background: #fff;
  float: left;
  margin-left: 416px;
  text-align: center;
}
.detail-cont .da-type {
  padding: 20px 30px 10px;
  overflow: hidden;
  zoom: 1;
}
.detail-cont .da-type li {
  float: left;
  background: url("/static/images/korea/trip/d-icon01.png") no-repeat;
  line-height: 24px;
  padding-left: 35px;
  margin-left: 20px;
  color: #999;
  margin-bottom: 10px;
}
.detail-cont .da-type li span {
  margin-right: 15px;
  color: #0099cc;
  white-space: nowrap;
}
.detail-cont .cont {
  padding: 20px 0;
  font-size: 14px;
  line-height: 24px;
}
.detail-cont .cont img {
  margin-top: 10px;
}
.detail-add {
  margin: 10px 0;
  display: block;
  background: url("/static/images/korea/trip/address-icon.png") no-repeat;
  height: 56px;
  overflow: hidden;
  line-height: 56px;
  font-size: 24px;
  font-family: "microsoft yahei";
  padding-left: 70px;
  font-weight: bold;
}
/*详情页结束*/
.search{background-position:0px 0px}.tab-mian dd .left-btn{background-position:-202px -28px}.tab-mian dd .right-btn{background-position:-202px -71px}.search,.tab-mian dd .left-btn,.tab-mian dd .right-btn{background-image: url(/static/css/korea/korea_z.png)}