/*通用顶部 -Start-Gaotian-20131225*/
.header-rearch-submit{background:#db000f}
.header-nav-box{background:#db000f}
.header-nav-box li{border-color:#e2404b}
.header-nav-box li.cur{background-color:#000}
/*通用顶部 -End-Gaotian-20131225*/

/*Layout -Start-Gaotian-20131225*/
s,u{text-decoration:none}
a{color:#666}a:hover{color:#f18100/*#db000f*/}
.ml16{margin-left:16px;}
.mt20{margin-top:20px}
.md20{margin-bottom:20px}
.txt-c{text-align:center}
.layout-searchTit{padding:18px 0 18px 18px;}
.layout-searchTit strong{color:#f70}
.layout-cont{float:left;width:780px;}
.layout-side{float:right;width:180px;padding-bottom:20px;}
.layout-sideAdd{width:180px;overflow:hidden;}
.layout-cont h2{padding:8px 14px 8px 18px;border-bottom:1px solid #ddd;background:#f4f4f4;color:#666;font-size:16px;line-height:18px;}
.layout-cont h2 span{float:right;padding-top:2px;font-size:12px;line-height:12px;}
.layout-cont h2 span em{color:#f18100}
.layout-cont h2 strong{font-family:"Microsoft YaHei";}
.hide{display:none}
/*ico*/
.ico-updown,.ico-sort,.ico-checkbox{display:inline-block;background-image:url(../../images/korea/bg_searchcomposite.png);background-repeat:no-repeat;font-size:0;line-height:0;}
.ico-updown,.ico-sort{width:12px;height:12px;}
.ico-updown{background-position:0 0;}
.ico-updown-u,.cur .ico-updown{background-position:-14px 0}
.ico-sort{background-position:-26px 0}
.ico-sort-d{background-position:-48px 0}
.ico-sort-d:hover{background-position:-37px 0}
.ico-checkbox{width:14px;height:14px;vertical-align:-3px;}
.ico-checkbox{margin-right:4px;background-position:0 -15px}
.ico-checkbox-cur{background-position:-17px -15px}
/*评分*/
.layout-score{display:inline-block;position:relative;z-index:1;width:54px;height:10px;background:url(../../images/korea/bg_searchcomposite.png) 0 -34px;font-size:0;line-height:0}
.layout-score u{position:absolute;top:0;left:0;z-index:1;width:100%;height:10px;background:url(../../images/korea/bg_searchcomposite.png) 0 -45px;}
.layout-score s{position:absolute;top:50%;left:100%;margin-top:-7px;margin-left:6px;font-size:12px;line-height:12px;color:#999;white-space:nowrap}
/*Layout -End-Gaotian-20131225*/

/*搜索项 -End-Gaotian-20131225*/
.box-search{position:relative;z-index:0;margin-bottom:20px;color:#666;line-height:12px;*line-height:13px;zoom:1}
.box-search .ov{overflow:hidden;border:1px solid #ddd;zoom:1}
.search-item{position:relative;z-index:0;height:23px;overflow:hidden;margin:0 20px;padding-bottom:12px;padding-left:72px;border-bottom:1px solid #ddd;zoom:1}
.search-item span{position:absolute;left:2px;line-height:14px;}
.search-item .search-label{top:12px;}
.search-item .search-seemore{top:9px;right:2px;left:auto;cursor:pointer}
.search-item a{display:inline-block;width:126px;padding-top:12px;}
.box-search .search-item-last{border:none}
.search-seeall{width:100px;margin:-1px auto 0;padding:10px 0;border:1px solid #ddd;border-top-color:#fff;background:#fff;text-align:center;cursor:pointer}
.box-search .ico-updown{margin-left:7px}
/*搜索项 -End-Gaotian-20131225*/

/*筛选 -Start-Gaotian-20131225*/
.box-searchSort{}
.search-sort{padding-right:1px;}
.search-sort a{display:inline;float:left;margin-right:-1px;padding:4px 8px;*padding:4px 8px;_padding:3px 8px 5px;border:1px solid #ddd;font-size:12px;}
.search-sort .ico-sort{
    _margin:2px 0 1px;
    -webkit-transition: background 0.3s ease-in;-moz-transition: background 0.3s ease-in;-ms-transition: background 0.3s ease-in;-o-transition: background 0.3s ease-in;transition: background 0.3s ease-in;
}
.search-sort .cur{background-color:#898989;color:#fff}
.search-sort a:hover .ico-sort{background-position:-37px 0}
/*价格筛选*/
.search-sort-price{float:left;padding:4px 0 0 16px;color:#666}
.search-sort-price input{width:34px;padding:2px;border:1px solid #ddd;line-height:14px;}
.search-sort-price span{margin:0 2px;vertical-align:1px;*vertical-align:3px;}
.search-sort-price strong{display:inline-block;width:42px;margin-left:6px;padding:2px 0 3px;*padding:3px 0 1px;_padding:1px 0 3px;border:1px solid #ddd;color:#666; font-weight:normal;line-height:13px;text-align:center;vertical-align:1px;_vertical-align:-1px;cursor:pointer;}
.search-sort-price strong:hover{color:#db000f}
/*质量筛选*/
.search-sort-quality{display:inline;float:left;border:1px solid #ddd;margin-top:1px;_margin-top:4px;margin-left:18px;padding:3px 10px 3px 0;}
.search-sort-quality a{margin-left:10px;}
.search-sort-quality a:hover .ico-checkbox{background-position:-17px -15px}
/*筛选 -End-Gaotian-20131225*/

/*商品单元 -Start-Gaotian-20131225*/
.search-listItem{position:relative;z-index:0;width:162px;_margin-top:2px;padding:178px 8px 10px;border:1px solid #ddd;line-height:12px;}
.search-listItem .pic{position:absolute;top:0;left:0;z-index:1;}
.search-listItem .pic img{width:178px;height:178px;}
.search-listItem dt{width:162px;height:36px;overflow:hidden;margin:4px 0 10px;line-height:18px;}
.search-listItem .price{padding-bottom:10px;color:#999;}
.search-listItem .price s{font-size:14px;line-height:14px;font-family:Arial;}
.search-listItem .price span{font-size:18px;white-space:pre}
.search-listItem .score,.search-listItem .score a{color:#999}
.search-listItem .score a{float:right}
.search-listItem:hover .price,.search-listItem .score a:hover,.search-listItem a:hover,.link-seeMore a:hover,.box-news .descript a{color:#f18100}
.box-list .search-listItem{display:inline;float:left;margin-top:18px;margin-right:20px;}
.box-list{margin-right:-22px;}
.link-seeMore{padding:18px 4px 36px;text-align:right}
.link-seeMore a{color:#333}
/*商品单元 -End-Gaotian-20131225*/

/*资讯列表 -Start-Gaotian-20131225*/
.box-news{}
.box-news h2{border:1px solid #ddd;}
.box-news .pic img{width:100px;height:100px;border:1px solid #e7e7e7;}
.box-news .pic a:hover img,.side-list .pic:hover img{border-color:#f18100}
.box-news dl{overflow:hidden;margin-top:20px;zoom:1}
.box-news dt,.box-news dd{float:right;width:660px;}
.box-news dt{padding:2px 0 10px;border-bottom:1px dotted #d4d4d4}
.box-news dt a{font-weight:bold;font-size:18px;line-height:20px;font-family:"Microsoft YaHei";}
.box-news dt s{float:right;color:#999}
.box-news .pic{float:left;width:auto;height:auto;margin:0;padding:0}
.box-news .descript{padding-top:4px;color:#666;line-height:22px;}
/*商品单元 -End-Gaotian-20131225*/

/*侧边栏列表 -Start-Gaotian-20131226*/
.side-list{border:1px solid #ddd;}
.side-list h3{padding:10px 0;border-bottom:1px solid #ddd;color:#333;font-size:18px;line-height:18px;font-family:"Microsoft YaHei";text-align:center;}
.side-list ul{overflow:hidden;padding:0 12px;zoom:1}
.side-list li{overflow:hidden;margin-bottom:-1px;*margin-bottom:-3px;padding:14px 0;*padding-top:15px;border-bottom:1px dashed #ddd;zoom:1}
.side-list .pic{float:left;}
.side-list .pic img{width:50px;height:50px;border:1px solid #ddd;}
.side-list .tit,.side-list p{float:right;width:88px;}
.side-list .tit{height:54px;overflow:hidden;line-height:18px;}
.side-list p{padding-top:4px;color:#db0061;line-height:12px;font-family:Arial;}
/*侧边栏列表 -End-Gaotian-20131226*/

/*搜索无结果 -Start-Gaotian-20131226*/
.search-noresult-zx,.search-noresult-pro{height:140px;margin-top:16px;background-position:center 0;background-repeat:no-repeat}
.search-noresult-zx{background-image:url(../../images/korea/bg_searchcomposite_zx.png)}
.search-noresult-pro{background-image:url(../../images/korea/bg_searchcomposite_pro.png)}
/*搜索无结果 -End-Gaotian-20131226*/
/*侧边导航 -End-Gaotian-20131226*/
.side-pageNav{position:fixed;_position:absolute;top:230px;left:auto;right:50%;z-index:999;width:120px;margin-right:530px;color:#fff;font-size:16px;line-height:18px;font-family:"Microsoft YaHei";}
.side-pageNav li{position:relative;margin-bottom:1px;background-color:#ff5c67;cursor:pointer;zoom:1}
.side-pageNav s{display:inline-block;width:40px;margin-right:14px;padding:10px 0;background:#e6535d;text-align:center;*vertical-align:-8px;}
.side-pageNav .cur s,.side-pageNav li:hover s{background:#db000f;}
.side-pageNav u{display:none;position:absolute;top:0;left:100%;width:0;height:0;border:19px dashed transparent;border-left:19px solid #ff5c67;font-size:0;line-height:0;}
.side-pageNav .cur u/*,.side-pageNav li:hover u*/{display:block;}
/*侧边导航 -End-Gaotian-20131226*/
/*无结果资讯、商品 -Start-Gaotian-20140114*/
.box-list h3,.box-news h3{padding-top:20px;font-weight:bold;font-size:18px;font-family:"Microsoft YaHei",SimHei;}
/*无结果资讯、商品 -End-Gaotian-20140114*/
.left-toolbar{display:none!important;}
