.wraper.yiliao { margin-top: 20px;}

.bg-yl { background: url("../../images/korea/yiliao/bg-yiliao.png") no-repeat;}

.yiliao a.pic { position: relative; overflow: hidden; display: block;}
.yiliao a.pic span { display: block; bottom:0; left:0; width:100%; cursor:pointer; position: absolute; height:22px; line-height: 22px;  text-align:center; color:#fff; background: url("../../images/korea/bg-alpha.png"); _background:#3e3e3e; _filter:alpha(opacity=80); }
.yiliao a.pic span strong { font-weight: bold;}
.yiliao a.pic:hover { text-decoration: none;}

.yiliao .more { font-family: Arial; }
.yiliao .more em { font-family: \5b8b\4f53;}

.yl-top { margin-bottom: 20px;}
.yl-banner { float:left; width:650px; height:380px; }
.yl-rank { float:right; width:310px; }
.yl-rank h3 { height: 20px; text-indent: -9999px;   }
.yl-rank .panel { padding:10px 20px 0;  height: 348px; border: 1px solid #000; border-top:none;}
.yl-rank h4 { height:20px; line-height: 20px; margin-bottom:10px; background: #f5f5f5;}
.yl-rank h4 strong { font-family: Arial; display: inline-block; height: 20px; width: 20px; margin-right: 10px;  background:#a3a3a3; text-align: center; color: #fff; font-weight: bold; font-size:14px; }
.yl-rank h4 strong.n1 { background:#db000f; }
.yl-rank h4 strong.n2 { background: #ff5400;}
.yl-rank h4 strong.n3 { background: #ff8a00;}
.yl-rank .box { height: 54px; margin-bottom: 12px; padding:0;}
.yl-rank .box img { float:left;}
.yl-rank .box div { float:right; width:170px;}

.yl-recommend h3 { float:left; text-indent: -9999px; height: 30px; width:245px; background-position: 40px -20px; border-bottom: 4px solid #db000f; }
.yl-recommend div { float:left; height:30px; line-height: 30px; text-align: right; width:735px; border-bottom: 4px solid #000; _width:732px; }
.yl-recommend strong { font-weight: bold;}

.yl-container { border: 1px solid #d6d6d6; border-top:none; padding: 19px; margin-bottom: 20px; }
.yl-container h4 { text-align: center; font-size:14px; font-family: \5FAE\8F6F\96C5\9ED1; color:#000; margin-bottom: 10px; font-weight: bold;}
.yl-container .yl-left { width:370px; float:left; }
.yl-container .yl-content p.intro { line-height: 24px; margin-bottom:15px;}
.yl-container .yl-content p.intro a { color: #84b6cf;}
.yl-container .yl-left ul { margin-bottom: 20px;}
.yl-container .yl-left ul li { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; background: url("../../images/korea/li-2.png") no-repeat 0px 10px; padding-left: 10px; float:left; width:150px; line-height: 24px;}

.yl-container .yl-main { float:left; width:630px;}

.yl-container .yl-left { height:590px; overflow: hidden;}
.yl-container .yl-left a.pic { float:left; display: block; width:110px; height: 110px;  }
.yl-container .yl-left .pic-box { margin-bottom: 15px;}
.yl-container .yl-left dl { float:right; width:240px;}
.yl-container .yl-left dt { font-weight:bold; font-size:14px; font-family: \5FAE\8F6F\96C5\9ED1;  margin-bottom: 10px;}
.yl-container .yl-left dd { padding-left: 10px;  background: url("../../images/korea/li-2.png") no-repeat 0px 10px; line-height: 24px; height: 24px;}

.yl-container .yl-right { width:240px; float:left; padding-left: 20px; background: url("../../images/korea/line-1.png") repeat-y left;}
.yl-container .yl-right h4 { text-align: left;}
.yl-container .yl-right h4.border { border-top:1px solid #000; padding-top: 10px; }
.yl-container .yl-right .yl-item { background: #f5f5f5; height: 24px; line-height: 24px; margin-bottom: 15px; }
.yl-container .yl-right .yl-item strong {  display: inline-block; height: 24px; margin-right: 10px; width:60px;  background:#999; text-align: center; color: #fff;   }

.yl-container .yl-tip { margin-bottom: 10px;}
.yl-container .yl-tip img { float:left; }
.yl-container .yl-tip div { float:right; width:150px;}
.yl-container .yl-tip div strong { font-weight:bold;}
.yl-container .yl-tip .yl-border { background-position: 0px -50px; width:140px; padding:9px 5px 0; height: 60px;}
.yl-container .yl-tip .yl-border a,.yl-container .yl-tip p a { color:#84b6cf; }

.yl-container .yl-right li {  background: url("../../images/korea/li-2.png") no-repeat 0px 10px; padding-left: 10px;  line-height: 24px;}

.yl-container .yl-bottom { clear:both; background: #f5f5f5; padding: 15px; height: 270px; overflow: hidden;}
.yl-container .yl-bottom h4 { float:left; text-indent: -9999px; background-position: 0px -120px; width:115px; height: 20px;}
.yl-container .yl-bottom .sel { float:left;height:216px; margin-left: 5px; background-position: 0px -150px; overflow: hidden;}
.yl-container .yl-bottom .sel span { margin-bottom: 28px; display: block;  width:33px;  height:33px; text-indent: -9999px; cursor:pointer;}
.yl-container .yl-bottom .sel span.last { margin-bottom: 0;}
.yl-container .yl-bottom .sel.check2 { background-position: -40px -150px; }
.yl-container .yl-bottom .sel.check3 { background-position: -80px -150px; }
.yl-container .yl-bottom .sel.check4 { background-position: -120px -150px; }
.yl-container .yl-bottom .panel { float:right; width:530px;}
.yl-container .yl-bottom .panel .item { display: none;}
.yl-container .yl-bottom .panel .item.cur { display: block;}
.yl-container .yl-bottom .box {width:235px; height: 200px; padding: 20px 10px 0; border:1px solid #eee; border-top:none; box-shadow:2px 2px 2px #eee; background:#fff;}
.yl-container .yl-bottom .box a { color:#84b6cf; display:inline;}
.yl-container .yl-bottom .box p { margin-bottom: 5px;}
.yl-container .yl-bottom .box p a { color:#333; font-size:14px; font-weight: bold;}

.yl-container .yl-sub { width:290px; float:right; position: relative; }
.yl-container .yl-sub .more { position: absolute; right:0px; top:2px; display:none; }
.yl-container .yl-sub .more.cur { display: inline;}
.yl-container .yl-sub .tab-title { position: relative; background: url("../../images/korea/yiliao/bg-tab.png") repeat-x bottom; }
.yl-container .yl-sub .tab-title a { float:left; width:72px; _width:70px; text-align: center; height: 35px; font-family:\5FAE\8F6F\96C5\9ED1; font-size:14px; background: url("../../images/korea/yiliao/bg-tab.png") repeat-x bottom;  font-weight: bold;}
.yl-container .yl-sub .tab-title a.cur { color:#db000f; background: url("../../images/korea/yiliao/bg-tab-cur.png") no-repeat bottom center; }
.yl-container .yl-sub .tab-title a:hover { color:#db000f; text-decoration: none;}

.yl-container .yl-sub .tab-content-box { height:855px; background: #f5f5f5;}
.yl-container .yl-sub .tab-content { padding: 15px 10px;  display: none;  }
.yl-container .yl-sub .tab-content.cur { display: block;}
.yl-container .yl-sub .tab-content .box { margin-bottom: 10px; padding-bottom: 10px; background: url("../../images/korea/line-1.png") repeat-x bottom; height: 260px; overflow: hidden; padding-top:0;}
.yl-container .yl-sub .tab-content .box p { width:100%; }
.yl-container .yl-sub .tab-content .box.last { margin-bottom: 0; padding-bottom: 0; background: none;}
.yl-container .yl-sub .tab-content a{ color:#84b6cf; background: #f5f5f5; font-size:12px; font-weight:normal; display:inline;}
.yl-container .yl-sub .tab-content .p-title { padding:4px 0; }
.yl-container .yl-sub .tab-content .p-title a { color:#ff0042; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1; }

.tab-area { display: none;}
.tab-area.cur { display: block;}

.yl-slider-box { position: relative; padding-top: 10px; margin-bottom: 20px;}
.yl-slider-box .more { position: absolute; right:20px; top:0px; background:#fff; padding: 0 5px; }
.yl-slider-box a.pic { display: block; width:170px; height: 170px; margin-bottom: 5px;}
.yl-slider-box a.pic span { text-align: left; text-indent: 10px;}
.yl-slider-panel { background:#f5f5f5; border-top:1px solid #000;}

.yl-slider-container { float:left; width:790px; overflow: hidden; padding-top: 20px;}

.yl-slider .prev,.yl-slider .next { position: absolute; top:70px;  background: url("../../images/korea/slider-arrow.png") no-repeat; display: block; width:16px; height: 32px; overflow: hidden; text-indent: -9999px;}

.yl-slider .prev { background-position: 0px -32px; left:0; }
.yl-slider .prev:hover { background-position: -16px -32px;}
.yl-slider .prev.first,.main-slider .prev.first:hover { background-position: 0px 0px; cursor: default;}

.yl-slider .next { background-position:-32px -32px;  right:0;}
.yl-slider .next:hover { background-position: -48px -32px;}
.yl-slider .next.last,.main-slider .next.last:hover {  background-position: -32px 0px; cursor:default;}

.yl-slider { width:770px; margin:0 auto; position: relative;}
.yl-slider .container { width:725px; padding: 0; margin:auto; overflow: hidden; position: relative;}

.yl-slider .item { float:left; margin-right:15px; width:170px; }
.yl-slider .item.last { margin-right: 0;}

.yl-slider ul li { float:left; width:770px;   overflow: hidden;}

.yl-slider  dt { font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1; display: block;  font-weight: bold; }
.yl-slider  dd a  { color:#84b6cf;}

.y-doctor-intro { border:1px solid #d6d6d6; padding: 15px;}
.y-doctor-intro .h4 { background: url("../../images/korea/yiliao/bg-yl-1.png") repeat-x bottom; padding-bottom: 10px; margin-bottom: 20px; }
.y-doctor-intro .h4 h4 { float:left; width:66px; height: 17px; background-position:0px -383px; text-indent: -9999px;}
.y-doctor-intro .h4 span { float:right; font-family: Arial; }

.y-doctor-intro img { float:left;}
.y-doctor-intro .intros { float:right; width:125px; padding-top:15px;}
.y-doctor-intro ul { width:700px;}
.y-doctor-intro li { width:220px; margin-right: 20px; float:left; margin-bottom: 10px;}
.y-doctor-intro li.last { margin-right: 0;}
.y-doctor-intro li .name { font-family:\5FAE\8F6F\96C5\9ED1; font-size:14px; color:#999;}
.y-doctor-intro li div { padding: 6px 0 10px;}
.y-doctor-intro li div span { float: left;}
.y-doctor-intro li div span strong { color:#e04249; font-family: Arial; font-weight: bold;}
.y-doctor-intro li div span b { color:#333; font-family: Arial; font-weight: normal;}
.y-doctor-intro li div em { float:right;}
.y-doctor-intro li div em a { text-decoration: none;}

