
<div class="dialog" ng-show="dialogShowResult">

    <h2>
        <i>第{{questions.title.num}}题</i> : <strong>{{questions.title.name}}</strong>
    </h2>

    <div class="result-panel">
        <div class="dialog-content">
            <p class="mt30 mb24">
                <strong class="tips  tips-right">
                    膜拜！您答对了！奖励10个帮豆！
                </strong>
            </p>
            <a class="btns inc-btn5" href="javascript:void(0)" ng-click="resultClick($event)">继续下一题</a>
        </div>
    </div>

    <div class="result-panel">
        <div class="dialog-content">
            <p class="mb12" style="padding-top:4px">
                <strong class="tips tips-great">
                   <!-- <strong class="niubility"></strong>-->
                    牛逼！连续答对了5题！
                    <br/>
                    您可以在页面下方抽奖一次哦！
                </strong>
            </p>
            <a class="btns inc-btn6" href="javascript:void(0);" ng-click="resultClick($event)">挑战下一题</a>
            <a class="btns inc-btn7" target="_blank" href="http://www.b5m.com/lottery.php?mod=day">去抽奖</a>
        </div>
    </div>


    <div class="result-panel">
        <div class="dialog-content">
            <p class="mt24 mb24">
                <strong class="tips tips-clock">
                    不好意思，答错啦，扣掉2个帮豆
                </strong>
            </p>
            <a class="a-links" href="javascript:void(0);" ng-click="resultClick($event)">不服气，挑战下一题></a>
        </div>
    </div>


    <div class="result-panel">
        <div class="dialog- content">
            <p class="mt24 mb24">
                <strong class="tips tips-clock">
                    不好意思，超时啦，扣掉2个帮豆
                </strong>
            </p>
            <a class="a-links" href="javascript:void(0);" ng-click="resultClick($event)">不服气，挑战下一题></a>
        </div>
    </div>

    <div class="result-panel">
        <div class="dialog-content">
            <p class="mt24 mb24">
                <strong class="tips tips-smile">
                    哇！您今天已经答完了100题啦！<br>请明天再来！
                </strong>
            </p>
        </div>
    </div>
    

    <div class="result-panel">
        <div class="dialog-content">
            <p class="mt24 mb24">
                <strong class="tips tips-cry">帮豆不够啦！最少要2个帮豆<br>才能参与游戏哦！</strong>
            </p>
            <a class="a-links" href="javascript:void(0);" ng-click="resultClick($event)">不服气，挑战下一题></a>
        </div>
    </div>


    <div class="result-panel">
        <div class="dialog-content">
            <p class="mt24 mb24">
                <strong class="tips tips-cry">{{errMesssage}}</strong>
            </p>
            <a class="a-links" href="javascript:void(0);" ng-click="resultClick($event)">下一题></a>
        </div>
    </div>


    <a href="javascript:void(0);" class="dialog-close" ng-click=closeDialog($event)></a>

</div>