/*
    date:2014-01-14,
    Author:zibu,
*/
a{ color: #333;}
a:hover{ color: #000;}
.pz{ position: relative;}
.icon{ background-image: url("http://staticcdn.b5m.com/images/360weather/icon.png?t=201402131026"); _background-image: url("http://staticcdn.b5m.com/images/360weather/icon8.png?t=201402131026"); background-repeat: no-repeat;}
.wea-header{ height: 85px; padding: 20px 0; background-repeat: repeat-x; background-position: left -171px;}
.wea-header .logo{ width: 245px; height: 85px;}
.wea-header .cent-items{ width: 270px; padding-top: 56px;}
.wea-header .cent-items li{ width: 110px; float: left; _display: inline; font:normal 18px "microsoft yahei"; margin-left: 20px;}
.wea-header .cent-items .lx a{ padding-left: 32px; background-position: left -123px;}
.floor{ width: 100%; height: 550px; position: relative;}
.banner-wp{ width: 100%; background: url("http://staticcdn.b5m.com/images/360weather/banner.jpg") no-repeat center top; height: 620px;}
.ban-r{ width: 348px; position: absolute; top: 155px; right: 0;}
.ban-r .weather-date{ height: 238px; background: url("http://staticcdn.b5m.com/images/360weather/weather-bg.png") no-repeat; width: 100%; position: relative;}
.wea-icon{ width: 115px; height: 90px; position: absolute; top:30px;right: 30px;}
.weather-date p{ color: #fff;}
.weather-date .temp{ font:normal 60px "microsoft yahei"; color: #fff;  height: 75px; padding: 10px 0 0 20px; overflow: hidden;}
.weather-date .weath{ padding: 5px 0 5px 30px; font: bold 18px "microsoft yahei"; }
.weather-date .pm25{ color: #fff; padding-left:30px; }
.weather-date .wind{ padding: 5px 0 5px 30px; font: normal 14px/22px "microsoft yahei";}
.weather-date .kq{ float: left;font: normal 14px/22px "microsoft yahei";  display: inline;}
.weather-date .wr{ padding: 4px; background: #666; float: left; display: inline; margin-left: 10px; height: 14px; overflow: hidden; line-height: 12px;border-radius:3px;}
.weather-date .wr s{ width: 12px; height: 12px; float: left; margin:1px 5px 0 0;}
.weather-date .date{  padding: 10px 0 5px 30px; font: normal 14px/22px "microsoft yahei";}
.weather-date .date span{ display: block;}
.weather-date .city{ height: 50px; padding-left: 30px; float: right; margin: -60px 20px 0 0; _display: inline; background-position: -330px -320px; text-align: center;}
.weather-date .city b{ display: block;font: normal 25px/30px "microsoft yahei";}
.weather-date .city span{font: normal 12px/20px "microsoft yahei"; display: block;}

.ban-r .xz-btn{ margin-top: 10px;}
.ban-r .xz-btn a{ height: 93px; display: block; background-position: left top;}
.ban-r .bb{ width: 210px;height: 50px; background-position: left -308px; margin: 10px auto;}
.wea-nav{ width: 100%; background: url("http://staticcdn.b5m.com/images/360weather/nav-bg.png") no-repeat center top; height: 142px;}
.wea-nav a{ width: 25%; float: left; height: 142px;}
.wea-nav.fix{ position: fixed; top: 0; z-index: 100;}

.floor .content{ width: 980px; height: 550px; position: relative; margin: 0 auto;}
.floor article h3,.floor article p,.floor figure div { opacity:0; transition:all .7s ease;  -webkit-transition:all .7s ease;  -moz-transition:all .7s ease; position: absolute; }
.mian-bg1 .content{background: url("http://staticcdn.b5m.com/images/360weather/main-bg1.jpg") no-repeat center top;}
.mian-bg1 figure div{ width: 614px; height: 407px; background: url("http://staticcdn.b5m.com/images/360weather/fl-2-pic-1.png") no-repeat;}

.content{ width: 100%; height: 550px;}
.mian-bg1{ }
.mian-bg2{ background:#f56576 url("http://staticcdn.b5m.com/images/360weather/main-bg2.jpg") no-repeat center bottom;}
.mian-bg2 .content{ background:url("http://staticcdn.b5m.com/images/360weather/main-bg2a.jpg") no-repeat center top;}
.mian-bg3{ background: url("http://staticcdn.b5m.com/images/360weather/main-bg3.jpg") no-repeat center top;}
.mian-bg4{ background:#fc9361 url("http://staticcdn.b5m.com/images/360weather/main-bg4.jpg") no-repeat center bottom;}
.mian-bg4 .content{ background:url("http://staticcdn.b5m.com/images/360weather/main-bg4a.jpg") no-repeat center top;}
.wea-footer{ width: 100%; height: 100px; padding-top: 40px; background: #eaeaea; text-align: center;}
.wea-footer p{ line-height: 28px; font-size: 14px; color: #999;}
.go-top{ width: 124px; height: 62px; position: absolute; bottom: 0; left: 50%; margin-left: -62px;}
.go-top a{ display: block; height: 62px; background-position:-227px -95px;}

.bottom-banner{ display: none!important;}
