/*通用顶部 -Start-Gaotian-20131225*/
.header-rearch-submit,
.header-nav-box {
  background: #8db500;
}
.header-rearch-submit:hover {
  background-color: #5d8e00;
}
.header-nav-back s {
  border-left-color: #8db500;
}
.header-nav-box li {
  border-color: #a8c640;
}
.header-nav-box li a:hover {
  background-color: #799b01;
}
/*通用顶部 -End-Gaotian-20131225*/
/*--brand--*/
.mt10 {
  margin-top: 10px;
}
.zdm-icon {
  text-indent: -1000px;
}
.wp1 {
  width: 980px;
  _width: 1000px;
  margin: 0 auto;
}
.wp {
  width: 980px;
  _width: 1000px;
  margin: 10px auto auto auto;
  overflow: hidden;
}
.wp2 {
  width: 980px;
  _width: 1000px;
  margin: 10px auto;
  overflow: hidden;
}
.wc-top-hotbar {
  width: 980px;
  margin: 0 auto;
  display: none;
  height: 42px;
  line-height: 42px;
  background: #fff;
}
.wc-top-hotbar dt {
  height: 42px;
  line-height: 42px;
  width: 126px;
  float: left;
  display: inline;
  color: #666;
  font-weight: bold;
  font-size: 14px;
  text-indent: 23px;
  background: url('/static/images/tao/__sprite/wc_heart.png?__sprite') no-repeat 4px center;
}
.wc-top-hotbar dd {
  height: 23px;
  line-height: 20px;
  float: left;
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 9px;
  margin-bottom: 9px;
  border-right: 1px solid #e7e7e7;
  position: relative;
}
.wc-top-hotbar dd a {
  font-size: 14px;
  color: #666666;
}
.wc-top-hotbar dd .colors {
  position: absolute;
  width: 27px;
  height: 3px;
  background: #8db500;
  top: 30px;
  left: 25%;
  display: none;
}
.wc-top-hotbar dd.cur a {
  color: #8db500;
}
.wc-top-hotbar dd.cur .colors {
  display: block;
}
.wc-top-hotbar dd.chart {
  padding-left: 28px;
  padding-right: 22px;
  font-weight: bold;
  background: url('/static/images/tao/__sprite/wc_chart.png?__sprite') no-repeat 4px center;
}
.wc-top-hotbar dd.coming {
  padding-left: 28px;
  padding-right: 22px;
  border-right: 0px solid #e7e7e7;
  font-weight: bold;
  background: url('/static/images/tao/__sprite/wc_ling.png?__sprite') no-repeat 4px center;
}
#TopHotBar {
  z-index: 12;
}
.wc-top-wp {
  height: 320px;
  width: 100%;
  overflow: hidden;
}
.wc-top-wp .top-show {
  height: 320px;
  width: 2000em;
  left: 50%;
  top: 0;
  position: relative;
}
.wc-top-wp .top-show .top-showin {
  height: 320px;
  width: 100%;
  left: -50%;
  top: 0;
  position: absolute;
  text-align: center;
  overflow: hidden;
}
.wc-top-wp .top-show .top-showin img {
  margin: 0 auto;
  clear: both;
}
/**/
.lasth4 {
  margin: 5px auto;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  font-style: italic;
  color: #333;
}
.last {
  width: 1002px;
  margin: -22px auto auto -22px;
  clear: both;
  overflow: hidden;
}
.last .products {
  float: left;
  display: inline;
  border: 1px solid #efefef;
  width: 310px;
  height: 232px;
  margin-left: 22px;
  margin-top: 22px;
  position: relative;
}
.last .products .top {
  width: 310px;
  height: 180px;
}
.last .products .top img {
  width: 310px;
  height: 180px;
}
.last .products .bm {
  height: 52px;
  width: 310px;
}
.last .products .bm .salebg2 {
  color: #fe0003;
}
.last .products .bm .name {
  float: left;
  display: inline;
  padding-left: 6px;
  max-width: 250px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
}
.last .products .bm .name a {
  color: #000;
}
.last .products .bm .dic {
  float: right;
  display: inline;
  padding-right: 6px;
  margin-top: 5px;
}
.last .products .bm .timer {
  clear: both;
  float: left;
  display: inline;
  padding-left: 6px;
  margin-top: 7px;
  color: #999999;
}
.last .cover {
  display: none;
  position: absolute;
  top: 0
	 left:0;
  width: 310px;
  height: 232px;
  background: #000;
  z-index: 7;
  opacity: .3;
  filter: "alpha(opacity=30)";
  filter: alpha(opacity=30);
  zoom: 1;
}
.last .failure .cover {
  display: block;
}
/**/
.wc-item-wp {
  width: 642px;
  float: left;
  display: inline;
}
.wc-item-hd {
  width: 642px;
  height: 26px;
  line-height: 26px;
  font-style: italic;
  border-bottom: 3px solid #b2d82d;
  font-size: 15px;
  font-family: "Microsoft YaHei";
  padding-bottom: 3px;
}
.wc-item-hd .green {
  color: #b2d82d;
  font-size: 18px;
}
.wc-item-wpl {
  width: 642px;
  float: left;
  display: inline;
}
.bar-wpr {
  float: right;
  display: inline;
  width: 327px;
  margin-top: 39px;
}
.bar-wpr .bar-slider {
  border-top: 3px solid #B2D82D;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
  width: 325px;
}
.bar-wpr .bar-slider .hd {
  width: 325px;
  height: 42px;
  border-bottom: 1px solid #efefef;
  background: #f5f5f5;
}
.bar-wpr .bar-slider .hd li {
  float: left;
  display: inline;
  position: relative;
  width: 108px;
  height: 42px;
  line-height: 42px;
  color: #666666;
  text-align: center;
  cursor: pointer;
}
.bar-wpr .bar-slider .hd li span {
  display: block;
  width: 108px;
  height: 42px;
  line-height: 42px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  font-weight: bold;
}
.bar-wpr .bar-slider .hd li dl {
  position: absolute;
  top: 43px;
  width: 325px;
  left: -1px;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
.bar-wpr .bar-slider .hd li dl dt {
  width: 325px;
  height: 18px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #676765;
  /*background:url(../../../images/tao/__sprite/wc_hr.png?__sprite) no-repeat center center;*/
  font-weight: bold;
  font-size: 14px;
}
.bar-wpr .bar-slider .hd li dl dd {
  width: 108px;
  height: 66px;
  float: left;
  display: inline;
  margin-bottom: 15px;
  text-align: center;
}
.bar-wpr .bar-slider .hd li dl dd a {
  display: block;
  text-align: center;
}
.bar-wpr .bar-slider .hd li dl dd img {
  max-height: 66px;
  max-width: 85px;
}
.bar-wpr .bar-slider .hd li.cur {
  color: #96b921;
  background: url('/static/images/tao/__sprite/wc_cur.png?__sprite') no-repeat center top;
}
.bar-wpr .bar-slider .hd li.cur dl {
  display: block;
}
.wc-items {
  width: 640px;
  height: 180px;
  border: 1px solid #efefef;
  margin-bottom: 10px;
  position: relative;
}
.wc-items .detail {
  width: 200px;
  height: 180px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: #fcfafd;
}
.wc-items .detail .icon {
  margin: 16px auto auto auto;
  display: block;
  width: 90%;
  height: 40px;
  text-align: center;
}
.wc-items .detail .icon img {
  max-width: 100%;
  max-height: 40px;
}
.wc-items .detail .infos {
  width: 90%;
  margin: 14px auto auto;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.wc-items .detail .brief {
  width: 90%;
  margin: 14px auto auto auto;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  display: none;
}
.wc-items .detail .disc {
  width: 90%;
  margin: 14px auto auto auto;
  text-align: center;
  color: #333;
}
.wc-items .detail .timer {
  width: 66%;
  background: url('/static/images/tao/__sprite/wc_timer.png?__sprite') no-repeat left center;
  margin: 30px auto auto auto;
  text-indent: 17px;
  color: #999;
}
.wc-items .detail .salebg2 {
  color: #fe0003;
  font-size: 16px;
}
.wc-items .detail .a {
  color: #333;
  font-size: 14px;
}
.wc-items .img {
  width: 640px;
  height: 180px;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}
.wc-items .img img {
  width: 640px;
  height: 180px;
  position: absolute;
  right: 0;
  top: 0;
}
/**/
.bar-right {
  float: right;
  display: inline;
  width: 327px;
  height: 372px;
  margin-top: 29px;
  border-top: 3px solid #B2D82D;
}
.bar-right img {
  width: 327px;
  height: 372px;
}
.fix-bar {
  width: 124px;
  height: 238px;
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  border: 4px solid #e0e0e0;
  background: #fff;
}
.fix-bar .sohot {
  background: #b2d82e;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.fix-bar .mb5 {
  margin-bottom: 5px;
}
.fix-bar .lasted a {
  width: 120px;
  height: 27px;
  line-height: 24px;
  display: block;
  color: #8db500;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border-left: 4px solid #8db500;
  background: #f9f9f9;
}
.fix-bar .coming a {
  width: 124px;
  height: 27px;
  line-height: 24px;
  display: block;
  background: #f9f9f9;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #333333;
}
.fix-bar .wc-gotop a {
  width: 52px;
  padding-top: 17px;
  display: block;
  color: #999999;
  margin: 5px auto;
  background: url('/static/images/tao/__sprite/wc_gotop.png?__sprite') no-repeat center top;
}
.fix-bar .wc-gotop a:hover {
  background: url('/static/images/tao/__sprite/wc_gotop.hv.png?__sprite') no-repeat center top;
  color: #b2d82e;
}
.fix-bar dl {
  width: 124px;
  clear: both;
}
.fix-bar dl dt {
  width: 124px;
  height: 27px;
  line-height: 27px;
}
.fix-bar dl dd {
  float: left;
  display: inline;
  width: 60px;
  line-height: 27px;
  margin: 3px auto;
}
.fix-bar dl dd a {
  color: #666666;
  display: block;
  text-indent: 24px;
}
.fix-bar dl dd a:hover,
.fix-bar dl dd a.active {
  color: #8db500;
}
.fix-bar dl .clothing a {
  background: url('/static/images/tao/__sprite/wc_i1.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .clothing a:hover {
  background: url('/static/images/tao/__sprite/wc_i1.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .clothing a.active {
  background: url('/static/images/tao/__sprite/wc_i1.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .huazhuang a {
  background: url('/static/images/tao/__sprite/wc_i2.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .huazhuang a:hover {
  background: url('/static/images/tao/__sprite/wc_i2.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .huazhuang a.active {
  background: url('/static/images/tao/__sprite/wc_i2.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .xiebao a {
  background: url('/static/images/tao/__sprite/wc_i3.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .xiebao a:hover {
  background: url('/static/images/tao/__sprite/wc_i3.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .xiebao a.active {
  background: url('/static/images/tao/__sprite/wc_i3.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .shipin a {
  background: url('/static/images/tao/__sprite/wc_i4.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .shipin a:hover {
  background: url('/static/images/tao/__sprite/wc_i4.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .shipin a.active {
  background: url('/static/images/tao/__sprite/wc_i4.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .muying a {
  background: url('/static/images/tao/__sprite/wc_i5.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .muying a:hover {
  background: url('/static/images/tao/__sprite/wc_i5.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .muying a.active {
  background: url('/static/images/tao/__sprite/wc_i5.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .jiaju a {
  background: url('/static/images/tao/__sprite/wc_i6.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .jiaju a:hover {
  background: url('/static/images/tao/__sprite/wc_i6.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .jiaju a.active {
  background: url('/static/images/tao/__sprite/wc_i6.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .food a {
  background: url('/static/images/tao/__sprite/wc_i7.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .food a:hover {
  background: url('/static/images/tao/__sprite/wc_i7.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .food a.active {
  background: url('/static/images/tao/__sprite/wc_i7.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .baihuo a {
  background: url('/static/images/tao/__sprite/wc_i8.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .baihuo a:hover {
  background: url('/static/images/tao/__sprite/wc_i8.hv.png?__sprite') no-repeat 4px center;
}
.fix-bar dl .baihuo a.active {
  background: url('/static/images/tao/__sprite/wc_i8.hv.png?__sprite') no-repeat 4px center;
}
.fixs {
  top: 0;
  position: fixed;
  z-index: 10;
}
.pos-r {
  position: relative;
}
.block30 {
  margin: 0 auto;
  width: 980px;
  height: 30px;
  clear: both;
}
/*zibu 20140402 s*/
.page .last {
  clear: none;
}
