/*通用顶部 -Start-Gaotian-20131225*/
.header-rearch-submit,
.header-nav-box {
  background: #8db500;
}
.header-rearch-submit:hover {
  background-color: #5d8e00;
}
.header-nav-back s {
  border-left-color: #8db500;
}
.header-nav-box li {
  border-color: #a8c640;
}
.header-nav-box li a:hover {
  background-color: #799b01;
}
/*通用顶部 -End-Gaotian-20131225*/
/*--brand--*/
.mt10 {
  margin-top: 10px;
}
.zdm-icon {
  text-indent: -1000px;
}
.wp1 {
  width: 980px;
  _width: 1000px;
  margin: 0 auto;
}
.wp {
  width: 980px;
  _width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.wp2 {
  width: 982px;
  _width: 1000px;
  margin: 0 auto 40px auto;
  overflow: hidden;
}
.wc-top-wp {
  height: 320px;
  width: 100%;
  overflow: hidden;
}
.wc-top-wp .top-show {
  height: 320px;
  width: 2000em;
  left: 50%;
  top: 0;
  position: relative;
}
.wc-top-wp .top-show .top-showin {
  height: 320px;
  width: 100%;
  left: -50%;
  top: 0;
  position: absolute;
  text-align: center;
  overflow: hidden;
}
.wc-top-wp .top-show .top-showin img {
  margin: 0 auto;
  clear: both;
}
/*****************************/
.wp-countdown {
  width: 980px;
  _width: 1000px;
  margin: 20px auto 15px auto;
  clear: both;
  overflow: hidden;
  position: relative;
  color: #333;
}
.wp-countdown .time-bars {
  width: 400px;
  height: 30px;
  position: absolute;
  left: 314px;
  top: 0px;
  line-height: 30px;
  background: url('/static/images/tao/__sprite/wc_countdown.png?__sprite') no-repeat left center;
  text-indent: 20px;
}
.wp-countdown .time-bars .fl {
  float: left;
  display: inline;
  overflow: hidden;
  margin-right: 10px;
  font-size: 16px;
}
.wp-countdown .time-bars .m-d,
.wp-countdown .time-bars .m-h,
.wp-countdown .time-bars .m-m,
.wp-countdown .time-bars .m-s {
  float: left;
  display: inline;
  padding: 0px 9px;
  color: #fff;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-indent: 0px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  background: #8db500 url('/static/images/tao/__sprite/wc_timebg.png?__sprite') repeat-x left center;
}
.wp-countdown .time-bars em {
  float: left;
  display: inline;
  font-style: normal;
  text-indent: 0px;
  margin: auto 5px;
}
.wp-countdown .hd {
  margin-top: 40px;
  color: #333;
  float: left;
  display: inline;
  font-size: 22px;
  font-weight: bold;
}
.wp-countdown .dis {
  margin-top: 40px;
  float: right;
  display: inline;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: #666;
}
.wp-countdown .dis span {
  font-size: 22px;
  color: #8db500;
}
.wp-countdown .zi {
  color: #333;
  font-family: "Microsoft YaHei";
  font-size: 18px;
}
.category-nav {
  width: 978px;
  height: 32px;
  margin: 0 auto;
  border: 1px solid #e7e7e7;
}
.category-nav .top {
  width: 978px;
  height: 25px;
  line-height: 23px;
  margin: 0 auto;
  border-top: 2px solid #8db500;
}
.category-nav .top span {
  padding-left: 5px;
}
.category-nav .top a {
  margin-left: 30px;
  color: #333;
}
.category-nav .top a:hover {
  color: #f25e94;
}
.category-nav .sort {
  height: 32px;
  line-height: 30px;
  width: 978px;
  margin: 0 auto;
  background: #f7f7f7;
  border-top: 0px solid #E7E7E7;
}
.category-nav .sort .sort-in {
  height: 20px;
  border: 1px solid #E7E7E7;
  margin-top: 5px;
  margin-left: 5px;
  float: left;
  display: inline;
  background: #fff;
  padding-right: 6px;
}
.category-nav .sort .sort-in .t {
  float: left;
  display: inline;
  width: 61px;
  height: 20px;
  line-height: 18px;
  background: #8db500;
  color: #fff;
  text-align: center;
}
.category-nav .sort .sort-in a {
  color: #666;
}
.category-nav .sort .sort-in .def,
.category-nav .sort .sort-in .pri,
.category-nav .sort .sort-in .dis {
  float: left;
  display: inline;
  padding: 0px 6px;
  height: 12px;
  line-height: 12px;
  margin-top: 4px;
}
.category-nav .sort .sort-in .def {
  border-right: 1px solid #e2e2e2;
}
.category-nav .sort .sort-in .pri {
  color: #666666;
  padding-right: 15px;
  border-right: 1px solid #e2e2e2;
}
.category-nav .sort .sort-in .dis {
  padding-right: 15px;
  color: #666666;
}
.category-nav .sort .sort-in .up {
  background: url('/static/images/tao/__sprite/wc_up.png?__sprite') no-repeat 33px center;
}
.category-nav .sort .sort-in .down {
  background: url('/static/images/tao/__sprite/wc_down.png?__sprite') no-repeat 33px center;
}
.category-nav .sort .sort-in .cur {
  color: #f25e94;
}
.category-wp {
  width: 1009px;
  margin: -13px auto 0px -23px;
  clear: both;
  overflow: hidden;
}
.category-wp .items {
  border: 1px solid #e7e7e7;
}
.category-wp .items-hover {
  border: 1px solid #8db500;
}
.category-wp .items,
.category-wp .items-hover {
  width: 226px;
  height: 357px;
  float: left;
  display: inline;
  margin-left: 23px;
  margin-top: 23px;
  position: relative;
}
.category-wp .items .top,
.category-wp .items-hover .top {
  display: block;
  width: 226px;
  height: 286px;
  position: relative;
}
.category-wp .items .top img,
.category-wp .items-hover .top img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 226px;
  height: 286px;
}
.category-wp .items .bm,
.category-wp .items-hover .bm {
  height: 71px;
  width: 226px;
  margin: 0 auto;
  background: #fcfafd;
  overflow: hidden;
}
.category-wp .items .bm .links,
.category-wp .items-hover .bm .links {
  width: 206px;
  margin: 10px auto 0px auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.category-wp .items .bm .links a,
.category-wp .items-hover .bm .links a {
  color: #333;
}
.category-wp .items .bm .links a:hover,
.category-wp .items-hover .bm .links a:hover {
  text-decoration: underline;
}
.category-wp .items .bm .info,
.category-wp .items-hover .bm .info {
  width: 206px;
  margin: 5px auto 0px auto;
  overflow: hidden;
}
.category-wp .items .bm .info .f-rmb,
.category-wp .items-hover .bm .info .f-rmb {
  font-family: "Microsoft YaHei";
  color: #999;
}
.category-wp .items .bm .info .f-pink,
.category-wp .items-hover .bm .info .f-pink {
  font-family: "Microsoft YaHei";
  font-weight: bold;
  font-size: 17px;
  color: #f25e94;
  margin-left: -4px;
}
.category-wp .items .bm .info .f-dis,
.category-wp .items-hover .bm .info .f-dis {
  float: left;
  display: inline;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #fff;
  font-weight: bold;
  background: #aece3f;
  border-radius: 3px;
  padding: 0px 6px;
  margin-top: 3px;
  margin-left: 4px;
  height: 20px;
  line-height: 18px;
}
.category-wp .items .bm .info .pri,
.category-wp .items-hover .bm .info .pri {
  float: left;
  display: inline;
  font-size: 14px;
}
.category-wp .items .bm .info .f-del,
.category-wp .items-hover .bm .info .f-del {
  float: right;
  display: inline;
  color: #a8a8a8;
}
.category-wp .over {
  width: 78px;
  height: 28px;
  line-height: 26px;
  color: #fff;
  z-index: 6;
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  background: url('/static/images/tao/__sprite/wc_qw.png?__sprite') no-repeat 0px center;
  text-indent: 30px;
}
.category-wp .cover {
  width: 226px;
  height: 357px;
  position: absolute;
  background: #000;
  top: 0;
  left: 0;
  z-index: 6;
  display: none;
  opacity: .27;
  filter: "alpha(opacity=27)";
  filter: alpha(opacity=27);
  zoom: 1;
}
.category-wp .failure .over,
.category-wp .failure .cover {
  display: block;
}
/*翻页*/
.page {
  margin: 20px 0 30px;
}
.page .cur {
  background-color: #8DB500;
}
.page .page-input input {
  border-color: #8DB500;
}
.page a:hover,
.page .page-input a {
  background-color: #8DB500;
  border-color: #8DB500;
}
/**/
.banner-wp {
  width: 1004px;
  margin: 0 auto auto -22px;
}
.banner-wp .banner {
  width: 478px;
  height: 178px;
  display: inline;
  float: left;
  border: 1px solid #e7e7e7;
  margin-left: 22px;
}
.banner-wp .banner img {
  width: 478px;
  height: 178px;
}
