.clearfix:after, .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
.clearfix, .cf{ *zoom:1;}
.clear, .c { clear:both;}
.l { float: left;}
.r { float: right;}
table .l { float:none;}
.frame { background: none;}
.sp { padding: 0 5px; color:#999;}
.f-yh,h2,h3,.crumb { font-family:\5FAE\8F6F\96C5\9ED1;}
a { color:#333;}
a:hover {  text-decoration:underline;}
.cols,.rows { overflow: hidden;}
.mar-2 { margin:2px;}
.mar-4 { margin:4px;}
.mar-6 { margin:6px;}
.mar-8 { margin:8px;}
.mar-10 { margin:10px;}
.mar-15 { margin:15px;}
.mar-20 { margin:20px;}
.mar-t-2 { margin-top:2px;}
.mar-t-4 { margin-top:4px;}
.mar-t-6 { margin-top:6px;}
.mar-t-8 { margin-top:8px;}
.mar-t-10 { margin-top:10px;}
.mar-t-15 { margin-top:15px;}
.mar-t-20 { margin-top:20px;}
.mar-b-2 { margin-bottom:2px;}
.mar-b-4 { margin-bottom:4px;}
.mar-b-6 { margin-bottom:6px;}
.mar-b-8 { margin-bottom:8px;}
.mar-b-10 { margin-bottom:10px;}
.mar-b-15 { margin-bottom:15px;}
.mar-b-20 { margin-bottom:20px;}
.mar-l-2 { margin-left:2px;}
.mar-l-4 { margin-left:4px;}
.mar-l-6 { margin-left:6px;}
.mar-l-8 { margin-left:8px;}
.mar-l-10 { margin-left:10px;}
.mar-l-15 { margin-left:15px;}
.mar-l-20 { margin-left:20px;}
.mar-r-2 { margin-right:2px;}
.mar-r-4 { margin-right:4px;}
.mar-r-6 { margin-right:6px;}
.mar-r-8 { margin-right:8px;}
.mar-r-10 { margin-right:10px;}
.mar-r-15 { margin-right:15px;}
.mar-r-20 { margin-right:20px;}
.mar-tb-2 { margin-top:2px; margin-bottom:2px;}
.mar-tb-4 { margin-top:4px; margin-bottom:4px;}
.mar-tb-6 { margin-top:6px; margin-bottom:6px;}
.mar-tb-8 { margin-top:8px; margin-bottom:8px;}
.mar-tb-10 { margin-top:10px; margin-bottom:10px;}
.mar-tb-15 { margin-top:15px; margin-bottom:15px;}
.mar-tb-20 { margin-top:20px; margin-bottom:20px;}
.mar-lr-2 { margin-left:2px; margin-right:2px;}
.mar-lr-4 { margin-left:4px; margin-right:4px;}
.mar-lr-6 { margin-left:6px; margin-right:6px;}
.mar-lr-8 { margin-left:8px; margin-right:8px;}
.mar-lr-10 { margin-left:10px; margin-right:10px;}
.mar-lr-15 { margin-left:15px; margin-right:15px;}
.mar-lr-20 { margin-left:20px; margin-right:20px;}
.pad-0 { padding:0px ;}
.pad-2 { padding:2px;}
.pad-4 { padding:4px;}
.pad-6 { padding:6px;}
.pad-8 { padding:8px;}
.pad-10 { padding:10px;}
.pad-15 { padding:15px;}
.pad-20 { padding:20px;}
.pad-t-2 { padding-top:2px;}
.pad-t-4 { padding-top:4px;}
.pad-t-6 { padding-top:6px;}
.pad-t-8 { padding-top:8px;}
.pad-t-10 { padding-top:10px;}
.pad-t-15 { padding-top:15px;}
.pad-t-20 { padding-top:20px;}
.pad-b-2 { padding-bottom:2px;}
.pad-b-4 { padding-bottom:4px;}
.pad-b-6 { padding-bottom:6px;}
.pad-b-8 { padding-bottom:8px;}
.pad-b-10 { padding-bottom:10px;}
.pad-b-15 { padding-bottom:15px;}
.pad-b-20 { padding-bottom:20px;}
.pad-l-2 { padding-left:2px;}
.pad-l-4 { padding-left:4px;}
.pad-l-6 { padding-left:6px;}
.pad-l-8 { padding-left:8px;}
.pad-l-10 { padding-left:10px;}
.pad-l-15 { padding-left:15px;}
.pad-l-20 { padding-left:20px;}
.pad-r-2 { padding-right:2px;}
.pad-r-4 { padding-right:4px;}
.pad-r-6 { padding-right:6px;}
.pad-r-8 { padding-right:8px;}
.pad-r-10 { padding-right:10px;}
.pad-r-15 { padding-right:15px;}
.pad-r-20 { padding-right:20px;}
.pad-tb-2 { padding-top:2px; padding-bottom:2px;}
.pad-tb-4 { padding-top:4px; padding-bottom:4px;}
.pad-tb-6 { padding-top:6px; padding-bottom:6px;}
.pad-tb-8 { padding-top:8px; padding-bottom:8px;}
.pad-tb-10 { padding-top:10px; padding-bottom:10px;}
.pad-tb-15 { padding-top:15px; padding-bottom:15px;}
.pad-tb-20 { padding-top:20px; padding-bottom:20px;}
.pad-lr-2 { padding-left:2px; padding-right:2px;}
.pad-lr-4 { padding-left:4px; padding-right:4px;}
.pad-lr-6 { padding-left:6px; padding-right:6px;}
.pad-lr-8 { padding-left:8px; padding-right:8px;}
.pad-lr-10 { padding-left:10px; padding-right:10px;}
.pad-lr-15 { padding-left:15px; padding-right:15px;}
.pad-lr-20 { padding-left:20px; padding-right:20px;}
.wp{width:980px;margin:0 auto;}
.header .top  { width:980px; margin:auto; height:85px; padding-top: 15px; background:url("../../images/t/top-bg.png") no-repeat 210px 32px;}
.b5t .header-nav{background: #f27929;}
.b5t .header-nav ul li{ border-left: 1px solid #f3995e;}
.b5t .header-nav ul li.nob { border-left:none;}
.b5t .header-nav ul li a { color:#fff;}
.b5t .header-nav ul li a:hover{ background-color: #d96d25; text-decoration: none;}
.b5t .header-nav ul li a.this,.b5t .header-nav ul li a.this:hover{background-color: #f5f5f5; color:#333;}
.b5t .header-nav ul li.b5m-home { border-left:none;}
.b5t .header-nav ul li.b5m-home a{ background: #d96d25 url(../../images/common/header-nav.png) no-repeat  -110px 13px;}
.sprite{background:url(../../images/t/icons.png) no-repeat}
.panel-nav{height:55px; margin:10px -36px 0 0;}
.panel-nav span,.panel-nav a{width:50px;height:12px;margin-right:36px;float:left;_display:inline; color:#666;font:normal 12px/150% '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';text-align:center;white-space:nowrap;padding-top:38px; text-indent: -9999px;}
.header-content .search-bar{height: 47px;  background: #f5f5f5;}
.header-content .search-bar .wp { width:980px; height: 48px;}
.header-content .search-tools{ position:relative;z-index:10;float:left;_display:inline;padding:7px 0 5px;_padding:6px 0 0; padding-left:215px; background: url(../../images/t/header-nav.png) no-repeat 0 center;}
.header-content .search-tools .header-search-key{border: 1px solid #c8c8c8;
    border-right: none; line-height: 15px; height: 15px;
    -webkit-border-top-left-radius:3px;
    -moz-border-top-left-radius:3px;
    border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;}
.header-content .search-tools .hot-keys{height: 34px;line-height:34px;float:left;margin-left: 10px;font-size: 12px;color:#fff6eb;font-family:"\\5B8B\\4F53",SimSun;}

.header-nav-back s{border-left-color:#ff8808}
.header-nav-box li{border-color:#f3995e}
.header-nav-box li a:hover{ background: #d96d25;}

.header-content .search-tools dt,

.header-content .search-tools dd{float:left;}
.header-content .search-tools .hot-keys a{color:#fff6eb;margin-right:12px;}
.header-content .search-tools .hot-keys a:hover{text-decoration: underline;}
.all-cate{position:relative;z-index:100;float:left;height: 47px;line-height:47px;width:200px;background-color: #D37100}
.all-cate h2{padding-left:16px;font-size: 14px;color:#fff;font-family: "\5FAE\8F6F\96C5\9ED1"}
.main-item{position: absolute;width: 200px;}
.all-cate a{font-size: 12px;color:#333;font-family: "\5FAE\8F6F\96C5\9ED1"}
.all-cate a:hover{color:#F18100;text-decoration: underline;}
.all-cate li{height: 31px;line-height:28px;padding-left:48px;background: #FAFAFA;border:1px solid #FAFAFA;border-right:none;}
.all-cate .icon{display: inline-block;*display: inline;*zoom: 1;margin:6px 0 0 -36px;float:left;width: 22px;height: 22px;background-image:url(../../images/www/icon.png);_background-image:url(../../images/www/icon8.png);background-repeat:no-repeat;
    -webkit-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    transition: all ease-in .3s;}
.all-cate li:hover .icon{
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);}
.search-tools span{display: inline-block;*display: inline;*zoom: 1; margin-right: 20px;}
.header-search-content label{ display: none;}
.header-rearch-submit{height:33px;line-height:33px;*line-height:36px;_line-height:33px;text-align:center;display: inline-block;*display: inline;*zoom: 1; color: #fff;
    background: #d37100;}
.header-rearch-submit:hover{color:#fff; text-decoration: none; background: #c75700;}
.header-rearch-hotkey{ height:20px; line-height: 20px; width: 200px; overflow: hidden;}
.header-rearch-hotkey,.header-rearch-hotkey a{  text-decoration: none; color:#666;}
.header-rearch-hotkey a:hover { color:#EB7E00;}
.focusin{ color: #000;}
.gotop { margin-left: 550px;}
.wp-t { width:980px; margin:auto;}
.business {background-color: #EB7E00;}
.b2c-links-border {border-top: 3px solid #5D5D5D;height: 20px; overflow: hidden;}
.autofill-firstlead { display: none !important;}
/*首页*/

.bg-index { background: url("../../images/t/index/bg-index.png") no-repeat;}
.banner-index { position: relative; height: 450px;}
.banner-index .role { position: absolute; bottom:10px; text-align: center; height:16px; overflow: hidden; width:100%; z-index: 2;}
.banner-index .role li { display: inline-block;  _zoom:1;* display:inline; width:16px; height: 16px; margin-right: 10px;  background-position:-4px -124px;}
.banner-index .role li.cur { background-position: -34px -124px;}
.banner-index .role li span { display: inline-block; width:16px; height: 16px; cursor:pointer;}
.banner-index .main-banner { display: none; position:absolute; top:0; left:0; width:100%; height:450px;}
.banner-index .main-banner.curscroll { display: block;}
.banner-index .main-banner.banner1 {background: #004896;}
.banner-index .main-banner.banner2 { background:#110b39;}
.banner-index .main-banner.banner3 { background: #4abaec;}
.banner-index .main-banner .bg-content { background-repeat: no-repeat; background-position: center;}
.banner-index .main-banner.banner1 .bg-content { background-image: url("../../images/t/index/pic-main-banner-1.jpg");}
.banner-index .main-banner.banner2 .bg-content { background-image: url("../../images/t/index/pic-main-banner-2.jpg");}
.banner-index .main-banner.banner3 .bg-content { background-image: url("../../images/t/index/pic-main-banner-3.jpg");}
.banner-index .main-banner .content {  background-repeat: no-repeat; background-position: center; width:980px; margin:auto; height: 450px; position: relative;}
.banner-index .main-banner.banner1 .content { background-image:url("../../images/t/index/pic-main-banner-1.png"); _background-image:url("../../images/t/index/pic-main-banner-1-fix.jpg");}
.banner-index .main-banner.banner2 .content { background-image:url("../../images/t/index/pic-main-banner-2.png"); _background-image:url("../../images/t/index/pic-main-banner-2-fix.jpg");}
.banner-index .main-banner .content .download { position:absolute; width:282px; height: 83px; display: block; text-indent: -9999px; right:0px; bottom:110px;}
.banner-index .main-banner .content .download:hover { background-position: -300px 0;}
.banner-index .main-banner .content .download-mac { display: block; width:145px; height: 26px; background-position: 0px -92px; text-indent: -9999px; right:15px; bottom:80px; position: absolute;}
.banner-index .main-banner .content .download-mac:hover { background-position: -300px -92px;}

.banner-index .main-banner .content .view-video,.banner-index .main-banner .content .view-video:hover { position: absolute; display: block; text-indent: -9999px; bottom:30px; right:40px; width:206px; height: 65px; background: url("../../images/t/index/view-video.png") no-repeat;}

.nav-index { background: #f5f5f4; border-bottom: 1px solid #ccc; height:94px; padding-top: 15px; width:100%;}
.nav-index.fix { position: fixed; top:0; left:0;  _position: static; z-index: 10;}
.nav-index ul { width:880px; margin:auto; overflow: hidden;}
.nav-index ul li { width:190px; float:left; width:190px; margin-right:40px; height:80px;}
.nav-index ul li a { display:block; width:190px; height: 80px; background: url("../../images/t/index/bg-index.png") no-repeat; text-indent: -9999px;}
.nav-index ul .nav1 a { background-position: 0px -160px;}
.nav-index ul .nav1 a.cur,.nav-index ul .nav1 a:hover { background-position: -190px -160px;}
.nav-index ul .nav2 a { background-position: 0px -240px;}
.nav-index ul .nav2 a.cur,.nav-index ul .nav2 a:hover { background-position: -190px -240px;}
.nav-index ul .nav3 a { background-position: 0px -320px;}
.nav-index ul .nav3 a.cur,.nav-index ul .nav3 a:hover { background-position: -190px -320px;}
.nav-index ul li.nav4 { margin-right: 0;}
.nav-index ul .nav4 a { background-position: 0px -400px;}
.nav-index ul .nav4 a.cur,.nav-index ul .nav4 a:hover { background-position: -190px -400px;}
.index-floor { background:url("../../images/t/index/bg-floor.png") repeat-x bottom; height:540px; overflow: hidden;}
.index-floor.even { background: #f6f6f6;}
.index-floor .content { width:980px; height: 540px; margin:auto; position: relative;}
.index-floor1 .content { *background: url("../../images/t/index/fl-1-all.png") no-repeat center 70px;  _background: url("../../images/t/index/fl-1-all.jpg") no-repeat center 70px; background: url("../../images/t/index/fl-1-all.png") no-repeat center 70px\0;}
.index-floor2 .content { *background: url("../../images/t/index/fl-2-all.jpg") no-repeat center 70px; background: url("../../images/t/index/fl-2-all.jpg") no-repeat center 70px\0;}
.index-floor3 .content { *background: url("../../images/t/index/fl-3-all.jpg") no-repeat center 70px; background: url("../../images/t/index/fl-3-all.jpg") no-repeat center 30px\0;}
.index-floor4 .content { *background: url("../../images/t/index/fl-4-all.jpg") no-repeat center 70px; background: url("../../images/t/index/fl-4-all.jpg") no-repeat center 30px\0;}
.index-floor1 article h3,.index-floor1 article p,.index-floor1 article div,.index-floor1 figure div { opacity:0;
    transition:all .7s ease;
    -webkit-transition:all .7s ease;
    -moz-transition:all .7s ease;}
.index-floor1 article h3 { position: absolute; top:85px; left: 950px; background: url("../../images/t/index/fl-1-text-1.png") no-repeat; width:184px; height: 101px; transition-delay:2.2s; -webkit-transition-delay:2.2s; -moz-transition-delay:2.2s;}
.index-floor1 article p { position: absolute; top:230px; left:950px;  background: url("../../images/t/index/fl-1-text-2.png") no-repeat;  width: 287px; height: 91px; transition-delay:2.4s; -webkit-transition-delay:2.4s; -moz-transition-delay:2.4s;}
.index-floor1 article div { position: absolute; top:360px;  left:950px; background: url("../../images/t/index/fl-1-text-3.png") no-repeat;  width: 281px; height: 92px; transition-delay:2.6s; -webkit-transition-delay:2.6s; -moz-transition-delay:2.6s;}
.index-floor1 figure div { position: absolute; background: url("../../images/t/index/fl-1-pic-1.png") no-repeat; width:977px; height:610px; top:200px; left:0px;}
.index-floor1.animate article h3 { opacity:1;left:680px;}
.index-floor1.animate article p { opacity:1; left:680px;}
.index-floor1.animate article div { opacity:1; left:680px;}
.index-floor1.animate figure div { opacity: 1; top:0px;}
.index-floor1 figure span {
    transition:all .7s ease;
    -webkit-transition:all .7s ease;
    -moz-transition:all .7s ease;

    transform: rotate(-120deg) scale(0);
    -webkit-transform: rotate(-120deg) scale(0);
    -moz-transform: rotate(-120deg) scale(0);}
.index-floor1.animate figure span {
    animation: floor1 4s 4s infinite ease-in-out;
    -webkit-animation: floor1 4s 4s infinite ease-in-out;
    -moz-animation: floor1 4s 4s infinite ease-in-out;}
.index-floor1 figure span:nth-of-type(1) { left:143px; top:105px; position: absolute; width:535px; height: 305px; background: url("../../images/t/index/fl-1-item-0.png") no-repeat; opacity:0;
    transition:all 2s ease 1.5s;
    -webkit-transition:all 2s ease 1.5s;
    -moz-transition:all 2s ease 1.5s;

    transform:scale(0.5);
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);}
.index-floor1 figure span:nth-of-type(2) { left:90px; top:150px; position: absolute; width:99px; height: 107px; background: url("../../images/t/index/fl-1-item-1.png") no-repeat;   transition-delay:.4s; -webkit-transition-delay:.4s; -moz-transition-delay:.4s;}
.index-floor1 figure span:nth-of-type(3) { left:423px; top:184px; position: absolute; width:71px; height:51px; background: url("../../images/t/index/fl-1-item-2.png") no-repeat;   transition-delay:.6s; -webkit-transition-delay:.6s; -moz-transition-delay:.6s;}
.index-floor1 figure span:nth-of-type(4) { left:345px; top:226px; position: absolute; width:115px; height:88px; background: url("../../images/t/index/fl-1-item-3.png") no-repeat; transition-delay:.8s; -webkit-transition-delay:.8s; -moz-transition-delay:.8s;}
.index-floor1 figure span:nth-of-type(5) { left:215px; top:226px; position: absolute; width:115px; height:83px; background: url("../../images/t/index/fl-1-item-4.png") no-repeat;  transition-delay:1s; -webkit-transition-delay:1s; -moz-transition-delay:1s;}
.index-floor1.animate figure span {
    transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);}
.index-floor1.animate figure span:nth-of-type(1) {
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    opacity:1;}
@-webkit-keyframes floor1 {
    from {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    opacity:1}
50% {
        transform: translate(0px, 10px);
        -webkit-transform: translate(0px, 10px);
        -moz-transform: translate(0px, 10px);
        opacity:0.7}
to {
        transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        opacity: 1}
}
@-moz-keyframes floor1 {  from {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    opacity:1}
50% {
        transform: translate(0px, 10px);
        -webkit-transform: translate(0px, 10px);
        -moz-transform: translate(0px, 10px);
        opacity:0.7}
to { 	transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        opacity: 1}
}
@keyframes floor1 {  from {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    opacity:1}
50% {
        transform: translate(0px, 10px);
        -webkit-transform: translate(0px, 10px);
        -moz-transform: translate(0px, 10px);
        opacity:0.7}
to { 	transform: translate(0px, 0px);
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        opacity: 1}
}
.index-floor2 article h3,.index-floor2 article p,.index-floor2 article div,.index-floor2 figure div { opacity:0;
     transition:all .7s ease;
    -webkit-transition:all .7s ease;
    -moz-transition:all .7s ease;}
.index-floor2 article h3 { position: absolute; top:76px; left: -80px; background: url("../../images/t/index/fl-2-text-1.png") no-repeat; width:417px; height:90px;  transition-delay:.2s; -webkit-transition-delay:.2s; -moz-transition-delay:.2s;}
.index-floor2 article p { position: absolute; top:210px; left:-80px;  background: url("../../images/t/index/fl-2-text-2.png") no-repeat;  width: 306px; height:67px; transition-delay:.4s; -webkit-transition-delay:.4s; -moz-transition-delay:.4s;}
.index-floor2 article div { position: absolute; top:310px;  left:-80px; background: url("../../images/t/index/fl-2-text-3.png") no-repeat;  width: 280px; height: 92px; transition-delay:.6s; -webkit-transition-delay:.6s; -moz-transition-delay:.6s;}
.index-floor2 figure div { position: absolute; background: url("../../images/t/index/fl-2-pic-1.png") no-repeat; width:532px; height:383px; top:70px; left:590px;}
.index-floor2.animate article h3 { opacity:1;left:0px;}
.index-floor2.animate article p { opacity:1; left:0px;}
.index-floor2.animate article div { opacity:1; left:0px;}
.index-floor2.animate figure div { opacity: 1; left:450px;}
.index-floor3 article h3,.index-floor3 article p,.index-floor3 article div,.index-floor3 figure div { opacity:0;
    transition:all .7s ease;
    -webkit-transition:all .7s ease;
    -moz-transition:all .7s ease;}
.index-floor3 article h3 { position: absolute; top:76px; left: 880px; background: url("../../images/t/index/fl-3-text-1.png") no-repeat; width:177px; height: 98px; transition-delay:.2s; -webkit-transition-delay:.2s; -moz-transition-delay:.2s;}
.index-floor3 article p { position: absolute; top:230px; left:880px;  background: url("../../images/t/index/fl-3-text-2.png") no-repeat;  width: 287px; height: 67px; transition-delay:.4s; -webkit-transition-delay:.4s; -moz-transition-delay:.4s;}
.index-floor3 article div { position: absolute; top:340px;  left:880px; background: url("../../images/t/index/fl-3-text-3.png") no-repeat;  width: 281px; height: 92px; transition-delay:.6s; -webkit-transition-delay:.6s; -moz-transition-delay:.6s;}
.index-floor3 figure div { position: absolute; background: url("../../images/t/index/fl-3-pic-1.png") no-repeat; width:618px; height:459px; top:25px; left:-90px;}
.index-floor3.animate article h3 { opacity:1;left:670px;}
.index-floor3.animate article p { opacity:1; left:670px;}
.index-floor3.animate article div { opacity:1; left:670px;}
.index-floor3.animate figure div { opacity: 1; left:0px;}
.index-floor4 article h3,.index-floor4 article p,.index-floor4 article div,.index-floor4 figure div { opacity:0;  transition:all .7s ease;
    -webkit-transition:all .7s ease;
    -moz-transition:all .7s ease;}
.index-floor4 article h3 { position: absolute; top:76px; left: -80px; background: url("../../images/t/index/fl-4-text-1.png") no-repeat; width:177px; height:99px; transition-delay:.2s; -webkit-transition-delay:.2s; -moz-transition-delay:.2s;}
.index-floor4 article p { position: absolute; top:210px; left:-80px;  background: url("../../images/t/index/fl-4-text-2.png") no-repeat;  width: 382px; height:67px; transition-delay:.4s; -webkit-transition-delay:.4s; -moz-transition-delay:.4s;}
.index-floor4 article div { position: absolute; top:310px;  left:-80px; background: url("../../images/t/index/fl-4-text-3.png") no-repeat;  width: 281px; height: 92px;  transition-delay:.6s; -webkit-transition-delay:.6s; -moz-transition-delay:.6s;}
.index-floor4 figure div { position: absolute; background: url("../../images/t/index/fl-4-pic-1.png") no-repeat; width:602px; height:526px; top:0px; left:690px;}
.index-floor4.animate article h3 { opacity:1;left:0px;}
.index-floor4.animate article p { opacity:1; left:0px;}
.index-floor4.animate article div { opacity:1; left:0px;}
.index-floor4.animate figure div { opacity: 1; left:370px;}
/* ie9 hack*/
.index-floor article,.index-floor figure  { display:none\0; display:none\9\0;}
/* ie10 hack*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .index-floor .content { background: none;}
.index-floor article, .index-floor figure { display: block;}
}
/* 更新日志 */
.bg-update { background: url("../../images/t/update/bg-update.png?t=20140317") no-repeat;}
.nav-update { background: none repeat scroll 0 0 #F5F5F4;border-bottom: 1px solid #CCCCCC; height: 90px; width: 100%;}
.nav-update  .wp { height:90px; background-position: 231px 44px;}
.update-content { background: url("../../images/t/update/bg-content.png") repeat-y 240px 0; padding-bottom:50px;}
.update-content { font-family:\5FAE\8F6F\96C5\9ED1; font-size:14px; color:#333; margin-top: 50px; overflow: hidden;}
.update-content h1 { width:900px; margin: 0 auto; padding-bottom: 40px; height: 69px; overflow: hidden;}
.update-content h1 span { float:left; display: block; height: 69px; width:171px;}
.update-content h1 em { color:#666; display: block; float: left; height:69px; line-height: 69px; font-size: 24px; color:#f06e23; padding-right: 14px; cursor: pointer; background: url("../../images/t/update/arrow.png") no-repeat right center;}
.update-content h1 strong { color:#333; float: left; width:400px; height: 69px; background-position: 0px -160px;}
.update-content  li { padding-bottom:40px;}
.update-content  li em { padding-top: 6px; display: block; width: 220px; float:left; text-align: right; padding-right: 25px; background: url("../../images/t/update/bg-content-point.png") no-repeat right center;}
.update-content  li em strong { font-size:18px; font-weight: bold;}
.update-content  li div { float:left; padding-left:20px;}
.update-content  li div p { font-size:24px;}
.update-content  li div span { display: block; color:#666;}
.update-content h2 { width:900px; margin:0 auto; padding-bottom: 40px;}
.update-content h2 span { float:left; display: block; height: 69px; width:152px;}
.update-content h2 em { color:#666; display: block; float: left; height:69px; line-height: 45px; font-size: 24px; color:#f06e23; padding-right: 14px; cursor: pointer; background: url("../../images/t/update/arrow.png") no-repeat right 20px;}
.update-content h2 strong { color:#333; float: left; width:400px; height: 69px; background-position: 0px -80px;}
.update-content-bottom { padding-top: 138px; background: url("../../images/t/update/bg-bottom.png") no-repeat 240px 0px; margin-bottom:50px;}
/*下载中心*/
.banner-download { position: relative; height: 450px;}
.banner-download .role { position: absolute; bottom:10px; text-align: center; height:16px; overflow: hidden; width:100%; z-index: 2;}
.banner-download .role li { display: inline-block;  _zoom:1;* display:inline; width:16px; height: 16px; margin-right: 10px;  background-position:-4px -124px;}
.banner-download .role li.cur { background-position: -34px -124px;}
.banner-download .role li span { display: inline-block; width:16px; height: 16px; cursor:pointer;}
.banner-download .main-banner { display: none; position:absolute; top:0; left:0; width:100%; height:450px;}
.banner-download .main-banner.curscroll { display: block;}
.banner-download .main-banner.banner1 {background: #0a1829;}
.banner-download .main-banner.banner2 { background:#787ed7;}
.banner-download .main-banner.banner3 { background: #082d64;}
.banner-download .main-banner .bg-content { background-repeat: no-repeat; background-position: center;}
.banner-download .main-banner.banner1 .bg-content { background-image: url("../../images/t/download/pic-download-banner-1.jpg");}
.banner-download .main-banner.banner2 .bg-content { background-image: url("../../images/t/download/pic-download-banner-2.jpg");}
.banner-download .main-banner.banner3 .bg-content { background-image: url("../../images/t/download/pic-download-banner-3.jpg");}
.banner-download .main-banner.banner4 .bg-content { background-image: url("../../images/t/download/pic-download-banner-4.jpg");}
.banner-download .main-banner .content {  background-repeat: no-repeat; background-position: center; width:980px; margin:auto; height: 450px; position: relative;}
.banner-download .main-banner.banner1 .content { background-image:url("../../images/t/download/pic-download-banner-1.png"); _background-image:url("../../images/t/download/pic-download-banner-1-fix.jpg");}
.banner-download .main-banner.banner2 .content { background-image:url("../../images/t/download/pic-download-banner-2.png"); _background-image:url("../../images/t/download/pic-download-banner-2-fix.jpg");}
.banner-download .main-banner.banner3 .content { background-image:url("../../images/t/download/pic-download-banner-3.png"); _background-image:url("../../images/t/download/pic-download-banner-3-fix.jpg");}
.banner-download .main-banner.banner4 .content { background-image:url("../../images/t/download/pic-download-banner-4.png"); _background-image:url("../../images/t/download/pic-download-banner-4-fix.jpg");}
.nav-download,.nav-help { background: none repeat scroll 0 0 #F5F5F4;border-bottom: 1px solid #CCCCCC; padding-top:30px;width: 100%; margin-bottom: 30px;}
.nav-help { margin-bottom: 0;}
.content-download h2 { margin-bottom:10px; background: #f1f1f1; height: 40px; line-height: 40px; padding-left: 20px; font-size:14px; font-weight: bold;}
.content-download table { width:100%; border-collapse: collapse; border:1px solid #ccc; margin-bottom: 20px;}
.content-download table th { border:1px solid #ccc; background: #f6f6f6; font-weight: normal; padding: 6px 0; text-align: center;}
.content-download table td { border:1px solid #ccc; text-align: center; padding: 6px 0;}
.content-download table td span { color:#f47a2a;}
.content-download table td .download { display: inline-block; background: url("../../images/t/download/ico-download.png") no-repeat left center; height:18px; padding-left: 20px; color:#569300;}
.content-download ul { border:1px solid #ccc; padding-left: 20px; margin-bottom: 30px;}
.content-download ul li { float:left; width: 158px; height: 30px; line-height: 30px;}
.content-download ul li a { color:#298fc6; background: url("../../images/t/download/ico-download1.png") no-repeat left center; padding-left:10px;}
/*使用帮助*/
.banner-help { position: relative; height: 450px;}
.banner-help .main-banner { display: none; position:absolute; top:0; left:0; width:100%; height:450px;}
.banner-help .main-banner.curscroll { display: block;}
.banner-help .main-banner.banner1,.banner4 {background: #0248a6;}
.banner-help .main-banner .bg-content,.banner4 .bg-content { background-repeat: no-repeat; background-position: center;}
.banner-help .main-banner.banner1 .bg-content,.banner4 .bg-content { background-image: url("../../images/t/help/pic-help-banner-1.jpg");}
.banner-help .main-banner .content,.banner4 .content {  background-repeat: no-repeat; background-position: center; width:980px; margin:auto; height: 450px; position: relative;}
.banner-help .main-banner.banner1 .content,.banner4 .content { background-image:url("../../images/t/help/pic-help-banner-1.png"); _background-image:url("../../images/t/help/pic-help-banner-1-fix.jpg");}
.banner-help .main-banner .content .download,.banner4 .bg-content .download { position:absolute; width:282px; height: 83px; display: block; text-indent: -9999px; right:0px; bottom:110px;}
.banner-help .main-banner .content .download:hover,.banner4 .bg-content:hover { background-position: -300px 0;}
.banner-help .main-banner .content .download-mac,.banner4 .bg-content .download-mac { display: block; width:145px; height: 26px; background-position: 0px -92px; text-indent: -9999px; right:15px; bottom:70px; position: absolute;}
.banner-help .main-banner .content .download-mac:hover,.banner4 .bg-content .download-mac:hover { background-position: -300px -92px;}
.banner-help .main-banner .content .play,.banner4 .bg-content .play { width:144px; height: 144px; position: absolute; top:154px; _top:164px; background: url("../../images/t/help/play.png") no-repeat; left: 260px; _left:230px; text-indent: -9999px; display: block;}
.banner-help .main-banner .content .play:hover,.banner4 .bg-content .play:hover { background-position: -164px 0px;}
.banner-help .main-banner .content .movie,.banner4 .bg-content .movie { display: none; width:606px; height:342px; position: absolute; z-index: 1; left:15px; _left:13px; top:50px;}
.help-content { padding-top: 30px;}
#J_side_nav.fix { position: fixed; top:0;}
.b2c-links li a:hover { text-decoration:none;}
.t-detail { font-family:\5FAE\8F6F\96C5\9ED1; font-size:14px; margin-bottom: 30px; line-height: 24px; color:#666;}
.t-detail a { color:#eb7e00;}
.t-detail span { display: none;}
