/*header*/
.header .top  { width:980px; margin:auto; height:85px; padding-top: 15px; background:url("../../images/t/top-bg.png") no-repeat 210px 32px;}
.b5t .header-nav{background: #f27929;}
.b5t .header-nav ul li{ border-left: 1px solid #f3995e;}
.b5t .header-nav ul li.nob { border-left:none;}
.b5t .header-nav ul li a { color:#fff;}
.b5t .header-nav ul li a:hover{ background-color: #d96d25; text-decoration: none;}
.b5t .header-nav ul li a.this,.b5t .header-nav ul li a.this:hover{background-color: #f5f5f5; color:#333;}
.b5t .header-nav ul li.b5m-home { border-left:none;}
.b5t .header-nav ul li.b5m-home a{ background: #d96d25 url(../../images/common/header-nav.png) no-repeat  -110px 13px;}
.sprite{background:url(../../images/t/icons.png) no-repeat}
.panel-nav{height:55px; margin:10px -36px 0 0;}
.panel-nav span,.panel-nav a{width:50px;height:12px;margin-right:36px;float:left;_display:inline; color:#666;font:normal 12px/150% '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';text-align:center;white-space:nowrap;padding-top:38px; text-indent: -9999px;}
.header-content .search-bar{height: 47px;  background: #f5f5f5;}
.header-content .search-bar .wp { width:980px; height: 48px;}
.header-content .search-tools{ position:relative;z-index:10;float:left;_display:inline;padding:7px 0 5px;_padding:6px 0 0; padding-left:215px; background: url(../../images/t/header-nav.png) no-repeat 0 center;}
.header-content .search-tools .header-search-key{border: 1px solid #c8c8c8;
    border-right: none; line-height: 15px; height: 15px;
    -webkit-border-top-left-radius:3px;
    -moz-border-top-left-radius:3px;
    border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;}
.header-content .search-tools .hot-keys{height: 34px;line-height:34px;float:left;margin-left: 10px;font-size: 12px;color:#fff6eb;font-family:"\\5B8B\\4F53",SimSun;}

.header-nav-back s{border-left-color:#ff8808}
.header-nav-box li{border-color:#f3995e}
.header-nav-box li a:hover{ background: #d96d25;}

.header-content .search-tools dt,

.header-content .search-tools dd{float:left;}
.header-content .search-tools .hot-keys a{color:#fff6eb;margin-right:12px;}
.header-content .search-tools .hot-keys a:hover{text-decoration: underline;}
.search-tools span{display: inline-block;*display: inline;*zoom: 1; margin-right: 20px;}
.header-search-content label{ display: none;}
.header-rearch-submit{height:33px;line-height:33px;*line-height:36px;_line-height:33px;text-align:center;display: inline-block;*display: inline;*zoom: 1; color: #fff;
    background: #d37100;}
.header-rearch-submit:hover{color:#fff; text-decoration: none; background: #c75700;}
.header-rearch-hotkey{ height:20px; line-height: 20px; width: 200px; overflow: hidden;}
.header-rearch-hotkey,.header-rearch-hotkey a{  text-decoration: none; color:#666;}
.header-rearch-hotkey a:hover { color:#EB7E00;}
/*rank*/