@charset "UTF-8";

a { color:#333;}

img{border:none;}
.guide-icon{
	font-size:0px;
	background-repeat: no-repeat;
	background-color: transparent;
	display: inline-block;
	background-image:url(../../images/t/teach/b5m-plugin-teach.png) !important;
	_background-image:url(../../images/t/teach/b5m-plugin-teach-8bit.png);
	_line-height:0px;
}
#page_wrap{
	height:900px;
}
/* .header{
	margin:0 auto;
	width:1200px;
	height:50px;
	position:relative;
} */

.plugin-panel-msg{
	display:block;
	margin:15px auto;
	width:349px;
	height:70px;
	/*background-position: -400px -1500px;*/
}
.plugin-panel-msg-install{
	background-position: 0 -2543px;
}
.center-wrap{
	width: 835px;
	margin:0 auto;
	height:670px;
}
.center{
	position:relative;
}
.mac{
	width: 835px;
	height: 634px;
	background-position: -40px -1730px;
	position: relative;
	padding-top:36px;
}
.guide-title{
	background-position: 0 -70px;
    display: block;
    height: 50px;
    margin: 15px auto 10px;
    width: 450px;
}
.plugin-panel-tip{
	display:block;
	position:absolute;
	width:185px;
	height:200px;
	background-position:0px -375px;
	top: 25px;
	right: 0px;
	z-index: 10;
}
.sejie-guide .plugin-panel-tip{
	background-position:0px -575px;
}
/*********/
.slide-wrap{
	width: 766px;
	height:430px;
	margin: 0 auto;
	position:relative;
	overflow:hidden;
}
.plugin-panel{
    position: absolute;
}
.sejie-guide .plugin-panel{
	background-position:-375px -800px;
}
.bijia_panel{
	background-position:0 -2758px;	
	width:743px;
	height:231px;
	left:18px;
	top:-230px;
}
.sejie_panel{
	right: -300px;
	top: 90px;
	width: 310px;
	background-position:0px -800px;
    height: 375px;
}
/*******      *********/
.btn-toggle{
	width:40px;
	height:95px;
	position:absolute;
	right: -34px;
	top: 75px;
	z-index: 100;
}
#btn_sejie{
	top: 185px;
}
.btn-toggle a{
	display: inline-block;
	background-position: -450px -400px;
	width: 40px;
	height:95px;
}
#btn_bijia a{
	background-position: -450px -400px;
}
#btn_bijia a:hover,#btn_bijia .guide-selected{
	background-position:-400px -400px;	
}
#btn_sejie a{
	background-position:-500px -400px;
}
#btn_sejie a:hover,#btn_sejie .guide-selected{
	background-position:-550px -400px;
}

/** footer  **/
.buttons-wrap{
	margin:0 auto;
	width:100%;
	bottom:0px;
}
.buttons{
	position:relative;
	background:#FFFFFF url(../../images/t/teach/b5m-plugin-teach-buttons-bg.png) center top no-repeat;
	margin:0 auto;
	width:1200px;
	height:150px;
	padding-top:20px;
}
.buttons-arrow{
	width: 100px;
	height: 155px;
	position:absolute;
	top: -165px;
	left: -30px;
	text-align:center;
	padding-left: 60px;
}
.buttons-arrow a{
	background-position:-700px -300px;
	width:110px;
	height:50px;
	display: block;
	cursor:pointer;
}
.buttons-arrow span{
	background:url(../../images/t/teach/arrow.gif) 0 0  no-repeat;
	width: 67px;
	height:134px;
	display:block;
}
.sejie-guide .buttons-arrow{
	width: 250px;
	height: 75px;
	position:absolute;
	top: 0px;
	left: -50px;
}
.sejie-guide .buttons-arrow span{
	background:url(../../images/t/teach/arrow2.gif) 0 0  no-repeat;
	width:134px;
	height:67px;
	display: inline-block;
	position: relative;
	bottom: -30px;
	left: 0px;
}
.sejie-guide .buttons-arrow a,.sejie-guide .buttons-arrow img{
	display:inline-block;
}
.sejie-guide .buttons-arrow a{
	position: relative;
}
.sejie-guide  .buttons ul{
	width:660px;
}
.buttons ul{
	margin:0 auto;
	list-style:none;
	width:1095px;
	height:85px;
}
.buttons ul li{
	float:left;
}
.buttons .btn-bg{
	display:block;
	width:115px;
	height:50px;
	background:url(../../images/t/teach/b5m-plugin-teach.png) -50px -325px  no-repeat;
	_background:url(../../images/t/teach/b5m-plugin-teach-8bit.png) -50px -325px  no-repeat;
}
.buttons a.btn-bg:hover{
	background:url(../../images/t/teach/b5m-plugin-teach.png) -175px -325px  no-repeat;
	_background:url(../../images/t/teach/b5m-plugin-teach-8bit.png) -175px -325px  no-repeat;
}
.buttons .btn-icon{
	display:block;
	margin:0 auto;
	width:105px;
	height:44px;
}
/**360buy**/
.btn-1 .btn-icon{
	background-position:-400px -1325px;
}
/**amazon**/
.btn-2 .btn-icon{
	background-position:-525px -1325px;
}
/**dangdang**/
.btn-3 .btn-icon{
	background-position:-400px -1375px;
}
/**suning**/
.btn-4 .btn-icon{
	background-position:-650px -1325px;
}
/**yihaodian**/
.btn-5 .btn-icon{
	background-position:-400px -1425px;
}
/**51buy**/
.btn-6 .btn-icon{
	background-position:-650px -1375px;
}
/**gnome**/
.btn-7 .btn-icon{
	background-position:-525px -1375px;
}
/**tmall**/
.btn-8 .btn-icon{
	background-position:-650px -1425px;
}
/**coo8**/
.btn-9 .btn-icon{
	background-position:-525px -1425px;
}
/**** mogujie ***/
.sejie-guide .btn-1 .btn-icon{
	background-position:-400px -1200px;
}
/** meilishuo **/
.sejie-guide .btn-2 .btn-icon{
	background-position:-525px -1200px;
}
/** huaban **/
.sejie-guide .btn-3 .btn-icon{
	background-position:-650px -1200px;
}
/** tuitang **/
.sejie-guide .btn-4 .btn-icon {
	background-position:-400px -1250px;
}
/** guangjie **/
.sejie-guide .btn-5 .btn-icon {
	background-position:-525px -1250px;
}
.sejie-guide .btn-6,.sejie-guide .btn-7,.sejie-guide .btn-8,.sejie-guide .btn-9{display:none;}
.buttons .btn-text{
	display:block;
	margin-top:8px;
	width:115px;
	text-align:center;
	font-weight:bold;
}
.buttons .btn-more{
	display:block;
	height:50px;
	width:50px;
	margin-left:10px;
	background:url(../../images/t/teach/b5m-plugin-teach.png) -400px -280px  no-repeat;
	_background:url(../../images/t/teach/b5m-plugin-teach-8bit.png) -400px -280px  no-repeat;
}
.welcome-text{
	margin:0 auto;
	margin-top:20px;
	height:50px;
	line-height:24px;
	text-align:center;
	font-weight:bold;
	color:#989898;
}
.bg-mask{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background-color:#000000;
	filter:alpha(opacity=50); /* IE 透明度20% */
	-moz-opacity:0.8; /* Moz + FF 透明度20%*/
    opacity: 0.8; /* 支持CSS3的浏览器（FF 1.5也支持）透明度20%*/
	z-index: 100;
}

.msgbox{
	position:absolute;
	top:-1000px;
	left:-1000px;
	width:658px;
	height:359px;
	display:display;
	background:url(../../images/t/teach/bg-dialog.png) no-repeat;
	z-index: 1000;
}
.msgbox-body{
	margin:0px auto;
	margin-top:114px;
	width:562px;
}
.msgbox .email-tip,.msgbox .copy-tip{
	height:30px;
}
.msgbox .copy-tip{
	color:#B08C79;
}
.msgbox .copy-tip a{
	color:#77A1F3;
}
.msgbox  input{
	height:24px;
	line-height:24px;
	font-size:14px;
	font-weight:bold;
	color:#666666;
	vertical-align:middle;
}
.msgbox input#ipt_email{
	margin-left:10px;
	width:368px;
}
.msgbox input#ipt_sharelink{
	width:450px;
	background-color:#D1C5BB;
}
.msgbox .btn{
	display:inline-block;
	margin-left:15px;
	height:30px;
	line-height:26px;
	font-size:14px;
	border:none;
	text-align:center;
	color:#FFFFFF;
}

.msgbox .btn-ok{
	width:68px;
	background:url(../../images/t/teach/btn-red-w68.png) no-repeat;
}
.msgbox .btn-copy{
	width:91px;
	background:url(../../images/t/teach/btn-red-w91.png) no-repeat;
}
.msgbox .shareWrap{
	margin-top:10px;
}
.msgbox .share-label{
	display:inline-block;
	_dispay:inline;
	height:32px;
	line-height:32px;
	vertical-align:middle;
}
.msgbox .jiathis_style_32x32{
	display:inline-block;
	_dispay:inline;
	vertical-align:middle;
}

.msgbox .error{
	text-indent: 5em;
	margin:0 auto;
	color:#FF0000;
	height:30px;
	line-height:30px;
}
.msgbox .close {
	background:#FFFFFF url(../../images/t/teach/btn-close.png) no-repeat;
	width: 20px;height: 20px;
	float: right;margin-top: 10px;margin-right: 10px;
	cursor: pointer;
}

.tab_sejie{display:none;}
