/* 
    Document   : taolun
    Created on : 2014-01-03, 11:30;
    Author     : zibu
    Description: index.html
    Purpose of the stylesheet follows.
*/
/*header 20140102 zibu s*/
.header .header-tools-search .header-search-content{ border-color: #b057c9;}
.header .header-tools-search .header-search-key{border-radius:0;}
.header .header-rearch-submit{ background: #b057c9; border-radius:0; }
.header .header-nav-box{ background-color: #b057c9;}
.header .header-nav-back{background-color: #9e4eb5;}
.header .header-nav-box li{ border-color: #9d43b7;}
.header .header-nav-box li a:hover{ background-color: #ab43c8;}
.header .header-nav-box li.cur a{ background: #ffffff; color: #000; }
.header .header-nav-box .wp{ margin: 0px auto 0px;}
.header-nav-back a:hover{ color: #fff;}
/*header 20140102 zibu e*/
