/***Layout -Start- gaotian - 20131119***/
.wp{width:980px;margin:0 auto;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,.clear-fix:before{content:" ";display:table;}.clear-fix:after{clear:both;}.clear-fix{*zoom:1;}
.list-h li{float:left;}
img{vertical-align: top;}
.mt4{margin-top:4px;}
.mt6{margin-top:6px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt20{margin-top:20px;}
.mt50{margin-top:50px}
.mb20{margin-bottom:20px}
.pz{position:relative;z-index:0}
.txt-center{text-align:center}
.bord,.zdm-brd{ border:1px #dedede solid;}
a{color:#333}
a:hover{color:#EB7E00}
u,s,small{font-style:normal;font-size:12px;text-decoration:none}
/***Layout -End- zibu - 20131119***/
.bg-in .tip-korea-head{ display: none !important;}
/*header s*/
.zdm-icon{  background-image: url(../../../images/jiagebaogao/v3/search-btn.png); background-repeat: no-repeat;}
.header-rearch-submit{  background: #0bcea6;font-size: 14px; font-weight:bold; text-align: center;}
.header-rearch-submit:hover{ background: #07be8d; color: #fff;}
.header .search-bar{ background: #0fb996;}
.header .search-tools .header-search-content{ border:none; }
.search-bar .wp{overflow:hidden; zoom:1; height: 47px;}
.nav-list{ margin-left: 0px;}
.nav-list li{ width: 112px; background: none; font-size: 14px; padding: 0; }
.nav-list li.cur,
.nav-list li:hover{margin-left:0px;padding-left:0px;}
.nav-list li a{ display: block; border-left: 1px #00ac8a solid; color: #fff; font-size: 14px;}
.nav-list li a:hover{background-color: #00ac8a;}
.nav-list li.cur a{ color: #333; background: #fff; position: relative;}
.back-home{ width: 196px; height: 47px; float: left; line-height: 47px; font-size: 14px; font-family:\5FAE\8F6F\96C5\9ED1;}
.back-home a{ color: #fff; display: block; background-color: #00ac8a; padding-left: 78px;height: 47px; background-position: -110px 13px;}
.back-home a:hover{ background-color: #00ac8a; color: #fff;}
.header-nav-back .icon{ background: none;}
.header-nav-back s{border-left-color:#0fb996}
.zdm-slogin,
.life-slogin,
.find-slogin,
.ts-slogin{ width: 130px; height: 47px; float: right;}
.zdm-slogin{background-position: right -24px;}
.life-slogin{background-position: right -115px;}
.find-slogin{background-position: right -211px;}
.ts-slogin{background-position: right -163px;}
.search-tools .header-search-key{border: 1px solid #c8c8c8; border-right: none;}
/*header e*/
/***Head -End- zibu - 20131119***/
/***Crumb -Start- zibu - 20131119***/
.crumb{color:#999;  padding: 10px 0px; line-height: 22px;}
.crumb{ padding: 10px 0px; line-height: 22px;}
.crumb strong{ color: #333;}
.crumb h2 em{ color: #e43b5a;}
.crumb span{ color: #999999;}
.crumb a,
.crumb h2{ color: #999999;}
/***Crumb -End- zibu - 20131119***/
/***com -s- zibu - 20131211***/
.bj-main{ width: 742px;}
.bj-aside{ width: 218px;}
.icon{ background: url(../../../images/jiagebaogao/v3/bg-icon.png); _background: url(../../../images/jiagebaogao/v3/bg-icon8.png); background-repeat: no-repeat;}
.bg-tit h2{ width: 218px; height: 45px; position: relative; left:-1px; top: -1px;}
.bg-tit .tit-gb1{ background-position: left top;}
.line-de{  width:600px; margin:0 auto;height: 5px; border-bottom: 1px #e4e4e4 dashed; overflow: hidden;}
/***com -e- zibu - 20131211***/
/*jigebaogao main e*/
.zdm-items{padding-bottom: 20px;}
.zdm-items li{ border-bottom: 1px #ddd dashed; padding-bottom: 20px;}
.zdm-items li:hover{ background: #f7f7f7;}
.zdm-item{ padding: 20px 448px 5px 20px; width: 272px;}
.zdm-item dt{ float: right; margin-right: -448px; *right: -20px; _display: inline; zoom:1; width: 428px; height: 200px; position: relative;}
.zdm-item dt a.pic{ width: 428px; height: 200px; overflow: hidden; text-align: center; display: table-cell;display: block\9; vertical-align:middle; *display: block; *font-size: 157px; *font-family:Arial;}
.zdm-item dt a.pic img{ max-width: 428px; max-height: 200px; vertical-align:middle;}
.zdm-item dt span{ width: 180px; height: 35px; position: absolute; left: 0; bottom: 0; display: none; line-height: 35px; text-align: center; background: #000; opacity: 0.5;filter: alpha(opacity=50);}
.zdm-item dt span a{ color: #fff;}
.zdm-item dd h2{ font-size: 20px; color:#333;font-family:\5FAE\8F6F\96C5\9ED1; font-weight: bold;}
.zdm-item dd em,
.zdm-item dd strong{ color: #e43b5a; font-weight: bold;}
.zdm-item dd h2{ font-size: 20px; color:#333; font-weight: bold;}
.zdm-item dd strong{ display: block; font-size: 16px;font-family:\5FAE\8F6F\96C5\9ED1;}
.zdm-item dd .text{ padding-top: 10px;line-height: 22px; text-indent: 2em;}
.zdm-item dd .tx-me{ background: #f7f7f7 ; border:1px #dedede solid; line-height: 20px; padding:2px 5px;  margin-top: 10px;}
.zdm-item dd .tx-me a{ background-position: 12px -631px; padding-left: 30px; color: #000;}
.zdm-info{ padding: 0 5px; color: #e6e6e6; overflow: hidden; zoom:1;}
.zdm-info span,
.zdm-info strong a{ margin:0 2px 0 12px; height: 14px; line-height: 14px; display: inline-block; padding-left: 20px;color: #666; }
.zdm-info strong{ font-weight: normal;}
.zdm-info span em{ color: #999}
.zdm-info span { margin-top: 6px;}
.zdm-info .i-author{ background-position: left -115px;}
.zdm-info .i-date{ background-position: left -144px;}
#zdm-share{ float: right; padding-right: 15px; height: 24px; overflow: hidden; font-size: 12px;}
#zdm-share em{ float: left; margin-top: 2px; background-position: 90px -600px; padding-right: 14px; color: #666; display: inline-block;}
#zdm-share a{ width: 24px; height: 24px; margin-right: 0px; float: left; display: inline; margin-left: 2px; padding: 0px;}
#zdm-share a img{ display: block; vertical-align: top;}
#zdm-share .bshare-qzone,
#cloud-share .bshare-qzone{ background: url(../../../images/jiagebaogao/v3/share_01.jpg) no-repeat;}
#zdm-share .bshare-sinaminiblog,
#cloud-share .bshare-sinaminiblog{ background: url(../../../images/jiagebaogao/v3/share_02.jpg) no-repeat;}
#zdm-share .bshare-qqmb,
#cloud-share .bshare-qqmb{ background: url(../../../images/jiagebaogao/v3/share_03.jpg) no-repeat;}
#zdm-share .bshare-renren,
#cloud-share .bshare-renren{ background: url(../../../images/jiagebaogao/v3/share_04.jpg) no-repeat;}
/*jigebaogao main e*/

.hot-goods{ margin-bottom: 20px;}
.goods-tiems{ padding: 10px 10px 0;}
.goods-tiems dt{ height: 20px; line-height: 20px; overflow: hidden; }
.goods-tiems dt em{ width: 20px; height: 20px; background: #d0d0d0; margin-right: 5px; _display: inline; float: left; text-align: center; color: #fff;
				 -webkit-border-radius:50% 50%;
				 -moz-border-radius:50% 50%;
				 -ms-border-radius:50% 50%;
				 -o-border-radius:50% 50%;
				 border-radius:50% 50%;}
.goods-tiems dt .bg{ background: #fe8d3a;}
.goods-tiems dt a{ float: left; line-height: 16px; height: 16px; overflow: hidden; text-overflow:ellipsis; width: 170px; color: #666666;}
.goods-tiems dt a:hover{ color: #f18100;}
.goods-tiems dd{ display:none;}
.goods-tiems .rank-pic{margin-top: 10px;}
.goods-tiems .rank-pic .pic img{ float: right; width: 60px; height: 60px; margin-top: 15px;}
.goods-tiems .rank-pic p{ line-height: 18px; text-indent: 2em; color:#999;}
.goods-tiems .rank-pic{ padding: 8px 0; border-top: 1px #ddd dotted; border-bottom: 1px #ddd dotted;}
.goods-tiems .rank-pic ul{ float: left; width: 135px;}
.goods-tiems .rank-pic li{ overflow: hidden; *zoom:1; height: 25px; line-height: 25px; padding: 2px 0;}
.goods-tiems .rank-pic li img{ float: left; width: 56px; height: 25px;}
.goods-tiems .rank-pic li span{ float: left;font-family:\5fae\8f6f\96c5\9ed1,"Tahoma"; color: #666666;}
.gustiry-low .goods-tiems dt .bg{ background: #11b8b1;}
.bg-tit .tit-gb2{ background-position: left -52px;}
/* page */
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma; padding:15px 0;}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:32px;line-height:32px; width:auto; font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:\5b8b\4f53}
.page a.first,.page a.last{width:43px}
.page a:hover{color:#fff;background-color:#0fb996;background-image:none;border-color:#0fb996;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#0fb996;font-family:arial;border-radius:3px;cursor:default; border:1px solid #0fb996;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:50px;margin-right:0;text-align:right;font-family:\5b8b\4f53}
.page .page-input{font-family:\5b8b\4f53;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #00ac8a;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#0fb996;border:1px solid #00ac8a;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}
.page span.go { margin-top: 2px;}

/***Side -Start- gaotian - 20131119***/
.side-menu{float:left;width:198px;padding-bottom:6px;border:1px solid #e4e4e4}
.side-menu li{position:relative;z-index:0;padding:10px 0 10px 46px;line-height:14px;}
.side-menu li:nth-child(2n){background:#f5f5f5}
.side-menu li.odd{background:#f5f5f5}
.side-menu li .side-menu-ico{display:none;position:absolute;top:0;right:100%;z-index:1;width:8px;height:40px;background:url(../../../images/jiagebaogao/bg.png) no-repeat;}
.side-menu li.active .side-menu-ico{display:block;}
.side-menu li.active{background:#f4772c;color:#fff}
.side-menu li.active a{color:#fff;}
.side-menu li.no-data,.side-menu li.no-data a{color:#999}
/***Side -End- gaotian - 20131119***/
/***历史最低价 -End- gaotian - 20131119***/
.l{float:left}
.column-zdj{float:left;width:780px;padding-bottom:20px;}
.column-zdj li{display:inline;float:left;width:240px;height:386px;margin-left:20px;color:#666;font-family:Microsoft YaHei, "微软雅黑";line-height:14px;}
.column-zdj .pic,.column-zdj .pic img{width:238px;height:238px;}
.column-zdj .pic{display:block;position:relative;z-index:0;overflow:hidden;margin-bottom:2px;border:1px solid #e4e4e4;transition:border 0.4s ease-in-out}
.column-zdj .pic:hover,.bp-player .pic:hover{border-color:#EB7E00}
.column-zdj .pic small{position:absolute;bottom:-100%;left:0;z-index:1;width:208px;padding:10px 15px;background-color:#000;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);background:rgba(0,0,0,.5);color:#fff;transition:bottom .4s ease-in-out}
.column-zdj .pic:hover small{bottom:0}
.column-zdj small strong{display:block;height:36px;overflow:hidden;word-break:break-all;line-height:18px;}
.column-zdj small span{display:block;margin:2px 0 8px;padding-bottom:16px;border-bottom:1px dashed #fff;}
.column-zdj small b{float:right;font-weight:normal;}
.column-zdj small u{float:right}
.column-zdj li a{color:#666;}
.column-zdj li a:hover,.column-zdj p b,.side-menu li.no-data a:hover,.bp-player .tit:hover{color:#EB7E00}
.column-zdj li p{padding-bottom:6px;}
.column-zdj li p u{float:right;color:#999}
.column-zdj .tit{display:block;width:238px;height:14px;overflow:hidden;margin-top:4px;margin-bottom:11px;white-space:nowrap;text-overflow:ellipsis;}
.column-zdj li .bt_yellow{margin-top:9px;}
.column-zdj li .bt_yellow,.column-zdj li .bt_yellow:hover{color:#fff;}
.column-zdj .page{margin-left:20px;width:auto}
/***历史最低价 -End- gaotian - 20131119***/

/***商家大比拼 -Start- gaotian - 20131119***/
.column-bp .medal{display:inline-block;width:18px;height:16px;margin-right:2px;background-image:url(../../../images/jiagebaogao/bg.png);font-size:0;line-height:0;vertical-align:-3px;_vertical-align:-2px}
.medal-gold{background-position:-118px 0}
.medal-silver{background-position:-140px 0}
.medal-bronze{background-position:-160px 0}
.column-bp{display:inline;float:left;width:760px;margin-left:20px;border-top:1px solid #e4e4e4}
.bp-table{width:760px;border:1px solid #e4e4e4;_border-top-color:#fff;line-height:14px;font-family:Arial;text-align:center;}
.bp-table thead th{padding:18px 0;border:1px solid #e4e4e4;border-top-color:#fff;background:#f5f5f5;color:#666;font-weight:bold;font-size:14px;text-align:center;}
.bp-table td{padding:26px 14px;border:1px solid #e4e4e4;}
.bp-player .pic,.bp-player .pic img{width:98px;height:98px;}
.bp-player .pic{float:left;border:1px solid #e4e4e4}
.bp-player .tit{display:inline;float:left;width:110px;margin:4px -20px 0 10px;color:#666;line-height:18px;text-align:left}
.bp-tdCont{height:148px;overflow:hidden;margin:-27px -14px;}
.bp-tdCont table{width:101%;margin:-1px -1px -2px -2px;color:#666;text-align:center;}
.bp-tdCont td{height:60px;border-style:dashed;text-align:center;}
.bp-tdCont .img{height:87px;_height:92px;}
*html .bp-tdCont .img a{display:block;width:110px;height:56px;overflow:hidden;}
.bp-tdCont .img img{_width:110px;max-width:110px;max-height:56px;}
.bp-tdCont b{display:block;padding-bottom:8px;font-weight:normal;font-size:12px;}
.bp-table .price{color:#d50000;font-size:16px;line-height:18px;font-weight:bold;font-family:"Microsoft YaHei",Simhei,Arial;}
.bp-table .price s{margin-right:2px;}
.bp-tdCont td{padding:0}
.column-bp .page{padding:20px 0;}
/***商家大比拼 -End- gaotian - 20131119***/
/***电商价格战 -Start- zibu - 20140106***/
.jgbg-mian{ width: 600px; margin: 0 auto;}
.line-de {margin: 40px auto; height: 1px;border-bottom: 1px #e4e4e4 solid;overflow: hidden;}
.index-floor{ position: relative; width: 100%;}

.more-w{ overflow:hidden; height:42px;  margin-bottom: -20px; margin-top: 20px; position: relative;}
.more-w a{ right: 36px;}
.ds-compare{ border: 1px #ddd solid; padding-bottom: 30px;}
.ds-compare .tit{ line-height: 68px; height: 68px; text-align: center; color: #fff; border-bottom: 1px #ddd dashed; font-size: 30px;}
.ds-compare .items{ width: 100%; overflow: hidden;}
.ds-compare .items li{ height: 27px; margin-top: 40px; overflow: hidden;}
.ds-compare .mall{ float: right; width: 150px; line-height: 27px; font-size: 18px; font-family: 'microsoft yahei'; color: #999; margin-right: 20px; _display: inline;}
.ds-compare .mall span{ float: right;}
.g-picre01{ height: 650px; margin-top: 35px;}
.g-picre01 div{ width: 100%; height: 650px; position: absolute;  bottom: -200px; left: 0; opacity:0;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
	-webkit-transform:scale(.1,.1);
	-moz-transform:scale(.1,.1);
	-ms-transform:scale(.1,.1);
	transform:scale(.1,.1);}
.g-picre01.animate div{opacity:1;  bottom: 0;
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
	-ms-transform:scale(1,1);
	transform:scale(1,1);}
.g-picre01.animate .a1{-webkit-transition-delay:.1s; -moz-transition-delay:.1s; -ms-transition-delay:.1s; transition-delay:.1s;}
.g-picre01.animate .a2{-webkit-transition-delay:.2s; -moz-transition-delay:.2s; -ms-transition-delay:.2s; transition-delay:.2s;}
.g-picre01.animate .a3{-webkit-transition-delay:.3s; -moz-transition-delay:.3s; -ms-transition-delay:.3s; transition-delay:.3s;}
.g-picre01.animate .a4{-webkit-transition-delay:.4s; -moz-transition-delay:.4s; -ms-transition-delay:.4s; transition-delay:.4s;}
.g-picre01.animate .a5{-webkit-transition-delay:.5s; -moz-transition-delay:.5s; -ms-transition-delay:.2s; transition-delay:.5s;}
.g-picre01.animate .a6{-webkit-transition-delay:.6s; -moz-transition-delay:.6s; -ms-transition-delay:.6s; transition-delay:.6s;}
.g-picre01 .a1{ background:url(../../../images/jiagebaogao/201402/chart/a1.png) no-repeat bottom center; z-index: 6;}
.g-picre01 .a2{ background:url(../../../images/jiagebaogao/201402/chart/a2.png) no-repeat;}
.g-picre01 .a3{ background:url(../../../images/jiagebaogao/201402/chart/a3.png) no-repeat;}
.g-picre01 .a4{ background:url(../../../images/jiagebaogao/201402/chart/a4.png) no-repeat;}
.g-picre01 .a5{ background:url(../../../images/jiagebaogao/201402/chart/a5.png) no-repeat;}
.g-picre01 .a6{ background:url(../../../images/jiagebaogao/201402/chart/a6.png) no-repeat;}
.g-picre01.animate div.dis { -webkit-transform:none; -moz-transform:none; -ms-transform:none; transform:none;  -webkit-transition:none; -moz-transition:none; -ms-transition:none; transition:none;}
.more-btn{position: absolute; width: 130px; color: #fff; height: 42px; background:url(../../../images/jiagebaogao/v4/chart/more-btn.png) no-repeat; display:block; line-height: 36px; text-align: center; font-family: 'microsoft yahei'; font-size: 16px;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
}
.more-btn:hover{ color: #fff;}
.g-picre02{ margin-top: 50px; margin-bottom: 10px; border: 1px #5c95f3 solid;}
.g-picre02 .items{ height: 500px;}
.g-picre02 .tit{ background: #5c95f3; font-size: 38px; font-family: 'microsoft yahei';}
.g-picre02 .bar{ width: 384px; height: 38px;  background:url(../../../images/jiagebaogao/201402/bar-icon.png) repeat-x; position:relative; left: 31px; overflow: hidden;}
.g-picre02 .bar div{ width: 100%; height: 37px; right: 100%; position: absolute; background: url(../../../images/jiagebaogao/v4/bar.png) repeat-x;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;}
.g-picre02 .bar1 div{ background:#72a7ff;}
.g-picre02 .bar2 div{ background:#4fc2f2;}
.g-picre02 .bar3 div{ background:#4cdbd3;}
.g-picre02 .bar4 div{ background:#63d749;}
.g-picre02 .bar5 div{ background:#bdda39;}
.g-picre02 .bar6 div{ background:#d8d635;}
.g-picre02 .bar7 div{ background:#deb547;}
.g-picre02.animate .bar1 div{ right: 63.9%;}
.g-picre02.animate .bar2 div{ right: 81.8%;}
.g-picre02.animate .bar3 div{ right: 83.1%;}
.g-picre02.animate .bar4 div{ right: 90.6%;}
.g-picre02.animate .bar5 div{ right: 93.4%;}
.g-picre02.animate .bar6 div{ right: 98.5%;}
.g-picre02.animate .bar7 div{ right: 96.7%;}
.g-picre03{ height: 680px; background: url(../../../images/jiagebaogao/201402/pic-01.png) no-repeat;}
.g-picre04{height: 740px; }
.g-picre04 .ca{opacity:0; position: absolute; left: 0;
	-webkit-transition: all ease .7s;
	-moz-transition: all ease .7s;
	-ms-transition: all ease .7s;
	transition: all ease .7s;}
.g-picre04.animate .ca{opacity:1; }
.g-picre04 .ca0{ width: 90px; height: 113px; left: 240px; bottom: 2px; background:url(../../../images/jiagebaogao/201402/chart/ba00.png) no-repeat;}
.g-picre04 .ca1{ width: 104px; height: 155px; left: -70px; bottom: 60px; background:url(../../../images/jiagebaogao/201402/chart/ba01.png) no-repeat;}
.g-picre04 .ca2{ width: 74px; height: 106px; left: -80px; bottom: 215px; background:url(../../../images/jiagebaogao/201402/chart/ba02.png) no-repeat;}
.g-picre04 .ca3{ width: 78px; height: 80px; left: -80px; bottom: 340px; background:url(../../../images/jiagebaogao/201402/chart/ba03.png) no-repeat;}
.g-picre04 .ca4{ width: 80px; height: 55px; left: -80px; bottom: 444px; background:url(../../../images/jiagebaogao/201402/chart/ba04.png) no-repeat;}
.g-picre04 .ca5{ width: 111px; height: 71px; left: -80px; top: 177px; background:url(../../../images/jiagebaogao/201402/chart/ba05.png) no-repeat;}
.g-picre04 .ca6{ width: 132px; height: 108px; left: -80px; top: 118px; background:url(../../../images/jiagebaogao/201402/chart/ba06.png) no-repeat;}
.g-picre04 .ca7{ width: 83px; height: 101px; left: -8px; top: 105px; background:url(../../../images/jiagebaogao/201402/chart/ba07.png) no-repeat;}
.g-picre04 .ca8{ width: 116px; height: 142px; left: -5px; top: 35px; background:url(../../../images/jiagebaogao/201402/chart/ba08.png) no-repeat;}
.g-picre04 .ca9{width: 58px; height: 144px; left: -75px; top: 21px; background:url(../../../images/jiagebaogao/201402/chart/ba09.png) no-repeat;}
.g-picre04 .ca10{width: 58px; height: 85px; left: 112; top: 72px; background:url(../../../images/jiagebaogao/201402/chart/ba10.png) no-repeat;}
.g-picre04 .ca11{width: 58px; height: 147px; left: 148px; top: 0px; background:url(../../../images/jiagebaogao/201402/chart/ba11.png) no-repeat;}
.g-picre04 .ca12{width: 95px; height: 142px; left: 192px; top: 0px; background:url(../../../images/jiagebaogao/201402/chart/ba12.png) no-repeat;}
.g-picre04 .ca13{width: 80px; height: 95px; left: 212px; top: 53px; background:url(../../../images/jiagebaogao/201402/chart/ba13.png) no-repeat;}
.g-picre04 .ca14{width: 140px; height:56px; left: 226px; top: 89px; background:url(../../../images/jiagebaogao/201402/chart/ba14.png) no-repeat;}
.g-picre04 .ca15{width: 165px; height: 98px; left: auto; right: -80px; top: 170px; background:url(../../../images/jiagebaogao/201402/chart/ba15.png) no-repeat; z-index: 101;}
.g-picre04.animate .ca0{left: 310px; -webkit-transition-delay:0.9s; -moz-transition-delay:0.9s; -ms-transition-delay:0.9s; transition-delay:0.9s;}
.g-picre04.animate .ca1{left: 10px; -webkit-transition-delay:1.1s; -moz-transition-delay:1.1s; -ms-transition-delay:1.1s; transition-delay:1.1s;}
.g-picre04.animate .ca2{left: 0px;-webkit-transition-delay:1.2s; -moz-transition-delay:1.2s; -ms-transition-delay:1.2s; transition-delay:1.2s;}
.g-picre04.animate .ca3{left: 0px;-webkit-transition-delay:1.3s; -moz-transition-delay:1.3s; -ms-transition-delay:1.3s; transition-delay:1.3s;}
.g-picre04.animate .ca4{left: 0px; -webkit-transition-delay:1.4s; -moz-transition-delay:1.4s; -ms-transition-delay:1.4s; transition-delay:1.4s;}
.g-picre04.animate .ca5{left: 0px; -webkit-transition-delay:1.5s; -moz-transition-delay:1.5s; -ms-transition-delay:1.5s; transition-delay:1.5s;}
.g-picre04.animate .ca6{left: 0px; -webkit-transition-delay:1.6s; -moz-transition-delay:1.6s; -ms-transition-delay:1.6s; transition-delay:1.6s;}
.g-picre04.animate .ca7{left: 88px; -webkit-transition-delay:1.7s; -moz-transition-delay:1.7s; -ms-transition-delay:1.7s; transition-delay:1.7s;}
.g-picre04.animate .ca8{left: 75px; -webkit-transition-delay:1.8s; -moz-transition-delay:1.8s; -ms-transition-delay:1.8s; transition-delay:1.8s;}
.g-picre04.animate .ca9{left: 155px; -webkit-transition-delay:1.9s; -moz-transition-delay:1.9s; -ms-transition-delay:1.9s; transition-delay:1.9s;}
.g-picre04.animate .ca10{left: 192px; -webkit-transition-delay:2s; -moz-transition-delay:2s; -ms-transition-delay:2s; transition-delay:2s;}
.g-picre04.animate .ca11{left: 228px; -webkit-transition-delay:2.1s; -moz-transition-delay:2.1s; -ms-transition-delay:2.1s; transition-delay:2.1s;}
.g-picre04.animate .ca12{left: 272px; -webkit-transition-delay:2.2s; -moz-transition-delay:2.2s; -ms-transition-delay:2.2s; transition-delay:2.2s;}
.g-picre04.animate .ca13{left: 292px; -webkit-transition-delay:2.3s; -moz-transition-delay:2.3s; -ms-transition-delay:2.3s; transition-delay:2.3s;}
.g-picre04.animate .ca14{left: 306px; -webkit-transition-delay:2.4s; -moz-transition-delay:2.4s; -ms-transition-delay:2.4s; transition-delay:2.4s;}
.g-picre04.animate .ca15{right: 0px; -webkit-transition-delay:2.5s; -moz-transition-delay:2.5s; -ms-transition-delay:2.5s; transition-delay:2.5s;}
.g-picre04 .chart-mask{ width: 232px; height: 232px; position: absolute; top: 270px; left: 196px; background:#b5b5b5; border-radius: 50%; z-index: 101;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	transition: all ease .5s;
	-webkit-transform: scale(0) rotate(180deg);
	-moz-transform: scale(0) rotate(180deg);
	-ms-transform: scale(0) rotate(180deg);
	transform: scale(0) rotate(180deg);}
.g-picre04.animate .chart-mask{
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);}

.g-picre04 .chart-cont{ top: 136px; position: absolute; left: 62px; width: 502px; height: 502px; z-index: 10;}
.g-picre04 .chart-cont div{width: 100%; height: 502px; opacity:0; position: absolute; left: 0; top: 0;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;
	-webkit-transform:scale(.1,.1);
	-moz-transform:scale(.1,.1);
	-ms-transform:scale(.1,.1);
	transform:scale(.1,.1);}
.g-picre04 .chart-cont .c0{background:url(../../../images/jiagebaogao/201402/chart/b00.png) no-repeat;}
.g-picre04 .chart-cont .c1{background:url(../../../images/jiagebaogao/201402/chart/b01.png) no-repeat;}
.g-picre04 .chart-cont .c2{background:url(../../../images/jiagebaogao/201402/chart/b02.png) no-repeat;}
.g-picre04 .chart-cont .c3{background:url(../../../images/jiagebaogao/201402/chart/b03.png) no-repeat;}
.g-picre04 .chart-cont .c4{background:url(../../../images/jiagebaogao/201402/chart/b04.png) no-repeat;}
.g-picre04 .chart-cont .c5{background:url(../../../images/jiagebaogao/201402/chart/b05.png) no-repeat;}
.g-picre04 .chart-cont .c6{background:url(../../../images/jiagebaogao/201402/chart/b06.png) no-repeat;}
.g-picre04 .chart-cont .c7{background:url(../../../images/jiagebaogao/201402/chart/b07.png) no-repeat;}
.g-picre04 .chart-cont .c8{background:url(../../../images/jiagebaogao/201402/chart/b08.png) no-repeat;}
.g-picre04 .chart-cont .c9{background:url(../../../images/jiagebaogao/201402/chart/b09.png) no-repeat;}
.g-picre04 .chart-cont .c10{background:url(../../../images/jiagebaogao/201402/chart/b10.png) no-repeat;}
.g-picre04 .chart-cont .c11{background:url(../../../images/jiagebaogao/201402/chart/b11.png) no-repeat;}
.g-picre04 .chart-cont .c12{background:url(../../../images/jiagebaogao/201402/chart/b12.png) no-repeat;}
.g-picre04 .chart-cont .c13{background:url(../../../images/jiagebaogao/201402/chart/b13.png) no-repeat;}
.g-picre04 .chart-cont .c14{background:url(../../../images/jiagebaogao/201402/chart/b14.png) no-repeat;}
.g-picre04 .chart-cont .c15{background:url(../../../images/jiagebaogao/201402/chart/b15.png) no-repeat;}
.g-picre04.animate .c1{-webkit-transition-delay:.2s; -moz-transition-delay:.2s; -ms-transition-delay:.2s; transition-delay:.2s;}
.g-picre04.animate .c1{-webkit-transition-delay:.3s; -moz-transition-delay:.3s; -ms-transition-delay:.3s; transition-delay:.3s;}
.g-picre04.animate .c2{-webkit-transition-delay:.4s; -moz-transition-delay:.4s; -ms-transition-delay:.4s; transition-delay:.4s;}
.g-picre04.animate .c3{-webkit-transition-delay:.5s; -moz-transition-delay:.5s; -ms-transition-delay:.5s; transition-delay:.5s;}
.g-picre04.animate .c4{-webkit-transition-delay:.6s; -moz-transition-delay:.6s; -ms-transition-delay:.6s; transition-delay:.6s;}
.g-picre04.animate .c5{-webkit-transition-delay:.7s; -moz-transition-delay:.7s; -ms-transition-delay:.7s; transition-delay:.7s;}
.g-picre04.animate .c6{-webkit-transition-delay:.8s; -moz-transition-delay:.8s; -ms-transition-delay:.8s; transition-delay:.8s;}
.g-picre04.animate .c7{-webkit-transition-delay:.9s; -moz-transition-delay:.9s; -ms-transition-delay:.9s; transition-delay:.9s;}
.g-picre04.animate .c8{-webkit-transition-delay:1s; -moz-transition-delay:1s; -ms-transition-delay:1s; transition-delay:1s;}
.g-picre04.animate .c9{-webkit-transition-delay:1.1s; -moz-transition-delay:1.1s; -ms-transition-delay:1.1s; transition-delay:1.1s;}
.g-picre04.animate .c10{-webkit-transition-delay:1.2s; -moz-transition-delay:1.2s; -ms-transition-delay:1.2s; transition-delay:1.2s;}
.g-picre04.animate .c11{-webkit-transition-delay:1.3s; -moz-transition-delay:1.3s; -ms-transition-delay:1.3s; transition-delay:1.3s;}
.g-picre04.animate .c12{-webkit-transition-delay:1.4s; -moz-transition-delay:1.4s; -ms-transition-delay:1.4s; transition-delay:1.4s;}
.g-picre04.animate .c13{-webkit-transition-delay:1.5s; -moz-transition-delay:1.5s; -ms-transition-delay:1.5s; transition-delay:1.5s;}
.g-picre04.animate .c14{-webkit-transition-delay:1.6s; -moz-transition-delay:1.6s; -ms-transition-delay:1.6s; transition-delay:1.6s;}
.g-picre04.animate .c15{-webkit-transition-delay:1.7s; -moz-transition-delay:1.7s; -ms-transition-delay:1.7s; transition-delay:1.7s;}

.g-picre04.animate .chart-cont div{opacity:1;
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);}
.g-picre05{ margin-top: 50px; border: 1px #fb8435 solid;}
.g-picre05 .items{ height: 385px;}
.g-picre05 .tit{ background: #fb8435;}
.g-picre05 .bar{ width: 384px; height: 27px; background:url(../../../images/jiagebaogao/201402/bar-icon.png) repeat-x; position:relative; left: 31px; overflow: hidden;}
.g-picre05 .bar div{ width: 100%; height: 37px; right: 100%; position: absolute;
	-webkit-transition: all ease 1s;
	-moz-transition: all ease 1s;
	-ms-transition: all ease 1s;
	transition: all ease 1s;}
.g-picre05 .bar1 div{ background: #ff9743;}
.g-picre05 .bar2 div{background: #ffb414;}
.g-picre05 .bar3 div{background: #e2cf00;}
.g-picre05 .bar4 div{ background: #bfcf0a;}
.g-picre05 .bar5 div{ background: #e2cf00;}
.g-picre05 .bar6 div{ background: #ff9743;}
.g-picre05.animate .bar1 div{ right: 48%;}
.g-picre05.animate .bar2 div{ right: 79%;}
.g-picre05.animate .bar3 div{ right: 80%;}
.g-picre05.animate .bar4 div{ right: 93%;}
.g-picre05.animate .bar5 div{ right: 100%;}
.g-picre04 .more-btn{ top: 70px; right: 35px; z-index: 8;}

.g-picre06{ margin-top: 50px;}
.g-picre07{ margin-top: 15px; position: relative;}
.g-picre07 ul{ margin-left: -15px;}
.g-picre07 ul li{ width: 190px; height: 128px; float: left; margin-left: 15px;}
.g-picre07 ul li img{ width: 190px; height: 128px;}

/*cloud nav s*/
#cloud-share .bshare-qzone{ background: url(../../../images/jiagebaogao/v2/share_01.jpg) no-repeat;}
#cloud-share .bshare-sinaminiblog{ background: url(../../../images/jiagebaogao/v2/share_02.jpg) no-repeat;}
#cloud-share .bshare-qqmb{ background: url(../../../images/jiagebaogao/v2/share_03.jpg) no-repeat;}
#cloud-share .bshare-renren{ background: url(../../../images/jiagebaogao/v2/share_04.jpg) no-repeat;}
#cloud-share a{ padding-left: 27px; display: block; height: 24px; font-size: 12px;}
.cloud-nav{ width: 134px; height: 260px; position: absolute;top: 75px;left: -150px; overflow: hidden; display:none; }
.cloud-fix{ position: fixed;left: 50%;top: 60px;margin-left: -640px;}
.cloud-nav dt{ width: 134px; height: 67px; position: relative; z-index: 2; }
.cloud-nav dt a{ display: block; height: 67px; background-image: url(../../../images/jiagebaogao/v2/share-tit.png); background-repeat: no-repeat;_background:none;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../../images/jiagebaogao/v2/share-tit.png");}
.cloud-nav dd{ display:none;font-size: 12px; padding-left: 19px; width: 90px; padding-top: 14px; height: 190px; position: relative; z-index: 1; top:-20px; margin-left: 14px;}
.cloud-nav .cloud-bg{background: url(../../../images/jiagebaogao/v2/share-cont.png) no-repeat;_background:none;  z-index: 0;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../../images/jiagebaogao/v2/share-cont.png");}
.cloud-nav .cloud-text{ top: -224px;}
.cloud-nav dd a{ color: #666; margin-top: 10px;}
/*cloud nav e*/

/***电商价格战 -End- zibu - 20140106***/
