/* CSS Document */
/*通用头部*/
.header{height:120px;background-color:#F2F2F2;overflow:hidden; min-width:1002px;}
.topbar_con,.head{width:1000px;margin:0 auto;}
.topbar{background-color:#333333;}
.topbar_con{color:#fff;font-family:'微软雅黑';height:30px;line-height:30px;overflow:hidden;position:relative;font-size:12px;}
.topbar span{padding-right:15px;position:absolute;top:0px;right:0px;display:block;height:30px;line-height:30px;}
.topbar span a{color:#fff;}
.topbar span a:hover{color:#fff;}
.topbar span b{padding:0 7px;font-weight:normal;}
.head {height: 90px;margin: 0 auto;position: relative; width: 1000px;z-index: 100;}
.head h1 {float: left;margin-left:7px;margin-top:10px;}
.nav {float: right;margin-left:180px;}
.nav li {float: left;height: 31px;padding-top: 33px;width: 100px;font-size:16px;font-family:'微软雅黑';}
.nav li a {color: #333333;display: block;font-size: 16px;height: 31px;line-height: 24px;text-align: center;text-decoration: none; width: 88px;float:left;}
.nav li a:hover{text-decoration:none;}
.nav li em{float:left;display:block;width:10px;color:#DDDDDD;text-algin:center;}
.nav .sel a,.nav li a:hover {color: #3e5a99;border-bottom:2px solid #475699;}
.head_line{height:2px;background-color:#DADADA;overflow:hidden;}


/***********************answer***************************/
.answer{ background:#f2f2f2; text-indent:8px; text-align:left;}
.alllist th{ text-align:right;}
table tr th{text-align:right; }
.answer1{ text-align:left;}
.tfm td.answer2{ padding-left:14px;}
.tfm th{ padding-right:60px; width:144px;}
/*table tr{ line-height:30px;}
*/
.tfm td{ padding:10px 0;}
.dakuang{ background:url(../../images/dai/fgg_05.jpg) no-repeat; width:104px; height:29px; border:0;}
