@charset "utf-8";
/**/
*{margin: 0; padding: 0;}
a{text-decoration: none;}
ul{list-style: none;}
img{ border: none;}
.left{ float: left;}
.right{float: right;}
body,html{width: 100%;}
.clearfix:after{content: "."; display: block; height: 0; clear: both; overflow: hidden; }
.clearfix{zoom:1;}

.wrapper{width: 960px; margin: 0 auto;}
body{ font-size: 14px; font-family: "微软雅黑"; color: #666666;}
#ct{ margin:8px 0;}




/*part1*/
.part1{width: 660px;  border: 1px solid #dddddd; }
.title_head{ width: 615px; border-bottom:1px solid #dddddd;  margin-bottom: 20px; overflow: hidden; background-color: #f9f9f9; padding: 15px 25px 20px 20px;}
.part1 ul li{float: left; line-height: 23px;}
.part1 ul li.one{padding: 0 5px; color: #cccccc;}
.part1 ul li a{color: #0079c1;}

h1{text-align: center; color: #000000; line-height: 60px; }
.bigtitle{ font-size:24px; text-align:center;}
.part1 .lai{text-align: center; color: #999999; }
/*fen*/
.fen{  width:250px; margin: 0 auto; }
.fen ul li{ float: left; margin-right: 5px;  }
.fen .little{ line-height: 23px;}

/**/
.wen{ margin-top: 30px; padding-left: 25px; padding-right: 30px; color: #666666; font-size:14px;  line-height:22px; text-indent:2em; }
.wen p{ margin-bottom:25px; line-height:22px;}
.yuan{color: #000000; text-align:left; margin-bottom:10px; margin-left:20px;}
/*span{ color: #666666; }*/
span.min{color: #000000; font-weight: normal; line-height:23px;}

.part2{width: 282px;  border: 1px solid #dddddd;}
.head1{height: 42px; line-height:42px; border-bottom:  1px solid #dddddd; margin-bottom: 15px; background-color: #f9f9f9; font-weight: bold;}
.head1 li{ padding-left: 14px; padding-right: 14px; }
.head1 li.xun{font-size: 14px; color: #333333;}
.head1 li.more{font-size: 12px;}
.head1 li.more a{ color:#e2d3db;}


.main{ font-size: 12px; text-indent: 17px; padding-left:15px; padding-right:5px; padding-bottom:15px;}
.main li{ background:url(../../images/dai/icon.png) no-repeat 5px 9px; width:250px; height:24px;  overflow:hidden; }
.main li a{color: #999999; font-size:12px; line-height:24px; }
.main li a:hover{text-decoration:underline;}


/*bottom*/
.bottom{width:100%;background:#f5f5f5;}
/*foot*/
.foot{width:960px;height:127px;margin:0 auto;}
.friends{width:960px;padding-top:22px;border-bottom:1px solid #d9d9d9;float:left;padding-bottom:10px;}
.friends li{float:left;font-size:12px;line-height:20px;}
.fri{padding-right:12px;}
.fri a{color:#ccc;text-decoration:none;}
.fri a:hover{text-decoration:underline;}
.ftit{width:60px;color:#999;}
.footp1{text-align:center;display:block;height:46px;border-top:1px solid #f6f6f6;color:#999;font-size:12px;line-height:42px;}
.footp2{text-align:center;display:block;height:24px;font-size:12px;color:#666;}
.footp2 a{text-decoration:none;color:#666;}
.footp2 a:hover{text-decoration:underline;}
.footp2 span{color:#ccc;padding:0px 4px;}
.footp3{text-align:center;display:block;height:33px;font-size:12px;color:#999;font-family:Arial,"宋体";}
.copy{width:130px;height:26px;background:url(../../images/dai/copy.png) no-repeat;margin:0 auto;}

