.head-city{display:inline;float:left;margin:40px 0 0 16px;color:#333;font-size:16px;line-height:18px;font-family:Microsoft YaHei;}
.head-city b{font-weight:normal;}
.head-city b a{color:#666;}
.head-city .ico_city{display:inline-block;width:16px;height:27px;margin-right:6px;background:url(../../images/dai/bg.png) no-repeat 0 0;font-size:0;line-height:0;vertical-align:middle}
.head-city-change{float:left;margin:44px 0 0 20px;font-size:12px;line-height: 18px;}
.head-city-change a{display:inline-block;color:#656565;}
.head-city-change a i{display: inline-block;border:4px dashed transparent;border-top-style:solid;border-top-color:#000;font-size:0;line-height:0;height:0;vertical-align: middle;margin-left:3px;}
.content {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 960px;
}

/*通用顶部 -Start-Gaotian-20131225*/
.header-box{z-index:100}
.header-nav-box{background:#00457B}
.header-nav-back s{border-left-color:#00457B}
.header-nav-box li{position: relative;border-color:#1A5888}
.header-nav-box li a{width:94px;}
.header-nav-box li a:hover{background-color:#024e9a}
.header-nav-box .cur a, .header-nav-box .cur a:hover{background:#f5f5f5;color:#4c4c4c}
/*通用顶部 -End-Gaotian-20131225*/

.bthree h3{font-weight:bold;}
.footer{margin-top:20px;}
.bacon {
    height: 435px;
    margin: 0 auto;
    padding-top: 35px;
    position: relative;
    width: 960px;
}
.banner{width:100%;height:470px;border-bottom:1px solid #d0d0d0;}
.ban5{}
.ctbtn2{background:url(../../images/dai/ctbtn2.png) no-repeat;color:#333;width:168px;height:38px;text-decoration:none;line-height:38px;text-align:center;font-size:14px;float:left;}

.head-city-change a{ font-family: 'microsoft yahei';}

/*zibu 20140401 头部广告添加 s*/
.ad_daikuan_sell_b5m{ width: 500px; height: 90px; position: absolute; right: 0; top: 42px; z-index: 100;}
/*zibu 20140401 头部广告添加 e*/