@charset "utf-8";
/* CSS Document */
a{ color: #333;}
.mart20{ margin-top: 20px;}
.d-left{ width: 623px; border: 1px #ddd solid; float: left;}
.d-right{ width: 335px; float: right; }
.detail-text{}

/*part1*/
.title_head{ border-bottom:1px solid #dddddd;  margin-bottom: 20px; overflow: hidden; background-color: #f9f9f9; padding: 15px 25px 20px 20px;}
.bigtitle{ font-size:24px; text-align:center;text-align: center; color: #000000; line-height: 60px; }
.title_head .lai{text-align: center; color: #999999; }
.detail-text .wen{ margin-top: 30px; padding-left: 25px; padding-right: 30px; color: #666666; font-size:14px;  line-height:22px; text-indent:2em; }
.detail-text .wen p{ margin-bottom:25px; line-height:22px;}
.detail-text .ban{ padding:10px 20px; }
.about-news{ margin: 25px 20px; border-top:1px #ddd dashed; padding-top: 20px; }
.about-news h2{ font-size: 14px; color: #000;}
.new-items{ margin-right: -20px; padding-top: 10px;}
.new-items li{ width: 265px; float: left; margin-right:10px; background: url("../../images/dai/icon.png") no-repeat left center; padding-left: 14px; line-height: 24px; height: 24px; overflow: hidden;}
.new-items li a{ color: #999;}
.about-news .news-pic{ padding-top: 20px;}
.about-news .news-pic li{ width: 180px; float: left; margin: 0 6px;}
.about-news .news-pic .pic{ width: 180px; height: 180px;}
.about-news .news-pic .tit{ line-height: 26px; height: 26px; display: block; overflow: hidden;}

.dai-data{ border: 1px #ddd solid;}
.dai-data .head1{height: 42px; line-height:42px; border-bottom:  1px solid #dddddd; margin-bottom: 1px; background-color: #f9f9f9; font-weight: bold;}
.dai-data .head1 li{ padding-left: 14px; padding-right: 14px; }
.dai-data .head1 li.xun{font-size: 14px; color: #333333;}
.dai-data .head1 li.more{font-size: 12px;}
.dai-data .head1 li.more a{ color:#e2d3db;}
.dai-data .main{ font-size: 12px; text-indent: 17px; padding-left:15px; padding-right:5px; padding-bottom:10px;}
.dai-data .main li{ background:url(../../images/dai/icon.png) no-repeat 5px 9px; width:250px; height:24px;  overflow:hidden; }
.dai-data .main li a{color: #999999; font-size:12px; line-height:24px; }
.dai-data .main li a:hover{text-decoration:underline;}
.dai-data .pic-main{ padding: 0 10px 10px;}
.dai-data .pic-main li{ width: 125px; float: left; margin: 10px 14px 0;}
.dai-data .pic-main .pic{ width: 125px; height: 125px;}
.dai-data .pic-main .tit{ line-height: 24px; height: 24px; overflow: hidden; display: block;}
