@charset "utf-8";
/* CSS Document */
/*通用头部*/
/*.header{height:190px;background-color:#F2F2F2; min-width:1002px; position:relative; z-index:99; }
.topbar_con,.head{width:1000px;margin:0 auto;}
.topbar{background-color:#333333;}
.topbar_con{color:#fff;font-family:'微软雅黑';height:30px;line-height:30px;overflow:hidden;position:relative;font-size:12px;}
.topbar span{padding-right:15px;position:absolute;top:0px;right:0px;display:block;height:30px;line-height:30px;}
.topbar span a{color:#fff;}
.topbar span a:hover{color:#fff;}
.topbar span b{padding:0 7px;font-weight:normal;}*/
.head {height: 90px;margin: 0 auto; width: 1000px;z-index: 100;}
.head h1 {float: left;margin-left:7px;margin-top:10px;}
.nav {float: right;}
.nav li {float: left;height: 31px;padding-top: 33px;width: 100px;font-size:16px;font-family:'微软雅黑';}
.nav li a {color: #333333;display: block;font-size: 16px;height: 31px;line-height: 24px;text-align: center;text-decoration: none; width: 88px;float:left;}
.nav li a:hover{text-decoration:none;}
.nav li em{float:left;display:block;width:10px;color:#DDDDDD;text-algin:center;}
.nav .sel a,.nav li a:hover {color: #3e5a99;border-bottom:2px solid #475699;}
.head_line{height:2px;background-color:#DADADA;overflow:hidden;}

/*****************city************************/
.city{padding-left:20px;height:82px;float:left; _width: 100px;}
.cp1{margin:25px 0px 1px 0px;color:#333;border:1px solid #f3f3f3;background:#f8f8f8;font-size:12px;display:block;height:19px;width:98%; text-align: center;line-height:19px; width:115px;}
.cp1 a{padding:0px 18px 0px 13px;cursor:pointer;position:relative; font-size: 14px; color:#0079c1; font-weight: bold;}
.xij{position:absolute;top:0px;right:6px;}
.cp1 span{line-height:16px;}
.cp2{color:#999;font-size:16px; text-align: center; font-family:"微软雅黑"; margin-top:8px; width:150px;}
.cp2 .ucity {color: #333;}
.nav{float:right;}
.nav li{float:left;width:98px;height:41px;padding-top:23px;}
.nav li a{font-size:14px;text-decoration:none;display:block;width:88px;height:41px;text-align:center;line-height:36px;color:#333;}
.nav .sel a{color:#333;background:url(../../images/dai/i/nav_bg.png) no-repeat;}

/*下拉城市菜单*/
.ctxi{width:500px;padding:5px 10px; margin-left:5px; border:#f2f2f2 1px solid;position:absolute; /*margin-top:42px; margin-left:112px;*/ top:81px; left:207px;background:#FFF; font-size: 12px;line-height: 26px; z-index:9999;}
.ctp1{height:46px;border-bottom:1px dashed #eaeaea;line-height:46px;display:block;width:500px;margin:0 auto;}
.ctxi dl{display:block;margin:0 auto;padding:6px 0;/*width:386px;*/overflow:hidden;zoom:1}
.ctxi dd{float:left;margin:0px;padding:0px;color:#666; /*white-space:nowrap;*/}
.ctxi dd span{padding-right:12px;color:#000;}
.ctxi dd a{color:#0079c1;text-decoration:none;display: block;float: left; width:70px; line-height:20px;height:20px;overflow: hidden}
.ctxi .last{border-bottom:1px solid #FFF;}

.youl{border-top:1px solid #D0D0D0;background: whiteSmoke;}
.w960{width:960px;margin:0 auto;overflow:hidden;}
.sel{color:#00457c;font-weight:bold;background:url(../../images/dai/i/jiao2_bg.png) no-repeat center bottom;}
.more:hover { text-decoration: underline;}
.more { color: #ccc; font-size: 12px; padding-right: 11px; text-decoration: none; font-weight: normal;}
.xij{ width:10px; height:16px;}

.bm{ width:960px; margin:0 auto; height:10px; }
div.z a{ font-size:12px; line-height:26px; color:#333;} 
.none{display:none;}