@charset "utf-8";
/* CSS Document */

.main .ban4{background:url(../../images/dai/goufang.jpg) no-repeat center;}
.main h5{font-size: 14px;width:391px;color: #333;display: block;\height: 40px;line-height: 41px;padding-left: 14px;background: #F8F8F8;
border-top:1px solid #e9e9e9;border-left:1px solid #e9e9e9;border-right:1px solid #e9e9e9;font-weight: bold;}
h3{font-weight: bold;}
.gf{width:960px;margin:24px auto 0px auto;}
.gfa{width:230px;height:298px;border:1px solid #e9e9e9;float:left;margin-right:20px;}
.gfb{width:407px;height:300px;float:left;}
.gfc{width:280px;border:1px solid #e9e9e9;float:right;}

.gftab{border-collapse: collapse;border:1px solid #e9e9e9;}
.gftab td{height:42px;font-size:12px;color:#333;border:1px solid #e9e9e9;text-align:center;}

.more{color:#ccc;font-size:12px;padding-right:11px;text-decoration:none;font-weight:normal;}
.more:hover{text-decoration:underline;}
.btli{display:block;float:left;padding-top:10px;padding-left:30px;font-size:6px;}
.btli li{list-style:square;color:#999;font-size:12px;}
.btli li a{color:#999;font-size:12px;text-decoration:none;line-height:24px;}
.btli li a:hover{text-decoration:underline;}

.cartype {
    height: 298px;
}
.btwo {
    width: 280px;
}
