@charset "utf-8";
/* CSS Document */
/****banner*****/
.main .ban5{background:url(../../images/dai/qiye.jpg) no-repeat center;}
.main .ban3{background:url(../../images/dai/gouche.jpg) no-repeat center;}


.homele {float:left;width:660px;}
.homeri {float:right;width:280px;}
/*内模块1*/
.mta{border:1px solid #e9e9e9;border-top:2px solid #00457c;overflow:hidden;position:relative; float: left; width: 660px;}
.mta .more,.mtd .more{position:absolute;right:0px;top:13px;_top:17px;}
.mtd{position:relative;}
.mta h5 .more{position:absolute;top:0px;right:0px;}
.mta h5,.mra h5{font-size:14px;color:#333;display:block;height:40px;border-left:0px solid #e9e9e9;border-right:0px solid #e9e9e9;background:#f8f8f8;line-height:40px;padding-left:14px;border-bottom:1px solid #e9e9e9;}
.mtb{border-left:0px solid #e9e9e9;border-right:0px solid #e9e9e9;border-bottom:0px solid #e9e9e9;overflow:hidden;width:658px;padding-top:16px;}
.nobotom{border-bottom:none;}
.mtf{border-left:1px solid #e9e9e9;border-right:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;overflow:hidden;width:658px;padding-top:10px;}
.mtb dl dt{display:block;width:300px;height:71px;padding-bottom:8px;overflow:hidden;}
.mtb dl dt .dtimg{display:block;width:100px;height:71px;float:left;margin-right:10px;}
.mtb dl dt a{padding-top:3px;font-size:14px;color:#00457c;line-height:22px;text-decoration:none;display:block;width:190px;height:22px;overflow:hidden;}
.mtb dl dt a:hover{text-decoration:underline;}
.mtb dl dt p{line-height:22px;color:#999;font-size:12px;display:block;width:190px;height:46px;overflow:hidden;}
.mtb dl{padding:0px 15px 14px 14px;float:left;}
.mtb dl dd{display:block;width:300px;height:26px;line-height:26px;overflow:hidden;background:url(../i/cms/list_bg.jpg) no-repeat;}
.mtb dl dd a{padding-left:10px;font-size:14px;color:#00457c;text-decoration:none;}
.mtb dl dd a:hover{text-decoration:underline;}

/*内模块2*/
.tabnav{display:block;height:41px;background:#f8f8f8;border-bottom:1px solid #e9e9e9;line-height:42px;}
.tabnav li{float:left;width:86px;height:40px;font-size:14px;color:#333;text-align:center;line-height:40px;cursor:pointer;}
.tabnav .tbnon{background:#FFF;font-weight:bold;height:42px;border-left:1px solid #e9e9e9;border-right:1px solid #e9e9e9;}
.tabnav a { text-decoration:none; color:#666;}

.bone{height:auto;}
.wrapwai { width: 960px;}
.wrap{width:960px;margin-bottom:22px; height:auto; float:left;}

.maincon {
    height: auto !important;
    margin: 24px auto 0;
    width: 960px;
}

.gouche {
    margin: 24px auto 0;
    width: 960px;
}
h3 .xeight{font-weight: bold;}
/*box*/
table{margin:0 auto;font-size:12px;}
.tableone td{height:60px;border-bottom:1px dashed #eeeeee; padding:1px 5px;line-height:20px;}
.td1{width:111px;}
.td2{width:148px;font-size:12px;color:#333;}
.td3{width:297px;font-size:12px;color:#999;}
.td4{width:75px;}
.chakan{display:block;width:73px;height:22px;background:#f3f3f3;border:1px solid #dedede;font-size:12px;color:#333;text-align:center;line-height:22px;text-decoration:none;}
.tabletwo td{height:40px;font-size:12px;color:#999;}
.btwo {
    width: 280px;
}
.more{color:#ccc;font-size:12px;padding-right:11px;text-decoration:none;font-weight:normal;}
.more:hover{text-decoration:underline;}
.btli{display:block;float:left;padding-top:10px;padding-left:30px;font-size:6px;}
.btli li{list-style:square;color:#999;font-size:12px;}
.btli li a{color:#999;font-size:12px;text-decoration:none;line-height:24px;}
.btli li a:hover{text-decoration:underline;}

.success_li {float:left; width: 260px; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;}
.success_li p {line-height: 20px; color: #999; font-size: 12px;}
.success_li p strong {color: #333;}

.dktool p {line-height: 24px;}
.dktool a {color:#333; font-size: 12px; text-decoration: none;}
.dktool a:hover {text-decoration: underline; color: #0066fe;}
/******201305091522******/
.tableone td.co3 p {line-height: 18px;}
.tableone td.co3 p.hp01 {color:#000;}
.tableone td.co3 p.hp02 {color:#999;}
.tableone td.co3 p.hp01 a { text-decoration:none; color:#000;}
.tableone td.co3 p.hp02 a {color:#999;text-decoration:none;}
.tableone td a:hover { text-decoration:none; color:#F00;}
.tableone td a {text-decoration:none;}





