@charset "utf-8";
/* CSS Document */

/*main*/
.main{width:100%;background:#fff;padding-bottom:40px;z-index:5;padding-top:20px;}
.jisuanqi{width:983px;margin:0 auto;}
.jsl{float:left;}/**20130423-14:06**/
.jsr{float:right;width:280px;height:766px;}
/*贷款百科*/
.btli{display:block;float:left;padding-top:10px;padding-left:30px;}
.btli li{list-style:square;color:#999;}
.btli li a{color:#999;font-size:12px;text-decoration:none;line-height:24px;}
.btli li a:hover{text-decoration:underline;}
.btwo {width: 278px;height: 328px;}

.jsaul{display:block;width:624px;margin:0 auto;margin-top:18px;height:76px;}
.jsaul li{float:left;padding:0px 5px 11px 5px;}
.jsaul li a{text-decoration:none;text-align:center;line-height:25px;border:1px solid #dedede;font-size:12px;}
.jsaon a{display:block;width:144px;height:25px;background:#f3f3f3;color:#333;}
.jsaoff a{display:block;width:144px;height:25px;background:#fff;color:#999;}

.jsb{width:619px;padding-bottom: 20px;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;margin:0 auto;margin-top:7px;font-size:12px;}
.jsba{height:41px;padding-top:23px; padding-bottom: 10px;}
.jsba span{float:left;}
.jspan1{width:95px;color:#666;}
label {vertical-align: middle;}
.inputcheckbox {vertical-align: middle;}
.jsele{margin-right:23px;}

.jsbb{height:34px;line-height:34px;margin-bottom:15px;}
.jsbb span{float:left;}
.jsinp1{width:156px;height:14px;border:1px solid #cccccc;outline:none;padding:9px 5px;color:#000;}/**20130423-14:06**/
.jsbbin{width:199px;height:32px;border:1px solid #cccccc;float:left;}
.se1{position:relative;z-index:99;}
.se2{position:relative;z-index:98;}
.se3{position:relative;z-index:100;}
.xiala{z-index:999;}
.jsbbin1{width:156px;height:14px;padding:9px 5px;float:left;border:none 0;outline:none 0;color:#999; line-height: 14px;}/**20120423-10:57**/
.jsbbin2{width:33px;height:32px;background:url(../../images/dai/bd3.jpg) no-repeat;border:none 0;outline:none 0;float:right;cursor:pointer;}
.xiala2{border: 1px solid #C9C9CB;position: absolute;top:33px;left:95px;}
.xiala2 li{display: block;width: 199px;height: 27px;background: white;line-height: 27px;}
.xiala2 .mo {background: #E7E7E7;}
.xiala2 li a {font-size: 12px;color: #666;display: block;padding-left:5px;width: 194px;text-decoration: none;}
.xiala2 li a:hover{background:#c4d4e1;}
.xiala2 li {font-size: 12px;color: #666; cursor: pointer;}
.xiala2 li:hover{background:#c4d4e1;}

.jsc{height:34px;padding-left:102px;}
.jsc1{width:93px;height:34px;background:url(../../images/dai/jsc1.jpg) no-repeat;float:left;margin-right:15px;color:#fff;border:none 0;outline:none 0;line-height:34px;text-align:center;cursor:pointer;}
.jsc2{width:93px;height:34px;background:url(../../images/dai/jsc2.jpg) no-repeat;float:left;margin-right:15px;color:#333;border:none 0;outline:none 0;line-height:34px;text-align:center;cursor:pointer;}

.jsf{width:610px;height:208px;margin:0 auto;font-size:12px;}
.jsfa{width:260px;height:208px;padding-right:38px;float:left;}
.jsfapp{display:block;height:38px;line-height:38px;margin-top:7px;color:#333;}
.jsftab{border:1px solid #e9e9e9;border-collapse: collapse;}
.jsftab td{border:1px solid #e9e9e9;padding-right:10px;text-align:right;}
.jsftr1 td{height:25px;}
.jsftr2 td{height:40px;}

.jsx{width:615px;height:33px;border-bottom:10px solid #eaeaea;margin:0 auto;font-size:12px;color:#ccc;margin-bottom:14px;}
.jsfcon{display:block;width:580px;padding-left:25px;line-height:24px;font-size:12px;}

.jsrtab{border: 1px solid #E9E9E9;border-collapse: collapse;margin-bottom:22px;}
.jsrtab td{border: 1px solid #E9E9E9;padding:0px 10px;}
.jsrtabt{height:40px;background:#f8f8f8;font-size:14px;color:#333;}
.tl{text-align:left;}
.tr{text-align:right;}
.jstra td{height:25px;font-size:12px;}
/**修改-20130418-16:21**/
.none {display: none;}

.wy{display:block;height:32px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ccc;padding:0 5px;line-height:32px;text-align:Center;background:#f8f8f8;_height:30px;_margin-top:1px;}

/**20120423-10:32**/
.jsbb_sck {margin-left: 5px; margin-top: 3px;}
.jsbb_sck input {border:1px solid #ccc;}

/**20120424-10:42**/
.jsaul ,.jsx ,.jsf {width:632px; float: left;}
.jsaul ,.jsx ,.jsf {padding: 15px 15px;}
.jsaul {height:auto;}
.jsb {padding: 30px 15px 30px 50px; float: left; width: 595px;}
.jsfa {width:290px; margin: 0 13px; padding: 0;}
.jsfcon {float: left; padding-bottom: 10px;}
.jsf {margin-top: 0px;}
.clear {clear: both;}
p.zongjg {line-height: 30px; font-size: 16px; font-family: "微软雅黑"; color: #666;}
p.zongjg strong {font-size: 18px; color: red;}
.jgsc {float: left; width: 632px; padding: 10px 15px;}
/***表格***/
.jg_tab {border-left: 1px solid #ddd; border-top: 1px solid #ddd; margin-top: 10px;}
.jg_tab th ,.jg_tab td {padding:12px 7px; font-size: 12px; line-height: 20px; font-size: 14px;}
.jg_tab th {border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; color: #444555; background: #f5f5f5;text-align: left;}
.jg_tab td {border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; color: #777888;}
.jg_tab td.le_td {text-align: left;}
.jg_tab td p {padding: 5px 0 8px 0; line-height: 25px;}
.t0805_inpa {height: 26px; line-height: 26px; padding: 0 3px;width: 134px; border: 1px solid #999; margin-right: 5px;}
.jg_tab tr td span {color:red;}
.error_ts {color:red;}
.success_ts {color:green;}

.jg_tab td p.js_p1 {padding:0; margin:0; line-height:18px;}/**20130515-16:34**/

/*修改的样式*/
.select01{ float: left;  padding: 9px 5px 7px; width: 168px;}
.lv_1{ text-decoration: none; color: #666;}
.jsbb_sck a:hover{ color: #ff0000;}
.inpt{ padding: 9px 5px 7px;}

.jsfa td em {
    color: #FF6633;
    font-weight: bold;
}
.cal-btn {
    background: none repeat scroll 0 0 #0098F1;
    border: 1px solid #004F7E;
    color: #FFFFFF;
    margin-right: 10px;
}
.btn {
    box-shadow: 0 1px 3px #ECECEC;
    cursor: pointer;
    height: 30px;
    width: 85px;
}
.reset-btn {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #CBCBCB;
    color: #333333;
}
/******2013-05-08********/
.red {color:red;}
.jsbb span.red {padding-left: 10px; height: 34px; line-height: 34px;}
#gjj_nature_options {z-index: 2400;}
.se2 a:hover{ color: red;}
#result .td1{ background: none repeat scroll 0 0 #F8F8F8;
    padding-left: 10px;
    width: 90px;}

