
#content-main {

	float: right;
	min-height: 730px;
	_height: 730px;
	width: 640px
}
#content-main .calc-header {
	line-height: 37px;
	height: 44px;
	position: relative
}
#content-main .calc-header .calc-icon {
	left: 10px;
	top: -8px;
	position: absolute
}
#content-main .calc-header h1 {
	background: #f2f7fd;
	font-size: 18px;
	padding-left: 70px
}
#content-main .calc-header #jiathis_bar {
	position: absolute;
	right: 10px;
	top: 10px
}
#content-main h3 {
	clear: both;
	font-weight: 700;
	line-height: 15px;
	margin: 20px 0;
	padding: 0 0 0 16px;
	background-repeat: no-repeat;
}
#content-main .content-block {
	border-bottom: dotted 1px #e0e6ef;
	padding-bottom: 20px;
	
}
#content-main .content-block table {
	font-size: 14px
}
#content-main .content-block .tsk {
	background: #f8f8f8;
	border: 1px solid #CCC;
	box-shadow: 0 1px 5px #DDD;
	line-height: 20px;
	padding: 10px;
	position: absolute;
	display: none;
	z-index: 10000
}
#content-main .content-block .tsk .jt {
	position: absolute;
	top: -7px
}
#content-main .content-block .tsk .close {
	float: right;
	cursor: pointer
}
#content-main .content-block .tsk .nr {
	color: #666;
	font-size: 12px;
	padding: 10px 0 5px
}
#content-main .input-block {
}
#content-main .input-block td {
	height: 40px
}
#content-main .input-block .calc_link {
	color: #6292df;
	font-size: 14px;
	line-height: 30px;
	margin-left: 15px
}
#content-main .input-block .inpt-wrap {
	float: left;
	height: 30px;
	line-height: 30px;
	position: relative
}
#content-main .input-block .inpt-wrap span {
	position: absolute;
	right: 10px;
	top: 0
}
#content-main .input-block .inpt {
	border: solid 1px #d5d5d5;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	width: 156px
}
#content-main .input-block .lilv_r {
	margin-left: 10px;
	width: 45px
}
#content-main .input-block .sel {
	float: left;
	position: relative
}
#content-main .input-block .yt-text {
	cursor: pointer;
	border: 1px solid #d5d5d5;
	padding-left: 8px;
	overflow: hidden;
	color: #333;
	position: relative;
	background-repeat: no-repeat;
}
#content-main .input-block .yt-list {
	background: #fff;
	border: 1px solid #d5d5d5;
	position: absolute;
	z-index: 10000
}
#content-main .input-block .yt-list div {
	clear: both;
	padding: 0 12px 0 8px;
	overflow: hidden
}
#content-main .input-block .yt-list .item-on-hover {
	background: #a8d0f9
}
#content-main .input-block .cal-options {
	line-height: 30px
}
#content-main .input-block .cal-options li {
	clear: both;
	height: 30px;
	padding: 5px 0
}
#content-main .input-block .cal-options label {
	display: block;
	float: left;
	width: 110px
}
#content-main .input-block .btn {
	border: 0;
	display: block;
	float: left;
	height: 30px;
	font-size: 14px;
	font-weight: 700;
	width: 85px
}
#content-main .input-block .cal-btn {
	color: #fff;
	background-repeat: no-repeat;
}
#content-main .input-block .reset-btn {
	color: #000;
	margin-left: 10px;
*display:inline;
	background-repeat: no-repeat;
}
#content-main .input-block .autocomplete_wrap {
	float: left;
	position: relative
}
#content-main .input-block .sb_value {
	float: left;
	z-index: 3;
	line-height: 29px;
	position: relative
}
#content-main .input-block .sb_input_wrap {
	border: 1px solid #DDD;
	position: relative
}
#content-main .input-block .sb_input {
	float: left
}
#content-main .input-block .sb_input input {
	border: 1px solid #FFF;
	padding-left: 10px;
	line-height: 24px;
	height: 26px;
	width: 129px;
	margin: 0;
	float: left
}
#content-main .input-block .sb_suffix, #content-main .input-block .dropdownBtn {
	color: #666;
	float: left;
	height: 28px;
	width: 35px;
	text-align: center
}
#content-main .input-block .dropdownBtn {
	cursor: pointer;
	background-repeat: no-repeat;
}
#content-main .input-block .sb_inp_suffix {
	position: absolute;
	right: 43px;
	color: #333;
	line-height: 24px
}
#content-main .input-block .sb_tip_text {
	float: left;
	height: 30px;
	line-height: 30px;
	margin-left: 13px;
	_margin-left: 14px;
	overflow: hidden
}
#content-main .input-block .autocomplete-list, #content-main .input-block .dropdown-menu {
	display: none;
	top: 29px;
	left: 0;
	width: 176px;
	position: absolute;
	border: 1px solid #cacdd4;
	background: #FFF;
	z-index: 200;
	box-shadow: 0 1px 3px #ececec;
	-webkit-box-shadow: 0 1px 3px #ececec;
	-moz-box-shadow: 0 1px 3px #ececec;
	zoom: 1
}
#content-main .input-block .sb_line .autocomplete-list, #content-main .input-block .sb_line .dropdown-menu {
	left: 70px;
	top: 29px
}
#content-main .input-block .autocpt-open .autocomplete-list, #content-main .input-block .open .dropdown-menu {
	display: block
}
#content-main .input-block .autocomplete-list li, #content-main .input-block .dropdown-menu li {
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
	overflow: hidden;
	height: 25px;
	width: 100%;
	_float: left
}
#content-main .input-block .autocomplete-list a, #content-main .input-block .dropdown-menu a {
	display: block;
	padding: 3px 10px 3px 8px;
	clear: both;
	font-weight: 400;
	line-height: 20px;
	color: #333;
	white-space: nowrap;
	text-decoration: none;
	outline: 0
}
#content-main .input-block .autocomplete-list a.checked, #content-main .input-block .dropdown-menu a.checked {
	background-color: #dcdee0
}
#content-main .input-block .autocomplete-list a:hover, #content-main .input-block .autocomplete-list a.select, #content-main .input-block .dropdown-menu a:hover, #content-main .input-block .dropdown-menu a.select {
	background-color: #a8d0f9;
	text-decoration: none;
	color: #333
}
#content-main .result-block td {
	line-height: 30px
}
#content-main .result-block .tbl {
	border: solid #d5d5d5;
	border-width: 1px 0 0 1px
}
#content-main .result-block .tbl td {
	border: solid #d5d5d5;
	border-width: 0 1px 1px 0;
	height: 25px
}
#content-main .result-block .tbl .td1 {
	width: 90px;
	background: #F8F8F8;
	padding-left: 10px
}
#content-main .result-block .tbl .td2 {
	background: #FFF;
	padding-right: 5px;
	text-align: right;
	color: #ccc
}
#content-main .result-block .td3 {
	color: #ccc
}
#content-main .result-block em {
	color: red;
	font-style: normal
}
#content-main .result-block var {
	color: #333
}
#content-main .result-block .r_result {
	line-height: 36px;
	margin: 20px 0
}
#content-main .result-block .r_result .r_title {
	background: #f1f1f1;
	border: solid 1px #d5d5d5;
	height: 36px;
	padding: 0 20px;
	position: relative
}
#content-main .result-block .r_result .r_title .tjt, #content-main .result-block .r_result .r_title .tjt1 {
	float: right;
	right: 20px;
	top: 15px;
	position: absolute
}
#content-main .result-block .r_result .r_body {
	display: none
}
#content-main .result-block .r_result .r_layout {
	border: solid 1px #d5d5d5;
	border-top: 0
}
#content-main .result-block .r_result .r_layout table {
	margin: 20px 0
}
#content-main .result-block .r_result .inpt {
	border: 0;
	text-align: right;
	width: 80px
}
#content-main .result-block .r_result .gcbx_tb {
	border-border: 0
}
#content-main .result-block .r_result .gcbx_tb td {
	padding: 0 20px
}
#content-main .result-block .r_result .vtd {
	padding-right: 40px;
	text-align: right
}
#content-main .result-block .r_result .bxlx ul {
	border: solid 1px #d5d5d5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 20px auto;
	overflow: hidden;
	width: 378px
}
#content-main .result-block .r_result .bxlx ul li {
	cursor: pointer;
	float: left;
	text-align: center;
	width: 125px
}
#content-main .result-block .r_result .bxlx ul .on {
	background: #f1f1f1
}
#content-main .result-block .result-info {
	color: #ACAEAF;
	font-size: 12px;
	line-height: 30px
}
#content-main .block-desc {
	border-bottom: 0;
	line-height: 22px
}
#content-main .help {
	display: inline-block;
	height: 16px;
	position: relative;
	top: 3px;
	left: 5px;
	width: 16px;
*zoom:1;
	background-repeat: no-repeat;
}
#content-main .input_goucheshui .div2 {
	display: none
}
#content-main .result_quankuanmaiche #r_loan {
	display: none
}
#content-main .result_daikuanmaiche #r_qk {
	display: none
}
#content-main #citysel {
	cursor: pointer
}
#content-main #citylist {
	width: 426px;
	position: absolute;
	z-index: 6000;
	background: #FFF;
	border: 1px solid #999;
	top: 113px;
	display: none;
	padding: 0
}
#content-main #citylist .bt {
	background: #EDEDED;
	height: 25px;
	border-bottom: 1px solid #D1D1D1;
	padding: 5px 0 0 20px
}
#content-main #citylist .lb {
	padding-left: 20px;
	float: left
}
#content-main #citylist .close {
	padding: 10px;
	position: absolute;
	left: 392px
}
#content-main #citylist dl {
	float: left;
	padding: 10px 0
}
#content-main #citylist dt {
	font-weight: 700
}
#content-main #citylist li {
	float: left;
	width: 45px;
	color: #05b;
	cursor: pointer
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-month {
	width: 60px
}
.err {
	display: block;
	position: absolute;
	z-index: 5000
}
.err .arr {
	width: 7px;
	height: 28px;
	position: absolute;
	left: -6px;
	background-repeat: no-repeat;
}
.err .con {
	float: left;
	color: #666;
	padding-left: 25px;
	padding-top: 5px;
	line-height: 16px;
	border: 1px solid #CACACA;
	height: 20px;
	padding-right: 10px;
	background-repeat: no-repeat;
}
#content-side {
	background: #f2f7fd;
	border: solid #eff2f7 1px;
	float: left;
	min-height: 730px;
	_height: 730px;
	width: 200px
}
#content-side h2 {
	border-top: solid #eff2f7 1px;
	border-bottom: solid #fff 1px
}
#content-side h2 span {
	border-top: solid #fff 1px;
	border-bottom: solid #eff2f7 1px;
	color: #333;
	display: block;
	font-size: 16px;
	font-weight: 700;
	line-height: 33px;
	padding: 0 15px
}
#content-side ul {
	margin: 10px 0
}
#content-side ul li {
	font-size: 14px;
	height: 34px
}
#content-side ul li em {
	color: #f90;
	font-size: 12px;
	margin-right: 5px;
	font-weight: 700
}
#content-side ul li a {
	color: #666
}
#content-side ul li a, #content-side ul li span {
	display: block;
	line-height: 34px;
	padding: 0 15px
}
#content-side ul li a:hover, #content-side ul li span {
	background: #fff;
	border-top: solid 1px #e9eef6;
	border-bottom: solid 1px #e9eef6;
	color: #333;
	text-decoration: none
}
#header_search_btn:hover {
	background-position: 0px 0px
}
#header_search_btn:active {
	background-position: 0px -70px
}
#header_search_btn:hover, #header_search_btn:active {
	background-image: url(../../images/dai/main_calculator_x.png)
}
#article-section .wenda .wenda-search .btn_search {
	background-position: -79px 0px
}
#article-section .wenda .wenda-search .btn_search:hover {
	background-position: -79px -65px
}
#article-section .wenda .wenda-search .btn_search:active {
	background-position: -79px -130px
}
#article-section .wenda .wenda-search .btn_ask {
	background-position: -79px -195px
}
#article-section .wenda .wenda-search .btn_ask:hover {
	background-position: -79px -260px
}
#article-section .wenda .wenda-search .btn_ask:active {
	background-position: -79px -260px
}
#bottom-banner #bottom_logo {
	background-position: 0px -325px
}
#bottom-banner .btn {
	background-position: -48px -445px
}
#bottom-banner .btn:hover {
	background-position: -48px -528px
}
#bottom-banner .btn:active {
	background-position: -48px -611px
}
.calc-icon-shenjia {
	background-position: -96px -694px
}
.calc-icon-daikuanhuasuanqi {
	background-position: -96px -784px
}
.calc-icon-xiangou {
	background-position: -96px -874px
}
.calc-icon-fangdai {
	background-position: -96px -964px
}
.calc-icon-gongjijin {
	background-position: -96px -1054px
}
.calc-icon-dengebenxi {
	background-position: -96px -1144px
}
.calc-icon-dengebenjin {
	background-position: -96px -1234px
}
.calc-icon-zuhedai {
	background-position: -96px -1324px
}
.calc-icon-ershoufang {
	background-position: -96px -1414px
}
.calc-icon-ershoufangjiaoyishui {
	background-position: -96px -1414px
}
.calc-icon-huankuanbijiao {
	background-position: -96px -1504px
}
.calc-icon-tiqianhuankuan {
	background-position: -96px -1594px
}
.calc-icon-huankuanzhuangkuang {
	background-position: -96px -1684px
}
.calc-icon-quankuanmaiche {
	background-position: -96px -1774px
}
.calc-icon-daikuanmaiche {
	background-position: -96px -1864px
}
.calc-icon-cunkuanlilv {
	background-position: -96px -1954px
}
.calc-icon-huoqicunkuan {
	background-position: -96px -2044px
}
.calc-icon-dingqicunkuan {
	background-position: -96px -2134px
}
.calc-icon-fangchanshui {
	background-position: -96px -2224px
}
.calc-icon-fangchanshui_shanghai {
	background-position: -96px -2314px
}
.calc-icon-fangchanshui_chongqing {
	background-position: -96px -2404px
}
.calc-icon-ershoufang {
	background-position: -96px -2494px
}
#header_search_btn {
	background-position: -66px -2584px
}
.header-menu li+li {
	background-position: -145px -2653px
}
#content-main h3 {
	background-position: -132px -2729px
}
#content-main .input-block .yt-text {
	background-position: right -2784px
}
#content-main .input-block .dropdownBtn {
	background-position: -111px -2784px
}
#content-main .input-block .cal-btn {
	background-position: -61px -2852px
}
#content-main .input-block .reset-btn {
	background-position: -61px -2922px
}
