@charset "utf-8";
/*Css Reset*/
body,div,ul,li,a,p,span,form,input,table,tbody,tr,td,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
img{border:none;}
input{outline:none;}
body{font-family:Arial,"微软雅黑","宋体";}
ul,li{list-style:none;}





/*common*/
.pl22{padding-left:22px;}
.pt21{padding-top:21px;}
.pt6{padding-top:6px;}
.pb9{padding-bottom:9px;}
.fl{float:left;}
.fr{float:right;}
.mt22{margin-top:22px;}
.mt19{margin-top:19px;}
.mt7{margin-top:7px;}
.box .mt7{margin-top:0px;}
.blue{color:#0079c1;}
.co3{color:#333;}
.co9{color:#999;}
.co6{color:#666;}
.ori{color:#ff6600;}
.bold{font-weight:bold;}
.cow{color:#FFF;}
.coc{color:#ccc;}



/*topline*/
.topline{width:100%;height:44px;background:#000000;}

.tbul{float:right;}
.tbul li{float:left;}
.hy{float:left;height:44px;line-height:44px;}
.fg{width:20px;height:44px;color:#999;text-align:center;}
.jiaocheng a{color:#ff9900;text-decoration:none;}
.jiaocheng a:hover{text-decoration:underline;}
.kf{color:#ccc;}
.kf span{font-family:Arial, Helvetica, sans-serif;font-weight:bold;color:#FFF;}
.other a{color:#FFF;text-decoration:none;}
.other a:hover{text-decoration:underline;}

/*head*/

.city{padding-left:20px;height:82px;float:left; _width: 100px;}
.cp1{margin:25px 0px 1px 0px;color:#333;border:1px solid #f3f3f3;background:#f8f8f8;font-size:12px;display:block;height:19px;width:98%; text-align: center;line-height:19px;}
.cp1 a{padding:0px 18px 0px 13px;cursor:pointer;position:relative; font-size: 14px; color:#0079c1; font-weight: bold;}
.xij{position:absolute;top:0px;right:6px;}
.cp1 span{line-height:16px;}
.cp2{color:#999;font-size:12px;cursor:pointer; text-align: center;}
.cp2 .ucity {color: #333;}


/*bottom*/
.bottom{width:100%;background:#f5f5f5;}
/*foot*/
.foot{width:960px;height:127px;margin:0 auto;}
.friends{width:960px;padding-top:22px;border-bottom:1px solid #d9d9d9;float:left;padding-bottom:10px;}
.friends li{float:left;font-size:12px;line-height:20px;}
.fri{padding-right:12px;}
.fri a{color:#ccc;text-decoration:none;}
.fri a:hover{text-decoration:underline;}
.ftit{width:60px;color:#999;}
.footp1{text-align:center;display:block;height:46px;border-top:1px solid #f6f6f6;color:#999;font-size:12px;line-height:42px;}
.footp2{text-align:center;display:block;height:24px;font-size:12px;color:#666;}
.footp2 a{text-decoration:none;color:#666;}
.footp2 a:hover{text-decoration:underline;}
.footp2 span{color:#ccc;padding:0px 4px;}
.footp3{text-align:center;display:block;height:33px;font-size:12px;color:#999;font-family:Arial,"宋体";}
.copy{width:130px;height:26px;background:url(../../images/dai/copy.png) no-repeat;margin:0 auto;}
/*box*/
.box{background:#FFF;border:1px solid #e9e9e9;}
.clear{clear:both;}
/*常用贷款工具*/
.b3ul{display:block;width:920px;padding-left:15px;padding-top:10px;float:left;}
.b3ul li{float:left;width:184px;height:24px;line-height:24px;}
.b3ul li a{font-size:12px;color:#999;text-decoration:none;}
.b3ul li a:hover{text-decoration:underline;}
h3{font-size:14px;color:#333;display:block;height:40px;border-bottom:1px solid #e9e9e9;line-height:41px;padding-left:14px;background:#f8f8f8;}
.bthree{width:960px;margin-left:auto;margin-right:auto;overflow:hidden;padding-bottom:10px;clear:both;}

/*热门城市贷款*/
h4 {font-size: 14px;color: #333;display: block;height: 41px;border-bottom: 1px solid #E9E9E9;line-height: 41px;background: #F8F8F8;}
.banner-left h4 { border: none; background: none;}
.hotcity{display:block;width:118px;height:42px;background:#FFF;text-align:center;cursor:pointer;}
.hotdaikuan{width:110px;border-left:1px solid #e9e9e9;text-align:center;cursor:pointer;}
.b4ul{display:block;width:940px;padding:10px 0px 0px 14px;float:left; }
.b4ul li{float:left;width:134px;line-height:24px;}
.b4ul li a{font-size:12px;color:#999;text-decoration:none;}
.b4ul li a:hover{text-decoration:underline;}
/*下拉框*/
.se{width:282px;height:44px; z-index:1;}
.sinp{width:225px;height:14px;float:left;outline:none;border:none 0;font-size:12px;color:#666;padding:14px 0px 14px 11px;}
/*.sinp1{width:225px;height:14px;float:left;outline:none;border:none 0;font-size:12px;color:#666;padding:14px 0px 14px 11px;background:url(sinp1.jpg) no-repeat right;}*/
.sinp1{width:225px;height:14px;float:left;outline:none;border:none 0;font-size:12px;color:#666;padding:14px 0px 14px 11px;}
.sinp2{width:225px;height:14px;float:left;outline:none;border:none 0;font-size:12px;color:#666;padding:14px 0px 14px 11px;background:url(../../images/dai/sinp2.jpg) no-repeat right;}
.selbtn{width:43px;height:42px;background:url(../../images/dai/selbtn.png) no-repeat;float:right;border:none 0;outline:none;cursor:pointer;}
.sele{height:42px;border:1px solid #cccccc;background:#FFF;}
/*xiala*/
.xiala{border:1px solid #c9c9cb;position:absolute;z-index:999; margin-top:-1px;}
.xiala li{display:block;height:27px;background:#ffffff;line-height:27px;z-index:999;}
.xiala .mo{background:#e7e7e7;}
.xiala li a{font-size:12px;color:#666;display:block;padding-left:11px;width:269px;text-decoration:none;z-index:999;}
.xiala li a:hover{background:#c4d4e1;}
.none{display:none;}

.cp1 a{text-decoration:none;}
.cp2 a{text-decoration:none;color:#ccc;}
.youl{border-top:1px solid #D0D0D0;background: whiteSmoke;}
.w960{width:960px;margin:0 auto;overflow:auto;}
.sel{color:#00457c;font-weight:bold;background:url(../../images/dai/jiao2_bg.png) no-repeat center bottom;}
.more:hover { text-decoration: underline;}
.more { color: #ccc; font-size: 12px; padding-right: 11px; text-decoration: none; font-weight: normal;}
/*.fr {
    float: right;
}*/
/***new****/
.block-sub-title{color:#888888;font-size:12px;line-height:22px;margin-top:15px;padding-left:10px;}
.a-m-l:after,.clearfix:after{clear:both;content:".";display:block;height:0;overflow:hidden;visibility:hidden;}
.a-m-l,.clearfix{display:inline-block;}
* html .clearfix,* html .a-m-l{}
.a-m-l,.clearfix{display:block;}
.block-r-ul{padding:0 10px;}
.block-r-ul li{float:left;width:80px;}
.block-r-ul li a{color:#007dc8; font-size: 12px; text-decoration: none;}
.block-r-ul li a:hover{color:#008fd9;text-decoration:underline;}
/*pwj 2013年3月25日*/
.kf a{text-decoration:none;}
.kf a:hover{text-decoration:none;}
/*go to top*/
.backToTop {display: none; width:30px; height:30px; line-height: 1.2; background:url(../../images/dai/to_top.jpg) center center no-repeat;color: #fff;font-size: 12px;text-align: center;position: fixed;_position: absolute; right:10px; bottom:10px;_bottom: "auto";cursor: pointer; opacity: 1;filter: Alpha(opacity=100);}
/*2013-7-19 13:56广告*/
.guanggao{overflow:hidden;margin-bottom:20px;  width: 664px; float:left;}
.big{width:662px;float:left;}
.small{width:282px;float:right;}
.guanggao img{border:1px solid #e9e9e9;}
/*****7-30增加*****/
.dw_yuan {display: block; border-left: 1px solid #ccc; float: right; background: #fbfbfb;  width: 42px; height: 42px; line-height: 42px; text-align: center; font-size: 14px; color: #666;}
/*2013年8月新增 潘文静*/
h3 .xeight{font-size: 14px;color: #333;}
h3 a{text-decoration:none;}
h3 a:hover{text-decoration:underline;}
/*2013.9.2 cactus foot top border*/
.bt{border-top: 1px solid #D0D0D0;}
.kf .w_time{padding: 0px 5px; font-weight: normal; font-family:Arial, Helvetica, sans-serif;color: #ccc;} /*9.24修改*/
/*cactus 2013-9-27 首页搜索*/
.danwei{color: #ccc;position: absolute; right: 55px; top: 10px;}
.danwei_1{color: #666;position: absolute; right: 55px; top: 10px;}
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; overflow: hidden; }
.clearfix { display:inline-block; }
.clearfix {display:block;}
.pop{width:960px;  background:#eee;border:1px solid #ccc}
.pop_head{position:relative;height:20px;background:#ccc} 
.pop_head a{position:absolute;right:8px;line-height:20px;color:#000;text-decoration:none} 
.pop_head a:hover{color:#f60;text-decoration:none} 
.pop_body ul{margin: 0; padding: 0; list-style:none;}
.pop_body li{ float: left; padding: 10px 15px; width: 120px;}
.pop_body li a{ text-decoration: none; color:#999999; font-size: 12px;}
/***20131206****/
.pointer {cursor: pointer;}

/***20131223yl****/
/*.bank_link { padding: 10px;}*/
.bank_link li { float: left; height: 42px; line-height: 42px;    padding: 3px 8px; width: 120px;}
.bank_link li a {height: 42px; line-height: 42px; float: left; color: #323232; text-decoration: none;margin-right: 5px; }
.bank_link li span a {width: 64px; overflow: hidden;}
/*2013-1-2 免费申请弹出城市文字**/
.wxtishi{ color: #E36D09; margin: 14px 0 10px 22px; }