@charset "utf-8";
body {
    background:#f9f9f9;
    font-size:12px
}
a {
    text-decoration:none;
    color:#666
}
.hd_blue:link {
    text-decoration:none;
    color:#039
}
.hd_blue b {
    text-decoration:none;
    color:#00C
}
.hd_blue:visited {
    text-decoration:none;
    color:#039
}
.none {
    display:none
}
.jqtap {
    padding:2px 0
}
.bold {
    font-weight:bold;
    font-size:16px
}
.main {
    width:100%;
    height:auto !important
}
.sfa a {
    color:#0079c1
}
.sfa a:hover {
    color:#f75700
}
.content {
    width:960px;
    margin:0 auto;
    padding-bottom:40px
}
.result_top,.box,.detail {
    border:1px solid #ddd;
    background:#fff
}
.result_top {
    position:relative;
    z-index:20;
    width:918px;
    padding:0 20px;
    border-bottom:2px solid #f1f7fa
}
.box {
    padding:6px 0 10px 0;
    border-top:0
}
.heater_left {
    float:left;
    color:#333;
    font-size:18px;
    font-weight:bold;
    height:47px;
    line-height:47px;
    padding-right:4px
}
.heater_left span {
    color:#f60;
    font-size:26px
}
.heater_right {
    float:right;
    color:#333;
    height:50px;
    position:relative;
    margin-top:15px;
}
.text_dai,.kuan_dai,.sosu {
    height:29px;
    float:left
}
.text_dai {
    position:relative;
    margin-right:10px;
    line-height:29px;
    font-size:14px
}
.kuan_dai {
    margin-right:10px;
    position:relative;
    width:146px
}
.wydk_dai {
    background:url(../../images/dai/dfg_13.jpg) no-repeat scroll right top;
    height:27px;
    border:1px solid #e5e5e5;
    z-index:3
}
.wydk_dai input {
    width:95px;
    border:0;
    float:left;
    margin-left:5px;
    border:0
}
.wydk_dai,.danw,.danw input,.wydk_dai .geyue,.wydk_dai .nian,.geyue input,.nian input {
    height:27px;
    line-height:27px
}
.danw {
    width:130px;
    background:url(../../images/dai/sgnh_14.jpg) no-repeat scroll right top
}
.geyue {
    width:125px;
    background:url(../../images/dai/rg_18.jpg) no-repeat scroll right top
}
.nian {
    width:125px;
    background:url(../../images/dai/nian_18.jpg) no-repeat scroll right top
}
.wydk_xiala {
    left:0;
    position:absolute;
    width:144px;
    border:1px solid #e5e5e5;
    overflow-y:hidden;
    _overflow:hidden;
    height:180px;
    z-index:1000;
    border-top:0;
    top:28px;
}
.wydk_xiala li {
    height:30px;
    width:144px;
    overflow:hidden;
    cursor:pointer;
    display:block
}
.wydk_xiala li a {
    padding-left:5px;
    background:#fff;
    display:block;
    color:#666;
    height:30px;
    line-height:30px;
    width:139px;
    text-decoration:none;
    font-size:12px
}
.wydk_xiala li a.mo {
    background:#e7e7e7
}
.wydk_xiala li a:hover {
    background:#c4d4e1;
    color:#000;
    text-decoration:none
}
.tiaojian {
    height:26px;
    border-bottom:1px dotted #f5f5f5;
    padding:7px 15px 7px 15px;
    background:#fff;
    margin-bottom:3px
}
.sx li {
    float:left
}
.sx1 {
    width:120px;
    color:#333;
    font-size:12px;
    font-weight:bold
}
.sx2 {
    margin-right:6px;
    font-size:12px;
    color:#666;
    border:1px solid #b8d5eb;
    height:15px;
    line-height:15px;
    padding:2px 24px 2px 5px;
    background:url(../../images/dai/fgn.png) no-repeat right;
    cursor:pointer
}
.sx2:hover {
    background:url(../../images/dai/red_tub.png) no-repeat right
}
.tiaojian span {
    float:right;
    font-size:12px;
    color:#999;
    cursor:pointer
}
.tiaojian span a {
    color:#666;
    text-decoration:none
}
.tiaojian span a:hover {
    text-decoration:underline;
    color:#666
}
.jgss {
    background:url("../../images/dai/fgg_05.jpg") no-repeat;
    line-height:28px;
    border:0 none;
    cursor:pointer;
    display:inline;
    float:left;
    height:29px;
    outline:medium none;
    width:104px;
    color:#FFF
}
.jgss:hover {
    color:yellow
}
.jglis {
    padding-left:14px;
    display:block;
    width:944px;
    overflow:hidden;
    background:#fff
}
.jglis a {
    text-decoration:none
}
.jglis li {
    float:left;
    font-size:12px;
    line-height:34px
}
.jglistit {
    color:#999
}
.jglis li.lis1:hover {
    color:#333
}
.lis1 {
    padding-right:12px;
    cursor:pointer
}
.detail {
    border:1px solid #ddd;
    margin-top:20px;
    width:960px
}
.deta {
    height:43px;
    border-bottom:1px solid #f1f1f1;
    line-height:43px;
    width:960px;
    float:left;
    z-index:20;
    position:relative;
    background:#f7f7f7
}
.deta_left {
    float:left;
    margin-top:7px;
    width:450px
}
.deta_left span {
    font-size:12px;
    margin-left:5px
}
ul.deta_right {
    float:right;
    margin-right:20px;
    _margin-right:10px
}
ul.deta_right {
    border:1px solid #e9e9e9;
    height:26px;
    margin-top:7px;
    border-left:0
}
ul.deta_right li {
    float:left;
    height:26px;
    line-height:26px;
    border-left:1px solid #e9e9e9;
    width:60px;
    text-align:center;
    background:#fff
}
ul.deta_right li:hover {
    background:#f7f7f7
}
ul.deta_right li.dfh {
    background-color:#e9e9e9;
    color:#00457c;
    text-align:center
}
ul.deta_right li.dfh a {
    color:#00457c;
    padding:0;
    font-weight:bold;
    text-align:center
}
ul.deta_right li a {
    color:#000;
    font-size:12px;
    padding:0 10px;
    text-decoration:none;
    height:28px
}
ul.deta_right li a:hover {
    background:#e9e9e9;
    color:#00457c
}
ul.deta_right li a.arrt {
    background:url(../../images/dai/fb_05.jpg) no-repeat scroll right center;
    height:28px;
    overflow:hidden;
    width:9px
}
.matter {
    width:958px;
    float:left;
    z-index:10;
    position:relative
}
.ma_title {
    height:30px;
    margin-bottom:0;
    border-bottom:1px dotted #e1e1e1;
    color:#999;
    line-height:30px
}
.ma_nr {
    padding:12px 0
}
.cona01,.cona02,.cona03,.cona04,.cona05,.con01,.con02,.con03,.con04,.con05 {
    float:left;
    font-size:12px
}
.cona02,.con02,.cona03,.con03 {
    width:128px
}
.con01,.con02,.con03,.con05 {
    margin-top:11px
}
.cona04,.con04 {
    width:135px
}
.con04 .jqtap {
    padding:0
}
.cona01 {
    width:220px;
    margin-left:15px;
    _margin-left:10px
}
.cona02 span,.cona03 span {
    float:left
}
.wen {
    float:left;
    margin-top:7px;
    margin-left:5px
}
.wenhao {
    display:block;
    width:16px;
    height:16px;
    overflow:hidden
}
.ma_nr {
    border-bottom:1px dashed #f1f1f1
}
.ma_nr:hover {
    background:#f8f8f8
}
.con01 {
    width:238px
}
.con01 span {
    float:left;
    width:68px
}
.con01 span img {
    float:right
}
.con01 samp {
    float:left;
    margin-left:14px;
    font-size:12px;
    width:133px
}
.con01 samp p.co3 a {
    color:#333;
    text-decoration:none
}
.con01 samp p.co3 a:hover {
    color:#06C;
    text-decoration:underlines
}
.con01 samp p.co9 a {
    color:#999;
    text-decoration:none
}
.con01 samp p.co9 a:hover {
    color:#06C;
    text-decoration:underlines
}
.con01 samp p.Pstars span.hdstars {
    width:75px
}
.wen {
    float:left;
    margin-top:7px;
    margin-left:5px;
    position:relative
}
.ceng {
    width:355px;
    height:auto !important;
    position:absolute;
    top:9px;
    left:-143px;
    z-index:999;
    display:none
}
.cnr {
    border:1px solid #ccc;
    margin-top:6px;
    width:333px;
    height:auto !important;
    font-weight:200;
    background:#FFF;
    padding:10px
}
.sjiao {
    position:absolute;
    top:2px;
    left:163px
}
.cnr p {
    line-height:24px;
    font-size:12px;
    padding-left:15px;
    color:#999
}
.cnr .ctit {
    color:#333;
    font-weight:bold;
    background:url(../../images/dai/point.png) no-repeat left 10px
}
.con05 {
    width:325px;
    _width:320px
}
.icon {
    display:block;
    height:50px;
    padding:10px 0;
    float:left;
    width:210px
}
.icon li {
    float:left;
    width:70px;
    height:50px;
    text-align:center
}
.icon li a {
    display:block;
    width:58px;
    height:50px;
    background-repeat:no-repeat;
    background-position:0 0
}
.icon li a:hover {
    background-position:-58px 0
}
.anniu {
    margin-right:15px;
    _margin-right:4px;
    background:url("../../images/dai/ck.png") no-repeat;
    color:#fff;
    display:block;
    height:25px;
    line-height:25px;
    text-align:center;
    text-decoration:none;
    width:75px;
    margin-top:24px;
    float:right
}
.anniu:hover {
    background:url(../../images/dai/ck.png) no-repeat;
    opacity:.8;
    filter:alpha(opacity=80)
}
.anniu a {
    color:#FFF;
    text-decoration:none;
    text-align:center;
    width:75px;
    margin-left:2px
}
.Pstars {
    padding:2px 0;
    position:relative;
    width:133px;
    height:10px
}
.stars_small,.stars_small em {
    height:10px
}
.stars_small {
    background-position:0 -20px;
    display:block;
    width:75px
}
.hdstars {
    background:url(../../images/dai/hdstars.png) no-repeat
}
.Pstars span.small_tc {
    background:#fff;
    border:1px solid #bbb;
    color:#333;
    display:block;
    height:36px;
    left:80px;
    line-height:18px;
    padding:5px;
    position:absolute;
    text-align:center;
    top:-15px;
    width:140px;
    z-index:500
}
.cnr .ctit {
    background:url("../../images/dai/point.png") no-repeat scroll left 10px;
    color:#333;
    font-weight:bold
}
.text_leix,.kuan_leix {
    float:left
}
.text_leix {
    position:relative;
    line-height:20px;
    font-size:12px;
    color:#666;
    width:77px;
    padding-right:5px;
    text-align:right
}
.kuan_leix {
    margin-right:3px
}
.kuan_leix {
    background:url(../../images/dai/dfg_13.jpg) no-repeat scroll right 3px #fff;
    height:25px;
    border:1px solid #e5e5e5;
    width:118px;
    z-index:300;
    position:relative
}
.kuan_leix input {
    width:96px;
    border:0;
    float:left;
    margin-left:5px
}
.text_leix,.kuan_leix,.kuan_leix input,.wydk_leix {
    height:28px;
    line-height:28px
}
.wydk_leix {
    cursor:pointer;
    width:118px;
    overflow:hidden
}
.jglx_xiala {
    left:-1px;
    top:25px;
    border:1px solid #e5e5e5;
    z-index:2000;
    border-top:0;
    position:absolute;
    display:none
}
.jglx_xiala li {
    width:118px;
    height:25px;
    line-height:25px;
    cursor:pointer;
    display:block
}
.jglx_xiala li:hover {
    background:#c4d4e1
}
.jglx_xiala li a {
    padding-left:5px;
    background:#fff;
    display:block;
    color:#666;
    text-decoration:none;
    font-size:12px;
    width:113px
}
.jglx_xiala li a.mo {
    background:#e7e7e7
}
.jglx_xiala li a:hover {
    background:#c4d4e1;
    color:#000;
    text-decoration:none
}
.deta_left span {
    color:#666
}
.page {
    display:block;
    height:28px;
    line-height:26px;
    text-align:center;
    padding-top:15px;
    margin:10px 0
}
.page a {
    font-size:14px;
    font-family:Arial,"宋体";
    text-decoration:none
}
.page a:hover {
    text-decoration:none
}
.page .s1 {
    text-decoration:none;
    color:#666
}
.pageon {
    border:1px solid #00457c;
    padding:3px 5px;
    background:#00457c;
    color:#FFF;
    font-weight:bold;
    text-decoration:none;
    margin-right:6px;
    cursor:pointer
}
.pageoff {
    border:1px solid #eee;
    padding:5px 5px;
    background:#FFF;
    color:#666;
    margin-right:6px;
    text-decoration:none;
    cursor:pointer
}
.pageoff:hover,.nextpage:hover {
    border:1px solid #00457c;
    color:#00457c
}
.page .nextpage {
    border:1px solid #eee;
    background:#FFF;
    color:#666;
    padding:5px 8px;
    text-decoration:none;
    cursor:pointer
}
.page .gong {
    font-size:12px;
    color:#ccc
}
.Tosearch_ts {
    width:100px;
    height:29px;
    display:none;
    position:absolute;
    top:-35px;
    left:0;
    line-height:24px;
    color:#333;
    text-align:center;
    padding:0 4px 0 24px;
    background:url(../../images/dai/Tosearch_ts.png) no-repeat;
    font-size:12px;
    z-index:100
}
a {
    text-decoration:none
}
.pagination {
    margin:10px;
    list-style:none outside;
    display:inline;
    padding:10px
}
.pagination li {
    padding:5px 10px;
    border:1px solid #ddd;
    display:inline-block;
    *float:left;
    background:#fff;
    color:#888;
    margin-right:1px;
    -webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);
    box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);
    -webkit-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
    -ms-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out
}
.pagination li a {
    display:block
}
.ie7 .pagination li {
    margin-right:5px
}
li.current {
    background:#eee;
    border:1px solid #ccc;
    color:#fff
}
.heater_right {float:right;color: #333;position:relative; margin-top:15px; }
.text_dai ,.kuan_dai  {height:29px; float:left; margin-right:10px; _margin-right:6px;position:relative;}
.sosu {float:right; width: 104px; margin-right:0; overflow: hidden;height:29px;}
.text_dai {line-height: 29px; font-size:14px;}
.kuan_dai { width:146px;}
.wydk_dai {background:url(../../images/dai/dfg_13.jpg) no-repeat scroll right top; height:27px;  border: 1px solid #e5e5e5;/*width:144px;*/ z-index: 3;}
.wydk_dai input {width:95px; border:none; float:left; margin-left:5px; border:0;}
.wydk_dai ,.danw ,.danw input ,.wydk_dai .geyue ,.wydk_dai .nian ,.geyue input ,.nian input {height:27px; line-height:27px;}
.danw {width:130px; background:url(../../images/dai/sgnh_14.jpg) no-repeat scroll right top;}
.geyue{width:125px; background:url(../../images/dai/rg_18.jpg) no-repeat scroll right top;}
.nian{width:125px; background:url(../../images/dai/nian_18.jpg) no-repeat scroll right top;}
/*.wydk_xlk {position:relative;}*/
.wydk_xiala {left:0px;position:absolute; width:144px; border:1px solid #e5e5e5; _overflow:hidden; z-index:1000; top:28px; display: none;}
.wydk_xiala li {height:30px; width:144px; overflow:hidden; cursor:pointer; display:block;}
.wydk_xiala li a {padding-left:5px; background:#fff; display:block;color:#666;height:30px; line-height:30px; width:139px; text-decoration:none; font-size:12px;}
.wydk_xiala li a.mo {background:#e7e7e7;}
.wydk_xiala li a:hover {background:#c4d4e1; color:#000; text-decoration:none;}
.bthree h3 {padding-left: 15px;}

/*zibu s*/
#shoufu{ line-height: 27px; height: 27px;}
/*zibu e*/
