@charset "utf-8";
/* CSS Document */
* {margin:0; padding:0;}
body {font-family:Arial, Helvetica, sans-serif; font-family:"微软雅黑"; color:#666;font-size:12px; margin:0; padding:0;-webkit-text-size-adjust:none;}
a {font-family:"微软雅黑";}
.fl {float:left;}
.fr {float:right;}
.clear {clear:both;}
img {border:none;}
ul {list-style:none;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mb20 {margin-bottom:20px;}
.pad5 {padding:5px;}
.pad10 {padding:10px;} 
.pad15 {padding:15px;}
.pad20 {padding:20px;}
.pad30 {padding:30px;}
.pt5 {padding-top:5px;}
.pr5 {padding-right:5px;}
.pb5 {padding-bottom:5px;}
.pl5 {padding-left:5px;}
.pt10 {padding-top:10px;}
.pr10 {padding-right:10px;}
.pb10 {padding-bottom:10px;}
.pl10 {padding-left:10px;}
.pt15 {padding-top:15px;}
.pb20 {padding-bottom:20px;}

.relative {position:relative;}
.absolute {position:absolute;}
.none {display:none;}
.auto {margin:0 auto;}

.opacity { background-color: #000000; opacity: 0.6; filter: alpha(opacity=60);-moz-opacity:0.6; -khtml-opacity:0.6; zoom: 1;}
.sousuo{width:324px;height:401px;position:absolute;top:35px;left:0px;z-index:2;}
.NewSearch {width:324px;height:401px;position:absolute;/*top:35px;*/left:0px;z-index:10;}

.wydk_li_selectbtn ,.wydk_li_selectbtn2 {width:280px;}
.wdcon_ri_tit ,.wdcon_wydk ,.wdcon_ri_other {margin:0 auto; float:inherit;}
/*****我要贷款****/
.se1 {z-index:100;}
.se2 {z-index:99;}
.se3 {z-index:98;}
.se4 {z-index:97;}
.wdcon_ri_tit {margin-top:14px; padding:0; background:none; border: none;}
.wdcon_wydk ,.wdcon_ri_tit ,.wdcon_ri_other ,.wydk_li ,.wydk_li_name ,.wydk_searchbtn {width:282px;}
.wydk_li {height:44px;}
.wydk_li_selectbtn ,.wdcon_ri_tit ,.wydk_li_selectbtn2 ,.wydk_ipt ,.wydk_type {height:42px; line-height:42px;}
.wydk_li span {display:block;}
.wydk_li_name {height:30px; line-height:30px; color:#fff;}
.wydk_li_selectbtn {z-index:3; background:url(../../images/dai/NewSearch_xl.gif) right top no-repeat; border:1px solid #ccc;_border:0px;}
.wydk_li_selectbtn2 {z-index:3;}
.wydk_ipt ,.wydk_type {width:192px; padding:0px 35px 0 10px; color:#666;border:none; background:#fff;_margin-top: -1px; 
 }
.wydk_li_selectcon {left:0px; top:42px; border:1px solid #ccc; z-index:1000; _left:2px; }
.wydk_li_selectcon li {width:280px; height:27px; line-height:27px; cursor:pointer; display:block; background:#fff; _width:278px;  }
.wydk_li_selectcon li a {width:275px;  padding-left:5px; display:block;color:#666; text-decoration:none;_width:273px; }
.wydk_li_selectcon li a.mo {background:#e7e7e7;}
.wydk_li_selectcon li a:hover {background:#c4d4e1; color:#000; text-decoration:none;}
.wydk_searchbtn {height:44px; line-height:44px; cursor:pointer; color:#666; font-size:14px; font-weight:bold; background:url(../../images/dai/NewSearch_btn.png) 0px 0px no-repeat;text-align:center; border:none;}
.wydk_searchbtn:hover {background:url(../../images/dai/NewSearch_btn.png) 0px -44px no-repeat;}
ul.wdcon_ri_ul li {height:28px; line-height:28px; overflow:hidden; background:url(../i/NewSearch/dian_hui.gif) left center no-repeat;}
ul.wdcon_ri_ul li span {float:left;font-size:8px; color:#666; padding-right:5px;}
ul.wdcon_ri_ul li a {float:left;color:#666; padding-left:10px;}
ul.wdcon_ri_ul li a:hover {color:#2b71b8;}
/***/
.wydk_money1 {background:url(../../images/dai/NewSearch_icon.gif) right 0px no-repeat #fff;}
.wydk_month1 {background:url(../../images/dai/NewSearch_icon.gif) right -42px no-repeat #fff;}
.wydk_money2 {background:url(../../images/dai/NewSearch_icon.gif) right -84px no-repeat #fff;}
.wydk_month2 {background:url(../../images/dai/NewSearch_icon.gif) right -126px no-repeat #fff;}
.wydk_month3 {background:url(../../images/dai/NewSearch_icon.gif) right -210px no-repeat #fff;}
.wydk_month3ho {background:url(../../images/dai/NewSearch_icon.gif) right -168px no-repeat #fff;}
#MonthTs ,#MoneyTs {float:right; color:#fff; line-height:30px;}
.wdcon_ri_other {font-size:12px; color:#ccc; line-height:57px; text-align:center;}

#wydk_type {_margin-top: 0px;}
/* IE7 */ *+html #wydk_type {margin-top: 0px;}
/* IE7 */ *+html .wydk_ipt ,.wydk_type{margin-top: -1px;}