@charset "utf-8";
* {margin:0;padding:0}


img{border:none; vertical-align:middle}



input,select,label{vertical-align:middle}



.captchaimg{cursor:pointer; vertical-align:middle}



.rbox{border:1px solid #f4c791;margin-top:15px}
.rbox .wrap{ padding:3px}
.rbox .title{background:url(../../images/dai/side_title.gif) no-repeat;height:27px; line-height:27px;font-size:14px; text-align:center; color:#fff}
.rbox .title a{color:#fff}




/*----弹出层------*/

#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(../../images/dai/macFFBgHack.png) repeat;}

.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #fff;
	z-index: 1000;
	color:#000000;
	/*display:none;*/
	border: 8px solid #cecece;
	text-align:left;
	top:50%;
	left:50%;
	padding:2px;
}


* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}




#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	margin-bottom:1px;
	text-align:right;
	float:right;
	padding-right:10px;
	padding-top:6px;
}

#TB_closeAjaxWindow a{display:block;float:left;width:22px;height:0px;background:url(../../images/dai/thickbox_close.gif) no-repeat left top; overflow:hidden; padding-top:22px}

#TB_closeAjaxWindow a:hover{background-position:left -22px}



#TB_ajaxWindowTitle{
	float:left;
	padding-left:30px;
	margin-bottom:1px;
	height:31px;
	background:url(../../images/dai/ico_txt_1.gif) no-repeat 10px 12px
}

#TB_title{
	background:url(../../images/dai/thick_title.gif)  repeat-x;
	height:35px;
	line-height:32px;
	font-size:14px;
	color:#fff;
	font-weight:bold
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:hidden;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:100px;
	width:100px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}

