@charset "utf-8";
/* CSS Document */

.main .ban2{background:#121540 url(../../images/dai/xiaofei.jpg) no-repeat center;}
.shortcut{width:938px;height:171px;margin:0 auto;margin-top:24px;padding-left:20px;padding-top:14px;}
h6{font-size:14px;color:#00457c;font-weight: bold}
.seo_font{height:30px;}
.shortcut-item-desc2 {height:56px;line-height: 18px;font-size:12px;color:#999;}
.shortcut .shortcut-noborder{border:none;width:180px;}
.shortcut-item {margin: 15px 0;padding: 0 0 0 35px;width: 208px;height: 135px;border-right: 1px solid #F2F2F2;float: left;}
.mr30{padding-left:10px;}