/* slicer css */
.main-slider .prev,.main-slider .next { position: absolute; top:70px;  background: #ccc; display: block; width:16px; height: 32px; overflow: hidden; text-indent: -9999px;}

.main-slider .prev { background-position: 0px -32px; left:0; }
.main-slider .prev:hover { background-position: -16px -32px;}
.main-slider .prev.first,.main-slider .prev.first:hover { background-position: 0px 0px; cursor: default;}

.main-slider .next { background-position:-32px -32px;  right:0;}
.main-slider .next:hover { background-position: -48px -32px;}
.main-slider .next.last,.main-slider .next.last:hover {  background-position: -32px 0px; cursor:default;}

.main-slider { width:960px; margin:0 auto; position: relative;}
.main-slider .container { width:905px; height:205px; margin:auto; overflow: hidden; position: relative;}

.main-slider .item { float:left; margin-right:15px; width:200px; }
.main-slider .item.last { margin-right: 0;}

.main-slider ul li { float:left; width:905px; height:205px; overflow: hidden;}

.main-slider  dt { font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1; display: block;  font-weight: bold; }
.main-slider  dd a  { color:#84b6cf;}