.clearfix:after, .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix, .cf{ *zoom:1;}
.clear, .c { clear:both; }

.l { float: left;}
.r { float: right;}
table .l { float:none;}
.frame { background: none;}

.sp { padding: 0 5px; color:#999; }

.f-yh,h2,h3,.crumb { font-family:\5FAE\8F6F\96C5\9ED1; }

a { color:#333; }
a:hover { color:#eb7e00;  text-decoration:none; }

.mar-2 { margin:2px; }
.mar-4 { margin:4px; }
.mar-6 { margin:6px; }
.mar-8 { margin:8px; }
.mar-10 { margin:10px; }
.mar-15 { margin:15px; }
.mar-20 { margin:20px; }

.mar-t-2 { margin-top:2px;}
.mar-t-4 { margin-top:4px;}
.mar-t-6 { margin-top:6px;}
.mar-t-8 { margin-top:8px;}
.mar-t-10 { margin-top:10px;}
.mar-t-15 { margin-top:15px;}
.mar-t-20 { margin-top:20px;}

.mar-b-2 { margin-bottom:2px;}
.mar-b-4 { margin-bottom:4px;}
.mar-b-6 { margin-bottom:6px;}
.mar-b-8 { margin-bottom:8px;}
.mar-b-10 { margin-bottom:10px;}
.mar-b-15 { margin-bottom:15px;}
.mar-b-20 { margin-bottom:20px;}

.mar-l-2 { margin-left:2px;}
.mar-l-4 { margin-left:4px;}
.mar-l-6 { margin-left:6px;}
.mar-l-8 { margin-left:8px;}
.mar-l-10 { margin-left:10px;}
.mar-l-15 { margin-left:15px;}
.mar-l-20 { margin-left:20px;}

.mar-r-2 { margin-right:2px;}
.mar-r-4 { margin-right:4px;}
.mar-r-6 { margin-right:6px;}
.mar-r-8 { margin-right:8px;}
.mar-r-10 { margin-right:10px;}
.mar-r-15 { margin-right:15px;}
.mar-r-20 { margin-right:20px;}

.mar-tb-2 { margin-top:2px; margin-bottom:2px;}
.mar-tb-4 { margin-top:4px; margin-bottom:4px;}
.mar-tb-6 { margin-top:6px; margin-bottom:6px;}
.mar-tb-8 { margin-top:8px; margin-bottom:8px;}
.mar-tb-10 { margin-top:10px; margin-bottom:10px;}
.mar-tb-15 { margin-top:15px; margin-bottom:15px;}
.mar-tb-20 { margin-top:20px; margin-bottom:20px;}

.mar-lr-2 { margin-left:2px; margin-right:2px;}
.mar-lr-4 { margin-left:4px; margin-right:4px;}
.mar-lr-6 { margin-left:6px; margin-right:6px;}
.mar-lr-8 { margin-left:8px; margin-right:8px;}
.mar-lr-10 { margin-left:10px; margin-right:10px;}
.mar-lr-15 { margin-left:15px; margin-right:15px;}
.mar-lr-20 { margin-left:20px; margin-right:20px;}

.pad-0 { padding:0px ; }
.pad-2 { padding:2px; }
.pad-4 { padding:4px; }
.pad-6 { padding:6px; }
.pad-8 { padding:8px; }
.pad-10 { padding:10px; }
.pad-15 { padding:15px; }
.pad-20 { padding:20px; }

.pad-t-2 { padding-top:2px; }
.pad-t-4 { padding-top:4px; }
.pad-t-6 { padding-top:6px; }
.pad-t-8 { padding-top:8px; }
.pad-t-10 { padding-top:10px; }
.pad-t-15 { padding-top:15px; }
.pad-t-20 { padding-top:20px; }

.pad-b-2 { padding-bottom:2px; }
.pad-b-4 { padding-bottom:4px; }
.pad-b-6 { padding-bottom:6px; }
.pad-b-8 { padding-bottom:8px; }
.pad-b-10 { padding-bottom:10px; }
.pad-b-15 { padding-bottom:15px; }
.pad-b-20 { padding-bottom:20px; }

.pad-l-2 { padding-left:2px; }
.pad-l-4 { padding-left:4px; }
.pad-l-6 { padding-left:6px; }
.pad-l-8 { padding-left:8px; }
.pad-l-10 { padding-left:10px; }
.pad-l-15 { padding-left:15px; }
.pad-l-20 { padding-left:20px; }

.pad-r-2 { padding-right:2px; }
.pad-r-4 { padding-right:4px; }
.pad-r-6 { padding-right:6px; }
.pad-r-8 { padding-right:8px; }
.pad-r-10 { padding-right:10px; }
.pad-r-15 { padding-right:15px; }
.pad-r-20 { padding-right:20px; }

.pad-tb-2 { padding-top:2px; padding-bottom:2px;}
.pad-tb-4 { padding-top:4px; padding-bottom:4px;}
.pad-tb-6 { padding-top:6px; padding-bottom:6px;}
.pad-tb-8 { padding-top:8px; padding-bottom:8px;}
.pad-tb-10 { padding-top:10px; padding-bottom:10px;}
.pad-tb-15 { padding-top:15px; padding-bottom:15px;}
.pad-tb-20 { padding-top:20px; padding-bottom:20px;}

.pad-lr-2 { padding-left:2px; padding-right:2px;}
.pad-lr-4 { padding-left:4px; padding-right:4px;}
.pad-lr-6 { padding-left:6px; padding-right:6px;}
.pad-lr-8 { padding-left:8px; padding-right:8px;}
.pad-lr-10 { padding-left:10px; padding-right:10px;}
.pad-lr-15 { padding-left:15px; padding-right:15px;}
.pad-lr-20 { padding-left:20px; padding-right:20px;}

body { color:#999;}

.wp,.container { width:980px; margin:10px auto 30px; _overflow:hidden; }

.bg-index { background-image:url("../../images/she/index.png"); _background-image:url("../../images/she/index.png"); background-repeat:no-repeat;}
.icon {background-image:url("../../images/she/icons.png"); _background-image:url("../../images/she/icons.png"); background-repeat:no-repeat; }

/*header 20140103 zibu s*/
.header .header-rearch-submit{ background: #b057c9;  }
.header .header-rearch-submit:hover{ background: #9537b5;}
.header .header-nav-box{ background-color: #b057c9;}
.header .header-nav-back .icon{ background: none;}
.header .header-nav-box li{ border-color: #9d43b7;}
.header .header-nav-box li a:hover{ background-color: #ab43c8;}
.header .header-nav-box li.cur a{ background: #ffffff; color: #000; }
.header .header-nav-box .wp{ margin: 0px auto 0px;}
.header-nav-back a:hover{ color: #fff;}
.header-nav-back s{border-left-color:#b057c9}
/*header 20140103 zibu e*/

/*******楼层**************/
/* 首页楼层顶 */
.floor-tit{ font-family:Microsoft YaHei,"微软雅黑"; height:36px; padding: 10px 0 0 0; border-bottom: 3px solid;}
.floor-tit-num{ float: left; width: 49px; height: 49px; display: block; text-align: center; line-height: 49px; color: #fff; font-weight: bolder;font-size: 21px;margin-top: -10px; background: url(../../images/common/floor-tit.png) no-repeat 0 0;_background-image: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/floor-tit.png", sizingMethod="crop"); _position: relative; _bottom: -3px;}
.floor-tit h3{ font-size: 20px; color: #1a1a1a; float: left; padding-left: 10px;}
.floor-tit h3 a{ color: #1a1a1a;}
.floor-tit h3 span{ font-size: 12px; color: #666;}
.floor-tit-desc{ padding-left: 10px;}
.floor-tit-links{ float: right; color: #ccc; padding: 7px 0 0 0;}
.floor-tit-links a{	font-size: 14px; color: #1a1a1a; padding: 0 14px;}
.floor-tit-more{ color: #fff; font-weight: bold; font-size: 12px; float: right; display: block; height: 26px; width: 41px;margin-top: -10px;padding: 23px 0 0 19px; background: url(../../images/common/floor-tit.png) no-repeat -49px 0;_background-image: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/floor-tit-ie6.png", sizingMethod="crop");_position: relative; _bottom: -3px;}
.floor-tit-more a{ color: #fff;}

/* 首页楼层频道 主结构样式 */
.floor-search{ width: 512px; height: 62px;}
.floor-search-tip{ float: right; width: 146px; height: 44px; padding: 9px 10px; background: #eee url(../../images/www/floor-search-8.png) no-repeat -289px -234px; color: #999; font-size: 12px; line-height: 21px; text-indent: 29px;}
.floor-search-input{font-size: 0; width: 319px; height: 39px; padding: 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.floor-search-input label{ display: none;}
.floor-search-key{ float: left; width: 219px; height: 15px; border:0; color: #999; font-size: 12px;padding: 12px 10px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;border-bottom-left-radius: 3px; *margin-top: 0px; _margin-top: 0px; _float:none;}
.floor-search-submit{float: right; height: 39px; border: 0; vertical-align: top; width: 75px; font-size: 14px; font-weight: bold; background: none; color: #fff; cursor: pointer; _float:none;}
.floor-search-hot-key{ color: #999; padding: 5px 0; line-height: 22px; padding-left: 5px;}
.floor-search-hot-key a{ color: #333; margin: 0 5px;}

.floor-news{ width: 512px; margin-top: 5px;}
.floor-news-bar{ font-size: 16px; color: #000; font-weight: bold; font-family:Microsoft YaHei,"微软雅黑"; line-height: 50px;}
.floor-news-more{ float: right; color: #999; line-height: 50px;}
.floor-news-img{ float: left; margin: 0 17px 17px 0;}
.floor-news-img img{ vertical-align: bottom;}
.floor-news-desc{ display: block; color: #fff; font-size: 16px; font-family:Microsoft YaHei,"微软雅黑"; text-align: center; height: 32px; line-height: 32px; width: 186px;}
.floor-news-list li{margin-bottom: 15px;}
.floor-news-style li span a{font-size: 14px; color: #333; font-weight: bold;}
.floor-news-style li p{ color: #999; margin: 0; padding: 5px; line-height: 23px;}
.floor-news-style li p a{ color: #999;}
.floor-news-small{width: 512px; height: 94px; overflow: hidden;}
.floor-news-small li{ float: left; width: 243px;}
.floor-news-small li img{ float: left; margin:0 12px 0 0;}
.floor-news-with{ margin-right: 25px;}


/* slider in floor */
.slider{border:1px solid #6bb5a7;width:430px;position:relative;overflow:hidden}
.slider h3{height:42px;font:bold 16px/42px 'Microsoft YaHei';color:black;margin:0 30px}
.slider-nav{height:27px;margin:0 0 0 30px;position:relative;z-index:2}
.slider-nav-li,
.slider-nav .more{float:left;margin-right:1px;_display:inline;height:20px;font-size:0;position:relative}
.slider-nav-li a,
.slider-nav .more a{padding:0 10px;font:normal 12px/20px 'SimSun';text-align:center;float:left;color:#6bb5a7;clear:both;height:20px;overflow:hidden;_line-height:22px}
.slider-nav li.cur a,
.slider-nav-li a:hover{color:white;text-decoration:none;border-radius:3px}
.slider-nav .more a:hover{text-decoration:underline}

.slider-nav li.cur a:hover,
.slider-nav li.cur a{font-weight:bold;}
.slider-nav-li a:hover em,
.slider-nav li.cur a em{display:block;;width:0;height:0;font-size:0;line-height:0; border-style:solid dashed dashed;border-width:4px;position:absolute;margin-left:-2px;left:50%;top:20px}
.slider-nav-li a em{display:none}
.slider-nav-fix a{padding:0;width:100%;}
.slider-cont{position:relative;margin-top:-10px;padding-top:10px;clear:both;background:url(../../images/common/slider.png) repeat-y top center;overflow:hidden}
.slider-item{display:none;height:334px;overflow:hidden;width:370px;padding:0px 30px 0;margin:0 auto;font-size:12px;position:relative;}
.slider-item-cur{display:block;}
.slider-item ul{width:388px;overflow:hidden}
.slider-item li{width:176px;float:left;margin:3px 18px 0 0;_display:inline;min-height:145px;_height:145px}
.slider-item .pic{display:block;width:176px;height:115px;position:relative;overflow:hidden;text-align:center;/*line-height:115px;_font-size: 96px;_font-family:Arial;*/}
.slider-item .pic img{/*max-width:176px;max-height:115px;margin:0 auto;vertical-align:middle;_width:176px*/}
.slider-item .pic img.midd{width:auto;height:115px;margin:0 auto}
.slider-item .pic:hover .bg{opacity:1}
.slider-item .price{width:100%;position:absolute;height:20px;left:0;bottom:0;cursor:pointer;font-size:12px}
.slider-item .bg{width:100%;height:100%;background-color:black;opacity:0.7;display:block}
.slider-item .num{padding:0 10px;float:left;position:absolute;left:0;top:0;line-height:20px;color:#ff7a17;font-weight:bold;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-family:Tahoma;font-size:14px;}
.slider-item .num em{font-size:11px}
.slider-item .place{cursor:pointer;float:right;color:white;position:absolute;right:10px;top:0;font-family:'Microsoft YaHei'}
.slider-item .tit{text-align:left;max-width:100%;_width:100%;float:left;margin-top:6px;height:16px;line-height:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#444}
.slider-item .tit:hover{color:black;text-decoration:underline}
.slider-item .cutprice{display:block;color:#e91a1a;font:bold 16px/100% 'Microsoft YaHei';clear:both;padding-top:7px;height:20px}
.slider-item .cutprice em{color:#999;font-size:12px}
.slider-item .platform{height:22px;display:inline-block;*zoom:1;clear:both;line-height:20px;padding-top:5px;color:#666}
.slider-item .platform:hover{color:black;text-decoration:underline}
.slider-page{text-align:right;font-size:0px;padding-right:30px;height:20px;padding-bottom:5px;padding-top:7px}
.slider-page a{margin:0 10px 0 0;font-size:12px;;width:15px;height:15px;text-align:center;line-height:15px;color:#a8a8a8;display:inline-block;*zoom:1;font-family:arial;margin-top:2px;vertical-align:text-bottom;border-radius:2px}
.slider-page a.cur,.slider-page a:hover{background-color:#6bb5a7;color:white;text-decoration:none}
.slider-page a.more{width:auto;color:#222;font-family:'SimSun';margin:0 0 0 10px;border-radius:0;}
.slider .slider-page a.more:hover{background:none;color:#000;text-decoration:underline;}
.slider-arr{width:30px;font-size:50px;position:absolute;top:50%;margin-top:-20px;text-align:center;font-family:'SimSun';line-height:40px;color:#d4d4d4;text-shadow:2px 2px 2px white;outline:none;
    -webkit-transition:color .3s ease;
    -moz-transition:color .3s ease;
    -o-transition:color .3s ease;
    -ms-transition:color .3s ease;
    transition:color .3s ease;}
.slider-arr:hover{color:#333;text-decoration:none}
.slider-arr:active{margin-top:-19px}
.slider-prev{left:0;text-align:left}
.slider-next{right:0;text-align:right}
.slider-ad{height:43px;background:url(../../images/common/slider-line.png) repeat-x 0 5px;margin:0 30px;padding-top:12px;}
.slider-ad a{margin-right:10px}
/*自定义
.slider-you{border-color:#6bb5a7;color:#6bb5a7}
.slider-you .slider-nav-li a,.slider-you .more a{color:#6bb5a7}
.slider-you li.cur a,
.slider-you .slider-nav-li a:hover{background:#6bb5a7;color:white}
.slider-you .slider-nav li em{border-color:#6bb5a7 transparent transparent;}
.slider-you .slider-page a.cur, .slider-you .slider-page a:hover{background-color:#6bb5a7}
.slider-you .slider-item{height:334px}如果是普通样式    是不需要这行的
*/
/*等级 s*/
.level-bar{position:relative;width:98px;margin:10px auto 0;padding:0 45px;}
.level-line,
.level-in{position:relative;width:92px;height:6px;background-image: url(../../images/www/level-line.png);background-repeat: no-repeat;}
.level-in{background-position:0 -16px;}
.level-num{position:absolute;top:-5px;display:block;width:25px;height:29px;}
.leve-left{left:0;}
.leve-right{right:0;}
.level0{background-position:0 -32px;}
.level1{background-position:0 -17px}
.level2{background-position:-34px -17px}
.level3{background-position:-68px -17px}
.level4{background-position:-102px -17px}
.level5{background-position:-136px -17px}
.level6{background-position:-170px -17px}
.level-point{position:absolute;right:-12px;top:-3px;width:12px;height:12px;background:url(../../images/www/level-line.png) no-repeat 0 -32px scroll;}
/*等级 e*/
.siteintro{width:182px;height:121px;border:1px solid #e4e4e4;padding:14px 0 0 16px;margin-top:15px;background:url(../../images/www/why_b5m.jpg) no-repeat scroll right bottom #fff;}
.siteintro strong{display:block;height:17px;font:bold 14px/17px \5FAE\8F6F\96C5\9ED1;color:#333;margin-bottom:9px}
.siteintro span{height:22px;line-height:22px;font-size:12px;color:#666;padding-left:18px;display:block;background:url(../../images/www/icon.png) no-repeat scroll 0 -692px transparent;}
.b5tad{display:block;margin:15px 0 0}
.b5tad img{display:block}
/*图片滚动 s*/
.pic-slider{width: 540px;height: 230px;overflow: hidden;*position:relative;}
.pic-slider ul{position: relative;}
.pic-slider .nums{float:right;margin:-20px 10px 0 0;position:relative;}
.pic-slider .nums a{float:left;margin-left:6px;font-size:0;line-height:0;overflow:hidden;height:10px;width:10px;cursor: pointer;background:url(../../images/www/icon.png) no-repeat scroll -150px -450px;_background-image:url(../../images/www/icon8.png);}
.pic-slider .nums a:hover,
.pic-slider .nums .cur{background-position:-100px -450px;}
/*图片滚动 e*/

/*----banner s----*/
.row-index .col{float:left; _display:inline;}
.row-index .col-space{width: 200px;height:430px;}
.row-index .col-center{width: 540px;margin:23px 20px 0 20px;}
.row-index .col-side{width: 200px;margin-top: 20px;position: relative;}
.checkin{height:120px;width:188px; overflow: hidden; background-color:#fff;border:1px solid #ededed;position:relative;}
.avater{display:block;width:52px;height:52px;display:block;position:absolute;left:9px;top:8px;background-position:0 -66px}
.noavater{background-position:0 -132px}
.avater-img{background:none}
.avater-img img{display:block;width:52px;height:52px;}
.avater-border{position:absolute;left:0;top:0}
.checkin .username{font:bold 12px/14px \5FAE\8F6F\96C5\9ED1;color:#333;display:inline-block;*zoom:1;margin:10px 0 0 84px;max-width:124px;_width:114px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:14px;}
.checkin .username:hover{color:#eb7e00;text-decoration: underline;}
.checkin .begin{line-height:18px;color:#999;font-size:12px;margin:0 0 0 84px}
.checkin-btn{margin:9px auto;display:block;font:normal 14px/27px \5FAE\8F6F\96C5\9ED1;_line-height:29px;color:#fff;text-indent:30px;text-align:left;background-position:-43px -200px;background:url(../../images/www/icon.png) no-repeat scroll 5px -753px #f48300;_background-image:url(../../images/www/icon8.png);width:126px;height:27px;border-radius:2px;overflow:hidden;
    -webkit-transition: background-position .1s ease-in;
    -moz-transition: background-position .1s ease-in;
    -ms-transition: background-position .1s ease-in;
    -o-transition: background-position .1s ease-in;
    transition: background-position .1s ease-in;
}
.checkin-btn:hover{background-position:5px -750px; color: #fff;}
.checkin-btn-dis{width:124px;height:25px;text-align:center;text-indent:0;line-height:25px;;_line-height:27px;color:#666;background:white;border:1px solid #e8e8e8;cursor:default}
.checkin-btn-dis:hover{ color: #666;}
/*----banner s----*/


/*----mobile-app s----*/
.mobile-app{overflow: hidden;zoom:1;}
.mobile-app .hd{height: 14px;line-height: 16px;padding:15px 74px 10px 0;font-size: 14px;background:url(../../images/www/mobile-app.png) no-repeat scroll 0 bottom;}
.mobile-app .hd h2{float:left;color:#333;font-family:\5FAE\8F6F\96C5\9ED1;}
.mobile-app .hd .more{float:right;color:#666;font-size:12px;}
.mobile-app .list-h{border-top:1px solid #E4E4E4;margin-right:-14px;overflow:visible;}
.mobile-app .list-h li{width:127px;height:142px;padding-right:11px;background:url(../../images/www/icon.png) no-repeat right 0;margin-top:-1px;_background-image:url(../../images/www/icon8.png);}
.mobile-app .list-h a{display:block;padding-top: 100px;font-size:12px;color:#666;text-align:center;background-image:url(../../images/www/icon.png);_background-image:url(../../images/www/icon8.png);background-repeat:no-repeat;line-height:14px;height:30px;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    -ms-transition: all ease-in .2s;
    -o-transition: all ease-in .2s;
    transition: all ease-in .2s;
}
.mobile-app .list-h a:hover{color:#eb7e00;}
.mobile-app .list-h .app-b5m{background-position: -69px -31px;}
.mobile-app .list-h .app-b5m:hover{background-position: -69px -40px;}
.mobile-app .list-h .app-you{background-position: -219px -31px;}
.mobile-app .list-h .app-you:hover{background-position: -219px -40px;}
.mobile-app .list-h .app-tao{background-position: -69px -231px;}
.mobile-app .list-h .app-tao:hover{background-position: -69px -240px;}
.mobile-app .list-h .app-gou{background-position: -219px -231px;}
.mobile-app .list-h .app-gou:hover{background-position: -219px -240px;}
/*----mobile-app s----*/

/*----floor s----*/
.floor-tit-links a:hover,
.floor-news-more:hover,
.floor-news-style li span a:hover,
.slider-item .tit:hover,
.slider .slider-page a.more:hover,
.b5t-info dl a:hover,
.slider-item .platform:hover,
.b2c-links li p a:hover,
.mobile-app .hd .more:hover,
.floor-search-hot-key a:hover,
.korea-news a:hover{color:#eb7e00;text-decoration: none;}

/*******楼层**************/


/* 头部 */
.header .top  { width:980px; margin:auto; height:85px; padding-top: 15px; background:url("../../images/she/top-bg.png") no-repeat 210px 32px; }

.she .header-nav{background: #b057c9;}
.she .header-nav ul li{ border-left: 1px solid #c281d5;}
.she .header-nav ul li.nob { border-left:none;}
.she .header-nav ul li a:hover{ background-color: #ab43c8;}
.she .header-nav ul li a.this,.she .header-nav ul li a.this:hover{background-color: #fff; color:#333;}
.she .header-nav ul li.b5m-home a{ background: #9e4eb5 url(../../images/common/header-nav.png) no-repeat  -110px 13px;}
.she .header-search{ background: #fff; height: 32px; padding: 7px 0; border-bottom:1px solid #e7e6e6;}
.she .header-rearch-submit{background: #b057c9; *margin-left:-1px; *margin-top:-1px; _margin-top:1px;}
.she .header-nav ul li a { color:#fff;}
.she .header-nav ul li a:hover { text-decoration: none;}
.she .header-nav ul li.b5m-home { border-left:none; }
.she .header-nav ul li.b5m-home a:hover {background-color: #ab43c8;}

.header-search-key.focus { color:#C5000D;}
.header-search-content label { background: url("../../images/she/header-nav.png") no-repeat; }


.sprite{background:url(../../images/she/icons.png) no-repeat }
.panel-nav{height:55px; margin:10px -36px 0 0;}
.panel-nav span,.panel-nav a{width:50px;height:12px;margin-right:36px;float:left;_display:inline;font:normal 12px/150% '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';text-align:center;white-space:nowrap;padding-top:38px;}

/*
.floor-tit-num{ _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://you.b5m.com/static/new/images/common/floor-tit.png", sizingMethod="crop"); }
.floor-tit-more{  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://you.b5m.com/static/new/images/common/floor-tit-ie6.png", sizingMethod="crop"); }
*/

/* banner */
.banner {}
.banner .top-slider { float:left; width:360px; margin-right: 20px;}
.banner .hot { float:left; width:300px; margin-right: 20px;}
.banner .hot h2 { height:24px; margin-bottom: 15px; text-indent: -9999px; }
.banner .hot h3 { font-size:14px; text-align: center; margin-bottom:6px;}
.banner .hot p { line-height:24px; padding-bottom: 10px; margin-bottom: 10px; background: url("../../images/she/line-1.png") repeat-x bottom;}
.banner .hot p a { color:#b057c9;}
.banner .hot p a:hover {  color:#eb7e00;}
.banner .hot ul { width:145px; float:left;}
.banner .hot ul li { padding-left: 8px; background: url("../../images/she/li-1.png") no-repeat 0px 10px; line-height: 24px;}
.banner .hot ul li a { }
.banner .hot .pic { float:right; width:145px; }
.banner .info { float:right; width:240px; padding:10px; height:280px; border:1px solid #dbdbdb;}
.banner .info h2 { background-position: 0px -40px; text-indent: -9999px; height:20px; margin-bottom: 10px;}
.banner .info ol { border-bottom: 1px solid #ececec; padding-bottom: 5px; margin-bottom: 10px;}
.banner .info ol li { float:left; width:102px; padding-left: 18px; line-height:24px; background-position: 0px -74px;}
.banner .info h3 { background-position: 0px -80px; text-indent: -9999px; height:20px; margin-bottom: 10px;}
.banner .info .r { width:130px; color:#666;}
.banner .info .next,.banner .info .prev { float:left; display: block; height:24px; background-color:#ececec; width:120px; line-height: 24px; text-align: center; background-position:86px -108px;}
.banner .info .next { width:119px; border-left:1px solid #d2d2d2; background-position: 86px -138px;}
.banner .info .next:hover,.banner .info .prev:hover { text-decoration: none; background-color: #ddd;}
.banner .info .next.last,.banner .info .prev.last { background-color: #ececec; color:#b9b8b8; cursor:default; }
.banner .info-scroll {height:120px; overflow: hidden; margin-bottom: 8px;}
.banner .info ul li { padding-left: 0; overflow: hidden; height:130px; }

/* top slider */
div.slideBox{ position:relative; width:670px; height:300px; overflow:hidden;}
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox div.tips{ position:absolute; bottom:0px; width:100%; height:50px; background-color:#000; overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
div.slideBox div.tips div.title a{ color:#FFF; font-family: \5FAE\8F6F\96C5\9ED1; font-size:14px; line-height:50px; margin-left:10px; text-decoration:none;}
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
div.slideBox div.tips div.nums a{ display:inline-block; >float:left/*For IE.ADD.JENA.201206300844*/; width:12px; height:12px; background-color:#FFF; text-indent:-99999px; margin:20px 10px 0px 0px; overflow: hidden;}
div.slideBox div.tips div.nums a.active{ background-color:#ff2e29;}



/* 楼层 */
.floor-content {  margin-bottom: 20px; }
.slider-arr:hover { text-decoration: none;}
.floor-news { float:left;}
.slider-korea { float:right; margin-top:16px;}
.floor-news { margin-top: 20px;}

.floor-tit.fl1{ border-bottom-color:#c957c0;}
.floor-tit.fl1 .floor-tit-num,.floor-tit.fl1 .floor-tit-more{ background-color:#c957c0;}
.floor-content.fl1 .slider-korea { border-color:#c957c0;}
.floor-content.fl1 .slider-korea li.cur a,.floor-content.fl1 .slider-korea .slider-nav-li a:hover { background-color: #c957c0;}
.floor-content.fl1 .slider-korea .slider-nav-li em { border-color:#c957c0 transparent transparent; }
.floor-content.fl1 .slider-korea .slider-nav-li a,.floor-content.fl1 .slider-korea .more a { color:#333;}
.floor-content.fl1 .slider-korea .slider-page a.cur,.floor-content.fl1 .slider-korea .slider-page a:hover { background-color: #c957c0;}

.floor-tit.fl2{ border-bottom-color:#e045a4;}
.floor-tit.fl2 .floor-tit-num,.floor-tit.fl2 .floor-tit-more{ background-color:#e045a4;}
.floor-content.fl2 .slider-korea { border-color:#e045a4;}
.floor-content.fl2 .slider-korea li.cur a,.floor-content.fl2 .slider-korea .slider-nav-li a:hover { background-color: #e045a4;}
.floor-content.fl2 .slider-korea .slider-nav-li em { border-color:#e045a4 transparent transparent; }
.floor-content.fl2 .slider-korea .slider-nav-li a,.floor-content.fl2 .slider-korea .more a { color:#333;}
.floor-content.fl2 .slider-korea .slider-page a.cur,.floor-content.fl2 .slider-korea .slider-page a:hover { background-color: #e045a4;}

.floor-tit.fl3{ border-bottom-color:#aa57c9;}
.floor-tit.fl3 .floor-tit-num,.floor-tit.fl3 .floor-tit-more{ background-color:#aa57c9;}
.floor-content.fl3 .slider-korea { border-color:#aa57c9;}
.floor-content.fl3 .slider-korea li.cur a,.floor-content.fl3 .slider-korea .slider-nav-li a:hover { background-color: #aa57c9;}
.floor-content.fl3 .slider-korea .slider-nav-li em { border-color:#aa57c9 transparent transparent; }
.floor-content.fl3 .slider-korea .slider-nav-li a,.floor-content.fl3 .slider-korea .more a { color:#333;}
.floor-content.fl3 .slider-korea .slider-page a.cur,.floor-content.fl3 .slider-korea .slider-page a:hover { background-color: #aa57c9;}

.floor-tit.fl4{ border-bottom-color:#da4584;}
.floor-tit.fl4 .floor-tit-num,.floor-tit.fl4 .floor-tit-more{ background-color:#da4584;}
.floor-content.fl4 .slider-korea { border-color:#da4584;}
.floor-content.fl4 .slider-korea li.cur a,.floor-content.fl4 .slider-korea .slider-nav-li a:hover { background-color: #da4584;}
.floor-content.fl4 .slider-korea .slider-nav-li em { border-color:#da4584 transparent transparent; }
.floor-content.fl4 .slider-korea .slider-nav-li a,.floor-content.fl4 .slider-korea .more a { color:#333;}
.floor-content.fl4 .slider-korea .slider-page a.cur,.floor-content.fl4 .slider-korea .slider-page a:hover { background-color: #da4584;}

.floor-tit.fl5{ border-bottom-color:#e14679;}
.floor-tit.fl5 .floor-tit-num,.floor-tit.fl5 .floor-tit-more{ background-color:#e14679;}
.floor-content.fl5 .slider-korea { border-color:#e14679;}
.floor-content.fl5 .slider-korea li.cur a,.floor-content.fl5 .slider-korea .slider-nav-li a:hover { background-color: #e14679;}
.floor-content.fl5 .slider-korea .slider-nav-li em { border-color:#e14679 transparent transparent; }
.floor-content.fl5 .slider-korea .slider-nav-li a,.floor-content.fl5 .slider-korea .more a { color:#333;}
.floor-content.fl5 .slider-korea .slider-page a.cur,.floor-content.fl5 .slider-korea .slider-page a:hover { background-color: #e14679;}


.floor-news-desc { background-color: #333;}
.floor-content .slider.slider-korea .slider-nav-li.cur a { color:#fff;}
.floor-content .slider.slider-korea .slider-nav-li a:hover { color:#fff;}
.floor-content .slider.slider-korea .slider-page a.more:hover { background: none; }

.b2c-links-border{border-top:3px solid #5d5d5d;height:20px;overflow:hidden}

.slider-item { height:296px;}

.floor-news-style li span a:hover,.floor-news-style li p a:hover,.slider-item .tit:hover,.b2c-links li a:hover span { color:#eb7e00; }
.floor-tit-more a:hover { color:#fff; text-decoration: underline; }

/*added viola 14.10.2013*/
.brand-slider{position: relative;margin:0 0 20px;}

.brand-slider .mask{height:104px; overflow: hidden; margin:5px auto 0; zoom:1;  width: 306px; position:relative; }

.brand-slider ul{width:200%; overflow: hidden;}

.brand-slider li{width:100px; height: 100px; overflow: hidden; float: left; display: inline; padding:2px;}


.brand-slider li  .bg{ background: #000; opacity: 0.3; filter:alpha(opacity=30);width:100%;height: 100%; position: absolute;left:0;top:0;z-index: 1; display: none;}


.brand-slider li .text{padding:10px 5px;color:#fff;position: absolute;left:0;bottom:0;z-index: 2; display: none;}

.brand-slider li .img-con{ position: relative;height:100px;width:100px; overflow:hidden;}

.brand-slider li .img-con img{ width:100px;}

.brand-slider em{cursor: pointer;}

.brand-slider .b-l{ background: url(../../images/she/arrow.png) no-repeat 0 0; position:absolute; left:0; top:36px; height:20px;width:10px; }

.brand-slider .b-r{ background: url(../../images/she/arrow.png) no-repeat -33px 0; position:absolute; right:0; top:36px; height:20px;width:10px; }

.brand-slider .sl_disable{opacity: 0.4; cursor: default;filter:alpha(opacity=40);}

.brand-slider .b-l.sl_disable:hover{background-position: 0 0px;}

.brand-slider .b-r.sl_disable:hover{background-position: -33px 0px;}

.brand-slider .b-l:hover{ background-position: 0 -30px;}

.brand-slider .b-r:hover{ background-position: -33px -30px;}

.fashion-brand{overflow: hidden; _width:330px;}

.fashion-brand ul{overflow: hidden;zoom:1;width:120%;margin:-2px 0 0  -15px;}

.fashion-brand li{float:left;border-left:1px dotted #b5b5b5;border-top:1px dotted #b5b5b5;width:140px;padding:20px; height:56px; overflow: hidden;}


.fashion-brand li .img-con{overflow: hidden;height:56px;width:56px; float: left;;}

.fashion-brand li dl{_width:70px;}

.fashion-brand li  dt{font:bold 16px/20px 'Microsoft Yahei' ,sans-serif;height:20px;}

.fashion-brand li .rt{margin:0 0 0 65px;}

.fashion-brand li .gray{color:#bbb;font-weight: normal;}

.fashion-brand li dd{font-weight: bold; height: 18px; line-height: 18px;}

.fashion-brand li dd,.fashion-brand li dt{overflow: hidden; white-space: nowrap; text-overflow:ellipsis;word-wrap: normal;width: 100%;  }

.pinpai_main .pinpai_cont{padding:0;}

.pinpai_cont .second-list {overflow:visible;}

.pinpai_cont  .pinpai_info {width:609px;   margin-top: -10px;overflow: hidden;zoom:1; margin-bottom:20px;}

.pinpai_info p.intro{width:268px; height:118px; margin: 35px 0  0;}

.logo_name  {width: 130px; display:inline; margin:0 15px 0 15px; padding:20px 0 0;}

.logo_name dt,.logo_name dd{ width:100%; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;word-wrap: normal;}

.logo_name dt{font:bold 30px/40px 'Microsoft Yahei', sans-serif; height: 40px;}

.logo_name dd{font-weight: bold;height:18px;}

.logo_name dd .gray{color:#999;font-weight: normal;}

.logo_name dd.last{margin:10px 0 0; height: auto;}

.logo_name dd.last a{margin:0;}

.pinpai_cont .second-h3{margin: 20px 0 0;}

.pinpai_cont .slider2{width:609px;  margin:20px 0 ;}

.pinpai_cont .slider2 dd{overflow: hidden; position: relative;}

.pinpai_cont .slider2 dt{padding:0 0 20px 5px;}

.pinpai_cont .slider2 dt .tt{display: inline-block; vertical-align: middle;height:27px; width:110px; background:url(../../images/she/she_btns.png) no-repeat 0 -73px;font-size: 0px; line-height: 0px; overflow: hidden;}

.pinpai_cont .slider2 .mask{overflow: hidden;width:600px; margin: 0 auto;}

.pinpai_cont .slider2 ul{border:none; width:200%;overflow: hidden;zoom:1;}

.pinpai_cont .slider2 li{width:130px; padding:0 10px; height: auto; float: left; display: inline; clear:none;}

.pinpai_cont .slider2 li:hover{background:none;}

.pinpai_cont .slider2 li .img-con{height:130px; width:130px; overflow: hidden;}

.pinpai_cont .slider2 li .img-con img{height: 130px;}

.pinpai_cont .slider2 li .text{color:#666; padding: 10px 0 0; height:36px; line-height: 18px; overflow: hidden;}

.pinpai_cont .slider2 em{cursor: pointer;}

.pinpai_cont .slider2 .b-l{ background: url(../../images/she/arror2.png) no-repeat 0 0; position:absolute; left:0; top:36px; height:45px;width:24px; opacity: 0.7; filter:alpha(opacity = 70);}

.pinpai_cont .slider2 .b-r{ background: url(../../images/she/arror2.png) no-repeat -24px 0; position:absolute; right:0; top:36px; height:45px;width:24px;  opacity: 0.7; filter:alpha(opacity = 70);}


.pinpai_cont .slider2 .b-l:hover{ opacity: 1; filter:alpha(opacity = 100);}

.pinpai_cont .slider2 .b-r:hover{ opacity: 1; filter:alpha(opacity = 100);}


.pinpai_cont .slider2 .sl_disable{opacity: 0.3!important; filter:alpha(opacity = 30)!important; background-color: #ddd; cursor: default;}

#nv_group{overflow-x:hidden;}

.pinpai_main .pinpai_info a.follow{ background: url("../../images/she/she_btns.png") no-repeat; height: 32px;}

.pinpai_main  .pinpai_info a.follow:hover{ background-position: 0 -33px}


/*added viola end*/


/*  搜索结果页 */
.search-key{ padding-bottom: 15px;}
.search-key span{ padding: 0 10px;}
.light-key{color: #b057c9;}