/*
	date:2013-10-11
	des:帮币相关页面;
 */
.user-account .user-account-n{font-size:14px;color:#666;font-family: \5FAE\8F6F\96C5\9ED1}
.user-account .user-account-n strong{font-size:18px;color:#333;}
.user-account .user-account-money{margin-left:50px;}
.user-account .user-account-money em{color:#eb7e00;font-weight:700;margin:0 3px;}
.account-r{padding:10px 0 10px;border-left:1px dashed #aeaeae;width:265px;padding-left:20px;}

.account-tips{position:relative;background-color: #FFFBEB}
.account-tips strong{float:left;}
.account-tips span{display: block;margin-left:45px;}
.account-chongzhi{padding:10px 20px 30px;background-color: #F8F8F8;border-top: 1px solid #E7E6E6;}
.account-chongzhi .chongzhi-form .item{padding-left:110px;position: relative;margin:10px 0;color:#666;zoom:1;}
.account-chongzhi .chongzhi-form .item-left{position: absolute;left:0;width:110px;color:#333;}
.account-chongzhi .chongzhi-form .more-money strong{font-size:16px;margin:0 3px;}
.chongzhi-select{width:80px;display: inline-block;*display: inline;*zoom: 1;}

.duihuan-form{padding-left:40px;}
.duihuan-form .item{margin:9px 0;}
.duihuan-form .btn{margin-top: 8px;}
.state dt{font-size:14px;font-weight: 700;color:#666;}
.state dd{padding-left:10px;position: relative;margin:5px 0;color:#686868;}
.state s{position: absolute;top:8px;left:0;width: 4px; height: 4px;background: #bfbfbf; font-size: 0;}