/*-----@bind-name s----*/
.bind-name{height:460px;padding-top: 60px;padding-left: 60px;}
.bind-name__title{padding-left:40px;font-size:24px;font-family:\5FAE\8F6F\96C5\9ED1;color:#666;margin-bottom: 30px;}
/*-----@bind-name e----*/