/*
	date:2013-10-11;
	des:account;
 */
.safe-title{margin-bottom:10px;font-size:14px;color:#333;font-family: \5FAE\8F6F\96C5\9ED1}
.table-account td{height:115px;color:#999;}
.table-account tbody tr{background-color: #F5F5F5; border-top: 1px solid #E4E4E4; zoom: 1; }
.table-account tbody tr:nth-child(even),
.table-account .trEvenBg{background-color: #fff; border-top: none; zoom: 1;}
.icon-miling,
.icon-email,
.icon-mobile{width:38px;height:38px;}
.icon-miling{background-position:0 -200px;}
.icon-email{background-position:-50px -200px;}
.icon-mobile{background-position:-100px -200px;}
.icon-100{background-position: 0 -450px;width:35px;height:15px;}

.tip-error{color:#FF0400;}
.tip-success{color:#41AD00;}

.user-account-info{position: relative;margin-top:50px;zoom:1;}
.user-pic{border: 1px solid #DBDBDB; padding: 1px; display: inline-block;}
.user-account-info p{color:#666;line-height: 22px;}
.user-account-info span{margin-right:20px;color:#999;}
.user-account-info .progress-2{margin-top:15px;margin-bottom:15px;width:526px;}
.account-title{margin-bottom:10px;font-size:14px;font-weight:700;}

.address-manage{position: relative;}
.address-manage .tooltips{left:182px;top:56px;}

.progress-box{width:384px;padding:0 40px 50px 88px;position: relative;margin: 30px 0 0 20px;}
.progress-box .right,
.progress-box .left{position: absolute;top:0;}
.progress-box .left{left:0;}
.progress-box .right{right:0;}
.progress-box .icon-100{margin-top: 2px;}
.progress-tooltips{position:absolute;left:-12px;top:30px;padding:8px;background-color:#FCEBBD;white-space: nowrap;font-style:normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.progress-tooltips .arrow{position:absolute;top:-10px;left:18px;width:0px;height:0;font-size:0;overflow: hidden;border:5px dashed transparent;border-bottom:5px solid #FCEBBD;}
/*----upload avater s----*/
.form-upload{margin:5px 0 24px;}
.form-upload .btn{margin-left: 10px;}
.upload-avatar{padding:16px 0 0 18px;}
.upload-avatar p{color:#666;}
.upload-avatar--now{display: inline-block;*display: inline;*zoom: 1;margin:10px 0 24px;border:1px solid #DBDBDB;padding:1px;}
.avatar-new{margin-top:30px;display:none;width:100%;overflow:hidden;display:none}
.avatar-new .save-avatar{margin-top: 10px;}
.avatar-new span.title{color:#666;width:100%;height:24px;display:block;font-size:12px}
.avatar a.saveBtn{margin:30px 0 0}
.avatar .clear-fix{width:100%;height:0px;overflow:hidden}
.cutbox{width:300px;height:300px;float:left;position:relative;border:2px solid #ddd}
.loading{position:absolute;display:none;left:0;top:0;z-index:100;width:100%;height:100%;background:url(http://old.b5m.com/common/images/loader.gif) no-repeat 90px 135px;background-color:white;opacity:0.7;line-height:300px;text-indent:130px;font-weight:bold;font-size:14px}
.avatar-new .arrow{float:left;margin-left:50px;display:inline;width:18px;height:300px;border-left:2px solid #f3f3f3;background:url(../images/ucenter/arrow.png) center center no-repeat}
.avatar-preview{float:left;margin-left:32px;}
.avatar-preview span{font-size:12px;color:#999;clear:both;display:block;margin-top:5px}
.avatar-preview span.title{height:52px;margin-top:0;color:#666}
.avatar-preview img{display:block;width:100%;height:100%;margin:0 auto;position:absolute;left:0;top:0}
.avatar-preview div div{border:1px solid #ddd;}
.avatar-preview div.small{margin-top:24px}
.avatar-preview-left{float:left;width:190px;}
.avatar-preview-right{width:80px;float:left}
.img130,.img32,.img48{position:relative;overflow:hidden;background:white}
.img130{width:130px;height:130px;}
.img32{width:32px;height:32px;}
.img48{width:48px;height:48px;}


.avatar{height:820px}
.avatar-old{margin-top:15px;width:120px;overflow: hidden;height:18px;}
.avatar-old span{display:block;color:#666}
.avatar-old img{display:block;margin-top:8px}

.avatar-upoad{height:27px;width:100%;margin-top:20px}
.avatar-upoad span{display:block;float:left;color:#666;line-height:27px;}
.avatar-upoad .uploadify-button span{width:66px;height:27px;text-align:center;display:block;}
.avatar-upoad div{position:relative;overflow:hidden;width:66px;height:27px;ouline:none;background:url(../../images/center/upload_tab.png) no-repeat 0 0;float:left;text-align:center;line-height:27px;color:#666;margin-right:10px;_display:inline}
.avatar-upoad div .swfupload{position:absolute;left:0;top:0}
.avatar-upoad div .uploadify-queue{display:none}

.avatar-new{margin-top:30px;display:none;width:100%;overflow:hidden;display:none}
.avatar-new span.title{color:#666;width:100%;height:24px;display:block;font-size:12px}
.avatar a.saveBtn{margin:30px 0 0}
.avatar .clear-fix{width:100%;height:0px;overflow:hidden}
.cutbox{width:300px;height:300px;float:left;position:relative;border:2px solid #ddd}
.loading{position:absolute;display:none;left:0;top:0;z-index:100;width:100%;height:100%;background:url(http://old.b5m.com/common/images/loader.gif) no-repeat 90px 135px;background-color:white;opacity:0.7;line-height:300px;text-indent:130px;font-weight:bold;font-size:14px}
.avatar-new .arrow{float:left;margin-left:50px;display:inline;width:18px;height:300px;border-left:2px solid #f3f3f3;background:url(../images/ucenter/arrow.png) center center no-repeat}
.avatar-preview{float:left;margin-left:32px;}
.avatar-preview span{font-size:12px;color:#999;clear:both;display:block;margin-top:5px}
.avatar-preview span.title{height:52px;margin-top:0;color:#666}
.avatar-preview img{display:block;width:100%;height:100%;margin:0 auto;position:absolute;left:0;top:0}
.avatar-preview div div{border:1px solid #ddd;}
.avatar-preview div.small{margin-top:24px}
.avatar-preview-left{float:left;width:190px;}
.avatar-preview-right{width:80px;float:left} 

.avatar-succ,
.avatar-fail{height:16px;padding:8px 0 10px 0;;background:#edf5d7;border:1px solid #d8e9ad;color:#799a23;font-size:12px;}
.avatar-succ img,
.avatar-fail img{vertical-align:middle;margin-left:16px}
.avatar-succ,
.avatar-fail{margin:3px 0 0 0}
.avatar-fail{border:1px solid #ff9c9c;background:#ffd7d7;;color:red;}
.alertDlg{width:210px;height:111px;background:url(../images/ucenter/alert_bg.png) no-repeat;z-index:1000;position:absolute;text-indent:88px;line-height:104px;text-align:left;font-size:14px;font-weight:bold}

.ui-cut-helper-image{width:100%;height:100%;left:0;top:0;position:absolute;background:white}
.ui-cut-helper{width:60px;height:60px;left:120px;top:120px;position:absolute;border:2px dotted white;margin:-2px 0 0 -2px;z-index:111;cursor:move;}
.ui-cut-helper .bg{width:100%;height:100%;background:white;opacity:0.1;filter:alpha(opacity=10)}
.ui-cut-help-rb{right:-3px;bottom:-3px;width:5px;height:5px;background:white;border:1px solid #000;position:absolute;cursor:nwse-resize;overflow:hidden;cursor:se-resize}
/*----upload avater e----*/
.account-invite{min-height:330px;}
.user-account-invite h3{margin:20px 0;font-size:14px;color:#666;font-weight:normal;font-family:\5FAE\8F6F\96C5\9ED1;}
.user-account-invite h3 span{margin:0 5px;color:#EB7E00;font-weight:bold;}
.user-account-invite p{margin-bottom:10px;font-size:12px;color:#666;}
.user-account-invite p span{color:#999;}
.user-account-invite textarea{width:690px;height:67px;background:#f8f8f8;border:0 none;border-top:1px solid #edecec;padding:10px 20px;overflow:auto;color:#333;font-size:12px;font-family:arial;line-height:22px;word-wrap:break-word;word-break:keep-all;}
.user-account-invite .copy{margin-top:20px;}
.user-account-invite .copy a{display:inline-block;width:94px;height:30px;line-height:30px;text-align:center;color:#fff;background:#eb7e00;text-decoration:none;font-family:\5FAE\8F6F\96C5\9ED1;font-size:14px;}
.J_share{margin-top:20px;padding:15px 0;border-top:1px solid #f1f1f1;}
.user-account-invite .deal-share{margin-top:20px;}
.user-account-invite .deal-share span{float:left;height:16px;line-height:14px;font-size:12px;color:#666;line-height:16px;}
.user-account-invite .deal-share #sinamb,.user-account-invite .deal-share #qqzone,.user-account-invite .deal-share #qqmb{margin-right:5px;cursor:pointer;}
/* favorites Start Lvzhuweng 20140108 */
.favorites-sel i,.icon-del,.fav-reduce{background: url(../../images/center/icon-favorites.png) no-repeat;}
.layout-favorites-corp{margin:20px 0;padding:5px 0;border:1px solid #E7E7E7;line-height: 22px;}
.layout-favorites-corp span{width:50px;text-align: right;color:#666;}
.layout-favorites-corp ul{width:681px;}
.layout-favorites-corp li{float: left;width:84px;padding-left:12px;}
.layout-favorites-corp a{color:#666;}
.layout-favorites-corp a.current,.layout-favorites-corp a:hover{color:#EB7E00;}
.layout-tab-favorites span{font-size:12px;font-family: tahoma,arial,\5b8b\4f53;}
.layout-favorites-opt{margin:10px 0 30px;}
.favorites-sel{width:160px;}
.favorites-sel span{float:left;width:79px;height:22px;line-height:22px;text-align: center;cursor: pointer;color:#666;border:1px solid #CACACA;margin-right:-1px;}
.favorites-sel span.current{color:#EB7E00;background: #F5F5F5;}
.favorites-sel i{display: inline-block;width:8px;height:10px;font-size:0;line-height:0;overflow: hidden;vertical-align: -1px;margin-left:3px;background-position: 0 0;}
.favorites-sel i.down{background-position: -9px 0;}
.fav-del{color:#656565;}
.icon-del{display: inline-block;width:13px;height:12px;font-size:0;line-height:0;overflow: hidden;cursor:pointer;background-position: -20px -1px;vertical-align: -2px;margin-right:3px;}
.fav-select{padding-right:22px;}
.fav-select input{width:13px;height:13px;vertical-align: -2px;margin-right:3px;}
.layout-favorites-list{width:733px;overflow: hidden;}
.layout-favorites-list ul{margin-left:3px;width:750px;}
.layout-favorites-list li{float: left;width:230px;margin:0 20px 20px 0;background: #F5F5F5;}
.layout-favorites-list p{margin:0 10px;width:210px;overflow: hidden;zoom:1;}
.fav-pic{position:relative;display: block;width:230px;height:230px;cursor: pointer;}
.fav-pic span{position:absolute;bottom:0;left:0;display: none;width:100%;height:30px;line-height:30px;text-align: center;color:#fff;background: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7f000000', EndColorStr='#7f000000');}
:root .fav-pic span{filter:none;}
.fav-pic:hover span{display: block;}
.layout-favorites-list p.fav-link{margin:5px 10px 3px;}
.fav-link input{width:13px;height:13px;margin-top:3px;float: left;}
.fav-link a{color:#666;float: right;width:195px;height:18px;overflow:hidden;white-space: nowrap;word-break: normal;text-overflow: ellipsis;}
.layout-favorites-list p.fav-brief{height:25px;line-height:25px;text-align: center;color:#999;padding-bottom: 5px;}
.fav-brief span,.fav-brief b,.fav-brief i{display: inline-block;margin:0 3px;}
.fav-brief b{color:#333;}
.fav-price em{font-size:18px;color:#EB7D00;font-weight:bold;font-family:\5FAE\8F6F\96C5\9ED1;vertical-align: -2px;}
.fav-reduce{width:23px;height:18px;font-size:0;line-height:0;overflow: hidden;vertical-align:-5px;background-position: -34px 0;}
.favorites-none{text-align: center;margin-top:30px;}
.favorites-none span{display: inline-block;width:289px;padding-left:220px;height:157px;color:#656565;font-size:14px;text-align:left;font-weight:bold;line-height:150px;background: url(../../images/center/nofavorites.png) no-repeat;}
.favorites-hot{padding-top:10px;margin-top:20px;border-top:1px solid #F1F1F1;}
.dialog_fav{padding-bottom:15px;}
.dialog_fav strong{color:#656565;font-weight:bold;}
/* favorites End Lvzhuweng 20140108 */