/*
	date:2013-12-25;
	des:message;
 */
.user-message-list{padding:10px 0 20px;word-wrap: break-word;word-break: break-all;}
.user-message-list li{border-bottom:1px solid #f1f1f1;padding:10px 0;line-height:24px;overflow:hidden;zoom:1;}
.user-message-list li a{color:#3379B5;}
.user-message-list li a:hover{color:#3379B5;text-decoration:underline;}
.user-message-list li strong{float: left;width:90px;text-align:center;}
.user-message-list li dl{float: right;width:643px;}
.user-message-list li dt{color:#666;}
.user-message-list li a{display: inline-block;}
.user-message-list li dd{color:#656565;}
.message-detail{display:none;}
.message-bold,.message-bold em.message-title{font-weight:bold;}
.message-read,.message-read em.message-title{font-weight:normal;}
.message-title{cursor:pointer;}
.message-time{color:#999;}
.message-time .del{float:right;color:#999;}
.message-time .del:hover{color:#999;text-decoration:underline;}

.layout-side-menu dd a span{margin-left:10px;}
.layout-side-menu dd a span em{font-weight:bold;}
.layout-title-line span{margin-left:20px;font-size:12px;color:#656565;}
.layout-title-line span em{font-weight:bold;margin:0 3px;}
.ui-empty-data,.message-none{margin-top:130px;height:192px;line-height:192px;padding-left:400px;font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1;background:url(../../images/center/noresult.png) no-repeat 140px 0;}