/**
*Document:个人中心-帮豆
*Creat:13-10-9 下午4:38
*Author:junli.shen@b5m.com
**/
.a-orange:hover{text-decoration:underline}
.layout-content{overflow:hidden}
.pz{position:relative;z-index:0}
/**赚帮豆(任务列表|帮豆活动)**/
.bangdou-task{}
.bangdou-task table{border-bottom:1px solid #e4e4e4}
.bangdou-task img{width:48px;height:48px;vertical-align: middle;}
.bangdou-task .task-txt{display: inline-block;*display: inline;*zoom: 1;width:55px;vertical-align: middle;margin-left: 10px;text-align: left;}
.bangdou-active{overflow:hidden}
.bangdou-active table{margin-top:-1px;background:#f8f8f8}
.bangdou-active tr{border-top:1px dashed #d1d1d1}
.bangdou-active td{padding:18px 14px;}
.bangdou-active .pic{width:202px;}
.bangdou-active .pic a,.bangdou-active img{height:74px;}
.bangdou-active .pic a{display:block;width:200px;border:1px solid #e4e4e4;box-shadow:0 0 4px #d4d4d4;text-align:center;transition:all .8s;}
.bangdou-active .pic a:hover{border-color:#EB7E00}
.bangdou-active .intro{width:330px;}
.bangdou-active .intro p{padding-top:4px;}
.bangdou-active .intro strong,.bangdou-active .intro a{color:#333;font-weight:normal;font-size:16px;line-height:20px;font-family:"Microsoft YaHei"}
.bangdou-active .intro b{color:#EB7E00}
/**我的成长值**/
.bangdou-level-ico{position:relative;z-index:0;width:66px;height:74px;margin:12px 0 10px 75px;background-position:center 0;background-repeat:no-repeat;}
.level0{background-image:url(../../images/center/level/LV0.png)}
.level1{background-image:url(../../images/center/level/LV1.png)}
.level2{background-image:url(../../images/center/level/LV2.png)}
.level3{background-image:url(../../images/center/level/LV3.png)}
.level4{background-image:url(../../images/center/level/LV4.png)}
.level5{background-image:url(../../images/center/level/LV5.png)}
.level6{background-image:url(../../images/center/level/LV6.png)}
.level7{background-image:url(../../images/center/level/LV7.png)}
.level8{background-image:url(../../images/center/level/LV8.png)}
.level9{background-image:url(../../images/center/level/LV9.png)}
.level10{background-image:url(../../images/center/level/LV10.png)}
.level11{background-image:url(../../images/center/level/LV11.png)}
.level12{background-image:url(../../images/center/level/LV12.png)}
.level13{background-image:url(../../images/center/level/LV13.png)}
.level14{background-image:url(../../images/center/level/LV14.png)}
.level15{background-image:url(../../images/center/level/LV15.png)}
.bangdou-level-descript{position:absolute;top:5px;left:100%;margin-left:40px;z-index:1;padding:10px 0 10px 96px;border-radius:4px;background:#fcebbd;white-space:nowrap}
.bangdou-level-descript b{position:absolute;top:50%;left:6px;width:90px;margin-top:-8px;color:#794c39;font-weight:normal;font-size:14px;line-height:16px;font-family:"Microsoft YaHei";text-align:center}
.bangdou-level-descript p{margin-right:70px;padding:0 0 0 12px;border-left:1px solid #fcd793;color:#666;line-height:18px;}
.bangdou-level-descript ins{position:absolute;top:50%;right:4px;width:68px;margin-top:-9px;color:#eb7e00;font-style:normal;font-size:16px;line-height:18px;text-align:center;text-decoration:none;}
.bangdou-level-descript-trangle{position:absolute;top:50%;right:100%;z-index:1;width:0;height:0;margin-top:-3px;padding:0;border:5px dashed transparent;border-right:5px solid #fcebbd;}
.bangdou-level-progress{position:relative;z-index:0;width:586px;margin:10px auto 0;}
.bangdou-level-progress span{position:absolute;top:-4px;font-weight:bold;font-size:12px;line-height:14px;font-family:"Microsoft YaHei";}
.LVL{right:100%;margin-right:16px;color:#999}
.LVR{left:100%;margin-left:16px;color:#eb7e00}
.bangdou-level-progress p{width:100%;padding:20px 0;color:#999}
.bangdou-level-progress p b{margin:0 12px 0 8px;color:#eb7e00;font-weight:normal}
.bangdou-level-progress p a{margin-left:12px;color:#347ab5}
.bangdou-level-progress p a:hover{text-decoration: underline;}
.bangdou-level-content{padding:8px 40px 14px;border-top:1px solid #f1f1f1;background:#f8f8f8;line-height:24px;}
.bangdou-level-content .title{font-size:16px;color:#666;}
.bangdou-level-content h2{margin-top:22px;padding-bottom:2px;color:#444;font-weight:normal;font-size:14px;font-family:"Microsoft YaHei";line-height:16px}
.bangdou-level-content .bangdou-level-content-div{color:#666}
.bangdou-level-content table{border-collapse:collapse;background:#f29875;text-align:center}
.bangdou-level-content th{border:1px solid #fff;color:#fff;text-align:center}
.bangdou-level-content td{border:1px solid #f29875;background:#fff}
.txt-left{text-align:left}
.table-div{width:433px;overflow:hidden;margin-top:8px;border:1px solid #f29875;}
.table-div table{display:block;width:435px;margin:-1px;}
.bangdou-level-content .txt-left{width:155px;padding-left:30px;text-align:left;}
/*帮豆订单记录*/
.bangdou-order table{/*display:block;*/width:736px;}
.bangdou-order-querycondition{padding:20px 0 22px;color:#666}
.bangdou-order-querycondition u{margin:0 8px;color:#cbcbcb;text-decoration:none;}
.bangdou-order-querycondition input{background:url(../../images/center/ico-input-calender.gif) no-repeat right center}
.bangdou-order-querycondition input{cursor:pointer;width:84px;padding:3px;border:1px solid #bbb;}
.bangdou-order-querycondition .getOrderType{margin-left:18px;}
.bangdou-order-querycondition .getOrderType,.bangdou-order-querycondition u{*vertical-align:4px}
.bangdou-order-querycondition-type{width:84px;margin-right:20px;line-height:14px;}
.queryTime{*vertical-align:3px}
/*推荐商品*/
.bangdou-reco-box{margin-top:20px;padding-top:20px;border-top:1px solid #f1f1f1;}
.goods-list{margin-right:-20px}
/*我的订单*/
.myorder .layout-tab-content,.mydiscupon .layout-tab-content{min-height:500px;}
.myorder .page,.mydiscupon .page{padding-top:20px;}
/*交易详情*/
.trade-title{padding:30px 0;}
.trade-title span,.trade-msg{_display:inline;float:left;}
.trade-title span{width:240px;}
.trade-msg{position:relative;z-index:1;margin:-8px 0 0 -18px;padding:6px 10px;border:1px solid #ffc47f;background:#fffbeb;color:#eb7e00;}
.trade-msg b{color:#666}
.trangle-bd,.trangle-w{position:absolute;width:0;height:0;border:6px dashed transparent;font-size:0;line-height:0;}
.trade-msg .trangle-bd,.trade-msg .trangle-w{top:50%;left:0;border-left-style:solid;}
.trade-msg .trangle-bd{margin-top:-6px;border-left-color:#ffc47f}
.trade-msg .trangle-w{margin:-6px 0 0 -2px;border-left-color:#fff}
.myorder-trade-box{border:1px solid #dfdfdf;}
.myorder-trade-box tbody td{height:auto;padding-top:16px;padding-bottom:16px;}
.myorder-trade-control{position:relative;z-index:11;padding:14px 0;line-height:14px;zoom:1}
.myorder-trade-control-msg{display:none;position:absolute;top:100%;right:0;z-index:1;margin-right:-1px;padding:0 14px;border:1px solid #ffc47f;background:#fff;zoom:1}
.myorder-trade-control:hover{z-index:12}
.myorder-trade-control:hover .myorder-trade-control-msg{display:block;}
.myorder-trade-control-msg .trangle-bd,.myorder-trade-control-msg .trangle-w{bottom:100%;border-bottom-style:solid;}
.myorder-trade-control ul{width:160px;overflow:hidden;}
.myorder-trade-control li{margin-bottom:-1px;padding:6px 0 7px;border-bottom:1px dashed #d1d1d1;line-height:1.5}
.myorder-trade-control s{text-decoration:none}
.myorder-trade-control s,.myorder-trade-control-msg a{color:#066;}
.myorder-trade-control-msg a:hover,.trade-usr-name a:hover{color:#eb7e00}
.myorder-trade-control .trangle-bd,.myorder-trade-control .trangle-w{top:0;right:40px;border-bottom-style:solid;}
.myorder-trade-control .trangle-bd{margin:-12px 6px 0 0;border-bottom-color:#ffc47f}
.myorder-trade-control .trangle-w{margin:-11px 6px 0 0;border-bottom-color:#fff}
/*我的优惠券*/
.mydiscupon .layout-tab-tit span s{left:38px;margin-left:0;}
.mydiscupon .table td{height:auto;padding-top:12px;padding-bottom:12px;}
.bangdou-order-querycondition .btn{display:inline;margin-left:20px;}
/*帮币帮豆兑换-兑换记录*/
.forRecord{}
.myforRecordMsg{padding:14px 0 10px 12px;border-bottom:1px solid #e4e4e4;line-height:14px;}
.myforRecordMsg span{display:inline-block;width:118px;}
.myforRecordMsg b{margin:0 2px;color:#eb7e00}
/*帮币帮豆规则*/
.bangdou-rule{}
.bangdou-rule .bangdou-level-content-div{position:relative;z-index:0;margin:10px 0;line-height:20px;}
.bangdou-rule .bangdou-level-content-div td,.bangdou-rule .bangdou-level-content-div th{padding-top:4px;padding-bottom:5px;}
.bangdou-rule .bangdou-level-content-div th{font-family:"Microsoft YaHei"}
.bangdou-rule .bangdou-level-content-div ins{position:absolute;top:0;left:0;z-index:1;margin-left:-20px;*margin-top:-3px;color:#333}
.table-div2{width:574px;}
.table-div2 table{width:576px;}
.table-div2 table td{width:25%;padding-right:14px;padding-left:14px;text-align:left;vertical-align:top}
/*交易管理页面*/
.trade-user-box{padding:15px 0;border-bottom:1px solid #f1f1f1;}
.trade-count-box{margin-bottom:14px;height:202px;padding:22px 4px 24px;border-bottom:1px solid #f1f1f1;background:url(../../images/center/bg-mytrade.png) no-repeat center 22px;}
.trade-usr-name{width:220px;line-height:21px;font-size: 18px;}
.trade-usr-name span { display: block; width:200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.trade-usr-name a{color:#333}
.trade-usr-connection{width:218px;color:#999;line-height:21px;}
.trade-usr-connection span{color:#333}
.ico-trade-mobile{display:inline-block;width:8px;height:12px;margin-right:4px;background:url(../../images/center/ico-trade-1.gif) no-repeat;font-size:0;line-height:0;vertical-align:-2px;}
.ico-trade-safe{display:inline-block;width:15px;height:15px;margin-left:4px;background:url(../../images/center/ico-trade-2.gif) no-repeat;font-size:0;line-height:0;vertical-align:-3px;}
.trade-usr-msg{display:inline;width:256px;margin:-8px 0 -8px 16px;padding:8px 0 8px 18px;border-left:1px dashed #aeaeae;}
.trade-usr-msg small{display:block;position:relative;z-index:0;width:190px;margin:-6px 0;padding:6px 20px 6px 48px;border:1px solid #ffc47f;background:#fffbeb;font-style:normal;font-size:12px;line-height:18px;}
.trade-usr-msg b{position:absolute;top:7px;left:0;z-index:1;width:48px;text-align:right;}
.trade-usr-msg a:hover{text-decoration:underline;cursor: pointer;}
.trademanage-topLink{position:absolute;top:10px;*top:12px;right:20px;z-index:1;line-height:14px;white-space:nowrap}
.trademanage-topLink:hover{text-decoration: underline;}
.trade-mybb,.trade-mybd{width:342px;height:185px;}
.trade-mybb ins,.trade-mybd ins{position:absolute;top:82px;left:86px;z-index:1;color:#ef0022;font-size:22px;font-family:Arial;line-height:24px;}
.trademanage-changeLink{position:absolute;top:72px;right:10px;z-index:1;overflow:hidden;font-size:0;}
.trademanage-changeLink a{display:inline-block;padding:0 9px;margin-right:-1px;border-right:1px solid #fcd793;color:#eb7e00;font-size:16px;line-height:18px;font-family:"Microsoft YaHei";}
.trade-mybd .trademanage-changeLink a{border-color:#fcc493}
.trademanage-changeLink a:hover{text-decoration:underline}
.trademange-link-info{position:absolute;bottom:11px;left:20px;z-index:1;width:140px;float:left;}
.trademange-info-p{position:absolute;top:137px;right:18px;width:150px;color:#808080;line-height:18px;}
.disable-link{background-color:#999;}
.disable-link a{cursor: default;}
.disable-link a:hover{text-decoration: none;}

/*.trade-mybd .trademange-info-p{top:137px;}*/
.trademange-golink{display:block;padding:10px 0;*padding:12px 0 8px;_padding:15px 0 5px;color:#fff;font-size:14px;line-height:16px;font-family:"Microsoft YaHei";text-align:center}
.trademange-golink:hover{text-decoration:underline;color:#fff;}
.trademange-getlink{display:block;padding:6px 0;line-height:14px;text-align:center;}
.trademange-golink s{display:inline-block;width:0;height:0;margin:0 0 0 10px;padding:0;border:5px dashed transparent;border-left:5px solid #fff;font-size:0;line-height:0;}
/*返利-Start-Gaotian-20131108*/
/*我要体现*/
small{font-style:normal;font-size:12px;}
.mt10{margin-top:10px;}
.ml12{margin-left:12px}
.ml18{margin-left:18px}
.ml22{margin-left:22px}
.fanli-woyaotixian{}
.fanli-woyaotixian-box,.fanli-smallmsg{margin-top:18px;padding:20px 26px;border:1px solid #ffc887;background:#fffae9;}
.fanli-smallmsg{padding:20px 10px;}
.fanli-money{}
.fanli-woyaotixian-box small,.fanli-smallmsg{display:block;color:#666;line-height:20px}
.fanli-woyaotixian-box small strong,.fanli-smallmsg strong{color:#eb7e00;font-weight:normal}
.txt-blue{color:#39c}
.bt_yellow{display:inline-block;padding:4px 18px;background:#ff9c0f;color:#fff;font-family:"Microsoft YaHei";}
.fanli-woyaotixian-box li{overflow:hidden;padding-top:20px;}
.fanli-woyaotixian-box li b{display:inline-block;width:72px;}
.fanli-woyaotixian-box input{width:56px;height:14px;margin-right:16px;padding:3px 2px;border:1px solid #e4e4e4;font-size:12px;line-height:14px;*vertical-align:-2px}
.fanli-money{color:#999;font-family:Arial;vertical-align:-2px;}
.fanli-money em{margin:0 2px;color:#eb7e00;font-size:24px;}
.txt-gray{color:#999}
/*我的返现*/
.fanli-wodetixian{}
.fanli-count-navinfo{position:absolute;top:0;right:0;z-index:1;float:left;}
/*安全设置*/
.fanli-safesetting{}
.fanli-safesetting li{position:relative;z-index:0;margin-top:32px;padding-left:142px;zoom:1}
.fanli-safesetting-count .formMsg{top:60px}
.fanli-safesetting .liMsg{color:#eb7e00;margin-top:12px;}
.fanli-safesetting label{position:absolute;top:50%;left:0;z-index:1;width:142px;margin-top:-8px;color:#333;font-weight:bold;line-height:16px;text-align:right}
.fanli-safesetting input{width:146px;margin-right:20px;padding:3px 2px;border:1px solid #d4d4d4;font-size:12px;line-height:14px;}
.fanli-safesetting .noStyle{width:64px}
.formMsg{position:absolute;top:128%;left:142px;z-index:1;padding-left:18px;background:url(../../images/center/msg-error.png) no-repeat 0 center;color:#f60;line-height:14px;}
.fanli-safesetting .bt_yellow{padding:6px 48px;*padding:2px 48px 8px;font-size:14px;line-height:16px;*vertical-align:-8px}
.fanli-safesetting h5{position:relative;z-index:0;margin:46px 0 0 142px;height:0;border-top:1px dotted #e4e4e4;font-size:0;height:0;}
.fanli-safesetting h5 span{position:absolute;top:50%;right:100%;z-index:1;margin:-8px 10px 0 0;color:#999;font-size:14px;line-height:16px;white-space:pre;}
.bt_checkcode{display:inline-block;width:111px;padding:4px 0;background-image:url(../../images/center/bt_checkcode.png);background-repeat:no-repeat;color:#c60;text-shadow:1px 1px 1px #fff;line-height:14px;text-align:center;}
.bt_checkout_gray{background-position:0 bottom;color:#666}
/*返利-End-Gaotian-20131108*/
.trade-usr-msg a,.txt-blue:hover,.txt-org{color:#eb7e00}
.bt_yellow:hover{background:#f18100}

/*道具-Start-Lvzhuweng-20140113*/
.myprop .layout-tab-tit,.myprop .layout-tab-content{margin-left:6px;}
.myprop .layout-tab-tit{margin-top:20px;}
.prop-new{width:727px;overflow:hidden;}
.prop-new ul{width:740px;}
.prop-new li{float:left;width:135px;margin:20px 13px 0 0;}
.prop-new li p{line-height:24px;color:#999;word-wrap: break-word;word-break: break-all;}
.prop-new li p.last{height:48px;overflow: hidden;}
.prop-new li p span{line-height:24px;color:#656565;}
.prop-new li img{display: block;margin-bottom:10px;}
.prop-new li a{margin-top:10px;display: inline-block;width:96px;line-height:30px;text-align: center;background: #eb7e00;color:#fff;font-size:14px;font-family:"Microsoft YaHei";}
.prop-new li a.prop-none{background: #BFBFBF;cursor: default;}
.prop-used{overflow: hidden;}
.prop-used table{margin-bottom:-1px;}
.prop-used thead{line-height:33px;color:#999;background: #F5F5F5;border-bottom:1px dotted #D1D1D1;}
.prop-used tbody td{padding:10px 0;border-bottom:1px solid #F1F1F1;color:#666;}
.prop-used .even td{background: #F5F5F5;}
.dialog_prop{margin-bottom:20px;font-weight: bold;color:#656565;}
.dialog_prop span{color:#EB7D00;}
/*道具-End-Lvzhuweng-20140113*/


