/*asdf*/
html {
  overflow-y: scroll;
}
body {
  color: #333;
}
em,
i {
  font-style: normal;
}
strong,
b {
  font-weight: normal;
}
.border {
  border: 1px solid #e5e5e5;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.w210 {
  width: 210px;
}
.tc {
  text-align: center;
}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 32px;
  padding: 0 25px;
  text-align: center;
  color: #fff;
  font: normal 14px/32px '\5FAE\8F6F\96C5\9ED1';
  vertical-align: middle;
}
.btn:hover {
  color: #fff;
}
.btn-yellow {
  background-color: #eb7e00;
}
.btn-grey {
  background-color: #bfbfbf;
}
.c-yellow {
  color: #EB7E00;
}
.c-999 {
  color: #999;
}
.c-333 {
  color: #333;
}
/* logo-only */
.logo-only {
  min-width: 980px;
  height: 75px;
  border-bottom: 1px solid #eaeaea;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 -1px #fcfcfc inset, 0 1px 8px #f9f9f9;
  -moz-box-shadow: 0 -1px #fcfcfc inset, 0 1px 8px #f9f9f9;
  -ms-box-shadow: 0 -1px #fcfcfc inset, 0 1px 8px #f9f9f9;
  -o-box-shadow: 0 -1px #fcfcfc inset, 0 1px 8px #f9f9f9;
  box-shadow: 0 -1px #fcfcfc inset, 0 1px 8px #f9f9f9;
}
.logo-only h1 {
  padding-top: 6px;
}
/* center */
.center {
  margin-top: 20px;
  margin-bottom: 30px;
}
.center-side {
  width: 200px;
}
.center-main {
  width: 770px;
}
.goods-img-discount,
.goods-price i,
.center-fav-none span,
.center-account-safe h6,
.center-account-safe td i,
.center-exchange a.fun,
.discount-notice li i {
  background: url(/static/images/center/icon-center.png) no-repeat;
}
/* center-menu */
.center-menu {
  padding-bottom: 10px;
}
.center-menu li {
  height: 44px;
  line-height: 44px;
  font-size: 14px;
}
.center-menu li a {
  display: block;
  height: 44px;
  border-left: 3px solid #fff;
  color: #999;
  overflow: hidden;
  zoom: 1;
}
.center-menu li i {
  float: left;
  width: 19px;
  height: 19px;
  margin: 13px 12px 0 27px;
  font-size: 0;
  vertical-align: -4px;
  background: url(/static/images/center/icon-menu.png) no-repeat;
}
.center-menu li i.icon-user {
  background-position: 0 0;
}
.center-menu li i.icon-msg {
  background-position: 0 -19px;
}
.center-menu li i.icon-fav {
  background-position: 0 -38px;
}
.center-menu li i.icon-invite {
  background-position: 0 -57px;
}
.center-menu li i.icon-score {
  background-position: 0 -76px;
}
.center-menu li i.icon-exchange {
  background-position: 0 -95px;
}
.center-menu li i.icon-account {
  background-position: 0 -114px;
}
.center-menu li i.icon-order {
  background-position: 0 -133px;
}
.center-menu li.current a,
.center-menu li a:hover {
  border-color: #ff9000;
  color: #ff9000;
  font-weight: bold;
  background-color: #f9f9f9;
}
.center-menu li.current i.icon-user,
.center-menu li a:hover i.icon-user {
  background-position: -19px 0;
}
.center-menu li.current i.icon-msg,
.center-menu li a:hover i.icon-msg {
  background-position: -19px -19px;
}
.center-menu li.current i.icon-fav,
.center-menu li a:hover i.icon-fav {
  background-position: -19px -38px;
}
.center-menu li.current i.icon-invite,
.center-menu li a:hover i.icon-invite {
  background-position: -19px -57px;
}
.center-menu li.current i.icon-score,
.center-menu li a:hover i.icon-score {
  background-position: -19px -76px;
}
.center-menu li.current i.icon-exchange,
.center-menu li a:hover i.icon-exchange {
  background-position: -19px -95px;
}
.center-menu li.current i.icon-account,
.center-menu li a:hover i.icon-account {
  background-position: -19px -114px;
}
.center-menu li.current i.icon-order,
.center-menu li a:hover i.icon-order {
  background-position: -19px -133px;
}
/* center-title */
.center-title {
  height: 16px;
  line-height: 16px;
  border-left: 3px solid #ff9000;
  padding-left: 4px;
  overflow: hidden;
}
.center-title strong {
  display: inline-block;
  margin-right: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}
.center-title a {
  float: right;
  margin-top: 1px;
  color: #999;
}
.center-title a:hover {
  color: #ff7800;
}
/* center-goods-list */
.center-goods-list {
  width: 770px;
  overflow: hidden;
}
.center-goods-list ul {
  width: 780px;
}
.center-goods-list li {
  float: left;
  width: 183px;
  margin: 10px 10px 0 0;
  border: 1px solid #e5e5e5;
}
.goods-img {
  position: relative;
  display: block;
  height: 172px;
  z-index: 0;
}
.goods-img-discount {
  position: absolute;
  top: -6px;
  left: 139px;
  width: 34px;
  height: 34px;
  cursor: default;
  background-position: -33px -144px;
}
.goods-description {
  height: 62px;
  border-top: 1px dashed #e5e5e5;
  padding: 5px 10px 0;
  background-color: #f6f6f6;
}
.goods-title {
  line-height: 16px;
  height: 32px;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}
.goods-title a {
  color: #666;
}
.goods-title a:hover {
  color: #ff7800;
}
.goods-price {
  position: relative;
  color: #999;
  font-family: arial;
  line-height: 24px;
  z-index: 0;
}
.goods-price span {
  float: left;
  width: 80px;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
}
.goods-price em,
.goods-price del {
  font-family: tahoma;
}
.goods-price em {
  margin-left: 3px;
  color: #ff9000;
  font-size: 16px;
  vertical-align: -1px;
}
.goods-price i {
  position: absolute;
  top: 0;
  right: 0;
  width: 11px;
  height: 12px;
  margin-top: 7px;
  background-position: 0 0;
  cursor: pointer;
}
.goods-price-fav em {
  font-size: 12px;
  font-weight: bold;
  vertical-align: baseline;
}
.goods-price-fav span {
  width: 60px;
}
.goods-price-fav span.old-price {
  width: 90px;
}
.goods-price-fav .fav-no-price {
  width: auto;
}
/* center-info */
.center-info {
  width: 770px;
}
.user-info {
  width: 508px;
  height: 202px;
  padding: 9px 20px 0;
}
.user-head {
  width: 148px;
  margin-top: 11px;
}
.user-head span {
  position: relative;
  display: block;
  padding: 1px;
  width: 144px;
  height: 145px;
  overflow: hidden;
  zoom: 1;
  z-index: 0;
}
.user-head span a {
  position: absolute;
  left: 1px;
  top: 120px;
  width: 144px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#66000000', EndColorStr='#66000000');
}
:root .user-head span a {
  filter: none;
}
.user-head p {
  margin-top: 7px;
  color: #666;
}
.user-account {
  width: 348px;
}
.user-name {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 5px;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px dashed #cfcfcf;
  color: #333;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.user-name strong {
  display: inline-block;
  vertical-align: text-bottom;
  *display: inline;
  *zoom: 1;
  width: 170px;
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-name a,
.user-progress a {
  color: #eb7e00;
}
.user-name a:hover,
.user-progress a:hover {
  color: #eb7e00;
  text-decoration: underline;
}
.user-money {
  margin: 14px 0 25px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  font-size: 14px;
}
.user-money a,
.user-money a:hover {
  color: #fff;
}
.user-money p {
  padding: 5px 0 0 12px;
  line-height: 20px;
}
.user-money strong {
  display: block;
  margin-top: 6px;
  height: 22px;
  line-height: 22px;
  padding-left: 30px;
  font-size: 20px;
  overflow: hidden;
  -webkit-transition: background-position 0.1s ease-in;
  -moz-transition: background-position 0.1s ease-in;
  -ms-transition: background-position 0.1s ease-in;
  -o-transition: background-position 0.1s ease-in;
  transition: background-position 0.1s ease-in;
}
.user-money-bi,
.user-money-dou,
.user-money-bi strong,
.user-money-dou strong {
  background: url(/static/images/center/icon-money.png) no-repeat;
}
.user-money-bi,
.user-money-dou {
  position: relative;
  width: 85px;
  height: 60px;
  color: #fff;
  background-position: 6px 32px;
  z-index: 0;
}
.user-money-bi {
  margin-right: 4px;
  background-color: #f29874;
}
.user-money-dou {
  background-color: #eb7e00;
}
.user-money-bi i,
.user-money-dou i {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
}
.user-money-bi i {
  top: 24px;
  left: 71px;
  border: 7px dashed transparent;
  border-right-style: solid;
  border-right-color: #fff;
}
.user-money-dou i {
  top: 25px;
  left: -12px;
  border: 6px dashed transparent;
  border-right-style: solid;
  border-right-color: #eb7e00;
}
.user-money-bi strong {
  background-position: 9px -36px;
}
.user-money-dou strong {
  background-position: 9px -63px;
}
.user-money-bi:hover strong {
  background-position: 9px -38px;
}
.user-money-dou:hover strong {
  background-position: 9px -65px;
}
.user-task {
  margin-top: -128px;
  width: 164px;
}
.user-task a {
  display: block;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
  text-align: center;
}
.user-task a.user-task-sign {
  color: #EB7E00;
  background-color: #FCEBBD;
}
.user-task a.user-task-sign:hover {
  color: #EB7E00;
  background-color: #FFE8A8;
}
.user-task a.user-task-day {
  margin-top: 6px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #F29874;
}
.user-task a.user-task-day:hover {
  color: #FFFFFF;
  background-color: #EB7E00;
}
.user-progress {
  position: relative;
  z-index: 0;
  zoom: 1;
}
.user-progress .progress {
  margin-left: 36px;
  width: 267px;
}
.progress,
.progress-inner,
.progress-current,
.progress-current i {
  background: url(/static/images/center/icon-progress.png) no-repeat;
  _background: url(/static/images/center/icon-progress-8.png) no-repeat;
}
.progress {
  height: 20px;
  background-position: 0 0;
  padding-left: 8px;
}
.progress-inner {
  height: 20px;
  padding-right: 6px;
  background-position: 100% 0;
  background-color: #ffffff;
}
.progress-current {
  height: 20px;
  background-position: left -26px;
  padding-left: 5px;
}
.progress-current i {
  position: relative;
  float: right;
  width: 22px;
  height: 22px;
  background-position: 0 -56px;
  margin: -1px -2px 0 0;
  z-index: 0;
}
.user-progress .progress-l,
.user-progress .progress-r {
  position: absolute;
  width: 25px;
  top: -5px;
}
.user-progress .progress-l {
  left: 0;
}
.user-progress .progress-r {
  right: 0;
}
.user-progress p {
  height: 18px;
  margin: 5px 0 0 36px;
  color: #666;
}
.user-progress em {
  color: #EB7E00;
}
.user-progress a {
  float: right;
}
/* ui-tab */
.ui-tab .page,
.center-exchange-detail .page {
  margin: 30px 0 40px;
}
.ui-tab-nav {
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #ff9000;
  background-color: #f9f9f9;
}
.ui-tab-nav li {
  position: relative;
  float: left;
  display: inline;
  margin: 0 15px;
  font-size: 14px;
  font-weight: bold;
  z-index: 0;
  cursor: pointer;
  color: #666;
}
.ui-tab-nav li.ui-tab-active {
  color: #ff9000;
  cursor: default;
}
.ui-tab .ui-tab-nav i {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border: 5px dashed transparent;
  border-bottom-style: solid;
  border-bottom-color: #ff9000;
}
.ui-tab .ui-tab-nav .ui-tab-active i {
  display: block;
}
.ui-tab-item {
  display: none;
}
.ui-tab-content-more {
  margin: -30px 10px 0 0;
  color: #999;
}
.ui-tab-content-more:hover {
  color: #ff7800;
}
/* center-favorites */
.center-fav-filter {
  padding: 4px 0 2px;
  background-color: #fbfbfb;
}
.center-fav-filter ul {
  float: left;
  width: 672px;
}
.center-fav-filter li,
.center-fav-filter span {
  float: left;
  width: 68px;
  padding-left: 28px;
  height: 26px;
  line-height: 26px;
  color: #666;
}
.center-fav-filter a {
  color: #666;
}
.center-fav-filter a.current,
.center-fav-filter a:hover {
  color: #ff9000;
}
.center-fav-none {
  text-align: center;
  padding: 50px 0;
}
.center-fav-none span {
  display: inline-block;
  width: 154px;
  height: 63px;
  line-height: 63px;
  padding-left: 74px;
  border: 1px solid #d0d0d0;
  font-size: 14px;
  text-align: left;
  background-position: -18px 9px;
  background-color: #f9f9f9;
}
/* center-rule-item */
.center-rule-item {
  position: relative;
  line-height: 21px;
  color: #999;
  margin: 20px 0 0 20px;
  z-index: 0;
}
.center-rule-item span,
.center-rule-item i {
  color: #666;
}
.center-rule-item i {
  position: absolute;
  left: -15px;
  top: 0;
}
.center-rule-item table {
  margin-top: 15px;
  border: 1px solid #f3d5a0;
}
.center-rule-item th,
.center-rule-item td {
  padding: 0 20px;
}
.center-rule-item th {
  line-height: 33px;
  border-bottom: 1px solid #f3d5a0;
  color: #333;
  background-color: #ffebc8;
}
.center-rule-item td {
  line-height: 28px;
  color: #666;
}
.center-rule-item .even td {
  background-color: #fffaf2;
}
/* center-msg */
.msg-count {
  margin-left: -20px;
  color: #999;
}
.msg-count em {
  color: #666;
  font-weight: bold;
}
.center-msg {
  margin: 10px 3px 0 8px;
  border-top: 1px dashed #e1e1e1;
  overflow: hidden;
}
.center-msg .page {
  margin-top: 20px;
}
.center-msg-list {
  margin: -1px 17px 0 12px;
}
.center-msg-list li {
  padding: 20px 24px 20px 0;
  border-top: 1px solid #ededed;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 24px;
  overflow: hidden;
  zoom: 1;
}
.center-msg-list li a {
  display: inline-block;
  color: #3379B5;
}
.center-msg-list li a:hover {
  color: #3379B5;
}
.center-msg-list li strong {
  float: left;
  width: 37px;
}
.center-msg-list li dl {
  float: right;
  width: 643px;
}
.center-msg-list li dt {
  color: #666;
}
.center-msg-list li dd {
  color: #656565;
}
.center-msg-detail {
  display: none;
}
.center-msg-list dt span,
.center-msg-list span em {
  font-weight: bold;
}
.center-msg-list dt span.message-read,
.center-msg-list dt span.message-read em {
  font-weight: normal;
}
.center-msg-title {
  cursor: pointer;
}
.center-msg-time {
  color: #999;
}
.center-msg-time .del {
  float: right;
  color: #999;
}
.center-msg-time .del:hover {
  color: #999;
}
.center-msg-none {
  margin-top: 100px;
  text-align: center;
}
.center-msg-none span {
  display: inline-block;
  height: 192px;
  line-height: 192px;
  padding-left: 260px;
  width: 58px;
  font: 14px/192px '\5FAE\8F6F\96C5\9ED1';
  background: url(/static/images/center/noresult.png) no-repeat;
}
/* center-task */
.center-task {
  color: #666;
}
.center-task th,
.center-task td {
  text-align: center;
}
.center-task th {
  line-height: 30px;
  border-bottom: 1px dashed #cecece;
  color: #999;
  background-color: #fafafa;
}
.center-task td {
  height: 87px;
}
.center-task td.center-task-intro {
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}
.center-task img {
  width: 48px;
  height: 48px;
  vertical-align: middle;
}
.center-task .center-task-txt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 55px;
  vertical-align: middle;
  margin-left: 10px;
  text-align: left;
}
/* center-activity */
.center-activity {
  padding: 10px 46px 10px 28px;
  background-color: #fbfbfb;
  overflow: hidden;
  color: #666;
}
.center-activity td {
  padding: 20px 0;
  border-top: 1px dashed #e3e3e3;
}
.center-activity .first td {
  border-top: 0 none;
}
.center-activity-pic {
  width: 202px;
}
.center-activity-pic img {
  border: 1px solid #e4e4e4;
}
.center-activity td.center-activity-intro {
  width: 325px;
  padding: 20px 50px 20px 15px;
  word-wrap: break-word;
  word-break: break-all;
}
.center-activity td.center-activity-intro strong {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.center-activity .btn {
  padding: 0;
  width: 92px;
}
/* center-record */
.center-record {
  padding: 0 18px;
  color: #666;
}
.center-record-filter {
  margin: 25px 0;
}
.center-record-filter span {
  width: 65px;
  line-height: 22px;
}
.center-record-date {
  width: 84px;
  border: 1px solid #bbb;
  padding: 0 3px;
  height: 20px;
  line-height: 20px;
  margin-right: 20px;
  cursor: pointer;
  background: url(/static/images/center/icon-date.png) no-repeat 73px 2px;
}
.center-record-search {
  width: 54px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #bbb;
  color: #666;
  font-family: airal;
  text-align: center;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#ebebeb));
  background: -webkit-linear-gradient(top, #f6f6f6, #ebebeb);
  background: -moz-linear-gradient(top, #f6f6f6, #ebebeb);
  background: -ms-linear-gradient(top, #f6f6f6, #ebebeb);
  background: -o-linear-gradient(top, #f6f6f6, #ebebeb);
  background: linear-gradient(top, #f6f6f6, #ebebeb);
  background-color: #ebebeb;
}
.center-record-search:hover {
  color: #666;
}
.center-record-list table {
  width: 100%;
  table-layout: fixed;
}
.center-record-list th {
  height: 32px;
  padding-left: 10px;
  color: #999;
  border-bottom: 1px dotted #D1D1D1;
  background-color: #F5F5F5;
}
.center-record-list td {
  height: 40px;
  padding-left: 10px;
}
.center-record-list tr.even td {
  background-color: #F5F5F5;
  border-top: 1px solid #E4E4E4;
}
.view-success {
  display: inline-block;
  color: #666;
}
.view-success:hover {
  color: #666;
}
.view-success .singleIco-u {
  display: inline-block;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 5px dashed transparent;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  margin-left: 3px;
  vertical-align: -4px;
}
.view-success.on .singleIco-u {
  border-top-style: dashed;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  vertical-align: 2px;
}
.ui-loading {
  text-align: center;
  padding-top: 50px;
  color: #666;
  font-size: 20px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  background: url(/static/images/center/loading.gif) no-repeat 50% 50%;
}
.ui-empty-data {
  margin: 90px 0;
  text-align: center;
}
.ui-empty-data span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #F5F5F5;
  padding: 14px;
  font-size: 14px;
  color: #666;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  /* lte ie7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee, direction=0, strength=0) progid:DXImageTransform.Microsoft.Shadow(color=#dddddd, direction=90, strength=10) progid:DXImageTransform.Microsoft.Shadow(color=#dddddd, direction=180, strength=10) progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee, direction=270, strength=6);
  zoom: 1;
}
.view-success-panel {
  display: none;
  width: 732px;
}
.view-success-box {
  margin-left: -10px;
  width: 730px;
  border: 1px solid #E4E4E4;
  border-top-style: dotted;
  overflow: hidden;
}
.view-success-box dl {
  width: 732px;
  overflow: hidden;
  zoom: 1;
  text-align: center;
}
.view-success-box .tt {
  border-bottom: 1px dotted #E4E4E4;
}
.view-success-box dt,
.view-success-box dd {
  float: left;
  border-right: 1px dotted #E4E4E4;
  width: 243px;
}
.view-success-box dt {
  height: 32px;
  line-height: 32px;
  font-weight: bold;
}
.view-success-box dd {
  height: 54px;
  line-height: 18px;
  padding-top: 14px;
}
.cl-347 {
  color: #347AB5;
}
.cl-347:hover {
  color: #347AB5;
  text-decoration: underline;
}
.show {
  display: block;
}
/* center-invite */
.center-invite {
  padding: 0 20px 20px;
  overflow: hidden;
}
.center-invite h2 {
  width: 765px;
  margin: 0 -20px;
  height: 32px;
  line-height: 32px;
  border-left: 3px solid #ff9000;
  text-indent: 7px;
  font-size: 14px;
  background-color: #f8f8f8;
}
.center-invite h3 {
  margin: 15px 0;
  font-size: 14px;
}
.center-invite h3 span {
  color: #ff9000;
  font-weight: bold;
}
.center-invite p {
  color: #666;
}
.center-invite p span {
  color: #999;
}
.center-invite textarea {
  width: 706px;
  height: 84px;
  padding: 5px 10px;
  margin: 8px 0 10px;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
  color: #333;
  font-size: 12px;
  overflow: auto;
  resize: none;
  background-color: #f8f8f8;
}
.center-invite .copy a {
  display: inline-block;
  width: 92px;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #eb7e00;
}
.deal-share {
  float: right;
  margin-top: -28px;
  color: #999;
  line-height: 24px;
}
/* center-account */
.center-account {
  width: 768px;
  overflow: hidden;
}
.center-account .center-info {
  margin: 0 -1px;
}
.center-account .center-title {
  height: 39px;
  line-height: 39px;
  border-left: 0 none;
  border-bottom: 1px solid #dadada;
  padding-left: 10px;
  background-color: #f9f9f9;
}
.center-account-info {
  margin: 0 23px 0 20px;
}
.user-progress-account {
  margin-bottom: 20px;
  padding: 50px 0 54px;
  border-bottom: 1px dashed #f0f0f0;
}
.user-progress-account .progress {
  margin-left: 88px;
  width: 376px;
}
.progress-h,
.progress-a {
  position: absolute;
  top: 50px;
  color: #333;
}
.progress-h {
  left: 0;
}
.progress-a {
  left: 479px;
}
.progress-tooltips {
  position: absolute;
  left: -12px;
  top: 30px;
  padding: 8px;
  background-color: #FCEBBD;
  white-space: nowrap;
  font-style: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.progress-tooltips em {
  position: absolute;
  top: -10px;
  left: 18px;
  width: 0px;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border: 5px dashed transparent;
  border-bottom: 5px solid #FCEBBD;
}
.control-group {
  color: #333;
}
.control-group label {
  float: left;
  width: 60px;
  text-align: right;
  height: 30px;
  line-height: 30px;
}
.control-group .controls {
  margin-left: 83px;
  margin-bottom: 18px;
}
.control-group .txt {
  width: 260px;
  height: 18px;
  padding: 5px;
  vertical-align: middle;
  border: 1px solid #dcdcdc;
  color: #333;
  -webkit-box-shadow: inset 0 3px 2px -2px #dcdcdc;
  -moz-box-shadow: inset 0 3px 2px -2px #dcdcdc;
  box-shadow: inset 0 3px 2px -2px #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.control-group .txt:focus {
  border: 1px solid #eb7e00;
  -webkit-box-shadow: 0 0 0 1px #FFC973;
  -moz-box-shadow: 0 0 0 1px #FFC973;
  box-shadow: 0 0 0 1px #FFC973;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.control-group .require-star {
  vertical-align: middle;
  margin-left: 6px;
}
.control-group a {
  color: #347AB5;
}
.control-group a:hover {
  color: #347AB5;
  text-decoration: underline;
}
.control-group a.btn,
.control-group a.btn:hover {
  color: #fff;
}
.control-group select {
  margin-top: 3px;
  color: #333;
}
.radio,
.checkbox,
.selecter {
  padding-top: 5px;
}
.radio input {
  vertical-align: middle;
}
.radio input.ml25 {
  margin-left: 25px;
}
.center-account-safe {
  padding: 0 20px 20px;
}
.center-account-safe h6 {
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  padding-left: 40px;
  background-position: -56px -45px;
}
.center-account-safe td {
  border-top: 1px dashed #f0f0f0;
  height: 124px;
  font-size: 14px;
}
.center-account-safe td i {
  display: inline-block;
  vertical-align: middle;
}
.center-account-safe td i.icon-safe-psw {
  width: 41px;
  height: 50px;
  background-position: 0 -56px;
}
.center-account-safe td i.icon-safe-email {
  width: 49px;
  height: 35px;
  background-position: 0 -108px;
}
.center-account-safe td i.icon-safe-mobile {
  width: 33px;
  height: 50px;
  background-position: 0 -144px;
}
.center-account-safe td.center-account-intro {
  padding-right: 40px;
  color: #666;
  font-size: 12px;
}
.center-account-safe .btn {
  width: 119px;
  height: 36px;
  line-height: 36px;
  padding: 0;
  text-align: center;
}
/* center-exchange */
.center-exchange dl {
  position: relative;
  border-bottom: 1px solid #DFDFDF;
  padding: 0 10px;
}
.center-exchange dt,
.center-exchange dd {
  padding: 5px 0;
}
.center-exchange dt,
.center-exchange dd,
.center-exchange dl strong,
.center-exchange dl ul {
  float: left;
}
.center-exchange dt {
  width: 48px;
}
.center-exchange dd {
  width: 660px;
}
.center-exchange dl em {
  display: inline-block;
  font-weight: bold;
  line-height: 18px;
  padding: 3px 0;
}
.center-exchange dl a {
  display: inline-block;
  height: 18px;
  color: #656565;
  line-height: 18px;
}
.center-exchange dl a:hover {
  color: #EB7E00;
}
.center-exchange dl strong {
  width: 40px;
  padding: 3px 0;
}
.center-exchange dl ul {
  width: 576px;
}
.center-exchange dl li {
  float: left;
  width: 64px;
  padding: 3px 0;
}
.center-exchange dl li a.current,
.center-exchange dl strong a.current {
  color: #EB7E00;
}
.center-exchange dl a.fun {
  position: absolute;
  top: 8px;
  right: 10px;
  margin: 0;
  cursor: pointer;
  padding-right: 12px;
  background-position: -56px -89px;
}
.center-exchange dl a.close {
  background-position: -56px -110px;
}
.center-exchange-detail ul {
  overflow: hidden;
  zoom: 1;
  margin-left: 18px;
}
.center-exchange-detail li {
  position: relative;
  float: left;
  display: inline;
  width: 212px;
  height: 159px;
  overflow: hidden;
  margin: 20px 10px 0;
  padding: 5px;
  border: 1px solid #e6e6e6;
  z-index: 0;
  zoom: 1;
}
.center-exchange-detail .exchange-title {
  position: absolute;
  zoom: 1;
  z-index: 1;
  top: 132px;
  left: 9px;
  width: 204px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  overflow: hidden;
}
.opacity {
  background: rgba(255, 255, 255, 0.5);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7F000000', EndColorStr='#7F000000');
}
:root .opacity {
  filter: none;
}
.exchange-coupons {
  position: absolute;
  top: 169px;
  left: 0;
  z-index: 2;
  display: none;
  width: 222px;
  height: 139px;
  padding-top: 30px;
}
.exchange-coupons p span {
  font-weight: bold;
}
.exchange-inner {
  margin: 0 10px;
}
.exchange-coupons-use {
  background-color: #fff5ee;
}
.exchange-coupons-tel {
  background-color: #eef7f2;
}
.exchange-coupons-qq {
  background-color: #fbffea;
}
.exchange-coupons-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 222px;
  background: url(/static/images/center/bg-coupons.png) repeat-x;
}
.exchange-coupons-use .exchange-coupons-bg {
  background-position: 0 0;
}
.exchange-coupons-tel .exchange-coupons-bg {
  background-position: 0 -31px;
}
.exchange-coupons-qq .exchange-coupons-bg {
  background-position: 0 -62px;
}
.exchange-coupons-use .exchange-inner {
  margin-top: 20px;
  line-height: 24px;
  word-wrap: break-word;
  word-break: break-all;
}
.exchange-coupons-use p span {
  color: #f00;
}
.exchange-coupons-use a {
  display: inline-block;
  width: 75px;
  height: 27px;
  margin-top: 5px;
  border: 1px solid #e97900;
  color: #673d10;
  font: 14px/27px '\5FAE\8F6F\96C5\9ED1';
  background-color: #ff8808;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.exchange-coupons-use a:hover {
  color: #673d10;
}
.exchange-coupons-tel .exchange-inner,
.exchange-coupons-qq .exchange-inner {
  margin-top: 30px;
  padding: 9px 0 9px 10px;
  line-height: 14px;
  color: #fff;
}
.exchange-coupons-tel .exchange-inner {
  background-color: #7fd0a0;
}
.exchange-coupons-qq .exchange-inner {
  background-color: #b5d13e;
}
.exchange-coupons-tel .exchange-inner p,
.exchange-coupons-qq .exchange-inner p {
  height: 14px;
  overflow: hidden;
  white-space: nowrap;
}
.coupons {
  display: inline-block;
  width: 212px;
  height: 119px;
  padding-top: 40px;
  overflow: hidden;
}
.coupons p {
  text-align: center;
}
.coupons p.ex-cc {
  height: 40px;
  line-height: 40px;
  margin-bottom: 5px;
}
.coupons p span,
.coupons p img {
  display: inline-block;
  vertical-align: middle;
}
.coupons p span {
  font-size: 24px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  font-weight: 400;
}
.coupons .c1 {
  color: #E30101;
}
.coupons .c2 {
  color: #F85B00;
}
.coupons-all {
  background: url(../../images/exchange/bg_all.png) no-repeat;
}
.coupons-fixed {
  background: url(../../images/exchange/bg_fixed.png) no-repeat;
}
.coupons-discount {
  background: url(../../images/exchange/bg_discount.png) no-repeat;
}
.ex-detail-pic .coupons {
  margin-top: 38px;
}
/* ui-dialog */
.ui-dialog {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#88000000', endColorstr='#88000000');
  padding: 6px;
  outline: none;
}
.ui-dialog-content {
  background: #fff;
}
:root .ui-dialog {
  filter: none\9;
}
.ui-dialog-close {
  color: #999;
  cursor: pointer;
  display: block;
  font-family: tahoma;
  font-size: 24px;
  font-weight: bold;
  height: 18px;
  line-height: 14px;
  position: absolute;
  right: 16px;
  text-decoration: none;
  top: 16px;
  z-index: 10;
}
.ui-dialog-close:hover {
  color: #666;
  text-shadow: 0 0 2px #aaa;
}
.ui-dialog-title,
.dialog-head {
  height: 45px;
  font-size: 16px;
  font-family: '微软雅黑', '黑体', Arial;
  line-height: 46px;
  border-bottom: 1px solid #E1E1E1;
  color: #4d4d4d;
  text-indent: 20px;
  background-color: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
  background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
  background: -o-linear-gradient(top, #fcfcfc, #f9f9f9);
  background: -ms-linear-gradient(top, #fcfcfc, #f9f9f9);
  background: linear-gradient(top, #fcfcfc, #f9f9f9);
}
.ui-dialog-container,
.dialog-body {
  padding: 15px 20px 20px;
  font-size: 12px;
}
.ui-dialog-message {
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}
.ui-dialog-operation {
  text-align: center;
  zoom: 1;
}
.ui-dialog-confirm,
.ui-dialog-cancel {
  display: inline;
}
.ui-dialog-operation .ui-dialog-confirm {
  margin-right: 4px;
}
.ui-dialog-button-orange,
.ui-dialog-button-white {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  padding: 0 25px;
  line-height: 32px;
  height: 32px;
  *overflow: visible;
  background-image: none;
}
a.ui-dialog-button-orange:hover,
a.ui-dialog-button-white:hover {
  text-decoration: none;
}
.ui-dialog-button-orange {
  color: #fff;
  background-color: #EB7E00;
}
.ui-dialog-button-orange:hover {
  background-color: #fb8318;
}
.ui-dialog-button-white {
  background-color: #BFBFBF;
  color: #fff;
}
.ui-dialog-button-white:hover {
  color: #fff;
}
.dialog-confirm {
  padding: 0 58px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
.dialog-confirm-btn {
  margin-top: 10px;
}
.dialog-confirm h6 {
  font-size: 18px;
}
.dialog-confirm h6 span {
  margin: 0 3px;
  color: #f63;
}
.dialog-tips {
  margin-top: 18px;
  font-size: 12px;
  line-height: 18px;
}
.dialog-tips p {
  text-align: left;
  color: #999;
}
.dialog-tips p.indent {
  text-indent: 3em;
}
/* center-pay */
.center-pay {
  padding: 0 20px 30px;
  background-color: #fafafa;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.center-pay-tl {
  width: 980px;
  height: 10px;
  line-height: 0;
  margin: 0 -20px;
  border-bottom: 1px solid #e7a573;
  font-size: 0;
  overflow: hidden;
  background-color: #f5b88a;
}
.center-pay-info {
  padding: 17px 20px 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  border: 1px solid #e8e8e8;
  background-color: #fdfdfd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.center-pay-info label {
  float: left;
  width: 50px;
  color: #666;
}
.center-pay-info span {
  float: right;
  width: 848px;
  word-wrap: break-word;
  word-break: break-all;
}
.center-pay-info span b {
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.c-fe00 {
  color: #fe0000;
}
.center-pay-type {
  margin-top: 30px;
  font: 18px/20px '\5FAE\8F6F\96C5\9ED1';
}
.center-pay-detail {
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.center-pay-brief {
  width: 235px;
  padding: 0 10px;
}
.center-pay-list {
  width: 682px;
  height: 395px;
  border-left: 1px solid #e8e8e8;
  background-color: #fff;
}
.pay-way {
  padding: 35px 0 33px 10px;
}
.pay-way h3 {
  color: #e57b00;
  font: bold 18px/25px '\5FAE\8F6F\96C5\9ED1';
}
.pay-way p {
  margin-top: 10px;
  color: #666;
}
.line-c2 {
  border-top: 1px solid #ebebeb;
  height: 1px;
  line-height: 0;
  font-size: 0;
  background-color: #fafafa;
  overflow: hidden;
}
.pay-modify,
.pay-next {
  width: 151px;
  height: 42px;
  font: 18px/42px '\5FAE\8F6F\96C5\9ED1';
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.pay-modify {
  border: 1px solid #d7d7d7;
  color: #333;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #fbfbfb, #f2f2f2);
  background: -moz-linear-gradient(top, #fbfbfb, #f2f2f2);
  background: -ms-linear-gradient(top, #fbfbfb, #f2f2f2);
  background: -o-linear-gradient(top, #fbfbfb, #f2f2f2);
  background: linear-gradient(top, #fbfbfb, #f2f2f2);
  background-color: #f2f2f2;
  box-shadow: 0 1px #ffffff inset;
  box-shadow: 0 1px #ffffff;
}
.pay-modify:hover {
  color: #333;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f7f7f7));
  background: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
  background: -moz-linear-gradient(top, #ffffff, #f7f7f7);
  background: -ms-linear-gradient(top, #ffffff, #f7f7f7);
  background: -o-linear-gradient(top, #ffffff, #f7f7f7);
  background: linear-gradient(top, #ffffff, #f7f7f7);
  background-color: #f7f7f7;
}
.pay-next {
  border: 1px solid #a81d1d;
  color: #fff;
  cursor: pointer;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e95d5d), to(#dd4a4a));
  background: -webkit-linear-gradient(top, #e95d5d, #dd4a4a);
  background: -moz-linear-gradient(top, #e95d5d, #dd4a4a);
  background: -ms-linear-gradient(top, #e95d5d, #dd4a4a);
  background: -o-linear-gradient(top, #e95d5d, #dd4a4a);
  background: linear-gradient(top, #e95d5d, #dd4a4a);
  background-color: #dd4a4a;
  box-shadow: 0 1px #ff6565 inset;
  box-shadow: 0 1px #ffffff;
}
.pay-next:hover {
  color: #fff;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ec7575), to(#e65555));
  background: -webkit-linear-gradient(top, #ec7575, #e65555);
  background: -moz-linear-gradient(top, #ec7575, #e65555);
  background: -ms-linear-gradient(top, #ec7575, #e65555);
  background: -o-linear-gradient(top, #ec7575, #e65555);
  background: linear-gradient(top, #ec7575, #e65555);
  background-color: #e65555;
}
.center-pay-list li {
  float: left;
  display: inline;
  height: 30px;
  line-height: 30px;
  margin: 20px 0 0 27px;
  width: 140px;
}
.center-pay-list li.first {
  float: none;
  display: block;
  width: 655px;
  height: 42px;
  line-height: 42px;
  margin-top: 30px;
}
.pay-radio {
  width: 13px;
  height: 13px;
  vertical-align: middle;
}
/* center-order */
.center-order a {
  color: #4385E0;
}
.center-order a:hover {
  color: #f18100;
}
/* discount-notice */
.discount-notice {
  margin-top: -31px;
  height: 18px;
  line-height: 18px;
}
.discount-notice li {
  float: left;
  width: 93px;
  color: #999;
  cursor: pointer;
}
.discount-notice li i {
  float: left;
  width: 30px;
  height: 16px;
  margin: 2px 5px 0 0;
  background-position: -33px -178px;
}
.discount-notice li.current {
  color: #ff9000;
}
.discount-notice li.current i {
  background-position: -65px -178px;
}
/* center-register */
.center-register {
  padding: 0 10px 10px;
  background-color: #f4f4f4;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.center-register-inner {
  position: relative;
  z-index: 0;
  zoom: 1;
  padding: 0 0 60px 93px;
  background-color: #fff;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.center-register-bind {
  padding: 0 40px 45px;
}
.reg-logo {
  padding-top: 33px;
}
.reg-title {
  margin: 55px 0 28px;
  width: 320px;
  height: 22px;
  line-height: 22px;
}
.reg-title strong {
  display: inline-block;
  font-size: 18px;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.reg-title strong i {
  margin: 3px 5px 0 0;
  width: 5px;
  height: 18px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  background-color: #f79100;
}
.reg-title span {
  color: #999;
}
.reg-title span a {
  color: #f79100;
}
.reg-title span a:hover {
  color: #f79100;
  text-decoration: underline;
}
.reg-shopping {
  position: absolute;
  right: 52px;
  bottom: 79px;
  width: 368px;
  height: 311px;
  background: url(/static/images/center/reg-shopping.png) no-repeat;
}
.reg-bind {
  position: absolute;
  right: 23px;
  bottom: 37px;
  width: 400px;
  height: 401px;
  background: url(/static/images/center/reg-bind.png) no-repeat;
}
/* reg-box */
.kv-icon-user,
.kv-icon-pwd,
.msg-error i,
.msg-success i {
  background: url(/static/images/center/icon-reg.png) no-repeat;
}
.reg-box {
  width: 450px;
  min-height: 311px;
  _height: 311px;
  font-family: \5b8b\4f53;
}
.kv-item {
  padding-left: 70px;
  margin-bottom: 15px;
}
.kv-item-nomb {
  margin-bottom: 0;
}
.kv-verify-refresher a,
.kv-protocol a {
  color: #36c;
}
.kv-verify-refresher a:hover,
.kv-protocol a:hover {
  color: #f79100;
}
.kv-label {
  float: left;
  display: inline;
  width: 70px;
  margin-left: -70px;
  font-size: 14px;
  line-height: 34px;
  color: #999;
}
.kv-input {
  position: relative;
  float: left;
  width: 250px;
  z-index: 0;
}
.kv-text {
  border: 1px solid #dbdbdb;
  padding: 6px 5px;
  height: 20px;
  font: 14px/20px '\5b8b\4f53';
  color: #333;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px 2px #F6F6F6 inset;
  -moz-box-shadow: 0 0 2px 2px #F6F6F6 inset;
  -ms-box-shadow: 0 0 2px 2px #F6F6F6 inset;
  -o-box-shadow: 0 0 2px 2px #F6F6F6 inset;
  box-shadow: 0 0 2px 2px #F6F6F6 inset;
}
.kv-text-error {
  border-color: #e37a00;
}
.kv-input-user .kv-text,
.kv-input-pwd .kv-text {
  width: 205px;
  padding-left: 38px;
}
.kv-input-code .kv-text {
  width: 68px;
}
.kv-input-code {
  float: left;
  width: 80px;
}
.kv-verify {
  float: left;
  width: 162px;
  padding-left: 8px;
}
.kv-verify img {
  float: left;
  width: 73px;
}
.kv-verify-refresher {
  float: right;
  width: 89px;
  height: 14px;
  line-height: 14px;
  margin-top: 20px;
  text-align: right;
}
.kv-icon-user,
.kv-icon-pwd {
  position: absolute;
  left: 7px;
  top: 8px;
  width: 18px;
  height: 19px;
}
.kv-icon-user {
  background-position: -20px -25px;
}
.kv-icon-pwd {
  background-position: -40px -25px;
}
.kv-chk {
  float: left;
  width: 14px;
  height: 14px;
  margin: 2px 4px 0 0;
}
.kv-submit {
  display: inline-block;
  width: 247px;
  height: 39px;
  border: 1px solid #f4772c;
  text-align: center;
  font: 18px/39px '\5FAE\8F6F\96C5\9ED1';
  color: #fff;
  background-color: #f79100;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px #ffaa32 inset;
  -moz-box-shadow: 0 1px #ffaa32 inset;
  -ms-box-shadow: 0 1px #ffaa32 inset;
  -o-box-shadow: 0 1px #ffaa32 inset;
  box-shadow: 0 1px #ffaa32 inset;
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.kv-submit:hover {
  background-color: #f4a637;
  -webkit-box-shadow: 0 1px #ffbf64 inset;
  -moz-box-shadow: 0 1px #ffbf64 inset;
  -ms-box-shadow: 0 1px #ffbf64 inset;
  -o-box-shadow: 0 1px #ffbf64 inset;
  box-shadow: 0 1px #ffbf64 inset;
}
.kv-submit-disable,
.kv-submit-disable:hover {
  border-color: #aeaeae;
  background-color: #cecece;
  cursor: default;
  -webkit-box-shadow: 0 1px #dfdfdf inset;
  -moz-box-shadow: 0 1px #dfdfdf inset;
  -ms-box-shadow: 0 1px #dfdfdf inset;
  -o-box-shadow: 0 1px #dfdfdf inset;
  box-shadow: 0 1px #dfdfdf inset;
}
.msg-box {
  position: relative;
  z-index: 0;
  zoom: 1;
  display: inline-block;
  width: 130px;
  vertical-align: top;
  color: #999;
  white-space: nowrap;
}
.msg-error,
.msg-success,
.msg-bar {
  display: none;
}
.msg-error,
.msg-success {
  position: absolute;
  padding-left: 30px;
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  zoom: 1;
}
.msg-error i,
.msg-success i {
  width: 17px;
  height: 17px;
  float: left;
  margin: 9px 0 0 -22px;
}
.msg-error {
  color: #fe0000;
}
.msg-error i {
  background-position: -68px -24px;
}
.msg-success {
  color: #61aa0a;
}
.msg-success i {
  background-position: -68px -43px;
}
.kv-bar {
  clear: both;
  height: 25px;
  overflow: hidden;
  zoom: 1;
}
.kv-item-code .msg-error,
.kv-item-code .msg-success {
  top: -9px;
  left: -92px;
}
.kv-item-server {
  display: none;
}
.kv-item-server .msg-error {
  position: static;
  display: block;
  padding-left: 22px;
}
.show {
  display: block;
}
/* dialog-protocol */
.dialog-protocol {
  background-color: #fff;
}
.dialog-protocol-title {
  height: 39px;
  font: bold 18px/39px '\5FAE\8F6F\96C5\9ED1';
  text-align: center;
  background-color: #f9bd88;
  color: #fff;
}
.dialog-protocol-btn {
  height: 42px;
  padding: 15px 0;
  text-align: center;
}
.dialog-protocol-btn a {
  display: inline-block;
  width: 296px;
  height: 40px;
  border: 1px solid #d07000;
  font: bold 16px/40px '\5FAE\8F6F\96C5\9ED1';
  background-color: #eb7e00;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.dialog-protocol-detail {
  padding: 10px 20px;
  height: 259px;
  overflow: auto;
  line-height: 21px;
  word-wrap: break-word;
  word-break: break-all;
}
.dialog-protocol-detail h2,
.dialog-protocol-detail h3,
.dialog-protocol-detail h4 {
  padding: 5px 0;
  font-weight: bold;
}
.dialog-protocol-detail p {
  text-indent: 2em;
}
/* reg-bind-wp */
.reg-bind-wp {
  width: 486px;
}
.reg-bind-tab {
  border-width: 5px 1px 3px;
  border-style: solid;
  border-color: #eb7e00 #f0f0f0 #f0f0f0;
  margin-top: 40px;
  background-color: #fcfcfc;
}
.reg-bind-tab li {
  height: 46px;
  font: 18px/46px '\5FAE\8F6F\96C5\9ED1';
  color: #eb7e00;
  text-indent: 20px;
}
.reg-bind-list {
  padding: 40px 0 12px 20px;
  border: 1px solid #f0f0f0;
  border-top: 0 none;
  background-color: #fcfcfc;
}
.reg-bind-wp .reg-box {
  min-height: 261px;
  _height: 261px;
}
.reg-bind-wp .kv-icon-pwd,
.reg-bind-wp .kv-icon-user {
  display: none;
}
.reg-bind-wp .kv-bar {
  display: none;
}
.reg-bind-wp .kv-item {
  margin-bottom: 25px;
}
.reg-bind-wp .kv-item-server .msg-error {
  margin: -20px 0;
}
.reg-bind-wp .kv-submit {
  width: 158px;
}
.reg-bind-wp .kv-text {
  padding-left: 5px;
  width: 238px;
}
.reg-bind-wp .kv-text-disable {
  background-color: #f6f6f6;
}
.reg-bind-wp .kv-text:focus {
  border-color: #c6c6c6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
