/*
	index
	2013-10-09
 */
.user-info{height:210px;margin-top: 30px;position:relative;}
.user-info .user-avater{width:152px;margin:-20px 0 0 20px;}
.user-info .user-avater .user-pic{position:relative;width:148px;height:148px;border:1px solid #DBDBDB;padding:1px;display: inline-block;*display: inline;*zoom: 1;overflow:hidden;}
.user-info .user-avater .user-pic a{color:#fff;position:relative;bottom:-1px;display:inline-block;width:148px;height:20px;line-height:20px;text-align:center;font-style:normal;background:rgba(0, 0, 0, 0.4);background:#000\9;filter:alpha(opacity=50)\9;}
.user-info .user-avater .user-time{margin-top: 4px;color:#666;}
.user-info .user-account{width:470px;margin-left:20px;position: relative;}
.user-info .user-name{display: inline-block;*display: inline;*zoom: 1;height:38px;padding:0 5px;line-height:38px;border-bottom:1px dashed #CFCFCF;color:#333;font-family:\5FAE\8F6F\96C5\9ED1}
.user-info .user-name strong{display: inline-block;vertical-align:text-bottom;*display: inline;*zoom: 1;width:170px;font-size:22px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.user-info .user-name .edit-name{margin-left:14px;color:#eb7e00;}
.user-info .user-name .edit-name:hover{text-decoration: underline;}
.user-money{margin-top: 14px;}
.user-money .bangbi,
.user-money .bangdou{margin-top: 5px;line-height:22px;display: inline-block;*display: inline;*zoom: 1;padding-left:30px;font-size:20px;color:#fff;cursor: default;
	-webkit-transition: background-position .1s ease-in;
	-moz-transition: background-position .1s ease-in;
	-ms-transition: background-position .1s ease-in;
	-o-transition: background-position .1s ease-in;
	transition: background-position .1s ease-in;
}
.user-money a{display:block;margin:5px 0 0 12px;color:#fff;font-family: \5FAE\8F6F\96C5\9ED1;font-size:14px;}
.user-money__bangbi,
.user-money__bangdou{min-width:80px;_width:80px;height:60px;padding-right:5px;background-position: 6px 32px;}
.user-money__bangbi{position:relative;margin-right:4px;background-color: #F29874;}
.user-money__bangdou{background-color: #eb7e00;}
.user-money__arrow{position: absolute;top:23px;right:-5px;_right:-5px;background-position:0 -48px;width:12px;height:17px;}
.user-money .bangbi{background-position:9px -145px;}
.user-money .bangdou{background-position:9px -173px;}
.user-money__bangbi:hover .bangbi{background-position:9px -147px;}
.user-money__bangdou:hover .bangdou{background-position:9px -175px;}
.user-info .progress-box{position:relative;padding:0 40px;white-space: nowrap;zoom:1;margin-top:25px;}
.user-info .progress-box .level{position:absolute;top:-5px;height:29px;width:25px;}
.user-info .progress-box .level-left{left:0;}
.user-info .progress-box .level-right{right:0;}
.user-info .progress-box .level-tips{margin-top: 5px;color:#666;}
.user-info .progress-box .level-tips em{color:#eb7e00;margin-right:5px;}

.user-info .make-money{position: absolute;top:58px;right:0;width:164px;height:72px;}
.user-info .make-money a{float:left;height:34px;line-height: 34px;color:#fff;text-align: center;}
.user-info .make-money .recharge,
.user-info .make-money .bangbi,
.user-info .make-money .bangdou{width:52px;margin-top: 4px;}
.user-info .make-money .get-quan{width:164px;color:#eb7e00;background-color:#FCEBBD;}
.user-info .make-money .get-quan:hover{background-color: #FFE8A8}
.user-info .make-money .recharge,
.user-info .make-money .bangdou{background-color: #FCD793;}
.user-info .make-money .bangbi{background-color: #FCBC62;margin-left:4px;margin-right:4px;}
.user-info .make-money .bangbi:hover{background-color: #FFA526}
.user-info .make-money .recharge:hover,
.user-info .make-money .bangdou:hover{background-color: #FFCE73;}
.user-info .make-money .get-red{width:164px;margin-top:6px;color:#fff;font-weight:bold;background-color:#f29874;}
.user-info .make-money .get-red:hover{background-color:#eb7e00;}
.user-info .box-arrow{position:absolute;top:-2px;right:-2px;width:16px;height:17px;background: url(../../images/center/icon.png) no-repeat -150px -100px scroll transparent; _background: url(../../images/center/icon8.png) no-repeat -150px -100px scroll transparent;}

.task-area{width:250px;margin-top: 20px;margin-right:20px;padding-left:20px;border-left:1px solid #F1F1F1;}
.task-area .h-title{padding:4px 0;}
.task-list tr{border-bottom:4px solid #fff;}
.task-list td{height:28px;text-align: center;}
.task-list em{color:#eb7e00;}
.task-list .odd{background-color:#F8EFE2}
.task-list tbody .even{background-color:#F2F2F2}
/*side content s*/
.hot-app{padding:0 12px;}
.hot-app dt{height:40px;line-height: 40px;background-color: #fff;position: relative;}
.hot-app dt h3{border-top:2px solid #eb7e00;}
.hot-app dd{margin-top: -1px;padding:10px 0;border-top:1px dashed #D1D1D1;}
.hot-app a{color:#333;}
.hot-app a:hover{color:#eb7e00;}
.hot-app .pic{margin-right: 4px;}
.hot-app .txt{line-height:20px;}
/*side content e*/

/*main content s*/
.user-main-content .user-side{width:195px;}
.user-main-content .user-main{width:766px;}
.user-main-content .user-main .tabCur{font-weight:700;color:#333;cursor: default;}
/*main content e*/