/*通用顶部 -Start-Gaotian-20131225*/
.header-rearch-submit,.header-nav-box{background:#FF8808}
.header-rearch-submit:hover{background:#FF6404}
.header-nav-back s{border-left-color:#FF8808}
.header-nav-box li{position: relative;border-color:#FFA545}
.header-nav-box li a{width:94px;}
.header-nav-box li a:hover{background-color:#d17300}
.header-nav-box .cur a, .header-nav-box .cur a:hover{background:#FFFFFF;color:#808080}
/*通用顶部 -End-Gaotian-20131225*/
/* css reset */
.wrap{width: 980px; color: #333; margin: 0 auto; } 
.cf:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; } 
.cf {zoom:1; /* for IE6 IE7 */ }
.clear-fix:after,
.clear-fix:before{
  content:" ";
  display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;} 
.l,.r {display:inline; } 
.l {float:left; } 
.r {float:right; } 
.fs12{font-size: 12px;}
.tof {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } 
.rmb {font-family: arial; font-style: normal; padding-right: 4px; }
img{vertical-align: top;}
.pd15{padding: 15px;}
.pd10{padding: 10px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.footer{margin-top: 30px;}
table{table-layout: fixed;width:100%;background-color:#fff;}
.icon{display: inline-block;*display: inline;*zoom: 1;background-image:url(../../images/center/icon.png);_background-image:url(../../images/center/icon8.png);background-repeat: no-repeat;}
.blank-line{display:block;margin-bottom:10px;height:1px;background-color:#f1f1f1;border:none;font-size:0;overflow: hidden;line-height: 0;width:100%;}
.cl-eb7,.table .cl-eb7{color:#eb7e00;}
.cl-347{color:#347AB5;}
.cl-347:hover{text-decoration: underline;}
.cl-666{color:#666;}
.cl-999{color:#999;}
.ui-loading{text-align:center;padding-top:50px;color:#666;font-size:20px;font-family:\5FAE\8F6F\96C5\9ED1;background:url(../../images/search/loading.gif) no-repeat 50% 50%}
.w100{width: 100px;}
/*layout s*/
.layout-wrap{position:relative;z-index:0;margin:20px auto 30px;background:url(../../images/center/bg_content.gif) repeat-y right 0;zoom:1}
.layout-side-menu{float:left;width:195px;border:1px solid #dfdfdf;border-right:none;box-shadow:0 0 6px #ddd;background:#f8f8f8;}
.layout-content{float:right;width:733px;min-height:560px;_margin-left:-10px;padding:14px 25px;border-top:1px solid #dfdfdf;box-shadow:0 0 6px 1px #ddd}
.layout-bottom-border{position:absolute;bottom:0;right:0;z-index:1;float:left;width:784px;height:0;margin:0;padding:0;border:none;border-bottom:1px solid #dfdfdf;background:#f00;zoom:1}
.layout-side-menu dl{margin-top:-1px;border-top:1px solid #dfdfdf;}
.layout-side-menu dl a{color:#666;hideFocus:expression(this.hidefocus=this.blur());}
.layout-side-menu dl a:hover,.layout-side-menu dl .cur a{color:#eb7e00}
.layout-side-menu dt{padding:1px 0;border-bottom:1px solid #dfdfdf;background:#fff;}
.layout-side-menu dt a{display:block;height:16px;padding:11px 0 11px 14px;font-weight:bold;font-size:14px;line-height:16px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f3f3f3));
    background:-moz-linear-gradient(top,#fff,#f3f3f3);
    background:-ms-linear-gradient(top,#fff,#f3f3f3);
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#f3f3f3);
}
.layout-side-menu dt.cur a{border-left:2px solid #eb7e00;}
.layout-side-menu dd{position:relative;z-index:0;margin:0 16px -1px;_margin-bottom:0;padding:12px 0;border-bottom:1px dotted #d1d1d1;font-size:12px;line-height:14px;zoom:1;}
.layout-side-menu dd s{position:absolute;top:50%;left:2px;z-index:1;width:4px;height:4px;margin-top:-2px;background:#bfbfbf;font-size:0;}
.layout-side-menu dd a{display:block;text-indent:12px;}
.layout-side-menu .cur s,.layout-side-menu  a:hover s{background:#eb7e00;}
.layout-tab-tit{border-bottom:1px solid #eb7e00;font-size:0;font-family:"Microsoft YaHei";}
.layout-tab-tit span{display:inline-block;position:relative;z-index:0;margin-right:45px;padding-bottom:10px;color:#666;font-size:14px;line-height:14px;cursor:pointer}
.layout-tab-tit span s{display:none;position:absolute;bottom:0;left:50%;z-index:1;width:0;height:0;margin-left:-5px;border:5px dashed transparent;border-bottom:5px solid #eb7e00;background:transparent;font-size:0;}
.layout-tab-tit .tabCur {color:#333}
.layout-tab-tit .tabCur s{display:block;}
.layout-tab-tit ins{margin-left:4px;color:#eb7e00}
.layout-tab-content{display:none;zoom:1;}
.show{display:block;}
.layout-title-line,.layout-title-crumb,.layout-title-noline{padding-bottom:10px;font-size:14px;line-height:16px;font-family:"Microsoft YaHei"}
.layout-title-line{border-bottom:2px solid #838383;color:#333;font-size:16px;}
.layout-title-crumb{padding-bottom:10px;border-bottom:1px dotted #d4d4d4;}
.layout-title-crumb,.layout-title-crumb a{color:#666}
.layout-title-crumb a:hover{color:#eb7e00}
.layout-title-crumb b{color:#333;font-weight:normal}
.layout-title-noline{}
/*layout d*/

/*module s*/
/*recommend goods list s*/
.recommend-goods{height:35px;line-height: 35px;margin-bottom: -20px;overflow: hidden;}
.recommend-goods .title{font-family: \5FAE\8F6F\96C5\9ED1;font-size: 14px;font-weight: normal;}
.recommend-goods .more{float:right;font-weight: normal;color:#347ab5;}
.goods-list li{float:left;margin-top: 20px;margin-right:17px;width:170px;height:170px;overflow: hidden;position: relative;}
.goods-list li:nth-of-type(4n){margin-right:0;}
.goods-list .last{margin-right:0;}
/*recommend goods list e*/

/*shadow-box s*/
.shadow-box{
  -moz-box-shadow: 0 0 6px #EAEAEA;
  -webkit-box-shadow: 0 0 6px #EAEAEA;
  -ms-box-shadow: 0 0 6px #EAEAEA;
  box-shadow: 0 0 6px #EAEAEA;
  background-color:#fff;
  border:1px solid #EAEAEA;
} 
/*shadow-box e*/

/*page s*/
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center;}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:38px;line-height:38px;margin-top:0;width:32px;font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:'宋体';}
.page a.first,.page a.last{}
.page a:hover{color:#fff;background-color:#ff9c0f;background-image:none;border-color:#eb8226;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#ff9c0f;font-family:arial;border-radius:3px;cursor:default;width:34px;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:80px;margin-right:0;text-align:right;font-family:'宋体'}
.page .page-input{font-family:'宋体';width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #e98900;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#ff9c0f;border:1px solid #e98900;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}
/*page e*/

/*select s*/
.select{position: relative;background-color: #fff}
.select dt{height:20px;line-height:20px;cursor:pointer;color:#333;position: relative;border:1px solid #bbb;position: relative;z-index: 10}
.select dd{display:none;position:absolute;width:100%;top:20px;background-color: #fff;border-bottom: 1px solid #bbb;}
.select dd a{display: block;height:22px;line-height:22px;color:#999;border-right:1px solid #bbb;border-left:1px solid #bbb;}
.select dt,
.select dd a{text-indent: 1em;}
.recommend-goods .more:hover{text-decoration: underline;}
.select .arrow{position: absolute;right:4px;top:7px; z-index: 1; width: 0; height: 0;border: 5px dashed transparent;border-bottom-width:0; border-top: 5px solid #A6A6A6; background: transparent; font-size: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;  
}
.open .arrow{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*select e*/

/*goods mod s*/
.goods-mod{}
.goods-mod .des{position: relative;margin:-60px auto 0;width:130px;height:64px;padding:0 10px;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7FFFFFFF', endColorstr='#7FFFFFFF');
  background:rgba(255,255,255,.8);
  -webkit-transition:background-color .3s ease,margin-top .2s ease-in-out;
  -moz-transition:background-color .3s ease margin-top .2s ease-in-out;
  -ms-transition:background-color .3s ease,margin-top .2s ease-in-out;
  -o-transition:background-color .3s ease,margin-top .2s ease-in-out;
  transition:background-color .3s ease,margin-top .2s ease-in-out;
}
:root .goods-mod .des{filter:none;}/*for IE9*/
.goods-mod .price,
.goods-mod .title{display:block;height:28px;line-height:28px;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;}
.goods-mod .price{border-bottom:1px dashed #333;}
.goods-mod .price i{font:normal 12px \5FAE\8F6F\96C5\9ED1;}
.goods-mod .price .now-price{font:700 14px/28px \5FAE\8F6F\96C5\9ED1;color:#ec002c;}
.goods-mod .price .now-price i{font-weight:700;}
.goods-mod .price .old-price{color:#666;}
.goods-mod .title{color:#333;}
.goods-mod:hover .des{
  margin-top: -64px;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
  background:rgba(0,0,0,0.5);
}
.goods-mod:hover .price .now-price,
.goods-mod:hover .price .old-price,
.goods-mod:hover .title{color:#fff;}
/*goods mod s*/

/*table s*/
.table th{height:32px;padding-left:10px;background-color:#F5F5F5;border-bottom:1px dotted #D1D1D1;color:#999;}
.table td{height:40px;padding-left:10px;color:#666;}
.table tbody tr:nth-child(even){background-color:#F5F5F5;border-top:1px solid #E4E4E4;zoom:1}
.trEvenBg{background-color:#F5F5F5;border-top:1px solid #E4E4E4;zoom:1}

.table-1 th{font-weight:700;color:#666;text-align: center;}
.table-1 td{height:87px;text-align:center;}
.table-1 .intro{text-align:left;}

.table-3{border:1px solid #dfdfdf;}
.table-3 td{height:72px;}
/*table e*/

/*button s*/
.btn{display: inline-block;*display: inline;*zoom: 1;height:32px;text-align:center;color:#fff;font:normal 14px/32px \5FAE\8F6F\96C5\9ED1;vertical-align: middle;}
.btn-1{padding:0 25px;background-color:#EB7E00}
.btn-1:hover,.btn-2:hover,.btn-3:hover,.btn-4:hover { color:#fff;}
.btn-2{padding:0 25px;background-color:#BFBFBF}
.btn-3,.btn-4{height:36px;line-height:36px;width:135px;font-size:16px;}
.btn-3{background-color:#EB7E00}
.btn-4{background-color:#BFBFBF}
.btn-5{padding:0 25px;border:1px solid #bbb;height:20px;line-height:20px;font-size:12px;color:#EB7E00;font-family:\5b8b\4f53;
  background: -moz-linear-gradient(top,  #ffffff 0%, #F5F5F5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#F5F5F5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#F5F5F5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#F5F5F5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#F5F5F5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#F5F5F5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F5F5F5',GradientType=0 ); /* IE6-8 */
}
:root .btn-5{filter:none;}
.form-h .btn--getcode{border:none;height:30px;line-height: 30px;padding:0 20px;color:#fff;cursor: pointer;}
.waiting{cursor:default;background: url(../../images/center/waiting.gif) no-repeat scroll 3px center #bfbfbf;color:#fff;}
/*button e*/

/*tooltip s*/
.tooltips{padding:10px;position:absolute;border:1px solid #FFC47F;background-color: #FFFBEB;color:#eb7e00;}
.tooltips .arrow,
.tooltips .arrow:before{position:absolute;width:0;height:0;line-height:0;border-width:6px;border-style: solid;}
/*arrow top*/
.tooltips-top .arrow{top:-12px;left:50%;margin-left:-3px;border-color:transparent transparent #FFC47F;border-style:dashed dashed solid;}
.tooltips-top .arrow:before{content:"";top:-5px;left:-6px;border-color:transparent transparent #fff;}
/*arrow right*/
.tooltips-right .arrow{right:-12px;top:50%;margin-top:-3px;border-color:transparent transparent transparent #FFC47F;border-style:dashed dashed dashed solid;}
.tooltips-right .arrow:before{content:"";top:-6px;right:-5px;border-color:transparent transparent transparent #fff;}
/*arrow bottom*/
.tooltips-bottom .arrow{bottom:-12px;left:50%;margin-left:-3px;border-color:#FFC47F transparent transparent;border-style:solid dashed dashed;}
.tooltips-bottom .arrow:before{content:"";top:-7px;left:-6px;border-color:#fff transparent transparent;}
/*arrow left*/
.tooltips-left .arrow{left:-12px;top:50%;margin-top:-3px;border-color:transparent #FFC47F transparent transparent;border-style:dashed solid dashed dashed;}
.tooltips-left .arrow:before{left:-5px;top:-6px;content:"";border-color:transparent #fff transparent transparent;}
/*tooltip e*/

/*progress bar s*/
.progress-bar-out,
.progress-bar-out-right,
.progress-bar-in,
.progress-1 .progress-point{background-image: url(../../images/center/progress-bar.png);_background-image: url(../../images/center/progress-bar8.png);background-repeat: no-repeat;}
.progress-1{height:20px;background-position:0 0;padding-left:8px;}
.progress-bar-out-right{height:20px;padding-right:6px;background-position: right 0;background-color: #fff}
.progress-1 .progress-bar-in{height:20px;}
.progress-1 .progress-bar-in{background-position:left -26px;padding-left:5px;}
.progress-1 .progress-point{position:relative;float:right;width:22px;height:22px;background-position:0 -56px;margin-right:-2px;}
.progress-2{height:39px;background-position: 0 -103px;}
.progress-2 .progress-bar-in{height:23px;background-position: 0 -160px;}
/*progress bar e*/
.nav-list li{ width: 92px;}
.nav-list li a{font-size: 14px;}
.nav-list li:hover{ background: #d17300; }
.nav-list li:hover a{color: #fff;}
.nav-list li.cur,.nav-list li.cur:hover{ background: #fff; }
.nav-list li.cur a,.nav-list li.cur:hover a{color: #808080;}
.all-cate{position:relative;float:left;height: 47px;line-height:47px;width:200px;background-color: #ff8809; border-left: 1px #ee7a07 solid;border-right: 1px #ee7a07 solid;}
.all-cate h2{font-size: 14px;color:#fff;font-family: "\5FAE\8F6F\96C5\9ED1"}
.all-cate h2 a{background:url(../../images/common/header-nav.png) no-repeat  -110px 13px; height: 47px; color: #fff; display: block; text-align: center; padding-left: 26px;}
.all-cate h2 a:hover{background-color: #D37100;color: #fff;}
/*form s*/
.form-address{margin-top: 30px;}
.require-star{color:#eb7e00;}
.input-big{width:260px;}
.input-medium{width:190px;}
.input-mini{width:60px;}
.form-line,
.form-tips{color:#999;}
.form-tips{margin-left:4px;height:30px;line-height:30px;}
.form-tips--success{color:#41AD00;display: none;}
.form-line{margin:0 4px;}
.radio, 
.checkbox,
.selecter{padding-top:5px;}
.ml6{margin-left:6px;}
textarea{resize:none;overflow-y:auto;}
.form-h .control-group:before,
.form-h .control-group:after{content:"";display:table;}
.form-h .control-group:after{clear:both;}
.form-h .control-group{zoom:1;}
.form-h .control-label{float:left;width:90px;height:30px;line-height:30px;text-align: right;}
.form-h .controls{margin-left:105px;margin-bottom:18px;}
.form-h input{height:18px;padding:5px;vertical-align: middle;}
.form-h .txt{
  border:1px solid #dcdcdc;
  -webkit-box-shadow: inset 0 3px 2px -2px #dcdcdc;
  -moz-box-shadow: inset 0 3px 2px -2px #dcdcdc;
  box-shadow: inset 0 3px 2px -2px #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.form-h .txt:focus{border:1px solid #eb7e00;
  -webkit-box-shadow: 0 0 0 1px #FFC973;
  -moz-box-shadow: 0 0 0 1px #FFC973;
  box-shadow: 0 0 0 1px #FFC973;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-h .require-star{vertical-align:middle;margin-left:6px;}
/*----dialog s----*/
.dialog{position: absolute;border:1px solid #d9d9d9;z-index: 800;}
.dialog-mask{position: absolute;top:0;left:0;width:100%;opacity:.5;filter:alpha(opacity=50);background-color: #000;z-index: 200}
.dialog__head{line-height: 40px;border-bottom:1px solid #D9D9D9;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */
    -webkit-box-shadow: 0 2px 4px -2px #f4f4f4, inset 0 -2px 0 -1px #fff;
    -moz-box-shadow: 0 2px 4px -2px #f4f4f4, inset 0 -2px 0 -1px #fff;
    box-shadow: 0 2px 4px -2px #f4f4f4, inset 0 -2px 0 -1px #fff;
}
.dialog__head .close{position: absolute;right:20px;top:5px;font-size:22px;font-family:\5FAE\8F6F\96C5\9ED1;line-height: 1.2;color:#666;}
.dialog__head .title{padding-left:20px;font-family: \5FAE\8F6F\96C5\9ED1;font-size: 14px;}
.dialog__body{background-color:#fff;}
.dialog__confirm{padding:25px 90px;text-align:center;font-size:14px;line-height:30px;}
.dialog__confirm__btn{margin-top: 10px;}
.dialog__confirm h6{font-size:18px;}
.dialog__confirm h6 span{margin:0 3px;color:#f63;}
.dialog_tips{margin-top:18px;font-size:12px;line-height:18px;}
.dialog_tips p{text-align:left;}
.dialog_tips p.indent{text-indent:3em;}
/*----dialog e----*/

/*tips trade s*/
.ui-empty-data .line{margin:0 4px;}
.ui-empty-data .tips-content{text-align: center;margin:90px 0 90px;}
.ui-empty-data .tips-content__in{display: inline-block;*display: inline;*zoom: 1;
  background-color: #F5F5F5;padding:14px;font-size: 14px;color:#666;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  /* lte ie7 */        
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee,direction=0,strength=0) progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=90,strength=10) progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=10)progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee,direction=270,strength=6); 
  zoom: 1;
}
.h-title .title{font-family: \5FAE\8F6F\96C5\9ED1; font-size: 14px; font-weight: normal;} 
.h-title .more{float: right; font-weight: normal; color: #347ab5;}
.h-title .more:hover{text-decoration: underline;}
/*tips trade e*/

/*accordion s*/
.accordion-1 h4{height:32px;line-height: 32px;margin-bottom:2px;font-weight:400;cursor:default;background-color: #F5F5F5;}
.accordion-1 div{color:#999;padding:4px 0 4px 50px;line-height: 1.7;}
.accordion-1 .icon{margin:0 10px 0 20px;background-position: -50px -100px;width:15px;height:15px;vertical-align: middle;}
.accordion-1 .open .icon{background-position: 0 -100px;}
.common-question{height:36px;line-height: 36px;border-top: 1px solid #f1f1f1}
/*accordion e*/

/*----@footer s----*/
.footer{background: #f7f7f7; border-top: 1px solid #e6e6e6; text-align: center; padding: 10px; line-height: 25px;} 
.footer-links a{margin: 0 10px; color: #666;}
.footer-links a:hover{ color: #eb7e00; text-decoration: underline;}
.footer-copyright{color: #999;}
.footer img{ vertical-align: bottom;}
/*----@footer e----*/
/*交易成功*/
.view-success { color:#666;}
.view-success-panel { display: none;width:730px;zoom:1}
.view-success-panel{}
.table tbody tr.view-success-panel,.table tbody .view-success-panel td{border-top:1px dotted #e4e4e4;background:#fff}
.view-success{float:left}
.singleIco{position:relative;z-index:0;}
.singleIco .singleIco-u{display:inline-block;width:0;height:0;border:5px dashed transparent;border-top:5px solid #d4d4d4;font-size:0;line-height:0;vertical-align:-5px}
.view-success .singleIco-u{margin-left:3px;}
.on  .singleIco-u{border-top:5px dashed transparent;border-bottom:5px solid #d4d4d4;vertical-align:1px}
.view-success-box{display:none;position:relative;z-index:0;overflow:hidden;margin-left:18px;padding-left:84px;color:#333;line-height:14px;zoom:1}
.view-success-box s{text-decoration:none}
.view-success-box ul,.view-success-box li{zoom:1}
.view-success-box h5{position:absolute;top:18px;*top:13px;left:0;width:84px;text-align:left;}
.view-success-box h5,.view-success-box-l b,.view-success-box-r b,.view-success-box-r em{color:#666}
.view-success-box ul{display:inline;padding-top:6px;overflow:hidden;}
.view-success-box-l{float:left;width:310px;overflow:hidden;margin-bottom:-60px;padding-bottom:80px;padding-right:20px;border-right:1px solid #e4e4e4;}
.view-success-box-l li{margin-top:10px;overflow:hidden}
.view-success-box-l li b{white-space:nowrap; width:78px; float:left; text-align:right;line-height:18px;}
.view-success-box-l small,
.view-success-box-l span{display:inline;line-height:18px;}
.view-success-box-l small{float:right; width:232px; *width:214px;}
.view-success-box-l span{ float:left; width:210px;}
.view-success-box .view-success-box-r{float:left;white-space:nowrap;margin-left:20px;_margin-left:5px;}
.view-success-box-r li{position:relative;z-index:0;margin-top:12px;padding-left:70px}
.view-success-box-r li b{position:absolute;top:0;left:0;width:70px;}
.view-success-box-r li span{display:block;padding-bottom:10px;}
.view-success-box-r li span em{font-weight:bold;}
.show,
.show .view-success-box{display:block}
.table tbody tr.view-success-panel-detail{width:736px;border-top:0 none;}
.table tbody tr.view-success-panel-detail td{padding-left:0;}
.view-success-box-detail .view-success-box{width:734px;padding-left:0;border:1px solid #E4E4E4;border-top:0 none;margin:0 0 -1px;overflow:hidden;}
.view-success-box-detail .tt{border-bottom:1px dotted #E4E4E4;}
.view-success-box-detail dl{width:735px;overflow:hidden;zoom:1;text-align:center;}
.view-success-box-detail dt,.view-success-box-detail dd{float:left;width:244px;border-right:1px dotted #E4E4E4;}
.view-success-box-detail dt{height:32px;line-height:32px;font-weight:bold;}
.view-success-box-detail dd{padding-top:14px;line-height:18px;height:54px;}
.view-success-box-detail .notc{text-align:left;text-indent:73px;}
.table-detail th{border-bottom-style:solid;}

#trade-batch-view .view-success-box-detail .view-success-box{width:732px;margin-left:-10px;}
#trade-record-view .view-success-box-detail .view-success-box{width:731px;margin-left:-10px;}

/*----@特价数据 ----*/
.tejia-no-data{display:block;text-align: center;padding: 15px;}