/**
*Document:个人中心-布局
*Creat:13-10-9 上午9:50
*Author:junli.shen@b5m.com
**/
/*.layout-ov{overflow:hidden}*/
.layout-wrap{position:relative;z-index:0;margin:20px auto 0;background:url(../../images/center/bg_content.gif) repeat-y right 0;zoom:1}
.layout-side-menu{float:left;width:195px;border:1px solid #dfdfdf;border-right:none;box-shadow:0 0 4px #eee;background:#f8f8f8;}
.layout-content{float:right;width:733px;min-height:520px;_margin-left:-10px;padding:14px 25px;border-top:1px solid #dfdfdf;box-shadow:0 0 6px #eee}
.layout-bottom-border{position:absolute;bottom:0;right:0;z-index:1;float:left;width:784px;height:0;margin:0;padding:0;border:none;border-bottom:1px solid #dfdfdf;background:#f00;zoom:1}
/*侧边导航 - Start -Gaotian-20131009*/
.layout-side-menu dl{margin-top:-1px;border-top:1px solid #dfdfdf;}
.layout-side-menu dl a{color:#666}
.layout-side-menu dl a:hover,.layout-side-menu dl .cur a{color:#eb7e00}
.layout-side-menu dt{padding:1px 0;border-bottom:1px solid #dfdfdf;background:#fff;}
.layout-side-menu dt a{display:block;height:16px;padding:11px 0 11px 14px;font-weight:bold;font-size:14px;line-height:16px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f3f3f3));
    background:-moz-linear-gradient(top,#fff,#f3f3f3);
    background:-ms-linear-gradient(top,#fff,#f3f3f3);
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ffffff,endColorStr=#f3f3f3);
}
.layout-side-menu dt.cur a{border-left:2px solid #eb7e00;}
.layout-side-menu dd{position:relative;z-index:0;margin:0 16px -1px;_margin-bottom:0;padding:12px 0;border-bottom:1px dotted #d1d1d1;font-size:12px;line-height:14px;zoom:1;}
.layout-side-menu dd s{position:absolute;top:50%;left:2px;z-index:1;width:4px;height:4px;margin-top:-2px;background:#bfbfbf;font-size:0;}
.layout-side-menu dd a{display:block;text-indent:12px;}
.layout-side-menu .cur s,.layout-side-menu  a:hover s{background:#eb7e00;}
/*侧边导航 - End -Gaotian-20131009*/
/*Tab切换(三角标) - Start -Gaotian-20131009*/
.layout-tab-triangle{}
.layout-tab-tit{border-bottom:1px solid #eb7e00;font-size:0;font-family:"Microsoft YaHei";}
.layout-tab-tit span{display:inline-block;position:relative;z-index:0;margin-right:45px;padding-bottom:10px;color:#666;font-size:12px;line-height:14px;cursor:pointer}
.layout-tab-tit span s{display:none;position:absolute;bottom:0;left:50%;z-index:1;width:0;height:0;margin-left:-5px;border:5px dashed transparent;border-bottom:5px solid #eb7e00;background:transparent;font-size:0;}
.layout-tab-tit .tabCur {color:#333}
.layout-tab-tit .tabCur s{display:block;}
.layout-tab-tit ins{margin-left:4px;color:#eb7e00}
.layout-tab-content{display:none;}
.show{display:block;}
/*Tab切换(三角标) - End -Gaotian-20131009*/
/*内容区标题 - Start -Gaotian-20131009*/
.layout-title-line,.layout-title-crumb,.layout-title-noline{padding-bottom:10px;font-size:14px;line-height:16px;font-family:"Microsoft YaHei"}
.layout-title-line{border-bottom:2px solid #838383;color:#333;font-size:16px;}
.layout-title-crumb{padding-bottom:10px;border-bottom:1px dotted #d4d4d4;}
.layout-title-crumb,.layout-title-crumb a{color:#666}
.layout-title-crumb a:hover{color:#eb7e00}
.layout-title-crumb b{color:#333;font-weight:normal}
.layout-title-noline{}
/*内容区标题 - End -Gaotian-20131009*/