/*
	date:2014-02-08;
	des:login;
 */
/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{font: 12px/1.5 tahoma,arial,\5b8b\4f53;background:#fff;}
html,body{height:100%;}
img{vertical-align:top;}
.wp{width:980px;margin:0 auto;}
.cfx:after,.cfx:before{content:"";display:table;}
.cfx:after{clear:both;}
.cfx{*zoom:1;}
.fl{float:left;}
.fr{float:right;}
/* sprites */
.login-sina,.login-qq,.login-btn a,.login-chk b,.login-error i{background:url(../../images/center/bg-login.png) no-repeat;}
/* login */
.login{position:relative;padding:29px 120px 100px;color:#666;background-color:#f6f6f6;zoom:1;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-bottom-left-radius:5px;
    -ms-border-bottom-left-radius:5px;
    -o-border-bottom-left-radius:5px;
    border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-bottom-right-radius:5px;
    -ms-border-bottom-right-radius:5px;
    -o-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}
.login h1{margin-bottom:12px;}
.login h2{height:20px;margin-bottom:28px;font-size:18px;line-height:20px;font-family:\5FAE\8F6F\96C5\9ED1;overflow:hidden;zoom:1;}
.login h2 i{float:left;width:5px;height:18px;margin:2px 5px 0 0;font-size:0;line-height:0;overflow:hidden;background-color:#f79100;}
.login .fl{width:376px;border-right:1px solid #fff;}
.login .fl a{margin-bottom:15px;}
.login-sina,.login-qq{float:left;width:272px;height:72px;font-size:0;line-height:0;overflow:hidden;
    -webkit-box-shadow:0 2px 6px rgba(0,0,0,.15);
    -moz-box-shadow:0 2px 6px rgba(0,0,0,.15);
    -ms-box-shadow:0 2px 6px rgba(0,0,0,.15);
    -o-box-shadow:0 2px 6px rgba(0,0,0,.15);
    box-shadow:0 2px 6px rgba(0,0,0,.15);
}
.login-sina{background-position:0 0;}
.login-sina:hover{background-position:0 -73px;}
.login-qq{background-position:0 -146px;}
.login-qq:hover{background-position:0 -219px;}
.login .fr{width:275px;border-left:1px solid #d7d7d7;padding-left:87px;}
.login-field{position:relative;height:34px;line-height:34px;margin-bottom:20px;}
.login-field label{float:left;width:48px;height:34px;text-align:right;font-size:14px;}
.login-field input{float:right;width:204px;height:18px;line-height:18px;padding:7px 8px;border:1px solid #c1c1c1;color:#666;font-size:12px;background-color:#fff;}
.login-field .login-verify{float:right;width:222px;}
.login-field .login-verify input,.login-field .login-verify img, .login-field .login-verify a{float:left;}
.login-field .login-verify img{margin:0 10px;}
.login-field .login-verify input{width:70px;}
.login-field .login-verify a{color:#3365CB;}
.login-field .login-verify a:hover{color:#3365CB;text-decoration:underline;}
.login-error{position:absolute;top:33px;left:53px;clear:both;width:220px;height:22px;border:1px solid #fbb17b;line-height:22px;background-color:#fbe7cc;overflow:hidden;zoom:1;}
.login-error i{float:left;width:16px;height:16px;margin:4px 5px 0;background-position:-256px -328px;}
.login-field-spe{margin:-20px 0;}
.login-field-spe .login-error{top:0;}
.login-chk,.login-btn{margin-left:53px;}
.login-chk{position:relative;margin-top:20px;height:26px;line-height:26px;}
.login-chk span{float:right;}
.login-chk b{float:left;width:15px;height:15px;margin-top:6px;background-position:-257px -292px;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,.15);
    -ms-box-shadow:0 1px 2px rgba(0,0,0,.15);
    -o-box-shadow:0 1px 2px rgba(0,0,0,.15);
    box-shadow:0 1px 2px rgba(0,0,0,.15);
}
.login-chk input{position:absolute;top:6px;left:0;width:15px;height:15px;cursor:pointer;opacity:0;filter:alpha(opacity=0);}
.login-chk label{margin-left:5px;}
.login-chked b{background-position:-257px -308px;}
.login-btn a{display:inline-block;width:222px;height:41px;font-size:0;line-height:0;overflow:hidden;background-position:0 -292px;}
.login-btn a:hover{background-position:0 -334px;}
.login-reg{margin-right:5px;color:#F00D0D;}
.login-reg:hover{color:#F00D0D;text-decoration:underline;}
.login-forgot{color:#3365CB;}
.login-forgot:hover{color:#F00D0D;text-decoration:none;}
.b-radius{position:absolute;bottom:2px;z-index:-1;height:0;line-height:0;font-size:0;overflow:hidden;width:470px;
    -webkit-box-shadow:0 0 10px 5px rgba(0,0,0,.18);
    -moz-box-shadow:0 0 10px 5px rgba(0,0,0,.18);
    -ms-box-shadow:0 0 10px 5px rgba(0,0,0,.18);
    -o-box-shadow:0 0 10px 5px rgba(0,0,0,.18);
    box-shadow:0 0 10px 5px rgba(0,0,0,.18);

}
.bl-radius{
    left:20px;
    -webkit-transform:rotate(-2deg);
    -moz-transform:rotate(-2deg);
    -ms-transform:rotate(-2deg);
    -o-transform:rotate(-2deg);
    transform:rotate(-2deg);
}
.br-radius{
    right:20px;
    -webkit-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    -ms-transform:rotate(2deg);
    -o-transform:rotate(2deg);
    transform:rotate(2deg);
}
.bg{height:100%;background-color:#dbdfe3;}
.login-other{padding-top:155px;color:#999;}
.login-other h2{margin-bottom:15px;text-align:center;font-size:30px;line-height:30px;font-family:\5FAE\8F6F\96C5\9ED1;}
.login-other h2 img{vertical-align:-11px;margin-right:10px;}
.login-link{width:272px;margin:0 auto;}
.login-link .login-sina,.login-link .login-qq{margin-top:15px;}
.login-link p{margin-top:5px;clear:both;}
.login-link p a{color:#999;font-family:\5FAE\8F6F\96C5\9ED1;
    -webkit-text-shadow:1px 1px 2px #fff;
    -moz-text-shadow:1px 1px 2px #fff;
    -ms-text-shadow:1px 1px 2px #fff;
    -o-text-shadow:1px 1px 2px #fff;
    text-shadow:1px 1px 2px #fff;
}

.login-link p a:hover{color:#666;}