/*
	des:个人中心;
	date:2013-10-08;
 */

/*shadow-box s*/
.shadow-box{
	-moz-box-shadow: 0 0 6px #EAEAEA;
	-webkit-box-shadow: 0 0 6px #EAEAEA;
	-ms-box-shadow: 0 0 6px #EAEAEA;
	box-shadow: 0 0 6px #EAEAEA;
	background-color:#fff;
	border:1px solid #EAEAEA;
}	
/*shadow-box e*/

/*goods mod s*/
.goods-mod{}
.goods-mod .des{position: relative;margin:-60px auto 0;width:130px;height:64px;padding:0 10px;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background:rgba(255,255,255,.8);
	-webkit-transition:background-color .3s ease,margin-top .2s ease-in-out;
	-moz-transition:background-color .3s ease margin-top .2s ease-in-out;
	-ms-transition:background-color .3s ease,margin-top .2s ease-in-out;
	-o-transition:background-color .3s ease,margin-top .2s ease-in-out;
	transition:background-color .3s ease,margin-top .2s ease-in-out;
}
:root .goods-mod .des{filter:none;}/*for IE9*/
.goods-mod .price,
.goods-mod .title{display:block;height:28px;line-height:28px;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;}
.goods-mod .price{border-bottom:1px dashed #333;}
.goods-mod .price i{font:normal 12px \5FAE\8F6F\96C5\9ED1;}
.goods-mod .price .now-price{font:700 14px/28px \5FAE\8F6F\96C5\9ED1;color:#ec002c;}
.goods-mod .price .now-price i{font-weight:700;}
.goods-mod .price .old-price{color:#666;}
.goods-mod .title{color:#333;}
.goods-mod:hover .des{
	margin-top: -64px;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background:rgba(0,0,0,0.5);
}
.goods-mod:hover .price .now-price,
.goods-mod:hover .price .old-price,
.goods-mod:hover .title{color:#fff;}
/*goods mod s*/

/*table s*/
.table th{height:32px;padding-left:10px;background-color:#F5F5F5;border-bottom:1px dashed #D1D1D1;color:#999;}
.table td{height:40px;padding-left:10px;color:#666;}
.table tbody tr:nth-child(even){background-color:#F5F5F5;border-top:1px solid #E4E4E4;}
.table .cl-eb7{color:#eb7e00;}
.table .cl-347{color:#347AB5;}

.table-1 th{font-weight:700;color:#666;text-align: center;}
.table-1 td{height:87px;text-align:center;}
.table-1 .intro{text-align:left;}
/*table e*/

/*button s*/
.btn{display: inline-block;*display: inline;*zoom: 1;height:32px;text-align:center;color:#fff;font:normal 14px/32px \5FAE\8F6F\96C5\9ED1;}
.btn-1{padding:0 25px;background-color:#EB7E00}
.btn-2{padding:0 25px;background-color:#BFBFBF}
.btn-3,.btn-4{height:36px;line-height:36px;width:135px;font-size:16px;}
.btn-3{background-color:#EB7E00}
.btn-4{background-color:#BFBFBF}
.btn-5{padding:0 25px;border:1px solid #bbb;height:20px;line-height:20px;font-size:12px;color:#EB7E00;font-family:\5b8b\4f53;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  #ffffff 0%, #F5F5F5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#F5F5F5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#F5F5F5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#F5F5F5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#F5F5F5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#F5F5F5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F5F5F5',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: 0 1px 0 1px #E7E7E7;
	-moz-box-shadow: 0 1px 0 1px #E7E7E7;
	box-shadow: 0 1px 0 1px #E7E7E7;
}
:root .btn-5{filter:none;}
/*button e*/

/*tooltip s*/
.tooltips{padding:10px;position:absolute;border:1px solid #FFC47F;}
.tooltips .arrow,
.tooltips .arrow:before{position:absolute;width:0;height:0;border-width:6px;border-style:solid;}
/*arrow top*/
.tooltips-top .arrow{top:-12px;left:50%;margin-left:-3px;border-color:transparent transparent #FFC47F;}
.tooltips-top .arrow:before{content:"";top:-5px;left:-6px;border-color:transparent transparent #fff;}
/*arrow right*/
.tooltips-right .arrow{right:-12px;top:50%;margin-top:-3px;border-color:transparent transparent transparent #FFC47F;}
.tooltips-right .arrow:before{content:"";top:-6px;right:-5px;border-color:transparent transparent transparent #fff;}
/*arrow bottom*/
.tooltips-bottom .arrow{bottom:-12px;left:50%;margin-left:-3px;border-color:#FFC47F transparent transparent;}
.tooltips-bottom .arrow:before{content:"";top:-7px;left:-6px;border-color:#fff transparent transparent;}
/*arrow left*/
.tooltips-left .arrow{left:-12px;top:50%;margin-top:-3px;border-color:transparent #FFC47F transparent transparent;}
.tooltips-left .arrow:before{left:-5px;top:-6px;content:"";border-color:transparent #fff transparent transparent;}
/*tooltip e

/*progress bar s*/
.progress-bar-out,
.progress-bar-out-right,
.progress-bar-in,
.progress-1 .progress-point{background-image: url(../../images/center/progress-bar.png);background-repeat: no-repeat;}
.progress-1{height:20px;background-position:0 0;padding-left:8px;}
.progress-bar-out-right{height:20px;padding-right:6px;background-position: right 0;background-color: #fff}
.progress-1 .progress-bar-in{height:20px;}
.progress-1 .progress-bar-in{background-position:left -26px;padding-left:5px;}
.progress-1 .progress-point{float:right;width:22px;height:22px;background-position:0 -56px;margin-right:-2px;}
.progress-2{height:39px;background-position: 0 -103px;}
.progress-2 .progress-bar-in{height:23px;background-position: 0 -160px;}
/*progress bar e*/

/*select s*/
.select{position: relative;}
.select dt{height:20px;line-height:20px;cursor:pointer;color:#333;position: relative;border:1px solid #bbb;position: relative;z-index: 1}
.select dd{display:none;position:absolute;width:100%;top:20px;background-color: #fff;border-bottom: 1px solid #bbb;}
.select dd a{display: block;height:22px;line-height:22px;color:#999;border-right:1px solid #bbb;border-left:1px solid #bbb;}
.select dt,
.select dd a{text-indent: 1em;}
.select .cur{color:#eb7e00;}
.select .arrow{position: absolute;right:4px;top:7px; z-index: 1; width: 0; height: 0;border: 5px dashed transparent;border-bottom-width:0; border-top: 5px solid #A6A6A6; background: transparent; font-size: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;	
}
.open .arrow{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
/*select e*/