/*
	des:安全设置;
	date:2013-10-12;
 */
.icon-miling,
.icon-email,
.icon-mobile{width:38px;height:38px;vertical-align:middle;}
.icon-miling{background-position:0 -200px;}
.icon-email{background-position:-50px -200px;}
.icon-mobile{background-position:-100px -200px;}
.icon-success{width:38px;height:38px;background-position:0 -400px;vertical-align: middle;}
.setting-box{height:426px;}
.setting-box .step-title{height:80px;}
.setting-box .step-title .step-brand{height:77px;width:195px;border-top:3px solid #eb7e00;background: url(../../images/center/icon.png) no-repeat 38px -282px;_background: url(../../images/center/icon8.png) no-repeat 38px -282px;}
.setting-box .step-title .step-name{margin: 36px 0 0 24px;font-family: \5FAE\8F6F\96C5\9ED1}
.setting-box .step-title .step-name strong{margin-left:12px;}
.form-set-pwd{margin:50px 0 0 60px;}

/*----step s----*/
.setting-step{margin: 70px auto 50px;width:900px;}
.step-bar li{width:300px;height:39px;line-height: 39px;text-align:center;float:left;background-image:url(../../images/center/progress-bar.png);_background-image:url(../../images/center/progress-bar8.png);background-repeat:no-repeat;background-position:0 -200px;background-color: #DEDEDE;color:#646464;font-size:14px;font-weight:700;}
.step-bar .step-bar__first{background-image: none;}
.step-bar .step-bar--cur{background-position:0 -300px;background-color: #eb7e00;color:#fff;}
.step-bar .step-bar--cur--prev{background-image:url(../../images/center/progress-bar.png);_background-image:url(../../images/center/progress-bar8.png);background-position:0 -250px;}
.step-content{padding-left:90px;}
.form-step .item{padding-left: 100px;margin-bottom: 20px;}
.form-step .item label{margin-left:-100px;float:left;text-align: right;width:100px;height:30px;line-height:30px;}
.step-content__success{text-align: center;}
.step-content__success .icon{margin-right:10px;}
.step-tips{margin:8px 0 0 68px;color:#666;}
.email-tips{line-height: 26px;}
.email-tips dt{color:#666;}
.email-tips dd{color:#999;}
.pwd-power{margin-top: 10px;vertical-align:middle;height:15px;width:196px;background-image:url(../../images/center/progress-bar.png);_background-image:url(../../images/center/progress-bar8.png);background-repeat:no-repeat;}
.pwd-weak{background-position: 0 -350px;}
.pwd-middle{background-position: 0 -396px;}
.pwd-strong{background-position: 0 -444px;}
.mobile-step li{width:432px;}
/*----step e----*/