body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
html{overflow-y:scroll;}
body{font: 12px/1.5 tahoma,arial,\5b8b\4f53;}
*html{background:url(*) fixed;}
*html body{height:100%;}
a{color:#333;}
a:hover{color:#333;text-decoration:none;}
img{vertical-align:top;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.wraper{position:relative;width:980px; margin:0 auto;}
/*bg*/
.go-url a, .download h2, .download a, .up{background:url(../../images/gowanmei/gwm/bg_icon.png) no-repeat;}
.top{height:77px;min-width:980px;background:#f7f7f7;
	-webkit-box-shadow:0 -9px 9px rgba(0, 0, 0, 0.13) inset;
	-moz-box-shadow:0 -9px 9px rgba(0, 0, 0, 0.13) inset;
	-ms-box-shadow:0 -9px 9px rgba(0, 0, 0, 0.13) inset;
	-o-box-shadow:0 -9px 9px rgba(0, 0, 0, 0.13) inset;
	box-shadow:0 -9px 9px rgba(0, 0, 0, 0.13) inset;
}
.logo{padding-top:16px;}
.go-url{padding-top:12px;}
.go-url a{display:inline-block;width:148px;height:50px;line-height:50px;text-align:center;color:#666;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;}
.banner{min-width:980px;height:701px;background:#df3c3f url(../../images/gowanmei/gwm/bg_banner.jpg) no-repeat center top;
	-webkit-box-shadow:0 9px 9px rgba(0, 0, 0, 0.2) inset, 0 -4px 4px rgba(0, 0, 0, 0.05) inset;
	-moz-box-shadow:0 9px 9px rgba(0, 0, 0, 0.2) inset, 0 -4px 4px rgba(0, 0, 0, 0.05) inset;
	-ms-box-shadow:0 9px 9px rgba(0, 0, 0, 0.2) inset, 0 -4px 4px rgba(0, 0, 0, 0.05) inset;
	-o-box-shadow:0 9px 9px rgba(0, 0, 0, 0.2) inset, 0 -4px 4px rgba(0, 0, 0, 0.05) inset;
	box-shadow:0 9px 9px rgba(0, 0, 0, 0.2) inset, 0 -4px 4px rgba(0, 0, 0, 0.05) inset;
}
.banner .wraper{height:701px;}
.banner span{position:absolute;display:inline-block;opacity:0;}
.banner .dialog1{left:12px;top:185px;width:166px;height:170px;background:url(../../images/gowanmei/gwm/dialog1.png) no-repeat;
	-webkit-transition:opacity 1.5s ease 2s;
	-moz-transition:opacity 1.5s ease 2s;
	transition:opacity 1.5s ease 2s;
}
.banner .dialog2{left:790px;top:219px;width:161px;height:166px;background:url(../../images/gowanmei/gwm/dialog2.png) no-repeat;
	-webkit-transition:opacity 1.5s ease 0.5s;
	-moz-transition:opacity 1.5s ease 0.5s;
	transition:opacity 1.5s ease 0.5s;
}
.animate span{opacity:1;}
.animate .dialog1{
	-webkit-transform-origin:100% 100%;
	-moz-transform-origin:100% 100%;
	transform-origin:100% 100%;
	-webkit-animation:dialog1 1.5s ease 2s;
	-moz-animation:dialog1 1.5s ease 2s;
	animation:dialog1 1.5s ease 2s;
}
.animate .dialog2{
	-webkit-transform-origin:0 100%;
	-moz-transform-origin:0 100%;
	-ms-transform-origin:0 100%;
	-o-transform-origin:0 100%;
	transform-origin:0 100%;
	-webkit-animation:dialog2 1.5s ease 0.5s;
	-moz-animation:dialog2 1.5s ease 0.5s;
	animation:dialog2 1.5s ease 0.5s;
}
@-webkit-keyframes dialog1{
	0%{
		-webkit-transform:rotate(-30deg) scale(0);
	}
	100%{
		-webkit-transform:rotate(0) scale(1);
	}
}
@-moz-keyframes dialog1{
	0%{
		-moz-transform:rotate(-30deg) scale(0);
	}
	100%{
		-moz-transform:rotate(0) scale(1);
	}
}
@keyframes dialog1{
	0%{
		transform:rotate(-30deg) scale(0);
	}
	100%{
		transform:rotate(0) scale(1);
	}
}
@-webkit-keyframes dialog2{
	0%{
		-webkit-transform:rotate(30deg) scale(0);
	}
	100%{
		-webkit-transform:rotate(0) scale(1);
	}
}
@-moz-keyframes dialog2{
	0%{
		-moz-transform:rotate(30deg) scale(0);
	}
	100%{
		-moz-transform:rotate(0) scale(1);
	}
}
@keyframes dialog2{
	0%{
		transform:rotate(30deg) scale(0);
	}
	100%{
		transform:rotate(0) scale(1);
	}
}
.download{min-width:980px;height:212px;background:url(../../images/gowanmei/gwm/bg_download.png) repeat-x;font-family:\5FAE\8F6F\96C5\9ED1;}
.download .fl{width:489px;height:212px;border-right:1px dashed #cacaca;}
.download .fr{width:490px;}
.download dl{position:relative;padding:39px 0 0 40px;}
.download dt{float:left;width:118px;}
.download dd{float:left;width:268px;padding-left:22px;}
.download img{display:block;
	-moz-box-shadow:0 -3px 7px rgba(0, 0, 0, 0.2);
	box-shadow:0 -3px 7px rgba(0, 0, 0, 0.2);
}
.download h2{padding-bottom:10px;line-height:30px;font-size:28px;font-weight:bold;background-position:223px -55px;}
.download p{line-height:20px;}
.download a{display:inline-block;width:122px;height:41px;line-height:41px;padding-left:88px;margin-top:12px;color:#fff;font-size:20px;}
.download .android{background-position:-76px -152px;background-color:#1b77de;}
.download .android:hover{background-color:#005fc9;}
.download .iphone{background-position:-76px -197px;background-color:#ff4258;}
.download .iphone:hover{background-color:#de3033;}
.fun{height:892px;background:#e3e6ea;
	-webkit-box-shadow:0 6px 6px rgba(0, 0, 0, 0.05) inset;
	-moz-box-shadow:0 6px 6px rgba(0, 0, 0, 0.05) inset;
	-ms-box-shadow:0 6px 6px rgba(0, 0, 0, 0.05) inset;
	-o-box-shadow:0 6px 6px rgba(0, 0, 0, 0.05) inset;
	box-shadow:0 6px 6px rgba(0, 0, 0, 0.05) inset;
}
.fun .wraper{height:892px;}
.pos, .up{position:absolute;}
.up{left:442px;bottom:0;display:inline-block;width:100px;height:42px;}
.up1{background-position:0 -103px;}
.up2{background-position:-46px -53px;}
.pos1-1{left:33px;top:421px;width:336px;height:288px;background:url(../../images/gowanmei/gwm/pos1-1.png) no-repeat;}
.pos1-2{left:384px;top:364px;width:49px;height:166px;background:url(../../images/gowanmei/gwm/pos1-2.png) no-repeat;}
.pos1-3{left:30px;top:299px;width:348px;height:92px;background:url(../../images/gowanmei/gwm/pos1-3.png) no-repeat;}
.pos1-4{left:396px;top:571px;width:205px;height:93px;background:url(../../images/gowanmei/gwm/pos1-4.png) no-repeat;}
.pos2-1{right:59px;top:177px;width:226px;height:475px;background:url(../../images/gowanmei/gwm/pos2-1.png) no-repeat;}
.pos2-2{right:117px;top:127px;width:216px;height:59px;background:url(../../images/gowanmei/gwm/pos2-2.png) no-repeat;}
.pos2-3{right:321px;top:161px;width:188px;height:196px;background:url(../../images/gowanmei/gwm/pos2-3.png) no-repeat;}
.pos2-4{left:201px;top:77px;width:467px;height:137px;background:url(../../images/gowanmei/gwm/pos2-4.png) no-repeat;}
.pos3-1{left:317px;top:292px;width:226px;height:475px;background:url(../../images/gowanmei/gwm/pos3-1.png) no-repeat;}
.pos3-2{left:182px;top:502px;width:127px;height:95px;background:url(../../images/gowanmei/gwm/pos3-2.png) no-repeat;}
.pos3-3{left:50px;top:431px;width:220px;height:59px;background:url(../../images/gowanmei/gwm/pos3-3.png) no-repeat;}
.pos3-4{left:435px;top:225px;width:202px;height:60px;background:url(../../images/gowanmei/gwm/pos3-4.png) no-repeat;}
.pos3-5{left:581px;top:273px;width:332px;height:340px;background:url(../../images/gowanmei/gwm/pos3-5.png) no-repeat;}
.pos3-6{left:308px;top:93px;width:363px;height:93px;background:url(../../images/gowanmei/gwm/pos3-6.png) no-repeat;}
.pos1-2, .pos2-2, .pos3-2, .pos3-4{
	-webkit-transition:opacity 1s ease;
	-moz-transition:opacity 1s ease;
	transition:opacity 1s ease;
}
.pos1-3, .pos2-3, .pos3-3, .pos3-5, .pos1-4, .pos2-4{
	-webkit-transition:opacity 1s ease 1s;
	-moz-transition:opacity 1s ease 1s;
	transition:opacity 1s ease 1s;
}
.pos1-2, .pos1-3, .pos1-4, .pos2-2, .pos2-3, .pos2-4, .pos3-2, .pos3-3, .pos3-4, .pos3-5{opacity:0;}
.animate .pos1-2, .animate .pos1-3, .animate .pos1-4, .animate .pos2-2, .animate .pos2-3, .animate .pos2-4, .animate .pos3-2, .animate .pos3-3, .animate .pos3-4, .animate .pos3-5{opacity:1;}
.search{height:958px;background:#ff4258;}
.search .wraper{height:958px;}
/* footer */
.footer{background:#f7f7f7;border-top:1px solid #e6e6e6;text-align:center;padding:10px;line-height:25px;} 
.footer-copyright{color:#999;}