body {

}
.theme-dropdown .dropdown-menu {
    display: block;
    margin-bottom: 20px;
    position: static;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}


.f-yh,h1,h2,h3 { font-family:\5FAE\8F6F\96C5\9ED1; }

span.sp { padding:0 10px; color:#999;}

.bs-footer { text-align: center;}

.ln30 { line-height: 30px;}


.panel-void,.panel-code { padding: 10px; background: #f0f7fd; border-left:5px solid #d0e3f0; line-height: 24px; margin-bottom: 20px;}
.panel-code {  background: #fefbed; border-left:5px solid #f1e7bc; }


.syntaxhighlighter { overflow: auto;  background: #efefef;}

.syntaxhighlighter .toolbar { display: none !important;}

.code-example { border:1px solid #ccc; padding:7px; margin-bottom: 20px; margin-top: 10px;}
.code-example iframe { width:100%; height:400px; overflow: auto;}

a.list-group-item.cur { background: #f5f5f5;}

.code-data { display: none;}