<div class="navbar navbar-inverse ">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand f-yh">B5M.WEB前端开发标准-公共javascript模块</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li <% if(page==='util'){ %> class="active"  <% } %>><a href="/">Util Module API</a></li>
                <li <% if(page==='ui'){ %> class="active"  <% } %>><a href="/ui">UI Module API</a></li>
                <li <% if(page==='export'){ %> class="active"  <% } %>><a href="/export">Module Export</a></li>
            </ul>
        </div>
    </div>
</div>