<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>B5M.WEB前端开发标准-公共javascript模块</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="/static/css/theme.css"/>
  </head>
  <body>


  <%- include header.ejs %>


  <div class="container">

      <div class="row">
          <div class="col-md-3">


              <div class="list-group">
                  <a href="javascript:void(0)" class="list-group-item active">
                     工具类模块
                  </a>
                  <% utils.forEach(function(n,i) { %>
                  <a href="#link-<%=n.id%>" class="list-group-item" id="utils-<%=n.id%>"><%=n.id%></a></b>
                  <% }); %>
              </div>

          </div>
          <div class="col-md-9">


              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h3 class="panel-title">工具类模块</h3>
                  </div>
                  <div class="panel-body">
                      <div class="ln30">
                      <% utils.forEach(function(n,i) { %>
                      <a href="#link-<%=n.id%>" id="utils-<%=n.id%>"><%=n.description%></a></b>
                      <% if(i!=utils.length-1) { %><span class="sp">|</span><% } %>
                      <% }); %>
                      </div>
                  </div>
              </div>


              <% utils.forEach(function(n,i) { %>
              <div class="panel panel-default">
                  <a name="link-<%=n.id%>"></a>
                  <div class="panel-heading">
                      <%=n.description%> (<%=n.id%>)
                  </div>
                  <div class="panel-body">
                      <p><strong>命名空间:</strong> <%=n.namespace%> </p>
                      <p><strong>返回类型:</strong> <%=n.return%> </p>

                      <p><strong>使用语法：</strong></p>
                      <div class="panel-void">
                          <%=n.void%>
                      </div>

                      <p><strong>测试代码：</strong></p>
                      <div class="panel-code">
                       <%-n.code%>
                      </div>

                  </div>
              </div>
              <% }); %>

          </div>
      </div>

   </div>


  <%- include footer.ejs %>

    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

</body>
</html>