<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>B5M.WEB前端开发标准-公共javascript模块</title>

        <link  type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <link  type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>
        <link type="text/css" rel="stylesheet" href="/static/plugins/syntaxhighlighter/styles/shCoreDefault.css"/>
        <link type="text/css" rel="stylesheet" href="/static/css/theme.css"/>

  </head>
  <body>


  <%- include header.ejs %>

  <div class="container">

      <div class="row">

          <div class="col-md-3">

              <div class="list-group">
                  <a href="javascript:void(0)" class="list-group-item active">
                      UI类模块
                  </a>
                  <% ui.forEach(function(n,i) { %>
                  <a data-tag="<%=n.id%>" href="/ui?mod=<%=n.id%>" class="list-group-item" id="utils-<%=n.id%>"><%=n.id%></a></b>
                  <% }); %>
              </div>

            </div>


          <div class="col-md-9">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title"><strong>[ <%=mod.id%> ]</strong> <%=mod.description%></h3>
                  </div>
                  <div class="panel-body">
                      <p><strong>命名空间:</strong> <%=mod.namespace%> </p>
                      <p><strong>返回类型:</strong> <%=mod.return%> </p>

                      <p><strong>使用语法：</strong></p>
                      <div class="panel-void">
                          <%=mod.void%>
                      </div>

                      <p><strong>参数：</strong></p>
                      <div class="panel-code">
                          <% mod.params.forEach(function(n,i) { %>
                          <p><strong><%=(i+1)%>.</strong> <%= n.replace('* @param ','') %></p>
                          <% }); %>
                      </div>

                      <p><strong>Example：</strong></p>

                      <div class="btn-group">
                          <button type="button" class="btn-example btn btn-default dropdown-toggle" data-toggle="dropdown"><%= demos[0].title  %><span class="caret"></span></button>
                          <ul class="menu-example dropdown-menu" role="menu">
                              <% demos.forEach(function(n,i) { %>
                              <li data-index="<%= i %>" data-target="/modules/ui/<%=mod.id%>/demo/<%= demos[i].url %>"><a href="javascript:void(0)"><%= demos[i].title  %></a></li>
                              <% });  %>
                          </ul>

                      </div>

                      <div class="code-example">
                           <iframe src="/modules/ui/<%=mod.id%>/demo/<%= demos[0].url %>" frameborder="0"></iframe>
                      </div>

                      <p><strong>源码：</strong></p>

                      <div class="code-container"></div>

                      <% demos.forEach(function(n,i) { %>
                      <div class="code-data">
                          <pre class="brush:xml"><%= demos[i].codes %></pre>
                      </div>
                      <% });  %>

                  </div>
              </div>
          </div>
      </div>

  </div>


  <%- include footer.ejs %>

    <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/static/plugins/syntaxhighlighter/scripts/shCore.js"></script>
  <script type="text/javascript" src="/static/plugins/syntaxhighlighter/scripts/shBrushXml.js"></script>

  <script type="text/javascript">
      $(function() {

          var codeData = $('.code-data'),
                codeContainer = $('.code-container').html(codeData.html());

          SyntaxHighlighter.all();

          $('.col-md-3 a[data-tag='+ (location.search ? /\?mod=(\S+)/.exec(location.href)[1] : $('.col-md-3').find('a').eq(1).attr('data-tag')) +']').addClass('cur');
          var iframe = $('iframe')[0],
                 btnExample = $('.btn-example');
          $('.menu-example li').click(function() {
              iframe.src = $(this).attr('data-target');
              codeContainer.html(codeData.eq($(this).attr('data-index')).html());
              btnExample[0].firstChild.nodeValue =$(this).text();
          });

      });
  </script>

</body>
</html>