@red:#db000f;
@hover:#eb7e00;
@border1:#dfdfdf;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';

.pinpai-banner { margin-bottom: 20px; padding-top: 10px;}
.pinpai-title { background: #f4f4f4; border-top:1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; border-right: 1px solid #dfdfdf;}
.pinpai-title .tit { width:91px; height: 40px; padding: 0; background: url("../../../../images/haiwai/america/pinpai/_sprite/1.png?__sprite") no-repeat; text-indent: -9999px; }
.pinpai-title li { float:left; position: relative; width:32px; height: 40px; z-index: 1; background: #f4f4f4;}
.pinpai-title li a { display: block; color:#666; width:30px;height: 40px; line-height: 40px; border-left:1px solid #f4f4f4; border-right: 1px solid #f4f4f4; text-align: center;}
.pinpai-title li a:hover { color:#666; text-decoration: none; border-left-color:#dfdfdf; border-right-color:#dfdfdf; background: #eeeded; width: 30px;}
.pinpai-title li.all { width:45px;}
.pinpai-title li.all a,.pinpai-title li.all.cur a{ width:43px;}
.pinpai-title li.cur{z-index: 0; background: #fff;}
.pinpai-title li.cur a { border:none; height:47px; width:32px; position: absolute; top:0; left:0; z-index: 2;background: none;}
.pinpai-title li.cur span{height:47px; width:50px; position: absolute; top:0; left:50%; margin-left: -25px; background: url("../../../../images/haiwai/america/pinpai/_sprite/2.png?__sprite") no-repeat; z-index: 1;}

.pinpai-content { padding:20px; border: 1px solid @border1; border-top:none; }
.pinpai-content h3 { border-bottom:1px solid @border1; margin-bottom: 20px; height: 30px; line-height: 30px; font-size:14px; font-weight: bold;}
.pinpai-content .box { margin-bottom:10px;margin-right: -20px;}
.pinpai-content .box div{ margin-bottom: 10px; float:left; margin-right: 19px; width: 172px;}
.pinpai-content .box div.last { margin-right: 0; }
.pinpai-content .box img { border:1px solid @border1;}
.pinpai-content .box span { display: block; height:42px; padding-top: 6px; text-align: center; }