
  <!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>内容编辑</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="#" method="get" class="form-horizontal">
              <div class="control-group">
                <label class="control-label">网站名称：</label>
                <div class="controls">
                  <input type="text" class="span11"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">标准字段名：</label>
                <div class="controls">
                  <input type="text" class="span11"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">字段名称：</label>
                <div class="controls">
                  <input type="password"  class="span11"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">标准词：</label>
                <div class="controls">
                  <input type="text" class="span11"/>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-success">保存</button>
                <button type="submit" class="btn btn-warning">取消</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>  
  </div>
<!--End-Action boxes-->    
