html,
body {
  height: 100%;
}
.pub-top {
  height: 90px;
  padding-top: 15px;
}
.pub-main {
  background: #f5f5f5 url("/static/images/zdm/shanghu/_sprite/pic-01.png") repeat-x;
  padding-bottom: 34px;
}
.pub-main .title {
  line-height: 50px;
  height: 50px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
}
.pub-main .title p {
  float: right;
  color: #999999;
  font-size: 14px;
}
.pub-main .title strong {
  font-size: 22px;
}
.pub-main .main {
  background: #fff;
  border: 1px #e7e7e7 solid;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px #e7e7e7;
}
.pub-cont {
  padding: 20px;
}
.pub-cont h3 {
  font-size: 20px;
  border-bottom: 2px #a3a3a3 solid;
  padding-bottom: 8px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
}
.pub-cont .text-srk {
  border: 1px #dcdcdc solid;
  line-height: 24px;
  padding: 2px;
  height: 24px;
  box-shadow: 1px 1px 2px #e7e7e7 inset;
  width: 260px;
  float: left;
  _display: inline;
}
.pub-cont ul {
  padding: 20px 0;
}
.pub-cont li {
  padding-left: 214px;
  overflow: hidden;
  zoom: 1;
  margin-top: 20px;
}
.pub-cont li label {
  width: 100px;
  float: left;
  margin-left: -100px;
  text-align: right;
  line-height: 30px;
  color: #666666;
}
.pub-cont li span {
  color: #666666;
  float: left;
  line-height: 30px;
}
.pub-cont .price {
  width: 80px;
  margin-right: 20px;
}
.pub-cont .link {
  width: 500px;
}
.pub-cont .textarea {
  width: 500px;
  height: 150px;
  box-shadow: 1px 1px 2px #e7e7e7 inset;
  border: 1px #dcdcdc solid;
  line-height: 20px;
  padding: 5px;
}
.pub-cont .btn {
  width: 78px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  border: none;
  background: #eb7e00;
  color: #fff;
  font-size: 14px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
  cursor: pointer;
}
.add-btn a {
  width: 150px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #e15900;
  border-radius: 8px;
  font-size: 18px;
  font-family: '\5FAE\8F6F\96C5\9ED1';
}
.pic-table {
  width: 100%;
  margin-top: 20px;
}
.pic-table th {
  padding-left: 10px;
  background: #f5f5f5;
  height: 30px;
  line-height: 31px;
  border-bottom: 1px #d1d1d1 dotted;
  color: #999999;
}
.pic-table td {
  padding: 10px 0 10px 10px;
}
.pic-table td .img {
  width: 98px;
  height: 98px;
  border: 1px #ddd solid;
}
.pic-table .text {
  color: #999999;
}
.pic-table td a {
  color: #0099cc;
}
.pic-table .even td {
  background: #f5f5f5;
  border-top: 1px #e4e4e4 solid;
}
