/*全网寻宝 */
#huodong-quanwangXb,.huodong-quanwangXb-bg{width:600px;height:300px;}
#huodong-quanwangXb{position:absolute;left:50%;z-index:99;margin-left:-125px;height:0;overflow:hidden;}
.huodong-quanwangXb-bg{position:absolute;left:0;bottom:0;z-index:1;background:url(../../../images/huodong/www/active_indexxubao.png) no-repeat;
    _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/huodong/www/active_indexxubao.png");
}
#huodong-quanwangXb a{position:absolute;top:171px;left:146px;z-index:2;width:142px;height:47px;}
#huodong-quanwangXb s{position:absolute;top:40px;right:50px;z-index:2;width:40px;height:40px;cursor:pointer}