/*
	exchange center
*/
*html{background:url(*) fixed;}
*html body{height:100%;}
.search-icon {float:left;width:200px;height:47px;background: url("../../images/search/gotosearch.png") no-repeat scroll 0 14px rgba(0, 0, 0, 0);}
.fl{float:left;}
.fr{float:right;}
.fb{font-weight:bold;}
.c-yellow{color:#F58300;}
.c-grey{color:#666;}
.c-red{color:#f00;}
.header-content{height:47px;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
/* exchange-list */
.exchange-list .ex-btn{background:url(../../images/exchange/bg_exchange.png) no-repeat;}
.exchange{padding:20px 0 40px;}
.exchange-list-wrap{width:744px;border:1px solid #DFDFDF;}
.exchange-list{width:708px;overflow:hidden;}
.exchange-side{width:216px;}
.exchange-list ul{width:726px;overflow:hidden;zoom:1;}
.exchange-list li{float:left;width:224px;padding:0 18px 25px 0;line-height:24px;}
.exchange-list li a{display:block;color:#333;}
.exchange-list li p{display:block;color:#999;}
.exchange-list .ex-pic{height:159px;padding:5px;border:1px solid #dfdfdf;margin-bottom:10px;text-align:center;}
.exchange-list .ex-link,.exchange-list .ex-btn, .exchange-list p{margin:0 11px;}
.exchange-list .ex-link{width:202px;height:24px;overflow:hidden;cursor:default;}
/*.exchange-list .ex-link:hover{color:#EB7E00;}*/
.exchange-list .ex-btn{width:79px;height:28px;line-height:26px;margin-top:10px;text-align:center;background-position:0 0;}
.exchange-list .ex-btn:hover{color:#333;background-position:-81px 0;}
.exchange-filter dl{position:relative;border-bottom:1px solid #DFDFDF;padding:0 18px;}
.exchange-filter dt, .exchange-filter dd{padding:5px 0;}
.exchange-filter dt, .exchange-filter dd, .exchange-filter strong, .exchange-filter ul{float:left;}
.exchange-filter dt{width:48px;}
.exchange-filter dd{width:660px;}
.exchange-filter em{display:inline-block;font-weight:bold;line-height:18px;padding:3px 0;}
.exchange-filter a{display:inline-block;height:18px;color:#656565;line-height:18px;}
.exchange-filter a:hover{color:#EB7E00;}
.exchange-filter strong{width:40px;padding:3px 0;}
.exchange-filter ul{width:567px;height:auto;overflow:visible;}
.exchange-filter ul.hide{height:24px;overflow:hidden;}
.exchange-filter li{float:left;width:63px;padding:3px 0;}
.exchange-filter li a.current, .exchange-filter strong a.current{color:#EB7E00;}
.exchange-filter a.more{position:absolute;top:8px;right:10px;margin:0;cursor:pointer;padding-right:12px;background:url(../../images/search/s_icon.png) no-repeat right -15px;}
.exchange-filter a.open{background-position:right -120px;}
.exchange-filter-cont{padding:18px 18px 30px;}
.exchange-filter .exchange-submenu{display:none;width:567px;margin:5px 0 5px 40px;float:left;border:1px solid #DFDFDF;padding:5px 10px;background-color:#F6F6F6;}
.exchange-filter .exchange-submenu li{width:auto;margin-right:15px;}
/* exchange-side */
.ex-border{margin-bottom:20px;border:1px solid #DFDFDF;}
.ex-border h2{height:41px;border-bottom:2px solid #f7f7f7;}
.ex-border h2 span{position:relative;display:inline-block;height:41px;line-height:41px;padding:0 10px 0 14px;border-bottom:2px solid #ff9c0f;margin-bottom:-2px;color:#333;font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1;font-weight:bold;}
.ex-live-inner{padding:10px 20px;height:350px;overflow:hidden;}
.ex-live-list{height:350px;overflow:hidden;}
.ex-live-list li{padding:10px 0;overflow:hidden;zoom:1;font-size:14px;}
.ex-live-list li .ex-live-pic{float:left;width:50px;}
.ex-live-list li p{margin-left:50px;padding-left:14px;height:24px;line-height:24px;overflow:hidden;color:#999;}
.ex-live-list li em{color:#666;}
.ex-raffle{padding:17px 8px 9px;}
.ex-raffle p{margin-left:5px;line-height:18px;color:#656565;}
.ex-raffle a{display:block;margin:8px 0 15px;}
/* exchange-detail */
.exchange-detail{width:678px;}
.ex-detail-item{padding:20px 40px 20px 20px;border:1px solid #d6d6d6;border-top-color:#bebebe;}
.ex-detail-item .fl{width:302px;}
.ex-detail-item .fr{width:275px;}
.ex-detail-pic{height:234px;text-align:center;border:1px solid #d8d8d8;-webkit-border-radius:1px;-moz-border-radius:1px;-ms-border-radius:1px;-o-border-radius:1px;border-radius:1px;}
.ex-detail-pic img, .ex-detail-pic span{display:inline-block;vertical-align:middle;}
.ex-detail-pic span{height:100%;}
.ex-detail-num{margin-top:10px;}
.ex-detail-num a{float:left;width:52px;height:52px;border:2px solid #D6D6D6;margin-right:10px;}
.ex-detail-num a img{opacity:0.5;filter:alpha(opacity=50);}
.ex-detail-num a:hover{border-color:#ed8a18;}
.ex-detail-num a:hover img{opacity:1;filter:alpha(opacity=1);}
.ex-detail-info{color:#999;}
.ex-detail-info h2{margin-bottom:14px;padding:2px 0 10px;color:#333;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;font-weight:bold;border-bottom:1px solid #d6d6d6;}
.ex-detail-des{line-height:24px;color:#999;}
.ex-detail-info-btn{margin:25px 0 35px;}
.ex-detail-info-btn a,.ex-use .use{display:inline-block;width:124px;height:34px;line-height:34px;border:1px solid #ff8400;color:#fff;text-align:center;font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1;background:#f90;}
.ex-detail-info-btn a:hover,.ex-use .use:hover{border-color:#cd6e00;color:#fff;background:#eb7e00;}
.ex-detail-more{line-height:24px;}
.ex-detail-more a{color:#eb7e00;}
.ex-detail-more a:hover{color:#eb7e00;text-decoration:underline;}
.ex-detail-para{margin-top:20px;border:1px solid #d6d6d6;padding:15px 20px 80px;}
.ex-detail-para h3{color:#333;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;}
.ex-detail-para p{margin-top:24px;line-height:24px;text-indent:2em;color:#656565;font-size:14px;}
.ex-detail-tips{margin-top:10px;color:#F58300;}
/* exchange-ad */
.exchange-ad{width:282px;}
.ex-ad{border:1px solid #d6d6d6;margin-bottom:20px;}
.ex-ad-m1{border-top-color:#bebebe;padding:15px;}
.ex-ad-m2{padding:20px;}
/* popup-exchange */
.popup{-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);-ms-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);-o-box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);box-shadow:0 5px 10px rgba(0, 0, 0, 0.3);}
.popup-exchange .ex-detail-item{border:0 none;padding-right:29px;}
.popup-exchange .fl{width:236px;}
.popup-exchange .fl a{height:234px;}
.popup-exchange .fr{width:355px;}
.popup-exchange .ex-detail-des{margin-top:8px;}
.exchange-title{height:62px;line-height:62px;padding:0 22px;border-bottom:3px solid #ccc;color:#656565;font-size:18px;font-weight:bold;font-family:\5FAE\8F6F\96C5\9ED1;background:#f5f5f5;}
.exchange-tips{padding:10px 15px;background:#ebebeb;color:#666;line-height:20px;}
.exchange-tips h6{color:#999;}
.ex-detail-txt p{height:63px;padding-top:5px;overflow:hidden;zoom:1;}
.ex-detail-txt label{float:left;text-align:right;line-height:30px;}
.ex-detail-txt label.w167{width:167px;}
.ex-detail-txt label.w80{width:80px;}
.ex-detail-txt input{float:left;width:159px;height:20px;line-height:20px;padding:4px;border:1px solid #DCDCDC;-webkit-box-shadow:0 0 2px 3px #F6F6F6 inset;-moz-box-shadow:0 0 2px 3px #F6F6F6 inset;-ms-box-shadow:0 0 2px 3px #F6F6F6 inset;-o-box-shadow:0 0 2px 3px #F6F6F6 inset;box-shadow:0 0 2px 3px #F6F6F6 inset;}
.ex-detail-txt span{display:block;clear:both;width:169px;padding:2px 0 0 167px;}
.ex-detail-txt h6{margin-bottom:8px;}
.ex-detail-txt1 p{height:53px;}
.ex-detail-txt1 span{padding-left:80px;}
.popup-exchange .ex-detail-info-btn{margin:15px 0 0;text-align:center;}
.ex-warn{padding-top:200px;line-height:26px;background:url(../../images/exchange/bg_warn.jpg) no-repeat 83px 4px;text-align:center;}
.ex-warn strong{color:#CB0000;font-size:16px;font-weight:bold;font-family:\5FAE\8F6F\96C5\9ED1;}
.ex-warn a, .ex-warn a:hover{color:#EB7E00;}
.ex-warn a:hover{text-decoration:underline;}
.ex-success{padding:30px 0 30px 34px;}
.ex-success-icon{float:left;width:49px;height:41px;margin-top:15px;}
.ex-success h3, .ex-success p{margin-left:78px;}
.ex-success h3{margin-bottom:10px;color:#333;font-size:18px;font-weight:bold;font-family:\5FAE\8F6F\96C5\9ED1;}
.ex-success p{line-height:20px;color:#666;}
.ex-use{line-height:36px;margin-top:15px;}
.ex-use .use{width:106px;margin-right:15px;}
.ex-use .ex-enter{color:#347ab5;}
.ex-use .ex-enter:hover{color:#347ab5;text-decoration:underline;}
.coupons{display:inline-block;width:212px;height:119px;padding-top:40px;overflow:hidden;}
.coupons p{text-align:center;}
.coupons p.ex-cc{height:40px;line-height:40px;margin-bottom:5px;}
.coupons p span,.coupons p img{display:inline-block;vertical-align:middle;}
.coupons p span{font-size:24px;font-family:\5FAE\8F6F\96C5\9ED1;font-weight:400;}
.coupons .c1{color:#E30101;}
.coupons .c2{color:#F85B00;}
.coupons-all{background:url(../../images/exchange/bg_all.png) no-repeat;}
.coupons-fixed{background:url(../../images/exchange/bg_fixed.png) no-repeat;}
.coupons-discount{background:url(../../images/exchange/bg_discount.png) no-repeat;}
.ex-detail-pic .coupons{margin-top:38px;}
/* popup-mask */
.popup-mask{position:fixed;_position:absolute;top:0;left:0;z-index:999;width:100%;height:100%;opacity:0.4;filter:alpha(opacity=40);background:#000;}
/* .popup-dalog */
.popup-close, .popup-success,.popup-close-mini{background:url(../../images/exchange/popup/icon_popup.png) no-repeat;}
.popup{position:absolute;z-index:1000;border:1px solid #ccc;background:#fff;}
.popup-close{position:absolute;top:18px;right:20px;display:inline-block;width:29px;height:29px;overflow:hidden;font-size:0;line-height:0;color:rgba(0,0,0,0);background-position:0 0;}
.popup-close:hover{background-position:-74px 0;}
.popup-close-mini{position:absolute;top:7px;right:7px;display:inline-block;width:12px;height:12px;background-position:-118px 0;overflow:hidden;font-size:0;line-height:0;}
.popup-close-mini:hover{background-position: -132px 0;}
.popup-success{width:49px;height:41px;background-position:0 -40px;}
.popup-share-tips{height:80px;line-height: 80px;text-align: center;font-size:14px;}
/* share */
.J_share{margin:20px 0 0 78px;line-height: 24px;overflow: hidden;zoom:1;}
.J_share span{margin-right:5px;cursor: pointer;float: left;}

.popwindow-share{position:fixed;_position:absolute;top:50%;left:50%;z-index:1000;width:526px;/*height:350px;*/margin-left:-280px;padding:48px 17px 25px;border:1px solid #b7b1aa;background:#fff;line-height:14px;zoom:1;
    -webkit-box-shadow:0 0 6px #D4D4D4;-moz-box-shadow:0 0 6px #D4D4D4;box-shadow:0 0 6px #D4D4D4;
}
.popwindow-share-close{position:absolute;top:6px;right:6px;width:29px;height:29px;background-image:url(../../images/common/popwindow-share.png);_background-image:url(../../images/common/popwindow-share_ie6.png);background-repeat:no-repeat;background-position:0 0;cursor:pointer;}
.popwindow-share-close:hover{background-position:-33px 0}
.popwindow-share-insert h3{position:relative;margin-bottom:6px;color:#333;font-weight:bold;font-size:14px;line-height:16px;zoom:1}
.popwindow-share-insert span{position:absolute;right:0;bottom:0;color:#999;font-size:12px;line-height:13px;}
.popwindow-share-insert span b{font-size:20px;line-height:21px;font-family:Arial;vertical-align:-2px;}
.popwindow-share-insert textarea{width:518px;height:80px;padding:3px;border:1px solid #d8d8d8;color:#999;resize:none;word-wrap: break-word;word-break: break-all;}
.popwindow-share-insert p{padding-top:12px;}
.popwindow-share-insert p a{margin-left:2px;color:#0869a1;word-wrap: break-word;word-break: break-all;}
.ov{overflow:hidden}
/*.popwindow-share-picbox{position:relative;width:426px;overflow:hidden;margin:0 auto;padding:0 32px;}
.popwindow-share-picbox .ov{position:relative;width:424px;height:100px;margin:0 auto;}*/
.popwindow-share-cont{width:9000px;}
.popwindow-share-cont span{display:inline;position:relative;float:left;margin:0 3px;border:1px solid #cdcdcd;cursor:pointer}
.popwindow-share-cont span s{display:none;position:absolute;right:4px;bottom:4px;width:24px;height:24px;background:url(../../images/common/popwindow-share.png) no-repeat right 0;_background:url(../../images/common/popwindow-share_ie6.png) no-repeat right 0;}
.popwindow-share-cont span img{width:98px;height:98px;}
.popwindow-share-cont span.cur{border-color:#ff8816}
.popwindow-share-cont span.cur s{display:block;width:0;height:0;font-size:0;overflow:hidden;}
.popwindow-share-cont img{display:block}
.popwindow-share-pic-next,.popwindow-share-pic-prev{position:absolute;top:0;width:22px;height:100px;background:#e4e4e4;cursor:pointer;display:none}
.popwindow-share-pic-next u,.popwindow-share-pic-prev u{position:absolute;top:50%;left:50%;width:12px;height:22px;margin:-11px 0 0 -6px;background-image:url(../../images/common/popwindow-share.png);_background-image:url(../../images/common/popwindow-share_ie6.png);}
.popwindow-share-pic-prev{left:0;}
.popwindow-share-pic-next{right:0;}
.popwindow-share-pic-next:hover{background-color:#bfbfbf}
.popwindow-share-pic-prev:hover{background-color:#bfbfbf}
.popwindow-share-pic-next u{background-position:-82px 0}
.popwindow-share-pic-prev u{background-position:-67px 0}
.popwindow-share-pic p{padding:14px 0 12px;}
.popwindow-share-pic p input{margin-right:4px;vertical-align:-2px}
.popwindow-share-btbox{margin-top:22px;padding-top:12px;border-top:1px dashed #ececec;}
.popwindow-share-btbox span{float:right;width:109px;height:27px;padding-top:9px;background-image:url(../../images/common/popwindow-share.png);_background-image:url(../../images/common/popwindow-share_ie6.png);background-position:0 -73px;color:#fff;font-size:18px;line-height:19px;font-family:Microsoft YaHei, "微软雅黑";text-align:center;cursor:pointer;}
.popwindow-share-btbox span:hover{background-position:0 -34px;}
.popwindow-share-btbox a{display: inline-block;margin-top:10px;padding-left:20px;line-height:16px;color:#0869A1;background:url(../../images/common/share_transit.png) no-repeat left center;}