*{ margin: 0; padding: 0}
body{ font-size: 12px;}
a{color:#333333; text-decoration: none;}
a:hover{color:#333333; text-decoration:underline; }
li{ list-style: none;}
img{ border: none;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.hao-wraper{ width: 933px; height: 388px; overflow: hidden; margin: 0 auto; border: 1px #b8e0ff solid ;}
.hao-wraper h2{ border-bottom: 1px #b8e0ff solid; color: #2d87cc;  background:#edf5ff url(../../images/popup/2345/chart-icon.jpg) no-repeat 15px 8px; font: normal 14px/30px "microsoft yahei"; padding-left: 36px;}
.hao-wraper .dl-items{ float: left; width: 230px; border-right: 1px #e6f4ff solid ; height: 306px; overflow: hidden; margin: 22px 0 0 16px; _display: inline;}
.hao-wraper .dl-items dt{ padding-bottom: 10px; width: 215px; }
.hao-wraper .dl-items dt img{ height: 118px; width: 215px;}
.hao-wraper .dl-items dd{ line-height: 30px; font-size: 14px; height: 30px; overflow: hidden;}
.hao-wraper .dl-items dd em{ font-family: Arial; color: #dddddd; font-size: 18px;font-style: normal; margin-right: 3px; float: left;margin-top: 2px; _display: inline;}
.hao-wraper .ul-items{ float: left; width: 668px;}
.hao-wraper .ul-items li{ width: 152px; float: left; margin:22px 0 0 15px; _display: inline; height: 144px; position: relative;}
.hao-wraper .ul-items li .pic img{width: 152px; height: 144px;}
.hao-wraper .ul-items li .tit{ line-height: 20px; height: 20px;left:0; overflow: hidden; text-align: center; display: block; position: absolute; bottom: 0; width: 100%; background: #eef6fe; color: #333333;}