*{ margin: 0; padding: 0}

html,body{overflow: hidden;}
body{ font-size: 12px;background: #fff;}
a{color:#174e45; text-decoration: none;}
a:hover{color:#174e45; text-decoration:underline; }
li{ list-style: none;}
img{ border: none; vertical-align:top;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.ten-wraper{ width:634px; height: 424px; margin: 0 auto; overflow:hidden;}
.ten-wraper .text{ width: 100%;opacity: 0.6;filter: Alpha(opacity=60); height: 20px; position: absolute; left: 0; bottom: 0; background: #000; line-height: 20px; text-align: center;}
.ten-wraper .text a{ color: #fff;}
.ali-top{ margin-bottom: 15px;}
.ali-title{ height: 40px; line-height: 40px; border-bottom: 1px #84a5ac solid; position: relative;}
.ali-title .tip{ width: 0; height: 0; overflow: hidden; border: 4px #fff solid; border-bottom: 4px #84a5ac solid; position: absolute; left: 26px; bottom: 0;}
.ali-title h2{ font-size: 14px; color: #0c3d4c; padding-left: 16px;}
.ten-l,.ten-m,.ten-r{ float: left; _display: inline; margin-left: 20px;}
.ten-l{ width: 202px; overflow: hidden;}
.ten-l .ten-l-items dt{ position: relative; height: 150px;border:1px #ddd solid;}
.ten-l .ten-l-items dt img{ width: 200px; height: 150px;}
.ten-l .ten-l-items dt em{ display: none; position: absolute; left: -1px; top: -1px; height: 22px; font-style: normal; line-height: 22px; padding: 0 7px; background: #e20803;color: #fff; border-bottom: 1px #ddd solid; border-right: 1px #ddd solid;}
.ten-l .pic-list{ width: 100%; overflow: hidden;}
.ten-l .pic-list ul{ width: 234px; position: relative; margin-top: 20px;}
.ten-l .pic-list li{ float: left; width: 94px; margin-right: 10px; position: relative; _display: inline;}
.ten-l .pic-list li img{ width: 94px; height: 102px;}
.ten-l .text-list{ margin-top: 10px; padding-bottom: 10px;}
.ten-l .text-list li{ line-height: 22px;}
.ten-l .ten-news-list{ width: 230px; position: relative; margin-top: 10px;}
.ten-l .ten-news-list li{ width: 110px; float: left; _display: inline; margin-right: 5px; line-height: 22px; height: 22px; overflow:hidden;}
.ten-m{ width: 180px;}
.ten-m dl.no-bord{ border-bottom: none;}
.ten-m dl{ border-bottom: 1px #dfdfdf dotted; padding: 12px 0;}
.ten-m dl dt{ text-align: center; font-size: 14px; font-weight: bold; margin-bottom: 10px;}
.ten-m dl dt a{color: #24443f;}
.ten-m dl dd{ line-height: 22px;}
.ten-m dl dd em{ font-style: normal;}
.ten-r .key-words{ line-height: 22px;}
.ten-r .key-words a{ padding: 0 3px;}
.ten-r{ width: 170px;}
.ten-r .ban-list{ width: 170px;}
.ten-r .ban-list dd{ width: 168px;height: 142px; position: relative; margin-bottom: 18px; border:1px #cdcccc solid; overflow: hidden; }
.ten-r .ban-list dd img{ max-width: 168px; max-height: 142px; *width: 168px; *height: 105px; *margin-top: 18px;}