*{ margin: 0; padding: 0}
body{ font-size: 12px;}
a{color:#333333; text-decoration: none;}
a:hover{color:#333333; text-decoration:underline; }
li{ list-style: none;}
img{ border: none;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.hao-wraper{ width: 998px; height: 398px; overflow: hidden; margin: 0 auto; border: 1px #cecece solid ;}
.hao-wraper h2{ border-bottom: 1px #eaeaea solid;  background: url(../../images/popup/hao123/chart-icon.jpg) no-repeat 15px 14px; font: normal 17px/42px "microsoft yahei"; padding-left: 36px;}
.hao-wraper .dl-items{ float: left; width: 235px; border-right: 1px #e5e5e5 solid ; height: 306px; overflow: hidden; margin: 22px 0 0 20px; _display: inline;}
.hao-wraper .dl-items dt{ padding-bottom: 10px; border-bottom: 1px #e5e5e5 solid ; width: 215px; margin-bottom: 20px;}
.hao-wraper .dl-items dt img{ height: 118px; width: 215px;}
.hao-wraper .dl-items dd{ line-height: 26px; font-size: 14px; height: 26px; overflow: hidden;}
.hao-wraper .dl-items dd em{ font-family: Arial; color: #dddddd; font-size: 18px;font-style: normal; margin-right: 3px; float: left;margin-top: 2px; _display: inline;}
.hao-wraper .ul-items{ float: left; width: 725px;}
.hao-wraper .ul-items li{ width: 164px; float: left; margin:22px 0 0 16px; _display: inline; height: 142px; position: relative;}
.hao-wraper .ul-items li .pic img{width: 164px; height: 142px;}
.hao-wraper .ul-items li .tit{ line-height: 20px; height: 20px; font-size: 14px;left:0; overflow: hidden;opacity:0.7;filter: Alpha(opacity=70);   text-align: center; display: block; position: absolute; bottom: 0; width: 100%; background: #000; color: #fff;}