/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{font: 12px/1.5 tahoma,arial,\5b8b\4f53; background: #fff;}
.clear-fix:after,.clear-fix:before{content:" ";display:table;}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
a{color:#007bc1;}
a:hover{color:#f60;text-decoration:underline;}
img{vertical-align:top;}
.mini-popup h1,.mini-popup h6,.mini-popup-txt li,.mini-popup-cc h2 strong,.mini-popup-other ul,.mini-popup-recommend strong{background:url(../../images/popup/mini/bg_mini.png) no-repeat;}
/*.mini-popup{width:720px;height:470px;overflow:hidden;}
.mini-popup h1{position:relative;height:45px;background-position:0 0;}
.mini-popup h1 a{position:absolute;}
.mini-popup h1 a.mini-popup-logo{top:13px;left:16px;width:100px;height:19px;font-size:0;line-height:0;color:rgba(0,0,0,0);overflow:hidden;}
.mini-popup h1 a.mini-popup-close{top:1px;right:11px;width:41px;height:17px;font-size:0;line-height:0;color:rgba(0,0,0,0);overflow:hidden;background:url(../../images/popup/mini/func.png) no-repeat;}
.mini-popup h1 a.mini-popup-close:hover{background-position:0 -18px;}
*/
.mini-popup-main{width:718px;height:380px;padding:15px 15px 0;border-left:1px solid #005678;border-right:1px solid #005678;background:#fff;overflow:hidden;}
.mini-popup-left{float:left;width:464px;}
.mini-popup-cc h2{position:relative;float:left;width:224px;}
.mini-popup-cc h2 a{display:block;cursor:pointer;}
.mini-popup-cc h2 a span{display:block;height:20px;line-height:20px;text-align:center;background:#f8f8f8;overflow:hidden;}
.mini-popup-cc h2 strong{position:absolute;top:6px;right:-4px;width:34px;height:27px;line-height:20px;padding-left:5px;color:#fff;text-align:center;font-size:14px;background-position:-377px -78px;overflow:hidden;}
.mini-popup-txt{float:right;width:224px;}
.mini-popup-txt h3{height:30px;line-height:30px;text-align:center;overflow:hidden;border-bottom:1px solid #0a639b;font-size:14px;font-weight:bold;}
.mini-popup-txt ul{margin-top:7px;}
.mini-popup-txt li{padding-left:15px;height:20px;line-height:20px;overflow:hidden;background-position:-713px -78px;}
.mini-popup-list{margin-top:8px;width:464px;overflow:hidden;}
.mini-popup-list ul{width:472px;}
.mini-popup-list li{float:left;width:110px;margin-right:8px;text-align:center;overflow:hidden;}
.mini-popup-list li a{position:relative;display:block;height:110px;cursor:pointer;}
.mini-popup-list li a span{position:absolute;left:0;bottom:0;width:110px;height:20px;line-height:20px;text-align:center;overflow:hidden;background:rgba(0,0,0,.3);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4c000000', EndColorStr='#4c000000');}
:root .mini-popup-list li a span{filter:none;}
.mini-popup-other{margin-top:8px;}
.mini-popup-other ul{width:285px;height:14px;line-height:14px;padding:4px 1px;background-position:-61px -80px;}
.mini-popup-other li{float:left;padding:0 9px;border-left:1px solid #a5e3f6;}
.mini-popup-other li.first{border-left:0 none;}
.mini-popup-right{float:right;width:207px;}
.mini-popup-right h4{height:31px;line-height:31px;color:#007bc1;}
.mini-popup-recommend{position:relative;}
.mini-popup-recommend strong{position:absolute;top:6px;left:157px;width:49px;height:27px;line-height:20px;padding-left:5px;overflow:hidden;text-align:center;color:#fff;background-position:-426px -78px;}
.mini-popup-news{margin:3px 0;}
.mini-popup-news li{height:22px;line-height:22px;overflow:hidden;}
.mini-popup-news li a{color:#000;}
.mini-popup-news li a:hover{color:#f60;}
/*
.mini-popup h6{height:30px;line-height:30px;text-indent:15px;background-position:0 -46px;}
.mini-popup h6 a,.mini-popup h6 a:hover{color:#000;}
*/