*{ margin: 0; padding: 0}
body{ font-size: 12px;}
a{color:#333333; text-decoration: none;}
a:hover{color:#333333; text-decoration:underline; }
li{ list-style: none;}
img{ border: none;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.sg-wraper{ width: 920px; height: 360px; padding: 10px 20px; overflow: hidden; margin: 0 auto;}
.sg-wraper h2{margin-bottom: 10px; font: normal 14px/30px "microsoft yahei"; color: #125297;}
.sg-wraper .dl-items{ float: left; width: 235px; border-right: 1px #e5e5e5 solid ; height: 306px; overflow: hidden;}
.sg-wraper .dl-items dt{ padding-bottom: 10px; border-bottom: 1px #e5e5e5 solid ; width: 215px; margin-bottom: 10px;}
.sg-wraper .dl-items dt img{ height: 118px; width: 215px;}
.sg-wraper .dl-items dd{ line-height: 26px; font-size: 14px; height: 26px; overflow: hidden;}
.sg-wraper .dl-items dd em{ font-family: Arial; font-size: 18px;font-style: normal; margin-right: 3px; float: left;margin-top: 2px; _display: inline;}
.sg-wraper .ul-items{ float: left; width: 682px; padding-left: 2px;}
.sg-wraper .ul-items li{ width: 152px; float: left; margin-left: 18px; _display: inline;}
.sg-wraper .ul-items li .pic img{width: 152px; height: 122px;}
.sg-wraper .ul-items li .tit{ line-height: 30px;height: 30px; overflow: hidden; text-align: center; display: block;}