*{ margin: 0; padding: 0}
body{ font-size: 12px;}
a{color:#333333; text-decoration: none;}
a:hover{color:#333333; text-decoration:underline; }
li{ list-style: none;}
img{ border: none; vertical-align:top;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.sohu-wraper{ width:720px; height: 425px; margin: 0 auto;}
.sohu-wraper .text{ width: 100%;opacity: 0.6;filter: Alpha(opacity=60); height: 20px; position: absolute; left: 0; bottom: 0; background: #000; line-height: 20px; text-align: center;}
.sohu-wraper .text a{ color: #fff;}
.sohu-l{ width: 468px; float: left; _display: inline; margin-left: 10px; overflow: hidden;}
.sohu-l .dl-items{ margin-top: 5px; margin-left: 10px; border-bottom: 1px #ddd dotted; padding-bottom: 15px;}
.sohu-l .dl-items dt{ position: relative; margin-top: 10px; height: 222px; width:222px;border:1px #ddd solid; float: left;}
.sohu-l .dl-items dt img{ width: 222px; height: 222px;}
.sohu-l .dl-items dt em{ position: absolute; left: -1px; top: -1px; height: 22px; font-style: normal; line-height: 22px; padding: 0 7px; background: #e20803;color: #fff; border-bottom: 1px #ddd solid; border-right: 1px #ddd solid;}
.sohu-l .dl-items dd{ float: left; margin: 10px 0 0 10px; width: 105px; height: 105px; overflow: hidden; border: 1px #ddd solid; position: relative;}
.sohu-l .dl-items dd img{ width: 105px;height: 105px;}
.sohu-l .ul-items li{ float: left; margin: 10px 0 0 10px; _display: inline; width: 105px; height: 105px; overflow: hidden; border: 1px #ddd solid; position: relative;}
.sohu-l .ul-items li img{ width: 105px;height: 105px;}

.sohu-r{ width: 230px; float: right; background: #dbf5fe; height: 390px;}
.sohu-r .dl-wp{ width: 200px; padding: 15px;}
.sohu-r .dl-wp dt{ height: 112px; position: relative;margin-bottom: 12px;}
.sohu-r .dl-wp dt img{ width: 200px;height: 112px;}
.sohu-r .dl-wp dd.sq-btn a{ float: right; font-size: 14px; color: #4b7b8c; line-height: 20px; height: 20px;}
.sohu-r .dl-wp dd.sq-btn span{ font-size: 12px; width: 59px; height: 20px; text-align: center; line-height: 20px; color: #fff; background: url(../../images/popup/sohu/zx-bg.png) no-repeat; float: left;}
.sohu-r .dl-wp .news-list{ margin-top: 8px; height: 220px;overflow: hidden;  background: url(../../images/popup/sohu/num-icon.png) no-repeat left 6px;_background: url(../../images/popup/sohu/num-icon8.png) no-repeat left 6px; }
.sohu-r .dl-wp .news-list li{line-height: 22px; padding-left: 14px; height: 22px; overflow: hidden;}
.sohu-r .dl-wp .news-list li a{ color: #4b7b8c;}


.sohu-bot{border-top: 1px #c4e2ed solid; background: url(../../images/popup/sohu/b-bg.jpg) no-repeat; height: 34px; line-height: 34px; padding-left: 35px; color: #4b7b8c;}
.sohu-bot a{color: #4b7b8c;}
