*{ margin: 0; padding: 0}

html,body{overflow: hidden;}
body{ font-size: 12px; background: #fff; overflow: hidden;}
a{color:#333333; text-decoration: none;}
a:hover{color:#333333; text-decoration:underline; }
li{ list-style: none;}
img{ border: none; vertical-align:top;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.sohu-wraper{ width:660px; height: 382px; overflow:hidden; padding:15px; margin: 0 auto;}
.sohu-wraper .text{ width: 100%;opacity: 0.6;filter: Alpha(opacity=60); height: 20px; position: absolute; left: 0; bottom: 0; background: #000; line-height: 20px; text-align: center;}
.sohu-wraper .text a{ color: #fff;}
.sohu-l,.sohu-m,.sohu-r{ float: left; _display: inline;}
.sohu-m,.sohu-r{ margin-left: 18px;}
.sohu-l{ width: 224px; overflow: hidden;}
.sohu-l .sohu-l-items dt{ position: relative; height: 152px;border:1px #ddd solid;}
.sohu-l .sohu-l-items dt em{ display: none; position: absolute; left: -1px; top: -1px; height: 22px; font-style: normal; line-height: 22px; padding: 0 7px; background: #e20803;color: #fff; border-bottom: 1px #ddd solid; border-right: 1px #ddd solid;}
.sohu-l .pic-list{ width: 100%; overflow: hidden;}
.sohu-l .pic-list ul{ width: 234px; position: relative; margin-top: 20px;}
.sohu-l .pic-list li{ float: left; width: 107px; margin-right: 10px; position: relative; _display: inline;}
.sohu-l .pic-list li img{ width: 107px; height: 107px;}
.sohu-l .text-list{ margin-top: 15px;  padding-bottom: 10px;}
.sohu-l .text-list li{ line-height: 22px;}
.sohu-l .ten-news-list{ width: 230px; position: relative; margin-top: 10px;}
.sohu-l .ten-news-list li{ width: 110px; float: left; _display: inline; margin-right: 5px; line-height: 22px; height: 22px; overflow:hidden;}
.sohu-m{ width: 190px;}
.sohu-m dl{ border-bottom: 1px #dfdfdf dotted; padding: 12px 0;}
.sohu-m dl.no-bord{ border-bottom: none;}
.sohu-m dl dt{ text-align: center; font-size: 14px; font-weight: bold; margin-bottom: 10px;}
.sohu-m dl dt a{ color: #004499;}
.sohu-m dl dd{ line-height: 22px;}
.sohu-m dl dd em{ font-style: normal;}
.sohu-r .key-words{ line-height: 22px;margin-top: 10px;}
.sohu-r .key-words a{ padding: 0 3px;}
.sohu-r{ width: 207px;}
.sohu-r .ban-list dd{ height: 128px; position: relative; margin-bottom: 20px; border:1px #cdcccc solid;}
.sohu-r .ban-list dt img{ width: 207px; height: 110px;}
.sohu-r .text-list{ margin-top: 10px;}
.sohu-r .text-list li{ float: left; width: 49%; height: 22px; line-height: 22px; overflow: hidden;}
.sohu-r .text-list li a{ display: block; height: 22px;word-wrap:normal;}