*{ margin: 0; padding: 0}
body{ font-size: 12px;}
a{color:#333333; text-decoration: none;}
a:hover{color:#333333; text-decoration:underline; }
li{ list-style: none;}
img{ border: none; vertical-align:top;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.ten-wraper{ width:710px; height: 395px; padding:15px 5px; margin: 0 auto;}
.ten-wraper .text{ width: 100%;opacity: 0.6;filter: Alpha(opacity=60); height: 20px; position: absolute; left: 0; bottom: 0; background: #000; line-height: 20px; text-align: center;}
.ten-wraper .text a{ color: #fff;}
.ten-l,.ten-m,.ten-r{ float: left; _display: inline; margin-left: 20px;}
.ten-l{ width: 224px; overflow: hidden;}
.ten-l .ten-l-items dt{ position: relative; height: 152px;border:1px #ddd solid;}
.ten-l .ten-l-items dt em{ position: absolute; left: -1px; top: -1px; height: 22px; font-style: normal; line-height: 22px; padding: 0 7px; background: #e20803;color: #fff; border-bottom: 1px #ddd solid; border-right: 1px #ddd solid;}
.ten-l .pic-list{ width: 100%; overflow: hidden;}
.ten-l .pic-list ul{ width: 234px; position: relative; margin-top: 10px;}
.ten-l .pic-list li{ float: left; width: 107px; margin-right: 10px; position: relative; _display: inline;}
.ten-l .pic-list li img{ width: 107px; height: 107px;}
.ten-l .text-list{ margin-top: 15px; border-bottom: 1px #dfdfdf dotted; padding-bottom: 10px;}
.ten-l .text-list li{ line-height: 20px;}
.ten-l a{ color: #007bc1;}
.ten-l .ten-news-list{ width: 230px; position: relative; margin-top: 10px;}
.ten-l .ten-news-list li{ width: 110px; float: left; _display: inline; margin-right: 5px; line-height: 22px; height: 22px; overflow:hidden;}
.ten-m{ width: 200px;}
.ten-m dl{ border-bottom: 1px #dfdfdf dotted; padding: 11px 0;}
.ten-m dl dt{ text-align: center; font-size: 14px; font-weight: bold; margin-bottom: 8px;}
.ten-m a{ color: #007bc1;}
.ten-m dl dd{ line-height: 22px;}
.ten-m dl dd em{ font-style: normal;}
.ten-m .key-words{ line-height: 22px;margin-top: 10px;}
.ten-m .key-words a{ padding: 0 3px;}
.ten-r{ width: 207px;}
.ten-r .ban-list dd{ height: 128px; position: relative; margin-bottom: 10px; border:1px #cdcccc solid;}
.ten-r .ban-list dt img{ width: 207px; height: 110px;}