/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{ background: #fff;}
.fl{float:left;}
.fr{float:right;}
.clear-fix:after,
.clear-fix:before{content:" ";display:table;}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
/* topbar */
.topbar{width:100%;height:37px;background:url(../images/topbar.png) repeat-x 0 -160px;border-bottom:1px solid #e3e3e3;font-size:12px;line-height:1.5;font-family:tahoma,arial,\5b8b\4f53;}
.topbar .arr{width:0;height:0;font-size:0;line-height:0; border-style:solid dashed dashed;border-color:#666 transparent transparent;border-width:4px;position:absolute;right:0;top:17px;top:15px\9;*top:15px;;_top:16px;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -o-transition:all .3s ease;
    -ms-transition:all .3s ease;
    transition:all .3s ease;}
.topbar-more:hover .arr,.topbar-more-hover .arr,.topbar-user .user:hover .arr,.topbar-user .user-hover .arr{-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
    border-style:dashed dashed solid\9;
    *border-style:dashed dashed solid;
    _border-style:dashed dashed solid;
    border-color:transparent transparent #666\9;
    *border-color:transparent transparent #666;
    _border-color:transparent transparent #666;
    top : 13px;
    top:11px\9;
    *top:11px;
    _top:11px;
}
.topbar-inner{width:980px;margin:0 auto;}
.topbar-inner .line{width:1px;height:12px;border-right:1px solid #fdfdfd;background-color:#d9d9d9;overflow:hidden;margin:15px 12px 0;float:left;_display:inline;}
.topbar-inner a:hover{color:#f68400;text-decoration:underline}
.topbar-nav{float:left}
.topbar-nav a{background:url(../images/topbar.png) no-repeat 0 0;color:#666;text-decoration:none;float:left;margin-top:10px;text-indent:20px;line-height:1.5;}
.topbar-nav .home{}
.topbar-nav .buy{background-position:0 -20px}
.topbar-nav .tao{background-position:0 -40px}
.topbar-nav .app{background-position:0 -60px;text-indent:15px}
.topbar-nav .home:hover{background-position:0 -80px}
.topbar-nav .buy:hover{background-position:0 -100px}
.topbar-nav .tao:hover{background-position:0 -120px}
.topbar-nav .app:hover{background-position:0 -140px;}
.topbar-user{float:right;width:240px;}
.topbar-user-login{width:255px}
.topbar-user a,.topbar-user .hi,.topbar-user .user{float:left;color:#666;margin-top:10px;line-height:1.5}
.topbar-user a{margin-left:10px;_display:inline}
.topbar-user-login a{margin-left:0}
.topbar-user .user{width:55px;padding:0 4px;height:20px;line-height:20px;position:relative;white-space:nowrap;margin-left:1px;float:left;margin-top:8px;padding-top:2px;text-overflow: ellipsis;z-index: 100}
.topbar-user .user a{margin:0;display:inline;float:none;max-width:48px;_width:48px;display:block;overflow:hidden;text-overflow:ellipsis}
.topbar-user .user a:hover{color:#5b86bf;text-decoration:none}
.topbar-user .user:hover,.topbar-user .user-hover{width:54px;height:19px;border:1px solid #e3e3e3;border-bottom:0;background:white;margin-top:7px;margin-left:0px;color:#5b86bf;text-decoration:none}
.topbar-user .user .arr{top:9px;right:0px}
.topbar-user .user:hover .arr,.topbar-user .user-hover .arr{top:4px;_top:3px;}
.topbar-user .user-link{display:none;width:42px;padding:5px 10px 0;height:42px;position:absolute;left:-1px;top:19px;border:1px solid #e3e3e3;border-top:0;background-color:white}
.topbar-user .user-link a{color:#666666;display:block;line-height:20px;font-size:12px}
.topbar-user .user-link a:hover{color:#000;text-decoration:underline}
.topbar-user .user:hover .user-link,.topbar-user .user-hover .user-link{display:block}
.topbar-user .line{margin:15px 10px 0}
.topbar-more a{float:none;display:block;margin-left:0}
.topbar-more{float:right;width:62px;height:27px;position:relative;z-index:100;}
.topbar-more .more{display:block;height:27px}
.topbar-prod {display:none;position:absolute;right:0;top:30px;z-index:100;width:210px;background-color:#F2F2F2}
.topbar-prod a{margin-top:0}
.topbar-prod .item {padding:15px 10px;overflow:hidden;font-size:0;border-bottom:1px solid #D9D9D9;border-top:1px solid #fff;zoom:1}
.topbar-prod .weixin {padding-bottom:0}
.topbar-prod .weixin img {display:block;margin:auto;}
.topbar-prod .weixin span {display:block;text-align:center;font-size:12px;color:#666;line-height:22px;padding:3px 0 5px}
.topbar-prod .first {border-top:none}
.topbar-prod a {float:left;color:#666;margin-right:10px;white-space:nowrap;font-size:12px;line-height:22px;width:36px;}
.topbar-prod .h_icon {padding-left:19px;background:url(../images/topbar.png) no-repeat top left; width:auto;}
.topbar-prod .b5t {background-position:0 -230px}
.topbar-prod .gwdh {background-position:0 -280px}
.topbar-prod .sjb5m {background-position:3px -329px}
.topbar-more:hover .topbar-prod,.topbar-more-hover .topbar-prod{display:block}
/*header-logo s*/
.header-logo{width:980px;margin:0 auto;padding-bottom:13px;}
.header-logo .logo{display:inline;float:left;width:215px;height:72px;margin-top:15px;background:url(../images/logo_dai.png) no-repeat;}
.header-logo .logo a{display:block;width:200px;height:72px;}
.head-city{display:inline;float:left;margin:40px 0 0 16px;color:#333;font-size:16px;line-height:18px;font-family:Microsoft YaHei;}
.head-city b{font-weight:normal;}
.head-city .ico_city{display:inline-block;width:16px;height:27px;margin-right:6px;background:url(../images/bg.png) no-repeat 0 0;font-size:0;line-height:0;vertical-align:middle}
/*header-logo e*/
.header-nav{background:#0261c1;}
.header-nav a,.header-nav a:hover{color:#fff;}
.header-search{ background:#F5F5F5;height:33px;padding:7px 0;}
.header-rearch-submit{background:#0261c1;*margin-left:-1px;*margin-top:-1px;_margin-top:1px;}
.header-search-content label{background-position:-2px -70px;}
.header-rearch-hotkey a{color:#666;}
.header-rearch-hotkey a:hover{color:#8db500;}
.header-content{ height: 94px;}
.header-main{ width: 980px; margin: 0 auto; position: relative; z-index: 40;}
.header-nav{ height: 47px; line-height: 47px;}
.header-nav ul li{float:left;border-left:1px solid #1c71c7;}
.header-nav ul li a{ font-size: 14px; font-family:Microsoft YaHei; display: block; text-align: center; width: 92px;}
.header-nav ul li.b5m-home{ border:0;width: 196px;}
.header-nav ul li.b5m-home a{ padding-left: 26px; width: 170px; background:#0257ad url(../images/header-nav.png) no-repeat -113px 12px;}
.header-nav ul li.b5m-home a:hover{background-color:#024e9a;color:#fff}
.header-nav li a.this,.header-nav li a.this:hover{background:#F5F5F5;color:#4c4c4c;}
.header-nav li a:hover{background-color:#0257ad;color:#fff}
.header-search{ height: 33px; padding: 7px 0;}
.header-search span,.header-search label{ display: inline-block;}
.header-search-content label{ font-size: 0;line-height: 0;overflow: hidden; vertical-align: top; width: 180px; height: 22px; background: url(../images/header-nav.png) no-repeat -2px -71px; margin: 5px 17px 0 53px;}
.header-search-content{ font-size: 0;}
.header-search-key{ width: 410px; height: 16px; line-height:16px;border: 0; color: #999; font-size: 12px; vertical-align: top; padding:8px 10px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    *margin-top: -1px;
    _margin-top: 0;
    border: 1px #c8c8c8 solid;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);}
.focus{-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1);}
.header-rearch-submit{ height: 34px; border: 0; width: 64px; font-size: 14px; font-weight: bold; color: #fff; cursor: pointer; vertical-align: top\9; _margin-top: 1px; -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px;border-bottom-right-radius: 3px;}