/***Layout -Start- gaotian - 20131119***/
.wp{width:980px;margin:0 auto;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,.clear-fix:before{content:" ";display:table;}.clear-fix:after{clear:both;}.clear-fix{*zoom:1;}
.list-h li{float:left;}
img{vertical-align: top;}
.mt4{margin-top:4px;}
.mt6{margin-top:6px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt20{margin-top:20px;}
.mt50{margin-top:50px}
.mb20{margin-bottom:20px}
.pz{position:relative;z-index:0}
.txt-center{text-align:center}
.bord,.zdm-brd{ border:1px #dedede solid;}
a{color:#333}
a:hover{color:#EB7E00}
u,s,small{font-style:normal;font-size:12px;text-decoration:none}
/***Layout -End- gaotian - 20131119***/
.zdm-in .tip-korea-head{ display: none !important;}
/*header s*/
.zdm-icon,.header-rearch-submit{  background-image: url(../../images/zdm/v2/search-btn.png); background-repeat: no-repeat;}
.header .search-bar{ background: #e43b5a;}
.header .search-tools .header-search-content{ border:2px solid #e43b5a; }
.header-rearch-submit{ background-position: right -79px;}
.search-bar .wp{overflow:hidden; zoom:1; height: 47px;}
.nav-list{ margin-left: 0px;}
.nav-list li{ width: 92px; background: none; font-size: 14px; padding: 0; }
.nav-list li.cur,
.nav-list li:hover{margin-left:0px;padding-left:0px;}
.nav-list li a{ display: block; border-left: 1px #ed6990 solid; color: #fff; font-size: 14px;}
.nav-list li a:hover{background-color: #bd1a3a;}
.nav-list li.cur a{ color: #333; background: #fff; position: relative;}
.back-home{ width: 196px; height: 47px; float: left; line-height: 47px; font-size: 14px; font-family:\5FAE\8F6F\96C5\9ED1;}
.back-home a{ color: #fff; display: block; padding-left: 78px;height: 47px; background-position: -110px 13px;}
.back-home a:hover{ background-color: #bd1a3a; color: #fff;}
.zdm-slogin,
.life-slogin,
.find-slogin,
.ts-slogin{ width: 130px; height: 47px; float: right;}
.zdm-slogin{background-position: right -24px;}
.life-slogin{background-position: right -115px;}
.find-slogin{background-position: right -211px;}
.ts-slogin{background-position: right -163px;}
/*header e*/
/***Head -End- gaotian - 20131119***/
/***Crumb -Start- zibu - 20131119***/
.crumb{color:#999; line-height: 14px;}
.crumb strong{color:#333;font-weight:normal}
/***Crumb -End- zibu - 20131119***/
/***com -s- zibu - 20131211***/
.bj-main{ width: 660px; padding: 0 40px;}
.bj-aside{ width: 218px;}
.zdm-tit1 h2{ height: 42px; border-bottom: 2px #f7f7f7 solid; font:bold 16px/42px 'microsoft yahei'; _overflow: hidden;}
.zdm-tit1 h2 span{ padding: 0 10px; height: 100%; border-bottom: 2px #e43b5a solid; float: left; position: relative;}
.line-de{  width:600px; margin:0 auto;height: 5px; border-bottom: 1px #e4e4e4 dashed; overflow: hidden;}
/***com -e- zibu - 20131211***/
/***floor -s- zibu - 20131211***/
.goods-picre09{ text-align: center; margin: 20px 0 0;}
.goods-picre10{ margin: 40px 0 0;width:660px; height: 740px; position: relative; }
.goods-picre10 div{width:660px; height: 740px; position: absolute; opacity: 0; bottom:-300px;
    -webkit-transition:all ease 1s;
    -moz-transition:all ease 1s;
    -ms-transition:all ease 1s;
    transition:all ease 1s;
    -webkit-transform:  scale(.1, .1);
    -moz-transform:  scale(.1, .1);
    -ms-transform:  scale(.1, .1);
    transform:  scale(.1, .1);}
.goods-picre10.animate div{ -webkit-transform:scale(1,1);  
							-moz-transform:scale(1,1); 
							-ms-transform:scale(1,1); 
							transform:scale(1,1); 
							opacity: 1; bottom: 0px;}
.goods-picre10.animate .c1 {  -webkit-transition-delay:.2s;  -moz-transition-delay:.2s; -ms-transition-delay:.2s; transition-delay:.2s; }
.goods-picre10.animate .c9 {  -webkit-transition-delay:.3s;  -moz-transition-delay:.3s; -ms-transition-delay:.3s; transition-delay:.3s; }
.goods-picre10.animate .c8 {  -webkit-transition-delay:.4s;  -moz-transition-delay:.4s;  -ms-transition-delay:.4s; transition-delay:.4s; }
.goods-picre10.animate .c7 { -webkit-transition-delay:.5s;  -moz-transition-delay:.5s;  -ms-transition-delay:.5s; transition-delay:.5s; }
.goods-picre10.animate .c6 { -webkit-transition-delay:.6s; -moz-transition-delay:.6s; -ms-transition-delay:.6s; transition-delay:.6s; }
.goods-picre10.animate .c5 {  -webkit-transition-delay:.7s; -moz-transition-delay:.7s; -ms-transition-delay:.7s; transition-delay:.7s; }
.goods-picre10.animate .c4 {   -webkit-transition-delay:.8s; -moz-transition-delay:.8s; -ms-transition-delay:.8s; transition-delay:.8s; }
.goods-picre10.animate .c3 {  -webkit-transition-delay:.9s; -moz-transition-delay:.9s; -ms-transition-delay:.9s; transition-delay:.9s;}
.goods-picre10.animate .c2{   -webkit-transition-delay:1s; -moz-transition-delay:1s; -ms-transition-delay:1s; transition-delay:1s; }

.goods-picre10.animate .c1 {background: url("../../images/jiagebaogao/v2/chart/c1.png") no-repeat; z-index: 10; }
.goods-picre10.animate .c2 {background: url("../../images/jiagebaogao/v2/chart/c2.png") no-repeat; z-index: 2;  }
.goods-picre10.animate .c3 {background: url("../../images/jiagebaogao/v2/chart/c3.png") no-repeat; z-index: 3;  }
.goods-picre10.animate .c4 {background: url("../../images/jiagebaogao/v2/chart/c4.png") no-repeat; z-index: 4;  }
.goods-picre10.animate .c5 {background: url("../../images/jiagebaogao/v2/chart/c5.png") no-repeat; z-index: 5;  }
.goods-picre10.animate .c6 {background: url("../../images/jiagebaogao/v2/chart/c6.png") no-repeat; z-index: 6;  }
.goods-picre10.animate .c7 {background: url("../../images/jiagebaogao/v2/chart/c7.png") no-repeat; z-index: 7;  }
.goods-picre10.animate .c8 {background: url("../../images/jiagebaogao/v2/chart/c8.png") no-repeat; z-index: 9;  }
.goods-picre10.animate .c9 {background: url("../../images/jiagebaogao/v2/chart/c9.png") no-repeat; z-index: 8;  }

.goods-picre10.animate div.dis { -webkit-transform:none; -moz-transform:none; -ms-transform:none; transform:none;  -webkit-transition:none; -moz-transition:none; -ms-transition:none; transition:none;}

.goods-picre11{ margin: 50px 0 55px; background: url(../../images/jiagebaogao/v2/jgbb-pic01.jpg) no-repeat; }
.goods-picre12{ margin: 60px 0 55px; background: url(../../images/jiagebaogao/v2/jgbb-pic02.jpg) no-repeat; }
.goods-picre13{ margin: 40px 0 30px; overflow: hidden;}
.goods-picre13 div,
.goods-picre14 div{ position: absolute; opacity: 0;width:660px; 
    -webkit-transition:all ease 1s; 
    -moz-transition:all ease 1s; 
    -ms-transition:all ease 1s; 
    transition:all ease 1s;
    -webkit-transform:  scale(1.5,1.5); 
    -moz-transform:  scale(1.5, .1.5); 
    -ms-transform:  scale(1.5, 1.5); 
    transform:  scale(1.5, 1.5);}
.goods-picre13 div{height: 740px;}
.goods-picre14 div{height: 780px;}
.goods-picre13 div.c0{
	-webkit-transform:  scale(1,1); 
    -moz-transform:  scale(1, 1); 
    -ms-transform:  scale(1, 1); 
    transform:  scale(1, 1);}
.goods-picre13.animate div,
.goods-picre14.animate div{ -webkit-transform:scale(1,1);  
							-moz-transform:scale(1,1); 
							-ms-transform:scale(1,1); 
							transform:scale(1,1); 
							opacity: 1; }
.goods-picre13.animate .c0 {  -webkit-transition-delay:1.1s;  -moz-transition-delay:1.1s; -ms-transition-delay:1.1s; transition-delay:1.1s; }
.goods-picre13.animate .c1,
.goods-picre14.animate .c1 {  -webkit-transition-delay:.2s;  -moz-transition-delay:.2s; -ms-transition-delay:.2s; transition-delay:.2s; }
.goods-picre13.animate .c2,
.goods-picre14.animate .c2 {  -webkit-transition-delay:.3s;  -moz-transition-delay:.3s; -ms-transition-delay:.3s; transition-delay:.3s; }
.goods-picre13.animate .c3,
.goods-picre14.animate .c3 {  -webkit-transition-delay:.4s;  -moz-transition-delay:.4s;  -ms-transition-delay:.4s; transition-delay:.4s; }
.goods-picre13.animate .c4,
.goods-picre14.animate .c4 { -webkit-transition-delay:.5s;  -moz-transition-delay:.5s;  -ms-transition-delay:.5s; transition-delay:.5s; }
.goods-picre13.animate .c5，
.goods-picre14.animate .c5 { -webkit-transition-delay:.6s; -moz-transition-delay:.6s; -ms-transition-delay:.6s; transition-delay:.6s; }
.goods-picre13.animate .c6，
.goods-picre14.animate .c6 {  -webkit-transition-delay:.7s; -moz-transition-delay:.7s; -ms-transition-delay:.7s; transition-delay:.7s; }
.goods-picre13.animate .c7,
.goods-picre14.animate .c7 {   -webkit-transition-delay:.8s; -moz-transition-delay:.8s; -ms-transition-delay:.8s; transition-delay:.8s; }
.goods-picre13.animate .c8,
.goods-picre14.animate .c8 {  -webkit-transition-delay:.9s; -moz-transition-delay:.9s; -ms-transition-delay:.9s; transition-delay:.9s;}
.goods-picre13.animate .c9,
.goods-picre14.animate .c9{   -webkit-transition-delay:1s; -moz-transition-delay:1s; -ms-transition-delay:1s; transition-delay:1s; }

.goods-picre13.animate .c0 {background: url("../../images/jiagebaogao/v2/chart/d0.png") no-repeat; z-index: 10; }
.goods-picre13.animate .c1 {background: url("../../images/jiagebaogao/v2/chart/d1.png") no-repeat; z-index: 1; }
.goods-picre13.animate .c2 {background: url("../../images/jiagebaogao/v2/chart/d2.png") no-repeat; z-index: 2;  }
.goods-picre13.animate .c3 {background: url("../../images/jiagebaogao/v2/chart/d3.png") no-repeat; z-index: 3;  }
.goods-picre13.animate .c4 {background: url("../../images/jiagebaogao/v2/chart/d4.png") no-repeat; z-index: 4;  }
.goods-picre13.animate .c5 {background: url("../../images/jiagebaogao/v2/chart/d5.png") no-repeat; z-index: 5;  }
.goods-picre13.animate .c6 {background: url("../../images/jiagebaogao/v2/chart/d6.png") no-repeat; z-index: 6;  }
.goods-picre13.animate .c7 {background: url("../../images/jiagebaogao/v2/chart/d7.png") no-repeat; z-index: 7;  }
.goods-picre13.animate .c8 {background: url("../../images/jiagebaogao/v2/chart/d8.png") no-repeat; z-index: 9;  }
.goods-picre13.animate .c9 {background: url("../../images/jiagebaogao/v2/chart/d9.png") no-repeat; z-index: 8;  }

.goods-picre14.animate .c1 {background: url("../../images/jiagebaogao/v2/chart/e1.png") no-repeat; z-index: 1; }
.goods-picre14.animate .c2 {background: url("../../images/jiagebaogao/v2/chart/e2.png") no-repeat; z-index: 2;  }
.goods-picre14.animate .c3 {background: url("../../images/jiagebaogao/v2/chart/e3.png") no-repeat; z-index: 3;  }
.goods-picre14.animate .c4 {background: url("../../images/jiagebaogao/v2/chart/e4.png") no-repeat; z-index: 4;  }
.goods-picre14.animate .c5 {background: url("../../images/jiagebaogao/v2/chart/e5.png") no-repeat; z-index: 5;  }
.goods-picre14.animate .c6 {background: url("../../images/jiagebaogao/v2/chart/e6.png") no-repeat; z-index: 6;  }
.goods-picre14.animate .c7 {background: url("../../images/jiagebaogao/v2/chart/e7.png") no-repeat; z-index: 7;  }
.goods-picre14.animate .c8 {background: url("../../images/jiagebaogao/v2/chart/e8.png") no-repeat; z-index: 9;  }
.goods-picre14.animate .c9 {background: url("../../images/jiagebaogao/v2/chart/e9.png") no-repeat; z-index: 8;  }

.goods-picre14{ margin: 20px 0 40px; height: 780px; }
.goods-picre11,
.goods-picre12{ height: 400px;}
.goods-picre10,
.goods-picre11,
.goods-picre12,
.goods-picre13,
.goods-picre14{ position: relative;}
.goods-picre10,
.goods-picre13{ height: 740px;}
.more-goods{ width: 140px; height: 40px; display: block; position: absolute; z-index: 20;}
.goods-picre11 .more-goods{ top: 96px; right: 40px;}
.goods-picre13 .more-goods{ top: 92px; right: 40px;}
.goods-picre11 .bar,
.goods-picre12 .bar{ width: 286px; height: 34px; background: #f7f7f7; position: absolute; left: 195px; overflow: hidden;}
.goods-picre11 .bar div,
.goods-picre12 .bar div{ width: 100%; height: 100%; background: #cc0000; position: absolute; left: 100%; background: url("../../images/jiagebaogao/v1/bar.png") repeat-x;
	-webkit-transition:all ease-in-out 1s;
    -moz-transition:all ease-in-out 1s;
    -ms-transition:all ease-in-out 1s;
    -o-transition:all ease-in-out 1s;
    -transition:all ease-in-out 1s;}
.goods-picre11 .bar1,
.goods-picre12 .bar1{ top: 178px;}
.goods-picre11 .bar2,
.goods-picre12 .bar2{ top: 255px;}
.goods-picre11 .bar3,
.goods-picre12 .bar3{ top: 332px;}
.goods-picre11 .bar4,
.goods-picre12 .bar4{ top: 409px;}
.goods-picre11 .bar5,
.goods-picre12 .bar5{ top: 486px;}
.goods-picre11 .bar6,
.goods-picre12 .bar6{ top: 563px;}
.goods-picre11 .bar7,
.goods-picre12 .bar7{ top: 640px;}
.goods-picre11 .bar8,
.goods-picre12 .bar8{ top: 717px;}

.goods-picre11 .bar1 div,
.goods-picre12 .bar1 div { background-position: 0 0; }
.goods-picre11 .bar2 div,
.goods-picre12 .bar2 div { background-position: 0px -34px;}
.goods-picre11 .bar3 div,
.goods-picre12 .bar3 div { background-position: 0px -68px;}
.goods-picre11 .bar4 div,
.goods-picre12 .bar4 div { background-position: 0px -102px;}
.goods-picre11 .bar5 div,
.goods-picre12 .bar5 div { background-position: 0px -136px;}
.goods-picre11 .bar6 div,
.goods-picre12 .bar6 div { background-position: 0px -170px;}
.goods-picre11 .bar7 div,
.goods-picre12 .bar7 div { background-position: 0px -204px;}
.goods-picre11 .bar8 div,
.goods-picre12 .bar8 div { background-position: 0px -238px;}

.goods-picre11.animate .bar div,
.goods-picre12.animate .bar div {  left:100%; }
.goods-picre11.animate .bar1 div { left:51%; }
.goods-picre11.animate .bar2 div { left:64%; }
.goods-picre11.animate .bar3 div { left:86%; }


.goods-picre12.animate .bar1 div { left:50%; }
.goods-picre12.animate .bar2 div { left:64%; }
.goods-picre12.animate .bar3 div { left:87%; }


/***floor -e- zibu - 20131211***/


/*baoliao s*/
.zdm-say{ height: 83px; position: relative;z-index: 2;}
.zdm-say a.bl-btn{ background-image: url(../../images/zdm/v2/zdm-icon02.png); background-repeat: no-repeat;}
.zdm-say a.bl-btn{ display: block;; height: 23px; text-align: center; padding-top: 60px;}
.zdm-say a.bl-btn:hover{ background-position: left -84px; color: #666;}
.zdm-say a.bl-btn em{ color: #e43b5a; cursor:pointer;}
.say-popbox{ width: 520px; height: 206px;background: #fff; border:1px #ccc solid; position:absolute; right: 0; display: none;
            -webkit-border-radius:5px;
             -moz-border-radius:5px;
             -ms-border-radius:5px;
             -0-border-radius:5px;
             border-radius:5px;}
.say-in{ width: 480px; height: 186px; position: relative; background: #fff; padding: 10px 20px;}
.say-in b{ position: absolute;display: block;}
.caret_out, .caret_in{border-style: dashed dashed solid dashed; overflow: visible;font-family: simsun;width: 0;height: 0;_line-height: 0;font-size: 0;}
.say-in .caret_out{right: 102px;top: -8px;border-width: 0 7px 8px 7px;border-color: transparent transparent #CFCFCF transparent;}
.say-in .caret_in{right: 103px;top: -7px;border-width: 0 6px 7px 6px;border-color: transparent transparent #fff transparent;}
.say-in .close-btn{ width: 8px; height: 8px; background:url(http://staticcdn.b5m.com/static/images/zdm/v2/zdm-icon.png) no-repeat left -575px; top: 18px; right: 22px; cursor:pointer;}
.say-in .text{ line-height: 22px; padding: 3px 0;}
.say-in .input{ padding: 3px 0;}
.say-in .in-text{ width: 460px; height: 22px; line-height: 22px; padding: 3px 5px; border: 1px #ddd solid;
                -webkit-border-radius:3px;
                 -moz-border-radius:3px;
                 -ms-border-radius:3px;
                 -0-border-radius:3px;
                 border-radius:3px;}
.say-in .btn a{ width: 58px; height: 28px; color: #fff; float: right; text-align: center; margin:20px 8px 0 6px; _display:inline;font:normal 16px/28px 'microsoft yahei'; 
                -webkit-border-radius:3px;
                 -moz-border-radius:3px;
                 -ms-border-radius:3px;
                 -0-border-radius:3px;
                 border-radius:3px;}
.say-in .btn a:hover{ color: #fff;}
.say-in .sub-btn{ background: #fd5574; border: 1px #e43b5a solid;}
.say-in .qx-btn{ background: #bdbdbd; border: 1px #a2a2a2 solid;}
.blsm-text{ width: 320px; height: 40px; position: absolute; left: 20px; bottom: 18px; color: #999999;}
.blsm-text p{ line-height: 20px;}
.blsm-text p a{ color: #e43b5a;}
.blsm-text p a:hover{ color: #e43b5a;}
/***user pinwei -Start- zibu - 20131211***/
.cattle-items{ padding: 10px;}
.cattle-items li{ padding: 10px 0; height: 50px; overflow:hidden; zoom;1;}
.cattle-items li .tit,
.cattle-items li .tit1,
.cattle-items li h3{ line-height: 14px; margin-bottom: 2px; color: #333;}
.cattle-items li .tit{ height: 14px; overflow: hidden;}
.cattle-items li .tit1{ height: 32px; overflow: hidden; line-height: 16px;}
.cattle-items li h3 a{ color: #e85570;}
.cattle-items li p{ line-height: 18px; color: #999999;}
.cattle-items .numb em{ color: #e3830b;}
.cattle-items .numb a,
.cattle-items .numb span{ color:#e85570; }
.cattle-items .text{ overflow: hidden; height: 18px;}
.cattle-items .text1{ overflow: hidden; height: 36px;}
.cattle-items .pic,
.cattle-items .pic1{ width: 48px; height: 48px; margin-top: 2px; float: left; overflow:hidden; margin-right: 10px; _display: inline;}
/***user pinwei -End- zibu - 20131211***/

/*cloud nav s*/
#cloud-share .bshare-qzone{ background: url(../../images/jiagebaogao/v2/share_01.jpg) no-repeat;}
#cloud-share .bshare-sinaminiblog{ background: url(../../images/jiagebaogao/v2/share_02.jpg) no-repeat;}
#cloud-share .bshare-qqmb{ background: url(../../images/jiagebaogao/v2/share_03.jpg) no-repeat;}
#cloud-share .bshare-renren{ background: url(../../images/jiagebaogao/v2/share_04.jpg) no-repeat;}
#cloud-share a{ padding-left: 27px; display: block; height: 24px; font-size: 12px;}
.cloud-nav{ width: 134px; height: 260px; position: absolute;top: 75px;left: -150px; overflow: hidden; display: none;}
.cloud-fix{ position: fixed;left: 50%;top: 60px;margin-left: -640px;}
.cloud-nav dt{ width: 134px; height: 67px; position: relative; z-index: 2; }
.cloud-nav dt a{ display: block; height: 67px; background-image: url(../../images/jiagebaogao/v2/share-tit.png); background-repeat: no-repeat;_background:none;
                      _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/jiagebaogao/v2/share-tit.png");}

.cloud-nav dd{ display:none;font-size: 12px; padding-left: 19px; width: 90px; padding-top: 14px; height: 190px; position: relative; z-index: 1; top:-20px; margin-left: 14px;}
.cloud-nav .cloud-bg{background: url(../../images/jiagebaogao/v2/share-cont.png) no-repeat;_background:none;  z-index: 0;
                      _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/jiagebaogao/v2/share-cont.png");}
.cloud-nav .cloud-text{ top: -224px;}
.cloud-nav dd a{ color: #666; margin-top: 10px;}
/*cloud nav e*/