/***Layout -Start- gaotian - 20131119***/
.wp{width:980px;margin:0 auto;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,.clear-fix:before{content:" ";display:table;}.clear-fix:after{clear:both;}.clear-fix{*zoom:1;}
.list-h li{float:left;}
img{vertical-align: top;}
.mt4{margin-top:4px;}
.mt6{margin-top:6px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt20{margin-top:20px;}
.mt50{margin-top:50px}
.pz{position:relative;z-index:0}
.txt-center{text-align:center}
a{color:#333}
a:hover{color:#EB7E00}
u,s,small{font-style:normal;font-size:12px;text-decoration:none}
/***Layout -End- gaotian - 20131119***/
.search-tools span{display: inline-block;*display: inline;*zoom: 1;}
.header-search-content label{ display: none;}
/*.header-rearch-submit{height:32px;line-height:32px;*line-height:36px;_line-height:32px;text-align:center;display: inline-block;*display: inline;*zoom: 1;color: #673700; background-color: #FFD48C; }*/
.header-rearch-hotkey,.header-rearch-hotkey a{ color: #fff;}
/***Head -End- gaotian - 20131119***/
/***Crumb -Start- gaotian - 20131119***/
.crumb{padding:20px 0 20px 17px;}
.crumb strong{color:#999;font-weight:normal}
/***Crumb -End- gaotian - 20131119***/
/***Side -Start- gaotian - 20131119***/
.side-menu{float:left;width:198px;padding-bottom:6px;border:1px solid #e4e4e4}
.side-menu li{position:relative;z-index:0;padding:10px 0 10px 46px;line-height:14px;}
.side-menu li:nth-child(2n){background:#f5f5f5}
.side-menu li.odd{background:#f5f5f5}
.side-menu li .side-menu-ico{display:none;position:absolute;top:0;right:100%;z-index:1;width:8px;height:40px;background:url(../../images/jiagebaogao/bg.png) no-repeat;}
.side-menu li.active .side-menu-ico{display:block;}
.side-menu li.active{background:#f4772c;color:#fff}
.side-menu li.active a{color:#fff;}
.side-menu li.no-data,.side-menu li.no-data a{color:#999}
/***Side -End- gaotian - 20131119***/
/***历史最低价 -End- gaotian - 20131119***/
.column-zdj li{display:inline;float:left;width:240px;height:386px;margin-left:20px;color:#666;font-family:Microsoft YaHei, "微软雅黑";line-height:14px;}
.column-zdj .pic,.column-zdj .pic img{width:238px;height:238px;}
.column-zdj .pic{display:block;position:relative;z-index:0;overflow:hidden;margin-bottom:2px;border:1px solid #e4e4e4;transition:border 0.4s ease-in-out}
.column-zdj .pic:hover,.bp-player .pic:hover{border-color:#EB7E00}
.column-zdj .pic small{position:absolute;bottom:-100%;left:0;z-index:1;width:208px;padding:10px 15px;background-color:#000;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);background:rgba(0,0,0,.5);color:#fff;transition:bottom .4s ease-in-out}
.column-zdj .pic:hover small{bottom:0}
.column-zdj small strong{display:block;height:36px;overflow:hidden;word-break:break-all;line-height:18px;}
.column-zdj small span{display:block;margin:2px 0 8px;padding-bottom:16px;border-bottom:1px dashed #fff;}
.column-zdj small b{float:right;font-weight:normal;}
.column-zdj small u{float:right}
.column-zdj li a{color:#666;}
.column-zdj li a:hover,.column-zdj p b,.side-menu li.no-data a:hover,.bp-player .tit:hover{color:#EB7E00}
.column-zdj li p{padding-bottom:6px;}
.column-zdj li p u{float:right;color:#999}
.column-zdj .tit{display:block;width:238px;height:14px;overflow:hidden;margin-top:4px;margin-bottom:11px;white-space:nowrap;text-overflow:ellipsis;}
.column-zdj li .bt_yellow{margin-top:9px;}
.column-zdj li .bt_yellow,.column-zdj li .bt_yellow:hover{color:#fff;}
.column-zdj .page{margin-left:20px;width:auto}
/***历史最低价 -End- gaotian - 20131119***/
/***商家大比拼 -Start- gaotian - 20131119***/
.column-bp .medal{display:inline-block;width:18px;height:16px;margin-right:2px;background-image:url(../../images/jiagebaogao/bg.png);font-size:0;line-height:0;vertical-align:-3px;_vertical-align:-2px}
.medal-gold{background-position:-118px 0}
.medal-silver{background-position:-140px 0}
.medal-bronze{background-position:-160px 0}
.column-bp{display:inline;float:left;width:760px;margin-left:20px;border-top:1px solid #e4e4e4}
.bp-table{width:760px;border:1px solid #e4e4e4;_border-top-color:#fff;line-height:14px;font-family:Arial;text-align:center;}
.bp-table thead th{padding:18px 0;border:1px solid #e4e4e4;border-top-color:#fff;background:#f5f5f5;color:#666;font-weight:bold;font-size:14px;text-align:center;}
.bp-table td{padding:26px 14px;border:1px solid #e4e4e4;}
.bp-player .pic,.bp-player .pic img{width:98px;height:98px;}
.bp-player .pic{float:left;border:1px solid #e4e4e4}
.bp-player .tit{display:inline;float:left;width:110px;margin:4px -20px 0 10px;color:#666;line-height:18px;text-align:left}
.bp-tdCont{height:148px;overflow:hidden;margin:-27px -14px;}
.bp-tdCont table{width:101%;margin:-1px -1px -2px -2px;color:#666;text-align:center;}
.bp-tdCont td{height:60px;border-style:dashed;text-align:center;}
.bp-tdCont .img{height:87px;_height:92px;}
*html .bp-tdCont .img a{display:block;width:110px;height:56px;overflow:hidden;}
.bp-tdCont .img img{_width:110px;max-width:110px;max-height:56px;}
.bp-tdCont b{display:block;padding-bottom:8px;font-weight:normal;font-size:12px;}
.bp-table .price{color:#d50000;font-size:16px;line-height:18px;font-weight:bold;font-family:"Microsoft YaHei",Simhei,Arial;}
.bp-table .price s{margin-right:2px;}
.bp-tdCont td{padding:0}
.column-bp .page{padding:20px 0;}
/***商家大比拼 -End- gaotian - 20131119***/
.l{float:left}
.column-zdj{float:left;width:780px;padding-bottom:20px;}
.bt_yellow{display:inline-block;width:106px;padding:7px 0 8px;background:url(../../images/jiagebaogao/bg.png) no-repeat -10px 0;color:#fff;font-size:12px;line-height:13px;text-align:center;}
.bt_yellow:hover{color:#fff}
.c-gray{color:#666}
.c-grayer,.bp-table .c-grayer{color:#999}




.bnn-v1,.bnn-v1-sunline,.bnn-v1-cont{width:980px;height:488px;}
.bnn-v1{position:relative;z-index:0;margin:0 auto;background:url(../../images/jiagebaogao/v1/bnner-main2.jpg) no-repeat;}
.bnn-v1-sunline,.bnn-v1-cont{position:absolute;top:0;left:0;z-index:1}
@keyframes bnnSumLine {
    0% {
        opacity:1;
    }
    100% {
        opacity:0.2;
    }
}
@-webkit-keyframes bnnSumLine {
    0% {
        opacity:1;
    }
    100% {
        opacity:0.2;
    }
}
@-o-keyframes bnnSumLine {
    0% {
        opacity:1;
    }
    100% {
        opacity:0.2;
    }
}
@-ms-keyframes bnnSumLine {
    0% {
        opacity:1;
    }
    100% {
        opacity:0.2;
    }
}


.bnn-v1-sunline{background-repeat:no-repeat;background-image:url(../../images/jiagebaogao/v1/bnner-main.jpg);
    animation:bnnSumLine .8s ease-in-out 1s infinite alternate;
    -webkit-animation:bnnSumLine 1s ease-in-out 1s infinite alternate;
    -o-animation:bnnSumLine 1s ease-in-out 1s infinite alternate;
    -ms-animation:bnnSumLine 1s ease-in-out 1s infinite alternate;
}
.bnn-v1-cont{}
.mt20{margin-top:20px;}
.pz{position:relative;z-index:0;}
.mauto{margin-right:auto;margin-left:auto;}

.shengfu a,.shengfu,.jiangfu,.jiangfu-cloude{width:980px;height:150px;cursor:default}

.shengfu{overflow:hidden;background:url(../../images/jiagebaogao/v1/shengfu-bg.jpg) no-repeat;_background:url(../../images/jiagebaogao/v1/shengfu.jpg) no-repeat; margin-bottom: 30px;}
@keyframes shengfuFrames {
    0% {transform:scale(0);margin:0 0  -50px -238px;}
    100% {transform:scale(1);}
}
@-webkit-keyframes shengfuFrames {
    0% {-webkit-transform:scale(0);margin:0 0  -50px -190px;}
    100% {-webkit-transform:scale(1);}
}
@-o-keyframes shengfuFrames {
    0% {-o-transform:scale(0);margin:0 0  -50px -238px;}
    100% {-o-transform:scale(1);}
}
@-ms-keyframes shengfuFrames {
    0% {-ms-transform:scale(0);margin:0 0  -50px -238px;}
    100% {-ms-transform:scale(1);}
}
.shengfu-arrows{_display:none;position:absolute;bottom:0;left:0;z-index:1;left:283px;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0}
.shengfu-arrows s{position:absolute;bottom:0;left:0;width:476px;height:132px;background:url(../../images/jiagebaogao/v1/shengfu-arrows.png) no-repeat;
    transform:scale(0);
    -webkit-transform:scale(0);
    -o-transform:scale(0);
    -ms-transform:scale(0);
    zoom:0.1;
}
.animate .shengfu-arrows s{
    margin:0;zoom:1;
    animation:shengfuFrames 1.5s ease-in-out;
    -webkit-animation:shengfuFrames 1.5s ease-in-out;
    -o-animation:shengfuFrames 1.5s ease-in-out;
    -ms-animation:shengfuFrames 1.5s ease-in-out;
    transform:scale(1);
    -webkit-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);

}
.shengfu a{position:absolute;top:0;left:0;z-index:2;background:url(../../images/jiagebaogao/v1/shengfu-txt.png) no-repeat;_background:none;}
.shengfu a u,.jiangfu a u{display:none}

.jiangfu{background:url(../../images/jiagebaogao/v1/jiangfu-bg.jpg) no-repeat; margin-bottom:50px; _background:url(../../images/jiagebaogao/v1/jiangfu.jpg) no-repeat;}
.jiangfu a{position:absolute;top:75px;right:22px;z-index:3;width:176px;height:48px;}
.jiangfu .jiangfu-cloude{_display:none;position:absolute;top:0;left:0;z-index:2;background:url(../../images/jiagebaogao/v1/jiangfu-cloude.png) no-repeat}
.jiangfu-arrows{_display:none;position:absolute;top:0;left:306px;z-index:1;width:0;height:0;font-size:0;line-height:0;}
.jiangfu-arrows s{position:absolute;top:0;left:0;width:443px;height:133px;background:url(../../images/jiagebaogao/v1/jiangfu-arrows.png) no-repeat;
    transform:scale(0);
    -webkit-transform:scale(0);
    -o-transform:scale(0);
    -ms-transform:scale(0);
    zoom:0.1;
}
@keyframes jiangfufuFrames {
    0% {transform:scale(0);margin:-66px 0 0 -221px;}
    100% {transform:scale(1);}
}
@-webkit-keyframes jiangfufuFrames {
    0% {-webkit-transform:scale(0);margin:-66px 0 0 -221px;}
    100% {-webkit-transform:scale(1);}
}
@-o-keyframes jiangfufuFrames {
    0% {-o-transform:scale(0);margin:-66px 0 0 -221px;}
    100% {-o-transform:scale(1);}
}
@-ms-keyframes jiangfufuFrames {
    0% {-ms-transform:scale(0);margin:-66px 0 0 -221px;}
    100% {-ms-transform:scale(1);}
}
.animate .jiangfu-arrows s{
    margin:0;zoom:1;
    animation:jiangfufuFrames 1.5s ease-in-out;
    -webkit-animation:jiangfufuFrames 1.5s ease-in-out;
    -o-animation:jiangfufuFrames 1.5s ease-in-out;
    -ms-animation:jiangfufuFrames 1.5s ease-in-out;
    transform:scale(1);
    -webkit-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
}




.report { padding:0 0 30px;}
.report .panel0 { margin-bottom: 50px;}
.report  .panel1 { width:1061px; height: 190px; background: url("../../images/jiagebaogao/v1/pic1.jpg") no-repeat; position: relative; left:-50px;}
.report  .panel2 {  height: 868px; background: url("../../images/jiagebaogao/v1/pic2.jpg") no-repeat; }
.report  .panel3 { width:1037px;  height: 861px; background: url("../../images/jiagebaogao/v1/pic3.jpg") no-repeat; position: relative; left:-29px; margin-bottom: 30px;}
.report  .panel3 a { width:148px; height: 50px; position: absolute;  display: block; right:62px; top:147px;}

.report  .panel3 .bar { overflow: hidden;  width:536px; height: 34px; position: absolute; left:224px;  background:#f7f7f7; }
.report  .panel3 .bar.bar1 { top:243px;}
.report  .panel3 .bar.bar2 { top:320px;}
.report  .panel3 .bar.bar3 { top:396px;}
.report  .panel3 .bar.bar4 { top:475px;}
.report  .panel3 .bar.bar5 { top:550px;}
.report  .panel3 .bar.bar6 { top:627px;}
.report  .panel3 .bar.bar7 { top:704px;}
.report  .panel3 .bar.bar8 { top:779px;}

.report  .panel3 .bar div { width:536px;  top:0; left:100%; position: absolute;  background: url("../../images/jiagebaogao/v1/bar.png") repeat-x; height: 34px;
    -webkit-transition:all ease-in-out 1.5s;
    -moz-transition:all ease-in-out 1.5s;
    -ms-transition:all ease-in-out 1.5s;
    -o-transition:all ease-in-out 1.5s;
    -transition:all ease-in-out 1.5s;
}

.report  .panel3.animate .bar div {  left:100%; }

.report  .panel3 .bar1 div { background-position: 0 0; }
.report  .panel3 .bar2 div { background-position: 0px -34px;}
.report  .panel3 .bar3 div { background-position: 0px -68px;}
.report  .panel3 .bar4 div { background-position: 0px -102px;}
.report  .panel3 .bar5 div { background-position: 0px -136px;}
.report  .panel3 .bar6 div { background-position: 0px -170px;}
.report  .panel3 .bar7 div { background-position: 0px -204px;}
.report  .panel3 .bar8 div { background-position: 0px -238px;}

.report  .panel3.animate .bar1 div { left:53%; }
.report  .panel3.animate .bar2 div { left:63%; }
.report  .panel3.animate .bar3 div { left:89%; }
.report  .panel3.animate .bar4 div { left:97%; }
.report  .panel3.animate .bar5 div { left:99.95%; }
.report  .panel3.animate .bar6 div { left:99.9%; }
.report  .panel3.animate .bar7 div { left:99.9%; }
.report  .panel3.animate .bar8 div { left:99.9%; }


.report  .panel4 { height: 750px; background: url("../../images/jiagebaogao/v1/pic4.jpg") no-repeat; }
.report  .panel5 { height: 783px; background: url("../../images/jiagebaogao/v1/pic5.jpg") no-repeat; }
.report  .panel6 {  margin-bottom: 70px; }
.report  .panel7 div  { float:left; margin-right: 40px;}
.report  .panel7 div.last { float:right; margin-right: 0; }


.report .panel2 { position: relative;}
.report .chart-content { width:627px; height: 629px; position: absolute; z-index: 1; top:110px; left:195px;}
.report .chart-mask { width:235px; height: 235px; background: url("../../images/jiagebaogao/v1/chart/c0.png") no-repeat; position: absolute; z-index:2; top:305px; left:398px; opacity:0;
    -webkit-transition:all ease .8s;  -moz-transition:all ease .8s;  -ms-transition:all ease .8s; transition:all ease .8s;
    -webkit-transform:scale(0) rotate(180deg);  -moz-transform:scale(0) rotate(180deg);  -ms-transform:scale(0) rotate(180deg);  transform:scale(0) rotate(180deg);
}

.report .animate .chart-mask {  opacity:1;
    -webkit-transform:scale(1) rotate(0deg);  -moz-transform:scale(1) rotate(0deg);  -ms-transform:scale(1) rotate(0deg);  transform:scale(1) rotate(0deg);
}


.report .chart-content .c1,.report .chart-content .c2,.report .chart-content .c3,.report .chart-content .c4,.report .chart-content .c5,.report .chart-content .c6,.report .chart-content .c7,.report .chart-content .c8 {
    width:627px; height: 629px; position: absolute;

    opacity: 0;
    -webkit-transition:all ease 1s; -moz-transition:all ease 1s; -ms-transition:all ease 1s; transition:all ease 1s;
    -webkit-transform:  scale(.1, .1); -moz-transform:  scale(.1, .1); -ms-transform:  scale(.1, .1); transform:  scale(.1, .1);

}

.report .animate .chart-content .c1,.report .animate .chart-content .c2,.report .animate .chart-content .c3,.report .animate .chart-content .c4,.report .animate .chart-content .c5,.report .animate .chart-content .c6,.report .animate .chart-content .c7,.report .animate .chart-content .c8 {  -webkit-transform:scale(1,1);  -moz-transform:scale(1,1); -ms-transform:scale(1,1); transform:scale(1,1); opacity: 1; }
.report .animate .chart-content .c1 {  -webkit-transition-delay:.3s;  -moz-transition-delay:.3s; -ms-transition-delay:.3s; transition-delay:.3s; }
.report .animate .chart-content .c2 {  -webkit-transition-delay:.4s;  -moz-transition-delay:.4s;  -ms-transition-delay:.4s; transition-delay:.4s; }
.report .animate .chart-content .c3 { -webkit-transition-delay:.5s;  -moz-transition-delay:.5s;  -ms-transition-delay:.5s; transition-delay:.5s; }
.report .animate .chart-content .c4 { -webkit-transition-delay:.6s; -moz-transition-delay:.6s; -ms-transition-delay:.6s; transition-delay:.6s; }
.report .animate .chart-content .c5 {  -webkit-transition-delay:.7s; -moz-transition-delay:.7s; -ms-transition-delay:.7s; transition-delay:.7s; }
.report .animate .chart-content .c6 {   -webkit-transition-delay:.8s; -moz-transition-delay:.8s; -ms-transition-delay:.8s; transition-delay:.8s; }
.report .animate .chart-content .c7 {  -webkit-transition-delay:.9s; -moz-transition-delay:.9s; -ms-transition-delay:.9s; transition-delay:.9s;}
.report .animate .chart-content .c8{   -webkit-transition-delay:1s; -moz-transition-delay:1s; -ms-transition-delay:1s; transition-delay:1s; }


.report .chart-content .c1 {background: url("../../images/jiagebaogao/v1/chart/c1.png") no-repeat; z-index: 1; }
.report .chart-content .c2 {background: url("../../images/jiagebaogao/v1/chart/c2.png") no-repeat; z-index: 2;  }
.report .chart-content .c3 {background: url("../../images/jiagebaogao/v1/chart/c3.png") no-repeat; z-index: 3;  }
.report .chart-content .c4 {background: url("../../images/jiagebaogao/v1/chart/c4.png") no-repeat; z-index: 4;  }
.report .chart-content .c5 {background: url("../../images/jiagebaogao/v1/chart/c5.png") no-repeat; z-index: 5;  }
.report .chart-content .c6 {background: url("../../images/jiagebaogao/v1/chart/c6.png") no-repeat; z-index: 6;  }
.report .chart-content .c7 {background: url("../../images/jiagebaogao/v1/chart/c7.png") no-repeat; z-index: 7;  }
.report .chart-content .c8 {background: url("../../images/jiagebaogao/v1/chart/c8.png") no-repeat; z-index: 8;  }


.report .panel2 .i1,.report .panel2 .i2,.report .panel2 .i3,.report .panel2 .i4,.report .panel2 .i5,.report .panel2 .i6,.report .panel2 .i7,.report .panel2 .i8 {
    position: absolute; z-index: 10;
    opacity: 0;
     -webkit-transition:all ease .7s; -moz-transition:all ease .7s; -ms-transition:all ease .7s; transition:all ease .7s;
}

.report .panel2 .i1 { width:176px; height: 113px; background: url("../../images/jiagebaogao/v1/chart/i1.png"); left:630px; top:23px; }
.report .panel2 .i2 { width:167px; height: 186px; background: url("../../images/jiagebaogao/v1/chart/i2.png");  left:831px; top:68px; }
.report .panel2 .i3 { width:190px; height: 101px; background: url("../../images/jiagebaogao/v1/chart/i3.png");  left:849px; top:180px; }
.report .panel2 .i4 { width:209px; height: 78px;background: url("../../images/jiagebaogao/v1/chart/i4.png");  left:866px; top:284px; }
.report .panel2 .i5 { width:200px; height: 113px;background: url("../../images/jiagebaogao/v1/chart/i5.png");  left:882px; top:373px; }
.report .panel2 .i6 { width:196px; height: 164px;background: url("../../images/jiagebaogao/v1/chart/i6.png");  left:882px; top:463px; }
.report .panel2 .i7 { width:229px; height: 199px; background: url("../../images/jiagebaogao/v1/chart/i7.png"); left:844px; top:573px; }
.report .panel2 .i8 { width:265px; height: 155px; background: url("../../images/jiagebaogao/v1/chart/i8.png"); left:-40px; top:173px; }


.report .panel2.animate .i1,.report .panel2.animate .i2,.report .panel2.animate .i3,.report .panel2.animate .i4,.report .panel2.animate .i5,.report .panel2.animate .i6,.report .panel2.animate .i7,.report .panel2.animate .i8 {
    opacity: 1; }

.report .panel2.animate .i1 {  -webkit-transition-delay:1s;  -moz-transition-delay:1s; -ms-transition-delay:1s; transition-delay:1s; left:560px; }
.report .panel2.animate .i2 {  -webkit-transition-delay:1.1s;  -moz-transition-delay:1.1s; -ms-transition-delay:1.1s; transition-delay:1.1s; left:751px; }
.report .panel2.animate .i3 {  -webkit-transition-delay:1.2s;  -moz-transition-delay:1.2s; -ms-transition-delay:1.2s; transition-delay:1.2s; left:769px; }
.report .panel2.animate .i4 {  -webkit-transition-delay:1.3s;  -moz-transition-delay:1.3s; -ms-transition-delay:1.3s; transition-delay:1.3s; left:786px; }
.report .panel2.animate .i5 {  -webkit-transition-delay:1.4s;  -moz-transition-delay:1.4s; -ms-transition-delay:1.4s; transition-delay:1.4s; left:802px; }
.report .panel2.animate .i6 {  -webkit-transition-delay:1.5s;  -moz-transition-delay:1.5s; -ms-transition-delay:1.5s; transition-delay:1.5s; left:802px; }
.report .panel2.animate .i7 {  -webkit-transition-delay:1.6s;  -moz-transition-delay:1.6s; -ms-transition-delay:1.6s; transition-delay:1.6s; left:764px; }
.report .panel2.animate .i8 {  -webkit-transition-delay:1.7s;  -moz-transition-delay:1.7s; -ms-transition-delay:1.7s; transition-delay:1.7s; left:72px; }
