.bottom-banner,
.left-toolbar {
  display: none!important;
}
.head .nav-list li,
.nav-list li a {
  width: 112px;
}
.head .nav-list a,
.head .nav-list a:hover {
  font-size: 14px;
  color: #fff;
  box-shadow: none;
}
.head .nav-list .cur a,
.head .nav-list .cur a:hover {
  color: #5a5a5a;
}
.header-rearch-submit,
.header-nav-box {
  background: #0fb996;
}
.header-nav-back s {
  border-left-color: #0fb996;
}
.page a:hover {
  color: #fff;
  background-color: #0fb996;
  background-image: none;
  border-color: #0fb996;
  text-decoration: none;
  box-shadow: none;
}
.page .cur {
  color: #fff;
  background: #0fb996;
  font-family: arial;
  border-radius: 3px;
  cursor: default;
  border: 1px solid #0fb996;
}
.page .page-input input {
  width: 41px;
  text-align: center;
  padding: 2px 0;
  height: 14px;
  line-height: 14px;
  float: left;
  vertical-align: middle;
  color: #999;
  font-size: 12px;
  border: 1px solid #00ac8a;
}
.page .page-input a {
  width: 29px;
  height: 18px;
  float: left;
  color: #fff;
  background: #0fb996;
  border: 1px solid #00ac8a;
  line-height: 18px;
  margin: 0;
  border-radius: 0 3px 3px 0;
  box-shadow: none;
}
.header-nav-box li {
  border-color: #00ac8a;
}
.gzx-dh {
  height: 31px;
  width: 238px;
  border: 1px solid #f0f0f0;
  border-right: 0;
  margin: 23px 0 0 0;
}
.gzx-dh a {
  float: left;
  color: #666666;
  font-size: 14px;
  width: 118px;
  text-align: center;
  line-height: 30px;
  border-right: 1px solid #f0f0f0;
}
.onm {
  border-top: 3px solid #0fb995;
  font-weight: bold;
  background-color: #f2f2f2;
  margin: -3px 0 0 0;
  height: 32px;
}
.onm em {
  width: 12px;
  height: 6px;
  display: inline-block;
  margin: 0 0 0 10px;
  background: url("/static/images/gouzhenxiang/gzx-bgd.png") no-repeat -21px -97px;
}
.gzx-dxk {
  background-color: #f2f2f2;
  padding: 14px 22px 12px 22px;
  margin: 0 0 12px 0;
}
.gzx-dxk-mid {
  overflow: hidden;
}
.gzx-dxk-xz {
  border-top: 1px dashed #e1e1e1;
  display: block;
  padding: 10px 0 0 0;
  margin: -1px 0 8px 0;
}
.gzx-dxk-xz a {
  color: #666;
  width: 85px;
  float: left;
}
.gzx-dxk-xz a em,
.gzx-dxk-xz .gzx-xz-on em {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
  background: url("/static/images/gouzhenxiang/gzx-bgd.png") no-repeat left top;
}
.gzx-dxk-xz .gzx-xz-on em {
  background-position: left -19px;
}
.gzx-xzf a {
  width: auto;
  border-right: 1px solid #d9d9d9;
  margin: 0 12px 0 0;
  padding: 0 14px 0 0;
}
.gzx-xzf a:hover {
  color: #f18100;
}
.gzx-xzf .gzxbord {
  border-right: 0;
}
.gzx-list {
  margin: 0 0 16px 0;
  position: relative;
}
.grid {
  width: 234px;
  border: 1px solid #f2f1f1;
  float: left;
  position: absolute;
  overflow: hidden;
}
.grid:hover {
  box-shadow: 0 0 2px 2px #dedddd;
}
.grid:hover .gdfcdw {
  top: 0;
}
.gdpic {
  width: 234px;
  height: 234px;
  display: block;
}
.gdzt {
  color: #333;
  margin: 12px 0;
  padding: 0 8px;
  display: block;
}
.gd-numbwz,
.gdprice {
  display: block;
  height: 20px;
  margin: 0 0 10px 0;
  padding: 0 8px;
}
.gdjgsz {
  float: left;
  color: #f18100;
  line-height: 20px;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  font-weight: bold;
}
.gdjgsz em {
  width: 13px;
  height: 8px;
  display: inline-block;
  vertical-align: 2px;
  margin: 0 0 0 8px;
  background: url("/static/images/gouzhenxiang/gzx-bgd.png") no-repeat left -95px;
}
.gdwph {
  float: right;
  color: #666666;
}
.gdprice {
  height: auto;
  margin: 0 0 15px 0;
}
.gdprice p {
  color: #999999;
}
.gdprice p span {
  text-decoration: line-through;
  font-family: "Microsoft YaHei";
}
.gdprice p span dfn {
  font-family: "arial";
}
.gdpric p span {
  width: 62px;
  display: inline-block;
  text-decoration: none;
}
.gdbglj {
  border-top: 1px solid #f0efef;
  background-color: #f6f4f5;
}
.gdbglj span {
  padding: 12px 0 6px 10px;
  overflow: hidden;
  display: block;
}
.gdbglj span a {
  border: 1px solid #fadfbd;
  white-space: nowrap;
  float: left;
  height: 18px;
  line-height: 18px;
  border-radius: 2px;
  padding: 0 5px;
  background-color: #f9edde;
  color: #f18100;
  font-family: "SimSun";
  margin: 0 5px 6px 0;
}
.gdbglj span a:hover {
  background-color: #fffcf8;
}
.gdbglj span .gdon {
  background-color: #f18101;
  color: #fff;
  border-color: #f18101;
}
.gdbglj span .gdon:hover {
  background-color: #fe8801;
}
.loding {
  height: 32px;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  background: url("http://staticcdn.b5m.com/static/images/common/ajax-loader.gif") no-repeat center 0;
}
.gdfcdw {
  position: absolute;
  height: 41px;
  width: 234px;
  top: -45px;
  left: 0;
}
.gdfc {
  height: 41px;
  width: 234px;
  display: block;
  background: #fff;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  top: 0;
  left: 0;
}
.gdfcnr {
  position: absolute;
  top: 0;
  left: 0;
  width: 234px;
}
.gdcgxhb {
  color: #666;
  line-height: 41px;
  margin-left: 50px;
  float: left;
}
.gdlgsb {
  float: right;
  margin: 8px 10px 0 0;
}
.gdlgsb a {
  width: 24px;
  height: 24px;
  margin-left: 2px;
  float: left;
  background: url("/static/images/gouzhenxiang/gzx-bgd.png") no-repeat;
}
.gdlgsb .qqkj {
  background-position: left -38px;
}
.gdlgsb .xinlang {
  background-position: -26px -38px;
}
.gdlgsb .weib {
  background-position: left -67px;
}
.gdlgsb .weix {
  background-position: -26px -67px;
}
.gzx-aifx {
  width: 618px;
  background-color: #fff;
  margin: 0 0 20px 0;
}
.gzx-aftt {
  height: 36px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #eeeeee;
}
.gzx-aftt span {
  float: left;
  font-size: 16px;
  color: #333;
  font-family: "Microsoft YaHei";
  line-height: 36px;
  margin-left: 15px;
}
.gzx-aftt a {
  float: right;
  margin: 11px 14px 0 0;
  width: 13px;
  height: 13px;
  background: url("/static/images/gouzhenxiang/gzx-bgd.png") no-repeat -37px -19px;
}
.gzx-afmid {
  padding: 12px 14px 16px 14px;
}
.gzx-afml {
  float: left;
  width: 236px;
}
.gzx-afml .grid {
  background-color: #fff;
  position: static;
}
.gzx-afmr {
  float: right;
}
.gzaf-bord {
  width: 323px;
  height: 204px;
  border: 1px solid #ebebeb;
  background-color: #fcfcfc;
  padding: 9px 0 0 14px;
}
.gzaf-bord span {
  display: block;
  line-height: 22px;
  margin: 0 0 6px 0;
  width: 306px;
}
.gzaf-bord a,
.gzaf-bord dfn {
  color: #0b72ca;
}
.yijfx {
  width: 138px;
  height: 47px;
  display: block;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 47px;
  margin: 25px 0 0 90px;
  background: url("/static/images/gouzhenxiang/gzx-bot.png") no-repeat 0 0;
}
.jiangjia {
  color: #ff0101;
  margin: 0 5px 0 0;
}
.jiangjia em {
  font-family: "Microsoft YaHei";
}
.gzx-dwfc {
  width: 502px;
  background-color: #fefefe;
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 2px 2px #dcdcdc;
  position: relative;
}
.gzx-dwfc .wzljbf {
  margin: 26px 0 5px 15px;
  display: block;
  display: inline-block;
  width: 492px;
}
.gzx-dwfc .wzljbf a {
  margin: 0 28px 14px 0;
  float: left;
  color: #666666;
}
.gzx-dwfc .wzljbf .snon {
  background-color: #e7e7e7;
  padding: 4px 9px;
  margin: -5px 28px 0 0;
}
.gzx-dwfjt {
  width: 11px;
  height: 9px;
  position: absolute;
  left: 22px;
  top: -9px;
  background: url("/static/images/gouzhenxiang/gzx-bgd.png") no-repeat -39px top;
}
