/*
	Document   : 广告平台中心
    Created on : 2014-1-8, 10:30;
    Author     : zibu
    Description: login.html
    Purpose of the stylesheet follows.
 */
/*hearder Start*/
.topbar-user span,
.topbar-user a{ display: none;}
.topbar-user a.J_addFav{ display: block; margin-left: 150px;}
.header{ padding-top: 18px; height: 72px; overflow: hidden;}
.header h1{ float: left;}
.topbar-more span,
.topbar-more a{ display: block;}
.left-toolbar{ display:none!important;}
/*hearder End*/
.bottom-banner{ display: none!important;}
.marb20{ margin-bottom: 20px;}
/*login page Start*/
.icon{ background-image:url(../../../images/guanggaoyingxiao/v1/ggyx-icon.png); _background-image:url(../../../images/guanggaoyingxiao/v1/ggyx-icon8.png); background-repeat: no-repeat; }
.login-main{ height: 281px; border: 1px #c9c9c9 solid; margin: 65px auto 120px; overflow: hidden;}
.login-w{ width: 306px; overflow: hidden;}
.login-w h2{ height: 56px; text-align: center; font: normal 18px/56px "Microsoft YaHei"; color: #ff9c0f;}
.login-w .l-ul{ margin-top: 10px; padding: 0 28px;}
.login-w .l-ul li{ width: 100%; height: 50px; position: relative;}
.login-w .l-ul li .srk,
.login-w .l-ul li label,
.login-w .l-ul .tip{ position: absolute;}
.login-w .l-ul li .srk{ width: 100%; height: 23px; border: 1px #ddd solid; line-height: 23px; padding: 5px 0; text-indent: 56px; color: #999999;}
.login-w .l-ul li label{ width: 46px; height: 31px; border: 1px #f0930e solid; border-right: none; left: 1px; top: 1px; background: #ff9c0f; line-height: 31px; font-size: 14px; font-weight:bold; color: #fff; text-align:center;}
.login-w .l-ul .tip{ top: 35px; width: 240px; padding-left: 8px; height: 18px; line-height: 18px; color: #fff; background: #ffcd87; border: 1px #ffb57f solid;}
.login-w .l-ul .login-btn{ margin-top: 20px; height: 65px; border: none;}
.login-w .login-btn .text{ line-height: 18px; height: 18px; overflow: hidden; color: #999;}
.login-w .login-btn .text span{ color: #666;}
.login-w .login-btn .text a{ float: right; color: #ff9c0f;}
.login-w .login-btn .text a:hover{ text-decoration: underline;}
.login-w .login-btn .btn{ margin-top: 5px;}
.login-w .login-btn .sub-btn{ width: 250px; height: 42px; border: none; background-position: left top; cursor:pointer;}
.login-w .login-btn .sub-btn:hover{background-position: left -43px;}
.login-ban{ width: 672px;}
.login-ban img{ width: 672px; height: 281px;}
/*login page End*/
/*main page Start*/
.wel-user{ float: right; margin-top: 58px; line-height: 14px; color: #999;}
.wel-user a{color: #999; margin-left: 5px;}
.ggpt-maint{ border: 1px #c9c9c9 solid; margin-top: 20px;}
.user-data{ width: 680px; padding: 30px 0 15px 20px;}
.user-data dt{ width: 84px; height: 84px; margin-top: -10px; float: left; border: 1px #c9c9c9 solid; margin-right: 10px; _display: inline;}
.user-data dt img{ width: 84px; height: 84px;}
.user-data dd{ float:left; width: 292px; line-height: 22px;}
.user-data dd a{ color: #197cc9;}
.user-r{ width: 270px; float: left; padding-top: 42px;}
.user-r .more-mx{ width: 70px; float: left;}
.user-r .more-mx dt{ display: block; height: 36px; overflow: hidden; position:relative;}
.user-r .more-mx dt span{ float: left; margin-top: 10px;}
.user-r .more-mx dt b{ width: 0; height: 0; line-height: 0; top: 17px; position:absolute; right: 6px; overflow: hidden; border:5px solid; border-color:#999 transparent transparent transparent;}
.user-r a.cz-btn{ width: 96px; height: 36px; background-position: left -86px; float:left;}
.user-r a.cz-btn:hover{background-position: -98px -86px; }

.ggpt-maint .cont-dh{ height: 29px; border-top: 1px #dadada solid; background:#e9e9e9;}
.ggpt-maint .cont-dh li{ color: #999; float: left; width: 49%; line-height: 29px;}
.ggpt-maint .cont-dh li p{ padding-left: 26px; background-position: 6px -134px;}
.ggpt-maint .cont-dh li span{ color: #666;}

.ggpt-mainb{ margin-top: 30px;}
.tab-tit{ height: 35px; border-top: 2px #eb7e00 solid; background: #fcfcfc;
	-webkit-box-shadow: 0 2px 3px #e4e4e4;
	-moz-box-shadow: 0 2px 3px #e4e4e4;
	-ms-box-shadow: 0 2px 3px #e4e4e4;
	box-shadow: 0 2px 3px #e4e4e4;}
.tab-tit li{ float: left; width: 96px; text-align: center; line-height: 35px;}
.tab-tit li a{ color: #000000; font:normal 14px/35px "Microsoft YaHei"; display: block; height: 35px;}
.tab-tit li.cur{background: #eb7e00;}
.tab-tit li.cur a{ color: #fff; }
.table-w{ padding:20px 35px 0; }
.table-w .table-m{ border-left: 1px #c9c9c9 solid; border-top: 1px #c9c9c9 solid; width: 99%; text-align: center;}
.table-w .table-m thead td{ background: #e9e9e9; color: #333333;}
.table-w .table-m td{ width: 20%; color: #eb7e00; border-right: 1px #c9c9c9 solid; border-bottom: 1px #c9c9c9 solid; line-height: 29px; }
.his-numb{ margin-top: 20px; padding: 0 35px;}
.his-numb .sele span,
.his-numb .sele select{ float: left; line-height: 20px; margin-right: 5px; _display: inline;}
.his-numb .raido input{ width: 14px; height: 14px; float: left; margin-top: 1px;_display: inline;}
.his-numb .raido span{ float: left; line-height: 14px; margin-right: 10px; _display: inline;}
.numb-pic{ width: 680px; height: 210px; margin: 20px auto 0;}
.gg-mainb-l{ width: 748px; height: 440px; border: 1px #c9c9c9 solid; overflow: hidden;}
.gg-mainb-r{ width: 210px;}
/*main page End*/
/*forgot password page Start*/
.forgot-main{ margin-top: 50px;}
.forgot-main h2{ font:normal 20px "Microsoft YaHei"; color: #333;}
.forgot-main .step{margin-top: 10px;}
.forgot-main .step li{ width: 292px; float: left; _display: inline; margin-left: 10px; position: relative; height: 62px;}
.forgot-main .step .one{ width: 62px; width: 33px;}
.forgot-main .numb{ position: absolute; right: 0; }
.forgot-main .online{ width: 248px; height: 3px; overflow: hidden; background: #cbcbcb; position: absolute; top: 18px; left: 0;}
.forgot-main .numb b{ background-position: left -235px; width: 33px; height: 39px; display: block; text-align: center;  font:normal 20px/39px "Microsoft YaHei"; color: #fff;}
.forgot-main .numb span{ text-align: center; display: block; color: #666666; font-size: 14px; margin-left: -28px; width: 90px; position: absolute; font:normal 14px/18px "Microsoft YaHei";}
.forgot-main .cur .numb b{ background-position: -34px -235px;}
.forgot-main .cur .numb span{ color: #eb7e00;}
.forgot-main .cur .online{ background: #eb7e00;}
.forgot-main .f-from{ padding: 40px 0 0 305px;}
.forgot-main .f-from label{ float: left; line-height: 36px; color: #666666; width: 40px;}
.forgot-main .f-from .email-srk{ padding: 5px;float: left; line-height: 24px; border: 1px #b2b2b2 solid; box-shadow: 0 0 5px #d4d4d4 inset; height: 24px; width: 248px;}
.forgot-main .f-from span{ line-height: 36px; float: left; color: #eb7e00; margin-left: 10px; _display: inline;}
.forgot-main .f-from .tip{ padding-left: 40px; line-height: 24px; color: #999999;}
.forgot-main .f-from .submit{ background-position: left -179px; margin-left: 40px; margin-top: 10px; width: 106px; height: 36px; text-align: center; font:normal 16px/36px "Microsoft YaHei"; color: #fff; border: none;}
.forgot-main .f-from .submit:hover{background-position: -107px -179px;}
.forgot-main .f-email{ color: #333; padding-left: 40px; }
.forgot-main .f-email strong{ font:normal 24px "Microsoft YaHei";}
.forgot-main .f-email p{ line-height: 24px; padding-top: 10px;}
.forgot-main .f-email p a{ color: #ff9500;}
.forgot-main .nomail{ margin-top: 20px; border-top: 1px #e7e7e7 dotted; padding: 20px 0 0 342px;}
.forgot-main .nomail dt{ color: #000; margin-bottom: 10px;}
.forgot-main .nomail dd{ line-height: 26px; color: #999;}
.forgot-main .nomail dd a{ color: #3f7cec;}
.forgot-main .f-from3 label{ width: 60px; text-align: right;}
.forgot-main .f-from3 li{ margin-bottom: 30px;}
.forgot-main .f-from3 .submit{ margin-left: 60px; margin-top: 0;}
.forgot-main .yz-over{ padding: 80px 0 0 350px;}
.forgot-main .yz-over dt{ float: left; _display: inline; margin-right: 22px;}
.forgot-main .yz-over b{ display: block; font-size: 14px; color: #50a40d;}
.forgot-main .yz-over p{ color: #333333;}
.forgot-main .yz-over p a{ color: #3f7cec;}
.change-data{ padding: 85px 0 0 250px;}
.change-data h3{ border-left: 6px #eb7e00 solid;color: #333333; height: 22px; padding-left: 5px; font:normal 18px/22px "Microsoft YaHei";}
.date-items{ margin-top: 25px;}
.date-items dt{ width: 104px; float: left; display: inline; margin-right: 42px;}
.date-items dt .pic{ width: 94px; height: 94px; padding: 4px;border-radius: 3px; border: 1px #f6f6f6 solid; box-shadow: 0 0 4px #f6f6f6;}
.date-items dt .pic img{width: 94px; height: 94px;}
.date-items dt .btn{ margin-top: 10px;}
.date-items dt .btn a{ height: 102px; height: 27px; text-align: center; line-height: 27px; color: #666; display: block; border-radius: 5px; background: #ffffff; border: 1px #a7a7a7 solid;}
.date-items dt .btn a:hover{ background: #f6f6f6;}
.date-items dd{ height: 22px; line-height: 22px; overflow: hidden; width: 330px; color: #666666;}
.date-items dd label,
.date-items dd span,
.date-items dd input{ float: left; height: 20px;}
.date-items dd input{ border:1px #b2b2b2 solid; width: 170px; padding: 0 5px;}
.date-items dd label{ color: #333;}
.date-items dd a{ float: right; color: #3f7cec; text-decoration: underline;}
/*forgot password page End*/
/*pay page Start*/
.pay-tit{font:normal 24px "Microsoft YaHei"; color: #333; margin-top: 30px;}
.note-tip{ margin-top: 10px; border: 1px #e6ccae solid; background: #fff9d7;}
.note-tip p{ line-height: 28px; padding-left: 30px; background-position: 10px -288px; color: #333;}
.pay-main{ border: 1px #c8c8c8 solid; margin-top: 10px; box-shadow: 0 0 3px #e9e9e9;}
.pay-main .tit{ line-height: 45px; background-position: left -413px; background-repeat: repeat-x; border-bottom: 1px #cccccc solid;}
.pay-main .tit p{ background-position: 7px -319px; padding-left: 24px;}
.pay-main .tit p b{ color: #eb7e00;}
.pay-main .hf-sele{ padding: 20px 0 20px 30px;}
.pay-main .hf-sele li{ width: 345px; float: left;}
.pay-main .hf-sele input{ width: 14px; height: 14px; float: left; _display: inline; margin-right: 10px; margin-top: 14px;}
.pay-main .hf-sele label{ width: 194px; height: 43px; float: left; background-position: left -460px; text-align: center; font:normal 18px/43px "Microsoft YaHei"; }
.pay-main .hf-sele label em,
.pay-main .hf-sele label span{ color: #eb7e00;}
.pay-main .hf-sele label span{ font-size: 16px; margin-left: 6px;}
.pay-main .hf-sele .active label{ background-position: left -504px;}
.pay-main .qy-hf{ padding: 10px 0 20px 55px;}
.pay-main .qy-hf span{ float: left; _display: inline;}
.pay-main .qy-hf .qy-btn{ margin-right: 20px; width: 194px; height: 43px; background-position: left -548px; text-align: center; font:normal 18px/43px "Microsoft YaHei"; }
.pay-main .qy-hf .maniy{ width: 202px;}
.pay-main .qy-hf .maniy span{ line-height: 43px;}
.pay-main .qy-hf .maniy .mn-text{ text-align:center; float: left; width: 132px; height: 20px; margin: 5px 5px 0 0; line-height: 20px; padding: 5px 0; border: 1px #ddd solid;}
.pay-main .qy-hf .tip{ padding: 0 14px; border: 1px #f17676 solid; background: #ffe9e6; line-height: 30px; margin-top: 5px; color: #ff0000;}
.pay-main .facture{ padding: 10px 0 10px 30px;  }
.pay-main .fac-min{height: 14px; overflow: hidden;}
.pay-main .fac-min input{ width: 14px; height: 14px; float: left; margin-right: 5px; display: inline;}
.pay-main .fac-min p{ float: left; line-height: 12px;}
.pay-main .fac-min p a{ color: #007fd9;}
.pay-main .ready{ background: #f6f6f6; padding: 15px 0px 30px 30px; border-top: 1px #dcdcdc dashed;}
.pay-main .sure-btn{ padding: 10px 0 0 0;}
.pay-main .sure-btn a{ width: 106px; height: 36px; display: block; background-position: left -179px; color: #fff; text-align: center; font-size: 14px; line-height: 36px; font-weight: bold;}
.pay-main .sure-btn a:hover{ background-position: -107px -179px;}
.fac-main{ display: none; width:910px; border: 1px #d0d0d0 solid; padding: 10px; margin-top: 15px; position: relative;}
.sm-tip{ background: #fff9d7; border: 1px #e6ccae solid; line-height: 28px;}
.sm-tip p{ padding-left: 30px; color: #fa705a; background-position: 9px -365px;}
.fac-main .arr{ position: absolute; width: 20px; height: 11px; left: 40px; top: -11px; background-position: right -87px;}
.fac-main .fac-ul{ padding-top: 10px;}
.fac-main .fac-ul li{ overflow: hidden; height: 28px; margin-bottom: 10px;}
.fac-main .fac-ul label,
.fac-main .fac-ul input,
.fac-main .fac-ul span{ float: left; _display: inline;}
.fac-main .fac-ul label{ line-height: 28px;}
.fac-main .fac-ul span{ line-height: 12px; margin-top: 8px; margin-right: 10px;}
.fac-main .fac-ul .re{ width: 14px; height: 14px; margin-top: 8px;}
.fac-main .fac-ul .te-srk{ width: 470px; height: 20px; line-height: 20px; color: #999; border: 1px #d4d4d4 solid; padding: 3px 5px;}
.fac-main .fac-ul .cur{ border-color:#878787; color: #333;}
.fac-main .fac-ul li.s-btn{ height: 32px; margin: 10px 0 5px 0;}
.fac-main .fac-ul .sure-btn{ width: 86px; height: 31px; display: block; border: none; text-align: center; background-position: -71px -239px; cursor: pointer;}
.fac-main .fac-ul .sure-btn:hover{background-position: -158px -239px;}
/*pay page End*/

.ggpt-nav{ height: 47px; width: 100%; background: #ff8901; margin-top: 20px;}
.ggpt-nav li{ line-height: 47px; font-family: 'microsoft yahei'; font-size: 14px; float: left; width: 100px; text-align: center;}
.ggpt-nav li a{ color: #fff; height: 47px; display: block;}
.ggpt-nav li a:hover,
.ggpt-nav li a.cur{ background: #f57301;}

.pub-top{ height: 90px; padding-top: 15px;}
.pub-main{padding-bottom: 34px;}
.pub-main .title{ line-height: 50px; height: 50px; font-family: 'microsoft yahei'; font-size: 18px;}
.pub-main .title p{ float: right; color: #999; font-size: 14px;}
.pub-main .title strong{ color: #999; font-weight: normal;}
.pub-main .main{ background: #fff; border: 1px #e7e7e7 solid; padding: 20px; border-radius:3px; box-shadow: 0 0 5px #e7e7e7;}
.pub-cont{ padding: 20px;}
.pub-cont h3{ font-size: 20px; border-bottom: 2px #a3a3a3 solid; padding-bottom: 8px; font-family: 'microsoft yahei';}
.pub-cont .text-srk{ border: 1px #dcdcdc solid; line-height: 24px; padding: 2px; height: 24px;  box-shadow: 1px 1px 2px #e7e7e7 inset; width: 260px; float: left; _display:inline;}
.pub-cont ul{ padding:0 0 20px 0;}
.pub-cont li{ padding-left: 214px; overflow: hidden; zoom:1; margin-top: 20px;}
.pub-cont li label{ width: 100px; float: left; margin-left: -100px; text-align: right; line-height: 30px; color:#666;}
.pub-cont li span{ color: #666; float: left; line-height: 30px;}
.pub-cont li select{ line-height: 28px; border: 1px #ddd solid; padding: 0 5px; height: 28px;}
.pub-cont li .pic{ width: 258px; height: 258px; border: 1px #dcdcdc solid; background: #f4f4f4;}
.pub-cont li .file-wp{ padding-top: 10px; overflow: hidden; height: 30px;}
.pub-cont li .file-input{ width: 160px; height: 24px; float: left; margin-right: 10px;}
.pub-cont li .file-btn{ width: 78px; height: 22px; line-height: 22px; text-align: center; background: #efefef; border: 1px #b9b9b9 solid; float: left; color: #333;}
.pub-cont .price{ width: 80px; margin-right: 20px;}
.pub-cont .link{ width: 500px;}
.pub-cont .textarea{ width: 500px; height: 150px; box-shadow: 1px 1px 2px #e7e7e7 inset; border: 1px #dcdcdc solid; line-height: 20px; padding: 5px;}
.pub-cont .btn{ width: 78px; height: 32px; text-align: center; line-height: 32px; border: none; background: #eb7e00; color: #fff; font-size: 14px; font-family: 'microsoft yahei'; cursor: pointer;}

.add-btn a{ width: 150px; height: 50px; display: block; text-align: center; line-height: 50px; color: #fff; background: #e15900; border-radius: 8px; font-size: 18px; font-family: 'microsoft yahei';}
.pic-table{ width: 100%; margin-top: 20px;}
.pic-table th{ padding-left: 10px; background: #f5f5f5; height: 30px; line-height: 31px; border-bottom: 1px #d1d1d1 dotted; color: #999;}
.pic-table td{ padding: 10px 0 10px 10px; }
.pic-table td .img{ width: 98px; height: 98px; border:1px #ddd solid;}
.pic-table .text{ color: #999;}
.pic-table td a{ color: #0099cc;}
.pic-table .even td{ background: #f5f5f5; border-top:1px #e4e4e4 solid; }

/*20140414 zibu s*/
.statis-cont{ border: 1px #dedede solid; background: #fafafa; border-top: 4px #ff8901 solid; margin-top: 15px; padding-bottom: 20px;}
.statis-cont .htit{ padding-left: 15px; line-height: 42px; height: 42px; background: #ececec; border-bottom:1px #dedede solid; font-size: 14px; font-weight: bold; color: #666666;}
.sele-time{ margin: 15px 15px;}
.sele-time span ,
.sele-time input{ float: left;}
.sele-time span{ line-height: 26px; font-size: 14px;}
.sele-time input{ line-height: 24px; height: 24px;border:1px #cfcfcf solid; margin: 0 5px; width: 80px; padding-left: 5px;}
.sele-time span.xx-line{ color: #999;}
.sele-time span.goods-name{ margin-left: 30px;}
.sele-time input.goods-input{ width: 150px;}
.sele-time input.query-btn{ width: 74px; height: 26px; border: none; background: #ff8901; color: #fff; border-radius: 3px; line-height: 26px; font-family:'microsoft yahei'; font-size: 14px; cursor: pointer;}
.sele-time input.query-btn:hover{ background: #fb4e01;}
.query-list{ padding:0 15px; }
.query-list .table-list{ width: 100%; text-align: center; border-top: 1px #dedede solid;border-left: 1px #dedede solid;}
.query-list .table-list thead td{ position: relative; background: #e2e2e2; line-height: 38px; height: 38px; font-size: 16px; font-family: 'microsoft yahei';}
.query-list .table-list td{border-right: 1px #dedede solid;border-bottom: 1px #e2e2e2 solid; width: 160px;}
.query-list .table-list thead td a{ color: #333333; width: 100%; height: 38px; position:relative; top: 0; left: 0; float: left;}
.query-list .table-list thead td a.cur{ border: 1px #e2e2e2 solid; background: #f8f8f8; top: -1px; left: -1px; color: #ff8901; margin: -1px; box-shadow: 0 0 2px 2px #ddd; z-index: 3;}
.query-list .table-list thead td i{ width: 9px; height: 13px; display: inline-block; margin-left: 4px; background: url("../../../images/guanggaoyingxiao/v1/arr-icon.png") no-repeat;}
.query-list .table-list thead td i.down{ background-position: -9px top;}
.query-list .table-list thead td .cur i.down{ background-position: left top;}
.query-list .table-list thead td i.up{ background-position: -9px -13px;}
.query-list .table-list thead td .cur i.up{ background-position: left -13px;}
.query-list .table-list tbody td{ padding:10px 0; background:#ffffff;}
.query-list .table-list tbody td:hover{ background: #f6f6f6;}
.query-list .table-list tbody tr:nth-child(even) td{background: #fffcfa;}
.query-list .table-list tbody tr:nth-child(even) td:hover{background: #fdf5f0;}
.query-list .table-list .pic{ width: 102px; height: 102px; border: 1px #d4d4d4 solid;}
.query-list .table-list td b{ font-size: 16px; color: #ff0000;}
/*20140414 zibu e*/

