@red:#db000f;
@hover:#eb7e00;
@c333:#333;
@c666:#666;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';

body{ font-size: 12px; font-family: "Microsoft Yahei";  color: #333333;}
.leif_head{ width: 100%; height: 463px;  background: url("../../../images/huodong/xueleifeng/hd-leif-head.png") no-repeat center 0;}
.huodon_guizhe{ width: 980px; height: 463px; margin: 0 auto; position: relative;}
.huodon_guizhe p{ width: 675px; height: 180px; position: absolute; bottom: 38px; right: -116px; color: #7f0a00; font-size: 14px; line-height: 24px;}
.huodon_guizhe p strong{ font-style: italic;}

.leif_content{ width: 100%; height: 100%; background-color: #e2402b; text-align: center;}
.leif_cont_wenzitishi{ font-size: 14px; color: #ffe361;}
/*leif_cont_fenren*/
.leif_cont_fenren{ width: 980px; height: 635px; margin: 0 auto; position: relative; background: url("../../../images/huodong/xueleifeng/hd-lf-fengren.png") no-repeat 0 0;}
.leif_cont_fenren .button{ width: 179px; height: 38px;  background: url("../../../images/huodong/xueleifeng/_sprite/hd-lf-yaoqian.png?__sprite") no-repeat}
.button_my1{ position: absolute; top: 255px; left: 345px}
.button_my2{ position: absolute; top: 555px; left: 73px}
.button_my3{ position: absolute; top: 555px; left: 406px}
.button_my4{ position: absolute; top: 555px; left: 746px}
.button_regist{ width: 128px; height: 42px; position: absolute; top: 163px; right: 156px; background: url("../../../images/huodong/xueleifeng/_sprite/hd-lf-zhuche.png?__sprite") no-repeat}
.button_invit{ width: 128px; height: 42px; position: absolute; top: 275px; right: 156px; background: url("../../../images/huodong/xueleifeng/_sprite/hd-lf-yaoqing.png?__sprite") no-repeat}
/*leif_cont_listyouhui*/
.leif_cont_listyouhui{ width: 980px; height: 422px; margin: 0 auto; background: url("../../../images/huodong/xueleifeng/hd-lf-youhui.png") no-repeat 0 0;}
.leif_cont_listyouhui ul{ padding: 107px 0 0 0; width: 1010px;}
.leif_cont_listyouhui ul li{ width: 210px; height: 262px; float:left; padding: 6px; margin: 0 30px 0 0}
.lia_img{ width: 210px; height: 210px; display: block;}
.lia_img::before{content:"";width:0;height:100%;vertical-align: middle;display: inline-block;}
.lia_img img{max-width: 100%;max-height: 100%;vertical-align: middle;}
.leif_cont_listyouhui p,.lashou_jieshao{ width: 195px; height: 35px; overflow:hidden; text-align:left; margin: 8px 0 15px 10px;}
.leif_cont_listyouhui p a,.lashou_jieshao a{ color: #000;}
/*leif_cont_listyouquan*/
.leif_cont_listyouquan{ width: 980px; height: 503px; margin: 0 auto; background: url("../../../images/huodong/xueleifeng/hd-lf-youquan.png") no-repeat 0 0;}
.leif_cont_listyouquan ul{; padding: 95px 0 0 0; width: 1010px;}
.leif_cont_listyouquan ul li{ width: 210px; height: 367px; float:left; padding: 0 6px; margin: 0 30px 0 0}
.lashou_wang{ color: #000; font-size: 14px; border-bottom: 1px dashed #dfdada; font-size: 14px; font-weight:bold; text-align: left; padding: 0 0 0 5px; height: 35px; line-height: 40px;}
.lashou_jiage_neirong{ height: 40px; display: inline-block; width: 195px; text-align:left;}
.lashou_jiage_neirong p{ height: 18px; margin: 0 0 10px 0}
.ls_pricel{ font-size: 16px; color: #999; padding: 0 0 0 5px; float:left}
.ls_pricel dfn{ font-size: 20px; color: #e43b2c; font-family: Tahoma; margin: 0 0 0 4px; line-height: 20px;}
.lashou_price .ls_pricer{ margin:4px 0 0 0; float: right}
.ls_pricer dfn{ color: #999; text-decoration: line-through; margin: 0 8px 0 0;}
.ls_pricer b{ color: #e43b2c; font-weight: normal}
.ls_detailsl{ float: left; color: #666666; padding: 0 0 0 5px}
.ls_detailsr{ float: right; color: #666;}
/*leif_cont_listdajian*/
.leif_cont_listdajian{ width: 980px; height: 417px; margin: 0 auto; background: url("../../../images/huodong/xueleifeng/hd-lf-dajian.png") no-repeat 0 0;}
.leif_cont_listdajian ul{; padding: 142px 0 0 30px; width: 1010px;}
.leif_cont_listdajian ul li{ width: 161px; height: 194px; float:left; margin: 0 29px 0 0}
.leif_cont_listdajian a{ width:161px; height: 194px; display: block}

.leif_footerjpg{ width: 100%; height: 68px;  background: url("../../../images/huodong/xueleifeng/hd_leif-foot.png") no-repeat 0 0;}
.foot_nobord{ border: none}

.left-toolbar{ display:none !important;}

/*t 弹出层 c*/
.hd_lf_tanchuceng{ font-family: \5FAE\8F6F\96C5\9ED1; width: 434px; background-color:#fff; border-radius:3px; position: relative; overflow:hidden}
.tanchu_delet{ width: 20px; height: 20px; position: absolute; top: 10px; right: 10px; background: url("../../../images/huodong/xueleifeng/_sprite/hd-lf-delete.png?__sprite") no-repeat}
.tanchuc_wenzi{ padding: 52px 0 0 40px; *padding: 52px 0 0 20px; overflow: hidden;}
.tanchuc_pic1{ width: 68px; height: 60px; float: left;  background: url("../../../images/huodong/xueleifeng/_sprite/hd-lf-tansorry.png?__sprite") no-repeat}
.tanchuc_zitir{ font-size: 18px; margin: 0 0 0 10px; float:left}
.tanchu_bottun{ border-radius: 6px; display: inline-block; background-color: #fb5640; padding: 4px 35px; color: #fff; font-size: 18px; margin: 0 0 20px 118px;}
.tanchuc_pic2{ width: 68px; height: 60px; float: left;  background: url("../../../images/huodong/xueleifeng/_sprite/hd-lf-tangongxi.png?__sprite") no-repeat}
.tanchu_tixing{ margin: 37px 20px 10px 20px; border-top: 1px solid #e3e3e3; padding: 5px 0 0 0; color: #666;}
.tanchu_tixing a{ color: #fc8a04;  text-decoration:underline;}
.tanchuc_pic3{ width: 68px; height: 60px; float: left;  background: url("../../../images/huodong/xueleifeng/_sprite/hd-lf-tanaiya.png?__sprite") no-repeat}
.tanchuc_pic4{ width: 68px; height: 60px; float: left;  background: url("../../../images/huodong/xueleifeng/_sprite/hd-lf-tanaixin.png?__sprite") no-repeat}
.tanchuc_pic5{ width: 68px; height: 60px; float: left;  background: url("../../../images/huodong/xueleifeng/_sprite/hd-lf-tanfukun.png?__sprite") no-repeat}
.tanchuc_pic6{ width: 68px; height: 60px; float: left;  background: url("../../../images/huodong/xueleifeng/_sprite/hd-lf-tandenglu.png?__sprite") no-repeat}
.tanchu_bott{ margin: 15px 0 20px 155px}
.tanchu_ziti{ margin: 20px 0 0 10px}
.tanchu_log,.tanchu_regis{ margin: 15px 0 20px 112px; padding: 6px 25px;}
.tanchu_regis{ margin: 15px 0 0 30px}

.pocketSlider{width:600px;margin:0 auto;height:26px;overflow: hidden;padding-top: 5px;position: relative;text-align: left;white-space: nowrap;}
.pocketSlider li{height: 26px;line-height: 26px;}




