p,
dl,
dt,
dd,
table,
td,
th,
input,
img,
form,
div,
span,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
select,
input,
ins,
sub,
sup {
  margin: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  font: 12px/1.5 Arial, Tahoma, Helvetica;
  color: #333;
  position: relative;
  background: #f7faff;
}
.w_wp,
.bottom_outer,
.top_outer {
  min-width: 1202px;
}
.bottom_outer,
.bottom_inner,
.top_outer,
.top_inner {
  height: 601px;
  width: 100%;
  cursor: default;
}
.bottom_outer {
  position: absolute;
  z-index: -1;
  bottom: 0;
}
.top_outer {
  position: absolute;
  z-index: -1;
  top: 0;
}
.bottom_bd,
.top_bd {
  width: 1202px;
}
img,
iframe {
  border: none;
}
ul,
li,
ol {
  list-style: none;
}
img {
  vertical-align: middle;
}
input {
  outline: none;
}
em,
b,
i,
strong,
ins {
  font-style: normal;
  text-decoration: none;
}
a {
  color: #333;
}
a,
a.hoverlist:hover {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #f30;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
a:active,
a:focus {
  outline: none;
}
.top,
.wrap {
  width: 1202px;
  margin: 0 auto;
}
.w_wp {
  position: relative;
  z-index: 1;
  background: url(../images/body0_2.png) top repeat-x;
  height: 100%;
  overflow: hidden;
  _float: left;
}
.s_home,
.top a.drop,
.top a.drop_h,
.drop_pop1 ol li,
.lgicon_del,
.mzdh_list li.imovie a,
#dingzhi a.locedit,
.mod_newsbd li a.pic,
.mod_newsbd li a.vid,
.mod_newsbd li,
.w_top_weather dd.wea_more a,
.ico_new em,
.mod_pic_bd dd,
a:hover.btn_close,
.tip_fav2,
.mod_pic_bd dd,
.top .topdesk,
.b_c1_list ul li {
  background: url(../images/icos23.png) no-repeat;
}
.wait,
.bg {
  background: #f2f2f2;
  border-bottom: 1px solid #e6e6e6;
}
.top_w {
  height: 29px;
  background: #fff;
  border-bottom: 1px solid #d0d5db;
  min-width: 1202px;
  box-shadow: 0 1px 2px #e2ebf4;
  position: relative;
  z-index: 5;
}
.top a {
  display: inline-block;
  line-height: 29px;
  color: #666;
}
.top .top_right {
  width: 550px;
  float: right;
}
.top ul li {
  float: right;
}
.top ul li font {
  color: #dbdbdb;
  font-size: 12px;
  display: inline-block;
  margin: 5px 0 0 8px;
}
.top ul li strong {
  display: inline-block;
  margin-left: 8px;
  zoom: 1;
  font-weight: 100;
}
.top_left a {
  float: left;
  margin-left: 15px;
}
.top_left a.xf {
  color: #666;
  margin-left: 3px;
}
.top_left a:hover {
  color: #f30;
}
.top_left a.s_home {
  background: url(/static/images/daohang/2345/icos23.png) -17px -32px no-repeat;
  color: #019eeb !important;
  float: left;
  padding-left: 18px;
  margin-top: 1px\0;
  margin-left: 0;
}
.top_left a:hover.s_home {
  color: #f30;
  background: url(/static/images/daohang/2345/icos23.png) -17px -32px no-repeat;
}
.top_left font {
  color: #e0e0e0;
  font-size: 12px;
  float: left;
  height: 29px;
  line-height: 29px;
  margin: 0 2px 0 5px;
}
.top .d {
  position: relative;
  z-index: 90;
}
.top .d_nolf strong {
  margin-left: 0;
}
.top a.drop,
.top a.drop_h {
  height: 21px;
  line-height: 21px;
  padding: 2px 13px 0 6px;
  line-height: 18px\9;
  _height: 21px;
  _line-height: 20px;
  _padding-top: 3px;
  margin-top: 2px;
  *margin-top: 4px;
  _margin-top: 3px;
}
.top a.drop {
  background-position: right -1163px;
}
.top a.drop_h {
  border: 1px solid #d0d5db;
  border-bottom: none;
  padding: 1px 12px 1px 5px;
  _padding: 2px 12px 0 5px;
  background-color: #fff;
  position: relative;
  z-index: 99;
  background-position: right -1190px;
}
.drop_pop1 {
  position: absolute;
  top: 25px;
  right: 0;
  _right: -1px;
  z-index: 90;
  width: 112px;
  padding: 0 3px;
  background: #fff;
  border: 1px solid #d0d5db;
  line-height: 25px;
}
.drop_pop1 ol li {
  clear: both;
  float: none;
  display: inline-block;
  padding-left: 22px;
}
.drop_pop1 ol li a {
  height: 28px;
  line-height: 28px;
}
.drop_pop1 ol li.uc {
  background-position: -13px -170px;
}
.drop_pop1 ol li.jifen {
  background-position: -13px -200px;
}
.drop_pop1 ol li.fav {
  background-position: -13px -230px;
}
.drop_pop1 ol li.buy {
  background-position: -13px -260px;
}
.drop_pop1 ol li.pers {
  background-position: -13px -290px;
}
.drop_pop1 ol li.exit {
  background-position: -13px -320px;
}
.drop_pop1 ol li.lgi {
  background-position: -13px -350px;
}
.drop_pop1 ol li.lgo {
  background-position: -13px -380px;
}
.drop_pop1 ol li.sjlm {
  background: url(../images/sjlm.png) no-repeat 4px center;
}
.drop_pop2 {
  position: absolute;
  top: 25px;
  right: 0;
  _right: -1px;
  z-index: 90;
  background: #fff;
  border: 1px solid #d0d5db;
  line-height: 25px;
  width: 53px;
}
.drop_pop2 a {
  display: block;
  text-align: center;
}
.drop_pop2 a:hover {
  background: #4dabf0;
  color: #fff;
  text-decoration: none;
}
.top .topdesk {
  position: relative;
  z-index: 90;
  display: inline-block;
  padding-left: 12px;
  background-position: -23px -1285px;
}
.changeSkin {
  position: relative;
}
.changeSkin .tip_skin {
  position: absolute;
  top: 21px;
  right: 0;
  width: 101px;
  height: 28px;
  display: inline-block;
  line-height: 35px;
  overflow: hidden;
  background: url(../images/bgs14.png) -99px -322px no-repeat;
  color: #999;
  text-align: center;
}
.top ul li.cur_d {
  background: #f2f2f2;
  border: 1px solid #d0d5db;
  border-bottom: 0 none;
  width: 42px;
  height: 24px;
  line-height: 24px;
  padding-bottom: 3px;
  overflow: hidden;
  margin: 2px -10px -1px -2px;
  position: relative;
  z-index: 99;
  text-align: center;
}
.top ul li.cur_d strong {
  margin-left: 0;
}
.top ul li.cur_d a {
  line-height: 24px;
}
#mystyletip {
  width: 127px;
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 0;
  background: url(../images/bgs14.png) 0 -41px no-repeat;
  width: 120px;
  height: 31px;
  padding: 3px 0 0 7px;
  _padding-top: 6px;
  color: #f60;
  cursor: pointer;
  text-decoration: none;
}
.top .topdesk span#mystyletip {
  width: 187px;
  height: 20px;
  line-height: 20px;
  padding: 5px 0 0 11px;
  color: #787878;
  background: url(../images/bgs14.png) 0 -75px no-repeat;
  color: #888;
  font-size: 12px;
  left: 0;
  right: auto;
}
#uJifen a {
  display: inline;
  background: none;
  padding-left: 3px;
}
#uJifen b {
  float: left;
  margin-top: 2px;
}
#uJifen a:hover {
  color: #f30;
  text-decoration: underline;
}
.li_set {
  position: relative;
  z-index: 9;
}
.wait {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #666;
  margin: 0 auto;
}
.wait table {
  text-align: center;
  margin: 0 auto;
}
#my2345 {
  background: url(../images/2345ico.gif) left no-repeat;
  padding-left: 16px;
}
.bg {
  min-width: 1202px;
  overflow: hidden;
}
.mystylediv {
  margin: 0 auto;
  text-align: center;
  width: 1202px;
}
.header {
  height: 78px;
}
.header a {
  color: #666;
}
.top_logo,
.top_weather,
.top_weather_set,
.w_top_weather,
.w_top_weather_set,
.top_date,
.top_login,
.top_news {
  display: inline-block;
  float: left;
  height: 78px;
}
.top_logo {
  width: 187px;
  text-align: left;
  background: none;
  position: relative;
  z-index: 20;
}
.top_logo a {
  display: block;
  width: 162px;
  margin-right: 5px;
  cursor: pointer;
}
.tipSet_ie6,
.tipSet_ie6_hov {
  width: 136px;
  height: 30px;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tipSet_ie6.png', sizingMethod='crop');
  position: absolute;
  left: 18px;
  top: 61px;
  cursor: pointer;
}
.tipSet_ie6_hov {
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/tipSet_ie6_hov.png', sizingMethod='crop');
}
.close_tip_ie6 {
  display: inline-block;
  width: 12px;
  height: 12px;
  overflow: hidden;
  margin: 8px 0 0 89px;
  cursor: pointer;
  position: absolute;
  left: 18px;
  top: 61px;
}
.top_date {
  width: 100px;
  line-height: 24px;
  padding-top: 18px;
  height: 58px;
  text-align: center;
}
.top_login {
  width: 213px;
  padding: 14px 0 0 24px;
  height: 60px;
}
.inbox_mail {
  width: 97px;
  padding-left: 5px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #c0c0c0;
  color: #b4b4b4;
  float: left;
  font-size: 12px;
  background: #fff;
}
.select_mail {
  width: 106px;
  height: 24px;
  line-height: 24px;
  float: left;
  position: relative;
  z-index: 80;
}
.select_mail .bt {
  display: block;
  padding: 0 13px 0 5px;
  width: 88px;
  height: 24px;
  background: url(../images/bgs14.png) -86px -105px no-repeat;
  overflow: hidden;
  cursor: pointer;
  color: #666666;
}
.select_mail ul {
  width: 104px;
  position: absolute;
  z-index: 99;
  left: -1px;
  top: 23px;
  border: 1px solid #c0c0c0;
  background: #fff;
}
.select_mail ul li {
  margin-left: 5px;
  display: block;
  height: 19px;
  line-height: 19px;
  cursor: pointer;
  color: #666;
}
.select_mail ul li a {
  display: block;
  height: 19px;
  line-height: 19px;
  cursor: pointer;
  color: #333333;
}
.select_mail ul li:hover,
.select_mail ul li.hover,
.select_mail .bt:hover,
.select_mail ul li a:hover {
  text-decoration: underline;
  color: #ff3300;
}
.select_mail ul li.gray {
  color: #999;
  cursor: default;
  text-decoration: none;
}
.inbox_pw {
  width: 141px;
  padding-left: 5px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #c0c0c0;
  float: left;
  color: #999;
  margin-top: 6px;
  background: #fff;
}
.inbox_pw_wrap {
  position: relative;
}
.tword {
  display: inline-block;
  height: 19px;
  line-height: 19px;
  font-size: 12px;
  color: #b4b4b4;
  position: absolute;
  top: 10px;
  left: 7px;
}
.btn_lg,
.btn_lg_hov {
  color: #666;
  width: 55px;
  height: 24px;
  line-height: 24px;
  border: 0 none;
  background: url(../images/bgs14.png) no-repeat -86px -134px;
  float: right;
  margin: 6px 3px 0 0;
  cursor: pointer;
}
.btn_lg_hov {
  background-position: -86px -163px;
  color: #1b88bf;
}
.top_news {
  float: right;
  width: 143px;
  font-size: 13px;
  padding: 12px 0 0 10px;
  height: 64px;
  text-align: left;
  font-family: "\5b8b\4f53";
}
.top_news li {
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  word-break: break-all;
}
.w_top_weather,
.w_top_weather_set,
.top_weather,
.top_weather_set {
  width: 500px;
  color: #666;
  text-align: center;
  overflow: hidden;
}
.w_top_weather p,
.top_weather p {
  padding-top: 20px;
}
.w_top_weather p a {
  text-decoration: underline;
  color: #2371c8;
}
.w_top_weather a:hover {
  color: #f30;
}
.w_top_weather .ct {
  width: 112px;
  display: block;
  float: left;
  line-height: 22px;
  height: 58px;
  padding-top: 20px;
}
.w_top_weather .ct b {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}
.w_top_weather .ct_middle {
  padding-top: 34px;
  height: 40px;
}
.w_top_weather dl {
  width: 388px;
  display: block;
  float: left;
}
.w_top_weather dd {
  width: 32%;
  float: left;
  padding-top: 12px;
  text-align: left;
  line-height: 16px;
  position: relative;
}
.w_top_weather dd a {
  display: block;
  line-height: 20px;
}
.w_top_weather dd a ins {
  display: block;
  color: #666;
  height: 18px;
  line-height: 18px;
  cursor: pointer;
}
.w_top_weather dd a:hover ins {
  text-decoration: underline;
  color: #f30;
}
.w_top_weather dd span {
  display: inline-block;
  width: 55px;
  height: 46px;
  overflow: hidden;
  float: left;
  margin: 6px 1px 0 0;
  cursor: pointer;
}
.w_top_weather dd a.warning {
  display: block;
  height: 18px;
  line-height: 18px;
  position: absolute;
  left: 56px;
  _left: 59px;
  top: 52px;
  background: url(../images/ico.png) left no-repeat;
  padding-left: 15px;
}
.w_top_weather dd.wea_more {
  float: left;
  width: 10px;
  height: 65px;
  padding-top: 10px;
}
.w_top_weather dd.wea_more a {
  background-position: -16px -517px;
  margin: 0 2px 0 0;
  display: inline-block;
  width: 10px;
  height: 65px;
}
.w_top_weather dd.wea_more a:hover {
  background-position: -16px -581px;
}
.w10_l,
.w11_l,
.w12_l,
.w13_l,
.w14_l,
.w16_l,
.w19_l,
.w20_l,
.w26_l,
.w28_l,
.w32_l,
.w37_l,
.w39_l,
.w40_l,
.w41_l,
.w42_l,
.w60_l,
.w61_l,
.w62_l,
.w63_l,
.w64_l,
.w65_l {
  width: 55px;
  height: 45px;
  display: block;
  background: url(../images/w_day_l.png) no-repeat;
}
.wnt_l {
  background: url(../images/w_night_l.png) no-repeat;
}
.w10_l {
  background-position: 0px 0px;
}
.w11_l {
  background-position: -60px 0px;
}
.w12_l {
  background-position: -120px 0px;
}
.w13_l {
  background-position: -180px 0px;
}
.w14_l {
  background-position: -240px 0px;
}
.w16_l {
  background-position: 0px -45px;
}
.w19_l {
  background-position: -60px -45px;
}
.w20_l {
  background-position: -120px -45px;
}
.w26_l {
  background-position: -180px -45px;
}
.w28_l {
  background-position: -240px -45px;
}
.w32_l {
  background-position: 4px -89px;
}
.w37_l {
  background-position: -60px -90px;
}
.w39_l {
  background-position: -120px -90px;
}
.w40_l {
  background-position: -180px -90px;
}
.w41_l {
  background-position: -240px -90px;
}
.w42_l {
  background-position: 0px -135px;
}
.w60_l {
  background-position: -60px -135px;
}
.w61_l {
  background-position: -120px -135px;
}
.w62_l {
  background-position: -180px -135px;
}
.w63_l {
  background-position: -240px -135px;
}
.w64_l {
  background-position: 0px -180px;
}
.w65_l {
  background-position: -60px -180px;
}
.search_w {
  position: relative;
  z-index: 9;
}
.search {
  border: 1px solid #b6d6f6;
  background: url(../images/skin0_19.png) 0 -202px repeat-x;
  height: 97px;
  margin: 4px 0 6px;
  box-shadow: 0 1px 2px #e7e9ec;
  width: 1198px;
  position: relative;
  z-index: 9;
}
.search_web {
  height: 81px;
}
.search_fly {
  height: 117px;
}
.search .tab {
  height: 27px;
  padding: 7px 0 0 210px;
  text-align: center;
  font-size: 14px;
}
.search .tab li {
  float: left;
  width: 41px;
  margin-right: 11px;
}
.search .tab li a {
  display: block;
  float: left;
  width: 41px;
  height: 24px;
  line-height: 24px;
  padding-bottom: 3px;
}
.search .tab li.active {
  background: url(../images/skin0_19.png) 0 -170px no-repeat;
}
.active a,
.active a:hover {
  color: #fff;
}
.tab li a.ico_new {
  position: relative;
  z-index: 20;
}
.ico_new em {
  display: inline-block;
  position: absolute;
  top: -4px;
  right: -4px;
  width: 19px;
  height: 12px;
  background-position: 0 -425px;
}
.sch_area {
  padding-bottom: 8px;
  position: relative;
}
.sch_logo {
  width: 200px;
  margin-right: 10px;
  float: left;
  text-align: right;
}
.sch_form {
  width: 661px;
  float: left;
}
.sch_inbox {
  display: block;
  width: 553px;
  height: 30px;
  border: 1px solid #9a9a9a;
  border-bottom: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  background: #fff;
  position: relative;
  float: left;
}
.shadowtop,
.shadowleft {
  overflow: hidden;
  position: absolute;
  display: block;
}
.shadowtop {
  width: 553px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #f4f4f4;
  top: 0;
  left: 0;
}
.shadowleft {
  width: 0;
  height: 30px;
  left: 0;
  top: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #f4f4f4;
}
.sch_inbox input {
  width: 548px;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  padding-left: 5px;
  margin-top: 4px;
  border: 0 none;
  background: #fff;
}
.sch_btn,
.sch_btn_hov,
.sch_btn_mousedown {
  float: left;
  width: 96px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
  background: url(../images/bgs14.png) 0 -322px no-repeat;
  border: 0 none;
}
.sch_btn_hov {
  background-position: 0 -355px;
}
.sch_btn_mousedown {
  background-position: 0 -388px;
}
.carform_wp .sch_btn,
.carform_wp .sch_btn_hov,
.carform_wp .sch_btn_mousedown {
  float: left;
  width: 80px;
  height: 32px;
  font-size: 14px;
  margin-left: 5px;
  cursor: pointer;
  background: url(../images/bgs14.png) 0 -105px no-repeat;
  border: 0 none;
}
.carform_wp .sch_btn_hov {
  background-position: 0 -138px;
}
.carform_wp .sch_btn_mousedown {
  background-position: 0 -171px;
}
.sch_radio {
  display: block;
  height: 18px;
  line-height: 17px;
  float: left;
  padding-top: 5px;
}
.sch_radio label {
  display: inline-block;
  float: left;
  margin-right: 12px;
  position: relative;
  padding-left: 16px;
}
.sch_radio input {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  position: absolute;
  top: 1px;
  left: 0;
}
.hotw {
  height: 50px;
  line-height: 50px;
  width: 300px;
  font-size: 12px;
  float: right;
  text-align: left;
  position: absolute;
  right: 18px;
  top: -12px;
}
.hotw p {
  height: 25px;
  line-height: 25px;
}
.hotw a {
  margin-left: 17px;
  color: #666;
  _float: left;
}
.hotw a:hover {
  color: #f30;
}
.hotw .refresh {
  position: absolute;
  right: 15px;
  top: 0;
}
.search_flt,
.search_web_flt,
.search_fly_flt {
  width: 1198px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 97px;
  display: none;
  border: 1px solid #b9d4f1;
  background: #f2f8ff;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.search_web_flt {
  height: 81px;
}
.search_fly_flt {
  height: 117px;
}
.search_fly .hotw_line1 {
  height: 25px;
  overflow: hidden;
  top: 3px;
}
.search_fly .hotw_line1 p.pnone {
  display: none;
}
.c_logo {
  display: inline-block;
  float: left;
  width: 110px;
  text-align: center;
}
.c_form {
  height: 32px;
  line-height: 32px;
  display: inline-block;
  float: left;
}
.c_form .sch_inbox,
.c_form .shadowtop {
  width: 358px;
}
.c_form .sch_inbox input {
  width: 353px;
}
.c_form .sch_btn,
.c_form .sch_btn_hov,
.c_form .sch_btn_mousedown {
  margin-right: 18px;
}
.c_form form {
  display: inline;
}
.c_form select {
  float: left;
  margin: 2px 5px 0 0;
  margin-top: 5px\0;
  *margin-top: 5px;
  _margin-top: 5px;
  color: #333;
  width: 120px;
  padding: 4px 3px;
}
.sch_btn_car {
  width: 60px;
  height: 24px;
  font-size: 12px;
  background: url(../images/wbg6.png) no-repeat -88px -105px;
  border: 0 none;
  cursor: pointer;
  float: left;
  margin-top: 3px;
}
.c_hot {
  color: #dbdbdb;
  width: 210px;
  display: inline-block;
  float: left;
  margin: -5px 0 0 38px;
  line-height: 20px;
}
.c_hot a {
  color: #787878;
  margin: 0 5px;
}
.c_hot a:hover {
  color: #fd5151;
}
#bdSug_J_carKey {
  width: 358px;
}
.bd_search_auto #bdSug_search1,
.bd_search_auto #bdSug_search2,
.bd_search #bdSug_J_carKey {
  display: none!important;
}
.bdSug_wpr {
  background-color: #f9fcff;
  line-height: 28px;
  border: 1px solid #bad5f2;
  position: absolute;
  z-index: 9;
  top: 30px;
  left: -1px;
  color: #000;
  width: 552px;
  overflow: hidden;
}
.bdSug_wpr table {
  padding: 0;
  width: 100%;
  cursor: default;
}
.bdSug_wpr td {
  padding: 0 2px 0 6px;
  vertical-align: middle;
  font-size: 14px;
  font-family: Arial;
  font-weight: normal;
  text-decoration: none;
  height: 22px;
  line-height: 22px;
  text-align: left;
}
.bdSug_app {
  background: #fff;
  margin: 0 5px 2px 0;
}
.bdsug_copy {
  background: transparent url(http://www.baidu.com/img/bd.gif) no-repeat;
  font-size: 13px;
  color: #77c;
  text-decoration: none;
  padding: 0 2px 0 16px;
}
.bdSug_mo {
  background-color: #a8d5fc;
}
.bdSug_sd {
  width: 408px;
}
.bgSug1st {
  height: 54px;
  background: #fefbe4;
  position: relative;
  top: -2px;
  left: -10px;
  margin-bottom: -2px;
  width: 586px;
  padding-left: 10px;
  cursor: pointer;
}
.bdSug_mo .bgSug1st {
  background: #a8d5fc;
  color: #fff;
  height: 54px;
}
.bgSug1st img {
  float: left;
  margin: 10px 5px 2px 0;
}
.bgSug1st span {
  height: 24px;
  line-height: 24px;
  margin: 6px 0 0;
  display: inline-block;
  float: left;
  font-size: 16px;
  text-decoration: underline;
  color: #00c;
}
.bgSug1st span em {
  font-style: normal;
  color: #f30;
  text-decoration: underline;
}
.bgSug1st span b {
  color: #00c;
  text-decoration: none;
  height: 24px;
  line-height: 24px;
  font-weight: 100;
}
.bgSug1st p {
  clear: both;
  color: #666;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
}
.website p {
  padding-left: 21px;
}
.bgSug1st i {
  width: 29px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  margin: 5px 0 0 10px;
  background: url(../images/bgs14.png) 0 0 no-repeat;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.bgSug1st i.gq {
  background-position: 0 0;
}
.bgSug1st i.lg {
  background-position: -33px 0;
}
.bgSug1st i.cq {
  background-position: -65px 0;
}
.bgSug1st i.rq {
  background-position: -97px 0;
}
.bgSug1st i.ygp {
  width: 40px;
  background-position: 0 -18px;
}
.search .sch_radio {
  display: block;
}
.search_fly .sch_radio,
.search_web .sch_radio {
  display: none;
}
.weaSug {
  position: relative;
}
.weaSug ins {
  display: inline-block;
  width: 55px;
  height: 46px;
  overflow: hidden;
  float: left;
  margin: 6px 1px 0 6px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}
.weaSug span {
  margin-left: 55px;
  color: #000;
  text-decoration: none;
}
.weaSug p {
  position: absolute;
  left: 66px;
  top: 30px;
}
#left {
  float: left;
  width: 935px;
  height: 100%;
}
.mzdh {
  clear: both;
  height: 100%;
  border: 2px solid #9ed5ff;
  box-shadow: 0 2px 4px 0 #e7e9ec;
  background: #fff;
}
.mzdh_list {
  padding: 8px 6px 5px;
}
.iptmz {
  position: relative;
  z-index: 50;
  height: 29px;
}
.mzdh_list li {
  float: left;
  width: 153px;
  height: 29px;
  line-height: 29px;
  text-align: center;
}
.mzdh_list li a {
  font-size: 14px;
  display: inline-block;
  width: 107px;
  height: 24px;
  line-height: 24px;
  margin: 2px 23px;
  text-align: center;
}
.mzdh_list li a:hover {
  border: 1px solid #aad4fa;
  background-color: #eaf4fe;
  width: 105px;
  height: 22px;
  line-height: 22px;
  text-decoration: none;
}
.mzdh_list li.imovie a {
  width: 86px;
  background-position: 0 -799px;
  padding-left: 21px;
}
.mzdh_list li.imovie a:hover {
  width: 84px;
  background-position: -1px -800px;
}
.mzdh_bottom {
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
}
.mzdh_bottom a {
  margin: 0 9px;
  zoom: 1;
  font-weight: 100;
}
.mzdh_list li a.icon_s {
  background: url(../images/icon_soso.gif) 0 -1px no-repeat;
  padding-left: 18px;
}
.borderbt {
  border-bottom: 1px dotted #c1daf3;
  padding-bottom: 4px;
  margin-bottom: 3px;
}
.mzdh_list li .mz_dot {
  display: inline-block;
  margin: 0 auto;
  padding-top: 2px;
}
.mzdh_list li .mz_dot a {
  padding: 0 3px;
  width: auto;
  margin: 0 3px;
  float: left;
}
.mzdh_list li .mz_dot a:hover {
  width: auto;
  padding: 0 2px;
  line-height: 22px;
  height: 22px;
}
.mzdh_list li .mz_dot ins {
  display: inline-block;
  width: 4px;
  margin-right: 1px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  vertical-align: middle;
  float: left;
}
.mzdh_list li.i_tuniu a {
  width: 86px;
  padding-left: 21px;
  background-image: url(../images/ico_tuniu_2.png);
  background-position: 10px 4px;
  background-repeat: no-repeat;
}
.mzdh_list li.i_tuniu a:hover {
  width: 84px;
  background-position: 9px 3px;
}
.mzdh_list li.i_amazon a {
  width: 86px;
  padding-left: 21px;
  background-image: url(../images/ico_amazon.png);
  background-position: 20px 5px;
  _background-position: 17px 4px;
  background-repeat: no-repeat;
}
.mzdh_list li.i_amazon a:hover {
  width: 84px;
  background-position: 19px 4px;
  _background-position: 16px 3px;
}
.mzdh_list li.i_taobao a {
  width: 85px;
  padding-left: 22px;
  background-image: url(../images/ico_taobao.png);
  background-position: 18px 4px;
  background-repeat: no-repeat;
  margin-left: 17px;
}
/*margin-left:-6px;*/
.mzdh_list li.i_taobao a:hover {
  width: 83px;
  background-position: 17px 3px;
}
.mzdh_list li.i_vipshop a {
  width: 87px;
  padding-left: 20px;
  background-image: url(../images/ico_vipshop.png);
  background-position: 10px 4px;
  background-repeat: no-repeat;
}
.mzdh_list li.i_vipshop a:hover {
  width: 85px;
  background-position: 9px 3px;
}
.mzdh_list li.i_taobao {
  position: relative;
}
.mzdh_list li.i_taobao .i_tao1212 {
  display: inline-block;
  width: 36px;
  height: 31px;
  overflow: hidden;
  background: url(../images/mz_0307.png) 0 0 no-repeat;
  position: absolute;
  cursor: pointer;
  top: -2px;
  margin-left: 2px;
}
.mzdh_list li.i_taobao a:hover .i_tao1212 {
  background-position: 0 -36px;
}
.mzdh_list li.ganji a {
  margin-left: 2px;
  padding-left: 20px;
  width: 66px;
  background-image: url(/static/images/daohang/2345/ganji.png);
  background-position: 0px 4px;
  text-indent: -1000px;
  background-repeat: no-repeat;
}
.mzdh_list li.ganji a:hover {
  background-color: #fff;
  height: 25px;
  line-height: 25px;
  background-position: 0px 4px;
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: underline !important;
}
.mzdh_list li.site_group {
  position: relative;
}
.mzdh_list li.site_group a {
  width: 70px;
  float: left;
  margin-left: 35px;
}
.mzdh_list li.site_group a:hover {
  width: 68px;
  height: 22px;
  line-height: 22px;
}
.mzdh_list li.site_group_1 a {
  width: 58px;
  margin-left: 48px;
}
.mzdh_list li.site_group_1 a:hover {
  width: 56px;
}
.mzdh_list li.site_group .mz_toggle {
  display: inline-block;
  width: 26px;
  height: 25px;
  overflow: hidden;
  background: url(../images/mz_toggle.png) 0 0 no-repeat;
  position: absolute;
  top: 3px;
  right: 24px;
  margin-left: 0;
  margin-right: 0;
}
.mzdh_list li.site_group a:hover.mz_toggle {
  border: 0 none;
  background-color: transparent;
  width: 26px;
  height: 24px;
  text-decoration: none;
}
#homeweb_txt1 {
  position: absolute;
  margin: -80px;
  width: 62px;
  line-height: 25px;
  top: 107px;
  font-size: 12px;
  visibility: hidden;
}
#homeweb_txt1,
#homeweb_txt2,
#homeweb_txt3,
#homeweb_txt4,
#homeweb_txt5,
#homeweb_txt6 {
  border: 1px solid #d8d8d8;
  width: 103px;
  background: #fcfcfc;
  text-align: center;
}
#homeweb_txt1 a,
#homeweb_txt2 a,
#homeweb_txt3 a,
#homeweb_txt4 a,
#homeweb_txt5 a,
#homeweb_txt6 a {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 27px;
  height: 27px;
  overflow: hidden;
  color: #333;
  background: #fcfcfc;
}
#homeweb_txt1 a:hover,
#homeweb_txt2 a:hover,
#homeweb_txt3 a:hover,
#homeweb_txt4 a:hover,
#homeweb_txt5 a:hover,
#homeweb_txt6 a:hover {
  text-decoration: none;
  color: #fff;
  background: #4dabf0;
}
.kzjx {
  clear: both;
  border: 1px solid #b8e0ff;
  box-shadow: 0 2px 4px 0 #e7e9ec;
  background: #fff;
  padding-bottom: 3px;
}
.kzjx a {
  font-size: 14px;
}
.kzjx strong {
  padding-left: 6px;
  font-weight: 100;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  width: 51px;
  background: url(/static/images/daohang/2345/skin0_19.png) 0 -33px no-repeat;
  text-align: left;
}
.kzjx dl {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  margin: 0 6px;
}
.kzjx dl.noline {
  border-bottom: none;
  padding-bottom: 2px;
}
.kzjx dd,
.kzjx dt {
  font-weight: normal;
  text-align: center;
  overflow: hidden;
  height: 22px;
  line-height: 22px;
  margin: 3px 0;
}
.kzjx dt {
  float: left;
}
.kzjx dt a {
  color: #2d87cc;
}
.kzjx dd {
  white-space: nowrap;
  _width: 864px;
  _float: left;
}
.kzjx dd li {
  width: 116px;
  float: left;
  display: inline;
  text-align: left;
}
.kzjx dd li a {
  margin-left: 4px;
  display: inline-block;
  padding-left: 6px;
  width: 78px;
}
.kzjx dd li a.redbit {
  padding-right: 15px;
  background: url(../images/icos23.png) right -1128px no-repeat;
  width: auto;
}
.kzjx dd a.more {
  font-size: 12px;
  color: #666;
}
.kzjx dd a:hover.more {
  color: #ff3300;
}
.kzjx dd li.kz_lieping a {
  margin-left: 10px;
  padding-left: 20px;
  background: url(../images/i_lieping2.png) no-repeat left 2px;
}
.hov dt,
.hov dd,
.kzjx dl:hover dd,
.kzjx dl:hover dt {
  background: #eef6fe;
}
#dingzhi dd {
  position: relative;
}
#dingzhi a.locedit {
  width: 13px;
  height: 12px;
  display: inline-block;
  margin: 3px 0 0 10px;
  background-position: 0 -443px;
  position: absolute;
  right: 65px;
  top: 3px;
}
#dingzhi li {
  display: inline-block;
  text-align: left;
}
.kzjx h2 {
  padding-left: 1px;
  display: block;
  height: 26px;
  line-height: 26px;
  font-weight: 100;
  font-size: 14px;
  color: #c7dff3;
  background: #edf5ff;
  margin: 2px 0 4px;
}
.kzjx h2.notopl {
  margin-top: 0;
}
.kzjx h2 a {
  margin: 0 10px;
  color: #2d87cc;
}
.kzjx dl.linebottom_kz {
  border-bottom: 1px dotted #c7dff3;
  margin-bottom: 2px;
}
.kzjx .kz_tit {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  background: #edf5ff;
  border-bottom: 1px solid #b8e0ff;
  font-weight: 100;
  _overflow: hidden;
}
.cnxh_kz_tit {
  display: inline-block;
  position: absolute;
  right: 230px;
  top: 0;
}
.kz_tit a {
  color: #666;
  font-size: 14px;
  display: inline-block;
  margin: 0 6px 0 21px;
  float: left;
}
.kz_tit a ins {
  float: left;
  width: 18px;
  font-size: 18px;
  margin: 7px 5px 0 0;
  _margin-right: 2px;
  margin-top: 6px\0;
  cursor: pointer;
}
@-moz-document url-prefix() {
  .kz_tit a ins {
    margin-top: 6px;
  }
}
.kz_tmall {
  display: inline-block;
  position: relative;
  float: left;
}
.kz_tmall a {
  color: #f30;
}
.kz_tmall a.ic_07 {
  background: url(../images/i_tmall.png) 0 7px no-repeat;
  padding-left: 20px;
  display: inline-block;
  margin: 0 6px 0 21px;
  font-size: 14px;
}
.kz_tmall .tcat {
  display: inline-block;
  position: absolute;
  width: 112px;
  height: 30px;
  overflow: hidden;
  margin-left: 0;
  cursor: pointer;
  top: -1px;
  background: none;
  padding-left: 0;
}
.right {
  float: right;
  width: 259px;
  text-align: left;
  font-size: 14px;
}
.right_box {
  width: 253px;
  margin: 0 0 0 2px;
  border: 1px solid #b8e0ff;
  box-shadow: 0 2px 4px 0 #e7e9ec;
  background: #fff;
}
.event {
  width: 253px;
  height: 38px;
  overflow: hidden;
  text-align: center;
  background: #fff;
  margin: 0 0 6px 2px;
  border: 1px solid #d9d9d9;
  position: relative;
}
.event img {
  vertical-align: top;
}
.event .slide_item {
  position: absolute;
  left: 0;
  top: 0;
}
.event .slide_item_frist {
  z-index: 2;
}
.event .slide-trigger * {
  cursor: pointer;
}
.event .slide-trigger a.slide_pageup,
.event .slide-trigger a.slide_pagedown {
  z-index: 3;
  position: absolute;
  top: 0px;
  width: 20px;
  height: 38px;
}
.event .slide-trigger a.slide_pageup {
  left: 0;
}
.event .slide-trigger a.slide_pagedown {
  right: 0;
}
.event .slide-trigger .slide-bg {
  height: 38px;
  width: 20px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  overflow: hidden;
}
.event .slide-trigger a.slide_btn .arrow {
  z-index: 2;
  position: absolute;
  top: 10px;
  height: 19px;
  width: 10px;
  text-indent: -999em;
  background-image: url(../images/topic_arrow.png);
  background-repeat: no-repeat;
}
.event .slide-trigger a.slide_pageup .arrow {
  left: 4px;
  background-position: 0 0;
}
.event .slide-trigger a.slide_pagedown .arrow {
  left: 7px;
  background-position: -26px 0;
}
.event .slide-trigger a:hover.slide_pageup .arrow {
  background-position: 0 -21px;
}
.event .slide-trigger a:hover.slide_pagedown .arrow {
  background-position: -26px -21px;
}
.category {
  border: 1px solid #b8e0ff;
  box-shadow: 0 2px 4px 0 #e7e9ec;
  background: #fff;
  padding: 15px 0 10px;
  margin-top: 10px;
  font-size: 14px;
  overflow: hidden;
  width: 1198px;
  height: 150px;
}
.category_in {
  width: 1220px;
  zoom: 1;
  overflow: hidden;
}
.panel {
  width: 370px;
  display: inline-block;
  float: left;
  border-right: 1px solid #e6f4ff;
  padding-left: 30px;
  line-height: 30px;
}
.panel a {
  display: inline-block;
  margin: 0 22px 0 14px;
  word-break: keep-all;
  white-space: nowrap;
}
.panel a.words3 {
  margin-right: 9px;
}
.panel ins {
  display: inline-block;
  margin: 6px 0 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  float: left;
}
.panel ins a {
  margin: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  color: #72b7f7;
  float: left;
  _float: none;
}
.panel ins a:hover {
  color: #72b7f7;
}
.mb10 {
  margin-bottom: 10px;
}
.module {
  border: 1px solid #b8e0ff;
  box-shadow: 0 2px 4px 0 #e7e9ec;
  background: #fff;
  padding: 0 15px 10px;
  margin-top: 10px;
  font-size: 14px;
  overflow: hidden;
  width: 1168px;
}
.module_t {
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #e6f4ff;
  position: relative;
  overflow: hidden;
}
.module_t .t_h2 {
  display: inline;
  float: left;
}
.module_t .t_h2 h2 {
  display: inline;
  font: 18px/34px Microsoft YaHei;
  font-weight: 100;
  cursor: pointer;
}
.module_t a:hover.t_h2 h2 {
  text-decoration: underline;
}
.module_t .m_t_link {
  position: absolute;
  right: 0;
  top: 2px;
  height: 32px;
  line-height: 32px;
}
.module_t .m_t_link a {
  float: left;
}
.module_t .m_t_link ins {
  color: #e6e6e6;
  font-size: 12px;
  margin: 0 15px;
  float: left;
  line-height: 29px;
}
.m_game {
  height: 305px;
}
.m_life {
  height: 289px;
}
.col_a {
  width: 228px;
  float: left;
  overflow: hidden;
  padding-left: 3px;
}
.buy_c1 {
  width: 248px;
}
.col_b {
  width: 649px;
  float: left;
  border-left: 1px solid #e6f4ff;
  border-right: 1px solid #e6f4ff;
  margin-left: 20px;
}
.col_c {
  width: 233px;
  overflow: hidden;
  float: right;
}
.game_c1 {
  margin-top: 4px;
}
.game_c1 dl {
  border-bottom: 1px dotted #d4d4d4;
  overflow: hidden;
  height: 100%;
  padding: 5px 0;
  width: 246px;
}
.game_c1 dl.last {
  border-bottom: 0 none;
}
.game_c1 dt {
  margin-right: 16px;
  float: left;
  height: 26px;
}
.game_c1 dt a {
  display: inline-block;
  width: 33px;
  padding-left: 7px;
  margin-top: 4px;
  height: 18px;
  line-height: 18px;
  _line-height: 20px;
  overflow: hidden;
  color: #fff;
  background: url(../images/skin0_19.png) no-repeat 0 -100px;
  font-size: 12px;
}
.game_c1 dt a:hover {
  color: #fff;
}
.game_c1 dd {
  line-height: 26px;
}
.game_c1 dd a {
  margin-right: 16px;
  display: inline-block;
  _display: inline;
  word-break: keep-all;
  white-space: nowrap;
  float: left;
}
.game_c2 {
  margin-top: 9px;
  padding-left: 11px;
}
.game_c2 li {
  display: inline;
}
.game_c2 li a {
  display: inline-block;
  float: left;
  font-size: 12px;
  text-align: center;
  width: 71px;
  height: 74px;
  margin: 6px 0 7px;
  overflow: hidden;
}
.game_c2 li a p {
  height: 22px;
  line-height: 22px;
  cursor: pointer;
}
.game_c3 {
  padding-top: 15px;
}
.wideScreen .wide_only {
  display: inline;
}
/* 底部游戏图片仅在宽屏下显示 */
.g_c3_pic {
  width: 260px;
}
.g_c3_pic a {
  display: inline-block;
  width: 100px;
  height: 90px;
  background: #f0f0f0;
  text-align: center;
  float: left;
  margin-right: 28px;
}
.g_c3_pic a p {
  height: 20px;
  line-height: 20px;
  _line-height: 24px;
  overflow: hidden;
  font-size: 12px;
  cursor: pointer;
}
.g_c3_list {
  width: 260px;
  margin-top: 7px;
}
.g_c3_list ul {
  width: 128px;
  float: left;
}
.g_c3_list ul li {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.g_c3_list ul li ins,
.life_c1 ins {
  display: inline-block;
  float: left;
  width: 14px;
  height: 14px;
  overflow: hidden;
  background: #b3b3b3;
  color: #fff;
  font: 12px/14px SimSun;
  font-weight: 700;
  text-align: center;
  margin: 8px 5px 0 0;
  _margin: 7px 2px 0 0;
}
.life_c1 {
  margin-top: 7px;
  width: 248px;
}
.life_c1 ins {
  margin-right: 10px;
  _margin-right: 7px;
}
.g_c3_list ul li ins.hot,
.life_c1 ins.hot {
  background: #72b7f7;
}
.life_c1 {
  margin-top: 7px;
}
.life_c1 li {
  height: 30px;
  line-height: 30px;
  width: 248px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
}
.life_c2 {
  padding-left: 20px;
  margin-top: 10px;
  width: 640px;
  margin-left: 0;
}
.life_c2 li {
  display: inline;
}
.life_c2 li a {
  display: inline-block;
  float: left;
  width: 145px;
  height: 112px;
  overflow: hidden;
  margin: 5px 13px 5px 0;
  text-align: center;
}
.life_c2 li a p {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.tool_ul {
  padding-top: 10px;
  height: 100%;
  overflow: hidden;
  width: 260px;
}
.tool_ul li {
  display: inline;
}
.tool_ul li a {
  display: inline-block;
  width: 45px;
  height: 46px;
  overflow: hidden;
  border: 1px solid #d9edff;
  border-radius: 3px;
  background: #fff;
  margin: 5px 14px 7px 0;
  float: left;
  font-size: 12px;
  text-align: center;
  position: relative;
}
.tool_ul li a ins {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  top: 6px;
  left: 13px;
  position: absolute;
  cursor: pointer;
  color: #72b7f7;
  text-align: left;
  font-size: 20px;
}
.tool_ul li a p {
  cursor: pointer;
  display: block;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  padding-top: 28px;
}
.b_c1_pic,
.b_c1_list {
  width: 270px;
}
.b_c1_pic {
  padding: 15px 0 8px 0;
  height: 73px;
  overflow: hidden;
}
.b_c1_pic a {
  display: inline-block;
  width: 102px;
  height: 75px;
  margin-right: 22px;
  overflow: hidden;
  float: left;
}
.b_c1_pic a img {
  width: 98px;
  height: 71px;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid #f0f0f0;
  padding: 1px;
  background: #fff;
}
.b_c1_pic a:hover img {
  border: 2px solid #e6e6e6;
  padding: 0;
  background: #e6e6e6;
}
.b_c1_list ul {
  width: 119px;
  float: left;
}
.b_c1_list ul li {
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  background-position: -29px -1023px;
  width: 111px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
}
.m_buy,
.m_video {
  height: 286px;
}
.buy_c2 {
  width: 904px;
  border-right: none;
  margin-right: 0;
  margin-top: 10px;
  padding-left: 10px;
  margin-left: 0;
}
.buy_c2 li {
  width: 170px;
  height: 110px;
  overflow: hidden;
  float: left;
  _display: inline;
  margin: 5px 0 5px 10px;
  position: relative;
  z-index: 5;
}
.buy_c2 li .mask,
.buy_c2 li a p {
  display: block;
  width: 170px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 90px;
}
.buy_c2 li .mask {
  opacity: 0.5;
  filter: alpha(opacity=50);
  background: #000;
  z-index: 9;
}
.buy_c2 li a p {
  z-index: 10;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.buy_c2 li a:hover p {
  text-decoration: underline;
}
.buy_c2 li.v_main_pic {
  width: 170px;
  height: 230px;
}
.buy_c2 li.v_main_pic .mask,
.buy_c2 li.v_main_pic p {
  top: 210px;
}
.buy_c2 li p .icon_video {
  display: inline-block;
  width: 17px;
  height: 17px;
  overflow: hidden;
  background: url(../images/icon_video.png) no-repeat;
  _background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/icon_video.png');
  position: absolute;
  top: 1px;
  right: 5px;
}
.m_video .buy_c2 li a p {
  padding-left: 5px;
  text-align: left;
  width: 165px;
}
.toolbox {
  height: 166px;
  padding-top: 3px;
}
.toolbox dd {
  height: 33px;
  line-height: 33px;
  width: 108px;
  padding-left: 18px;
  float: left;
  overflow: hidden;
}
.toolbox dd .split {
  color: #d4d4d4;
  padding: 0 4px 0 2px;
  position: relative;
  top: -1px;
}
.toolbox ins a {
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
  margin: 7px 5px 0 0;
  _margin-right: 2px;
  text-decoration: none;
  background-image: url(/static/images/daohang/2345/icons2.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.toolbox ins a.t1 {
  background-position: 0px -1px;
}
.toolbox ins a.t2 {
  background-position: -126px -1px;
}
.toolbox ins a.t3 {
  background-position: 0px -34px;
}
.toolbox ins a.t4 {
  background-position: -126px -34px;
}
.toolbox ins a.t5 {
  background-position: 0px -67px;
}
.toolbox ins a.t6 {
  background-position: -126px -67px;
}
.toolbox ins a.t7 {
  background-position: 0px -100px;
}
.toolbox ins a.t8 {
  background-position: -126px -100px;
}
.toolbox ins a.t9 {
  background-position: 0px -133px;
}
.toolbox ins a.t10 {
  background-position: -126px -133px;
}
.toolbox ins a:hover {
  color: #72b7f7;
  text-decoration: none;
}
.toolForm {
  height: 83px;
  margin: 10px auto 0;
  width: 253px;
  border: 1px solid #b8e0ff;
  box-shadow: 0 2px 4px 0 #e7e9ec;
  background: #fff;
  border-top: none;
}
.city_ipt {
  width: 60px;
  padding-left: 3px;
  height: 19px;
  line-height: 19px;
  border: 1px solid #a7bcd0;
  color: #a8a8a8;
  margin: 0 3px;
  font-size: 12px;
}
.plane_btn {
  width: 53px;
  height: 22px;
  line-height: 20px;
  font-size: 12px;
  cursor: pointer;
}
.toolForm .tcnt {
  height: 40px;
  padding: 11px 0 0 18px;
  clear: both;
  position: relative;
  z-index: 2;
}
.mob_history {
  display: none;
  position: absolute;
  z-index: 5;
  left: 5px;
  top: 37px;
  border: 1px solid #999;
  background: #fff;
  width: 114px;
  font-family: Tahoma;
}
.mob_history p {
  height: 23px;
  line-height: 23px;
  padding-left: 5px;
  cursor: pointer;
}
.mob_history p.hover {
  background: #3299fe;
  color: #fff;
  text-decoration: none;
}
.toolipt {
  width: 99px;
  padding-left: 5px;
  height: 27px;
  line-height: 27px;
  border: 1px solid #c0c0c0;
  color: #b4b4b4;
  font-size: 12px;
  float: left;
  background: #fff;
}
.t_select {
  background: url(../images/bgs14.png) -25px -205px no-repeat;
  height: 29px;
  line-height: 29px;
  float: left;
  font-size: 13px;
  width: 56px;
  position: relative;
}
.t_select a {
  display: block;
  padding-left: 4px;
  zoom: 1;
}
.t_select ul {
  position: absolute;
  top: 29px;
  left: -1px;
  width: 55px;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-top: none;
}
.t_select li {
  height: 23px;
  line-height: 23px;
  padding-left: 5px;
  cursor: pointer;
}
.t_select .hover {
  background: #4dabf0;
  color: #fff;
  text-decoration: none;
}
.toolbtn {
  margin-left: 4px;
  width: 51px;
  height: 29px;
  line-height: 29px;
  cursor: pointer;
  font-size: 12px;
  float: left;
  background: url(../images/bgs14.png) 0 -236px no-repeat;
  border: none;
}
.toolbtn_hov {
  background-position: 0 -266px;
  color: #1587bf;
}
.hotel_iptCity,
.hotel_iptDate {
  width: 63px;
  padding-left: 5px;
  height: 27px;
  line-height: 27px;
  border: 1px solid #c0c0c0;
  color: #b4b4b4;
  float: left;
}
.hotel_iptDate {
  width: 90px;
  margin: 0 6px;
}
.toolForm3 ins {
  float: left;
  display: inline-block;
  padding: 0 4px;
  height: 29px;
  line-height: 29px;
}
.tag {
  height: 27px;
  line-height: 27px;
  background: #eef6fe;
  border-top: 1px solid #b8e0ff;
  border-bottom: 1px solid #deecfa;
  font-size: 14px;
}
.tag li {
  display: inline;
}
.tag li a {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  padding-top: 2px;
  margin: 4px 0 0 -1px;
  text-align: center;
  width: 64px;
  float: left;
  font-size: 14px;
  color: #1896d4;
  font-family: '\5B8B\4F53';
  font-weight: bold;
}
.tag li a:hover,
.tag li.cur a:hover {
  color: #f30;
}
.tag li.cur a {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  margin-bottom: -1px;
  background: #fcfdff;
  color: #333;
  font-weight: 700;
}
.tag li.first a {
  border-left: 0;
  margin-left: 0;
}
.tag li.last a {
  border-right: 0;
  width: 58px;
}
.toolForm .tag li.cur a#tab1 {
  color: #f30;
}
.toolForm .tag li a#tab1 {
  width: 87px;
}
.toolForm .tag li a#tab2 {
  width: 82px;
}
.toolForm .tag li a#tab3 {
  width: 82px;
}
.mod_pic_bd {
  overflow: hidden;
  padding: 15px 0 0 4px;
}
.mod_pic_bd dl {
  width: 100px;
  float: left;
  padding-left: 15px;
}
.mod_pic_bd dt {
  height: 70px;
  width: 100px;
  overflow: hidden;
}
.mod_pic_bd dt a {
  display: inline-block;
  width: 100px;
  height: 65px;
  overflow: hidden;
  font-size: 12px;
  text-align: center;
  float: left;
  position: relative;
  color: #fff;
}
.mod_pic_bd dt a span {
  display: block;
  height: 16px;
  line-height: 16px;
  bottom: 0;
  bottom: -1px;
  left: 0;
  width: 100px;
  z-index: 9;
  position: absolute;
  cursor: pointer;
}
.mod_pic_bd dt a span.shadow {
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 1;
}
.mod_pic_bd dt a:hover span {
  color: #fff;
  text-decoration: underline;
}
.mod_pic_bd dd {
  height: 25px;
  line-height: 25px;
  padding-left: 9px;
  background-position: -29px -1025px;
  overflow: hidden;
}
.mod_pic_bd dd ins {
  display: inline-block;
  float: left;
  width: 14px;
  height: 14px;
  overflow: hidden;
  background: #b3b3b3;
  color: #fff;
  font: 12px/14px Arial;
  font-weight: 700;
  text-align: center;
  margin: 5px 5px 0 0;
  _margin-right: 2px;
}
.mod_pic_bd dd ins.hot {
  background: #72b7f7;
}
.channelLoading {
  font-size: 12px;
  width: 100px;
  margin: 60px auto 0;
  height: 16px;
  line-height: 16px;
  background: url(../images/mystyle_wait.gif) no-repeat;
  padding-left: 20px;
  color: #999;
}
.orderList dd {
  background: none;
  padding-left: 0;
}
.mod_news {
  height: 174px;
  overflow: hidden;
}
.mod_newsbd {
  margin-top: 6px;
  font-family: \5B8B\4F53;
}
.mod_newsbd li {
  height: 27px;
  line-height: 27px;
  padding-left: 24px;
  background-position: -14px -1024px;
  overflow: hidden;
}
.mod_newsbd li a {
  display: inline-block;
  position: relative;
  height: 27px;
  overflow: hidden;
}
.mod_newsbd li a.pic {
  padding-right: 17px;
  background-position: right -861px;
}
.mod_newsbd li a.vid {
  padding-right: 17px;
  background-position: right -833px;
}
.mod_v {
  height: 232px;
  overflow: hidden;
}
.mod_buy {
  height: 284px;
  overflow: hidden;
}
.mod_buy .mod_pic_bd dt {
  padding-bottom: 2px;
}
.mod_game {
  height: 234px;
  overflow: hidden;
}
.mod_car {
  height: 178px;
}
.mod_book {
  height: 181px;
}
.r_gao_normal .r_gao1 .mod_pic_bd {
  padding-top: 16px;
}
.r_gao_normal .r_gao1 .mod_pic_bd dd {
  height: 30px;
  line-height: 30px;
}
.r_gao_normal .r_gao1 .mod_v {
  height: 246px;
}
.r_gao_normal .r_gao1 .mod_buy {
  height: 296px;
}
.r_gao_normal .r_gao1 .mod_game {
  height: 242px;
}
.r_gao_normal .r_gao1 .mod_car {
  height: 184px;
}
.r_gao_normal .r_gao1 .mod_book {
  height: 186px;
}
.r_gao_normal .r_gao2 .mod_pic_bd {
  padding-top: 17px;
}
.r_gao_normal .r_gao2 .mod_pic_bd dd {
  height: 31px;
  line-height: 31px;
  background-position: -29px -1023px;
}
.r_gao_normal .r_gao2 .mod_pic_bd dd ins {
  margin-top: 8px;
}
.r_gao_normal .r_gao2 .mod_v {
  height: 250px;
}
.r_gao_normal .r_gao2 .mod_buy {
  height: 300px;
}
.r_gao_normal .r_gao2 .mod_game {
  height: 251px;
}
.r_gao_normal .r_gao2 .mod_car {
  height: 192px;
}
.r_gao_normal .r_gao2 .mod_book {
  height: 190px;
}
.r_gao_topic .mod_v {
  height: 210px;
}
.r_gao_topic .mod_pic_bd {
  padding-top: 10px;
}
.r_gao_topic .mod_buy {
  height: 260px;
}
.r_gao_topic .mod_game {
  height: 210px;
}
.r_gao_topic .mod_car {
  height: 161px;
}
.r_gao_topic .mod_book {
  height: 161px;
}
.r_gao_topic .r_gao1 .mod_pic_bd {
  padding-top: 12px;
}
.r_gao_topic .r_gao1 .mod_pic_bd dd {
  height: 27px;
  line-height: 27px;
  background-position: -29px -1025px;
}
.r_gao_topic .r_gao1 .mod_pic_bd dd ins {
  margin-top: 6px;
}
.r_gao_topic .r_gao1 .mod_v {
  height: 222px;
}
.r_gao_topic .r_gao1 .mod_buy {
  height: 269px;
}
.r_gao_topic .r_gao1 .mod_game {
  height: 222px;
}
.r_gao_topic .r_gao1 .mod_car {
  height: 167px;
}
.r_gao_topic .r_gao1 .mod_book {
  height: 167px;
}
.r_gao_topic .r_gao2 .mod_pic_bd {
  padding-top: 12px;
}
.r_gao_topic .r_gao2 .mod_pic_bd dd {
  height: 27px;
  line-height: 27px;
  background-position: -29px -1025px;
}
.r_gao_topic .r_gao2 .mod_pic_bd dd ins {
  margin-top: 6px;
}
.r_gao_topic .r_gao2 .mod_pic_bd dt {
  height: 73px;
}
.r_gao_topic .r_gao2 .mod_v {
  height: 226px;
}
.r_gao_topic .r_gao2 .mod_buy {
  height: 277px;
}
.r_gao_topic .r_gao2 .mod_game {
  height: 226px;
}
.r_gao_topic .r_gao2 .mod_car {
  height: 173px;
}
.r_gao_topic .r_gao2 .mod_book {
  height: 174px;
}
.bnav {
  clear: both;
  width: 1198px;
  margin: 3px auto 0;
  height: 69px;
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}
.tbsearch {
  height: 44px;
  line-height: 44px;
  width: 684px;
  margin: auto;
  display: block;
  text-align: center;
  overflow: hidden;
}
.gjz {
  float: left;
  font-size: 13px;
}
.gjz_g {
  height: 37px;
  float: left;
  margin: 10px 0 0;
}
.gjz_g img {
  vertical-align: top;
  float: left;
}
.tbsearch input {
  float: left;
  margin-left: 5px;
  margin-top: 11px;
}
#J_bottomSearch {
  width: 490px;
  border: 1px solid #cdcdcd;
  border-top: 1px solid #9a9a9a;
  height: 28px;
  line-height: 28px;
  padding: 2px 0 0 2px;
  background: #fff;
  font-size: 16px;
}
.bottomSbm {
  width: 80px;
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  margin-top: 10px;
  background: url(../images/bgs14.png) no-repeat 0 -452px;
  border: 0 none;
  box-shadow: 1px 1px 3px 0 #ccc;
  cursor: pointer;
}
#gotop {
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #999;
  padding-right: 13px;
  margin-right: 0;
  background: url(../images/bgs14.png) 49px -425px no-repeat;
  _background-position: 49px -426px;
  position: absolute;
  right: 1px;
  bottom: 0;
}
.tblist {
  height: 28px;
  line-height: 28px;
  clear: both;
  padding-left: 340px;
  text-align: left;
}
.tblist a,
.tblist label {
  margin: 0 12px 0 2px;
  zoom: 1;
  font-size: 13px;
}
.tblist input {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin: -4px 4px 0 11px;
  _margin-top: 0;
}
#footer {
  clear: both;
  line-height: 42px;
  height: 42px;
  background: #F7FAFF;
  min-width: 1198px;
  color: #f2f2f2;
  overflow: hidden;
}
#footer .inner {
  width: 1198px;
  margin: 0 auto;
  position: relative;
}
#footer a,
#footer a:hover {
  color: #f2f2f2;
}
#footer a b {
  font-family: \5B8B\4F53;
  font-weight: 700;
}
#footer a:hover b {
  text-decoration: underline;
}
#footer .ft_right {
  display: inline-block;
  position: absolute;
  right: 2px;
  top: 0;
  color: #f2f2f2;
  text-align: right;
}
#footer .ft_right a {
  display: inline-block;
  float: left;
  margin-left: 6px;
}
#footer a.f_brand {
  color: #000;
}
#footer a:hover.f_brand {
  color: #f60;
}
#footer ins {
  color: #8f8f8f;
  margin: 0 3px;
}
.ft_in_left,
.renzheng {
  display: inline-block;
  float: left;
}
.renzheng {
  margin: 12px 0 0 5px;
}
#footer img {
  vertical-align: top;
}
.renzheng_1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 2px;
}
.renzheng_2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 4px;
}
.renzheng_3 {
  display: inline-block;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 4px;
}
.ft_android,
.ft_iphone {
  display: inline-block;
  height: 25px;
  line-height: 100px;
  overflow: hidden;
  width: 100px;
  background: url(../images/bgs14.png) no-repeat 0 -586px;
  margin-top: 8px;
}
.ft_iphone {
  background-position: -100px -586px;
}
a:hover.ft_android {
  background-position: 0 -613px;
}
a:hover.ft_iphone {
  background-position: -100px -613px;
}
a:hover,
.weekblack:hover,
.top a:hover .fred,
a:hover em.fred,
.kzjx b a:hover,
.right_nav h3 a:hover,
.top_time a:hover span,
#gotop:hover,
.top_weather p a:hover,
.kzjx h2 a:hover,
.kzjx dt a:hover,
.gray a:hover,
.top_weather p a:hover,
.fred,
.top a.fred,
.toolbox h2 .fred,
.top_left a.fred,
.jrc,
.header a.fred,
.fred a,
.hotw a.fred {
  color: #ff3300;
}
.fgray {
  color: #999;
  margin-right: 10px;
}
.fgreen,
.toolbox h2 .fgreen,
.header a.fgreen,
.hotw a.fgreen {
  color: #178517!important;
}
.fblue,
a.fblue,
.header a.fblue,
.hotw a.fblue,
.blue {
  color: #2371c8!important;
}
.gray a {
  color: #999;
}
.tip_ie6 {
  height: 84px;
  background: #f6f4df;
  border-bottom: 1px solid #ccccc4;
  font-size: 13px;
}
.tip_ie6_in {
  background: url(../images/notice_ie6.png) 115px 50% no-repeat;
  margin: 0 auto;
  width: 1020px;
  text-align: left;
  height: 59px;
  padding: 25px 0 0 180px;
  line-height: 20px;
}
.tip_ie6_in img {
  vertical-align: top;
  margin: -9px 2px 0;
}
.tip_ie6_in a {
  color: #4077ad;
}
.tip_ie6_in a.ie6_close {
  float: right;
  color: #999;
  font-size: 12px;
  margin-top: -15px;
}
.tip_ie6_in a:hover {
  color: #f30;
}
.ipad {
  height: 68px;
  border: 1px solid #91c4f7;
  background: #f0f7ff;
  border-radius: 5px;
  margin-top: 1px;
  text-align: left;
  padding: 0 20px;
  font-size: 14px;
  line-height: 20px;
}
.ipadlogo {
  margin: 10px 8px 0 0;
  float: left;
}
.tipclo {
  background: url(../images/ipadclosetip.png) 0 0 no-repeat;
  width: 18px;
  height: 18px;
  display: inline-block;
  float: right;
  margin: 16px 0 0;
}
.ipad strong {
  display: block;
  font-weight: bold;
  margin: 13px 0 5px;
}
.ipad p img {
  margin: 0 3px;
}
.announcement {
  width: 520px;
  text-align: left;
  border: 1px solid #efefef;
  color: #3B5998;
  font-size: 14px;
  padding: 8px;
  line-height: 30px;
  margin: 0 auto 15px;
}
.adbox {
  text-align: center;
}
.adbox a {
  display: block;
  background: #fff;
}
.air_qlt {
  display: block;
  cursor: pointer;
  height: 14px;
  line-height: 14px;
  padding-top: 8px;
}
.air_qlt ins {
  display: inline-block;
  width: 25px;
  height: 14px;
  background: url(../images/bgs14.png) no-repeat;
  overflow: hidden;
  vertical-align: middle;
  margin: -2px 0 0 3px;
}
.air_qlt ins.air_you {
  background-position: 0 -300px;
  width: 14px;
}
.air_qlt ins.air_liang {
  background-position: -28px -300px;
  width: 14px;
}
.air_qlt ins.air_qing {
  background-position: -58px -300px;
}
.air_qlt ins.air_zhong1 {
  background-position: -85px -300px;
}
.air_qlt ins.air_zhong2 {
  background-position: -112px -300px;
}
.air_qlt ins.air_zhong3 {
  background-position: -139px -300px;
}
.pop_iframe {
  position: absolute;
  z-index: 501;
  top: 0;
  left: 0;
}
.filterbg {
  background: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
  position: absolute;
  z-index: 502;
  top: 0;
  left: 0;
  height: 2104px;
  width: 100%;
}
.favli li ins,
.t_right a.btn_close,
.t_right a:hover.btn_close,
.p_btn_add,
.tip_modify,
.tip_modify2,
.nav_left li ins,
.sort_con dl dd a .f_add,
.sort_con dl dd .fbtn_en {
  background: url(../images/myfav_0218.png) no-repeat;
}
.pop {
  position: absolute;
  top: 200px;
  z-index: 503;
  width: 933px;
  background: #fff;
  border: 1px solid #ccc;
}
.pop_tit {
  line-height: 29px;
  height: 29px;
  background: #f0f0f0;
  text-align: center;
}
.pop_tit h3 {
  padding-left: 10px;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  float: left;
  display: inline-block;
}
.pop_tit .t_right {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 35px;
}
.pop_tit .t_right a {
  color: #1896d4;
}
.pop_tit .t_right a:hover {
  color: #f60;
}
.t_right a.btn_close {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: -56px -46px;
  position: absolute;
  top: 2px;
  right: 5px;
}
.t_right a:hover.btn_close {
  background-position: -82px -46px;
}
.t_right .yuntongbu {
  color: #490;
  padding-left: 15px;
  background: url(../images/popbgs1015.png) -280px 0px no-repeat;
}
.pop_bd {
  padding: 10px 0 25px;
  font-size: 14px;
  position: relative;
  z-index: 99;
}
.pop_bd_fav {
  border-top: 1px dotted #ccc;
  margin: 0 10px;
  padding-bottom: 15px;
}
.form_add {
  padding-left: 170px;
  position: relative;
  margin-top: 10px;
  _margin-top: 20px;
  height: 31px;
}
.form_add label {
  height: 26px;
  line-height: 26px;
  *line-height: 22px;
  display: inline-block;
  vertical-align: middle;
}
.p_ipt_01 {
  width: 145px;
  padding: 4px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #7b9abd;
  color: #999;
}
#websiteURL {
  width: 225px;
}
.p_btn_add {
  width: 80px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  background: transparent url(../images/popbgs1015.png) no-repeat 0 -37px;
  border: 0 none;
  cursor: pointer;
  margin-left: 10px;
}
.p_btn_cancel {
  width: 50px;
  height: 26px;
  line-height: 26px;
  color: #999;
  background: transparent url(../images/popbgs1015.png) no-repeat -82px -37px;
  border: 0 none;
  cursor: pointer;
  margin-left: 10px;
}
.p_fav_tip {
  display: inline-block;
  background: #ffffe1;
  border: 1px solid #e7c88d;
  color: #999;
  font-size: 12px;
  margin: 15px auto 0 150px;
  width: 430px;
  position: relative;
  padding-left: 5px;
}
.p_fav_tip2 {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: #666666;
}
.p_fav_tip2 a {
  color: #1896d4;
}
.p_fav_tip2 a:hover {
  color: #f30;
  text-decoration: underline;
}
.closebtn_tip {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/popbgs1015.png) no-repeat -188px -3px;
  position: absolute;
  top: 0;
  right: 5px;
}
.p_fav_tip a {
  color: #1896d4;
}
.p_fav_tip a:hover {
  color: #ff6600;
}
.p_fav_tip3 {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  background: #ffffe1;
  border: 1px solid #e7c88d;
  padding: 0 10px;
  color: #666;
  margin: 3px auto 0;
}
.p_fav_tip3 a {
  color: #1896d4;
}
.p_fav_tip3 a:hover {
  color: #f30;
}
.p_fav_tip3 a.qqdl {
  background: url(../images/myfav_0218.png) -24px -121px no-repeat;
  padding-left: 18px;
  display: inline-block;
  color: #f30;
}
.p_fav_tip3 ins {
  text-decoration: none;
  color: #e0e0e0;
  margin: 0 7px 0 6px;
}
.tip_clearfav {
  display: inline-block;
  width: 288px;
  padding-left: 10px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 1px;
  left: 322px;
  color: #666;
  overflow: hidden;
  background: #fdfdd9;
  border: 1px solid #efb74d;
  text-align: center;
}
.ico_clear {
  display: inline-block;
  width: 12px;
  height: 12px;
  overflow: hidden;
  background: url(../images/myfav_0218.png) -188px -235px no-repeat;
  float: left;
  margin: 6px 5px 0 0;
}
.tip_clearfav p {
  float: left;
  display: inline-block;
  text-align: left;
}
.btn_clearfav,
.btn_clear_cancel {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: url(../images/myfav_0218.png) -81px -74px no-repeat;
  float: left;
}
.btn_clearfav {
  width: 67px;
  color: #fff;
  margin: 2px 12px 0 0;
}
.num_clearfav {
  color: #f30;
  font-weight: 700;
}
a:hover.btn_clearfav {
  color: #fff;
}
.btn_clear_cancel {
  width: 40px;
  color: #666;
  background-position: -81px -96px;
  margin-top: 2px;
}
a:hover.btn_clear_cancel {
  color: #666;
}
.login_right {
  width: 450px;
  height: 158px;
  overflow: hidden;
  float: right;
  line-height: 26px;
  margin: 15px 0 5px 10px;
  padding-top: 38px;
  border-left: 1px solid #e6e6e6;
  font-size: 12px;
  color: #666666;
}
.login_right table {
  table-layout: fixed;
}
.login_right th {
  vertical-align: top;
  width: 145px;
  text-align: right;
  padding-right: 5px;
  height: 45px;
  line-height: 45px;
  font-weight: 100;
  font-size: 14px;
  color: #666;
}
.login_right td {
  vertical-align: top;
  height: 45px;
  line-height: 45px;
}
.login_right td p {
  line-height: 18px;
  font-size: 12px;
  color: #999;
}
.login_right td p.red {
  color: red;
}
.p_login_inbox {
  width: 193px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #cdcdcd;
  padding-left: 5px;
}
.p_login_t {
  margin: 10px 0 0 58px;
  height: 40px;
  line-height: 40px;
}
.p_login_btn {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: transparent url(../images/popbgs1015.png) no-repeat;
  width: 100px;
  height: 35px;
  line-height: 35px;
  border: 0 none;
  cursor: pointer;
}
.fblue2 {
  color: #1896d4;
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
}
a:hover.fblue2 {
  color: #f60;
}
.btnsgp {
  width: 265px;
  position: relative;
}
.btnsgp a.qq {
  width: 217px;
  height: 62px;
  line-height: 1000px;
  display: block;
  background: url(../images/login_sprite2.png) 0 0 no-repeat;
  overflow: hidden;
}
.btnsgp a.qq:hover {
  background-position: -224px 0;
}
.btnsgp a.s_btn_weibo {
  width: 31px;
  height: 29px;
  line-height: 1000px;
  overflow: hidden;
  background: url(../images/login_sprite2.png) -445px 0 no-repeat;
  position: absolute;
  top: 18px;
  right: 0;
}
.btnsgp a:hover.s_btn_weibo {
  background-position: -479px 0;
}
.btnsgp .iLine {
  height: 55px;
  width: 0;
  border-left: 1px dashed #b4d9e8;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  left: 226px;
  top: 5px;
}
.btn_01,
.btn_01_hov {
  width: 75px;
  height: 30px;
  line-height: 30px;
  background: url(../images/login_sprite2.png) 0 -67px no-repeat;
  border: 0 none;
  cursor: pointer;
  color: #2d87cc;
  font-size: 12px;
  font-weight: 700;
  margin-right: 60px;
  vertical-align: middle;
}
.btn_01_hov {
  background-position: -79px -67px;
  color: #ff3300;
}
#J_popBox {
  width: 1202px;
  margin: 0 auto;
}
.pop .myfav {
  margin-bottom: 0;
  z-index: 502;
  background: #fff;
}
.pop .myfav .favli li a {
  _font-family: \5B8B\4F53;
}
.pop .fblue {
  color: #1896d4;
}
.ipt_tip_w {
  position: relative;
  width: 330px;
  display: inline-block;
}
.ipt_tip {
  display: inline-block;
  width: 82px;
  height: 27px;
  line-height: 22px;
  padding-left: 22px;
  overflow: hidden;
  color: #666;
  font-size: 12px;
  position: absolute;
  top: -28px;
  left: 436px;
  background: url(../images/popbgs1015.png) -90px -218px no-repeat;
}
.ipt_tip_2 {
  width: 91px;
  background-position: -90px -245px;
  left: 234px;
}
.ipt_tip_3 {
  width: 65px;
  background-position: -198px -218px;
}
.myfav_w {
  position: relative;
  width: 100%;
  z-index: 10;
  font-size: 0;
  min-height: 2px;
  _height: 2px;
  background: transparent;
}
.myfav_tit {
  border-top: 1px dotted #c7dff3;
  margin: 0 5px;
  position: relative;
  z-index: 9;
}
.myfav_tit strong {
  font-weight: 100;
  font-size: 12px;
  padding: 0 2px 0 10px;
  background: #fff;
  position: absolute;
  top: -10px;
  left: 0;
}
.myfav_tit strong a {
  color: #2d87cc;
}
.myfav_tit strong a:hover {
  color: #ff3300;
}
.myfav {
  line-height: 22px;
  margin: 0 auto;
  padding: 13px 0 0 4px;
}
.favli li {
  display: inline-block;
  _display: inline;
  height: 22px;
  line-height: 22px;
  width: 122px;
  padding: 0 4px;
  border: 1px dotted #bbb;
  float: left;
  word-break: keep-all;
  white-space: nowrap;
  position: relative;
  color: #999;
  margin: 0 0 10px 17px;
}
.favli li {
  display: inline-block;
  _display: inline;
  height: 22px;
  line-height: 22px;
  width: 122px;
  padding: 0 4px;
  border: 1px dotted #bbb;
  float: left;
  word-break: keep-all;
  white-space: nowrap;
  color: #999;
  margin: 0 0 10px 17px;
  background-color: white;
}
.favli li:hover {
  border-color: #000;
}
.favli li div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.favli #J_tip_fav5 {
  width: 143px;
}
.favli li a {
  display: inline-block;
  float: left;
  line-height: 18px\0;
  padding-top: 1px\0;
  *line-height: 17px;
  *padding-top: 3px;
  width: 85px;
  position: relative;
  z-index: 500;
  text-decoration: none!important;
  color: #666!important;
  background-color: white;
}
.favli li:hover ins,
.favli li.hov ins,
#J_siteEdit_weblist ins {
  visibility: visible;
}
.favli li ins {
  display: inline-block;
  width: 13px;
  height: 12px;
  overflow: hidden;
  background-position: 0 0;
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  right: 4px;
  top: 5px;
}
.favli li ins.hov {
  background-position: -19px 0;
}
.favli li ins.i_modify,
.favli li ins.i_modify_hov {
  right: 20px;
  background-position: 0 -14px;
}
.favli li ins.i_modify_hov {
  background-position: -19px -14px;
}
.favli ins.i_delete_hov {
  background-position: -19px 0;
}
.tip_modify {
  display: block;
  width: 121px;
  height: 66px;
  overflow: hidden;
  background-position: 0 -164px;
  position: absolute;
  top: 46px;
  left: 32px;
  z-index: 502;
}
.tip_modify2 {
  display: block;
  width: 121px;
  height: 66px;
  overflow: hidden;
  background-position: 0 -235px;
  position: absolute;
  top: 19px;
  left: 250px;
  z-index: 502;
}
.t_m_clo {
  width: 16px;
  height: 16px;
  overflow: hidden;
  cursor: pointer;
  margin: 13px 0 0 90px;
  display: block;
}
.tip_fav1,
.tip_fav2 {
  _line-height: 17px;
  _height: 17px;
  _padding-top: 2px;
}
.tip_fav2 {
  color: #490;
  padding-left: 12px;
  background-position: -20px -944px;
}
.fav_ul {
  position: relative;
  padding: 0;
  margin: 10px 6px 7px;
}
.fav_ul li a,
.favli li a {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.fav_ul li a {
  width: 107px;
}
.mzdh_list li.btn_add_0 a {
  color: #999;
  display: block;
  width: 105px;
  height: 22px;
  line-height: 22px;
  overflow: visible;
  float: none;
  text-align: left;
  border: 1px solid #e6e6e6;
  margin: 3px auto 2px;
  position: relative;
}
.mzdh_list li.btn_add_0 a:hover,
.mzdh_list li.btn_add_0 a.on {
  color: #2d87cc;
  text-decoration: none;
  border-color: #9ed5ff;
  background: none;
  height: 22px;
  line-height: 22px;
  width: 105px;
}
.tip_num {
  display: inline-block;
  width: 10px;
  height: 14px;
  overflow: hidden;
  background: url(../images/myfav_0218.png) -185px -183px no-repeat;
  position: absolute;
  right: -7px;
  top: -5px;
  color: #fff;
  font: 12px/14px SimSun;
  padding-left: 5px;
  cursor: pointer;
}
.fav_edit .tip_num {
  right: -2px;
}
.tip_delete {
  display: inline-block;
  width: 14px;
  height: 14px;
  overflow: hidden;
  background: url(../images/myfav_0218.png) -168px -183px no-repeat;
  position: absolute;
  right: -5px;
  top: -5px;
  color: #fff;
  font: 10px/14px Arial;
  -webkit-text-size-adjust: none;
  text-align: center;
  cursor: pointer;
}
.fav_edit .tip_delete {
  right: -2px;
}
.ico_add_16 {
  display: inline-block;
  background: url(../images/myfav_0218.png) 0 -123px no-repeat;
  width: 16px;
  height: 16px;
  overflow: hidden;
  cursor: pointer;
  float: left;
  margin: 4px 6px 0 14px;
}
a:hover .ico_add_16,
a:hover.ico_add_16,
.on .ico_add_16,
.on.ico_add_16 {
  background-position: 0 -144px;
}
.fav_edit {
  position: absolute;
  right: 0;
  bottom: 8px;
}
.icon_add {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 99;
  right: 0;
  _right: -1px;
  top: -14px;
}
.icoAdd_myfav,
.icoSub_myfav {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/skin0_19.png) 0 0 no-repeat;
  cursor: pointer;
}
.icoSub_myfav {
  background-position: -22px 0;
}
.tip_yun_open {
  display: inline-block;
  width: 101px;
  height: 28px;
  line-height: 20px;
  padding-top: 8px;
  text-align: center;
  color: #888;
  font-size: 12px;
  background: url(../images/bgs14.png) no-repeat -99px -322px;
  position: absolute;
  top: 14px;
  right: 3px;
  z-index: 10;
}
.pop_sort {
  background: #f5f5f5;
  border-top: 1px solid #ededed;
  height: 325px;
  overflow: hidden;
}
.nav_left {
  width: 130px;
  float: left;
  margin-top: -1px;
}
.nav_left li {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  font-size: 14px;
  cursor: pointer;
}
.nav_left li:hover {
  background: #fff;
  color: #333;
  text-decoration: none;
}
.nav_left li.cur,
.nav_left li:hover.cur {
  background: #fff;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  font-weight: 700;
  margin-right: -1px;
  position: relative;
  z-index: 9;
}
.nav_left li ins {
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  background-position: -163px -46px;
  float: left;
  margin: 11px 7px 0 0;
  _margin-right: 5px;
}
.nav_left li ins.i_0 {
  background-position: -163px -46px;
}
.nav_left li ins.i_1 {
  background-position: -163px -65px;
}
.nav_left li ins.i_2 {
  background-position: -163px -84px;
}
.nav_left li ins.i_3 {
  background-position: -163px -103px;
}
.nav_left li ins.i_4 {
  background-position: -163px -122px;
}
.nav_left li ins.i_5 {
  background-position: -163px -141px;
}
.nav_left li ins.i_6 {
  background-position: -163px -160px;
}
.nav_left li.cur ins.i_0 {
  background-position: -182px -46px;
}
.nav_left li.cur ins.i_1 {
  background-position: -182px -65px;
}
.nav_left li.cur ins.i_2 {
  background-position: -182px -84px;
}
.nav_left li.cur ins.i_3 {
  background-position: -182px -103px;
}
.nav_left li.cur ins.i_4 {
  background-position: -182px -122px;
}
.nav_left li.cur ins.i_5 {
  background-position: -182px -141px;
}
.nav_left li.cur ins.i_6 {
  background-position: -182px -160px;
}
.sort_con {
  padding: 0 7px 13px 30px;
  height: 100%;
  width: 763px;
  float: left;
  border-left: 1px solid #e5e5e5;
  background: #fff;
}
.sort_con dl {
  display: none;
}
.sort_con dl dt {
  font-size: 12px;
  color: #1896d4;
  font-weight: 100;
  height: 32px;
  line-height: 32px;
  padding-top: 5px;
  margin: 0 0 1px;
  border-top: 1px dotted #ccc;
  clear: both;
  overflow: hidden;
}
.sort_con dl dt.firstline {
  border-top: 0 none;
}
.sort_con dl dd {
  font-size: 14px;
  display: block;
  padding-bottom: 4px;
}
.sort_con dl dd .clearfix {
  height: 0;
  overflow: hidden;
}
.sort_con dl dd li {
  width: 189px;
  height: 26px;
  margin-bottom: 7px;
  display: inline-block;
  position: relative;
  float: left;
}
.sort_con dl dd a {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  float: left;
  position: relative;
  width: 127px;
}
.sort_con dl dd a.fbtn_cancel {
  width: auto;
  margin-right: 5px;
}
.sort_con dl dd a:hover {
  background: #38a9ff;
  text-decoration: none;
  color: #fff;
}
.sort_con dl dd a .f_add {
  display: inline-block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  float: left;
  background-position: -40px 0;
  margin: 8px 5px 0 6px;
}
.sort_con dl dd a:hover .f_add {
  background-position: -54px 0;
}
.sort_con dl dd .fbtn_en {
  width: 21px;
  height: 26px;
  overflow: hidden;
  background-position: -40px -14px;
  margin-left: 1px;
  display: none;
}
.sort_con dl dd .fbtn_en:hover {
  background: transparent url(../images/myfav_0218.png) -64px -14px no-repeat;
}
.sort_con dl dd .li_selected a {
  color: #999;
}
.sort_con dl dd .li_selected a:hover {
  background: none;
  color: #999999;
}
.sort_con dl dd .li_selected .f_add,
.sort_con dl dd .li_selected a:hover .f_add {
  background-position: -69px 0;
}
.sort_con dl dd .li_selected .fbtn_en {
  width: 14px;
  height: 15px;
  background-position: -88px -14px;
  margin-top: 5px;
  display: block;
}
.sort_con dl dd .li_selected .fbtn_en:hover {
  background: transparent url(../images/myfav_0218.png) -106px -14px no-repeat;
}
.tip_fav3,
.tip_fav7 {
  display: inline-block;
  width: 82px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #e7c88d;
  background: #ffffe1;
  position: absolute;
  left: 6px;
  top: -20px;
  z-index: 99;
  color: #666;
  font-size: 12px;
}
.sort_con dl dd .tip_fav3 a,
.sort_con dl dd .tip_fav7 a {
  line-height: 20px;
  height: 20px;
  display: inline;
  width: auto;
  text-decoration: none;
  color: #1896d4;
  float: none;
}
.sort_con dl dd .tip_fav3 a:hover,
.sort_con dl dd .tip_fav7 a:hover {
  background: none;
  text-decoration: underline;
  color: #f30;
}
.sort_con dl dd a p {
  float: left;
  cursor: pointer;
}
.tip_fav3 .ico_suc,
.tip_fav7 .ico_suc {
  display: inline-block;
  width: 12px;
  height: 12px;
  overflow: hidden;
  background: url(../images/myfav_0218.png) no-repeat -20px -57px;
  margin: 4px 4px 0 5px;
  _margin-right: 1px;
  float: left;
}
.tip_fav3 .arrow,
.tip_fav7 .arrow,
.tip_fav4 .arrow {
  display: inline-block;
  width: 9px;
  height: 6px;
  overflow: hidden;
  background: url(../images/myfav_0218.png) no-repeat -42px -57px;
  position: absolute;
  left: 21px;
  bottom: -6px;
}
.tip_fav4 {
  height: 20px;
  line-height: 20px;
  border: 1px solid #e7c88d;
  background: #ffffe1;
  padding: 0 5px 0 21px;
  color: #666;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -20px;
  word-break: keep-all;
  white-space: nowrap;
}
.tip_fav4 .ico_wrong {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../images/myfav_0218.png) no-repeat 0 -57px;
  position: absolute;
  left: 5px;
  top: 4px;
}
.tip_fav5 {
  color: #999;
}
.tip_fav7 {
  width: 146px;
}
.tip_fav_cancal {
  width: 107px;
  visibility: hidden;
}
.fbtn_cancel_visible:hover .tip_fav_cancal {
  visibility: visible;
}
.pop_guess {
  border-top: 1px solid #ededed;
  width: 933px;
  padding: 15px 0 10px;
  float: none;
  position: relative;
  border-left: none;
  z-index: 90;
}
.pop_guess dl {
  display: block;
}
.pop_guess dl dt {
  width: 110px;
  padding: 0 0 0 40px;
  font-size: 14px;
  float: left;
  border-top: 0;
}
.pop_guess dl dt strong {
  color: #f30;
  font-weight: 100;
  position: relative;
  display: inline-block;
  width: 80px;
  height: 20px;
  line-height: 20px;
  margin-top: 5px;
}
.pop_guess dl dt strong .tip_num {
  cursor: default;
  top: -5px;
  right: 4px;
}
.pop_guess dl dd {
  margin-left: 162px;
}
.ico_xin {
  display: inline-block;
  width: 11px;
  height: 9px;
  overflow: hidden;
  background: url(../images/myfav_0218.png) no-repeat -189px -206px;
  vertical-align: top;
  float: left;
  margin: 1px 0 0 2px;
}
a:hover .ico_xin {
  background-position: -189px -218px;
}
/* 20131023 个性定制 */
.top ul li.gxdz {
  position: relative;
}
.top ul li.gxdz .dztip_s {
  display: inline-block;
  width: 156px;
  height: 27px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 0;
  background: url(../images/jgz.png) 0 0 no-repeat;
}
.top ul li.gxdz .dztip_s .dzclose {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 8px 0 0 137px;
  cursor: pointer;
}
.top ul li.gxdz .dztip_w {
  display: inline-block;
  width: 181px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 8px;
  left: 25px;
  background: url(../images/jgz.png) 0 -30px no-repeat;
}
.top ul li.gxdz .dztip_w .dzclose {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 0 0 142px;
  cursor: pointer;
}
/* stop ie6 */
.stopie6 {
  height: 33px;
  line-height: 33px;
  overflow: hidden;
  background: #ffffe1;
  border-bottom: 1px solid #eed8a6;
  color: #c50000;
  min-width: 1202px;
  font-size: 12px;
}
.stopie6 .inner {
  width: 1202px;
  margin: 0 auto;
  position: relative;
}
.st_left {
  padding-left: 310px;
  display: inline-block;
  float: left;
}
.stopie6 ins.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/stopie6.png) no-repeat -84px 0;
  margin: 9px 4px 0 0;
  float: left;
}
.stopie6 a {
  color: #2371c8;
  text-decoration: underline;
}
.btn_browse {
  display: inline-block;
  width: 70px;
  height: 23px;
  line-height: 100px;
  overflow: hidden;
  background: url(../images/stopie6.png) 0 0 no-repeat;
  cursor: pointer;
  float: left;
  margin: 5px 0 0 10px;
}
.st_close {
  display: inline-block;
  width: 15px;
  height: 15px;
  overflow: hidden;
  cursor: pointer;
  background: url(../images/stopie6.png) -85px -23px no-repeat;
  position: absolute;
  right: 2px;
  top: 10px;
}
/* 2345 products */
.p_area {
  position: relative;
  width: 98px;
  z-index: 99;
  margin-right: 2px;
  _margin-right: 1px;
}
.p_area_pop {
  display: block;
  width: 295px;
  position: absolute;
  z-index: 199;
  top: 30px;
  right: 0;
  border: 1px solid #d0d5db;
  border-top: 0 none;
  padding: 10px 5px 5px 10px;
  height: 240px;
  background: #ffffff url(../images/lazyloading.gif) no-repeat center center;
}
.p_area_pop a {
  display: inline-block;
  width: 93px;
  height: 76px;
  overflow: hidden;
  float: left;
  text-align: center;
  margin: 0 5px 5px 0;
}
.p_area_pop a:hover {
  background: #eef6fe;
}
.p_area_pop a img {
  margin: 5px auto;
}
.p_area_pop a p {
  cursor: pointer;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
}
.top .p_area a.drop,
.p_area .top a.drop_h {
  width: 76px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 200;
  padding-bottom: 5px;
  *padding-bottom: 3px;
  _padding-bottom: 3px;
  font-family: 'SimSun';
}
/* corner ad */
.corner_hov {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
}
.corner_hov .cor_bg {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  z-index: 500;
}
.corner a,
.corner_hov a {
  display: inline-block;
  cursor: pointer;
}
.cor_close {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin: 55px 0 0 23px;
  z-index: 505;
  position: relative;
}
@font-face {
  font-family: '2345';
  src: url('../fonts/2345_0225.eot');
  src: url('../fonts/2345_0225.eot?#iefix') format('embedded-opentype'), url('../fonts/2345_0225.ttf') format('truetype'), url('../fonts/2345_0225.woff') format('woff'), url('../fonts/2345_0225.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.toolbox ins a,
.panel ins a,
.tool_ul li a ins,
.kz_tit a ins {
  font-family: '2345';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  color: #72b7f7;
  text-decoration: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.panel ins a {
  background-image: url(/static/images/daohang/2345/icons.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.panel ins a.t1 {
  background-position: -29px -22px;
}
.panel ins a.t2 {
  background-position: -29px -51px;
}
.panel ins a.t3 {
  background-position: -29px -83px;
}
.panel ins a.t4 {
  background-position: -29px -113px;
}
.panel ins a.t5 {
  background-position: -29px -141px;
}
.panel ins a.t6 {
  background-position: -430px -21px;
}
.panel ins a.t7 {
  background-position: -430px -54px;
}
.panel ins a.t8 {
  background-position: -430px -81px;
}
.panel ins a.t9 {
  background-position: -430px -111px;
}
.panel ins a.t10 {
  background-position: -430px -141px;
}
.panel ins a.t11 {
  background-position: -831px -21px;
}
.panel ins a.t12 {
  background-position: -831px -54px;
}
.panel ins a.t13 {
  background-position: -831px -83px;
}
.panel ins a.t14 {
  background-position: -831px -115px;
}
.panel ins a.t15 {
  background-position: -831px -141px;
}
.tool_ul li a ins {
  font-size: 20px;
}
.kz_tit a ins {
  color: #5c98e0;
}
/* loading */
.loading {
  background: url(../images/lazyloading.gif) 50% 50% no-repeat;
}
.channelLoading {
  font-size: 12px;
  width: 100px;
  margin: 60px auto 0;
  height: 16px;
  line-height: 16px;
  background: url(../images/mystyle_wait.gif) no-repeat;
  padding-left: 20px;
  color: #999;
}
.channelLoading span {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  width: 30px;
  overflow: hidden;
  vertical-align: middle;
}
.gul_loading_wrapper {
  position: relative;
}
.gul_loading {
  background-image: url(../images/lazyloading.gif);
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  width: 163px;
  position: absolute;
  left: 400px;
  top: 25px;
  font-family: \5FAE\8F6F\96C5\9ED1,\5B8B\4F53;
}
/* 云收藏清除不常用网址 */
.favli_clear li.checked {
  background: #fff2f2;
  border: 1px solid #ffb8a6;
}
.favli_clear li.checked a {
  background: #fff2f2;
}
.favli_clear #J_siteEdit_weblist li ins {
  visibility: hidden;
}
.favli_clear #J_siteEdit_weblist li ins.i_checkbox,
.favli_clear #J_siteEdit_weblist li ins.i_checkbox_checked {
  visibility: visible;
  width: 15px;
  height: 15px;
  overflow: hidden;
  background: url(../images/myfav_0218.png) no-repeat -168px -250px;
  top: 4px;
}
.favli_clear #J_siteEdit_weblist li.checked ins.i_checkbox {
  background-position: -185px -250px;
}
.favli #J_siteEdit_weblist li ins.i_checkbox {
  visibility: hidden;
}
.favli_clear #J_siteEdit_weblist li ins.i_checkbox {
  visibility: visible;
}
.ip_wrap {
  position: relative;
  display: inline-block;
  height: 26px;
  border: 1px solid red;
}
.ip_wrap .ph-label {
  position: absolute;
  left: 3px;
  top: 0px ;
  padding: 0 0 0 6px;
  line-height: 26px;
  height: 26px;
  color: #666;
  opacity: 1;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-out;
}
.ph-hide .ph-label {
  opacity: 0;
  visibility: hidden;
}
.ph-focus .ph-label {
  color: #bbbbbb;
}
.nav_left li:not(.cur):hover ins {
  -webkit-animation: toTopFromBottom .5s forwards;
  -moz-animation: toTopFromBottom .5s forwards;
  animation: toTopFromBottom 0.5s forwards;
}
@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-20%);
  }
  50% {
    opacity: .3;
    -webkit-transform: translateY(20%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-20%);
  }
  50% {
    opacity: .3;
    -moz-transform: translateY(20%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-20%);
  }
  50% {
    opacity: .3;
    transform: translateY(20%);
  }
  51% {
    opacity: 1;
  }
}
/*cnxh*/
.cnxh_box {
  clear: both;
  margin-bottom: 10px;
  border: 1px solid #b8e0ff;
  height: 129px;
  box-shadow: 0 2px 4px 0 #e7e9ec;
  background: #fff;
}
.cnxh_hd {
  position: relative;
  height: 30px;
  line-height: 30px;
  _overflow: hidden;
  _line-height: 32px;
  border-bottom: 1px solid #b8e0ff;
  background: #edf5ff;
}
.cnxh_hd .tit {
  padding-left: 8px;
  color: #2d87cc;
  font-weight: bold;
  font-size: 14px;
  float: left;
}
.cnxh_box .cnxh_hd .kz_tmall {
  position: absolute;
  top: 0;
  right: 132px;
}
.cnxh_box .cnxh_bd {
  padding-top: 5px;
}
.cnxh_box .kzjx {
  border: 0 none;
  box-shadow: none;
  padding-bottom: 0;
}
.kzjx h2.mt0 {
  margin-top: 0;
}
/* erweima */
* html,
* html body {
  background-image: url(about:blank);
  background-attachment: fixed;
}
.go_erweima {
  display: none;
  width: 108px;
  padding: 5px 3px 0;
  height: 149px;
  overflow: hidden;
  position: fixed;
  _position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
  background: #fff;
  border: 1px solid #ededed;
  text-align: center;
  _bottom: auto;
}
.go_erweima:hover {
  background: #ededed;
  border-color: #ededed;
  color: #666;
  text-decoration: none;
}
.go_erweima p {
  display: block;
  color: #666;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  text-decoration: none;
  text-align: left;
  padding-left: 12px;
}
.go_erweima_pic {
  display: block;
}
.go_erweima_pic span {
  display: block;
  background: #ffffff 0 0 no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}
.go_erweima_pic p {
  cursor: pointer;
  text-align: center;
}
a.go_erweima_pic:hover {
  text-decoration: none;
}
.m_close {
  display: inline-block;
  width: 15px;
  height: 14px;
  line-height: 50px;
  overflow: hidden;
  background: #bfbfbf url(../images/m_close.png) no-repeat;
  position: absolute;
  top: 8px;
  right: 10px;
}
a:hover.m_close {
  background-color: #737373;
}
