html{overflow-y:scroll;}
body{color:#333;}
a{color:#333;}a:hover{ color:#f18100; }
s,u{text-decoration:none}
small,i{font-style:normal;font-size:12px;}
.mt20{margin-top:20px;}
.mt10{margin-top:10px;}
.tc{text-align:center;}
/*通用顶部 -Start-Lvzhuweng-20140213*/
.header-you-brief{width:277px;height:40px;margin:25px 0 0 19px;background:url(../../images/you/top-text.png) no-repeat;}
.header-nav-box{margin-top:15px;background:#4385E0}
.header-nav-back s{border-left-color:#4385E0}
.header-nav-box li{position: relative;border-color:#72a2e6}
.header-nav-box li a{width:94px;}
.header-nav-box li a:hover{background-color:#3c77c9}
.header-nav-box .cur a, .header-nav-box .cur a:hover{background:#f5f5f5;color:#4c4c4c}
.header-nav-box li .new{position: absolute;right:4px;top:-4px;width:22px;height:14px;font-size:0;background: url(../../images/you/new.png) no-repeat;}
/*通用顶部 -End-Lvzhuweng-20140213*/
/* icon-trip */
.trip-menu h2 i,.trip-search-place i{background:url(../../images/you/icon-trip.png) no-repeat;}
/* trip */
.trip{padding:17px 0 10px;}
.opacity{background:rgba(0,0,0,.7);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#b3000000', EndColorStr='#b3000000');}
:root .opacity{filter:none;}
/* trip-search */
.trip-search-place{position:relative;z-index:5;width:111px;height:26px;line-height:26px;padding:0 10px;border:2px solid #d6d6d6;margin-right:10px;color:#333;font-size:14px;zoom:1;cursor:pointer;}
.trip-search-place i{position:absolute;top:10px;left:110px;width:11px;height:7px;font-size:0;line-height:0;overflow:hidden;background-position:0 -70px;}
.trip-search-box{width:435px;margin-right:8px;}
.trip-search-txt{width:345px;height:26px;line-height:26px;padding:0 10px;border:2px solid #d6d6d6;border-right:0 none;color:#333;font-size:14px;}
.trip-search-btn{width:68px;height:30px;line-height:30px;border:0 none;font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1;color:#fff;background-color:#4385e0;cursor:pointer;}
.trip-search-btn:hover{background-color:#3c77c9;}
.trip-search-relative{width:247px;line-height:30px;font-size:0;}
.trip-search-relative a{display:inline-block;margin-left:12px;color:#666;font-size:12px;vertical-align:top;color:#4385e0;}
.trip-search-relative a:hover{color:#f18100;}
/* trip-crumb */
.trip-crumb{height:29px;margin:10px 0;background:url(../../images/you/bg_10_02.gif) repeat-x center center;font-family:\5FAE\8F6F\96C5\9ED1;}
.trip-crumb-inner{float:left;background:#fff url(../../images/you/d_spr.png) no-repeat -322px -153px;padding:0 15px 0 38px;height:29px;line-height:29px;font-size:14px;overflow:hidden}
.trip-crumb a,.trip-crumb b,.trip-crumb span{float:left;}
.trip-crumb a{color:#333;}
.trip-crumb b{font-family:\5b8b\4f53;color:#999;font-weight:400;padding:0 5px;}
.trip-crumb span{color:#999;}
/* trip-menu */
.trip-menu{width:210px;padding:0 8px 0 10px;border:1px solid #dcdcdc;margin-top:20px;}
.trip-menu h2{margin-bottom:2px;height:32px;line-height:32px;border-bottom:1px solid #e6e6e6;font-weight:bold;color:#4385e0;}
.trip-menu h2 i{display:inline-block;width:17px;height:18px;margin-right:4px;vertical-align:-5px;}
.trip-menu h2 i.icon-hot{background-position:0 0;}
.trip-menu h2 i.icon-local{background-position:0 -18px;}
.trip-menu h2 i.icon-internal{background-position:0 -34px;}
.trip-menu h2 i.icon-national{background-position:0 -52px;}
.trip-menu-item{padding-bottom:5px;line-height:30px;font-size:0;}
.trip-menu-item strong,.trip-menu-item a{display:inline-block;color:#666;font-size:12px;vertical-align:top;}
.trip-menu-item strong{font-weight:bold;}
.trip-menu-item a{margin-left:6px;}
.trip-menu-item a:hover{color:#4385DF;text-decoration:underline;}
/* trip-main */
.trip-main{width:728px;margin-top:20px;}
.trip-cate{width:687px;padding:0 19px 0 20px;border:1px solid #dcdcdc;margin-bottom:20px;overflow:hidden;word-wrap:break-word;word-break:break-all;}
.trip-cate h2{height:40px;}
.trip-cate h2 strong{font:normal 16px/40px \5FAE\8F6F\96C5\9ED1;}
.trip-cate h2 a{float: right;margin-top:10px;}
.trip-cate-item{width:707px;margin-left:-20px;}
.trip-cate-item li{float:left;display:inline;width:156px;margin-left:20px;line-height:20px;}
.trip-cate-item li p{margin:5px 0 2px;height:20px;overflow:hidden;}
.trip-cate-item li span{color:#999;}
.trip-cate-item li span em{margin:0 5px;color:#FF6600;font-size:14px;font-weight:bold;}
.trip-cate-item a,.trip-cate-list a{color:#4385e0;}
.trip-cate-item a:hover,.trip-cate-list a:hover{color:#f18100;}
.trip-cate-item-spe li{position:relative;width:215px;padding-bottom:7px;}
.trip-cate-item-spe li span{position:absolute;top:105px;left:135px;width:79px;height:29px;line-height:29px;text-align:center;font-size:14px;}
.trip-cate-item-spe li span em{margin-right:0;font-size:20px;font-weight:normal;}
.trip-cate-list{width:715px;margin-left:-28px;padding:8px 0 15px;}
.trip-cate-list li{float:left;display:inline;width:210px;margin-left:28px;line-height:24px;}
.trip-cate-list li span{float:right;color:#999;}
.trip-cate-list li span em{color:#FF6600;font-weight:bold;}
.trip-cate-line{margin-top:10px;height:0;line-height:0;border-top:1px dashed #c9b9e6;font-size:0;overflow:hidden;}
.trip-banner{margin-bottom:20px;}
/* trip-result-main */
.trip-result-main{width:725px;margin-bottom:25px;}
.trip-filter{border:1px solid #b9d2eb;padding-bottom:7px;margin-bottom:20px;}
.trip-filter h3{height:39px;line-height:39px;border-bottom:1px solid #b9d2eb;margin-bottom:7px;text-indent:12px;font-size:14px;color:#666;font-weight:bold;background-color:#f2f7ff;}
.trip-filter p{height:27px;line-height:27px;overflow:hidden;zoom:1;}
.trip-filter a, .trip-filter span{float:left;}
.trip-filter span{width:75px;color:#999;text-align:right;}
.trip-filter a{margin:0 18px 0 2px;color:#4385e0;}
.trip-filter a:hover{color:#f18100;}
.trip-filter-list dl{position:relative;z-index:0;overflow:hidden;margin-bottom:20px;zoom:1}
.trip-filter-list dt,.trip-filter-list dd{float:right;width:590px;zoom:1}
.trip-filter-list dt{padding-top:2px;font-weight:bold;font-size:14px;line-height:16px;}
.trip-filter-list dt a{color:#4385e0;}
.trip-filter-list dt a:hover{color:#f18100;}
.trip-filter-list .descript{padding:12px 0 10px;color:#666;line-height:14px;}
.trip-filter-list .info{color:#999;line-height:13px;}
.trip-filter-list .info b{color:#f18100;font-weight:normal}
.trip-filter-list .info a{color:#666}
.trip-filter-list .pic{float:left;width:auto;margin:0;padding:0;line-height:0;}
.trip-filter-list .pic img{float:left;width:120px;height:76px;}
.trip-filter-list .price{position:absolute;top:20px;right:4px;z-index:1;float:right;width:auto;height:auto;margin:0;padding:0;color:#999;line-height:0}
.trip-filter-list .price p{text-align:right;padding-bottom:6px}
.trip-filter-list .price p b{margin:0 2px;color:#f60;font-weight:normal;font-size:20px;line-height:21px;vertical-align:-1px}
.fanxian{display:inline-block;height:18px;overflow:hidden;border:1px solid #f18100;border-radius:3px;font-size:12px;}
.fanxian u{display:inline-block;padding:3px;background:#f18100;color:#fff;line-height:12px;}
.fanxian b{padding:0 6px;color:#f18100;font-weight:normal;font-size:12px;font-family:"Microsoft YaHei";vertical-align:0px;vertical-align:-1px\0;*vertical-align:2px}
.fanxian b s{font-weight:bold;line-height:12px}
.page a:hover,.page .page-input a{background:#4385e0;border-color:#4385e0}
.page .cur{background:#4385e0}
.page .page-input input{border-color:#4385e0}
/* trip-side */
.trip-side{width:230px;margin-bottom:5px;}
.trip-side dl{margin-bottom:20px;padding:0 10px;border:1px solid #e4e4e4;line-height:14px;}
.trip-side dt{padding:10px 0 8px;}
.trip-side dd{zoom:1}
.trip-side .pic img{width:208px;height:138px;}
.trip-side .pic .tit{display:block;margin-top:4px;font-weight:bold;font-size:14px;line-height:1.6}
.trip-side .price{padding-top:10px;color:#999}
.trip-side .price em{color:#f60;font-size:20px;line-height:20px;vertical-align:-2px}
.trip-side .price .ifr{padding-top:4px;}
.trip-side .price .ifr b{margin:0 4px 0 14px;color:#f60}
.trip-side .price .ico-rmb{font-size:14px;}
.trip-side .price .ifr .ico-rmb{font-size:12px;}
.trip-side .sell{padding:10px 0;color:#999;line-height:13px;}
.trip-side .sell ins{margin-left:4px;color:#666}
.trip-side dd a{color:#4385e0}
.trip-side dd a:hover{color:#f18100}
/*城市-国家 弹窗*/
.tabCont{display:none}
.layout-cityCountryPop{position:absolute;top:0;left:0;z-index:10;float:left;width:468px;padding:0 14px;border:2px solid #d6d6d6;background:#fff;font-size:12px;}
.layout-cityCountryPop small{display:block;padding:13px 0;color:#999;font-size:12px;line-height:13px;}
.ico-close-cityPop{position:absolute;top:12px;right:12px;width:10px;height:10px;background:url(../../images/you/bg.png) -59px -23px;cursor:pointer}
.ico-close-cityPop:hover{background-position:-72px -23px;}
.nav-citypop{position:relative;z-index:0;height:18px;border-bottom:1px solid #d6d6d6;line-height:13px;}
.nav-citypop li{display:inline;position:relative;z-index:1;float:left;padding:0 10px;cursor:pointer}
.layout-cityCountryPop .tabCur{height:17px;border-bottom:2px solid #4385e0;color:#4385e0}
.layout-cityCountryPop .list-citypop,.layout-cityCountryPop .list-countrypop{clear:both;overflow:hidden;padding:5px 0 10px;zoom:1}
.layout-cityCountryPop .list-citypop p{position:relative;overflow:hidden;zoom:1;padding-left:16px;margin-left:10px;}
.layout-cityCountryPop .list-citypop p s{position:absolute;top:5px;left:0;z-index:1;color:#e66700;line-height:13px;}
.layout-cityCountryPop .tabCont a{display:inline;float:left;width:58px;height:12px;overflow:hidden;padding:4px 0 6px 8px;line-height:12px;white-space:nowrap;text-overflow:ellipsis}
.layout-cityCountryPop .tabCont a:hover{background:#4385e0;color:#fff}
.layout-cityCountryPop .show{display:block}
.list-cityCountryPop-news{overflow:hidden;width:100%;}
.list-cityCountryPop-news h3{padding:8px 0 8px 8px;font-weight:bold;}
.layout-cityCountryPop .tabCont .list-cityCountryPop-news a{width:136px;margin-right:12px;}
/* hotel */
.hotel-name a,.hotel-pic-fun a,.hotel-evaluate a,.hotel-map a,.hotel_introduce_ct a,.hotel-comment-filter a,.hotel-comment-item a{color:#4385e0;}
.hotel-name a:hover,.hotel-pic-fun a:hover,.hotel-evaluate a:hover,.hotel-map a:hover,.hotel_introduce_ct a:hover,.hotel-comment-filter a:hover,.hotel-comment-item a:hover{color:#f18100;}
.star,.star i{display:inline-block;height:8px;line-height:8px;font-size:0;overflow:hidden;background:url(../../images/you/star.png) no-repeat;}
.star{width:59px;vertical-align:middle;background-position:0 0;}
.star i{background-position:0 -9px;}
.square,.square i{display:inline-block;height:16px;line-height:16px;font-size:0;overflow:hidden;background:url(../../images/you/icon-square.png) no-repeat;}
.square{width:92px;vertical-align:middle;background-position:0 -20px;}
.square i{background-position:0 0;}
.square-sm,.square-sm i{width:57px;height:10px;}
.square-sm{vertical-align:middle;background-position:0 -60px;}
.square-sm i{background-position:0 -40px;}
.hotel-name{margin-top:6px;padding:15px 0 12px;border-top:1px solid #ebebeb;}
.hotel-name h2{height:24px;color:#4385e0;font:bold 20px/24px "\5FAE\8F6F\96C5\9ED1";overflow:hidden;}
.hotel-name h2 a{margin-right:10px;font-weight:bold;}
.hotel-name h3{margin-top:6px;}
.hotel-service{margin-top:8px;}
.hotel-service i{float:left;display:inline;margin-left:5px;padding:0 5px;height:16px;line-height:16px;color:#fff;background-color:#b9d2eb;}
.hotel-pic{width:363px;}
.hotel-pic-big{width:247px;height:188px;overflow:hidden;border:1px solid #e8e6e5;}
.hotel-pic-sm,.hotel-pic-fun{width:114px;}
.hotel-pic-sm li,.hotel-pic-fun li{float:left;display:inline;width:51px;}
.hotel-pic-sm li{margin:0 0 4px 4px;border:1px solid #e8e6e5;height:51px;cursor:pointer;}
.hotel-pic-sm li.current{border-color:#ff6d0c;}
.hotel-pic-fun li{margin-left:4px;}
.hotel-txt{width:597px;border:1px solid #f0f0f0;padding-top:12px;height:176px;color:#666;background-color:#f9f9f9;overflow:hidden;}
.hotel-abstract{width:244px;padding:0 17px;height:176px;border-right:1px solid #e6e4e3;line-height:22px;}
.hotel-abstract p{margin-bottom:10px;}
.hotel-evaluate{width:318px;}
.hotel-e-score,.hotel-evaluate p,.hotel-evaluate dl{padding:0 18px 0 24px;}
.hotel-e-score{margin-top:-5px;height:40px;line-height:40px;overflow:hidden;zoom:1;}
.hotel-e-score strong{margin-right:10px;color:#4385e0;}
.hotel-e-score strong em{display:inline-block;font-size:30px;font-weight:bold;}
.hotel-e-score .square{margin-top:17px;}
.hotel-evaluate p{line-height:22px;}
.hotel-evaluate dl{padding-top:8px;margin-top:8px;border-top:1px solid #f0f0f0;}
.hotel-evaluate dl i{display:inline-block;width:13px;height:13px;line-height:13px;vertical-align:middle;background:url(../../images/you/icon-quote.png) no-repeat;}
.hotel-evaluate dl i.quote-left{margin-right:3px;background-position:0 0;}
.hotel-evaluate dl i.quote-right{margin-left:3px;background-position:-14px 0;}
.hotel-evaluate dl span{font-weight:bold;}
.hotel-evaluate dd{padding-top:5px;}
.hotel-e-time{margin:10px 0 20px;}
.hotel-evaluate .hotel-e-coor{padding-top:10px;border-top:1px solid #f0f0f0;word-wrap:break-word;word-break:break-all;}
.hotel-side{width:320px;margin-bottom:20px;}
.hotel-baidu-map{width:318px;height:200px;overflow:hidden;border:1px solid #cbcbcb;border-bottom:0 none;}
.hotel-baidu-map-h263{height:263px;border-bottom:1px solid #cbcbcb;}
.mapToolBg{height:32px;border:1px solid #cbcbcb;border-top:0 none;}
.mapTool{padding:7px 0 0 5px;line-height:20px;background-color:#fff;width:313px;height:25px;}
.mapTool li{line-height:20px;float:left;display:inline;margin-left:2px}
.mapTool li a{background:url(../../images/you/icon-map.png) left 5px no-repeat;text-indent:15px;display:block;width:72px}
.mapTool li a.one{width:88px}
.mapTool li a.two{background-position:left -15px}
.mapTool li a.three{background-position:left -35px}
.mapTool li a.four{background-position:left -55px}
.mapTool li a.one:hover{background-position:-87px 5px}
.mapTool li a.two:hover{background-position:-88px -15px}
.mapTool li a.three:hover{background-position:-87px -35px}
.mapTool li a.four:hover{background-position:-88px -55px}
.hotel-map{background-color:#F8FCFF;color:#666;}
.hotel-map h3{position:relative;bottom:-1px;height:33px;line-height:33px;text-indent:5px;font-size:14px;font-weight:bold;background-color:#F8FCFF;}
.hotel-trans,.hotel-recommend{padding:0 5px 5px;}
.hotel-trans{border-top:1px solid #fff;border-bottom:1px solid #eaebed;}
.hotel-trans dl{padding:6px 10px 5px 5px;line-height:22px;border-top:1px dashed #e0e0e0;background-color:#fff;}
.hotel-trans dt{float:left;width:16px;padding-top:4px;}
.hotel-trans dd{float:right;width:271px;}
.hotel-recommend dl{padding:10px 14px 10px 9px;border-top:1px solid #ddd;background-color:#fff;word-wrap:break-word;word-break:break-all;}
.hotel-recommend dt{float:left;width:66px;}
.hotel-recommend dt a{display:block;height:64px;cursor: pointer;border:1px solid #ddd;}
.hotel-recommend dd{float:right;width:216px;}
.hotel-recommend h6{font-weight:bold;}
.hotel-map .grey,.hotel-map .grey:hover{color:#999;}
.hotel-map .yellow,.hotel-map .yellow:hover{color:#f60;}
.hotel-detail{width:651px;}
.hotel-detail-w738{width:738px;}
.hotel-title{height:41px;line-height:41px;border-top:1px solid #b9d2eb;padding:0 17px;margin-bottom:10px;color:#666;font-size:14px;font-weight:bold;background:url(../../images/you/hotel-title-bg.png) repeat-x;}
/* trip-room */
.trip-room{color:#666;font-family:\5b8b\4f53;}
.trip-room dl{margin-top:-1px;border:1px solid #dde8f5;}
.trip-room dt{position:relative;height:35px;line-height:35px;background-color:#f8fcff;}
.trip-room dd{display:none;}
.trip-room .room-over dt{background-color:#fafafa;}
.trip-room .room-open{position:relative;border-color:#b9d2eb;}
.trip-room .room-open dt{background-color:#ebf2fb;}
.trip-room .room-open dd{display:block;}
.trip-room dt,.trip-room p,.trip-room th{padding-left:60px;zoom:1;}
.trip-room dt strong{float:left;width:224px;height:35px;font-weight:normal;color:#4385e0;overflow:hidden;font-family:arial;}
.trip-room dt strong.room-type{font-size:14px;font-weight:bold;}
.trip-room dt strong.room-price em{margin:0 3px;font-size:20px;}
.trip-room .room-over strong{color:#999;}
.trip-room .room-open strong{color:#4385e0;}
.room-num,.room-fun{position:absolute;}
.room-num{top:6px;left:28px;width:25px;height:25px;line-height:25px;padding-right:4px;text-align:center;color:#fff;font-style:normal;font-size:14px;font-family:Tahoma;background:url(../../images/you/icon-arr.png) 0 -26px no-repeat;}
.room-over .room-num{background-position:0 -52px;}
.room-open .room-num{background-position:0 0;}
.room-fun{top:0;right:0;width:121px;height:35px;text-align:center;color:#4385e0;background-color:#eef6fb;cursor:pointer;}
.room-over .room-fun{background-color:#efefef;}
.room-open .room-fun{color:#fff;background-color:#b9d2eb;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-bottom-left-radius:10px;
    -ms-border-bottom-left-radius:10px;
    -o-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px;
}
.room-fun i{position:absolute;top:16px;right:15px;width:15px;height:8px;line-height:0;font-size:0;overflow:hidden;background:url(../../images/you/icon-arr.png) no-repeat 0 -78px;}
.room-open .room-fun i{top:14px;background-position:0 -87px;}
.trip-room p{height:33px;line-height:33px;background-color:#f8fcff;}
.trip-room p span{margin-right:10px;}
.trip-room p sup{vertical-align:super}
.trip-room .room-open p{background-color:#ebf2fb;}
.trip-room table{border-top:1px solid #dde8f5;}
.trip-room thead td,.trip-room thead th{height:30px;line-height:30px;background-color:#fafafa;}
.trip-room tbody td,.trip-room tbody th{border-top:1px solid #efefef;height:38px;line-height:38px;background-color:#fff;}
.room-logo{display:inline-block;width:88px;height:22px;line-height:22px;text-align:center;border:1px solid #b9d2eb;color:#4385e0;font-weight:bold;background-color:#ebf2fb;}
.room-level{color:#333;text-decoration:underline;}
.room-name{color:#333;font-weight:bold;}
.room-price1{color:#f60;}
.room-price1 em{font-size:18px;}
.room-order{display:inline-block;width:81px;height:25px;line-height:25px;text-align:center;letter-spacing:4px;color:#fff;background-color:#ff7426;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
}
a.room-order:hover{color:#fff;}
.room-none .room-name{color:#999;font-weight:normal;}
.room-none .room-order{color:#8e8e8e;background-color:#d5d5d5;}
.room-none .room-price1{color:#999;}

.hotel_introduce_ct{word-wrap:break-word;word-break:break-all;color:#666;}
.hotel_introduce_ct .summery{line-height:20px;color:#555;padding:10px 0;text-indent:2em;}
.hotel_introduce_ct .txt_introduce .icon_jt{display:inline-block;white-space:nowrap;padding-right:16px;background:url(http://source.qunar.com/site/images/hotel/hotelroom/ico_carr.png) no-repeat 100% 8px}
.hotel_introduce_ct .less_introduce .expan_summery{display:none}
.hotel_introduce_ct .expan_introduce .less_summery{display:none}
.hotel_introduce_ct .less_introduce .icon_jt{background-position:100% -13px}
.hotel_baseinfo{padding:0 0 10px 0}
.hotel_baseinfo li{float:left;width:31%;line-height:22px;margin-right:2%}
.hotel_baseinfo li .pr{font-family:arial;font-weight:normal}
.hotel_baseinfo li cite{display:inline-block;vertical-align:top;width:80%}
.hotel_baseinfo li em{display:inline-block;vertical-align:top}
.other_baseinfo{line-height:22px;padding-bottom:5px}
.other_baseinfo dt{float:left;width:72px;text-align:left}
.other_baseinfo dd{margin-left:72px}
.other_baseinfo dd span{display:inline-block;margin-right:25px;white-space:nowrap}
.other_baseinfo dd a{padding:0 10px;border-left:#b5b5b5 1px solid;white-space:nowrap}
.other_baseinfo dd.roundserver span{margin:0;white-space:normal}
.other_baseinfo dd.roundserver span a{white-space:normal}
.other_baseinfo dd span.first a{padding-left:0;border-left:0}
.htintroborder{border-top:#f2f2f2 1px solid}
.roundmilieu{margin-bottom:15px}
.roundmilieu .efacilitylist{position:relative}
.roundmilieu .efacilitylist dt{float:left;width:70px;text-align:left;font-weight:bold;margin-top:12px;line-height:19px}
.roundmilieu .efacilitylist dd{margin-left:65px;position:relative;zoom:1;height:62x;overflow:hidden;width:562px}
.roundmilieu .efacilitylist dd.expanfacility{height:auto;overflow:auto}
.roundmilieu .efacilitylist dd .icon_jt{position:absolute;top:12px;right:1px;line-height:20px;white-space:nowrap;width:11px;height:11px;padding:3px 5px;border:white 1px solid;overflow:hidden;background:url(../../images/you/ico_carr.png) no-repeat 5px 6px}
.roundmilieu .efacilitylist dd.expanfacility .icon_jt{background-position:5px -15px}
.roundmilieu .efacilitylist dd.hvfacility .icon_jt{background-color:#f7fdfd;border:#def1f3 1px solid;padding:3px 5px}
.roundmilieu .efacilitylist dd li{font-family:arial;float:left;width:136px;line-height:19px;height:19px;white-space:nowrap;overflow:hidden;margin-top:12px}
.roundmilieu .efacilitylist dd li.expanfacilityicon{display:none}
.roundmilieu .efacilitylist dd li .icon_faci{float:left;display:inline-block;width:16px;height:16px;background:url(../../images/you/icon_faci_v4.png) no-repeat 0 0;margin-right:4px;margin-top:1px;_margin-top:0}
.roundmilieu .efacilitylist dd li .icon_inter{background-position:0 -20px}
.roundmilieu .efacilitylist dd li .icon_aircond{background-position:0 -72px}
.roundmilieu .efacilitylist dd li .icon_warmair{background-position:0 -121px}
.roundmilieu .efacilitylist dd li .icon_water{background:url(../../images/you/icon_faci_v3.png) no-repeat 0 -8px}
.roundmilieu .efacilitylist dd li .icon_hairdryer{background-position:0 -216px}
.roundmilieu .efacilitylist dd li .icon_telephone{background-position:0 -265px}
.roundmilieu .efacilitylist dd li .icon_train{background-position:0 -333px}
.roundmilieu .efacilitylist dd li .icon_aircraft{background-position:0 -384px}
.roundmilieu .efacilitylist dd li .icon_breakfast{background-position:0 -435px}
.roundmilieu .efacilitylist dd li .icon_forguest{background-position:0 -485px}
.roundmilieu .efacilitylist dd li .icon_ring{background-position:0 -535px}
.roundmilieu .efacilitylist dd li .icon_luggage{background-position:0 -586px}
.roundmilieu .efacilitylist dd li .icon_laundry{background-position:0 -634px}
.roundmilieu .efacilitylist dd li .icon_pet{background-position:0 -680px}
.roundmilieu .efacilitylist dd li .icon_rencar{background-position:0 -723px}
.roundmilieu .efacilitylist dd li .icon_child{background-position:0 -765px}
.roundmilieu .efacilitylist dd li .icon_park{background-position:0 -808px}
.roundmilieu .efacilitylist dd li .icon_smoking{background-position:0 -851px}
.roundmilieu .efacilitylist dd li .icon_restaurant{background-position:0 -896px}
.roundmilieu .efacilitylist dd li .icon_wesrestaurant{background-position:0 -942px}
.roundmilieu .efacilitylist dd li .icon_weetroom{background-position:0 -989px}
.roundmilieu .efacilitylist dd li .icon_businesscenter{background-position:0 -1037px}
.roundmilieu .efacilitylist dd li .icon_hotspring{background-position:0 -1084px}
.roundmilieu .efacilitylist dd li .icon_swimpool{background:url(../../images/you/icon_faci_v3.png) no-repeat 0 -55px}
.roundmilieu .efacilitylist dd li .icon_handicapped{background-position:0 -1177px}
.roundmilieu .efacilitylist dd li .icon_gym{background-position:0 -1225px}
.roundmilieu .efacilitylist dd li .icon_bar{background-position:0 -1272px}
.roundmilieu .efacilitylist dd li .icon_spa{background-position:0 -1320px}
.roundmilieu .efacilitylist dd li .icon_chessroom{background-position:0 -1365px}
.roundmilieu .efacilitylist dd li .icon_sauna{background-position:0 -1410px}
.roundmilieu .efacilitylist dd li .icon_wifi{background-position:0 -1457px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_inter{background-position:0 -48px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_aircond{background-position:0 -96px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_warmair{background-position:0 -145px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_water{background:url(../../images/you/icon_faci_v3.png) no-repeat 0 -31px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_hairdryer{background-position:0 -240px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_telephone{background-position:0 -307px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_train{background-position:0 -360px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_aircraft{background-position:0 -410px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_breakfast{background-position:0 -460px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_forguest{background-position:0 -510px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_ring{background-position:0 -561px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_luggage{background-position:0 -610px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_laundry{background-position:0 -658px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_pet{background-position:0 -702px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_rencar{background-position:0 -744px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_child{background-position:0 -786px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_park{background-position:0 -830px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_smoking{background-position:0 -873px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_restaurant{background-position:0 -919px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_wesrestaurant{background-position:0 -965px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_weetroom{background-position:0 -1013px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_businesscenter{background-position:0 -1060px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_hotspring{background-position:0 -1107px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_swimpool{background:url(../../images/you/icon_faci_v3.png) no-repeat 0 -79px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_handicapped{background-position:0 -1201px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_gym{background-position:0 -1248px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_bar{background-position:0 -1296px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_spa{background-position:0 -1343px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_chessroom{background-position:0 -1387px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_sauna{background-position:0 -1433px}
.roundmilieu .efacilitylist dd li.disblefaci .icon_wifi{background-position:0 -1479px}

.hotel-comment{padding:0 18px;color:#666;}
.hotel-comment-score{font-size:14px;}
.hotel-comment-score em{width:11px;margin:6px 12px 0 4px;border:1px solid #ccc;cursor:help;font:10px/11px Arial;text-align:center;}
.hotel-comment-score .square{margin:4px 10px 0 0;}
.hotel-comment-score label{color:#4385e0;font-weight:bold;}
.hotel-comment-score a{width:85px;height:22px;_margin-top:-22px;line-height:0;font-size:0;overflow:hidden;background:url(../../images/you/icon-wr.png) no-repeat;}
.hotel-comment-filter{margin:15px 0 10px;padding-top:10px;border-top:1px solid #eeeae0;}
.hotel-comment-filter input{width:13px;height:13px;vertical-align:middle;}
.hotel-comment-filter label{margin-right:15px;}
.hotel-comment-filter label em{color:#999;}
.hotel-comment-filter span em,.hotel-comment-filter a{float:left;}
.hotel-comment-filter a{margin-left:10px;}
.hotel-comment-filter a i{display:inline-block;width:7px;height:10px;margin-left:4px;vertical-align:-2px;background:url(../../images/you/icon-filter.png) no-repeat 0 -15px;}
.hotel-comment-filter a.current{cursor:default;color:#666;}
.hotel-comment-filter a.current:hover{color:#666;}
.hotel-comment-filter a.current i{background-position:0 0;}
.hotel-comment-item dl{padding:18px 0;border-bottom:1px solid #ece8dc;word-wrap:break-word;word-break:break-all;}
.hotel-comment-item dt{float:left;width:140px;}
.hotel-comment-item dd{float:right;width:465px;line-height:25px;}
.hotel-comment-item dd h6{font-weight:bold;}
.hotel-comment-item dd p span{color:#333;}
.hotel-comment-list .page{margin:20px 0;}

.module{margin:10px 0 20px;width:100%;overflow:hidden}
.module-hd{height:42px;position:relative;background:url(../../images/you/bg_10_02.gif) repeat-x center;clear:both}
.module-hd h2{line-height:42px;padding:0 15px 0 60px;font:18px/42px \5fae\8f6f\96c5\9ed1;color:#333;float:left;background-color:#fff}
.module-hd .t1,.module-hd .t2,.module-hd .t3,.module-hd .t4{position:absolute;left:0;top:0;background:url(../../images/you/d_spr.png) no-repeat;width:50px;height:42px;overflow:hidden}
.module-hd .t1{background-position:-296px -47px}
.module-hd .t2{background-position:-296px 0}
.module-hd .t3{background-position:-296px -94px}
.module-hd .t4{background-position:-296px -194px;}
.module-hd a{font:14px/42px \5fae\8f6f\96c5\9ed1;color:#333;position:absolute;right:0;padding:0 5px;top:0;background-color:#fff}
.module-hd a span{font-family:\5b8b\4f53;padding:0 0 0 5px}
.module-hd a:hover{text-decoration:none;color:#000}
.module-bd{position:relative;overflow:hidden;width:105%;display:block}
.module-bd-search{margin-top:-20px;}
.mod{float:left;_display:inline;background:#fff;width:218px;border:1px solid #dbdbdb;padding:5px;margin:20px 20px 0 0;position:relative;overflow:hidden}
.mod:hover,.mod-hover{background:#edf5fd;border-color:#b9d2eb}
.mod a:hover{color:#f18100!important;}
.mod .tit{height:40px;line-height:20px;overflow:hidden;margin:0 0 8px;font-weight:400;color:#666}
.mod .tit a{color:#666}
.mod .pic,.mod .pic a{position:relative;overflow:hidden;width:100%;overflow:hidden;height:216px}
.mod .pic a{position:relative;display:block}
.mod .pic img{display:block;width:100%;height:100%;}
.mod .original{position:absolute;right:0;bottom:0;padding-right:10px;width:100%;height:30px;line-height:30px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);color:#ccc;text-align:right}
.mod .original strong{font-weight:700;color:#fff}
.mod .opt{height:46px;padding:0 10px;background:#4385e0}
.mod .opt span{float:left;color:#fff;font-size:18px;font-family:arial}
.mod .opt em{font-size:26px;padding:0 3px}
.mod .opt a{float:right;background:url(../../images/you/d_spr.png) no-repeat -85px -116px;width:74px;height:28px;text-indent:-99em;box-shadow:2px 2px 3px rgba(0,0,0,0.1);margin:9px 0 0;overflow:hidden}
.mod .opt a:hover{background-position:-159px -116px}

.txt-input{border:1px solid #abadb3;height:20px;padding:2px 5px;font:12px/20px arial;color:#666;}
.hotel-search{position:relative;z-index:100;}
.hotel-search-name{width:80px;line-height:26px;font-size:14px;color:#999;}
.hotel-search-pos,.hotel-search-date,.hotel-search-all{position:relative;margin-right:10px;zoom:1;}
.hotel-search-pos{width:139px;z-index:3;}
.hotel-search-date{width:199px;z-index:2;}
.hotel-search-all{width:243px;z-index:0;}
.hotel-search-pos .txt-input,.hotel-search-all .txt-input{padding-right:25px;}
.hotel-search-pos .txt-input{width:107px;}
.hotel-search-all .txt-input{width:211px;}
.hotel-search-date .txt-input{width:140px;padding-right:52px;}
.txt-search-date{position:absolute;top:5px;right:22px;line-height:16px;cursor:pointer;}
.icon-search-date,.icon-search-pos{position:absolute;top:5px;right:6px;width:15px;height:16px;cursor: pointer;background:url(../../images/you/icon_calendar.gif) no-repeat;}
.icon-search-date{background-position:-26px 0;}
.icon-search-pos{background-position:0 0;}
.hotel-search-btn{width:72px;}
.hotel-search-btn input{width:72px;height:26px;border:0 none;color:#fff;cursor:pointer;font-size:12px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#ff9200), to(#ff7000));
    background:-webkit-linear-gradient(top, #ff9200, #ff7000);
    background:-moz-linear-gradient(top, #ff9200, #ff7000);
    background:-ms-linear-gradient(top, #ff9200, #ff7000);
    background:-o-linear-gradient(top, #ff9200, #ff7000);
    background:linear-gradient(top, #ff9200, #ff7000);
    background-color:#ff7000;
}

.filter_area_bg{background:url(../../images/you/bot_line.png) left bottom repeat-x;padding-bottom:3px}
.filter_area{position:relative;z-index:0;border:1px solid #ddd;border-bottom:0 none;padding:3px 14px;*zoom:1}
.filter_b{border-bottom:1px solid #f1f1f1}
.filter_b a{color:#333}
.filter_b a:hover{color:#00a3c2}
.filter_title{float:left;display:inline;padding:11px 0;width:64px;color:#999}
.filter_rbox{float:left;width:875px}
.filter_rbox .unlimited{float:left;display:inline;padding:11px 4px;width:40px}
.filter_rbox .unlimited a{color:#333}
.filter_rbox .unlimited a:hover{color:#00a3c2}
.filter_rbox .selected{color:#00a3c2}
.filter_rbox .selected a{font-weight:700;color:#00a3c2}
.filter_rbox .selected span{color:#00a3c2}
.filter_rbox .item li{float:left;margin:10px 6px 10px 0;width:96px;height:18px;line-height:18px;overflow:hidden}
.filter_rbox .item li.onePix{width:1px}
.filter_rbox .item li input{position:absolute;top:0;left:0;opacity:.01;filter:alpha(opacity=0.1)}
.filter_rbox .item li.item_ie67 .item_span{float:left;display:inline;padding:0 4px}
.filter_rbox .item li.item_ie67 input{float:left;display:inline;margin:3px 4px 0 0;width:13px;height:13px}
.filter_rbox .item li.item_ie67 label{float:left;display:inline}
.filter_rbox .item li.selected_ie67 .item_span{background-color:#00a3c2;color:#fff}
.filter_rbox .item li.disabled_ie67 .item_span{color:#aaa}
.filter_rbox .item li.disabled_ie67 input{cursor:default}
.filter_rbox .item li.disabled_ie67 label{cursor:default}
.filter_rbox .item li a,.filter_rbox .item li em{float:left;display:inline;padding:0 4px 0 20px;background:url(../../images/you/filter_bg.png) 4px -63px no-repeat}
.filter_rbox .item li a:hover,.filter_rbox .item li em:hover,.filter_rbox .item li.active em{background-position:4px -98px}
.filter_rbox .item li.selected a,.filter_rbox .item li.selected em{background-color:#00a3c2;color:#fff;background-position:4px -128px}
.filter_rbox .item li.disabled a,.filter_rbox .item li.disabled em{background-position:4px -537px}
.filter_layer .brand_list li.disabled em:hover{color:#333}
.filter_rbox .optional{float:left;padding-top:8px;line-height:24px;vertical-align:middle}
.filter_rbox .optional .clearBut{vertical-align:middle}
.filter_rbox .optional .priTxt{width:42px;height:18px;line-height:18px;border:1px solid #dbdbdb;color:#555;margin:0 4px}
.filter_rbox .optional .actvie{border:1px solid #bbb}
.filter_rbox .optional .priBut{background:url(../../images/you/filter_bg.png) 0 -172px no-repeat;width:45px;height:20px;line-height:20px;color:#555;display:inline-block;text-align:center;margin-right:6px}
.filter_rbox .optional .priBut:hover{background-position:0 -193px}
.filter_area .third_layer ul li.selected .delete{position:absolute;right:2px;top:0;display:inline-block;background:url(../../images/you/filter_bg.png) right -437px no-repeat;width:14px;height:13px}
.filter_b,.filter_p{position:relative}
.filter_area .more{position:absolute;right:1px;top:9px}
#brandFilter .filter_b{z-index:10}
#hotelTypeFilter .filter_b{z-index:9}
.filter_area .more a{display:inline-block;width:21px;height:21px;background:url(../../images/you/filter_bg.png) left -219px no-repeat}
.filter_area .more a:hover{background-position:-22px -219px}
.filter_area .less a{background-position:left -240px}
.filter_area .less a:hover{background-position:-22px -240px}
.filter_area .no_line{border:0 none}
.filter_more{border:1px solid #ddd;border-top:0 none;margin:-3px auto 0;width:160px;background-color:#fff;text-align:center;padding:7px 0}
.filter_more .more,.filter_more .less{color:#0084bb;outline:0}
.filter_more .more:hover,.filter_more .less:hover{color:#00a3d2}
.filter_more a em{background:url(../../images/you/filter_bg.png) 2px -268px no-repeat;+background-position:2px -271px;_background-position:2px -270px;width:13px;height:13px;display:inline-block}
.filter_more .more em{background-position:2px -299px;+background-position:2px -303px;_background-position:2px -302px}
.filter_rbox ul li input{cursor:pointer}
.filter_rbox ul li label{cursor:pointer}
.filter_rbox ul li.disabled input{cursor:default}
.filter_rbox ul li.disabled label{cursor:default;color:#aaa}
.filter_layer_bg{display:none;padding:3px;background:url(../../images/you/trans20_png24.png) 0 0 repeat;_filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);*zoom:1;float:right}

:root *>.filter_layer_bg{background:rgba(0,0,0,.2) none}
.filter_layer{background:#fff;padding:9px 0 11px;position:relative;float:left}
.filter_layer .close{position:relative}
.filter_layer .close a{position:absolute;top:0;right:8px;width:16px;height:16px;display:inline-block;background:url(../../images/you/filter_bg.png) left -484px no-repeat}
.filter_layer .close a:hover{background-position:-29px -484px}
.filter_layer .brand_box{float:left;display:inline;margin-left:-1px}
.filter_layer .brand_box h3{padding-left:15px;font-size:14px;color:#333;font-weight:bold;margin-bottom:8px}
.filter_layer .brand_list{float:left;display:inline;padding:0 10px 0 11px;border-left:1px solid #e3e3e3}
.filter_layer .brand_list ul{float:left;display:inline;padding-right:5px;width:98px}
.filter_layer .brand_list li{position:relative;float:left;display:list-item;margin-bottom:2px;width:98px;height:18px;line-height:18px;overflow:hidden}
.filter_layer .brand_list li input{position:absolute;top:0;left:0;opacity:.01;filter:alpha(opacity=0.1)}
.filter_layer .brand_list li em{color:#333;height:20px;padding:0 4px 0 20px;display:block;background:url(../../images/you/filter_bg.png) 4px -63px no-repeat}
.filter_layer .brand_list li:hover{color:#00a3c2}
.filter_layer .brand_list li:hover em{color:#00a3c2;background-position:4px -98px}
.filter_layer .brand_list li.selected em{background-color:#00a3c2;color:#fff;background-position:4px -128px}
.filter_layer .brand_list li.selected:hover em{background-position:4px -128px;color:#fff}
.b_layer{padding:5px;width:380px;color:#555;text-align:left;background:-moz-linear-gradient(top,rgba(0,0,0,0.2) 0,rgba(0,0,0,0.2) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.2)),color-stop(100%,rgba(0,0,0,0.2)));background:-webkit-linear-gradient(top,rgba(0,0,0,0.2) 0,rgba(0,0,0,0.2) 100%);background:-o-linear-gradient(top,rgba(0,0,0,0.2) 0,rgba(0,0,0,0.2) 100%);background:-ms-linear-gradient(top,rgba(0,0,0,0.2) 0,rgba(0,0,0,0.2) 100%);background:linear-gradient(to bottom,rgba(0,0,0,0.2) 0,rgba(0,0,0,0.2) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#33000000",endColorstr="#33000000",GradientType=0)}
.b_layer .e_inner{background:#fff}
.b_layer .e_tit{padding:0 10px;height:34px;background:#eee;font:14px/34px Arial,sans-serif}
.b_layer .e_tit .m_close{display:block;float:right;margin-top:10px;width:10px;height:10px;background:url(../../images/you/ico_comm_v12_png8.png) no-repeat -34px -424px}
.b_layer .e_con{padding:30px}
.b_layer .e_con input{vertical-align:middle}
.b_layer .e_con .e_ulogin .m_username{margin-bottom:15px;font-size:14px}
.b_layer .e_con .e_ulogin .m_password{font-size:14px}
.b_layer .e_con .e_ulogin .m_textbox{padding:0 5px;border:1px solid #d6d6d6;width:240px;height:28px;line-height:28px}
.b_layer .e_con .e_ulogin .m_tips{padding-left:42px;color:#999}
.b_layer .e_con .e_ulogin .m_btn,.b_layer .e_con .e_ulogin .m_service{padding-right:20px;text-align:right}
.b_layer .e_con .e_ulogin .m_autologin{margin-bottom:5px;padding-left:42px;line-height:32px;color:#999}
.b_layer .e_con .e_ulogin .m_autologin label{_vertical-align:-3px}
.b_layer .e_con .e_ulogin .m_btn{margin-bottom:13px}
.b_layer .e_con .e_ulogin .m_warning{color:#f00}
.b_layer .btn_blue{margin-left:8px;cursor:pointer}
.m_msg_warn{margin-top:-3px;zoom:1}
.m_msg_warn dt{display:block;float:left;width:25px}
.m_msg_warn dd{padding-left:25px;line-height:24px}
.m_msg_warn dd.btn{margin-top:9px;text-align:right}
.m_msg_warn dd.f14{font-size:14px}
.b_layer .verif_code{padding:25px 30px}
.b_layer .verif_code .codef_form{text-align:left;padding-top:20px}
.b_layer .verif_code .codef_form .input_code{border:#dbdbdb 1px solid;width:187px;padding:0 10px;height:28px;line-height:28px;vertical-align:middle;color:#888;font-size:14px}
.b_layer .verif_code .codef_form .input_focus{color:#333}
.b_layer .verif_code .codef_form .input_error{border:#f55 1px solid}
.b_layer .verif_code .error_tip{color:#f55;visibility:hidden;height:24px}
.b_layer .verif_code .vcode{padding:0 0 2px 25px;font-size:12px}
.b_layer .verif_code .vcode img{vertical-align:middle;margin-right:10px}
.hide{display:none;}
.filter_rbox ul li input.js_item{opacity: 0.01; position: absolute; top: 3px; left: 3px;}

.b_hotel_info_bg{background:url(../../images/you/bot_line.png) left bottom repeat-x;padding-bottom:3px}
.b_hotel_info{border:1px solid #ddd;border-bottom:0 none}
.b_hotel_info .num{font-size:14px;font-family:"Microsoft Yahei",Tahoma,"SimSun";color:#333;border-bottom:1px solid #f1f1f1;margin-top:4px;height:37px;line-height:37px;padding-left:13px}
.b_hotel_info .num em{color:#f55}
.b_hotel_info .num em .inner-wrapper{display:inline-block;overflow:hidden;padding:0;margin:0;white-space:nowrap;width:auto;float:left;margin-right:6px;line-height:34px\0;+line-height:32px;_line-height:34px}
:root .b_hotel_info .num em .inner-wrapper{line-height:38px\0}
.b_hotel_info .num em span span{width:8px;display:inline-block}
.b_hotel_info .num .e_clear{font-size:12px;margin-left:8px}
.b_sort_bar{background-color:#f6f6f6}
.b_hotelSort_lf{float:left;margin-left:12px;margin:8px 0 8px 12px;height:19px}
.b_hotelSort_rt{float:right;display:inline;margin:8px 8px 7px 0;height:20px}
.b_hotelSort_rt .e_hotelSort_checkSel li{float:left;display:list-item;margin-right:6px;height:20px;line-height:20px;overflow:hidden;line-height:22px\0;+line-height:22px;overflow:hidden}
:root .b_hotelSort_rt .e_hotelSort_checkSel li{line-height:20px\0}
.b_hotelSort_rt .e_hotelSort_checkSel li label{cursor:pointer}
.b_hotelSort_rt .e_hotelSort_checkSel li input{position:absolute;top:0;left:0;opacity:.01;filter:alpha(opacity=0.1);cursor:pointer}
.b_hotelSort_rt .e_hotelSort_checkSel em{float:left;display:inline;padding:0 4px 0 20px;background:url(../../images/you/filter_bg.png) 4px -63px no-repeat;color:#333}
.b_hotelSort_rt .e_hotelSort_checkSel em:hover{background-position:4px -98px}
.b_hotelSort_rt .e_hotelSort_checkSel li.selected em{color:#00a3c2;background-position:4px -128px}
.b_hotelSort_rt .e_hotelSort_checkSel li.no em{background-position:4px -537px}
.b_hotelSort_lf .e_hotelSort_sortList .title{float:left;width:107px;height:17px;border:1px solid #d5d5d5;background:#fff;padding-left:4px}
.b_hotelSort_lf .e_hotelSort_sortList .title li{position:relative;z-index:1;float:left;cursor:pointer;width:107px;height:17px;line-height:17px}
.b_hotelSort_lf .e_hotelSort_sortList .title .icon{display:inline-block;background:url(../../images/you/filter_bg.png) no-repeat 0 -577px;width:16px;height:17px;position:absolute;right:0;top:0;cursor:pointer}
.b_hotelSort_lf .e_hotelSort_sortList .title a{display:inline-block;width:100%}
.b_hotelSort_lf .e_hotelSort_sortSel{float:left;height:28px;display:block;margin-top:2px}
.b_hotelSort_lf .e_hotelSort_sortSel li{float:left;position:relative;z-index:10;margin-bottom:-1px;margin-right:16px}
.b_hotelSort_lf .e_hotelSort_sortSel li a{color:#333;cursor:pointer;display:inline-block;padding:7px 7px 8px;*padding:9px 7px 6px}
.b_hotelSort_lf .e_hotelSort_sortSel li.cur a{color:#00a3c2}
.b_hotelSort_lf .e_hotelSort_sortSel li:hover{color:#00a3c2}
.b_hotelSort_lf .e_hotelSort_sortSel li label{cursor:pointer}
.b_hotelSort_lf .e_hotelSort_sortSel li input{cursor:pointer;margin-left:25px}
.b_hotelSort_lf .e_hotelSort_sortSel li span{padding-right:12px;display:inline-block;height:14px;line-height:14px;overflow:hidden;background:url(../../images/you/arrow_icon.png) no-repeat right -38px}
.b_hotelSort_lf .e_hotelSort_sortSel li .mr{background:0}
.b_hotelSort_lf .e_hotelSort_sortSel li.selected .mr{color:#0084bb;font-weight:bold;display:inline-block;height:14px;line-height:14px;background:0}
.b_hotelSort_lf .e_hotelSort_sortSel li .adown{background-position:right -118px}
.b_hotelSort_lf .e_hotelSort_sortSel li.selected .adown{color:#0084bb;background-position:right -58px;font-weight:bold;color:#0084bb}
.b_hotelSort_lf .e_hotelSort_sortSel li .aup{background-position:right -98px}
.b_hotelSort_lf .e_hotelSort_sortSel li .desc{background-position:right -18px;font-weight:bold;color:#0084bb}
.b_hotelSort_lf .e_hotelSort_sortSel li .asc{background-position:right 2px;font-weight:bold;color:#0084bb}
.b_hotelSort_lf .e_hotelSort_sortSel li .adesc{background-position:right -58px}
.b_hotelSort_lf .e_hotelSort_sortSel li .aasc{background-position:right -78px}
.b_hotelSort_lf .e_hotelSort_sortSel li.selected .aup{color:#0084bb;background-position:right -78px;font-weight:bold;color:#0084bb}
.b_hotelSort_lf .e_hotelSort_sortSel li span em{font-family:Arial,Helvetica,sans-serif}
.normalModel .b_hotelSort_lf .e_hotelSort_sortList{display:none}
.bigMapModel .b_hotelSort_lf .e_hotelSort_sortSel{display:none}
.b_hotelSort_lf .e_hotelSort_sortList{position:relative;z-index:90;width:113px}
.b_hotelSort_lf .e_hotelSort_sortList .pop{display:none;overflow:hidden;position:absolute;left:0;top:19px;border:1px solid #cacaca;width:111px;background:#fff;color:#333}
.b_hotelSort_lf .e_hotelSort_sortList .pop li{display:block;width:111px;height:14px;font:12px/14px Arial,Helvetica,sans-serif;background:url(../../images/you/line.png) repeat-x 0 bottom;margin-top:-1px;cursor:pointer;padding:4px 3px 5px;_padding:5px 3px 3px}
.b_hotelSort_lf .e_hotelSort_sortList .pop li span{width:85px;display:inline-block;text-align:right}
.b_hotelSort_lf .e_hotelSort_sortList .pop li label{display:none}
.b_hotelSort_lf .e_hotelSort_sortList .pop li.same,.e_hotelSort_sortList .pop li.noline{background-image:none}
.b_hotelSort_lf .e_hotelSort_sortList .pop .belong em{visibility:hidden}
.b_hotelSort_lf .e_hotelSort_sortList .pop li.cur{background:#f4f4f4}
.b_hotelSort_lf .e_hotelSort_sortList .pop li.active{background:#f4f4f4}
.b_hotelSort_lf .e_hotelSort_sortList li s{display:none;background:url(../../images/you/arrow_icon.png) no-repeat;text-decoration:none;width:7px;height:10px;line-height:10px;font-size:0;color:#fff;margin-left:7px;vertical-align:middle;margin-top:-1px;_vertical-align:auto;_margin-bottom:3px}
.b_hotelSort_lf .e_hotelSort_sortList li s.desc{display:inline-block;background-position:right -60px}
.b_hotelSort_lf .e_hotelSort_sortList li s.asc{display:inline-block;background-position:right -80px}
.b_hotelSort_lf .e_hotelSort_sortList li.cur s{color:#e7e7e7}
.b_hotelSort_lf .e_hotelSort_sortList .pop li em{display:inline-block;width:36px;padding-left:5px}
.b_hotelSort_lf .e_hotelSort_sortList .pop li input{cursor:pointer;width:103px;height:19px}

.b_hotarea{background:#fcfcfc url(../../images/you/bot_line.png) left bottom repeat-x;margin:0 0 30px;width:100%;zoom:1;padding-bottom:30px}
.b_hotarea h3{padding:12px 0 0 0;margin:0 0 6px 15px;height:30px;font-family:"microsoft yahei",tahoma,sans-serif;font-size:14px;line-height:30px;color:#333}
.e_hot_search{padding-bottom:7px}
.e_hot_search dl{clear:both;margin-left:15px}
.e_hot_search dl dt{width:37px;float:left;color:#999}
.e_hot_search dl dd{float:left;margin-bottom:5px}
.e_hot_search dl dd a{color:#333;margin-right:13px;white-space:nowrap}
.e_hot_search dl dd a:hover{color:#0084bb}

/* hotel-filter-list */
.hotel-filter-list{margin-bottom:30px;}
.hotel-filter-list dl{padding:20px 0;border-bottom:1px solid #dbdcdd;}
.hotel-filter-list dt{float:left;width:120px;}
.hotel-filter-list dt a{display:block;border:1px solid #e9e8e7;cursor: pointer;}
.hotel-filter-list dd{position:relative;float:right;width:487px;padding-right:115px;zoom:1;z-index:0;}
.hotel-filter-list .hotel-name{border-top:0 none;margin-top:0;padding:0;}
.hotel-filter-list .hotel-name h2{padding:7px 0 13px 35px;height:20px;font:14px/20px \5b8b\4f53;}
.hotel-filter-list .hotel-name h3 a{color:#333;text-decoration:underline;}
.hotel-filter-list .hotel-name h3 a:hover{color:#4385E0;text-decoration:none;}
.hotel-filter-list .square-wrap{padding:8px 0 10px;}
.hotel-filter-list .square-wrap label{margin:0 20px 0 10px;font-weight:bold;color:#4385E0;}
.hotel-filter-list .hotel-service i{margin:0 5px 0 0;}
.hotel-filter-list .room-num{left:1px;top:4px;background-position:0 0;}
.hotel-filter-list .hotel-price{position:absolute;top:0;left:496px;color:#f60;vertical-align:baseline;}
.hotel-filter-list .hotel-price em{display:inline-block;font-size:14px;padding-top:7px;vertical-align:top;}
.hotel-filter-list .hotel-price strong{font-size:30px;font-weight:normal;}
.hotel-filter-list .page{margin-top:20px;}

.hotel-side-title{padding:0 14px;height:37px;line-height:37px;color:#666;font-size:14px;font-weight:bold;background-color:#f8fcff;}
.hotel-side-recommend{overflow:hidden;zoom:1;padding:0 4px 4px;background-color:#f8fcff;}
.recommend-list{margin-top:-1px;padding:0 10px;background-color:#fff;}
.recommend-list dl{padding:15px 0;border-top:1px dotted #ddd;}
.recommend-list dt{float:left;width:90px;}
.recommend-list dd{float:right;width:187px;}
.recommend-list dd h6{height:36px;overflow:hidden;}
.recommend-list dd h6 a{color:#4385E0;}
.recommend-list dd h6 a:hover{color:#F18100;}
.recommend-list p .fr{font-size:18px;color:#f60;}
.recommend-list p .fr em{font-size:12px;vertical-align:1px;}
.recommend-list .square{margin-top:10px;}

/*trip-travel*/
.trip-travel{ margin: 0 0 10px 0}
.trip-travel-bottom{ border-top: 1px solid #d9e8f6; width: 544px; height: 48px; border-left: 1px solid #d9e8f6;}
.trip-travel-bottom a{ padding: 6px 21px; float: left; text-align: center; border-right: 1px solid #d9e8f6}
.trip-travel-bottom a dfn{ display: block; color: #999999}
.trip-travel-bottom a:hover{ background-color: #eef5ff; color: #333}
.trip-travel-bottom .on,.trip-travel-bottom .on dfn{background-color: #4385e0; color: #fff}
.trip-travel-route{ border: 1px solid #d9e8f6;}
.trip-travel-route li{ padding: 0 0 0 18px; border-bottom: 1px solid #efefef; height: 33px; line-height: 33px;}
.trip-travel-route li span{ width: 78px; text-align: left; color: #999; display: inline-block;}
.trip-travel-route li a{ margin: 0 30px 0 0}
.trip-travel-route li .li-on{ color: #f18100}
.trip-travel-federat{ height:47px; background-color: #e5eefa; position: relative;}
.travel-fed{ padding: 0 0 0 18px; width: 70px; text-align: left; float: left; line-height: 47px;}
.travel-fede{ float: left; background-color: #fff; width: 142px; height: 22px; line-height: 22px; border: 1px solid #ff832c; margin: 12px 0 0 0}
.travel-fede-stroke{ width: 61px; background-color: #ff832c; height: 22px; text-align: center; color: #fff; float: left;}
.travel-fede-number{ padding: 0 5px; float: left; width: 42px; text-align: center;}
.travel-fede-xial,.travel-fede-xial:hover,.travel-fede-dele,.travel-fede-dele:hover{ width: 13px; height: 14px; float: left; margin: 4px 0 0 0; background:#fcfcfc url(../../images/you/xdele.png) no-repeat left top;}
.travel-fede-dele{ background-position: left -17px}
.travel-fede-xial:hover{background-position: left -34px;}
.travel-fede-dele:hover{ background-position: left -51px;}
.travel-tru{ width: 142px; border: 1px solid #ff832c; border-top: none; position: absolute; left: 88px; top: 35px; background-color: #fff;}
.travel-tru-link{ display: block; overflow: hidden; margin: 5px 0 5px 20px}
.travel-tru-link a{ float: left; margin: 0 20px 0 0; line-height: 20px;}
.travel-tru-bottom{ height: 17px; width: 142px; display: block; background-color: #ff832c; text-align: center;}
.travel-tru-bottom a{ color: #fff; display: block; width: 142px; height: 17px; line-height: 16px;}
.tru-link-on{ color: #F18100}
.travel-clear-all{ line-height: 47px; color: #4385e0; margin: 0 20px 0 15px;}
.travel-feder{ color: #999;}
.travel-feder b,.travel-feder strong{ font-weight: normal; color: #ff7426; margin: 0 5px}
.travel-feder strong{ margin: 0 5px 0 0}