/*  init */
body{background:none;}
.footer{background:none;border-top:0 none;}
.topbar-inner,.header .top .panel,.header .panel{width:950px;}
.header{margin-bottom:20px;}
.header .country-box, .header-logo .country-box{margin-left:294px;}
.header .top .panel{background: #fff;}
