/*
	@author:xushu@b5m.com;
	@date:2013-10-29;
*/

/*----@css reset s----*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}fieldset,img{border:0}:focus{outline:0}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:normal}h1,h2,h3,h4,h5,h6{font-size:100%;}abbr,acronym{border:0;font-variant:normal}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}code,kbd,samp,tt{font-size:100%}input,button,textarea,select{*font-size:100%}ol,ul{list-style:none;padding:0;}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}sup,sub{font-size:100%;vertical-align:baseline}:link,:visited,ins{text-decoration:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
body{font: 12px/1.5 tahoma,arial,\5b8b\4f53; background: #fff;}
html,body{height: 100%;overflow-y:hidden;}
body{min-width:980px;}
/*----@css reset s----*/

/*----@common s----*/
.cf:after {visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; } 
.cf {zoom:1; /* for IE6 IE7 */ } 
.l,.r {display:inline; } 
.l {float:left; } 
.r {float:right; } 
.tof {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } 
.rmb {font-family: arial; font-style: normal; padding-right: 4px; }
img{vertical-align:middle;}
.pd15{padding: 15px;}
.pd10{padding: 10px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.cl-000{color:#000;}
.cl-666{color:#666;}
.cl-438{color:#4385e0;}
.list-h li{float:left;}
.icon{display: inline-block;*display: inline;*zoom: 1;vertical-align:middle;background-image: url(../../images/you/map/map-icon.png);background-repeat: no-repeat;background-attachment: scroll;}
.icon-check{background-position: -50px -50px;width:12px;height:12px;}
.icon-checked{background-position: 0 -50px;width:12px;height:12px;}
.icon-marker{background-position:-50px -100px;width:20px;height:25px;}
.icon-arrow{background-position: 0 -150px;width:11px;height: 7px;}
/*----@common s----*/


/*----@header s----*/
.header{height: 103px;padding-left:15px;background-color: #fff;;}
.header .logo{margin-top: 10px;margin-right:20px;}
.search-box__input{display: inline-block;*display: inline;*zoom: 1;padding:2px;border:1px solid #eaeaea;background-color: #fcfcfc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-shadow:0 1px 0 #f5f5f5;
}
.search-box__keys{width:378px;height:24px;line-height:24px;padding:3px;border-width:1px;border-color:#b6b6b6 #d8d8d8 #d8d8d8 #b6b6b6;border-style:solid;
	box-shadow:inset 2px 2px 2px #dedede;
}
.search-box__btn{margin-left:4px;font-size:0;}
.search-box__btn input{cursor:pointer;border:none;width:106px;height:39px;background: url(../../images/you/map/map-icon.png) no-repeat scroll;font-size:0;overflow: hidden;}
.search-box__tab{padding-left:10px;margin-top: -1px;}
.search-box__tab li{margin-right:5px;padding:0 20px;height:22px;line-height:22px;border:1px solid #e4e4e4;color:#a0a0a0;cursor: pointer;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-8 */
}
:root .gradient{filter:none;}
.search-box__tab .cur{position:relative;color:#6f6f6f;font-weight: 700;border-color: #dcdcdc;border-top:1px solid #fff;}
/*----@header e----*/

/*----@select-list s---- */
.select-list{position:relative;z-index:10;width:100px;height:32px;margin-right:8px;cursor: pointer;border:2px solid #d6d6d6;}
.select-list .checked-city{padding-left: 16px;color: #666;color:14px;line-height: 34px;}
.select-list .icon-arrow{position:absolute;left:76px;top:14px;line-height:34px;}
.cityselect{display:none;position:absolute;z-index:2;top:52px;left:-2px;width:334px;overflow:hidden;padding:15px 18px;border:2px solid #d6d6d6;background-color:#fff;font-family:"\5FAE\8F6F\96C5\9ED1";zoom:1;cursor: default;}
.cityselect .tit{height:22px;border-bottom:1px dotted #d6d6d6;}
.cityselect .tit span{font-size:12px;color:#333;float:left}
.cityselect .tit em{font-family:"\5FAE\8F6F\96C5\9ED1";font-size:12px;color:#999;float:left;width:180px;margin-top:2px;padding-left:5px}
.cityselect .tit a{float:right;color:#656565;font-size:14px;font-weight:bold;font-family:verdana;line-height:1.2}
.cityselect .tit a:hover{text-decoration:none;color:black}
.cityselect-ul{width:310px}
.cityselect-ul li{width:62px;height:14px;float:left;padding:10px 0 0}
.cityselect-ul li a{font-family:"\5FAE\8F6F\96C5\9ED1";color:#666}
.cityselect-ul li a:hover{color:#eb7e00;}
.select-area{position: relative;z-index: 100}
.hotel-tip{display:none;position: absolute; background: #fff;border: 2px solid #d6d6d6;left:3px;top: 34px; padding: 10px;width:362px;z-index: 100;}
.filter-hotel .hotel-tip{left: 204px;}
.hotel-cat{ line-height: 21px;color: #4385e0; border-bottom: 1px #d6d6d6 dashed; padding-bottom: 5px;}
.hotel-cat strong{ font-weight: bolder; font-size: 16px; display: block; color: #333; padding: 5px 0 0 5px;}
.hotel-cat a{color: #4385e0; margin: 0 5px;}
.hotel-cat a:hover{margin: 0 5px;color: #f18100; }
.hotel-cat span{display: block;text-align:right;}
.hotel-cat span a{ color: #999;}
/*----@select-list e---- */

/*----@map-side s----*/
.map{height:100%;border-top: 1px solid #e2e2e2;background-color: #fff;}
.map__main{margin-left:350px;height:100%;}
.map__sider{position:relative;overflow-x:hidden;overflow-y:auto;width:349px;border-right:1px solid #d8d8d8;border-top:1px solid #d8d8d8;}
.map__sider__top{height:42px;background-color: #f2f2f2;border-right:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;margin:-1px;}
.map__sider__top .rim-area{margin-top: 8px;margin-left:14px;background-color: #f2f2f2;}
.rim-area{border-radius:2px;border:1px solid #d8d8d8;overflow: hidden;}
.rim-area li{padding:0 15px;height:26px;line-height:26px;border-left:1px solid #d8d8d8;margin-left:-1px;background-color: #fff;cursor:pointer;}
.rim-area .cur{background-color: #f0f0f0;color:#4385E0;}
.map__sider__body{padding:10px 8px 0;}
/*----@map-side e----*/

/*----@check-list s----*/
.check-list li{margin-right: 20px;cursor: pointer;white-space: nowrap;}
.check-list span{white-space:nowrap;color:#999;vertical-align: middle;}
.check-list .icon{margin-right:5px;}
/*----@check-list e----*/

/*----@goods-list s----*/
.addr-list{overflow: hidden;}
.addr-list__item{zoom:1;margin-top: -1px;border-top:1px dashed #e5e5e5;position: relative;padding:15px 60px 15px 35px;cursor: pointer;}
.addr-list__item:hover{background-color: #f0f0f0;}
.addr-list__item .pic{width:50px;height:50px;float:left;}
.addr-list__item .txt{margin-left:62px;}
.addr-list__item .txt p{color:#666;}
.addr-list__item .icon-marker,
.addr-list__item .price{position: absolute;top:15px;}
.addr-list__item .icon-marker{left:0;color:#fff;font-style: normal;font-weight:700;text-align: center;}
.addr-list__item .price{right:0;color:#f29875;font:normal 700 16px arial;}
.addr-list__item a:hover{text-decoration: underline;}
/*----@goods-list e----*/

/*----@page s----*/
.page{font-size:0;text-align: center;}
.page a{vertical-align:middle;line-height:26px;margin-right:4px;padding:2px 5px;border:1px solid #cacaca;color:#4385E0;background-color: #fff;font-size:12px;}
.page .cur{border:none;background-color:  #4385E0;color:#fff;padding:5px 8px;}
/*----@page e----*/

/*----@detail s----*/
.detail{background-color: #fff;position: relative;z-index: 100}
.detail .txt{margin-left: 62px;}
.detail .title{color:#333;}
.detail .title:hover{text-decoration: underline;}
.detail .price{color:#F18200;margin-left:10px;font-family: arial;}
.detail p{color:#a3a3a3;}
/*----@detail e----*/

/*----@tips s----*/
.tips-warning{padding:6px 0;border-bottom:1px dashed #f18100;color:#f18100;font-size:14px;font-weight: 700;}
/*----@tips e----