/*  init */
.cfx:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }.cfx{ *zoom:1;}
.fl {float: left;}.fr { float: right;}.ifl{display:inline;float:left;}.ifr{display:inline;float:right}
.pz{position:relative;z-index:0}
.blue{color:#4385e0}
a{color:#333;}a:hover{ color:#f18100; }
.bd{border:1px solid #e4e4e4}
s,u{text-decoration:none}
small{font-style:normal;font-size:12px;}
/*通用顶部 - Start - Gaotian -20131213*/
.header { margin-bottom: 20px; }
.header .panel { width:980px; margin:auto; }
.header .top .panel { height:85px; padding-top: 15px; background:url("../../images/korea/top-bg.png") no-repeat right center; }
.header .logo { width:466px; height: 73px;   }
.header .nav{background:#4385e0;font-family:Microsoft YaHei;}
.header .nav li { float:left; }
.header .nav li a {display: block;font-size:14px; text-align:center; width:94px; height:47px; color:#fff; line-height: 47px;border-right:1px solid #72a2e6}
.header .nav li a:hover { background-color:#3c77c9; text-decoration: none;   }
.header .nav li.cur a { background-color: #f5f5f5; border-color:#f5f5f5;color:#4c4c4c}
.header .nav li.b5m-home a span { padding-left: 15px;}
.header .nav li.b5m-home a { border-right:none; width:200px;background-color: #3c77c9; background-position:45px -523px;}
.header .nav li.b5m-home a:hover { background-color: #3569b0; }
.header .nav li.last a { border:none; }
.header .search { background: #000; }
.header-search{background:#f5f5f5}
.sprite{background:url(../../images/you/sprite.png) no-repeat }
.icon-you{background:url(../../images/you/icon.png) no-repeat;_background:url(../../images/you/icon-8.png) no-repeat}
.header .top .panel {background:url(../../images/you/top-text.png) no-repeat 217px 40px; }
.header-search-content label{background-position:-2px -70px}
.header-rearch-submit{background:#4385e0;_margin-top:1px}
/*通用顶部 - End - Gaotian -20131213*/