/*  init */

.clearfix:after, .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix, .cf{ *zoom:1;}
.clear, .c { clear:both; }

.l { float: left;}
.r { float: right;}

.sp { padding: 0 5px; color:#999; }

.f-yh,h2,h3,.crumb { font-family:"\5FAE\8F6F\96C5\9ED1",'\9ED1\4F53'; }
.blue{color:#4385e0}
.blue *{color:#4385e0}
a { color:#333; }
a:hover{ color:#f18100; }
.floor-news-img:hover{text-decoration:none}
.header { margin-bottom: 20px; }
.header .panel { width:980px; margin:auto; }
.header .top .panel { height:85px; padding-top: 15px; background:url("../../images/korea/top-bg.png") no-repeat right center; }
.header .logo { width:466px; height: 73px;   }
.header .nav { background: #db000f; }
.header .nav li { float:left; }
.header .nav li a { display: block; font-size:14px; text-align:center; width:94px; height:47px; color:#fff; line-height: 47px; border-right:1px solid #e2404b;}
.header .nav li a:hover { background-color:#c5000d; text-decoration: none;   }
.header .nav li.cur a { background-color: #000; border-color:#000;}
.header .nav li.b5m-home a span { padding-left: 15px;}
.header .nav li.b5m-home a { border-right:none; width:200px; background-color: #c5000d; background-position: 40px -298px;}
.header .nav li.b5m-home a:hover { background-color: #ac000b; }
.header .nav li.last a { border:none; }
.header .search { background: #000; }

.sprite{background:url(../../images/you/sprite.png) no-repeat }
.icon-you{background:url(../../images/you/icon.png) no-repeat;_background:url(../../images/you/icon-8.png) no-repeat}
.w980{width:980px;margin:0 auto}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}


/*******楼层**************/
/* 首页楼层顶 */
.floor-tit{ font-family:Microsoft YaHei,"微软雅黑"; height:36px; padding: 10px 0 0 0; border-bottom: 3px solid;}
.floor-tit-num{ float: left; width: 49px; height: 49px; display: block; text-align: center; line-height: 49px; color: #fff; font-weight: bolder;font-size: 21px;margin-top: -10px; background: url(../../images/common/floor-tit.png) no-repeat 0 0;_background-image: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/floor-tit.png", sizingMethod="crop"); _position: relative; _bottom: -3px;}
.floor-tit h3{ font-size: 20px; color: #1a1a1a; float: left; padding-left: 10px;}
.floor-tit h3 a{ color: #1a1a1a;}
.floor-tit h3 span{ font-size: 12px; color: #666;}
.floor-tit-desc{ padding-left: 10px;}
.floor-tit-links{ float: right; color: #ccc; padding: 7px 0 0 0;}
.floor-tit-links a{	font-size: 14px; color: #1a1a1a; padding: 0 14px;}
.floor-tit-more{ color: #fff; font-weight: bold; font-size: 12px; float: right; display: block; height: 26px; width: 41px;margin-top: -10px;padding: 23px 0 0 19px; background: url(../../images/common/floor-tit.png) no-repeat -49px 0;_background-image: none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/floor-tit-ie6.png", sizingMethod="crop");_position: relative; _bottom: -3px;}
.floor-tit-more a{ color: #fff;}

/* 首页楼层频道 主结构样式 */
.floor-search{ width: 512px; height: 62px;}
.floor-search-tip{ float: right; width: 146px; height: 44px; padding: 9px 10px; background: #eee url(../../images/www/floor-search-8.png) no-repeat -289px -234px; color: #999; font-size: 12px; line-height: 21px; text-indent: 29px;}
.floor-search-input{font-size: 0; width: 319px; height: 39px; padding: 2px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.floor-search-input label{ display: none;}
.floor-search-key{ float: left; width: 219px; height: 15px; border:0; color: #999; font-size: 12px;padding: 12px 10px; -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px;border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px;border-bottom-left-radius: 3px; *margin-top: 0px; _margin-top: 0px; _float:none;}
.floor-search-submit{float: right; height: 39px; border: 0; vertical-align: top; width: 75px; font-size: 14px; font-weight: bold; background: none; color: #fff; cursor: pointer; _float:none;}
.floor-search-hot-key{ color: #999; padding: 5px 0; line-height: 22px; padding-left: 5px;}
.floor-search-hot-key a{ color: #333; margin: 0 5px;}

.floor-news{ width: 512px; margin-top: 5px;}
.floor-news-bar{ font-size: 16px; color: #000; font-weight: bold; font-family:Microsoft YaHei,"微软雅黑"; line-height: 50px;}
.floor-news-more{ float: right; color: #999; line-height: 50px;}
.floor-news-img{ float: left; margin: 0 17px 17px 0;}
.floor-news-img img{ vertical-align: bottom;}
.floor-news-desc{ display: block; color: #fff; font-size: 16px; font-family:Microsoft YaHei,"微软雅黑"; text-align: center; height: 32px; line-height: 32px; width: 186px;}
.floor-news-list li{margin-bottom: 15px;}
.floor-news-style li span a{font-size: 14px; color: #333; font-weight: bold;}
.floor-news-style li p{ color: #999; margin: 0; padding: 5px; line-height: 23px;}
.floor-news-style li p a{ color: #999;}
.floor-news-small{width: 512px; height: 94px; overflow: hidden;}
.floor-news-small li{ float: left; width: 243px;}
.floor-news-small li img{ float: left; margin:0 12px 0 0;}
.floor-news-with{ margin-right: 25px;}


/* slider in floor */
.slider{border:1px solid #6bb5a7;width:430px;position:relative;overflow:hidden}
.slider h3{height:42px;font:bold 16px/42px 'Microsoft YaHei';color:black;margin:0 30px}
.slider-nav{height:27px;margin:0 0 0 30px;position:relative;z-index:2}
.slider-nav-li,
.slider-nav .more{float:left;margin-right:1px;_display:inline;height:20px;font-size:0;position:relative}
.slider-nav-li a,
.slider-nav .more a{padding:0 10px;font:normal 12px/20px 'SimSun';text-align:center;float:left;color:#6bb5a7;clear:both;height:20px;overflow:hidden;_line-height:22px}
.slider-nav li.cur a,
.slider-nav-li a:hover{color:white;text-decoration:none;border-radius:3px}
.slider-nav .more a:hover{text-decoration:underline}

.slider-nav li.cur a:hover,
.slider-nav li.cur a{font-weight:bold;}
.slider-nav-li a:hover em,
.slider-nav li.cur a em{display:block;;width:0;height:0;font-size:0;line-height:0; border-style:solid dashed dashed;border-width:4px;position:absolute;margin-left:-2px;left:50%;top:20px}
.slider-nav-li a em{display:none}
.slider-nav-fix a{padding:0;width:100%;}
.slider-cont{position:relative;margin-top:-10px;padding-top:10px;clear:both;background:url(../../images/common/slider.png) repeat-y top center;overflow:hidden}
.slider-item{display:none;height:334px;overflow:hidden;width:370px;padding:0px 30px 0;margin:0 auto;font-size:12px;position:relative;}
.slider-item-cur{display:block;}
.slider-item ul{width:388px;overflow:hidden}
.slider-item li{width:176px;float:left;margin:3px 18px 0 0;_display:inline;min-height:145px;_height:145px}
.slider-item .pic{display:block;width:176px;height:115px;position:relative;overflow:hidden;text-align:center;/*line-height:115px;_font-size: 96px;_font-family:Arial;*/}
.slider-item .pic img{/*max-width:176px;max-height:115px;margin:0 auto;vertical-align:middle;_width:176px*/}
.slider-item .pic img.midd{width:auto;height:115px;margin:0 auto}
.slider-item .pic:hover .bg{opacity:1}
.slider-item .price{width:100%;position:absolute;height:20px;left:0;bottom:0;cursor:pointer;font-size:12px}
.slider-item .bg{width:100%;height:100%;background-color:black;opacity:0.7;display:block}
.slider-item .num{padding:0 10px;float:left;position:absolute;left:0;top:0;line-height:20px;color:#ff7a17;font-weight:bold;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-family:Tahoma;font-size:14px;}
.slider-item .num em{font-size:11px}
.slider-item .place{cursor:pointer;float:right;color:white;position:absolute;right:10px;top:0;font-family:'Microsoft YaHei'}
.slider-item .tit{text-align:left;max-width:100%;_width:100%;float:left;margin-top:6px;height:16px;line-height:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#444}
.slider-item .tit:hover{color:black;text-decoration:underline}
.slider-item .cutprice{display:block;color:#e91a1a;font:bold 16px/100% 'Microsoft YaHei';clear:both;padding-top:7px;height:20px}
.slider-item .cutprice em{color:#999;font-size:12px}
.slider-item .platform{height:22px;display:inline-block;*zoom:1;clear:both;line-height:20px;padding-top:5px;color:#666}
.slider-item .platform:hover{color:black;text-decoration:underline}
.slider-page{text-align:right;font-size:0px;padding-right:30px;height:20px;padding-bottom:5px;padding-top:7px}
.slider-page a{margin:0 10px 0 0;font-size:12px;;width:15px;height:15px;text-align:center;line-height:15px;color:#a8a8a8;display:inline-block;*zoom:1;font-family:arial;margin-top:2px;vertical-align:text-bottom;border-radius:2px}
.slider-page a.cur,.slider-page a:hover{background-color:#6bb5a7;color:white;text-decoration:none}
.slider-page a.more{width:auto;color:#222;font-family:'SimSun';margin:0 0 0 10px;border-radius:0;}
.slider .slider-page a.more:hover{background:none;color:#000;text-decoration:underline;}
.slider-arr{width:30px;font-size:50px;position:absolute;top:50%;margin-top:-20px;text-align:center;font-family:'SimSun';line-height:40px;color:#d4d4d4;text-shadow:2px 2px 2px white;outline:none;
    -webkit-transition:color .3s ease;
    -moz-transition:color .3s ease;
    -o-transition:color .3s ease;
    -ms-transition:color .3s ease;
    transition:color .3s ease;}
.slider-arr:hover{color:#333;text-decoration:none}
.slider-arr:active{margin-top:-19px}
.slider-prev{left:0;text-align:left}
.slider-next{right:0;text-align:right}
.slider-ad{height:43px;background:url(../../images/common/slider-line.png) repeat-x 0 5px;margin:0 30px;padding-top:12px;}
.slider-ad a{margin-right:10px}
/*自定义
.slider-you{border-color:#6bb5a7;color:#6bb5a7}
.slider-you .slider-nav-li a,.slider-you .more a{color:#6bb5a7}
.slider-you li.cur a,
.slider-you .slider-nav-li a:hover{background:#6bb5a7;color:white}
.slider-you .slider-nav li em{border-color:#6bb5a7 transparent transparent;}
.slider-you .slider-page a.cur, .slider-you .slider-page a:hover{background-color:#6bb5a7}
.slider-you .slider-item{height:334px}如果是普通样式    是不需要这行的
*/
/*等级 s*/
.level-bar{position:relative;width:98px;margin:10px auto 0;padding:0 45px;}
.level-line,
.level-in{position:relative;width:92px;height:6px;background-image: url(../../images/www/level-line.png);background-repeat: no-repeat;}
.level-in{background-position:0 -16px;}
.level-num{position:absolute;top:-5px;display:block;width:25px;height:29px;}
.leve-left{left:0;}
.leve-right{right:0;}
.level0{background-position:0 -32px;}
.level1{background-position:0 -17px}
.level2{background-position:-34px -17px}
.level3{background-position:-68px -17px}
.level4{background-position:-102px -17px}
.level5{background-position:-136px -17px}
.level6{background-position:-170px -17px}
.level-point{position:absolute;right:-12px;top:-3px;width:12px;height:12px;background:url(../../images/www/level-line.png) no-repeat 0 -32px scroll;}
/*等级 e*/
.siteintro{width:182px;height:121px;border:1px solid #e4e4e4;padding:14px 0 0 16px;margin-top:15px;background:url(../../images/www/why_b5m.jpg) no-repeat scroll right bottom #fff;}
.siteintro strong{display:block;height:17px;font:bold 14px/17px \5FAE\8F6F\96C5\9ED1;color:#333;margin-bottom:9px}
.siteintro span{height:22px;line-height:22px;font-size:12px;color:#666;padding-left:18px;display:block;background:url(../../images/www/icon.png) no-repeat scroll 0 -692px transparent;}
.b5tad{display:block;margin:15px 0 0}
.b5tad img{display:block}
/*图片滚动 s*/
.pic-slider{width: 540px;height: 230px;overflow: hidden;*position:relative;}
.pic-slider ul{position: relative;}
.pic-slider .nums{float:right;margin:-20px 10px 0 0;position:relative;}
.pic-slider .nums a{float:left;margin-left:6px;font-size:0;line-height:0;overflow:hidden;height:10px;width:10px;cursor: pointer;background:url(../../images/www/icon.png) no-repeat scroll -150px -450px;_background-image:url(../../images/www/icon8.png);}
.pic-slider .nums a:hover,
.pic-slider .nums .cur{background-position:-100px -450px;}
/*图片滚动 e*/

/*----banner s----*/
.row-index .col{float:left; _display:inline;}
.row-index .col-space{width: 200px;height:430px;}
.row-index .col-center{width: 540px;margin:23px 20px 0 20px;}
.row-index .col-side{width: 200px;margin-top: 20px;position: relative;}
.checkin{height:120px;width:188px; overflow: hidden; background-color:#fff;border:1px solid #ededed;position:relative;}
.avater{display:block;width:52px;height:52px;display:block;position:absolute;left:9px;top:8px;background-position:0 -66px}
.noavater{background-position:0 -132px}
.avater-img{background:none}
.avater-img img{display:block;width:52px;height:52px;}
.avater-border{position:absolute;left:0;top:0}
.checkin .username{font:bold 12px/14px \5FAE\8F6F\96C5\9ED1;color:#333;display:inline-block;*zoom:1;margin:10px 0 0 84px;max-width:124px;_width:114px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:14px;}
.checkin .username:hover{color:#eb7e00;text-decoration: underline;}
.checkin .begin{line-height:18px;color:#999;font-size:12px;margin:0 0 0 84px}
.checkin-btn{margin:9px auto;display:block;font:normal 14px/27px \5FAE\8F6F\96C5\9ED1;_line-height:29px;color:#fff;text-indent:30px;text-align:left;background-position:-43px -200px;background:url(../../images/www/icon.png) no-repeat scroll 5px -753px #f48300;_background-image:url(../../images/www/icon8.png);width:126px;height:27px;border-radius:2px;overflow:hidden;
    -webkit-transition: background-position .1s ease-in;
    -moz-transition: background-position .1s ease-in;
    -ms-transition: background-position .1s ease-in;
    -o-transition: background-position .1s ease-in;
    transition: background-position .1s ease-in;
}
.checkin-btn:hover{background-position:5px -750px; color: #fff;}
.checkin-btn-dis{width:124px;height:25px;text-align:center;text-indent:0;line-height:25px;;_line-height:27px;color:#666;background:white;border:1px solid #e8e8e8;cursor:default}
.checkin-btn-dis:hover{ color: #666;}
/*----banner s----*/


/*----mobile-app s----*/
.mobile-app{overflow: hidden;zoom:1;}
.mobile-app .hd{height: 14px;line-height: 16px;padding:15px 74px 10px 0;font-size: 14px;background:url(../../images/www/mobile-app.png) no-repeat scroll 0 bottom;}
.mobile-app .hd h2{float:left;color:#333;font-family:\5FAE\8F6F\96C5\9ED1;}
.mobile-app .hd .more{float:right;color:#666;font-size:12px;}
.mobile-app .list-h{border-top:1px solid #E4E4E4;margin-right:-14px;overflow:visible;}
.mobile-app .list-h li{width:127px;height:142px;padding-right:11px;background:url(../../images/www/icon.png) no-repeat right 0;margin-top:-1px;_background-image:url(../../images/www/icon8.png);}
.mobile-app .list-h a{display:block;padding-top: 100px;font-size:12px;color:#666;text-align:center;background-image:url(../../images/www/icon.png);_background-image:url(../../images/www/icon8.png);background-repeat:no-repeat;line-height:14px;height:30px;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    -ms-transition: all ease-in .2s;
    -o-transition: all ease-in .2s;
    transition: all ease-in .2s;
}
.mobile-app .list-h a:hover{color:#eb7e00;}
.mobile-app .list-h .app-b5m{background-position: -69px -31px;}
.mobile-app .list-h .app-b5m:hover{background-position: -69px -40px;}
.mobile-app .list-h .app-you{background-position: -219px -31px;}
.mobile-app .list-h .app-you:hover{background-position: -219px -40px;}
.mobile-app .list-h .app-tao{background-position: -69px -231px;}
.mobile-app .list-h .app-tao:hover{background-position: -69px -240px;}
.mobile-app .list-h .app-gou{background-position: -219px -231px;}
.mobile-app .list-h .app-gou:hover{background-position: -219px -240px;}
/*----mobile-app s----*/

/*----floor s----*/
.floor-tit-links a:hover,
.floor-news-more:hover,
.floor-news-style li span a:hover,
.slider-item .tit:hover,
.slider .slider-page a.more:hover,
.b5t-info dl a:hover,
.slider-item .platform:hover,
.b2c-links li p a:hover,
.mobile-app .hd .more:hover,
.floor-search-hot-key a:hover,
.korea-news a:hover{color:#eb7e00;text-decoration: none;}

/*******楼层**************/








/* reset header in common */
.header { margin-bottom: 0px; }
.header .top .panel {background:url(../../images/you/top-text.png) no-repeat 217px 40px; }
.header .nav { background: #4385e0; }
.header .nav li a{border-right-color:#72a2e6}
.header .nav li a:hover { background-color:#3c77c9;}
.header .nav li.cur a { background-color: #f5f5f5; border-color:#f5f5f5;color:#4c4c4c}
.header .nav li.b5m-home a { background-color: #3c77c9; background-position:45px -523px;}
.header .nav li.b5m-home a:hover { background-color: #3569b0; }
.panel-nav{height:55px;margin-right:-36px;margin-top:5px}
.panel-nav span{width:50px;height:12px;color:#666;margin-right:36px;float:left;_display:inline;font:normal 12px/150% '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';text-align:center;white-space:nowrap;padding-top:38px;cursor:default}
.header .search {display:none}

.slider-cont{margin-bottom:0;}
.slider-page{padding-bottom:7px;padding-top:8px}
.slider-item{width:354px;padding:0 38px;height:276px;}
.slider-item ul{width:376px;}
.slider-item li{width:170px;height:135px;min-height:135px;margin-right:14px}
.slider-item .pic{width:100%;height:108px}

.floor-tit{margin:20px 0}

.bread{height:14px;padding:0 0;font-family:\5B8B\4F53;color:#666666; line-height: 39px;}
.bread a{font-family:\5B8B\4F53;color:#666666}
.bread span{color:#4baa98}
.classify{background-color:white;position:relative;z-index:4;margin-top:30px}
.b5y-intro{width:228px;height:138px;border:1px solid #e4e4e4;}
.b5y-intro strong{padding:12px 0 0;height:22px;display:block;text-indent:18px;font-family:'\5FAE\8F6F\96C5\9ED1';color:#333;font-size:14px;font-weight:bold}
.b5y-intro span{height:22px;line-height:22px;margin-left:17px;display:block;text-indent:20px;background-position:0 7px;}
.b5y-app{height:40px;width:230px;background-color:#f2f2f2;position:relative;padding:0;float:left;_overflow-x:hidden}
.b5y-app .app,.b5y-app .weibo{height:20px;line-height:20px;float:left;width:50%;text-indent:40px;height:40px;line-height:40px;position:relative;cursor:pointer}
.b5y-app .app:hover,.b5y-app .weibo:hover{background-color:#e6e6e6;text-decoration:none}
.b5y-app .icon-you{display:block;width:20px;height:20px;position:absolute;background-position:0 -20px;left:18px;top:9px}
.b5y-app .weibo .icon-you{background-position:0 -41px;}
.b5y-app .arr{border-style:dashed dashed solid;border-color:transparent transparent #f18100;position:absolute;left:50%;bottom:0px;border-width:4px;bottom:0;margin-left:-2px;display:none;line-height:0;font-size:0}
.app-down{width:230px;height:30px;background-color:#f18100;display:none;position:absolute;left:0;top:40px}
.app-down a{float:left;width:50%;height:100%;color:white;text-indent:0;text-align:center;line-height:30px;font-family:'\5FAE\8F6F\96C5\9ED1';}
.app-down a:hover{text-decoration:none;background-color:#de7802}
.b5y-app .app:hover .arr,.b5y-app .app-hover .arr,
.b5y-app .app:hover .app-down,.b5y-app .app-hover .app-down{display:block}
.filter{height:179px;border:1px solid #b9d2eb;margin-right:250px}
.filter-nav{}
.filter-nav li{width:100px;height:60px;}
.filter-nav li a{width:98px;height:59px;display:block;border:1px solid #b9d2eb;border-left:none;border-top:none;line-height:59px;color:#3f3f3f;font-size:18px;text-indent:42px;background-color:#e3effa;font-family:'\5FAE\8F6F\96C5\9ED1'}
.filter-nav li a:hover{text-decoration:none;}
.filter-nav li a.cur{background-color:white;border-right:none;}
.filter-nav li a.hotel{background-position:12px -62px}
.filter-nav li a.holidays{background-position:12px -107px}
.filter-nav li a.gonglue{background-position:12px -152px}
.filter-nav li a.ticket{background-position:12px -198px}
.filter-cont{width:590px; padding:0 0 0 20px;position:relative;float:left;zoom:1; height:100%; }
.filter-hotel{display:block}
.filter-holidays,.filter-gonglue,.filter-ticket{display:none;position:relative; height:100%;}
.filter-tit{/* width:610px; */height:36px;border-bottom:1px solid #e4e4e4;margin-bottom:11px; *position: relative;}
.filter-tit span{float:left;height:35px;border-bottom:2px solid #3c77c9;font-size:14px;color:#333;line-height:35px;overflow:hidden;margin-right:30px;_display:inline;cursor:default}
.filter-tit span.noborder{border:none}
.filter-gonglue ..filter-text{width: 296px;}

.rows{padding:10px 0 0;height:38px;position:relative; z-index:3;}
.rows label{width:42px;height:100%;display:block;text-align:right;padding-right:8px;font:normal 14px/42px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';color:#333;float:left}
.rows form{position:relative; width: 610px;_width:auto;}
.ui-select{width:auto;height:34px;border:2px solid #d6d6d6;padding:0 10px;overflow:hidden;font-size:14px}
.ui-select span,.ui-select em{line-height:34px;color:#333;font-size:14px;}
.ui-select em{width:16px;height:100%}
.ui-select .gray{color:#999}
.ui-select .arr{background-position:3px -248px;cursor:pointer}
.ui-select .date{background-position:0px -280px;cursor:pointer}
.ui-select .w130{width:130px;text-indent:20px}
.ui-select .pl10{padding-left:10px}
.ui-select input{height:16px;width:60px;padding:9px 0;line-height:16px;border:none;background:none;font-size:14px;float:left}
.ui-select .local input{width:100px;}
.rows .ml10{margin-left:10px;_display:inline}
.rows .ui-select{float:left}
.rows .local{width:120px;cursor:pointer;}
.rows .local2{width:120px;cursor:pointer}
.rows .datetime{width:218px}
.filter-cont .sub{width:68px;height:38px;color:#fff;position:relative;margin-left:-2px;background-color:#4385e0;font:normal 16px/38px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';text-align:center;float:left;_display:inline}
.filter-cont .sub:hover{text-decoration:none}
.filter-ticket .sub{margin-top:54px}

.filter-text{height:14px;border:2px solid #d6d6d6;width:315px;padding:10px;color:#999;vertical-align:middle;font-size:12px; }
.filter-text2{width:184px;_width:178px;zoom:1;}
.filter-gonglue .filter-text{width:296px;_width:290px;zoom:1;}
.filter-text-focusin{border-color:#aaa;box-shadow:0 0 1px 2px #eee;color:#333; display:inline;}
.filter-text-placeholder{color:#bbb}
.filter-cont p{height:24px;line-height:150%;font-size:12px;margin-left:50px;_float:left;_clear:both;white-space:nowrap;zoom:1;width:500px}
.filter-cont p span,.filter-cont p a{float:left;}
.filter-cont p span{width:64px;height:100%}
.filter-cont p a{margin-right:15px;}
.filter-cont .p1{margin-top:16px;}
.filter-cont .p1 a{color:#4385e0;margin-right:20px}
.filter-cont .p2 a{color:#4385e0;}

.filter-cont .p2 a:hover,.filter-cont .p1 a:hover{color:#f18100}
.ticket .select{height:21px;}
.ticket .select label,.ticket .select input{float:left}
.ticket .select label{margin-right:30px}
.ticket .select input{padding:0;margin:2px 5px 0 0;height:13px;width:13px;_display:inline}
.city .ui-select{width:178px;margin-top:8px}
.ticket .city-text{height:38px;float:left;width:35px;font:normal 14px/42px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';color:#333;}
.ticket .date-text{margin:0 0 0 37px}
.city-change{margin:25px 0 0 9px;_display:inline;width:21px;height:48px;}
.city-change .btop,.city-change .bbott{width:12px;height:12px;display:block;border:1px solid #9a9999;border-left:none}
.city-change .btop{border-bottom:none}
.city-change .bbott{border-top:none}
.city-change span{width:16px;background:#9a9999;border-radius:2px;color:white;text-align:center;line-height:14px;margin:4px 0 4px 5px;display:block;font-size:12px;cursor:pointer;padding:2px 0 2px 0}
.b2c-links{overflow:hidden;clear:both;*margin-bottom: 20px;}
.b2c-links ul{margin:0 -20px 0 0}
.b2c-links-border{border-top:3px solid #5d5d5d;height:20px;overflow:hidden}


.recommend{border:1px solid #bfe8e0;overflow:hidden;width:978px}
.recommend div{width:50%;padding:15px 0 15px 0;}
.recommend .local{width:49%;border-left:1px solid #bfe8e0}
.recommend .tit{height:18px;display:block;margin-left:20px}
.recommend .tit em{width:5px;height:11px;float:left;margin:4px 0 0 0px;background-color:#f18100;}
.recommend .tit2 em{background-color:#4385e0}
.recommend .tit span{font:normal 14px/18px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';color:#333;float:left;text-indent:.5em;;line-height:22px\9}
.recommend p{padding-top:10px;padding-left:20px}
.recommend a{margin:10px 0 0 12px;color:#808080;}

.orderby{background:#ececec;height:40px;position:relative;z-index:2;line-height:40px; color:#898989;}
.orderby-local{height:100%;background:#4385e0;cursor:default;position:relative; padding-right: 10px; min-width:120px;}
.orderby-local .cityname{text-indent:27px;color:white;font:normal 14px/40px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';background-position:10px -330px}
.orderby-local .go{color:#fff;font:normal 12px/40px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';margin-left:20px;position:relative;top:2px; display: inline; zoom:1;}
.orderby .arrow{width:0;height:0;font-size:0;line-height:0; border-style:solid dashed dashed;border-color:#fff transparent transparent;border-width:4px;
              }
.orderby-local .arrow{margin-top:18px;margin-left:5px}
.orderby-filter{margin-left:23px;_display:inline;position:relative;width:44px;}
.orderby-filter a{display:block;font-size:12px;color:#898989;line-height:40px;line-height:44px\9;overflow:hidden;height:40px}
.orderby-filter a:hover{text-decoration:none;color:black}
.orderby-filter .arrow{border-style:dashed dashed solid;border-color:transparent transparent #898989;position:absolute;right:2px;top:12px;border-width:4px;
                       border-width:5px\9;right:1px\9;top:10px\9;
                       *border-width:5px;*right:1px;
                       _border-width:5px;_right:1px;
}
.orderby-filter .arrow2{top:22px;border-style:solid dashed dashed;border-color:#898989 transparent transparent;
                        border-width:4px\9;right:2px\9;
                        *border-width:4px;*right:2px;
                        _border-width:4px;_right:2px;
}
.orderby-asc .arrow{border-color:transparent transparent #4385e0;}
.orderby-asc .arrow2{border-color:#898989 transparent transparent;}
.orderby-des .arrow{border-color:transparent transparent #898989;}
.orderby-des .arrow2{border-color:#4385e0 transparent transparent;}
.city-outer-wrap{display:none;width:230px;background-color: #fff; position: absolute; top: 40px; left:0;float:none;border:1px solid #ddd; padding:0 5px 5px;font-size:0;font-family:SimSun;margin:0;padding:2px 10px 10px;overflow:hidden; line-height:1.5;}
.city-outer-wrap a{font-size:12px}
.city-outer-wrap .selected{background-color:#999; }
.city-outer-wrap a{_display:inline;margin:5px 5px 0;font-size:12px;text-decoration:none;color:#333;float:left;word-break:break-all;word-wrap:break-word;white-space:nowrap}
.city-outer-wrap a:hover{color:#6bb5a7;text-decoration: underline;}
.city-outer-wrap .more-city{ text-align: right; margin-top: 10px;padding-right:30px;_padding-right:40px; }
.city-outer-wrap .more-city a{ text-decoration: none; cursor: pointer;color:#333; }
.orderby-local:hover .city-outer-wrap,
.orderby-local-hover .city-outer-wrap{display:block;}

.orderby-local:hover .arrow,
.orderby-local-hover .arrow{   
    border-style:dashed dashed solid;  
    border-color:transparent transparent #fff;
    height:0px;
    width:0px;
    overflow: hidden;  
    border-width:4px;
    margin-top: 14px;
  
   }

.col-sub{float:right;width:230px;border:1px solid #bfd3e8;_margin-left:-3px}
.col-main{margin-right:250px;}
.col-search{overflow:hidden;padding-bottom:30px}
.search-tit{margin:20px 0 0;height:35px;background-position:0 -380px;text-indent:27px;font:normal 14px/16px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';color:#333}
.home-mod{width:730px;overflow:hidden;_width:727px}
.module-bd{position:relative;overflow:hidden;width:105%;display:block}
.module-bd-search{margin-top:-20px;}
.mod{float:left;_display:inline;background:#fff;width:218px;border:1px solid #dbdbdb;padding:5px;margin:20px 20px 0 0;position:relative;overflow:hidden}
.mod:hover,.mod-hover{background:#edf5fd;border-color:#b9d2eb}
.mod a:hover{color:#f18100!important;}
.mod .tit{height:40px;line-height:20px;overflow:hidden;margin:0 0 8px;font-weight:400;color:#666}
.mod .tit a{color:#666}
.mod .pic,.mod .pic a{position:relative;overflow:hidden;width:100%;overflow:hidden;height:216px}
.mod .pic a{position:relative;display:block}
.mod .pic img{display:block;width:100%;height:100%;}
.mod .original{position:absolute;right:0;bottom:0;padding-right:10px;width:100%;height:30px;line-height:30px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);color:#ccc;text-align:right}
.mod .original strong{font-weight:700;color:#fff}
.mod .opt{height:46px;padding:0 10px;background:#4385e0}
.mod .opt span{float:left;color:#fff;font-size:18px;font-family:arial}
.mod .opt em{font-size:26px;padding:0 3px}
.mod .opt a{float:right;background:url(../../images/you/d_spr.png) no-repeat -85px -116px;width:74px;height:28px;text-indent:-99em;box-shadow:2px 2px 3px rgba(0,0,0,0.1);margin:9px 0 0;overflow:hidden}
.mod .opt a:hover{background-position:-159px -116px}

/*rest page*/
.page a:hover,.page .page-input a{background:#4385e0;border-color:#4385e0}
.page .cur{background:#4385e0}
.page .page-input input{border-color:#4385e0}

/* sub-ad */
.sub-ad,.sub-news{width:198px;overflow:hidden;clear:both;margin:0 auto;}
.sub-ad li{height:80px;;border-bottom:1px dashed #dadada;overflow:hidden}
.sub-ad .pic{float:left;margin-top:14px;margin-right:10px;_display:inline}
.sub-ad p{padding-top:6px;color:#999;overflow:hidden;height:58px;line-height:18px;font-size:12px;}
.sub-ad .tit{font-size:12px;font-weight:bold;color:#333;line-height:22px;display:block;height:22px;overflow:hidden;}
.sub-ad{padding-bottom:10px}
.sub-news{padding:5px 0 15px}
.sub-news li{height:19px;width:100%;padding:5px 0 0}
.sub-news em{float:left;width:3px;height:3px;background-color:#3c77c9;margin-right:10px;margin-top:10px;overflow:hidden}
.sub-news a{color:#808080;white-space:nowrap;max-width:185px;float:left;overflow:hidden;text-overflow:ellipsis;_width:185px}
.sub-news a:hover{color:black;text-decoration:underline}

/*detail*/
/*crumb*/
.crumb{height:29px;background:url(../../images/you/bg_10_02.gif) repeat-x center;margin:15px auto 0}
.crumb .inner{float:left;background:#fff url(../../images/you/d_spr.png) no-repeat -322px -153px;padding:0 15px 0 38px;height:29px;line-height:29px;font-size:14px;overflow:hidden}
.crumb .inner a,.crumb .inner b,.crumb .inner span{float:left}
.crumb .inner a{color:#333}
.crumb .inner b{font-family:\5b8b\4f53;color:#999;font-weight:400;padding:0 5px}
.crumb .inner span{color:#999}
.wrap-detail{padding-bottom:20px}
#detail{border:1px solid #d7d7d7;background:#fff;margin:15px 0 0;padding:20px}
.focus-area{position:relative;border:1px solid #dcdcdc;padding-top:20px}
.pic-show{position:absolute;left:20px;width:430px;height:348px;border:1px solid #b9d2eb;padding:1px;background:#ebf2fb;}
.big-pic{position:absolute;width:100%;height:255px;overflow:hidden}
.big-pic li{position:absolute;width:100%;height:100%}
.big-pic li img{display:block;width:430px;height:100%;overflow:hidden}
.sma-pic-wrap{position:absolute;left:30px;bottom:18px;width:436px;height:60px;overflow:hidden}
.sma-pic{position:absolute;height:60px}
.sma-pic li{float:left;width:100px;height:60px;margin:0 12px 0 0}
.sma-pic li img{display:block;width:100%;height:60px;opacity:0.7;filter:alpha(opacity=65)}
.sma-pic li.on img{opacity:1;filter:alpha(opacity=100)}
.pic-show .prev,
.pic-show .next{position:absolute;bottom:18px;width:40px;height:60px;background:url(../../images/you/d_spr.png) no-repeat;text-indent:-99em;overflow:hidden}
.pic-show .prev{left:-7px;background-position:0 -120px;cursor:default}
.pic-show .next{right:-8px;background-position:-40px -120px;cursor:default}
.pic-show .prev.active{background-position:0 0;cursor:pointer}
.pic-show .next.active{background-position:-40px 0;cursor:pointer}
.pic-show .prev.active:hover{background-position:0 -60px}
.pic-show .next.active:hover{background-position:-40px -60px}
.focus-area .pic-show{width:430px;height:348px}
.focus-area .show-info{margin:0 0 0 475px}
.focus-area .big-pic{width:430px;height:258px}
.focus-area .big-pic li{height:258px}
.focus-area .big-pic li img{width:430px;height:258px}
.focus-area .sma-pic-wrap{width:363px;height:48px}
.focus-area .sma-pic{height:48px}
.focus-area .sma-pic li{width:84px;height:50px;margin:0 9px 0 0}
.focus-area .sma-pic li img{width:84px;height:50px}
.focus-area .pic-show .prev, .focus-area .pic-show .next{bottom:12px}

.show-info{margin:0 0 0 470px;padding-right:20px}
.show-info .title{font:400 24px/37px \5fae\8f6f\96c5\9ed1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;height:37px;max-width:475px;_width:475px}
.show-info .list{margin:0px;padding:0 0 0 20px}
.show-info .list li{line-height:36px}
.show-info .list li label{color:#999;padding:0 25px 0 0}
.show-info .old{height:65px;line-height:65px;background:#e8f6ff;margin:10px 0 0;padding:0 20px;overflow:hidden}
.show-info .now{height:95px;line-height:95px;background:#4385e0;padding:0 20px;overflow:hidden}
.show-info .old .price{float:left;color:#999}
.show-info .old .num{float:right;color:#999}
.show-info .old label{padding:0 25px 0 0}
.show-info .old b{font-weight:700;color:#000;padding:0 3px}
.show-info .now .price{float:left;color:#fff;height:95px}
.show-info .now strong{font-size:42px;font-weight:400;padding:0 10px 0 20px}
.show-info .now em{padding:0 5px 0 0;font-family:arial;font-size:24px}
.show-info .now .btn{float:right;background:url(../../images/you/d_spr.png) no-repeat -85px 0;width:206px;height:57px;text-indent:-99em;margin:19px 0 0;box-shadow:2px 2px 3px rgba(0,0,0,0.1);overflow:hidden}
.show-info .now .btn:hover{background-position:-85px -58px}

.focus-share{height:24px;line-height:24px;color:#666;margin:0 0 0 235px;padding:10px 0}
.focus-share a{float:left;margin:0 0 0 5px;background:url(../../images/you/share_icon.png) no-repeat;width:24px;height:24px;overflow:hidden}
.focus-share a.qq{background-position:-58px 0}
.focus-share a.wb{background-position:-87px 0}
.focus-share a.renren{background-position:-29px 0}
.focus-share label{float:left;padding:0 5px}

.focus-notes{padding:20px;color:#666;line-height:21px}
.focus-notes strong{font-weight:700;font-size:14px}

.focus-desc{border-top: 1px dashed #bbb; margin-top: 10px;padding:20px 0 0 20px;color:#666;line-height:30px;margin:15px}
.focus-desc strong{font-weight:700;color:#72a2e6;font-size:16px}
.brand-info{}
.hotel-info span{margin-right:25px;}
.hotel-facility .facility-title{margin-right: 40px; font-weight: 700; color: #444;}
.focus-desc i{font-weight:700;color:#6BB7AA;}

/*wrap*/
.module{margin:10px 0 0;width:100%;overflow:hidden}
.module-hd{height:42px;position:relative;background:url(../../images/you/bg_10_02.gif) repeat-x center;clear:both}
.module-hd h2{line-height:42px;padding:0 15px 0 60px;font:18px/42px \5fae\8f6f\96c5\9ed1;color:#333;float:left;background-color:#fff}
.module-hd .t1,.module-hd .t2,.module-hd .t3,.module-hd .t4{position:absolute;left:0;top:0;background:url(../../images/you/d_spr.png) no-repeat;width:50px;height:42px;overflow:hidden}
.module-hd .t1{background-position:-296px -47px}
.module-hd .t2{background-position:-296px 0}
.module-hd .t3{background-position:-296px -94px}
.module-hd .t4{background-position:-296px -194px;}
.module-hd a{font:14px/42px \5fae\8f6f\96c5\9ed1;color:#333;position:absolute;right:0;padding:0 5px;top:0;background-color:#fff}
.module-hd a span{font-family:\5b8b\4f53;padding:0 0 0 5px}
.module-hd a:hover{text-decoration:none;color:#000}
/*fixed-price*/
.fixed-price{height:80px;margin:20px 0 0;line-height:80px;overflow:hidden;}
.fixed-price .old,.fixed-price .now{float:left;width:449px;padding:0 20px}
.fixed-price .old{border:1px solid #4385e0;background:#e8f6ff;border-right:none;height:78px;line-height:78px;font-size:14px;color:#999}
.fixed-price .now{background:#4385e0;height:80px;margin-left:-1px;float:left;width:450px;padding:0 20px}
.fixed-price .old .num{float:left;height:78px;padding-left:20px}
.fixed-price .old .num b{color:#c33;font-size:30px;padding:0 5px}
.fixed-price .old .price{float:right;padding-left:20px}
.fixed-price .old .price del{text-decoration:line-through;padding:0 0 0 40px}
.fixed-price .old .price em{padding:0 5px 0 0;font-family:arial;font-size:14px}
.fixed-price .now .price{float:left;height:80px;color:#fff;padding-left:20px}
.fixed-price .now .price strong{font-size:34px;font-weight:400;padding:0 10px}
.fixed-price .now .price em{padding:0 5px 0 0;font-family:arial;font-size:24px}
.fixed-price .now .btn{float:right;background:url(../../images/you/btn_173_48.png) no-repeat;text-indent:-99em;width:173px;height:48px;margin:16px 0 0;box-shadow:2px 2px 3px rgba(0,0,0,0.1);overflow:hidden;_display:inline}
.fixed-price .now .btn:hover{background-position:0 -50px}

.floor-tit-you .floor-tit-num,.floor-tit-you .floor-tit-more{background-color:#4385e0}
.floor-tit-you{border-color:#4385e0} 

.slider-you{border-color:#87a9cb;}
.slider-you .slider-nav-li a,.slider-you .more a{color:#525252}
.slider-you li.cur a,
.slider-you .slider-nav-li a:hover{background:#4385e0;color:white}
.slider-you .slider-nav li em{border-color:#4385e0 transparent transparent;}
.slider-you .slider-page a.cur, .slider-you .slider-page a:hover{background-color:#4385e0}
.floor-news-desc{background-color:#333;}

.floor-tit-you2 .floor-tit-num,.floor-tit-you2 .floor-tit-more{background-color:#77ca66}
.floor-tit-you2{border-color:#77ca66}

.slider-you2{border-color:#77ca66;color:#77ca66}
.slider-you2 .slider-nav-li a,.slider-you2 .more a{color:#525252}
.slider-you2 li.cur a,
.slider-you2 .slider-nav-li a:hover{background:#77ca66;color:white}
.slider-you2 .slider-nav li em{border-color:#77ca66 transparent transparent;}
.slider-you2 .slider-page a.cur, .slider-you2 .slider-page a:hover{background-color:#77ca66}

.floor-tit-you3 .floor-tit-num,.floor-tit-you3 .floor-tit-more{background-color:#b7cf33}
.floor-tit-you3{border-color:#b7cf33}
.slider-you3{border-color:#b7cf33;color:#b7cf33}
.slider-you3 .slider-nav-li a,.slider-you3 .more a{color:#525252}
.slider-you3 li.cur a,
.slider-you3 .slider-nav-li a:hover{background:#b7cf33;color:white}
.slider-you3 .slider-nav li em{border-color:#b7cf33 transparent transparent;}
.slider-you3 .slider-page a.cur, .slider-you3 .slider-page a:hover{background-color:#b7cf33}

.floor-tit-you4 .floor-tit-num,.floor-tit-you4 .floor-tit-more{background-color:#cf9761}
.floor-tit-you4{border-color:#cf9761}
.slider-you4{border-color:#cf9761;color:#cf9761}
.slider-you4 .slider-nav-li a,.slider-you4 .more a{color:#525252}
.slider-you4 li.cur a,
.slider-you4 .slider-nav-li a:hover{background:#cf9761;color:white}
.slider-you4 .slider-nav li em{border-color:#cf9761 transparent transparent;}
.slider-you4 .slider-page a.cur, .slider-you4 .slider-page a:hover{background-color:#cf9761}

.slider-nav .more{ float: right;margin-right: 27px;}

.cityselect{position:absolute;top:46px;left:50px;display:none;width:334px;overflow:hidden;padding:15px 18px;border:2px solid #d6d6d6;background-color:#fff;font-family:"\5FAE\8F6F\96C5\9ED1";z-index:2;zoom:1;}
.cityselect .tit{height:22px;border-bottom:1px dotted #d6d6d6;}
.cityselect .tit span{font-size:12px;color:#333;float:left}
.cityselect .tit em{font-family:"\5FAE\8F6F\96C5\9ED1";font-size:12px;color:#999;float:left;width:180px;margin-top:2px;padding-left:5px}
.cityselect .tit a{float:right;color:#656565;font-size:14px;font-weight:bold;font-family:verdana;line-height:1.2}
.cityselect .tit a:hover{text-decoration:none;color:black}
.cityselect-ul{width:310px}
.cityselect-ul li{width:62px;height:14px;float:left;padding:10px 0 0}
.cityselect-ul li a{font-family:"\5FAE\8F6F\96C5\9ED1";color:#666}
.cityselect-hover {}

.filter-second{width:980px;;margin:15px auto 0;position:relative;overflow:visible;z-index:9;}
.filter-second .filter-text{width:295px}
.cf .filter-second .filter-text-short{width:184px;}
.filter-second .p1{float:right;margin:9px 0 0 0;width:410px;white-space:nowrap;overflow:hidden;height:22px;position:static}
.filter-second .p2{width:410px}

.filter-second form{width:auto;overflow:visible;position:static}
.filter-second .cityselect{left:0;top:46px}
.second-page{margin:45px 0 20px}


/*result*/
.search-nothing{height:400px;background:url(../../images/you/result_nothing_bg.png) no-repeat 120px 50%;position:relative}
.search-nothing .tip,.search-nothing .tit,.search-nothing .back{position:absolute}
.search-nothing .tip{left:0;top:0}
.search-nothing .tit{left:0;bottom:0}
.search-nothing .back{left:445px;top:190px;font-size:14px;font-family:\5b8b\4f53;line-height:18px;font-weight:400}
.search-nothing .back a{font-weight:700;color:#333;font-family:\5fae\8f6f\96c5\9ed1;font-size:16px;}
.search-nothing .back em{color:#fe7c28;max-width:135px;display:inline-block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;vertical-align:middle}
.search-nothing .tip,.search-nothing .tit{font:700 18px \5fae\8f6f\96c5\9ed1;padding-top:0px}
.search-tit-empty{font:bold 18px/150% '\5fae\8f6f\96c5\9ed1';height:40px}
.search-empty{padding-bottom:55px}

/* city */
.city-hot{padding:25px 20px 10px;border:1px solid #d7d7d7;width:938px;margin-top:28px}
.city-hot-tit{width:90px;font-weight:bold;font-size:14px;color:#000;line-height:1.5}
.city-hot-list{float:right;width:848px}
.city-hot-list li{width:55px;height:30px;float:left;}
.city-hot-list li a{font-weight:bold;font-size:14px;color:#72a2e6;line-height:1.5}

.city-filter{font-size:0}
.city-filter .type,.city-filter select,.city-filter .ok{display:inline-block;*zoom:1;height:21px;margin-top:30px;font-size:12px;vertical-align:middle}
.city-filter .type{padding-left:20px;line-height:23px;height:23px;color:#000;font-weight:bold}
.city-filter .type2{margin-top:25px}
.city-filter select{margin-right:5px;border:1px solid #abadb3;color:#000}
.city-filter .ok{width:43px;height:21px;font-size:12px;border:1px solid #d4d4d4;border-radius:3px;text-align:center;line-height:21px;}

.city-list{width:100%;margin-top:10px}
.city-list li{height:90px;font-size:12px}
.city-list-em{}
.city-list-p{overflow:hidden}
.city-list-p a{float:left;}
.city-list-p span{float:left;}

/* new-list */
.news-nav{height:45px;background-color:#f5f5f5;position:relative}
.news-nav a{width:118px;height:100%;float:left;color:#f5f5f5;background-color:#4385e0;text-align:center;font:bold 16px/45px '\5fae\8f6f\96c5\9ed1';position:relative;overflow:hidden}
.news-nav a .arr{border-style:dashed dashed solid;border-color:transparent transparent #fff;position:absolute;left:50%;bottom:0px;border-width:4px;_border-width:5px;bottom:0;_bottom:-1px;margin-left:-2px;display:none;line-height:0;font-size:0;overflow:hidden}
.news-nav a:hover{text-decoration:none}
.news-nav a.cur,.news-nav a:hover{background-color:#3c77c9}
.news-nav a.cur .arr{display:block}
.news-nav .nohover,.news-nav .nohover:hover{background-color:#6bb5a7;cursor:default}
.news-nav .nohover .arr{display:block}
.news-nav a.more{float:right;height:auto;width:auto;background:none;font-size:12px;color:#333;font-weight:normal;line-height:150%;margin:15px 20px 0 0}
.news-nav a.more:hover{text-decoration:underline;background:none}

.news-ul{width:100%;overflow:hidden;}
.news-ul li{height:215px;width:688px;width:685px;border:1px solid #dcdcdc;padding:20px;margin-top:20px;float:left}
.news-ul p{margin-left:236px;position:relative;zoom:1;overflow:hidden}
.news-ul .tit{font:bold 18px/1.2 '\5fae\8f6f\96c5\9ed1';color:#4385e0;display:inline-block;*zoom:1;max-width:100%;height:22px;overflow:hidden;text-overflow:ellipsis;}
.up{font:bold 16px/150% 'arial';color:#f18200;position:absolute;right:0;top:0;padding-right:25px;cursor:default;}
.up:hover{text-decoration:none}
.up em{width:22px;height:20px;padding:4px 0 0 0;_padding-top:6px;display:block;background-position:0 -429px;color:#fff;font:normal 14px/15px '\5fae\8f6f\96c5\9ed1';text-align:center;position:absolute;right:0;top:0}
.news-ul .intro{display:block;height:26px}
.news-author{font:bold 12px/1.2 '\5fae\8f6f\96c5\9ed1';color:#333}
.news-time{font:normal 12px/1.2 '\5fae\8f6f\96c5\9ed1';color:#999}
.news-synopsis{display:block;height:146px;line-height:12px;color:#666;font-size:14px;line-height:24px;}
.news-synopsis a{color:#4385e0;}
.news-ul .contrl{overflow:hidden;clear:both;padding-top:24px;display:block;}
.news-ul .contrl a{background-position:0 -465px;line-height:16px;height:18px;padding-left:21px;float:left;margin-right:14px;opacity:0.7;filter:alpha(opacity=70);;color:#666;_display:inline}
.news-ul .contrl a.commit{background-position:0 -493px;}
.news-ul .contrl a:hover{opacity:1;text-decoration:none;filter:alpha(opacity=100);}
.page-news{padding-bottom:50px}
.col-sub-news{border:none;}
.col-sub-news .mod{margin:0 0 8px;}
.col-sub-news .mod .tit{margin:0}
.col-sub-news h4.tit{font:normal 16px/1.2 '\5fae\8f6f\96c5\9ed1';color:#333;height:30px;overflow:hidden;}
.tit-hotal{padding-top:10px}
.col-sub-news .more{float:right;font:normal 12px/1.2 '\5fae\8f6f\96c5\9ed1';color:#666;margin-top:5px}
.col-sub-hotal{width:198px;padding:0 14px;overflow:hidden;border:1px solid #bfe8e0;padding-bottom:5px;margin-bottom:50px}
.col-sub-hotal li{border-bottom:1px dashed #dadada;width:100%;overflow:hidden;padding-bottom:15px}
.col-sub-hotal li:last-child{border:none}
.col-sub-hotal .tit{clear:both;display:block;width:100%;height:26px;padding-top:10px}
.col-sub-hotal .tit a{white-space:nowrap;color:#333;font-size:12px;font-weight:bold;line-height:1.2}
.col-sub-hotal .tit em{color:#f18200;font-size:12px;font-family:arial;font-weight:bold;line-height:1.2;margin-top:2px}
.col-sub-hotal p{float:right;width:135px;color:#666;}
.col-sub-hotal p a{color:#72a2e6}

.col-sub-news .sub-ad{border:1px solid #bfe8e0;padding:0 14px 10px;}
.col-sub-news .sub-ad li:last-child{border:none}

.collect{height:45px;overflow:hidden;clear:both;padding-bottom:18px;width:230px;overflow:hidden}
.collect a{width:50%;float:left;font:normal 14px/45px '\5fae\8f6f\96c5\9ed1';background-color:#fff44c;text-indent:40px;background-position:18px -566px;color:#b3410e}
.collect a:hover{text-decoration:none;background-color:#ede347}
.collect a.share{background-color:#4385e0;background-position:18px -600px;color:white}
.collect a.share:hover{background-color:#3C77C9}

.col-sub{_margin-left:3px}
.news-detail{overflow:hidden;width:727px;}
.news-detail-tit{height:30px;position:relative;}
.news-detail-tit .tit{font:bold 18px/1.2 '\5fae\8f6f\96c5\9ed1';color:#4385e0;margin-left:82px;}
.news-detail .up{color:#b3410e;}
.news-toolbar{background-color:#f5f5f5;line-height:30px;padding-left:5px;padding-right:3px;font:normal 12px/30px '\5fae\8f6f\96c5\9ed1';position:relative;}
.news-toolbar .author{color:#333;font-weight:bold;float:left}
.news-toolbar .time{color:#999;margin-left:12px;_display:inline;}
.news-toolbar .info{margin-right:12px}
.news-toolbar a{margin-right:12px;color:#6bb5a7;display:inline;}
.news-detail .text{overflow:hidden;clear:both;margin-left:82px;padding-bottom:50px;line-height:150%;font-size: 14px;margin: 20px 0;word-break: break-all;word-wrap: break-word;font-family: Microsoft YaHei,"微软雅黑";}
.news-detail .text img{max-width:648px }

.comment-text{font-size:14px;color:#666;line-height:24px;padding:15px 10px 35px 82px;}
.editor{background-color:#e5e5e5;margin-left:82px;padding:5px;}
.editor-tool{padding:0 0 0 6px;height:30px;overflow:hidden}
.editor-tool li{float:left;width:53px;height:22px;border:1px solid #fff;border-right:0;background-color:#f7f7f7;}
.editor-tool li.at{margin-left:7px}
.editor-tool li a{text-indent:23px;display:block;height:100%;color:#999;line-height:22px}
.editor-tool li a:hover{color:black;text-decoration:none}
.editor-tool li.at a{position:relative}
.editor-tool li.at em{color:#ffa800;font-size:14px;width:20px;position:absolute;left:5px;top:2px;line-height:14px;text-indent:0;font-family:verdana}
.editor-tool .pic{background-position:5px -650px}
.editor-tool .link{background-position:5px -680px}
.editor-tool .emo{background-position:5px -710px}
.editor .textarea{width:628px;margin:0 auto;border:none;background-color:white;height:158px;overflow-x:hidden;overflow-y:auto;resize:none;padding:5px}
.comment{padding:0 0 20px}
.comment .btns{padding:7px 0 0 82px;height:25px}
.comment .btns .sub{width:60px;height:20px;background-color:#72a2e6;color:white;font:normal 12px/20px '\5fae\8f6f\96c5\9ed1';text-align:center}
.comment .btns .sub:hover{text-decoration:none}
.comment .btns span{color:#666;line-height:20px;}
.comment .btns .focus-share{margin:0;padding:0}
.news-toolbar  .user{width:66px;overflow:hidden;position:absolute;left:0;top:-29px;}
.news-toolbar  .user .pic{position:relative;display:block;width:100%;height:66px;}
.news-toolbar  .user .pic em{position:absolute;left:0;top:0;width:100%;height:100%;background:url(../../images/you/user.png) no-repeat;_background:url(../../images/you/user-8.png) no-repeat}
.news-toolbar  .user .lv{padding:5px 0;width:100%;display:block;color:#f28b26;text-align:center;font:bold 12px/1.2 '\5fae\8f6f\96c5\9ed1'}
.news-toolbar  .user .focus{width:50px;height:20px;font:normal 12px/20px '\5fae\8f6f\96c5\9ed1';box-shadow:0 0 0 #000;text-indent:15px;color:white;background:url(../../images/you/sprite.png) no-repeat 0 -57px;display:block;margin:0 auto;text-align:left}
.news-toolbar  .user .focus:hover{text-decoration:none}

/*remove comment and user*/
.news-detail-tit .tit{margin-left:0px}
.news-toolbar a{display:none} 


#room{background:#fff;margin:-1px 0 0 0;padding:0 0 20px}
.room-outer-wrap{ width: 100%; margin: 0; padding: 0;border: none; }
.room-outer-wrap table { width: 100%; border-collapse:collapse; }
.room-outer-wrap table,.room-outer-wrap tbody th,.room-outer-wrap tbody td { border: 1px solid #d7d7d7; }
.room-outer-wrap .no-top-border td{border-top:none;}
.room-outer-wrap .bed-item-header{ background-color: #F1F1F1; height: 30px; line-height: 30px;padding-left: 10px; }
.room-outer-wrap .bed-type-item-wrap{ border-bottom:1px solid #d7d7d7; margin: 0; padding: 0; }
.room-outer-wrap .bed-type{ width:330px;  margin: 0; padding: 10px 0 10px 40px; vertical-align:middle;text-align: left;}
.room-outer-wrap .bed-list{ margin: 0; padding: 0;  }
.room-outer-wrap .bed-item{ border-bottom:1px dotted #d7d7d7; height: 40px; line-height: 40px; padding-left: 10px; }
.room-outer-wrap .bed-item-no-bottom-border{border-bottom:none;}
.room-outer-wrap .bed-type-empty{ display: inline-block; _display:inline;zoom:1;width: 187px;  }
.room-outer-wrap .bed-info{ display: inline-block;*display:inline;zoom:1; width: 32%; text-align: center;}
.room-outer-wrap .rebate{ display: inline; width: 40px; border-radius:2px;color:#fff; background-color: #F87348;font-size: 16px;  }
.room-outer-wrap .red-light{ color: #FC744C; font-size: 18px; }
.room-outer-wrap .free-charge{ color: #6FB7A9; }
.room-outer-wrap .bed-type-img{ border-radius:2px; width: 50px;height: 50px;vertical-align:middle;margin-right:10px}

.room-outer-wrap .head-tr{border:none;background-color: #F1F1F1; }
.room-outer-wrap .head-tr td{border:none;}
.room-outer-wrap .room-table .col1{width:25%;}
.room-outer-wrap .room-table .col2{}

.facility-table{width:100%;}
.facility-table .col1{width: 110px;}

/*游首页搜索Tab-度假IE6Bug*/
#J_filterCont .rows .search-form{_height:42px;}



/* added by viola  9.11.2013*/
.hot-keywords{ height:38px; line-height:38px; border-top:1px solid #dcdcdc; background:#f2f2f2; width:100%;_width:586px; position:absolute; left:-21px; bottom:0;_bottom:-1px;padding:0 20px 0 19px; overflow:hidden;}
.hot-keywords .tit{font:12px "Microsoft YaHei", "微软雅黑", Tahoma, arial, sans-serif; margin:0 5px 0 0;}
.hot-keywords  a{margin:0 12px 0 0; color:#4B9486;}
.filter-holidays  .filter-text{width:296px;}
.filter-hotel{ position:relative;height:100%;_width:590px;}
.r-stat{margin:0 15px 0 0; color:#898989;}
.r-stat .orange{ color:#f08300;}
.s-h{float:left; margin:9px 0 0 10px; position:relative;_width:50px; line-height:24px;color:#797979;  display:inline;zoom:1; margin-left: 80px;}
.s-h .sh-tit{ position:absolute;left:-58px;*top:2px;_top:1px;}
.s-h dd{  display:none; }
.s-h:hover dd,.ss-hover dd{display:block;}
.s-h dt{ height:24px;display:inline-block; vertical-align: top; position:relative; z-index:2; text-align:center;line-height:24px; cursor:pointer;white-space: nowrap;   word-wrap: break-word; padding:0 5px;margin:0 1px;}
.s-h:hover dt,.ss-hover dt{border:1px solid #bbb;height:22px;line-height:22px; border-bottom:0 none; background:#fff; color:#333;margin:0; }
.s-h  dd{ position:absolute; right:0; top:22px; border:1px solid #BBB; background:#fff;min-width:170px; _width:170px;zoom:1;}
.s-h  dt .arrow { transition: all 0.3s ease 0s;  border-color: #4385e0 transparent transparent; border-style: solid dashed dashed;  border-width: 4px;  font-size: 0;  height: 0;  line-height: 0;  width:0;margin:0 0 0 5px;zoom:1; position:relative;*top:4px; _top:0px;  _margin-top:10px;_top:2px;*left:5px;_left:0; }

.s-h  dd li{ line-height:28px; padding:0 0 0 10px; cursor:pointer;}
.s-h  dd .bt{ text-align:center;padding:8px 0; background:#f2f2f2;border-top:1px solid #bbb;}
 .s-h  dd .bt .qd:hover{ text-decoration:none;}
.s-h  dd .bt .inp-txt{ width:30px; height:20px;line-height:20px; border:1px solid #bbb;vertical-align:middle;margin:0 3px;padding:0 3px;color:#797979}
.s-h  dd .bt .qd{ display:inline-block; h eight:20px; border:1px solid #bbb;vertical-align:middle;padding:0 10px; line-height:20px; background:-moz-linear-gradient(#f2f2f2,#e9e9e9) repeat  0 0 #eee;margin:0 3px;color:#797979; cursor:pointer;}
.star-select{ margin-left:50px;}
.star-select  dd{min-width:120px; _width:120px;}
.star-select  dd ul{padding:5px 0;}
.ss-tit{ position:absolute;left:-36px;*top:2px;_top:1px;}
.star-select:hover .ss-tit,.ss-hover .ss-tit{color:#797979;left:-36px;zoom:1;}
.s-h  dd li.even{background:#f2f2f2;}
.s-h  dd li:hover{background:#e3f9f7;color:#f18100;}
.orderby-time {white-space: nowrap;   word-wrap: break-word;color:#797979;width:auto;height:100%; _margin-left:-75px;}
.orderby-time .inp-txt{width:68px; height:20px;line-height:20px; border:1px solid #bbb;vertical-align:0;margin:0 3px;padding:0 23px 0 3px;color:#797979; background:#fff   url(../../images/you/s_ic.png) no-repeat 75px 4px;_margin-top:9px;vertical-align:0;}
.s-way {border:1px solid #d6d6d6;border-top:2px solid #4385e0;margin:0 0 20px;}
.s-way .r-result{ margin:0 0 0 10px;}
.s-way dt{height:32px; border-bottom:1px solid #d6d6d6;background:#f2f2f2; padding:0 10px;line-height:32px;border-top:1px solid #fff;}
.s-way  .btns{white-space: nowrap;   word-wrap: break-word; background:#4385e0;height:22 px; line-height:22px; vertical-align:0;margin:0 3px;*margin:5px 3px;  display:inline-block;padding:0  20px 0 5px; color:#fff; position:relative; display:none; }
.s-way  .btns .close{ height:10px;width:10px; position:absolute; right:5px;top:7px;background:url(../../images/you/s_ic.png) no-repeat 0 -73px; cursor:pointer;}
.s-way dd{padding:0 15px;}
.s-way dd li{ height:34px;line-height:34px;border-bottom:1px dotted #d6d6d6; vertical-align:top;zoom:1; overflow:hidden;}
.s-way  li .tit{float:left;width:60px; overflow:hidden; color:#6f6f6f;}
.s-way  li  .rt{margin:0 0 0 65px; height:100%; overflow:hidden;zoom:1;}
.s-way  li.last{border:none;}
.s-way  li  .rt a{ display:inline-block;height:22px; line-height:22px; vertical-align:0; padding:0 8px; cursor:pointer; margin:0 10px;*margin:6px 10px;}
.s-way  li  .rt a.act{cursor:pointer;}
.s-way  li  .rt a.act,.s-way  li  .rt a:hover{background:#4385e0; color:#fff; text-decoration:none;white-space: nowrap;   word-wrap: break-word; }
.s-way  li   .inp-txt{width:40px; height:20px;line-height:20px; border:1px solid #bbb;vertical-align:0; vertical-align:middle\9;margin:0 3px;padding:0 3px 0 3px;color:#797979; background:#fff;}
.s-way  li  .gray{color:gray;}
.s-way  li.has-more{padding-right:50px; position:relative;}
.s-way  li.has-more .more{ color:gray; position:absolute;right:0; bottom:0; background:url(../../images/you/s_ic.png) no-repeat 0 -27px; padding:0 0 0 20px;cursor:pointer;}
.s-way  li.has-more .more_up{ background-position:0 -95px}
.filter .gray{ color:gray;}
.s-way  .qd{ display:none; height:22px; line-height:22px;width:50px; margin:0 0 0 10px; border:1px solid #bbb;vertical-align:0;   background:-moz-linear-gradient(#f2f2f2,#e9e9e9) repeat  0 0 #eee;color:#797979; cursor:pointer; text-align:center;}
.s-way  .qd:hover{ text-decoration:none;}
.des2{width:auto;}
.des2 div{width:40px; position:relative;float:left;}
.des2 .inp-txt{  background: none repeat scroll 0 0 #FFFFFF;    border: 1px solid #BBBBBB;    color: #797979;    height: 20px;    line-height: 20px;    margin: 0 3px;    padding: 0 3px;  vertical-align: middle;    width: 30px; _margin:10px 0  0; zoom:1; }
.order-form  .sd{float:none;width:auto; display: inline-block; padding: 0 10px;position: absolute;width: auto;margin:0 1px;zoom:1;}
.order-form .sd .qd{ display: none;}
.s-way .sd{ height:34px;}
.order-form .sd-on{ background: #fff;  border:1px solid #ccc; box-shadow: 0 0 2px rgba(0,0,0,.2)}
.s-way .sd-on{margin:-1px -1px 0 0; }
.order-form .sd-on .qd{display: inline-block;}
.des2 .sd{width:100px; overflow: hidden; padding:0 10px;  }
.des2 .prize{margin: 0 100px 0  0;}
.sd   .qd{ display:inline-block; height:20px; line-height:20px;width:50px; margin:0 0 0 10px; border:1px solid #bbb;vertical-align:0;vertical-align:middle\9;  background:-moz-linear-gradient(#f2f2f2,#e9e9e9) repeat  0 0 #eee;color:#797979; cursor:pointer; text-align:center;}
.sd .qd:hover{ text-decoration:none;}
.des2 .sd{margin-left:-100px; }
.s-way .sd .inp-txt{_margin-top:6px;_vertical-align:-3px;}

.des2 .sd-on{margin-left:-101px;border-bottom: 1px solid #ccc;margin-top: -1px;} 
.des2 .sd .qd{float: right;width:40px;_width:36px;}
.des2 .sd .bt{line-height:1.5; padding:5px 0; overflow: hidden;zoom:1; display: none;}
.des2 .sd .first-inp{*margin-left:100px;}
.des2 .sd-on .bt{ display: block;}
.des2 .orange{color:#f08300;}
.search-trip-error{ color:#c00; font:bold 16px/2 'Microsoft YaHei',arial;margin: 10px 0;}



/*search bar added*/

.header-nav{background: #8DB500;}
.header-nav li{ border-left: 1px #A8C640 solid;}
.header-nav .b5m-home a{background-color: #7FA300;}
.header-nav a{color:#fff;}
.header-nav li a.this{ background: #F5F5F5;color:#4c4c4c;}
.header-nav .b5m-home a{ background: #8DB500 url(../../images/common/header-nav.png) no-repeat  -110px 13px;}
.header-nav a:hover,
.header-nav .b5m-home a:hover{background-color: #799b01;}
.header-search{ background: #F5F5F5; height: 33px; padding: 7px 0;}
.header-rearch-submit{background:#4385e0; *margin-left:-1px; *margin-top:-1px; _margin-top:1px;}
.header-search-content label{background-position:-2px -70px;}
.header-rearch-hotkey a{color:#666;}
.header-rearch-hotkey a:hover{color:#8db500;}

 
 .dr_con{display: none; z-index: 999;}
 .dr_con ul {border:1px solid #ccc; background: #fff;}

.dr_con li a{ display:block; height: 30px; line-height: 30px; overflow:hidden ;padding:0 0 0 15px;font-size: 12px;}
.dr_con li a:hover{  cursor: default; text-decoration: none; }

.floor-news-style li span a:hover,
.slider  a.tit:hover,
.slider  li.more a:hover,
.b2c-links li p a:hover,
.filter-cont .p2 a:hover,
.cityselect-ul li a:hover,
.orderby-filter a:hover,
.sub-news a:hover,
.city-outer-wrap a:hover,
.s-way li.has-more .more:hover,
.sub-ad .tit:hover,
.mod .txt_ls a:hover,
.mod .media_ls .txt a:hover,
.crumb .inner a:hover,
.module-hd a:hover,
.keyWord a:hover, 
.indexKeyWord a:hover,
.load-news li p a.tit:hover,
.tab-cont .intro .tit a:hover,
.load-travel-bx .tit:hover,
.load-mod .mod-l h4 a.more:hover, 
.load-mod .mod-r h4 a.more:hover,
.tab-cont .intro .txt:hover,
.floor-tit h3 a:hover,
.col-sub-hotal .tit a:hover,
.col-sub-news .more:hover,
.news-synopsis a:hover,
.news-ul .tit:hover,
.floor-news-style li p a:hover{text-decoration: none!important;color:#f18100!important;}

.footer-links a:hover{text-decoration: underline!important;color:#f18100!important;}

img.business {background-color: #4385E0; }
.floor-tit-more a:hover{color:#fff;}

.b2c-links li a:hover {color:#333;}
.ic-map{background: url(../../images/you/s_ic.png) 0 -150px no-repeat;width:20px; height:21px;display: inline-block; vertical-align: middle;_margin-top:10px;   }
.filter .filter-hotel  .btn-map, .filter-cont  .btn-map{ margin:0 0 0 8px;width:104px;}

/* hotel-tip */
.hotel-tip{ position: absolute; background: #fff;border: 2px solid #d6d6d6;left:154px;top: 36px; padding: 10px;width:362px;display: none;}
 .filter-hotel .hotel-tip{left: 204px;}

.hotel-cat{ line-height: 21px;color: #4385e0; border-bottom: 1px #d6d6d6 dashed; padding-bottom: 5px;}
.hotel-cat strong{ font-weight: bolder; font-size: 16px; display: block; color: #333; padding: 5px 0 0 5px;}
.hotel-cat a{color: #4385e0; margin: 0 5px; display:inline-block;}
.hotel-cat a:hover{color: #f18100; margin: 0 5px;}
.hotel-cat span{display: block;text-align:right;}
.hotel-cat span a{ color: #999;}

.addr-tit{ color: #f08100; background: #efefef; display: block; line-height: 24px; padding: 0 10px;}
.you-addr dl{ padding: 10px 0; line-height: 22px;}
.you-addr dt{ color: #333; float: left; padding: 0 10px;}
.you-addr dd{ margin-left: 80px;color: #4385e0;}
.you-addr dd a{ color: #4385e0; word-wrap: break-word; white-space: nowrap; display: inline-block;}
.you-addr dd a:hover{color:#f18100;}
.you-addr dd span{ padding:0 5px;}