/*  init */

.clearfix:after, .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix, .cf{ *zoom:1;}
.clear, .c { clear:both; }

.l { float: left;}
.r { float: right;}

.sp { padding: 0 5px; color:#999; }

.f-yh,h2,h3,.crumb { font-family:"\5FAE\8F6F\96C5\9ED1",'\9ED1\4F53'; }

a { color:#333; }
a:hover { text-decoration:underline; }
.floor-news-img:hover{text-decoration:none}
.header { margin-bottom: 20px; }
.header .panel { width:980px; margin:auto; }
.header .top .panel { height:85px; padding-top: 15px; background:url("../../images/korea/top-bg.png") no-repeat right center; }
.header .logo { width:466px; height: 73px;   }
.header .nav { background: #db000f; }
.header .nav li { float:left; }
.header .nav li a { display: block; font-size:14px; text-align:center; width:94px; height:47px; color:#fff; line-height: 47px; border-right:1px solid #e2404b;}
.header .nav li a:hover { background-color:#c5000d; text-decoration: none;   }
.header .nav li.cur a { background-color: #000; border-color:#000;}
.header .nav li.b5m-home a span { padding-left: 15px;}
.header .nav li.b5m-home a { border-right:none; width:200px; background-color: #c5000d; background-position: 40px -298px;}
.header .nav li.b5m-home a:hover { background-color: #ac000b; }
.header .nav li.last a { border:none; }
.header .search { background: #000; }

.sprite{background:url(../../images/you/sprite.png) no-repeat }
.icon-you{background:url(../../images/you/icon.png) no-repeat;_background:url(../../images/you/icon-8.png) no-repeat}
.w980{width:980px;margin:0 auto}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
/* reset header in common */
.header { margin-bottom: 0px; }
.header .top .panel {background:url(../../images/you/top-text.png) no-repeat 217px 40px; }
.header .nav { background: #6bb5a7; }
.header .nav li a{border-right-color:#8fc6bb}
.header .nav li a:hover { background-color:#60a396;}
.header .nav li.cur a { background-color: #f5f5f5; border-color:#f5f5f5;color:#4c4c4c}
.header .nav li.b5m-home a { background-color: #60a396; background-position:45px -523px;}
.header .nav li.b5m-home a:hover { background-color: #4b8479; }
.panel-nav{height:55px;margin-right:-36px;margin-top:5px}
.panel-nav span{width:50px;height:12px;color:#666;margin-right:36px;float:left;_display:inline;font:normal 12px/150% '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';text-align:center;white-space:nowrap;padding-top:38px;cursor:default}
.header .search {display:none}

.slider-cont{margin-bottom:0;}
.slider-page{padding-bottom:7px;padding-top:8px}
.slider-item{width:354px;padding:0 38px}
.slider-item ul{width:376px;}
.slider-item li{width:170px;height:135px;min-height:135px;margin-right:14px}
.slider-item .pic{width:100%;height:108px}
.slider-item{height:276px}
.floor-tit{margin:20px 0}

.bread{height:14px;padding:0 0;font-family:\5B8B\4F53;color:#666666; line-height: 39px;}
.bread a{font-family:\5B8B\4F53;color:#666666}
.bread span{color:#4baa98}
.classify{background-color:white;position:relative;z-index:4;margin-top:30px}
.b5y-intro{width:208px;height:138px;border:1px solid #e4e4e4;}
.b5y-intro strong{padding:12px 0 0;height:22px;display:block;text-indent:18px;font-family:'\5FAE\8F6F\96C5\9ED1';color:#333;font-size:14px;font-weight:bold}
.b5y-intro span{height:22px;line-height:22px;margin-left:17px;display:block;text-indent:20px;background-position:0 7px;}
.b5y-app{height:40px;width:210px;background-color:#f2f2f2;position:relative;padding:0;float:left;_overflow-x:hidden}
.b5y-app .app,.b5y-app .weibo{height:20px;line-height:20px;float:left;width:50%;text-indent:40px;height:40px;line-height:40px;position:relative;cursor:pointer}
.b5y-app .app:hover,.b5y-app .weibo:hover{background-color:#e6e6e6;text-decoration:none}
.b5y-app .icon-you{display:block;width:20px;height:20px;position:absolute;background-position:0 -20px;left:18px;top:9px}
.b5y-app .weibo .icon-you{background-position:0 -41px;}
.b5y-app .arr{border-style:dashed dashed solid;border-color:transparent transparent #f18100;position:absolute;left:50%;bottom:0px;border-width:4px;bottom:0;margin-left:-2px;display:none;line-height:0;font-size:0}
.app-down{width:210px;height:30px;background-color:#f18100;display:none;position:absolute;left:0;top:40px}
.app-down a{float:left;width:50%;height:100%;color:white;text-indent:0;text-align:center;line-height:30px;font-family:'\5FAE\8F6F\96C5\9ED1';}
.app-down a:hover{text-decoration:none;background-color:#de7802}
.b5y-app .app:hover .arr,.b5y-app .app-hover .arr,
.b5y-app .app:hover .app-down,.b5y-app .app-hover .app-down{display:block}
.filter{height:179px;border:1px solid #abebe1;margin-right:230px}
.filter-nav{}
.filter-nav li{width:100px;height:60px;}
.filter-nav li a{width:98px;height:59px;display:block;border:1px solid #baeae5;border-left:none;border-top:none;line-height:59px;color:#3f3f3f;font-size:18px;text-indent:42px;background-color:#e3f9f7;font-family:'\5FAE\8F6F\96C5\9ED1'}
.filter-nav li a:hover{text-decoration:none;}
.filter-nav li a.cur{background-color:white;border-right:none;}
.filter-nav li a.hotel{background-position:12px -62px}
.filter-nav li a.holidays{background-position:12px -107px}
.filter-nav li a.gonglue{background-position:12px -152px}
.filter-nav li a.ticket{background-position:12px -198px}
.filter-cont{width:610px;padding:0 0 0 20px;position:relative;float:left;zoom:1;}
.filter-hotel{display:block}
.filter-holidays,.filter-gonglue,.filter-ticket{display:none;position:relative}
.filter-tit{width:610px;height:36px;border-bottom:1px solid #e4e4e4;margin-bottom:11px; *position: relative;}
.filter-tit span{float:left;height:35px;border-bottom:2px solid #6bb5a7;font-size:14px;color:#333;line-height:35px;overflow:hidden;margin-right:30px;_display:inline;cursor:default}
.filter-tit span.noborder{border:none}
.rows{padding:10px 0 0;height:38px;position:relative;}
.rows label{width:42px;height:100%;display:block;text-align:right;padding-right:8px;font:normal 14px/42px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';color:#333;float:left}
.rows form{position:relative;width:610px}
.ui-select{width:auto;height:34px;border:2px solid #d6d6d6;padding:0 10px;overflow:hidden;font-size:14px}
.ui-select span,.ui-select em{line-height:34px;color:#333;font-size:14px;}
.ui-select em{width:16px;height:100%}
.ui-select .gray{color:#999}
.ui-select .arr{background-position:3px -248px;cursor:pointer}
.ui-select .date{background-position:0px -280px;cursor:pointer}
.ui-select .w130{width:130px;text-indent:20px}
.ui-select .pl10{padding-left:10px}
.ui-select input{height:16px;width:60px;padding:9px 0;line-height:16px;border:none;background:none;font-size:14px;float:left}
.ui-select .local input{width:100px;}
.rows .ml10{margin-left:10px;_display:inline}
.rows .ui-select{float:left}
.rows .local{width:120px;cursor:pointer;}
.rows .local2{width:80px;cursor:pointer}
.rows .datetime{width:218px}
.filter-cont .sub{width:68px;height:38px;color:#fff;position:relative;margin-left:-2px;background-color:#6bb5a7;font:normal 16px/38px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';text-align:center;float:left;_display:inline}
.filter-cont .sub:hover{text-decoration:none}
.filter-ticket .sub{margin-top:54px}

.filter-text{height:14px;border:2px solid #d6d6d6;width:315px;padding:10px;color:#999;vertical-align:middle;font-size:12px}
.filter-text2{width:355px;_width:350px}

.filter-text-focusin{border-color:#aaa;box-shadow:0 0 1px 2px #eee;color:#333}
.filter-text-placeholder{color:#bbb}
.filter-cont p{height:24px;line-height:150%;font-size:12px;margin-left:50px;_float:left;_clear:both;white-space:nowrap;zoom:1;width:500px}
.filter-cont p span,.filter-cont p a{float:left;}
.filter-cont p span{width:64px;height:100%}
.filter-cont p a{margin-right:15px;}
.filter-cont .p1{margin-top:16px;}
.filter-cont .p1 a{color:#4b9486;margin-right:20px}
.ticket .select{height:21px;}
.ticket .select label,.ticket .select input{float:left}
.ticket .select label{margin-right:30px}
.ticket .select input{padding:0;margin:2px 5px 0 0;height:13px;width:13px;_display:inline}
.city .ui-select{width:178px;margin-top:8px}
.ticket .city-text{height:38px;float:left;width:35px;font:normal 14px/42px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';color:#333;}
.ticket .date-text{margin:0 0 0 37px}
.city-change{margin:25px 0 0 9px;_display:inline;width:21px;height:48px;}
.city-change .btop,.city-change .bbott{width:12px;height:12px;display:block;border:1px solid #9a9999;border-left:none}
.city-change .btop{border-bottom:none}
.city-change .bbott{border-top:none}
.city-change span{width:16px;background:#9a9999;border-radius:2px;color:white;text-align:center;line-height:14px;margin:4px 0 4px 5px;display:block;font-size:12px;cursor:pointer;padding:2px 0 2px 0}
.b2c-links{overflow:hidden;clear:both;*margin-bottom: 20px;}
.b2c-links ul{margin:0 -20px 0 0}
.b2c-links-border{border-top:3px solid #5d5d5d;height:20px;overflow:hidden}


.recommend{border:1px solid #bfe8e0;overflow:hidden;width:978px}
.recommend div{width:50%;padding:15px 0 15px 0;}
.recommend .local{width:49%;border-left:1px solid #bfe8e0}
.recommend .tit{height:18px;display:block;margin-left:20px}
.recommend .tit em{width:5px;height:11px;float:left;margin:4px 0 0 0px;background-color:#f18100;}
.recommend .tit2 em{background-color:#6bb5a7}
.recommend .tit span{font:normal 14px/18px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';color:#333;float:left;text-indent:.5em;;line-height:22px\9}
.recommend p{padding-top:10px;padding-left:20px}
.recommend a{margin:10px 0 0 12px;color:#808080}

.orderby{background:#ececec;height:40px;position:relative;z-index:2}
.orderby-local{height:100%;background:#6bb5a7;cursor:default;position:relative; padding-right: 10px;width:118px;}
.orderby-local .cityname{text-indent:27px;color:white;font:normal 14px/40px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';background-position:10px -330px}
.orderby-local .go{color:#bfede4;font:normal 12px/40px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';margin-left:20px}
.orderby .arrow{width:0;height:0;font-size:0;line-height:0; border-style:solid dashed dashed;border-color:#fff transparent transparent;border-width:4px;
                -webkit-transition:all .3s ease;
                -moz-transition:all .3s ease;
                -o-transition:all .3s ease;             }
.orderby-local .arrow{margin-top:18px;margin-left:5px}
.orderby-filter{margin-left:23px;_display:inline;position:relative;width:44px;cursor:pointer;}
.orderby-filter a{display:block;font-size:12px;color:#898989;line-height:40px;line-height:44px\9;overflow:hidden;height:40px}
.orderby-filter a:hover{text-decoration:none;color:black}
.orderby-filter .arrow{border-style:dashed dashed solid;border-color:transparent transparent #898989;position:absolute;right:2px;top:12px;border-width:4px;
                       border-width:5px\9;right:1px\9;top:10px\9;
                       *border-width:5px;*right:1px;
                       _border-width:5px;_right:1px;
}
.orderby-filter .arrow2{top:22px;border-style:solid dashed dashed;border-color:#898989 transparent transparent;
                        border-width:4px\9;right:2px\9;
                        *border-width:4px;*right:2px;
                        _border-width:4px;_right:2px;
}
.orderby-asc .arrow{border-color:transparent transparent #43a996;}
.orderby-asc .arrow2{border-color:#898989 transparent transparent;}
.orderby-des .arrow{border-color:transparent transparent #898989;}
.orderby-des .arrow2{border-color:#43a996 transparent transparent;}
.city-outer-wrap{display:none;width:230px;background-color: #fff; position: absolute; top: 40px; left:0;float:none;border:1px solid #ddd; padding:0 5px 5px;font-size:0;font-family:SimSun;margin:0;padding:2px 10px 10px;overflow:hidden}
.city-outer-wrap a{font-size:12px}
.city-outer-wrap .selected{background-color:#999; }
.city-outer-wrap a{_display:inline;margin:5px 5px 0;font-size:12px;text-decoration:none;color:#333;float:left;word-break:break-all;word-wrap:break-word;white-space:nowrap}
.city-outer-wrap a:hover{color:#6bb5a7;text-decoration: underline;}
.city-outer-wrap .more-city{ text-align: right; margin-top: 10px;padding-right:30px;_padding-right:40px; }
.city-outer-wrap .more-city a{ text-decoration: none; cursor: pointer;color:#333; }
.orderby-local:hover .city-outer-wrap,
.orderby-local-hover .city-outer-wrap{display:block;}

.orderby-local:hover .arrow,
.orderby-local-hover .arrow{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
   
    -o-transform:rotate(180deg);
   
    border-style:dashed dashed solid\9;
    *border-style:dashed dashed solid;
    _border-style:dashed dashed solid;
    border-color:transparent transparent #fff\9;
    *border-color:transparent transparent #fff;
    _border-color:transparent transparent #fff;
    margin-top : 15px;
    margin-top : 13px\9;
    border-width:5px\9;
    *margin-top : 13px;
    *border-width:5px;
    _margin-top : 13px;
    _border-width:5px}


.col-sub{float:right;width:230px;border:1px solid #bfe8e0;_margin-left:-3px}
.col-main{margin-right:250px;}
.col-search{overflow:hidden;padding-bottom:30px}
.search-tit{margin:20px 0 0;height:35px;background-position:0 -380px;text-indent:27px;font:normal 14px/16px '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';color:#333}
.home-mod{width:730px;overflow:hidden;_width:727px}
.module-bd{position:relative;overflow:hidden;width:105%;display:block}
.module-bd-search{margin-top:-20px;}
.mod{float:left;_display:inline;background:#fff;width:218px;border:1px solid #dbdbdb;padding:5px;margin:20px 20px 0 0;position:relative;overflow:hidden}
.mod:hover,.mod-hover{background:#e7fff7;border-color:#8fc7bd}
.mod .tit{height:40px;line-height:20px;overflow:hidden;margin:0 0 8px;font-weight:400;color:#666}
.mod .tit a{color:#666}
.mod .pic,.mod .pic a{position:relative;overflow:hidden;width:100%;overflow:hidden;height:216px}
.mod .pic a{position:relative;display:block}
.mod .pic img{display:block;width:100%;height:100%;}
.mod .original{position:absolute;right:0;bottom:0;padding-right:10px;width:100%;height:30px;line-height:30px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');background:rgba(0,0,0,0.5);color:#ccc;text-align:right}
.mod .original strong{font-weight:700;color:#fff}
.mod .opt{height:46px;padding:0 10px;background:#6bb5a7}
.mod .opt span{float:left;color:#fff;font-size:18px;font-family:arial}
.mod .opt em{font-size:30px;padding:0 3px}
.mod .opt a{float:right;background:url(../../images/you/d_spr.png) no-repeat -85px -116px;width:74px;height:28px;text-indent:-99em;box-shadow:2px 2px 3px rgba(0,0,0,0.1);margin:9px 0 0;overflow:hidden}
.mod .opt a:hover{background-position:-159px -116px}

/*rest page*/
.page a:hover,.page .page-input a{background:#6bb5a7;border-color:#6bb5a7}
.page .cur{background:#6bb5a7}
.page .page-input input{border-color:#6bb5a7}

/* sub-ad */
.sub-ad,.sub-news{width:198px;overflow:hidden;clear:both;margin:0 auto;}
.sub-ad li{height:80px;;border-bottom:1px dashed #dadada;overflow:hidden}
.sub-ad .pic{float:left;margin-top:14px;margin-right:10px;_display:inline}
.sub-ad p{padding-top:6px;color:#999;overflow:hidden;height:58px;line-height:18px;font-size:12px;}
.sub-ad .tit{font-size:12px;font-weight:bold;color:#333;line-height:22px;display:block;height:22px;overflow:hidden;}
.sub-ad{padding-bottom:10px}
.sub-news{padding:5px 0 15px}
.sub-news li{height:19px;width:100%;padding:5px 0 0}
.sub-news em{float:left;width:3px;height:3px;background-color:#6bb5a7;margin-right:10px;margin-top:10px;overflow:hidden}
.sub-news a{color:#808080;white-space:nowrap;max-width:185px;float:left;overflow:hidden;text-overflow:ellipsis;_width:185px}
.sub-news a:hover{color:black;text-decoration:underline}

/*detail*/
/*crumb*/
.crumb{height:29px;background:url(../../images/you/bg_10_02.gif) repeat-x center;margin:15px auto 0}
.crumb .inner{float:left;background:#fff url(../../images/you/d_spr.png) no-repeat -322px -153px;padding:0 15px 0 38px;height:29px;line-height:29px;font-size:14px;overflow:hidden}
.crumb .inner a,.crumb .inner b,.crumb .inner span{float:left}
.crumb .inner a{color:#333}
.crumb .inner b{font-family:\5b8b\4f53;color:#999;font-weight:400;padding:0 5px}
.crumb .inner span{color:#999}
.wrap-detail{padding-bottom:20px}
#detail{border:1px solid #d7d7d7;background:#fff;margin:15px 0 0;padding:20px}
.focus-area{position:relative;border:1px solid #dcdcdc;padding-top:20px}
.pic-show{position:absolute;left:20px;width:430px;height:348px;border:1px solid #7dbfb3;padding:1px;background:#e8fff7;}
.big-pic{position:absolute;width:100%;height:255px;overflow:hidden}
.big-pic li{position:absolute;width:100%;height:100%}
.big-pic li img{display:block;width:430px;height:100%;overflow:hidden}
.sma-pic-wrap{position:absolute;left:30px;bottom:18px;width:436px;height:60px;overflow:hidden}
.sma-pic{position:absolute;height:60px}
.sma-pic li{float:left;width:100px;height:60px;margin:0 12px 0 0}
.sma-pic li img{display:block;width:100%;height:60px;opacity:0.7;filter:alpha(opacity=65)}
.sma-pic li.on img{opacity:1;filter:alpha(opacity=100)}
.pic-show .prev,
.pic-show .next{position:absolute;bottom:18px;width:40px;height:60px;background:url(../../images/you/d_spr.png) no-repeat;text-indent:-99em;overflow:hidden}
.pic-show .prev{left:-7px;background-position:0 -120px;cursor:default}
.pic-show .next{right:-8px;background-position:-40px -120px;cursor:default}
.pic-show .prev.active{background-position:0 0;cursor:pointer}
.pic-show .next.active{background-position:-40px 0;cursor:pointer}
.pic-show .prev.active:hover{background-position:0 -60px}
.pic-show .next.active:hover{background-position:-40px -60px}
.focus-area .pic-show{width:430px;height:348px}
.focus-area .show-info{margin:0 0 0 475px}
.focus-area .big-pic{width:430px;height:258px}
.focus-area .big-pic li{height:258px}
.focus-area .big-pic li img{width:430px;height:258px}
.focus-area .sma-pic-wrap{width:363px;height:48px}
.focus-area .sma-pic{height:48px}
.focus-area .sma-pic li{width:84px;height:50px;margin:0 9px 0 0}
.focus-area .sma-pic li img{width:84px;height:50px}
.focus-area .pic-show .prev, .focus-area .pic-show .next{bottom:12px}

.show-info{margin:0 0 0 470px;padding-right:20px}
.show-info .title{font:400 24px/37px \5fae\8f6f\96c5\9ed1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;height:37px;max-width:475px;_width:475px}
.show-info .list{margin:0px;padding:0 0 0 20px}
.show-info .list li{line-height:36px}
.show-info .list li label{color:#999;padding:0 25px 0 0}
.show-info .old{height:65px;line-height:65px;background:#e7fff7;margin:10px 0 0;padding:0 20px;overflow:hidden}
.show-info .now{height:95px;line-height:95px;background:#6bb5a7;padding:0 20px;overflow:hidden}
.show-info .old .price{float:left;color:#999}
.show-info .old .num{float:right;color:#999}
.show-info .old label{padding:0 25px 0 0}
.show-info .old b{font-weight:700;color:#000;padding:0 3px}
.show-info .now .price{float:left;color:#fff;height:95px}
.show-info .now strong{font-size:42px;font-weight:400;padding:0 10px 0 20px}
.show-info .now em{padding:0 5px 0 0;font-family:arial;font-size:24px}
.show-info .now .btn{float:right;background:url(../../images/you/d_spr.png) no-repeat -85px 0;width:206px;height:57px;text-indent:-99em;margin:19px 0 0;box-shadow:2px 2px 3px rgba(0,0,0,0.1);overflow:hidden}
.show-info .now .btn:hover{background-position:-85px -58px}

.focus-share{height:24px;line-height:24px;color:#666;margin:0 0 0 235px;padding:10px 0}
.focus-share a{float:left;margin:0 0 0 5px;background:url(../../images/you/share_icon.png) no-repeat;width:24px;height:24px;overflow:hidden}
.focus-share a.qq{background-position:-58px 0}
.focus-share a.wb{background-position:-87px 0}
.focus-share a.renren{background-position:-29px 0}
.focus-share label{float:left;padding:0 5px}

.focus-notes{padding:20px;color:#666;line-height:21px}
.focus-notes strong{font-weight:700;font-size:14px}

.focus-desc{border-top: 1px dashed #bbb; margin-top: 10px;padding:20px 0 0 20px;color:#666;line-height:30px;margin:15px}
.focus-desc strong{font-weight:700;color:#6BB7AA;font-size:16px}
.brand-info{}
.hotel-info span{margin-right:25px;}
.hotel-facility .facility-title{margin-right: 40px; font-weight: 700; color: #444;}
.focus-desc i{font-weight:700;color:#6BB7AA;}

/*wrap*/
.module{margin:10px 0 0;width:100%;overflow:hidden}
.module-hd{height:42px;position:relative;background:url(../../images/you/bg_10_02.gif) repeat-x center;clear:both}
.module-hd h2{line-height:42px;padding:0 15px 0 60px;font:18px/42px \5fae\8f6f\96c5\9ed1;color:#333;float:left;background-color:#fff}
.module-hd .t1,.module-hd .t2,.module-hd .t3,.module-hd .t4{position:absolute;left:0;top:0;background:url(../../images/you/d_spr.png) no-repeat;width:50px;height:42px;overflow:hidden}
.module-hd .t1{background-position:-296px -47px}
.module-hd .t2{background-position:-296px 0}
.module-hd .t3{background-position:-296px -94px}
.module-hd .t4{background-position:-296px -194px;}
.module-hd a{font:14px/42px \5fae\8f6f\96c5\9ed1;color:#333;position:absolute;right:0;padding:0 5px;top:0;background-color:#fff}
.module-hd a span{font-family:\5b8b\4f53;padding:0 0 0 5px}
.module-hd a:hover{text-decoration:none;color:#000}
/*fixed-price*/
.fixed-price{height:80px;margin:20px 0 0;line-height:80px;overflow:hidden;}
.fixed-price .old,.fixed-price .now{float:left;width:449px;padding:0 20px}
.fixed-price .old{border:1px solid #84c3b2;background:#e8fff7;border-right:none;height:78px;line-height:78px;font-size:14px;color:#999}
.fixed-price .now{background:#6bb5a8;height:80px;margin-left:-1px;float:left;width:450px;padding:0 20px}
.fixed-price .old .num{float:left;height:78px;padding-left:20px}
.fixed-price .old .num b{color:#c33;font-size:30px;padding:0 5px}
.fixed-price .old .price{float:right;padding-left:20px}
.fixed-price .old .price del{text-decoration:line-through;padding:0 0 0 40px}
.fixed-price .old .price em{padding:0 5px 0 0;font-family:arial;font-size:14px}
.fixed-price .now .price{float:left;height:80px;color:#fff;padding-left:20px}
.fixed-price .now .price strong{font-size:34px;font-weight:400;padding:0 10px}
.fixed-price .now .price em{padding:0 5px 0 0;font-family:arial;font-size:24px}
.fixed-price .now .btn{float:right;background:url(../../images/you/btn_173_48.png) no-repeat;text-indent:-99em;width:173px;height:48px;margin:16px 0 0;box-shadow:2px 2px 3px rgba(0,0,0,0.1);overflow:hidden;_display:inline}
.fixed-price .now .btn:hover{background-position:0 -50px}

.floor-tit-you .floor-tit-num,.floor-tit-you .floor-tit-more{background-color:#6bb5a7}
.floor-tit-you{border-color:#6bb5a7} 

.slider-you{border-color:#6bb5a7;color:#6bb5a7}
.slider-you .slider-nav-li a,.slider-you .more a{color:#6bb5a7}
.slider-you li.cur a,
.slider-you .slider-nav-li a:hover{background:#6bb5a7;color:white}
.slider-you .slider-nav li em{border-color:#6bb5a7 transparent transparent;}
.slider-you .slider-page a.cur, .slider-you .slider-page a:hover{background-color:#6bb5a7}
.floor-news-desc{background-color:#333;}

.floor-tit-you2 .floor-tit-num,.floor-tit-you2 .floor-tit-more{background-color:#77ca66}
.floor-tit-you2{border-color:#77ca66}

.slider-you2{border-color:#77ca66;color:#77ca66}
.slider-you2 .slider-nav-li a,.slider-you2 .more a{color:#77ca66}
.slider-you2 li.cur a,
.slider-you2 .slider-nav-li a:hover{background:#77ca66;color:white}
.slider-you2 .slider-nav li em{border-color:#77ca66 transparent transparent;}
.slider-you2 .slider-page a.cur, .slider-you2 .slider-page a:hover{background-color:#77ca66}

.floor-tit-you3 .floor-tit-num,.floor-tit-you3 .floor-tit-more{background-color:#b7cf33}
.floor-tit-you3{border-color:#b7cf33}
.slider-you3{border-color:#b7cf33;color:#b7cf33}
.slider-you3 .slider-nav-li a,.slider-you3 .more a{color:#b7cf33}
.slider-you3 li.cur a,
.slider-you3 .slider-nav-li a:hover{background:#b7cf33;color:white}
.slider-you3 .slider-nav li em{border-color:#b7cf33 transparent transparent;}
.slider-you3 .slider-page a.cur, .slider-you3 .slider-page a:hover{background-color:#b7cf33}

.floor-tit-you4 .floor-tit-num,.floor-tit-you4 .floor-tit-more{background-color:#cf9761}
.floor-tit-you4{border-color:#cf9761}
.slider-you4{border-color:#cf9761;color:#cf9761}
.slider-you4 .slider-nav-li a,.slider-you4 .more a{color:#cf9761}
.slider-you4 li.cur a,
.slider-you4 .slider-nav-li a:hover{background:#cf9761;color:white}
.slider-you4 .slider-nav li em{border-color:#cf9761 transparent transparent;}
.slider-you4 .slider-page a.cur, .slider-you4 .slider-page a:hover{background-color:#cf9761}

.slider-nav .more{ float: right;margin-right: 27px;}

.cityselect{position:absolute;top:46px;left:50px;display:none;width:334px;overflow:hidden;padding:15px 18px;border:2px solid #d6d6d6;background-color:#fff;font-family:"\5FAE\8F6F\96C5\9ED1"}
.cityselect .tit{height:22px;border-bottom:1px dotted #d6d6d6;}
.cityselect .tit span{font-size:12px;color:#333;float:left}
.cityselect .tit em{font-family:"\5FAE\8F6F\96C5\9ED1";font-size:12px;color:#999;float:left;width:180px;margin-top:2px;padding-left:5px}
.cityselect .tit a{float:right;color:#656565;font-size:14px;font-weight:bold;font-family:verdana;line-height:1.2}
.cityselect .tit a:hover{text-decoration:none;color:black}
.cityselect-ul{width:310px}
.cityselect-ul li{width:62px;height:14px;float:left;padding:10px 0 0}
.cityselect-ul li a{font-family:"\5FAE\8F6F\96C5\9ED1";color:#666}
.cityselect-hover {}

.filter-second{width:980px;;margin:15px auto 0;position:relative;overflow:visible;z-index:9;}
.filter-second .filter-text{width:295px}
.filter-second .p1{float:right;margin:9px 0 0 0;width:450px;white-space:nowrap;overflow:hidden;height:22px;position:static}
.filter-second .p2{width:410px}
.filter-second form{width:auto;overflow:visible;position:static}
.filter-second .cityselect{left:0;top:46px}
.second-page{margin:45px 0 20px}


/*result*/
.search-nothing{height:400px;background:url(../../images/you/result_nothing_bg.png) no-repeat 120px 50%;position:relative}
.search-nothing .tip,.search-nothing .tit,.search-nothing .back{position:absolute}
.search-nothing .tip{left:0;top:0}
.search-nothing .tit{left:0;bottom:0}
.search-nothing .back{left:445px;top:190px;font-size:14px;font-family:\5b8b\4f53;line-height:18px;font-weight:400}
.search-nothing .back a{font-weight:700;color:#333;font-family:\5fae\8f6f\96c5\9ed1;font-size:16px;}
.search-nothing .back em{color:#fe7c28;max-width:135px;display:inline-block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;vertical-align:middle}
.search-nothing .tip,.search-nothing .tit{font:700 18px \5fae\8f6f\96c5\9ed1;padding-top:0px}
.search-tit-empty{font:bold 18px/150% '\5fae\8f6f\96c5\9ed1';height:40px}
.search-empty{padding-bottom:55px}

/* city */
.city-hot{padding:25px 20px 10px;border:1px solid #d7d7d7;width:938px;margin-top:28px}
.city-hot-tit{width:90px;font-weight:bold;font-size:14px;color:#000;line-height:1.5}
.city-hot-list{float:right;width:848px}
.city-hot-list li{width:55px;height:30px;float:left;}
.city-hot-list li a{font-weight:bold;font-size:14px;color:#6bb5a7;line-height:1.5}

.city-filter{font-size:0}
.city-filter .type,.city-filter select,.city-filter .ok{display:inline-block;*zoom:1;height:21px;margin-top:30px;font-size:12px;vertical-align:middle}
.city-filter .type{padding-left:20px;line-height:23px;height:23px;color:#000;font-weight:bold}
.city-filter .type2{margin-top:25px}
.city-filter select{margin-right:5px;border:1px solid #abadb3;color:#000}
.city-filter .ok{width:43px;height:21px;font-size:12px;border:1px solid #d4d4d4;border-radius:3px;text-align:center;line-height:21px;}

.city-list{width:100%;margin-top:10px}
.city-list li{height:90px;font-size:12px}
.city-list-em{}
.city-list-p{overflow:hidden}
.city-list-p a{float:left;}
.city-list-p span{float:left;}

/* new-list */
.news-nav{height:45px;background-color:#f5f5f5;position:relative}
.news-nav a{width:118px;height:100%;float:left;color:#f5f5f5;background-color:#6bb5a7;text-align:center;font:bold 16px/45px '\5fae\8f6f\96c5\9ed1';position:relative;overflow:hidden}
.news-nav a .arr{border-style:dashed dashed solid;border-color:transparent transparent #fff;position:absolute;left:50%;bottom:0px;border-width:4px;_border-width:5px;bottom:0;_bottom:-1px;margin-left:-2px;display:none;line-height:0;font-size:0;overflow:hidden}
.news-nav a:hover{text-decoration:none}
.news-nav a.cur,.news-nav a:hover{background-color:#4f8278}
.news-nav a.cur .arr{display:block}
.news-nav .nohover,.news-nav .nohover:hover{background-color:#6bb5a7;cursor:default}
.news-nav .nohover .arr{display:block}
.news-nav a.more{float:right;height:auto;width:auto;background:none;font-size:12px;color:#333;font-weight:normal;line-height:150%;margin:15px 20px 0 0}
.news-nav a.more:hover{text-decoration:underline;background:none}

.news-ul{width:100%;overflow:hidden;}
.news-ul li{height:215px;width:688px;width:685px;border:1px solid #dcdcdc;padding:20px;margin-top:20px;float:left}
.news-ul p{margin-left:236px;position:relative;zoom:1;overflow:hidden}
.news-ul .tit{font:bold 18px/1.2 '\5fae\8f6f\96c5\9ed1';color:#6bb5a7;display:inline-block;*zoom:1;max-width:100%;height:22px;overflow:hidden;text-overflow:ellipsis;}
.up{font:bold 16px/150% 'arial';color:#f18200;position:absolute;right:0;top:0;padding-right:25px; cursor: default;}
.up:hover{text-decoration:none}
.up em{width:22px;height:20px;padding:4px 0 0 0;_padding-top:6px;display:block;background-position:0 -429px;color:#fff;font:normal 14px/15px '\5fae\8f6f\96c5\9ed1';text-align:center;position:absolute;right:0;top:0}
.news-ul .intro{display:block;height:26px}
.news-author{font:bold 12px/1.2 '\5fae\8f6f\96c5\9ed1';color:#333}
.news-time{font:normal 12px/1.2 '\5fae\8f6f\96c5\9ed1';color:#999}
.news-synopsis{display:block;line-height:12px;color:#666;font-size:14px;line-height:24px;}
.news-synopsis a{color:#6bb5a7;}
.news-ul .contrl{overflow:hidden;clear:both;padding-top:24px;display:block;}
.news-ul .contrl a{background-position:0 -465px;line-height:16px;height:18px;padding-left:21px;float:left;margin-right:14px;opacity:0.7;filter:alpha(opacity=70);;color:#666;_display:inline}
.news-ul .contrl a.commit{background-position:0 -493px;}
.news-ul .contrl a:hover{opacity:1;text-decoration:none;filter:alpha(opacity=100);}
.page-news{padding-bottom:50px}
.col-sub-news{border:none;}
.col-sub-news .mod{margin:0 0 8px;}
.col-sub-news .mod .tit{margin:0}
.col-sub-news h4.tit{font:normal 16px/1.2 '\5fae\8f6f\96c5\9ed1';color:#333;height:30px;overflow:hidden;}
.tit-hotal{padding-top:10px}
.col-sub-news .more{float:right;font:normal 12px/1.2 '\5fae\8f6f\96c5\9ed1';color:#666;margin-top:5px}
.col-sub-hotal{width:198px;padding:0 14px;overflow:hidden;border:1px solid #bfe8e0;padding-bottom:5px;margin-bottom:50px}
.col-sub-hotal li{border-bottom:1px dashed #dadada;width:100%;overflow:hidden;padding-bottom:15px}
.col-sub-hotal li:last-child{border:none}
.col-sub-hotal .tit{clear:both;display:block;width:100%;height:26px;padding-top:10px}
.col-sub-hotal .tit a{white-space:nowrap;color:#333;font-size:12px;font-weight:bold;line-height:1.2}
.col-sub-hotal .tit em{color:#f18200;font-size:12px;font-family:arial;font-weight:bold;line-height:1.2;margin-top:2px}
.col-sub-hotal p{float:right;width:135px;color:#666;}
.col-sub-hotal p a{color:#6bb5a7}

.col-sub-news .sub-ad{border:1px solid #bfe8e0;padding:0 14px 10px;}
.col-sub-news .sub-ad li:last-child{border:none}

.collect{height:45px;overflow:hidden;clear:both;padding-bottom:18px;width:230px;overflow:hidden}
.collect a{width:50%;float:left;font:normal 14px/45px '\5fae\8f6f\96c5\9ed1';background-color:#fff44c;text-indent:40px;background-position:18px -566px;color:#b3410e}
.collect a:hover{text-decoration:none;background-color:#ede347}
.collect a.share{background-color:#6bb5a7;background-position:18px -600px;color:white}
.collect a.share:hover{background-color:#62a497}

.col-sub{_margin-left:3px}
.news-detail{overflow:hidden;width:727px;}
.news-detail-tit{height:30px;position:relative;}
.news-detail-tit .tit{font:bold 18px/1.2 '\5fae\8f6f\96c5\9ed1';color:#6bb5a7;margin-left:82px;}
.news-detail .up{color:#b3410e;}
.news-toolbar{background-color:#f5f5f5;line-height:30px;padding-left:5px;padding-right:3px;font:normal 12px/30px '\5fae\8f6f\96c5\9ed1';position:relative;}
.news-toolbar .author{color:#333;font-weight:bold;float:left}
.news-toolbar .time{color:#999;margin-left:12px;_display:inline;}
.news-toolbar .info{margin-right:12px}
.news-toolbar a{margin-right:12px;color:#6bb5a7;display:inline;}
.news-detail .text{overflow:hidden;clear:both;margin-left:82px;padding-bottom:50px;line-height:150%;font-size: 14px;margin: 20px 0;word-break: break-all;word-wrap: break-word;font-family: Microsoft YaHei,"微软雅黑";}
.news-detail .text img{max-width:648px }

.comment-text{font-size:14px;color:#666;line-height:24px;padding:15px 10px 35px 82px;}
.editor{background-color:#e5e5e5;margin-left:82px;padding:5px;}
.editor-tool{padding:0 0 0 6px;height:30px;overflow:hidden}
.editor-tool li{float:left;width:53px;height:22px;border:1px solid #fff;border-right:0;background-color:#f7f7f7;}
.editor-tool li.at{margin-left:7px}
.editor-tool li a{text-indent:23px;display:block;height:100%;color:#999;line-height:22px}
.editor-tool li a:hover{color:black;text-decoration:none}
.editor-tool li.at a{position:relative}
.editor-tool li.at em{color:#ffa800;font-size:14px;width:20px;position:absolute;left:5px;top:2px;line-height:14px;text-indent:0;font-family:verdana}
.editor-tool .pic{background-position:5px -650px}
.editor-tool .link{background-position:5px -680px}
.editor-tool .emo{background-position:5px -710px}
.editor .textarea{width:628px;margin:0 auto;border:none;background-color:white;height:158px;overflow-x:hidden;overflow-y:auto;resize:none;padding:5px}
.comment{padding:0 0 20px}
.comment .btns{padding:7px 0 0 82px;height:25px}
.comment .btns .sub{width:60px;height:20px;background-color:#6bb5a7;color:white;font:normal 12px/20px '\5fae\8f6f\96c5\9ed1';text-align:center}
.comment .btns .sub:hover{text-decoration:none}
.comment .btns span{color:#666;line-height:20px;}
.comment .btns .focus-share{margin:0;padding:0}
.news-toolbar  .user{width:66px;overflow:hidden;position:absolute;left:0;top:-29px;}
.news-toolbar  .user .pic{position:relative;display:block;width:100%;height:66px;}
.news-toolbar  .user .pic em{position:absolute;left:0;top:0;width:100%;height:100%;background:url(../../images/you/user.png) no-repeat;_background:url(../../images/you/user-8.png) no-repeat}
.news-toolbar  .user .lv{padding:5px 0;width:100%;display:block;color:#f28b26;text-align:center;font:bold 12px/1.2 '\5fae\8f6f\96c5\9ed1'}
.news-toolbar  .user .focus{width:50px;height:20px;font:normal 12px/20px '\5fae\8f6f\96c5\9ed1';box-shadow:0 0 0 #000;text-indent:15px;color:white;background:url(../../images/you/sprite.png) no-repeat 0 -57px;display:block;margin:0 auto;text-align:left}
.news-toolbar  .user .focus:hover{text-decoration:none}

/*remove comment and user*/
.news-detail-tit .tit{margin-left:0px}
.news-toolbar a{display:none} 


#room{background:#fff;margin:-1px 0 0 0;padding:0 0 20px}
.room-outer-wrap{ width: 100%; margin: 0; padding: 0;border: none; }
.room-outer-wrap table { width: 100%; border-collapse:collapse; }
.room-outer-wrap table,.room-outer-wrap tbody th,.room-outer-wrap tbody td { border: 1px solid #d7d7d7; }
.room-outer-wrap .no-top-border td{border-top:none;}
.room-outer-wrap .bed-item-header{ background-color: #F1F1F1; height: 30px; line-height: 30px;padding-left: 10px; }
.room-outer-wrap .bed-type-item-wrap{ border-bottom:1px solid #d7d7d7; margin: 0; padding: 0; }
.room-outer-wrap .bed-type{ width:330px;  margin: 0; padding: 10px 0 10px 40px; vertical-align:middle;text-align: left;}
.room-outer-wrap .bed-list{ margin: 0; padding: 0;  }
.room-outer-wrap .bed-item{ border-bottom:1px dotted #d7d7d7; height: 40px; line-height: 40px; padding-left: 10px; }
.room-outer-wrap .bed-item-no-bottom-border{border-bottom:none;}
.room-outer-wrap .bed-type-empty{ display: inline-block; _display:inline;zoom:1;width: 187px;  }
.room-outer-wrap .bed-info{ display: inline-block;_display:inline;zoom:1; width: 32%; text-align: center;}
.room-outer-wrap .rebate{ display: inline; width: 40px; border-radius:2px;color:#fff; background-color: #F87348;font-size: 16px;  }
.room-outer-wrap .red-light{ color: #FC744C; font-size: 18px; }
.room-outer-wrap .free-charge{ color: #6FB7A9; }
.room-outer-wrap .bed-type-img{ border-radius:2px; width: 50px;height: 50px;vertical-align:middle;margin-right:10px}

.room-outer-wrap .head-tr{border:none;background-color: #F1F1F1; }
.room-outer-wrap .head-tr td{border:none;}
.room-outer-wrap .room-table .col1{width:25%;}
.room-outer-wrap .room-table .col2{}

.facility-table{width:100%;}
.facility-table .col1{width: 110px;}

/*游首页搜索Tab-度假IE6Bug*/
#J_filterCont .rows .search-form{_height:42px;}
/*search bar added*/

.header-nav{background: #8DB500;}
.header-nav li{ border-left: 1px #A8C640 solid;}
.header-nav .b5m-home a{background-color: #7FA300;}
.header-nav a{color:#fff;}
.header-nav li a.this{ background: #F5F5F5;color:#4c4c4c;}
.header-nav .b5m-home a{ background: #8DB500 url(../../images/common/header-nav.png) no-repeat  -110px 13px;}
.header-nav a:hover,
.header-nav .b5m-home a:hover{background-color: #799b01;}
.header-search{ background: #F5F5F5; height: 33px; padding: 7px 0;}
.header-rearch-submit{background:#6bb5a7; *margin-left:-1px; *margin-top:-1px; _margin-top:1px;}
.header-search-content label{background-position:-2px -70px;}
.header-rearch-hotkey a{color:#666;}
.header-rearch-hotkey a:hover{color:#8db500;}

.dr_con{display: none; z-index: 999;}

.dr_con ul {border:1px solid #ccc; background: #fff;}

.dr_con li a{ display:block; height: 30px; line-height: 30px; overflow: height: ;padding:0 0 0 15px;font-size: 12px;}

.dr_con li a:hover{  cursor: default; text-decoration: none; }


