@red:#db000f;
@hover:#eb7e00;
@c333:#333;
@c666:#666;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';
/*通用顶部 -Start-Gaotian-20131225*/
.header-rearch-submit,.header-nav-box{background:#8db500}
.header-rearch-submit:hover{background-color: #5D8E00}
.header-nav-back s{border-left-color:#8db500}
.header-nav-box li{border-color:#a8c640}
.header-nav-box li a:hover{background-color:#799b01}
/*通用顶部 -End-Gaotian-20131225*/
/*--brand--*/
.mt10{margin-top:10px;}
.zdm-icon{
 text-indent:-1000px;
}
.wp1{
 width:980px;
  _width:1000px;
  margin:0 auto;
}
.wp{
  width:980px;
  _width:1000px;
  margin:10px auto auto auto;
  overflow:hidden;
}
.wp2{
  width:980px;
  _width:1000px;
  margin:10px auto;
  overflow:hidden;
}
.wc-top-hotbar{
  width:980px;
  margin:0 auto;
  display:none;
  height:42px;
  line-height:42px;
  background:#fff;
  dt{
    height:42px;
    line-height:42px;
	width:126px;
	float:left;
	display:inline;
	color:#666;
	font-weight:bold;
	font-size:14px;
	text-indent:23px;
	background:url('../../../images/tao/__sprite/wc_heart.png?__sprite') no-repeat 4px center;
  }
  dd{
   height:23px;
   line-height:20px;
   float:left;
   display:inline;
   padding-left:15px;
   padding-right:15px;
   margin-top:9px;
   margin-bottom:9px;
   border-right:1px solid #e7e7e7;
   position:relative;
   
   a{font-size:14px;
     color:#666666;
    }
   .colors{
      position:absolute;
	  width:27px;
	  height:3px;
	  background:#8db500;
	  top:30px;
	  left:25%;
	  display:none;
   }
  }
  dd.cur a{
     color:#8db500;
   }
  dd.cur .colors{
    display:block;
  }
  dd.chart{
  padding-left:28px;
   padding-right:22px;
   font-weight:bold;
    background:url('../../../images/tao/__sprite/wc_chart.png?__sprite') no-repeat 4px center;
  }
  dd.coming{
    padding-left:28px;
   padding-right:22px;
   border-right:0px solid #e7e7e7;
   font-weight:bold;
    background:url('../../../images/tao/__sprite/wc_ling.png?__sprite') no-repeat 4px center;
  }
}
#TopHotBar{ z-index: 12;}
.wc-top-wp{
  height:320px;
  width:100%;
  overflow:hidden;
  .top-show{
    height:320px;
	width:2000em;
     left:50%;
	 top:0;
	 position:relative;
	 .top-showin{
	   height:320px;
	   width:100%;
	   left:-50%;
	   top:0;
	   position:absolute;
	   text-align:center;
	   overflow:hidden;
	   img {
	     margin:0 auto;
		 clear:both;
	   }
	 }
  }
}
/**/
.lasth4{
   margin:5px auto;
   font-size:18px;
   font-family:"Microsoft YaHei";
   font-style:italic;
   color:#333;
  }
.last{
 width:1002px;
 margin:-22px auto auto -22px;
 clear:both;
 overflow:hidden;
  
 .products{
   float:left;
   display:inline;
   border:1px solid #efefef;
   width:310px;
   height:232px;
   margin-left:22px;
   margin-top:22px;
   position:relative;
  
    .top{
	 width:310px;
     height:180px;
	 img{
	   width:310px;
       height:180px;
	  }
    }
	.bm{
	  height:52px;
	  width:310px;
	  .salebg2{
	   color:#fe0003;
	   
	 }
	  .name{
	   float:left;
	   display:inline;
	   padding-left:6px;
	   max-width:250px;
	   text-overflow:ellipsis;
	   white-space:nowrap;
	   overflow:hidden;
	   margin-top:5px;
	   a{
	    color:#000;
	   }
	  }
	  .dic{
	   float:right;
	   display:inline;
	   padding-right:6px;
	     margin-top:5px;
	  }
	  .timer{
	   clear:both;
	   float:left;
	   display:inline;
	    padding-left:6px;
		margin-top:7px;
		color:#999999;
	  }
	}
 }
  .cover{
     display:none;
     position:absolute;
	 top:0
	 left:0;
	 width:310px;
     height:232px;
	 background:#000;
	 z-index:7;
	 opacity:.3;
	filter:"alpha(opacity=30)";
	filter:alpha(opacity=30);
	zoom:1;
   }
  .failure .cover{
    display:block;
  } 
}
/**/
.wc-item-wp{
  width:642px;
  float:left;
  display:inline;
}
.wc-item-hd{
 width:642px;
 height:26px;
 line-height:26px;
 font-style:italic;
 border-bottom:3px solid #b2d82d;
 font-size:15px;
 font-family:"Microsoft YaHei";
 
 padding-bottom:3px;
 .green{
   color:#b2d82d;
   font-size:18px;
 }
}
.wc-item-wpl{
  width:642px;
  float:left;
  display:inline;
}
.bar-wpr{
 float:right;
 display:inline;
 width:327px;
 margin-top:39px;
 .bar-slider{
    border-top: 3px solid #B2D82D;
	border-right:1px solid #efefef;
	border-left:1px solid #efefef;
	
	width:325px;
	.hd{
	  width:325px;
	  height:42px;
	  border-bottom:1px solid #efefef;
	  background:#f5f5f5;
	  li{
	   float:left;
	   display:inline;
	   position:relative;
	   width:108px;
	   height:42px;
	   line-height:42px;
	   color:#666666;
	   text-align:center;
	   cursor:pointer;
	   span{
	    display:block;
		 width:108px;
	     height:42px;
	     line-height:42px;
		 font-family:"Microsoft YaHei";
		 font-size:16px;
		 font-weight:bold;
	   }
	   dl{
	    
		position:absolute;
		top:43px;
		width:325px;
		left:-1px;
	     border-right:1px solid #efefef;
	     border-left:1px solid #efefef;
	     border-bottom:1px solid #efefef;
		 dt{
		  width:325px;
		  height:18px;
		  line-height:18px;
		  padding-top:12px;
		  padding-bottom:12px;
		  text-align:center;
		  color:#676765;
		  /*background:url(../../../images/tao/__sprite/wc_hr.png?__sprite) no-repeat center center;*/
		  font-weight:bold;
		  font-size: 14px
		 }
		 dd{
		  width:108px;
		  height:66px;
		  float:left;
          display:inline;	
		  margin-bottom:15px;
		  text-align:center;
		  a{
		   display:block;
		   text-align:center;
		  }
          img{
		   max-height:66px;
		   max-width:85px;
		  }		  
		 }
		}
	  }
	  li.cur{
	   color:#96b921;
	   background:url('../../../images/tao/__sprite/wc_cur.png?__sprite') no-repeat center top; 
	   dl{
	     display:block;
		
		}
	  }
	  
	}
 }
}
.wc-items{
  width:640px;
  height:180px;
  border:1px solid #efefef;
  margin-bottom:10px;
  position: relative;
  .detail{
     width:200px;
	 height:180px; position: absolute; left: 0; top: 0;z-index: 2; background: #fcfafd;
	 .icon{
	  margin:16px auto auto auto;
	  display:block;
	  width:90%;
	  height:40px;
	  text-align:center;
	  img{
	    max-width:100%;
		max-height:40px;
	  }
	 }
	 .infos{
	  width:90%;
	   margin: 14px auto auto;
	  text-align:center;
	  text-overflow:ellipsis;
	  white-space:nowrap;
	  overflow:hidden;
	 }
	 .brief{
	  width:90%;
	  margin:14px auto auto auto;
	  text-align:center;
	  font-size:14px;
	  font-weight:bold;
	  color:#333;
	  display:none;
	 }
	 .disc{
	   width:90%;
	   margin:14px auto auto auto;
	  text-align:center;
	  color:#333;
	 }
	 .timer{
	  width:66%;
	  background:url('../../../images/tao/__sprite/wc_timer.png?__sprite') no-repeat left center;
	  margin:30px auto auto auto;
	  text-indent:17px;
	  color:#999;
	 }
	 .salebg2{
	   color:#fe0003;
	   font-size:16px;
	 }
	 .a{
	  color:#333;
	  font-size:14px;
	 }
  }
  .img{
     width:640px;
	 height:180px;
	 overflow: hidden;
     position: absolute; z-index: 0; left: 0; top: 0;
	 img{
	    width:640px;
	    height:180px;
		position: absolute;
       right: 0;
       top: 0;
	 }
  }
}
/**/
.bar-right{
 float:right;
 display:inline;
 width:327px;
 height:372px;
 margin-top:29px;
 border-top: 3px solid #B2D82D;
 img{
   width:327px;
 height:372px;
 }
}
.fix-bar{
 width:124px;
 height:238px;
  display: none;
 position:fixed;
 top:0px;
 right:0px;
 border:4px solid #e0e0e0;
 background:#fff;
 .sohot{
    background:#b2d82e;color:#fff;
	font-size:14px;
	font-weight:bold;
	text-align:center;
 }
 .mb5{
   margin-bottom:5px;
 }
 .lasted a{
   width:120px;
   height:27px;
   line-height:24px;
   display:block;
   color:#8db500;
   font-size:14px;
   text-align:center;
   font-weight:bold;
   border-left:4px solid #8db500;
   background:#f9f9f9;
 }
 .coming a{
   width:124px;
   height:27px;
   line-height:24px;
    display:block;
   background:#f9f9f9;
   font-size:14px;
   text-align:center;
   font-weight:bold;
   color:#333333;
 }
 .wc-gotop a{
   width:52px;
   padding-top:17px;
   display:block;
   color:#999999;
   margin:5px auto;
   background:url('../../../images/tao/__sprite/wc_gotop.png?__sprite') no-repeat center top;
   &:hover{
    background:url('../../../images/tao/__sprite/wc_gotop.hv.png?__sprite') no-repeat center top;
	color:#b2d82e;
   }
 }
 dl{
   width:124px;
  
   clear:both;
   dt{
     width:124px;
     height:27px;
     line-height:27px;
	}
	
   dd{
     float:left;
	 display:inline;
     width:60px;
	 line-height:27px;
	 margin:3px auto;
	 a{color:#666666;
	  display:block;
	  text-indent:24px;
	 }
	 a:hover,a.active{color:#8db500;}
	 
   }
   
   .clothing a{
     background:url('../../../images/tao/__sprite/wc_i1.png?__sprite') no-repeat 4px center;
   }
   
   .clothing a:hover{
     background:url('../../../images/tao/__sprite/wc_i1.hv.png?__sprite') no-repeat 4px center;
   }
   .clothing a.active{
     background:url('../../../images/tao/__sprite/wc_i1.hv.png?__sprite') no-repeat 4px center;
   }
   .huazhuang a{
    background:url('../../../images/tao/__sprite/wc_i2.png?__sprite') no-repeat 4px center;
   }
   
   .huazhuang a:hover{
    background:url('../../../images/tao/__sprite/wc_i2.hv.png?__sprite') no-repeat 4px center;
   }
   .huazhuang a.active{
     background:url('../../../images/tao/__sprite/wc_i2.hv.png?__sprite') no-repeat 4px center;
   }
   .xiebao a{
    background:url('../../../images/tao/__sprite/wc_i3.png?__sprite') no-repeat 4px center;
   }
  
   .xiebao a:hover{
    background:url('../../../images/tao/__sprite/wc_i3.hv.png?__sprite') no-repeat 4px center;
   }
    .xiebao a.active{
     background:url('../../../images/tao/__sprite/wc_i3.hv.png?__sprite') no-repeat 4px center;
   }
   .shipin a{
    background:url('../../../images/tao/__sprite/wc_i4.png?__sprite') no-repeat 4px center;
   }
  
   .shipin a:hover{
    background:url('../../../images/tao/__sprite/wc_i4.hv.png?__sprite') no-repeat 4px center;
   }
    .shipin a.active{
     background:url('../../../images/tao/__sprite/wc_i4.hv.png?__sprite') no-repeat 4px center;
   }
   .muying a{
    background:url('../../../images/tao/__sprite/wc_i5.png?__sprite') no-repeat 4px center;
   }
   
   .muying a:hover{
    background:url('../../../images/tao/__sprite/wc_i5.hv.png?__sprite') no-repeat 4px center;
   }
   .muying a.active{
    background:url('../../../images/tao/__sprite/wc_i5.hv.png?__sprite') no-repeat 4px center;
   }
   .jiaju a{
    background:url('../../../images/tao/__sprite/wc_i6.png?__sprite') no-repeat 4px center;
   }
   
   .jiaju a:hover{
    background:url('../../../images/tao/__sprite/wc_i6.hv.png?__sprite') no-repeat 4px center;
   }
   .jiaju a.active{
    background:url('../../../images/tao/__sprite/wc_i6.hv.png?__sprite') no-repeat 4px center;
   }
   .food a{
    background:url('../../../images/tao/__sprite/wc_i7.png?__sprite') no-repeat 4px center;
   }
   
   .food a:hover{
    background:url('../../../images/tao/__sprite/wc_i7.hv.png?__sprite') no-repeat 4px center;
   }
   .food a.active{
     background:url('../../../images/tao/__sprite/wc_i7.hv.png?__sprite') no-repeat 4px center;
    }
    .baihuo a{
    background:url('../../../images/tao/__sprite/wc_i8.png?__sprite') no-repeat 4px center;
   }
   
   .baihuo a:hover{
    background:url('../../../images/tao/__sprite/wc_i8.hv.png?__sprite') no-repeat 4px center;
   }
   .baihuo a.active{
    background:url('../../../images/tao/__sprite/wc_i8.hv.png?__sprite') no-repeat 4px center;
   }
 }
}
.fixs{
 top:0;
 position:fixed;
 z-index:10;
}
.pos-r{
  position:relative;
}
.block30{
margin:0 auto;
 width:980px;
 height:30px;
 clear:both;
}
/*zibu 20140402 s*/
.page .last{ clear: none;}