body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0;
}
:focus {
  outline: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
code,
kbd,
samp,
tt {
  font-size: 100%;
}
input,
button,
textarea,
select {
  *font-size: 100%;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
:link,
:visited,
ins {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
body {
  font: 12px/1.5 'tahoma,arial,\5b8b\4f53';
  background: #fff;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
  border: none;
}
a {
  text-decoration: none;
  color: #000000;
}
.zx-wp {
  width: 712px;
  height: 398px;
  margin: 0 auto;
  border-bottom: 1px #fff solid;
  background: #fff;
}
.zx-top {
  height: 33px;
  overflow: hidden;
  background: #f3f3f3;
}
.zx-top .items {
  width: 460px;
  float: left;
  padding-left: 13px;
  line-height: 33px;
}
.zx-top .items dt {
  float: left;
  color: #fb0303;
  font-weight: bold;
}
.zx-top .items dd a {
  margin: 0 5px;
  color: #999999;
}
.search {
  width: 223px;
  height: 25px;
  float: right;
  overflow: hidden;
  background: url("/static/images/korea/minipop/_sprite/ss-bg.png?__sprite") no-repeat;
  margin: 4px 0 0 0;
  display: inline;
}
.search .text {
  width: 150px;
  height: 22px;
  border: none;
  margin: 2px 0 0 20px;
  float: left;
  display: inline;
  line-height: 22px;
  background: #fff;
}
.search .btn {
  width: 50px;
  height: 25px;
  float: left;
  display: inline;
}
.zx-main {
  height: 363px;
  border-bottom: 1px #e5e5e5 solid;
}
.aside {
  width: 212px;
  border-right: 1px #ebebeb solid;
  height: 100%;
  background: #f6f6f6;
  float: left;
}
.aside .tab-tit {
  overflow: hidden;
  height: 29px;
  border-top: 2px #eb7601 solid;
  padding: 0 5px;
}
.aside .tab-tit li {
  float: left;
  display: inline;
  width: 50px;
  text-align: center;
  line-height: 29px;
  cursor: default;
}
.aside .tab-tit li.cur {
  background: #eb7601;
  color: #fff;
}
.tab-mian {
  padding: 0 8px;
  display: none;
}
.tab-mian dt {
  height: 14px;
  line-height: 14px;
  padding: 7px 4px;
  overflow: hidden;
}
.tab-mian dt span {
  width: 14px;
  height: 14px;
  text-align: center;
  color: #fff;
  float: left;
  background: #eb7601;
  margin-right: 12px;
  _display: inline;
}
.tab-mian dd {
  width: 196px;
  height: 115px;
  position: relative;
  overflow: hidden;
  padding: 8px 0;
  display: none;
}
.tab-mian .pic-items {
  position: absolute;
  height: 100%;
  width: 300%;
}
.tab-mian .pic-items li {
  float: left;
  position: relative;
}
.tab-mian .pic-items .text {
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #000;
  position: absolute;
  bottom: 0;
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.tab-mian .pic-items .text a {
  color: #fff;
}
.tab-mian .pic-items .pic {
  width: 196px;
  height: 115px;
}
.tab-mian dd span {
  width: 21px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: pointer;
}
.tab-mian dd .left-btn {
  left: 0;
  background: url("/static/images/korea/minipop/_sprite/zx-02.png?__sprite") no-repeat;
}
.tab-mian dd .right-btn {
  right: 0;
  background: url("/static/images/korea/minipop/_sprite/zx-03.png?__sprite") no-repeat;
}
.main {
  width: 480px;
  float: left;
  padding-left: 16px;
}
.main-l {
  width: 222px;
  float: left;
  display: inline;
  margin-right: 16px;
  padding-top: 14px;
}
.main-l .items {
  height: 252px;
  overflow: hidden;
}
.main-l .items dt {
  border: 1px #cfcfcf solid;
  height: 140px;
  position: relative;
}
.main-l .items dt .pic img {
  width: 222px;
  height: 140px;
}
.main-l .items dt .text {
  width: 100%;
  height: 28px;
  line-height: 28px;
  background: #000000;
  position: absolute;
  bottom: 0;
  filter: alpha(opacity=60);
  opacity: 0.6;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.main-l .items dt .text a {
  color: #fff;
}
.main-l .items dd {
  width: 103px;
  height: 87px;
  padding: 1px;
  border: 1px #cdcdcd solid;
  float: left;
  margin: 8px 2px 0;
  _display: inline;
}
.main-l .items dd img {
  width: 103px;
  height: 64px;
}
.main-l .items dd .text {
  text-align: center;
  line-height: 22px;
}
.news-ul {
  padding-top: 6px;
}
.news-ul li {
  line-height: 30px;
  height: 30px;
}
.main-r {
  width: 230px;
  float: left;
}
.bord-b {
  border-bottom: 1px #ddd solid;
}
.news-items {
  margin-top: 8px;
  padding-bottom: 3px;
}
.news-items h2 {
  line-height: 30px;
  font-size: 14px;
}
.news-items h2 a {
  color: #eb7601;
}
