<div class="dialog"  ng-show="dialogShowQuestion">
    <h2>
        <i>第{{questions.title.num}}题</i> : <strong>{{questions.title.name}}</strong>
    </h2>

    <div class="dialog-content panel-question">
        <ul class="question-list mt30 cf" >

            <li ng-repeat="option in questions.options">
                    <span class="radio-off" ng-click="questionClick($event,option.item)">
                        <span>{{option.content}}</span>
                    </span>
            </li>
        </ul>
        <p class="count-down">
            答题时间只剩<em id="J_count-down">10</em>秒
        </p>
    </div>



        <div class="dialog-content panel-login" style="display: none;">
            <p class="mt24 mb24">
                <strong class="tips">
                    您还未登录，请先登录
                </strong>
            </p>
            <a class="a-links" href="javascript:void(0);" ng-click="loginClick($event)">请先登录</a>
        </div>


    <a href="javascript:void(0);" class="dialog-close" ng-click="closeDialog($event)"></a>

</div>