.clear-fix:after, .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear-fix, .cf{ *zoom:1;}
.clear, .c { clear:both; }
.l,.fl { float: left;}
.r,.fr { float: right;}
a { color:#666;}
a:hover { color:#eb7e00; text-decoration: underline;}
.mb20 { margin-bottom: 20px;}
.mr20 { margin-right: 20px;}
.pt20 { padding-top: 20px;}
.pt40 { padding-top: 40px;}
.mt20 { margin-top: 20px;}
/* 头部 */
.header .top  { width:980px; margin:auto; height:85px; padding-top: 15px; background:url(http://staticcdn.b5m.com/static/images/haiwai/korea/default/top-bg.png) no-repeat 180px center; }
.korea .header-nav{background: #db000f;}
.korea .header-nav ul li{ border-left: 1px #e2404b solid;}
.korea .header-nav ul li.nob { border-left:none;}
.korea .header-nav ul li a:hover{ background: #C5000D;}
.korea .header-nav ul li a.this{background: #000;}
.korea .header-nav ul li a.this:hover{background: #000;}
.korea .header-nav ul li.b5m-home a{ background: #c5000d url(http://staticcdn.b5m.com/static/images/common/header-nav.png) no-repeat  -110px 13px;}
.korea .header-search{ background: #000; height: 33px; padding: 7px 0;}
.korea .header-rearch-submit{ display: inline-block;  color:#673700; font-family:\5FAE\8F6F\96C5\9ED1; *margin-left:-2px; border:2px solid #8a0009; border-left:none; height:32px; line-height: 32px; text-align: center; zoom:1;
    background: -webkit-gradient(linear, left top, right top, from(#ffa3ae), to(#ff8793));
    background: -webkit-linear-gradient(top, #ffa3ae, #ff8793);
    background: -moz-linear-gradient(top, #ffa3ae, #ff8793);
    background: -o-linear-gradient(top, #ffa3ae, #ff8793);
    background: -ms-linear-gradient(top, #ffa3ae, #ff8793);
    background: linear-gradient(top, #ffa3ae, #ff8793);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa3ae', endColorstr='#ff8793',GradientType=0 );
}
.korea .header-rearch-submit:hover { text-decoration: none;}
.korea .header-nav ul li a { color:#fff;}
.korea .header-nav ul li a:hover { text-decoration: none;}
.korea .header-nav ul li.b5m-home { border-left:none; }
.korea .header-nav ul li.b5m-home a:hover {background: #b4000c url(http://staticcdn.b5m.com/static/images/common/header-nav.png) no-repeat  -110px 13px;}
.header-rearch-hotkey,.header-rearch-hotkey a { color:#fff;  font-family: \5b8b\4f53;}
.header-search-key,#scbar_txt {font-family:tahoma; border:2px solid #8a0009; _border-color:#8a0009 !important; border-right:none; }
.header-search-key.focus { color:#C5000D; }
.header-search-content label { cursor:default;}
/* 面包屑 */
.crumb{padding-top:8px;font-family:\5FAE\8F6F\96C5\9ED1; line-height: 36px; height: 36px;  font-size:14px; _height:31px; _overflow: hidden; color:#666; }
.crumb span { font-family: \5b8b\4f53; padding:0 5px; }
.crumb strong { color: #ff0042; position: relative; height:29px;float:left; }
.crumb.noline,.crumb.noline strong { border-bottom: none;}
.crumb em {color: #ff0042; }
/*Bnner*/
.pz{position:relative;z-index:0}
.bnner{zoom:1}
.bnner img{display:block;}
.bnner p{position:absolute;right:0;bottom:20px;left:0;z-index:1;width:100%;padding:10px 0;background:#000;background:rgba(0,0,0,.5);filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);color:#fff;line-height:20px;text-align:center;}
.specail-box{width:100%;padding-bottom:10px;border-top:3px solid #000;background:url(./bg_cont.gif)}
/*内容*/
.column-specail{width:980px;overflow:hidden;margin:20px auto 0;}
.column-specail-tit{position:relative;z-index:0;padding:0 0 7px 20px;color:#000;font-weight:bold;font-size:18px;line-height:20px;font-family:"Microsoft YaHei";zoom:1}
.column-specail-tit s{position:absolute;top:0;left:0;z-index:1;width:15px;height:33px;background:url(./bg_column_tit.png) no-repeat;font-size:0;}
.column-specail-cont{height:580px;overflow:hidden;padding-left:6px;zoom:1}
.column-specail-cont ul{float:right;width:714px;}
.column-specail-cont li{display:inline;float:left;width:218px;height:294px;overflow:hidden;margin-left:20px;line-height:18px;text-align:center}
.column-specail-cont li img{display:block;width:218px;height:218px;padding-bottom:3px;}
.column-specail-cont li span,.column-specail-cont li b{display:block;}
.column-specail-cont li b{padding:3px 0;font-size:14px;}
.column-specail-cont li a{color:#333;}
.column-specail-cont li a:hover{color:#eb7e00}
.column-specail-cont li em{color:#db000f;font-weight:bold;font-size:14px;font-family:Arial;}
.pic-left{float:left}