/*通用顶部 -Start-zibu-20140319*/
.header-box .header-logo {
  margin: 0;
}
.header-search-content #scbar_txt {
  border: 1px solid #c8c8c8;
}
.header-rearch-submit,
.header-nav-box {
  background: #db000f;
}
.header-nav-box {
  margin-top: 10px;
}
.header-rearch-submit:hover {
  background: #b00000;
}
.header-nav-back s {
  border-left-color: #db000f;
}
.header-nav-box li {
  border-color: #e2404b;
}
.header-nav-box li a:hover {
  background-color: #c5000d;
}
.header-nav-box .cur a,
.header-nav-box .cur a:hover {
  background: #000;
  color: #ffffff;
}
/*通用顶部 -End-zibu-20140319*/
/*培训活动css s*/
.hd-piccont {
  width: 100%;
  height: 2430px;
  position: relative;
  overflow-x: hidden;
}
.hd-pic {
  position: absolute;
  left: 50%;
  margin-left: -960px;
  width: 1920px;
  z-index: 0;
}
.time-cont {
  width: 980px;
  position: absolute;
  margin-left: -490px;
  left: 50%;
  height: 50px;
  top: 536px;
  z-index: 1;
}
.time-cont a {
  width: 140px;
  height: 50px;
  overflow: hidden;
  text-indent: -1000px;
  float: left;
  margin: 0 110px 0 198px;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
}
/*培训活动css e*/
#huodong-quanwangXb,
.huodong-quanwangXb-bg {
  display: none !important;
}
