/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  min-width: 980px;
}
/* Containers
----------------------------------------------------------------------------------------------------*/
.row {
  *zoom: 1;
}
.row:after {
  display: table;
  content: "";
  clear: both;
}
/* Containers
----------------------------------------------------------------------------------------------------*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  *zoom: 1;
}
.container:after {
  display: table;
  content: "";
  clear: both;
}
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}
.push_1,
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10 {
  position: relative;
}
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
/* Grid >> 10 Columns
----------------------------------------------------------------------------------------------------*/
.container .grid_1 {
  width: 98px;
  z-index: 10;
}
.container .grid_2 {
  width: 196px;
  z-index: 20;
}
.container .grid_3 {
  width: 294px;
  z-index: 30;
}
.container .grid_4 {
  width: 392px;
  z-index: 40;
}
.container .grid_5 {
  width: 490px;
  z-index: 50;
}
.container .grid_6 {
  width: 588px;
  z-index: 60;
}
.container .grid_7 {
  width: 686px;
  z-index: 70;
}
.container .grid_8 {
  width: 784px;
  z-index: 80;
}
.container .grid_9 {
  width: 882px;
  z-index: 90;
}
.container .grid_10 {
  width: 980px;
  z-index: 100;
}
/* Prefix Extra Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/
.container .prefix_1 {
  padding-left: 98px;
}
.container .prefix_2 {
  padding-left: 196px;
}
.container .prefix_3 {
  padding-left: 294px;
}
.container .prefix_4 {
  padding-left: 392px;
}
.container .prefix_5 {
  padding-left: 490px;
}
.container .prefix_6 {
  padding-left: 588px;
}
.container .prefix_7 {
  padding-left: 686px;
}
.container .prefix_8 {
  padding-left: 784px;
}
.container .prefix_9 {
  padding-left: 882px;
}
/* Suffix Extra Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/
.container .suffix_1 {
  padding-right: 98px;
}
.container .suffix_2 {
  padding-right: 196px;
}
.container .suffix_3 {
  padding-right: 294px;
}
.container .suffix_4 {
  padding-right: 392px;
}
.container .suffix_5 {
  padding-right: 490px;
}
.container .suffix_6 {
  padding-right: 588px;
}
.container .suffix_7 {
  padding-right: 686px;
}
.container .suffix_8 {
  padding-right: 784px;
}
.container .suffix_9 {
  padding-right: 882px;
}
/* Push Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/
.container .push_1 {
  left: 98px;
}
.container .push_2 {
  left: 196px;
}
.container .push_3 {
  left: 294px;
}
.container .push_4 {
  left: 392px;
}
.container .push_5 {
  left: 490px;
}
.container .push_6 {
  left: 588px;
}
.container .push_7 {
  left: 686px;
}
.container .push_8 {
  left: 784px;
}
.container .push_9 {
  left: 882px;
}
/* Pull Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/
.container .pull_1 {
  left: -98px;
}
.container .pull_2 {
  left: -196px;
}
.container .pull_3 {
  left: -294px;
}
.container .pull_4 {
  left: -392px;
}
.container .pull_5 {
  left: -490px;
}
.container .pull_6 {
  left: -588px;
}
.container .pull_7 {
  left: -686px;
}
.container .pull_8 {
  left: -784px;
}
.container .pull_9 {
  left: -882px;
}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1;
}
a {
  color: #666;
  text-decoration: none;
  outline: none;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.grade {
  width: 100%;
  height: 14px;
  background: #f0f1e8;
  border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #ececec;
  position: relative;
}
.grade .slider {
  border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  height: 12px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #b2da8e;
  border: 1px solid #dcf8c2;
}
.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating {
  background: url(/static/images/korea/culture/star.png) repeat-x;
}
.star-rating {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: -2px;
  *vertical-align: middle;
  position: relative;
  width: 100px;
  height: 17px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  background-position: left top;
}
.star-rating li {
  display: inline;
}
.star-rating a,
.star-rating .current-rating {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -1000em;
  height: 17px;
  line-height: 25px;
  outline: none;
  overflow: hidden;
  border: none;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus {
  background-position: left -34px;
}
.star-rating a.one-star {
  width: 20%;
  z-index: 6;
}
.star-rating a.two-stars {
  width: 40%;
  z-index: 5;
}
.star-rating a.three-stars {
  width: 60%;
  z-index: 4;
}
.star-rating a.four-stars {
  width: 80%;
  z-index: 3;
}
.star-rating a.five-stars {
  width: 100%;
  z-index: 2;
}
.star-rating .current-rating {
  z-index: 1;
  background-position: left -17px;
}
/* for an inline rater */
.inline-rating {
  display: -moz-inline-block;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
}
.star-done a {
  cursor: default;
}
.star-done a:hover {
  background-image: none;
}
.page a:hover {
  color: #fff;
  background-color: #e81818;
  background-image: none;
  border-color: #eb8226;
  text-decoration: none;
  box-shadow: none;
}
.page .cur {
  color: #fff;
  background: #e81818;
  font-family: arial;
  border-radius: 3px;
  cursor: default;
  width: 34px;
}
.page a.dis:hover {
  color: #cccccc;
  cursor: default;
  border: 1px solid #d4d4d4;
  background-color: #e81818;
  background-image: -moz-linear-gradient(top, #e81818, #e81818);
  background-image: -ms-linear-gradient(top, #e81818, #e81818);
  background-image: -webkit-linear-gradient(top, #e81818, #e81818);
  background-image: -o-linear-gradient(top, #e81818, #e81818);
  background-image: linear-gradient(top, #e81818, #e81818);
}
.page .page-input input {
  width: 41px;
  text-align: center;
  padding: 2px 0;
  height: 14px;
  line-height: 14px;
  float: left;
  vertical-align: middle;
  color: #999;
  font-size: 12px;
  border: 1px solid #e81818;
}
.page .page-input a {
  width: 29px;
  height: 18px;
  float: left;
  color: #fff;
  background: #e81818;
  border: 1px solid #e81818;
  line-height: 18px;
  margin: 0;
  border-radius: 0 3px 3px 0;
  box-shadow: none;
}
.bread-crumb-navigation {
  margin: 10px 0;
}
.bread-crumb-navigation ul:after {
  display: table;
  content: "";
  clear: both;
}
.bread-crumb-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1;
}
.bread-crumb-navigation ul li {
  float: left;
  margin-right: 5px;
  color: #999;
}
.bread-crumb-navigation ul li a {
  color: #333333;
}
.item-detail {
  margin-bottom: 20px;
}
.item-detail .right {
  float: right;
  width: 504px;
}
.item-detail .left {
  width: 458px;
}
.item-detail .take-down {
  height: 85px;
  line-height: 85px;
  background: url('../img/list/take-down.png?__sprite') no-repeat 0px center;
  text-indent: 30px;
  font-size: 14px;
  font-weight: bold;
}
.item-detail .item-related {
  height: 190px;
  margin: -10px 0px 0px -50px;
}
.item-detail .item-related .row {
  margin: 4px auto auto -18px;
  overflow: hidden;
}
.item-detail .item-related .items {
  width: 100px;
  height: 170px;
  margin-left: 18px;
  float: left;
  display: inline;
}
.item-detail .item-related .items .img {
  width: 98px;
  height: 98px;
  clear: both;
  margin: 0 auto;
  border: 1px solid #dddbdc;
  display: block;
  overflow: hidden;
}
.item-detail .item-related .items .img img {
  width: 98px;
  height: 98px;
}
.item-detail .item-related .items .info {
  width: 98px;
  height: 20px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis ;
  white-space: nowrap;
}
.item-detail .item-related .items .yuan {
  font-family: "Microsoft YaHei";
  color: #9a9a9a;
}
.item-detail .item-related .items .money {
  color: #e71919;
  font-size: 14px;
  font-weight: bold;
}
.item-detail .item-related .items .bright-red {
  color: #e71919;
}
.item-detail .item-related .items .grayness {
  color: #999;
}
.item-detail .item-related .items .top {
  margin-top: 14px;
  color: #333;
}
.item-detail .item-related .items .top a {
  color: #333;
}
.item-detail .item-related .items .top a:hover {
  text-decoration: underline;
}
.item-detail .item-related .hd {
  padding: 0;
  margin: 0;
  color: #333;
  font-weight: bold;
}
.item-detail .detail-cell {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.item-detail h1 {
  font-family: "Microsoft YaHei";
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
}
.item-detail h4 {
  font-family: "Microsoft YaHei";
  padding: 0;
  margin: 0;
  color: #999999;
  font-weight: normal;
  font-size: 14px;
}
.item-detail .price-num {
  margin-bottom: 10px;
}
.item-detail .price-num span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  text-align: center;
  padding: 2px 4px;
  color: #fff;
  background-color: #e81818;
  vertical-align: text-bottom;
}
.item-detail .price-num i {
  font-family: "Microsoft YaHei";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #e81818;
}
.item-detail .price-num b {
  font-family: Tahoma;
  font-size: 26px;
  font-weight: 700;
  color: #e81818;
}
.item-detail .price-fex span {
  padding-right: 30px;
}
.item-detail .add-cart {
  position: relative;
  padding: 10px 0 0 50px;
}
.item-detail .add-cart .shop-qq {
  float: left;
  display: inline;
  margin-left: -50px;
  margin-bottom: 51px;
  width: 100%;
}
.item-detail .add-cart .shop-qq dt,
.item-detail .add-cart .shop-qq dd {
  float: left;
  display: inline;
}
.item-detail .add-cart .shop-qq dt .code,
.item-detail .add-cart .shop-qq dd .code {
  color: #999;
  background: url(/static/images/korea/culture/__sprite/qq.png?__sprite) no-repeat left center;
  padding: 3px 0px 3px 28px;
}
.item-detail .add-cart .btn-detail-buy {
  font-family: "Microsoft YaHei";
  font-size: 18px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #ffffff;
  height: 46px;
  line-height: 44px;
  padding: 0 30px;
  background-color: #d8a373;
  text-decoration: none;
  border: 1px solid #d8a373;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  float: left;
  display: block;
  margin-right: 20px;
}
.item-detail .add-cart .btn-detail-buy:hover {
  color: #ffffff;
  border: 1px solid #c9925f;
  background-color: #c9925f;
}
.item-detail .add-cart .btn-detail-add {
  font-family: "Microsoft YaHei";
  font-size: 18px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #ffffff;
  height: 46px;
  line-height: 44px;
  padding: 0 15px;
  background-color: #e52d31;
  text-decoration: none;
  border: 1px solid #e52d31;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  float: left;
  display: block;
  margin-right: 20px;
}
.item-detail .add-cart .btn-detail-add:hover {
  color: #ffffff;
  border: 1px solid #d62428;
  background-color: #d62428;
}
.item-detail .add-cart .btn-detail-favorite {
  line-height: 46px;
  border: 0;
  height: 46px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  float: left;
  display: block;
}
.item-detail .add-cart .btn-detail-favorite i {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(/static/images/korea/culture/sprite.png);
  background-repeat: no-repeat;
  background-position: -196px -196px;
  vertical-align: middle;
  margin-right: 5px;
}
.item-detail .add-cart .btn-detail-favorite .active {
  background-position: -221px -196px;
}
.item-detail .add-cart .add-cart-pop {
  top: 70px;
  left: 10px;
}
.item-detail .add-cart .add-cart-pop h4 {
  color: #000;
  font-family: "Microsoft YaHei";
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 20px;
}
.item-detail .add-cart .add-cart-pop .icon-right {
  display: inline-block;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  background-position: -71px -9px;
  vertical-align: middle;
}
.item-detail .add-cart .add-cart-pop .popup-con {
  padding: 20px 40px 40px 40px;
}
.item-detail .detail-form {
  padding: 0;
  margin: 0 0 10px 0;
}
.item-detail .detail-form .item-total-tips {
  color: #999;
  line-height: 46px;
}
.item-detail .detail-form .resize-num {
  height: 46px;
  width: 66px;
  position: relative;
  overflow: hidden;
  border: 1px solid #C8C7CC;
}
.item-detail .detail-form .resize-num input {
  border: 0;
  font-size: 16px;
  font-family: Tahoma;
  width: 44px;
  text-align: center;
  padding: 12px 0;
}
.item-detail .detail-form .resize-num a {
  display: block;
  width: 22px;
  height: 22px;
  margin: 0 -1px -1px 0;
  border: 1px solid #C8C7CC;
  position: absolute;
  background-image: url(/static/images/korea/culture/sprite.png);
  background-repeat: no-repeat;
  text-indent: -9999em;
}
.item-detail .detail-form .resize-num .btn-up {
  top: -1px;
  right: 0;
  height: 23px;
  background-position: -33px 10px;
}
.item-detail .detail-form .resize-num .btn-down {
  right: 0;
  bottom: 0;
  background-position: -33px -22px;
}
.item-detail .detail-form .resize-num .disable {
  background-color: #f1f1f1;
  background-position: -33px -64px;
}
.item-detail .detail-form dt {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.item-detail .detail-form dd {
  padding: 0;
  margin: 0 10px 0 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.item-detail .detail-form .item-size {
  display: block;
  position: relative;
  text-align: center;
  line-height: 22px;
  border: 1px solid #c8c7cc;
  cursor: pointer;
  vertical-align: middle;
}
.item-detail .detail-form .item-size i {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  background: url(/static/images/korea/culture/sprite.png) no-repeat -272px -304px;
}
.item-detail .detail-form .item-size img {
  display: block;
}
.item-detail .detail-form .item-size span {
  padding: 0 15px;
}
.item-detail .detail-form .item-size input {
  display: none;
}
.item-detail .detail-form .cur i {
  display: block;
}
.item-detail .detail-form .cur label {
  color: #e70013;
  border: 1px solid #e70013;
}
.item-detail .detail-form .normal {
  border: 1px solid #c8c7cc;
  padding: 2px 12px;
  color: #333;
  position: relative;
  cursor: pointer;
}
.item-detail .detail-form .checked {
  position: relative;
  padding: 2px 12px;
  color: #e60012;
  border: 1px solid #e60012;
  cursor: pointer;
  background: url(/static/images/korea/culture/checked.png) no-repeat right bottom;
}
.item-detail .detail-form .disable .item-size {
  border: 1px dashed #dcdcdc;
  cursor: auto;
}
.item-detail .detail-form .disable .item-size img {
  opacity: 0.5;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  -o-opacity: 0.5;
  filter: alpha(opacity=50);
}
.item-detail .detail-form .disable .item-size span {
  color: #ccc;
}
.item-detail .detail-form .disable .item-size i {
  display: none;
}
.item-detail .item-pic {
  border: 1px solid #dcdcdc;
  margin-bottom: 10px;
  width: 456px;
  height: 456px;
  overflow: hidden;
}
.item-detail .item-pic img {
  width: 456px;
  height: 456px;
}
.item-detail .item-pic .cur {
  display: block;
}
.item-detail .item-img ul:after {
  display: table;
  content: "";
  clear: both;
}
.item-detail .item-img ul {
  *zoom: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 468px;
}
.item-detail .item-img ul li {
  float: left;
  margin-right: 8px;
}
.item-detail .item-img ul li img {
  display: block;
  width: 66px;
  height: 66px;
  overflow: hidden;
  border: 1px solid #dcdcdc;
}
.item-detail .item-img ul li a {
  display: block;
  position: relative;
  border: 1px solid #fff;
  outline: none;
}
.item-detail .item-img ul li a i {
  position: absolute;
  display: none;
  width: 8px;
  height: 9px;
  top: -8px;
  left: 30px;
  background: url(/static/images/korea/culture/__sprite/i1.png?__sprite) no-repeat 0px 0px;
}
.item-detail .item-img .cur a {
  border: 1px solid #e81818;
}
.item-detail .item-img .cur img {
  border: 1px solid #e81818;
}
.item-detail .item-img .cur i {
  display: block;
}
.item-des {
  margin-bottom: 10px;
}
.item-des ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 40px;
  border: 1px solid #dcdcdc;
}
.item-des ul li {
  float: left;
  border-right: 1px solid #dcdcdc;
}
.item-des .des-tab a {
  display: block;
  float: left;
  font-size: 14px;
  text-align: center;
  height: 37px;
  line-height: 37px;
  padding: 0 25px;
  border-bottom: 3px solid #fff;
  outline: none;
}
.item-des .des-tab a:hover {
  border-bottom: 3px solid #ffb7b8;
}
.item-des .des-tab .cur a {
  border-bottom: 3px solid #e81818;
}
.item-des .item-info-set {
  border-right: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: #f6f6f6;
}
.item-des .item-info-set table {
  width: 100%;
  font-size: 14px;
}
.item-des .item-info-set table td {
  padding: 5px 15px;
}
.item-des .item-info-set .info-details {
  width: 100%;
}
.item-des .item-info-set .info-details img {
  max-width: 978px;
}
.item-des .item-ping-set {
  background-color: #fff;
  overflow: hidden;
}
.item-des .item-ping-set .item-none {
  height: 128px;
  line-height: 128px;
  background: #f7f7f7;
  width: 978px;
  border-bottom: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #999999;
  text-align: center;
}
.item-des .item-ping-set .item-ping-hd {
  background-color: #fcfcf9;
  overflow: hidden;
}
.item-des .item-ping-set .title {
  width: 114px;
  float: left;
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 92px;
}
.item-des .item-ping-set .title h4 {
  margin: 7px auto 0px auto;
  text-align: center;
  font-size: 15px;
  font-family: "微软雅黑";
}
.item-des .item-ping-set .title .num {
  font-size: 35px;
  font-family: "Tahoma";
  color: #ffb72c;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.item-des .item-ping-set .title .starts {
  width: 100%;
  text-align: center;
  padding-left: 5px;
}
.item-des .item-ping-set .title .starts ul {
  border: 0 none;
  border: none;
  height: 17px;
}
.item-des .item-ping-set table {
  float: left;
  display: inline;
  width: 445px;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  border-right: 1px dotted #d9d9d9;
  color: #666666;
}
.item-des .item-ping-set table td {
  padding: 8px 0px 8px 0px;
}
.item-des .item-ping-set table td.text {
  text-indent: 15px;
}
.item-des .item-ping-set .ping-content {
  width: 100%;
  clear: both;
}
.item-des .item-ping-set .ping-content .contents,
.item-des .item-ping-set .ping-content .last-contents {
  padding: 20px 0px;
  clear: both;
  margin: 0 auto;
  overflow: hidden;
}
.item-des .item-ping-set .ping-content .contents .user,
.item-des .item-ping-set .ping-content .last-contents .user {
  float: left;
  display: inline;
  width: 50px;
  height: 95px;
  margin-left: 20px;
}
.item-des .item-ping-set .ping-content .contents .user .img,
.item-des .item-ping-set .ping-content .last-contents .user .img {
  width: 50px;
  height: 50px;
  display: block;
}
.item-des .item-ping-set .ping-content .contents .user .img img,
.item-des .item-ping-set .ping-content .last-contents .user .img img {
  width: 50px;
  height: 50px;
}
.item-des .item-ping-set .ping-content .contents .user .name,
.item-des .item-ping-set .ping-content .last-contents .user .name {
  color: #333;
}
.item-des .item-ping-set .ping-content .contents .user .leave,
.item-des .item-ping-set .ping-content .last-contents .user .leave {
  color: #999;
}
.item-des .item-ping-set .ping-content .contents .user .thumbs,
.item-des .item-ping-set .ping-content .last-contents .user .thumbs {
  width: 50px;
  padding-top: 5px;
  margin: 0;
}
.item-des .item-ping-set .ping-content .contents .starts,
.item-des .item-ping-set .ping-content .last-contents .starts {
  float: left;
  display: inline;
  margin-left: 34px;
}
.item-des .item-ping-set .ping-content .contents .starts ul,
.item-des .item-ping-set .ping-content .last-contents .starts ul {
  border: 0 none;
  border: none;
  height: 17px;
}
.item-des .item-ping-set .ping-content .contents .user-show,
.item-des .item-ping-set .ping-content .last-contents .user-show {
  float: left;
  display: inline;
  margin-left: 48px;
  width: 620px;
}
.item-des .item-ping-set .ping-content .contents .user-show p,
.item-des .item-ping-set .ping-content .last-contents .user-show p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
.item-des .item-ping-set .ping-content .contents .user-show .imgs,
.item-des .item-ping-set .ping-content .last-contents .user-show .imgs {
  width: 100%;
  float: left;
  display: inline;
  margin-left: -10px;
}
.item-des .item-ping-set .ping-content .contents .user-show img,
.item-des .item-ping-set .ping-content .last-contents .user-show img {
  margin-top: 13px;
  float: left;
  display: inline;
  margin-left: 10px;
}
.item-des .item-ping-set .ping-content .contents .goods,
.item-des .item-ping-set .ping-content .last-contents .goods {
  width: 107px;
  float: left;
  display: inline;
  color: #999999;
}
.item-des .item-ping-set .ping-content .contents .goods .attr,
.item-des .item-ping-set .ping-content .last-contents .goods .attr {
  padding: 0;
  margin: 0px auto 5px auto;
  width: 100%;
  clear: both;
}
.item-des .item-ping-set .ping-content .contents {
  border-bottom: 1px solid #dcdcdc;
}
.item-des .item-ping-set .ping-content .last-contents {
  border-bottom: 0px solid #dcdcdc;
}
.item-des .item-record-set {
  border-bottom: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  background-color: #fff;
  overflow: hidden;
}
.item-des .item-record-set .tables {
  width: 100%;
  margin: 7px auto 48px auto;
}
.item-des .item-record-set .tables th {
  height: 48px;
  line-height: 48px;
  background: #f4f4f4;
  color: #666666;
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.item-des .item-record-set .tables th.bayer {
  width: 279px;
  text-indent: 48px;
}
.item-des .item-record-set .tables th.nums {
  width: 165px;
}
.item-des .item-record-set .tables th.dealtime {
  width: 287px;
}
.item-des .item-record-set .tables th.style {
  width: 247px;
}
.item-des .item-record-set .tables tr.odd {
  background: #f9fbfe;
}
.item-des .item-record-set .tables td {
  color: #333;
  padding: 20px 0px;
}
.item-des .item-record-set .tables td .user-icon {
  width: 33px;
  height: 33px;
  float: left;
  display: inline;
  margin-left: 48px;
}
.item-des .item-record-set .tables td .user-nickname {
  float: left;
  display: inline;
  margin-left: 28px;
  height: 33px;
  line-height: 33px;
}
