/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  min-width: 980px;
}
/* Containers
----------------------------------------------------------------------------------------------------*/
.row {
  *zoom: 1;
}
.row:after {
  display: table;
  content: "";
  clear: both;
}
/* Containers
----------------------------------------------------------------------------------------------------*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  *zoom: 1;
}
.container:after {
  display: table;
  content: "";
  clear: both;
}
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}
.push_1,
.pull_1,
.push_2,
.pull_2,
.push_3,
.pull_3,
.push_4,
.pull_4,
.push_5,
.pull_5,
.push_6,
.pull_6,
.push_7,
.pull_7,
.push_8,
.pull_8,
.push_9,
.pull_9,
.push_10,
.pull_10 {
  position: relative;
}
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0;
}
.omega {
  margin-right: 0;
}
/* Grid >> 10 Columns
----------------------------------------------------------------------------------------------------*/
.container .grid_1 {
  width: 98px;
  z-index: 10;
}
.container .grid_2 {
  width: 196px;
  z-index: 20;
}
.container .grid_3 {
  width: 294px;
  z-index: 30;
}
.container .grid_4 {
  width: 392px;
  z-index: 40;
}
.container .grid_5 {
  width: 490px;
  z-index: 50;
}
.container .grid_6 {
  width: 588px;
  z-index: 60;
}
.container .grid_7 {
  width: 686px;
  z-index: 70;
}
.container .grid_8 {
  width: 784px;
  z-index: 80;
}
.container .grid_9 {
  width: 882px;
  z-index: 90;
}
.container .grid_10 {
  width: 980px;
  z-index: 100;
}
/* Prefix Extra Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/
.container .prefix_1 {
  padding-left: 98px;
}
.container .prefix_2 {
  padding-left: 196px;
}
.container .prefix_3 {
  padding-left: 294px;
}
.container .prefix_4 {
  padding-left: 392px;
}
.container .prefix_5 {
  padding-left: 490px;
}
.container .prefix_6 {
  padding-left: 588px;
}
.container .prefix_7 {
  padding-left: 686px;
}
.container .prefix_8 {
  padding-left: 784px;
}
.container .prefix_9 {
  padding-left: 882px;
}
/* Suffix Extra Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/
.container .suffix_1 {
  padding-right: 98px;
}
.container .suffix_2 {
  padding-right: 196px;
}
.container .suffix_3 {
  padding-right: 294px;
}
.container .suffix_4 {
  padding-right: 392px;
}
.container .suffix_5 {
  padding-right: 490px;
}
.container .suffix_6 {
  padding-right: 588px;
}
.container .suffix_7 {
  padding-right: 686px;
}
.container .suffix_8 {
  padding-right: 784px;
}
.container .suffix_9 {
  padding-right: 882px;
}
/* Push Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/
.container .push_1 {
  left: 98px;
}
.container .push_2 {
  left: 196px;
}
.container .push_3 {
  left: 294px;
}
.container .push_4 {
  left: 392px;
}
.container .push_5 {
  left: 490px;
}
.container .push_6 {
  left: 588px;
}
.container .push_7 {
  left: 686px;
}
.container .push_8 {
  left: 784px;
}
.container .push_9 {
  left: 882px;
}
/* Pull Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/
.container .pull_1 {
  left: -98px;
}
.container .pull_2 {
  left: -196px;
}
.container .pull_3 {
  left: -294px;
}
.container .pull_4 {
  left: -392px;
}
.container .pull_5 {
  left: -490px;
}
.container .pull_6 {
  left: -588px;
}
.container .pull_7 {
  left: -686px;
}
.container .pull_8 {
  left: -784px;
}
.container .pull_9 {
  left: -882px;
}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1;
}
a {
  color: #666;
  text-decoration: none;
  outline: none;
}
.ml10 {
  margin-left: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.step {
  clear: both;
  width: 100%;
}
.step span {
  background-image: url(/static/images/korea/culture/sprite.png);
  background-repeat: no-repeat;
}
.step ul:after {
  display: table;
  content: "";
  clear: both;
}
.step ul {
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%;
  margin-left: -22px;
}
.step ul li {
  display: table-cell;
  float: left;
  text-align: center;
  position: relative;
  height: 60px;
}
.step ul li span {
  font-family: tahoma;
  font-size: 14px;
  display: inline-block;
  width: 32px;
  height: 32px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  position: absolute;
  left: 45%;
  z-index: 10;
  background-position: -103px -120px;
}
.step ul li span b {
  display: block;
  color: #666;
  font-weight: normal;
  font-size: 12px;
  top: 30px;
  left: -35px;
  width: 100px;
  text-align: center;
  position: absolute;
}
.step ul li i {
  display: block;
  height: 6px;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #f7f7f7 47%, #f6f6f6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(47%, #f7f7f7), color-stop(100%, #f6f6f6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #f7f7f7 47%, #f6f6f6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #f7f7f7 47%, #f6f6f6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #f7f7f7 47%, #f6f6f6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f9f9f9 0%, #f7f7f7 47%, #f6f6f6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f6f6f6, GradientType=0);
  /* IE6-9 */
  position: absolute;
  width: 100%;
  z-index: 5;
  top: 12px;
  left: 0;
}
.step ul li i em {
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 1px;
}
.step ul .start {
  text-align: left;
}
.step ul .start span {
  background-repeat: -200px -120px;
  margin-left: -35px;
}
.step ul .start b {
  width: 100px;
  text-align: center;
}
.step ul .start i {
  left: 24%;
}
.step ul .start .step-first {
  background-position: -199px -120px;
}
.step ul .end {
  text-align: right;
}
.step ul .end span {
  margin-left: 35px;
}
.step ul .end b {
  width: 100px;
  text-align: center;
  display: inline-block;
}
.step ul .end i {
  left: -15%;
  z-index: 3;
}
.step ul .end .step-last {
  background-position: -231px -120px;
}
.step ul .cur span {
  background-position: -136px -120px;
  color: #fff;
}
.step ul .cur i em {
  background-color: #f36161;
}
.step ul .cur b {
  color: #f65858;
}
.step ul .cur .step-first {
  background-position: -71px -120px;
}
.step ul .cur .step-last {
  background-position: -167px -120px;
}
/********************modules start*************************/
.marks {
  margin: 0 11px;
  overflow: hidden;
}
.marks .icon-order-detail {
  float: left;
  display: inline;
  margin-top: 10px;
  width: 109px;
  height: 31px;
  background: url(/static/images/korea/culture/__sprite/u-o-hd_detail_bg.png?__sprite) no-repeat 0px 0px;
}
.marks .icon-order-success {
  float: left;
  display: inline;
  margin-top: 10px;
  width: 138px;
  height: 37px;
  background: url(/static/images/korea/culture/__sprite/icon-order-success.png?__sprite) no-repeat 0px 0px;
}
.marks .icon-order-confirm {
  float: left;
  display: inline;
  margin-top: 10px;
  width: 131px;
  height: 30px;
  background: url(/static/images/korea/culture/__sprite/icon-order-confirm.png?__sprite) no-repeat 0px 0px;
}
.marks .icon-user-moneyback {
  float: left;
  display: inline;
  margin-top: 10px;
  width: 74px;
  height: 39px;
  background: url(/static/images/korea/culture/__sprite/icon-user-moneyback.png?__sprite) no-repeat 0px 0px;
}
.marks .step-box-detail {
  float: left;
  display: inline;
  width: 550px;
  clear: left;
  margin-left: 96px;
  margin-top: 34px;
}
.marks .step-box {
  float: right;
  display: inline;
  width: 550px;
}
.order-tips {
  margin: 0 auto;
  overflow: hidden;
}
.order-tips h4 {
  padding: 0px 11px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.order-tips .order-contacts {
  border-top: 2px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  margin: 5px auto 20px auto;
  overflow: hidden;
}
.order-tips .order-contacts .hd {
  width: 100%;
  margin: 0 auto;
  height: 68px;
  line-height: 68px;
  background: #fffcf4;
  overflow: hidden;
}
.order-tips .order-contacts .hd .tip {
  margin: 21px 152px;
  height: 26px;
  line-height: 24px;
  color: #ff0000;
  background: url(/static/images/korea/culture/__sprite/cancel_title_bg.png?__sprite) no-repeat 0px 0px;
  text-indent: 43px;
}
.order-tips .order-contacts .contacts-form {
  margin: 11px auto 22px 65px;
}
.order-tips .order-contacts .contacts-form .line {
  margin: 11px auto 0px auto;
  overflow: hidden;
}
.order-tips .order-contacts .contacts-form .must {
  color: #cc0000;
  font-style: normal;
  padding-top: 4px;
  vertical-align: middle;
  margin-right: 5px;
}
.order-tips .order-contacts .contacts-form .lbs {
  width: 89px;
  text-align: right;
  float: left;
  display: inline;
  line-height: 21px;
  height: 23px;
}
.order-tips .order-contacts .contacts-form .txt-short {
  width: 121px;
}
.order-tips .order-contacts .contacts-form .txt-long {
  width: 201px;
}
.order-tips .order-contacts .contacts-form .txt-short,
.order-tips .order-contacts .contacts-form .txt-long {
  float: left;
  display: inline;
  margin-left: 10px;
  height: 23px;
  line-height: 21px;
  border: 1px solid #cccccc;
}
.order-tips .order-payment {
  border-top: 2px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  height: 91px;
  line-height: 91px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.order-tips .order-payment .r {
  float: left;
  display: inline;
  margin-top: 40px;
}
.order-tips .order-payment .payment {
  float: left;
  display: inline;
  margin-left: 20px;
  height: 91px;
  line-height: 91px;
}
.order-tips .order-payment .alipay {
  width: 169px;
  height: 28px;
  float: left;
  display: inline;
  margin-top: 32px;
  background: url(/static/images/korea/culture/alipay.png) no-repeat 0px 0px;
}
.order-tips .order-info {
  border-top: 2px solid #e8e8e8;
  margin-top: 5px;
}
.order-tips .order-info table {
  width: 978px;
  clear: both;
  margin: 0 auto;
}
.order-tips .order-info table .tdr {
  border-right: 1px solid #f5ead0;
}
.order-tips .order-info table .btn-submit {
  font-family: "Microsoft YaHei";
  font-size: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #ffffff;
  height: 50px;
  line-height: 48px;
  padding: 0px 15px;
  background-color: #e81818;
  text-decoration: none;
  border: 1px solid #e81818;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  float: right;
  display: inline;
}
.order-tips .order-info table .btn-submit:hover {
  color: #ffffff;
  border: 1px solid #e81818;
  background-color: #e81818;
}
.order-tips .order-info table .rmb {
  font-family: "Microsoft YaHei";
}
.order-tips .order-info table .num {
  font-size: 16px;
}
.order-tips .order-info table .red {
  font-family: "Tahoma";
  color: #e81818;
  font-size: 18px;
}
.order-tips .order-info table .pt20 {
  padding-top: 20px;
}
.order-tips .order-info table th {
  padding: 15px 0px 15px 11px ;
}
.order-tips .order-info table th .chk {
  float: left;
  display: inline;
}
.order-tips .order-info table th .shop-name {
  float: left;
  display: inline;
  height: 20px;
  line-height: 18px;
  margin-top: -4px;
  margin-left: 10px;
}
.order-tips .order-info table tr.row {
  border: 1px solid #f5ead0;
  background: #fffcf4;
}
.order-tips .order-info table tr.total {
  border-left: 1px solid #f5ead0;
  border-right: 1px solid #f5ead0;
  border-bottom: 1px solid #f5ead0;
  border-top: 1px solid #d7e5ef;
  background: #f0f0f0;
}
.order-tips .order-info table td {
  padding: 16px 0px;
  word-break: break-all;
  word-wrap: break-word;
}
.order-tips .order-info table td.control {
  width: 53px;
  padding-left: 11px;
}
.order-tips .order-info table td.abstract {
  width: 310px;
}
.order-tips .order-info table td.type {
  width: 127px;
  vertical-align: top;
  color: #666666;
  text-align: center;
}
.order-tips .order-info table td.price {
  width: 138px;
  vertical-align: top;
  text-align: center;
}
.order-tips .order-info table td.length {
  width: 148px;
  vertical-align: top;
  text-align: center;
}
.order-tips .order-info table td.tprice {
  width: 129px;
  vertical-align: top;
  text-align: center;
  font-family: "Tahoma";
  color: #e81818;
  font-size: 18px;
}
.order-tips .order-info table td.opa {
  width: 72px;
  vertical-align: top;
  text-align: center;
  padding: 20px 0px;
}
.order-tips .order-info table td.opa a {
  color: #999;
}
.order-tips .order-info table td.opa a:hover {
  text-decoration: underline;
}
.order-tips .order-info table td.abstract .img {
  float: left;
  display: inline;
  width: 76px;
  height: 76px;
  border: 1px solid #d3d3d3;
}
.order-tips .order-info table td.abstract .img img {
  width: 76px;
  height: 76px;
}
.order-tips .order-info table td.abstract .link {
  float: left;
  display: inline;
  width: 185px;
  margin-left: 20px;
  color: #464646;
}
.order-tips .order-info table td.abstract .link:hover {
  text-decoration: underline;
}
.order-tips .order-info table td.price .del {
  color: #666;
  font-size: 14px;
  font-family: "Arial";
}
.order-tips .order-info table td.price .p {
  font-size: 14px;
  font-family: "Arial";
  font-weight: bold;
}
.order-tips .order-info table td.price .p-type {
  background: #7abd54;
  color: #fff;
  width: 61px;
  margin: 8px auto 0px auto;
  height: 20px;
  line-height: 18px;
}
.order-tips .order-info table td.length .counter {
  border: 1px solid #e5e5e5;
  background: #f0f0f0;
  padding: 4px;
  *padding: 0px;
  padding: 0px 0px 8px 0px\0;
}
.order-tips .order-info table td.length .counter .add,
.order-tips .order-info table td.length .counter .sub {
  padding: 9px 4px;
  *padding: 0px 4px;
  color: #444;
  vertical-align: middle;
  outline: none;
  position: relative;
  top: -2px;
  *top: -4px;
  top: 2px\0;
}
.order-tips .order-info table td.length .counter .txt-length {
  border: 1px solid #aaa;
  text-align: center;
  width: 39px;
  height: 23px;
  position: relative;
  top: 0px;
}
.order-status {
  margin: 0 auto;
  overflow: hidden;
}
.order-status .hd {
  padding: 15px 0px;
}
.order-status .hd .status {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #666;
}
.order-status .hd .btns {
  clear: both;
  margin: 18px auto 0px auto;
  overflow: hidden;
}
.order-status .hd .btns .btn-pay {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #ffffff;
  height: 26px;
  line-height: 24px;
  padding: 0px 15px;
  background-color: #e81818;
  text-decoration: none;
  border: 1px solid #e81818;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  float: left;
  display: inline;
}
.order-status .hd .btns .btn-pay:hover {
  color: #ffffff;
  border: 1px solid #e81818;
  background-color: #e81818;
}
.order-status .hd .btns .btn-cancel {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #999999;
  height: 26px;
  line-height: 24px;
  padding: 0px 15px;
  background-color: #eaeaea;
  text-decoration: none;
  border: 1px solid #eaeaea;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  float: left;
  display: inline;
}
.order-status .hd .btns .btn-cancel:hover {
  color: #999999;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
}
.order-status .table-contacts {
  width: 100%;
  margin: 0 auto;
}
.order-status .table-contacts tr {
  border-top: 2px solid #eeeeee;
}
.order-status .table-contacts td {
  padding: 28px 0px;
  width: 33%;
  vertical-align: bottom;
}
.order-status .table-contacts td .titles {
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  color: #464646;
}
.order-status .table-contacts td .text {
  margin-top: 15px;
  color: #464646;
}
.order-status .table-bar {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  background: #f6f6f6;
  color: #666;
  font-weight: bold;
}
.order-status .table-bar div {
  float: left;
  display: inline;
}
.order-status .table-bar .shops {
  width: 267px;
  text-align: center;
}
.order-status .table-bar .type {
  width: 112px;
  text-indent: 20px;
}
.order-status .table-bar .price {
  width: 67px;
  text-align: center;
}
.order-status .table-bar .nums {
  width: 79px;
  text-indent: 44px;
}
.order-status .table-bar .status {
  width: 138px;
  text-indent: 30px;
}
.order-status .table-bar .sales,
.order-status .table-bar .totalpay {
  width: 158px;
  text-align: center;
}
.order-status .table-order {
  clear: both;
  margin: 0 auto;
  width: 100%;
  background-color: #fffef4;
  border: 1px solid #f5ead0;
  table-layout: fixed;
  border-collapse: separate;
  /*订单标题样式*/
  /*付款情况*/
  /*用户操作*/
}
.order-status .table-order .ordersum {
  margin: 0 auto;
  width: 810px;
  padding-bottom: 13px;
}
.order-status .table-order .goods {
  width: 662px;
  /**/
  /*订单商品行间样式*/
}
.order-status .table-order .goods .dtp {
  border-top: 1px solid #f5ead0;
}
.order-status .table-order .goods .goodsin {
  width: 662px;
  *padding: 10px 0px;
  /*类型*/
  /*货物单价*/
}
.order-status .table-order .goods .goodsin .img {
  float: left;
  display: inline;
  width: 78px;
  height: 78px;
  margin: 14px auto 14px 14px;
}
.order-status .table-order .goods .goodsin .img img {
  width: 78px;
  height: 78px;
}
.order-status .table-order .goods .goodsin .text {
  float: left;
  display: inline;
  width: 150px;
  margin: 14px auto 14px 10px;
  padding-right: 15px;
}
.order-status .table-order .goods .goodsin .text .name {
  width: 150px;
  padding: 0px;
  margin: 5px 0px 0px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.order-status .table-order .goods .goodsin .text .name a {
  color: #333;
}
.order-status .table-order .goods .goodsin .text .name a:hover {
  text-decoration: underline;
}
.order-status .table-order .goods .goodsin .text .item {
  margin: 5px 0px 0px 0px;
  color: #999;
}
.order-status .table-order .goods .goodsin .text .item i {
  margin-left: 5px;
  font-style: normal;
}
.order-status .table-order .goods .goodsin .type {
  width: 102px;
  float: left;
  display: inline;
  margin: 18px auto 14px 10px;
}
.order-status .table-order .goods .goodsin .unit {
  float: left;
  display: inline;
  width: 67px;
  margin: 14px auto 14px 0px;
  text-align: center;
  padding-top: 5px;
}
.order-status .table-order .goods .goodsin .unit .del {
  color: #999999;
}
.order-status .table-order .goods .goodsin .unit .price {
  font-family: "Tahoma";
  font-weight: bold;
}
.order-status .table-order .goods .goodsin .unit .dis {
  padding: 2px 7px;
  color: #fff;
  background: #7abd54;
  margin-top: 5px;
}
.order-status .table-order .goods .goodsin .nums {
  float: left;
  display: inline;
  width: 43px;
  margin: 14px auto 14px 36px;
  padding-top: 5px;
  text-align: center;
}
.order-status .table-order .goods .goodsin .service {
  float: left;
  display: inline;
  width: 88px;
  margin: 14px auto 14px 0px;
  text-align: center;
}
.order-status .table-order .goods .goodsin .service .p {
  padding-top: 5px;
  color: #666;
  font-weight: bold;
}
.order-status .table-order .goods .goodsin .service .cancel {
  padding-top: 5px;
  color: #999;
}
.order-status .table-order .goods .goodsin .service .other {
  padding-top: 5px;
  color: #5684bc;
}
.order-status .table-order .goods .goodsin .service .return {
  padding-top: 5px;
  color: #d60e0e;
  padding-left: 11px;
  padding-right: 11px;
  position: relative;
}
.order-status .table-order .goods .goodsin .service .return em {
  float: left;
  display: inline;
  margin-left: 5px;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  left: 0;
  top: 8px;
  background-image: url(/static/images/korea/culture/__sprite/return.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.order-status .table-order .goods .goodsin .service a {
  display: block;
  clear: both;
  font-style: normal;
}
.order-status .table-order .goods .goodsin .service a:hover {
  text-decoration: underline;
}
.order-status .table-order .goods .goodsin .service i {
  display: block;
  clear: both;
  font-style: normal;
}
.order-status .table-order .status {
  width: 84px;
  border-right: 1px solid #f5ead0;
}
.order-status .table-order .status .row {
  width: 84px;
  clear: both;
  padding-top: 5px;
  text-align: center;
}
.order-status .table-order .status .row span {
  display: block;
  clear: both;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.order-status .table-order .status .row span .hovering {
  cursor: pointer;
  position: absolute;
  top: 3px;
  top: 2px\0;
  width: 13px;
  height: 13px;
  background-image: url(/static/images/korea/culture/__sprite/hovering.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.order-status .table-order .status .row span .hovering .layer {
  display: none;
  position: relative;
  left: 0;
  top: 0;
  width: 100px;
  background-image: url(/static/images/korea/culture/__sprite/hovering-layer.icon.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  font-style: normal;
}
.order-status .table-order .status .row span .hovering .layer em {
  display: block;
  width: 90%;
  margin: 5px auto 1px auto;
  padding: 15px 0px 13px 0px;
  font-style: normal;
  text-align: left;
  color: #666;
  word-break: break-all;
  word-wrap: break-word;
}
.order-status .table-order .status .row span .hovering .layer .bm {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 4px;
  background-image: url(/static/images/korea/culture/__sprite/hovering-layer.icon.png);
  background-repeat: no-repeat;
  background-position: -120px -7px;
}
.order-status .table-order .status .row span .hovering .layer:hover {
  display: block;
  left: -67px;
  top: 10px;
}
.order-status .table-order .status .row span .hovering:hover .layer {
  display: block;
  left: -67px;
  top: 10px;
}
.order-status .table-order .status .row span.normal {
  color: #3b7700;
}
.order-status .table-order .status .row span.closed {
  color: #999;
}
.order-status .table-order .paying {
  width: 156px;
  border-left: 1px solid #f5ead0;
  vertical-align: middle;
}
.order-status .table-order .paying .rmb {
  color: #464646;
  font-weight: bold;
  text-align: center;
  font-family: "Tahoma";
  font-size: 16px;
}
.order-status .table-order .paying .rmb .y {
  font-family: "微软雅黑", Microsoft YaHei;
}
.order-status .table-order .paying .fee {
  padding-top: 5px;
  color: #999;
}
.order-status .table-order .paying .fee .y {
  font-family: "微软雅黑", Microsoft YaHei;
}
.order-status .table-order .paying a {
  display: block;
  clear: both;
  font-style: normal;
}
.order-status .table-order .paying i {
  display: block;
  clear: both;
  font-style: normal;
}
.order-status .table-order .paying .row {
  width: 174px;
  clear: both;
  padding-top: 5px;
  text-align: center;
}
.order-status .table-order .handle {
  width: 110px;
}
.order-status .table-order .handle .row {
  width: 110px;
  clear: both;
  padding-top: 5px;
  text-align: center;
}
.order-status .table-order .handle .row .btns {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #ffffff;
  height: 20px;
  line-height: 18px;
  padding: 1px 15px;
  background-color: #d60e0e;
  text-decoration: none;
  border: 1px solid #d60e0e;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  line-height: 20px;
  margin-bottom: auto;
}
.order-status .table-order .handle .row .btns:hover {
  color: #ffffff;
  border: 1px solid #d60e0e;
  background-color: #d60e0e;
}
.order-status .table-order .handle .look {
  color: #5684BC;
}
.order-status .table-order .handle .cancel {
  color: #999;
}
.order-status .table-order .handle span {
  display: block;
  clear: both;
}
.order-status .table-order .handle a {
  display: block;
  clear: both;
  margin-top: 2px;
}
.order-status .table-order .handle a:hover {
  text-decoration: underline;
}
.order-status .table-order .handle i {
  cursor: pointer;
  display: block;
  clear: both;
  font-style: normal;
}
.order-status .table-order .realpay {
  width: 158px;
  border-left: 1px solid #f5ead0;
  vertical-align: middle;
}
.order-status .table-order .realpay .rmb {
  color: #464646;
  font-weight: bold;
  text-align: center;
  font-family: "Tahoma";
  font-size: 16px;
  clear: both;
  display: block;
}
.order-status .table-order .realpay .rmb .y {
  font-family: "微软雅黑", Microsoft YaHei;
}
.h611 {
  height: 611px;
}
.pb60 {
  padding-bottom: 60px;
}
.order-success {
  width: 978px;
  margin: 20px auto;
  border: 1px solid #e1e1e1;
  padding: 62px 0px;
}
.order-success .line {
  margin: 11px 350px;
  overflow: hidden;
}
.order-success .line .success {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-family: "Microsoft YaHei";
  font-size: 28px;
  color: #666;
  text-indent: 57px;
  background: url(/static/images/korea/culture/__sprite/success.png?__sprite) no-repeat left top;
}
.order-success .line .lb {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  vertical-align: middle;
}
.order-success .line .y {
  color: #999;
  font-size: 18px;
  font-family: "Microsoft YaHei";
  vertical-align: middle;
}
.order-success .line .red {
  color: #e81818;
  font-family: "Tahoma";
  font-size: 24px;
  vertical-align: middle;
}
.order-success .line .gray {
  color: #666666;
  vertical-align: middle;
}
.order-success .line .btn-lookorder {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #ffffff;
  height: 36px;
  line-height: 34px;
  padding: 1px 15px;
  background-color: #e81818;
  text-decoration: none;
  border: 1px solid #e81818;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  float: left;
  display: inline;
}
.order-success .line .btn-lookorder:hover {
  color: #ffffff;
  border: 1px solid #e81818;
  background-color: #e81818;
}
.order-success .line .close-page {
  color: #999;
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
}
.order-success .line .close-page:hover {
  text-decoration: underline;
}
.order-refuse {
  width: 980px;
  border-top: 2px solid #eeeeee;
  clear: both;
  margin: 20px auto;
  overflow: hidden;
}
.order-refuse .refuse-l {
  width: 725px;
  float: left;
  display: inline;
  padding: 68px 0px;
}
.order-refuse .refuse-l .btn-moneyback {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #ffffff;
  height: 36px;
  line-height: 34px;
  padding: 1px 35px;
  background-color: #e81818;
  text-decoration: none;
  border: 1px solid #e81818;
  cursor: pointer;
  overflow: visible;
  vertical-align: middle;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  float: left;
  display: inline;
  margin-left: 120px;
}
.order-refuse .refuse-l .btn-moneyback:hover {
  color: #ffffff;
  border: 1px solid #e81818;
  background-color: #e81818;
}
.order-refuse .refuse-l .row {
  margin: 10px auto;
  padding-left: 53px;
}
.order-refuse .refuse-l .row .i {
  font-style: normal;
  vertical-align: middle;
  color: #e81818;
}
.order-refuse .refuse-l .row .normal {
  color: #666666;
  float: left;
  display: inline;
  margin-left: 20px;
  line-height: 200%;
}
.order-refuse .refuse-l .row .y {
  font-family: "Microsoft YaHei";
  color: #333;
}
.order-refuse .refuse-l .row .sum {
  font-family: "Tahoma";
  color: #e81818;
  font-size: 16px;
}
.order-refuse .refuse-l .row .lb {
  float: left;
  width: 100px;
  display: inline;
  text-align: right;
  font-size: 14px;
}
.order-refuse .refuse-l .row .sel {
  float: left;
  display: inline;
  width: 180px;
  margin-left: 20px;
  margin-top: 4px;
}
.order-refuse .refuse-l .row .money {
  float: left;
  display: inline;
  margin-left: 20px;
}
.order-refuse .refuse-l .row .txt-reason {
  width: 550px;
  height: 110px;
  float: left;
  display: inline;
  margin-left: 20px;
}
.order-refuse .refuse-r {
  width: 213px;
  float: right;
  display: inline;
  padding: 90px 0px 0px 0px;
}
.order-refuse .refuse-r .hd {
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.order-refuse .refuse-r .img {
  width: 213px;
  height: 213px;
  margin-top: 10px;
  display: block;
}
.order-refuse .refuse-r .img img {
  width: 213px;
  height: 213px;
}
.order-refuse .refuse-r .link {
  width: 213px;
  margin-top: 15px;
  word-break: break-all;
  word-wrap: break-word;
}
.order-refuse .refuse-r .link a {
  color: #666666;
}
.order-refuse .refuse-r .link a:hover {
  text-decoration: underline;
}
.order-refuse .refuse-r .link .y {
  font-family: "Microsoft YaHei";
}
.order-refuse .refuse-r .link .money {
  color: #e81818;
  font-size: 14px;
  margin-top: 5px;
  font-family: "Tahoma";
  font-weight: bold;
}
