strong{font-weight: bold;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.orange{ color:#eb7e00;}
.img-con img{ min-height: 100%;min-width: 100%;}
.arrow-r{border-color:  transparent transparent  transparent #ccc;  border-style:  dashed dashed  dashed solid;  border-width: 5px;  font-size: 0;  height: 0;  line-height: 0;  width:0; display:inline-block;vertical-align: middle;}
.list-h li{float:left;}
img{vertical-align: top;}
.mt20{margin-top:20px;}
.vh{font-size:0;line-height: 0;overflow: hidden;}
.business{background-color: #eb7e00;}
.wp{position: relative;}
/*www base e*/
.main {height:617px; position: relative;background: url(../../../images/huodong/choujiang/zhuanpan_bg.png) repeat-x scroll 0 0 transparent;}
.main__bottom{position:absolute;left:0;bottom:0;height:110px;background: url(../../../images/huodong/choujiang/zhuanpan_bg_bottom.png) no-repeat scroll 0 0 transparent; }
.header{background: #fff;}
.lt-list{background-color: #FFF9CF; padding:0 16px 7px;position: absolute; overflow: hidden;right:102px; top:218px;border:2px solid #A41700;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.lt-list .title{font-size:20px;font-family:\5FAE\8F6F\96C5\9ED1;font-weight: 700;color:#eb7e00;}
.lt-list .img-con{height:40px; width:40px; overflow: hidden; float: left;}
.lt-list  .rt{margin:0 0 0 50px; line-height:1.5;}
.lt-list  li{ overflow: hidden; zoom:1;padding:7px 0;  }
.lt-list .tp{color:#333;white-space:nowrap; word-wrap: normal; height:18px; overflow: hidden; text-overflow:ellipsis;}
.lt-list .bt{color:#666;white-space:nowrap; word-wrap: normal; height:18px; overflow: hidden; text-overflow:ellipsis;}
.lt-list h2 { padding: 6px 0;}
.lottery{position: absolute;left:88px; top:20px;}
.ly-plate{position:relative; width:558px; height:553px; }
.rotate-bg{width:558px; height:553px;background-repeat:no-repeat;background-position: 0 0; }
.rotate-day{background-image: url(../../../images/huodong/choujiang/zhuanpan_day.png);}
.rotate-week{background-image: url(../../../images/huodong/choujiang/zhuanpan_week.png);}
.ly-plate div.lottery-star{width:348px; height:348px; position:absolute; top:90px; left:106px; /*text-indent:-999em; overflow:hidden; background:url(rotate-static.png); -webkit-transform:rotate(0deg);*/ outline:none }
.ly-plate div.lottery-star #lotteryBtn{cursor: pointer; position: absolute; top:0; left:0; }

/*----@lottery-type s----*/
.vh{font-size:0;overflow: hidden;line-height: 0;}
.lottery-type{position: absolute;left:682px;top:35px;width:240px;height:40px;padding-top:130px;background-image: url(../../../images/huodong/choujiang/zhuanpan_txt.png);background-repeat: no-repeat;background-attachment: scroll;}
.lottery-day{background-position: 0 -200px;}
.lottery-week{background-position: -240px -200px;}
.time-countdown{width:194px;height:36px;line-height:36px;text-align:center;border:1px solid #008DBC;border-radius:2px;background-color: #00AAE2;color:#fff;font-family: "黑体";font-size:20px;}
.lottery-txt{position: absolute;background-image: url(../../../images/huodong/choujiang/zhuanpan_txt.png);background-repeat: no-repeat;background-attachment: scroll;f}
.lottery-txt1{width:104px;height:109px;top:54px;left:102px;background-position: 0 0;}
.lottery-txt2{width:263px;height:256px;top:6px;left:398px;background-position: 0 -440px;}
.lottery-txt3{width:265px;height:274px;top:6px;left:398px;background-position: 0 -696px;}
.guize{top:322px;left:6px;position: absolute;width:250px;height:275px;background-image: url(../../../images/huodong/choujiang/guize.png);background-repeat: no-repeat;background-attachment: scroll;}
.guize-day{background-position: 0 0;}
.guize-week{background-position: -250px 0;}
.guize-line{position: absolute;width:1px;height:334px;background-color: #EB7E00}
.guize-line1{left:36px;}
.guize-line2{left:76px;}
/*----@lottery-type e----*/

.cl-ffd{color:#ffd81d;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.vh{font-size:0;overflow: hidden;line-height: 0;}
/*----@popup s----*/
.popup{position:absolute;left:50%;margin-left:-330px;top:320px;overflow:hidden;width:370px;height:268px;padding:0 30px;background: url(../../../images/huodong/choujiang/popup_bg.png) no-repeat scroll;}
.popup .close{position:absolute;top:10px;right:20px;width:17px;height:17px;background: url(../../../images/huodong/choujiang/popup_bg.png) no-repeat -200px -268px scroll;cursor: pointer;}
.popup .title{margin-top: 50px;color:#fff;font-weight: 700;font-size:24px;font-family: \5FAE\8F6F\96C5\9ED1}
.popup-thanks{width:130px;height:142px;background-position: 0 -268px;}
.popup-thanks .title{margin-top: 35px;text-align: center;}
.popup-thanks .close{right:10px;}
.popup-in{width:334px;height:100px;padding:10px;background-color: #E27806;color:#fff;font-size:16px;font-family: \5FAE\8F6F\96C5\9ED1}
/*----@popup e----*/
/*----@btn s----*/
.btn-box{text-align: center}
.btn{display: inline-block;*display: inline;*zoom: 1;vertical-align:middle;height:40px;line-height:40px;padding:0 16px;border-width:1px;border-style:solid;color:#fff;font-family: \5FAE\8F6F\96C5\9ED1;text-decoration: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
	box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
}
.btn-1{font-size: 22px;background-color: #FA1E1E;border-color:#C21212;}
.btn-1:hover{color:#fff;}
.btn-2{font-size: 16px;background-color: #FDDC4C;border-color:#CF740B;color:#c16b08;}
.btn-2:hover{color:#c16b08;}
/*----@btn e----*/

/*----@form s----*/
.form{margin-top: 15px;}
.form-title{margin:15px 0;color:#fff;font-size:16px;text-align: center;font-family: \5FAE\8F6F\96C5\9ED1}
.form .input-txt{width:256px;height:18px;border:none;border-bottom:1px solid #EA9C48;background-color:#E27806}
.form .label{float:left;width:70px;font-size: 14px;}
.warning-tips{font-size:12px;padding:3px 6px;border:1px solid #CF740B;background-color: #FFCF7B;color:#ae5d00;}
.click-here{font-size:24px;color:#fff;font-family: \5FAE\8F6F\96C5\9ED1;vertical-align: middle;margin-right: 6px;}
/*----@form e----*/


.search-icon { background: url("../../../images/search/gotosearch.png") no-repeat 0 14px; float: left;height: 47px;width: 200px; }


.user-scroll-box { position: relative; height: 324px; width:160px; overflow: hidden;}
.user-scroll-box .box { top:0; position: absolute;  width:160px;}
