.cl-ffd{color:#ffd81d;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.vh{font-size:0;overflow: hidden;line-height: 0;}
/*----@popup s----*/
.popup{position:absolute;overflow:hidden;width:370px;height:268px;padding:0 30px;background: url(../../../images/huodong/choujiang/popup_bg.png) no-repeat scroll;}
.popup .close{position:absolute;top:10px;right:20px;width:17px;height:17px;background: url(../../../images/huodong/choujiang/popup_bg.png) no-repeat -200px -268px scroll;cursor: pointer;}
.popup .title{margin-top: 50px;color:#fff;font-weight: 700;font-size:24px;font-family: \5FAE\8F6F\96C5\9ED1}
.popup-thanks{width:130px;height:142px;background-position: 0 -268px;}
.popup-thanks .title{margin-top: 35px;text-align: center;}
.popup-thanks .close{right:10px;}
.popup-in{width:334px;height:100px;padding:10px;background-color: #E27806;color:#fff;font-size:16px;font-family: \5FAE\8F6F\96C5\9ED1}
/*----@popup e----*/
/*----@btn s----*/
.btn-box{text-align: center}
.btn{display: inline-block;*display: inline;*zoom: 1;vertical-align:middle;height:40px;line-height:40px;padding:0 16px;border-width:1px;border-style:solid;color:#fff;font-family: \5FAE\8F6F\96C5\9ED1;text-decoration: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
	box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
}
.btn-1{font-size: 22px;background-color: #FA1E1E;border-color:#C21212;}
.btn-1:hover{color:#fff;}
.btn-2{font-size: 16px;background-color: #FDDC4C;border-color:#CF740B;color:#c16b08;}
.btn-2:hover{color:#c16b08;}
/*----@btn e----*/

/*----@form s----*/
.form{margin-top: 15px;}
.form-title{margin:15px 0;color:#fff;font-size:16px;text-align: center;font-family: \5FAE\8F6F\96C5\9ED1}
.form .input-txt{width:256px;height:18px;border:none;border-bottom:1px solid #EA9C48;background-color:#E27806}
.form .label{float:left;width:70px;font-size: 14px;}
.warning-tips{font-size:12px;padding:3px 6px;border:1px solid #CF740B;background-color: #FFCF7B;color:#ae5d00;}
.click-here{font-size:24px;color:#fff;font-family: \5FAE\8F6F\96C5\9ED1;vertical-align: middle;margin-right: 6px;}
/*----@form e----*/