.clearfix:after, .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix, .cf{ *zoom:1;}
.clear, .c { clear:both; }

.l { float: left;}
.r { float: right;}
table .l { float:none;}
.frame { background: none;}

.sp { padding: 0 5px; color:#999; }

.f-yh,h2,h3,.crumb { font-family:\5FAE\8F6F\96C5\9ED1; }

a { color:#333; }
a:hover {  text-decoration:underline; }

.cols,.rows { overflow: hidden;}

.mar-2 { margin:2px; }
.mar-4 { margin:4px; }
.mar-6 { margin:6px; }
.mar-8 { margin:8px; }
.mar-10 { margin:10px; }
.mar-15 { margin:15px; }
.mar-20 { margin:20px; }

.mar-t-2 { margin-top:2px;}
.mar-t-4 { margin-top:4px;}
.mar-t-6 { margin-top:6px;}
.mar-t-8 { margin-top:8px;}
.mar-t-10 { margin-top:10px;}
.mar-t-15 { margin-top:15px;}
.mar-t-20 { margin-top:20px;}

.mar-b-2 { margin-bottom:2px;}
.mar-b-4 { margin-bottom:4px;}
.mar-b-6 { margin-bottom:6px;}
.mar-b-8 { margin-bottom:8px;}
.mar-b-10 { margin-bottom:10px;}
.mar-b-15 { margin-bottom:15px;}
.mar-b-20 { margin-bottom:20px;}

.mar-l-2 { margin-left:2px;}
.mar-l-4 { margin-left:4px;}
.mar-l-6 { margin-left:6px;}
.mar-l-8 { margin-left:8px;}
.mar-l-10 { margin-left:10px;}
.mar-l-15 { margin-left:15px;}
.mar-l-20 { margin-left:20px;}

.mar-r-2 { margin-right:2px;}
.mar-r-4 { margin-right:4px;}
.mar-r-6 { margin-right:6px;}
.mar-r-8 { margin-right:8px;}
.mar-r-10 { margin-right:10px;}
.mar-r-15 { margin-right:15px;}
.mar-r-20 { margin-right:20px;}

.mar-tb-2 { margin-top:2px; margin-bottom:2px;}
.mar-tb-4 { margin-top:4px; margin-bottom:4px;}
.mar-tb-6 { margin-top:6px; margin-bottom:6px;}
.mar-tb-8 { margin-top:8px; margin-bottom:8px;}
.mar-tb-10 { margin-top:10px; margin-bottom:10px;}
.mar-tb-15 { margin-top:15px; margin-bottom:15px;}
.mar-tb-20 { margin-top:20px; margin-bottom:20px;}

.mar-lr-2 { margin-left:2px; margin-right:2px;}
.mar-lr-4 { margin-left:4px; margin-right:4px;}
.mar-lr-6 { margin-left:6px; margin-right:6px;}
.mar-lr-8 { margin-left:8px; margin-right:8px;}
.mar-lr-10 { margin-left:10px; margin-right:10px;}
.mar-lr-15 { margin-left:15px; margin-right:15px;}
.mar-lr-20 { margin-left:20px; margin-right:20px;}

.pad-0 { padding:0px ; }
.pad-2 { padding:2px; }
.pad-4 { padding:4px; }
.pad-6 { padding:6px; }
.pad-8 { padding:8px; }
.pad-10 { padding:10px; }
.pad-15 { padding:15px; }
.pad-20 { padding:20px; }

.pad-t-2 { padding-top:2px; }
.pad-t-4 { padding-top:4px; }
.pad-t-6 { padding-top:6px; }
.pad-t-8 { padding-top:8px; }
.pad-t-10 { padding-top:10px; }
.pad-t-15 { padding-top:15px; }
.pad-t-20 { padding-top:20px; }

.pad-b-2 { padding-bottom:2px; }
.pad-b-4 { padding-bottom:4px; }
.pad-b-6 { padding-bottom:6px; }
.pad-b-8 { padding-bottom:8px; }
.pad-b-10 { padding-bottom:10px; }
.pad-b-15 { padding-bottom:15px; }
.pad-b-20 { padding-bottom:20px; }

.pad-l-2 { padding-left:2px; }
.pad-l-4 { padding-left:4px; }
.pad-l-6 { padding-left:6px; }
.pad-l-8 { padding-left:8px; }
.pad-l-10 { padding-left:10px; }
.pad-l-15 { padding-left:15px; }
.pad-l-20 { padding-left:20px; }

.pad-r-2 { padding-right:2px; }
.pad-r-4 { padding-right:4px; }
.pad-r-6 { padding-right:6px; }
.pad-r-8 { padding-right:8px; }
.pad-r-10 { padding-right:10px; }
.pad-r-15 { padding-right:15px; }
.pad-r-20 { padding-right:20px; }

.pad-tb-2 { padding-top:2px; padding-bottom:2px;}
.pad-tb-4 { padding-top:4px; padding-bottom:4px;}
.pad-tb-6 { padding-top:6px; padding-bottom:6px;}
.pad-tb-8 { padding-top:8px; padding-bottom:8px;}
.pad-tb-10 { padding-top:10px; padding-bottom:10px;}
.pad-tb-15 { padding-top:15px; padding-bottom:15px;}
.pad-tb-20 { padding-top:20px; padding-bottom:20px;}

.pad-lr-2 { padding-left:2px; padding-right:2px;}
.pad-lr-4 { padding-left:4px; padding-right:4px;}
.pad-lr-6 { padding-left:6px; padding-right:6px;}
.pad-lr-8 { padding-left:8px; padding-right:8px;}
.pad-lr-10 { padding-left:10px; padding-right:10px;}
.pad-lr-15 { padding-left:15px; padding-right:15px;}
.pad-lr-20 { padding-left:20px; padding-right:20px;}

body { color:#999;}

.wp { width:980px; margin:20px auto 30px; _overflow:hidden; }

.bg-index { background-image:url("../../images/tiao/index.png"); _background-image:url("../../images/tiao/index.png"); background-repeat:no-repeat;}
.icon {background-image:url("../../images/tiao/icons.png"); _background-image:url("../../images/tiao/icons.png"); background-repeat:no-repeat; }
.bg-btn { background-image: url("../../images/tiao/btn-bg.png"); background-repeat: no-repeat;}


/* 头部 */
.header .top  { width:980px; margin:auto; height:85px; padding-top: 15px; background:url("../../images/tiao/top-bg.png") no-repeat 210px 32px; }

.tiao .header-nav{background: #f74d94;}
.tiao .header-nav ul li{ border-left: 1px solid #f679ad;}
.tiao .header-nav ul li.nob { border-left:none;}
.tiao .header-nav ul li a:hover{ background-color: #d62e74;}
.tiao .header-nav ul li a.this,.tiao .header-nav ul li a.this:hover{background-color: #fff; color:#333;}
.tiao .header-nav ul li.b5m-home a{ background: #de4585 url(../../images/common/header-nav.png) no-repeat  -110px 13px;}
.tiao .header-search{ background: #fff; height: 32px; padding: 7px 0; border-bottom:1px solid #e7e6e6;}
.tiao .header-rearch-submit{background: #f74d94; *margin-left:-1px; *margin-top:-1px; _margin-top:1px;}
.tiao .header-nav ul li a { color:#fff;}
.tiao .header-nav ul li a:hover { text-decoration: none;}
.tiao .header-nav ul li.b5m-home { border-left:none; }
.tiao .header-nav ul li.b5m-home a:hover {background-color: #d62e74;}

.header-search-key.focus { color:#C5000D;}
.header-search-content label { background: url("../../images/tiao/header-nav.png") no-repeat; }
.header-rearch-hotkey a,.header-rearch-hotkey { color:#666;}

.sprite{background:url(../../images/tiao/icons.png) no-repeat }
.panel-nav{height:55px; margin:10px -36px 0 0;}
.panel-nav span,.panel-nav a{width:50px;height:12px;margin-right:36px;float:left;_display:inline; color:#666;font:normal 12px/150% '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53';text-align:center;white-space:nowrap;padding-top:38px;}

.floor-tit-num{ _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/floor-tit.png", sizingMethod="crop"); }
.floor-tit-more{  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://staticcdn.b5m.com/static/images/common/floor-tit-ie6.png", sizingMethod="crop"); }



/* 楼层 */
.floor-content {  margin-bottom: 20px; }
.slider-arr:hover { text-decoration: none;}
.floor-news { float:left;}
.slider-tiao { float:right; margin-top:16px;}
.floor-news { margin-top: 10px;}

.slider-nav .more { float:right; margin-right:27px;}

.floor-tit.fl1{ border-bottom-color:#ec497b;}
.floor-tit.fl1 .floor-tit-num,.floor-tit.fl1 .floor-tit-more{ background-color:#ec497b;}
.floor-content.fl1 .slider-tiao { border-color:#ec497b;}
.floor-content.fl1 .slider-tiao li.cur a,.floor-content.fl1 .slider-tiao .slider-nav-li a:hover { background-color: #ec497b;}
.floor-content.fl1 .slider-tiao .slider-nav-li em { border-color:#ec497b transparent transparent; }
.floor-content.fl1 .slider-tiao .slider-nav-li a,.floor-content.fl1 .slider-tiao .more a { color:#333;}
.floor-content.fl1 .slider-tiao .slider-page a.cur,.floor-content.fl1 .slider-tiao .slider-page a:hover { background-color: #ec497b;}

.floor-tit.fl2{ border-bottom-color:#ec4960;}
.floor-tit.fl2 .floor-tit-num,.floor-tit.fl2 .floor-tit-more{ background-color:#ec4960;}
.floor-content.fl2 .slider-tiao { border-color:#ec4960;}
.floor-content.fl2 .slider-tiao li.cur a,.floor-content.fl2 .slider-tiao .slider-nav-li a:hover { background-color: #ec4960;}
.floor-content.fl2 .slider-tiao .slider-nav-li em { border-color:#ec4960 transparent transparent; }
.floor-content.fl2 .slider-tiao .slider-nav-li a,.floor-content.fl2 .slider-tiao .more a { color:#333;}
.floor-content.fl2 .slider-tiao .slider-page a.cur,.floor-content.fl2 .slider-tiao .slider-page a:hover { background-color: #ec4960;}

.floor-tit.fl3{ border-bottom-color:#de4e8f;}
.floor-tit.fl3 .floor-tit-num,.floor-tit.fl3 .floor-tit-more{ background-color:#de4e8f;}
.floor-content.fl3 .slider-tiao { border-color:#de4e8f;}
.floor-content.fl3 .slider-tiao li.cur a,.floor-content.fl3 .slider-tiao .slider-nav-li a:hover { background-color: #de4e8f;}
.floor-content.fl3 .slider-tiao .slider-nav-li em { border-color:#de4e8f transparent transparent; }
.floor-content.fl3 .slider-tiao .slider-nav-li a,.floor-content.fl3 .slider-tiao .more a { color:#333;}
.floor-content.fl3 .slider-tiao .slider-page a.cur,.floor-content.fl3 .slider-tiao .slider-page a:hover { background-color: #de4e8f;}

.floor-tit.fl4{ border-bottom-color:#dd4d4d;}
.floor-tit.fl4 .floor-tit-num,.floor-tit.fl4 .floor-tit-more{ background-color:#dd4d4d;}
.floor-content.fl4 .slider-tiao { border-color:#dd4d4d;}
.floor-content.fl4 .slider-tiao li.cur a,.floor-content.fl4 .slider-tiao .slider-nav-li a:hover { background-color: #dd4d4d;}
.floor-content.fl4 .slider-tiao .slider-nav-li em { border-color:#dd4d4d transparent transparent; }
.floor-content.fl4 .slider-tiao .slider-nav-li a,.floor-content.fl4 .slider-tiao .more a { color:#333;}
.floor-content.fl4 .slider-tiao .slider-page a.cur,.floor-content.fl4 .slider-tiao .slider-page a:hover { background-color: #dd4d4d;}

.floor-tit.fl5{ border-bottom-color:#e14679;}
.floor-tit.fl5 .floor-tit-num,.floor-tit.fl5 .floor-tit-more{ background-color:#e14679;}
.floor-content.fl5 .slider-tiao { border-color:#e14679;}
.floor-content.fl5 .slider-tiao li.cur a,.floor-content.fl5 .slider-tiao .slider-nav-li a:hover { background-color: #e14679;}
.floor-content.fl5 .slider-tiao .slider-nav-li em { border-color:#e14679 transparent transparent; }
.floor-content.fl5 .slider-tiao .slider-nav-li a,.floor-content.fl5 .slider-tiao .more a { color:#333;}
.floor-content.fl5 .slider-tiao .slider-page a.cur,.floor-content.fl5 .slider-tiao .slider-page a:hover { background-color: #e14679;}


.floor-news-desc { background-color: #333;}
.floor-content .slider.slider-tiao .slider-nav-li.cur a { color:#fff;}
.floor-content .slider.slider-tiao .slider-nav-li a:hover { color:#fff;}
.floor-content .slider.slider-tiao .slider-page a.more:hover { background: none; }


/* 首页banner */
.banner { margin-bottom: 20px;}
.banner .cols { width:745px;}
.banner ul {  margin-right: -15px;}
.banner ul li { width:80px; height:80px; overflow: hidden; float:left; margin: 0 15px 10px 0; position: relative;}
.banner ul i { position: absolute; bottom:0px; left:0px; background:url("../../images/tiao/bg-alpha.png"); line-height: 22px; padding:0 5px; color:#fff; font-style:normal;}
.banner ul a:hover { text-decoration: none; }
.banner ul a:hover img { filter:alpha(opacity=80); opacity:0.8; }
.banner ul a:hover i { color:#ff7979;}
.banner .info { width:208px; height:168px; border:1px solid #ccc;}
.banner .info h3 { width:121px; height: 15px; margin: 20px 0 15px 15px; text-indent: -9999px; }
.banner ol { margin-left: 15px;}
.banner ol li { padding-left:20px; background-position: 0px -76px; color:#666; margin-bottom: 8px; }


/*详情页*/
.wp.detail { padding:20px; border:1px solid #e2e2e5; width:938px; font-family:\5FAE\8F6F\96C5\9ED1;}
.detail-head { padding-bottom: 20px; border-bottom: 1px solid #e2e2e5;}
.detail-head a { color:#238acc;}
.downb5tao,.mobb5m { width:184px; height:50px; display: block; float:left; text-indent: -9999px;}
.downb5tao { background-position: 0px -120px; }
.downb5tao:hover { background-position: 0px -170px;}
.mobb5m { background-position: -184px -120px; }
.mobb5m:hover { background-position: -184px -170px;}

.detail-left { float:left; width:550px; background:#fafafa;}
.detail-right { float:right; width:370px; padding-top:20px;}
.show-pic { padding:30px 0; margin-bottom: 20px; text-align: center;}
.share { font-weight: bold; color:#333; margin-bottom: 10px; padding-bottom: 20px; border-bottom:1px solid #e4e4e4;}
.pics-title { color:#709811; line-height: 40px; height:40px;}
.pics-title a { color:#709811;}
.pics-title h3 { float:left;}
.pics-title span { display: block; float:right;}
.detail-left ul { margin:0 -6px 20px 2px;}
.detail-left li { float:left; margin-right:6px; margin-bottom:6px;}
.detail-left img { border:1px solid #dcdcdc;}

.btn-like { width:75px; height:30px; background-position: 0px -230px; display: block; text-indent: -9999px;}
.btn-like:hover { background-position: 0px -260px;}
em.eye { padding-left: 20px; margin-right: 20px; background-position: 0px -328px; color:#333;}
em.like {padding-left:15px; background-position: 0px -304px; color:#333;}

.detail-right h1 { font-size:16px; line-height: 30px; margin:20px 0 65px 0; color:#000;}

.btn-buy { display: block; float:left; margin-bottom:60px;}
.btn-buy em { display: block; height:39px; float:left; width:25px; }
.btn-buy span { background-position:right -40px; display: block; float:left; line-height: 39px; padding-right: 25px; color:#fff; text-shadow:1px 1px 1px #d1672c; font-size:16px;}
.btn-buy:hover em { background-position: 0px -80px;}
.btn-buy:hover span { background-position: right -120px;}

.detail-right  h4 { color:#333; font-size: 14px; font-weight: bold;}
.detail-right  h4 em { font-weight: normal; color:#999;}
.detail-right .pro-list { border-bottom: 1px solid #e4e4e4; margin-bottom: 20px;}
.detail-right .pro-list li { margin-top: 15px; overflow: hidden;}
.detail-right .pro-list li .pic { float:left;  }
.detail-right .pro-list li .text { float:right; width:290px; color:#656565;}
.detail-right .pro-list li .text p { margin-bottom: 4px;}
.detail-right .pro-list li .text em { color:#ee395f; margin-left: 50px; }

.like-panel { position:relative; }
.like-panel .actionlike { display: none;  width:118px; height:61px; position: absolute; bottom:24px; left:-10px; }
.like-panel .actionlike.on { display: block;}
.like-panel .haslike { display: none; width:116px; background: url("../../images/tiao/has_like.gif") no-repeat; height:36px; position: absolute; bottom:32px; left:-11px;}
.like-panel .haslike.on { display: block;}

.b2c-links-border{border-top:3px solid #5d5d5d;height:20px;overflow:hidden}

.discuss-input { margin-top: 15px;}
.discuss-input .head { float:left; }
.discuss-input .input { float:right; width:295px; position: relative;}
.discuss-input .input .lab { position: absolute ; top:5px; left:5px;}
.discuss-input .input .field { width:290px; height:72px; line-height: 24px; overflow: hidden; resize: none; font-family: "Arial";}
.discuss-input .btn-box { margin-top: 10px;}
.discuss-input .textnum { float:left; }
.discuss-input .startsub,.startreply { float:right; width:66px; height:26px; line-height: 26px; text-align: center; background-position: 0px -180px;}
.discuss-input .startsub:hover,.startreply:hover { color:#f06735;}
.yy { font-weight: bold;}

.reply-box { text-align: right;  padding-top: 4px; width:310px; position: relative; display: none;}
.reply-box textarea { width:290px; height:48px; line-height: 24px; overflow: hidden; resize: none; margin-bottom: 5px; font-family: "Arial";}
.reply-box em {width:10px;height:5px; background-position: 0px -440px; overflow:  hidden; position: absolute; top:0px; right:10px;}

#J_commentList { margin-top: 20px;}
#J_commentList .head { float:left; width:50px;}
#J_commentList .text { float:right; width: 310px; }
#J_commentList .text em { color:#999; margin-left: 10px;}
#J_commentList li { border-top:1px dotted #ddd; padding:10px 0;}
#J_commentList li.hover { background: #fbfbfb;}
#J_commentList p {margin:4px 0;}
#J_commentList .reply { text-align: right;}
#J_commentList .reply a { color:#888; }
#J_commentList .reply a:hover { color:#e95a5f;}
#J_commentList .more { text-align: center; border-top:1px solid #ddd; padding-top: 10px; margin-top: 10px;}
#J_commentList .more a { background-position: 80px -398px; padding-right: 20px;}
#J_commentList .more a:hover { color:#f06723;}


/***** 搜索结果页 *******/
/*详细分类*/
.search-nav { border:1px solid #e3e3e3; box-shadow:1px 1px 1px #eee; margin-bottom: 20px;}
.search-nav .headline { float:left; width:98px; height:100px; background:#f4f4f4; }
.search-nav h3 { width:75px; height:21px; background-position:0px -30px; text-indent: -9999px; margin:38px 10px;}
.search-nav ul { float:left; width:870px;  background: url("../../images/tiao/search-nav-bg.png") repeat-x left; padding-left: 10px;}
.search-nav li { float:left; width:88px; height:50px; line-height: 50px; background: url("../../images/tiao/search-nav-li.png") no-repeat right center; }
.search-nav li.last { width:78px; background: none;}
.search-nav li.cur { background: none;}
.search-nav li a { color:#7e7e7e; border-radius:2px; display: block; line-height: 28px; text-align: center; width:64px; height:28px; margin: 11px 0 0 0; font-size:14px;}
.search-nav li a:hover,.search-nav li.cur a { background:#f74d94; color:#fff; text-decoration: none;}

.crumb { color:#666; line-height: 20px; margin-bottom: 15px; font-family: \5FAE\8F6F\96C5\9ED1; font-size:14px;}
.crumb a { color:#333;}
.crumb span { font-family:\5b8b\4f53; color:#333; }
.crumb em { color:#f74d94;}

/* 瀑布图 */
.water { margin-right:-17px; padding-bottom: 32px;}
.water.load { background: url("../../images/tiao/loading.gif") no-repeat bottom center;}
.water .column { margin-right: 17px;}
.water .cell {  margin-bottom: 15px; background: #F7F7F7 url("../../images/tiao/bg-item.png") no-repeat bottom right; }
.water .cell .item { padding:6px 6px 10px; }
.water .cell .item .pic { position: relative; _zoom:1;}
.water .cell .item .pic a:hover { text-decoration: none;}
.water .cell .item .pic em { cursor:pointer; font-size:14px; font-weight: bold; position: absolute; bottom:10px;  right:2px; padding:0 8px 0 10px; height:22px; line-height: 22px; background: url("../../images/tiao/search-item-price.png") no-repeat; _background: #666; color:#fff; _filter:alpha(opacity=90);}
.water .cell .item .pic img { width:218px;}
.water .cell .info a { position: relative; background: url("../../images/tiao/icons.png") no-repeat; padding-left: 16px; float:left; display: block; height:20px; line-height: 20px; margin-right: 10px;}
.water .cell .info a:hover { text-decoration: none; }
.water .cell .info a b { font-weight: normal;}
.water .cell .info .views { background-position: 0px -327px;}
.water .cell .info .views:hover { background-position: -150px -327px;}
.water .cell .info .likes { background-position: 0px -303px; }
.water .cell .info .likes.hover { background-position: -150px -303px;}
.water .cell .info .dises { background-position: 0px -351px; }
.water .cell .info .dises:hover { background-position: -150px -351px;}
.water .cell .info .shares { background-position: 0px -370px;  float:right; margin-right: 0;}
.water .cell .info .shares:hover { background-position: -150px -370px;}
.water .cell .info a em { position: absolute; background: url("../../images/tiao/icons.png") no-repeat 0px -470px;  display: none; width:55px; height:23px; line-height: 23px; text-align: center; left:6px; top:-22px; }
.water .cell .info a.hover em {display: block;}
.water .cell .info .shares em { background-position: -60px -470px; left:-40px;}

.water .actionlike { display: none;  width:118px; height:61px; position: absolute; bottom:0px; left:-54px; }
.water .actionlike.on { display: block;}
.water .haslike { display: none; width:116px; background: url("../../images/tiao/has_like.gif") no-repeat; height:36px; position: absolute; bottom:12px; left:-48px;}
.water .haslike.on { display: block;}

.water .text { background: #f7f7f7; padding:2px 5px; margin:4px 0; line-height: 22px; color:#666;}
.water .msg { margin-top: -3px; _margin-top:-5px;}
.water .msg li { border-top:1px dotted #ddd; padding-top:6px; margin-top: 2px; }
.water .msg li img { width:32px; height:32px; float:left;}
.water .msg li p { float:right; width:175px; }

.water .comment { display: none; position: relative; height:32px; background: #fff; }
.water .comment img { float:left; width:32px; height:32px;}
.water .comment .field { padding-right:28px; padding-left: 4px; height:30px; line-height: 30px; border:1px solid #e8e8e8; float:right; width:146px;}
.water .comment a { display: block; width:23px; height:23px; text-indent: -9999px; position: absolute; top:4px; right:5px; background: url("../../images/tiao/btn-bg.png") no-repeat 0px -230px}
.water .comment.hover a {background-position: -23px -230px;}
.water .comment.hover .field { border-color:#888;}

.water .news {   padding:15px 0;}
.water .news h3 { width:72px; height:18px; margin:0 0 15px; padding-left: 15px; text-indent: -9999px; display: block;}
.water .news h3.new1 { background-position: 15px -70px;}
.water .news h3.new2 { background-position: 15px -100px;}
.water .news li { padding:0 15px 10px; margin-bottom: 10px; background: url("../../images/tiao/line-4.png") repeat-x bottom;}
.water .news li img { float:left; width:50px; height:50px; }
.water .news li dl { float:right; width:140px;}
.water .news li dt { font-weight: bold;}
.water .news h4 { font-weight: bold; margin-bottom:6px; padding:0 15px;}
.water .news p { padding:0 15px;}

.slider-item { height:300px;}