body {
  margin: 0;
}
.top-bg {
  width: 980px;
  margin: 0 auto;
}
.download_top {
  height: 61px;
  padding: 7px 0 6px;
  background: url("/static/images/app/b5m/download/logo.png") no-repeat 29px 7px;
}
.download_top a {
  display: inline-block;
  width: 200px;
  height: 61px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.download-head-wp {
  height: 667px;
  background: url("/static/images/app/b5m/download/bg.png") repeat-x;
}
.download_head {
  width: 100%;
  height: 667px;
  background: url("/static/images/app/b5m/download/download_bgpic1.png") no-repeat center top;
}
.dowload_introd {
  width: 100%;
  height: 505px;
}
.dowl_introd_center {
  width: 980px;
  height: 505px;
  margin: 0 auto;
  position: relative;
}
.downl_int_fort,
.downl_int_linkt,
.dowload_gengs_denterl,
.dowload_gengs_denterr {
  opacity: 0;
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
}
.downl_int_for {
  width: 980px;
  height: 187px;
  margin: 40px 0 0 0;
  position: absolute;
  left: -180px;
  top: 0px;
  background: url("/static/images/app/b5m/download/download_button1.png") no-repeat 0 0;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
}
.int_for_android,
.int_for_iphone {
  cursor: pointer;
  background: url("/static/images/app/b5m/download/icon-btn-hover.png") no-repeat;
}
.elastlaye-btn {
  background: url("/static/images/app/b5m/download/icon-btn.png") no-repeat;
}
.int_for_android,
.int_for_iphone {
  width: 188px;
  height: 66px;
  line-height: 0;
  font-size: 0;
  position: absolute;
  top: 33px;
  background-position: 0 0;
  -webkit-box-shadow: 0 2px 2px #E3E3E3;
  -moz-box-shadow: 0 2px 2px #E3E3E3;
  -ms-box-shadow: 0 2px 2px #E3E3E3;
  -o-box-shadow: 0 2px 2px #E3E3E3;
  box-shadow: 0 2px 2px #E3E3E3;
}
.int_for_android {
  left: 404px;
}
.int_for_iphone {
  left: 726px;
}
.int_for_android_hover,
.int_for_iphone:hover {
  background-position: 0 -75px;
}
.downl_int_link {
  width: 980px;
  height: 211px;
  position: absolute;
  right: -180px;
  bottom: 0px;
  background: url("/static/images/app/b5m/download/download_link1.png") no-repeat center 0;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
}
.downl_int_link a {
  position: absolute;
  top: 116px;
  left: 291px;
  width: 162px;
  height: 43px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  background: url(/static/images/app/b5m/download/link.png) no-repeat 0 0;
}
.downl_int_link a:hover {
  background-position: 0 -44px;
}
.downl_int_fort {
  opacity: 1;
  left: 0px;
}
.downl_int_linkt {
  opacity: 1;
  right: 0px;
}
.dowload_mygouwu {
  width: 980px;
  height: 107px;
  margin: 50px auto 0;
}
.mygouwu_piclog {
  width: 553px;
  height: 107px;
  margin-left: -128px;
  background: url("/static/images/app/b5m/download/download_gouwu.png") no-repeat 30% 0;
}
.dowload_gengsouji {
  width: 100%;
  height: 428px;
  border-top: 1px solid #dddddd;
}
.dowl_gengs_center {
  width: 980px;
  margin: 0 auto;
  position: relative;
  height: 428px;
}
.dowload_gengs_denterl {
  width: 441px;
  height: 155px;
  margin: 140px 0 0 40px;
  position: absolute;
  left: -180px;
  top: 0px;
  background: url("/static/images/app/b5m/download/download_geng1.png") no-repeat 0 0;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
}
.dowload_gengs_denterr {
  width: 381px;
  height: 412px;
  margin: 17px 40px 0 0;
  position: absolute;
  right: -180px;
  top: 0px;
  background: url("/static/images/app/b5m/download/download_shouji1.png") no-repeat 0 0;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
}
.dowload_gengs_denterl {
  opacity: 1;
  left: 0px;
}
.dowload_gengs_denterr {
  opacity: 1;
  right: 0px;
}
.dowload_backureg {
  background-color: #f9f9f9;
}
.dowload_backureg .dowload_gengs_denterl {
  width: 381px;
  height: 412px;
  margin: 16px 0 0 40px;
  background: url("/static/images/app/b5m/download/download_shouji2.png") no-repeat 0 0;
}
.dowload_backureg .dowload_gengs_denterr {
  width: 394px;
  height: 171px;
  margin: 140px 40px 0 0;
  background: url("/static/images/app/b5m/download/download_geng2.png") no-repeat 0 0;
}
.dowload_backbluck .dowload_gengs_denterl {
  width: 374px;
  height: 161px;
  background: url("/static/images/app/b5m/download/download_geng3.png") no-repeat 0 0;
}
.dowload_backbluck .dowload_gengs_denterr {
  width: 381px;
  height: 412px;
  margin: 16px 40px 0 0;
  background: url("/static/images/app/b5m/download/download_shouji3.png") no-repeat 0 0;
}
.backure_for .dowload_gengs_denterl {
  width: 381px;
  height: 412px;
  background: url("/static/images/app/b5m/download/download_shouji4.png") no-repeat 0 0;
}
.backure_for .dowload_gengs_denterr {
  width: 383px;
  height: 191px;
  background: url("/static/images/app/b5m/download/download_geng4.png") no-repeat 0 0;
}
.backure_five .dowload_gengs_denterl {
  width: 406px;
  height: 157px;
  background: url("/static/images/app/b5m/download/download_geng5.png") no-repeat 0 0;
}
.backure_five .dowload_gengs_denterr {
  width: 381px;
  height: 412px;
  background: url("/static/images/app/b5m/download/download_shouji5.png") no-repeat 0 0;
}
.dowload_footer {
  width: 100%;
  height: 529px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: #f9f9f9;
}
.dl_ft_center {
  width: 980px;
  height: 529px;
  margin: 0 auto;
  background: url("/static/images/app/b5m/download/download_footer.png") no-repeat 0 0;
}
.dowload_elastic_laye {
  display: none;
  width: 638px;
  height: 378px;
  border: 1px solid #cccccc;
  background-color: #f9f9f9;
  position: absolute;
  z-index: 210;
}
.elastic_laye_dele {
  width: 16px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url("/static/images/app/b5m/download/dowload_tanceng_delet.png") no-repeat 0 0;
}
.elastic_laye_center {
  margin: 50px;
  overflow: hidden;
}
.elastlaye_centre_left {
  float: left;
  width: 264px;
  height: 276px;
}
.elastlaye_left_middle {
  color: #999999;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  display: block;
  padding: 12px 0 0 75px;
}
.elastlaye_left_middle dfn {
  font-size: 20px;
  color: #333;
  display: block;
  font-style: normal;
  margin: 0 0 5px 0;
}
.elastlaye_centre_left a {
  display: block;
  margin-top: 65px;
}
.elastlaye_centre_right {
  width: 236px;
  height: 276px;
  float: right;
}
.elastlaye-iphone {
  background: url(/static/images/app/b5m/download/iphone.png) no-repeat 0 12px;
}
.elastlaye-android {
  background: url(/static/images/app/b5m/download/android.png) no-repeat 0 12px;
}
.elastlaye-btn {
  width: 229px;
  height: 88px;
  -webkit-box-shadow: 0 5px 5px #e7e7e7;
  -moz-box-shadow: 0 5px 5px #e7e7e7;
  -ms-box-shadow: 0 5px 5px #e7e7e7;
  -o-box-shadow: 0 5px 5px #e7e7e7;
  box-shadow: 0 5px 5px #e7e7e7;
}
.elastlaye-btn-iphone {
  background-position: 0 -130px;
}
.elastlaye-btn-iphone:hover {
  background-position: 0 -219px;
}
.elastlaye-btn-android {
  background-position: 0 -308px;
}
.elastlaye-btn-android:hover {
  background-position: 0 -397px;
}
.elastlaye-centre-iphone {
  background: url(/static/images/app/b5m/download/dim-iphone.png) no-repeat;
}
.elastlaye-centre-android {
  background: url(/static/images/app/b5m/download/dim-android.png) no-repeat;
}
.opacity {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #000;
  opacity: 0.35;
  filter: alpha(opacity=35);
  z-index: 200;
}
.int_for_hover {
  display: none;
  width: 188px;
  height: 106px;
  position: absolute;
  top: 64px;
  left: 0;
}
.for_hover_top,
.for_hover_down {
  width: 188px;
  height: 52px;
  display: block;
  background: url("/static/images/app/b5m/download/icon-btn-hover.png") no-repeat left -150px;
}
.for_hover_down {
  background-position: left -218px;
}
.for_hover_top:hover {
  background-position: left -281px;
}
.for_hover_down:hover {
  background-position: left -349px;
}
