<div class="dialog__head">
	<h3 class="title">每日红包任务</h3>
	<a href="javascript:void(0);" class="close">x</a>
</div>
<div class="dialog__body">
	<div class="dialog__confirm">
		<h6>安装帮5淘网购助手，领取<span>10</span>帮豆</h6>
		<div class="dialog__confirm__btn">
		 <% if(!flag) {%>
			<a href="http://cdn.b5m.cn/upload/plugin/clients/marketing/b5t_latest.exe" id="pluginInstall" class="btn btn-3">去安装</a>
		 <%}else{%>	
			<a href="javascript:void(0);" id="pluginSign" class="btn btn-3">去领取</a>
		 <%}%>	
		</div>
		<div class="dialog_tips">
			<p>说明：1.维持安装状态，以后每天来登录都可领取10帮豆哦</p>
			<p class="indent">2.若首次安装，请在安装完毕后重新来此页面领取帮豆</p>
			<p class="indent">3.暂不支持360极速模式浏览器安装检测</p>
		</div>
	</div>
</div>
