	<div class="user-head fl">
		<span class="border">
			<img id="avatarImg" src="<%=avatar+'?='+Math.random()%>" alt="" height="144" width="145" onerror="this.src=B5M_UC.rootPath+'/images/ucenter/avatar130.png';">
			<a id="editAvatarBut" href="javascript:void(0);">修改头像</a>
		</span>
		<p>上次登录时间：<%=lastLoginTime%></p>
	</div>
	<div class="user-account fr">
		<div class="user-name">
			<span>欢迎，</span> <strong><%=decodeURIComponent(showName)%></strong> <a href="<%=B5M_UC.rootPath%>/forward.htm?method=/user/account/info/index">修改昵称</a>
		</div>
		<div class="user-money cfx">
			<div class="user-money-bi fl">
				<p>
					<a href="javascript:void(0);">我的帮币</a>
				</p>
				<strong><%=bangbiBalance%></strong> <i></i>
			</div>
			<div class="user-money-dou fl">
				<p>
					<a href="<%=B5M_UC.rootPath%>/forward.htm?method=/user/trade/common/record/index">我的帮豆</a>
				</p>
				<strong><%=bangdouBalance%></strong> <i></i>
			</div>
		</div>
		<div class="user-progress cfx">
			<div class="progress">
				<div class="progress-inner">
					<div class="progress-current" style="width: <%=(bangdouTotalAmount-levelLower)/(levelHigher-levelLower) * 100%>%;">
						<i></i>
					</div>
				</div>
			</div>
			<span class="progress-l"><img src="http://staticcdn.b5m.com/static/images/center/level/mini-LV<%=levelNum%>.png" /></span> <span class="progress-r"><img src="http://staticcdn.b5m.com/static/images/center/level/mini-LV<%=levelNum+1%>.png" /></span>
			<p>
				<a href="<%=B5M_UC.rootPath%>/forward.htm?method=/user/trade/common/record/rule" target="_blank">帮豆规则</a> <em><%=bangdouTotalAmount-levelLower%>/<%=levelHigher-levelLower%></em> 还需<%=levelHigher-bangdouTotalAmount%>帮豆升级到下一级
			</p>
		</div>
		<div class="user-task fr">
			<a href="javascript:void(0);" class="user-task-sign" id="everySign" isSign="<%=isSign%>"><%=isSign?'已签到':'去签到'%></a>
			<a href="javascript:void(0);" id="<%=isPluginSign? 'hasInstallSignDone':'hasInstallPlugin'%>" class="user-task-day" isSign="<%=isPluginSign%>" ><%=isPluginSign?'已领取每日红包':'每日红包任务'%></a>
		</div>