@charset "UTF-8";
html {height:100%;overflow:auto;}
a,a:hover{text-decoration: none;}
.page-uninst{background:#E4E4E4 url(../../images/t/help/bg.png) repeat-y center center;}
/*去除chrome下输入框自动添加的边框效果*/
.page-uninst textarea{outline:none;}
.page-uninst input[type=text]{outline:none;}
.mb60{margin-bottom: 60px;}
.mb90{margin-bottom: 90px;}
.mt12{margin-top: 12px;}
.mb15{margin-bottom: 15px;}
.main{width: 1000px;margin: 18px auto 0;position: relative;}
.main .col_main{width: 100%;min-height: 1px;float:left;margin-right:-100%;}
.main .wrap_main{width: 760px;margin:0 30px 0 210px;}
.main .col_sub{width:180px;float:left;}
/*gototop*/
.totop{position:fixed;right: 60px;bottom: 195px;display: none;width: 55px;height: 55px;background: url(../../images/t/help/b5t-home.png) no-repeat -300px -650px;cursor: pointer;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-195));}
.feedback{padding: 20px 0;}
/*form*/
fieldset,legend{border: none;padding:0;margin: 0;}
.form input.txt,.form textarea{border:1px solid #bebebe;box-shadow:inset 0 0 2px rgba(0,0,0,0.3)}
.form input,.form label{vertical-align: middle;}
.form .ch{margin-top:-2px;}
.scrollbar{border: 1px solid #FD8712;background-color: #fff;width:178px;}
.scrollbar li{font-size:0;}
.scrollbar dt,.scrollbar dd{position: relative;height: 36px;line-height: 36px;zoom:1;}
.scrollbar dt{font-weight: 700;padding-left: 16px;}
.scrollbar dd{padding-left: 25px;}
.scrollbar a{display: inline-block;font-size:14px;}
.scrollbar .cur,.scrollbar dd:hover,.scrollbar dt:hover{background-color: #FD8712;}
.scrollbar .cur a,.scrollbar dd:hover a,.scrollbar dt:hover  a{color:#fff; text-decoration: none;}
.scrollbar .cur .dot,.scrollbar dd:hover .dot,.scrollbar dt:hover .dot{background: url(../../images/t/help/b5t-home.png) no-repeat scroll -100px -2450px;}
.scrollbar .cur .arrow{display:block;}
.dot{display:inline-block;width:4px;height:6px;_height:4px;background: url(../../images/t/help/b5t-home.png) no-repeat scroll -150px -2450px;}
.arrow{display: inline-block;width: 10px;height: 22px;background: url(../../images/t/help/b5t-home.png) no-repeat scroll -250px -400px;}
.scrollbar .dot{margin-right: 9px;}
.scrollbar .arrow{position: absolute;right:-10px;top:7px;display:none;zoom:1;}
.question .sub_detail img{zoom:1;}

.m_title{font-size: 22px;color:#666;line-height: 36px;background: url(../../images/t/help/line.png) no-repeat scroll -28px bottom transparent;margin-bottom: 24px;}
.s_title{font-size: 18px;color: #999;margin-bottom: 9px;}
.s_title i{display:inline-block;*display:inline;zoom:1;background-image: url(../../images/t/help/b5t-home.png);background-repeat: no-repeat;}
.question .s_title i{background-position: 0 -2151px ;width:13px;height:13px;margin-right: 16px;margin-left: 6px;}

.question .sub_detail dd{margin-left: 36px;}
.area .sub_detail p{font-size: 14px;font-family: "宋体";color: #666;line-height: 28px;}
.area .sub_detail strong{font-size: 14px;font-family: "宋体";color:#666;font-weight: 700;margin-top: 34px;margin-bottom:6px;display: inline-block;*display:inline;zoom:1;}
.area  #funtions{margin-bottom:-34px;}
.icons_ls li{background: #fff;border-radius: 10px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);float: left;text-align: center;font-size: 12px;}
.icons_ls i{background-image: url(../../images/t/help/b5t-home.png);background-repeat: no-repeat;display: inline-block;*display: inline;zoom:1;}
.icons_ls_1{margin-right:-48px;position:relative;}
.icons_ls_1 li{width: 127px;height: 166px;margin-right: 48px;}
.icons_ls_1 li div{padding:24px 14px 14px 14px;}
.icons_ls_1 i{width: 76px;height: 85px;}
.icons_ls_1 h3{color:#fd8712;}
#features{margin-bottom:-34px;}

.icons_ls_2{margin-right: -15px;}
.icons_ls_2 li{width: 118px;height: 142px;margin-right: 15px;margin-bottom: 15px;}
.icons_ls_2 li div{padding: 18px 13px;}
.icons_ls_2 i{width: 92px;height: 92px;}

.icon1{background-position: 0 -200px;}
.icon2{background-position: -100px -200px;}
.icon3{background-position: -200px -200px;}
.icon4{background-position: 0 -300px;}
.icon5{background-position: -50px -2150px;}
.icon6{background-position: -150px -2150px;}
.icon7{background-position: -250px -2150px;}
.icon8{background-position: 0 -2250px;}
.icon9{background-position: -100px -2250px;}
.icon10{background-position: -200px -2250px;}
.icon11{background-position: -292px -2250px;}
.icon12{background-position: 0 -2350px;}
.icon13{background-position: -100px -2350px;}
.icon14{background-position: -200px -2350px;}
.icon15{background-position: -300px -2350px;}
.icon16{background-position: 8px -2450px;}
.icon17{background-position: 0 -2650px;}
.icon18{background-position: -50px -2650px;}
.icon19{background-position: -100px -2650px;}
.icon20{background-position: -150px -2650px;}
.icon21{background-position: -200px -2650px;}
.icon22{background-position: -250px -2650px;}
.icon23{background-position: -300px -2650px;}
.icon24{background-position: -350px -2650px;}
.icon25{background-position: 0 -2700px;}
.icon26{background-position: -50px -2700px;}
.icon27{background-position: -100px -2700px;}
.icon28{background-position: -150px -2700px;}
.icon29{background-position: 0 -2650px;}

.sub_detail a.download{width: 150px;height: 81px;padding-left:114px;background: url(../../images/t/help/b5t-home.png) no-repeat scroll 0 -1950px;display: inline-block;*display: inline;zoom:1;font-size: 24px;color:#fff;_background-position:0 -1951px;}
.download span{display:inline-block;padding-top:4px;vertical-align: middle;cursor:pointer;color:#fff; font-family: \5FAE\8F6F\96C5\9ED1;}
.down_tips{margin-left:20px;background: url(../../images/t/help/b5t-home.png) no-repeat scroll 0 -2600px;width: 220px;height: 31px;display: inline-block;vertical-align: middle;}

/*forbid*/
.forbid .sub_detail{_position:relative;background-color: #fff;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);border-radius: 10px;padding:10px 15px 10px;height: 25px;overflow: hidden;zoom:1;}
.forbid .sub_detail:hover{background-color:#fafafa;}
.forbid .sub_detail:hover h3{color:#666;}
.forbid .cur{height: auto;overflow: visible;}
.forbid .sub_detail p{padding:4px 0 15px 0;}
.forbid .s_title{border-bottom: 1px dashed #ccc;padding-bottom: 6px;cursor: pointer;}
.forbid .s_title i{width: 27px;height: 30px;vertical-align: middle;margin-right: 8px;}

/*uninstall*/
.form_uninstall fieldset{border-bottom: 1px solid #EBEBEB;border-top: 1px solid #FAFAFA;}

/*feedback*/
.main .bdn{border:none;background: none;}
.main .feedback{font-family: "宋体";color: #666;font-size: 12px;}
.feedback .b5t_thanks{font-family: "微软雅黑", "Microsoft YaHei","宋体", Verdana, Geneva, sans-serif;font-size: 18px;color:#999;margin-bottom: 20px;display: inline-block;}
.feedback .uninstall_why{font-size: 14px;margin-bottom: 12px;}
.feedback .hightlight{color:#fd8712;}
.feedback .feed_question{margin-bottom: 20px;}
.feed_question span{color:#999;}
.feed_contact{margin-top: 20px;margin-bottom: 20px;}

.form .tips{display:inline-block;border-radius: 4px; margin-left:40px;background-color: #fff;width:120px;height:24px;border:1px solid #E1E1E1;box-shadow: 0 0 4px rgba(0,0,0,0.1);zoom:1;padding-left:10px;_padding-top:3px;_height:20px;}
.form .tips span{vertical:middle;}
.form .succ{color:#39b54a;}
.form .icon{width:24px;height:24px;display: inline-block;background-image: url(../../images/t/help/b5t-home.png);background-repeat: no-repeat;vertical-align:middle;margin-right: 6px;}
.form .succ .icon{background-position: -200px -2700px;}
.form .suggest,.form .tips{visibility:hidden;font-size:12px;}
.form .submitOK{width:142px; height:52px; line-height:52px;}

.form_feedback{overflow: hidden;zoom:1;}
.form_feedback fieldset{border-bottom: 1px solid #fcfcfc;border-top: 1px solid #e5e5e5;padding-bottom: 15px;padding-top: 20px;}
#.form_feedback .first{margin-top: -20px;}
.form_feedback fieldset .title{margin-bottom: 12px;display: inline-block;font-size: 14px;}
.form_feedback .txt{height: 18px;color:#999;line-height:18px;}
.form_feedback .txt2{height: 36px;line-height:36px;width: 190px;font-size: 14px;padding-left:10px;}
.form_feedback .items{margin-bottom: 8px;}
.form_feedback .chk{margin-right: 5px;color:#999;}
.form_feedback .lbl{margin-right: 14px;}
.form_feedback textarea{width: 654px;height: 198px;}
.form_feedback textarea:hover{border:1px solid #f7941d;box-shadow: 0 0 3px #f7941d;}
.form_feedback input.txt:hover{border:1px solid #f7941d;box-shadow: 0 0 3px #f7941d;}
.form_feedback .has_subitems{padding:10px 0 10px 0;}
.form_feedback .has_subitems .sub_items{margin-left: 20px;visibility: hidden;}
#.form_feedback .open_sub{background-color: #e5e5e5;}
.form_feedback .open_sub .sub_items{visibility: visible;}
.form_feedback .submit{background:url(../../images/t/help/b5t-home.png) no-repeat -150px -1050px;width:157px;height:57px;cursor:pointer;border:none;font-size:0;vertical-align: middle;overflow:hidden;}
.form_feedback .submit:hover{background:url(../../images/t/help/b5t-home.png) no-repeat -150px -1150px;}
.form_feedback p{line-height: 24px;}
.download_b5m{position:absolute;border:1px solid #EDEEF1;box-shadow:0 0 3px rgba(0,0,0,0.5);}
.download_b5m img{display:block;}

.btn{position:relative;display:inline-block;overflow:hidden;}
.btn input{position:absolute;top:0;left:0;width:1000px;height:1000px;visibility:hidden;}

.w180{width: 180px;}
/*ie6抖动*/
html{_text-overflow:ellipsis;} 
.fixed{position:fixed;_position:absolute;_top:expression(eval(document.documentElement.scrollTop)); }
