.clearfix:after, .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix, .cf{ *zoom:1;}
.clear, .c { clear:both; }

.l { float: left;}
.r { float: right;}
table .l { float:none;}
.frame { background: none;}

.sp { padding: 0 5px; color:#999; }

.f-yh,h2,h3,.crumb { font-family:\5FAE\8F6F\96C5\9ED1; }

a { color:#333; }
a:hover {  text-decoration:underline; }

.cols,.rows { overflow: hidden;}

.mar-2 { margin:2px; }
.mar-4 { margin:4px; }
.mar-6 { margin:6px; }
.mar-8 { margin:8px; }
.mar-10 { margin:10px; }
.mar-15 { margin:15px; }
.mar-20 { margin:20px; }

.mar-t-2 { margin-top:2px;}
.mar-t-4 { margin-top:4px;}
.mar-t-6 { margin-top:6px;}
.mar-t-8 { margin-top:8px;}
.mar-t-10 { margin-top:10px;}
.mar-t-15 { margin-top:15px;}
.mar-t-20 { margin-top:20px;}

.mar-b-2 { margin-bottom:2px;}
.mar-b-4 { margin-bottom:4px;}
.mar-b-6 { margin-bottom:6px;}
.mar-b-8 { margin-bottom:8px;}
.mar-b-10 { margin-bottom:10px;}
.mar-b-15 { margin-bottom:15px;}
.mar-b-20 { margin-bottom:20px;}

.mar-l-2 { margin-left:2px;}
.mar-l-4 { margin-left:4px;}
.mar-l-6 { margin-left:6px;}
.mar-l-8 { margin-left:8px;}
.mar-l-10 { margin-left:10px;}
.mar-l-15 { margin-left:15px;}
.mar-l-20 { margin-left:20px;}

.mar-r-2 { margin-right:2px;}
.mar-r-4 { margin-right:4px;}
.mar-r-6 { margin-right:6px;}
.mar-r-8 { margin-right:8px;}
.mar-r-10 { margin-right:10px;}
.mar-r-15 { margin-right:15px;}
.mar-r-20 { margin-right:20px;}

.mar-tb-2 { margin-top:2px; margin-bottom:2px;}
.mar-tb-4 { margin-top:4px; margin-bottom:4px;}
.mar-tb-6 { margin-top:6px; margin-bottom:6px;}
.mar-tb-8 { margin-top:8px; margin-bottom:8px;}
.mar-tb-10 { margin-top:10px; margin-bottom:10px;}
.mar-tb-15 { margin-top:15px; margin-bottom:15px;}
.mar-tb-20 { margin-top:20px; margin-bottom:20px;}

.mar-lr-2 { margin-left:2px; margin-right:2px;}
.mar-lr-4 { margin-left:4px; margin-right:4px;}
.mar-lr-6 { margin-left:6px; margin-right:6px;}
.mar-lr-8 { margin-left:8px; margin-right:8px;}
.mar-lr-10 { margin-left:10px; margin-right:10px;}
.mar-lr-15 { margin-left:15px; margin-right:15px;}
.mar-lr-20 { margin-left:20px; margin-right:20px;}

.pad-0 { padding:0px ; }
.pad-2 { padding:2px; }
.pad-4 { padding:4px; }
.pad-6 { padding:6px; }
.pad-8 { padding:8px; }
.pad-10 { padding:10px; }
.pad-15 { padding:15px; }
.pad-20 { padding:20px; }

.pad-t-2 { padding-top:2px; }
.pad-t-4 { padding-top:4px; }
.pad-t-6 { padding-top:6px; }
.pad-t-8 { padding-top:8px; }
.pad-t-10 { padding-top:10px; }
.pad-t-15 { padding-top:15px; }
.pad-t-20 { padding-top:20px; }

.pad-b-2 { padding-bottom:2px; }
.pad-b-4 { padding-bottom:4px; }
.pad-b-6 { padding-bottom:6px; }
.pad-b-8 { padding-bottom:8px; }
.pad-b-10 { padding-bottom:10px; }
.pad-b-15 { padding-bottom:15px; }
.pad-b-20 { padding-bottom:20px; }

.pad-l-2 { padding-left:2px; }
.pad-l-4 { padding-left:4px; }
.pad-l-6 { padding-left:6px; }
.pad-l-8 { padding-left:8px; }
.pad-l-10 { padding-left:10px; }
.pad-l-15 { padding-left:15px; }
.pad-l-20 { padding-left:20px; }

.pad-r-2 { padding-right:2px; }
.pad-r-4 { padding-right:4px; }
.pad-r-6 { padding-right:6px; }
.pad-r-8 { padding-right:8px; }
.pad-r-10 { padding-right:10px; }
.pad-r-15 { padding-right:15px; }
.pad-r-20 { padding-right:20px; }

.pad-tb-2 { padding-top:2px; padding-bottom:2px;}
.pad-tb-4 { padding-top:4px; padding-bottom:4px;}
.pad-tb-6 { padding-top:6px; padding-bottom:6px;}
.pad-tb-8 { padding-top:8px; padding-bottom:8px;}
.pad-tb-10 { padding-top:10px; padding-bottom:10px;}
.pad-tb-15 { padding-top:15px; padding-bottom:15px;}
.pad-tb-20 { padding-top:20px; padding-bottom:20px;}

.pad-lr-2 { padding-left:2px; padding-right:2px;}
.pad-lr-4 { padding-left:4px; padding-right:4px;}
.pad-lr-6 { padding-left:6px; padding-right:6px;}
.pad-lr-8 { padding-left:8px; padding-right:8px;}
.pad-lr-10 { padding-left:10px; padding-right:10px;}
.pad-lr-15 { padding-left:15px; padding-right:15px;}
.pad-lr-20 { padding-left:20px; padding-right:20px;}



.wp {width:980px;margin:0 auto;}



/* 公用部位  */
.bg-default {background: url("../../images/ruyisou/bg-default.png") no-repeat;}
.rys-header { height:75px; background: #065f99;}
.rys-header .logo {  float:left; padding-top: 5px; margin-right:100px; }
.rys-header .logo a { width:182px; height: 68px; background: url("../../images/ruyisou/logo.png") no-repeat; display: block; text-indent: -9999px;}
.rys-header li { float:left; }
.rys-header li a { display: block; width:156px; height:75px; text-indent: -9999px; border-right:1px dashed #1295ef; background-image: url("../../images/ruyisou/bg-default.png"); background-repeat: no-repeat;}
.rys-header li a:hover,.rys-header li a.cur { background-color: #054269; border-right:1px solid #043a5d;}
.rys-header li a.last { border-right:none;}
.rys-header li a.go-home { background-position: 0px -120px;}
.rys-header li a.go-download { background-position: 0px -195px;}
.rys-header li a.go-update { background-position: 0px -270px;}
.rys-header li a.go-question { background-position: 0px -345px;}

.bg-default { background: url("../../images/ruyisou/bg-default.png") no-repeat;   }

/*首页*/


.banner-index { position: relative; height: 545px;}

.banner-index .main-banner { position:absolute; top:0; left:0; width:100%;  }
.banner-index .main-banner.banner1 { }
.banner-index .main-banner .bg-content { background-repeat: no-repeat; background-position: center; height:545px;  }

.banner-index .main-banner.banner1 .bg-content { background-image: url("../../images/ruyisou/index/pic-main-banner-1.jpg"); }

.banner-index .main-banner .content {  background-repeat: no-repeat; background-position: center; width:980px; margin:auto; height: 545px; position: relative;}
.banner-index .main-banner.banner1 .content { background-image:url("../../images/ruyisou/index/pic-main-banner-1.png"); _background-image:url("../../images/ruyisou/index/pic-main-banner-1-fix.jpg"); }

.banner-index .main-banner .content .download { position:absolute; width:263px; height: 80px; display: block; text-indent: -9999px; right:50px; bottom:210px;}
.banner-index .main-banner .content .download:hover { background-position: -263px 0;}

.banner-index .main-banner .content .download-mac { display: block; width:145px; height: 26px; background-position: 0px -92px; text-indent: -9999px; right:80px; bottom:70px; position: absolute;}
.banner-index .main-banner .content .download-mac:hover { background-position: -300px -92px;}

.banner-index .main-banner .content .txt1,.banner-index .main-banner .content .txt2 { color:#05588e; position:absolute; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1;bottom:150px; right:185px; }
.banner-index .main-banner .content .txt2 { bottom:150px; right:0px; text-align: center; }




.nav-index {   width:100%; padding:20px 0; background: #fff; }
.nav-index.fix { position: fixed; top:0; left:0;  _position: static; z-index: 10;}
.nav-index ul { width:750px; padding-left: 40px; margin:auto; overflow: hidden; }
.nav-index ul li { width:110px; float:left; margin-right:40px; height:140px; }
.nav-index ul li a { display:block; width:110px; height: 140px; background: url("../../images/ruyisou/bg-default.png") no-repeat; text-indent: -9999px;}

.nav-index ul .nav1 a { background-position: -20px -450px; }
.nav-index ul .nav1 a.cur,.nav-index ul .nav1 a:hover { background-position: -20px -610px;}

.nav-index ul .nav2 a { background-position: -148px -450px;}
.nav-index ul .nav2 a.cur,.nav-index ul .nav2 a:hover { background-position: -148px -610px;}

.nav-index ul .nav3 a { background-position: -283px -450px;}
.nav-index ul .nav3 a.cur,.nav-index ul .nav3 a:hover { background-position: -283px -610px;}

.nav-index ul .nav4 a { background-position: -417px -450px; }
.nav-index ul .nav4 a.cur,.nav-index ul .nav4 a:hover { background-position: -417px -610px;}

.nav-index ul .nav5 a { background-position: -550px -450px; }
.nav-index ul .nav5 a.cur,.nav-index ul .nav5 a:hover { background-position: -550px -610px;}


.bg-index-shadow { background: url("../../images/ruyisou/index/bg-shadow.png") no-repeat top center; width:980px; margin: auto; padding-top: 50px; }



.index-floor { background:url("../../images/ruyisou/index/bg-floor.png") repeat-x bottom; height:540px; overflow: hidden;}
.index-floor.even { background: #f6f6f6; }

.index-floor .content { width:980px; height: 540px; margin:auto; position: relative;}

.index-floor1 .content { *background: url("../../images/ruyisou/index/fl-1-all.jpg") no-repeat center;  background: url("../../images/ruyisou/index/fl-1-all.jpg") no-repeat center\0;  }
.index-floor2 .content { *background: url("../../images/ruyisou/index/fl-2-all.jpg") no-repeat center;  background: url("../../images/ruyisou/index/fl-2-all.jpg") no-repeat center\0;  }
.index-floor3 .content { *background: url("../../images/ruyisou/index/fl-3-all.jpg") no-repeat center;  background: url("../../images/ruyisou/index/fl-3-all.jpg") no-repeat center\0;  }
.index-floor4 .content { *background: url("../../images/ruyisou/index/fl-4-all.jpg") no-repeat center;  background: url("../../images/ruyisou/index/fl-4-all.jpg") no-repeat center\0;  }
.index-floor5 .content { *background: url("../../images/ruyisou/index/fl-5-all.jpg") no-repeat center;  background: url("../../images/ruyisou/index/fl-5-all.jpg") no-repeat center\0;  }


.index-floor1 article h3,.index-floor1 article p,.index-floor1 figure div { opacity:0; transition:all .7s ease;  -webkit-transition:all .7s ease;  -moz-transition:all .7s ease; }

.index-floor1 article h3 { position: absolute; top:145px; left: 880px; background: url("../../images/ruyisou/index/fl-1-text-1.png") no-repeat; width:388px; height:65px; transition-delay:.2s; -webkit-transition-delay:.2s; -moz-transition-delay:.2s; }
.index-floor1 article p { position: absolute; top:220px; left:880px;  background: url("../../images/ruyisou/index/fl-1-text-2.png") no-repeat;  width: 305px; height: 18px; transition-delay:.4s; -webkit-transition-delay:.4s; -moz-transition-delay:.4s;}
.index-floor1 figure div { position: absolute; background: url("../../images/ruyisou/index/fl-1-pic-1.png") no-repeat; width:643px; height:444px; top:25px; left:-300px; }

.index-floor1.animate article h3 { opacity:1;left:650px;}
.index-floor1.animate article p { opacity:1; left:670px; }
.index-floor1.animate figure div { opacity: 1; left:0px; }





.index-floor2 article h3,.index-floor2 article p,.index-floor2 article div,.index-floor2 figure div { opacity:0;  transition:all .7s ease;-webkit-transition:all .7s ease; -moz-transition:all .7s ease;}
.index-floor2 article h3 { position: absolute; top:230px; left: -80px; background: url("../../images/ruyisou/index/fl-2-text-1.png") no-repeat; width:389px; height:69px;  transition-delay:.2s; -webkit-transition-delay:.2s; -moz-transition-delay:.2s;  }
.index-floor2 article p { position: absolute; top:300px; left:-80px;  background: url("../../images/ruyisou/index/fl-2-text-2.png") no-repeat;  width: 290px; height:44px; transition-delay:.4s; -webkit-transition-delay:.4s; -moz-transition-delay:.4s;  }
.index-floor2 figure div { position: absolute; background: url("../../images/ruyisou/index/fl-2-pic-1.png") no-repeat; width:567px; height:463px; top:30px; left:690px; }


.index-floor2.animate article h3 { opacity:1;left:0px;}
.index-floor2.animate article p { opacity:1; left:0px; }
.index-floor2.animate figure div { opacity: 1; left:450px;}


.index-floor3 article h3,.index-floor3 article p,.index-floor3 article div,.index-floor3 figure div { opacity:0; transition:all .7s ease;  -webkit-transition:all .7s ease; -moz-transition:all .7s ease;}
.index-floor3 article h3 { position: absolute; top:170px; left: 880px; background: url("../../images/ruyisou/index/fl-3-text-1.png") no-repeat; width:324px; height: 65px; transition-delay:.2s; -webkit-transition-delay:.2s; -moz-transition-delay:.2s;}
.index-floor3 article p { position: absolute; top:240px; left:880px;  background: url("../../images/ruyisou/index/fl-3-text-2.png") no-repeat;  width: 323px; height: 237px; transition-delay:.4s; -webkit-transition-delay:.4s; -moz-transition-delay:.4s;}
.index-floor3 figure div { position: absolute; background: url("../../images/ruyisou/index/fl-3-pic-1.png") no-repeat; width:654px; height:451px; top:35px; left:-300px; }

.index-floor3.animate article h3 { opacity:1;left:650px;}
.index-floor3.animate article p { opacity:1; left:655px; }
.index-floor3.animate figure div { opacity: 1; left:0px;}


.index-floor4 article h3,.index-floor4 article p,.index-floor4 article div,.index-floor4 figure div { opacity:0;  transition:all .7s ease;  -webkit-transition:all .7s ease;-moz-transition:all .7s ease;}
.index-floor4 article h3 { position: absolute; top:136px; left: -80px; background: url("../../images/ruyisou/index/fl-4-text-1.png") no-repeat; width:404px; height:69px; transition-delay:.2s; -webkit-transition-delay:.2s; -moz-transition-delay:.2s;}
.index-floor4 article p { position: absolute; top:210px; left:-80px;  background: url("../../images/ruyisou/index/fl-4-text-2.png") no-repeat;  width: 273px; height:44px; transition-delay:.4s; -webkit-transition-delay:.4s; -moz-transition-delay:.4s;}
.index-floor4 figure div { position: absolute; background: url("../../images/ruyisou/index/fl-4-pic-1.png") no-repeat; width:579px; height:454px; top:0px; left:690px; }

.index-floor4.animate article h3 { opacity:1;left:0px;}
.index-floor4.animate article p { opacity:1; left:0px; }
.index-floor4.animate figure div { opacity: 1; left:410px;}


.index-floor5 { background: none;}
.index-floor5 article h3,.index-floor5 article p,.index-floor5 article div,.index-floor5 figure div { opacity:0; transition:all .7s ease;  -webkit-transition:all .7s ease; -moz-transition:all .7s ease;}
.index-floor5 article h3 { position: absolute; top:146px; left: 880px; background: url("../../images/ruyisou/index/fl-5-text-1.png") no-repeat; width:353px; height: 65px; transition-delay:.2s; -webkit-transition-delay:.2s; -moz-transition-delay:.2s;}
.index-floor5 article p { position: absolute; top:230px; left:880px;  background: url("../../images/ruyisou/index/fl-5-text-2.png") no-repeat;  width: 221px; height: 70px; transition-delay:.4s; -webkit-transition-delay:.4s; -moz-transition-delay:.4s;}
.index-floor5 figure div { position: absolute; background: url("../../images/ruyisou/index/fl-5-pic-1.png") no-repeat; width:642px; height:428px; top:25px; left:-300px; }

.index-floor5.animate article h3 { opacity:1;left:650px;}
.index-floor5.animate article p { opacity:1; left:670px; }
.index-floor5.animate figure div { opacity: 1; left:0px;}


/* ie9 hack*/
.index-floor article,.index-floor figure  { display:none\0; display:none\9\0; }
/* ie10 hack*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .index-floor .content { background: none;}
  .index-floor article,.index-floor figure { display: block;}
}

.gotop { left:55%;}

.footer { padding:50px 0; background: #3c3d3c; color:#bbbcbb; }
.footer a { color:#bbbcbb;}