@red:#fb0303;
@hover:#eb7e00;
@orange:#eb7601;
@c000:#000;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';
*{ margin: 0; padding: 0;}
html,body{ overflow: hidden; height: 100%;}
body{ font-size: 12px;}
li{ list-style: none;}
img{vertical-align: top; border:none; }
a{ text-decoration:none; color: @c000;}
.blue_1 { color:#004499; }
/*腾讯财经开始*/

.wrapper { width:698px; height:368px; margin:0 auto; text-align:left; overflow: hidden;}

.wrap-l{ width: 227px; float: left; margin: 20px 0 0 20px;}
.wrap-m{ width: 160px; float: left; margin: 20px 0 0 20px;}
.wrap-r{ width: 214px; float: left; margin: 20px 0 0 20px;}
 .l-ban img{ border: 1px #ddd solid;width:225px;height:160px;}
 .l-sele{ height: 166px; background: #ededed; border: 1px #ddd solid; margin-top: 10px;}
 .l-sele h2{ background: url("/images/minipop/20140320/tit-bg1.jpg") no-repeat; width: 72px; height: 27px; line-height: 27px; font-size: 12px; text-align: center; color: #fff;}
 .l-sele .sele li{ margin-top: 8px; height: 22px; line-height: 22px; overflow: hidden; padding-left: 70px;}
 .l-sele .sele span{ float: left; width: 60px; margin-left: -60px;}
 .l-sele .sele select{ width: 135px; border:1px #d7d7d7 solid; height: 20px;}
 .l-sele li.lest{ height: 35px;}
 .l-sele .btn{ height: 35px; width: 139px; color: #fff; background:  url("/images/minipop/20140320/btn-bg1.jpg") no-repeat; text-align: center; line-height: 36px; font-size: 14px; font-family: "microsoft yahei"; display: block;}
 .news-items{ margin-top: 5px;}
 .news-items.un-line{ border-bottom: 1px #ddd dotted; margin-bottom: 10px; padding-bottom: 5px;}
 .news-items dt{ font-weight: bold; line-height: 24px;}
 .news-items dd{ height: 22px; overflow: hidden; line-height: 22px;}
 .news-items dd a{ display: block; white-space: nowrap; color: #666666;}
 .ban-r-t{ margin-bottom: 10px;}
 .ban-r-t img{ width: 214px; height: 204px;}
 .ban-r-b img{ width: 214px; height:126px;}
/*腾讯财经结束*/
/*搜狐财经开始*/
#sohu-caijin{ width: 690px; height: 374px;}
/*搜狐财经结束*/
/*阿里财经开始*/
#ali-caijin{ width: 634px; height: 398px;}
#ali-caijin .wrap-l{ margin-left: 10px;}
#ali-caijin .wrap-m{ margin-left: 10px;}
#ali-caijin .wrap-r{ margin-left: 10px;}
/*阿里财经结束*/
/*特价开始*/
.tejia-l{ width: 495px; float: left; margin: 20px 0 0 20px;}
.tejia-r{ width: 162px; float: left; margin: 20px 0 0 10px;}
.tejia-l h2{ height: 20px; line-height: 20px; background: url(/images/minipop/20140320/icon-01.png) no-repeat; padding-left: 25px; font-size: 16px; color: #0b3b8c; font-family: @yahei;}
.tejia-wp .tab-tiems{ border: 1px #d9e9f7 solid; margin-top: 10px; height: 315px;}
.tejia-wp .tab-tit{ height: 29px; background: url(/images/minipop/20140320/tit-bg2.png) repeat-x; line-height: 29px; overflow: hidden;}
.tejia-wp .tab-tit li{ float: left; width: 96px; border-right:1px #d9e9f7 solid; border-left:1px #d9e9f7 solid;   margin-left: -1px; text-align: center; cursor: pointer; font-size: 14px; font-weight: bold; color: #333333;}
.tejia-wp .tab-tit li.cur{ background: #fff; color: #0b3b8c;}
.tejia-wp .tab-cont{ padding: 8px 0;}
.tejia-wp .pic-items{ overflow: hidden; zoom:1; display: none;}
.tejia-wp .pic-items li{ width: 105px; height: 125px; border: 1px #ddd solid; position: relative; float: left; margin-left: 12px; _display: inline; margin-bottom: 10px;}
.tejia-wp .pic-items .pic img{ width: 105px; height: 125px;}
.tejia-wp .pic-items .text{ width: 95px; padding: 0 5px; height: 36px; background: #000;filter:alpha(opacity=70); opacity: 0.7; position: absolute; bottom: 0; z-index: 10;}
.tejia-wp .pic-items .text strong{ display: block; border-bottom: 1px #fff dashed; color: #ff9000; line-height: 18px; font-family: @yahei;}
.tejia-wp .pic-items .text a{ color: #fff; display: block; line-height: 18px;}
.tejia-wp .ban-r-t{ margin-bottom: 10px;}
.tejia-wp .ban-r-t img{ width: 160px; height: 156px; border: 1px #ddd solid;}
.tejia-wp .ban-r-b img{ width: 160px; height:78px;border: 1px #ddd solid;}
#sohu-tejia{ width: 690px; height: 374px;}
#ali-tejia{ width: 634px; height: 398px;}
#ali-tejia .tab-tit li{ width: 85px;}
#ali-tejia .tejia-l{ width: 455px; margin-left: 5px;}
#ali-tejia .pic-items li{ margin-left: 5px;}
/*特价结束*/
/*阅读开始*/
.yuedu-wp .yd-items{ width:320px; float: left; margin-left: 10px; margin-bottom: 15px;}
.yuedu-wp .yd-items h2{ font-size: 14px; color: #0b3b8c;}
.yuedu-wp .yd-items dl{ margin-top: 10px; overflow: hidden; zoom:1; height: 106px;}
.yuedu-wp .yd-items dl dt{ width: 90px; float: left; margin-right: 10px; _display: inline;}
.yuedu-wp .yd-items dl dt img{ width: 90px; height: 106px;}
.yuedu-wp .yd-items dl .tit{ color: #0b3b8c;}
.yuedu-wp .yd-items dl p{ line-height: 18px; margin-top: 2px; color: #666666;}
.yuedu-wp .yd-items ul{ margin-top: 10px; overflow: hidden; height: 20px;}
.yuedu-wp .yd-items ul li{ width: 50%; float: left;}
.yuedu-wp .yd-items ul li a{ color: #666;}
#sohu-yuedu{width: 690px; height: 374px;}
#ali-yuedu{width: 634px; height: 398px;}
#ali-yuedu .yd-items{ width: 290px;}
#ali_yuedu .yd-items{ width:310px; margin-left:5px;}
#ali_tejia {
 .tejia-l{
    margin-left:4px;
	margin-top:9px;
	width:460px;
   }
  .tejia-r{
    margin:9px 0 0 10px;
  } 
 .pic-items li{
   margin-left:6px;
   margin-bottom:6px;
 }
  .tab-tit li{
   width:90px;
  }
}
#ali_caijin{
  .wrap-l,.wrap-m,.wrap-r{
    margin:20px 0 0 10px;
  }
  
}
#sohu_caijin{
  .wrap-l,.wrap-m,.wrap-r{
    margin:0px 0 0 20px;
  }
}
#sohu_zixun{
 .ten-l .pic-list ul{
   margin-top:15px;
 }
 .ten-m dl{
  padding:8px 0px;
 }
}
#sohu_tejia {
 
  height:371px;

}
#sohu_yuedu{
 height:346px;
 margin-top:20px;
}
/*阅读结束*/

/*tab切换条*/
.tantent-tab,.sohu-tab,.ali-tab{
 width:698px;
 margin:0 auto;
 overflow: hidden;
}

.sohu-tab{
  background: url(/images/minipop/20140320/sohu-top.bg2.png) no-repeat 0px -14px;
}
.ali-tab{}
/*所有资讯通用*/


.tantent-wapper{width:700px;height:354px;margin:0 auto; text-align:left; overflow: hidden;}

/*腾讯顶部*/
.tantent-top{
 width:700px;
 height:59px;
 overflow:hidden;
  background: url(/images/minipop/20140320/tantent-top.bg.png) no-repeat left top;
  margin:0px auto 14px auto;
  position:relative;
  .search{
	  width:169px;
	  height:25px;
	  position:absolute;
	  right:10px;
	  top:0px;
	  background: url(/images/minipop/20140320/tantent-search.bg.png) no-repeat left top; 
	  .txt{
	   width:132px;
	   height:25px;
	   line-height:23px;
	   border:0 none;
	   border:none;
	   background:none;
	   margin-left:5px;
	   float:left;
	   display:inline;
	  }
	  .btn{
	    width:16px;
		height:15px;
		float:left;
		display:inline;
		border:0 none;
		border:none;
		background: url(/images/minipop/20140320/tantent-search-btn.bg.png) no-repeat left top; 
		cursor:pointer;
		margin-top:5px;
	  }
	}
  .tantent-tab{
     width:100%;
	 height:30px;
	 line-height:28px;
	 position:absolute;
	 bottom:0px;
	 left:0px;
	 border-bottom:2px solid #4973a8;
	 
	 li{
		float:left;
		diaplay:inline;
		line-height:28px;
		height:30px;
		width:52px;
		color:#0b3b8c;
		font-size:14px;
		text-align:center;
		cursor:pointer;
		span{
		 float:right;
		 display:inline;
		 width:1px;
		 height:12px;
		 color:#bccae0;
		}
	 }
	 li.cur{
	    color:#333333;
		font-weight:bold;
	    background: url(/images/minipop/20140320/a-1.png) no-repeat center 25px;
	 }

	 .first{
	   margin-left:20px;
	 }
    }
}
/*阿里顶部*/
.ali-wapper{width:636px; height:356px;margin:0 auto; text-align:left; overflow: hidden;}
.ali-top{
   width:636px;
   height:51px;
   margin:0 auto;
   overflow:hidden;
   background: url(/images/minipop/20140320/ali-top.bg.png) no-repeat left top;
   position:relative;
   .ali-tab{
      width:100%;
	 height:30px;
	 line-height:28px;
	 position:absolute;
	 bottom:0px;
	 left:0px;
	 border-bottom:1px solid #5fb2d4;
	 li{
	   float:left;
		diaplay:inline;
		line-height:28px;
		height:30px;
		width:52px;
		color:#0b3b8c;
		font-size:14px;
		text-align:center;
		cursor:pointer;
	 }
	 li.cur{
	    color:#333333;
		font-weight:bold;
	    background: url(/images/minipop/20140320/a-3.png) no-repeat center 27px;
	 }
   }
}
/*搜狐顶部*/
.sohu-wapper{width:692px;height:346px;margin:0 auto; text-align:left; overflow: hidden;}
.sohu-top{
   width:692px;
   height:47px;
   margin:0 auto;
   
   background: url(/images/minipop/20140320/sohu-top.bg.png) no-repeat left top;
   position:relative;
   .sohu-tab{
      width:100%;
	 height:30px;
	 line-height:28px;
	 position:absolute;
	 overflow:visible;
	 bottom:-10px;
	 left:0px;
	 border-bottom:1px solid #82aacd;
	 li{
	   float:left;
		diaplay:inline;
		line-height:28px;
		height:30px;
		width:52px;
		color:#0b3b8c;
		font-size:14px;
		text-align:center;
		cursor:pointer;
		margin-top:1px;
	 }
	 li.cur{
	    color:#333333;
		font-weight:bold;
	    background: url(/images/minipop/20140320/a-2.png) no-repeat center 25px;
	 }
   }
}
.ten-wraper{ width:698px; height: 368px; margin: 0 auto; overflow:hidden;padding-top:20px;}
.ten-top{ margin-bottom: 14px; background: url(/images/popup/tencent/top-bg.jpg) no-repeat; border-bottom: 2px #9ac1e2 solid; height: 35px; overflow: hidden;}
.ten-top .user{ padding:2px 0 0 215px; color: #7d96c2; float: left;}
.ten-top .user li{ float: left; display: inline; height: 20px; line-height: 20px;}
.ten-top .user .tq{ margin-left: 20px;  background: url(/images/popup/tencent/books-icon.jpg) no-repeat left center; padding-left: 18px;}
.ten-top .user a{color: #7d96c2;}
.ten-top .srk-text{ float: right; display: inline; margin: 10px 10px 0 0;}
 .text{ width: 100%;opacity: 0.6;filter: Alpha(opacity=60); height: 20px; position: absolute; left: 0; bottom: 0; background: #000; line-height: 20px; text-align: center;}
 .text a{ color: #fff;}
.ten-l,.ten-m,.ten-r{ float: left; _display: inline;}
.ten-l{ margin-left: 15px;}
.ten-m,.ten-r{ margin-left: 18px;}
.ten-l{ width: 224px; overflow: hidden;}
.ten-l .ten-l-items dt{ position: relative; height: 152px;border:1px #ddd solid;}
.ten-l .ten-l-items dt .pic img{width:222px;height:152px;}
.ten-l .ten-l-items dt em{ display: none; position: absolute; left: -1px; top: -1px; height: 22px; font-style: normal; line-height: 22px; padding: 0 7px; background: #e20803;color: #fff; border-bottom: 1px #ddd solid; border-right: 1px #ddd solid;}
.ten-l .pic-list{ width: 100%; overflow: hidden;}
.ten-l .pic-list ul{ width: 234px; position: relative; margin-top: 20px;}
.ten-l .pic-list li{ float: left; width: 107px; margin-right: 10px; position: relative; _display: inline;}
.ten-l .pic-list li img{ width: 107px; height: 107px;}
.ten-l .text-list{ margin-top: 10px; padding-bottom: 10px;}
.ten-l .text-list li{ line-height: 20px;}
.ten-l .ten-news-list{ width: 230px; position: relative; margin-top: 10px;}
.ten-l .ten-news-list li{ width: 110px; float: left; _display: inline; margin-right: 5px; line-height: 22px; height: 22px; overflow:hidden;}
.ten-m{ width: 200px;}
.ten-m dl.no-bord{ border-bottom: none;}
.ten-m dl{ border-bottom: 1px #dfdfdf dotted; padding: 12px 0;}
.ten-m dl dt{ text-align: center; font-size: 14px; font-weight: bold; margin-bottom: 10px;}
.ten-m dl dt a{color: #004499;}
.ten-m dl dd{ line-height: 22px;}
.ten-m dl dd em{ font-style: normal;}
.ten-r .key-words{ line-height: 20px;}
.ten-r .key-words a{ padding: 0 3px;}
.ten-r{ width: 207px;}
.ten-r .ban-list dd{ height: 128px; position: relative; margin-bottom: 15px; border:1px #cdcccc solid;}
.ten-r .ban-list dt img{ width: 207px; height: 110px;}
.ten-r .ban-list dd .pic img{width:205px;height:128px;}
.tantent-wapper{}
.sohu-wapper{}
.ali-wapper{
  .ten-l{ 
     margin-left: 0px;
    
  }
  
  .ten-m,.ten-r{ margin-left: 0px;}
}