.clearfix:after, .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix, .cf{ *zoom:1;}
.clear, .c { clear:both; }
a{color: #666;}
a:hover{color: #ff8900;}
.mart20{ margin-top: 20px;}
html,body{ height: 100%;}
.orange{ color: #ff6c00;}
/* 头部 s*/
.header-search-content label{ _margin:5px 17px 0 26px;}
.b-icon,.bgm .header-nav li a.cur{ background-image: url(../../images/banggemang/v1/b-icon.png); _background-image: url(../../images/banggemang/v1/b-icon8.png); background-repeat: no-repeat;}
.header .top { width:980px; margin:0 auto; height:85px; padding-top: 15px;}
.bgm{ margin-bottom: 20px;}
.bgm .header-nav{background: #373532;}
.bgm .header-nav .header-main{ z-index: 41;}
.bgm .help-cent{ display: none; width: 288px; border: 1px #ddd solid; height: 146px; background: #fff; position: absolute; right: 0; top: 47px;}
.bgm .help-cent .tit{ width: 290px; height: 38px; background-position: left -154px; background-repeat: repeat-x; position:relative; left: -1px; top: -1px;}
.bgm .help-cent .close{ width: 14px; height: 14px; float: right; margin: 8px; background-position: left -204px;}
.bgm .help-cent .text{ text-align: center; color: #666;}
.bgm .help-cent .btn{ text-align: center; line-height: 36px;}
.bgm .help-cent .btn a{ width: 100px; height: 36px; display: inline-block; background: #eb7e00; color: #fff; font-weight: bold;}
.bgm .header-nav li a{ color: #fff;}
.bgm .header-nav li a.cur{background: #ff8900;}
.bgm .header-nav li a.cur:hover{background: #ff8900;}
.bgm .header-nav li.help a{ background-position: 16px -99px;text-align: left; width:47px;  padding-left: 38px;}
.bgm .header-nav li.help a.cur{background:#ff8900 url(../../images/banggemang/v1/b-icon.png) no-repeat 16px -99px;}
.bgm .header-nav li.b5m-home a{ background-color: #262522;}
.bgm .header-nav li.help{ float: right; border-left:none; background: #262422;}
.header-search-content label{ background-position: left -70px;}
.bgm .header-search{ background: #f5f5f5;height: 33px; padding: 8px 0;}
.bgm .header-rearch-submit{position:relative; z-index:0;display:block; float:left;  color:#673700; font-family:\5FAE\8F6F\96C5\9ED1;margin-left:0px; border:1px solid #553226;height:32px; line-height: 32px;text-align: center; zoom:1;
    background: #373532; color: #fff; *margin-top: -1px;}
.header-search-content label { cursor:default; display: block; float:left;}
.header-search-key,#scbar_txt {position: relative;z-index: 10;overflow: hidden; display: block; float: left; font-family: tahoma;  border-bottom-left-radius:3px; border-top-left-radius:3px;}
.header-rearch-hotkey{ color: #333; margin-left: 10px;}
.header-rearch-hotkey a{ color: #666;}
.header-rearch-hotkey a:hover{ color:#eb7e00;}
/* 头部 e*/
.bgm-wrap{ width: 100%; margin-bottom: 20px;}
.b-aside{width: 80px; height: 362px; float: left; text-align: center;border-top:1px #e6e6e6 solid; }
.b-aside a{ color: #333333;background: #fafafa; height: 100%; display: block; font-size: 14px;}
.b-aside a.cur{ width: 80px; height: 40px; position: relative; left: -1px; top: -1px; background: #ff8900; color: #fff;}
.b-aside li{ border:1px #e6e6e6 solid; border-top: none; height: 39px; line-height: 39px;}
.b-main{ width: 880px; float: right;}
.b-title{ height: 40px; border-bottom: 1px #373532 solid; width: 100%; position: relative; z-index: 10;}
.b-title strong{ font:normal 20px/40px "Microsoft YaHei"; padding-left: 10px;}
.sele-radio{ position: absolute; right: 0; top: 0; height: 27px; width: 148px; overflow: hidden; border: 1px #c4c4c4 solid;
    box-shadow: 1px 1px 2px #c4c4c4;
    -webkit-box-shadow: 1px 1px 2px #c4c4c4;
    -moz-box-shadow: 1px 1px 2px #c4c4c4;
    -o-box-shadow: 1px 1px 2px #c4c4c4;
    -ms-box-shadow: 1px 1px 2px #c4c4c4;}
.sele-radio li{ float: left; width: 74px; text-align: center; line-height: 27px; cursor: pointer;}
.sele-radio li.cur{ background: #666666; color: #fff;}
.b-title p{ padding-top: 5px; color: #666666;}
.b-title p span{ color: #ff8900;}
.b-title p span em{ color: #ff8900;}
.help-sele{ width: 102px; height: 27px;  border:1px #c4c4c4 solid; float: right; background: #fff; position: absolute; right: 170px; top: 0;
	box-shadow: 1px 1px 2px #c4c4c4;
	-webkit-box-shadow: 1px 1px 2px #c4c4c4;
	-moz-box-shadow: 1px 1px 2px #c4c4c4;
	-o-box-shadow: 1px 1px 2px #c4c4c4;
	-ms-box-shadow: 1px 1px 2px #c4c4c4;}
.help-sele dt{ padding-right: 35px; cursor: pointer; line-height: 27px; text-align: center; background-position: right -273px; color: #666666;}
.help-sele dd{ height: 56px; padding-left: 10px; display: none;}
.help-sele dd a{ display: block; line-height:28px; color: #666666;}
.help-sele dd a:hover{color: #ff8900; text-decoration: underline;}
.help-sele.open{ height: 83px;}
.help-sele.open dt{border-bottom:1px #c4c4c4 solid;
	box-shadow: 0px 2px 2px #c4c4c4;
	-webkit-box-shadow: 0px 2px 2px #c4c4c4;
	-moz-box-shadow: 0px 2px 2px #c4c4c4;
	-o-box-shadow: 0px 2px 2px #c4c4c4;
	-ms-box-shadow: 0px 2px 2px #c4c4c4;}
.help-sele.open dd{ display: block;}
/*首页 s*/
.bgm-tit{ margin-top: 10px;}
.bgm-tit h2{ font:normal 20px/40px "Microsoft YaHei"; height: 40px; padding-left: 20px; background-position: left -338px; }
.bgm-floor{ margin-top: 20px; background: #f5f5f5;  padding-left: 52px; overflow: hidden; border-bottom: 1px #e1e1e1 solid; border-right: 1px #e1e1e1 solid;}
.bgm-floor dt{ width: 52px; float: left; color: #333333; margin-left: -52px; text-align:center;font:normal 18px/40px "Microsoft YaHei"; _display: inline; border-top: 10px #3d3d3d solid;}
.bgm-floor dt a{ display: block; height: 100%; padding-top: 74px;  padding-bottom: 1000px; margin-bottom: -1000px; }
.bgm-floor dd{ background: #fff; overflow: hidden; width: 100%; _width:927px; _float: left;}
.bgm-floor .tiems li{border-top: 1px #e1e1e1 solid; padding: 20px;}
.bgm-floor .ask{ width: 100%; position:relative; border-bottom: 1px #dfdfdf dashed; overflow: hidden;}
.bgm-floor .ask .qz-btn,
.bgm-floor .answer .hd-btn{ position: absolute; width: 32px; height: 32px; line-height: 32px; text-align: center; color: #fff;
	border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	-o-border-radius: 50% 50%;
	-ms-border-radius: 50% 50%;}
.bgm-floor .ask .qz-btn{ background: #ff8900; right: 0; margin-top: 16px;
	background: url(../../images/banggemang/v1/b-icon.png) no-repeat -35px -446px\9;
	_background: url(../../images/banggemang/v1/b-icon8.png) no-repeat -35px -446px;}
.bgm-floor .answer .hd-btn{ background: #a9dd5e; left: 30px; top: -16px;
	background: url(../../images/banggemang/v1/b-icon.png) no-repeat left -445px\9;
	_background: url(../../images/banggemang/v1/b-icon8.png) no-repeat left -445px;}
.bgm-floor .avatar{ width:85px; height: 80px; float: left; margin-right: 20px; _margin-right: 10px;}
.bgm-floor .avatar .pic{ width: 48px; height: 48px; overflow: hidden;}
.bgm-floor .avatar .pic img{ width: 48px; height: 48px;
	border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	-o-border-radius: 50% 50%;
	-ms-border-radius: 50% 50%;}
.bgm-floor .avatar .name{ font-weight: bold; color: #ff8900; display: block; height: 20px; line-height: 20px; overflow: hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;}
.bgm-floor .list{ width: 700px; float: left; border-left: 1px #dfdfdf dashed; padding-left: 20px; padding-bottom: 100px; margin-bottom: -100px;}
.bgm-floor .list h3{ font:normal 16px/24px "Microsoft YaHei"; margin-bottom: 5px;}
.bgm-floor .list h3 a{ color: #333333;}
.bgm-floor .list h3 a:hover{ color: #ff8900;}
.bgm-floor .list p{ color: #999999; line-height: 23px;}
.bgm-floor .list p span{ color: #d8d8d8;}
.bgm-floor .list p b{ display: inline-block; padding-left: 24px; background-position: left -394px; margin-left: 5px; color: #ff6c00;}
.bgm-floor .answer{ margin-top: 25px; width: 100%; position: relative; background: #f5f5f5;
	border-radius: 10px 10px;
	-webkit-border-radius: 10px 10px;
	-moz-border-radius: 10px 10px;
	-o-border-radius: 10px 10px;
	-ms-border-radius: 10px 10px;}
.bgm-floor .answer .text{ padding: 20px; line-height: 22px; color: #666666; float: left; width: 730px;}
.bgm-floor .answer .avatar{ margin-right: 10px; _margin-right: 5px; float: right; margin-top: 20px;}
.more-help{ width: 257px; height: 37px; background:url(../../images/banggemang/v1/more-help-bg.png) no-repeat; _background:url(../../images/banggemang/v1/more-help-bg8.png) no-repeat; position: relative; margin: -11px auto 0;}
.more-help a{font:normal 16px/37px "Microsoft YaHei"; color: #666;  margin-left: 30px;}
.more-help a:hover{color: #ff8900;}
/*首页 e*/
/*列表 s*/
.b-main-m{ width: 640px; float: left;}
.bgm-items{ width: 100%; margin-bottom: 20px; position: relative;}
.bgm-items .item{ padding:20px 0 20px 62px; border-bottom: 1px #ededed solid; position: relative;}
.bgm-items .avatar{ width: 42px; height: 62px; float: left; margin-left: -62px;}
.bgm-items .avatar .pic img{ width: 42px; height: 42px;}
.bgm-items .info .bd{ height: 22px; line-height: 22px; display: inline-block; padding-left: 28px; color: #ff6c00;background-position: 2px -394px;}
.bgm-items .timer{ width: 100%; color: #999; text-align: right; overflow: hidden; *zoom:1; line-height: 14px;height: 14px; margin-bottom: 8px;}
.bgm-items .timer span{ float: right;}
.bgm-items .timer .name{ float: left; color: #ff6c00; font-weight: bold;}
.bgm-items .text{ font-weight: bold; font-size: 14px; line-height: 28px; height: 28px; overflow: hidden;}
.bgm-items .text a{ color: #333333;}
.bgm-items .text a:hover{ color: #ff6c00;}
.bgm-items .text em{ font-weight: bold;  color: #ff6c00;}
.bgm-items .info{ color: #999999; line-height: 22px;}
.bgm-items .pic-items,
.ans-tiems .pic-items{ padding-top: 15px;}
.bgm-items .pic-items li,
.ans-tiems .pic-items li{ width: 76px; float: left; margin-right: 20px; _display: inline;}
.bgm-items .pic-items li a img,
.ans-tiems .pic-items li a img{ background: #fff; padding: 3px; border: 1px #e2e2e2 solid; width: 68px; height: 68px;
	box-shadow: 0 0 4px #ccc;
	-webkit-box-shadow: 0 0 4px #ccc;
	-moz-box-shadow: 0 0 4px #ccc;
	-o-box-shadow: 0 0 4px #ccc;
	-ms-box-shadow: 0 0 4px #ccc; }
.bgm-items .pic-items li a:hover img,
.ans-tiems .pic-items li a:hover img{border: 1px #ffdaaf solid;
	box-shadow: 0 0 4px #ffdaaf;
	-webkit-box-shadow: 0 0 4px #ffdaaf;
	-moz-box-shadow: 0 0 4px #ffdaaf;
	-o-box-shadow: 0 0 4px #ffdaaf;
	-ms-box-shadow: 0 0 4px #ffdaaf; }
.bgm-items .big-pic,
.ans-tiems .big-pic{ display: none; width: 408px; height: 408px; background: #fff; padding: 5px; border:1px #b9b9b9 solid; position:absolute; left: 62px; top: 56px;
	box-shadow: 0 0 10px #b9b9b9;
	-webkit-box-shadow: 0 0 10px #b9b9b9;
	-moz-box-shadow: 0 0 10px #b9b9b9;
	-o-box-shadow: 0 0 10px #b9b9b9;
	-ms-box-shadow: 0 0 10px #b9b9b9; }
.bgm-items .big-pic img,
.ans-tiems .big-pic img{ width: 408px; height: 408px;}
/*20140110 s*/
.b-main-r{ width: 202px; float: right;}
.user-data{ padding: 10px; background: #f3f3f3; border: 1px #e6e6e6 solid; border-radius: 3px; margin-bottom: 20px;}
.user-data .user-items dt{ width: 70px; float: left; _display: inline; margin-right: 10px;}
.user-data .user-items dt img{ width: 70px;height: 70px;}
.user-data .user-items h3{ color:#ff6c00; font-weight: bold; font-size: 16px;}
.user-data .user-items p{ color: #999;}
.user-data .tw-ul{ background: #fff; border: 1px #d5d5d5 solid; margin-top: 10px;}
.user-data .tw-ul li{ float: left; text-align: center; width: 85px; margin-left: -1px; border-left: 1px #ddd solid; height: 43px; padding-top: 5px;}
.user-data .tw-ul li b{ color: #ff8900;}
.hot-news{ border: 1px #e6e6e6 solid;}
.hot-news h3{ font:bold 14px/39px "Microsoft YaHei"; padding-left: 10px; border-bottom: 1px #e6e6e6 solid; }
.hot-news .hot-ul{ padding: 10px 15px 20px;}
.hot-news .hot-ul li{ padding: 10px 0 10px 25px; line-height: 20px;  border-bottom: 1px #e6e6e6 dotted; overflow: hidden; *zoom:1;}
.hot-news .hot-ul li em{ width: 16px; height: 16px; border-radius: 50%; float: left; _display: inline; color: #fff; text-align: center; line-height: 14px; margin-left: -25px; margin-top: 3px;}
.hot-news .hot-ul li em.bg1{ background: #ff8900;}
.hot-news .hot-ul li em.bg2{ background: #acacac;}
/*20140110 e*/

/*列表 e*/

/*page s*/
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center;}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:38px;line-height:38px;margin-top:0;width:32px;font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:tahoma;}
.page a.first,.page a.last{}
.page a:hover{color:#fff;background-color:#ff9c0f;background-image:none;border-color:#eb8226;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#ff9c0f;font-family:arial;border-radius:3px;cursor:default;width:34px;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:80px;margin-right:0;text-align:right;font-family:tahoma}
.page .page-input{font-family:tahoma;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input.page_number{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #e98900;}
.page .page-input a,
.page .page-input input.page_go_btn{float:left;width:29px;height:18px;float:left;color:#fff;background:#ff9c0f;border:1px solid #e98900;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page .page-input input.page_go_btn{ height: 20px; line-height: 20px;border:none; *zoom:1;}
.page span.go{padding:0;width:25px;text-align:center;margin:0;}
/*page e*/

/*求助页面 s*/
.re-main{ padding:15px 45px;}
.re-main .tit{ font: bold 20px/35px "Microsoft YaHei";}
.re-main .tit span{ font-size: 12px; color: #999; font-weight: normal;margin-left: 10px;}
.re-main .text-area,
.re-main .text-area1{ width: 100%; position: relative; margin-top: 10px;}
.re-main .text-area{ height: 140px;}
.re-main .text-area1 .tip{ background: url(../../images/banggemang/v1/re-icon.png) no-repeat; width: 152px; height: 36px; text-align: center; line-height: 30px; color: #f50034; position: absolute; top: -36px; left: 50%; margin-left: -76px;}
.re-main .text-area .area,
.re-main .text-area1 .area{ width:848px; padding: 10px 20px; height: 114px; line-height: 20px; color: #666; border:1px #d2d2d2 solid;
	box-shadow: 0 2px 1px #e8e8e8;
	-webkit-box-shadow: 0 2px 1px #e8e8e8;
	-moz-box-shadow: 0 2px 1px #e8e8e8;
	-o-box-shadow: 0 2px 1px #e8e8e8;
	-ms-box-shadow: 0 2px 1px #e8e8e8; }
.re-main .text-area1 .area{ line-height: 32px; height: 32px;}
.re-main .tw-tag{ margin-top: 15px;}
.re-main .tw-tag li{ float: left; _display: inline; margin-right: 10px;border: 1px #c4c4c4 solid; position: relative; height: 26px;}
.re-main .tw-tag li a{ padding: 0 15px; line-height: 26px; display: block; }
.re-main .tw-tag li:hover,
.re-main .tw-tag li.cur{ border-color: #ff8900;}
.re-main .tw-tag li .close{ cursor: pointer; width: 8px; height: 8px; overflow: hidden; position: absolute; right: 3px; top: 3px; background-position: -178px -448px;}
.answer-login{ text-align: center; padding: 30px 0; border: 1px #ddd solid; margin-top: 10px; background: #fcfcfc;
	border-radius:3px 3px;
	-webkit-border-radius:3px 3px;
	-moz-border-radius:3px 3px;
	-o-border-radius:3px 3px;
	-ms-border-radius:3px 3px;}
.answer-login .text{ line-height: 24px; color: #666;}
.answer-login .btn{ margin-top: 5px;}
.answer-login .btn a{ width: 100px;height: 36px;display: inline-block;background: #eb7e00;color: #fff;font-weight: bold; line-height: 36px; }

.error-danger{ background: #f2dede; border: 1px #ebccd1 solid; padding: 5px 10px;
	border-radius:5px 5px;
	-webkit-border-radius:5px 5px;
	-moz-border-radius:5px 5px;
	-o-border-radius:5px 5px;
	-ms-border-radius:5px 5px;}
.error-danger li{ line-height: 20px; color: #a94442;}
.file-main { margin-top: 10px;}
.file-main .file-w{ height: 20px; overflow: hidden; position: relative;}
.file-main .file-w .file-btn,
.file-main .file-w .file{ height: 20px; position:absolute; left: 0; top: 0; overflow: hidden;}
.file-main .file-w .file-btn{ color: #666; background: url(../../images/banggemang/v1/re-icon.png) no-repeat left -49px; _background: url(../../images/banggemang/v1/re-icon8.png) no-repeat left -49px; width: 50px; z-index: 0; padding-left: 26px; line-height: 20px;}
.file-main .file-w .file{ width: 78px; z-index: 2; font-size: 100px; opacity: 0; filter:alpha(opacity=0); margin-top: -5px;}
.file-main .file-w .file-link{ position: absolute; left:95px; line-height: 20px; padding-left: 26px;  background: url(../../images/banggemang/v1/re-icon.png) no-repeat left -165px; _background: url(../../images/banggemang/v1/re-icon8.png) no-repeat left -165px;}
.file-main .file-w .link-tip{ margin-left: 200px; line-height: 20px; color: #999;}
.file-main .radio-w{ margin-top: 10px; height: 14px; line-height: 14px;}
.file-main .radio-w label{ float: left; margin-right: 25px; _display: inline;}
.file-main .radio-w .radio{ float: left; width: 14px; height: 14px; margin-top: 1px;  margin-right: 2px; _display: inline;}
.file-main .radio-w span{ float: left; color: #333333;}
.file-main .sub-btn{  margin-top: 8px;  overflow: hidden; *zoom:1;}
.my-help-cont .file-main .sub-btn{margin-top: -28px;}
.file-main .sub-btn .btn{ width: 114px; float: left; border: none; height: 34px;font-size: 16px; font-family:"Microsoft YaHei" ; color: #fff; line-height: 34px; text-align: center; display: block; background: #ff8900;}
.file-main .sub-btn .btn:hover,
.file-main .sub-btn .btn.cur{ background: #b3b3b3; }
.file-main .sub-btn span{ line-height: 34px; float: left; margin-left: 20px; color: #f50034;}
.file-main .txt-tip{ color: #999; margin-top: 30px;}
.file-main .bd{ float: right; width: 110px;}
.file-main dd{ width: 760px;}
.file-main .bd .inputp{ line-height: 22px; height: 22px;}
.file-main .bd .inputp span{ float: left;}
.file-main .bd .inputp input{ border:1px #c4c4c4 solid;  color: #666666; width: 40px; height: 20px; line-height: 20px; text-align: center; float: left; margin-left: 5px; _display: inline;
	box-shadow: 0 2px 1px #e8e8e8;
	-webkit-box-shadow: 0 2px 1px #e8e8e8;
	-moz-box-shadow: 0 2px 1px #e8e8e8;
	-o-box-shadow: 0 2px 1px #e8e8e8;
	-ms-box-shadow: 0 2px 1px #e8e8e8;}
.file-main .bd .text{ color: #999; padding-top: 10px; }
/*上传图片弹出层 s*/
#filepic-cent{ width: 515px; height: auto; margin-top: 0; margin-left: -258px;}
#filepic-cent .file-cent{ width: 100%; position: relative;height: 100%;}
#filepic-cent .close{ width: 10px; height: 10px; position:absolute; right: 10px; top: 10px; background-position: -20px -204px; cursor: pointer;}
#filepic-cent h2{ line-height: 42px; padding-left: 20px; font-size: 14px; font-weight:bold; color: #666666; border-bottom: 1px #e8e8e8 solid;}
#filepic-cent .file-tiems{ padding: 20px 0; margin: 0 38px; border-bottom: 1px #d4d4d4 dashed;}
#filepic-cent .file-tiems p{ color: #999;}
#filepic-cent .file-tiems span{ color: #ff6c00;}
#filepic-cent .sub-btn{ padding: 20px 38px; text-align: right;}
#filepic-cent .sub-btn a{ width: 70px; height: 26px; line-height: 26px; color: #fff; text-align: center; background: #ff6c00; border: 1px #ed6400 solid; display: inline-block;}
/*上传图片弹出层 e*/


/*求助页面 e*/
/*求助提交页 s*/
.recour-main h1{ font:normal 24px/40px "Microsoft YaHei";}
.recour-main .info{ height: 22px; overflow: hidden; line-height: 22px; margin-top: 10px;}
.recour-main .info dt{ width: 20px; float: left; margin-right: 10px; _display: inline; margin-top: 1px;}
.recour-main .info dd{ color: #666666; float: left;}
.recour-main .info dd em{ padding: 0 15px; border: 1px #ddd solid; border-radius:10px; line-height: 20px; margin: 0 5px; display: inline-block;}
.recour-main .info .bd{ width: 30px; height: 22px; line-height: 22px; padding-left: 28px; background: url(../../images/banggemang/v1/b-icon.png) no-repeat left -394px; margin-left:10px; _display: inline; color: #ff6c00;}
.recour-cont{ width: 100%; overflow:hidden; padding: 20px 0; line-height: 26px; font-size: 16px; border-bottom: 1px #ededed solid;}
.recour-cont .other{ margin-top: 10px; font-size: 12px;}
.recour-cont .other span{ float: left; line-height: 30px; margin-right: 5px; _display: inline; color: #999;}
.recour-cont .other a{ float: left; line-height: 28px; border: 1px #ddd solid; padding: 0 10px;}
.bgm-share{ margin-top: 10px;}
.bgm-share span{ float: left; height: 24px; font-size: 12px; color: #999;}
/*求助提交页 e*/
/*我的帮忙详情页 s*/
.answer-cont{ margin-top: 20px;}
.answer-cont .ans-tit{ height: 28px; font:normal 20px/28px "Microsoft YaHei";}
.answer-cont .ans-tit em{ font-size: 16px; color: #fff; float: left; width: 28px; height: 28px; background: #ff8e3c; text-align: center; margin-right: 10px;font-family:Arial; _display: inline;
	border-radius: 14px 14px;
	-webkit-border-radius: 14px 14px;
	-moz-border-radius: 14px 14px;
	-o-border-radius: 14px 14px;
	-ms-border-radius: 14px 14px;}
.ans-tiems .item{ border-top: 1px #ededed solid; *zoom:1; padding: 20px 0px 20px 40px; margin-top: -1px; position:relative;}
.ado-items{ padding-bottom: 20px;}
.ado-items .item{border-bottom: 1px #ededed solid;}
.ans-tiems .item .pic{ float: left; width: 32px; height: 65px; margin-left: -40px; float: left; background: #f0f0f0; text-align: center; color: #999;}
.ans-tiems .item .pic b{ display: block; color: #fb6a00; font-size: 12px; font-weight: normal; line-height: 14px;}
.ans-tiems .item.no-bord{ border-top: none;}
.ans-tiems .item .pic img{ width: 32px; height: 32px;}
.ans-tiems .item .na{ color: #fb6a00; font-size: 14px;}
.ans-tiems .item em{ margin-left: 30px; color: #999; float: right;}
.ans-tiems .item .text{ font-size: 14px; line-height: 26px; padding: 5px 0;}
.ans-tiems .item .text a{ color: #fb6a00;}
.ans-tiems .item .an-btn a{ line-height: 24px; padding: 0 10px; border: 1px #ddd solid; display:inline-block;}
.layer-bg{ display: none; background: #000; opacity:0.2; filter:alpha(opacity=20); width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 1000;}
.layer-main{display: none; width: 290px; height: 176px; background: #fff; position: absolute; left: 50%; top: 50%; margin-left: -145px; margin-top: -88px; z-index: 1001;}
.layer-main .help-cent{ width: 288px; border: 1px #ddd solid; height: 174px; background: #fff; position: relative;}
.layer-main .help-cent .tit{ width: 290px; height: 38px; background-position: left -154px; background-repeat: repeat-x; position:relative; left: -1px; top: -1px;}
.layer-main .help-cent .close{ width: 14px; height: 14px; float: right; margin: 8px; background-position: left -204px;}
.layer-main .help-cent .cass{ text-align: center; font:normal 20px/30px "Microsoft YaHei"; padding-top: 10px;}
.layer-main .help-cent .text{ padding-left: 80px; color: #666; height: 40px; line-height: 40px;  background: url(../../images/banggemang/v1/re-icon.png) no-repeat 38px -115px;}
.layer-main .help-cent .text em{ color: #ff8e3c; margin-right: 5px; font-weight: bold;}
.layer-main .help-cent .btn{ text-align: center; line-height: 36px; margin-top: 5px;}
.layer-main .help-cent .btn a{ width: 100px; height: 36px; display: inline-block; background: #eb7e00; color: #fff; font-weight: bold;}
/*我的帮忙详情页 e*/
/*帮忙详情页 s*/
.my-help-cont{ padding-top: 20px;}
.my-help-cont .file-main{ }
.my-help-cont .file-main dd{ width: 100%;}
.my-help-cont .file-main .sub-btn .btn{ margin-left: 10px; border: none;}
.my-help-cont .file-main .sub-btn .btn,
.my-help-cont .file-main .sub-btn span{ float: right;}
.my-help-cont .file-main .text-tip{color: #999999; line-height: 20px; margin-top: 10px;}
.my-help-cont .file-main .text-tip span{ color: #ff8900;}
.my-help-cont .tit{ font: bold 20px/35px "Microsoft YaHei";}
.my-help-cont .tit span{ font-size: 12px; color: #999; font-weight: normal;margin-left: 10px;}
.my-help-cont .text-area{ width: 100%; height: 164px; position: relative; margin-top: 10px;}
.my-help-cont .text-area .tip{ background: url(../../images/banggemang/v1/re-icon.png) no-repeat; width: 152px; height: 36px; text-align: center; line-height: 30px; color: #f50034; position: absolute; top: -36px; left: 50%; margin-left: -76px;}
.my-help-cont .text-area .area{ width:698px; padding: 10px 20px; height: 138px; line-height: 20px; color: #666; border:1px #d2d2d2 solid;
	box-shadow: 0 2px 1px #e8e8e8;
	-webkit-box-shadow: 0 2px 1px #e8e8e8;
	-moz-box-shadow: 0 2px 1px #e8e8e8;
	-o-box-shadow: 0 2px 1px #e8e8e8;
	-ms-box-shadow: 0 2px 1px #e8e8e8; }
/*帮忙详情页 e*/

/*我的主页 zibu 20140116 s*/
.crumbs{ background: #f5f5f5; line-height: 32px; padding: 0 10px;}
.crumbs span{ color: #999;}
.my-head{ height: 228px; overflow: hidden; position: relative; margin-top: 20px;}
.my-head .bg-pic{ width: 100%; height: 100%; position: absolute; z-index: 0;}
.my-head .bg-pic img{ width: 980px; height: 228px;}
.my-head .bg-mian{ background: #fff; width: 800px; height: 128px; opacity: 0.9; filter:alpha(opacity=90); position: absolute; left: 50%; top: 50%; margin: -64px 0 0 -360px; }
.my-head .text-mian{width: 880px; height: 128px; position :relative; padding: 50px;}
.my-head .m-avatar{ width: 150px; height: 150px; border-radius: 50%; border: 4px #fff solid;  margin-top: -15px; background: #fff;overflow: hidden; float: left; _display: inline; margin-right: 10px;}
.my-head .m-avatar img{ width: 150px; height: 150px;}
.my-head .text-mian h3{ font: normal 30px "microsoft yahei"; color: #fa7a19; float: left; _display: inline; margin-top: 22px;}
.my-head .numb{ float: right; _display: inline; margin: 55px 15px 0 0;}
.my-head .numb li{ padding: 0 15px; text-align: center; float: left;}
.my-head .numb li span,
.my-head .numb li b{ display: block;  line-height: 20px;}
.my-head .numb li span{ color: #999;}
.my-head .numb li b{ font: bold 14px "microsoft yahei"; color: #333333;}

.my-nav{ background: #ebebeb; height: 48px;}
.my-nav a{ color: #333333; float: left; font:bold 16px/48px "microsoft yahei"; padding: 0 22px;}
.my-nav a:hover,
.my-nav a.cur{ color: #fff; background: #ff8900;}
.my-news{ margin-top: 20px;}
.my-tit{ font:normal 20px/28px "microsoft yahei"; color: #333333;}
.my-news .news-items{ overflow: hidden;}
.my-news .news-items li{padding: 20px 0; margin-top: -1px; border-top:1px #f0f0f0 solid;}
.my-news .news-items .name{ height: 22px; overflow: hidden; line-height: 22px; color: #999;}
.my-news .news-items .name img{ width: 22px;height: 22px;}
.my-news .news-items .name strong{ float: right; color: #a1a1a1;}
.my-news .news-items .text{ padding: 10px 0 5px 0;}
.my-news .news-items .text a{ font-size: 14px; font-weight: bold;}
.new-tiem{ padding:10px  5px 0px 52px;}
.new-tiem dt{ width: 45px; height: 45px; background: #f0f0f0; float: left; _display: inline; margin-left: -54px; text-align: center;}
.new-tiem dt b{ display: block; color: #fa9f6f; margin-top: 2px; font-size: 14px;}
.new-tiem dt span{ color: #999;}
.new-tiem h3{ line-height: 14px; color: #fb6a00; font-size: 14px;}
.new-tiem p{ line-height: 24px; margin-top: 5px;}
.new-tiem p{ color: #999;}
.new-tiem p a{ color: #f08406;}
.load-more a{ height: 34px; overflow: hidden; line-height: 34px; text-align: center; display:block; background: #ececec;}
.hot-helps{ margin-top: 20px;}
.hot-helps .bgm-items .item{ padding: 15px 5px;  _zoom:1;}
.hot-helps .bgm-items .text{ width: 800px;}
.bgm-items .item .solve{ width: 75px; height: 32px; line-height: 32px; text-align: center; position: absolute; background: #f5f5f5; right: 5px; top: 25px; border-radius:3px; color: #999;}
.bgm-items .item .no-solve{ background: #ffa945; color: #fff;}

.eric-tag{ background: #f5f5f5; height: 100px; padding: 20px; margin-top: 10px; position: relative;}
.eric-tag .tag{ height: 100px; overflow: hidden;}
.eric-tag .tag a{ background: #fff;font:normal 14px/26px "microsoft yahei"; border: 1px #d4d4d4 solid; display: inline-block; padding: 0 20px; border-radius: 10px; margin:10px 15px; }
.eric-tag .tag a:hover{background: #fa9339; border: 1px #fa9339 solid; color: #fff;}
.eric-tag .chg{ position: absolute; right: 20px; bottom: 20px;}

.bgm-items .new-tiem p{ font-size: 14px; color: #000; width: 700px;}
.bgm-items .item .wait-cn,
.bgm-items .item .already-cn,
.bgm-items .item .already-cn1{ width: 80px; height: 28px; padding-left: 30px; line-height: 28px; position: absolute; right: 0; top: 25px; color: #666;}
.bgm-items .item .wait-cn{ background-position: 10px -482px;}
.bgm-items .item .already-cn{ background-position: 10px -518px;}
.bgm-items .item .already-cn1{ background-position: 0 -560px;}
.hot-sc{ margin-top: 20px;}
/*我的主页 zibu 20140116 e*/
/*他的主页详情页 zibu 20140120 s*/
.bgm-l{ width: 740px;}
.bgm-r{ width: 202px;}
.b-main-l{ width: 758px; float: left;}
.inc-main h2{ height: 28px; font:normal 20px/28px "microsoft yahei"; padding-left: 20px; background-position: left -345px;}
.hd-tit li{ float: left; margin-left: 1px; width: 93px; _display: inline; font:normal 14px/40px "microsoft yahei";}
.hd-tit li a{ height: 40px; display: block; line-height: 40px; text-align: center; background: #ebebeb; border-radius:5px;}
.inc-items{ margin-left: -30px; position: relative;}
.inc-items li{ width: 364px;float: left; margin-left: 30px;}
.inc-items h3{ height: 30px; font:normal 24px/30px "microsoft yahei"; margin-top: 10px; background-position: left -606px; background-repeat: repeat-x; overflow: hidden;}
.inc-items h3 em{ background: #fff; float: left; width: 65px; height: 30px;}
.inc-items .item{ margin-top: 10px;}
.inc-items .item dt{ height: 200px; overflow: hidden;}
.inc-items .item .qa{ height: 90px; padding: 10px 0 10px 68px; overflow: hidden; border-bottom: 1px #f0f0f0 solid;}
.inc-items .item p{ height: 45px; line-height: 20px; color: #666666; overflow: hidden;}
.inc-items .item p strong{ color: #999; margin-right: 5px;}
.inc-items .item p a{ color: #000;}
.inc-items .item p a:hover{ color: #ff6c00}
.inc-items .item .pic{ float: left; width: 52px; _display: inline; margin-left: -68px; margin-top: 5px;}
.inc-items .item .pic a{ color: #ff6c00; font-weight: bold;}
.inc-items .item .mo{ background: #f0f0f0; padding-right: 10px; text-align: right; line-height: 30px;}
/*他的主页详情页 zibu 20140120 e*/





















