<strong><img src="<%=logo%>" alt="" title="" width="46" height="46" /></strong>
<dl>
    <dt>
        <a href="<%=fromUrl%>" target="_black"><%=fromStr%>：</a>
        <span class="messageBody message-bold">
            <em class="message-title msgDetailBut"><%=title%></em>
            <a class="msgDetailBut" href="javascript:void(0);">点此查看详情 &gt;&gt;</a>
        </span>
    </dt>
    <dd>
        <div class="message-detail">
            <%=content%>
        </div>
        <div class="message-time">
            <a href="javascript:void(0);" class="del">删除</a>
            <span><%=COMMON.formatTime(time)%></span>
            <span>来自<%=fromStr%></span>
        </div>
    </dd>
</dl>