<li>
    <a href="<%=goodsUrl%>" target="_blank" class="fav-pic">
        <img src="<%=picUrl%>" width="230" height="230" />
        <span>收藏时间：<%=favoritesTime%></span>
    </a>
    <p class="fav-link">
        <!-- <input type="checkbox" class="fav-chk" /> -->
        <a href="<%=goodsUrl%>" target="_blank">【<%=webSiteName%>】<%=title%></a>
    </p>
    <p class="fav-brief">
    	<%if(price > 0 && collectionPrice > 0){%>
	    	<% if(status == 1){%>
		    	<% if(price<collectionPrice){%>
		    		<i class="fav-reduce"></i>
		    	<%}%>
		        <span class="fav-price">￥<em><%=price%></em></span>
		    <%}else{%>
		    	<b class="fav-outdate">宝贝已失效</b>
		    <%}%>
	        <span class="fav-discount">收藏价：<del><%=collectionPrice%></del></span>
	    <%}else{%>
	    	<%='<span calss="fav-no-price">价格暂时获取不到</span>'%>
	    <%}%>
        <i class="icon-del del-favorites-but" attr-id="<%=ugcId%>"></i>
    </p>
</li>