<div class="layout-favorites-corp clear-fix">
    <span class="fl">商家：</span>
    <ul class="fl" id="website-list"></ul>
</div>
<div class="layout-favorites-wrap">
    <div class="layout-tab-tit layout-tab-favorites">
        <span class="tabCur" attr-type="0">全部宝贝<s></s></span>
        <span attr-type="1">降价宝贝<s></s></span>
        <!-- <span attr-type="2">已失效宝贝<s></s></span> -->
    </div>
    <div class="layout-tab-content show"></div>
    <div class="layout-tab-content"></div>
    <div class="layout-tab-content"></div>
</div>