/*www base s*/
.wp{width:980px;margin:0 auto;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,.clear-fix:before{content:" ";display:table;}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.list-h li{float:left;}
img{vertical-align:top;}
.mt20{margin-top:20px;}
.pz{position:relative;z-index:0}
.vh{font-size:0;line-height:0;overflow:hidden;}
.business{background-color:#eb7e00;}
/*header s*/
.header{height:133px;padding-top:15px;}
.header .list-h{margin-left:210px;margin-top:-26px;zoom:1;}
.header .list-h li{position:relative;width:84px;height:40px;margin-right:1px;line-height:40px;text-align:center;}
.header .list-h a{display:block;zoom:1;font-size:16px;color:#4c4c4c;font-family:\5FAE\8F6F\96C5\9ED1;background:url(../../images/www/nav.png) no-repeat scroll 50% 0 transparent;_background-image:url(../../images/www/nav8.png);}
.header .list-h a:hover{background:url(../../images/www/nav.png) no-repeat scroll 50% -44px transparent;_background-image:url(../../images/www/nav8.png);}
.header .list-h li.cur a{color:#fff;background:url(../../images/www/nav.png) no-repeat scroll 50% -90px transparent;_background-image:url(../../images/www/nav8.png);}
.header .list-h .new{position:absolute;font-size:0;line-height:0;overflow:hidden;top:-4px;right:4px;width:22px;height:14px;background:url(../../images/www/icon.png) no-repeat -100px 0 scroll;_background-image:url(../../images/www/nav8.png);}
.header .search-bar{height:47px;background-color:#EB7E00;}
.header .search-tools{position:relative;z-index:10;float:left;_display:inline;margin-left:50px;padding:6px 0 5px;_padding:6px 0 0;}
.header .search-tools .header-search-content{border:2px solid #D37100;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.header .search-tools .header-search-key{border:none;-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;border-bottom-left-radius:3px;}
.header .search-tools .hot-keys{height:34px;line-height:34px;float:left;margin-left:10px;font-size:12px;color:#fff6eb;font-family:"\\5B8B\\4F53",SimSun;}
.header .search-tools dt,
.header .search-tools dd{float:left;}
.header .search-tools .hot-keys a{color:#fff6eb;margin-right:12px;}
.header .search-tools .hot-keys a:hover{text-decoration:underline;}
/*header s*/
/* search bar s*/
.search-tools span{display:inline-block;*display:inline;*zoom:1;}
.header-search-content label{ display:none;}
.header-rearch-submit{height:32px;line-height:32px;*line-height:36px;_line-height:32px;text-align:center;display:inline-block;*display:inline;*zoom:1;color:#673700;background:-webkit-gradient(linear, left top, right top, from(#FFD48C), to(#FFC061));background:-webkit-linear-gradient(top, #FFD48C, #FFC061);background:-moz-linear-gradient(top, #FFD48C, #FFC061);background:-o-linear-gradient(top, #FFD48C, #FFC061);background:-ms-linear-gradient(top, #FFD48C, #FFC061);background:linear-gradient(top, #FFD48C, #FFC061);background-color:#FFD48C;}
.header-rearch-submit:hover{color:#673700;}
.header-rearch-hotkey,.header-rearch-hotkey a{ color:#fff;}
.focusin{ color:#000;}
/* search bar e*/
/*全部商品分类 s*/
.all-cate{position:relative;z-index:100;float:left;height:47px;line-height:47px;width:200px;background-color:#D37100}
.all-cate h2{padding-left:16px;font-size:14px;color:#fff;font-family:"\5FAE\8F6F\96C5\9ED1"}
.main-item{position:absolute;width:200px;}
.all-cate a{font-size:12px;color:#333;font-family:"\5FAE\8F6F\96C5\9ED1"}
.all-cate a:hover{color:#F18100;text-decoration:underline;}
.all-cate li{height:31px;line-height:28px;padding-left:48px;background:#FAFAFA;border:1px solid #FAFAFA;border-right:none;}
.all-cate .icon{display:inline-block;*display:inline;*zoom:1;margin:6px 0 0 -36px;float:left;width:22px;height:22px;background-image:url(../../images/www/icon.png);_background-image:url(../../images/www/icon8.png);background-repeat:no-repeat;-webkit-transition:all ease-in .3s;-moz-transition:all ease-in .3s;-ms-transition:all ease-in .3s;-o-transition:all ease-in .3s;transition:all ease-in .3s;}
.all-cate li:hover .icon{-webkit-transform:rotate(30deg);-moz-transform:rotate(30deg);-ms-transform:rotate(30deg);-o-transform:rotate(30deg);transform:rotate(30deg);}
.all-cate .icon-book{background-position:0 0;}
.all-cate .icon-mobile{background-position:0 -50px;}
.all-cate .icon-game{background-position:0 -100px;}
.all-cate .icon-telephone{background-position:0 -150px;}
.all-cate .icon-laptop{background-position:0 -200px;}
.all-cate .icon-furniture{background-position:0 -250px;}
.all-cate .icon-clothes{background-position:0 -300px;}
.all-cate .icon-bag{background-position:0 -350px;}
.all-cate .icon-makeup{background-position:0 -400px;}
.all-cate .icon-ice-cream{background-position:0 -450px;}
.all-cate .icon-baby{background-position:0 -500px;}
.all-cate .icon-sport{background-position:0 -550px;}
.all-cate .icon-medical{background-position:0 -600px;}
.all-cate .item-odd{background-color:#F1F1F1;border-top:1px solid #F1F1F1;border-bottom:1px solid #F1F1F1;}
.all-cate .sub_item{display:none;width:0;border:1px solid #ddd;min-height:427px;position:absolute;overflow:hidden;z-index:80;left:200px;top:0;margin-left:-1px;background-color:#fff;}
.all-cate dt a{font-size:18px;font-weight:700;color:#eb7e00;}
.all-cate dt a:hover{text-decoration:none;}
.all-cate dl{padding:8px 0 8px 0;margin-top:-1px;zoom:1;border-top:1px solid #F0F0F0;}
.all-cate dt{margin-bottom:-5px;}
.all-cate dd{overflow:hidden;}
.all-cate dd a{float:left;margin-right:15px;white-space:nowrap;font-family:\5B8B\4F53}
.all-cate .sub-wp{width:649px;overflow:hidden;}
.all-cate .sub-in{float:left;min-height:411px;_height:411px;width:378px;padding:0 0 15px 30px;line-height:24px;background-color:#fff;}
.all-cate .main-cate{position:relative;z-index:100;height:31px;line-height:31px;margin-right:-2px;}
.all-cate .main-cate .arrow{position:absolute;display:none;top:10px;right:14px;width:8px;height:12px;font-size:0;line-height:0;overflow:hidden;background:url(../../images/www/icon.png) no-repeat scroll 0 -650px;_background-image:url(../../images/www/icon8.png)}
.all-cate .active,
.all-cate .open{height:31px;line-height:28px;border:1px solid #E4E4E4;border-right:none;background:#fff;}
.all-cate .active .main-cate,
.all-cate .open .main-cate{background:#fff;}
.all-cate .active .arrow,
.all-cate .open .arrow{display:inline-block;*display:inline;*zoom:1;}
.hot-brand{float:left;width:240px;padding-bottom:2000px;margin-bottom:-2000px;border-left:1px solid #EBEBEB;}
.hot-brand h4{padding:6px 0;font:700 14px/32px '\5FAE\8F6F\96C5\9ED1';}
.list-brand{overflow:hidden;}
.list-brand,
.hot-brand h4{margin:0 20px;zoom:1;}
.list-brand li{float:left;height:50px;width:100px;padding:0;border-top:1px solid #F0F0F0;border-left:1px solid #F0F0F0;margin-top:-1px;margin-left:-1px;background-color:#fff}
.list-brand li a{display:table-cell;vertical-align:middle;height:50px;width:100px;text-align:center;*display:block;*font-size:44px;}
.list-brand li img{vertical-align:middle;}
.hot-brand .brand-recommend{display:block;padding:20px 0 0 20px;}
/*全部商品分类 e*/
/*Layout-S-Gaotian-20131104*/
.ov{overflow:hidden;zoom:1}
s,small,u{font-style:normal;font-size:12px;text-decoration:none}
.wp-fanli{padding-bottom:20px;font-family:arial;}
.mt34{margin-top:34px}
.pz{position:relative;z-index:0}
/*Layout-E-Gaotian-20131104*/
/*------------------------------------返利-首页 S------------------------------------*/
/*顶层-S-Gaotian-20131104*/
.wrap-head{margin-top:10px;padding:48px 0 0 218px;background:url(../../images/fanli/step.png) no-repeat 218px 0;}
.wrap-head h3,.wp-fanli h3.column_tit{padding-bottom:10px;font-size:14px;line-height:16px;font-family:"Microsoft YaHei";}
.fanli-head-left{float:left;width:460px;overflow:hidden}
.fanli-head-right{float:right;width:280px;}
/*成交历史记录*/
.head-bidHistory{width:460px;}
.fanli-head-left .fanli_list_item{width:230px;margin:-1px 0 0 -1px;padding:12px 0 0;border-left:1px dashed #e4e4e4;border-top:1px dashed #e4e4e4;}
.fanli_list_item{display:inline;float:left;/*width:200px;*/height:124px}
.fanli_list_item .pic{float:left;width:132px;text-align:center}
.fanli_list_item .pic img{width:110px;height:110px;}
.fanli_list_item ul{display:inline;*display:block;overflow:hidden;margin-top:-2px;font-family:Arial;text-align:left;}
.fanli_list_item li{padding-top:10px;color:#999;line-height:14px;zoom:1}
.fanli_list_item b{color:#f18100;font-weight:normal}
.layout-fanxian{display:inline-block;overflow:hidden;border:1px solid #f18100;border-radius:3px;}
.layout-fanxian s,.layout-fanxian b{float:left;width:34px;padding:3px 0;text-align:center;}
.layout-fanxian s{width:32px;background:#f18100;color:#fff}
/*商家合作*/
.layout-scroll-box{width:430px;}
.fanli-cooperation .layout-scroll{position:relative;width:461px;}
.fanli-cooperation li{position:relative;z-index:0;width:100px;height:100px;overflow:hidden;margin-right:10px;}
.fanli-cooperation li a{display:table-cell;*display:block;position:relative;z-index:0;width:98px;height:98px;border:1px solid #e4e4e4;*font-size:85.554px;text-align:center;vertical-align:middle;}
.fanli-cooperation li img{vertical-align:middle;}
.fanli-cooperation li span{position:absolute;right:0;bottom:10px;left:0;width:100%;font-size:12px;line-height:14px;}
.fanli-cooperation li a{color:#999}
.fanli-cooperation li a:hover{border-color:#f18100;color:#f18100;}
/*Scroll翻页-S*/
.layout-scroll{position:relative;z-index:0;}
.layout-scroll-box{overflow:hidden;margin:0 auto;}
.layout-scroll-box ul{width:4000px;}
.layout-scroll-box li{display:inline;float:left;}
.layout-scroll-prev,.layout-scroll-next{position:absolute;top:50%;z-index:1;width:10px;height:17px;margin-top:-8px;background-image:url(../../images/fanli/bg_scroll.png);background-repeat:no-repeat;cursor:pointer}
.layout-scroll-prev{background-position:0 0}
.layout-scroll-prev:hover{background-position:-10px 0}
.layout-scroll-next{right:0;background-position:0 -19px}
.layout-scroll-next:hover{right:0;background-position:-11px -19px}
/*Scroll翻页-E*/
.js_tab_cont{display:none}
/*获奖*/
.wrap-head-awards{position:absolute;bottom:0;left:0;z-index:1;width:200px;}
.wrap-head-awards b{color:#f00;font-weight:normal}
/*会员信息*/
/*.side-menberinfo{width:250px;height:112px;padding:14px 14px 0;background:#f5f5f5;border:1px solid #e4e4e4;border-radius:3px;}
.side-menberinfo .pic{float:left;}
.side-menberinfo img{width:50px;height:50px;}
.side-menberinfo .tit,.side-menberinfo .info,.side-menberinfo .level{display:inline;float:right;width:182px;}
.side-menberinfo .tit a{color:#333;font-size:14px;font-family:"Microsoft YaHei";}
.side-menberinfo .info{padding:2px 0 16px;color:#999;line-height:24px;}
.side-menberinfo .bts{clear:both;width:156px;height:27px;margin:0 26px 0 auto;background-image:url(../../images/fanli/bg.png);background-position:0 -42px;background-repeat:no-repeat;font-size:0}
.side-menberinfo .bts a{display:block;color:#fff;padding-top:4px;font-size:14px;line-height:16px;font-family:Microsoft YaHei;text-align:center}
.nologin .bts .noStyle-reg,.nologin .bts .noStyle-reg:hover{color:#fff}
.nologin .bts{width:212px;height:37px;margin:0 auto;background-position:0 0;}
.nologin .bts a{display:inline-block;width:105px;padding-top:8px;color:#666;font-size:16px;line-height:18px;}*/
.checkin{width:250px;height:98px;overflow:hidden;padding:14px;background-color:#f5f5f5;border:1px solid #ededed;position:relative;}
.avater{display:inline;float:left;width:52px;height:52px;background-position:0 -66px}
.noavater{background-position:0 -132px}
.avater-img{background:none}
.avater-img img{display:block;width:52px;height:52px;}
.avater-border{position:absolute;left:0;top:0}
.checkin .ov{display:inline;float:right;width:178px;text-align:left;}
.checkin .username{font:bold 12px/14px \5FAE\8F6F\96C5\9ED1;color:#333;width:124px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:14px;}
.checkin .username:hover{color:#eb7e00;text-decoration:underline;}
.checkin .begin{line-height:18px;color:#999;font-size:12px;}
.checkin-btn{/*margin:9px auto;*/display:block;font-weight:normal;font-size:14px;line-height:27px;font-family:"Microsoft YaHei";_line-height:29px;color:#fff;text-indent:30px;text-align:left;background-position:-43px -200px;background:url(../../images/www/icon.png) no-repeat scroll 5px -753px #f48300;_background-image:url(../../images/www/icon8.png);width:126px;height:27px;border-radius:2px;overflow:hidden;-webkit-transition:background-position .1s ease-in;-moz-transition:background-position .1s ease-in;-ms-transition:background-position .1s ease-in;-o-transition:background-position .1s ease-in;transition:background-position .1s ease-in;}
.checkin-btn:hover{background-position:5px -750px;color:#fff;}
.checkin-btn-dis{width:124px;height:25px;text-align:center;text-indent:0;line-height:25px;;_line-height:27px;color:#666;background:white;border:1px solid #e8e8e8;cursor:default}
.checkin-btn-dis:hover{ color:#666;}
/*等级 s*/
.level-bar{position:relative;width:85px;margin:8px auto 24px;padding:0 45px;}
.level-line,
.level-in{position:relative;width:92px;height:6px;background-image:url(../../images/www/level-line.png);background-repeat:no-repeat;}
.level-in{background-position:0 -16px;}
.level-num{position:absolute;top:-5px;display:block;width:25px;height:29px;}
.leve-left{left:0;}
.leve-right{right:0;}
.level0{background-position:0 -32px;}
.level1{background-position:0 -17px}
.level2{background-position:-34px -17px}
.level3{background-position:-68px -17px}
.level4{background-position:-102px -17px}
.level5{background-position:-136px -17px}
.level6{background-position:-170px -17px}
.level-point{position:absolute;right:-12px;top:-3px;width:12px;height:12px;background:url(../../images/www/level-line.png) no-repeat 0 -32px scroll;}
/*等级 e*/
/*侧边-对勾信息列表*/
.layout-list-ticking{width:238px;height:108px;padding:20px 20px 0;border:1px solid #e4e4e4;color:#666}
.layout-list-ticking h3{font-weight:bold;font-size:14px;line-height:16px;font-family:Arial;}
.layout-list-ticking ul{margin-right:-18px;}
.layout-list-ticking li{margin-bottom:10px;padding-left:16px;background:url(../../images/fanli/bg.png) no-repeat -496px 2px;line-height:14px;}
/*顶层-E-Gaotian-20131105*/
/*内容区-S-Gaotian-20131105*/
.fanli_list_pro_full .ov{margin-right:-150px}
.fanli_list_pro_full .fanli_list_item{width:220px;margin:0 12px;border:2px solid #fff;}
.fanli_list_pro_full .layout_list_no{border-color:#e4e4e4;border-radius:3px}
.layout_list_no{position:relative;z-index:0;}
.layout_list_no_s{position:absolute;top:50%;left:0;z-index:1;width:100%;margin-top:-10px;color:#cdcdcd;font-size:18px;line-height:20px;font-family:"Microsoft YaHei";text-align:center;}
/*首页栏目列表*/
.fanli_index_column .column_tit{position:relative;z-index:0;overflow:hidden;padding:10px 0;border-bottom:2px solid #999;color:#999;font-size:14px;line-height:16px;font-family:"Microsoft YaHei";zoom:1}
.fanli_index_column .column_tit_more{position:absolute;top:0;right:0;z-index:1;width:70px;height:27px;padding-top:10px;background:#999 url(../../images/fanli/bg.png) no-repeat -214px 0;color:#fff;text-align:center;text-indent:12px;}
.fanli_index_column .column_tit span{display:inline-block;padding:0 10px;margin-left:-1px;_margin-left:-2px;border-left:1px solid #999;text-align:center;cursor:pointer}
.fanli_index_column .column_tit .cur{color:#333}
.fanli_index_column .layout_list_prodTit{margin:0 -10px;zoom:1}
.layout_list_prodTit li{display:inline;float:left;width:180px;margin:10px 10px 0;}
.layout_list_prodTit .pic,.layout_list_prodTit img{display:block;width:178px;height:178px;}
.layout_list_prodTit .pic_big,.layout_list_prodTit .pic_big img{height:452px;}
.price_cmark{position:absolute;right:0;bottom:0;z-index:1;float:left;padding:3px 8px 2px 18px;background:url(../../images/fanli/bg.png) no-repeat 0 -73px;color:#fff;line-height:15px;}
.price_cmark b{font-size:14px;}
.layout_list_prodTit .pic{position:relative;z-index:0;border:1px solid #e4e4e4;}
.layout_list_prodTit .pic:hover{border-color:#f18100;}
.layout_list_prodTit .tit{display:block;padding-top:4px;color:#666;line-height:18px;}
.layout_list_prodTit .pic strong{position:absolute;right:0;bottom:0;left:0;_width:170px;padding:4px 4px 24px;background:#bbb;background:rgba(100,100,100,.5);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);color:#fff;line-height:20px;}
.fanli_worthbuy_reco .ov{padding:10px 0 0}
/*内容区-E-Gaotian-20131105*/
/*------------------------------------返利-首页 E------------------------------------*/
/*------------------------------------返利-详情页 S------------------------------------*/
/*.header .search-tools{position:relative;z-index:10;float:left;_display:inline;padding:7px 0 5px;_padding:6px 0 0;padding-left:215px;background:url(../../images/zdm/search_txt.png) no-repeat 0 center;}*/
/*面包屑*/
.layout_crumb{width:100%;padding:20px 0;overflow:hidden;color:#999;}
.layout_crumb a{color:#333}
.fanli_left{float:left;width:738px}
.fanli_right{float:right;width:222px;}
/***产品信息***/
.detail_box{padding:18px;border:1px solid #e4e4e4;}
/*产品图片*/
.detail_box_pic{float:left;width:250px;}
.detail_box_pic .pic img{display:block;width:250px;height:250px;}
.detail_box_pic ul{overflow:hidden;margin-right:-10px;padding:10px 0;zoom:1}
.detail_box_pic li{display:inline;float:left;margin-right:10px;border:1px solid #fff;cursor:pointer}
.detail_box_pic li.cur{border-color:#e4e4e4}
.detail_box_pic li img{width:40px;height:40px;}
.detail_box_pic b{display:block;color:#999;font-weight:normal}
.detail_box_pic small{color:#666;line-height:18px}
/*信息*/
.detail_info{float:right;width:430px;}
.detail_info h1{height:48px;font-size:16px;line-height:24px;font-family:"Microsoft YaHei";}
.detail_info_list li{position:relative;z-index:0;margin-top:11px;line-height:14px;zoom:1}
.detail_info_list span{display:inline-block;width:66px;color:#999;}
.detail_info_list a{color:#333}
.detail_info_item{position:absolute;top:50%;right:0;z-index:1;width:238px;margin-top:-7px;color:#999;line-height:14px;text-align:left}
.detail_info_list .detail_shop_comment{width:auto;}
.fanli_detail_price{color:#cf0000;font-size:26px;line-height:28px;}
.fanli_detail_price s{margin-right:2px;color:#666;font-size:12px}
.detail_info_item .layout-fanxian{width:116px;}
.detail_info_item  .layout-fanxian s,.detail_info_item .layout-fanxian b{width:50%;}
.detail_info_item .layout-fanxian b,.detail_info_item b,.fanli_list_proPrice p b{color:#f18100;font-weight:normal}
.detail_info_item a,.detail_info_detail_bt{margin-left:8px;color:#4385e0;cursor:pointer}
.detail_info_list .detail_bt_buy,.detail_info_list .detail_bt_compare{display:inline-block;margin:0 10px;padding:10px 0;background-image:url(../../images/fanli/bg.png);background-repeat:no-repeat;color:#fff;font-size:16px;line-height:18px;font-family:"Microsoft YaHei";}
.detail_info_list .detail_bt_buy:hover,.detail_info_list .detail_bt_compare:hover{color:#fff}
.detail_bt_buy{width:172px;background-position:0 -97px;}
.detail_bt_compare{width:202px;background-position:0 -138px;}
.like_prod_list{padding-top:26px;}
/*信息-详情*/
.detail_info_list li.nolayout-spec{z-index:2}
.detail_info_detail{display:none;position:absolute;top:96%;right:0;z-index:3;width:380px;padding-top:16px;}
.detail_info_detailbox{padding:0 18px 10px;border:1px solid #e4e4e4;background:#fff;color:#333}
.detail_info_detail h5{margin:0 -18px 12px;padding:11px 0 11px 18px;border-top:1px solid #f49c2b;background:#f18100;color:#fff;font-weight:bold;font-size:14px;line-height:16px;}
.detail_info_detail p{padding-top:8px;}
.detail_info_detail small{display:block;padding:10px 0;color:#666;line-height:22px;}
.ico_single{position:absolute;top:0;right:72px;z-index:3;width:0;height:0;margin-top:-12px;border:15px dashed transparent;border-bottom:15px solid #e4e4e4;font-size:0;line-height:0}
.ico_single_up{margin-top:-11px;border-bottom:15px solid #f18100;}
/*同类产品*/
.like_prod_list strong{display:block;padding-bottom:8px;color:#999;}
.like_prod_list a,.like_prod_list img{width:75px;height:75px;}
.like_prod_list a{display:block;position:relative;z-index:0}
.like_prod_list .layout-scroll-box{width:415px;margin-left:0;}
.like_prod_list li{position:relative;z-index:0;margin-right:10px;}
.like_prod_list span{position:absolute;bottom:0;left:0;z-index:1;width:100%;padding:4px 0;background:#f00;background:rgba(207,0,0,0.6);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);color:#fff;font-size:14px;line-height:16px;text-align:center;}
/*历史记录*/
.fanli-detail .fanli_list_pro_full .fanli_list_item{width:170px;height:90px;padding:8px;margin:0 0 0 -1px;border:none;border-left:1px dotted #e4e4e4;}
.fanli-detail .fanli_list_item .pic{width:100px;text-align:left}
.fanli-detail .layout_list_no_s{left:50%;width:154px;height:90px;margin:-45px 0 0 -79px;border:2px solid #f1f1f1;border-radius:3px;font-size:14px;line-height:90px;}
.fanli-detail .fanli_list_item .pic img{width:90px;height:90px;}
/*同类产品*/
.fanli_list_proPrice{border:1px solid #e4e4e4;}
.fanli_list_proPrice ul{overflow:hidden}
.fanli_list_proPrice li{display:inline;float:left;width:164px;padding:10px;color:#999;line-height:14px;}
.fanli_list_proPrice img{width:162px;height:162px;border:1px solid #e4e4e4;}
.fanli_list_proPrice a:hover img{border-color:#f18100}
.fanli_list_proPrice p{overflow:hidden;padding:8px 0;font-size:14px;line-height:16px}
.fanli_list_proPrice p del{float:right}
.fanli_list_proPrice p del s{font-size:14px;}
.fanli_detail_cbox{padding:10px;border:1px solid #e4e4e4;}
/*评论*/
.comment{margin:20px 0 0;font-size:14px;color:#888;line-height:1.8}
.wp-fanli .comment .column_tit{padding:18px 0}
.comment .c-con{padding:0 18px;border:1px solid #e4e4e4;line-height:14px}
.comment .c-tit{font:bold 16px/40px 'microsoft yahei';height:40px;}
.comment .c-con textarea{width:98%;margin-bottom:8px;border:1px solid #e4e4e4;font:12px/2 arial;padding:6px;height:100px;overflow-y:auto;resize:none}
.comment .sbm{float:right;padding-bottom:35px;}
.commet_msg{padding:10px 0 30px;color:#999;font-size:12px;}
.comment .c-list{margin:10px 0 0;}
.comment .c-list .tab-h{border-bottom:2px solid #eb7e00;overflow:hidden;zoom:1;}
.comment .c-list .tab-h a{float:left;height:28px;line-height:28px;padding:0 30px;margin:0 5px 0 0;display:inline;border:1px solid #d7d7d7;border-bottom:0;}
.comment .c-list .tab-h a.curr{border-color:#eb7e00;background:#eb7e00;color:#fff;}
.comment .c-list .tab-h a:hover{border-color:#bbb;color:#333;text-decoration:none;}
.comment .c-list .tab-h a.curr:hover{ color:#fff;}
.comment .page{ text-align:right;margin:10px 0 ;}
.comment .page .all{width:60px;}
.comment .c-list .lt{float:left;width:45px;}
.comment .c-list .rt{margin:0 0 0 60px;}
.comment .c-list .floor{height:30px;line-height:30px;text-align:center;}
.comment .c-list .img-con{height:40px;width:40px;background:#fff;padding:1px;border:1px solid #d7d7d7;overflow:hidden;}
.comment .c-list .img-con img{height:40px;}
.comment .c-list  .user-name{height:30px;font-weight:bold;color:#eb7e00;}
.comment .list-con{overflow:hidden;}
.comment .list-con li.list-con-li{border-top:1px solid #d7d7d7;margin-top:-1px;padding:15px 0;}
.comment .c-op{ text-align:right;font-size:12px;color:#ccc;margin:10px 0;}
.comment .c-op a{color:#eb7e00;margin:0 10px;cursor:pointer}
.comment .c-op  a.last{margin-right:0;}
.comment  .time{ font-size:12px;}
.comment  .c-n{padding:15px 12px;background:#fffaf5;border-color:1px solid #ffe5d0;border-radius:7px;box-shadow:0 3px 0px #ffe5d0;border:1px solid #ffe5d0;margin:10px 0;}
.comment  .c-n .ic-q-mark{ vertical-align:top;margin:0 5px 0 0;}
.comment .tab-con{position:relative;}
.btn{height:36px;display:inline-block;font:16px/36px 'microsoft yahei';color:#fff;text-align:center;background:#ff9900;border:1px solid #ff8400;padding:0 30px;margin:0;cursor:pointer;}
.btn:hover{ background:#eb7e00;border-color:#cd6e00;text-decoration:none;}
.replylist-con{position:relative;z-index:0;overflow:hidden;}
.replylist-con li.replylist{margin-top:-1px;zoom:1;border-top:1px dotted #ccc;padding:5px 0;font-size:12px;}
.reply-con{display:none;position:absolute;left:0;z-index:2;border:1px solid #D7D7D7;  padding: 15px 0;box-shadow: 0 0 2px rgba(0,0,0,.2); background: #fefefe;}
.reply-con .tp{padding:0 20px;width:696px; }
.reply-con .tp textarea{width:98%; border: 1px solid #d7d7d7; font:12px/2 arial;padding: 6px; height: 20px;  overflow-y:auto; resize:none;border-radius: 5px;background: #fcfcfc;}
.reply-con .tp textarea.act{height:75px;}
.reply-con .sbm{padding:10px 20px 0 0;}
.replylist-con{overflow:hidden;zoom:1;}
.replylist-con li.replylist{margin-top:-1px;zoom:1;border-top:1px dotted #ccc;padding:5px 0; font-size:12px;}
/*看了这件商品的用户还看了*/
.d-box{border:1px solid #e4e4e4;}
.d-box-h .column_tit{padding:10px;border-bottom:1px solid #e4e4e4;}
.hot-item ul{overflow:hidden;}
.hot-item li{padding:12px 0 ;overflow:hidden;zoom:1;border-top:1px solid #d7d7d7;margin:-1px 0 0 ;padding:15px 10px;}
.hot-item li .img-con{width:60px;height:60px;overflow:hidden;float:left;}
.hot-item li .img-con img{height:100%;}
.hot-item li .rt{margin:0 0 0 72px;border-top:1px solid #}
.hot-item li .tp{ line-height:1.8;height:44px;overflow:hidden;}
.hot-item li .num{ color:#333;font-weight:bold;}
.hot-item  .opa{margin:5px -10px 0 0;}
.hot-item  .opa i{margin:0 3px 0 0;}
.ic{ display:inline-block;height:15px;width:15px;vertical-align:middle;background:url(../../images/zdm/icon.png) no-repeat;}
.ic-new{ background-position:-50px 0;width:24px;vertical-align:top;}
.ic-hot{ background-position:-50px -20px;width:24px;vertical-align:top;}
.ic-person{ background-position:0 -70px;}
.ic-date{ background-position:-20px -70px;}
.ic-digit{ background-position:-40px -70px;}
.ic-comment{ background-position:-60px -70px;}
.ic-ht{ height:24px;width:28px;background-position:-50px -100px;}
.ic-eye{height:24px;width:24px;background-position:0 -100px;}
.ic-change{width:74px;height:22px;background-position:0 -160px;}
.ic-change:hover{ background-position:0 -182px;color:#fff;}
.ic-d-b-arrow{width:13px;height:7px;background-position:0 -210px;}
.ic-q-mark{ background-position:-20px -210px;}
.ico_close{position:absolute;top:28px;right:12px;z-index:1;width:13px;height:14px;background:url(../../images/fanli/bg.png) no-repeat -293px 0;cursor:pointer}
/*ic end*/
/*侧边广告*/
.layout_side_add_oimgtit{border:1px solid #e4e4e4;}
.layout_side_add_oimgtit a{position:relative;z-index:0;text-align:center}
.layout_side_add_oimgtit a,.layout_side_add_oimgtit img{display:block;}
.layout_side_add_oimgtit a span{position:absolute;right:0;bottom:0;left:0;z-index:1;*width:100%;padding:8px 0;color:#fff;line-height:14px;background:#bbb;background:rgba(100,100,100,.5);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);}
/*------------------------------------返利-详情页 E------------------------------------*/

/*////////////////////////////页面样式///////////////////////////////////*/
.search-form{*float:left}
.txt-c{text-align:center}
.c-6{color:#666}
.show{display:block}
.nologin .bts a:hover,.side-menberinfo .tit a:hover,.layout_list_prodTit .tit:hover,.layout_crumb a:hover,.detail_info_list a:hover{color:#f18100}