@red:#fb0303;
@hover:#eb7e00;
@orange:#eb7601;
@c000:#000;
@c999:#999;
@c666:#666;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';
html,body{height: 100%;}

.pub-top{ height: 90px; padding-top: 15px;}
.pub-main{ background:#f5f5f5 url("../../../images/zdm/shanghu/_sprite/pic-01.png") repeat-x; padding-bottom: 34px;}
.pub-main .title{ line-height: 50px; height: 50px; font-family: @yahei;}
.pub-main .title p{ float: right; color: @c999; font-size: 14px;}
.pub-main .title strong{ font-size: 22px;}
.pub-main .main{ background: #fff; border: 1px #e7e7e7 solid; padding: 20px; border-radius:3px; box-shadow: 0 0 5px #e7e7e7;}
.pub-cont{ padding: 20px;}
.pub-cont h3{ font-size: 20px; border-bottom: 2px #a3a3a3 solid; padding-bottom: 8px; font-family: @yahei;}
.pub-cont .text-srk{ border: 1px #dcdcdc solid; line-height: 24px; padding: 2px; height: 24px;  box-shadow: 1px 1px 2px #e7e7e7 inset; width: 260px; float: left; _display:inline;}
.pub-cont ul{ padding: 20px 0;}
.pub-cont li{ padding-left: 214px; overflow: hidden; zoom:1; margin-top: 20px;}
.pub-cont li label{ width: 100px; float: left; margin-left: -100px; text-align: right; line-height: 30px; color:@c666;}
.pub-cont li span{ color: @c666; float: left; line-height: 30px;}
.pub-cont .price{ width: 80px; margin-right: 20px;}
.pub-cont .link{ width: 500px;}
.pub-cont .textarea{ width: 500px; height: 150px; box-shadow: 1px 1px 2px #e7e7e7 inset; border: 1px #dcdcdc solid; line-height: 20px; padding: 5px;}
.pub-cont .btn{ width: 78px; height: 32px; text-align: center; line-height: 32px; border: none; background: #eb7e00; color: #fff; font-size: 14px; font-family: @yahei; cursor: pointer;}

.add-btn a{ width: 150px; height: 50px; display: block; text-align: center; line-height: 50px; color: #fff; background: #e15900; border-radius: 8px; font-size: 18px; font-family: @yahei;}
.pic-table{ width: 100%; margin-top: 20px;}
.pic-table th{ padding-left: 10px; background: #f5f5f5; height: 30px; line-height: 31px; border-bottom: 1px #d1d1d1 dotted; color: @c999;}
.pic-table td{ padding: 10px 0 10px 10px; }
.pic-table td .img{ width: 98px; height: 98px; border:1px #ddd solid;}
.pic-table .text{ color: @c999;}
.pic-table td a{ color: #0099cc;}
.pic-table .even td{ background: #f5f5f5; border-top:1px #e4e4e4 solid; }


/*page s*/
.page{width:100%;height:38px;text-align:right;font-family:arial,tahoma; margin-top: 10px;}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1; padding-right: 20px;}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center;}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:38px;line-height:38px;margin-top:0;width:32px;font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:tahoma;}
.page a.first,.page a.last{}
.page a:hover{color:#fff;background-color:#ff9c0f;background-image:none;border-color:#eb8226;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#ff9c0f;font-family:arial;border-radius:3px;cursor:default;width:34px;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .pagenum,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:80px;margin-right:0;text-align:right;font-family:tahoma}
.page .page-input{font-family:tahoma;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #e98900;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#ff9c0f;border:1px solid #e98900;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}