/*slider s*/
.silder{height:500px;min-width:980px;overflow:hidden;position:relative;font-family:\5FAE\8F6F\96C5\9ED1;width:100%}
.silder-item{width:600%;height:420px;position:relative;overflow:hidden}
.silder-item li{width:16.666666666666%;height:420px;float:left;overflow:hidden;position: relative;}
.silder-item li a{display:block;width:100%;height:100%;display:block;position:relative;text-decoration:none}
.silder-item li img{display:block;margin:0 auto;width:100%;height:100%;border:none}
.silder-item li a dl{width:940px;position:relative;height:200px;margin:-250px auto 0;color:white;cursor:pointer;text-shadow:1px 1px 0 #444444;display:none;padding-left:40px}
.silder-item li a dl dt,.silder-item li a dl dd{width:460px;}
.silder-item li a dl dt.caption{font-size:50px;height:70px;line-height:70px;}
.silder-item li a dl dd.time{font-size:20px;height:30px;line-height:30px;}
.silder-item li a dl dd.info{font-size:14px;line-height:26px;}
.silder-pointer{max-width:1040px;height:120px;position:relative;margin:-40px auto 0;background:url(../../images/minihome/silder-bg.png) no-repeat bottom center}
.silder-pointer ul{width:980px;margin:0 auto;background:#272727;padding-left:0px;position:relative;height:120px}
.silder-pointer li{float:left;width:146px;height:98px;margin:9px 0px;position:relative;margin-left:13px;box-shadow:0px 5px 8px 2px black;_display:inline;opacity:0.4;filter:alpha(opacity=40);border:1px solid #272727;-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease}
.silder-pointer li.cur{margin-top:-10px;opacity:1;border-color:#959595;filter:alpha(opacity=100)}
.silder-pointer li a{width:100%;height:100%;display:block;overflow:hidden}
.silder-pointer li img{width:100%;height:100%;border:none}
/*slider e*/
.mini-home{padding-bottom:70px;}
/* bg-txt */
.mini-today-hot,.mini-guess-love,.mini-txt span,.mini-cate-list dt span,.mini-view strong{background:url(../../images/minihome/bg-txt.png) no-repeat;}
/* title */
.mini-today-hot,.mini-guess-love,.mini-ui-tab li em,.mini-dash{line-height:0;font-size:0;overflow:hidden;}
.mini-today-hot{height:24px;background-position:0 0;}
.mini-guess-love{height:20px;background-position:0 -30px;}
/* mini-hot */
.mini-hot{margin-top:8px;}
.mini-hot-big,.mini-hot-list,.mini-hot-tab{border-top:4px solid #5d5d5d;}
.mini-hot-big{width:300px;padding-top:21px;}
.mini-hot-big .mini-dl{padding:5px;height:533px;background-color:#eee;}
.mini-hot-big .mini-dl dd{padding:0 13px;}
.mini-hot-big .mini-dl h6{margin:10px 0 8px;height:48px;overflow:hidden;word-wrap:break-word;word-break:break-all;font:16px/24px '\5FAE\8F6F\96C5\9ED1';text-align:center;}
.mini-hot-big .mini-dl h6 a,.mini-hot-list .mini-dl h6 a,.mini-guess-list h6 a,.mini-guess-other h6 a,.mini-cate-list h6 a,.mini-view h6 a{color:#333;}
.mini-hot-big .mini-dl h6 a:hover,.mini-hot-list .mini-dl h6 a:hover,.mini-guess-list h6 a:hover,.mini-guess-other h6 a:hover,.mini-cate-list h6 a:hover,.mini-view h6 a:hover{color:#d70416;}
.mini-hot-big .mini-dl p{line-height:24px;}
.mini-hot-big .mini-dl p a{display:inline-block;text-indent:0;color:#d70416;}
.mini-hot-big .mini-dl p a:hover{color:#d70416;text-decoration:underline;}
.mini-hot-list{width:320px;padding:21px 0 0 10px;}
.mini-hot-tab{width:330px;}
.mini-hot-list{overflow:hidden;zoom:1;}
.of-h{height:543px;overflow:hidden;zoom:1;}
.mt-11{margin-top:-11px;}
.mini-hot-list .mini-dl{border-top:1px solid #e7e7e7;padding:10px 0;line-height:22px;}
.mini-hot-list .mini-dl dt{float:left;width:120px;}
.mini-hot-list .mini-dl dt a,.mini-guess-other dt a{display:inline-block;padding:2px;border:1px solid #e7e7e7;}
.mini-hot-list .mini-dl dt a:hover,.mini-guess-other dt a:hover,.mini-hot-list .mini-dl:hover dt a{border-color:#bf0716;}
.mini-hot-list .mini-dl dd{float:right;width:190px;}
.mini-hot-list .mini-dl h6{height:44px;margin:4px 0;overflow:hidden;word-wrap:break-word;word-break:break-all;font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1;}
.mini-hot-list .mini-dl p{height:66px;}
.mini-hot-list .mini-dl:hover{background-color:#f6f6f6;}
.mini-hot-list .mini-dl:hover h6 a{color:#d70416;}
.mini-hot-wp{width:100%;}
.mini-ui-tab li{position:relative;z-index:1;zoom:1;float:left;width:143px;padding-left:22px;height:48px;font:18px/48px '\5FAE\8F6F\96C5\9ED1';cursor:pointer;background-color:#f8f8f8;}
.mini-ui-tab li.current{background-color:#fff;}
.mini-ui-tab li em{position:absolute;z-index:2;top:16px;left:10px;width:5px;height:20px;background-color:#e7e7e7;}
.mini-ui-tab li.current em{background-color:#d70416;}
.mini-ui-tab li i{display:none;}
.mini-ui-tab li.current i{display:inline-block;}
.mini-ui-tab .arr-outer{left:14px;top:48px;}
.mini-ui-tab .arr-inner{left:14px;top:47px;}
.mini-ui-cont{position:relative;z-index:0;border:1px solid #e7e7e7;height:308px;overflow:hidden;}
.mini-ui-item{height:308px;overflow:hidden;}
.mini-ui-item .mini-top-ten{padding:0 20px;}
.mini-ui-item .mini-top-ten li{position:static;padding:7px 0;}
.mini-ui-item .mini-top-ten .mini-dl{padding:7px 0;}
.mini-ui-detail{position:relative;}
/* mini-v-list */
.mini-v-list li{height:33px;line-height:33px;border-bottom:1px dotted #d7d7d7;}
.mini-v-list li a{display:block;padding:0 10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#666;}
.mini-v-list li a:hover{color:#d70416;background-color:#f8f8f8;}
/* mini-guess */
.mini-guess-list{padding-top:20px;margin-top:8px;border-top:4px solid #5d5d5d;}
.mini-guess-list .mini-dl{width:980px;}
.mini-guess-list dt{float:left;width:267px;height:151px;}
.mini-guess-list dd{float:left;width:195px;margin:0 18px 0 10px;line-height:20px;}
.mini-guess-list h6{margin:10px 0;height:40px;overflow:hidden;word-wrap:break-word;word-break:break-all;}
.mini-guess-list h6 a{font-weight:bold;}
.mini-guess-list p{height:80px;}
.mini-guess-other .mini-dl{width:360px;}
.mini-guess-other .mini-v-list{width:290px;margin-left:20px;}
.mini-guess-other dt{float:left;width:100px;}
.mini-guess-other dd{float:right;width:250px;}
.mini-guess-other dd h6{margin:10px 0;height:18px;overflow:hidden;}
.mini-guess-other dd p{height:44px;line-height:22px;}
/* mini-txt */
.mini-txt{position:relative;z-index:0;zoom:1;padding-top:57px;height:38px;}
.mini-txt .mini-line{height:5px;}
.mini-txt span{position:absolute;top:30px;left:50%;width:229px;height:46px;margin-left:-114px;}
.mini-txt span.mini-txt-news{background-position:0 -73px;}
.mini-txt span.mini-txt-fun{background-position:0 -121px;}
.mini-txt span.mini-txt-society{background-position:0 -169px;}
.mini-txt span.mini-txt-video{background-position:0 -217px;}
.mini-txt span.mini-txt-military{background-position:0 -265px;}
/* mini-cate */
.mini-cate-list,.mini-cate-other{width:640px;margin-right:-10px;}
.mini-cate-list .mini-dl,.mini-cate-other .mini-v-list{width:310px;margin-right:10px;}
.mini-cate-list dt{position:relative;z-index:0;height:186px;}
.mini-cate-list dt span{position:absolute;left:10px;top:-9px;width:63px;height:59px;padding:4px 5px 0 2px;font: 22px/26px '\5FAE\8F6F\96C5\9ED1';color:#fff;background-position:0 -313px;text-align:center;}
.mini-cate-list dd{line-height:24px;}
.mini-cate-list h6{margin-top:8px;height:24px;overflow:hidden;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;}
.mini-cate-list p{height:72px;}
.mini-cate-list p a,.mini-view p a{color:#d70416;}
.mini-cate-list p a:hover,.mini-view p a:hover{color:#d70416;text-decoration:underline;}
.mini-cate-other{margin-top:15px;border-top:1px solid #e0e0e0;}
/* mini-dash */
.mini-dash{height:5px;background:url(../../images/minihome/mini-dash.png) repeat-x;}
.mini-view{position:relative;z-index:0;zoom:1;height:426px;padding:0 5px;border:1px solid #e5e5e5;border-top:0 none;}
.mini-view strong{position:absolute;top:18px;left:-11px;width:99px;height:32px;padding-top:3px;font: bold 18px/30px '\5FAE\8F6F\96C5\9ED1';background-position:-74px -313px;color:#fff;text-align:center;}
.mini-view-more{height:32px;line-height:32px;padding:21px 15px 2px 0;}
.mini-view-more a{color:#999;}
.mini-view-more a:hover{color:#333;}
.mini-view .of-h{height:363px;}
.mini-view .mini-dl{padding:10px 15px;border-bottom:1px dotted #e4e4e4;}
.mini-view .mini-dl:hover{background-color:#f6f6f6;}
.mini-view .mini-dl:hover a{color:#d70416;}
.mini-view dt{float:right;width:70px;}
.mini-view dd{float:left;width:203px;line-height:20px;}
.mini-view dd h6{margin:5px 0;height:20px;overflow:hidden;}
.mini-view dd p{height:40px;}