.mini-article{padding-bottom:70px;}
/* mini-detail */
.mini-cont{}
.mini-article-other{width:645px;margin-right:-15px;}
.mini-article-other .mini-dl{width:200px;margin:10px 15px 0 0;padding-bottom:18px;}
.mini-article-other .mini-dl p{margin-top:5px;height:36px;}
/* mini-article */
.mini_bread{margin:12px 0; color: #999; padding-right:350px;}
.weizhi{float: left;}
.mini_bread a{color:#333;}
.pic_liulan{ float: right;}
.icon_pic{display:inline-block;width:13px;height:13px;margin-right:5px;vertical-align:-2px;background:url(../../images/minihome/icon.png) no-repeat -44px 0;}
.pic_liulan a{ color: #888;}
.mini_detail{border-top: 4px solid #5D5D5D;padding-bottom: 2px;}
.mini_inner{border-left:1px solid #D6D6D6;border-right:1px solid #D6D6D6; border-bottom: 1px solid #D6D6D6; padding: 0 0 38px 0; margin: 0 0 30px 0}
.mini_inner .hd{padding:18px 0 10px 0}
.mini_post .tit{text-align: center;font-size: 20px;color: #333;line-height: 30px;font-family: "微软雅黑"; width: 552px; margin: 0 auto;}
.mini_post .info{margin-top:10px;text-align: center;color:#999;line-height: 1;font-family: "宋体"}
.mini_post .info a,
.mini_post .info span{color:#999; margin: 0 5px;}
.mini_wenz_rebiao{ text-align: center; margin: 16px 0 0 0}
.mini_wenz_rebiao a{ color: #fd9460; text-decoration: underline; margin: 0 20px 0 0}
.mini_wenz_rebiao a em{ width: 12px; height: 14px; display: inline-block; background: url(../../images/minihome/mini_re.png) no-repeat scroll;}
.mini_iconpic{ margin: 0 0 0 -15px}
.mini_summary{padding:15px 20px;background-color: #F7F7F7;color:#999;line-height: 24px;font-family: "宋体"; margin: 0 18px 25px 18px;}
.mini_summary strong{color: #d70416;}
.mini_contentintorod{ margin: 0 18px; width: 586px;}
.mini_contentintorod p{ color: #555; line-height: 24px;text-indent:2em;}
.mini_contentintorod p img{display:block;min-width: 586px;}
.mini_contintord_advertise{ display: inline-block; margin: 0 0 30px 0}
.mini_contintord_advertise p{ float: left; width: 232px; padding: 8px 0 0 0;}
.mini_advert_r{ float: right; width: 336px; height: 280px; margin: -10px 0 0 15px}
.intorod_title{ width: 500px; display: block; text-align: center; margin: 0 auto; padding: 26px 0}
.mini_pic_content p{ margin: 0 0 30px 0}
.mini_label{ color: #888; margin: 0 0 30px 0}
.mini_label a{ color: #86b6d0; margin: 0 18px 0 0}
.mini_page_relative { border: 1px solid #DEDEDE; height: 30px; line-height: 30px; margin-top: 20px;}
.mini_page_relative .fl, .mini_page_relative .fr { width: 312px;}
.mini_page_relative .page-prev, .mini_page_relative .page-next { background: none repeat scroll 0 0 #F8F8F8; color: #D9000F; text-align: center; width: 79px;}
.mini_page_relative .page-prev { border-right: 1px solid #DEDEDE; float: left;}
.mini_page_relative p { display: inline; height: 30px; margin: 0 15px; overflow: hidden; width: 202px; word-break: break-all; word-wrap: break-word;}
.mini_page_relative .fl p { float: right;}
.mini_page_relative p a { color: #656565;}
.mini_page_relative .fr p { float: left; text-align: right;}
.mini_page_relative .page-next { border-left: 1px solid #DEDEDE; float: right;}
.mini_wenzhangb{ border: none; padding: 0}
.mini_wenzhangb .tit{ text-align:left; margin: 0;}
.mini_wenzhangb .info,.rebiao_b{ text-align: left;}
.mini_pic_contentb{position:relative;background-color: #f9f9f9;  padding: 20px 0 20px 0; margin: 0 0 20px 0}
.mini_pic_contentb .mini_pico{position: relative;z-index: 0; width: 586px;text-align: center;overflow:hidden;}
.mini_pic_contentb .mini_pico img{display:none;}
.mini_pic_contentb .mini_pico .show{display:inline-block;}
.mini_l_btn,.mini_r_btn{ width: 34px; height: 60px; position: absolute; top: 50%; margin: -17px 0 0 0;}
.mini_l_btn{ background: url(../../images/minihome/mini_l_btn.png) no-repeat 0 0; left: 0px;}
.mini_r_btn{ background: url(../../images/minihome/mini_r_btn.png) no-repeat 0 0; right: 0px;}
.mini_pic_contentb p{ margin: 30px 20px 0 20px; border-top: 1px solid #e2dfdf; padding: 15px 0 0 0}
.mini_contentint_numb{ color: #9a9a9a; font-weight: bold; font-size: 22px; font-family: arial; position: absolute; top: -36px; right: 0px;}
.mini_contentint_numb b{ color: #d70416; font-size: 28px;}
/* mini-comment */
.mini-comment h3{height:38px;text-indent:10px;background-color:#f7f7f7;font: 14px/38px '\5FAE\8F6F\96C5\9ED1';}
.mini-comment-box dt{float:left;width:68px;}
.mini-comment-box dt .pic{display:block;height:67px;border:1px solid #e7e7e7;border-right:0 none;cursor: pointer;}
.mini-comment-box dt p{margin-top:8px;height:18px;overflow:hidden;}
.mini-comment-box dt p a{color:#333;}
.mini-comment-box dt p a:hover{color:#d70416;}
.mini-comment-box dd{float:right;width:562px;}
.mini-comment-box dd textarea{display:block;padding:5px 10px;width:540px;height:57px;line-height:20px;overflow:auto;resize:none;border:1px solid #e7e7e7;color:#e7e7e7;font-size:12px;}
.mini-comment-opt{margin-top:8px;}
.mini-comment-opt span,.mini-comment-opt span a{color:#666;}
.mini-comment-opt span a{margin:0 10px;}
.mini-comment-opt span a:hover{color:#d70416;}
.mini-comment-submit{width:107px;height:38px;border:1px solid #c42f1c;font: 18px/38px '\5FAE\8F6F\96C5\9ED1';text-align:center;background-color:#d84a38;color:#fff;}
.icon-yes,.icon-no{display:inline-block;width:19px;height:17px;margin-right:5px;background:url(../../images/minihome/icon.png) no-repeat;}
.icon-yes{vertical-align:-3px;background-position:-65px 0;}
.icon-no{vertical-align:-5px;background-position:-91px 0;}
.current .icon-yes{background-position:-117px 0;}
.current .icon-no{background-position:-147px 0;}
.mini-comment-list .mini-dl{padding:10px;border-bottom:1px solid #e0e0e0;}
.mini-comment-list dt{float:left;width:75px;}
.mini-comment-list dd{float:right;width:525px;line-height:20px;}
.mini-comment-list h6{height:20px;overflow:hidden;}
.mini-comment-list h6 a{font-weight:bold;color:#333;}
.mini-comment-list h6 a:hover{color:#d70416;}
.mini-comment-list p{height:40px;}