/*www base s*/
html,body{ height: 100%;}
img{vertical-align: top;}
a{ color: #333;}
a:hover{ color:#f08d00;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.mart20{margin-top: 20px;}
.marb20{margin-bottom: 20px;}

.wx-header{ height: 120px; background: #f9f9f9; border-bottom: 1px #e0e0e0 solid; width: 980px;margin: 0 auto;}
.wx-header h1{ padding: 14px 0 0 38px;}

.share-t{ padding: 40px 0 54px 30px;}
.s-t-l{ width: 175px; padding-right: 25px;}
.s-t-l h2{ font-size: 24px; font-family: 'microsoft yahei';}
.s-t-l p{ color: #999; line-height: 24px; padding-top: 10px; height: 425px;}
.s-t-l span{ color: #3399e0;}
.s-t-m{ width: 436px; margin-top: 50px;}
.s-t-r{ width: 155px; padding-top: 150px;}
.s-t-r .text{ text-indent: 24px; line-height: 24px; color: #666666;}
.s-t-r h3{ font-size: 16px; font-family: 'microsoft yahei'; padding: 20px 0 18px 0;}
.s-t-r h3 span{ color: #eb7e00;}

.share-b{ padding: 30px 0 30px 0px;}
.share-b ul{ padding-top: 25px; margin-right: -60px;}
.share-b li{ float: left; height: 350px; margin-right: 60px; _display: inline;}
.share-b li span{ display: block; line-height: 50px; color: #333;}
.share-b p{ padding-top: 12px; padding-left: 30px;}
.share-b p img{ margin-top: -12px;}
.share-b p a{ color: #3399e0;}