// 混合（Mixins）模块
// 线性渐变
.gradient-line(@gBackgroundColor: #f7f7f7,@gTopColor: #f7f7f7, @gMiddleColor: #f4f4f4, @gBottomColor: #f1f1f1){
		background: @gBackgroundColor; /* Old browsers */
		background: -moz-linear-gradient(top,  @gTopColor 0%,  @gMiddleColor 47%, @gBottomColor 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@gTopColor), color-stop(47%, @gMiddleColor), color-stop(100%,@gBottomColor)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  @gTopColor 0%, @gMiddleColor 47%,@gBottomColor 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  @gTopColor 0%, @gMiddleColor 47%,@gBottomColor 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  @gTopColor 0%, @gMiddleColor 47%,@gBottomColor 100%); /* IE10+ */
		background: linear-gradient(to bottom,  @gTopColor 0%, @gMiddleColor 47%,@gBottomColor 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@gTopColor, endColorstr=@gBottomColor,GradientType=0 ); /* IE6-9 */
}
// 圆角边框
.border-radius(@radius: 5px){
	border-radius: @radius;
	-o-border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}
.border-top-left(@radius: 10px){
	border-top-left-radius: @radius;
	-moz-border-top-left-radius: @radius;
	-webkit-border-top-left-radius: @radius;
	-o-border-top-left-radius: @radius;
}
.border-top-right(@radius: 10px){
	border-top-right-radius: @radius;
	-moz-border-top-right-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	-o-border-top-right-radius: @radius;
}
.border-bottom-left(@radius: 10px){
	border-bottom-left-radius: @radius;
	-moz-border-bottom-left-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-o-border-bottom-left-radius: @radius;
}
.border-bottom-right(@radius: 10px){
	border-bottom-right-radius: @radius;
	-moz-border-bottom-right-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
	-o-border-bottom-right-radius: @radius;
}

// 透明度
.opacity(@opacitySetting: 0.9,@opacitySettingIe: 90){
	opacity:@opacitySetting;
	-moz-opacity:@opacitySetting;
	-webkit-opacity:@opacitySetting;
	-o-opacity:@opacitySetting;
	filter:alpha(opacity=@opacitySettingIe); 
}
// 制造三角形
.make-arrow-up(){
	 /*右边有颜色，其他透明*/  
  border-color: transparent transparent #e00 transparent;  //transparent transparent #e00 transparent 向上三角
  border-style: solid;  
  border-width: 0px 6px 6px 6px;   //0px 6px 6px 6px 向上三角
  padding: 0;  
  width: 0;  
  height: 0;  
  /* ie6 height fix */  
  font-size: 0;  
  line-height: 0;  
  /* ie6 transparent fix */  
  _border-top-color: #dddddd;  
  _border-bottom-color: #dddddd;  
  _filter: chroma( color = #dddddd);
}
// 边框阴影
.box-shadow(...){
	box-shadow:@arguments; 
	-moz-box-shadow:@arguments;
	-webkit-box-shadow:@arguments;
	-o-box-shadow:@arguments;
}
// 表单
.label(@width:75px,@color:#333){
	display: block;
	float: left;
	margin-left: -@width;
	*display: inline;
	text-align: right;
	width: @width;
	color: @color;
}
.input(@width:160px,@height:24px,@borderColor:#dcdcdc){
	width: @width;
	height: @height;
	margin-right: 10px;
	border: 1px solid @borderColor;
	line-height: @height;
	padding-left:5px; 
	.box-shadow(inset,0px,1px,2px,-1px,@borderColor);
	vertical-align: middle;
}
// 按钮
.btn(@width: 90px,@height: 26px,@color: #fff,@size: 12px){
	display: inline-block;
	cursor: pointer;
	text-align: center;
	width: @width;
	height: @height;
	color: @color;
	font-size: @size;
	*zoom:1;
	_display:block;
}
// 字体大小 //按钮高度 //文字颜色 //hover颜色 //背景颜色 //hover背景颜色 //左右padding //边框颜色 //hover边框颜色
.btn-cart(@fontSize:14px,@height:30px,@color:#fff,@hoverColor:#fff,@bg:#ff3a3a,@hoverBg:#e81818,@padding:0 15px,@borderColor:#ff3a3a,@hoverBorderColor:#e81818){
	font-family: "Microsoft YaHei";
	font-size: @fontSize;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: @color;
	height: @height;
	line-height: @height - 2;
	padding: @padding;
	background-color: @bg;
	text-decoration: none;
	border: 1px solid @borderColor;
	cursor: pointer;
	overflow: visible;
	vertical-align: middle;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;

	&:hover{
		color: @hoverColor;
		border: 1px solid @hoverBorderColor;
		background-color: @hoverBg;
	}
}

// 字数截断
.text(){
	white-space:nowrap;
	text-overflow:ellipsis;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-binding: url("ellipsis.xml#ellipsis");
}

.msyh(@size:12px,@b:normal){
	font-family: "Microsoft YaHei";
	font-size: @size;
	font-weight: @b;
	font-style: normal;
}
