//////////////////////前台页面变量//////////////////////
// 通用变量设置
@wapper: 980px; // 整体页面宽度
@fontZise12: 12px; // 12号字体
@fontZise14: 14px; // 14号字体
@borderColor: #dcdcdc; // 边框颜色
@pageHeight: 33px; // 翻页高度
@borderColorRed: #e81818; // 边框颜色

// 全局表单样式
@inputHeight: 30px;
@inputWidth250: 248px;
@inputWidth75: 73px;
@inputBorderColor: #dcdcdc;
@inputLabel: 60px;
@inputLabelColor: #666666;

// 左右等高布局
@vboxLeftWidth: 580px; // 左边容器宽度
@rightBackground: white; // 右边容器背景颜色
@leftBackground: white; // 左边容器背景颜色
@marginBottom: 10000px; // 容器所需最大高度
@gsBorder: #e4e4e4;

// 列表切分
@cellWidth: 160px; 
@cellHeight: 160px;
 

