
body {
  min-width: 980px;
}
/* Containers
----------------------------------------------------------------------------------------------------*/
.row{
	*zoom:1;
}

.row:after{
	display: table;
	content: "";
	clear: both;
}
/* Containers
----------------------------------------------------------------------------------------------------*/
.container {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	*zoom:1;
}

.container:after{
	display: table;
	content: "";
	clear: both;
}
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
}



.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 10 Columns
----------------------------------------------------------------------------------------------------*/


.container .grid_1 {
	width:98px;
	z-index: 10;
}

.container .grid_2 {
	width:196px;
	z-index: 20;
}

.container .grid_3 {
	width:294px;
	z-index: 30;
}

.container .grid_4 {
	width:392px;
	z-index: 40;
}

.container .grid_5 {
	width:490px;
	z-index: 50;
}

.container .grid_6 {
	width:588px;
	z-index: 60;
}

.container .grid_7 {
	width:686px;
	z-index: 70;
}

.container .grid_8 {
	width:784px;
	z-index: 80;
}

.container .grid_9 {
	width:882px;
	z-index: 90;
}

.container .grid_10 {
	width:980px;
	z-index: 100;
}




/* Prefix Extra Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/


.container .prefix_1 {
	padding-left:98px;
}

.container .prefix_2 {
	padding-left:196px;
}

.container .prefix_3 {
	padding-left:294px;
}

.container .prefix_4 {
	padding-left:392px;
}

.container .prefix_5 {
	padding-left:490px;
}

.container .prefix_6 {
	padding-left:588px;
}

.container .prefix_7 {
	padding-left:686px;
}

.container .prefix_8 {
	padding-left:784px;
}

.container .prefix_9 {
	padding-left:882px;
}



/* Suffix Extra Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/


.container .suffix_1 {
	padding-right:98px;
}

.container .suffix_2 {
	padding-right:196px;
}

.container .suffix_3 {
	padding-right:294px;
}

.container .suffix_4 {
	padding-right:392px;
}

.container .suffix_5 {
	padding-right:490px;
}

.container .suffix_6 {
	padding-right:588px;
}

.container .suffix_7 {
	padding-right:686px;
}

.container .suffix_8 {
	padding-right:784px;
}

.container .suffix_9 {
	padding-right:882px;
}



/* Push Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/


.container .push_1 {
	left:98px;
}

.container .push_2 {
	left:196px;
}

.container .push_3 {
	left:294px;
}

.container .push_4 {
	left:392px;
}

.container .push_5 {
	left:490px;
}

.container .push_6 {
	left:588px;
}

.container .push_7 {
	left:686px;
}

.container .push_8 {
	left:784px;
}

.container .push_9 {
	left:882px;
}



/* Pull Space >> 10 Columns
----------------------------------------------------------------------------------------------------*/


.container .pull_1 {
	left:-98px;
}

.container .pull_2 {
	left:-196px;
}

.container .pull_3 {
	left:-294px;
}

.container .pull_4 {
	left:-392px;
}

.container .pull_5 {
	left:-490px;
}

.container .pull_6 {
	left:-588px;
}

.container .pull_7 {
	left:-686px;
}

.container .pull_8 {
	left:-784px;
}

.container .pull_9 {
	left:-882px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}