@red:#fb0303;
@hover:#eb7e00;
@orange:#eb7601;
@c000:#000;
@c999:#999;
@border1:#ddd;
@songti:'\5b8b\4f53';
@yahei:'\5FAE\8F6F\96C5\9ED1';

/*通用顶部 -Start-zibu-20140319*/
.header-box .header-logo{ margin: 0;}
.header-tools-search .header-search-content{}
.header-search-content #scbar_txt{border:1px solid #c8c8c8;}
.header-rearch-submit,.header-nav-box{background:#db000f;}
.header-nav-box{ margin-top: 10px;}
.header-rearch-submit:hover{background:#b00000;}
.header-nav-back s{border-left-color:#db000f}
.header-nav-box li{border-color:#E2404B}
.header-nav-box li a:hover{background-color:#C5000D}
.header-nav-box .cur a, .header-nav-box .cur a:hover{background:#000;color:#fff}
/*通用顶部 -End-zibu-20140319*/

/*培训活动css s*/
.hd-piccont{ width: 100%; height: 2430px; position: relative; overflow-x: hidden;}
.hd-pic{ position: absolute; left:50%; margin-left: -960px; width: 1920px; z-index: 0;}
.time-cont{ width: 980px; position: absolute; margin-left: -490px; left: 50%; height: 50px;top: 536px; z-index: 1;}
.time-cont a{ width: 140px; height: 50px; overflow: hidden; text-indent: -1000px; float: left; margin: 0 110px 0 198px; background:#fff; opacity: 0; filter:alpha(opacity=0)}
.teach-js{ width: 1920px; height: 517px; background: url("../../../images/korea/culture/huodong/hd-pic_09.jpg") no-repeat left center; position: absolute; bottom: 0; left: 50%; margin-left: -960px;
    .items{ position: relative; left: 50%; margin-left: -490px;width:980px;height: 517px;
      li{ padding: 7px; position: absolute; border: 1px transparent solid; z-index: 0; overflow:hidden;
        img{ float: left; margin-right: 10px;}
        h3{ font-weight: bold; color: #333333; margin-bottom: 6px; display: none;}
        p{ color: #333333; display: none;}
      }
      li.hover{ width: 370px; z-index: 2;}
      .tc1{ width: 134px; height: 171px; top: 132px; left: 96px;}
      li.hover{ background: #fff; border-color: #e5d073; opacity: 0.8;
        h3{ display: block;}
        p{ display: block;}
      }
      .tc2{ width: 134px; height: 180px; top: 57px; left: 232px;}
      .tc3{ width: 134px; height: 199px; top: 239px; left: 232px;}
      .tc4{ width: 134px; height: 232px; top: 148px; left: 368px;}
      .tc5{ width: 201px; height: 137px; top: 100px; left: 504px;}
      .tc6{ width: 177px; height: 129px; top: 241px; left: 504px;}
      .tc7{ width: 152px; height: 120px; top: 112px; left: 711px;}
      .tc8{ width: 149px; height: 169px; top: 239px; left: 683px;}
    }
}
/*培训活动css e*/

#huodong-quanwangXb,.huodong-quanwangXb-bg{
 display:none !important;
}