// 导入混合（Mixins）模块
@import url(common.mixin.less);
// 导入变量（var）模块
@import url(common.var.less);
@import url(normalize.less);
// 导入网格
@import url(grid.less);
a {
  color: #666;
  text-decoration: none;
  outline: none;
}
.mt20{
 margin-top:20px;
}
.mb20{
 margin-bottom:20px;
}

//评分
.grade{
  width:100%;
  height:14px;
  background:#f0f1e8;
  .border-radius(10px);
  border:1px solid #ececec;
  position:relative;
  .slider{
    .border-radius(10px);
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
    background:#b2da8e;
	 border:1px solid #dcf8c2;
  }
 
}
//
// 星级评分
.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus,
.star-rating .current-rating{
	background: url(../../../images/korea/culture/star.png) repeat-x;
}
.star-rating{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: -2px;
	*vertical-align: middle;
	position:relative;
	width:100px;
	height:17px;
	overflow:hidden;
	list-style:none;
	margin: 0;
	padding:0;
	background-position: left top;
}
.star-rating li{
	display: inline;
}
.star-rating a, 
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:17px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{
	background-position: left -34px;
}
.star-rating a.one-star{
	width:20%;
	z-index:6;
}
.star-rating a.two-stars{
	width:40%;
	z-index:5;
}
.star-rating a.three-stars{
	width:60%;
	z-index:4;
}
.star-rating a.four-stars{
	width:80%;
	z-index:3;
}
.star-rating a.five-stars{
	width:100%;
	z-index:2;
}
.star-rating .current-rating{
	z-index:1;
	background-position: left -17px;
}	

/* for an inline rater */
.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}

.star-done{
	 a{
	 	cursor: default;
	 		&:hover{
					background-image: none;
				}
	 	}
}

//翻页
.page a:hover{color:#fff;background-color:#e81818;background-image:none;border-color:#eb8226;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#e81818;font-family:arial;border-radius:3px;cursor:default;width:34px;}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#e81818;background-image: -moz-linear-gradient(top, #e81818, #e81818);background-image: -ms-linear-gradient(top, #e81818, #e81818);background-image: -webkit-linear-gradient(top, #e81818, #e81818);background-image: -o-linear-gradient(top, #e81818, #e81818);background-image: linear-gradient(top, #e81818, #e81818);}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #e81818;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#e81818;border:1px solid #e81818;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
// 面包屑导航
.bread-crumb-navigation{
	margin: 10px 0;
	ul:after{
		display: table;
		content: "";
		clear: both;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		*zoom:1;
		li{
			float: left;
			margin-right: 5px;
			color: #999;
			a{
				color: #333333;
			}
		}
	}
}
///
.item-detail{
	margin-bottom: 20px;
	
	.right{
		float: right;
		
		width: 504px;
	}
	.left{
		
		width: 458px;
	}
	.take-down{
	  height:85px;
	  line-height:85px;
	  background: url('../img/list/take-down.png?__sprite') no-repeat 0px center;
	  text-indent:30px;
	  font-size:14px;
	  font-weight:bold;
	}
	.item-related{
	  height:190px;
	  margin:-10px 0px 0px -50px;
	  .row{
	    margin:4px auto auto -18px;
		overflow:hidden;
	  }
	  .items{
	   width:100px;
	   height:170px;
	   margin-left:18px;
	   float:left;
	   display:inline;
	   .img{
	     width:98px;
		 height:98px;
		 clear:both;
		 margin:0 auto;
		 border:1px solid #dddbdc;
		 display:block;
		 overflow:hidden;
		 img{
		   width:98px;
		   height:98px;
		 }
	   }
	   .info{
	      width:98px;
		  height:20px;
		  line-height:18px;
		  overflow:hidden;
		  text-overflow:ellipsis ;
		  white-space:nowrap;
	   }
	   .yuan{
	    font-family:"Microsoft YaHei";
		color:#9a9a9a;
	   }
	   .money{
	     color:#e71919;
		 font-size:14px;
		 font-weight:bold;
	   }
	   .bright-red{
	     color:#e71919;
	   }
	   .grayness{
	    color:#999;
	   }
	   .top{
	     margin-top:14px;
		 color:#333;
		 a{
		  color:#333;
		  &:hover{
		   text-decoration:underline;
		  }
		 }
	   }
	  }
	  .hd{
	    padding:0;
		margin:0;
		color:#333;
		font-weight:bold;
	  }
	}
	.detail-cell{
		border-bottom: 1px dashed #ccc;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	h1{
		font-family: "Microsoft YaHei";
		padding: 0;
		margin:0 0 10px 0;
		font-size: 16px;
	}
	h4{
		font-family: "Microsoft YaHei";
		padding: 0;
		margin: 0;
		color: #999999;
		font-weight: normal;
		font-size: 14px;
	}
	.price-num{
		margin-bottom: 10px;
		span{
			display: inline-block;
			*display: inline;
			*zoom:1;
			font-family: "Microsoft YaHei";
			font-size: 14px;
			text-align: center;
			padding: 2px 4px;
			color: #fff;
			background-color: #e81818;
			vertical-align: text-bottom;
		}
		i{
			font-family: "Microsoft YaHei";
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			color: #e81818;
		}
		b{
			font-family: Tahoma;
			font-size: 26px;
			font-weight: 700;
			color: #e81818;
		}
	}
	.price-fex{
		span{
			padding-right: 30px;
		}
	}
	.add-cart{
	    .shop-qq{
		  
		  float: left;
		  display:inline;
		  margin-left:-50px;
		  margin-bottom:51px;
		  width:100%;
		  dt,dd{
		     float: left;
		     display:inline;
			 .code{
			   color:#999;
			   background:url(../../../images/korea/culture/__sprite/qq.png?__sprite) no-repeat left center;
			   padding:3px 0px 3px 28px;
			 }
		  }
		  
		}
		position: relative;
		padding: 10px 0 0 50px;
		.btn-detail-buy{
			// 字体大小 //按钮高度 //文字颜色 //hover颜色 //背景颜色 //hover背景颜色 //左右padding //边框颜色 //hover边框颜色
			.btn-cart(18px,46px,#fff,#fff,#d8a373,#c9925f,0 30px,#d8a373,#c9925f);
			float: left;
			display: block;
			margin-right: 20px;
		}
		.btn-detail-add{
			// 字体大小 //按钮高度 //文字颜色 //hover颜色 //背景颜色 //hover背景颜色 //左右padding //边框颜色 //hover边框颜色
			.btn-cart(18px,46px,#fff,#fff,#e52d31,#d62428,0 15px,#e52d31,#d62428);
			float: left;
			display: block;
			margin-right: 20px;
		}
		.btn-detail-favorite{
			line-height: 46px;
			border:0;
			height: 46px;
			font-family: "Microsoft YaHei";
			font-size: 16px;
			float: left;
			display: block;
			i{
				display: inline-block;
				width: 25px;
				height: 25px;
				background-image: url(../../../images/korea/culture/sprite.png);
				background-repeat: no-repeat;
				background-position: -196px -196px;
				vertical-align: middle;
				margin-right: 5px;
			}
			.active{
				background-position: -221px -196px;
			}
		}
		.add-cart-pop{
			top: 70px;
			left: 10px;
			h4{
				color: #000;
				.msyh(20px);
				margin-bottom: 20px;
			}
			.icon-right{
				display: inline-block;
				margin-right: 10px;
				width: 32px;
				height: 32px;
				background-position: -71px -9px;
				vertical-align: middle;
			}
			.popup-con{
				padding: 20px 40px 40px 40px;
			}
		}
	}

	.detail-form{
		padding: 0;
		margin: 0 0 10px 0;
		.item-total-tips{
			color: #999;
			line-height: 46px;
		}
		.resize-num{
			height: 46px;
			width: 66px;
			position: relative;
			overflow: hidden;
			border:1px solid #C8C7CC;
			input{
				border: 0;
				font-size: 16px;
				font-family: Tahoma;
				width: 44px;
				text-align: center;
				padding: 12px 0;
			}
			a{
				display: block;
				width: 22px;
				height: 22px;
				margin: 0 -1px -1px 0;
				border:1px solid #C8C7CC;
				position: absolute;
				background-image: url(../../../images/korea/culture/sprite.png);
				background-repeat: no-repeat;
				text-indent: -9999em;
			}
			.btn-up{
				top: -1px;
				right: 0;
				height: 23px;
				background-position: -33px 10px;
			}
			.btn-down{
				right: 0;
				bottom: 0;
				background-position: -33px -22px;
			}
			.disable{
				background-color: #f1f1f1;
				background-position: -33px -64px;
			}
		}
		dt{
			display: inline-block;
			*display: inline;
			*zoom:1;
			padding: 0;
			margin: 0;
			vertical-align: middle;
		}
		dd{
			padding: 0;
			margin: 0 10px 0 0;
			display: inline-block;
			*display: inline;
			*zoom:1;
			vertical-align: middle;
		}
		.item-size{
			display: block;
			position: relative;
			text-align:center;
			line-height: 22px;
			border:1px solid #c8c7cc;
			cursor: pointer;
			vertical-align: middle;
			i{
				display: none;
				position: absolute;
				right: 0;
				bottom: 0;
				width: 16px;
				height: 16px;
				background: url(../../../images/korea/culture/sprite.png) no-repeat -272px -304px;
			}
			img{
				display: block;
			}
			span{
				padding: 0 15px;
			}
			input{
				display: none;
			}
		}
		.cur{
			i{
				display: block;
			}
			label{
				color: #e70013;
				border:1px solid #e70013;
			}
		}
		.normal{
		    border:1px solid #c8c7cc;
			padding:2px 12px;
			color:#333;
			position:relative;
			cursor:pointer;
		}
		.checked{
		   position:relative;
			padding:2px 12px;
			color:#e60012;
			border:1px solid #e60012;
			cursor:pointer;
		  background:url(../../../images/korea/culture/checked.png) no-repeat right bottom;
		}
		.disable{
			.item-size{
				border:1px dashed @borderColor;
				cursor: auto;
				img{
					.opacity(0.5,50);
				}
				span{
					color: #ccc;
				}
				i{
					display: none;
				}
			}
		}
	}
	.item-pic{
		border:1px solid @borderColor;
		margin-bottom: 10px;
		width: 456px;
		height: 456px;
		overflow: hidden;
		img{
			width: 456px;
			height: 456px;
			
		}
		a{
			// display: none;
		}
		.cur{
			display: block;
		}
	}
	.item-img{
		ul:after{
			display: table;
		content: "";
		clear: both;
		}
		ul{
			*zoom:1;
			padding: 0;
			margin: 0;
			list-style: none;
			width: 468px;
			li{
				float: left;
				margin-right: 8px;
				img{
					display: block;
					width: 66px;
					height: 66px;
					overflow: hidden;
					border:1px solid @borderColor;
				}
				a{
					display: block;
					position: relative;
					border:1px solid #fff;
					outline:none;
					i{
						position: absolute;
						display: none;
						width: 8px;
						height: 9px;
						top: -8px;
						left: 30px;
						background: url(../../../images/korea/culture/__sprite/i1.png?__sprite) no-repeat 0px 0px;
					}
				}
			}
		}
		.cur{
			a
			{
				border:1px solid #e81818;
			}
			img{
				border:1px solid #e81818;
			}
			i{
				display: block;
			}
		}
	}
}
//
.item-des{
	margin-bottom: 10px;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		height: 40px;
		border: 1px solid @borderColor;
		li{
			float: left;
			border-right: 1px solid @borderColor;
		}
	}
	.des-tab{
		a{
			display: block;
			float: left;
			font-size: 14px;
			text-align: center;
			height: 37px;
			line-height: 37px;
			padding: 0 25px;
			border-bottom: 3px solid #fff;
			outline:none;
		}
		a:hover{
			border-bottom: 3px solid #ffb7b8;
		}
		.cur{
			a{
				border-bottom: 3px solid #e81818;
			}
		}
	}
	.item-info-set{
		border-right: 1px solid @borderColor;
		border-left: 1px solid @borderColor;
		border-bottom: 1px solid @borderColor;
		background-color: #f6f6f6;
		table{
			width: 100%;
			font-size: 14px;
			td{
				padding: 5px 15px;
			}
		}
		.info-details{
		  width:100%;
		  img{
		    max-width:978px;
		  }
		}
	}
	//商品点评
	.item-ping-set{
	    
		background-color: #fff;
		overflow:hidden;
		.item-none{
		  height:128px;
		  line-height:128px;
		  background:#f7f7f7;
		  width:978px;
		  border-bottom:1px solid #efefef;
		   border-left:1px solid #efefef;
		    border-right:1px solid #efefef;
		  font-family:"Microsoft YaHei";
		  font-size:16px;
		  color:#999999;
		  text-align:center;
		}
		.item-ping-hd{
		 background-color: #fcfcf9;
		 overflow:hidden;
		}
		.title{
		  width:114px;
		  float:left;
		  display:inline;
		  margin-top:20px;
		  margin-bottom:20px;
		  margin-left:92px;
		  h4{
		   margin:7px auto 0px auto;
		   text-align:center;
		   font-size:15px;
		   font-family:"微软雅黑";
		  }
		  .num{
		   font-size:35px;
		   font-family:"Tahoma";
		   color:#ffb72c;
		   margin: 0 auto;
           padding: 0;
           text-align: center;
		  }
		  .starts{
		    width:100%;
			text-align:center;
			padding-left:5px;
			ul{
			 border:0 none;
			 border:none;
			 height:17px;
			}
		  }
		}
	   table{
	         float:left;
		     display:inline;
			width: 445px;
			font-size: 12px;
			margin-top:20px;
			margin-bottom:20px;
			margin-left:15px;
			border-right: 1px dotted #d9d9d9;
			color:#666666;
			td{
				padding: 8px 0px 8px 0px;
			}
			td.text{
				text-indent:15px;
			}
		}
	   .ping-content{
	     width:100%;
		 
		 clear:both;
		.contents,.last-contents
		{
		 
		 padding:20px 0px;
		 clear:both;
		 margin:0 auto;
		 overflow:hidden;
		 .user{
		    float:left;
		     display:inline;
		   width:50px;
		   height:95px;
		   margin-left:20px;
		   .img{
		    width:50px;
			height:50px;
			display:block;
			img{
			  width:50px;
			  height:50px;
			}
		   }
		    .name{
		     color:#333;
		    }
		   .leave{
		     color:#999;
		   }
		   .thumbs{
		     width:50px;
			 padding-top:5px;
			 margin:0;
		   }
		  }
		  .starts{
		    float:left;
		     display:inline;
		     margin-left:34px;
			  ul{
			  border:0 none;
			  border:none;
			  height:17px;
			 }
		  }
		 .user-show{
		    float:left;
		    display:inline;
			margin-left:48px;
			width:620px;
			p{
			  padding:0;
			  margin:0;word-wrap:break-word;
			}
			.imgs{
			 width:100%;
			 float:left;
			 display:inline;
			 margin-left:-10px;
			}
			img{
			 margin-top:13px;
			 float:left;
			 display:inline;
			 margin-left:10px;
			}
		 }
         .goods{
		   width:107px;
		   float:left;
		   display:inline;
		   color:#999999;
		   .attr{
		     padding:0;
			 margin:0px auto 5px auto;
			 width:100%;
			 clear:both;
		   }
		   
		 }		 
		}
		.contents{
		 border-bottom: 1px solid @borderColor;
		}
		.last-contents{
		  border-bottom: 0px solid @borderColor;
		}
	   }	
	}
	//商品销售记录
	.item-record-set{
	  border-bottom: 1px solid #DCDCDC;
      border-left: 1px solid #DCDCDC;
      border-right: 1px solid #DCDCDC;
	  background-color: #fff;
		overflow:hidden;
		.tables{
		  width:100%;
		  margin:7px auto 48px auto;
		  
		  th{
		    height:48px;
			line-height:48px;
			background:#f4f4f4;
			color:#666666;
			font-family:"Microsoft YaHei";
			font-size:14px;
		  }
		  th.bayer{
		    width:279px;
			text-indent:48px;
			
		  }
		  th.nums{
		    width:165px;
		  }
		  th.dealtime{
		    width:287px;
		  }
		  th.style{
		    width:247px;
		  }
		  tr.odd{
		    background:#f9fbfe;
		  }
		  td{
		  color:#333;
		    padding:20px 0px;
			.user-icon{
				 width:33px;
				 height:33px;
				 float:left;
				 display:inline;
				 margin-left:48px;
			  }
			.user-nickname{
			     float:left;
				 display:inline;
				 margin-left:28px;
				 height:33px;
				 line-height:33px;
			}  
		  }
		}
	}
}