// 导入混合（Mixins）模块
@import url(common.mixin.less);
// 导入变量（var）模块
@import url(common.var.less);
@import url(normalize.less);
// 导入网格
@import url(grid.less);
a {
  color: #666;
  text-decoration: none;
  outline: none;
}
.ml10{
 margin-left:10px;
}
.mt20{
 margin-top:20px;
}
.mb20{
 margin-bottom:20px;
}
//步骤
.step{
	clear: both;
	width: 100%;
	span{
	   background-image: url(../../../images/korea/culture/sprite.png);
       background-repeat: no-repeat;
	}
	ul:after{
		display: table;
		content: "";
		clear: both;
	}
	ul{
		*zoom:1;
		margin: 0;
		padding: 0;
		list-style: none;
		display: table;
		width: 100%;
		margin-left: -22px;
		li{
			display: table-cell;
			float: left;
			text-align: center;
			position: relative;
			height: 60px;
			span{
				font-family: tahoma;
				font-size: 14px;
				display: inline-block;
				width: 32px;
				height: 32px;
				color: #fff;
				text-align: center;
				line-height: 32px;
				position: absolute;
				left: 45%;
				z-index: 10;
				background-position: -103px -120px;
				b{
					display: block;
					color: #666;
					font-weight: normal;
					font-size: 12px;
					top: 30px;
					left: -35px;
					width: 100px;
					text-align: center;
					position: absolute;
				}
			}
			
			i{
				display: block;
				height: 6px;
				border-top: 1px solid #dadada;
				border-bottom: 1px solid #dadada;
				.gradient-line(#f7f7f7,#f9f9f9,#f7f7f7,#f6f6f6);
				position: absolute;
				width: 100%;
				z-index: 5;
				top:12px;
				left: 0;
				em{
					display: block;
					width: 100%;
					
					height: 4px;
					margin-top: 1px;
				}
			}
		}
		.start{
			text-align: left;
			span{
				background-repeat: -200px -120px;
				margin-left: -35px;
			}
			b{
				width: 100px;
				text-align: center;
			}
			i{
				left: 24%;
			}
			.step-first{
				background-position: -199px -120px;
			}
		}
		.end{
			text-align: right;
			span{
				margin-left: 35px;
			}
			b{
				width: 100px;
				text-align: center;
				display: inline-block;
			}
			i{
				left: -15%;
				z-index: 3;
			}
			.step-last{
				background-position: -231px -120px;
			}
		}
		.cur{
			span{
				background-position: -136px -120px;
				color: #fff;
			}
			i{
				em{
					background-color: #f36161;
				}
			}
			b{
				color: #f65858;
			}
			.step-first{
				background-position: -71px -120px;
			}
			.step-last{
				background-position: -167px -120px;
			}
		}
	}
}
/********************modules start*************************/
.marks{
 margin:0 11px;
 overflow:hidden;
 .icon-order-detail{
   float:left;
   display:inline;
   margin-top:10px;
   width:109px;
   height:31px;
   background:url(../../../images/korea/culture/__sprite/u-o-hd_detail_bg.png?__sprite) no-repeat 0px 0px;
 }
 .icon-order-success{
    float:left;
    display:inline;
    margin-top:10px;
	 width:138px;
     height:37px;
	 background:url(../../../images/korea/culture/__sprite/icon-order-success.png?__sprite) no-repeat 0px 0px;
 }
 .icon-order-confirm{
   float:left;
   display:inline;
   margin-top:10px;
   width:131px;
   height:30px;
   background:url(../../../images/korea/culture/__sprite/icon-order-confirm.png?__sprite) no-repeat 0px 0px;
 }
 .icon-user-moneyback{
   float:left;
   display:inline;
   margin-top:10px;
   width:74px;
   height:39px;
    background:url(../../../images/korea/culture/__sprite/icon-user-moneyback.png?__sprite) no-repeat 0px 0px;
 }
 .step-box-detail{
   float:left;
  display:inline;
  width:550px;
  clear:left;
  margin-left:96px;
  margin-top:34px;
 }
 .step-box{
  float:right;
  display:inline;
  width:550px;
 }
}
.order-tips{
  margin:0 auto;
  overflow:hidden;
  h4{
   padding:0px 11px;
   font-family:"Microsoft YaHei";
   font-size:16px;
   font-weight:bold;
   color:#333;
  }
  .order-contacts{
   border-top:2px solid #e8e8e8;
   border-left:1px solid #e8e8e8;
   border-right:1px solid #e8e8e8;
   border-bottom:1px solid #e8e8e8;
    margin:5px auto 20px auto;
   overflow:hidden;
     .hd{
	 width:100%;
	 margin:0 auto;
	   height:68px;
	   line-height:68px;
	   background:#fffcf4;
	   overflow:hidden;
	   .tip{
	     margin:21px 152px;
		 height:26px;
		 line-height:24px;
		 color:#ff0000;
		 background:url(../../../images/korea/culture/__sprite/cancel_title_bg.png?__sprite) no-repeat 0px 0px;
		 text-indent:43px;
	   }
	 }
	 .contacts-form{
	   margin:11px auto 22px 65px;
	   .line{
	      margin:11px auto 0px auto;
		  overflow:hidden;
	   }
	   .must{
	    color:#cc0000;
		font-style:normal;
		padding-top:4px;
		vertical-align:middle;
		margin-right:5px;
	   }
	   .lbs{
	    width:89px;
		text-align:right;
	    float:left;
		display:inline;
		line-height:21px;
		height:23px;
	   }
	   .txt-short{
	     width:121px;
	    }
		.txt-long{
		  width:201px;
		}
	   .txt-short,.txt-long{
	    float:left;
		display:inline;
	    margin-left:10px;
	    
		height:23px;
		line-height:21px;
		border:1px solid #cccccc;
	   }
	 }
  }
  .order-payment{
    border-top:2px solid #e8e8e8;
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
	height:91px;
	line-height:91px;
	margin-bottom:20px;
	margin-top:5px;
	.r{
	 float:left;
	 display:inline;
	 margin-top:40px;
	}
	.payment{
	    float:left;
		display:inline;
	    margin-left:20px;
	   height:91px;
	   line-height:91px;
	}
	.alipay{
	 width:169px;
	 height:28px;
	 float:left;
	 display:inline;
	 margin-top:32px;
	 background:url(../../../images/korea/culture/alipay.png) no-repeat 0px 0px;
	}
  }
  .order-info{
     border-top:2px solid #e8e8e8;
	 margin-top:5px;
	 table{
	   width:978px;
	   clear:both;
	   margin:0 auto;
	   .tdr{
	      border-right:1px solid #f5ead0;
	   }
	   .btn-submit{
	     .btn-cart(20px,50px,#fff,#fff,#e81818,#e81818,0px 15px,#e81818,#e81818);
		 float:right;
		 display:inline;
	   }
	   .rmb{
	     font-family:"Microsoft YaHei";
	   }
	   .num{
	    font-size:16px;
	   }
	   .red{
	      font-family:"Tahoma";
		 color:#e81818;
		 font-size:18px;
	   }
	   .pt20{padding-top:20px;}
	   th{
	     padding:15px 0px 15px 11px ;
		 .chk{
		  float:left;
		  display:inline;
		 }
		  .shop-name{
		  float:left;
		  display:inline;
		    height:20px;
			line-height:18px;
			margin-top:-4px;
			margin-left:10px;
		  }
	   }
	   tr.row{
	     border:1px solid #f5ead0;
		 background:#fffcf4;
	   }
	   tr.total{
	     border-left:1px solid #f5ead0;
		 border-right:1px solid #f5ead0;
		 border-bottom:1px solid #f5ead0;
		 border-top:1px solid #d7e5ef;
		 background:#f0f0f0;
	   }
	   td{
	    padding:16px 0px;
		word-break:break-all;
        word-wrap:break-word;
        
	   }
	   td.control{
	     width:53px;
		 padding-left:11px;
	   }
	   td.abstract{
	    width:310px;
	   }
	   td.type{
	    width:127px;
		 vertical-align:top;
		 color:#666666;
		 text-align:center;
	   }
	   td.price{
	    width:138px;
		 vertical-align:top;
		 text-align:center;
	   }
	   td.length{
	    width:148px;
		 vertical-align:top;
		 text-align:center;
	   }
	   td.tprice{
	    width:129px;
		 vertical-align:top;
		 text-align:center;
		 font-family:"Tahoma";
		 color:#e81818;
		 font-size:18px;
	   }
	   td.opa{
	    width:72px;
		 vertical-align:top;
		 text-align:center;
		 padding:20px 0px;
		 a{
		  color:#999;
		  &:hover{
		   text-decoration:underline;
		  }
		 }
	   }
	   td.abstract{
	     .img{
		   float:left;
		   display:inline;
		   width:76px;
		   height:76px;
		   border:1px solid #d3d3d3;
		  img{
		    width:76px;
			height:76px;
		  }
		 }
		 .link{
		   float:left;
		   display:inline;
		   width:185px;
		   margin-left:20px;
		   color:#464646;
		   &:hover{
		     text-decoration:underline;
		   }
		 }
	   }
	   td.price{
	    .del{
		  color:#666;
		  font-size:14px;
		  font-family:"Arial";
		 }
		.p{
		  font-size:14px;
		  font-family:"Arial";
		  font-weight:bold;
		}
		.p-type{
		  background:#7abd54;
		  color:#fff;
		  width:61px;
		  margin:8px auto 0px auto;
		 height:20px;
		 line-height:18px;
		}
	   }
	   td.length{
	     .counter{
		    border:1px solid #e5e5e5;
			 background:#f0f0f0;
			 padding:4px;
			 *padding:0px;
			 padding:0px 0px 8px 0px\0;
		   .add,.sub{
		     padding:9px 4px;
			 *padding:0px 4px;
			 color:#444;
			 vertical-align:middle;
			 outline:none;
			 position:relative;
			 top:-2px;
			 *top:-4px;
			 top:2px\0;
		   }
		   .txt-length{
		     border:1px solid #aaa;
			 text-align:center;
			 width:39px;
			 height:23px;
			 position:relative;
			 top:0px;
			 
		    }
		   
		 }
	   }
	 }
  }
}
.order-status{
  margin:0 auto;
  overflow:hidden;
  .hd{
    padding:15px 0px;
	.status{
	  font-family:"Microsoft YaHei";
	  font-size:14px;
	  color:#666;
	}
	.btns{
	   clear:both;
	   margin:18px auto 0px auto;
	   overflow:hidden;
	  .btn-pay{
	           // 字体大小 //按钮高度 //文字颜色 //hover颜色 //背景颜色 //hover背景颜色 //左右padding //边框颜色 //hover边框颜色
	    .btn-cart(14px,26px,#fff,#fff,#e81818,#e81818,0px 15px,#e81818,#e81818);
		float:left;
		display:inline;
	  }
	  .btn-cancel{
	    .btn-cart(14px,26px,#999999,#999999,#eaeaea,#eaeaea,0px 15px,#eaeaea,#eaeaea);
		float:left;
		display:inline;
	  }
	}
  }
  .table-contacts{
    width:100%;
	margin:0 auto;
	tr{
	  border-top:2px solid #eeeeee;
	}
	td{
	  padding:28px 0px;
	  width:33%;
	  vertical-align:bottom;
	  .titles{
	    font-size:14px;
		font-family:"Microsoft YaHei";
		font-weight:bold;
		color:#464646;
		
	  }
	  .text{
	   margin-top:15px;
	   color:#464646;
	  }
	}
  }
  .table-bar{
    width:100%;
    margin:0 auto;
	 height:40px;
	line-height:40px;
	background:#f6f6f6;
	color:#666;
	font-weight:bold;
	div{
	 float:left;
	 display:inline;
	}
	.shops{
		  width:267px;
		  text-align:center;
		 }
		 .type{
		  width:112px;
		  text-indent:20px;
		 }
		 .price{
		  width:67px;
		  text-align:center;
		 }
		 .nums{
		  width:79px;
		  text-indent:44px;
		 }
		 .status{
		   width:138px;
		   text-indent:30px;
		   
		 }
		 .sales,.totalpay{
		  width:158px;
		  text-align:center;
		 }
  }
  .table-order{
	   clear:both;
	   margin:0 auto;
	   width:100%;
	   background-color:#fffef4;
	   border:1px solid #f5ead0;
	   table-layout:fixed;
	   border-collapse:separate;
	  		 
	   /*订单标题样式*/  
		   .ordersum{
		     margin:0 auto;
	         width:810px;
		     padding-bottom:13px;
		   }
	   .goods{
	        width:662px;
		    
		/**/
		   .dtp{
		      border-top:1px solid #f5ead0;
		   }
		   
		/*订单商品行间样式*/   
          .goodsin{
		       width:662px;
		 	   *padding:10px 0px;
			.img{
				 float:left;
				 display:inline;
				 
				 width:78px;
				 height:78px;
				 margin:14px auto 14px 14px;
				
				 img{
				   width:78px;
				   height:78px;
				}
			 }
			 .text{
			    float:left;
				display:inline;
			    width:150px;
				margin:14px auto 14px 10px;
				padding-right:15px;
				.name{
				   width:150px;
				   padding:0px;
				   margin:5px 0px 0px 0px;
				   overflow:hidden;
				   white-space:nowrap;
				   text-overflow:ellipsis;
				   
				   a{
				    color:#333;
				   }
				   a:hover{
			         text-decoration:underline;
			        }
				 }
				.item{
				 margin:5px 0px 0px 0px;
				 color:#999;
				 i{
				   margin-left:5px;
			       font-style:normal;
				 }
				}
			 }
			 /*类型*/
			  .type{
			   width:102px;
			   float:left;
			   display:inline;
			   margin:18px auto 14px 10px;
			 }
		    /*货物单价*/
			.unit{
			    float:left;
				display:inline;
			    width:67px;
				margin:14px auto 14px 0px;
				text-align:center;
				padding-top:5px;
				.del{
				  color:#999999;
				}
				.price{
				  font-family:"Tahoma";
				  font-weight:bold;
				}
				.dis{
				  padding:2px 7px;
				  color:#fff;
				  background:#7abd54;
				  margin-top:5px;
				}
			}
			.nums{
			   float:left;
			   display:inline;
			   width:43px;
			   margin:14px auto 14px 36px;
			   padding-top:5px;
			   text-align:center;
			}
			.service{
			   float:left;
			   display:inline;
			   width:88px;
			   margin:14px auto 14px 0px;
			   
			   text-align:center;
			   .p{
			     padding-top:5px;
				 color:#666;
				 font-weight:bold;
			   }
			   .cancel{
			    padding-top:5px;
			    color:#999;
			   }
			   .other{
			     padding-top:5px;
			     color:#5684bc;
			   }
			   .return{
			    padding-top:5px;
			    color:#d60e0e;
				padding-left:11px;
				padding-right:11px;
				position:relative;
				em{
				 float:left;
				 display:inline;
				 margin-left:5px;
				 margin-top:2px;
				 width:16px;
				 height:16px;
				 left:0;
				 top:8px;
				 background-image:url(../../../images/korea/culture/__sprite/return.png);
			     background-repeat: no-repeat;
	             background-position:0px 0px;
				}
			   }
			   a{
			    display:block;
				clear:both;
				font-style:normal;
			   }
			   a:hover{
			     text-decoration:underline;
			   }
			   i{
			      display:block;
				clear:both;
				font-style:normal;
			   }
			}
		  }
		 
	    }
		.status{
		  width:84px;
		  border-right:1px solid #f5ead0;
	      
		   .row{
			    width:84px;
				clear:both;
				padding-top:5px;
				text-align:center;
			   
		  span{
		     display:block;
			 clear:both;
			 margin:0 auto;
			 text-align:center;
			 position:relative;
			 .hovering{
			   cursor: pointer;
			   position:absolute;
			   
			   top:3px;
			   top:2px\0;
			   width:13px;
			   height:13px;
			   background-image:url(../../../images/korea/culture/__sprite/hovering.png);
			   background-repeat: no-repeat;
	           background-position:0px 0px;
			   .layer{
			      display:none;
			      position:relative;
				  left:0;
				  top:0;
			      width:100px;
			      background-image:url(../../../images/korea/culture/__sprite/hovering-layer.icon.png);
				  background-repeat: no-repeat;
	              background-position:0px 0px;
				  font-style:normal;
				  
				  em{
				    display:block;
					width:90%;
					margin:5px auto 1px auto;
				    padding:15px 0px 13px 0px;
					font-style:normal;
					text-align:left;
					color:#666;
					word-break:break-all;
                    word-wrap:break-word;
				  }
				  .bm{
				    position:absolute;
					left:0;
					bottom:0;
				    width:100px;
					height:4px;
					background-image:url(../../../images/korea/culture/__sprite/hovering-layer.icon.png);
				    background-repeat: no-repeat;
	                background-position:-120px -7px;
				  }
				  &:hover{
				    display:block;
					left:-67px;
					top:10px;
				  }
			   }
			   &:hover .layer{
				    display:block;
					left:-67px;
					top:10px;
				  }
			 }
			 
		  }
		  span.normal{
		   color:#3b7700;
		  }
		  span.closed{
		   color:#999;
		  }
		  }
		}
	    /*付款情况*/
			 .paying{
			   width:156px;
			  
			   border-left:1px solid #f5ead0;
			   vertical-align:middle;
			   .rmb{
			    color:#464646;
				font-weight:bold;
				text-align:center;
				font-family:"Tahoma";
				font-size:16px;
				.y{
				   font-family:"微软雅黑",Microsoft YaHei;
				}
			   }
			   .fee{padding-top:5px;
			     color:#999;
				 .y{
				   font-family:"微软雅黑",Microsoft YaHei;
				}
			   }
			   a{
			    display:block;
				clear:both;
				font-style:normal;
			   }
			   i{
			      display:block;
				clear:both;
				font-style:normal;
			   }
			   .row{
			    width:174px;
				clear:both;
				padding-top:5px;
				text-align:center;
				}
			}
	    /*用户操作*/
			.handle{
			   width:110px;
			   .row{
			    width:110px;
				clear:both;
				padding-top:5px;
				text-align:center;
					.btns{
					 .btn-cart(@fontSize:12px,@height:20px,@color:#fff,@hoverColor:#fff,@bg:#d60e0e,@hoverBg:#d60e0e,@padding:1px 15px,@borderColor:#d60e0e,@hoverBorderColor:#d60e0e);
					  line-height:20px;
					  margin-bottom:auto;
					}
			   }
			   .look{
			    color:#5684BC;
			   }
			   .cancel{
			    color:#999;
			   }
			   span{
			    display:block;
				clear:both;
			   }
			   a{
			    display:block;
				clear:both;
				margin-top:2px;
			   }
			    a:hover{
			     text-decoration:underline;
			   }
			   i{
			     
			     cursor: pointer;
			     display:block;
				 clear:both;
				 font-style:normal;
			   }
			}
		.realpay{
		   width:158px;
		    border-left:1px solid #f5ead0;
			 vertical-align:middle;
			.rmb{
			    color:#464646;
				font-weight:bold;
				text-align:center;
				font-family:"Tahoma";
				font-size:16px;
				clear: both;
                display: block;
				.y{
				   font-family:"微软雅黑",Microsoft YaHei;
				}
			   }
		}	
	 }
}
.h611{
 height:611px;
}
.pb60{
 padding-bottom:60px;
}
.order-success{
   width:978px;
   margin:20px auto;
   border:1px solid #e1e1e1;
   padding:62px 0px;
   .line{
     margin:11px 350px;
	 overflow:hidden;
	 .success{
	  width:100%;
	  height:40px;
	  line-height:40px;
	  font-family:"Microsoft YaHei";
	  font-size:28px;
	  color:#666;
	  text-indent:57px;
	  background:url(../../../images/korea/culture/__sprite/success.png?__sprite) no-repeat left top;
	 }
	 .lb{
	  font-size:14px;
	  font-weight:bold;
	  color:#000;
	  vertical-align:middle;
	 }
	 .y{
	  color:#999;
	  font-size:18px;
	  font-family:"Microsoft YaHei";
	  vertical-align:middle;
	 }
	 .red{
	  color:#e81818;
	  font-family:"Tahoma";
	  font-size:24px;
	  vertical-align:middle;
	 }
	 .gray{
	   color:#666666;
	   vertical-align:middle;
	 }
	 .btn-lookorder{
	   .btn-cart(16px,36px,#fff,#fff,#e81818,#e81818,1px 15px,#e81818,#e81818);
	   float:left;
       display:inline;	   
	 }
	 .close-page{
	  color:#999;
	  margin-left:20px;
	  margin-top:10px;
	  display:inline-block;
	  &:hover{
	   text-decoration:underline;
	  }
	 }
   }
}
.order-refuse{
  width:980px;
  border-top:2px solid #eeeeee;
  clear:both;
  margin:20px auto;
  overflow:hidden;
  .refuse-l{
    width:725px;
	float:left;
	display:inline;
	padding:68px 0px;
	.btn-moneyback{
	  .btn-cart(16px,36px,#fff,#fff,#e81818,#e81818,1px 35px,#e81818,#e81818);
	  float:left;
       display:inline;
	   margin-left:120px;
	}
	.row{
	  margin:10px auto;
	  padding-left:53px;
	  .i{
	  font-style:normal;
	  vertical-align:middle;
	   color:#e81818;
	  }
	  .normal{
	   color:#666666;
	    float:left;
		display:inline;
		margin-left:20px;
		line-height:200%;
	  }
	  .y{
	    font-family:"Microsoft YaHei";
		color:#333;
	  }
	  .sum{
	    font-family:"Tahoma";
		color:#e81818;
		 font-size:16px;
	  }
	  .lb{
	     float:left;
		 width:100px;
	     display:inline;
		 text-align:right;
		 font-size:14px;
	  }
	  .sel{
	    float:left;
		 display:inline;
		 width:180px;
		 margin-left:20px;
		 margin-top:4px;
	  }
	  .money{
	    float:left;
		display:inline;
		margin-left:20px;
		
	  }
	  .txt-reason{
	   width:550px;
	   height:110px;
	   float:left;
		display:inline;
		margin-left:20px;
	  }
	}
  }
  .refuse-r{
    width:213px;
	float:right;
	display:inline;
	padding:90px 0px 0px 0px;
	.hd{
	  font-family:"Microsoft YaHei";
	  font-size:14px;
	}
	.img{
	  width:213px;
	  height:213px;
	  margin-top:10px;
	  display:block;
	  img{
	   width:213px;
	   height:213px;
	  }
	}
	.link{
	  width:213px;
	  margin-top:15px;
      word-break:break-all;
      word-wrap:break-word;
      a{
	    color:#666666;
		&:hover{
		  text-decoration:underline;
		}
	  }
	  .y{
	    font-family:"Microsoft YaHei";
	  }
	  .money{
	     color:#e81818;
	     font-size:14px;
	     margin-top:5px;
		 font-family:"Tahoma";
		 font-weight:bold;
	  }
	}
  }
}