*html{background-image:url(about:blank);background-attachment:fixed}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
em{font-style:normal}
#nav{padding: 20px 0;}
#nav .nav-menu{font-family:\5b8b\4f53;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
#nav .nav-title{float:right;color:#666}
#nav .nav-title em{font-style:normal;color:#c6c6c6}
#nav .nav-menu .prod-name{color:#999;}
#nav a{color:#333}
#nav a:hover{color:#eb7e00;}
#nav em{color:#248bcd;font-style:normal}

.col-main,.col-sub{float:left}
.col-main{width:100%;min-height:1px}
.main{word-break:break-all}

.geo-pic{display:table-cell;*display:inline-block;vertical-align:middle;text-align:center}
.geo-pic span{display:block;vertical-align:middle;text-align:center}
.geo-pic img{display:block;margin:auto}
.show-hd{color:#525252;margin-bottom:20px}
.show-hd h1{font:16px/26px \5fae\8f6f\96c5\9ed1}
.show-bd .main{margin:0 316px 0 330px;position:relative;}
.show-bd .col-sub{width:300px;margin-left:-100%; margin-top: 0px;padding-top: 0;}
.shop-show .show-price{margin:0 0 8px 0;color:#525252;position: relative; width:334px; height: 34px;}
.shop-show .show-price .add-goods-favourite{position:absolute;bottom:0;right:0;}
.add-goods-favourite{display: inline-block;*display: inline;*zoom: 1;padding:0 15px;height:23px;line-height:23px;color:#666;border:1px solid #D9D9D9;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background:#fafafa;
	background-image: linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -o-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.38, rgb(243,243,243)),
		color-stop(0.85, rgb(250,250,250))
	);	
}
.add-goods-favourite:hover{
	background-image: linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -o-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.38, rgb(250,250,250)),
	color-stop(0.85, rgb(243,243,243))
	);
}
.show-favorites-tips {margin-bottom: 8px; color: #F70; }
.count-down{display: inline-block;*display: inline;*zoom: 1;width: 224px;height:58px;background: url(../../images/search/jiangjia.png) no-repeat;}
.remind-tips{background-position:0 0;}
.goods-in{background-position: 0 -58px;cursor: default;}
.already-in{background-position: 0 -116px;cursor: default;}
.fav-empty-tips{position: absolute;top:-30px;z-index:100;width: 267px;height:72px;padding-top:26px;text-align:center;background:url(../../images/search/fav-tips.png) no-repeat scroll 0 0;}
.fav-empty-tips strong,
.fav-empty-tips span{color:#d86503;}
.fav-empty-tips .go-links{color:#1070dc;text-decoration: underline;}
.fav-empty-tips .fav-empty-close{position:absolute;width:33px;height: 33px;right:-10px;top:-4px;cursor:pointer;background:url(../../images/search/fav-tips.png) no-repeat scroll 0 -98px;}

.shop-show .show-price b,.shop-show .show-price em{color:#ff1919}
.shop-show .show-price b{font:700 14px arial;}
.shop-show .show-price em{font:700 26px \5fae\8f6f\96c5\9ed1;padding:0 5px}
.shop-show .show-price strong{margin-right: 10px;color:#f17400;font-weight: 700;font-size:14px;}
.shop-show .show-config{position:relative;height:85px;padding:10px 0 30px;border-top:1px solid #bebebe;border-bottom:1px solid #bebebe;}
.shop-show .config-ls li{float:left;width:50%;height:28px;line-height:28px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.shop-show .config-ls span{padding-left:10px;color:#999;background:url(../../images/search/detail.png) no-repeat 0 -294px;_background-images:url(../../images/search/detail8.png);}
.shop-show .b5m-tips{display: inline-block;*display: inline;*zoom: 1;margin-top: 20px;color:#999;}
.shop-show .b5m-tips-c{color:#666;}
.shop-show .b5m-tips-c .b5m-info-more{color:#248bcd;}
.shop-show .more-config{position:absolute;right:4px;;bottom:8px;color:#f17400;}
.shop-show .start{padding:15px 0 7px;}
.shop-show .price-source{height:43px;padding:0 5px 0 10px;margin-top:20px;line-height:43px;border-bottom:1px solid #F7D3AA;background-color:#FFF3E5;}
.shop-show .history-price{width:275px;margin-left:-275px;float:left;}
.shop-show .history-price .tit{color:#333;font:normal 700 16px/30px \5fae\8f6f\96c5\9ed1;}
.shop-show .history-price .status-price{color:#666;padding:7px 0;}
.shop-show .history-price .status-price em{color:#ff1919;}
.shop-show .history-price .recent-price{color:#999;}
.shop-show .history-price .recent-price span{color:#35a4df;margin-right:18px;}
.flat-icon-chart{display: inline-block;*display: inline;*zoom: 1;width:18px;height:14px;border-left:1px solid #D9D9D9;border-bottom:1px solid #D9D9D9;background:url(../../images/search/detail.png) no-repeat 0 0;_background-image:url(../../images/search/detail.png);cursor: default;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.flat-icon-chart{width:66px;height:22px;background-position:0 -350px;font-size:0;overflow: hidden;line-height: 0;vertical-align: middle;}

.shop-show .price-source .btn{margin-top:5px;}
.shop-show .low-price{color:#666;}
.shop-show .low-price em{color:#EE7300;}
.shop-show .low-price strong{margin-left:4px;color:#FF1919;}
.shop-show .score{margin:15px 0 7px}
.shop-show .score-comment,
.shop-show .score-rate,
.shop-show .sell-nums{color:#666;}
.shop-show .score-rate,
.shop-show .sell-nums{margin-left:16px;}
.shop-show .score-rate{background:url(../../images/search/detail.png) no-repeat 0 2px;_background-images:url(../../images/search/detail8.png);padding-left:18px;cursor: pointer;}
.shop-show .show-tag a{
	float:left;margin:8px 8px 0 0;display:inline;background:#f1f1f1;border:1px solid #ddd;color:#666;padding:0 5px;height:18px;line-height:18px;line-height:20px\0;*line-height:20px;_line-height:18px;overflow:hidden;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:-moz-linear-gradient( top,#fff,#ededed);
	background:-webkit-linear-gradient(top,#fff,#ededed);
	background:-o-linear-gradient(left,#fff,#ededed)}
.show-tag a:hover,.show-tag a.active{text-decoration:none;border-color:#f06723;color:#f4772c}
.shop-show .show-tag .cur{border-color:#f06723;color:#f4772c}
.shop-show .disable-prod{color:#666;}
.shop-show .disable-prod b{color:#333;}
.shop-show .more-prod{color:#eb7e00;}

.show-pic{position:relative;height:360px}
.show-area{width:298px;height:298px;border:1px solid #ddd;position:relative;overflow:hidden}
.show-pic-list{position:absolute}
.show-pic .item{float:left;width:298px;height:298px;padding-left:0;}
.show-pic .geo-pic{width:298px;height:298px}
.show-pic .geo-pic span{width:298px}
.show-pic .geo-pic img{max-width:298px;max-height:298px;*width:expression(this.width>298 ? '298px':true);*height:expression(this.height>298 ? '298px':true);*margin-top:expression(149-this.height/2)}
.show-pic #prev,.show-pic #next,.show-pic #pic-num{position:absolute;bottom:0;width:12px;height:19px;text-indent:-99em}
.show-pic #prev,.show-pic #next{background:url(../../images/search/arr_opt.png) no-repeat;width:12px;height:19px;overflow:hidden}
.show-pic #prev{left:105px}
.show-pic #next{background-position:-17px 0;right:105px}
.show-pic #prev:hover{background-position:0 -24px;cursor:pointer}
.show-pic #next:hover{background-position:-17px -24px;cursor:pointer}
.show-pic #pic-num{left:118px;width:68px;text-align:center;font:14px/19px arial;text-indent:0;color:#b9b9b9}
.show-pic #pic-num strong{color:#959595;font-weight:700}
.show-pic #prev,.show-pic #next,.show-pic #pic-num{position:absolute;bottom:10px;width:12px;height:19px;text-indent:-99em}
.show-pic #prev,.show-pic #next{background:url(../../images/search/arr_opt.png) no-repeat;width:12px;height:19px;overflow:hidden}
.show-pic #prev{left:0px}
.show-pic #next{background-position:-17px 0;right:0px}
.show-pic #prev:hover{background-position:0 -24px;cursor:pointer}
.show-pic #next:hover{background-position:-17px -24px;cursor:pointer}
.show-pic #pic-num{left:118px;width:68px;text-align:center;font:14px/19px arial;text-indent:0;color:#b9b9b9}
.show-pic #pic-num strong{color:#959595;font-weight:700}

.show-pic .small-pic{width: 258px; margin:22px auto 0; overflow: hidden; height: 40px; position: relative;}
.show-pic .pic-ul{ width: 300%; position: absolute; left: 0; top: 0; height: 40px;}
.show-pic .pic-ul li{ padding:0;width: 36px; height: 36px; border: 1px #ddd solid; text-align: center; float: left; _display: inline; margin-right: 6px; cursor: pointer;}
.show-pic .pic-ul li.active{ border: 1px #cc0000 solid;}
.show-pic .pic-ul img{ width: 36px; height: 36px;}

.tab{margin-top:50px}
.tab-hd{height:30px;border-bottom:2px solid #ff7d26;color:#666;position:relative}
.tab-hd li{float:left;width:98px;height:29px;line-height:29px;border:1px solid #d3d3d3;border-bottom:none;text-align:center;margin-right:5px;background:#fff;cursor:pointer;position:relative}
.tab-hd li.cur{background:#ff7d26;border-color:#ff7d26;color:#fff}
.tab-bd{overflow:hidden}
.tab-bd .tab-box{display:none}

.tab-filter{height:39px;border:1px solid #ddd;background:#f9f9f9;margin-top:-1px;padding:0 15px}
.tab-filter .shop-seq-item{float:left;margin-top:5px;display:inline}
.tab-filter .shop-seq-item li{float:left;width:44px;height:24px;border:1px solid #d4d4d4;background:#fcfcfc;margin:0 0 0 -1px;display:inline;position:relative}
.tab-filter .shop-seq-item li a{color:#666;display:block;height:24px;line-height:24px;line-height:28px\0;*line-height:28px;_line-height:24px;text-align:center;overflow:hidden}
.tab-filter .shop-seq-item li a:hover,.tab-filter .shop-seq-item li.cur a{color:#f47920;text-decoration:none;text-align: center;}
.tab-filter .shop-seq-item li.cur{background:#f2f2f2}
.tab-filter .shop-seq-item li.first{border-top-left-radius:3px;border-bottom-left-radius:3px}
.tab-filter .shop-seq-item li.last{padding-right:15px;border-top-right-radius:3px;border-bottom-right-radius:3px;}
.tab-filter .shop-seq-item li.last img{position:absolute;right:8px;top:8px;display:block}

.tab-shop-header li{height:33px;line-height:33px;border-bottom:2px solid #ccc;float:left;color:#666;font-weight: 700;}
.tab-shop-header .mall{width:140px;}
.tab-shop-header .name-goods{width:370px;}
.tab-shop-header .price-goods{width:116px;}
.tab-shop-header .trend-goods{width:78px;}
.tab-shop-header .support-goods{width:166px;}
.tab-shop-header .operate-goods{width:108px;}
.tab-shop-item{position:relative;padding-left:140px;border-bottom:2px solid #EBEBEB;height:135px;overflow: hidden;}
.tab-shop .shop-list li{border-top:1px solid #ddd;padding:20px 0 20px 0;overflow:hidden;}
.tab-shop .shop-list .first{padding-bottom:45px;}
.tab-shop .shop-info,
.tab-shop .shop-ratio,
.tab-shop .shop-support,
.tab-shop .shop-goto{float:left}
.tab-shop .shop-list{margin-top:-1px;position: relative;}
.tab-shop .shop-list li.no-border-bottom{border-bottom: none;}
.tab-shop .shop-logo{position:absolute;left:0;top:0;width:100px;padding:10px 0 10px 20px}
.tab-shop .shop-logo .geo-pic{width:100px;height:50px;color: #666;}
.tab-shop .shop-logo .geo-pic span{width:100px}
.tab-shop .shop-logo .geo-pic img{max-width:100px;max-height:50px;*width:expression(this.width>100 ? '100px':true);*height:expression(this.height>50 ? '50px':true);*margin-top:expression(25-this.height/2)}
.tab-shop .shop-info{width:285px;line-height:20px;color:#666;overflow:hidden}
.tab-shop .shop-info a{color: #666;}
.tab-shop .shop-info a:hover{color: #F47920;}
.tab-shop .shop-ratio{width:165px;margin-left:80px;color:#ff1919;margin-top:5px}
.tab-shop .shop-ratio i{float:right;margin:5px 24px 0 0;}
.tab-shop .shop-ratio b{font-size:12px;font-family:\5fae\8f6f\96c5\9ed1;}
.tab-shop .shop-ratio em{font:700 18px \5fae\8f6f\96c5\9ed1;padding:0 5px}
.tab-shop .shop-support{width:165px;margin-left:35px;color:#666;line-height:23px}
.tab-shop .shop-goto{width:108px;margin:5px 0 0;text-align: center;}
.tab-shop .shop-goto .dianping{padding:0;border:none;color:#666;background:none;}
.tab-shop .shop-goto .dianping:hover{color:#eb7e00;}
.tab-shop .shop-goto .par,.tab-shop .shop-goto .buy{display:inline-block;width:70px;height:29px;line-height:27px;text-align:center;margin:0 auto 8px}
.tab-shop .shop-goto .par{background:url(../images/search/btn_70_29_g.png) no-repeat;color:#666}
.tab-shop .shop-goto .buy{background:url(../images/search/btn_70_29_o.png) no-repeat;color:#fff}
.flat-icon,
.high-icon,
.low-icon{display: inline-block;*display: inline;*zoom: 1;width:18px;height:14px;border-left:1px solid #D9D9D9;border-bottom:1px solid #D9D9D9;background:url(../../images/search/detail.png) no-repeat 0 0;_background-image:url(../../images/search/detail.png);cursor: default;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.flat-icon{background-position:0 -50px;}
.high-icon{background-position:0 -150px;}
.low-icon{background-position:0 -100px;}
.tab-shop .opt{border:1px solid #ddd;position:absolute;left:140px;height:23px;top:111px;line-height:23px;color:#999;padding:0 5px;cursor:pointer;
	background-color:#ededed;
	background:-moz-linear-gradient( top,#fff,#F5F5F5);
	background:-webkit-linear-gradient(top,#fff,#F5F5F5);
	background:-o-linear-gradient(left,#fff,#F5F5F5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#F5F5F5',GradientType=0 ); /* IE6-8 */
}
.tab-shop .close{
	background-color:#F5F5F5;
	background:-moz-linear-gradient( top,#F5F5F5,#fff);
	background:-webkit-linear-gradient(top,#F5F5F5,#fff);
	background:-o-linear-gradient(left,#F5F5F5,#fff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5',endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.tab-shop .opt b{color:#f0631c;font-weight:400;padding-right:3px;top: 109px;}
.detail-page{padding:30px 0 0}
.tag{border-bottom:1px solid #ddd;padding-bottom:20px;margin-top:30px}
.tag h2,.has-tag h2{color:#666;font:400 14px \5fae\8f6f\96c5\9ed1}
.has-tag{border-bottom:1px solid #ddd;margin-top:10px;height:49px}
.has-tag h2,.has-tag .show-tag{float:left}
.has-tag h2{margin:10px 0 0;_margin:9px 0 0}
.has-tag b{font-family:\5b8b\4f53;font-weight:400;padding:0 0 0 3px}

.shop-comments{*width:938px}
.shop-comments ul{margin-bottom:-1px}
.shop-comments li{padding:20px 0;border-bottom:1px dotted #ddd}
.shop-comments li:hover{background:#fbfbfb}
.shop-comments .hd{position:relative;height:30px;color:#bcbcbc;width:100%}
.shop-comments .hd a{float:left;color:#2489cd;text-decoration: none;cursor: pointer;}
.shop-comments .hd span{position: absolute;right:100px;height:60px;width:120px;text-align:center;display:block;}
.shop-comments .hd ins{text-decoration:none;position:absolute;right:0;top:0}
.shop-comments .hd .mall{float:none;}
.shop-comments .hd .mall img{width:120px;height:60px;_width:expression(this.scrollWidth>120?"120px":"auto";_height:expression(this.height > 60 ? "60px":"auto"));}
.shop-comments .bd{margin-right:235px;color:#666}

.shop-mod h2{font:700 14px/50px \5b8b\4f53;color:#525252}
.shop-mod-hd{height:30px;line-height:30px;background:#f3f3f3;color:#848484}
.shop-mod-hd li{float:left}
.shop-mod-hd .w1{width:285px;padding-left:45px}
.shop-mod-hd .w2{width:120px;padding-left:120px;text-align:center}
.shop-mod-hd .w3{width:120px;padding-left:120px}
.shop-mod-hd .w4{width:70px;text-align:center}

.tab-shop .spic{width:80px;padding:10px 0 10px 20px}
.tab-shop .spic .geo-pic{width:78px;height:78px;border:1px solid #eaeaea}
.tab-shop .spic .geo-pic span{width:78px}
.tab-shop .spic .geo-pic img{max-width:78px;max-height:78px;*width:expression(this.width>78 ? '78px':true);*height:expression(this.height>78 ? '78px':true);*margin-top:expression(39-this.height/2)}

.ad-banner{width:980px;margin:20px auto 0}

.details-parameters{border:1px solid #ddd;margin:20px 0 0}
.details-parameters th,.details-parameters td{height:32px;line-height:32px;padding:0 20px;border:1px solid #ddd}
.details-parameters thead td{background:#f1f1f1;font-size:14px;font-weight:700;text-align: center;}
.details-parameters tbody th{text-align:left;width:130px;}

.user-comment{border-bottom:1px solid #ddd;padding-bottom:20px}
.user-comment-hd{height:50px;line-height:50px}
.user-comment-hd h4{font-size:13px;font-family:microsoft yahei;color:#666}
.user-comment-hd em{font-weight:400;color:#999}
.user-comment-bd{height:118px;overflow:hidden}
.user-comment .comment-num{float:left;background:url(../../images/search/bg_256_118.png) no-repeat;width:256px;height:118px;margin-left:40px;text-align:center}
.user-comment .comment-num .all,.user-comment .comment-num .num{line-height:38px}
.user-comment .comment-num .cur strong{color:#ff9e2d;font:400 48px/42px \5fae\8f6f\96c5\9ed1}
.user-comment .comment-star{float:left;margin-left:80px;width:180px}
.user-comment .comment-star label,.user-comment .comment-star img{float:left}
.user-comment .comment-star img{margin-top:3px}
.user-comment .comment-result li,.user-comment .comment-star li{height:24px}

.ajax_loading{background:url(../../images/search/ajax-loader.gif) no-repeat 50% 15px transparent;height: 24px;text-align: center;padding-top: 60px;}
.hide{display:none}
.relative_shop .shop-list li{border:none;}

.overflow_text{height:36px;line-height:36px;text-align:center;color:#666;font-size:12px;}
.shang{width:13px;height:13px;overflow:hidden;padding-right:14px;background:url(../../images/search/shang.png) right center no-repeat;}
.xia{width:13px;height:13px;overflow:hidden;padding-right:14px;background:url(../../images/search/xia.png) right center no-repeat;}
.hideNode{display:none;}
#photo_price{width:426px;height:210px;background:#fff;position:absolute;z-index:100;border:2px solid #e5e5e7;}
#photo_price p{line-height:20px;height:20px;text-align:center;}

.shop-info .goods-pic{float:left;_display:inline;margin-right:12px;width:70px;height:70px;}
.shop-info .cell{display:table-cell;width:2000px;*display:inline-block;*width:auto;}
.tab-shop-item .opt a{padding-left:12px;color:#999;background:url(../../images/search/detail.png) no-repeat scroll 0 -196px;text-decoration: none;noline:expression(this.onFocus=this.blur());}
.tab-shop-item .close a{padding-left:12px;color:#999;background:url(../../images/search/detail.png) no-repeat scroll 0 -246px;text-decoration: none;}
.btn,
.btn span{display: inline-block;*display: inline;*zoom: 1;background-image:url(../../images/search/btn8.png);background-repeat:no-repeat;color:#fff;}
.btn span{background-position:right 0;background-color: #fff;}
.shop-show .btn-1,
.shop-show .btn-1 span{height:32px;line-height:32px;}
.shop-show .btn-1{padding-left:34px;font-size:0;}
.shop-show .btn-1 span{padding-right:34px;font-size:16px;font-family:\5FAE\8F6F\96C5\9ED1;
	text-shadow:-1px -1px #999;
}
/*----@mall-compare s----*/
.mall-compare{margin-right:200px;margin-top: 8px;float:right;}
.mall-compare span{cursor: pointer;margin-left:46px;}
.checkbox-icon{display: inline-block;*display: inline;*zoom: 1;width:14px;height:14px;vertical-align:middle;margin-right:8px;background: url(../../images/search/s_icon.png) no-repeat scroll 0 -850px;}
.checkbox--checked{background-position: -50px -850px;}
/*----@mall-compare e----*/
.recommend-title{color:#333;font-size: 16px;border-bottom: 1px solid #eee;font-family: \5FAE\8F6F\96C5\9ED1}
.share-opt{margin-top: 10px;}
.share-opt .like-btn{display: inline-block;*display: inline;*zoom: 1;height:24px;line-height:24px;background: url(../../images/search/btn.png) no-repeat scroll;}
.share-opt .heart-btn{background-position: 0 -112px;width:66px;padding-left:25px;color:#fff;}
.share-opt .liked-btn{background-position: -112px -112px;width:91px;text-align:center;color:#ff667c;}

.start .start-warp,
.start .start-in{width:59px;height:11px;background-image:url(../../images/search/s_icon.png);background-repeat: no-repeat;font-size:0;line-height:0;}
.start .start-warp{float:left;margin:3px 5px 0 0;background-position: 0 -500px;}
.start .start-in{background-position: 0 -550px;}


/*----@recommend e----*/
.grid-view .grid-mod{width:240px;float:left;margin:25px 20px 0 0;}
.grid-view .pic-wrap{width:238px;border:1px solid #E6E6E6;zoom:1;position:relative;height:238px;overflow: hidden;}
.grid-view .pic-wrap .pic{height:238px;width:238px;display:table-cell;*display:block;*font-size:208px;vertical-align:middle;text-align: center;background:url(../../images/search/loading.gif) no-repeat 50% 50%;}
.grid-view .pic-wrap:hover{margin:-1px;border:2px solid #FF9C0F;
	-webkit-box-shadow: 0 0 5px rgba(164,164,164,.34);
	-moz-box-shadow: 0 0 5px rgba(164,164,164,.34);
	box-shadow: 0 0 5px rgba(164,164,164,.34);
}
.grid-view .shops-ls{position:relative;height:95px;overflow:hidden;padding:10px 12px 0 15px;background: rgba(0, 0, 0, .4);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66000000', endColorstr='#66000000');
	-moz-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-khtml-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.grid-view .pic-wrap:hover .shops-ls{margin-top:-105px;}
.grid-view .price .price-trend{margin-left:5px;vertical-align:middle;}
.grid-view .start{margin:0 0 8px;}
.grid-view .price{margin-top:4px;}
.recommend-view{margin:0 -6px 20px 0;height:385px;overflow:hidden;padding-left:1px;}
.recommend-view .grid-mod{margin-right:6px;}
.pic img{max-width:100%;max-height:100%;*vertical-align:middle;}
/**html .list-view .pic img{height:expression(this.scrollHeight > 98 ? "98px":"auto");width:expression(this.scrollWidth > 98 ? "98px":"auto";}*/

.des{display:block;height:34px;overflow:hidden;color:#666;line-height:18px;}
.des:hover{color:#e97d01;}
.price strong{font-family:\5fae\8f6f\96c5\9ed1;color:#f4772c;font-size: 16px;vertical-align:middle;}
.price .price-trend{display: inline-block;*display: inline;*zoom: 1;width:18px;height: 16px;border-left: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;background: url(../../images/search/s_icon.png) no-repeat 0 0 scroll;cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.price .price-up{background-position:0 -350px;}
.price .price-down{background-position:0 -400px;}
.price .price-fair{background-position:0 -450px;}
.nums-goods{float:right;width:140px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:right;}
.nums-goods{color:#999;}
.nums-goods em{color:#FF201D;}

.btn-wrap a{
	display: inline-block;*display: inline;*zoom: 1;
	font-weight:400;
	width:106px;
	text-align: center;
	height:28px;
	line-height:28px;
	background-image:url(../../images/search/btn.png);
	background-repeat:no-repeat;
}
.go-buy{color:#fff;background-position: 0 -40px;}
.go-buy:hover{background-position:-150px -40px;color:#fff;}

@media screen and (max-width:1660px){
	.flex{width:980px;}
	.grid-view .grid-mod:nth-of-type(3n){margin-right:0;}
	.recommend-view .grid-mod:nth-of-type(3n){margin-right:6px;}
}
@media screen and (min-width:1660px) {
	.flex{width:1500px;}
	.tao-mod{margin-left:26px;}
	.grid-view .grid-mod:nth-of-type(5n){margin-right:0;}
	.recommend-view .grid-mod:nth-of-type(5n){margin-right:6px;}
}

.cproIframe{ padding: 10px 0;}
.left-toolbar{display:none!important;}

/*zibu 20140211 s*/
/*intelligent-recommend s*/
.intelligent-recommend{height:20px;margin-bottom: 20px;overflow: hidden;}
.intelligent-recommend dt{float:left;}
.intelligent-recommend dd{margin-left:90px;}
.intelligent-recommend dd a{margin-right:20px;color:#4385E0;}
.intelligent-recommend dd a:hover{color:#eb7e00;}
/*intelligent-recommend e*/
/*zibu 20140211 e*/

/*favorites Start Lvzhuweng 20140110*/
.dialog-mask{position:absolute;display:block;top:0;left:0;width:100%;opacity:.5;filter:alpha(opacity=0);background:#000;z-index:1000;}
.dialog{position:absolute;display:block;z-index: 1001;background:#FBFBFB;border-top:1px solid #9F9F9F;border-bottom:1px solid #EB7E00;zoom:1;}
.dialog-close{position:absolute;top:8px;right:8px;color:#999;font-size:14px;line-height:1;font-family: \5FAE\8F6F\96C5\9ED1;}
.dialog-close:hover{color:#333;}
.dialog-body{padding:20px 30px;}
.fav-recommend{width:500px;overflow:hidden;padding-top:15px;border-top:1px solid #fff;}
.fav-recommend h6{margin-bottom:5px;color:#656565;}
.fav-recommend h6 a{float:right;color:#3379B5;}
.fav-recommend ul{width:520px;}
.fav-recommend li{float:left;width:110px;margin-right:20px;}
.fav-recommend li p{word-wrap: break-word;word-break: break-all;color:#999;margin-top:3px;}
.fav-recommend li p a{color:#656565}
.fav-recommend li p span{color:#EC1B23;font-weight:bold;}
.fav-handle{text-align: center;line-height: 37px;padding-bottom: 20px;border-bottom:1px solid #d8d8d8;}
.fav-handle i, .fav-handle span,.fav-handle em, .fav-handle strong, .fav-handle b{display: inline-block;}
.fav-handle a{color:#3379B5;}
.dialog-fav-sel{position: relative;width:91px;padding:0 8px;height:21px;line-height:21px;zoom:1;border:1px solid #bbb;background: #fff;vertical-align: middle;}
.fav-default{width:91px;cursor: pointer;text-align: left;}
.fav-arr{position: absolute;top:0;left:86px;width:20px;height:21px;background:#f7f7f7;border-left:1px solid #e5e5e5;cursor: pointer;}
.dialog-fav-sel .fav-arr i{position: absolute;left:5px;top:9px;width:0;height:0;font-size: 0;line-height: 0;overflow: hidden;border: 5px dashed transparent;border-top-style: solid;border-top-color: #a6a6a6;}
.dialog-fav-sel-on  .fav-arr i{left:5px;top:8px;border-top:none;border-bottom-style: solid;border-bottom-color: #a6a6a6;}
.dialog-fav-sel b{position: absolute;display:none;background: #fff;border:1px solid #bbb;top:21px;left:-1px;width:107px;font-weight:normal;padding:3px 0;}
.dialog-fav-sel b span{width:107px;text-indent: 9px;color:#999;cursor: pointer;text-align: left;}
.dialog-fav-sel b span.on{color:#ff7800;}
.fav-suc, .fav-fail{width:31px;height:37px;background:url(../../images/search/icon_fav.png) no-repeat;vertical-align: middle;}
.fav-suc{background-position: 0 0}
.fav-fail{background-position: -33px 0}
.fav-status{margin:0 20px 0 10px;vertical-align: middle;}
/*favorites End Lvzhuweng 20140110*/

/*----@login tips s----*/
.dialog-login{position:absolute;left:50%;top:360px;margin-left:-275px;z-index:999;padding:3px;background-color:rgba(0,0,0,.5);}
.dialog-login .dialog-login-close{position:absolute;right:3px;top:3px;width: 40px;height: 40px;line-height:28px;color:#999;font-weight:400;text-align:center;background-color: #F7F7F7;font-size:20px;}
.dialog-login-in{padding:0 20px 0;font-size:16px;font-family:\5fae\8f6f\96c5\9ed1;background-color: #fff;}
.dialog-login-in h3{height: 56px;line-height:56px;text-align: center;font-size:18px;color:#666;border-bottom:1px solid #F0F0F0;}
.dialog-login-in p{color:#999;margin-bottom: 20px;}
.dialog-login-in .login-register-mod{padding:20px 0;width: 508px;height: 220px;font-size: 0;}
.dialog-login-in .login-mod,
.dialog-login-in .register-mod{display: inline-block;*display: inline;*zoom: 1;font-size:16px;vertical-align: middle;height: 175px;padding-top: 45px;width: 50%;text-align: center;}
.dialog-login-in .login-mod{border-right:1px dashed #D9D9D9;margin-left:-1px;}
.dialog-login-in .dialog-btn{display: inline-block;*display: inline;*zoom: 1;width: 128px;text-align:center;height: 34px;line-height:34px;border-width:1px;border-style:solid;color:#fff; }
.dialog-login-in .btn-login{border-color:#F2990E;background-color: #FEB114;
	-webkit-box-shadow: inset 0 1px 0 #FFCD60;
	-moz-box-shadow: inset 0 1px 0 #FFCD60;
	box-shadow: inset 0 1px 0 #FFCD60;
}
.dialog-login-in .btn-register{border-color:#EF7000;background-color: #FC8C28;
	-webkit-box-shadow: inset 0 1px 0 #FEB06C;
	-moz-box-shadow: inset 0 1px 0 #FEB06C;
	box-shadow: inset 0 1px 0 #FEB06C;
}
/*----@login tips e----*/