/*www base s*/
.list-h li{float:left;}
.mr20{margin-right:20px;}
.vh{font-size:0;line-height: 0;overflow: hidden;}
.flex{margin:0 auto;}
.flex a:hover { text-decoration: none;}
/*www base e*/

/*all cate s*/
.all-cate {position: relative; z-index: 100;float:none;height: 37px; line-height: 37px;margin-bottom:10px;background-color: transparent;}
.all-cate h2{position:relative;height:37px;line-height:37px;color:#fff;font-weight:700;font-size:16px;font-family:"\5FAE\8F6F\96C5\9ED1";cursor:pointer;}
.all-cate h2 i{position: absolute;top:20px;right:16px;width:13px;height:8px;background: url(../../images/haiwai/search/s_icon.png) no-repeat scroll right -600px;
    _background-image: url(../../images/haiwai/search/s_icon8.png);
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.all-cate .up i{background-position:right -700px;}
.all-cate .main-item{display: none;}

/*search result s*/
.breadcrumbs{margin:20px 0 16px;font-family:\5b8b\4f53;}
.breadcrumbs h2 em,
.breadcrumbs .product-nums{padding:0 5px;color:#EB7E00;}
.breadcrumbs .a_crumbs{color:#000;}
.breadcrumbs .a_crumbs:hover{text-decoration: underline;color:#eb7e00;}
.side{width:200px;}
.cell{display: table-cell;width:2000px;*display:inline-block;*width:auto;}
.breadcrumbs .search-feedback{margin-left:8px;}
.feedback-box{position:relative;display: inline-block;*display: inline;*zoom: 1;*z-index:100;}
.search-feedback{display: inline-block;*display: inline;*zoom: 1;height:24px;line-height:24px;padding:0 14px;border:1px solid #dbdbdb;color:#666;zoom:1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background:#fafafa;
    background-image: linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
    background-image: -o-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
    background-image: -moz-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
    background-image: -webkit-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
    background-image: -ms-linear-gradient(bottom, rgb(243,243,243) 38%, rgb(250,250,250) 85%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.38, rgb(243,243,243)),
        color-stop(0.85, rgb(250,250,250))
    );
}
.search-feedback:hover{
    background-image: linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
    background-image: -o-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
    background-image: -moz-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
    background-image: -webkit-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
    background-image: -ms-linear-gradient(bottom, rgb(250,250,250) 38%, rgb(243,243,243) 85%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.38, rgb(250,250,250)),
        color-stop(0.85, rgb(243,243,243))
    );
    text-decoration: none;
    color:#333;
}
.popup{display:none;background:url(../../images/search/s_feed_back.jpg) no-repeat scroll 37px 100px #fff;z-index:800;
    -moz-box-shadow: 0 0 25px rgba(68,68,68,0.6);
    -webkit-box-shadow: 0 0 25px rgba(68,68,68,0.6);
    box-shadow: 0 0 25px rgba(68,68,68,0.6);
    zoom: 1;
    color:#fff;
    border:1px solid #f98f48;
}
.popup .close{position:absolute;top:14px;right:14px;font-weight:700;color:#999;font-size:12px;font-family: Verdana, Geneva, sans-serif;cursor: pointer;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.popup .close:hover{top:10px;right:11px;font-size:18px;font-family: Verdana, Geneva, sans-serif;
    -webkit-transform:rotate(180deg);
}
.popup .arrow{
    position:absolute;
    top:-17px;
    right:39px;
    width:0;
    height:0;
    font-size:0;
    border-width:8px;
    border-style:solid solid solid;
    border-color:transparent transparent #f98f48;
    *width:14px;
    *height:7px;
    *border-width:0;
    *top:-7px;
    *background:url(../../images/haiwai/search/s_icon.png) no-repeat 0 -700px scroll;  _background-image: url(../../images/haiwai/search/s_icon8.png);
}
.popup .arrow:before{
    content: "";
    width:0;
    height:0;
    border-width:7px;
    border-style:none solid solid;
    border-color:transparent transparent #fff;
    position:absolute;
    top:2px;
    left:-7px;
}
.form-horizontal .control-group{margin-bottom:16px;*zoom:1;}
.form-horizontal .control-group:before,.form-horizontal .control-group:after{display:table;content:"";line-height:0;}
.form-horizontal .control-group:after{clear:both;}
.form-horizontal .control-label{float:left;width:120px; text-align:right; font-size:12px;}
.form-horizontal .control-label em{color:#ff0000;margin-right: 4px;}
.form-horizontal .controls{margin-left:120px;}
.form-horizontal .help-block{margin-bottom:0;}
.form-horizontal .form-actions{padding-left:180px;}
.form-horizontal textarea,.form-horizontal input{
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
.feed-popup{position:absolute;right:0;top:35px;}
.popup-in{width:520px;margin:43px 60px 36px 40px;}
.feed-form input,
.feed-form textarea{width:386px;padding:5px;line-height:20px;border:1px solid #CDCDCD;
    -webkit-box-shadow: inset 0 2px 5px -2px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 2px 5px -2px rgba(0,0,0,.3);
    box-shadow: inset 0 2px 5px -2px rgba(0,0,0,.3);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.feed-form input:focus,
.feed-form textarea:focus{
    border:1px solid #f98f48;
    -webkit-box-shadow: 0 0 3px #f98f48;
    -moz-box-shadow: 0 0 3px #f98f48;
    box-shadow: 0 0 3px #f98f48;
}
.feed-form textarea{overflow-y:auto;resize:none;height:233px;}
.feed-form input{height:20px;}
.feed-form label{color:#666;}

.feed-form .btn-submit{display: inline-block;*display: inline;*zoom: 1;width:110px;height:40px;text-align:center;font:700 12px/40px \5FAE\8F6F\96C5\9ED1;color:#fff;}
.feed-form .btn-submit:hover { text-decoration: none;}
.feed-form .btn-enable{background-color:#EB7E00}
.feed-form .btn-disable{background-color:#B3B3B3}
.feed-form .btn-box{text-align: right;margin-top: 15px;}
.feed-form .error-tips{border-color:#F82244;}
.feedback-box .tips{padding-left:56px;font-size:18px;background: url(../../images/haiwai/search/s_icon.png) no-repeat scroll 0 -750px;  _background-image: url(../../images/haiwai/search/s_icon8.png);}
.feedback-box .tips h5{padding-top:5px;color:#eb7e00;font-weight:700;font-family:\5FAE\8F6F\96C5\9ED1;}
.feedback-box .tips p{color:#696969;font-size:12px;}
.mod-list{border:1px solid #ddd;}
.mod-list .mod-hd{height:40px;padding-left:16px;border-bottom:1px solid #ddd;color:#000;font:700 16px/40px "\5FAE\8F6F\96C5\9ED1";}
.mod-list .mod-hd a{color:#000;}
.mod-list .mod-hd a:hover{text-decoration:underline;}
.mod-list .mod-bd .category-list,
.mod-list .more-category{padding:0 16px;}
.category-list{padding:4px 0 7px;line-height:22px;}
.category-list dt a{color:#333;}
.category-list dd a{padding-left:15px;color:#666;background:url(../../images/haiwai/search/s_icon.png) no-repeat 3px -47px scroll;  _background-image: url(../../images/haiwai/search/s_icon8.png);}
.category-list dd a:hover,.category-list dd a.hover{color:#eb7e00}
.category-list dd span { padding-left: 20px; display: block;}
.category-list dd span a { background: none; padding-left: 0;}
.category-list dd.cur a{background-position:-91px -18px;}
.category-list .sub-nav{display:none;}
.category-list .sub-nav a{background:none;color:#999;}
.mod-list .more-category{position:relative;height:36px;z-index:10;border:1px solid transparent;margin:-1px;}
.more-category .more-trigger{height:35px;line-height:35px;position:relative;z-index:20;display:block;border-top:1px solid #ddd;color:#333;background:url(../../images/haiwai/search/s_icon.png) no-repeat -39px 14px scroll #fff;zoom:1;  _background-image: url(../../images/haiwai/search/s_icon8.png);}
.mall-list dt{font-size:0;line-height: 0;overflow: hidden;zoom:1;}
.mall-list dd a,
.merchant_ls li a{padding-left:24px;background:url(../../images/haiwai/search/s_icon.png) no-repeat 0 -150px scroll ;  _background-image: url(../../images/haiwai/search/s_icon8.png);}
.mall-list .cur{padding-left:24px;background:url(../../images/haiwai/search/s_icon.png) no-repeat 0 -200px scroll;  _background-image: url(../../images/haiwai/search/s_icon8.png);}
.more-item{display:none;position:absolute;left:180px;top:-1px;width:485px;border:1px solid #f5772b;padding:10px 20px 10px 30px;background:#fff;box-shadow:3px 3px 0 rgba(0,0,0,0.1);z-index:10;}
.more-item li{float:left;width:120px;padding-bottom: 10px;line-height:normal;}
.more-item li a{color:#666;display:block;width:90px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.more-item li a:hover{color:#f88f3a}
.mod-bd .open{border-color:#f5772b;}
.mod-bd .open .more-trigger{border-top-color:#fff;height:35px;}
.mod-bd .open .more-item{display: block;}

.sort-bar{margin-top:30px;background-color: #fff;position: relative; margin-bottom: 20px;}
.sort-bar .sort-item li,
.sort-bar .sort-conditions li,
.sort-bar .sort-view li{float:left;}
.sort-bar .sort-item li a,
.sort-bar .sort-conditions li a,
.sort-bar .sort-view li a{display:block;color:#666;}
.sort-bar .sort-item{border:1px solid #ddd;}
.sort-bar .sort-item li{height:24px;padding:0 10px;margin-left:-1px;text-align:center;line-height: 24px;border-left:1px solid #ddd;}
.sort-bar .sort-item a:hover{color:#f47920;}
.sort-bar .sort-item .price{padding-right:12px;background:url(../../images/haiwai/search/s_icon.png) no-repeat 29px -92px scroll; _background-image:url(../../images/haiwai/search/s_icon8.png);}
.sort-bar .sort-item .down,
.sort-bar .sort-item .up{background-color:#666;}
.sort-bar .sort-item .down a,
.sort-bar .sort-item .up a{color:#fff;}
.sort-bar .sort-item .down .price{background-position:-64px -92px;}
.sort-bar .sort-item .up .price{background-position:-64px -64px;}

.sort-bar .sort-conditions{margin-left:20px;padding-right:10px;border:1px solid #ddd;}
.sort-bar .sort-conditions li{height:24px;line-height: 24px;margin-left: 10px;}
.sort-bar .sort-conditions li a{padding-left:18px;background:url(../../images/haiwai/search/s_icon.png) no-repeat 0 -144px scroll;cursor: pointer;  _background-image: url(../../images/haiwai/search/s_icon8.png);}
.sort-bar .sort-conditions .cur a{background-position: 0 -194px;}
.sort-bar .sort-view a{width:27px;height:26px;background:url(../../images/haiwai/search/s_icon.png) no-repeat 0 -276px;  _background-image: url(../../images/haiwai/search/s_icon8.png);}
.sort-bar .sort-view .m-grid a{background-position:0 -276px;}
.sort-bar .sort-view .m-list a{background-position:-27px -276px;}
.sort-bar .sort-view .m-grid a:hover{background-position:0 -250px;}
.sort-bar .sort-view .m-list a:hover{background-position:-27px -250px;}
.sort-bar .sort-view .m-grid a.cur{background-position:0 -302px;}
.sort-bar .sort-view .m-list a.cur{background-position:-27px -302px;}

/*bran panel s*/
.brand-panel{padding:15px;margin-bottom:20px;border:1px solid #ddd;}
.brand-panel .brand-logo{margin-right:14px;}
.brand-panel .brand-des a{color:#666;}
.brand-panel .brand-des a:hover{color:#eb7e00;}
.brand-panel .brand-des strong{font-weight:700;}
/*bran panel e*/
/*filter s*/
.filter-on{padding-top:2px;background-color:#e86e00;}
.filter-on .cancel-all{height:20px;line-height:18px;line-height:20px\0;*line-height:22px;position:absolute;right:10px;top:6px;padding:0 8px;background-color:#999;color:#fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.filter-on .cancel-all:hover{background-color:#eb7e00;}
.filter-on dl{position:relative;padding:0 80px 4px 80px;background-color: #f2f2f2;}
.filter-on .filter-on-tit{position:absolute;top:6px;margin-left:-72px;color:#333;font-size:12px;}
.filter-on .filter-on-mod{display:inline-block;position:relative;white-space:nowrap;border:1px solid #e86e00;height:22px;line-height:20px;line-height:23px\0;padding-right:20px;padding-left:4px;margin:4px 0 0 6px;color:#999;background-color:#fff;}
.filter-on .filter-on-mod em{color:#e86e00;}
.filter-on .filter-on-mod b{position:absolute;top:5px;margin-left:4px;height:12px;width:12px;line-height:8px;*top:3px;*height:auto;*line-height:12px;*padding-bottom:4px;text-align:center;font-size:12px;font-weight:400;color:#fff;background-color:#e86e00;vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.filter-panel{overflow:hidden;zoom:1;padding:0 20px;border:1px solid #ddd;color:#666;}
.filter-item{position: relative;height:36px;padding-left:60px;border-top: 1px solid #ddd;margin-top:-1px;overflow: hidden;}
.filter-item a{float:left;width: 120px;margin-right:8px;line-height: 24px;color:#666;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.filter-item a:hover{color:#eb7e00;}
.filter-item .show-more{display:none;position: absolute;right:0;top:6px;width:40px;cursor: pointer;background:url(../../images/haiwai/search/s_icon.png) no-repeat right -13px;  _background-image: url(../../images/haiwai/search/s_icon8.png);}
.filter-item .show-more:hover{color:#EB7E00;}
.filter-item .open{background-position:right -117px;}
.filter-item dt{position: absolute;top:9px;left:0;}
.filter-item dd{padding:6px 0;margin-right:50px;}
.filter-item .price-range{margin-right:250px;}
.filter-item .price-input{position:absolute;right:60px;top:7px;}
.filter-item .price-input .txt{height:18px;line-height:18px;width:38px;border:1px solid #ddd;}
.filter-item .price-input .btn{height:20px;width:45px;border:1px solid #ddd;background-color: #fff;margin-left:8px;cursor:pointer;}
.filter-more{text-align: center;margin-top:-1px;}
.filter-more a{noFocus:expression(this.onFocus=this.blur());display: inline-block;*display: inline;*zoom: 1;outline:none;padding:0 18px;height:30px;line-height:30px;color:#666;border:1px solid #ddd;border-top:none;background-color: #fff;}
.filter-more span{padding-right:17px;background: url(../../images/haiwai/search/s_icon.png) no-repeat right -121px; _background-image: url(../../images/haiwai/search/s_icon8.png);}
.filter-more .open span{background-position: right -18px}
.filter-more .open em{color:#999;}
/*filter e*/
/*grid view and list view s*/
/*.goods-list{overflow:hidden;}*/
.des{display:block;height:34px;overflow:hidden;color:#666;line-height:18px;}
.des:hover{color:#e97d01;}
.price strong{font-family:\5fae\8f6f\96c5\9ed1;color:#db000f;font-size: 16px;vertical-align:middle;}
.price .price-trend{display: inline-block;*display: inline;*zoom: 1;width:18px;height: 16px;border-left: 1px solid #D9D9D9;border-bottom: 1px solid #D9D9D9;background: url(../../images/haiwai/search/s_icon.png) no-repeat 0 0 scroll;  _background-image: url(../../images/haiwai/search/s_icon8.png);cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.price .price-up{background-position:0 -350px;}
.price .price-down{background-position:0 -400px;}
.price .price-fair{background-position:0 -450px;}
.btn-wrap a{
    display: inline-block;*display: inline;*zoom: 1;
    font-weight:400;
    width:106px;
    text-align: center;
    height:28px;
    line-height:28px;
   background: #db000f;
}
.btn-wrap a:hover { background: #c4000d; text-decoration: none;}
.start .start-warp,
.start .start-in{width:59px;height:11px;background-image:url(../../images/haiwai/search/s_icon.png);  _background-image: url(../../images/haiwai/search/s_icon8.png); background-repeat: no-repeat;font-size:0;line-height:0;}
.start .start-warp{float:left;margin:3px 5px 0 0;background-position: 0 -500px;}
.start .start-in{background-position: 0 -550px;}
.nums-goods{float:right;width:140px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-align:right;}
.nums-goods{color:#999;}
.nums-goods em{color:#FF201D;}
.old-price{color:#A8A8A8;font-family:\5fae\8f6f\96c5\9ed1 }
.pic img{max-width:238px;max-height:238px;*vertical-align:middle;}
/**html .list-view .pic img{height:expression(this.scrollHeight > 98 ? "98px":"auto");width:expression(this.scrollWidth > 98 ? "98px":"auto";}*/
.shops-ls .more-shop{padding:5px 0 15px 0;margin-top:10px;border-top:1px dashed #fff;}
.shops-ls  li{overflow: hidden;margin:0;}
.shops-ls  li a{color:#fff;}
.shops-ls  li a:hover{text-decoration: underline;}
.go-buy{color:#fff;background-position: 0 -40px;}
.go-buy:hover{background-position:-150px -40px;color:#fff;}
.go-compare{color:#fff; background-position: 0 -72px; }
.go-compare:hover{background-position:-150px -72px;color:#fff;}
.grid-view .grid-mod{width:240px;  float:left;margin:0 20px 20px 0; _margin-right:18px;}
.grid-view .pic-wrap{width:238px;border:1px solid #E6E6E6;zoom:1;position:relative;height:238px;overflow: hidden; margin-bottom:8px;}
.grid-view .pic-wrap:hover { border-color:#DB000F; }
.grid-view .pic-wrap .pic{height:238px;width:238px; display: table-cell; vertical-align:middle;  *display: block;*font-size: 195px; *font-family:Arial; overflow: hidden; *line-height: 238px; background:url(../../images/search/loading.gif) no-repeat 50% 50%; text-align: center;}

.grid-view .price .price-trend{margin-left:5px;vertical-align:middle;}
.grid-view .start{margin:0 0 8px;}
.grid-view .price{ margin: 8px 0;}
.list-view .list-mod{height:100px;margin-top:-1px;padding:20px 0 20px 0;border-top:1px dashed #ddd;}
.list-view .col-left,
.list-view .col-middle{float:left;}
.list-view .col-right{float:right;width:110px;text-align: right;}
.list-view .col-middle .middle-in{width:180px;}
.list-view .col-right .go-compare{margin-top: 10px;}
.list-view .col-left{width:55%;}
.list-view .col-middle{width:30%;}
.list-view .pic-wrap{display:table;table-layout:fixed;*display:block;width:98px;height:98px;border:1px solid #E6E6E6;margin-right:10px;}
.list-view .pic{width:98px;height:98px;display:table-cell;*display:block;vertical-align:middle;text-align: center;background:url(../../images/search/loading.gif) no-repeat 50% 50%;*font-size:86px;}
.list-view .cell p,
.list-view .shops-ls li a{color:#999;}
.list-view .des{margin-bottom:8px;padding-right:20px;}
.list-view .price .price-trend{float:right;}
/*grid view and list view e*/

.mod-buy-list .tit{position:relative;padding:10px 0 0 15px;font-weight:700;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;}
.mod-buy-list ul{padding:0 16px;}
.mod-buy-list li{padding:15px 0;border-bottom:1px dashed #ECECEC;overflow:hidden;zoom:1;}
.mod-buy-list .pic{float:left;width:50px;margin-right:10px;_display:inline;}
.mod-buy-list .txt{display: table-cell;width:2000px;*width:auto;*display: inline;}
.mod-buy-list .txt a{color:#333;}
.mod-buy-list .txt a:hover{color:#eb7e00;}
.mod-buy-list .txt p{color:#999;line-height:16px;}
.hot-news{padding:3px 16px 14px;}
.hot-news a{display:block;padding-left:10px;line-height:24px;color:#808080;background:url(../../images/haiwai/search/s_icon.png) no-repeat scroll 0 -638px;  _background-image: url(../../images/haiwai/search/s_icon8.png);}

.goods-hd .more{float:right;color:#333;}
.goods-hd .keys-word{font-size:14px;color:#333;font-weight:700;}
.goods-hd .keys-word del{padding:0 6px;color:#999;font-weight:400;}

/*search result e*/

/*search no result e*/
.search-tips{position:relative;left:50%;float:left;margin-top:75px;}
.search-tips-in{position:relative;left:-50%;float:left;height:220px;padding-left:330px;background:url(../../images/search/err.jpg) no-repeat scroll 0 0 transparent;}
.search-tips-in h4{color: #666; font: 700 14px \5fae\8f6f\96c5\9ed1;}
.search-tips-in h4 em{color: #e97d01; display: inline-block; max-width: 400px; white-space:nowrap; text-overflow: ellipsis; overflow: hidden; vertical-align: text-top;}
.search-tips-in p{color:#999;}
.page{margin:20px 0;}
/*search no result d*/

/*intelligent-recommend s*/
.intelligent-recommend{height:20px;margin-bottom: 20px;overflow: hidden;}
.intelligent-recommend dt{float:left;}
.intelligent-recommend dd{margin-left:90px;}
.intelligent-recommend dd a{margin-right:20px;color:#4385E0;}
.intelligent-recommend dd a:hover{color:#eb7e00;}
/*intelligent-recommend e*/

.grid-view .recommend-common{border:1px solid #E6E6E6;padding:20px 20px 10px;width:198px;}
.grid-view .recommend-common .pic-wrap{border:none;width:198px;height:198px;}
.grid-view .recommend-common .pic-wrap .pic{width:198px;height:198px;}
.grid-view .recommend-common .nums-goods{width: auto;}
.grid-view .recommend-common .go-buy{font-weight: 700;}
.grid-view .recommend-common .pic-wrap{margin:0;
    -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
    }

@media screen and (max-width:1660px){
    .flex{width:980px;}
    .grid-view .grid-mod:nth-of-type(3n){margin-right:0;}
}
@media screen and (min-width:1660px) {
    .grid-view .grid-mod:nth-of-type(5n){margin-right:0;}
    .flex{width:1500px;}
    .tao-mod{margin-left:26px;}
}