* html,* html body{background-image:url(about:blank);background-attachment:fixed; overflow-x:hidden; }
a{ color: #333;}
a:hover{color: #333;}
.ml10{ margin-left: 10px;}
/*2013-11-28*/
.topic-main{ width:100%;}
.header{ height: auto;}
/*alimama s*/
.bg1{ background: #d94c30;}
.almm-top{ width:100%; height: 394px; border-top: 2px #c8533c solid; position: relative; text-align:center;}
.almm-top p.bg{ width: 100%; height: 84px; background: #000; left: 0; bottom: 0; position: absolute; opacity: 0.5; filter:alpha(opacity=50); }
.almm-top p.text{ width:520px; position: absolute; left:50%; margin-left: -260px; bottom: 5px; line-height: 22px; color: #fff; }
.topic-pic{ width: 980px; margin: 0 auto;}
.topic-pic h2{ line-height: 50px; padding: 10px; color:#fff; font-size: 24px;font-family: "\5FAE\8F6F\96C5\9ED1";}
.topic-pic ul.items-list{ margin-right: -20px; *padding-bottom: 20px; _padding-bottom: 0px;}
.topic-pic ul.items-list li{ background: #fff; width: 230px; height: 322px; margin: 0 20px 20px 0; float: left; _display: inline;}
.topic-pic ul.items-list li p.pic img{ width: 230px; height: 220px;}
.topic-pic ul.items-list li h3{ text-align: center; line-height: 22px; padding-top: 5px; font-family: "\5FAE\8F6F\96C5\9ED1"; font-weight: bold;}
.topic-pic ul.items-list li p.text{ width: 130px; margin: 0 auto; text-align: center;}
.topic-pic ul.items-list li p.price{ text-align: center;}
.topic-pic ul.items-list li p.price b{font-family: "\5FAE\8F6F\96C5\9ED1"; }
.tj-topic-tit span{ float: right; margin-top: 15px; width: 90px; display: none;}
.tj-topic-tit span a{ padding-left: 30px; height: 26px; color:#fff; line-height: 26px; background: url(../../images/haiwai/topic/add-icon.gif) no-repeat 0 center; display: block;}
.tj-topic-tit span a:hover{ color: #fff;}
.tj-topic-tit h2{ float: left;} 
.al-pic-silde{ height: 203px; position:relative; background: #fff; border-top: 1px #c6c6c6 solid; border-bottom: 1px #c6c6c6 solid; margin-bottom: 20px;}
.al-pic-silde span{width: 30px; height: 203px;}
.al-pic-silde span a{display: none; float: left; width: 30px; height: 203px; background-image: url(../../images/haiwai/topic/arr-icon.gif) }
.al-pic-silde span.left-btn{ float:left; }
.al-pic-silde span.right-btn{ float:right; }
.al-pic-silde span.right-btn a{ background-position: 0 -203px;}
.al-pic-main{ width: 920px; position: relative; margin: 20px auto 0; float: left; height: 164px; overflow: hidden;}
.al-pic-main ul{ position: absolute; height: 164px;}
.al-pic-main ul li{ width: 210px; float:left; margin: 0 10px; _display:inline;}
.al-pic-main ul li img{ width: 210px; height: 164px;}
/*alimama e*/
/*3G s*/
.topic-w{ width: 980px; margin:0 auto; }
.topic-w3g{ width: 962px; padding: 0 19px;margin:0 auto 20px;}
.bg2{ background: #fff url(../../images/haiwai/topic/3g-bg1.gif) repeat-y center top; padding: 20px 0;}
.tp-g-header{ height: 390px; position: relative;}
.tp-g-header p.bg,.tp-g-header p.text{display:none;height: 50px; width: 100%;  left: 0; bottom: 18px; position: absolute;}
.tp-g-header p.bg{background: #000; opacity: 0.5; filter:alpha(opacity=50);}
.tp-g-header p.text{color: #fff; text-align: center; line-height: 25px; }
.tp-tit1{background:url(../../images/haiwai/topic/3g-bg2.gif) repeat-x left top; height: 34px; border:1px #ddd solid; border-bottom: 3px #eb7e00 solid; padding-left: 6px; margin-top: 6px;}
.tp-tit1 span{ color: #eb7e00; float: left; margin-top: 7px;}
.tp-tit1 h2{ float: left; line-height: 34px; font-size: 20px;font-family: "\5FAE\8F6F\96C5\9ED1";}
.tp-goods-b3g{ padding: 15px 10px 0;}
.tp-goods-b3g dt{ width: 465px; margin:0 10px; float: left; _display: inline;}
.tp-goods-b3g dd{width: 455px; height: 290px;float: left; _display: inline; position: relative;}
.tp-goods-b3g dd h3{ font-size: 18px; line-height: 28px; font-family: "\5FAE\8F6F\96C5\9ED1"; color: #333333;}
.tp-goods-b3g dd p.text{ line-height: 24px; font-size: 14px; color: #666666; margin-top: 10px;}
.tp-goods-b3g dd p.price{ height: 30px; bottom: 10px; text-align: right; position: absolute; width: 100%; color: #eb7e00;}
.tp-goods-b3g dd p.price b{font-family: "\5FAE\8F6F\96C5\9ED1"; font-size: 17px;}
.tp-goods-b3g dd p.price strong{ font-size: 24px;}
.tp-goods-l3g{ border:1px #c6c6c6 solid; overflow: hidden; width: 960px; margin-top: 20px; height: 325px;}
.tp-goods-l3g dt,.tp-goods-l3g dd{ width: 300px; height: 295px; margin-top: 5px; padding: 10px; float: left; _display: inline; margin-left: -1px; border-left: 1px #c6c6c6 dotted;}
.tp-goods-l3g dt{ line-height: 22px; font-size: 14px; color: #666;}
.tp-goods-l3g dd h3{font-family: "\5FAE\8F6F\96C5\9ED1"; text-align: center; font-size: 18px; line-height: 26px; margin-top: 10px;}
.tp-goods-l3g dd p.price{ text-align: right;color: #eb7e00;}
.tp-goods-l3g dd p.price b{font-family: "\5FAE\8F6F\96C5\9ED1"; font-size: 17px;}
.tp-goods-l3g dd p.price strong{font-size: 24px;}
.bg2 .tj-topic-tit span{ margin-top: 0px;}
.bg2 .tj-topic-tit span a{ color: #eb7e00;}
.bg2 .tj-topic-tit h2{ color: #333; font-size: 16px; line-height: 30px; padding:0 10px;}
#float-layer{ height: 230px; position: fixed; top: 260px; right: 0; width: 76px;_position:absolute;_right:expression(eval(document.documentElement.scrollLeft+0));_top:expression(eval(document.documentElement.scrollTop+240))}
#float-layer ul{height: 190px; position:relative; width: 76px;}
#float-layer ul li{ cursor: pointer; position: absolute; width: 190px;font-family: "\5FAE\8F6F\96C5\9ED1";opacity: 0.7; filter:alpha(opacity=70); line-height: 41px; color:#fff; background: url(../../images/zdm/20131128/3g-bg3.png) no-repeat; display: block; height: 41px; left: 0;}
#float-layer ul li em{ width: 62px; float: left; text-align: center; font-size: 24px; padding-left: 16px;}
#float-layer ul li span{ font-size: 18px; padding-left: 10px; width: 100px; float: left; overflow:hidden; height: 40px;}
#float-layer ul li.cur{ left: -114px; opacity: 1; filter:alpha(opacity=100);}
#float-layer ul li.ly2{ top: 60px;}
#float-layer ul li.ly3{ top: 120px;}
#float-layer ul li.ly4{ top: 180px;}
/*3G e*/
/*dy s*/
.topic-wdy{ width: 980px; margin: 0 auto;}
.tp-tit2{font-size: 24px;font-family: "\5FAE\8F6F\96C5\9ED1"; color:#333; text-align: center; padding: 15px 0;}
.tp-tit2 span{ color: #eb7e00;}
.tp-tit2 h2{ display: inline;}

.tpdy-cent li{border:1px #ddd solid; overflow: hidden;}
.tpdy-cent li.img{ position: relative;}
.tpdy-cent li.img p.pic{ position: absolute; z-index: 0;width: 100%; }
.tpdy-cent li.img p.pic a{ display: block; text-align: center;display: table-cell; vertical-align:middle;}
.tpdy-cent li.img p.pic a img{vertical-align:middle;}
.tpdy-cent li.img .price{ display: none; padding-top: 8px; width: 100%; height: 62px; background: #fff; position: absolute; z-index: 1; bottom:0; overflow: hidden;}
.tpdy-cent li.img .price span{ float: left; padding:0 4px; font-size: 40px;font-family: "\5FAE\8F6F\96C5\9ED1"; color: #eb7e00; letter-spacing: -4px;}
.tpdy-cent li.img .price span em{ font-size: 17px; float: left; }
.tpdy-cent li.img .price span strong{ font-weight: normal;  float: left; line-height: 50px;}
.tpdy-cent li.img .price p{ font-size: 14px; color: #b7b7b7;word-wrap:break-word; line-height: 24px; height: 48px; overflow: hidden; padding:0 4px;}
.tpdy-cent li.wz p.text{padding: 10px 12px; line-height: 22px; font-size: 14px;}

.tpdy-items1 .tpdy-ul1{ width: 378px; float: left;}
.tpdy-items1 .tpdy-ul1 li.img{ height: 498px;}
.tpdy-items1 .tpdy-ul1 li.img p.pic{ height: 498px;}
.tpdy-items1 .tpdy-ul1 li.img p.pic a{ height: 498px; width: 378px;}
.tpdy-items1 .tpdy-ul1 li.img p.pic a img{ max-width: 378px;  max-height: 498px;}
.tpdy-items1 .tpdy-ul1 li.wz{ margin-top: 10px; height: 268px;}
.tpdy-items1-r{ width: 600px; float: left;}
.tpdy-items1 .tpdy-ul2 li{ width: 188px; float: left; _display: inline; margin-left: 10px;}
.tpdy-items1 .tpdy-ul2 li.img{ height: 268px;}
.tpdy-items1 .tpdy-ul2 li.img p.pic{ height: 268px;}
.tpdy-items1 .tpdy-ul2 li.img p.pic a{ height: 268px; width: 188px;}
.tpdy-items1 .tpdy-ul2 li.img p.pic a img{ max-width: 188px;  max-height: 268px;}
.tpdy-items1 .tpdy-ul2 li.img .price{height: 35px; padding-top: 5px;}
.tpdy-items1 .tpdy-ul2 li.img .price span{ font-size: 32px; }
.tpdy-items1 .tpdy-ul2 li.img .price strong{line-height: 32px;}
.tpdy-items1 .tpdy-ul2 li.img .price p{ line-height: 16px; font-size: 12px; height: 32px;}
.tpdy-items1 .tpdy-ul2 li.wz{ height: 268px;}
.tpdy-items1 .tpdy-ul3{ margin-top: 10px; height: 500px;}
.tpdy-items1 .tpdy-ul3 li{ width: 288px; float: left; _display: inline; margin-left: 10px; height: 498px;}
.tpdy-items1 .tpdy-ul3 li.img p.pic{ height: 498px;}
.tpdy-items1 .tpdy-ul3 li.img p.pic a{ height: 498px; width: 288px;}
.tpdy-items1 .tpdy-ul3 li.img p.pic a img{ max-width: 288px;  max-height: 498px;}

.tpdy-items2 .tpdy-ul1{ width: 380px; float: left; _display: inline; }
.tpdy-items2 .tpdy-ul1 li{ width: 378px; _float: left;}
.tpdy-items2 .tpdy-ul1 li.img{ height: 516px; margin-top: 10px;}
.tpdy-items2 .tpdy-ul1 li.img p.pic{ height: 516px;}
.tpdy-items2 .tpdy-ul1 li.img p.pic a{ height: 516px; width: 378px;}
.tpdy-items2 .tpdy-ul1 li.img p.pic a img{ max-width: 378px;  max-height: 516px;}
.tpdy-items2 .tpdy-ul1 li.wz{ margin-top: 10px; height: 252px;}
.tpdy-items2 .tpdy-ul2{ margin-left: 10px;float: left; _display: inline; width: 200px;}
.tpdy-items2 .tpdy-ul2 li{ height: 252px; margin-top: 10px; width: 198px; _float: left;}
.tpdy-items2 .tpdy-ul2 li.img{ height: 252px;}
.tpdy-items2 .tpdy-ul2 li.img p.pic{ height: 252px;}
.tpdy-items2 .tpdy-ul2 li.img p.pic a{ height: 252px; width: 188px;}
.tpdy-items2 .tpdy-ul2 li.img p.pic a img{ max-width: 198px;  max-height: 252px;}
.tpdy-items2 .tpdy-ul2 li.img .price{height: 35px; padding-top: 5px;}
.tpdy-items2 .tpdy-ul2 li.img .price span{ font-size: 32px; }
.tpdy-items2 .tpdy-ul2 li.img .price strong{line-height: 32px;}
.tpdy-items2 .tpdy-ul2 li.img .price p{ line-height: 16px; font-size: 12px; height: 32px;}

.tpdy-items3 .tpdy-ul1{ width: 290px; float: left; _display: inline;}
.tpdy-items3 .tpdy-ul1 li{ width: 288px; _float: left;}
.tpdy-items3 .tpdy-ul1 li.img{ height: 498px; margin-top: 10px;}
.tpdy-items3 .tpdy-ul1 li.img p.pic{ height: 498px;}
.tpdy-items3 .tpdy-ul1 li.img p.pic a{ height: 498px; width: 288px;}
.tpdy-items3 .tpdy-ul1 li.img p.pic a img{ max-width: 288px;  max-height: 498px;}
.tpdy-items3 .tpdy-ul1 li.wz{ margin-top: 10px; height: 268px;}
.tpdy-items3-l{ width: 690px; float: left;}
.tpdy-items3 .tpdy-ul2{ width: 380px; float: left; _display: inline; margin-right: 10px;}
.tpdy-items3 .tpdy-ul2 li{width: 378px;_float: left; }
.tpdy-items3 .tpdy-ul2 li.img{ height: 498px; margin-top: 10px;}
.tpdy-items3 .tpdy-ul2 li.img p.pic{ height: 498px;}
.tpdy-items3 .tpdy-ul2 li.img p.pic a{ height: 498px; width: 378px;}
.tpdy-items3 .tpdy-ul2 li.img p.pic a img{ max-width: 378px;  max-height: 498px;}
.tpdy-items3 .tpdy-ul3{ width: 290px; float: left; _display: inline;}
.tpdy-items3 .tpdy-ul3 li{width: 288px; _float: left;}
.tpdy-items3 .tpdy-ul3 li.img{ height: 498px; margin-top: 10px;}
.tpdy-items3 .tpdy-ul3 li.img p.pic{ height: 498px;}
.tpdy-items3 .tpdy-ul3 li.img p.pic a{ height: 498px; width: 378px;}
.tpdy-items3 .tpdy-ul3 li.img p.pic a img{ max-width: 288px;  max-height: 498px;}
.tpdy-items3 .tpdy-ul4 li{ float: left;  _display: inline; margin-right: 10px; width: 188px; height: 268px;}
.tpdy-items3 .tpdy-ul4 li.img{ height: 268px; margin-top: 10px;}
.tpdy-items3 .tpdy-ul4 li.img p.pic{ height: 268px;}
.tpdy-items3 .tpdy-ul4 li.img p.pic a{ height: 268px; width: 378px;}
.tpdy-items3 .tpdy-ul4 li.img p.pic a img{ max-width: 188px;  max-height: 268px;}
.tpdy-items3 .tpdy-ul4 li.wz{ margin-top: 10px; width: 278px; height: 268px;}
.tpdy-items3 .tpdy-ul4 li.img .price{height: 35px; padding-top: 5px;}
.tpdy-items3 .tpdy-ul4 li.img .price span{ font-size: 32px; }
.tpdy-items3 .tpdy-ul4 li.img .price strong{line-height: 32px;}
.tpdy-items3 .tpdy-ul4 li.img .price p{ line-height: 16px; font-size: 12px; height: 32px;}
.tpdy-items3 .tpdy-ul4 li.wz{ height: 268px;}

.tpdy-items4 .tpdy-ul1{ width: 380px; float: left; _display: inline;}
.tpdy-items4 .tpdy-ul1 li{width: 378px; _float: left;}
.tpdy-items4 .tpdy-ul1 li.img{ height: 498px; margin-top: 10px;}
.tpdy-items4 .tpdy-ul1 li.img p.pic{ height: 498px;}
.tpdy-items4 .tpdy-ul1 li.img p.pic a{ height: 498px; width: 288px;}
.tpdy-items4 .tpdy-ul1 li.img p.pic a img{ max-width: 378px;  max-height: 498px;}
.tpdy-items4 .tpdy-ul1 li.wz{ margin-top: 10px; height: 268px;}
.tpdy-items4-r{ width: 600px; float: left; _display: inline;}
.tpdy-items4 .tpdy-ul2{ width: 380px; float: left; _display: inline; margin-left: 10px;}
.tpdy-items4 .tpdy-ul2 li{width: 378px; _float: left;}
.tpdy-items4 .tpdy-ul2 li.img{ height: 514px; margin-top: 10px;}
.tpdy-items4 .tpdy-ul2 li.img p.pic{ height: 514px;}
.tpdy-items4 .tpdy-ul2 li.img p.pic a{ height: 514px; width: 288px;}
.tpdy-items4 .tpdy-ul2 li.img p.pic a img{ max-width: 378px;  max-height: 514px;}
.tpdy-items4 .tpdy-ul3{ width: 200px; float: left; _display: inline; margin-left: 10px;}
.tpdy-items4 .tpdy-ul3 li{width: 198px; _float: left;}
.tpdy-items4 .tpdy-ul3 li.img{ height: 250px; margin-top: 10px;}
.tpdy-items4 .tpdy-ul3 li.img p.pic{ height: 250px;}
.tpdy-items4 .tpdy-ul3 li.img p.pic a{ height: 250px; width: 288px;}
.tpdy-items4 .tpdy-ul3 li.img p.pic a img{ max-width: 198px;  max-height: 250px;}
.tpdy-items4 .tpdy-ul3 li.img .price{height: 35px; padding-top: 5px;}
.tpdy-items4 .tpdy-ul3 li.img .price span{ font-size: 32px; }
.tpdy-items4 .tpdy-ul3 li.img .price strong{line-height: 32px;}
.tpdy-items4 .tpdy-ul3 li.img .price p{ line-height: 16px; font-size: 12px; height: 32px;}
.tpdy-items4 .tpdy-ul4 li{ width: 198px; float: left; _display: inline; margin-left: 10px;}
.tpdy-items4 .tpdy-ul4 li.img{ height: 252px; margin-top: 10px;}
.tpdy-items4 .tpdy-ul4 li.img p.pic{ height: 252px;}
.tpdy-items4 .tpdy-ul4 li.img p.pic a{ height: 252px; width: 198px;}
.tpdy-items4 .tpdy-ul4 li.img p.pic a img{ max-width: 198px;  max-height: 252px;}
.tpdy-items4 .tpdy-ul4 li.img .price{height: 35px; padding-top: 5px;}
.tpdy-items4 .tpdy-ul4 li.img .price span{ font-size: 32px; }
.tpdy-items4 .tpdy-ul4 li.img .price strong{line-height: 32px;}
.tpdy-items4 .tpdy-ul4 li.img .price p{ line-height: 16px; font-size: 12px; height: 32px;}
.tpdy-items4 .tpdy-ul4 li.wz{ margin-top: 10px; height: 252px; width: 378px;}

.dy-bg .tj-topic-tit span{ margin-top: 0px;}
.dy-bg .tj-topic-tit span a{ color: #eb7e00;}
.dy-bg .tj-topic-tit h2{ color: #333; font-size: 16px; line-height: 30px; padding:0 10px;}
.dy-bg .al-pic-silde span{ width: 29px;}
.dy-bg .al-pic-silde span.left-btn{border-left: 1px #c6c6c6 solid;}
.dy-bg .al-pic-silde span.right-btn{ border-right: 1px #c6c6c6 solid;}
/*dy e*/

/*zdm topic e*/
.header-rearch-hotkey a:hover{ color: #fff;}
.zdm-crumbs{ padding: 10px 0px; line-height: 22px;}
.zdm-crumbs span,
.zdm-crumbs a,
.zdm-crumbs h2{ float: left; margin-right: 6px; _display: inline;}
.zdm-crumbs h2 em{ color: #e43b5a;}
.zdm-crumbs span{ color: #999999;}
.zdm-crumbs a,
.zdm-crumbs h2{ color: #333;}
.top-class{ width: 170px; float: left;}
.topic-fix{ position: fixed; top: 10px;}
.top-class h3{ height: 35px; background: #eb4765; border:1px #d32444 solid; font:bold 18px/35px 'microsoft yahei'; color:#fff; text-align: center;
	background-color:#eb4765;
	background-image: -moz-linear-gradient(top, #ef4f6c, #e43b5a);
	background-image: -ms-linear-gradient(top, #ef4f6c, #e43b5a);
	background-image: -webkit-linear-gradient(top, #ef4f6c, #e43b5a);
	background-image: -o-linear-gradient(top, #ef4f6c, #e43b5a);
	background-image: linear-gradient(top, #ef4f6c, #e43b5a);}
.top-class ul{ border:1px #ddd solid;}
.top-class ul li{ line-height: 44px; font-size: 14px;font-weight: bold; overflow:hidden; zoom:1; height: 44px; border-top: 1px #ebebeb solid;}
.top-class ul li a{color: #666; display:block;padding-left: 36px; height: 44px;}
.top-class ul li a:hover,
.top-class ul li a.cur{color: #e43b5a; background: #f2f1f1;}
.topic-items .time,
.top-class ul li i{ background-image: url(../../images/haiwai/topic/topic-icon.png);_background-image: url(../../images/haiwai/topic/topic-icon8.png); background-repeat: no-repeat;}
.top-class ul li i{ width: 22px; height: 22px; margin-right: 12px; _display: inline; float: left; margin-top: 11px;}
.top-class ul li .tic1{background-position: left top;}
.top-class ul li a.cur .tic1,
.top-class ul li a:hover .tic1{ background-position: -22px top;}
.top-class ul li .tic2{background-position: left -22px;}
.top-class ul li a.cur .tic2,
.top-class ul li a:hover .tic2{ background-position: -22px -22px;}
.top-class ul li .tic3{background-position: left -44px;}
.top-class ul li a.cur .tic3,
.top-class ul li a:hover .tic3{ background-position: -22px -44px;}
.top-class ul li .tic4{background-position: left -66px;}
.top-class ul li a.cur .tic4,
.top-class ul li a:hover .tic4{ background-position: -22px -66px;}
.top-class ul li .tic5{background-position: left -88px;}
.top-class ul li a.cur .tic5,
.top-class ul li a:hover .tic5{ background-position: -22px -88px;}
.top-class ul li .tic6{background-position: left -110px;}
.top-class ul li a.cur .tic6,
.top-class ul li a:hover .tic6{ background-position: -22px -110px;}
.top-class ul li .tic7{background-position: left -132px;}
.top-class ul li a.cur .tic7,
.top-class ul li a:hover .tic7{ background-position: -22px -132px;}
.top-class ul li .tic8{background-position: left -154px;}
.top-class ul li a.cur .tic8,
.top-class ul li a:hover .tic8{ background-position: -22px -154px;}

.topic-r{ width: 810px; float: right; overflow: hidden;}
.topic-items dl{ width:383px; height: 405px; overflow: hidden; float: left; _display: inline; margin: 0 0 20px 20px; border:1px #edeceb solid; background: #f0f0f0;}
.topic-items .pic{ background: #fff;}
.topic-items .pic img{ width: 383px; height: 300px; display: block;}
.topic-items dd{ padding: 10px 10px 8px;}
.topic-items .tit a{ font-size: 14px; color: #000; font-weight: bold;}
.topic-items .text{ border-bottom: 1px #acacac dotted; padding-bottom: 5px;}
.topic-items .time{ display:block; background-position: left -190px; padding-left: 18px; margin-top: 2px;}
/*zdm topic e*/