/*通用顶部 -Start-Gaotian-20131225*/
.header-rearch-submit,.header-nav-box{background:#8db500}
.header-rearch-submit:hover{background-color: #5D8E00}
.header-nav-back s{border-left-color:#8db500}
.header-nav-box li{position:relative;z-index:0;border-color:#a8c640}
.header-nav-box li a:hover{background-color:#799b01}
.tao-new{position:absolute;top:-4px;right:3px;width:22px;height:14px;font-size:0;line-height:0;overflow:hidden;background:url(http://staticcdn.b5m.com/images/common/head_c.png?t=20140404170822) -128px -200px;}
/*通用顶部 -End-Gaotian-20131225*/
.wp,.wraper {width:980px;margin:0 auto;}

a { noFocus:expression(this.onFocus=this.blur()); }

.fl{float:left;}
.fr{float:right;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.list-h{overflow: hidden;}
.list-h li{float:left;}
img{vertical-align: top;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.tejia-wp{margin:20px -17px 0 0;*padding-bottom:17px;_padding-bottom:0;}
.tejia-wp .mod{float:left;margin:0 17px 17px 0;}
.tao-line{height:3px;margin:30px 0 20px;background-color:#5D5D5D;line-height:0;font-size:0;overflow:hidden;}
.b2c-links { *margin-bottom: 20px;}

/* page */
.page { margin:20px 0 30px;}
.page .cur { background-color: #8db500;}
.page a:hover,.page .page-input a {background-color: #8db500;border-color: #8db500;}
.page .page-input input { border-color:#8db500;}
.business{ background: url("../../images/tao/e_business.png");}


.recommend { margin-bottom: 20px;}
.goods-list{width:750px;height:131px;padding:7px 0 0 10px;border:1px solid #A7CB26;}
.goods-list li{width: 240px; font-size:0;}
.goods-list .media{display: inline-block;*display: inline;*zoom: 1;position:relative;width: 100px;height:100px;vertical-align:bottom;}
.goods-list .media i{position:absolute;width:24px;height:20px;padding-left:3px;font-weight:700;font-family:\5B8B\4F53;color:#fff;top:-1px;left:-1px;font-style: normal;font-size:12px;background: url(../../images/tao/tao_icon.png) no-repeat 0 0 scroll;
    _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/tao/tao_icon.png", sizingMethod="crop");}
.goods-list .txt{display: inline-block;*display: inline;*zoom: 1; padding-left:10px;line-height:24px;overflow: hidden;vertical-align:bottom;font-size: 12px;}
.goods-list .des{display: inline-block;*display: inline;*zoom: 1;margin-top: 8px;color:#666;font-weight: 700;font-size: 12px;}
.goods-list .des:hover {color:#eb7e00;}
.goods-list .new-price{color:#FF3833;font-family: Tahoma;font-weight: 700;font-size: 24px;}
.goods-list .new-price b{font-family: Arial;font-size: 18px;}
.goods-list .old-price{display: block;font-weight: 700;}
.tao-intro{width: 190px;height: 130px;padding:8px 0 0 16px;border:1px solid #E4E4E4;}
.tao-intro dt{margin-bottom:4px;font-size:14px;font-weight: 700;color:#333;font-family:\5FAE\8F6F\96C5\9ED1;}
.tao-intro dd{padding-left:20px;line-height:22px;background: url(../../images/tao/arrow.png) no-repeat 0 4px scroll;}
.recommend .tao-intro {width: 209px;height: 140px;padding:0;border:none; }




/* build */
.build {font-family: \5FAE\8F6F\96C5\9ED1;}
.build-title {  border-bottom: 3px solid #92b125;}
.build-title h3,.build-title .more,.build-content .tab-title em,.build-content .prods h3 { background: url("../../images/tao/build.png") no-repeat;  _background-image:url("../../images/tao/build-fix.png");}
.build-title .more { float:right; width:41px; padding-left: 18px; height: 24px; padding-top: 6px;}
.build-title.b2 .more { background-position: -70px 0px;}
.build-title.b3 .more { background-position:-140px 0px;}
.build-title .more a { color:#fff;  }
.build-title .more a i { font-family: \5b8b\4f53; font-style: normal; }
.build-title h3 { float:left; height:30px; text-indent: -9999px;}
.build-title .des { float:left; color: #585858; margin-left: 10px; margin-top: 6px;}
.build-title .links { float:right;  margin:6px 10px 0 0; color:#999; background: none; border: none; padding:0; line-height: normal;}
.build-title .links a { color:#333; margin: 0 6px;}
.build-title .links a:hover { color: #eb7e00;}

.build-content { margin-bottom: 20px; }
.build-content .tab { float:left; width:759px; border-left:1px solid #c7c7c7; height:400px; }
.build-content .tab-title { height:35px; margin-bottom: -1px; background:#f6f6f6 url("../../images/tao/tab-bg.png") repeat-y; margin-left: -1px;}
.build-content .tab-title span { float:left; display:block; height:35px; line-height: 35px; padding:0 16px; color:#777; cursor: pointer; font-size: 13px; position: relative; z-index: 1;  }
.build-content .tab-title span.cur { padding: 0 15px; color:#92b125; font-weight: bold; background: #fff;   border: 1px solid #c7c7c7; border-top: none; border-bottom:none; cursor: default;}
.build-content.b2 .tab-title span.cur { color:#64b125;}
.build-content.b3 .tab-title span.cur { color:#77b231;}
.build-content .tab-title em { background-position: 0px -50px; display: inline-block; margin-left: 2px; margin-top:4px; _margin-top:6px; width:30px; height: 24px; color:#fff; line-height: 24px; font-size:12px; font-family: \5B8B\4F53; padding-left: 8px;}
.build-content .tab-content { border-top:1px solid #c7c7c7; }
.build-content .tab-content .content { display: none; }
.build-content .tab-content .content.cur { display: block;}

.build-content .today { width:219px;  border-left: 1px solid #c7c7c7;  float:right; background: #92b125;  }
.build-content .times { margin-bottom: 10px; height: 60px;}
.build-content .times h4 { float:left; font-weight: bold; color:#fff; margin:25px 0 0 10px;}
.build-content .times .timer { float:right; width:140px; margin-top: 16px;}
.build-content .today .pics { overflow: hidden; width:200px; height:200px; margin: 0 auto 16px; position: relative; border:2px solid #7d9820; border-radius:6px; }
.build-content.b2 .today .pics { border-color:#569820; }
.build-content.b3 .today .pics { border-color:#66992a; }
.build-content .today .pics li  { float:left; }
.build-content .today .info { border-right: 1px solid #c7c7c7; padding:10px 10px 0;  height:100px; background: #f5f5f5;  }
.build-content .today .info .nums { text-align: center; line-height: 0; margin-bottom: 10px;}
.build-content .today .info .desc div { display: none; color:#7e7e7e;   background: none;}
.build-content .today .info .desc div.cur { display: block;}
.build-content .today .info .desc a { color:#333;}
.build-content .today .info .desc a:hover {color: #eb7e00;}
.build-content .today .info .btn { margin-top: 10px; display: block; width:87px; height: 26px; background: url("../../images/tao/build.png") no-repeat 0px -240px; text-indent: -9999px;}
.build-content.b2 .today .info .btn { background-position: -90px -240px;}
.build-content.b3 .today .info .btn { background-position: -180px -240px;}

.build-content .today .info ol {  display: inline-block;  *display:inline; }
.build-content .today .info ol li { float:left; margin: 0 4px; text-indent: -9999px; height: 5px; width:25px; cursor:pointer; background: #aeaeae; overflow: hidden; }
.build-content .today .info ol li.cur { background: #92b125; cursor: default;}
.build-content.b2 .today .info ol li.cur { background:#64b125; }
.build-content.b2 .today .info ol li.cur { background:#77b231;}

.build-content .prods { clear:both; border:1px solid #c7c7c7;}
.build-content .prods .text { float:left; width:180px; padding: 45px 0 45px 20px; color:#999;}
.build-content .prods h3 { background-position: -280px -100px; width:120px; height: 24px; text-indent: -9999px; margin-bottom: 5px;}
.build-content.b2 .prods h3 { background-position: -280px -150px;}
.build-content.b3 .prods h3 { background-position: -280px -200px;}
.build-content .prods .items { float:left; width:778px; padding-top:20px;}
.build-content .prods .items a { margin-left: 25px;}

.build-title.b1 h3 { width:152px; background-position: 0px -100px;}
.build-title.b2 h3 { width:130px; background-position: 0px -150px;}
.build-title.b3 h3 { width:129px; background-position: 0px -200px;}

.build-title.b2 { border-bottom-color:#64b125;}
.build-title.b3 { border-bottom-color:#77b231;}

.build-content.b2 .today { background-color: #64b125;}
.build-content.b3 .today { background-color: #77b231;}

.sub-slider a.pic { display: block; position: relative; width:200px; height:200px; color:#666; cursor: pointer;}
.sub-slider a.pic span { position: absolute; bottom:0; left:0; background: url("../../images/tao/bg-alpha.png"); _filter:alpha(opacity=80);  display: block; width:200px; padding:4px; }
.sub-slider a.pic strong { color:#fe0000; display: block; font-weight: bold; }
.sub-slider a.pic i { font-style: normal; font-size:20px;}
.sub-slider a.pic em { text-decoration: line-through;}


/* timecd */
.cd{overflow:hidden;zoom:1;}
.t-box{ background:url("../../images/tao/bg-timer.png") no-repeat; _background:#000; height:34px;  font:22px/32px Tahoma;position:relative;   width:34px; float:left; display:inline; color:#fff; text-align:center; overflow:hidden; }
.dot{float:left;line-height:34px;height:34px; width:12px; background: url("../../images/tao/bg-timer-dot.png") no-repeat center; }

/* main slider */
.main-slider .prev,.main-slider .next { position: absolute; top:100px;  background: url("../../images/tao/slider-arrow.png") no-repeat; display: block; width:11px; height: 20px; overflow: hidden; text-indent: -9999px;}

.main-slider .prev { background-position: 0px -20px; left:0; }
.main-slider .prev:hover { background-position: -11px -20px;}
.main-slider .prev.first,.main-slider .prev.first:hover { background-position: 0px 0px; cursor: default;}


.main-slider .next { background-position:-22px -20px;  right:0;}
.main-slider .next:hover { background-position: -33px -20px;}
.main-slider .next.last,.main-slider .next.last:hover {  background-position: -22px 0px; cursor:default;}

.main-slider { width:740px; margin:20px auto 0; position: relative;}
.main-slider .container { width:700px; height:320px; margin:auto; overflow: hidden; position: relative;}

.main-slider .item { float:left; margin-right: 20px; width:220px; }
.main-slider .item.last { margin-right: 0;}
.main-slider .item p { color:#888; height:30px; line-height: 30px; }
.main-slider .item p em { color: #9aa66e;}
.main-slider .item .pro-name { height:36px; line-height: 18px; margin-bottom: 6px;}
.main-slider .item .pro-name a { color:#333;}
.main-slider .item .pro-name a:hover { color: #eb7e00;}
.main-slider .item strong { display: block; float:left; color:#fe2626; line-height: 24px;}
.main-slider .item strong i { font-style: normal; font-size:20px; font-weight: bold;}
.main-slider .item span { float:right; display: block; padding:3px 5px; background: #ec8711; color:#fff;}
.main-slider .item b { float:right; display: block; color:#969696; margin-right: 4px; font-weight:normal; margin-top: 4px;}
.main-slider .item b i { color:#6f6f6f; font-style:normal; text-decoration:line-through;}

.main-slider .item a.pic { position: relative; display: block; width:220px; height: 220px; padding-top: 4px;}
.main-slider .item a.pic em { position: absolute; left:0; top:0px; display: block; background: url("../../images/tao/build.png") no-repeat 0px -275px; _background-image:url("../../images/tao/build-fix.png"); text-indent: -9999px; width:44px; height: 44px; }
.main-slider .item a.pic em.tag2 { background-position:-60px -275px;}
.main-slider .item a.pic em.tag3 { background-position:-120px -275px;}
.main-slider ul li { float:left; width:700px; overflow: hidden;}

#downList {top: 33px;left: 250px;}