/*通用顶部 -Start-Lvzhuweng-20140103*//*
.header-rearch-submit{background:#8db500}
.header-nav-back,.header-nav-box li a:hover{background-color:#799b01}
.header-nav-box{background:#8db500}
.header-nav-box li{border-color:#A8C640}
.header-nav-box li.cur a,.header-nav-box li.cur a:hover{color:#4C4C4C}
.header-nav-box li.cur,.header-nav-box li.cur a:hover{background-color:#F5F5F5;}
.header-tools-search .header-search-content{border:1px solid #c8c8c8}
.header-search-content #query{border:none}
*//*通用顶部 -End-Lvzhuweng-20140103*/
/*通用顶部 -Start-Gaotian-20131225*/
.header-rearch-submit,.header-nav-box{background:#8db500}
.header-rearch-submit:hover{background-color: #5D8E00}
.header-nav-back s{border-left-color:#8db500}
.header-nav-box li{border-color:#a8c640}
.header-nav-box li a:hover{background-color:#799b01}
/*通用顶部 -End-Gaotian-20131225*/
.wp{width:980px; _width:1000px; margin:0 auto;}
.fl{float:left;} 
.fr{float:right;}
.clear-fix:after,
.clear-fix:before{
	content:" ";
	display:table;
}
.clear-fix:after{clear:both;}
.clear-fix{*zoom:1;}
.list-h{overflow: hidden;}
.list-h li{float:left;}
img{vertical-align: top;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.tejia-wp{margin:20px -17px 0 0;*padding-bottom:17px;_padding-bottom:0;}
.tejia-wp .mod{float:left;margin:0 17px 17px 0;}



.goods-list{width:750px;height:131px;padding:7px 0 0 10px;border:1px solid #A7CB26;}
.goods-list li{width: 250px;font-size:0;}
.goods-list .media{display: inline-block;*display: inline;*zoom: 1;position:relative;width: 150px;height:100px;vertical-align:bottom;}
.goods-list .media i{position:absolute;width:24px;height:20px;padding-left:3px;font-weight:700;font-family:\5B8B\4F53;color:#fff;top:-1px;left:-1px;font-style: normal;font-size:12px;background: url(../../images/tao/tao_icon.png) no-repeat 0 0 scroll;
_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../../images/tao/tao_icon.png", sizingMethod="crop");}
.goods-list .txt{display: inline-block;*display: inline;*zoom: 1;width: 90px;padding-left:10px;line-height:24px;overflow: hidden;vertical-align:bottom;font-size: 12px;}
.goods-list .des{display: inline-block;*display: inline;*zoom: 1;margin-top: 8px;color:#666;font-weight: 700;font-size: 12px;}
.goods-list .des:hover {color:#eb7e00; text-decoration: underline;}
.goods-list .new-price{color:#FF3833;font-family: Tahoma;font-weight: 700;font-size: 24px;}
.goods-list .new-price b{font-family: Arial;font-size: 18px;}
.goods-list .old-price{display: block;font-weight: 700;}
.tao-intro{width: 190px;height: 130px;padding:8px 0 0 16px;border:1px solid #E4E4E4;}
.tao-intro dt{margin-bottom:4px;font-size:14px;font-weight: 700;color:#333;font-family:\5FAE\8F6F\96C5\9ED1;}
.tao-intro dd{padding-left:20px;line-height:22px;background: url(../../images/tao/arrow.png) no-repeat 0 4px scroll;}

.tao-1{border-bottom-color:#92B125}
.tao-1 .floor-tit-more,
.tao-1 .floor-tit-num{background-color:#92B125}
.tao-1 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#92B125}
.slider-1{border-color:#92B125;color:#92B125}
.slider-1 .slider-nav-li a,.slider-1 .more a{color:#92B125}
.slider-1 li.cur a,
.slider-1 .slider-nav-li a:hover{background:#92B125;color:white}
.slider-1 .slider-nav-li em{border-color:#92B125 transparent transparent;}
.slider-1 .slider-page a.cur, .slider-1 .slider-page a:hover{background-color:#92B125}

.tao-2{border-bottom-color:#64B125}
.tao-2 .floor-tit-more,
.tao-2 .floor-tit-num{background-color:#64B125}
.tao-2 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#64B125}
.slider-2{border-color:#64B125;color:#64B125}
.slider-2 .slider-nav-li a,.slider-2 .more a{color:#64B125}
.slider-2 li.cur a,
.slider-2 .slider-nav-li a:hover{background:#64B125;color:white}
.slider-2 .slider-nav-li em{border-color:#64B125 transparent transparent;}
.slider-2 .slider-page a.cur, .slider-2 .slider-page a:hover{background-color:#64B125}

.tao-3{border-bottom-color:#77B231}
.tao-3 .floor-tit-more,
.tao-3 .floor-tit-num{background-color:#77B231}
.tao-3 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#77B231}
.slider-3{border-color:#77B231;color:#77B231}
.slider-3 .slider-nav-li a,.slider-3 .more a{color:#77B231}
.slider-3 li.cur a,
.slider-3 .slider-nav-li a:hover{background:#77B231;color:white}
.slider-3 .slider-nav-li em{border-color:#77B231 transparent transparent;}
.slider-3 .slider-page a.cur, .slider-3 .slider-page a:hover{background-color:#77B231}

.slider-nav .more{ float: right;margin-right: 27px;} 

.tao-4{border-bottom-color:#99B500}
.tao-4 .floor-tit-more,
.tao-4 .floor-tit-num{background-color:#99B500}
.tao-4 .floor-news-desc{background-color:#333}
.floor-tao .floor-search-input{background-color:#99B500}
.slider-4{border-color:#99B500;color:#99B500}
.slider-4 .slider-nav-li a,.slider-4 .more a{color:#99B500}
.slider-4 li.cur a,
.slider-4 .slider-nav-li a:hover{background:#99B500;color:white}
.slider-4 .slider-nav-li em{border-color:#99B500 transparent transparent;}
.slider-4 .slider-page a.cur, .slider-4 .slider-page a:hover{background-color:#99B500}
.floor-tit{margin-top:24px;}
.tao-line{height:3px;margin:30px 0 20px;background-color:#5D5D5D;line-height:0;font-size:0;overflow:hidden;}
/*tao search start*/
.row-result{margin-top:16px;background-color: #fff}
.row-result .col-1{width: 748px;}
.row-result .col-2{width: 232px;}
.breadcrumb{margin-bottom:10px;font-size:12px;color:#666;}
.breadcrumb a{color:#666;}
.breadcrumb a:hover{color:#666;text-decoration: underline;}
.breadcrumb .search-key{color:#f89500;}
.row-result .mod{float:left;margin:0 17px 17px 0; _display: inline;}
.mod{position:relative;width: 212px;height: 300px;border:1px solid #D6D6D6;padding:4px 9px 10px;font-size:12px;}
.mod .tit{margin-bottom: 6px;line-height: 1; height:44px; overflow: hidden;}
.mod .tit a{color:#666;line-height:22px;}
.mod .tit a:hover{color:#f89500;}

.mod-ico{position:absolute;top:0;right:0;z-index:1;width:76px;padding:6px 0 14px;background-image:url(../../images/tao/icon-ne.png);_background-image:url(../../images/tao/icon-ne-ie6.png);background-repeat: no-repeat;background-position:center 0;color:#fff;font-size:12px;line-height:16px;text-align:center;text-decoration:none}

.mod .mod-pic{position:relative;width: 212px;height: 212px; text-align: center;display: table-cell;  vertical-align:middle; overflow: hidden;
    *display: block;
    *font-size: 140px;
    *font-family:Arial;}
.mod .mod-pic .mod-price{position: absolute;width: 100%;height: 30px;line-height:30px;left:0;bottom:0;color:#ccc;text-align:center; font-size: 12px;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
    background:rgba(0,0,0,0.5);
}
.mod .mod-ico{ font-size: 12px;}
.mod .mod-pic img{ max-width: 212px; max-height: 212px;  vertical-align:middle;}
:root .rgba{filter:none;}/*for IE9*/
.mod .mod-pic .mod-price b{float:left;padding-left:6px;/*position:absolute;top:0;left:50%;width:34px;margin-left:-17px;*/color:#fff;font-weight:normal;text-align:center;}
.mod .mod-pic .mod-price del{float:left;padding-left:6px;}
.mod .mod-pic .mod-price span{float:right;padding-right:6px;}
.mod .mod-pic .mod-price em{color:#fff;/*padding:0 4px;*/}
.mod .mod-buy{height: 40px;line-height:38px;padding:0 10px;background-color: #8DB500;}
.mod .mod-buy span{float:left;font-size:27px;font-family: Tahoma;color:#fff;}
.mod .mod-buy b{font-size: 18px;font-family: arial;font-weight:400;}
.mod .mod-buy .mod-btn{width: 74px;height: 28px;line-height:28px;margin-top: 6px;font-weight:700;font-family:\5FAE\8F6F\96C5\9ED1;text-align:center;float:right;color:#495e00;background-color:#E4FF00;
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.1);
    box-shadow: 1px 2px 3px rgba(0,0,0,.1);
}
.mod-buy-list{border:1px solid #ccc;background-color:#FAFAFA;
    -webkit-box-shadow: 0 1px 0 #B4B4B4;
    -moz-box-shadow: 0 1px 0 #B4B4B4;
    box-shadow: 0 1px 0 #B4B4B4;
}
.mod-buy-list .tit{position:relative;padding:10px 0 0 15px;font-weight:700;font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1;background-color:#fafafa;}
.mod-buy-list ul{margin-top:-3px;}
.mod-buy-list li{padding:15px 0 15px 15px;border-top:1px solid #fff;border-bottom:1px solid #ECECEC;overflow:hidden;zoom:1;}
.mod-buy-list .pic{float:left;width:50px;margin-right:10px;_display:inline;}
.mod-buy-list .txt{display: table-cell;width:2000px;*width:auto;*display: inline;}
.mod-buy-list .txt a{color:#333;font-weight:700;}
.mod-buy-list .txt p{color:#999;line-height:16px; padding-right: 5px;}
.mod.cur,.mod:hover{border-color:#92b125; background-color:#f7ffdc; cursor:pointer}
/*tao search end*/

/* page */
.page { margin:20px 0 30px;}
.page .cur { background-color: #8db500;}
.page a:hover,.page .page-input a {background-color: #8db500;border-color: #8db500;}
.page .page-input input { border-color:#8db500;}
.business{background-color:#9AC625;}
/*tao hover s*/
.floor-news-style li span a:hover,
.floor-news-more:hover,
.floor-tit-links a:hover,
.floor-news-style li p a:hover,
.slider-item .tit:hover,
.b2c-links li p a:hover{color:#eb7e00;text-decoration: underline;}
.floor-tit-more a:hover{ text-decoration: underline;}
/*tao hover e*/
/*filter*/
#filter{margin-top:0px;position:relative;  z-index:10;padding-top:6px}
#filter{background:none; margin-top: 10px;}
ul.filter-price{width:100%;height:35px;padding:0;position:relative;overflow:hidden;z-index:9;display:block;clear:both;zoom:1}
.filter-price li{width:101px;height:35px;float:left;overflow:hidden}
.filter-price li a{background-color:#f8f8f8;border:1px solid #e1e1e1;width:99px;height:29px;text-align:center;float:left;overflow:hidden}
.filter-price li.all{width:84px}
.filter-price li.all a{width:82px}
.filter-price li a{font:bold 14px/29px \5fae\8f6f\96c5\9ed1;color:#acacac;text-decoration:none;display:block;}
.filter-price li.cur a{height:35px;background:url(../../images/tao/filter-price-hover.png) center top no-repeat;color:white;width:100%;border:none}
.filter-price li a:hover{background:#f7ffdc;color:#92b125;text-decoration:none}
.filter-price li.cur a:hover{background:url(../../images/tao/filter-price-hover.png) center top no-repeat;color:#fff}
.filter-classify{height:0px;overflow:hidden;position:relative;z-index:1;border:none;margin-top:-5px;_margin-top:-4px;clear:both;line-height:0;width:100%;}
.filter-price-index .filter-classify{margin-top:-4px;_margin-top:-3px;}
.filter-classify-show{background:url(../../images/tao/filter.png) repeat-x;padding:8px 0 6px 0;border:1px solid #e1e1e1;height:26px;font-weight:bold;color:#666;line-height:16px;margin-top:-5px;}
.filter-classify a{color:#666;font-weight:normal}
.filter-classify label{padding-left:7px;white-space:nowrap;text-align:left;text-indent: 0}
#J_filterOrderby{}
.filter-orderby{padding:8px 0 6px 0;border:1px solid #e1e1e1;width:978px;height:25px;background-color:white;position:absolute;left:0;bottom:0;overflow:hidden;margin-top:0px}
.filter-orderby label,.filter-orderby a,
.filter-classify label,.filter-classify a{float:left;width:49px;line-height:24px;font-weight:bold;text-align:center;color:#666}
.filter-orderby label{padding-left:7px;}
.filter-orderby a{width:69px;height:24px;border:1px solid #d4d4d4;background-color:white;line-height:24px;font-weight:normal;border-right:0px}
.filter-orderby a:hover{background:#f7ffdc;color:#92b125;text-decoration:none}
.filter-classify a.cur,.filter-orderby-price a.cur{background-color:#92b125;color:#fff;border-radius:3px}
.filter-classify a.cur:hover,.filter-orderby-price a.cur:hover{background-color:#92b125;color:#fff;border-radius:3px;}

#J_filterOrderby a.cur{color:#f47920;background:#f2f2f2}
#J_filterOrderby a.cur:hover{color:#f47920;background:#f2f2f2}
.filter-orderby a.last{border-right:1px solid #d4d4d4}
.filter-orderby-hidden{visibility:hidden;height:40px;width:100%}
.tomorrow{width:221px;height:46px;overflow:hidden;position:absolute;right:0;bottom:18px;z-index:10}
.tomorrow a{display:block;width:100%;height:100%;}
.tomorrow a{background:url(../../../images/tao/history/tomorrow.png) no-repeat;text-indent:-999px;_background:url(../../../images/tao/history/tomorrow-ie6.png) no-repeat;}
.filter-item{float:left}
.filter-item label,.filter-item a{float:left}
.filter-item label{line-height:38px;line-height:42px\9;_line-height:38px;font-weight:700;color:#666;padding:0 4px 0 20px}
:root .filter-item label{line-height:38px}
.filter-item a{width:61px;height:24px;line-height:24px;line-height:28px\9;_line-height:24px;text-align:center;margin:7px 10px 0 0;color:#666;overflow:hidden}
:root .filter-item a{line-height:24px}
.filter-item a:hover,.filter-item a:active{text-decoration:none}
.filter-item a:hover{background:#ffede4;color:#ff6000;border-radius:3px}
.filter-item a.cur,.filter-item a.cur:hover{background:#fc8700;color:#fff;border-radius:3px}
.filter-page{position:absolute;top:1px;right:10px}
.filter-page span,.filter-page a{float:left}
.filter-page span{line-height:38px;color:#999}
.filter-page a,.filter-page a:hover{background:url(../../images/tao/btn.png) no-repeat;width:25px;height:23px;text-indent:-99em;margin:7px 0 0 3px;overflow:hidden;border:none;line-height:23px}
.filter-page a.prev{background-position:-162px -153px}
.filter-page a.next,.filter-page a.next:hover{background-position:-188px -153px}
.filter-page a.prev:hover{background-position:-162px -177px}
.filter-page a.next:hover{background-position:-188px -177px}
.filter-page a.first{background-position:-162px -177px;cursor:default}
.filter-page a.last{background-position:-188px -177px;cursor:default}

.filter-orderby .filter-page a.last{border:none}
.filter-orderby-price{background:white;margin-top:0;border-top:0;position:relative;border-bottom:1px solid #e1e1e1;border-top:1px solid #e1e1e1;overflow:hidden;padding:0;height:39px;overflow:visible;z-index:8}
.filter-orderby-price a,
.filter-orderby-price label{margin-top:9px;font-family:\5B8B\4F53}
.filter-price-input{width:115px;margin-left:0px;float:left;padding:5px;position:absolute;top:0;left:310px;z-index:8;background-color:white;overflow:hidden;height:29px}
.filter-price-input a{display:none}
.filter-price-input_on{border:1px solid #e1e1e1;left:309px;height:52px;border-top:0px;box-shadow:1px 2px 6px rgba(0, 0, 0, 0.2)}
.filter-orderby-price .filter-price-input_on a{display:block;width:38px;height:20px;border:1px solid #d4d4d4;background-color:#fafafa;line-height:20px;text-align:center;border-radius:2px;margin-top:5px;float:right;margin-right:1px;_display:inline}
.filter-orderby-price .filter-price-input_on a:hover{text-decoration:none}
.filter-orderby-price .filter-price-input_on a.clear{float:left;text-decoration:underline;border:none;clear:both;height:auto;width:25px;_display:inline;margin:2px 0 0 4px}
.filter-orderby-price a,.filter-classify a{font-weight:normal;border:none;width:43px;float:left;text-align:center;text-indent:0;font-family:arial}
.filter-orderby-price span{border:none;}
.filter-orderby-price input{width:38px;height:12px;padding:5px;font-size:12px;float:left;border:1px solid #e1e1e1;margin-top:4px;line-height:12px}
.filter-orderby-price span{float:left;text-align:center;width:5px;border-top:1px solid #999;margin:16px 5px 0;_display:inline}
.filter-orderby-price2 a{width:62px}

.tao-bug-ie6{ border-top:0; height:0; font-size:0;_width: 978px;} 

/*pos*/
/* 2014-3-5 Lvzhuweng hidden this area
#pos{position:absolute;left:50%;top:26px;margin-left:505px;  }
.pos-item{width:110px;border:1px solid #eee;background:#fff;padding-bottom:5px}
.pos-item a{noline:expression(this.onFocus=this.blur());display:block;height:35px;margin:3px 0 0;padding:0 0 0 23px;text-align:center;font:700 12px/35px \5fae\8f6f\96c5\9ed1;color:#666;position:relative;cursor:pointer}
.pos-item a:hover,.pos-item a:active,.pos-item a:visited{text-decoration:none;outline:none;}
.pos-item a:hover{background: #f6f6df;color: #8fb61c;}
.pos-item a.cur,.pos-item a.cur:hover{background: #8DB500;color:#fff}
#pos-1{margin:0}
#pos b{background:url(../../images/tao/pos_ico_spr_v1.png) no-repeat;position:absolute;left:23px;top:0;width:30px;height:35px;overflow:hidden}
#pos-1 b{background-position:0 10px}
#pos-2 b{background-position:0 -27px}
#pos-3 b{background-position:0 -67px}
#pos-4 b{background-position:0 -107px}
#pos-5 b{background-position:0 -149px}
#pos-6 b{background-position:0 -184px}
#pos-7 b{background-position:0 -227px}
#pos-8 b{background-position:0 -266px}
#pos-1:hover b{background-position:-30px 10px}
#pos-2:hover b{background-position:-30px -27px}
#pos-3:hover b{background-position:-30px -67px}
#pos-4:hover b{background-position:-30px -107px}
#pos-5:hover b{background-position:-30px -149px}
#pos-6:hover b{background-position:-30px -184px}
#pos-7:hover b{background-position:-30px -227px}
#pos-8:hover b{background-position:-30px -266px}
#pos-1.cur b,#pos-1.cur:hover b{background-position:-60px 10px}
#pos-2.cur b,#pos-2.cur:hover b{background-position:-60px -27px}
#pos-3.cur b,#pos-3.cur:hover b{background-position:-60px -67px}
#pos-4.cur b,#pos-4.cur:hover b{background-position:-60px -107px}
#pos-5.cur b,#pos-5.cur:hover b{background-position:-60px -149px}
#pos-6.cur b,#pos-6.cur:hover b{background-position:-60px -184px}
#pos-7.cur b,#pos-7.cur:hover b{background-position:-60px -227px}
#pos-8.cur b,#pos-8.cur:hover b{background-position:-60px -266px}
#pos a.cur i{position:absolute;right:-6px;top:0;width:6px;height:40px;background:url(../../images/tao/pos.gif) no-repeat 100% 0}
*/
#pos{position:absolute;left:50%;top:26px;margin-left:505px;}
.pos-item{width:122px;border:2px solid #e7e7e7;background:#fff;}
.pos-item li{float:left;height:32px;line-height:32px;width:61px;text-align:center;}
.pos-item li.first{float:none;width:122px;height:26px;line-height:26px;border-bottom:1px solid #769800;background-color:#a1b362;}
.pos-item a{noline:expression(this.onFocus=this.blur());display:block;padding:0 5px 0 24px;zoom:1;font-family:\5fae\8f6f\96c5\9ed1;color:#333;position:relative;cursor:pointer}
.pos-item a.cur,.pos-item a:hover{color:#8db500;}
.pos-item li.first a{padding:0;color:#fff;font-size:14px;font-family:\5b8b\4f53;font-weight:bold;}
.pos-item li.first a.cur,.pos-item li.first a:hover{color:#fff;background-color:#8db500;}
.pos-item li.pos-item-grey{background-color:#f8f8f8;}
#pos i{position:absolute;top:0;left:8px;width:16px;height:32px;background:url(../../images/tao/icon-cate.png) no-repeat;}
#pos-1 i{background:none;}
#pos-2 i{background-position:0 10px;}
#pos-3 i{background-position:0 -178px;}
#pos-4 i{background-position:0 -22px;}
#pos-5 i{background-position:0 -210px;}
#pos-6 i{background-position:0 -53px;}
#pos-7 i{background-position:0 -240px;}
#pos-8 i{background-position:0 -84px;}
#pos-9 i{background-position:0 -271px;}
#pos-10 i{background-position:0 -116px;}
#pos-11 i{background-position:0 -305px;}
#pos-12 i{background-position:0 -148px;}
#pos-13 i{background-position:0 -337px;}
#pos-2.cur i,#pos-2:hover i{background-position:-23px 10px;}
#pos-3.cur i,#pos-3:hover i{background-position:-23px -178px;}
#pos-4.cur i,#pos-4:hover i{background-position:-23px -22px;}
#pos-5.cur i,#pos-5:hover i{background-position:-23px -210px;}
#pos-6.cur i,#pos-6:hover i{background-position:-23px -53px;}
#pos-7.cur i,#pos-7:hover i{background-position:-23px -240px;}
#pos-8.cur i,#pos-8:hover i{background-position:-23px -84px;}
#pos-9.cur i,#pos-9:hover i{background-position:-23px -271px;}
#pos-10.cur i,#pos-10:hover i{background-position:-23px -116px;}
#pos-11.cur i,#pos-11:hover i{background-position:-23px -305px;}
#pos-12.cur i,#pos-12:hover i{background-position:-23px -148px;}
#pos-13.cur i,#pos-13:hover i{background-position:-23px -337px;}

/* 部分CSS */
.ad_bott_in {height: 92px;background: url(../images/tao/ad_bott_2.png) no-repeat center top transparent;} 
.focusin{ color: #000;}
.slider-item{ height: 334px;}

/*no result s*/
.no-result-list .mod{float:left;}
.no-title {font-size: 20px; font-family: \5fae\8f6f\96c5\9ed1; color: #000; font-weight: bold; margin:20px 0; }
.result-nothing {height: 450px; margin: 0px 0 20px 0; position: relative; }
.back{margin-bottom:20px;font-size: 14px; font-family: \5b8b\4f53; line-height: 18px; font-weight: 400;}
.shangpin .back{position: absolute;left: 445px; top: 195px; }
.back strong {color: #fe7c28;max-width: 300px;text-overflow: ellipsis;display: inline-block;overflow: hidden;white-space: nowrap; } 
.back a {font-weight: 700; color: #333; font-family: \5fae\8f6f\96c5\9ed1; font-size: 16px; }
.shangpin{background: url(http://staticcdn.b5m.com/static/images/search/err.jpg) no-repeat 120px 50%; }
.yugao{background: url(../../images/tao/nomiriyugao.png) no-repeat 50% 50%; }
/*no result e*/

/*detail s*/
.deal-warp i,.deal-warp em{font-style:normal}
.deal-warp{position:relative}
.deal-content{float:left}
.deal,.deal-sub{width:678px; overflow:hidden;}
.deal-main{overflow:hidden;clear:both}
.deal-main,.deal-sub-main{width:676px;border:1px solid #d6d6d6; margin-bottom: 10px;}
.deal-sub-main.ads { border: none; overflow: hidden; padding: 0; width: 282px; margin:0;}
.deal{margin-bottom:18px;}
.deal-sub{width:282px;float:right; overflow: hidden; position: relative;}
.deal-sub-main{width:240px;padding:0 20px;}
.deal-sub-main .title{height:48px;display:block;line-height:48px;font-family:\5fae\8f6f\96c5\9ed1;font-size:16px;color:#333;text-indent:-999px;background:url(../../../images/tao/history/title.png) no-repeat 0 16px}
.deal-sub-main ul{width:100%}
.deal-sub-main ul li{width:100%;padding-bottom:10px;border-bottom:1px solid #e3e3e3;position:relative;overflow:hidden;clear:both;margin-bottom:20px}
.deal-sub-main ul li span.info{width:100%;height:30px;position:absolute;top:210px;z-index:2;line-height:30px;color:white;text-align:right;padding-right:12px;right:0}
.deal-sub-main ul li span.info strong{font-weight:bold}
.deal-sub-main ul li span.infobg{width:100%;height:30px;z-index:1;background-color:black;opacity:0.5; filter:alpha(opacity=50);}
.deal-sub-main ul li a.name{color:#666;font-size:12px;font-family:\5b8b\4f53;line-height:20px;padding:10px 0 6px 0;display:block}
.deal-sub-main ul li a.name:hover{color: #eb7e00;}
.deal-sub-main ul li span.price{float:left;width:170px;height:30px;overflow:hidden;}
.deal-sub-main ul li span.price strong{font:normal 24px/normal 'Tahoma';color:#f47920;padding-right:20px;float:left}
.deal-sub-main ul li span.price strong span{font-size:14px;font-family:'\5fae\8f6f\96c5\9ed1'}
.deal-sub-main ul li span.price del{font:normal 12px/normal 'Tahoma';color:#999;float:left;margin-top:9px}
.deal-sub-main ul li a.btn{float:right;color:#fff;font-weight:bold;background:url(../../images/tao/btn_70_29_o.png) no-repeat;width:70px;height:28px;text-align:center;line-height:27px;line-height:31px\9;_line-height:27px;overflow:hidden}
.deal-sub-main ul li a.btn:hover{background-position:0 -29px;text-decoration:none}
.deal-sub-main ul li a.pic,
.deal-sub-main ul li a.pic img{width:240px;height:240px;display:block;}
.deal-sub-main ul li:last-child{border-bottom:none; overflow: hidden;}
div.deal-sub-normal ul.deal-sug li span.price{width:128px}

.deal-main h4{font:normal 24px/36px '\5fae\8f6f\96c5\9ed1';color:#000000;padding:15px 20px 11px;background:url(../../images/tao/title.png) no-repeat 20px -230px;text-indent:117px}
.deal-main h4 span{color:#999;font-family:\5fae\8f6f\96c5\9ed1;display:none}
.deal-pru{width:326px;float:left;height:396px;}
.deal-pru-baoyou{background:url(../../images/tao/deal-baoyou-bg.png) no-repeat left bottom}
.deal-now{height:68px;width:284px;border:1px solid #8db500;padding:0 18px 0 22px;overflow:hidden;background:#8db500;}
.deal-now .price{float:left;height:68px;color:#fff;text-shadow:2px 1px 1px #585b00;font:42px/68px tahoma;cursor:default}
.deal-now .price b{padding:0 5px 0 0;font-size:28px;font-family:\5fae\8f6f\96c5\9ed1}
.deal-now .btn{float:right;background:url(../../images/tao/deal-btn.png) no-repeat -2px  -69px;width:115px;height:45px;text-indent:-99em;margin:13px 0 0;overflow:hidden}
.deal-pru-dis .deal-now{background:url(../../images/tao/deal-btn.png) repeat-x 0 -116px;border-color:#626262}
.deal-pru-dis .deal-now .btn{background:url(../../images/tao/deal-btn.png) no-repeat -2px  -185px;cursor:default;outline:none}
.deal-pru-dis .deal-now .price{text-shadow:2px 1px 1px #333;}

.deal-price{height:89px;clear:both;border-top:1px solid white;background:#eeffe4;width:240px;padding:0 43px}

.deal-pru-dis .deal-price{background-color:#e9e9e9}
.deal-price li{width:80px;float:left;line-height:24px;margin:20px 0 0}
.deal-price li span{height:24px;line-height:24px;display:block;text-align:center;color:#999;font-size:12px;vertical-align:middle}
.deal-price li del{font:normal 18px/normal 'Tahoma'}
.deal-price li i{font:normal 14px/normal \5fae\8f6f\96c5\9ed1}
.deal-price li span.price{font:normal 14px/normal 'Tahoma';height:28px;line-height:28px}
.deal-price li span em{color:#f88500;font-size:18px;}
.deal-price li span.price-rel{padding-top:3px}

.deal-num{width:100%;height:78px;margin:0 auto;text-align:center;font-size:14px;line-height:78px;background:url(../../images/tao/line.png) center bottom no-repeat}
.deal-pru-dis .deal-num{background:url(../../images/tao/line_dis.png) center bottom no-repeat}
.deal-num strong{font:normal 30px/normal 'Tahoma';color:#c33}

.deal-pru-dis .deal-count{background:none}
.deal-pru-dis .deal-count .time{display:none}
.deal-count{padding:20px 0 0 74px;background:url(../../images/tao/deal-time.png) no-repeat 74px 50px;height:107px;}
.deal-count strong{font:bold 14px/14px \5fae\8f6f\96c5\9ed1;display:block;height:30px}
.deal-count span{font:bold 28px/50px 'Arial';color:#e50a0a;width:43px;float:left;margin:0 18px 0 0;_display:inline;text-align:center;position:relative}
.deal-count span i{width:100%;height:39px;position:absolute;top:0;left:0;background:url(../../images/tao/deal-time-bg.png) no-repeat;_background:none}

.deal-img{float:left;width:350px;height:350px;}
.deal-img a.deal-img-big{display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:305px;*font-family:Arial;*line-height:1;width:350px;height:350px;overflow:hidden;}
.deal-img a.deal-img-big img.goods{vertical-align:middle;max-width:100%;max-height:100%;}
.deal-share{padding:16px 0 0 72px;height:16px;width:253px;clear:both}
.deal-share img.icon-plus{float:left;margin-right:6px;_display:inline}
.deal-share a   {width:16px;height:16px;float:left;margin-right:6px;_display:inline;}
.deal-share img{width:16px;height:16px;background:url(../../images/tao/deal-icon.png) no-repeat}
.deal-share img.icon-qq{background-position:-17px 0}
.deal-share img.icon-qzone{background-position:-34px 0}
.deal-share img.icon-weibo{background-position:-51px 0}
.deal-share img.icon-qqweibo{background-position:-68px 0}
.deal-share img.icon-renren{background-position:-85px 0}
.deal-share img.icon-taobao{background-position:-102px 0}
.deal-share span{float:left;height:16px;line-height:14px;font-size:12px;color:#666}

.hot-title{height:47px;width:635px;margin:0 auto;}
.hot-title strong{font:normal 16px/47px \5fae\8f6f\96c5\9ed1;float:left;color:#333;text-indent:-999px;width:120px;background:url(../../images/tao/title.png) no-repeat 0 -44px}
.hot-title strong.comment{width:65px;background-position:0 -104px}
.hot-title strong.like{text-indent:-999px;width:120px;background:url(../../images/tao/title.png) no-repeat 0 -164px}
.hot-title a{float:right;color:#666;margin-top:18px}
.hot-title a:hover{color:#eb7e00;}
.hot-list{width:655px;overflow:hidden;margin-left:20px}
.hot-list li{width:150px;height:240px;margin-right:12px;_display:inline;float:left}
.hot-list li a.pic{display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:130px;*font-family:Arial;*line-height:1;width:150px;height:150px;overflow:hidden;}
.hot-list li a.pic img{vertical-align:middle;max-width:100%;max-height:100%;}
.hot-list li a.name{line-height:20px;margin-top:5px;color:#666;display:block;height:40px;overflow:hidden}
.hot-list li a.name:hover{color:#eb7e00;}
.hot-list li span.price{display:block;padding-top:5px}
.hot-list li span.price strong{font:normal 12px/normal 'Tahoma';color:#f47920;padding-right:20px;font-weight:bold}
.hot-list li span.price strong span{font-family:\5fae\8f6f\96c5\9ed1}
.hot-list li span.price del{font:normal 12px/normal 'Tahoma';color:#999;}

.hot-title span{float:left;margin-left:24px;margin-top:14px;font-size:14px;color:#999}
.hot-title span i{color:#cc3333;}

.comment-text{height:98px;width:635px;margin:0 auto;overflow:hidden;clear:both}
.comment-text textarea{width:520px;height:45px;border:1px solid #ccc;resize:none;padding:3px 5px;float:left;}
.comment-text a{width:91px;height:54px;float:right;background:url(../../images/tao/deal-comment.png) no-repeat;text-indent:-999px;overflow:hidden}
.comment-text a:hover{background:url(../../images/tao/deal-comment.png) no-repeat 0 -55px;}
.comment-num{display:block;color:#999;padding-top:3px;clear:both}
.comment-num strong{color:#cc3333;padding:0 5px}

.comment-list{width:635px;overflow:hidden;margin:0 auto; padding-bottom: 4px;}
.comment-list li{width:100%;border-bottom:1px solid #e3e3e3;clear:both;padding-top:10px}
.comment-list li span{display:block}
.comment-list li span.time{float:right;color:#999;width:140px;text-align:right}
.comment-list li span.name{float:left;color:#999;width:40%;text-align:left}
.comment-list li p{line-height:23px;clear:both;width:100%;padding:5px 0 10px;font-size:14px;word-wrap:break-word}
.comment-page {width:635px; text-align:right;overflow:hidden}
.comment-page a{font-family:Arial;width:32px;height:32px;font-size:14px;margin-top:1px;border:1px solid #d4d4d4;display:inline-block;margin-left:10px;text-align:center;line-height:32px;border-radius:3px;background:#f7f7f7;color:black;color:#666}
.comment-page a:hover{text-decoration:none}
.comment-page a.next,
.comment-page a.prev{font-family:\5b8b\4f53}
.comment-page span,
.comment-page em{display:inline-block;width:24px;margin-left:10px;text-align:center;font-size:14px;font-family:Arial}
.comment-page span{width:34px;height:38px;background:#ff9c0f;line-height:38px;border-radius:3px;color:white}
.comment-page a:hover{background:white;color:black}

.deal-sub-normal{width:676px;padding:0}

.deal-sub-normal ul.deal-sug{width:655px;margin:0 0 0 20px;height:300px;}
.deal-sub-normal ul li{float:left;margin-right:17px;_display:inline;width:200px;border-bottom:none;height:300px;clear:none}
.deal-sub-normal ul li a.pic,div.deal-sub-normal ul li a.pic img{height:200px}
.deal-sub-normal ul li span.info{top:170px}
.deal-sub-normal ul li a.name{height:40px}
.deal-sub-normal ul li span.info{padding:0;clear:both;text-align:left}
.deal-sub-normal ul.deal-sug span.info span{width:74px;text-align:left;float:left;padding:0 0 0 10px;white-space:nowrap;font-size:12px}
.deal-sub-normal ul.deal-sug span.info span.r{width:105px;text-align:right;float:right;padding:0 10px 0 0}
.deal-bott{height:68px;padding-left:20px;width:358px;border-right:0;float:left;background-color:white;overflow:hidden}
.deal-bott span.num{line-height:68px;font-size:14px;color:#666;float:left;}
.deal-bott span.num strong{font:normal 30px/normal 'Tahoma';color:#c33;padding:0 5px}
.deal-price2{width:138px;background:none;padding:0;float:right;clear:none;margin-right:0px;_display:inline;}
.deal-price2 li{width:69px;margin-top:8px;overflow:hidden}
.deal-pru-dis .deal-price2{background:none}
.deal-pru-dis .deal-now2{background:url(../../images/tao/deal-btn.png) repeat-x 0 -116px;border-color:#626262}
.deal-pru-dis .deal-now2 .btn{background:url(../../images/tao/deal-btn.png) no-repeat -2px  -185px;}
.deal-pru-dis .deal-now2 .price{text-shadow:2px 1px 1px #333;}
.deal-now2{float:right;width:265px;padding-right:10px}
.deal-price2 li del{font-size:14px}
.deal-price2 li span em{font-size:14px;font-family:Tahoma;line-height:18px}
.deal-price li span.price{line-height:1;padding-top:5px;line-height:21px}
/*detail e*/
/*duihuan center s*/
.home-title {height: 30px; line-height: 30px; width: 100%; clear: both; border-bottom: 1px solid #d6d6d6; margin: 18px 0 18px; _overflow: hidden; }
.home-title strong {padding: 0 20px; height: 29px; color: #333; float: left; position: relative; z-index: 2; line-height: 29px; text-align: center; font-size: 18px; font-family: \5fae\8f6f\96c5\9ed1; border-bottom: 2px solid #F58300; }
.layout{width:980px;overflow:hidden;margin:0 0 20px}
.layout-hd{font:700 18px/25px \5fae\8f6f\96c5\9ed1;height:25px;overflow:hidden}
.layout-bd{width:1000px;padding:15px 0;}
.layout-mod{float:left;width:225px;margin:0 25px 0 0}
.layout-mod-pic{border:1px solid #eee;padding:8px}
.layout-mod-pic img{display:block;width: 207px; height: 157px;}
.layout-mod-txt{height:40px;line-height:20px;margin:5px 0}
.layout-mod-txt span{display:block}
.layout-mod-txt .dis{color:#333}
.layout-mod-txt .opt{color:#999}
.layout-mod-txt .opt b{color:#f68300;font-weight:700}
.layout-mod-goto a{display:block;color:#333;background:url(../../images/tao/btn_70_29_g.png) no-repeat;width:70px;height:29px;text-align:center;line-height:27px;line-height:31px\9;_line-height:27px;overflow:hidden}
.layout-mod-goto a:hover{background-position:0 -29px;text-decoration:none}
/*duihuan center e*/

/*mask*/
.pop-mask{display:none;position:fixed;_position:absolute;width:100%;height:100%;top:0;left:0;opacity:0.25;filter:alpha(opacity=25);z-index:999;background:#000}

/*pop*/
.pop{display:none;position:fixed;_position:absolute;z-index:1000;width:693px;height:438px;border:1px solid #d6d6d6;background:#fff;padding:0 15px;left:50%;top:50%;margin:-220px 0 0 -362px}
.pop-hd{height:40px;border-bottom:1px dotted #e2e2e2;overflow:hidden;position:relative}
.pop-hd h3{line-height:40px;line-height:44px\9;_line-height:40px;font-weight:700;color:#666}
.pop-hd a{background:url(../../images/tao/history/closed.gif) no-repeat;position:absolute;width:16px;height:16px;right:0;top:11px;text-indent:-99em;overflow:hidden}
.pop-hd a:hover{background-position:0 -16px}
.pop-bd{padding:20px 0 0}
.pop-bd .pop-bd-pic{float:left;width:207px;padding:8px;border:1px solid #eee}
.pop-bd .pop-bd-box{float:right;width:435px}
.pop-bd .pop-tit{font:700 18px/28px \5fae\8f6f\96c5\9ed1;height:25px;overflow:hidden;margin:0 0 3px}
.pop-bd .pop-par{height:20px;line-height:20px;color:#666}
.pop-bd .pop-par b{color:#f68300;font-weight:700}
.pop-bd .pop-form{margin:10px 0 0}
.pop-bd .pop-form label{height:32px;line-height:32px;overflow:hidden;color:#999;display:block}
.pop-bd .pop-form input{width:228px;height:16px;border:1px solid #ccc;line-height:16px;padding:10px;box-shadow:1px 1px 3px #eee inset;outline:none}
.pop-bd .pop-goto{margin:10px 0 0}
.pop-bd .pop-goto a{display:block;color:#fff;background:url(../../images/tao/history/btn_70_29_o.png) no-repeat;width:70px;height:29px;text-align:center;line-height:27px;line-height:31px\9;_line-height:27px;overflow:hidden}
.pop-bd .pop-goto a:hover{background-position:0 -29px;text-decoration:none}
.pop-bd .pop-dis{color:#666;line-height:20px;margin:10px 0 0}
.pop-bd .pop-dis strong{font-weight:700}
.pop-bd .pop-error{color:#f00;margin:5px 0 0}
.pop-bd .pop-opt{color:#666;font-weight:700;margin:15px 0 0}
.pop-bd .pop-opt-list{color:#666}
.pop-bd .g a{color:#f68300;font-family:arial}
.pop-bd .d a{display:inline-block;background:url(../../images/tao/history/app.png) no-repeat;text-indent:-99em;height:42px;margin:5px;overflow:hidden}
.pop-bd .d a.app{background-position:-240px 0;width:133px}
.pop-bd .d a.and{background-position:-240px -60px;width:120px}
.pop-bd .d a.app:hover{background-position:-240px -120px}
.pop-bd .d a.and:hover{background-position:-240px -180px}
.opt-suc,.opt-err{display:none}

/*pop-suc*/
.pop-suc{display:none;position:fixed;_position:absolute;width:356px;height:166px;border:1px solid #ccc;background:#fff;left:50%;top:50%;margin:-84px 0 0 -179px;z-index:1010}
.pop-suc p{background: url(../../images/tao/history/suc.png) no-repeat 45px 55px;padding:50px 0 0 120px;font-size:14px}
.pop-suc p em{font-style:normal;color:#f00}

/*tomorrow s*/
.mask{position:absolute;top:0;left:0;width:232px;height:316px;background-color:#92b125;opacity:0;filter:alpha(opacity=0);cursor:default;}
.mod .mod-buy .soon-sell{width:80px;height:33px;background:url(../../images/tao/soon_sell.png) no-repeat scroll 0 0;font-size:0;line-height:0;overflow:hidden;}
/*tomorrow s*/


#downList {top: 33px;left: 250px;}


/* 面包屑 */
.crumb { font-family:\5FAE\8F6F\96C5\9ED1; margin-bottom: 20px; }
.crumb { line-height: 30px; height: 30px;  font-size:14px;  _height:31px; _overflow: hidden; }
.crumb div { float:left;}
.crumb a { color:#666; }
.crumb a:hover { color:#eb7e00;}
.crumb span { font-family: '宋体'; padding:0 5px; }
.crumb strong { color: #666; position: relative; height:29px;  float:left; }
.crumb .r a {  font-family: '宋体'; font-size:12px; padding-left: 17px; background-position: 0px -356px; color:#eb7f00;}
.crumb.noline,.crumb.noline strong { border-bottom: none;}
.crumb em {color: #ff0042; }
.crumb.icon { background-position: 0px -413px; padding-left: 22px;}

.deal-img{position:relative;}
.logo-water-icon{position:absolute;bottom:42px;}

.tao-intro-new{padding:0;width:209px;}