.popwindow-share,#share-auth{position:fixed;_position:absolute;top:50%;left:50%;z-index:9999;width:526px;/*height:350px;*/margin-left:-280px;padding:48px 17px 25px;border:1px solid #b7b1aa;background:#fff;line-height:14px;zoom:1;
    -webkit-box-shadow:0 0 6px #D4D4D4;-moz-box-shadow:0 0 6px #D4D4D4;box-shadow:0 0 6px #D4D4D4;
}
#share-auth{width:800px;height:460px;border-color:#e4e4e4;margin:-280px 0 0 -400px;padding:0;}
.popwindow-share-close{position:absolute;top:6px;right:6px;width:29px;height:29px;background-image:url(/static/public/sea-modules/m/share/1.0.0/img/popwindow-share.png); background-repeat:no-repeat;background-position:0 0;cursor:pointer;}
.popwindow-share-close:hover{background-position:-33px 0}
.popwindow-share-insert h3{position:relative;margin-bottom:6px;color:#333;font-weight:bold;font-size:14px;line-height:16px;zoom:1}
.popwindow-share-insert span{position:absolute;right:0;bottom:0;color:#999;font-size:12px;line-height:13px;}
.popwindow-share-insert span b{font-size:20px;line-height:21px;font-family:Arial;vertical-align:-2px;}
.popwindow-share-insert textarea{width:518px;height:80px;padding:3px;border:1px solid #d8d8d8;color:#999;resize:none}
.popwindow-share-insert p{padding-top:12px; width:500px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.popwindow-share-insert p a{margin-left:2px;color:#0869a1;}
.ov{overflow:hidden}
.popwindow-share-picbox{position:relative;width:426px;overflow:hidden;margin:0 auto;padding:0 32px;}
.popwindow-share-picbox .ov{position:relative;width:424px;height:100px;margin:0 auto;}
.popwindow-share-cont{width:9000px;}
.popwindow-share-cont span{display:inline;position:relative;float:left;margin:0 3px;border:1px solid #cdcdcd;cursor:pointer}
.popwindow-share-cont span s{display:none;position:absolute;right:4px;bottom:4px;width:24px;height:24px;background:url(/static/public/sea-modules/m/share/1.0.0/img/popwindow-share.png) no-repeat right 0;}
.popwindow-share-cont span img{width:98px;height:98px;}
.popwindow-share-cont span.cur{border-color:#ff8816}
.popwindow-share-cont span.cur s{display:block;}
.popwindow-share-cont img{display:block}
.popwindow-share-pic-next,.popwindow-share-pic-prev{position:absolute;top:0;width:22px;height:100px;background:#e4e4e4;cursor:pointer}
.popwindow-share-pic-next u,.popwindow-share-pic-prev u{position:absolute;top:50%;left:50%;width:12px;height:22px;margin:-11px 0 0 -6px;background-image:url(/static/public/sea-modules/m/share/1.0.0/img/popwindow-share.png);}
.popwindow-share-pic-prev{left:0;}
.popwindow-share-pic-next{right:0;}
.popwindow-share-pic-next:hover{background-color:#bfbfbf}
.popwindow-share-pic-prev:hover{background-color:#bfbfbf}
.popwindow-share-pic-next u{background-position:-82px 0}
.popwindow-share-pic-prev u{background-position:-67px 0}
.popwindow-share-pic p{padding:14px 0 12px;}
.popwindow-share-pic p input{margin-right:4px;vertical-align:-2px}
.popwindow-share-btbox{margin-top:22px;padding-top:12px;border-top:1px dashed #ececec;}
.popwindow-share-btbox span{float:right;width:109px;height:27px;padding-top:9px;background-image:url(/static/public/sea-modules/m/share/1.0.0/img/popwindow-share.png);background-position:0 -73px;color:#fff;font-size:18px;line-height:19px;font-family:Microsoft YaHei, "微软雅黑";text-align:center;cursor:pointer;}
.popwindow-share-btbox span:hover{background-position:0 -34px;}
.popwindow-share-btbox a{display: inline-block;margin-top:10px;padding-left:20px;line-height:16px;color:#0869A1;background:url(/static/public/sea-modules/m/share/1.0.0/img/share_transit.png) no-repeat left center;}

/*分享ICON*/
.box-popShare{display:inline-block;_display:inline;font-size:0;}
.box-popShare span{display:inline-block;width:24px;height:24px;margin:0 3px;background-image:url(/static/public/sea-modules/m/share/1.0.0/img/bg_share.png);background-repeat:no-repeat;cursor:pointer}
.share-sina{background-position:-29px 0}
.share-qzone{background-position:0 0}
.share-weibo{background-position:-58px 0}
.share-weixin{background-position:-87px 0}

.box-popShare.type2 span {background-image:url(/static/public/sea-modules/m/share/1.0.0/img/bg_share2.png); width:32px; height: 32px;}
.box-popShare.type2 .share-sina{background-position:0 0}
.box-popShare.type2 .share-qzone{background-position:-37px 0}
.box-popShare.type2 .share-weibo{background-position:-74px 0}
.box-popShare.type2 .share-weixin{background-position:-111px 0}