/*通用顶部 -Start-Gaotian-20131225*/
.header-rearch-submit{background:#db000f}
.header-rearch-submit:hover {background:#b00000}
.header-nav-box li a:hover{background-color:#c5000d}
.header-nav-box{background:#db000f}
.header-nav-box li{border-color:#e2404b}
.header-nav-box .cur a, .header-nav-box .cur a:hover { background: none repeat scroll 0 0 #000000;  color: #FFFFFF;}
.header-tools-search .header-search-content{}
.header-search-content #scbar_txt{border:none; border:1px solid #c8c8c8;}
.header-nav-back s{border-left-color:#db000f}
/*通用顶部 -End-Gaotian-20131225*/
/* public */
.mat20{ margin-top: 20px;}
.mab20{ margin-bottom: 20px;}
.col-main { width:764px; float:left;}
.col-sub { width:196px;float:right; margin-top: 30px; }

.container,.wraper  { width:980px; margin:0 auto; padding:10px 0 30px; }


/*首页*/
.index-banner { height: 348px; padding-top: 10px; margin-bottom: 20px; }
.index-banner .banner { width:575px; margin-left: 10px; float:left; }
.index-banner .banner-info { width:195px; float:left; }
.index-banner .banner-info .bg-index { height:210px;}
.index-banner .banner-info span { display: block; padding-top: 10px;}
.index-banner .banner div img { margin-right: 10px; float:left;}
.index-banner .banner div img.last { margin-right:0px;}

.index-panel { margin-bottom: 20px; }
.index-panel h2 { height: 32px; margin-bottom: 20px; padding-top: 8px; background: url("../../../images/haiwai/america/index/bg-panel-h2.png") repeat-x bottom; }
.index-panel h2 span { display: block; background: url("../../../images/haiwai/america/index/bg-index.png") no-repeat; height:22px; text-indent: -9999px; margin: 4px 0 0 15px; }
.index-panel h2 span.p1 { width:112px; background-position: 0px -373px; }
.index-panel h2 span.p2 { width:112px; background-position: 0px -310px; }
.index-panel h2 span.p3 { width:112px; background-position: 0px -340px; }
.index-panel .list-pic li { padding-bottom: 20px; text-align: center; width:186px; border:1px solid #fff; margin-right: 10px; float:left; }
.index-panel .list-pic li.last { margin-right: 0; float:right;}
.index-panel .list-pic li:hover { border-color:#db000f;}
.index-panel .list-pic p { height:38px; padding: 0 10px;}
.index-panel .list-pic strong { display: block; color:#db000f; font-size:14px; font-family:\5FAE\8F6F\96C5\9ED1; font-weight:bold; padding: 5px 0; }
.index-panel .list-pic .btn { display:inline-block; width:84px; height: 20px; background:#ffa89c; color:#fff; }
.index-panel .list-pic .btn:hover { background: #ff8574; text-decoration: none;}
.index-panel .list-pic .btn em { font-family:\5B8B\4F53;}
.index-panel .list-pic img { border:1px solid #ccc;}

.index-panel .list-show li  { width:176px; float:left; margin-right: 25px; position: relative;}
.index-panel .list-show li.last { margin-right: 0;}
.index-panel .list-show li a {  display: block; height: 420px; }
.index-panel .list-show li a span { display: none; cursor:pointer; height:90px; line-height: 90px; font-family:\5FAE\8F6F\96C5\9ED1; font-size:16px; font-weight: bold; text-align: center; color:#fff; background: url("../../../images/haiwai/america/index/bg-alapha.png"); _background: #000;  position: absolute; top:160px; left:0; width:100%;}
.index-panel .list-show li a:hover span { display: block; }

.banner-small{}
.banner-small ul{list-style: none;}
.banner-small ul li{float: left;width: 286px;height: 98px; border:1px solid #f3f3f3;margin-right: -1px}

.item-hot{}
.item-hot dl{list-style: none;padding-left: 200px;}
.item-hot dl dt{display: inline;width: 180px;height: 187px;float: left;margin-left:-200px;  background-position: 0 -63px;}
.item-hot dl dd{float: left;width: 180px;margin-right: 20px;}
.item-hot dl dd p{padding: 10px 0px;height: 30px}
.item-hot dl dd i{font-style: normal;color: #db000f;font-weight: bold;}
.item-hot dl dd img{border:1px solid #e5e5e5; border-radius: 90px;-moz-border-radius: 90px;-webkit-border-radius: 90px;}
.item-hot .no{margin-right: 0;}

.column-tab{padding-bottom: 10px;}
.column-tab .column-tab-title{border-bottom: 2px solid #000;}
/*.column-tab .column_tab_item{font-size: 14px; display: block;float: left;width:167px;border-left: 1px solid #efefef;border-top: 1px solid #efefef;border-right: 1px solid #efefef;height: 28px;margin-right:-1px;line-height: 28px; text-align:center;background: #fafafa;cursor: pointer;}

.column-tab .column_tab_item_selected{font-size: 14px; display: block;color: #fff; float: left;width:167px;height: 28px;margin-right:-1px;line-height: 28px; text-align:center;background: #000;cursor: pointer;border-left: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;}*/

.column-tab .column-tab-title ul li{font-size: 14px; display: block;float: left;width:167px;border-left: 1px solid #efefef;border-top: 1px solid #efefef;border-right: 1px solid #efefef;height: 28px;margin-right:-1px;line-height: 28px; text-align:center;background: #fafafa;cursor: pointer;}

.column-tab .column-tab-title ul .hover{background: #000;color: #fff;border-left: 1px solid #000;border-top: 1px solid #000;border-right: 1px solid #000;}

.column-tab .column-tab-content{display: none}
/*.column-tab .cur{display: block}*/
.column-tab .hover{display: block}
.column-con{list-style: none;padding-left: 168px;}
.column-con dt{float: left;width: 168px;margin-left: -168px;display: inline;background: #f1f1f1;height: 391px;overflow: hidden;}
.column-con dt span{display: block;margin: 20px;}
.column-con dt h4,.item-hot dl dt{margin-bottom: 10px; background-image: url(../../../images/haiwai/america/index/bg-index.png);background-repeat: no-repeat;text-indent: -9999em;}
.column-con dt .t1{background-position: -337px -184px; }
.column-con dt .t2{background-position: -337px -124px; }
.column-con dt .t3{background-position: -337px -32px; }
.column-con dt .t4{background-position: -337px -214px; }
.column-con dt .t5{background-position: -337px -245px; }
.column-con dt .t6{background-position: -337px -276px; }
.column-con dt .t7{background-position: -337px -304px; }
.column-con dt .t8{background-position: -337px -332px; }
.column-con dt a{color: #999999;display: inline-block;_zoom:1;_display: block; padding: 0px 5px 10px 0px}
.column-con dt a:hover{text-decoration: none;}
.column-con dd{position: relative;float: left;border: 1px solid #f1f1f1;border-top:none;border-left:none;display: block;width: 202px;height: 194px;overflow: hidden;}

.column-con dd a {  display: block; height: 194px; }
.column-con dd a:hover{text-decoration: none;}
.column-con dd a span { display: none;padding:58px 10px 10px; cursor:pointer; height:174px;width: 182px; text-align: center; color:#fff; background: url("../../../images/haiwai/america/index/bg-alapha.png"); _background: #000;  position: absolute; top:0; left:0; line-height: 25px;}
.column-con dd a span b{font-family:\5FAE\8F6F\96C5\9ED1;font-size: 16px;}
.column-con dd a:hover span { display: block; overflow: hidden;}
/*替换商品分类标题样式*/
.all-cate h2{ padding-top: 20px; height:50px; background:#f1f1f1 url(../../../images/haiwai/america/index/bg-index.png) no-repeat 0px 15px; text-indent: -9999px;}

.amirecan-list{float: left;width: 210px;margin-right: 46px;}
.amirecan-list p{padding: 10px 0;height: 30px;}
.amirecan-list i{font-style: normal;color: #db000f;font-weight: bold;}
.amirecan-list-no{margin-right: 0}
/*slider box*/
div.slideBox{ position:relative; width:575px; height:250px; overflow:hidden;}
div.slideBox ul.items{ position:absolute; float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li{ float:left; background:none; list-style:none; padding:0px; margin:0px;}
div.slideBox ul.items li a{ float:left; line-height:normal !important; padding:0px !important; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox ul.items li a img{ margin:0px !important; padding:0px !important; display:block; border:none/*For IE.ADD.JENA.201206300844*/;}
div.slideBox div.tips{ position:absolute; bottom:0px; width:100%; height:50px; overflow:hidden;}
div.slideBox div.tips div.title{ position:absolute; left:0px; top:0px; height:100%;}
div.slideBox div.tips div.title a{ color:#FFF; font-family: \5FAE\8F6F\96C5\9ED1; font-size:14px; line-height:50px; margin-left:10px; text-decoration:none;}
div.slideBox div.tips div.title a:hover{ text-decoration:underline !important;}
div.slideBox div.tips div.nums{ position:absolute; right:0px; top:0px; height:100%;}
div.slideBox div.tips div.nums a{ display:inline-block; >float:left/*For IE.ADD.JENA.201206300844*/; width:12px; height:12px; background-color:#FFF; text-indent:-99999px; margin:20px 10px 0px 0px; overflow: hidden;}
div.slideBox div.tips div.nums a.active{ background-color:#ff2e29;}

/*搜索无结果页*/
.result-nothing{height:450px;background:url(../../../images/haiwai/search/err.jpg) no-repeat 120px 50%;margin:0;position:relative}/*bg-result-nothing.png*/
.result-nothing .tip,#result-nothing .tit,#result-nothing .back{position:absolute;}
.result-nothing .tip{left:0;top:0}
.result-nothing .tit{left:0;bottom:0}
.result-nothing .back{left:445px;top:220px;font-size:14px;font-family:\5b8b\4f53;line-height:18px;font-weight:400;position: absolute; color:#666;}
.result-nothing .back a{font-weight:700;color:#333;font-family:\5fae\8f6f\96c5\9ed1;font-size:16px;}
.result-nothing .back em {color: #fe7c28;font-style: normal;max-width: 135px;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;_width: expression(this.offsetWidth > 135 ? '135px': true); }
.result-nothing .back strong {color: #fe7c28;}
.result-nothing h2,.nosearch h2 { font-size:20px; font-family:\5fae\8f6f\96c5\9ed1; color:#000; font-weight: bold; margin:20px 0;}

.nosearch-pro { background: none; overflow: hidden; }
.nosearch-pro .cols { margin-right: -12px;}
.nosearch-pro .list { width:224px; height:310px; overflow: hidden; padding: 10px; margin-right: 12px; margin-bottom: 12px; float:left; border:1px solid #d6d6d6; }
.nosearch-pro .list:hover,.nosearch .list.hover { border-color:#ff9c0f;}
.nosearch-pro .list p { font-size:14px; height:48px; line-height: 24px; font-weight: bold; overflow: hidden;}
.nosearch-pro .list .pic { height:214px; overflow: hidden;}
.nosearch-pro .list .btn { height: 46px; background: #ff9c0f; color:#fff; padding:0 6px; overflow: hidden;}
.nosearch-pro .list .btn i {font:30px/46px tahoma; text-shadow:2px 1px 1px #e98900; display: block; float:left; }
.nosearch-pro .list .btn i b { font-size:18px; font-family: Arial;}
.nosearch-pro .list .btn span { display: block; float:right; padding-top:8px; }
.nosearch-pro .list .btn span a { display: block; width:74px; height: 28px; text-align: center; background: #fff44c; font:14px/28px \5FAE\8F6F\96C5\9ED1; color:#993300; font-weight: bold;}


.nosearch { background: none; overflow: hidden; }
.nosearch .cols { margin-right: -12px;}
.nosearch .list { width:160px; height:250px; overflow: hidden;   margin-right: 30px; margin-bottom: 12px; float:left;  }
.nosearch .list:hover,.nosearch .list.hover { border-color:#ff9c0f;}
.nosearch .list p { line-height: 24px; overflow: hidden;}
.nosearch .list p a.more { color:#DB000F;}
.nosearch .list .pic { height:160px; overflow: hidden; margin-bottom:10px;}
.nosearch .list span a { font-size:14px; font-family:\5fae\8f6f\96c5\9ed1;}
.nosearch .list .btn { height: 46px; background: #ff9c0f; color:#fff; padding:0 6px; overflow: hidden;}
.nosearch .list .btn i {font:30px/46px tahoma; text-shadow:2px 1px 1px #e98900; display: block; float:left; }
.nosearch .list .btn i b { font-size:18px; font-family: Arial;}
.nosearch .list .btn span { display: block; float:right; padding-top:8px; }
.nosearch .list .btn span a { display: block; width:74px; height: 28px; text-align: center; background: #fff44c; font:14px/28px \5FAE\8F6F\96C5\9ED1; color:#993300; font-weight: bold;}
/*美国馆资讯搜索结果页 */
.col-main-v2{ width: 685px; float: left;}
.col-sub-v2{ width: 264px; float: right;margin-top: 30px;}
.list-search-result-v2{ margin-bottom: 20px; padding-top: 30px;}
.list-search-result-v2 dl.gs-list{ margin-bottom: 20px;}
.list-search-result-v2 dl.gs-list dd.tit{ height: 33px; border-bottom: 1px #ddd dotted; overflow: hidden; *zoom:1;}
.list-search-result-v2 dl.gs-list dd.tit p{ color:#999; float: right; margin-top: 6px;}
.list-search-result-v2 dl.gs-list dd.tit h3{ font-size: 18px;font-family:\5fae\8f6f\96c5\9ed1; font-weight: bold; color: #333;}
.list-search-result-v2 dl.gs-list dd.cont p{ line-height: 20px; margin-top: 6px; color:#666666;}
.list-search-result-v2 dl.gs-list dd.cont p a{ color:#eb7e00;}
.hw-data-news{ border:1px #d6d6d6 solid; margin-top: 30px; position: relative; padding: 10px 12px;}
.hw-data-news strong{ width: 75px; height: 24px; position: absolute; top: -12px; background: #fff; text-align: center; font-size: 16px;font-family:\5fae\8f6f\96c5\9ed1; font-weight: bold;}

.hw-data-news dl dt{ line-height: 22px; padding: 8px 0; border-bottom: 1px #c4c4c4 dotted;overflow: hidden; zoom:1;}
.hw-data-news dl dt em{ color: #db000f; float: left; font-size: 14px; margin-top: 4px; margin-right: 6px; font-weight: bold;}
.hw-data-news dl dd{ overflow: hidden; zoom:1; padding: 20px 0; height: 102px;border-bottom: 1px #c4c4c4 dotted; display: none;}
.hw-data-news dl dd img{ width: 100px; height: 100px; border:1px #ddd solid; float: left; margin-right: 10px; display: inline;}
.hw-data-news dl dd p{ line-height: 20px; color: #666666;}

.mod-list { border:1px solid #ddd; margin-bottom: 20px;}
.mod-list h3.mod-hd { border-bottom: 1px solid #ddd; color: #000;  font: 700 16px/40px "\5FAE\8F6F\96C5\9ED1"; height: 40px;padding-left: 16px; }
.mod-buy-list ul { padding:0 16px;}
.mod-buy-list li {  border-bottom: 1px dashed #ECECEC; overflow: hidden;padding: 15px 0; *zoom:1;}
.mod-buy-list li.last { border-bottom:none;}
.mod-buy-list .pic {  float: left; width: 50px;}
.mod-buy-list .txt { float:right; width:100px;}
.mod-buy-list .txt p { color: #999;line-height: 16px;}
.mod-buy-list .txt em { display: block; padding-top: 6px; color:#db000f; font-size:14px; font-family: \5FAE\8F6F\96C5\9ED1;  }

/* page */
.page{width:100%;height:38px;text-align:center;font-family:arial,tahoma; padding:15px 0;}
.page div{margin:0 auto;display:inline-block;* display:inline;* zoom:1}
.page a,.page span{float:left;margin:2px 5px 0;display:inline;text-align:center}
.page a{border:1px solid #d4d4d4;color:#666;width:32px;height:32px;line-height:32px;background:#fff;border-radius:3px;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span{height:32px;line-height:32px; width:auto; font-family:tahoma;}
.page a.prev,.page a.next{font-size:14px;font-family:\5b8b\4f53}
.page a.first,.page a.last{width:43px}
.page a:hover{color:#fff;background-color:#333;background-image:none;border-color:#333;text-decoration:none;box-shadow:none}
.page .cur{color:#fff;background:#333;font-family:arial;border-radius:3px;cursor:default; border:1px solid #333;}
.page a.dis{color:#cccccc}
.page a.dis:hover{color:#cccccc;cursor:default;border:1px solid #d4d4d4;background-color:#fff;background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);background-image: -ms-linear-gradient(top, #fefefe, #f7f7f7);background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);background-image: linear-gradient(top, #fefefe, #f7f7f7);}
.page span.point{color:#aeaeae;font-size:16px;line-height:180%;}
.page .all,.page  span.go{color:#999;font-family:arial;padding-right:10px;width:50px;margin-right:0;text-align:right;font-family:\5b8b\4f53}
.page .page-input{font-family:\5b8b\4f53;width:74px;height:20px;margin:9px 0 0;}
.page .page-input input{width:41px;text-align:center;padding:2px 0;height:14px;line-height:14px;float:left;vertical-align:middle;color:#999;font-size:12px;border:1px solid #333;}
.page .page-input a{float:left;width:29px;height:18px;float:left;color:#fff;background:#333;border:1px solid #333;line-height:18px;margin:0;border-radius:0 3px 3px 0;box-shadow:none}
.page  span.go{padding:0;width:25px;text-align:center;margin:0}
.page span.go { margin-top: 2px;}




.jcarousel-wrapper {position: relative;}

.jcarousel-pagination-list a,.jcarousel-pagination a,.jcarousel-pagination-list a.active{background-image: url(../../../images/haiwai/america/index/bg-index.png);background-repeat: no-repeat;}
/** Carousel **/
.jcarousel {position: relative;overflow: hidden;width: 575px;height: 250px;}
.jcarousel ul {width: 20000em;position: relative;list-style: none;margin: 0;padding: 0;}
.jcarousel li {float: left;}


/** Carousel Pagination **/

.jcarousel-pagination {position: absolute;bottom: 10px;right: 15px;}
.jcarousel-pagination a {text-decoration: none;display: block;float:left;width: 12px;height: 12px;background-position:-8px -527px ;margin-right: 15px; text-indent: -99999em}
.jcarousel-pagination a.active {background-position:-49px -527px;}


.jcarousel-list-wrapper {position: relative;}
/** Carousel **/
.jcarousel-list {position: relative;overflow: hidden;width: 980px;}
.jcarousel-list ul {width: 20000em;position: relative;list-style: none;margin: 0;padding: 0;}
.jcarousel-list li {float: left;width: 980px;height:320px}


/** Carousel Pagination **/

.jcarousel-pagination-list {position: absolute;top: -40px;right: 15px;}
.jcarousel-pagination-list a {text-decoration: none;display: block;float:left;width: 15px;height: 15px;background-position: -38px -576px;margin-right: 15px; text-indent: -99999em;}
.jcarousel-pagination-list a.active {background-position:-8px -576px;}


