.header-nav-box .wp { width:1200px; margin:0 auto;}

/* topbar */
.topbar{min-width:1200px;}
.topbar-inner{width:1200px;margin:0 auto;}
.topbar-user-login{width:auto;}
/*新版顶部调整 - Start - Gaotian -20131213*/
.cfx:after,.cfx:before{content:" ";display:table;}.cfx:after{clear:both;}.cfx{*zoom:1;}
.header-box{width:1200px;margin:0 auto;padding-top:15px;position:relative;z-index:1;}
/*搜索框*/
.header-tools-search{position:relative;z-index:10;float:left;_display:inline;margin:17px 0 0 0;}
.header-tools-search .header-search-content{display:inline-block;*display:inline;border:2px solid #fff;float:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    vertical-align:top;
    zoom:1;
}
.header-tools-search .header-search-key{
    color: #999; font-size: 12px; vertical-align: top; padding:8px 10px 8px 30px;
    *margin-top: -1px;
    _margin-top: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

    height:15px;line-height:15px;width:390px;background:url(../images/nav_line.png) no-repeat scroll 8px -110px;_background-image:url(../images/nav_line8.png);
    border:1px solid #76ba5f;
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
}
.header-rearch-submit{margin-left:-2px;*margin-left:-3px;_margin-top:1px;display:inline-block;width:74px;height:33px;border:0 none;cursor:pointer;background:#76BA5F;}
.header-rearch-submit:hover{background:#509F3B;}
.focusin{color:#000;}
.header-doctor-tip{float:left;width:186px;height:62px;background:url(../images/bg_tips.png) no-repeat;margin:11px 32px 0 18px;}
.header-doctor-hotline{float:right;width:85px;height:22px;padding:26px 0 0 115px;background:url(../images/bg_hotline.png) no-repeat;margin-top:11px;}
.header-doctor-hotline a{display:block;height:22px;font-size:0;line-height:0;color:rgba(0,0,0,0);}
/*导航*/
.header-nav-box{margin-top:10px;background-color:#5a9e41;font-family:Microsoft YaHei;font-size:16px;}
.header-nav-back{float:left;position:relative;z-index:2;width:269px;background:#6bb252;}
.header-nav-back a{display:block;width:269px;color:#fff;text-indent:22px;font-weight:bold;}
.header-nav-back a:hover{color:#fff;}
.header-nav-box ul{float:left;position:relative;z-index:1;}
.header-nav-box li{display:inline-block;width:auto;float:left;position:relative;text-align:center;border-left:1px solid #97ba87;}
.header-nav-box li a{width:98px;height:46px;line-height:46px;color:#fff;padding:0 15px;zoom:1;display: inline-block;}
.header-nav-box li a i{position:absolute;top:23px;right:10px;display:inline-block;width:8px;height:5px;font-size:0;overflow:hidden;cursor:pointer;background:url(../images/bg_arrow.png) no-repeat;
    -webkit-transition:-webkit-transform 0.3s ease-in-out 0s;
    -moz-transition:-moz-transform 0.3s ease-in-out 0s;
    -ms-transition:-ms-transform 0.3s ease-in-out 0s;
    -o-transition:-o-transform 0.3s ease-in-out 0s;
    transition:transform 0.3s ease-in-out 0s;
}
.header-nav-box li.cur a, .header-nav-box li a:hover, .header-nav-box li.hover a{color:#F5FF00;background:#498D35;}
.header-nav-box li a.w45{width:45px;}
.header-nav-box li.hover a i{*background-position:0 -5px;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
.header-nav-box .b5m-sex{position:absolute;width:75px;top:46px;left:0;background:#498D35;}
.header-nav-box .b5m-sex a{display:block;width:75px;padding:0;text-align:center;font-size:12px;height:32px;line-height:32px;color:#fff;}
.header-nav-box li.hover .b5m-sex a{color:#fff;}
.header-nav-box .b5m-sex a:hover{color:#fff;text-decoration:underline;}
/*新版顶部调整 - End - Gaotian -20131213*/
.left-toolbar{display: none;}
.footer img{display: inline;}