.head-city{display:inline;float:left;margin:40px 0 0 16px;color:#333;font-size:16px;line-height:18px;font-family:Microsoft YaHei;}
.head-city b{font-weight:normal;}
.head-city .ico_city{display:inline-block;width:16px;height:27px;margin-right:6px;background:url(../../images/dai/bg.png) no-repeat 0 0;font-size:0;line-height:0;vertical-align:middle}
.head-city-change{float:left;margin:44px 0 0 20px;font-size:12px;line-height: 18px;}
.head-city-change a{display:inline-block;color:#656565;}
.head-city-change a i{display: inline-block;border:4px dashed transparent;border-top-style:solid;border-top-color:#000;font-size:0;line-height:0;height:0;vertical-align: middle;margin-left:3px;}
/*.wp, .wrap, .wraper{width:auto;}*/
.topbar-user-login{width:auto;_width:auto;}
.topbar-user{width:auto;}
.content {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 960px;
}
/*通用顶部 -Start-Gaotian-20131225*/
.header-nav-box{background:#00457B}
.header-nav-back s{border-left-color:#00457B}
.header-nav-box li{position: relative;border-color:#1A5888}
.header-nav-box li a{width:94px;}
.header-nav-box li a:hover{background-color:#024e9a}
.header-nav-box .cur a, .header-nav-box .cur a:hover{background:#f5f5f5;color:#4c4c4c}
/*通用顶部 -End-Gaotian-20131225*/