*html{background-image:url(about:blank);background-attachment:fixed}
em{font-style:normal}
#nav{height:52px;line-height:52px}
#nav .nav-menu{float:left;font-family:\5b8b\4f53}
#nav .nav-title{float:right;color:#666}
#nav .nav-title em{font-style:normal;color:#c6c6c6}
#nav a{color:#333}
#nav em{color:#248bcd;font-style:normal}

.col-main,.col-sub{float:left}
.col-main{width:100%;min-height:1px}
.main{word-break:break-all}

.geo-pic{display:table-cell;*display:inline-block;vertical-align:middle;text-align:center}
.geo-pic span{display:block;vertical-align:middle;text-align:center}
.geo-pic img{display:block;margin:auto}

.show-hd{height:36px;color:#525252;margin-bottom:20px}
.show-hd h1{font:16px/36px \5fae\8f6f\96c5\9ed1}

.show-bd .main{margin:0 0 0 330px}
.show-bd .col-sub{width:300px;margin-left:-100%}

.shop-show .show-price,.shop-show .show-trend,.shop-show .show-config{border-bottom:1px solid #ddd;padding-bottom:7px}
.shop-show .show-price{color:#525252}
.shop-show .show-price b,.shop-show .show-price em{color:#f4772c}
.shop-show .show-price b{font:700 14px arial;padding:0 0 0 10px}
.shop-show .show-price em{font:700 30px \5fae\8f6f\96c5\9ed1;padding:0 5px}
.shop-show .show-trend-text{height:44px;line-height:44px;color:#666}
.shop-show .show-trend-text em{color:#999;padding:0 10px}
.shop-show .show-trend-plug{}
.shop-show .show-config{color:#999;padding-top:6px}
.shop-show .show-config li{float:left;width:50%}
.shop-show .show-config span{display:block;background:url(../images/www/icon_for_3_3.gif) no-repeat left center;padding-left:10px;margin-top:5px;overflow:hidden}

.shop-show .score{margin:15px 0 7px}
.shop-show .score-pannel,.shop-show .score-pannel-on,.shop-show .score-comment,.shop-show .score-rate{float:left}
.shop-show .score-pannel{background:url(../images/www/star_g.png) no-repeat;width:59px;height:11px;margin:4px 8px 0 5px;overflow:hidden}
.shop-show .score-pannel-on{background:url(../images/www/star_o.png) no-repeat;height:11px}
.shop-show .score-comment{color:#666}
.shop-show .score-rate{background:url(../images/www/icon_for_12_12.gif) no-repeat 0 4px;padding-left:18px;margin:0 0 0 30px;color:#666;line-height:18px;line-height:20px\0;*line-height:20px;_line-height:18px}

.shop-show .show-tag{}
.shop-show .show-tag a{
	float:left;margin:8px 8px 0 0;display:inline;background:#f1f1f1;border:1px solid #ddd;color:#666;padding:0 5px;height:18px;line-height:18px;line-height:20px\0;*line-height:20px;_line-height:18px;overflow:hidden;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:-moz-linear-gradient( top,#fff,#ededed);
	background:-webkit-linear-gradient(top,#fff,#ededed);
	background:-o-linear-gradient(left,#fff,#ededed)}
.show-tag a:hover,.show-tag a.active{text-decoration:none;border-color:#f06723;color:#f4772c}
.shop-show .show-tag .cur{border-color:#f06723;color:#f4772c}

.show-pic{position:relative;height:330px}
.show-area{width:298px;height:298px;border:1px solid #ddd;position:relative;overflow:hidden}
.show-pic-list{position:absolute}
.show-pic .item{float:left;width:298px;height:298px}
.show-pic .geo-pic{width:298px;height:298px}
.show-pic .geo-pic span{width:298px}
.show-pic .geo-pic img{max-width:298px;max-height:298px;*width:expression(this.width>298 ? '298px':true);*height:expression(this.height>298 ? '298px':true);*margin-top:expression(149-this.height/2)}
.show-pic #prev,.show-pic #next,.show-pic #pic-num{position:absolute;bottom:0;width:12px;height:19px;text-indent:-99em}
.show-pic #prev,.show-pic #next{background:url(../images/www/arr_opt.png) no-repeat;width:12px;height:19px;overflow:hidden}
.show-pic #prev{left:105px}
.show-pic #next{background-position:-17px 0;right:105px}
.show-pic #prev:hover{background-position:0 -24px;cursor:pointer}
.show-pic #next:hover{background-position:-17px -24px;cursor:pointer}
.show-pic #pic-num{left:118px;width:68px;text-align:center;font:14px/19px arial;text-indent:0;color:#b9b9b9}
.show-pic #pic-num strong{color:#959595;font-weight:700}

.tab{margin-top:50px}
.tab-hd{height:30px;border-bottom:2px solid #ff7d26;color:#666;position:relative}
.tab-hd li{float:left;width:98px;height:29px;line-height:29px;border:1px solid #d3d3d3;border-bottom:none;text-align:center;margin-right:5px;background:#fff;cursor:pointer;position:relative}
.tab-hd li.cur{background:#ff7d26;border-color:#ff7d26;color:#fff}
.tab-bd{overflow:hidden}
.tab-bd .tab-box{display:none}

.tab-filter{height:39px;border:1px solid #ddd;background:#f9f9f9;margin-top:-1px;padding:0 15px}
.tab-filter .shop-seq-item{float:left;margin:5px 15px 0 0;display:inline}
.tab-filter .shop-seq-item li{float:left;width:44px;height:24px;border:1px solid #d4d4d4;background:#fcfcfc;margin:0 0 0 -1px;display:inline;position:relative}
.tab-filter .shop-seq-item li a{color:#666;display:block;height:24px;line-height:24px;line-height:28px\0;*line-height:28px;_line-height:24px;text-align:center;overflow:hidden}
.tab-filter .shop-seq-item li a:hover,.tab-filter .shop-seq-item li.cur a{color:#f47920;text-decoration:none;text-align: center;}
.tab-filter .shop-seq-item li.cur{background:#f2f2f2}
.tab-filter .shop-seq-item li.first{border-top-left-radius:3px;border-bottom-left-radius:3px}
.tab-filter .shop-seq-item li.last{border-top-right-radius:3px;border-bottom-right-radius:3px;}
.tab-filter .shop-seq-item li.last img{position:absolute;right:8px;top:8px;display:block}

.tab-shop-item{border-bottom:1px solid #ddd;position:relative;height: 109px;overflow: hidden;}
.tab-shop .shop-logo,.tab-shop .shop-list,.tab-shop .shop-info,.tab-shop .shop-ratio,.tab-shop .shop-support,.tab-shop .shop-goto{float:left}
.tab-shop .shop-list{margin-bottom:-1px;width:818px}
.tab-shop .shop-list li{border-bottom:1px dotted #ddd;padding:20px 0;float:left;width:100%;overflow:hidden;}
.tab-shop .shop-logo{width:100px;padding:10px 0 0 20px}
.tab-shop-item{border-bottom:1px solid #ddd;position:relative;overflow: hidden;float:left;}
.tab-shop .shop-logo,.tab-shop .shop-list,.tab-shop .shop-info,.tab-shop .shop-ratio,.tab-shop .shop-support,.tab-shop .shop-goto{float:left}
.tab-shop .shop-list{margin-bottom:-1px;width:818px;position: relative;}
.tab-shop .shop-list li{border-bottom:1px dotted #ddd;padding:20px 0;float:left;width:100%;overflow:hidden;}

.tab-shop .shop-logo{width:100px;padding:10px 0 10px 20px}
.tab-shop .shop-logo .geo-pic{width:100px;height:50px}

.tab-shop .shop-list li.no-border-bottom{border-bottom: none;}
.tab-shop .shop-logo{width:100px;padding:10px 0 10px 20px}
.tab-shop .shop-logo .geo-pic{width:100px;height:50px;color: #666;}
.tab-shop .shop-logo .geo-pic span{width:100px}
.tab-shop .shop-logo .geo-pic img{max-width:100px;max-height:50px;*width:expression(this.width>100 ? '100px':true);*height:expression(this.height>50 ? '50px':true);*margin-top:expression(25-this.height/2)}
.tab-shop .shop-info{width:250px;padding:0 0 0 20px;line-height:20px;color:#666;overflow:hidden}
.tab-shop .shop-info a{color: #666;}
.tab-shop .shop-info a:HOVER{color: #F47920;}
.tab-shop .shop-ratio,.tab-shop .shop-support{width:120px;padding:0 0 0 100px}
.tab-shop .shop-ratio{color:#f4772c;margin:5px 0 0}
.tab-shop .shop-ratio b{font:700 14px arial;}
.tab-shop .shop-ratio em{font:700 16px \5fae\8f6f\96c5\9ed1;padding:0 5px}
.tab-shop .shop-support{color:#666;line-height:23px}
.tab-shop .shop-goto{margin:5px 0 0}
.tab-shop .shop-goto .par,.tab-shop .shop-goto .buy{display:inline-block;width:70px;height:29px;line-height:27px;text-align:center;margin:0 auto 8px}
.tab-shop .shop-goto .par{background:url(../images/www/btn_70_29_g.png) no-repeat;color:#666}
.tab-shop .shop-goto .buy{background:url(../images/www/btn_70_29_o.png) no-repeat;color:#fff}
.tab-shop .shop-goto a:hover{text-decoration:none;background-position:0 -29px}
.tab-shop .flat,.tab-shop .high,.tab-shop .low{background:url(../images/www/trend.gif) no-repeat 100% 0}
.tab-shop .low{background-position:100% -39px}
.tab-shop .high{background-position:100% -78px}
.tab-shop .opt{border:1px solid #ddd;position:absolute;left:140px;height:22px;top:0;line-height:22px;color:#999;padding:0 5px;cursor:pointer;
	background:-moz-linear-gradient( top,#fff,#ededed);
	background:-webkit-linear-gradient(top,#fff,#ededed);
	background:-o-linear-gradient(left,#fff,#ededed)
}
.tab-shop .opt b{color:#f0631c;font-weight:400;padding-right:3px;top: 109px;}

.detail-page{padding:30px 0 0}

.tag{border-bottom:1px solid #ddd;padding-bottom:20px;margin-top:30px}
.tag h2,.has-tag h2{color:#666;font:400 14px \5fae\8f6f\96c5\9ed1}

.has-tag{border-bottom:1px solid #ddd;margin-top:10px;height:49px}
.has-tag h2,.has-tag .show-tag{float:left}
.has-tag h2{margin:10px 0 0;_margin:9px 0 0}
.has-tag b{font-family:\5b8b\4f53;font-weight:400;padding:0 0 0 3px}

.shop-comments{*width:938px}
.shop-comments ul{margin-bottom:-1px}
.shop-comments li{padding:20px 0;border-bottom:1px dotted #ddd}
.shop-comments li:hover{background:#fbfbfb}
.shop-comments .hd{position:relative;color:#bcbcbc;width:100%}
.shop-comments .hd a{float:left;color:#2489cd;text-decoration: none;cursor: text;}
.shop-comments .hd span{margin-left:100px;margin-right:100px;text-align:right;display:block}
.shop-comments .hd ins{text-decoration:none;position:absolute;right:0;top:0}
.shop-comments .bd{color:#666}

.shop-mod h2{font:700 14px/50px \5b8b\4f53;color:#525252}
.shop-mod-hd{height:30px;line-height:30px;background:#f3f3f3;color:#848484}
.shop-mod-hd li{float:left}
.shop-mod-hd .w1{width:285px;padding-left:45px}
.shop-mod-hd .w2{width:120px;padding-left:120px;text-align:center}
.shop-mod-hd .w3{width:120px;padding-left:120px}
.shop-mod-hd .w4{width:70px;text-align:center}

.tab-shop .spic{width:80px;padding:10px 0 10px 20px}
.tab-shop .spic .geo-pic{width:78px;height:78px;border:1px solid #eaeaea}
.tab-shop .spic .geo-pic span{width:78px}
.tab-shop .spic .geo-pic img{max-width:78px;max-height:78px;*width:expression(this.width>78 ? '78px':true);*height:expression(this.height>78 ? '78px':true);*margin-top:expression(39-this.height/2)}

.ad-banner{width:980px;margin:20px auto 0}

.details-parameters{border:1px solid #ddd;margin:20px 0 0}
.details-parameters th,.details-parameters td{height:32px;line-height:32px;padding:0 20px;border:1px solid #ddd}
.details-parameters thead td{background:#f1f1f1;font-size:14px;font-weight:700}
.details-parameters tbody th{text-align:left;width:130px;background:#f9f9f9}

.user-comment{border-bottom:1px solid #ddd;padding-bottom:20px}
.user-comment-hd{height:50px;line-height:50px}
.user-comment-hd h4{font-size:13px;font-family:microsoft yahei;color:#666}
.user-comment-hd em{font-weight:400;color:#999}
.user-comment-bd{height:118px;overflow:hidden}
.user-comment .comment-num{float:left;background:url(../images/www/bg_256_118.png) no-repeat;width:256px;height:118px;margin-left:40px;text-align:center}
.user-comment .comment-num .all,.user-comment .comment-num .num{line-height:38px}
.user-comment .comment-num .cur strong{color:#ff9e2d;font:400 48px/42px \5fae\8f6f\96c5\9ed1}
.user-comment .comment-star{float:left;margin-left:80px;width:180px}
.user-comment .comment-star label,.user-comment .comment-star img{float:left}
.user-comment .comment-star img{margin-top:3px}
.user-comment .comment-result li,.user-comment .comment-star li{height:24px}

.ajax_loading{background:url(../images/www/ajax-loader.gif) no-repeat 50% 15px transparent;height: 24px;text-align: center;padding-top: 60px;}
.hide{display:none}
.relative_shop .shop-list li{border:none;}

.overflow_text{height:36px;line-height:36px;text-align:center;color:#666;font-size:12px;}
.shang{width:13px;height:13px;overflow:hidden;padding-right:14px;background:url(../images/www/shang.png) right center no-repeat;}
.xia{width:13px;height:13px;overflow:hidden;padding-right:14px;background:url(../images/www/xia.png) right center no-repeat;}
.hideNode{display:none;}
#photo_price{width:426px;height:184px;background:#fff;position:absolute;z-index:100;border:2px solid #e5e5e7;}
#photo_price p{line-height:20px;height:20px;text-align:center;}

.shop-info .goods-pic{float:left;_display:inline;margin-right:12px;}
.shop-info .cell{display:table-cell;width:2000px;*display:inline-block;*width:auto;}
.tab-shop-item .opt a{padding-left:12px;color:#999;background:url(../images/www/plus.png) no-repeat scroll 0 4px;text-decoration: none;}
.tab-shop-item .close a{padding-left:12px;color:#999;background:url(../images/www/plus.png) no-repeat scroll 0 -42px;text-decoration: none;}
.btn-wrap a {display: inline-block; height: 28px; line-height: 26px; padding: 0 34px; border-width: 1px; border-style: solid;text-decoration: none;}
.go-buy {border-color: #F4772C; background-color: #FF9C0F; color: #fff; }
.go-compare{border-color: #A5A5A5; background-color: #B3B3B3; color: #fff; }
.show-bd .main{padding-right:230px;position: relative;}
.show-bd .main .b5t-app{position: absolute;right:0;top:0;}
.show-bd .main .btn-wrap{margin-top: 20px;}
.show-bd .main .go-compare{margin-right:20px;}
.show-bd .main .go-compare span{padding-left: 26px; background-image: url(../images/www/heart.png); background-repeat: no-repeat; background-position: 0px 4px; padding-top: 2px; padding-bottom: 2px;}
.show-bd .main .trend{margin:18px 0;}
.show-bd .main .trend strong{display: inline-block; *display: inline; *zoom: 1;height:20px;line-height:20px;padding-right:30px;background:url(../images/www/trend.gif) no-repeat 100% 0}
.shop-show .show-price{border-bottom:none;}
